Repository Azure/azure-sdk-for-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lmazuel, @xiangyan99, @bryevdv, @alexeldeib, @matthchr, @areddish, @schaabs, @chlowell, @sandeepnl, @samkreter, @xizhamsft, @djyou, @mboersma, @dmakwana, @hvermis, @ro-joowan, @vchske, @kalyanaj, @idear1203, @shutchings, @DheerendraRathor, @QingChenmsft, @samedder, @jaredmoo, @annatisch

Packaging update of azure-mgmt-billing
  sdk/billing/azure-mgmt-billing/MANIFEST.in
  sdk/billing/azure-mgmt-billing/README.rst
  sdk/billing/azure-mgmt-billing/setup.py
Owners: none

dev req
  sdk/graphrbac/azure-graphrbac/dev_requirements.txt
Owners: none

Generated from 3623f309ed30546c03b8269bcded1274024ffce4
  sdk/graphrbac/azure-graphrbac/azure/graphrbac/version.py
Owners: none

correcting docstrings
  sdk/keyvault/azure-security-keyvault/azure/security/keyvault/keys/_client.py
  sdk/keyvault/azure-security-keyvault/tests/test_key_client.py
Owners: @schaabs, @chlowell

moving named tuple to models file
  sdk/keyvault/azure-security-keyvault/azure/security/keyvault/keys/_client.py
  sdk/keyvault/azure-security-keyvault/azure/security/keyvault/keys/_models.py
Owners: @schaabs, @chlowell

Sync Client Constructor
  sdk/eventhub/azure-eventhubs/azure/eventhub/__init__.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/event_hubs_client_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/client.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/client_abstract.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/common.py
Owners: none

auto_reconnect True and keep_alive None
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/event_hubs_client_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/receiver_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/sender_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/client.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/configuration.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/receiver.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/sender.py
Owners: none

consumer_group $default
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/event_hubs_client_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/client.py
Owners: none

hide open()
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/receiver_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/sender_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/receiver.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/sender.py
Owners: none

partition -> partition_id
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/event_hubs_client_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/client.py
Owners: none

Generated from 59ad51ef08f75c5364cb927c46e63a8ccf27ddc9
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/machine_learning_compute_management_client.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/__init__.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/acs_cluster_properties_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/app_insights_credentials_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/app_insights_properties_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/auto_scale_configuration_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/available_operations.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/available_operations_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/check_system_services_updates_available_response_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/container_registry_credentials_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/container_registry_properties.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/container_registry_properties_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/container_service_credentials_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/error_detail.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/error_detail_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/error_response_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/error_response_wrapper_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/global_service_configuration_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/kubernetes_cluster_properties_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/machine_learning_compute_management_client_enums.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/operationalization_cluster_credentials_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/operationalization_cluster_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/operationalization_cluster_update_parameters_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/resource_operation_display_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/resource_operation_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/resource_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/service_auth_configuration_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/service_principal_properties_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/ssl_configuration_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/storage_account_credentials_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/storage_account_properties.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/storage_account_properties_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/system_service_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/models/update_system_services_response_py3.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/operations/machine_learning_compute_operations.py
  sdk/machinelearning/azure-mgmt-machinelearningcompute/azure/mgmt/machinelearningcompute/operations/operationalization_clusters_operations.py
Owners: none

Generated from fcf23be1a728a935d0433e0ee96cb9c97a5b0acd
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/computer_vision_client.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/computer_vision_client_enums.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/line.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/line_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/read_operation_result.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/read_operation_result_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/text_operation_result.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/text_operation_result_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/text_recognition_result.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/text_recognition_result_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/word.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/word_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/version.py
Owners: none

Generated from fcf23be1a728a935d0433e0ee96cb9c97a5b0acd (#5508)
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/computer_vision_client.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/computer_vision_client_enums.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/line.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/line_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/read_operation_result.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/read_operation_result_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/text_operation_result.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/text_operation_result_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/text_recognition_result.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/text_recognition_result_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/word.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/word_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/version.py
Owners: none

Generated from 316b6eb6a6b9e9390a7c5eb6baa3c419947e7265
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/parquet_sink.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/parquet_sink_py3.py
Owners: none

Generated from ee70850679e3171b01674bc23820b1270ae444f9
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/delimited_text_read_setting.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/delimited_text_read_setting_py3.py
Owners: none

Generated from 687af7de398381b75153b1923c9c5a1d4c5336b5
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/__init__.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/active_learning_settings_dto.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/active_learning_settings_dto_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/context_dto.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/context_dto_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/endpoint_settings_dto.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/endpoint_settings_dto_active_learning.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/endpoint_settings_dto_active_learning_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/endpoint_settings_dto_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/prompt_dto.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/prompt_dto_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/prompt_dto_qna.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/prompt_dto_qna_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/qn_adto.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/qn_adto_context.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/qn_adto_context_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/update_context_dto.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/update_context_dto_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/update_qna_dto.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/update_qna_dto_context.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/update_qna_dto_context_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/update_qna_dto_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/operations/__init__.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/operations/endpoint_settings_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/qn_amaker_client.py
Owners: none

Generated from e06b1caf7c26d4ee8f1269af295d4f0b145a2854
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/entity_query.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/entity_query_py3.py
Owners: none

Generated from 6d0dae8257ff0a5c700cbe3504baf4236f1cc2c7
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/azure/cognitiveservices/anomalydetector/models/anomaly_detector_client_enums.py
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/azure/cognitiveservices/anomalydetector/models/label_request.py
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/azure/cognitiveservices/anomalydetector/models/label_request_py3.py
Owners: none

update setup.py
  azure-identity/setup.py
Owners: none

first azure-identity prototype
  azure-identity/README.md
  azure-identity/azure/__init__.py
  azure-identity/azure/identity/__init__.py
  azure-identity/azure/identity/aio/__init__.py
  azure-identity/azure/identity/aio/authn_client.py
  azure-identity/azure/identity/aio/credentials.py
  azure-identity/azure/identity/authn_client.py
  azure-identity/azure/identity/credentials.py
  azure-identity/azure/identity/exceptions.py
  azure-identity/azure/identity/version.py
  azure-identity/dev_requirements.txt
  azure-identity/setup.py
  azure-identity/tests/test_credentials.py
  azure-identity/tests/test_credentials_async.py
Owners: none

add azure-core to shared_requirements
  azure-identity/setup.py
  shared_requirements.txt
Owners: none

add conftest
  azure-identity/tests/conftest.py
Owners: none

update shared_requirements
  shared_requirements.txt
Owners: none

3.5-acceptable type hint
  sdk/identity/azure-identity/azure/identity/aio/credentials.py
Owners: none

conftest: more literal than I expected
  sdk/identity/azure-identity/tests/conftest.py
Owners: none

move to sdk/identity
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/__init__.py
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/authn_client.py
  sdk/identity/azure-identity/azure/identity/aio/credentials.py
  sdk/identity/azure-identity/azure/identity/authn_client.py
  sdk/identity/azure-identity/azure/identity/credentials.py
  sdk/identity/azure-identity/azure/identity/exceptions.py
  sdk/identity/azure-identity/azure/identity/version.py
  sdk/identity/azure-identity/dev_requirements.txt
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/conftest.py
  sdk/identity/azure-identity/tests/test_credentials.py
  sdk/identity/azure-identity/tests/test_credentials_async.py
Owners: none

rename test files
  sdk/identity/azure-identity/tests/conftest.py
  sdk/identity/azure-identity/tests/test_identity.py
  sdk/identity/azure-identity/tests/test_identity_async.py
Owners: none

Generated from d3da0d2ccc87eaa969417d12fc74edf1c8b07086
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/azure/cognitiveservices/anomalydetector/anomaly_detector_client.py
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/azure/cognitiveservices/anomalydetector/models/__init__.py
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/azure/cognitiveservices/anomalydetector/models/anomaly_detect_in_time_range_response.py
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/azure/cognitiveservices/anomalydetector/models/anomaly_detect_in_time_range_response_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/azure/cognitiveservices/anomalydetector/operations/time_series_group_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/azure/cognitiveservices/anomalydetector/operations/time_series_operations.py
Owners: none

Generated from 89905fc9cec28cd9c6c269481fc607736768c1c1
  sdk/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/custom_rule.py
  sdk/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/custom_rule_py3.py
  sdk/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/match_condition.py
  sdk/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/match_condition_py3.py
Owners: none

updating return types for list methods
  sdk/keyvault/azure-security-keyvault/azure/security/keyvault/keys/_client.py
Owners: @schaabs, @chlowell

Generated from 41c0c7e343b202dccd533178235425eef5b2703e
  azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/location.py
  azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/location_py3.py
Owners: none

azure-identity prototype (#5246)
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/__init__.py
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/authn_client.py
  sdk/identity/azure-identity/azure/identity/aio/credentials.py
  sdk/identity/azure-identity/azure/identity/authn_client.py
  sdk/identity/azure-identity/azure/identity/credentials.py
  sdk/identity/azure-identity/azure/identity/exceptions.py
  sdk/identity/azure-identity/azure/identity/version.py
  sdk/identity/azure-identity/dev_requirements.txt
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/conftest.py
  sdk/identity/azure-identity/tests/test_identity.py
  sdk/identity/azure-identity/tests/test_identity_async.py
  shared_requirements.txt
Owners: none

azure-identity prototype (#5246)
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/__init__.py
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/authn_client.py
  sdk/identity/azure-identity/azure/identity/aio/credentials.py
  sdk/identity/azure-identity/azure/identity/authn_client.py
  sdk/identity/azure-identity/azure/identity/credentials.py
  sdk/identity/azure-identity/azure/identity/exceptions.py
  sdk/identity/azure-identity/azure/identity/version.py
  sdk/identity/azure-identity/dev_requirements.txt
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/conftest.py
  sdk/identity/azure-identity/tests/test_identity.py
  sdk/identity/azure-identity/tests/test_identity_async.py
  shared_requirements.txt
Owners: none

use msi for emulator tests on cosmos master
  sdk/cosmos/.azure-pipelines/cosmos.test.nightly-emulator.yml
  sdk/cosmos/.azure-pipelines/cosmos.test.yml
Owners: @dmakwana

Generated from 45c5fedae1fab20f3e500c7b5a0c053cbebf0780
  sdk/automation/azure-mgmt-automation/azure/mgmt/automation/models/automation_client_enums.py
  sdk/automation/azure-mgmt-automation/azure/mgmt/automation/models/schedule.py
  sdk/automation/azure-mgmt-automation/azure/mgmt/automation/models/schedule_create_or_update_parameters.py
  sdk/automation/azure-mgmt-automation/azure/mgmt/automation/models/schedule_create_or_update_parameters_py3.py
  sdk/automation/azure-mgmt-automation/azure/mgmt/automation/models/schedule_properties.py
  sdk/automation/azure-mgmt-automation/azure/mgmt/automation/models/schedule_properties_py3.py
  sdk/automation/azure-mgmt-automation/azure/mgmt/automation/models/schedule_py3.py
  sdk/automation/azure-mgmt-automation/azure/mgmt/automation/models/software_update_configuration_collection_item.py
  sdk/automation/azure-mgmt-automation/azure/mgmt/automation/models/software_update_configuration_collection_item_py3.py
Owners: none

update create options to include hsm bool
  sdk/keyvault/azure-security-keyvault/azure/security/keyvault/keys/_client.py
  sdk/keyvault/azure-security-keyvault/tests/recordings/test_key_client.test_key_crud_operations.yaml
  sdk/keyvault/azure-security-keyvault/tests/test_key_client.py
Owners: @schaabs, @chlowell

updating test examples for create key
  sdk/keyvault/azure-security-keyvault/tests/recordings/test_examples_keys.test_example_key_crud_operations.yaml
  sdk/keyvault/azure-security-keyvault/tests/test_examples_keys.py
Owners: @schaabs, @chlowell

Clean sttings.py in azure-core
  sdk/core/azure-core/azure/core/settings.py
Owners: @xiangyan99, @bryevdv

updating model returns
  sdk/keyvault/azure-security-keyvault/azure/security/keyvault/keys/__init__.py
  sdk/keyvault/azure-security-keyvault/azure/security/keyvault/keys/_client.py
  sdk/keyvault/azure-security-keyvault/azure/security/keyvault/keys/_models.py
  sdk/keyvault/azure-security-keyvault/tests/test_examples_keys.py
Owners: @schaabs, @chlowell

adding tags test'
  sdk/keyvault/azure-security-keyvault/tests/recordings/test_key_client.test_key_crud_operations.yaml
  sdk/keyvault/azure-security-keyvault/tests/test_key_client.py
Owners: @schaabs, @chlowell

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

/sdk/core/ @lmazuel
/sdk/core/azure-core/ @xiangyan99 @bryevdv

# Service team
/sdk/applicationinsights/ @alexeldeib
/sdk/batch/ @matthchr
/sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/ @areddish
/sdk/keyvault/ @schaabs @chlowell
/sdk/loganalytics/ @alexeldeib
/sdk/consumption/ @sandeepnl
/sdk/containerinstance/ @samkreter @xizhamsft
/sdk/containerregistry/ @djyou 
/sdk/containerservice/ @mboersma
/sdk/cosmos/ @dmakwana
/sdk/datafactory/ @hvermis
/sdk/datalake/ @ro-joowan
/sdk/datadatamigration/ @vchske
/sdk/eventgrid/ @kalyanaj
/sdk/hdinsight/ @idear1203
/sdk/machinelearningcompute/ @shutchings
/sdk/recoveryservices/ @DheerendraRathor
/sdk/servicefabric/ @QingChenmsft @samedder
/sql/sql/ @jaredmoo
/sdk/servicebus/azure-servicebus/ @annatisch
