Repository Azure/azure-sdk-for-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lmazuel, @annatisch, @matthchr, @schaabs, @AlexanderYukhanov, @tjprescott, @sandeepnl, @yolo3301, @xizhamsft, @djyou, @dmakwana, @hvermis, @ro-joowan, @kalyanaj, @shutchings, @dragonfly91, @QingChenmsft, @jaredmoo, @yugangw-msft, @samedder

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

* @lmazuel

/azure-batch/ @annatisch @matthchr
/azure-keyvault/ @schaabs
/azure-mgmt-batch/ @annatisch @matthchr
/azure-mgmt-batchai/ @AlexanderYukhanov
/azure-mgmt-cdn/ @tjprescott
/azure-mgmt-consumption/ @sandeepnl
/azure-mgmt-containerinstance/ @yolo3301 @xizhamsft
/azure-mgmt-containerregistry/ @djyou 
/azure-mgmt-cosmosdb/ @dmakwana
/azure-mgmt-datafactory/ @hvermis
/azure-mgmt-datalake-analytics/ @ro-joowan
/azure-mgmt-datalake-store/ @ro-joowan
/azure-mgmt-eventgrid/ @kalyanaj
/azure-mgmt-keyvault/ @schaabs
/azure-mgmt-machinelearningcompute/ @shutchings
/azure-mgmt-recoveryservicesbackup/ @dragonfly91
/azure-mgmt-servicefabric/ @QingChenmsft
/azure-mgmt-sql/ @jaredmoo
/azure-mgmt-web/ @yugangw-msft
/azure-servicefabric/ @samedder

[AutoPR applicationinsights/resource-manager] Add swagger for annotation and work item config api for microsoft.insights components namespace for api version 2015-05-01 (#1996)
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/application_insights_management_client.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/__init__.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/annotation.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/annotation_error.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_available_features.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_feature.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_feature_capabilities.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_feature_capability.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_proactive_detection_configuration.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_proactive_detection_configuration_rule_definitions.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/inner_error.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/work_item_configuration.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/work_item_configuration_error.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/work_item_create_configuration.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/__init__.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/annotations_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/component_available_features_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/component_feature_capabilities_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/components_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/export_configurations_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/proactive_detection_configurations_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/web_tests_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/work_item_configurations_operations.py
Owners: @lmazuel

[Compute] Adding new API for VMSS: ForceRecoveryServiceFabricPlatformUpdateDomainWalk (#1870)
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/__init__.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/recovery_walk_response.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/operations/virtual_machine_scale_sets_operations.py
Owners: @lmazuel

Generated from f2cd882fad212cdeb99c5df3a596c356b9a3d417 (#1949)
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/virtual_machine_scale_set.py
Owners: @lmazuel

[Compute]Updated compute spec to include properties in VMInstanceView and a new WriteAaccelerator property on disks (#1803)
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/data_disk.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/os_disk.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/virtual_machine_instance_view.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/virtual_machine_scale_set_data_disk.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/virtual_machine_scale_set_os_disk.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/virtual_machine_scale_set_update_os_disk.py
Owners: @lmazuel

Add missing LogAnalytics multi-api
  azure-mgmt-compute/azure/mgmt/compute/compute_management_client.py
Owners: @lmazuel

[Compute] Adding LogAnalytics to Compute spec (#1863)
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/compute_management_client.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/__init__.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/compute_management_client_enums.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/hardware_profile.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/log_analytics_input_base.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/log_analytics_operation_result.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/log_analytics_output.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/request_rate_by_interval_input.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/throttled_requests_input.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/operations/__init__.py
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/operations/log_analytics_operations.py
Owners: @lmazuel

Generated from 602e46d2ecf4fea81d19e08dd89cae504a473968
  azure-mgmt-storage/azure/mgmt/storage/v2015_06_15/operations/storage_accounts_operations.py
  azure-mgmt-storage/azure/mgmt/storage/v2015_06_15/operations/usage_operations.py
  azure-mgmt-storage/azure/mgmt/storage/v2016_01_01/operations/storage_accounts_operations.py
  azure-mgmt-storage/azure/mgmt/storage/v2016_01_01/operations/usage_operations.py
  azure-mgmt-storage/azure/mgmt/storage/v2016_12_01/operations/storage_accounts_operations.py
  azure-mgmt-storage/azure/mgmt/storage/v2016_12_01/operations/usage_operations.py
  azure-mgmt-storage/azure/mgmt/storage/v2017_06_01/operations/operations.py
  azure-mgmt-storage/azure/mgmt/storage/v2017_06_01/operations/skus_operations.py
  azure-mgmt-storage/azure/mgmt/storage/v2017_06_01/operations/storage_accounts_operations.py
  azure-mgmt-storage/azure/mgmt/storage/v2017_06_01/operations/usage_operations.py
  azure-mgmt-storage/azure/mgmt/storage/v2017_10_01/models/__init__.py
  azure-mgmt-storage/azure/mgmt/storage/v2017_10_01/models/encryption_key_source.py
  azure-mgmt-storage/azure/mgmt/storage/v2017_10_01/models/storage_account_create_parameters.py
  azure-mgmt-storage/azure/mgmt/storage/v2017_10_01/models/storage_account_update_parameters.py
  azure-mgmt-storage/azure/mgmt/storage/v2017_10_01/operations/operations.py
  azure-mgmt-storage/azure/mgmt/storage/v2017_10_01/operations/skus_operations.py
  azure-mgmt-storage/azure/mgmt/storage/v2017_10_01/operations/storage_accounts_operations.py
  azure-mgmt-storage/azure/mgmt/storage/v2017_10_01/operations/usage_operations.py
Owners: @lmazuel

Generated from 1a6e1a0fe97a248cfea4062bc096bcdadc6d23fc
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/__init__.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/__init__.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/operation.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/operation_display.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/operations.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/policy_assignment_summary.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/policy_definition_summary.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/policy_event.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/policy_events_query_results.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/policy_insights_client_enums.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/policy_state.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/policy_states_query_results.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/query_failure.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/query_failure_error.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/query_options.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/summarize_results.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/summary.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/summary_results.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/operations/__init__.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/operations/policy_events_operations.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/operations/policy_insights_operations.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/operations/policy_states_operations.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/policy_insights_client.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/version.py
Owners: @lmazuel

Generated from 1844206ee72518c05fe0e9fced84b597aaacaa22
  azure-mgmt-relay/azure/mgmt/relay/models/access_keys.py
  azure-mgmt-relay/azure/mgmt/relay/models/authorization_rule.py
  azure-mgmt-relay/azure/mgmt/relay/models/check_name_availability.py
  azure-mgmt-relay/azure/mgmt/relay/models/check_name_availability_result.py
  azure-mgmt-relay/azure/mgmt/relay/models/error_response.py
  azure-mgmt-relay/azure/mgmt/relay/models/operation.py
  azure-mgmt-relay/azure/mgmt/relay/models/operation_display.py
  azure-mgmt-relay/azure/mgmt/relay/models/regenerate_access_key_parameters.py
  azure-mgmt-relay/azure/mgmt/relay/models/resource.py
  azure-mgmt-relay/azure/mgmt/relay/models/sku.py
  azure-mgmt-relay/azure/mgmt/relay/operations/hybrid_connections_operations.py
  azure-mgmt-relay/azure/mgmt/relay/operations/namespaces_operations.py
  azure-mgmt-relay/azure/mgmt/relay/operations/operations.py
  azure-mgmt-relay/azure/mgmt/relay/operations/wcf_relays_operations.py
  azure-mgmt-relay/azure/mgmt/relay/version.py
Owners: @lmazuel

Generated from 372c468ed72f67efcbb2a9442e136c99f8839a28 (#2003)
  azure-mgmt-resource/azure/mgmt/resource/features/v2015_12_01/operations/features_operations.py
  azure-mgmt-resource/azure/mgmt/resource/links/v2016_09_01/operations/resource_links_operations.py
  azure-mgmt-resource/azure/mgmt/resource/locks/v2015_01_01/operations/management_locks_operations.py
  azure-mgmt-resource/azure/mgmt/resource/locks/v2016_09_01/operations/management_locks_operations.py
  azure-mgmt-resource/azure/mgmt/resource/managedapplications/operations/application_definitions_operations.py
  azure-mgmt-resource/azure/mgmt/resource/managedapplications/operations/applications_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2015_10_01_preview/operations/policy_assignments_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2015_10_01_preview/operations/policy_definitions_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2016_04_01/operations/policy_assignments_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2016_04_01/operations/policy_definitions_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2016_12_01/operations/policy_assignments_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2016_12_01/operations/policy_definitions_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2017_06_01_preview/operations/policy_assignments_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2017_06_01_preview/operations/policy_definitions_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2017_06_01_preview/operations/policy_set_definitions_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_02_01/operations/deployment_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_02_01/operations/deployments_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_02_01/operations/providers_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_02_01/operations/resource_groups_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_02_01/operations/resources_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_02_01/operations/tags_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_09_01/operations/deployment_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_09_01/operations/deployments_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_09_01/operations/providers_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_09_01/operations/resource_groups_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_09_01/operations/resources_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_09_01/operations/tags_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2017_05_10/operations/deployment_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2017_05_10/operations/deployments_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2017_05_10/operations/providers_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2017_05_10/operations/resource_groups_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2017_05_10/operations/resources_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2017_05_10/operations/tags_operations.py
  azure-mgmt-resource/azure/mgmt/resource/subscriptions/v2016_06_01/operations/subscriptions_operations.py
  azure-mgmt-resource/azure/mgmt/resource/subscriptions/v2016_06_01/operations/tenants_operations.py
Owners: @lmazuel

Generated from 07d5b6f139c8fc9503cc24f9804e6fdde0cb679b
  azure-mgmt-resource/azure/mgmt/resource/features/feature_client.py
  azure-mgmt-resource/azure/mgmt/resource/features/v2015_12_01/feature_client.py
  azure-mgmt-resource/azure/mgmt/resource/features/v2015_12_01/models/__init__.py
  azure-mgmt-resource/azure/mgmt/resource/features/v2015_12_01/models/feature_operation_result.py
  azure-mgmt-resource/azure/mgmt/resource/features/v2015_12_01/models/operation_display.py
  azure-mgmt-resource/azure/mgmt/resource/features/v2015_12_01/operations/__init__.py
  azure-mgmt-resource/azure/mgmt/resource/features/v2015_12_01/operations/features_operations.py
  azure-mgmt-resource/azure/mgmt/resource/features/v2015_12_01/operations/subscription_features_operations.py
  azure-mgmt-resource/azure/mgmt/resource/managedapplications/application_client.py
  azure-mgmt-resource/azure/mgmt/resource/managedapplications/models/__init__.py
  azure-mgmt-resource/azure/mgmt/resource/managedapplications/models/feature_operation_result.py
  azure-mgmt-resource/azure/mgmt/resource/managedapplications/models/operation_display.py
  azure-mgmt-resource/azure/mgmt/resource/managedapplications/operations/__init__.py
  azure-mgmt-resource/azure/mgmt/resource/managedapplications/operations/features_operations.py
Owners: @lmazuel

Generated from 3637088fb750d91c99d556486bf8cb3706c05f3d
  azure-mgmt-web/azure/mgmt/web/version.py
Owners: @yugangw-msft

Update version.py
  azure-mgmt-consumption/azure/mgmt/consumption/version.py
Owners: @sandeepnl

[AutoPR consumption/resource-manager] Updating $filter parameter sample values in examples. Earlier version had incorrect format for the date values. (#1999)
  azure-mgmt-consumption/azure/mgmt/consumption/operations/budgets_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/marketplaces_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/price_sheet_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/reservations_details_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/reservations_summaries_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/usage_details_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/version.py
  azure-mgmt-consumption/tests/recordings/test_mgmt_consumption.test_consumption_subscription_price_sheet.yaml
Owners: @sandeepnl

[AutoPR consumption/resource-manager] Updating $filter parameter sample values in examples. Earlier version had incorrect format for the date values. (#1999)
  azure-mgmt-consumption/azure/mgmt/consumption/operations/budgets_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/marketplaces_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/price_sheet_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/reservations_details_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/reservations_summaries_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/usage_details_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/version.py
  azure-mgmt-consumption/tests/recordings/test_mgmt_consumption.test_consumption_subscription_price_sheet.yaml
Owners: @sandeepnl

Generated from 6e3896425092f522757629ee3ff15a41a56ce52f
  azure-keyvault/azure/keyvault/key_vault_client.py
  azure-keyvault/build.json
Owners: @schaabs

Generated from 302dba68232e0583ad69e33fd898a0efc3ce5f10
  azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2017_03_01/operations/operations.py
  azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2017_03_01/operations/registries_operations.py
  azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2017_10_01/operations/operations.py
  azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2017_10_01/operations/registries_operations.py
  azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2017_10_01/operations/replications_operations.py
  azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2017_10_01/operations/webhooks_operations.py
Owners: @djyou

Generated from 7e3377e5e3994144fa44b814a99aad8e3b75b673
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/application_insights_management_client.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/__init__.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/annotation.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/annotation_error.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/inner_error.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/work_item_configuration.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/work_item_configuration_error.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/work_item_create_configuration.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/__init__.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/annotations_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/favorites_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/work_item_configurations_operations.py
Owners: @lmazuel

Rebuild by https://github.com/Azure/azure-sdk-for-python/pull/1975
  azure-mgmt-commerce/azure/mgmt/commerce/operations/rate_card_operations.py
  azure-mgmt-commerce/azure/mgmt/commerce/operations/usage_aggregates_operations.py
Owners: @lmazuel

Update packaging for azure-mgmt-commerce
  azure-mgmt-commerce/HISTORY.rst
  azure-mgmt-commerce/README.rst
  azure-mgmt-commerce/azure/mgmt/commerce/version.py
  azure-mgmt-commerce/setup.py
Owners: @lmazuel

Migrate tests of azure-mgmt-commerce to new framework
  azure-mgmt-commerce/tests/recordings/test_mgmt_commerce.test_commerce.yaml
  azure-mgmt-commerce/tests/test_mgmt_commerce.py
Owners: @lmazuel

Packaging for azure-mgmt-managementgroups
  azure-mgmt-managementgroups/HISTORY.rst
  azure-mgmt-managementgroups/MANIFEST.in
  azure-mgmt-managementgroups/README.rst
  azure-mgmt-managementgroups/azure/__init__.py
  azure-mgmt-managementgroups/azure/mgmt/__init__.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/version.py
  azure-mgmt-managementgroups/azure_bdist_wheel.py
  azure-mgmt-managementgroups/setup.cfg
  azure-mgmt-managementgroups/setup.py
Owners: @lmazuel

Generated from 53d1a0f7b7527828b2cdec46ed4fe3af768b11f4 (#1946)
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/access_keys.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/action.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/authorization_rule_properties.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/capture_description.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/check_name_availability.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/check_name_availability_result.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/correlation_filter.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/destination.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/error_response.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/message_count_details.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/operation.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/operation_display.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/premium_messaging_regions_properties.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/regenerate_access_key_parameters.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/resource.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/sb_sku.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/sb_subscription.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/sql_filter.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/disaster_recovery_configs_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/event_hubs_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/namespaces_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/premium_messaging_regions_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/queues_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/regions_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/rules_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/subscriptions_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/topics_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/version.py
Owners: @lmazuel

Generated from 342d0f9c112e798f81e6ba344d9d598badba49d4
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/__init__.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/endpoint.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/heat_map_endpoint.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/heat_map_model.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/monitor_config.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/profile.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/profile_paged.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/query_experience.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/region.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/traffic_flow.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/traffic_manager_geographic_hierarchy.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/traffic_manager_user_metrics_key_model.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/operations/__init__.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/operations/endpoints_operations.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/operations/heat_map_operations.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/operations/profiles_operations.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/operations/traffic_manager_user_metrics_keys_operations.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/traffic_manager_management_client.py
  azure-mgmt-trafficmanager/build.json
Owners: @lmazuel

Rebuild by https://github.com/Azure/azure-sdk-for-python/pull/1597
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/check_traffic_manager_relative_dns_name_availability_parameters.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/delete_operation_result.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/dns_config.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/heat_map_endpoint.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/monitor_config.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/query_experience.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/region.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/resource.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/traffic_flow.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/traffic_manager_name_availability.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/operations/endpoints_operations.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/operations/geographic_hierarchies_operations.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/operations/heat_map_operations.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/operations/profiles_operations.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/operations/traffic_manager_user_metrics_keys_operations.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/traffic_manager_management_client.py
  azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/version.py
Owners: @lmazuel

[AutoPR resources/resource-manager/managementgroups/resource-manager] Move ManagementGroups out of Resources to a separate folder (#1968)
  azure-mgmt-managementgroups/HISTORY.rst
  azure-mgmt-managementgroups/MANIFEST.in
  azure-mgmt-managementgroups/README.rst
  azure-mgmt-managementgroups/azure/__init__.py
  azure-mgmt-managementgroups/azure/mgmt/__init__.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/__init__.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/management_groups_api.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/__init__.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/create_management_group_request.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/error_details.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/error_response.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/management_group.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/management_group_child_info.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/management_group_details.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/management_group_info.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/management_group_info_paged.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/operation.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/operation_display.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/operation_paged.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/parent_group_info.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/operations/__init__.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/operations/management_group_subscriptions_operations.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/operations/management_groups_operations.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/operations/operations.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/version.py
  azure-mgmt-managementgroups/azure_bdist_wheel.py
  azure-mgmt-managementgroups/setup.cfg
  azure-mgmt-managementgroups/setup.py
Owners: @lmazuel

[AutoPR resources/resource-manager/managementgroups/resource-manager] Move ManagementGroups out of Resources to a separate folder (#1968)
  azure-mgmt-managementgroups/HISTORY.rst
  azure-mgmt-managementgroups/MANIFEST.in
  azure-mgmt-managementgroups/README.rst
  azure-mgmt-managementgroups/azure/__init__.py
  azure-mgmt-managementgroups/azure/mgmt/__init__.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/__init__.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/management_groups_api.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/__init__.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/create_management_group_request.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/error_details.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/error_response.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/management_group.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/management_group_child_info.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/management_group_details.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/management_group_info.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/management_group_info_paged.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/operation.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/operation_display.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/operation_paged.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/models/parent_group_info.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/operations/__init__.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/operations/management_group_subscriptions_operations.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/operations/management_groups_operations.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/operations/operations.py
  azure-mgmt-managementgroups/azure/mgmt/managementgroups/version.py
  azure-mgmt-managementgroups/azure_bdist_wheel.py
  azure-mgmt-managementgroups/setup.cfg
  azure-mgmt-managementgroups/setup.py
Owners: @lmazuel

[AutoPR commerce/resource-manager] Add type and format specifiers on quantity property. (#1975)
  azure-mgmt-commerce/HISTORY.rst
  azure-mgmt-commerce/README.rst
  azure-mgmt-commerce/azure/mgmt/commerce/models/error_response.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/info_field.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/meter_info.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/monetary_commitment.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/monetary_credit.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/offer_term_info.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/rate_card_query_parameters.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/recurring_charge.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/resource_rate_card_info.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/usage_aggregation.py
  azure-mgmt-commerce/azure/mgmt/commerce/operations/rate_card_operations.py
  azure-mgmt-commerce/azure/mgmt/commerce/operations/usage_aggregates_operations.py
  azure-mgmt-commerce/azure/mgmt/commerce/usage_management_client.py
  azure-mgmt-commerce/azure/mgmt/commerce/version.py
  azure-mgmt-commerce/setup.py
  azure-mgmt-commerce/tests/recordings/test_mgmt_commerce.test_commerce.yaml
  azure-mgmt-commerce/tests/test_mgmt_commerce.py
Owners: @lmazuel

[AutoPR commerce/resource-manager] Add type and format specifiers on quantity property. (#1975) (#2039)
  azure-mgmt-commerce/HISTORY.rst
  azure-mgmt-commerce/README.rst
  azure-mgmt-commerce/azure/mgmt/commerce/models/error_response.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/info_field.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/meter_info.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/monetary_commitment.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/monetary_credit.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/offer_term_info.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/rate_card_query_parameters.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/recurring_charge.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/resource_rate_card_info.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/usage_aggregation.py
  azure-mgmt-commerce/azure/mgmt/commerce/operations/rate_card_operations.py
  azure-mgmt-commerce/azure/mgmt/commerce/operations/usage_aggregates_operations.py
  azure-mgmt-commerce/azure/mgmt/commerce/usage_management_client.py
  azure-mgmt-commerce/azure/mgmt/commerce/version.py
  azure-mgmt-commerce/setup.py
  azure-mgmt-commerce/tests/recordings/test_mgmt_commerce.test_commerce.yaml
  azure-mgmt-commerce/tests/test_mgmt_commerce.py
Owners: @lmazuel

[AutoPR commerce/resource-manager] Add type and format specifiers on quantity property. (#1975) (#2039)
  azure-mgmt-commerce/HISTORY.rst
  azure-mgmt-commerce/README.rst
  azure-mgmt-commerce/azure/mgmt/commerce/models/error_response.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/info_field.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/meter_info.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/monetary_commitment.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/monetary_credit.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/offer_term_info.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/rate_card_query_parameters.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/recurring_charge.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/resource_rate_card_info.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/usage_aggregation.py
  azure-mgmt-commerce/azure/mgmt/commerce/operations/rate_card_operations.py
  azure-mgmt-commerce/azure/mgmt/commerce/operations/usage_aggregates_operations.py
  azure-mgmt-commerce/azure/mgmt/commerce/usage_management_client.py
  azure-mgmt-commerce/azure/mgmt/commerce/version.py
  azure-mgmt-commerce/setup.py
  azure-mgmt-commerce/tests/recordings/test_mgmt_commerce.test_commerce.yaml
  azure-mgmt-commerce/tests/test_mgmt_commerce.py
Owners: @lmazuel

Generated from b225620afcd196152175bfbfd6ae3c7b66f795c2
  azure-mgmt-subscription/azure/mgmt/subscription/models/error_response.py
  azure-mgmt-subscription/azure/mgmt/subscription/models/location.py
  azure-mgmt-subscription/azure/mgmt/subscription/models/operation.py
  azure-mgmt-subscription/azure/mgmt/subscription/models/operation_display.py
  azure-mgmt-subscription/azure/mgmt/subscription/models/subscription.py
  azure-mgmt-subscription/azure/mgmt/subscription/models/subscription_definition.py
  azure-mgmt-subscription/azure/mgmt/subscription/models/subscription_policies.py
  azure-mgmt-subscription/azure/mgmt/subscription/models/tenant_id_description.py
  azure-mgmt-subscription/azure/mgmt/subscription/operations/subscription_definitions_operation_metadata_operations.py
  azure-mgmt-subscription/azure/mgmt/subscription/operations/subscription_definitions_operations.py
  azure-mgmt-subscription/azure/mgmt/subscription/operations/subscriptions_operations.py
  azure-mgmt-subscription/azure/mgmt/subscription/operations/tenants_operations.py
  azure-mgmt-subscription/azure/mgmt/subscription/version.py
  azure-mgmt-subscription/build.json
Owners: @lmazuel

Generated from 3637088fb750d91c99d556486bf8cb3706c05f3d (#2031)
  azure-mgmt-web/azure/mgmt/web/version.py
Owners: @yugangw-msft

Generated from e3b273aee8480717614b088d9777c6fe4104a386
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/__init__.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/basic_authentication.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/client_cert_authentication.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/http_authentication.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/http_request.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_action.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_collection_definition.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_collection_definition_paged.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_collection_properties.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_collection_quota.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_definition.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_definition_paged.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_error_action.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_history_definition.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_history_definition_paged.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_history_definition_properties.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_history_filter.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_max_recurrence.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_properties.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_recurrence.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_recurrence_schedule.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_recurrence_schedule_monthly_occurrence.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/job_state_filter.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/oauth_authentication.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/retry_policy.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/scheduler_management_client_enums.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/service_bus_authentication.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/service_bus_message.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/service_bus_queue_message.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/service_bus_topic_message.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/models/sku.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/operations/job_collections_operations.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/operations/jobs_operations.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/patch.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/scheduler_management_client.py
  azure-mgmt-scheduler/azure/mgmt/scheduler/version.py
  azure-mgmt-scheduler/build.json
Owners: @lmazuel

Generated from 891212c0bfb6b3267802c8984cf607d3242dcaac
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/application_insights_management_client.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/__init__.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/component_purge_body.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/component_purge_body_filters.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/component_purge_response.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/component_purge_status_response.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/components_operations.py
Owners: @lmazuel

Generated from 584cf2ec76e18b8ac834b50058cbfa8e17612c2e
  azure-cognitiveservices-vision-customvision/azure/cognitiveservices/vision/customvision/prediction/prediction_endpoint.py
  azure-cognitiveservices-vision-customvision/azure/cognitiveservices/vision/customvision/training/training_api.py
Owners: @lmazuel

Generated from eccd0ab7c8d44acd1bbb8413573076ebf3f8b74f
  azure-mgmt-eventhub/azure/mgmt/eventhub/event_hub_management_client.py
  azure-mgmt-eventhub/azure/mgmt/eventhub/models/__init__.py
  azure-mgmt-eventhub/azure/mgmt/eventhub/models/messaging_plan.py
  azure-mgmt-eventhub/azure/mgmt/eventhub/models/messaging_regions.py
  azure-mgmt-eventhub/azure/mgmt/eventhub/models/messaging_regions_paged.py
  azure-mgmt-eventhub/azure/mgmt/eventhub/models/messaging_regions_properties.py
  azure-mgmt-eventhub/azure/mgmt/eventhub/operations/__init__.py
  azure-mgmt-eventhub/azure/mgmt/eventhub/operations/consumer_groups_operations.py
  azure-mgmt-eventhub/azure/mgmt/eventhub/operations/disaster_recovery_configs_operations.py
  azure-mgmt-eventhub/azure/mgmt/eventhub/operations/event_hubs_operations.py
  azure-mgmt-eventhub/azure/mgmt/eventhub/operations/messaging_plan_operations.py
  azure-mgmt-eventhub/azure/mgmt/eventhub/operations/namespaces_operations.py
  azure-mgmt-eventhub/azure/mgmt/eventhub/operations/regions_operations.py
  azure-mgmt-eventhub/azure/mgmt/eventhub/version.py
Owners: @lmazuel

Generated from 7a65a4c748bb691c85da66b634f9546fb228e4f2
  azure-mgmt-web/azure/mgmt/web/version.py
Owners: @yugangw-msft

Generated from aea5fabd66933d3377055411a89774f8e62692fd
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/__init__.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_management_client_enums.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/component_purge_status_response.py
Owners: @lmazuel

Generated from d9049128d132e3534c20e457690253fa7904ff9d
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/operations.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/policy_event.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/policy_state.py
Owners: @lmazuel

Generated from bd24c6b3cba8ae74a6ea020cf5cda7562c86903a
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/__init__.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/client.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/__init__.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/client_enums.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/error.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/error_details_item.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_account.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_account_create_parameters.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_account_keys.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_account_paged.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_account_update_parameters.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_accounts_move_request.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_key_specification.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_operations_value_item.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_operations_value_item_display.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_operations_value_item_paged.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/resource.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/sku.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/operations/__init__.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/operations/accounts_operations.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/version.py
Owners: @lmazuel
