Repository Azure/azure-sdk-for-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lmazuel, @annatisch, @matthchr, @schaabs, @AlexanderYukhanov, @tjprescott, @sandeepnl, @yolo3301, @xizhamsft, @djyou, @dmakwana, @hvermis, @ro-joowan, @kalyanaj, @shutchings, @dragonfly91, @QingChenmsft, @jaredmoo, @yugangw-msft, @samedder

Generated from 046247acce75750a46dc7385e32f18babff3e56c
  azure-mgmt-consumption/azure/mgmt/consumption/operations/price_sheet_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/version.py
Owners: @sandeepnl

ADF after https://github.com/Azure/azure-rest-api-specs/pull/2473
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/azure_batch_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/azure_data_lake_analytics_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/azure_ml_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/azure_sql_dw_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/copy_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/data_factory_management_client_enums.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/google_big_query_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/hd_insight_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/hd_insight_on_demand_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/hive_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/integration_runtime_custom_setup_script_properties.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/integration_runtime_ssis_properties.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/integration_runtime_status.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_integration_runtime.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_integration_runtime_key.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_integration_runtime_properties.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_integration_runtime_rbac.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/managed_integration_runtime_status.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/netezza_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/netezza_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/netezza_table_dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/sap_ecc_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/sap_ecc_resource_dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/sap_ecc_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/self_hosted_integration_runtime.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/self_hosted_integration_runtime_status.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/vertica_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/vertica_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/vertica_table_dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/web_basic_authentication.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/web_client_certificate_authentication.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/version.py
Owners: @hvermis

Fix test failures as a result of Swagger changes.
  azure-mgmt-advisor/tests/test_mgmt_advisor.py
Owners: @lmazuel

Generated from cc2170493dcbb7566963746e0020a1e528e9ce29
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_patch_properties.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_properties.py
Owners: @schaabs

Generated from 68c7269bf112dbc1c3a9f685d456d49c083e7e01
  azure-eventgrid/azure/eventgrid/models/__init__.py
  azure-eventgrid/azure/eventgrid/models/actor.py
  azure-eventgrid/azure/eventgrid/models/container_registry_image_deleted_event_data.py
  azure-eventgrid/azure/eventgrid/models/container_registry_image_pushed_event_data.py
  azure-eventgrid/azure/eventgrid/models/event_content.py
  azure-eventgrid/azure/eventgrid/models/request.py
  azure-eventgrid/azure/eventgrid/models/source.py
  azure-eventgrid/azure/eventgrid/models/target.py
Owners: @lmazuel

[AutoPR advisor/resource-manager] Adding x-ms-pageable tag for configuration list command. (#1955)
  azure-mgmt-advisor/azure/mgmt/advisor/models/__init__.py
  azure-mgmt-advisor/azure/mgmt/advisor/models/config_data_paged.py
  azure-mgmt-advisor/azure/mgmt/advisor/operations/configurations_operations.py
  azure-mgmt-advisor/azure/mgmt/advisor/version.py
  azure-mgmt-advisor/tests/test_mgmt_advisor.py
Owners: @lmazuel

azure-mgmt-advisor 1.0.1
  azure-mgmt-advisor/HISTORY.rst
Owners: @lmazuel

azure-mgmt-advisor 1.0.1
  azure-mgmt-advisor/HISTORY.rst
Owners: @lmazuel

[AutoPR advisor/resource-manager] Adding x-ms-pageable tag for configuration list command. (#1955)
  azure-mgmt-advisor/azure/mgmt/advisor/models/__init__.py
  azure-mgmt-advisor/azure/mgmt/advisor/models/config_data_paged.py
  azure-mgmt-advisor/azure/mgmt/advisor/operations/configurations_operations.py
  azure-mgmt-advisor/azure/mgmt/advisor/version.py
  azure-mgmt-advisor/tests/test_mgmt_advisor.py
Owners: @lmazuel

azure-mgmt-advisor 1.0.1
  azure-mgmt-advisor/HISTORY.rst
Owners: @lmazuel

[AutoPR advisor/resource-manager] Adding x-ms-pageable tag for configuration list command. (#1955)
  azure-mgmt-advisor/azure/mgmt/advisor/models/__init__.py
  azure-mgmt-advisor/azure/mgmt/advisor/models/config_data_paged.py
  azure-mgmt-advisor/azure/mgmt/advisor/operations/configurations_operations.py
  azure-mgmt-advisor/azure/mgmt/advisor/version.py
  azure-mgmt-advisor/tests/test_mgmt_advisor.py
Owners: @lmazuel

Generated from 19c016b47c33fd1746c637fff883097065984ad5
  azure-mgmt-automation/azure/mgmt/automation/models/__init__.py
  azure-mgmt-automation/azure/mgmt/automation/models/automation_client_enums.py
  azure-mgmt-automation/azure/mgmt/automation/models/dsc_configuration.py
  azure-mgmt-automation/azure/mgmt/automation/operations/activity_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/agent_registration_information_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/automation_account_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/certificate_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/connection_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/connection_type_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/credential_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/dsc_compilation_job_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/dsc_compilation_job_stream_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/dsc_configuration_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/dsc_node_configuration_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/dsc_node_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/fields_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/hybrid_runbook_worker_group_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/job_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/job_schedule_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/job_stream_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/module_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/node_reports_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/object_data_types_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/runbook_draft_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/runbook_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/schedule_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/software_update_configuration_machine_runs_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/software_update_configuration_runs_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/software_update_configurations_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/source_control_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/source_control_sync_job_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/statistics_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/test_job_streams_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/test_jobs_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/usages_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/variable_operations.py
  azure-mgmt-automation/azure/mgmt/automation/operations/webhook_operations.py
Owners: @lmazuel

fix tests
  src/azure_devtools/scenario_tests/tests/test_recording_processor.py
Owners: @lmazuel

Generated from d99a6326aac1fd99d9db17616669eba2f188b7ff
  azure-mgmt-commerce/azure/mgmt/commerce/models/error_response.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/info_field.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/meter_info.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/monetary_commitment.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/monetary_credit.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/offer_term_info.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/rate_card_query_parameters.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/recurring_charge.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/resource_rate_card_info.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/usage_aggregation.py
  azure-mgmt-commerce/azure/mgmt/commerce/operations/rate_card_operations.py
  azure-mgmt-commerce/azure/mgmt/commerce/operations/usage_aggregates_operations.py
  azure-mgmt-commerce/azure/mgmt/commerce/usage_management_client.py
  azure-mgmt-commerce/azure/mgmt/commerce/version.py
Owners: @lmazuel

fix lint error
  src/azure_devtools/scenario_tests/utilities.py
Owners: @lmazuel

use newer pylint to avoid invalid line errors
  requirements.txt
Owners: @lmazuel

add a new test
  src/azure_devtools/scenario_tests/tests/test_recording_processor.py
Owners: @lmazuel

Generated from dc1da218995ae11653e50dd8c770958f24ffb663
  azure-mgmt-automation/azure/mgmt/automation/models/__init__.py
  azure-mgmt-automation/azure/mgmt/automation/models/dsc_node.py
  azure-mgmt-automation/azure/mgmt/automation/models/proxy_resource.py
  azure-mgmt-automation/azure/mgmt/automation/operations/node_reports_operations.py
Owners: @lmazuel

Generated from 824b8d48a084c22c358608ba7b4e57beb241c40b
  azure-mgmt-authorization/azure/mgmt/authorization/operations/classic_administrators_operations.py
  azure-mgmt-authorization/azure/mgmt/authorization/operations/permissions_operations.py
  azure-mgmt-authorization/azure/mgmt/authorization/operations/provider_operations_metadata_operations.py
  azure-mgmt-authorization/azure/mgmt/authorization/operations/role_assignments_operations.py
  azure-mgmt-authorization/azure/mgmt/authorization/operations/role_definitions_operations.py
Owners: @lmazuel

Generated from c57876fa1161575912e7a210bc8160700f7c0f59
  azure-mgmt-automation/azure/mgmt/automation/operations/linked_workspace_operations.py
Owners: @lmazuel

Generated from fb68356e498ecacce188fe42fa15aa7cacbb329d
  azure-eventgrid/azure/eventgrid/models/__init__.py
  azure-eventgrid/azure/eventgrid/models/container_registry_event_actor.py
  azure-eventgrid/azure/eventgrid/models/container_registry_event_data.py
  azure-eventgrid/azure/eventgrid/models/container_registry_event_request.py
  azure-eventgrid/azure/eventgrid/models/container_registry_event_source.py
  azure-eventgrid/azure/eventgrid/models/container_registry_event_target.py
  azure-eventgrid/azure/eventgrid/models/container_registry_image_deleted_event_data.py
  azure-eventgrid/azure/eventgrid/models/container_registry_image_pushed_event_data.py
Owners: @lmazuel

address review feedback
  src/azure_devtools/scenario_tests/tests/test_utilities.py
  src/azure_devtools/scenario_tests/utilities.py
Owners: @lmazuel

Generated from 9f8952b0b8ba6f000fe98f641703126a4cc3cd9b
  azure-mgmt-commerce/azure/mgmt/commerce/models/error_response.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/info_field.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/meter_info.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/monetary_commitment.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/monetary_credit.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/offer_term_info.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/rate_card_query_parameters.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/recurring_charge.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/resource_rate_card_info.py
  azure-mgmt-commerce/azure/mgmt/commerce/models/usage_aggregation.py
  azure-mgmt-commerce/azure/mgmt/commerce/operations/rate_card_operations.py
  azure-mgmt-commerce/azure/mgmt/commerce/operations/usage_aggregates_operations.py
  azure-mgmt-commerce/azure/mgmt/commerce/usage_management_client.py
  azure-mgmt-commerce/azure/mgmt/commerce/version.py
Owners: @lmazuel

address review feedback
  src/azure_devtools/scenario_tests/recording_processors.py
Owners: @lmazuel

Updated storage package versions for the azure mega-package
  azure/setup.py
Owners: @lmazuel

Update version.py
  azure-mgmt-batchai/azure/mgmt/batchai/version.py
Owners: @AlexanderYukhanov

Update setup.py
  azure/setup.py
Owners: @lmazuel

Updated storage package versions to 1.1.0 for the azure mega-package (#1978)
  azure/setup.py
Owners: @lmazuel

Generated from 1844206ee72518c05fe0e9fced84b597aaacaa22
  azure-mgmt-relay/azure/mgmt/relay/operations/hybrid_connections_operations.py
  azure-mgmt-relay/azure/mgmt/relay/operations/namespaces_operations.py
  azure-mgmt-relay/azure/mgmt/relay/operations/operations.py
  azure-mgmt-relay/azure/mgmt/relay/operations/wcf_relays_operations.py
Owners: @lmazuel

azure 3.0
  azure/README.rst
  azure/setup.py
Owners: @lmazuel

azure-mgmt 2.0.0
  azure-mgmt/README.rst
  azure-mgmt/setup.py
Owners: @lmazuel

Fix storage warning
  azure/README.rst
Owners: @lmazuel

Add documentation link
  azure-mgmt/README.rst
  azure/README.rst
Owners: @lmazuel

Introduce 'top' filter to Pricesheet API (#1977)
  azure-mgmt-consumption/azure/mgmt/consumption/operations/price_sheet_operations.py
  azure-mgmt-consumption/tests/recordings/test_mgmt_consumption.test_consumption_subscription_price_sheet.yaml
Owners: @sandeepnl

support large response payload
  src/azure_devtools/scenario_tests/__init__.py
  src/azure_devtools/scenario_tests/preparers.py
  src/azure_devtools/scenario_tests/recording_processors.py
  src/azure_devtools/scenario_tests/tests/test_utilities.py
  src/azure_devtools/scenario_tests/utilities.py
Owners: @lmazuel

Azure 3.0.0 (#1980)
  azure-mgmt/README.rst
  azure-mgmt/setup.py
  azure/README.rst
  azure/setup.py
Owners: @lmazuel

Azure 3.0.0 (#1980)
  azure-mgmt/README.rst
  azure-mgmt/setup.py
  azure/README.rst
  azure/setup.py
Owners: @lmazuel

Fix setup.py of azure-mgmt
  azure-mgmt/setup.py
Owners: @lmazuel

Fix setup.py of azure-mgmt
  azure-mgmt/setup.py
Owners: @lmazuel

remove useless single quots from the error message
  src/azure_devtools/scenario_tests/recording_processors.py
Owners: @lmazuel

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

* @lmazuel

/azure-batch/ @annatisch @matthchr
/azure-keyvault/ @schaabs
/azure-mgmt-batch/ @annatisch @matthchr
/azure-mgmt-batchai/ @AlexanderYukhanov
/azure-mgmt-cdn/ @tjprescott
/azure-mgmt-consumption/ @sandeepnl
/azure-mgmt-containerinstance/ @yolo3301 @xizhamsft
/azure-mgmt-containerregistry/ @djyou 
/azure-mgmt-cosmosdb/ @dmakwana
/azure-mgmt-datafactory/ @hvermis
/azure-mgmt-datalake-analytics/ @ro-joowan
/azure-mgmt-datalake-store/ @ro-joowan
/azure-mgmt-eventgrid/ @kalyanaj
/azure-mgmt-keyvault/ @schaabs
/azure-mgmt-machinelearningcompute/ @shutchings
/azure-mgmt-recoveryservicesbackup/ @dragonfly91
/azure-mgmt-servicefabric/ @QingChenmsft
/azure-mgmt-sql/ @jaredmoo
/azure-mgmt-web/ @yugangw-msft
/azure-servicefabric/ @samedder
