Repository Azure/azure-sdk-for-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mayurid, @lmazuel, @xiangyan99, @johanste, @rakshith91, @chlowell, @schaabs, @annatisch, @yunhaoling, @KieranBrantnerMagee, @amishra-dev, @zezha-msft, @xiafu-msft, @tasherif-msft, @kasobol-msft, @divya-jay, @geneh, @alongafni, @bgklein, @xingwu1, @areddish, @RezaJooyandeh, @turalf, @ankitarorabit, @Azure/azure-sdk-communication-code-reviewers, @iscai-msft, @alexeldeib, @hectorhdzg, @lzchen, @sandeepnl, @samkreter, @xizhamsft, @djyou, @zqingqing1, @GaneshaThirumurthi, @southpolesteve, @zfoster, @hvermis, @ro-joowan, @vchske, @idear1203, @shutchings, @DheerendraRathor, @QingChenmsft, @samedder, @jaredmoo, @aim-for-better, @Azure/azure-sdk-eng, @kristapratico, @seankane-msft, @shurd, @msyyc, @jsntcy, @changlong-liu, @weshaggard, @scbedd, @mitchdenny, @danieljurek

live test fix
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_enrollment_accounts_list.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_invoice_latest.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_invoice_list_filter.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_invoice_list_generate_url.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_invoice_list_get.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_invoice_list_top.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_period_list_filter.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_period_list_get.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_period_list_top.yaml
  sdk/billing/azure-mgmt-billing/tests/test_mgmt_billing.py
Owners: @msyyc, @jsntcy, @changlong-liu

billing shiyan
  sdk/billing/azure-mgmt-billing/CHANGELOG.md
Owners: @msyyc, @jsntcy, @changlong-liu

enable live tests (#14467)
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/README.md
  sdk/metricsadvisor/tests.yml
Owners: @xiangyan99, @kristapratico, @danieljurek

enable live tests (#14467)
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/README.md
  sdk/metricsadvisor/tests.yml
Owners: @xiangyan99, @kristapratico, @danieljurek

Removed asynctestcase.py (#14444)
  sdk/tables/azure-data-tables/tests/_shared/asynctestcase.py
Owners: @seankane-msft

Removed asynctestcase.py (#14444)
  sdk/tables/azure-data-tables/tests/_shared/asynctestcase.py
Owners: @seankane-msft

testcase.py now uses AzureTestCase (#14443)
  sdk/tables/azure-data-tables/tests/_shared/testcase.py
Owners: @seankane-msft

testcase.py now uses AzureTestCase (#14443)
  sdk/tables/azure-data-tables/tests/_shared/testcase.py
Owners: @seankane-msft

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @mayurid @lmazuel

# Core
# PRLabel: %Azure.Core
/sdk/core/                                                           @lmazuel @xiangyan99 @johanste @rakshith91
/sdk/core/azure-core/                                                @xiangyan99 @lmazuel

####
# Service team
####
# PRLabel: %Azure.Identity
/sdk/identity/                                                       @chlowell @schaabs

# PRLabel: %Event Hubs
/sdk/eventhub/                                                       @annatisch @yunhaoling @KieranBrantnerMagee

# PRLabel: %Storage
/sdk/storage/                                                        @amishra-dev @zezha-msft @annatisch @rakshith91 @xiafu-msft @tasherif-msft @kasobol-msft

# PRLabel: %App Configuration
/sdk/appconfiguration/                                               @xiangyan99

/sdk/applicationinsights/azure-applicationinsights/                  @divya-jay @geneh @alongafni
/sdk/loganalytics/azure-loganalytics/                                @divya-jay @geneh @alongafni

# PRLabel: %Batch
/sdk/batch/                                                          @bgklein @xingwu1
/sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/  @areddish

# PRLabel: %Communication
/sdk/communication/                                                  @RezaJooyandeh @turalf @ankitarorabit @Azure/azure-sdk-communication-code-reviewers

# PRLabel: %KeyVault
/sdk/keyvault/                                                       @schaabs @chlowell @iscai-msft

# PRLabel: %Monitor - LogAnalytics
/sdk/loganalytics/                                                   @alexeldeib

# PRLabel: %Monitor - Exporter
/sdk/monitor/opentelemetry-exporter-azuremonitor                     @rakshith91 @lmazuel @hectorhdzg @lzchen

# PRLabel: %Consumption
/sdk/consumption/                                                    @sandeepnl

# PRLabel: %Container Instances
/sdk/containerinstance/                                              @samkreter @xizhamsft

# PRLabel: %Container Registry
/sdk/containerregistry/                                              @djyou
/sdk/containerservice/                                               @samkreter @zqingqing1 @GaneshaThirumurthi

# PRLabel: %Cosmos
/sdk/cosmos/                                                         @southpolesteve @zfoster

# PRLabel: %Data Factory
/sdk/datafactory/                                                    @hvermis
/sdk/datalake/                                                       @ro-joowan
/sdk/datadatamigration/                                              @vchske

# PRLabel: %Event Grid
/sdk/eventgrid/                                                      @lmazuel @rakshith91 @KieranBrantnerMagee

# PRLabel: %HDInsight
/sdk/hdinsight/                                                      @idear1203

# PRLabel: %Machine Learning Compute
/sdk/machinelearningcompute/                                         @shutchings

# PRLabel: %Recovery Services
/sdk/recoveryservices/                                               @DheerendraRathor

# PRLabel: %Schema Registry
/sdk/schemaregistry/                                                 @yunhaoling

# PRLabel: %Search
/sdk/search/                                                         @xiangyan99 @rakshith91

# PRLabel: %Service Fabric
/sdk/servicefabric/                                                  @QingChenmsft @samedder

# PRLabel: %SQL
/sql/sql/                                                            @jaredmoo

# PRLabel: %Service Bus
/sdk/servicebus/                                                     @annatisch @yunhaoling @KieranBrantnerMagee

# PRLabel: %Synapse
/sdk/synapse/                                                        @aim-for-better @idear1203

# PRLabel: %EngSys
/sdk/template/                                                       @Azure/azure-sdk-eng

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/                                                  @kristapratico @iscai-msft

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/                                                 @kristapratico @iscai-msft @rakshith91

# PRLabel: %Cognitive - Metrics Advisor
/sdk/metricsadvisor/                                                 @xiangyan99 @kristapratico

# PRLabel: %Tables
/sdk/tables/                                                         @seankane-msft

# Smoke Tests
/common/smoketest/                                                   @lmazuel @chlowell @annatisch @rakshith91 @shurd @southpolesteve

# Management Plane
/**/*mgmt*/     @msyyc @jsntcy @changlong-liu


###########
# Eng Sys
###########
/eng/           @weshaggard @scbedd @mitchdenny @danieljurek
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny
