Repository Azure/azure-sdk-for-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mayurid, @lmazuel, @xiangyan99, @johanste, @rakshith91, @chlowell, @mccoyp, @schaabs, @annatisch, @yunhaoling, @swathipil, @amishra-dev, @zezha-msft, @xiafu-msft, @tasherif-msft, @kasobol-msft, @YalinLi0312, @divyajay, @geneh, @alongafni, @larryosterman, @anilba06, @Azure/azure-sdk-write-attestation, @cRui861, @paterasMSFT, @dpwatrous, @gingi, @zfengms, @areddish, @acsdevx-msft, @alexeldeib, @lzchen, @sandeepnl, @samkreter, @xizhamsft, @djyou, @zqingqing1, @GaneshaThirumurthi, @southpolesteve, @zfoster, @hvermis, @ro-joowan, @vchske, @idear1203, @cartertinney, @digimaun, @shutchings, @DheerendraRathor, @tjprescott, @QingChenmsft, @samedder, @jaredmoo, @aim-for-better, @Azure/azure-sdk-eng, @kristapratico, @iscai-msft, @abhahn, @catalinaperalta, @mohamedshabanofficial, @naiteeks, @bennage, @giakas, @shurd, @RAY-316, @msyyc, @weshaggard, @scbedd, @danieljurek, @benbp

disable regression testing for beta version of questionanswering (#20924)
  scripts/devops_tasks/git_helper.py
Owners: none

disable regression testing for beta version of questionanswering (#20924)
  scripts/devops_tasks/git_helper.py
Owners: none

regenerate
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/models/__init__.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/models/_models.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/models/_models_py3.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/models/_question_answering_client_enums.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/operations/_operations.py
Owners: @mayurid, @lmazuel

update
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
Owners: @chlowell, @mccoyp, @schaabs

add directives to change param names -> options
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/swagger/README.md
Owners: @mayurid, @lmazuel

regenerate revert to 2021-05-01-preview
  sdk/purview/azure-purview-catalog/azure/purview/catalog/_configuration.py
  sdk/purview/azure-purview-catalog/azure/purview/catalog/aio/_configuration.py
  sdk/purview/azure-purview-catalog/azure/purview/catalog/operations/_operations.py
  sdk/purview/azure-purview-catalog/swagger/README.md
Owners: @mayurid, @lmazuel

remove new api version target comment in changelog
  sdk/purview/azure-purview-catalog/CHANGELOG.md
Owners: @mayurid, @lmazuel

Align __init__.py files
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/__init__.py
Owners: @schaabs, @chlowell, @mccoyp, @YalinLi0312

Avoid passing unexpected kwarg to EnvironmentCredential (#20231)
  sdk/identity/azure-identity/azure/identity/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/application.py
  sdk/identity/azure-identity/tests/test_azure_application.py
  sdk/identity/azure-identity/tests/test_azure_application_async.py
Owners: @chlowell, @mccoyp, @schaabs

Update release date (#20270)
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
Owners: @acsdevx-msft

Add missing extra requires in setup.py (#20246)
  sdk/communication/azure-communication-networktraversal/setup.py
Owners: @acsdevx-msft

Update the release date for 1.1.0b1 (#20271)
  sdk/communication/azure-communication-chat/CHANGELOG.md
Owners: @acsdevx-msft

expose models (#20266)
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/models/__init__.py
Owners: @tjprescott

Update the release date for ACS chat 1.1.0b1 (#20277)
  sdk/communication/azure-communication-chat/CHANGELOG.md
Owners: @acsdevx-msft

revert to API 2019-11-01-preview (#20265)
  sdk/synapse/azure-synapse-monitoring/CHANGELOG.md
  sdk/synapse/azure-synapse-monitoring/azure/synapse/monitoring/_configuration.py
  sdk/synapse/azure-synapse-monitoring/azure/synapse/monitoring/aio/_configuration.py
  sdk/synapse/azure-synapse-monitoring/azure/synapse/monitoring/aio/operations/_monitoring_operations.py
  sdk/synapse/azure-synapse-monitoring/azure/synapse/monitoring/operations/_monitoring_operations.py
Owners: @aim-for-better, @idear1203

Sync eng/common directory with azure-sdk-tools for PR 1876 (#20248)
  eng/common/TestResources/New-TestResources.ps1
Owners: @weshaggard, @scbedd, @danieljurek

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @mayurid @lmazuel

# Core
# PRLabel: %Azure.Core
/sdk/core/                                                           @lmazuel @xiangyan99 @johanste @rakshith91
/sdk/core/azure-core/                                                @xiangyan99 @lmazuel

####
# Service team
####
# PRLabel: %Azure.Identity
/sdk/identity/                                                       @chlowell @mccoyp @schaabs

# PRLabel: %Event Hubs
/sdk/eventhub/                                                       @annatisch @yunhaoling @swathipil @rakshith91

# PRLabel: %Storage
/sdk/storage/                                                        @amishra-dev @zezha-msft @annatisch @xiafu-msft @tasherif-msft @kasobol-msft

# PRLabel: %App Configuration
/sdk/appconfiguration/                                               @xiangyan99 @YalinLi0312

/sdk/applicationinsights/azure-applicationinsights/                  @divyajay @geneh @alongafni
/sdk/loganalytics/azure-loganalytics/                                @divyajay @geneh @alongafni

/sdk/attestation/azure-security-attestation                          @larryosterman @anilba06 @Azure/azure-sdk-write-attestation

# PRLabel: %Batch
/sdk/batch/                                                          @cRui861 @paterasMSFT @dpwatrous @gingi @zfengms
/sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/  @areddish

# PRLabel: %Communication
/sdk/communication/                                                  @acsdevx-msft

# PRLabel: %KeyVault
/sdk/keyvault/                                                       @schaabs @chlowell @mccoyp @YalinLi0312

# PRLabel: %Monitor - LogAnalytics
/sdk/loganalytics/                                                   @alexeldeib

# PRLabel: %Monitor - Exporter
/sdk/monitor/azure-monitor-opentelemetry-exporter                    @rakshith91 @lmazuel @lzchen

# PRLabel: %Monitor - Log
/sdk/monitor/azure-monitor-query                                     @rakshith91

# PRLabel: %Consumption
/sdk/consumption/                                                    @sandeepnl

# PRLabel: %Container Instances
/sdk/containerinstance/                                              @samkreter @xizhamsft

# PRLabel: %Container Registry
/sdk/containerregistry/                                              @djyou
/sdk/containerservice/                                               @samkreter @zqingqing1 @GaneshaThirumurthi

# PRLabel: %Cosmos
/sdk/cosmos/                                                         @southpolesteve @zfoster

# PRLabel: %Data Factory
/sdk/datafactory/                                                    @hvermis
/sdk/datalake/                                                       @ro-joowan
/sdk/datadatamigration/                                              @vchske

# PRLabel: %Event Grid
/sdk/eventgrid/                                                      @lmazuel @yunhaoling @swathipil @rakshith91

# PRLabel: %HDInsight
/sdk/hdinsight/                                                      @idear1203

# PRLabel: %Models repository
/sdk/modelsrepository/                                               @cartertinney @digimaun

# PRLabel: %Machine Learning Compute
/sdk/machinelearningcompute/                                         @shutchings

# PRLabel: %Recovery Services
/sdk/recoveryservices/                                               @DheerendraRathor

# PRLabel: %Schema Registry
/sdk/schemaregistry/                                                 @yunhaoling

# PRLabel: %Search
/sdk/search/                                                         @tjprescott

# PRLabel: %Service Fabric
/sdk/servicefabric/                                                  @QingChenmsft @samedder

# PRLabel: %SQL
/sql/sql/                                                            @jaredmoo

# PRLabel: %Service Bus
/sdk/servicebus/                                                     @annatisch @yunhaoling @swathipil @rakshith91

# PRLabel: %Synapse
/sdk/synapse/                                                        @aim-for-better @idear1203

# PRLabel: %EngSys
/sdk/template/                                                       @Azure/azure-sdk-eng

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/                                                  @kristapratico @iscai-msft @abhahn

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/                                                 @kristapratico @iscai-msft @catalinaperalta

# PRLabel: %Cognitive - Metrics Advisor
/sdk/metricsadvisor/                                                 @xiangyan99 @kristapratico

# PRLabel: %Cognitive - Translator
/sdk/translation/                                                    @kristapratico @mohamedshabanofficial

# PRLabel: %Tables
/sdk/tables/                                                         @annatisch @YalinLi0312

# PRLabel: %Media
/sdk/media/                                                          @naiteeks @bennage @giakas

# PRLabel: %Container Registry
/sdk/containerregistry/                                              @YalinLi0312

# Smoke Tests
/common/smoketest/                                                   @lmazuel @chlowell @annatisch @rakshith91 @shurd @southpolesteve

# Management Plane
/**/*mgmt*/                                                          @RAY-316 @msyyc


###########
# Eng Sys
###########
/eng/                                                                @weshaggard @scbedd @danieljurek
/**/tests.yml                                                        @benbp
/**/ci.yml                                                           @scbedd

# Add owners for notifications for specific pipelines
/eng/pipelines/templates/jobs/tests-nightly-python.yml               @lmazuel @mccoyp
/eng/pipelines/aggregate-reports.yml                                 @lmazuel @mccoyp @YalinLi0312
