Repository Azure/azure-sdk-for-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mayurid, @lmazuel, @xiangyan99, @johanste, @rakshith91, @chlowell, @schaabs, @annatisch, @yunhaoling, @KieranBrantnerMagee, @amishra-dev, @zezha-msft, @xiafu-msft, @tasherif-msft, @kasobol-msft, @divya-jay, @geneh, @alongafni, @bgklein, @xingwu1, @areddish, @RezaJooyandeh, @turalf, @ankitarorabit, @Azure/azure-sdk-communication-code-reviewers, @iscai-msft, @alexeldeib, @hectorhdzg, @lzchen, @sandeepnl, @samkreter, @xizhamsft, @djyou, @zqingqing1, @GaneshaThirumurthi, @southpolesteve, @zfoster, @hvermis, @ro-joowan, @vchske, @idear1203, @shutchings, @DheerendraRathor, @QingChenmsft, @samedder, @jaredmoo, @aim-for-better, @Azure/azure-sdk-eng, @kristapratico, @seankane-msft, @shurd, @msyyc, @jsntcy, @changlong-liu, @weshaggard, @scbedd, @mitchdenny, @danieljurek

remove readonly assignments
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
Owners: @xiangyan99, @kristapratico

update
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
Owners: @xiangyan99, @kristapratico

Update _search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_search_client.py
Owners: @xiangyan99, @rakshith91

added include leased param
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
Owners: @amishra-dev, @zezha-msft, @annatisch, @rakshith91, @xiafu-msft, @tasherif-msft, @kasobol-msft

Ensure azure-identity readme has exactly one H1
  sdk/identity/azure-identity/README.md
Owners: @chlowell, @schaabs

remove unused link
  sdk/identity/azure-identity/README.md
Owners: @chlowell, @schaabs

Ma remove readonly assignments (#14478)
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
Owners: @xiangyan99, @kristapratico

Ma remove readonly assignments (#14478)
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
Owners: @xiangyan99, @kristapratico

Ensure azure-identity readme has exactly one H1 (#14480)
  sdk/identity/azure-identity/README.md
Owners: @chlowell, @schaabs

Ensure azure-identity readme has exactly one H1 (#14480)
  sdk/identity/azure-identity/README.md
Owners: @chlowell, @schaabs

adjusted snapshot deletion
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/__init__.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
Owners: @amishra-dev, @zezha-msft, @annatisch, @rakshith91, @xiafu-msft, @tasherif-msft, @kasobol-msft

Refactpr Submit Pull Request Script
  eng/common/scripts/Submit-PullRequest.ps1
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

Refactor logic for interacting with Pull Requests
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Get-PrCreator.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

version and changelog
  sdk/datadog/azure-mgmt-datadog/CHANGELOG.md
  sdk/datadog/azure-mgmt-datadog/azure/mgmt/datadog/_version.py
Owners: @msyyc, @jsntcy, @changlong-liu

fix livetest
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
Owners: @annatisch, @yunhaoling, @KieranBrantnerMagee

Generated from 3ee78c222827a659a7cde8bee150f32c53cd1327
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/__init__.py
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/_hd_insight_management_client_enums.py
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/_models.py
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/_models_py3.py
  sdk/hdinsight/azure-mgmt-hdinsight/setup.py
Owners: @msyyc, @jsntcy, @changlong-liu

Refactpr Submit Pull Request Script
  eng/common/scripts/Submit-PullRequest.ps1
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

Refactor logic for interacting with Pull Requests
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Get-PrCreator.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

add PATCH for polling
  sdk/core/azure-mgmt-core/azure/mgmt/core/polling/arm_polling.py
Owners: @msyyc, @jsntcy, @changlong-liu

live test fix
  sdk/containerservice/azure-mgmt-containerservice/tests/recordings/test_mgmt_aks.test_agentPools.yaml
  sdk/containerservice/azure-mgmt-containerservice/tests/recordings/test_mgmt_aks.test_managed_clusters.yaml
  sdk/containerservice/azure-mgmt-containerservice/tests/recordings/test_mgmt_aks.test_operation.yaml
  sdk/containerservice/azure-mgmt-containerservice/tests/recordings/test_mgmt_aks.test_privateLinkResources.yaml
  sdk/containerservice/azure-mgmt-containerservice/tests/recordings/test_mgmt_aks.test_resolvePrivateLinkServiceId.yaml
  sdk/containerservice/azure-mgmt-containerservice/tests/test_mgmt_aks.py
  tools/azure-sdk-tools/devtools_testutils/resource_testcase.py
Owners: @msyyc, @jsntcy, @changlong-liu

test fix
  tools/azure-sdk-tools/devtools_testutils/resource_testcase.py
Owners: none

Sync eng/common directory with azure-sdk-tools for PR 1088 (#14482)
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

Sync eng/common directory with azure-sdk-tools for PR 1088 (#14482)
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

Generated from 97ac96602b1204ab9a24e77da7472b7b3e149e2f
  sdk/alertsmanagement/azure-mgmt-alertsmanagement/azure/mgmt/alertsmanagement/_alerts_management_client.py
  sdk/alertsmanagement/azure-mgmt-alertsmanagement/azure/mgmt/alertsmanagement/_configuration.py
  sdk/alertsmanagement/azure-mgmt-alertsmanagement/azure/mgmt/alertsmanagement/models/__init__.py
  sdk/alertsmanagement/azure-mgmt-alertsmanagement/azure/mgmt/alertsmanagement/models/_alerts_management_client_enums.py
  sdk/alertsmanagement/azure-mgmt-alertsmanagement/azure/mgmt/alertsmanagement/models/_models.py
  sdk/alertsmanagement/azure-mgmt-alertsmanagement/azure/mgmt/alertsmanagement/models/_models_py3.py
  sdk/alertsmanagement/azure-mgmt-alertsmanagement/azure/mgmt/alertsmanagement/models/_paged_models.py
  sdk/alertsmanagement/azure-mgmt-alertsmanagement/azure/mgmt/alertsmanagement/operations/__init__.py
  sdk/alertsmanagement/azure-mgmt-alertsmanagement/azure/mgmt/alertsmanagement/operations/_smart_detector_alert_rules_operations.py
  sdk/alertsmanagement/azure-mgmt-alertsmanagement/setup.py
Owners: @msyyc, @jsntcy, @changlong-liu

update version
  sdk/cosmos/azure-mgmt-cosmosdb/CHANGELOG.md
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/version.py
Owners: @msyyc, @jsntcy, @changlong-liu

Generated from 3e17b47834c88cbad65fdfdaee055114dbe4e662
  sdk/azure-mgmt-confluent/CHANGELOG.md
  sdk/azure-mgmt-confluent/MANIFEST.in
  sdk/azure-mgmt-confluent/README.md
  sdk/azure-mgmt-confluent/azure/__init__.py
  sdk/azure-mgmt-confluent/azure/mgmt/__init__.py
  sdk/azure-mgmt-confluent/azure/mgmt/confluent/__init__.py
  sdk/azure-mgmt-confluent/azure/mgmt/confluent/_configuration.py
  sdk/azure-mgmt-confluent/azure/mgmt/confluent/_confluent_management_client.py
  sdk/azure-mgmt-confluent/azure/mgmt/confluent/models/__init__.py
  sdk/azure-mgmt-confluent/azure/mgmt/confluent/models/_confluent_management_client_enums.py
  sdk/azure-mgmt-confluent/azure/mgmt/confluent/models/_models.py
  sdk/azure-mgmt-confluent/azure/mgmt/confluent/models/_models_py3.py
  sdk/azure-mgmt-confluent/azure/mgmt/confluent/models/_paged_models.py
  sdk/azure-mgmt-confluent/azure/mgmt/confluent/operations/__init__.py
  sdk/azure-mgmt-confluent/azure/mgmt/confluent/operations/_organization_operations.py
  sdk/azure-mgmt-confluent/azure/mgmt/confluent/operations/_organization_operations_operations.py
  sdk/azure-mgmt-confluent/azure/mgmt/confluent/version.py
  sdk/azure-mgmt-confluent/sdk_packaging.toml
  sdk/azure-mgmt-confluent/setup.cfg
  sdk/azure-mgmt-confluent/setup.py
Owners: @msyyc, @jsntcy, @changlong-liu

update time
  sdk/cosmos/azure-mgmt-cosmosdb/CHANGELOG.md
Owners: @msyyc, @jsntcy, @changlong-liu

regenerate
  sdk/digitaltwins/azure-mgmt-digitaltwins/azure/mgmt/digitaltwins/v2020_10_31/models/_models.py
  sdk/digitaltwins/azure-mgmt-digitaltwins/azure/mgmt/digitaltwins/v2020_10_31/models/_models_py3.py
  sdk/digitaltwins/azure-mgmt-digitaltwins/azure/mgmt/digitaltwins/v2020_10_31/operations/_digital_twins_endpoint_operations.py
  sdk/digitaltwins/azure-mgmt-digitaltwins/azure/mgmt/digitaltwins/v2020_10_31/operations/_digital_twins_operations.py
Owners: @msyyc, @jsntcy, @changlong-liu

version,changelog,live test
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_enrollment_accounts_list.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_invoice_latest.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_invoice_list_filter.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_invoice_list_generate_url.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_invoice_list_get.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_invoice_list_top.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_period_list_filter.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_period_list_get.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_period_list_top.yaml
  sdk/billing/azure-mgmt-billing/tests/test_mgmt_billing.py
Owners: @msyyc, @jsntcy, @changlong-liu

Generated from c9912e2b929ec4bc4cc52188ca1a339571b2f308
  sdk/azure-mgmt-desktopvirtualization/CHANGELOG.md
  sdk/azure-mgmt-desktopvirtualization/MANIFEST.in
  sdk/azure-mgmt-desktopvirtualization/README.md
  sdk/azure-mgmt-desktopvirtualization/azure/__init__.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/__init__.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/__init__.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/_configuration.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/_desktop_virtualization_api_client.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/models/__init__.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/models/_desktop_virtualization_api_client_enums.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/models/_models.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/models/_models_py3.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/models/_paged_models.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/operations/__init__.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/operations/_application_groups_operations.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/operations/_applications_operations.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/operations/_desktops_operations.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/operations/_host_pools_operations.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/operations/_msix_images_operations.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/operations/_msix_packages_operations.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/operations/_operations.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/operations/_session_hosts_operations.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/operations/_start_menu_items_operations.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/operations/_user_sessions_operations.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/operations/_workspaces_operations.py
  sdk/azure-mgmt-desktopvirtualization/azure/mgmt/desktopvirtualization/version.py
  sdk/azure-mgmt-desktopvirtualization/sdk_packaging.toml
  sdk/azure-mgmt-desktopvirtualization/setup.cfg
  sdk/azure-mgmt-desktopvirtualization/setup.py
Owners: @msyyc, @jsntcy, @changlong-liu

Generated from a77b349e589989173b17b08f950effebea4ee245
  sdk/keyvault/azure-mgmt-keyvault/README.md
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/_key_vault_management_client.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2018_02_14/models/_models.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2018_02_14/models/_models_py3.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2019_09_01/models/_models.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/__init__.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/_configuration.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/_key_vault_management_client.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/models/__init__.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/models/_key_vault_management_client_enums.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/models/_models.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/models/_models_py3.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/models/_paged_models.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/operations/__init__.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/operations/_managed_hsms_operations.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/operations/_operations.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/operations/_private_endpoint_connections_operations.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/operations/_private_link_resources_operations.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/operations/_vaults_operations.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/version.py
  sdk/keyvault/azure-mgmt-keyvault/setup.py
Owners: @msyyc, @jsntcy, @changlong-liu

Generated from a77b349e589989173b17b08f950effebea4ee245
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2019_09_01/models/_key_vault_management_client_enums.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/models/_key_vault_management_client_enums.py
Owners: @msyyc, @jsntcy, @changlong-liu

Update README.md
  tools/azure-sdk-tools/packaging_tools/templates/README.md
Owners: none

version 0.2.0=>1.0.0
  sdk/billing/azure-mgmt-billing/CHANGELOG.md
  sdk/billing/azure-mgmt-billing/azure/mgmt/billing/version.py
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_enrollment_accounts_list.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_invoice_list_filter.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_invoice_list_generate_url.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_invoice_list_get.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_invoice_list_top.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_period_list_filter.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_period_list_get.yaml
  sdk/billing/azure-mgmt-billing/tests/recordings/test_mgmt_billing.test_billing_period_list_top.yaml
Owners: @msyyc, @jsntcy, @changlong-liu

Update README.md
  tools/azure-sdk-tools/packaging_tools/templates/README.md
Owners: none

Sdk automation/azure mgmt cosmosdb@10955 (#14060)
  sdk/cosmos/azure-mgmt-cosmosdb/CHANGELOG.md
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/_cosmos_db_management_client.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_cosmos_db_management_client_enums.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models_py3.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_paged_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_cassandra_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_partition_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_partition_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_account_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_accounts_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_gremlin_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_mongo_db_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_notebook_workspaces_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_partition_key_range_id_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_partition_key_range_id_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_source_target_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_target_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_database_accounts_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_sql_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_table_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/version.py
  sdk/cosmos/azure-mgmt-cosmosdb/setup.py
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_create.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_delete.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_features.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/test_mgmt_cosmosdb.py
Owners: @msyyc, @jsntcy, @changlong-liu

Update README.md
  tools/azure-sdk-tools/packaging_tools/templates/README.md
Owners: none

Update README.md
  tools/azure-sdk-tools/packaging_tools/templates/README.md
Owners: none

Update README.md
  tools/azure-sdk-tools/packaging_tools/templates/README.md
Owners: none

version,CHANGELOG
  sdk/azurestackhci/azure-mgmt-azurestackhci/CHANGELOG.md
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/version.py
Owners: @msyyc, @jsntcy, @changlong-liu

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @mayurid @lmazuel

# Core
# PRLabel: %Azure.Core
/sdk/core/                                                           @lmazuel @xiangyan99 @johanste @rakshith91
/sdk/core/azure-core/                                                @xiangyan99 @lmazuel

####
# Service team
####
# PRLabel: %Azure.Identity
/sdk/identity/                                                       @chlowell @schaabs

# PRLabel: %Event Hubs
/sdk/eventhub/                                                       @annatisch @yunhaoling @KieranBrantnerMagee

# PRLabel: %Storage
/sdk/storage/                                                        @amishra-dev @zezha-msft @annatisch @rakshith91 @xiafu-msft @tasherif-msft @kasobol-msft

# PRLabel: %App Configuration
/sdk/appconfiguration/                                               @xiangyan99

/sdk/applicationinsights/azure-applicationinsights/                  @divya-jay @geneh @alongafni
/sdk/loganalytics/azure-loganalytics/                                @divya-jay @geneh @alongafni

# PRLabel: %Batch
/sdk/batch/                                                          @bgklein @xingwu1
/sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/  @areddish

# PRLabel: %Communication
/sdk/communication/                                                  @RezaJooyandeh @turalf @ankitarorabit @Azure/azure-sdk-communication-code-reviewers

# PRLabel: %KeyVault
/sdk/keyvault/                                                       @schaabs @chlowell @iscai-msft

# PRLabel: %Monitor - LogAnalytics
/sdk/loganalytics/                                                   @alexeldeib

# PRLabel: %Monitor - Exporter
/sdk/monitor/opentelemetry-exporter-azuremonitor                     @rakshith91 @lmazuel @hectorhdzg @lzchen

# PRLabel: %Consumption
/sdk/consumption/                                                    @sandeepnl

# PRLabel: %Container Instances
/sdk/containerinstance/                                              @samkreter @xizhamsft

# PRLabel: %Container Registry
/sdk/containerregistry/                                              @djyou
/sdk/containerservice/                                               @samkreter @zqingqing1 @GaneshaThirumurthi

# PRLabel: %Cosmos
/sdk/cosmos/                                                         @southpolesteve @zfoster

# PRLabel: %Data Factory
/sdk/datafactory/                                                    @hvermis
/sdk/datalake/                                                       @ro-joowan
/sdk/datadatamigration/                                              @vchske

# PRLabel: %Event Grid
/sdk/eventgrid/                                                      @lmazuel @rakshith91 @KieranBrantnerMagee

# PRLabel: %HDInsight
/sdk/hdinsight/                                                      @idear1203

# PRLabel: %Machine Learning Compute
/sdk/machinelearningcompute/                                         @shutchings

# PRLabel: %Recovery Services
/sdk/recoveryservices/                                               @DheerendraRathor

# PRLabel: %Schema Registry
/sdk/schemaregistry/                                                 @yunhaoling

# PRLabel: %Search
/sdk/search/                                                         @xiangyan99 @rakshith91

# PRLabel: %Service Fabric
/sdk/servicefabric/                                                  @QingChenmsft @samedder

# PRLabel: %SQL
/sql/sql/                                                            @jaredmoo

# PRLabel: %Service Bus
/sdk/servicebus/                                                     @annatisch @yunhaoling @KieranBrantnerMagee

# PRLabel: %Synapse
/sdk/synapse/                                                        @aim-for-better @idear1203

# PRLabel: %EngSys
/sdk/template/                                                       @Azure/azure-sdk-eng

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/                                                  @kristapratico @iscai-msft

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/                                                 @kristapratico @iscai-msft @rakshith91

# PRLabel: %Cognitive - Metrics Advisor
/sdk/metricsadvisor/                                                 @xiangyan99 @kristapratico

# PRLabel: %Tables
/sdk/tables/                                                         @seankane-msft

# Smoke Tests
/common/smoketest/                                                   @lmazuel @chlowell @annatisch @rakshith91 @shurd @southpolesteve

# Management Plane
/**/*mgmt*/     @msyyc @jsntcy @changlong-liu


###########
# Eng Sys
###########
/eng/           @weshaggard @scbedd @mitchdenny @danieljurek
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny
