Repository Azure/azure-sdk-for-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mayurid, @lmazuel, @xiangyan99, @alexeldeib, @areddish, @samkreter, @zqingqing1, @GaneshaThirumurthi, @ro-joowan, @vchske, @chlowell, @annatisch, @rakshith91, @shurd, @southpolesteve, @zikalino, @weshaggard, @scbedd, @mitchdenny, @danieljurek

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @mayurid @lmazuel

# Core
/sdk/core/                                                           @lmazuel @xiangyan99 @johanste @rakshith91                     %Azure.Core
/sdk/core/azure-core/                                                @xiangyan99 @lmazuel

# Service team
/sdk/identity/                                                       @chlowell @schaabs                                             %Azure.Identity
/sdk/eventhub/                                                       @annatisch @yunhaoling @YijunXieMS                             %Event Hubs
/sdk/storage/                                                        @amishra-dev @zezha-msft @annatisch @rakshith91 @xiafu-msft    %Storage
/sdk/applicationinsights/                                            @alexeldeib      
/sdk/batch/                                                          @bgklein @xingwu1                                              %Batch
/sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/  @areddish          
/sdk/keyvault/                                                       @schaabs @chlowell @iscai-msft                                 %KeyVault
/sdk/loganalytics/                                                   @alexeldeib                                                    %Monitor - LogAnalytics
/sdk/consumption/                                                    @sandeepnl                                                     %Consumption
/sdk/containerinstance/                                              @samkreter @xizhamsft                                          %Container Instances
/sdk/containerregistry/                                              @djyou                                                         %Container Registry
/sdk/containerservice/                                               @samkreter @zqingqing1 @GaneshaThirumurthi
/sdk/cosmos/                                                         @southpolesteve @zfoster                                       %Cosmos
/sdk/datafactory/                                                    @hvermis                                                       %Data Factory
/sdk/datalake/                                                       @ro-joowan                                                     
/sdk/datadatamigration/                                              @vchske
/sdk/eventgrid/                                                      @kalyanaj                                                      %Event Grid
/sdk/hdinsight/                                                      @idear1203                                                     %HDInsight
/sdk/machinelearningcompute/                                         @shutchings                                                    %Machine Learning Compute
/sdk/recoveryservices/                                               @DheerendraRathor                                              %Recovery Services
/sdk/search/                                                         @xiangyan99 @rakshith91                                        %Search
/sdk/servicefabric/                                                  @QingChenmsft @samedder                                        %Service Fabric
/sql/sql/                                                            @jaredmoo                                                      %SQL
/sdk/servicebus/                                                     @annatisch @yunhaoling @YijunXieMS @KieranBrantnerMagee        %Service Bus
/sdk/synapse/                                                        @aim-for-better @idear1203                                     %Synapse
/sdk/textanalytics/                                                  @kristapratico @iscai-msft                                     %Cognitive - Text Analytics
/sdk/formrecognizer/                                                 @kristapratico @iscai-msft @rakshith91                         %Cognitive - Form Recognizer

# Smoke Tests
/common/smoketest/                                                   @lmazuel @chlowell @annatisch @rakshith91 @shurd @southpolesteve

# Management Plane
/**/*mgmt*/     @zikalino

###########
# Eng Sys
###########
/eng/           @weshaggard @scbedd @mitchdenny @danieljurek
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny

Generated from ce9cff5e66ca14a7149660f03fc5aa75afa569ce
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/_signal_rmanagement_client.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/__init__.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/_models.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/_models_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/_signal_rmanagement_client_enums.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/operations/_operations.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/operations/_signal_roperations.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/operations/_signal_rprivate_endpoint_connections_operations.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/operations/_signal_rprivate_link_resources_operations.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/operations/_usages_operations.py
Owners: @zikalino

add deleted safename
  doc/sphinx/package_service_mapping.json
  sdk/storage/ci.yml
Owners: @mitchdenny

add deleted safename (#12440)
  doc/sphinx/package_service_mapping.json
  sdk/storage/ci.yml
Owners: @mitchdenny

add deleted safename (#12440)
  doc/sphinx/package_service_mapping.json
  sdk/storage/ci.yml
Owners: @mitchdenny

Generated from 26558b6a2c380835a8df427d52332bc92e7efd56
  sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/_monitor_management_client.py
  sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/v2015_04_01/models/__init__.py
  sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/v2015_04_01/models/_models.py
  sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/v2015_04_01/models/_models_py3.py
  sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/v2015_04_01/models/_monitor_management_client_enums.py
  sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/v2020_01_01_preview/__init__.py
  sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/v2020_01_01_preview/_configuration.py
  sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/v2020_01_01_preview/_monitor_management_client.py
  sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/v2020_01_01_preview/models/__init__.py
  sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/v2020_01_01_preview/models/_models.py
  sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/v2020_01_01_preview/models/_models_py3.py
  sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/v2020_01_01_preview/models/_paged_models.py
  sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/v2020_01_01_preview/operations/__init__.py
  sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/v2020_01_01_preview/operations/_management_group_diagnostic_settings_operations.py
  sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/v2020_01_01_preview/version.py
Owners: @zikalino

fixing type error
  sdk/table/azure-table/azure/table/_shared/table_shared_access_signature.py
  sdk/table/azure-table/azure/table/_table_service_client.py
Owners: @mayurid, @lmazuel

editing samples/ fixing pylint
  sdk/table/azure-table/azure/table/__init__.py
  sdk/table/azure-table/azure/table/_table_service_client.py
  sdk/table/azure-table/samples/table_samples_authentication.py
Owners: @mayurid, @lmazuel

reformatted service client sampels
  sdk/table/azure-table/samples/table_samples_client.py
  sdk/table/azure-table/samples/table_samples_service.py
Owners: @mayurid, @lmazuel

improve error msg for encountering an error with no details
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
Owners: @mayurid, @lmazuel

added more official samples
  sdk/table/azure-table/samples/table_samples_client.py
Owners: @mayurid, @lmazuel

added in teh create and delete table in table client
  sdk/table/azure-table/azure/table/_table_client.py
  sdk/table/azure-table/samples/table_samples_client.py
Owners: @mayurid, @lmazuel

[text analytics] Improve thrown error for too many documents (#12390)
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment_async.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_detect_language.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_detect_language_async.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_extract_key_phrases.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_extract_key_phrases_async.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities_async.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities_async.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_detect_language.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_detect_language_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities_async.py
Owners: @mayurid, @lmazuel

[text analytics] Improve thrown error for too many documents (#12390)
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment_async.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_detect_language.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_detect_language_async.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_extract_key_phrases.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_extract_key_phrases_async.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities_async.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities_async.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_detect_language.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_detect_language_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities_async.py
Owners: @mayurid, @lmazuel

working on client samples
  sdk/table/azure-table/azure/table/_table_client.py
  sdk/table/azure-table/samples/table_samples_client.py
Owners: @mayurid, @lmazuel

Increment package version after release of azure_storage_blob
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
Owners: @mayurid, @lmazuel

linked README to samples
  sdk/table/azure-table/README.md
Owners: @mayurid, @lmazuel

edit compatible version Note: 12.4.0b1 < 12.4.0 so it's not taken as a compatible version
  sdk/storage/azure-storage-blob-changefeed/setup.py
  shared_requirements.txt
Owners: @mayurid, @lmazuel

[ChangeFeed]Update ChangeLog and Version (#12433)
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/__init__.py
  sdk/storage/azure-storage-blob-changefeed/samples/README.md
  sdk/storage/azure-storage-blob-changefeed/setup.py
  shared_requirements.txt
Owners: @mayurid, @lmazuel

[ChangeFeed]Update ChangeLog and Version (#12433)
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/__init__.py
  sdk/storage/azure-storage-blob-changefeed/samples/README.md
  sdk/storage/azure-storage-blob-changefeed/setup.py
  shared_requirements.txt
Owners: @mayurid, @lmazuel

TODO for return types
  sdk/table/azure-table/azure/table/_table_client.py
Owners: @mayurid, @lmazuel

changed query entity to get entity
  sdk/table/azure-table/azure/table/_table_client.py
  sdk/table/azure-table/samples/table_samples_client.py
  sdk/table/azure-table/tests/test_table_encryption.py
  sdk/table/azure-table/tests/test_table_entity.py
Owners: @mayurid, @lmazuel

Increment package version after release of azure_storage_blob_changefeed
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_version.py
  sdk/storage/azure-storage-blob-changefeed/setup.py
Owners: @mayurid, @lmazuel

edited README
  sdk/table/azure-table/README.md
  sdk/table/azure-table/azure/table/_models.py
  sdk/table/azure-table/samples/table_samples_authentication.py
  sdk/table/azure-table/samples/table_samples_client.py
Owners: @mayurid, @lmazuel

Fix the check to find if test folder is present
  scripts/devops_tasks/test_regression.py
Owners: none

fixed readme common uses
  sdk/table/azure-table/README.md
Owners: @mayurid, @lmazuel

Updated min dependency test version for azure-storage-blob to 12.3.1
  eng/tox/install_depend_packages.py
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

Update azure-storage-blob required version for datalake
  eng/tox/install_depend_packages.py
  sdk/storage/azure-storage-file-datalake/setup.py
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek, @mayurid, @lmazuel

add changelog for 0.2.0 (#12434)
  sdk/botservice/azure-mgmt-botservice/CHANGELOG.md
Owners: @zikalino

add changelog for 0.2.0 (#12434)
  sdk/botservice/azure-mgmt-botservice/CHANGELOG.md
Owners: @zikalino
