Repository Azure/azure-sdk-for-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mayurid, @lmazuel, @xiangyan99, @johanste, @rakshith91, @chlowell, @mccoyp, @schaabs, @annatisch, @yunhaoling, @swathipil, @amishra-dev, @zezha-msft, @xiafu-msft, @tasherif-msft, @kasobol-msft, @divya-jay, @geneh, @alongafni, @cRui861, @paterasMSFT, @dpwatrous, @gingi, @zfengms, @areddish, @turalf, @ankitarorabit, @memontic-ms, @Azure/azure-sdk-communication-code-reviewers, @alexeldeib, @hectorhdzg, @lzchen, @sandeepnl, @samkreter, @xizhamsft, @djyou, @zqingqing1, @GaneshaThirumurthi, @southpolesteve, @zfoster, @hvermis, @ro-joowan, @vchske, @idear1203, @shutchings, @DheerendraRathor, @QingChenmsft, @samedder, @jaredmoo, @aim-for-better, @Azure/azure-sdk-eng, @kristapratico, @iscai-msft, @abhahn, @seankane-msft, @naiteeks, @bennage, @giakas, @shurd, @00Kai0, @msyyc, @jsntcy, @changlong-liu, @weshaggard, @scbedd, @mitchdenny, @danieljurek

don't use images hosted on github
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Owners: @kristapratico, @iscai-msft

[Datalake] Added support for PurePosixPath (#16400)
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
Owners: @amishra-dev, @zezha-msft, @annatisch, @xiafu-msft, @tasherif-msft, @kasobol-msft

[Datalake] Added support for PurePosixPath (#16400)
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
Owners: @amishra-dev, @zezha-msft, @annatisch, @xiafu-msft, @tasherif-msft, @kasobol-msft

Add APIView KV variable group to prepare pipelines bot (#16451)
  eng/pipelines/prepare-pipelines.yml
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

Add APIView KV variable group to prepare pipelines bot (#16451)
  eng/pipelines/prepare-pipelines.yml
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

Copy job matrix functionality (#16450)
  eng/scripts/job-matrix/Create-JobMatrix.ps1
  eng/scripts/job-matrix/README.md
  eng/scripts/job-matrix/job-matrix-functions.filter.tests.ps1
  eng/scripts/job-matrix/job-matrix-functions.ps1
  eng/scripts/job-matrix/job-matrix-functions.tests.ps1
  eng/scripts/job-matrix/samples/matrix-test.yml
  eng/scripts/job-matrix/samples/matrix.json
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

Copy job matrix functionality (#16450)
  eng/scripts/job-matrix/Create-JobMatrix.ps1
  eng/scripts/job-matrix/README.md
  eng/scripts/job-matrix/job-matrix-functions.filter.tests.ps1
  eng/scripts/job-matrix/job-matrix-functions.ps1
  eng/scripts/job-matrix/job-matrix-functions.tests.ps1
  eng/scripts/job-matrix/samples/matrix-test.yml
  eng/scripts/job-matrix/samples/matrix.json
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

adding devtools to the appconfig dev_reqs to solve python core issue (#16381)
  sdk/appconfiguration/azure-appconfiguration/dev_requirements.txt
Owners: @xiangyan99

adding devtools to the appconfig dev_reqs to solve python core issue (#16381)
  sdk/appconfiguration/azure-appconfiguration/dev_requirements.txt
Owners: @xiangyan99

[text analytics] Expose 'string_index_type' parameter in all service client methods where applicable (#16412)
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_request_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare_async.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare_async.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment_async.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment_async.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities_async.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities_async.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities_async.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities_async.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities_async.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities_async.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
Owners: @kristapratico, @iscai-msft, @abhahn

[text analytics] Expose 'string_index_type' parameter in all service client methods where applicable (#16412)
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_request_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare_async.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare_async.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment_async.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment_async.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities_async.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities_async.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities_async.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities_async.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities_async.test_default_string_index_type_is_UnicodeCodePoint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities_async.test_explicit_set_string_index_type.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
Owners: @kristapratico, @iscai-msft, @abhahn

Use unique stage names for live tests (#16454)
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

adjusting sdk tests.yml files
  sdk/communication/tests.yml
  sdk/cosmos/tests.yml
  sdk/digitaltwins/tests.yml
  sdk/eventgrid/tests.yml
  sdk/formrecognizer/tests.yml
  sdk/identity/tests.yml
  sdk/metricsadvisor/tests.yml
  sdk/monitor/tests.yml
  sdk/schemaregistry/tests.yml
  sdk/search/tests.yml
  sdk/servicebus/tests.yml
  sdk/tables/tests.yml
  sdk/template/tests.yml
  sdk/textanalytics/tests.yml
Owners: @danieljurek

updates
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios.md
Owners: @lmazuel, @yunhaoling, @swathipil, @rakshith91

Update champion_scenarios.md
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios.md
Owners: @lmazuel, @yunhaoling, @swathipil, @rakshith91

update env variables
  scripts/devops_tasks/test_run_samples.py
  sdk/servicebus/azure-servicebus/samples/async_samples/client_identity_authentication_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/client_identity_authentication.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/generate_sas_token_and_authenticate_client.py
  sdk/servicebus/test-resources.json
Owners: @annatisch, @yunhaoling, @swathipil, @rakshith91

updates
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios.md
Owners: @lmazuel, @yunhaoling, @swathipil, @rakshith91

removing default test matrix params from jobs/archetype-sdk-tests.yml file
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

reverting last change
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

adding a step to pip install all the ci tools
  eng/pipelines/templates/jobs/publish-coverage.yml
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

ensure I pass the package as an array of length one, versus a string which can be treated as an array
  .gitignore
  build_package.py
  scripts/devops_tasks/build_packages.py
  scripts/devops_tasks/test_regression.py
Owners: none

undo a commit that was previously accidentally added to local master
  eng/tox/run_sphinx_apidoc.py
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

fixing up the storage file
  sdk/storage/tests_invoke.yml
Owners: @amishra-dev, @zezha-msft, @annatisch, @xiafu-msft, @tasherif-msft, @kasobol-msft

changing the storage tests.yml file
  sdk/storage/tests.yml
Owners: @danieljurek

application insights needs msrestazure and azure-core
  sdk/applicationinsights/azure-applicationinsights/dev_requirements.txt
Owners: @divya-jay, @geneh, @alongafni

resolve azure-common sdist/whl errors. resolve azure-loganalytics whl/sdist test failures.
  sdk/core/azure-common/dev_requirements.txt
  sdk/loganalytics/azure-loganalytics/dev_requirements.txt
Owners: @lmazuel, @xiangyan99, @johanste, @rakshith91, @alexeldeib

Put the regex in get-packageInfoFromPackageFile
  eng/scripts/Language-Settings.ps1
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

Resolve Regression Failures (#16455)
  .gitignore
  build_package.py
  scripts/devops_tasks/build_packages.py
  scripts/devops_tasks/test_regression.py
Owners: none

Resolve Regression Failures (#16455)
  .gitignore
  build_package.py
  scripts/devops_tasks/build_packages.py
  scripts/devops_tasks/test_regression.py
Owners: none

Fix DateTime bug
  eng/common/scripts/Prepare-Release.ps1
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

Fix DateTime bug (#16456)
  eng/common/scripts/Prepare-Release.ps1
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

Fix DateTime bug (#16456)
  eng/common/scripts/Prepare-Release.ps1
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

fix EH samples and docs
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/receive_events_using_checkpoint_store_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/receive_events_using_checkpoint_store_storage_api_version_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/receive_events_using_checkpoint_store.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/receive_events_using_checkpoint_store_storage_api_version.py
  sdk/eventhub/azure-eventhub/samples/async_samples/client_identity_authentication_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_checkpoint_by_event_count_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_checkpoint_by_time_interval_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_checkpoint_store_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_track_last_enqueued_event_prop.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_with_checkpoint_by_event_count.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_with_checkpoint_by_time_interval.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_with_checkpoint_store.py
Owners: @annatisch, @yunhaoling, @swathipil, @rakshith91

allow storagetestcase import failure
  tools/azure-sdk-tools/devtools_testutils/storage_testcase.py
Owners: none

not call get after create/update
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_administration_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/base_testcase.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/base_testcase_aad.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_hooks.py
Owners: @xiangyan99, @kristapratico

update access control package
  sdk/synapse/azure-synapse-accesscontrol/CHANGELOG.md
  sdk/synapse/azure-synapse-accesscontrol/azure/synapse/accesscontrol/_version.py
  sdk/synapse/azure-synapse-accesscontrol/azure/synapse/accesscontrol/aio/operations/_role_assignments_operations.py
  sdk/synapse/azure-synapse-accesscontrol/azure/synapse/accesscontrol/aio/operations/_role_definitions_operations.py
  sdk/synapse/azure-synapse-accesscontrol/azure/synapse/accesscontrol/operations/_role_assignments_operations.py
  sdk/synapse/azure-synapse-accesscontrol/azure/synapse/accesscontrol/operations/_role_definitions_operations.py
Owners: @aim-for-better, @idear1203

update vnet
  sdk/synapse/azure-synapse-managedprivateendpoints/CHANGELOG.md
  sdk/synapse/azure-synapse-managedprivateendpoints/azure/synapse/managedprivateendpoints/_version.py
Owners: @aim-for-better, @idear1203

need azure-sdk-tools to be present to run tests successfully
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
  sdk/identity/azure-identity/setup.py
  sdk/machinelearning/azure-mgmt-machinelearningservices/dev_requirements.txt
Owners: @kristapratico, @iscai-msft, @chlowell, @mccoyp, @schaabs, @00Kai0, @msyyc, @jsntcy, @changlong-liu

Aligning with other similar work for Analyze
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_async_lro.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_lro.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers_async.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
Owners: @kristapratico, @iscai-msft, @abhahn

update pinned
  shared_requirements.txt
Owners: none

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @mayurid @lmazuel

# Core
# PRLabel: %Azure.Core
/sdk/core/                                                           @lmazuel @xiangyan99 @johanste @rakshith91
/sdk/core/azure-core/                                                @xiangyan99 @lmazuel

####
# Service team
####
# PRLabel: %Azure.Identity
/sdk/identity/                                                       @chlowell @mccoyp @schaabs

# PRLabel: %Event Hubs
/sdk/eventhub/                                                       @annatisch @yunhaoling @swathipil @rakshith91

# PRLabel: %Storage
/sdk/storage/                                                        @amishra-dev @zezha-msft @annatisch @xiafu-msft @tasherif-msft @kasobol-msft

# PRLabel: %App Configuration
/sdk/appconfiguration/                                               @xiangyan99

/sdk/applicationinsights/azure-applicationinsights/                  @divya-jay @geneh @alongafni
/sdk/loganalytics/azure-loganalytics/                                @divya-jay @geneh @alongafni

# PRLabel: %Batch
/sdk/batch/                                                          @cRui861 @paterasMSFT @dpwatrous @gingi @zfengms
/sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/  @areddish

# PRLabel: %Communication
/sdk/communication/                                                  @turalf @ankitarorabit @memontic-ms @Azure/azure-sdk-communication-code-reviewers

# PRLabel: %KeyVault
/sdk/keyvault/                                                       @schaabs @chlowell @mccoyp

# PRLabel: %Monitor - LogAnalytics
/sdk/loganalytics/                                                   @alexeldeib

# PRLabel: %Monitor - Exporter
/sdk/monitor/azure-opentelemetry-exporter-azuremonitor               @rakshith91 @lmazuel @hectorhdzg @lzchen

# PRLabel: %Consumption
/sdk/consumption/                                                    @sandeepnl

# PRLabel: %Container Instances
/sdk/containerinstance/                                              @samkreter @xizhamsft

# PRLabel: %Container Registry
/sdk/containerregistry/                                              @djyou
/sdk/containerservice/                                               @samkreter @zqingqing1 @GaneshaThirumurthi

# PRLabel: %Cosmos
/sdk/cosmos/                                                         @southpolesteve @zfoster

# PRLabel: %Data Factory
/sdk/datafactory/                                                    @hvermis
/sdk/datalake/                                                       @ro-joowan
/sdk/datadatamigration/                                              @vchske

# PRLabel: %Event Grid
/sdk/eventgrid/                                                      @lmazuel @yunhaoling @swathipil @rakshith91

# PRLabel: %HDInsight
/sdk/hdinsight/                                                      @idear1203

# PRLabel: %Machine Learning Compute
/sdk/machinelearningcompute/                                         @shutchings

# PRLabel: %Recovery Services
/sdk/recoveryservices/                                               @DheerendraRathor

# PRLabel: %Schema Registry
/sdk/schemaregistry/                                                 @yunhaoling

# PRLabel: %Search
/sdk/search/                                                         @xiangyan99

# PRLabel: %Service Fabric
/sdk/servicefabric/                                                  @QingChenmsft @samedder

# PRLabel: %SQL
/sql/sql/                                                            @jaredmoo

# PRLabel: %Service Bus
/sdk/servicebus/                                                     @annatisch @yunhaoling @swathipil @rakshith91

# PRLabel: %Synapse
/sdk/synapse/                                                        @aim-for-better @idear1203

# PRLabel: %EngSys
/sdk/template/                                                       @Azure/azure-sdk-eng

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/                                                  @kristapratico @iscai-msft @abhahn

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/                                                 @kristapratico @iscai-msft

# PRLabel: %Cognitive - Metrics Advisor
/sdk/metricsadvisor/                                                 @xiangyan99 @kristapratico

# PRLabel: %Tables
/sdk/tables/                                                         @seankane-msft

# PRLabel: %Media
/sdk/media/                                                          @naiteeks @bennage @giakas

# Smoke Tests
/common/smoketest/                                                   @lmazuel @chlowell @annatisch @rakshith91 @shurd @southpolesteve

# Management Plane
/**/*mgmt*/     @00Kai0 @msyyc @jsntcy @changlong-liu


###########
# Eng Sys
###########
/eng/           @weshaggard @scbedd @mitchdenny @danieljurek
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny
