Repository Azure/azure-sdk-for-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lmazuel, @annatisch, @matthchr, @schaabs, @AlexanderYukhanov, @tjprescott, @sandeepnl, @yolo3301, @xizhamsft, @djyou, @dmakwana, @hvermis, @ro-joowan, @kalyanaj, @shutchings, @dragonfly91, @QingChenmsft, @jaredmoo, @yugangw-msft, @samedder

Generated from 4998b655a16e04e81e5ce111b67719247dae418d
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/__init__.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/client.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/__init__.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/client_enums.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/error.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/error_details_item.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_account.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_account_create_parameters.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_account_keys.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_account_paged.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_account_update_parameters.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_accounts_move_request.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_key_specification.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_operations_value_item.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_operations_value_item_display.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/location_based_services_operations_value_item_paged.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/resource.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/models/sku.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/operations/__init__.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/operations/accounts_operations.py
  azure-mgmt-locationbasedservices/azure/mgmt/locationbasedservices/version.py
Owners: @lmazuel

updating version incorrectly generated by autorest automation
  azure-keyvault/azure/keyvault/version.py
Owners: @schaabs

Generated from eb292024b547ba2920c6cbe2231e8ee44a2c71ef
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/sb_queue.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/disaster_recovery_configs_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/event_hubs_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/namespaces_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/premium_messaging_regions_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/queues_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/regions_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/rules_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/subscriptions_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/topics_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/version.py
Owners: @lmazuel

Generated from 3919ecd69e5a6afe0d5e90ce47304617fc557243
  azure-mgmt-subscription/azure/mgmt/subscription/models/error_response.py
  azure-mgmt-subscription/azure/mgmt/subscription/models/location.py
  azure-mgmt-subscription/azure/mgmt/subscription/models/operation.py
  azure-mgmt-subscription/azure/mgmt/subscription/models/operation_display.py
  azure-mgmt-subscription/azure/mgmt/subscription/models/subscription.py
  azure-mgmt-subscription/azure/mgmt/subscription/models/subscription_definition.py
  azure-mgmt-subscription/azure/mgmt/subscription/models/subscription_policies.py
  azure-mgmt-subscription/azure/mgmt/subscription/models/tenant_id_description.py
  azure-mgmt-subscription/azure/mgmt/subscription/operations/subscription_definitions_operation_metadata_operations.py
  azure-mgmt-subscription/azure/mgmt/subscription/operations/subscription_definitions_operations.py
  azure-mgmt-subscription/azure/mgmt/subscription/operations/subscriptions_operations.py
  azure-mgmt-subscription/azure/mgmt/subscription/operations/tenants_operations.py
  azure-mgmt-subscription/azure/mgmt/subscription/version.py
  azure-mgmt-subscription/build.json
Owners: @lmazuel

Generated from 8b4120925b6cc1e56c84c84b5a8e11e4b1937edd
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/favorites_operations.py
Owners: @lmazuel

Generated from d2120e21ed90c81cfc47b30f813b1f3c0356e3ec
  azure-mgmt-sql/azure/mgmt/sql/models/database_operation.py
Owners: @jaredmoo

Generated from 19a919bf672d87a12c21d5af83ed15491248ce73
  azure-mgmt-subscription/build.json
Owners: @lmazuel

Generated from d799d741dc4e103488965b0f53b7d541e5563e47
  azure-mgmt-subscription/build.json
Owners: @lmazuel

Generated from 7e4c0c66c967154465f74ee7fd2a0e31427878fa
  azure-mgmt-batchai/azure/mgmt/batchai/batch_ai_management_client.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/__init__.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/app_insights_destination.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/azure_blob_file_system_reference.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/azure_file_share_reference.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/data_disks.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/environment_variable.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/environment_variable_with_secret_value.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/file.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/file_server_reference.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/image_reference.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/input_directory.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/job.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/job_create_parameters.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/jobs_list_output_files_options.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/node_setup.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/output_directory.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/performance_counters_settings.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/py_torch_settings.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/setup_task.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/tensor_flow_settings.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/unmanaged_file_system_reference.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/usage.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/usage_name.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/usage_paged.py
  azure-mgmt-batchai/azure/mgmt/batchai/operations/clusters_operations.py
  azure-mgmt-batchai/azure/mgmt/batchai/operations/file_servers_operations.py
  azure-mgmt-batchai/azure/mgmt/batchai/operations/jobs_operations.py
  azure-mgmt-batchai/azure/mgmt/batchai/operations/usage_operations.py
  azure-mgmt-batchai/azure/mgmt/batchai/version.py
Owners: @AlexanderYukhanov

Generated from adccbe159e32ef8112a0aadccc07d3c6c5390d11
  azure-mgmt-redis/azure/mgmt/redis/models/__init__.py
  azure-mgmt-redis/azure/mgmt/redis/models/check_name_availability_parameters.py
  azure-mgmt-redis/azure/mgmt/redis/models/notification_list_response.py
  azure-mgmt-redis/azure/mgmt/redis/models/upgrade_notification.py
  azure-mgmt-redis/azure/mgmt/redis/operations/firewall_rules_operations.py
  azure-mgmt-redis/azure/mgmt/redis/operations/linked_server_operations.py
  azure-mgmt-redis/azure/mgmt/redis/operations/operations.py
  azure-mgmt-redis/azure/mgmt/redis/operations/patch_schedules_operations.py
  azure-mgmt-redis/azure/mgmt/redis/operations/redis_operations.py
Owners: @lmazuel

Generated from eb292024b547ba2920c6cbe2231e8ee44a2c71ef (#2049)
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/sb_queue.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/disaster_recovery_configs_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/event_hubs_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/namespaces_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/premium_messaging_regions_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/queues_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/regions_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/rules_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/subscriptions_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/topics_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/version.py
Owners: @lmazuel

Generated from 5d44b158825f15b16e6d62afaf5a392a8c872412
  azure-mgmt-subscription/build.json
Owners: @lmazuel

Generated from 5f2f2594d86d491f66a9baa806aeb20445a83861
  azure-mgmt-keyvault/azure/mgmt/keyvault/__init__.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/key_vault_management_client.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/__init__.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/access_policy_entry.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/check_name_availability_result.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/deleted_vault_paged.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/deleted_vault_properties.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/key_vault_management_client_enums.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/log_specification.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/operation.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/operation_display.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/operation_paged.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/permissions.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/resource.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/service_specification.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_access_policy_parameters.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_access_policy_properties.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_check_name_availability_parameters.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_paged.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_patch_parameters.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_patch_properties.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/operations/__init__.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/operations/operations.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/operations/vaults_operations.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/version.py
Owners: @schaabs

Generated from 55e64b92fb810633a0a1b918c6c4cc234b9e9ea7
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/policy_event.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/policy_state.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/operations/policy_events_operations.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/operations/policy_states_operations.py
Owners: @lmazuel

Generated from 6e3896425092f522757629ee3ff15a41a56ce52f
  azure-keyvault/build.json
Owners: @schaabs

Generated from 924cff85d379efd97d4fa92f47a65cfe7dfcdac4
  azure-keyvault/build.json
Owners: @schaabs

Generated from 924cff85d379efd97d4fa92f47a65cfe7dfcdac4
  azure-keyvault/build.json
Owners: @schaabs

azure-mgmt-rdbms 0.3.0
  azure-mgmt-rdbms/HISTORY.rst
  azure-mgmt-rdbms/README.rst
  azure-mgmt-rdbms/azure/mgmt/rdbms/version.py
  azure-mgmt-rdbms/setup.py
Owners: @lmazuel

Generated from 9f7596678ca7d381fcd4ce9f87101541e0693bcc
  azure-mgmt-batchai/azure/mgmt/batchai/models/__init__.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/app_insights_reference.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/file_server_create_parameters.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/performance_counters_settings.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/setup_task.py
  azure-mgmt-batchai/azure/mgmt/batchai/models/ssh_configuration.py
Owners: @AlexanderYukhanov

Makes dev_setup.py script more portable
  scripts/dev_setup.py
Owners: @lmazuel

Removes unused exec_command function
  scripts/dev_setup.py
Owners: @lmazuel

Generated from 00ffb2040dfb1d813a1780159b322c53cd2efb30
  azure-mgmt-web/azure/mgmt/web/models/__init__.py
  azure-mgmt-web/azure/mgmt/web/models/recommendation.py
  azure-mgmt-web/azure/mgmt/web/models/recommendation_paged.py
  azure-mgmt-web/azure/mgmt/web/models/recommendation_rule.py
  azure-mgmt-web/azure/mgmt/web/operations/recommendations_operations.py
Owners: @yugangw-msft

Generated from 38e4303e047f81ab46e00d32d6356c4db74ddce1
  azure-mgmt-web/azure/mgmt/web/version.py
Owners: @yugangw-msft

Generated from 38e4303e047f81ab46e00d32d6356c4db74ddce1 (#2064)
  azure-mgmt-web/azure/mgmt/web/version.py
Owners: @yugangw-msft

Generated from 1ba9bdbb824b8a27a9168a60419af637d043fe7a
  azure-mgmt-marketplaceordering/azure/mgmt/marketplaceordering/operations/marketplace_agreements_operations.py
  azure-mgmt-marketplaceordering/azure/mgmt/marketplaceordering/operations/operations.py
Owners: @lmazuel

rebasing autorest generated changes from 7.0-preview to keyvault_1.0_preview
  azure-keyvault/azure/keyvault/key_vault_client.py
  azure-keyvault/azure/keyvault/models/__init__.py
  azure-keyvault/azure/keyvault/models/backup_storage_result.py
  azure-keyvault/azure/keyvault/models/deleted_sas_definition_bundle.py
  azure-keyvault/azure/keyvault/models/deleted_sas_definition_item.py
  azure-keyvault/azure/keyvault/models/deleted_sas_definition_item_paged.py
  azure-keyvault/azure/keyvault/models/deleted_storage_account_item.py
  azure-keyvault/azure/keyvault/models/deleted_storage_account_item_paged.py
  azure-keyvault/azure/keyvault/models/deleted_storage_bundle.py
  azure-keyvault/azure/keyvault/models/sas_definition_attributes.py
  azure-keyvault/azure/keyvault/models/storage_account_attributes.py
  azure-keyvault/azure/keyvault/models/storage_restore_parameters.py
  azure-keyvault/azure/keyvault/models/x509_certificate_properties.py
  azure-keyvault/azure/keyvault/version.py
Owners: @schaabs

rebasing autorest generated changes from 7.0-preview to keyvault_1.0_preview
  azure-keyvault/azure/keyvault/key_vault_client.py
  azure-keyvault/azure/keyvault/models/__init__.py
  azure-keyvault/azure/keyvault/models/backup_storage_result.py
  azure-keyvault/azure/keyvault/models/deleted_sas_definition_bundle.py
  azure-keyvault/azure/keyvault/models/deleted_sas_definition_item.py
  azure-keyvault/azure/keyvault/models/deleted_sas_definition_item_paged.py
  azure-keyvault/azure/keyvault/models/deleted_storage_account_item.py
  azure-keyvault/azure/keyvault/models/deleted_storage_account_item_paged.py
  azure-keyvault/azure/keyvault/models/deleted_storage_bundle.py
  azure-keyvault/azure/keyvault/models/sas_definition_attributes.py
  azure-keyvault/azure/keyvault/models/storage_account_attributes.py
  azure-keyvault/azure/keyvault/models/storage_restore_parameters.py
  azure-keyvault/azure/keyvault/models/x509_certificate_properties.py
  azure-keyvault/azure/keyvault/version.py
Owners: @schaabs

Generated from a01973b3be2e1a8c0fd6a05e3d3472cd37a99c98
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/__init__.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/operations/__init__.py
  azure-mgmt-policyinsights/azure/mgmt/policyinsights/policy_insights_client.py
Owners: @lmazuel

Generated from b77dc9e7e900bfce004620798e8d3bd7dde767d8
  azure-mgmt-compute/azure/mgmt/compute/v2017_12_01/models/image_storage_profile.py
Owners: @lmazuel

Generated from 931a5a30f309919b8eba2ce4978bcb2e00927db2
  azure-mgmt-subscription/build.json
Owners: @lmazuel

Generated from 8ce13a4def5487be5a84c8564f821587f781d60e
  azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/models/__init__.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/models/server.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/models/server_properties_for_replica.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/models/server_update_parameters.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/my_sql_management_client.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/operations/__init__.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/operations/check_name_availability_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/operations/configurations_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/operations/databases_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/operations/firewall_rules_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/operations/log_files_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/operations/operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/operations/replicas_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/operations/servers_operations.py
Owners: @lmazuel

setup: update version
  setup.py
Owners: @lmazuel

Makes dev_setup.py script more portable (#2062)
  scripts/dev_setup.py
Owners: @lmazuel

Makes dev_setup.py script more portable (#2062)
  scripts/dev_setup.py
Owners: @lmazuel

Generated from 00ffb2040dfb1d813a1780159b322c53cd2efb30
  azure-mgmt-web/azure/mgmt/web/version.py
Owners: @yugangw-msft

Generated from ad02392f285b4aedca50ac0f020cf7c4b93200f3 (#2015)
  azure-mgmt-billing/azure/mgmt/billing/__init__.py
  azure-mgmt-billing/azure/mgmt/billing/billing_management_client.py
  azure-mgmt-billing/azure/mgmt/billing/models/__init__.py
  azure-mgmt-billing/azure/mgmt/billing/models/billing_account_list_result.py
  azure-mgmt-billing/azure/mgmt/billing/models/billing_account_result.py
  azure-mgmt-billing/azure/mgmt/billing/models/billing_period_paged.py
  azure-mgmt-billing/azure/mgmt/billing/models/error_details.py
  azure-mgmt-billing/azure/mgmt/billing/models/error_response.py
  azure-mgmt-billing/azure/mgmt/billing/models/invoice.py
  azure-mgmt-billing/azure/mgmt/billing/models/invoice_paged.py
  azure-mgmt-billing/azure/mgmt/billing/models/operation.py
  azure-mgmt-billing/azure/mgmt/billing/models/operation_display.py
  azure-mgmt-billing/azure/mgmt/billing/models/operation_paged.py
  azure-mgmt-billing/azure/mgmt/billing/models/resource.py
  azure-mgmt-billing/azure/mgmt/billing/operations/__init__.py
  azure-mgmt-billing/azure/mgmt/billing/operations/billing_accounts_operations.py
  azure-mgmt-billing/azure/mgmt/billing/operations/billing_periods_operations.py
  azure-mgmt-billing/azure/mgmt/billing/operations/invoices_operations.py
  azure-mgmt-billing/azure/mgmt/billing/operations/operations.py
  azure-mgmt-billing/azure/mgmt/billing/version.py
Owners: @lmazuel

Fix double azure-common install that breaks bdist_wheel
  setup.py
Owners: @lmazuel

Fix double azure-common install that breaks bdist_wheel
  setup.py
Owners: @lmazuel

[AutoPR web/resource-manager] Fix recommendation resource properties, add disable recommendation APIs (#2063)
  azure-mgmt-web/azure/mgmt/web/models/__init__.py
  azure-mgmt-web/azure/mgmt/web/models/recommendation.py
  azure-mgmt-web/azure/mgmt/web/models/recommendation_paged.py
  azure-mgmt-web/azure/mgmt/web/models/recommendation_rule.py
  azure-mgmt-web/azure/mgmt/web/operations/recommendations_operations.py
Owners: @yugangw-msft

Generated from 38e4303e047f81ab46e00d32d6356c4db74ddce1 (#2064)
  azure-mgmt-web/azure/mgmt/web/version.py
Owners: @yugangw-msft

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

* @lmazuel

/azure-batch/ @annatisch @matthchr
/azure-keyvault/ @schaabs
/azure-mgmt-batch/ @annatisch @matthchr
/azure-mgmt-batchai/ @AlexanderYukhanov
/azure-mgmt-cdn/ @tjprescott
/azure-mgmt-consumption/ @sandeepnl
/azure-mgmt-containerinstance/ @yolo3301 @xizhamsft
/azure-mgmt-containerregistry/ @djyou 
/azure-mgmt-cosmosdb/ @dmakwana
/azure-mgmt-datafactory/ @hvermis
/azure-mgmt-datalake-analytics/ @ro-joowan
/azure-mgmt-datalake-store/ @ro-joowan
/azure-mgmt-eventgrid/ @kalyanaj
/azure-mgmt-keyvault/ @schaabs
/azure-mgmt-machinelearningcompute/ @shutchings
/azure-mgmt-recoveryservicesbackup/ @dragonfly91
/azure-mgmt-servicefabric/ @QingChenmsft
/azure-mgmt-sql/ @jaredmoo
/azure-mgmt-web/ @yugangw-msft
/azure-servicefabric/ @samedder
