Repository Azure/azure-sdk-for-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mayurid, @lmazuel, @xiangyan99, @alexeldeib, @areddish, @samkreter, @zqingqing1, @GaneshaThirumurthi, @ro-joowan, @vchske, @chlowell, @annatisch, @rakshith91, @shurd, @southpolesteve, @zikalino, @weshaggard, @scbedd, @mitchdenny, @danieljurek

Sync eng/common directory with azure-sdk-tools repository
  eng/common/scripts/Verify-ChangeLog.ps1
  eng/common/scripts/modules/Package-Properties.psm1
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

add better example
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_opinion_mining.py
Owners: @mayurid, @lmazuel

Support params as list for exploding parameters
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/tests/test_pipeline.py
Owners: @xiangyan99, @lmazuel

revert "mark a large file test playback only" skip upload large file test address comment
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_models.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_large_file.test_upload_large_stream_without_network.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_large_file.py
Owners: @mayurid, @lmazuel

Increment package version after release of azure_ai_formrecognizer
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Owners: @mayurid, @lmazuel

move tag permission and filter_by_tags permission to kwargs
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/models.py
Owners: @mayurid, @lmazuel

Increment package version after release of azure_ai_formrecognizer (#12421)
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Owners: @mayurid, @lmazuel

Increment package version after release of azure_ai_formrecognizer (#12421)
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Owners: @mayurid, @lmazuel

[Cosmos] Remove Lazy Indexing Mode (#12270)
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
Owners: @mayurid, @lmazuel

[Cosmos] Remove Lazy Indexing Mode (#12270)
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
Owners: @mayurid, @lmazuel

update
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
Owners: @xiangyan99, @lmazuel

[Storage][STG73]ChangeLog
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Owners: @mayurid, @lmazuel

ChangeFeed ChangeLog
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/__init__.py
  sdk/storage/azure-storage-blob-changefeed/setup.py
Owners: @mayurid, @lmazuel

update shared_requirements
  shared_requirements.txt
Owners: none

raise value error if parameters have none
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/tests/test_pipeline.py
Owners: @xiangyan99, @lmazuel

Sync eng/common directory with azure-sdk-tools repository (#12409)
  eng/common/scripts/Verify-ChangeLog.ps1
  eng/common/scripts/modules/Package-Properties.psm1
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

Sync eng/common directory with azure-sdk-tools repository (#12409)
  eng/common/scripts/Verify-ChangeLog.ps1
  eng/common/scripts/modules/Package-Properties.psm1
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

copying sdk-tools changes
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

update
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/tests/test_pipeline.py
Owners: @xiangyan99, @lmazuel

update
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
Owners: @xiangyan99, @lmazuel

update template version for easier test. rig up a test for the resolver
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/pipelines/templates/stages/archetype-python-release.yml
  sdk/template/azure-template/CHANGELOG.md
  sdk/template/azure-template/azure/template/_version.py
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek, @mayurid, @lmazuel

[Storage][STG73]ChangeLog
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/__init__.py
  sdk/storage/azure-storage-blob-changefeed/setup.py
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  shared_requirements.txt
Owners: @mayurid, @lmazuel

update powershell var names
  eng/pipelines/templates/stages/archetype-python-release.yml
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

update ChangeLog except for changefeed
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Owners: @mayurid, @lmazuel

Increment package version after release of azure_template
  sdk/template/azure-template/CHANGELOG.md
  sdk/template/azure-template/azure/template/_version.py
  sdk/template/azure-template/setup.py
Owners: @mayurid, @lmazuel

fix typo
  sdk/storage/azure-storage-blob/CHANGELOG.md
Owners: @mayurid, @lmazuel

clean up resources / fix changelog
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/pipelines/templates/steps/set-dev-build.yml
  sdk/containerregistry/azure-mgmt-containerregistry/CHANGELOG.md
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek, @zikalino

Support params as list for exploding parameters (#12420)
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/tests/test_pipeline.py
Owners: @xiangyan99, @lmazuel

Support params as list for exploding parameters (#12420)
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/tests/test_pipeline.py
Owners: @xiangyan99, @lmazuel

update ChangeLog except for changefeed (#12430)
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Owners: @mayurid, @lmazuel

update ChangeLog except for changefeed (#12430)
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Owners: @mayurid, @lmazuel

[ChangeFeed]Update ChangeLog and Version
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/__init__.py
  sdk/storage/azure-storage-blob-changefeed/samples/README.md
  sdk/storage/azure-storage-blob-changefeed/setup.py
  shared_requirements.txt
Owners: @mayurid, @lmazuel

add changelog for 0.2.0
  sdk/botservice/azure-mgmt-botservice/CHANGELOG.md
Owners: @zikalino

Generated from 4d16c35f456a5f46b438b5247312a858210834ba
  sdk/azure-mgmt-securityinsight/CHANGELOG.md
  sdk/azure-mgmt-securityinsight/MANIFEST.in
  sdk/azure-mgmt-securityinsight/README.md
  sdk/azure-mgmt-securityinsight/azure/__init__.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/__init__.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/__init__.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/_configuration.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/_security_insights.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/__init__.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/_models.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/_models_py3.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/_paged_models.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/_security_insights_enums.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/operations/__init__.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/operations/_actions_operations.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/operations/_alert_rule_templates_operations.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/operations/_alert_rules_operations.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/operations/_bookmarks_operations.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/operations/_data_connectors_operations.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/operations/_incident_comments_operations.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/operations/_incidents_operations.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/operations/_operations.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/version.py
  sdk/azure-mgmt-securityinsight/sdk_packaging.toml
  sdk/azure-mgmt-securityinsight/setup.cfg
  sdk/azure-mgmt-securityinsight/setup.py
Owners: @zikalino

add missing simple tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_samples.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_samples_async.py
Owners: @mayurid, @lmazuel

Revert "reenable changelog verification (#12388)"
  eng/pipelines/templates/stages/archetype-python-release.yml
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

Revert "reenable changelog verification (#12388)" (#12437)
  eng/pipelines/templates/stages/archetype-python-release.yml
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

Revert "reenable changelog verification (#12388)" (#12437)
  eng/pipelines/templates/stages/archetype-python-release.yml
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

Increment package version after release of azure_storage_file_share
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
Owners: @mayurid, @lmazuel

Increment package version after release of azure_storage_file_datalake
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
Owners: @mayurid, @lmazuel

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @mayurid @lmazuel

# Core
/sdk/core/                                                           @lmazuel @xiangyan99 @johanste @rakshith91                     %Azure.Core
/sdk/core/azure-core/                                                @xiangyan99 @lmazuel

# Service team
/sdk/identity/                                                       @chlowell @schaabs                                             %Azure.Identity
/sdk/eventhub/                                                       @annatisch @yunhaoling @YijunXieMS                             %Event Hubs
/sdk/storage/                                                        @amishra-dev @zezha-msft @annatisch @rakshith91 @xiafu-msft    %Storage
/sdk/applicationinsights/                                            @alexeldeib      
/sdk/batch/                                                          @bgklein @xingwu1                                              %Batch
/sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/  @areddish          
/sdk/keyvault/                                                       @schaabs @chlowell @iscai-msft                                 %KeyVault
/sdk/loganalytics/                                                   @alexeldeib                                                    %Monitor - LogAnalytics
/sdk/consumption/                                                    @sandeepnl                                                     %Consumption
/sdk/containerinstance/                                              @samkreter @xizhamsft                                          %Container Instances
/sdk/containerregistry/                                              @djyou                                                         %Container Registry
/sdk/containerservice/                                               @samkreter @zqingqing1 @GaneshaThirumurthi
/sdk/cosmos/                                                         @southpolesteve @zfoster                                       %Cosmos
/sdk/datafactory/                                                    @hvermis                                                       %Data Factory
/sdk/datalake/                                                       @ro-joowan                                                     
/sdk/datadatamigration/                                              @vchske
/sdk/eventgrid/                                                      @kalyanaj                                                      %Event Grid
/sdk/hdinsight/                                                      @idear1203                                                     %HDInsight
/sdk/machinelearningcompute/                                         @shutchings                                                    %Machine Learning Compute
/sdk/recoveryservices/                                               @DheerendraRathor                                              %Recovery Services
/sdk/search/                                                         @xiangyan99 @rakshith91                                        %Search
/sdk/servicefabric/                                                  @QingChenmsft @samedder                                        %Service Fabric
/sql/sql/                                                            @jaredmoo                                                      %SQL
/sdk/servicebus/                                                     @annatisch @yunhaoling @YijunXieMS @KieranBrantnerMagee        %Service Bus
/sdk/synapse/                                                        @aim-for-better @idear1203                                     %Synapse
/sdk/textanalytics/                                                  @kristapratico @iscai-msft                                     %Cognitive - Text Analytics
/sdk/formrecognizer/                                                 @kristapratico @iscai-msft @rakshith91                         %Cognitive - Form Recognizer

# Smoke Tests
/common/smoketest/                                                   @lmazuel @chlowell @annatisch @rakshith91 @shurd @southpolesteve

# Management Plane
/**/*mgmt*/     @zikalino

###########
# Eng Sys
###########
/eng/           @weshaggard @scbedd @mitchdenny @danieljurek
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny
