Repository Azure/azure-sdk-for-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lmazuel, @annatisch, @matthchr, @schaabs, @AlexanderYukhanov, @tjprescott, @sandeepnl, @yolo3301, @xizhamsft, @djyou, @dmakwana, @hvermis, @ro-joowan, @kalyanaj, @shutchings, @dragonfly91, @QingChenmsft, @jaredmoo, @yugangw-msft, @samedder

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

* @lmazuel

/azure-batch/ @annatisch @matthchr
/azure-keyvault/ @schaabs
/azure-mgmt-batch/ @annatisch @matthchr
/azure-mgmt-batchai/ @AlexanderYukhanov
/azure-mgmt-cdn/ @tjprescott
/azure-mgmt-consumption/ @sandeepnl
/azure-mgmt-containerinstance/ @yolo3301 @xizhamsft
/azure-mgmt-containerregistry/ @djyou 
/azure-mgmt-cosmosdb/ @dmakwana
/azure-mgmt-datafactory/ @hvermis
/azure-mgmt-datalake-analytics/ @ro-joowan
/azure-mgmt-datalake-store/ @ro-joowan
/azure-mgmt-eventgrid/ @kalyanaj
/azure-mgmt-keyvault/ @schaabs
/azure-mgmt-machinelearningcompute/ @shutchings
/azure-mgmt-recoveryservicesbackup/ @dragonfly91
/azure-mgmt-servicefabric/ @QingChenmsft
/azure-mgmt-sql/ @jaredmoo
/azure-mgmt-web/ @yugangw-msft
/azure-servicefabric/ @samedder

ADF 0.5.0 ChangeLog
  azure-mgmt-datafactory/HISTORY.rst
Owners: @hvermis

ADF 0.5.0 ChangeLog
  azure-mgmt-datafactory/HISTORY.rst
Owners: @hvermis

Updating the version for ADF to 0.5.0
  azure-mgmt-datafactory/azure/mgmt/datafactory/version.py
Owners: @hvermis

ADF after https://github.com/Azure/azure-rest-api-specs/pull/2473
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/azure_batch_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/azure_data_lake_analytics_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/azure_ml_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/azure_sql_dw_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/copy_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/data_factory_management_client_enums.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/google_big_query_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/hd_insight_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/hd_insight_on_demand_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/hive_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/integration_runtime_custom_setup_script_properties.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/integration_runtime_ssis_properties.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/integration_runtime_status.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_integration_runtime.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_integration_runtime_key.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_integration_runtime_properties.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_integration_runtime_rbac.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/managed_integration_runtime_status.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/netezza_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/netezza_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/netezza_table_dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/sap_ecc_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/sap_ecc_resource_dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/sap_ecc_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/self_hosted_integration_runtime.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/self_hosted_integration_runtime_status.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/vertica_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/vertica_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/vertica_table_dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/web_basic_authentication.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/web_client_certificate_authentication.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/version.py
Owners: @hvermis

ADF after https://github.com/Azure/azure-rest-api-specs/pull/2473
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/azure_batch_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/azure_data_lake_analytics_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/azure_ml_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/azure_sql_dw_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/copy_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/data_factory_management_client_enums.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/google_big_query_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/hd_insight_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/hd_insight_on_demand_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/hive_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/integration_runtime_custom_setup_script_properties.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/integration_runtime_ssis_properties.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/integration_runtime_status.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_integration_runtime.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_integration_runtime_key.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_integration_runtime_properties.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_integration_runtime_rbac.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/managed_integration_runtime_status.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/netezza_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/netezza_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/netezza_table_dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/sap_ecc_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/sap_ecc_resource_dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/sap_ecc_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/self_hosted_integration_runtime.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/self_hosted_integration_runtime_status.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/vertica_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/vertica_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/vertica_table_dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/web_basic_authentication.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/web_client_certificate_authentication.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/version.py
Owners: @hvermis

Update ADF packaging
  azure-mgmt-datafactory/README.rst
  azure-mgmt-datafactory/setup.py
Owners: @hvermis

Update ADF packaging
  azure-mgmt-datafactory/README.rst
  azure-mgmt-datafactory/setup.py
Owners: @hvermis

Updating the version for ADF to 0.5.0
  azure-mgmt-datafactory/azure/mgmt/datafactory/version.py
Owners: @hvermis

Generated from 391d68f417b579dc5c36fc72fa5be8058b2db8ab
  azure-mgmt-monitor/azure/mgmt/monitor/version.py
Owners: @lmazuel

Generated from 8383245ef90d11325cbc1e440c3e749ac91ee6ce
  azure-mgmt-cdn/azure/mgmt/cdn/cdn_management_client.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/custom_domains_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/edge_nodes_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/endpoints_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/origins_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/profiles_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/resource_usage_operations.py
Owners: @tjprescott

Generated from 2db35f5ed880e50231afcd4c30f2fbfe81b18b11
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/data_factory_management_client_enums.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/pipeline_resource.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/web_activity.py
Owners: @hvermis

Added Docker instructions and fixed Dockerfile (#18)
  Dockerfile
  README.md
  examples/Dockerfile
Owners: @lmazuel

Generated from 2db35f5ed880e50231afcd4c30f2fbfe81b18b11
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/copy_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/google_big_query_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/netezza_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/netezza_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/netezza_table_dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/vertica_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/vertica_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/vertica_table_dataset.py
Owners: @hvermis

Generated from 282617e562ce86949c550d7aaf5e10fb86552272
  azure-graphrbac/azure/graphrbac/models/key_credential.py
  azure-graphrbac/azure/graphrbac/operations/applications_operations.py
  azure-graphrbac/azure/graphrbac/operations/domains_operations.py
  azure-graphrbac/azure/graphrbac/operations/groups_operations.py
  azure-graphrbac/azure/graphrbac/operations/objects_operations.py
  azure-graphrbac/azure/graphrbac/operations/service_principals_operations.py
  azure-graphrbac/azure/graphrbac/operations/users_operations.py
  azure-graphrbac/azure/graphrbac/version.py
Owners: @lmazuel

Generated from 8ddf699be2bc7bd7a429b97db29d4abb3f238cad
  azure-mgmt-monitor/azure/mgmt/monitor/models/event_data.py
  azure-mgmt-monitor/azure/mgmt/monitor/version.py
Owners: @lmazuel

[AutoPR monitor/resource-manager] [DO NOT MERGE, until feb 20] Adding 2018-01-01 version for metrics API (#2007)
  azure-mgmt-monitor/azure/mgmt/monitor/models/__init__.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/action_group_resource.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/event_data.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/metric_definition.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/response.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/voice_receiver.py
  azure-mgmt-monitor/azure/mgmt/monitor/monitor_management_client.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/action_groups_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/metric_definitions_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/metrics_operations.py
Owners: @lmazuel

Update version.py
  azure-mgmt-web/azure/mgmt/web/version.py
Owners: @yugangw-msft

Generated from 7d679fd35d618cb4e0cfa46ae0c6c38ecfcbf13e
  azure-mgmt-cdn/azure/mgmt/cdn/cdn_management_client.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/__init__.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/cache_expiration_action_parameters.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/delivery_rule.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/delivery_rule_action.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/delivery_rule_cache_expiration_action.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/delivery_rule_condition.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/delivery_rule_url_file_extension_condition.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/delivery_rule_url_path_condition.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/endpoint.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/endpoint_properties_update_parameters_delivery_policy.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/endpoint_update_parameters.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/url_file_extension_condition_parameters.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/url_path_condition_parameters.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/custom_domains_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/edge_nodes_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/endpoints_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/origins_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/profiles_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/resource_usage_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/version.py
Owners: @tjprescott

Generated from e2f7f820f44e3a7848c5c0fa21e7a1e4c15cb57e
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/build.json
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/__init__.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/name_availability.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/name_availability_request.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/operation.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/operation_display.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/operation_list_result.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/performance_tier_properties.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/performance_tier_service_level_objectives.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/postgre_sql_management_client_enums.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/proxy_resource.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/server_for_create.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/server_properties_for_create.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/server_update_parameters.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/sku.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/virtual_network_rule.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/virtual_network_rule_paged.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/operations/__init__.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/operations/check_name_availability_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/operations/configurations_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/operations/databases_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/operations/firewall_rules_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/operations/location_based_performance_tier_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/operations/log_files_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/operations/operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/operations/performance_tiers_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/operations/servers_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/operations/virtual_network_rules_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/postgre_sql_management_client.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/version.py
Owners: @lmazuel

Generated from 311a3ee70d7617c50f7a9d4de5dc0c753a9907b8
  azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/models/log_file.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/models/log_file.py
Owners: @lmazuel

Generated from f2100051927d4cdf64b6fd7c3270f26086135e5d
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/models/__init__.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/models/performance_tier_properties.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/models/performance_tier_service_level_objectives.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/models/postgre_sql_management_client_enums.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/models/server.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/models/server_properties_for_default_create.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/models/server_properties_for_geo_restore.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/models/server_properties_for_restore.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/models/server_update_parameters.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/models/sku.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/models/storage_profile.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/operations/__init__.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/operations/check_name_availability_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/operations/configurations_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/operations/databases_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/operations/firewall_rules_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/operations/location_based_performance_tier_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/operations/log_files_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/operations/operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/operations/performance_tiers_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/operations/servers_operations.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/postgre_sql_management_client.py
  azure-mgmt-rdbms/azure/mgmt/rdbms/postgres/version.py
Owners: @lmazuel

Generated from ad02392f285b4aedca50ac0f020cf7c4b93200f3
  azure-mgmt-billing/azure/mgmt/billing/__init__.py
  azure-mgmt-billing/azure/mgmt/billing/billing_management_client.py
  azure-mgmt-billing/azure/mgmt/billing/models/__init__.py
  azure-mgmt-billing/azure/mgmt/billing/models/billing_account_list_result.py
  azure-mgmt-billing/azure/mgmt/billing/models/billing_account_result.py
  azure-mgmt-billing/azure/mgmt/billing/models/billing_period_paged.py
  azure-mgmt-billing/azure/mgmt/billing/models/error_details.py
  azure-mgmt-billing/azure/mgmt/billing/models/error_response.py
  azure-mgmt-billing/azure/mgmt/billing/models/invoice.py
  azure-mgmt-billing/azure/mgmt/billing/models/invoice_paged.py
  azure-mgmt-billing/azure/mgmt/billing/models/operation.py
  azure-mgmt-billing/azure/mgmt/billing/models/operation_display.py
  azure-mgmt-billing/azure/mgmt/billing/models/operation_paged.py
  azure-mgmt-billing/azure/mgmt/billing/models/resource.py
  azure-mgmt-billing/azure/mgmt/billing/operations/__init__.py
  azure-mgmt-billing/azure/mgmt/billing/operations/billing_accounts_operations.py
  azure-mgmt-billing/azure/mgmt/billing/operations/billing_periods_operations.py
  azure-mgmt-billing/azure/mgmt/billing/operations/invoices_operations.py
  azure-mgmt-billing/azure/mgmt/billing/operations/operations.py
  azure-mgmt-billing/azure/mgmt/billing/version.py
Owners: @lmazuel

Packaging update for web 0.35.0
  azure-mgmt-web/HISTORY.rst
  azure-mgmt-web/README.rst
  azure-mgmt-web/setup.py
Owners: @yugangw-msft

Packaging update for web 0.35.0
  azure-mgmt-web/HISTORY.rst
  azure-mgmt-web/README.rst
  azure-mgmt-web/setup.py
Owners: @yugangw-msft

Packaging update for web 0.35.0
  azure-mgmt-web/HISTORY.rst
  azure-mgmt-web/README.rst
  azure-mgmt-web/setup.py
Owners: @yugangw-msft

Update version.py
  azure-mgmt-web/azure/mgmt/web/version.py
Owners: @yugangw-msft

[AutoPR web/resource-manager] Update available stacks API (#1995)
  azure-mgmt-web/azure/mgmt/web/models/__init__.py
  azure-mgmt-web/azure/mgmt/web/models/application_stack.py
  azure-mgmt-web/azure/mgmt/web/models/application_stack_paged.py
  azure-mgmt-web/azure/mgmt/web/models/stack_major_version.py
  azure-mgmt-web/azure/mgmt/web/models/stack_minor_version.py
  azure-mgmt-web/azure/mgmt/web/operations/app_service_certificate_orders_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/app_service_environments_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/app_service_plans_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/certificate_registration_provider_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/certificates_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/deleted_web_apps_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/diagnostics_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/domain_registration_provider_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/domains_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/provider_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/recommendations_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/top_level_domains_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/web_apps_operations.py
  azure-mgmt-web/azure/mgmt/web/web_site_management_client.py
Owners: @yugangw-msft

[AutoPR web/resource-manager] Update available stacks API (#1995)
  azure-mgmt-web/azure/mgmt/web/models/__init__.py
  azure-mgmt-web/azure/mgmt/web/models/application_stack.py
  azure-mgmt-web/azure/mgmt/web/models/application_stack_paged.py
  azure-mgmt-web/azure/mgmt/web/models/stack_major_version.py
  azure-mgmt-web/azure/mgmt/web/models/stack_minor_version.py
  azure-mgmt-web/azure/mgmt/web/operations/app_service_certificate_orders_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/app_service_environments_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/app_service_plans_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/certificate_registration_provider_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/certificates_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/deleted_web_apps_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/diagnostics_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/domain_registration_provider_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/domains_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/provider_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/recommendations_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/top_level_domains_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/web_apps_operations.py
  azure-mgmt-web/azure/mgmt/web/web_site_management_client.py
Owners: @yugangw-msft

Update version.py
  azure-mgmt-web/azure/mgmt/web/version.py
Owners: @yugangw-msft

Generated from cc2170493dcbb7566963746e0020a1e528e9ce29
  azure-mgmt-keyvault/azure/mgmt/keyvault/__init__.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/key_vault_management_client.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/__init__.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/access_policy_entry.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/check_name_availability_result.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/deleted_vault_paged.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/deleted_vault_properties.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/key_vault_management_client_enums.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/log_specification.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/operation.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/operation_display.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/operation_paged.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/permissions.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/resource.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/service_specification.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_access_policy_parameters.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_access_policy_properties.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_check_name_availability_parameters.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_paged.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_patch_parameters.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_patch_properties.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/operations/__init__.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/operations/operations.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/operations/vaults_operations.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/version.py
Owners: @schaabs

Generated from 75ee415e4ba9684064c1d0213a42be3e99824b76
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_patch_properties.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_properties.py
Owners: @schaabs

Generated from 391d68f417b579dc5c36fc72fa5be8058b2db8ab
  azure-mgmt-monitor/azure/mgmt/monitor/models/__init__.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/action_group_resource.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/logic_app_receiver.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/metric_definition.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/response.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/voice_receiver.py
  azure-mgmt-monitor/azure/mgmt/monitor/monitor_management_client.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/action_groups_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/metric_definitions_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/metrics_operations.py
Owners: @lmazuel

Generated from 228c368e8b1956804f353314932a9a506630e8dd
  azure-mgmt-authorization/azure/mgmt/authorization/operations/classic_administrators_operations.py
  azure-mgmt-authorization/azure/mgmt/authorization/operations/permissions_operations.py
  azure-mgmt-authorization/azure/mgmt/authorization/operations/provider_operations_metadata_operations.py
  azure-mgmt-authorization/azure/mgmt/authorization/operations/role_assignments_operations.py
  azure-mgmt-authorization/azure/mgmt/authorization/operations/role_definitions_operations.py
Owners: @lmazuel

Generated from 391d68f417b579dc5c36fc72fa5be8058b2db8ab
  azure-mgmt-monitor/azure/mgmt/monitor/models/__init__.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/action_group_resource.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/logic_app_receiver.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/metric_definition.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/response.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/voice_receiver.py
  azure-mgmt-monitor/azure/mgmt/monitor/monitor_management_client.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/action_groups_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/metric_definitions_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/metrics_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/version.py
Owners: @lmazuel

Generated from fd1de12c31aeac3065a82d41ee2fe7555c42733e
  azure-mgmt-iothubprovisioningservices/azure/mgmt/iothubprovisioningservices/iot_dps_client.py
  azure-mgmt-iothubprovisioningservices/azure/mgmt/iothubprovisioningservices/operations/__init__.py
  azure-mgmt-iothubprovisioningservices/azure/mgmt/iothubprovisioningservices/operations/dps_certificate_operations.py
  azure-mgmt-iothubprovisioningservices/azure/mgmt/iothubprovisioningservices/operations/dps_certificates_operations.py
  azure-mgmt-iothubprovisioningservices/azure/mgmt/iothubprovisioningservices/operations/iot_dps_resource_operations.py
  azure-mgmt-iothubprovisioningservices/azure/mgmt/iothubprovisioningservices/operations/operations.py
  azure-mgmt-iothubprovisioningservices/azure/mgmt/iothubprovisioningservices/version.py
Owners: @lmazuel

Generated from 11ea884a7f0128779555ca2353562ccecc805f9d
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/__init__.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/adm_credential.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/apns_credential.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/baidu_credential.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/check_availability_parameters.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/check_name_availability_request_parameters.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/check_name_availability_response.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/gcm_credential.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/mpns_credential.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/namespace_create_or_update_parameters.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/namespace_patch_parameters.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/namespace_resource.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/namespace_resource_paged.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/nh_resource.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/notification_hub.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/notification_hub_create_or_update_parameters.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/notification_hub_paged.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/notification_hub_patch_parameters.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/pns_credentials_resource.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/policykey_resource.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/proxy_resource.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/resource_list_keys.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/shared_access_authorization_rule.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/shared_access_authorization_rule_create_or_update_parameters.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/shared_access_authorization_rule_paged.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/shared_access_authorization_rule_properties.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/sku.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/sub_resource.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/tracked_resource.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/models/wns_credential.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/notification_hubs_management_client.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/operations/__init__.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/operations/authorization_rules_operations.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/operations/hub_authorization_rules_operations.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/operations/hubs_operations.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/operations/name_operations.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/operations/namespaces_operations.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/operations/notification_hubs_operations.py
  azure-mgmt-notificationhubs/azure/mgmt/notificationhubs/version.py
Owners: @lmazuel

Update HISTORY.rst
  azure-mgmt-servicebus/HISTORY.rst
Owners: @lmazuel

[ServiceBus] Automatic PR from RestAPI-PR2267 (#1816)
  azure-mgmt-servicebus/HISTORY.rst
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/access_keys.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/action.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/authorization_rule_properties.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/capture_description.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/check_name_availability.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/check_name_availability_result.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/correlation_filter.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/destination.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/error_response.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/message_count_details.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/operation.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/operation_display.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/premium_messaging_regions_properties.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/regenerate_access_key_parameters.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/resource.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/sb_sku.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/sb_subscription.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/sql_filter.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/disaster_recovery_configs_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/event_hubs_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/namespaces_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/premium_messaging_regions_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/queues_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/regions_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/rules_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/subscriptions_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/topics_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/version.py
Owners: @lmazuel

[ServiceBus] Automatic PR from RestAPI-PR2267 (#1816)
  azure-mgmt-servicebus/HISTORY.rst
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/access_keys.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/action.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/authorization_rule_properties.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/capture_description.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/check_name_availability.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/check_name_availability_result.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/correlation_filter.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/destination.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/error_response.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/message_count_details.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/operation.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/operation_display.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/premium_messaging_regions_properties.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/regenerate_access_key_parameters.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/resource.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/sb_sku.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/sb_subscription.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/models/sql_filter.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/disaster_recovery_configs_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/event_hubs_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/namespaces_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/premium_messaging_regions_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/queues_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/regions_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/rules_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/subscriptions_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/operations/topics_operations.py
  azure-mgmt-servicebus/azure/mgmt/servicebus/version.py
Owners: @lmazuel

Generated from 0b82ba534dc6251cb7eeb885072e59254c59d54e
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/application_insights_management_client.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/__init__.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_available_features.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_favorite.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_feature.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_feature_capabilities.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_feature_capability.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_proactive_detection_configuration.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_proactive_detection_configuration_rule_definitions.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_web_test_location.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_web_test_location_paged.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_management_client_enums.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/__init__.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/api_keys_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/component_available_features_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/component_feature_capabilities_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/components_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/export_configurations_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/favorite_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/favorites_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/proactive_detection_configurations_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/web_test_locations_operations.py
Owners: @lmazuel
