Repository Azure/azure-sdk-for-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lmazuel, @annatisch, @matthchr, @schaabs, @AlexanderYukhanov, @tjprescott, @sandeepnl, @yolo3301, @xizhamsft, @djyou, @dmakwana, @hvermis, @ro-joowan, @kalyanaj, @shutchings, @dragonfly91, @QingChenmsft, @jaredmoo, @yugangw-msft, @samedder

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

* @lmazuel

/azure-batch/ @annatisch @matthchr
/azure-keyvault/ @schaabs
/azure-mgmt-batch/ @annatisch @matthchr
/azure-mgmt-batchai/ @AlexanderYukhanov
/azure-mgmt-cdn/ @tjprescott
/azure-mgmt-consumption/ @sandeepnl
/azure-mgmt-containerinstance/ @yolo3301 @xizhamsft
/azure-mgmt-containerregistry/ @djyou 
/azure-mgmt-cosmosdb/ @dmakwana
/azure-mgmt-datafactory/ @hvermis
/azure-mgmt-datalake-analytics/ @ro-joowan
/azure-mgmt-datalake-store/ @ro-joowan
/azure-mgmt-eventgrid/ @kalyanaj
/azure-mgmt-keyvault/ @schaabs
/azure-mgmt-machinelearningcompute/ @shutchings
/azure-mgmt-recoveryservicesbackup/ @dragonfly91
/azure-mgmt-servicefabric/ @QingChenmsft
/azure-mgmt-sql/ @jaredmoo
/azure-mgmt-web/ @yugangw-msft
/azure-servicefabric/ @samedder

Generated from 7c4e3be07fa3911943afb049b3732bbeb558a951
  azure-mgmt-automation/azure/mgmt/automation/version.py
Owners: @lmazuel

Generated from ce7720b9e0b01f46c5ec26c0b2ae8c5925c66f84
  azure-mgmt-automation/azure/mgmt/automation/version.py
Owners: @lmazuel

Generated from 9f22184d852d3d5b2728466cd034f5adadc0cb05
  azure-mgmt-automation/azure/mgmt/automation/version.py
Owners: @lmazuel

Generated from 9f22184d852d3d5b2728466cd034f5adadc0cb05 (#1984)
  azure-mgmt-automation/azure/mgmt/automation/version.py
Owners: @lmazuel

Generated from 8844dc849f917785e7722e4fe492dd8143c111a7
  azure-mgmt-hdinsight/azure/mgmt/hdinsight/hd_insight_management_client.py
  azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/__init__.py
  azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/hd_insight_management_client_enums.py
  azure-mgmt-hdinsight/azure/mgmt/hdinsight/operations/applications_operations.py
  azure-mgmt-hdinsight/build.json
Owners: @lmazuel

Generated from 8844dc849f917785e7722e4fe492dd8143c111a7
  azure-mgmt-hdinsight/azure/mgmt/hdinsight/hd_insight_management_client.py
  azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/__init__.py
  azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/hd_insight_management_client_enums.py
  azure-mgmt-hdinsight/azure/mgmt/hdinsight/operations/applications_operations.py
  azure-mgmt-hdinsight/build.json
Owners: @lmazuel

Generated from a0a48994e2c4cd8dcfc62088ff2fcac66c9b3326
  azure-mgmt-dns/azure/mgmt/dns/dns_management_client.py
  azure-mgmt-dns/azure/mgmt/dns/models/__init__.py
  azure-mgmt-dns/azure/mgmt/dns/models/aaaa_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/caa_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/cname_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/dns_management_client_enums.py
  azure-mgmt-dns/azure/mgmt/dns/models/mx_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/ns_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/ptr_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/record_set.py
  azure-mgmt-dns/azure/mgmt/dns/models/record_set_update_parameters.py
  azure-mgmt-dns/azure/mgmt/dns/models/resource.py
  azure-mgmt-dns/azure/mgmt/dns/models/soa_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/srv_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/sub_resource.py
  azure-mgmt-dns/azure/mgmt/dns/models/txt_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/zone.py
  azure-mgmt-dns/azure/mgmt/dns/operations/record_sets_operations.py
  azure-mgmt-dns/azure/mgmt/dns/operations/zones_operations.py
  azure-mgmt-dns/azure/mgmt/dns/version.py
Owners: @lmazuel

Generated from a0a48994e2c4cd8dcfc62088ff2fcac66c9b3326
  azure-mgmt-dns/azure/mgmt/dns/dns_management_client.py
  azure-mgmt-dns/azure/mgmt/dns/models/__init__.py
  azure-mgmt-dns/azure/mgmt/dns/models/aaaa_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/caa_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/cname_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/dns_management_client_enums.py
  azure-mgmt-dns/azure/mgmt/dns/models/mx_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/ns_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/ptr_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/record_set.py
  azure-mgmt-dns/azure/mgmt/dns/models/record_set_update_parameters.py
  azure-mgmt-dns/azure/mgmt/dns/models/resource.py
  azure-mgmt-dns/azure/mgmt/dns/models/soa_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/srv_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/sub_resource.py
  azure-mgmt-dns/azure/mgmt/dns/models/txt_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/zone.py
  azure-mgmt-dns/azure/mgmt/dns/operations/record_sets_operations.py
  azure-mgmt-dns/azure/mgmt/dns/operations/zones_operations.py
  azure-mgmt-dns/azure/mgmt/dns/version.py
Owners: @lmazuel

Generated from b6f72b081bb9bcbfbc3b3334482b7bd9c084e113
  azure-mgmt-devtestlabs/build.json
Owners: @lmazuel

Update version.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/version.py
Owners: @lmazuel

Generated from a0a48994e2c4cd8dcfc62088ff2fcac66c9b3326
  azure-mgmt-dns/azure/mgmt/dns/dns_management_client.py
  azure-mgmt-dns/azure/mgmt/dns/models/__init__.py
  azure-mgmt-dns/azure/mgmt/dns/models/aaaa_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/caa_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/cname_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/dns_management_client_enums.py
  azure-mgmt-dns/azure/mgmt/dns/models/mx_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/ns_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/ptr_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/record_set.py
  azure-mgmt-dns/azure/mgmt/dns/models/record_set_update_parameters.py
  azure-mgmt-dns/azure/mgmt/dns/models/resource.py
  azure-mgmt-dns/azure/mgmt/dns/models/soa_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/srv_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/sub_resource.py
  azure-mgmt-dns/azure/mgmt/dns/models/txt_record.py
  azure-mgmt-dns/azure/mgmt/dns/models/zone.py
  azure-mgmt-dns/azure/mgmt/dns/operations/record_sets_operations.py
  azure-mgmt-dns/azure/mgmt/dns/operations/zones_operations.py
  azure-mgmt-dns/azure/mgmt/dns/version.py
Owners: @lmazuel

Latest Autorest
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/arm_templates_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/artifact_sources_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/artifacts_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/costs_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/custom_images_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/disks_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/environments_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/formulas_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/gallery_images_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/global_schedules_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/labs_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/notification_channels_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/policies_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/policy_sets_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/provider_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/schedules_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/secrets_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/service_runners_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/users_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/virtual_machine_schedules_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/virtual_machines_operations.py
  azure-mgmt-devtestlabs/azure/mgmt/devtestlabs/operations/virtual_networks_operations.py
Owners: @lmazuel

DevTestLabs packaging update
  azure-mgmt-devtestlabs/HISTORY.rst
  azure-mgmt-devtestlabs/README.rst
  azure-mgmt-devtestlabs/build.json
  azure-mgmt-devtestlabs/setup.py
Owners: @lmazuel

Generated from 80afa52b390ebc93e528ab47d32fe4f95bae49cf
  azure-mgmt-authorization/azure/mgmt/authorization/operations/classic_administrators_operations.py
  azure-mgmt-authorization/azure/mgmt/authorization/operations/permissions_operations.py
  azure-mgmt-authorization/azure/mgmt/authorization/operations/provider_operations_metadata_operations.py
  azure-mgmt-authorization/azure/mgmt/authorization/operations/role_assignments_operations.py
  azure-mgmt-authorization/azure/mgmt/authorization/operations/role_definitions_operations.py
Owners: @lmazuel

Generated from 5289a6ba455730a1d6185c1e494f6101c0591ada
  azure-mgmt-web/azure/mgmt/web/models/__init__.py
  azure-mgmt-web/azure/mgmt/web/models/application_stack.py
  azure-mgmt-web/azure/mgmt/web/models/application_stack_paged.py
  azure-mgmt-web/azure/mgmt/web/models/stack_major_version.py
  azure-mgmt-web/azure/mgmt/web/models/stack_minor_version.py
  azure-mgmt-web/azure/mgmt/web/operations/provider_operations.py
Owners: @yugangw-msft

Generated from a07c46bb722bca38995a5191f25bf2f86c6076c4
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/application_insights_management_client.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/__init__.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/annotation.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/annotation_error.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_available_features.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_feature.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_feature_capabilities.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_feature_capability.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_proactive_detection_configuration.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/application_insights_component_proactive_detection_configuration_rule_definitions.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/inner_error.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/work_item_configuration.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/work_item_configuration_error.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/work_item_create_configuration.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/__init__.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/annotations_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/component_available_features_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/component_current_billing_features_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/component_feature_capabilities_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/components_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/export_configurations_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/proactive_detection_configurations_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/web_tests_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/work_item_configurations_operations.py
Owners: @lmazuel

Generated from 92d1a15875a75405a22434c6162271ee47e24186
  azure-mgmt-keyvault/azure/mgmt/keyvault/__init__.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/key_vault_management_client.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/__init__.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/access_policy_entry.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/check_name_availability_result.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/deleted_vault_paged.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/deleted_vault_properties.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/key_vault_management_client_enums.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/log_specification.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/operation.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/operation_display.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/operation_paged.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/permissions.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/resource.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/service_specification.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_access_policy_parameters.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_access_policy_properties.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_check_name_availability_parameters.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_paged.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_patch_parameters.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/models/vault_patch_properties.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/operations/__init__.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/operations/operations.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/operations/vaults_operations.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/version.py
Owners: @schaabs

Generated from cbefdc6e1ebb76efd65b14d3737cc6fe6f20d0d0
  azure-mgmt-consumption/azure/mgmt/consumption/operations/budgets_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/marketplaces_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/price_sheet_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/reservations_details_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/reservations_summaries_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/operations/usage_details_operations.py
  azure-mgmt-consumption/azure/mgmt/consumption/version.py
Owners: @sandeepnl

Generated from f3fea57efdf47fafb1ee05f6462cafbc29ccbffc
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/copy_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/google_big_query_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/netezza_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/netezza_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/netezza_table_dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/vertica_linked_service.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/vertica_source.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/models/vertica_table_dataset.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/operations/activity_runs_operations.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/operations/datasets_operations.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/operations/factories_operations.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/operations/integration_runtime_nodes_operations.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/operations/integration_runtimes_operations.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/operations/linked_services_operations.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/operations/operations.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/operations/pipeline_runs_operations.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/operations/pipelines_operations.py
  azure-mgmt-datafactory/azure/mgmt/datafactory/operations/triggers_operations.py
Owners: @hvermis

Generated from a4331d83c0e50c611113c5800b7f82fa4d40a850
  azure-mgmt-keyvault/azure/mgmt/keyvault/operations/operations.py
  azure-mgmt-keyvault/azure/mgmt/keyvault/operations/vaults_operations.py
Owners: @schaabs

Generated from 5289a6ba455730a1d6185c1e494f6101c0591ada
  azure-mgmt-web/azure/mgmt/web/operations/app_service_certificate_orders_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/app_service_environments_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/app_service_plans_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/certificate_registration_provider_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/certificates_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/deleted_web_apps_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/diagnostics_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/domain_registration_provider_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/domains_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/provider_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/recommendations_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/top_level_domains_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/web_apps_operations.py
  azure-mgmt-web/azure/mgmt/web/web_site_management_client.py
Owners: @yugangw-msft

[AutoPR web/resource-manager] Update available stacks API (#1995)
  azure-mgmt-web/azure/mgmt/web/models/__init__.py
  azure-mgmt-web/azure/mgmt/web/models/application_stack.py
  azure-mgmt-web/azure/mgmt/web/models/application_stack_paged.py
  azure-mgmt-web/azure/mgmt/web/models/stack_major_version.py
  azure-mgmt-web/azure/mgmt/web/models/stack_minor_version.py
  azure-mgmt-web/azure/mgmt/web/operations/app_service_certificate_orders_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/app_service_environments_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/app_service_plans_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/certificate_registration_provider_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/certificates_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/deleted_web_apps_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/diagnostics_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/domain_registration_provider_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/domains_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/provider_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/recommendations_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/top_level_domains_operations.py
  azure-mgmt-web/azure/mgmt/web/operations/web_apps_operations.py
  azure-mgmt-web/azure/mgmt/web/web_site_management_client.py
Owners: @yugangw-msft

Updating the version for ADF to 0.5.0
  azure-mgmt-datafactory/azure/mgmt/datafactory/version.py
Owners: @hvermis

Generated from c812a4906aa6d74fcc75144fb569dfe1abed6873
  azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/__init__.py
  azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/disk.py
  azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/ip_address.py
  azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/storage_profile.py
  azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/operations/hana_instances_operations.py
  azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/operations/operations.py
Owners: @lmazuel

Generated from 372c468ed72f67efcbb2a9442e136c99f8839a28
  azure-mgmt-resource/azure/mgmt/resource/features/v2015_12_01/operations/features_operations.py
  azure-mgmt-resource/azure/mgmt/resource/links/v2016_09_01/operations/resource_links_operations.py
  azure-mgmt-resource/azure/mgmt/resource/locks/v2015_01_01/operations/management_locks_operations.py
  azure-mgmt-resource/azure/mgmt/resource/locks/v2016_09_01/operations/management_locks_operations.py
  azure-mgmt-resource/azure/mgmt/resource/managedapplications/operations/application_definitions_operations.py
  azure-mgmt-resource/azure/mgmt/resource/managedapplications/operations/applications_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2015_10_01_preview/operations/policy_assignments_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2015_10_01_preview/operations/policy_definitions_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2016_04_01/operations/policy_assignments_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2016_04_01/operations/policy_definitions_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2016_12_01/operations/policy_assignments_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2016_12_01/operations/policy_definitions_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2017_06_01_preview/operations/policy_assignments_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2017_06_01_preview/operations/policy_definitions_operations.py
  azure-mgmt-resource/azure/mgmt/resource/policy/v2017_06_01_preview/operations/policy_set_definitions_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_02_01/operations/deployment_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_02_01/operations/deployments_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_02_01/operations/providers_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_02_01/operations/resource_groups_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_02_01/operations/resources_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_02_01/operations/tags_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_09_01/operations/deployment_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_09_01/operations/deployments_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_09_01/operations/providers_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_09_01/operations/resource_groups_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_09_01/operations/resources_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2016_09_01/operations/tags_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2017_05_10/operations/deployment_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2017_05_10/operations/deployments_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2017_05_10/operations/providers_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2017_05_10/operations/resource_groups_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2017_05_10/operations/resources_operations.py
  azure-mgmt-resource/azure/mgmt/resource/resources/v2017_05_10/operations/tags_operations.py
  azure-mgmt-resource/azure/mgmt/resource/subscriptions/v2016_06_01/operations/subscriptions_operations.py
  azure-mgmt-resource/azure/mgmt/resource/subscriptions/v2016_06_01/operations/tenants_operations.py
Owners: @lmazuel

Generated from ae8994ba20c08efe60cbc9da278d15017b16946c
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/annotations_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/api_keys_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/component_available_features_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/component_current_billing_features_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/component_feature_capabilities_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/component_quota_status_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/components_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/export_configurations_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/proactive_detection_configurations_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/web_tests_operations.py
  azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/operations/work_item_configurations_operations.py
Owners: @lmazuel

Updating the version for ADF to 0.5.0
  azure-mgmt-datafactory/azure/mgmt/datafactory/version.py
Owners: @hvermis

ADF 0.5.0 ChangeLog
  azure-mgmt-datafactory/HISTORY.rst
Owners: @hvermis

Update ADF packaging
  azure-mgmt-datafactory/README.rst
  azure-mgmt-datafactory/setup.py
Owners: @hvermis

Generated from 391d68f417b579dc5c36fc72fa5be8058b2db8ab
  azure-mgmt-monitor/azure/mgmt/monitor/models/__init__.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/action_group_resource.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/logic_app_receiver.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/voice_receiver.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/action_groups_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/activity_log_alerts_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/activity_logs_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/alert_rule_incidents_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/alert_rules_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/autoscale_settings_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/diagnostic_settings_category_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/diagnostic_settings_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/event_categories_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/log_profiles_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/metric_baseline_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/metric_definitions_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/metrics_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/tenant_activity_logs_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/version.py
Owners: @lmazuel

Rebuild by https://github.com/Azure/azure-sdk-for-python/pull/1931
  azure-mgmt-monitor/azure/mgmt/monitor/operations/action_groups_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/activity_log_alerts_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/activity_logs_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/alert_rule_incidents_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/alert_rules_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/autoscale_settings_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/diagnostic_settings_category_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/diagnostic_settings_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/event_categories_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/log_profiles_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/metric_baseline_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/metric_definitions_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/metrics_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/tenant_activity_logs_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/version.py
Owners: @lmazuel

Generated from 25392731dd0415e1e5700412428dd5a96a2d7813
  azure-mgmt-monitor/azure/mgmt/monitor/models/__init__.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/action_group_resource.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/metric_definition.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/response.py
  azure-mgmt-monitor/azure/mgmt/monitor/models/voice_receiver.py
  azure-mgmt-monitor/azure/mgmt/monitor/monitor_management_client.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/action_groups_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/metric_definitions_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/operations/metrics_operations.py
Owners: @lmazuel

Generated from 6a2b7a0d90b4aeb9fcc7f0e0bcd01cf73f39abbf
  azure-mgmt-network/azure/mgmt/network/v2018_01_01/models/packet_capture_result.py
Owners: @lmazuel

Generated from eabf2683eee832655c5e028aa1f3501a6113780b
  azure-mgmt-monitor/azure/mgmt/monitor/version.py
Owners: @lmazuel

Generated from eabf2683eee832655c5e028aa1f3501a6113780b (#2009)
  azure-mgmt-monitor/azure/mgmt/monitor/version.py
Owners: @lmazuel

Generated from 0c0a02e0630b8ffe2bbe180e8c3ae57e98c7dbf4
  azure-mgmt-cdn/azure/mgmt/cdn/cdn_management_client.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/__init__.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/check_name_availability_input.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/check_name_availability_output.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/cidr_ip_address.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/custom_domain.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/custom_domain_parameters.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/deep_created_origin.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/endpoint.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/endpoint_update_parameters.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/error_response.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/geo_filter.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/ip_address_group.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/load_parameters.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/operation.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/operation_display.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/origin.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/origin_update_parameters.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/profile_update_parameters.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/proxy_resource.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/purge_parameters.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/resource.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/resource_usage.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/sku.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/sso_uri.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/supported_optimization_types_list_result.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/tracked_resource.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/validate_custom_domain_input.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/validate_custom_domain_output.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/validate_probe_input.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/validate_probe_output.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/custom_domains_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/edge_nodes_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/endpoints_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/origins_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/profiles_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/resource_usage_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/version.py
Owners: @tjprescott

Update version.py
  azure-mgmt-cdn/azure/mgmt/cdn/version.py
Owners: @tjprescott

Update version.py
  azure-mgmt-cdn/azure/mgmt/cdn/version.py
Owners: @tjprescott

Generated from 0c0a02e0630b8ffe2bbe180e8c3ae57e98c7dbf4
  azure-mgmt-cdn/azure/mgmt/cdn/cdn_management_client.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/__init__.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/check_name_availability_input.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/check_name_availability_output.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/cidr_ip_address.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/custom_domain.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/custom_domain_parameters.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/deep_created_origin.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/endpoint.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/endpoint_update_parameters.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/error_response.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/geo_filter.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/ip_address_group.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/load_parameters.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/operation.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/operation_display.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/origin.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/origin_update_parameters.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/profile_update_parameters.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/proxy_resource.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/purge_parameters.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/resource.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/resource_usage.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/sku.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/sso_uri.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/supported_optimization_types_list_result.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/tracked_resource.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/validate_custom_domain_input.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/validate_custom_domain_output.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/validate_probe_input.py
  azure-mgmt-cdn/azure/mgmt/cdn/models/validate_probe_output.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/custom_domains_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/edge_nodes_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/endpoints_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/origins_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/profiles_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/operations/resource_usage_operations.py
  azure-mgmt-cdn/azure/mgmt/cdn/version.py
Owners: @tjprescott

Generated from f6739fd0e07e3d040fc0b1f47f3297a7a4a69cba
  azure-mgmt-monitor/azure/mgmt/monitor/operations/metrics_operations.py
  azure-mgmt-monitor/azure/mgmt/monitor/version.py
Owners: @lmazuel
