Repository Azure/azure-sdk-for-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mayurid, @lmazuel, @xiangyan99, @johanste, @chlowell, @schaabs, @annatisch, @yunhaoling, @YijunXieMS, @amishra-dev, @zezha-msft, @rakshith91, @xiafu-msft, @alexeldeib, @bgklein, @xingwu1, @areddish, @iscai-msft, @sandeepnl, @samkreter, @xizhamsft, @djyou, @zqingqing1, @GaneshaThirumurthi, @shurd, @hvermis, @ro-joowan, @vchske, @kalyanaj, @idear1203, @shutchings, @DheerendraRathor, @QingChenmsft, @samedder, @jaredmoo, @KieranBrantnerMagee, @aim-for-better, @kristapratico, @southpolesteve, @zikalino, @weshaggard, @scbedd, @mitchdenny, @danieljurek

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @mayurid @lmazuel

# Core
/sdk/core/                                                           @lmazuel @xiangyan99 @johanste
/sdk/core/azure-core/                                                @xiangyan99 @lmazuel

# Service team
/sdk/identity/                                                       @chlowell @schaabs
/sdk/eventhub/                                                       @annatisch @yunhaoling @YijunXieMS
/sdk/storage/                                                        @amishra-dev @zezha-msft @annatisch @rakshith91 @xiafu-msft
/sdk/applicationinsights/                                            @alexeldeib
/sdk/batch/                                                          @bgklein @xingwu1
/sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/  @areddish
/sdk/keyvault/                                                       @schaabs @chlowell @iscai-msft
/sdk/loganalytics/                                                   @alexeldeib
/sdk/consumption/                                                    @sandeepnl
/sdk/containerinstance/                                              @samkreter @xizhamsft
/sdk/containerregistry/                                              @djyou
/sdk/containerservice/                                               @samkreter @zqingqing1 @GaneshaThirumurthi
/sdk/cosmos/                                                         @shurd
/sdk/datafactory/                                                    @hvermis
/sdk/datalake/                                                       @ro-joowan
/sdk/datadatamigration/                                              @vchske
/sdk/eventgrid/                                                      @kalyanaj
/sdk/hdinsight/                                                      @idear1203
/sdk/machinelearningcompute/                                         @shutchings
/sdk/recoveryservices/                                               @DheerendraRathor
/sdk/servicefabric/                                                  @QingChenmsft @samedder
/sql/sql/                                                            @jaredmoo
/sdk/servicebus/                                                     @annatisch @yunhaoling @YijunXieMS @KieranBrantnerMagee
/sdk/synapse/                                                        @aim-for-better @idear1203
/sdk/textanalytics/                                                  @kristapratico @iscai-msft
/sdk/formrecognizer/                                                 @kristapratico @iscai-msft

# Smoke Tests
/common/smoketest/                                                   @lmazuel @chlowell @annatisch @rakshith91 @shurd @southpolesteve

# Management Plane
/**/*mgmt*/     @zikalino

###########
# Eng Sys
###########
/eng/           @weshaggard @scbedd @mitchdenny @danieljurek
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny

trim the PR matrix.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @weshaggard, @scbedd, @mitchdenny, @danieljurek

release-for-hanaonazure-mgmt (#11441)
  sdk/hanaonazure/azure-mgmt-hanaonazure/CHANGELOG.md
  sdk/hanaonazure/azure-mgmt-hanaonazure/README.md
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/_hana_management_client.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/__init__.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/_hana_management_client_enums.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/_models.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/_models_py3.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/_paged_models.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/operations/__init__.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/operations/_hana_instances_operations.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/operations/_operations.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/operations/_provider_instances_operations.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/version.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/setup.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/tests/test_azure_mgmt_hanaonazure.py
Owners: @zikalino

release-for-hanaonazure-mgmt (#11441)
  sdk/hanaonazure/azure-mgmt-hanaonazure/CHANGELOG.md
  sdk/hanaonazure/azure-mgmt-hanaonazure/README.md
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/_hana_management_client.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/__init__.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/_hana_management_client_enums.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/_models.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/_models_py3.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/_paged_models.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/operations/__init__.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/operations/_hana_instances_operations.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/operations/_operations.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/operations/_provider_instances_operations.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/version.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/setup.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/tests/test_azure_mgmt_hanaonazure.py
Owners: @zikalino

rename input parameters
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_differentiate_output_models_trained_with_and_without_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_get_bounding_boxes_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_differentiate_output_models_trained_with_and_without_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_get_bounding_boxes.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
Owners: @kristapratico, @iscai-msft

Generated from 09ebd9f479b54ba0243cfe4e758f68ae7589455d
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/_log_analytics_management_client.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/models/_models.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/models/_models_py3.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/__init__.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_available_service_tiers_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_deleted_workspaces_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_workspaces_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/setup.py
Owners: @zikalino

Generated from a055dcb7a1a8ebfc26c24bd9424440b91b767e65
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/_storage_management_client.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/_storage_management_client.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/__init__.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_models.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_models_py3.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_paged_models.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_storage_management_client_enums.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/operations/__init__.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/operations/_blob_containers_operations.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/operations/_queue_operations.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/operations/_queue_services_operations.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/operations/_table_operations.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/operations/_table_services_operations.py
Owners: @zikalino

Generated from 5dfa8f2611b3010d05d2d664b9e92a02d1f1e68f
  sdk/resources/azure-mgmt-resource/README.md
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/deploymentscripts/v2019_10_preview/models/__init__.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/deploymentscripts/v2019_10_preview/models/_models.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/deploymentscripts/v2019_10_preview/models/_models_py3.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/_configuration.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_10_01/_configuration.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_10_01/_resource_management_client.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_10_01/models/__init__.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_10_01/models/_models.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_10_01/models/_models_py3.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_10_01/models/_resource_management_client_enums.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_10_01/operations/_deployment_operations.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_10_01/operations/_deployments_operations.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_10_01/operations/_tags_operations.py
  sdk/resources/azure-mgmt-resource/setup.py
Owners: @zikalino

missing network tests
  sdk/network/azure-mgmt-network/tests/recordings/test_mgmt_network.test_dns_availability.yaml
  sdk/network/azure-mgmt-network/tests/recordings/test_mgmt_network.test_express_route_service_providers.yaml
  sdk/network/azure-mgmt-network/tests/recordings/test_mgmt_network.test_network_interface_card.yaml
  sdk/network/azure-mgmt-network/tests/recordings/test_mgmt_network.test_public_ip_addresses.yaml
  sdk/network/azure-mgmt-network/tests/recordings/test_mgmt_network.test_routes.yaml
  sdk/network/azure-mgmt-network/tests/recordings/test_mgmt_network.test_subnets.yaml
  sdk/network/azure-mgmt-network/tests/recordings/test_mgmt_network.test_usages.yaml
  sdk/network/azure-mgmt-network/tests/recordings/test_mgmt_network.test_virtual_networks.yaml
Owners: @zikalino

fixed vmms test
  sdk/compute/azure-mgmt-compute/tests/recordings/test_mgmt_compute_vmss.test_compute.yaml
  sdk/compute/azure-mgmt-compute/tests/recordings/test_mgmt_compute_vmss.test_compute_vmss_base_2.yaml
  sdk/compute/azure-mgmt-compute/tests/recordings/test_mgmt_compute_vmss.test_compute_vmss_perform_maintenance.yaml
  sdk/compute/azure-mgmt-compute/tests/recordings/test_mgmt_compute_vmss.test_compute_vmss_rolling_upgrades.yaml
  sdk/compute/azure-mgmt-compute/tests/recordings/test_mgmt_compute_vmss.test_compute_vmss_vm.yaml
  sdk/compute/azure-mgmt-compute/tests/test_mgmt_compute_vmss.py
Owners: @zikalino

missing firewall policy
  sdk/network/azure-mgmt-network/tests/recordings/test_cli_mgmt_network_web_application_firewall_policy.test_network.yaml
Owners: @zikalino

test_compute_disks_multi
  sdk/compute/azure-mgmt-compute/tests/recordings/test_mgmt_compute_disks.test_compute_disk_encryption.yaml
  sdk/compute/azure-mgmt-compute/tests/recordings/test_mgmt_compute_disks.test_compute_disks_multi.yaml
  sdk/compute/azure-mgmt-compute/tests/recordings/test_mgmt_compute_disks.test_compute_shot.yaml
Owners: @zikalino

regenerated all disks
  sdk/compute/azure-mgmt-compute/tests/recordings/test_mgmt_compute_disks.test_compute_disk_encryption.yaml
  sdk/compute/azure-mgmt-compute/tests/recordings/test_mgmt_compute_disks.test_compute_disks.yaml
  sdk/compute/azure-mgmt-compute/tests/recordings/test_mgmt_compute_disks.test_compute_disks_multi.yaml
  sdk/compute/azure-mgmt-compute/tests/recordings/test_mgmt_compute_disks.test_compute_shot.yaml
  sdk/compute/azure-mgmt-compute/tests/test_mgmt_compute_disks.py
Owners: @zikalino

fix connection monitor tests
  sdk/network/azure-mgmt-network/tests/recordings/test_cli_mgmt_network_watcher.test_network_watcher_monitor.yaml
  sdk/network/azure-mgmt-network/tests/test_cli_mgmt_network_watcher.py
Owners: @zikalino

Generated from 29167c29dd0ff6a842b272babcdfa4bb5a46b8b0
  sdk/resources/azure-mgmt-resourcegraph/azure/mgmt/resourcegraph/_resource_graph_client.py
  sdk/resources/azure-mgmt-resourcegraph/azure/mgmt/resourcegraph/models/__init__.py
  sdk/resources/azure-mgmt-resourcegraph/azure/mgmt/resourcegraph/models/_models.py
  sdk/resources/azure-mgmt-resourcegraph/azure/mgmt/resourcegraph/models/_models_py3.py
  sdk/resources/azure-mgmt-resourcegraph/azure/mgmt/resourcegraph/models/_resource_graph_client_enums.py
  sdk/resources/azure-mgmt-resourcegraph/azure/mgmt/resourcegraph/operations/__init__.py
  sdk/resources/azure-mgmt-resourcegraph/azure/mgmt/resourcegraph/operations/_get_operations.py
  sdk/resources/azure-mgmt-resourcegraph/azure/mgmt/resourcegraph/operations/_list_operations.py
  sdk/resources/azure-mgmt-resourcegraph/azure/mgmt/resourcegraph/operations/_operations.py
  sdk/resources/azure-mgmt-resourcegraph/setup.py
Owners: @zikalino

Generated from cccd85d2724a9cba32887538f4ff8dc9adcb0e10
  sdk/costmanagement/azure-mgmt-costmanagement/README.md
  sdk/costmanagement/azure-mgmt-costmanagement/azure/mgmt/costmanagement/_cost_management_client.py
  sdk/costmanagement/azure-mgmt-costmanagement/azure/mgmt/costmanagement/models/__init__.py
  sdk/costmanagement/azure-mgmt-costmanagement/azure/mgmt/costmanagement/models/_cost_management_client_enums.py
  sdk/costmanagement/azure-mgmt-costmanagement/azure/mgmt/costmanagement/models/_models.py
  sdk/costmanagement/azure-mgmt-costmanagement/azure/mgmt/costmanagement/models/_models_py3.py
  sdk/costmanagement/azure-mgmt-costmanagement/azure/mgmt/costmanagement/models/_paged_models.py
  sdk/costmanagement/azure-mgmt-costmanagement/azure/mgmt/costmanagement/operations/__init__.py
  sdk/costmanagement/azure-mgmt-costmanagement/azure/mgmt/costmanagement/operations/_alerts_operations.py
  sdk/costmanagement/azure-mgmt-costmanagement/azure/mgmt/costmanagement/operations/_dimensions_operations.py
  sdk/costmanagement/azure-mgmt-costmanagement/azure/mgmt/costmanagement/operations/_forecast_operations.py
  sdk/costmanagement/azure-mgmt-costmanagement/azure/mgmt/costmanagement/operations/_views_operations.py
  sdk/costmanagement/azure-mgmt-costmanagement/setup.py
Owners: @zikalino

preview.7
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/_app_configuration_management_client.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/aio/_app_configuration_management_client_async.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/aio/_configuration_async.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/aio/operations_async/_configuration_stores_operations_async.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/aio/operations_async/_operations_async.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/aio/operations_async/_private_endpoint_connections_operations_async.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/aio/operations_async/_private_link_resources_operations_async.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/models/__init__.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/models/_app_configuration_management_client_enums.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/models/_models.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/models/_models_py3.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/operations/_configuration_stores_operations.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/operations/_operations.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/operations/_private_endpoint_connections_operations.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/operations/_private_link_resources_operations.py
Owners: @zikalino

regenerated test
  sdk/appconfiguration/azure-mgmt-appconfiguration/tests/recordings/test_cli_mgmt_appconfiguration.test_appconfiguration.yaml
  sdk/appconfiguration/azure-mgmt-appconfiguration/tests/recordings/test_cli_mgmt_appconfiguration.test_appconfiguration_list_key_values.yaml
Owners: @zikalino

fix connection monitor tests (#11526)
  sdk/network/azure-mgmt-network/tests/recordings/test_cli_mgmt_network_watcher.test_network_watcher_monitor.yaml
  sdk/network/azure-mgmt-network/tests/test_cli_mgmt_network_watcher.py
Owners: @zikalino

readme review feedback
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
Owners: @shurd

Removed extra section
  sdk/cosmos/azure-cosmos/README.md
Owners: @shurd

removed xfail from bad model version
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_detect_language.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_detect_language_async.py
Owners: @kristapratico, @iscai-msft

fix AttributeException (#11463)
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base_async.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_basic.py
  sdk/core/azure-core/tests/azure_core_asynctests/test_stream_generator.py
  sdk/core/azure-core/tests/test_stream_generator.py
Owners: @xiangyan99, @lmazuel

fix AttributeException (#11463)
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base_async.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_basic.py
  sdk/core/azure-core/tests/azure_core_asynctests/test_stream_generator.py
  sdk/core/azure-core/tests/test_stream_generator.py
Owners: @xiangyan99, @lmazuel

feedback + add test for copy authorization
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model.test_copy_authorization.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model_async.test_copy_authorization.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model_async.py
Owners: @kristapratico, @iscai-msft

made tests pass
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource.test_deployments_at_management_group.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource.test_deployments_at_scope.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource.test_deployments_at_subscription.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource.test_deployments_basic.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource.test_provider_locations.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource.test_provider_registration.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource.test_provider_tenant.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource.test_providers.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource.test_resource_groups.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource.test_resources.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource.test_tag_operations.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource_features.test_features.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource_links.test_links.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource_locks.test_locks_at_resource_group_level.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource_locks.test_locks_at_resource_level.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource_locks.test_locks_at_subscription_level.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource_locks.test_locks_by_scope.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource_managed_application.test_application.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource_managed_application.test_application_by_id.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource_policy.test_policy_definition.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource_subscriptions.test_subscriptions.yaml
  sdk/resources/azure-mgmt-resource/tests/recordings/test_mgmt_resource_subscriptions.test_tenants.yaml
  sdk/resources/azure-mgmt-resource/tests/test_mgmt_resource_deployment_scripts.py
  sdk/resources/azure-mgmt-resource/tests/test_mgmt_resource_policy.py
Owners: @zikalino

[Core] Support multipart changesets (#10972)
  sdk/core/azure-core/azure/core/pipeline/_base.py
  sdk/core/azure-core/azure/core/pipeline/_base_async.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/tests/azure_core_asynctests/test_basic_transport.py
  sdk/core/azure-core/tests/test_basic_transport.py
Owners: @xiangyan99, @lmazuel

[Core] Support multipart changesets (#10972)
  sdk/core/azure-core/azure/core/pipeline/_base.py
  sdk/core/azure-core/azure/core/pipeline/_base_async.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/tests/azure_core_asynctests/test_basic_transport.py
  sdk/core/azure-core/tests/test_basic_transport.py
Owners: @xiangyan99, @lmazuel

made test green
  sdk/eventhub/azure-mgmt-eventhub/tests/recordings/test_cli_mgmt_eventhub.test_disaster_recovery_configs.yaml
  sdk/eventhub/azure-mgmt-eventhub/tests/recordings/test_cli_mgmt_eventhub.test_eventhub.yaml
  sdk/eventhub/azure-mgmt-eventhub/tests/test_cli_mgmt_eventhub.py
Owners: @zikalino

raising valueerror with endpoint in aad test
  sdk/textanalytics/azure-ai-textanalytics/tests/test_auth.py
Owners: @kristapratico, @iscai-msft
