Repository Azure/azure-sdk-for-python, pull requests merged in 2019-10, with the labels that each got.

#6906 [AutoPR] cognitiveservices/data-plane/ComputerVision
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/HISTORY.rst
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/_computer_vision_client.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/_configuration.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/__init__.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/_computer_vision_client_enums.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/_models.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/_models_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/operations/_computer_vision_client_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/version.py
Labels: ServicePR

#7537 [AutoPR apimanagement/resource-manager] [Hub Generated] Review request for Microsoft.ApiManagement to add version stable/2019-01-01
  sdk/apimanagement/azure-mgmt-apimanagement/azure/mgmt/apimanagement/models/identity_provider_base_parameters.py
  sdk/apimanagement/azure-mgmt-apimanagement/azure/mgmt/apimanagement/models/identity_provider_base_parameters_py3.py
  sdk/apimanagement/azure-mgmt-apimanagement/azure/mgmt/apimanagement/models/identity_provider_contract.py
  sdk/apimanagement/azure-mgmt-apimanagement/azure/mgmt/apimanagement/models/identity_provider_contract_py3.py
  sdk/apimanagement/azure-mgmt-apimanagement/azure/mgmt/apimanagement/models/identity_provider_update_parameters.py
  sdk/apimanagement/azure-mgmt-apimanagement/azure/mgmt/apimanagement/models/identity_provider_update_parameters_py3.py
Labels: RestPRMerged

#7514 [AutoPR datafactory/resource-manager] [Data Factory][Bug fix before publishing] Add new sub resource wrapper with name property
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
Labels: RestPRMerged

#7499 [AutoPR peering/resource-manager] Master
  sdk/peering/azure-mgmt-peering/azure/mgmt/peering/_peering_management_client.py
  sdk/peering/azure-mgmt-peering/azure/mgmt/peering/models/__init__.py
  sdk/peering/azure-mgmt-peering/azure/mgmt/peering/models/_models.py
  sdk/peering/azure-mgmt-peering/azure/mgmt/peering/models/_models_py3.py
  sdk/peering/azure-mgmt-peering/azure/mgmt/peering/models/_peering_management_client_enums.py
  sdk/peering/azure-mgmt-peering/azure/mgmt/peering/operations/__init__.py
  sdk/peering/azure-mgmt-peering/azure/mgmt/peering/operations/_legacy_peerings_operations.py
  sdk/peering/azure-mgmt-peering/azure/mgmt/peering/operations/_operations.py
  sdk/peering/azure-mgmt-peering/azure/mgmt/peering/operations/_peer_asns_operations.py
  sdk/peering/azure-mgmt-peering/azure/mgmt/peering/operations/_peering_locations_operations.py
  sdk/peering/azure-mgmt-peering/azure/mgmt/peering/operations/_peering_service_locations_operations.py
  sdk/peering/azure-mgmt-peering/azure/mgmt/peering/operations/_peering_service_prefixes_operations.py
  sdk/peering/azure-mgmt-peering/azure/mgmt/peering/operations/_peering_service_providers_operations.py
  sdk/peering/azure-mgmt-peering/azure/mgmt/peering/operations/_peering_services_operations.py
  sdk/peering/azure-mgmt-peering/azure/mgmt/peering/operations/_peerings_operations.py
  sdk/peering/azure-mgmt-peering/azure/mgmt/peering/operations/_prefixes_operations.py
Labels: RestPRMerged

#7291 Browser credential is a public client application
  sdk/identity/azure-identity/HISTORY.md
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
Labels: Azure.Identity, Client

#7428 Key Vault: Converting from *Base to *Properties
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/models.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/models.py
  sdk/keyvault/azure-keyvault-keys/samples/hello_world.py
  sdk/keyvault/azure-keyvault-keys/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys_async.py
  sdk/keyvault/azure-keyvault-secrets/README.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/models.py
  sdk/keyvault/azure-keyvault-secrets/samples/hello_world.py
  sdk/keyvault/azure-keyvault-secrets/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/list_operations.py
  sdk/keyvault/azure-keyvault-secrets/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_secrets_async.test_list_deleted_secrets.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_secrets_async.test_secret_list.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_secrets_client.test_secret_list.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/test_samples_secrets.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_samples_secrets_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_client.py
Labels: Client, KeyVault

#7450 Eventhubs remove iot and linkredirect
  sdk/eventhub/azure-eventhubs/azure/eventhub/_consumer_producer_mixin.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_consumer_producer_mixin_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/client_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/consumer_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/error_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/producer_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/client.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/client_abstract.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/common.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/consumer.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/error.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/producer.py
  sdk/eventhub/azure-eventhubs/conftest.py
  sdk/eventhub/azure-eventhubs/examples/iothub_recv.py
  sdk/eventhub/azure-eventhubs/examples/iothub_send.py
  sdk/eventhub/azure-eventhubs/examples/test_examples_eventhub.py
  sdk/eventhub/azure-eventhubs/stress/azure_eventhub_stress.py
  sdk/eventhub/azure-eventhubs/tests/asynctests/test_iothub_receive_async.py
  sdk/eventhub/azure-eventhubs/tests/asynctests/test_long_running_eventprocessor.py
  sdk/eventhub/azure-eventhubs/tests/asynctests/test_longrunning_receive_async.py
  sdk/eventhub/azure-eventhubs/tests/asynctests/test_longrunning_send_async.py
  sdk/eventhub/azure-eventhubs/tests/asynctests/test_receive_async.py
  sdk/eventhub/azure-eventhubs/tests/test_iothub_receive.py
  sdk/eventhub/azure-eventhubs/tests/test_iothub_send.py
  sdk/eventhub/azure-eventhubs/tests/test_longrunning_receive.py
  sdk/eventhub/azure-eventhubs/tests/test_longrunning_send.py
  sdk/eventhub/azure-eventhubs/tests/test_receive.py
Labels: Event Hubs

#7474 Trace CryptographyClient methods
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/client.py
Labels: Client, KeyVault

#7083 Multipart/mixed in azure-core
  sdk/core/azure-core/HISTORY.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/azure/core/pipeline/__init__.py
  sdk/core/azure-core/azure/core/pipeline/base.py
  sdk/core/azure-core/azure/core/pipeline/base_async.py
  sdk/core/azure-core/azure/core/pipeline/transport/base.py
  sdk/core/azure-core/azure/core/pipeline/transport/base_async.py
  sdk/core/azure-core/setup.py
  sdk/core/azure-core/tests/azure_core_asynctests/test_basic_transport.py
  sdk/core/azure-core/tests/test_basic_transport.py
Labels: Azure.Core, Client

#7533 [EventHubs] Performance improvement
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/consumer_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/common.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/consumer.py
  sdk/eventhub/azure-eventhubs/tests/asynctests/test_receive_async.py
  sdk/eventhub/azure-eventhubs/tests/test_receive.py
Labels: Event Hubs

#7554 Feature/unified pipelines
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/advisor/ci.yml
  sdk/storage/ci.yml
Labels: EngSys

#7515 [AutoPR cdn/resource-manager] Add two match condition for CDN RulesEngine.
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/__init__.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/cdn_management_client_enums.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/cookies_match_condition_parameters.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/cookies_match_condition_parameters_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/delivery_rule_condition.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/delivery_rule_condition_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/delivery_rule_cookies_condition.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/delivery_rule_cookies_condition_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/delivery_rule_http_version_condition.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/delivery_rule_http_version_condition_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/http_version_match_condition_parameters.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/http_version_match_condition_parameters_py3.py
Labels: RestPRMerged

#7520 [AutoPR] containerregistry/resource-manager
  sdk/containerregistry/azure-mgmt-containerregistry/HISTORY.rst
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/_container_registry_management_client.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_05_01/models/_models.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_05_01/models/_models_py3.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_05_01_preview/models/__init__.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_05_01_preview/models/_container_registry_management_client_enums.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_05_01_preview/models/_models.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_05_01_preview/models/_models_py3.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/_container_registry_management_client.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/models/__init__.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/models/_container_registry_management_client_enums.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/models/_models.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/models/_models_py3.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/models/_paged_models.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/operations/__init__.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/operations/_registries_operations.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/operations/_scope_maps_operations.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/operations/_tokens_operations.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/version.py
Labels: ServicePR

#7583 [AutoPR operationalinsights/resource-manager] Remove deprecated search APIs and definitions
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/models/_models.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/models/_models_py3.py
Labels: RestPRMerged

#7542 [Core] Handle requests connection timeout error
  sdk/core/azure-core/azure/core/pipeline/transport/requests_basic.py
  sdk/core/azure-core/tests/test_pipeline.py
Labels: Azure.Core, Client

#7387 Storage batch API
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/container_client.py
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_delete_blobs_simple.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_delete_blobs_snapshot.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_standard_blob_tier_set_tier_api_batch.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_delete_blobs_simple.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_delete_blobs_snapshot.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_standard_blob_tier_set_tier_api_batch.yaml
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-blob/tests/testcase.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/base_client.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/base_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client_async.py
Labels: Client, P0, Storage

#7008 document container properties name
  sdk/storage/azure-storage-blob/azure/storage/blob/models.py
Labels: Storage

#7572 [Storage Blob] Regenerate Swagger
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations_async/_append_blob_operations_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations_async/_page_blob_operations_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_azure_blob_storage_enums.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models_py3.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_append_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/models.py
Labels: P0

#7578 Setup identity for unified pipelines.
  sdk/identity/ci.yml
Labels: EngSys

#7579 Setup keyvault for unified pipelines.
  sdk/keyvault/ci.yml
Labels: EngSys

#7580 Setup eventhubs for publishing via unified pipelines.
  sdk/eventhub/ci.yml
Labels: EngSys

#7581 Setup cosmos for release via unified pipelines.
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmos/ci.yml
Labels: EngSys

#7517 Breaking Changes - Permission models
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/models.py
  sdk/storage/azure-storage-blob/tests/test_append_blob.py
  sdk/storage/azure-storage-blob/tests/test_append_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_samples_authentication.py
  sdk/storage/azure-storage-blob/tests/test_blob_samples_authentication_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_samples_containers.py
  sdk/storage/azure-storage-blob/tests/test_blob_samples_containers_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_sync_copy.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_sync_copy_async.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-blob/tests/test_cpk.py
  sdk/storage/azure-storage-blob/tests/test_cpk_async.py
  sdk/storage/azure-storage-blob/tests/test_logging.py
  sdk/storage/azure-storage-blob/tests/test_logging_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
  sdk/storage/azure-storage-file/azure/storage/file/__init__.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/models.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared_access_signature.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/__init__.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/file_service_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/file_client.py
  sdk/storage/azure-storage-file/azure/storage/file/file_service_client.py
  sdk/storage/azure-storage-file/azure/storage/file/models.py
  sdk/storage/azure-storage-file/azure/storage/file/share_client.py
  sdk/storage/azure-storage-file/tests/test_file.py
  sdk/storage/azure-storage-file/tests/test_file_async.py
  sdk/storage/azure-storage-file/tests/test_share.py
  sdk/storage/azure-storage-file/tests/test_share_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/queue_service_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/queue_service_client.py
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_samples_message.py
  sdk/storage/azure-storage-queue/tests/test_queue_samples_message_async.py
Labels: P0

#7600 Fix batch docstrings
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/models.py
Labels: P0

#7606 [Rename]rename max_connections to max_concurrency
  sdk/storage/azure-storage-blob/azure/storage/blob/models.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/uploads.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/uploads_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/directory_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/file_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/directory_client.py
  sdk/storage/azure-storage-file/azure/storage/file/file_client.py
  sdk/storage/azure-storage-file/tests/test_file.py
  sdk/storage/azure-storage-file/tests/test_file_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads_async.py
Labels: P0

#7569 [AutoPR] reservations/resource-manager
  sdk/reservations/azure-mgmt-reservations/HISTORY.rst
  sdk/reservations/azure-mgmt-reservations/azure/mgmt/reservations/models/__init__.py
  sdk/reservations/azure-mgmt-reservations/azure/mgmt/reservations/models/_azure_reservation_api_enums.py
  sdk/reservations/azure-mgmt-reservations/azure/mgmt/reservations/models/_models.py
  sdk/reservations/azure-mgmt-reservations/azure/mgmt/reservations/models/_models_py3.py
  sdk/reservations/azure-mgmt-reservations/azure/mgmt/reservations/operations/_azure_reservation_api_operations.py
  sdk/reservations/azure-mgmt-reservations/azure/mgmt/reservations/operations/_reservation_operations.py
  sdk/reservations/azure-mgmt-reservations/azure/mgmt/reservations/operations/_reservation_order_operations.py
  sdk/reservations/azure-mgmt-reservations/azure/mgmt/reservations/version.py
Labels: ServicePR

#7535 [AutoPR] sql/resource-manager
  sdk/sql/azure-mgmt-sql/HISTORY.rst
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/_sql_management_client.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/models/__init__.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/models/_models.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/models/_models_py3.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/models/_paged_models.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/models/_sql_management_client_enums.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/operations/__init__.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/operations/_database_blob_auditing_policies_operations.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/operations/_managed_database_restore_details_operations.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/operations/_managed_databases_operations.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/operations/_server_blob_auditing_policies_operations.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/version.py
Labels: ServicePR

#7582 Setup app configuration with unified pipelines.
  sdk/appconfiguration/ci.yml
Labels: EngSys

#7549 [AutoPR] resources/resource-manager
  sdk/resources/azure-mgmt-resource/HISTORY.rst
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_07_01/models/__init__.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_07_01/models/_models.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_07_01/models/_models_py3.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_07_01/models/_resource_management_client_enums.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_07_01/operations/_deployments_operations.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_08_01/models/__init__.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_08_01/models/_models.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_08_01/models/_models_py3.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_08_01/models/_resource_management_client_enums.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_08_01/operations/_deployments_operations.py
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/version.py
Labels: ServicePR

#7590 Correct import_key parameter type
  sdk/keyvault/azure-keyvault-keys/HISTORY.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/models.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
Labels: Client, KeyVault

#7573 [AutoPR billing/resource-manager] Added invoiceEmailOptIn in the UpdateBillingProfile request
  sdk/billing/azure-mgmt-billing/azure/mgmt/billing/models/billing_profile.py
  sdk/billing/azure-mgmt-billing/azure/mgmt/billing/models/billing_profile_py3.py
Labels: RestPRMerged

#7544 [Cosmos] Reconfigure retry policy
  sdk/core/azure-core/azure/core/pipeline/transport/requests_basic.py
  sdk/cosmos/azure-cosmos/azure/cosmos/__init__.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_global_endpoint_manager.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_retry_utility.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_synchronized_request.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/azure/cosmos/errors.py
  sdk/cosmos/azure-cosmos/dev_requirements.txt
  sdk/cosmos/azure-cosmos/test/crud_tests.py
Labels: Client, Cosmos

#7567 Add a from_blob_url method
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/container_client.py
  sdk/storage/azure-storage-blob/tests/test_blob_client.py
  sdk/storage/azure-storage-blob/tests/test_blob_client_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_samples_authentication.py
  sdk/storage/azure-storage-blob/tests/test_blob_samples_authentication_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_samples_containers.py
  sdk/storage/azure-storage-blob/tests/test_blob_samples_containers_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_sync_copy.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_sync_copy_async.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-blob/tests/test_logging.py
  sdk/storage/azure-storage-blob/tests/test_logging_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
Labels: P0

#7602 Key Vault: documented *Base to *Properties changes in changelog
  sdk/keyvault/azure-keyvault-certificates/HISTORY.md
  sdk/keyvault/azure-keyvault-keys/HISTORY.md
  sdk/keyvault/azure-keyvault-secrets/HISTORY.md
Labels: Client, KeyVault

#7559 Key Vault: Flattening out KeyProperties from CertificiatePolicy
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_polling.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_polling_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/enums.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/models.py
  sdk/keyvault/azure-keyvault-certificates/samples/backup_restore_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/contacts.py
  sdk/keyvault/azure-keyvault-certificates/samples/contacts_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-certificates/tests/certificates_async_preparer.py
  sdk/keyvault/azure-keyvault-certificates/tests/certificates_async_test_case.py
  sdk/keyvault/azure-keyvault-certificates/tests/certificates_preparer.py
  sdk/keyvault/azure-keyvault-certificates/tests/certificates_test_case.py
  sdk/keyvault/azure-keyvault-certificates/tests/certificates_vault_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/certificates_vault_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
Labels: Client, KeyVault

#7601 Doc imprvment for Storage
  doc/sphinx/ref/azure.storage.blob.aio.rst
  doc/sphinx/ref/azure.storage.blob.rst
  doc/sphinx/ref/azure.storage.file.aio.rst
  doc/sphinx/ref/azure.storage.file.rst
  doc/sphinx/ref/azure.storage.queue.aio.rst
  doc/sphinx/ref/azure.storage.queue.rst
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/lease_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/lease.py
  sdk/storage/azure-storage-blob/azure/storage/blob/models.py
  sdk/storage/azure-storage-file/azure/storage/file/__init__.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/directory_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/file_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/file_service_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/models.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/share_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/directory_client.py
  sdk/storage/azure-storage-file/azure/storage/file/file_client.py
  sdk/storage/azure-storage-file/azure/storage/file/file_service_client.py
  sdk/storage/azure-storage-file/azure/storage/file/models.py
  sdk/storage/azure-storage-file/azure/storage/file/share_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/queue_service_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/queue_service_client.py
  sdk/storage/azure-storage-queue/tests/test_queue_samples_message_async.py
Labels: P0

#7603 [EventHubs] Update documentations
  sdk/eventhub/azure-eventhubs/HISTORY.md
  sdk/eventhub/azure-eventhubs/README.md
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/client_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/consumer_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/client.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/consumer.py
Labels: Event Hubs

#7611 kwarg-ify methods
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/lease_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/lease.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
Labels: P0, Storage

#7598 [Storage] Consolidate offset and range parameters
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_client.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_encryption.test_get_blob_range_middle_to_end.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_encryption.test_get_blob_range_middle_to_middle.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_encryption_async.test_get_blob_range_middle_to_end_async.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_encryption_async.test_get_blob_range_middle_to_middle_async.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.test_get_blob_with_range.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_cpk.test_put_block_from_url_and_commit.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_cpk.test_put_block_from_url_and_commit_with_cpk.yaml
  sdk/storage/azure-storage-blob/tests/test_append_blob.py
  sdk/storage/azure-storage-blob/tests/test_append_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_sync_copy.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_sync_copy_async.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_cpk.py
  sdk/storage/azure-storage-blob/tests/test_cpk_async.py
  sdk/storage/azure-storage-blob/tests/test_get_blob.py
  sdk/storage/azure-storage-blob/tests/test_get_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
Labels: P0, Storage

#7605 Eventhubs preview4 merge to master
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/HISTORY.md
  sdk/eventhub/azure-eventhubs/HISTORY.md
  sdk/eventhub/azure-eventhubs/README.md
  sdk/eventhub/azure-eventhubs/azure/eventhub/_consumer_producer_mixin.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_consumer_producer_mixin_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/client_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/consumer_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/error_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/producer_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/client.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/client_abstract.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/common.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/consumer.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/error.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/producer.py
  sdk/eventhub/azure-eventhubs/conftest.py
  sdk/eventhub/azure-eventhubs/examples/async_examples/recv_track_last_enqueued_event_info_async.py
  sdk/eventhub/azure-eventhubs/examples/iothub_recv.py
  sdk/eventhub/azure-eventhubs/examples/iothub_send.py
  sdk/eventhub/azure-eventhubs/examples/recv_track_last_enqueued_event_info.py
  sdk/eventhub/azure-eventhubs/examples/test_examples_eventhub.py
  sdk/eventhub/azure-eventhubs/setup.py
  sdk/eventhub/azure-eventhubs/stress/azure_eventhub_stress.py
  sdk/eventhub/azure-eventhubs/tests/asynctests/test_iothub_receive_async.py
  sdk/eventhub/azure-eventhubs/tests/asynctests/test_long_running_eventprocessor.py
  sdk/eventhub/azure-eventhubs/tests/asynctests/test_longrunning_receive_async.py
  sdk/eventhub/azure-eventhubs/tests/asynctests/test_longrunning_send_async.py
  sdk/eventhub/azure-eventhubs/tests/eventprocessor/test_eventprocessor.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_auth_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_negative_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_properties_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_receive_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_receiver_iterator_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_reconnect_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_send_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/synctests/test_auth.py
  sdk/eventhub/azure-eventhubs/tests/livetest/synctests/test_negative.py
  sdk/eventhub/azure-eventhubs/tests/livetest/synctests/test_properties.py
  sdk/eventhub/azure-eventhubs/tests/livetest/synctests/test_receive.py
  sdk/eventhub/azure-eventhubs/tests/livetest/synctests/test_receiver_iterator.py
  sdk/eventhub/azure-eventhubs/tests/livetest/synctests/test_reconnect.py
  sdk/eventhub/azure-eventhubs/tests/livetest/synctests/test_send.py
  sdk/eventhub/azure-eventhubs/tests/test_iothub_receive.py
  sdk/eventhub/azure-eventhubs/tests/test_iothub_send.py
  sdk/eventhub/azure-eventhubs/tests/test_longrunning_receive.py
  sdk/eventhub/azure-eventhubs/tests/test_longrunning_send.py
  sdk/eventhub/azure-eventhubs/tests/unittest/test_event_data.py
  sdk/eventhub/tests.yml
Labels: Event Hubs

#7577 Setup core for unified pipelines.
  sdk/core/ci.yml
Labels: EngSys

#7643 Publish the packages artifact.
  eng/pipelines/templates/steps/build-artifacts.yml
Labels: EngSys

#7644 Enable template for unified templates.
  sdk/template/ci.yml
Labels: EngSys

#7637 Ensure error_map is used consistently
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/client.py
Labels: Client, KeyVault

#7652 Fix #7651
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/client.py
Labels: Client, KeyVault

#7656 add sdk tools repo
  sdk/cosmos/tests.yml
Labels: EngSys

#7632 Key Vault: moved parameters users can't set to kwargs
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/models.py
Labels: Client, KeyVault

#7672 Increment azure-identity version
  sdk/identity/azure-identity/HISTORY.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, Client

#7683 [AutoPR subscription/resource-manager] [Hub Generated] Review request for Microsoft.Subscription to add version preview/2018-11-01-preview
  sdk/subscription/azure-mgmt-subscription/azure/mgmt/subscription/_subscription_client.py
  sdk/subscription/azure-mgmt-subscription/azure/mgmt/subscription/models/__init__.py
  sdk/subscription/azure-mgmt-subscription/azure/mgmt/subscription/models/_models.py
  sdk/subscription/azure-mgmt-subscription/azure/mgmt/subscription/models/_models_py3.py
  sdk/subscription/azure-mgmt-subscription/azure/mgmt/subscription/operations/__init__.py
  sdk/subscription/azure-mgmt-subscription/azure/mgmt/subscription/operations/_subscription_factory_operations.py
  sdk/subscription/azure-mgmt-subscription/azure/mgmt/subscription/operations/_subscriptions_operations.py
Labels: RestPRMerged

#7685 [AutoPR servicefabric/resource-manager] Add 2019-06-01-preview API version for Service Fabric
  sdk/servicefabric/azure-mgmt-servicefabric/azure/mgmt/servicefabric/_service_fabric_management_client.py
  sdk/servicefabric/azure-mgmt-servicefabric/azure/mgmt/servicefabric/models/__init__.py
  sdk/servicefabric/azure-mgmt-servicefabric/azure/mgmt/servicefabric/models/_models.py
  sdk/servicefabric/azure-mgmt-servicefabric/azure/mgmt/servicefabric/models/_models_py3.py
  sdk/servicefabric/azure-mgmt-servicefabric/azure/mgmt/servicefabric/models/_service_fabric_management_client_enums.py
  sdk/servicefabric/azure-mgmt-servicefabric/azure/mgmt/servicefabric/operations/_application_type_versions_operations.py
  sdk/servicefabric/azure-mgmt-servicefabric/azure/mgmt/servicefabric/operations/_application_types_operations.py
  sdk/servicefabric/azure-mgmt-servicefabric/azure/mgmt/servicefabric/operations/_applications_operations.py
  sdk/servicefabric/azure-mgmt-servicefabric/azure/mgmt/servicefabric/operations/_cluster_versions_operations.py
  sdk/servicefabric/azure-mgmt-servicefabric/azure/mgmt/servicefabric/operations/_clusters_operations.py
  sdk/servicefabric/azure-mgmt-servicefabric/azure/mgmt/servicefabric/operations/_services_operations.py
Labels: RestPRMerged

#7679 [AutoPR cosmos-db/resource-manager] chore: jsonfmt cosmos-db
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models_py3.py
Labels: RestPRMerged

#7673 Key Vault: moving enabled and tags parameters to kwargs
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/client.py
Labels: Client, KeyVault

#7674 Key Vault: updated date for b4 version
  sdk/keyvault/azure-keyvault-certificates/HISTORY.md
  sdk/keyvault/azure-keyvault-keys/HISTORY.md
  sdk/keyvault/azure-keyvault-secrets/HISTORY.md
Labels: Client, KeyVault

#7681 [AutoPR web/resource-manager] Introduce new Api version 2019-08-01
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/_web_site_management_client.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/models/__init__.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/models/_models.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/models/_models_py3.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/models/_paged_models.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/models/_web_site_management_client_enums.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/operations/_app_service_certificate_orders_operations.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/operations/_app_service_environments_operations.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/operations/_app_service_plans_operations.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/operations/_certificate_registration_provider_operations.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/operations/_certificates_operations.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/operations/_deleted_web_apps_operations.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/operations/_diagnostics_operations.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/operations/_domain_registration_provider_operations.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/operations/_domains_operations.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/operations/_provider_operations.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/operations/_recommendations_operations.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/operations/_resource_health_metadata_operations.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/operations/_top_level_domains_operations.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/operations/_web_apps_operations.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/operations/_web_site_management_client_operations.py
Labels: RestPRMerged

#7665 Fix live tests
  sdk/storage/azure-storage-blob/tests/test_blob_samples_containers.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_cpk_async.py
  sdk/storage/azure-storage-blob/tests/test_get_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
Labels: Client, Storage

#7676 [EventHubs] update event processor livetest
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/tests/test_storage_blob_partition_manager.py
Labels: Event Hubs

#7654 [AutoPR datafactory/resource-manager] [Data Factory] Add Switch activity
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
Labels: RestPRMerged

#7529 [AutoPR] vmwarecloudsimple/resource-manager
  sdk/compute/azure-mgmt-vmwarecloudsimple/HISTORY.rst
  sdk/compute/azure-mgmt-vmwarecloudsimple/MANIFEST.in
  sdk/compute/azure-mgmt-vmwarecloudsimple/README.rst
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/__init__.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/__init__.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/__init__.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/_configuration.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/_vmware_cloud_simple_client.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/models/__init__.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/models/_models.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/models/_models_py3.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/models/_paged_models.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/models/_vmware_cloud_simple_client_enums.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/operations/__init__.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/operations/_dedicated_cloud_nodes_operations.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/operations/_dedicated_cloud_services_operations.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/operations/_operations.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/operations/_private_clouds_operations.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/operations/_resource_pools_operations.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/operations/_skus_availability_operations.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/operations/_usages_operations.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/operations/_virtual_machine_templates_operations.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/operations/_virtual_machines_operations.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/operations/_virtual_networks_operations.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/version.py
  sdk/compute/azure-mgmt-vmwarecloudsimple/sdk_packaging.toml
  sdk/compute/azure-mgmt-vmwarecloudsimple/setup.cfg
  sdk/compute/azure-mgmt-vmwarecloudsimple/setup.py
Labels: ServicePR

#7650 [AutoPR security/resource-manager] Add aggregated alert top devices information
  sdk/security/azure-mgmt-security/azure/mgmt/security/models/__init__.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/models/_models.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/models/_models_py3.py
Labels: RestPRMerged

#7704 Key Vault: increment version
  sdk/keyvault/azure-keyvault-certificates/HISTORY.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-keys/HISTORY.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-secrets/HISTORY.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
Labels: Client, KeyVault

#7752 [AutoPR datafactory/resource-manager] [Datafactory] Add AzureMLExecutePipeline activity and AzureMLService linked service
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
Labels: RestPRMerged

#7756 [AutoPR datamigration/resource-manager] Fixing incorrect output of the CheckOCIDriver task
  sdk/datamigration/azure-mgmt-datamigration/azure/mgmt/datamigration/models/_models.py
  sdk/datamigration/azure-mgmt-datamigration/azure/mgmt/datamigration/models/_models_py3.py
Labels: RestPRMerged

#7689 [AutoPR recoveryservicesbackup/resource-manager] Azure Backup Version 2019-05-13 addition
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/_recovery_services_backup_client.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/models/__init__.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/models/_models.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/models/_models_py3.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/models/_paged_models.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/models/_recovery_services_backup_client_enums.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/__init__.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_backup_jobs_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_backup_policies_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_backup_protected_items_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_backup_resource_vault_configs_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_export_jobs_operation_results_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_job_cancellations_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_job_details_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_job_operation_results_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_jobs_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_operation_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_protected_item_operation_results_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_protected_items_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_protection_policies_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_protection_policy_operation_results_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_recovery_points_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_restores_operations.py
Labels: RestPRMerged

#7760 [AutoPR frontdoor/resource-manager] chore: jsonfmt frontdoor
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/front_door_management_client.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/__init__.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/endpoint.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/endpoint_py3.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/experiment.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/experiment_paged.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/experiment_py3.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/experiment_update_model.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/experiment_update_model_py3.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/front_door_management_client_enums.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/latency_metric.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/latency_metric_py3.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/latency_scorecard.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/latency_scorecard_py3.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/preconfigured_endpoint.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/preconfigured_endpoint_paged.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/preconfigured_endpoint_py3.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/profile.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/profile_paged.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/profile_py3.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/profile_update_model.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/profile_update_model_py3.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/timeseries.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/timeseries_data_point.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/timeseries_data_point_py3.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/models/timeseries_py3.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/operations/__init__.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/operations/experiments_operations.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/operations/preconfigured_endpoints_operations.py
  sdk/network/azure-mgmt-frontdoor/azure/mgmt/frontdoor/operations/profiles_operations.py
Labels: RestPRMerged

#7560 Remove get_pending_certificate_signing_request
  sdk/keyvault/azure-keyvault-certificates/HISTORY.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/client.py
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_get_pending_certificate_signing_request.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_get_pending_certificate_signing_request.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
Labels: Client, KeyVault

#7751 Key Vault: fixed async poller for create_certificate
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_polling.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_polling_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/client.py
  sdk/keyvault/azure-keyvault-certificates/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
Labels: Client, KeyVault

#7815 [AutoPR cognitiveservices/data-plane/LUIS/Authoring] Add v3.0 swagger
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/authoring/_configuration.py
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/authoring/_luis_authoring_client.py
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/authoring/models/__init__.py
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/authoring/models/_luis_authoring_client_enums.py
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/authoring/models/_models.py
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/authoring/models/_models_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/authoring/operations/_features_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/authoring/operations/_model_operations.py
Labels: RestPRMerged

#7820 [AutoPR eventhub/resource-manager] Eventhub: Added Namespace properties for BYOK
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/models/__init__.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/models/_event_hub2018_preview_management_client_enums.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/models/_models.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/models/_models_py3.py
Labels: RestPRMerged

#7823 [AutoPR datafactory/resource-manager] Modify SecureString to SecretBase in SDK for ExecuteSSISPackage activity in pipeline
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
Labels: RestPRMerged

#7845 [storage] removes NoRetry policy
  sdk/storage/azure-storage-blob/HISTORY.md
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/__init__.py
  sdk/storage/azure-storage-blob/tests/recordings/test_retry.test_no_retry.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_retry_async.test_no_retry_async.yaml
  sdk/storage/azure-storage-blob/tests/test_retry.py
  sdk/storage/azure-storage-blob/tests/test_retry_async.py
  sdk/storage/azure-storage-file/HISTORY.md
  sdk/storage/azure-storage-file/azure/storage/file/__init__.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/policies.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/policies_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/__init__.py
  sdk/storage/azure-storage-queue/HISTORY.md
  sdk/storage/azure-storage-queue/azure/storage/queue/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies_async.py
Labels: P0, Storage

#7858 [AutoPR compute/resource-manager] VMSS: exposing the `requireGuestProvisionSignal` field for `2019-03-01`
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_03_01/models/_models.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_03_01/models/_models_py3.py
Labels: RestPRMerged

#7844 [storage] Makes signed_identifiers a required param
  sdk/storage/azure-storage-blob/HISTORY.md
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/container_client.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions.test_set_container_acl_with_if_modified.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions.test_set_container_acl_with_if_modified_fail.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions.test_set_container_acl_with_if_unmodified.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions_async.test_set_container_acl_with_if_modified_async.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions_async.test_set_container_acl_with_if_unmodified_async.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_list_containers_with_public_access.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_set_container_acl.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_set_container_acl_with_lease_id.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_set_container_acl_with_public_access.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_list_containers_with_public_access.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_set_container_acl.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_set_container_acl_too_many_ids.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_set_container_acl_with_empty_identifiers.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_set_container_acl_with_empty_signed_identifiers.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_set_container_acl_with_lease_id.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_set_container_acl_with_one_signed_identifier.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_set_container_acl_with_public_access.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_set_container_acl_with_signed_identifiers.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_set_container_acl_with_three_identifiers.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-file/HISTORY.md
  sdk/storage/azure-storage-file/azure/storage/file/aio/share_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/share_client.py
  sdk/storage/azure-storage-file/tests/recordings/test_share.test_set_share_acl.yaml
  sdk/storage/azure-storage-file/tests/recordings/test_share_async.test_set_share_acl_async.yaml
  sdk/storage/azure-storage-file/tests/test_share.py
  sdk/storage/azure-storage-file/tests/test_share_async.py
  sdk/storage/azure-storage-queue/HISTORY.md
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/queue_client.py
  sdk/storage/azure-storage-queue/tests/recordings/test_queue.test_set_queue_acl.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue.test_set_queue_acl_with_non_existing_queue.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_async.test_set_queue_acl.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_async.test_set_queue_acl_with_non_existing_queue.yaml
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
Labels: P0, Storage

#7841 [storage] Changes `file_permission_key` param to `permission_key`
  sdk/storage/azure-storage-file/HISTORY.md
  sdk/storage/azure-storage-file/azure/storage/file/aio/directory_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/file_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/share_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/directory_client.py
  sdk/storage/azure-storage-file/azure/storage/file/file_client.py
  sdk/storage/azure-storage-file/azure/storage/file/share_client.py
  sdk/storage/azure-storage-file/tests/test_directory.py
  sdk/storage/azure-storage-file/tests/test_directory_async.py
Labels: P0, Storage

#7855 Change the param directive to keyword in docstrings
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/download_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/lease_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/lease.py
Labels: Client, P0, Storage

#7772 Move `transport` and `api_version` parameters into kwargs
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_generated/key_vault_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/_generated/key_vault_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_generated/key_vault_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/client.py
Labels: Client, KeyVault

#7870 [storage] Adds from_string to models
  sdk/storage/azure-storage-blob/HISTORY.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_service_client.py
  sdk/storage/azure-storage-blob/tests/test_blob_samples_authentication.py
  sdk/storage/azure-storage-blob/tests/test_blob_samples_authentication_async.py
  sdk/storage/azure-storage-file/HISTORY.md
  sdk/storage/azure-storage-file/azure/storage/file/_shared/models.py
  sdk/storage/azure-storage-file/azure/storage/file/file_service_client.py
  sdk/storage/azure-storage-file/azure/storage/file/models.py
  sdk/storage/azure-storage-file/tests/test_file.py
  sdk/storage/azure-storage-file/tests/test_file_async.py
  sdk/storage/azure-storage-queue/HISTORY.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/queue_service_client.py
  sdk/storage/azure-storage-queue/tests/recordings/test_queue.test_account_sas.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_async.test_account_sas.yaml
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
Labels: P0, Storage

#7872 [storage-file] await async poller
  sdk/storage/azure-storage-file/azure/storage/file/aio/directory_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/file_client_async.py
Labels: P0, Storage

#7885 [AutoPR advisor/resource-manager] [Advisor] Add OperationalExcellence category to enum list.
  sdk/advisor/azure-mgmt-advisor/README.rst
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/__init__.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/_advisor_management_client.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/_configuration.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/__init__.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/_advisor_management_client_enums.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/_models.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/_models_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/_paged_models.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/arm_error_response_body.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/arm_error_response_body_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/config_data.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/config_data_paged.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/config_data_properties.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/config_data_properties_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/config_data_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/operation_display_info.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/operation_display_info_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/operation_entity.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/operation_entity_paged.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/operation_entity_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/resource.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/resource_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/resource_recommendation_base.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/resource_recommendation_base_paged.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/resource_recommendation_base_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/short_description.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/short_description_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/suppression_contract.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/suppression_contract_paged.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/suppression_contract_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/operations/__init__.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/operations/_configurations_operations.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/operations/_operations.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/operations/_recommendation_metadata_operations.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/operations/_recommendations_operations.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/operations/_suppressions_operations.py
  sdk/advisor/azure-mgmt-advisor/setup.py
Labels: RestPRMerged

#7899 [AutoPR cognitiveservices/data-plane/LUIS/Runtime] LUIS Runtime V3
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/runtime/_configuration.py
Labels: RestPRMerged

#7853 [File and Queue] Client constructors
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/container_client.py
  sdk/storage/azure-storage-file/HISTORY.md
  sdk/storage/azure-storage-file/azure/storage/file/aio/directory_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/file_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/file_service_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/share_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/directory_client.py
  sdk/storage/azure-storage-file/azure/storage/file/file_client.py
  sdk/storage/azure-storage-file/azure/storage/file/file_service_client.py
  sdk/storage/azure-storage-file/azure/storage/file/share_client.py
  sdk/storage/azure-storage-file/tests/test_file.py
  sdk/storage/azure-storage-file/tests/test_file_async.py
  sdk/storage/azure-storage-file/tests/test_file_client.py
  sdk/storage/azure-storage-file/tests/test_file_client_async.py
  sdk/storage/azure-storage-file/tests/test_file_samples_hello_world.py
  sdk/storage/azure-storage-file/tests/test_file_samples_hello_world_async.py
  sdk/storage/azure-storage-file/tests/test_get_file.py
  sdk/storage/azure-storage-file/tests/test_get_file_async.py
  sdk/storage/azure-storage-file/tests/test_share.py
  sdk/storage/azure-storage-file/tests/test_share_async.py
  sdk/storage/azure-storage-queue/HISTORY.md
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/queue_service_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/queue_service_client.py
  sdk/storage/azure-storage-queue/tests/test_queue_client.py
  sdk/storage/azure-storage-queue/tests/test_queue_client_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_encodings.py
  sdk/storage/azure-storage-queue/tests/test_queue_encodings_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_samples_message.py
  sdk/storage/azure-storage-queue/tests/test_queue_samples_message_async.py
Labels: Client, P0, Storage, blocking-release

#7895 [storage-queue] rename queue messages
  sdk/storage/azure-storage-queue/HISTORY.md
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/queue_client.py
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
Labels: Client, P0, Storage, blocking-release

#7877 [Storage-Queue][Storage-File] Kwargify positional params
  sdk/storage/azure-storage-file/HISTORY.md
  sdk/storage/azure-storage-file/azure/storage/file/aio/directory_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/file_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/file_service_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/share_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/directory_client.py
  sdk/storage/azure-storage-file/azure/storage/file/file_client.py
  sdk/storage/azure-storage-file/azure/storage/file/file_service_client.py
  sdk/storage/azure-storage-file/azure/storage/file/share_client.py
  sdk/storage/azure-storage-file/tests/test_share.py
  sdk/storage/azure-storage-file/tests/test_share_async.py
  sdk/storage/azure-storage-queue/HISTORY.md
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/queue_service_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/queue_service_client.py
Labels: Client, P0, Storage, blocking-release

#7896 Rename restore_key and restore_secret
  sdk/keyvault/azure-keyvault-keys/HISTORY.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/client.py
  sdk/keyvault/azure-keyvault-keys/samples/backup_restore_operations.py
  sdk/keyvault/azure-keyvault-keys/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys_async.py
  sdk/keyvault/azure-keyvault-secrets/HISTORY.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/client.py
  sdk/keyvault/azure-keyvault-secrets/samples/backup_restore_operations.py
  sdk/keyvault/azure-keyvault-secrets/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_samples_secrets.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_samples_secrets_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_client.py
Labels: Client, KeyVault, blocking-release

#7897 [storage-file, queue] moves param protocol to kwargs in gen_shared_access_signature()
  sdk/storage/azure-storage-file/azure/storage/file/file_client.py
  sdk/storage/azure-storage-file/azure/storage/file/file_service_client.py
  sdk/storage/azure-storage-file/azure/storage/file/share_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/queue_service_client.py
Labels: Client, P0, Storage, blocking-release

#7881 [storage] Unexposes models from aio
  sdk/storage/azure-storage-blob/HISTORY.md
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_service_client_async.py
  sdk/storage/azure-storage-blob/tests/test_append_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_retry_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_sync_copy_async.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-blob/tests/test_cpk_async.py
  sdk/storage/azure-storage-blob/tests/test_get_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_large_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_retry_async.py
  sdk/storage/azure-storage-file/HISTORY.md
  sdk/storage/azure-storage-file/azure/storage/file/__init__.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/__init__.py
  sdk/storage/azure-storage-file/tests/test_directory_async.py
  sdk/storage/azure-storage-file/tests/test_file_async.py
  sdk/storage/azure-storage-file/tests/test_file_samples_service_async.py
  sdk/storage/azure-storage-file/tests/test_file_service_properties_async.py
  sdk/storage/azure-storage-file/tests/test_get_file_async.py
  sdk/storage/azure-storage-file/tests/test_share_async.py
  sdk/storage/azure-storage-queue/HISTORY.md
  sdk/storage/azure-storage-queue/azure/storage/queue/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/queue_service_client_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_samples_message_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_samples_service_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_service_properties_async.py
Labels: Client, P0, Storage, blocking-release

#7891 [AutoPR appplatform/resource-manager] chore: jsonfmt appplatform
  sdk/appplatform/azure-mgmt-appplatform/HISTORY.rst
  sdk/appplatform/azure-mgmt-appplatform/MANIFEST.in
  sdk/appplatform/azure-mgmt-appplatform/README.rst
  sdk/appplatform/azure-mgmt-appplatform/azure/__init__.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/__init__.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/__init__.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/_app_platform_management_client.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/_configuration.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/models/__init__.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/models/_app_platform_management_client_enums.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/models/_models.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/models/_models_py3.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/models/_paged_models.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/__init__.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/_apps_operations.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/_bindings_operations.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/_deployments_operations.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/_operations.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/_services_operations.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/version.py
  sdk/appplatform/azure-mgmt-appplatform/sdk_packaging.toml
  sdk/appplatform/azure-mgmt-appplatform/setup.cfg
  sdk/appplatform/azure-mgmt-appplatform/setup.py
Labels: RestPRMerged

#7922 [AutoPR storage/resource-manager] [SRP] Support Active Directory and regenerate kerb keys
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_04_01/models/__init__.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_04_01/models/_models.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_04_01/models/_models_py3.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_04_01/models/_storage_management_client_enums.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_04_01/operations/_storage_accounts_operations.py
Labels: RestPRMerged

#7924 [AutoPR compute/resource-manager] Include doNotRunExtensionsOnOverprovisionedVMs property in updateVMSS
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2018_10_01/models/_models.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2018_10_01/models/_models_py3.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_03_01/models/_models.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_03_01/models/_models_py3.py
Labels: RestPRMerged

#7931 [AutoPR containerregistry/resource-manager] [ACR ]scope map token expiry defaults to null
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_05_01_preview/models/_models.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_05_01_preview/models/_models_py3.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_05_01_preview/operations/_scope_maps_operations.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/models/_models.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/models/_models_py3.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/operations/_scope_maps_operations.py
Labels: RestPRMerged

#7876 Rename Key and Secret to KeyVault*
  sdk/keyvault/azure-keyvault-keys/HISTORY.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/models.py
  sdk/keyvault/azure-keyvault-secrets/HISTORY.md
  sdk/keyvault/azure-keyvault-secrets/README.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/models.py
Labels: Client, KeyVault, blocking-release

#7898 [Storage-queue] Allow None message encode policy
  sdk/storage/azure-storage-queue/HISTORY.md
  sdk/storage/azure-storage-queue/azure/storage/queue/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/queue_client.py
  sdk/storage/azure-storage-queue/tests/test_queue_encodings.py
  sdk/storage/azure-storage-queue/tests/test_queue_encodings_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_encryption.py
  sdk/storage/azure-storage-queue/tests/test_queue_encryption_async.py
Labels: Storage, blocking-release

#7880 Key Vault: Certificate review
  sdk/keyvault/azure-keyvault-certificates/HISTORY.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_polling.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_polling_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/enums.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/models.py
  sdk/keyvault/azure-keyvault-certificates/samples/backup_restore_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/contacts.py
  sdk/keyvault/azure-keyvault-certificates/samples/contacts_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_crud_operations.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_crud_operations.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
Labels: Client, KeyVault

#7921 [storage-blob, queue] Renames Logging to <ServiceName>AnalyticsLogging
  sdk/storage/azure-storage-blob/HISTORY.md
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/models.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_service_properties.test_blob_service_properties.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_service_properties.test_set_logging.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_service_properties_async.test_blob_service_properties_async.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_service_properties_async.test_set_logging_async.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_samples_service.py
  sdk/storage/azure-storage-blob/tests/test_blob_samples_service_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_service_properties.py
  sdk/storage/azure-storage-blob/tests/test_blob_service_properties_async.py
  sdk/storage/azure-storage-queue/HISTORY.md
  sdk/storage/azure-storage-queue/azure/storage/queue/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/queue_service_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/queue_service_client.py
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_service_properties.test_queue_service_properties.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_service_properties.test_set_logging.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_service_properties_async.test_queue_service_properties.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_service_properties_async.test_set_logging.yaml
  sdk/storage/azure-storage-queue/tests/test_queue_samples_service.py
  sdk/storage/azure-storage-queue/tests/test_queue_samples_service_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_service_properties.py
  sdk/storage/azure-storage-queue/tests/test_queue_service_properties_async.py
Labels: Client, P0, Storage, blocking-release

#7961 [AutoPR datafactory/resource-manager] [DataFactory]Add CompressionCodec property for ORC Dataset
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_data_factory_management_client_enums.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
Labels: RestPRMerged

#7969 [AutoPR compute/resource-manager] chore: jsonfmt compute
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2018_10_01/models/__init__.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2018_10_01/models/_models.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2018_10_01/models/_models_py3.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_03_01/models/__init__.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_03_01/models/_models.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_03_01/models/_models_py3.py
Labels: RestPRMerged

#7453 [ServiceBus] Support for delivery tag lock tokens
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/async_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/async_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/common/message.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Client, Service Bus

#7733 Document Key Vault libraries at package level
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_enums.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_enums.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/rsa_key.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_models.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/_client.py
Labels: Client, KeyVault

#7958 Stop modifying internal_response body
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies_async.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/policies_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies_async.py
Labels: Client, P0, Storage, blocking-release

#8015 Update documentation link in CODEOWNERS
  .github/CODEOWNERS
Labels: EngSys

#8022 Key Vault: regenerated keyvault for paging logging
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_generated/v2016_10_01/_configuration.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_generated/v2016_10_01/aio/_configuration_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_generated/v2016_10_01/aio/operations_async/_key_vault_client_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_generated/v2016_10_01/operations/_key_vault_client_operations.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_generated/v7_0/_configuration.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_generated/v7_0/aio/_configuration_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_generated/v7_0/aio/operations_async/_key_vault_client_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_generated/v7_0/operations/_key_vault_client_operations.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/_generated/v2016_10_01/_configuration.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/_generated/v2016_10_01/aio/_configuration_async.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/_generated/v2016_10_01/aio/operations_async/_key_vault_client_operations_async.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/_generated/v2016_10_01/operations/_key_vault_client_operations.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/_generated/v7_0/_configuration.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/_generated/v7_0/aio/_configuration_async.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/_generated/v7_0/aio/operations_async/_key_vault_client_operations_async.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/_generated/v7_0/operations/_key_vault_client_operations.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_generated/v2016_10_01/_configuration.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_generated/v2016_10_01/aio/_configuration_async.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_generated/v2016_10_01/aio/operations_async/_key_vault_client_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_generated/v2016_10_01/operations/_key_vault_client_operations.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_generated/v7_0/_configuration.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_generated/v7_0/aio/_configuration_async.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_generated/v7_0/aio/operations_async/_key_vault_client_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_generated/v7_0/operations/_key_vault_client_operations.py
Labels: Client, KeyVault, blocking-release

#8006 Key Vault: making crypto models congruent with .net's
  sdk/keyvault/azure-keyvault-keys/HISTORY.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_examples_crypto.py
  sdk/keyvault/azure-keyvault-keys/tests/test_examples_crypto_async.py
Labels: Client, KeyVault, blocking-release

#7940 [Storage] Updated close handles
  sdk/storage/azure-storage-file/HISTORY.md
  sdk/storage/azure-storage-file/azure/storage/file/_polling.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/_polling_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/directory_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/file_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/directory_client.py
  sdk/storage/azure-storage-file/azure/storage/file/file_client.py
  sdk/storage/azure-storage-file/tests/test_handle.py
Labels: Client, P0, Storage, blocking-release

#8047 [Storage] Conditional etag parameters
  sdk/storage/azure-storage-blob/HISTORY.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/lease_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/lease.py
  sdk/storage/azure-storage-blob/tests/test_append_blob.py
  sdk/storage/azure-storage-blob/tests/test_append_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
Labels: P0, Storage, blocking-release

#7981 Design Pipeline ownership
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/container_client.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/base_client.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/base_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/directory_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/file_service_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/share_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/directory_client.py
  sdk/storage/azure-storage-file/azure/storage/file/file_service_client.py
  sdk/storage/azure-storage-file/azure/storage/file/share_client.py
  sdk/storage/azure-storage-file/tests/test_share.py
  sdk/storage/azure-storage-file/tests/test_share_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/queue_service_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/queue_service_client.py
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
Labels: Client, P0, Storage, blocking-release

#7947 [AutoPR billing/resource-manager] Correcting the verbs from Create BillingProfile and InvoiceSection as per code implementation
  sdk/billing/azure-mgmt-billing/azure/mgmt/billing/operations/billing_profiles_operations.py
  sdk/billing/azure-mgmt-billing/azure/mgmt/billing/operations/invoice_sections_operations.py
Labels: RestPRMerged

#7939 [AutoPR storagecache/resource-manager] 5117100 new api version
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/__init__.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/_configuration.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/_storage_cache_management_client.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/models/__init__.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/models/_models.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/models/_models_py3.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/models/_storage_cache_management_client_enums.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_caches_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_skus_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_storage_targets_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_usage_models_operations.py
Labels: RestPRMerged

#8083 Reversionning azure-core to b5 for CI clarity
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, Client, blocking-release

#7963 Batching APIs Raise on Any Failure
  sdk/storage/azure-storage-blob/HISTORY.md
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/response_handlers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/container_client.py
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_delete_blobs_simple_no_raise.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_standard_blob_tier_set_tier_api_batch.yaml
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
Labels: Client, P0, Storage, blocking-release

#8085 Update AppConfiguration minimal dep to core b5
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
  sdk/appconfiguration/azure-appconfiguration/setup.py
  shared_requirements.txt
Labels: AzConfig, Client, blocking-release

#8056 Use HttpLoggingPolicy
  eng/tox/import_all.py
  sdk/identity/azure-identity/azure/identity/_authn_client.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_transport_adapter.py
  sdk/identity/azure-identity/azure/identity/aio/_authn_client.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/msal_transport_adapter.py
  sdk/identity/azure-identity/setup.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/client_base.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
  shared_requirements.txt
Labels: Azure.Identity, Client, KeyVault, blocking-release

#8081 Plug HttpLoggingPolicy to Storage
  eng/tox/import_all.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client_async.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/base_client.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/base_client_async.py
  sdk/storage/azure-storage-file/setup.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client_async.py
  sdk/storage/azure-storage-queue/setup.py
  shared_requirements.txt
Labels: Client, Storage, blocking-release

#8088 KeyVault: list_*_versions -> list_properties_of_*_version for keys and secrets
  sdk/keyvault/azure-keyvault-keys/HISTORY.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/samples/list_operations.py
  sdk/keyvault/azure-keyvault-keys/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys_async.py
  sdk/keyvault/azure-keyvault-secrets/HISTORY.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/samples/list_operations.py
  sdk/keyvault/azure-keyvault-secrets/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_samples_secrets.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_samples_secrets_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_client.py
Labels: Client, KeyVault, blocking-release

#7980 Revise azure-identity
  sdk/eventhub/azure-eventhubs/stress/azure_eventhub_stress.py
  sdk/identity/azure-identity/HISTORY.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/_base.py
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_credential.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/user.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_credential.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_aad_client_async.py
  sdk/identity/azure-identity/tests/test_identity.py
  sdk/identity/azure-identity/tests/test_identity_async.py
  sdk/identity/azure-identity/tests/test_live.py
  sdk/identity/azure-identity/tests/test_live_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_samples_authentication.py
  sdk/storage/azure-storage-blob/tests/test_blob_samples_authentication_async.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/testcase.py
  sdk/storage/azure-storage-file/tests/filetestcase.py
  sdk/storage/azure-storage-queue/tests/queuetestcase.py
  sdk/storage/azure-storage-queue/tests/test_queue_samples_authentication.py
  sdk/storage/azure-storage-queue/tests/test_queue_samples_authentication_async.py
Labels: Azure.Identity, Client, blocking-release

#8092 Add 3.8 to setup.py
  sdk/appconfiguration/azure-appconfiguration/setup.py
  sdk/core/azure-core-tracing-opencensus/setup.py
  sdk/core/azure-core/setup.py
  sdk/cosmos/azure-cosmos/setup.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/setup.py
  sdk/eventhub/azure-eventhubs/setup.py
  sdk/identity/azure-identity/setup.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
Labels: Client, blocking-release

#7943 Add azure-core into mypy_hard_failure_packages.py
  eng/pipelines/templates/steps/build-test.yml
  eng/tox/mypy_hard_failure_packages.py
  eng/tox/run_mypy.py
  sdk/core/azure-core/azure/core/pipeline/policies/_universal.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_asyncio.py
  sdk/core/azure-core/azure/core/tracing/_abstract_span.py
Labels: Azure.Core, Client

#8055 Key Vault: pass through keys and secrets docstrings
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/samples/list_operations.py
  sdk/keyvault/azure-keyvault-keys/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-keys/samples/recover_purge_operations.py
  sdk/keyvault/azure-keyvault-keys/samples/recover_purge_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_models.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/samples/list_operations.py
  sdk/keyvault/azure-keyvault-secrets/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/recover_purge_operations.py
  sdk/keyvault/azure-keyvault-secrets/samples/recover_purge_operations_async.py
Labels: Client, KeyVault, blocking-release

#8100 Some tests fix
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
Labels: Client, Storage

#8102 Key Vault: fixed bug where we were getting instead of popping kwargs
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_ec_verify_local.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_encrypt_and_decrypt.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_encrypt_local.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_rsa_verify_local.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_sign_and_verify.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_wrap_and_unwrap.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_wrap_local.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_ec_verify_local.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_encrypt_and_decrypt.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_encrypt_local.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_rsa_verify_local.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_sign_and_verify.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_wrap_and_unwrap.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_wrap_local.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_examples_crypto.test_encrypt_decrypt.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_examples_crypto.test_sign_verify.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_examples_crypto.test_wrap_unwrap.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_examples_crypto_async.test_encrypt_decrypt_async.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_examples_crypto_async.test_sign_verify_async.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_examples_crypto_async.test_wrap_unwrap_async.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_backup_restore.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_key_crud_operations.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_key_list.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_list_deleted_keys.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_list_versions.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_purge.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_recover.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_backup_restore.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_key_crud_operations.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_key_list.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_list_deleted_keys.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_list_versions.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_purge.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_recover.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_samples_keys.test_example_key_crud_operations.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_samples_keys.test_example_key_list_operations.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_samples_keys.test_example_keys_backup_restore.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_samples_keys.test_example_keys_recover.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_samples_keys_async.test_example_key_crud_operations.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_samples_keys_async.test_example_key_list_operations.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_samples_keys_async.test_example_keys_backup_restore.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_samples_keys_async.test_example_keys_recover.yaml
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_secrets_async.test_secret_list.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_async.py
Labels: Client, KeyVault, blocking-release

#7906 [AutoPR] storage/resource-manager
  sdk/storage/azure-mgmt-storage/HISTORY.rst
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_04_01/models/__init__.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_04_01/models/_models.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_04_01/models/_models_py3.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_04_01/models/_storage_management_client_enums.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_04_01/operations/_storage_accounts_operations.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/version.py
Labels: ServicePR

#8103 Fix tests
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/authentication.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/authentication.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/authentication.py
Labels: Client, Storage, blocking-release

#8089 [Storage] Bumped version + Pipeline fix
  sdk/storage/azure-storage-blob/HISTORY.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file/HISTORY.md
  sdk/storage/azure-storage-file/azure/storage/file/_shared/base_client.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/base_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/response_handlers.py
  sdk/storage/azure-storage-file/azure/storage/file/_version.py
  sdk/storage/azure-storage-file/setup.py
  sdk/storage/azure-storage-queue/HISTORY.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/response_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage, blocking-release

#8036 Fixing chaining sample
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity, Docs

#8118 Fix batch errors if server returns multiple request id
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/policies.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
Labels: Client, Storage, blocking-release

#8117 Fix 8091: expose generated enum to customers
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/response_handlers.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-file/azure/storage/file/_models.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/response_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/response_handlers.py
Labels: Client, Storage, blocking-release

#7930 [AutoPR] containerregistry/resource-manager
  sdk/containerregistry/azure-mgmt-containerregistry/HISTORY.rst
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_05_01_preview/models/_models.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_05_01_preview/models/_models_py3.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_05_01_preview/operations/_scope_maps_operations.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/models/_models.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/models/_models_py3.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/operations/_scope_maps_operations.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/version.py
Labels: ServicePR

#8112 Add upper bound to MSAL requirement
  sdk/identity/azure-identity/HISTORY.md
  sdk/identity/azure-identity/setup.py
  shared_requirements.txt
Labels: Client, KeyVault, blocking-release

#8134 [storage] fixes to blob tests
  sdk/storage/azure-storage-blob/tests/test_blob_client.py
  sdk/storage/azure-storage-blob/tests/test_logging.py
  sdk/storage/azure-storage-blob/tests/test_logging_async.py
Labels: Client, P0, Storage, blocking-release

#8113 [storage-blob] renames LeaseClient to BlobLeaseClient
  sdk/storage/azure-storage-blob/HISTORY.md
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_lease.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_upload_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_lease_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_upload_helpers.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
Labels: Client, P0, Storage, blocking-release

#8122 Key Vault: fixed bug in our poller
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/_polling.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_polling.py
Labels: Client, KeyVault, blocking-release

#8155 [storage] edits to blob, queue, and file docstrings
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_lease.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/response_handlers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_lease_async.py
  sdk/storage/azure-storage-file/azure/storage/file/_directory_client.py
  sdk/storage/azure-storage-file/azure/storage/file/_file_client.py
  sdk/storage/azure-storage-file/azure/storage/file/_file_service_client.py
  sdk/storage/azure-storage-file/azure/storage/file/_models.py
  sdk/storage/azure-storage-file/azure/storage/file/_share_client.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/models.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/response_handlers.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared_access_signature.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/_directory_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/_file_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/_file_service_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/_models.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/_share_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/response_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
Labels: Client, P0, Storage, blocking-release

#8154 Configurable authority for DefaultAzureCredential
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
Labels: Azure.Identity, Client, blocking-release

#7473 Support A256KW locally
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_enums.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/ec_key.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/key.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/rsa_key.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/symmetric_key.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
Labels: Client, KeyVault, blocking-release

#8007 [storage] Document all optional kwargs for configuration
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-file/README.md
  sdk/storage/azure-storage-file/azure/storage/file/_directory_client.py
  sdk/storage/azure-storage-file/azure/storage/file/_file_client.py
  sdk/storage/azure-storage-file/azure/storage/file/_file_service_client.py
  sdk/storage/azure-storage-file/azure/storage/file/_share_client.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/_directory_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/_file_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/_file_service_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/_share_client_async.py
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
Labels: Client, Docs, P0, Storage, blocking-release

#7889 [AutoPR] advisor/resource-manager
  sdk/advisor/azure-mgmt-advisor/HISTORY.rst
  sdk/advisor/azure-mgmt-advisor/README.rst
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/__init__.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/_advisor_management_client.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/_configuration.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/__init__.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/_advisor_management_client_enums.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/_models.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/_models_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/_paged_models.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/arm_error_response_body.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/arm_error_response_body_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/config_data.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/config_data_paged.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/config_data_properties.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/config_data_properties_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/config_data_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/operation_display_info.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/operation_display_info_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/operation_entity.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/operation_entity_paged.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/operation_entity_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/resource.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/resource_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/resource_recommendation_base.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/resource_recommendation_base_paged.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/resource_recommendation_base_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/short_description.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/short_description_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/suppression_contract.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/suppression_contract_paged.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/models/suppression_contract_py3.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/operations/__init__.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/operations/_configurations_operations.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/operations/_operations.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/operations/_recommendation_metadata_operations.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/operations/_recommendations_operations.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/operations/_suppressions_operations.py
  sdk/advisor/azure-mgmt-advisor/azure/mgmt/advisor/version.py
  sdk/advisor/azure-mgmt-advisor/setup.py
Labels: ServicePR

#7971 [AutoPR appplatform/resource-manager] Add "Allocating","Upgrading" and "Compiling" enum into DeploymentResourceStatus.
  sdk/appplatform/azure-mgmt-appplatform/HISTORY.rst
  sdk/appplatform/azure-mgmt-appplatform/MANIFEST.in
  sdk/appplatform/azure-mgmt-appplatform/README.rst
  sdk/appplatform/azure-mgmt-appplatform/azure/__init__.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/__init__.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/__init__.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/_app_platform_management_client.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/_configuration.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/models/__init__.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/models/_app_platform_management_client_enums.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/models/_models.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/models/_models_py3.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/models/_paged_models.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/__init__.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/_apps_operations.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/_bindings_operations.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/_deployments_operations.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/_operations.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/_services_operations.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/version.py
  sdk/appplatform/azure-mgmt-appplatform/sdk_packaging.toml
  sdk/appplatform/azure-mgmt-appplatform/setup.cfg
  sdk/appplatform/azure-mgmt-appplatform/setup.py
Labels: RestPRMerged

#7984 [AutoPR reservations/resource-manager] Updating swagger spec to fix billing plans schema in catalogs response.
  sdk/reservations/azure-mgmt-reservations/HISTORY.rst
  sdk/reservations/azure-mgmt-reservations/azure/mgmt/reservations/models/__init__.py
  sdk/reservations/azure-mgmt-reservations/azure/mgmt/reservations/models/_models.py
  sdk/reservations/azure-mgmt-reservations/azure/mgmt/reservations/models/_models_py3.py
  sdk/reservations/azure-mgmt-reservations/azure/mgmt/reservations/version.py
Labels: RestPRMerged

#7757 [AutoPR] datamigration/resource-manager
  sdk/datamigration/azure-mgmt-datamigration/HISTORY.rst
  sdk/datamigration/azure-mgmt-datamigration/azure/mgmt/datamigration/models/__init__.py
  sdk/datamigration/azure-mgmt-datamigration/azure/mgmt/datamigration/models/_data_migration_service_client_enums.py
  sdk/datamigration/azure-mgmt-datamigration/azure/mgmt/datamigration/models/_models.py
  sdk/datamigration/azure-mgmt-datamigration/azure/mgmt/datamigration/models/_models_py3.py
  sdk/datamigration/azure-mgmt-datamigration/azure/mgmt/datamigration/version.py
Labels: ServicePR

#8095 Do not require AZURE_USERNAME for shared cache
  sdk/identity/azure-identity/azure/identity/_authn_client.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/user.py
  sdk/identity/azure-identity/azure/identity/aio/_authn_client.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/user.py
  sdk/identity/azure-identity/tests/test_identity.py
  sdk/identity/azure-identity/tests/test_identity_async.py
Labels: Azure.Identity, Client, blocking-release

#8165 Fix get_service_properties in storage packages
  sdk/storage/azure-storage-blob/HISTORY.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_service_properties.py
  sdk/storage/azure-storage-blob/tests/test_blob_service_properties_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_service_stats.py
  sdk/storage/azure-storage-blob/tests/test_blob_service_stats_async.py
  sdk/storage/azure-storage-file/HISTORY.md
  sdk/storage/azure-storage-file/azure/storage/file/_file_service_client.py
  sdk/storage/azure-storage-file/azure/storage/file/_models.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/_file_service_client_async.py
  sdk/storage/azure-storage-file/tests/test_file_service_properties.py
  sdk/storage/azure-storage-file/tests/test_file_service_properties_async.py
  sdk/storage/azure-storage-queue/HISTORY.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_service_properties.py
  sdk/storage/azure-storage-queue/tests/test_queue_service_properties_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_service_stats.py
  sdk/storage/azure-storage-queue/tests/test_queue_service_stats_async.py
Labels: Client, Storage, blocking-release

#8038 Add sample for storage blob batch delete
  sdk/storage/azure-storage-blob/samples/sample_delete_blob.py
Labels: Client, Docs, Storage

#8183 Autodoc should shows members grouped by type
  doc/sphinx/conf.py
  doc/sphinx/individual_build_conf.py
Labels: EngSys, blocking-release

#8146 [Storage] Support custom account URLs for blobs and queues
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/tests/test_blob_client.py
  sdk/storage/azure-storage-blob/tests/test_blob_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared/base_client.py
  sdk/storage/azure-storage-file/tests/test_file_client.py
  sdk/storage/azure-storage-file/tests/test_file_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/tests/test_queue_client.py
  sdk/storage/azure-storage-queue/tests/test_queue_client_async.py
Labels: Client, Storage, blocking-release

#8182 Identity docstrings
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_credential.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/user.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_credential.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/user.py
Labels: Azure.Identity, Client, blocking-release

#8158 Fix tracing if app_props is None
  sdk/eventhub/azure-eventhubs/azure/eventhub/common.py
Labels: Client, Event Hubs

#8162 Key Vault: fix logging for key client
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py
  sdk/keyvault/azure-keyvault-keys/tests/keys_async_preparer.py
  sdk/keyvault/azure-keyvault-keys/tests/keys_preparer.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_logging.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_logging_disabled.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_logging_enabled.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_logging_disabled.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_logging_enabled.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-secrets/README.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_secrets_async.test_logging_disabled.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_secrets_async.test_logging_enabled.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_secrets_client.test_logging_disabled.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_secrets_client.test_logging_enabled.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/secrets_async_preparer.py
  sdk/keyvault/azure-keyvault-secrets/tests/secrets_preparer.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_client.py
Labels: Client, KeyVault, blocking-release

#8185 [Queues] Migrate existing Samples to samples/ folder
  sdk/storage/azure-storage-queue/MANIFEST.in
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_authentication.py
  sdk/storage/azure-storage-queue/samples/queue_samples_authentication_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_hello_world.py
  sdk/storage/azure-storage-queue/samples/queue_samples_hello_world_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_message.py
  sdk/storage/azure-storage-queue/samples/queue_samples_message_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_service.py
  sdk/storage/azure-storage-queue/samples/queue_samples_service_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_samples_authentication_async.py
Labels: Client, Storage, blocking-release

#8188 [storage-file] Move file samples to samples/ folder
  sdk/storage/azure-storage-file/MANIFEST.in
  sdk/storage/azure-storage-file/README.md
  sdk/storage/azure-storage-file/azure/storage/file/_directory_client.py
  sdk/storage/azure-storage-file/azure/storage/file/_file_client.py
  sdk/storage/azure-storage-file/azure/storage/file/_file_service_client.py
  sdk/storage/azure-storage-file/azure/storage/file/_share_client.py
  sdk/storage/azure-storage-file/azure/storage/file/_shared_access_signature.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/_directory_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/_file_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/_file_service_client_async.py
  sdk/storage/azure-storage-file/azure/storage/file/aio/_share_client_async.py
  sdk/storage/azure-storage-file/samples/SampleDestination.txt
  sdk/storage/azure-storage-file/samples/SampleSource.txt
  sdk/storage/azure-storage-file/samples/file_samples_authentication.py
  sdk/storage/azure-storage-file/samples/file_samples_authentication_async.py
  sdk/storage/azure-storage-file/samples/file_samples_client.py
  sdk/storage/azure-storage-file/samples/file_samples_client_async.py
  sdk/storage/azure-storage-file/samples/file_samples_directory.py
  sdk/storage/azure-storage-file/samples/file_samples_directory_async.py
  sdk/storage/azure-storage-file/samples/file_samples_hello_world.py
  sdk/storage/azure-storage-file/samples/file_samples_hello_world_async.py
  sdk/storage/azure-storage-file/samples/file_samples_service.py
  sdk/storage/azure-storage-file/samples/file_samples_service_async.py
  sdk/storage/azure-storage-file/samples/file_samples_share.py
  sdk/storage/azure-storage-file/samples/file_samples_share_async.py
  sdk/storage/azure-storage-file/tests/recordings/test_file_samples_authentication.test_auth_connection_string.yaml
  sdk/storage/azure-storage-file/tests/recordings/test_file_samples_authentication.test_auth_shared_key.yaml
  sdk/storage/azure-storage-file/tests/recordings/test_file_samples_directory.test_create_directory.yaml
  sdk/storage/azure-storage-file/tests/recordings/test_file_samples_directory.test_create_subdirectories.yaml
  sdk/storage/azure-storage-file/tests/recordings/test_file_samples_directory.test_get_subdirectory_client.yaml
  sdk/storage/azure-storage-file/tests/recordings/test_file_samples_file.test_copy_from_url.yaml
  sdk/storage/azure-storage-file/tests/recordings/test_file_samples_file.test_file_operations.yaml
  sdk/storage/azure-storage-file/tests/recordings/test_file_samples_hello_world.test_create_client_with_connection_string.yaml
  sdk/storage/azure-storage-file/tests/recordings/test_file_samples_hello_world.test_create_file_share.yaml
  sdk/storage/azure-storage-file/tests/recordings/test_file_samples_hello_world.test_upload_file_to_share.yaml
  sdk/storage/azure-storage-file/tests/recordings/test_file_samples_service.test_file_service_properties.yaml
  sdk/storage/azure-storage-file/tests/recordings/test_file_samples_service.test_share_operations.yaml
  sdk/storage/azure-storage-file/tests/recordings/test_file_samples_share.test_create_share_snapshot.yaml
  sdk/storage/azure-storage-file/tests/recordings/test_file_samples_share.test_list_directories_and_files.yaml
  sdk/storage/azure-storage-file/tests/recordings/test_file_samples_share.test_set_share_quota_and_metadata.yaml
  sdk/storage/azure-storage-file/tests/test_file_samples_authentication_async.py
  sdk/storage/azure-storage-file/tests/test_file_samples_directory_async.py
  sdk/storage/azure-storage-file/tests/test_file_samples_file_async.py
  sdk/storage/azure-storage-file/tests/test_file_samples_hello_world_async.py
  sdk/storage/azure-storage-file/tests/test_file_samples_share_async.py
Labels: Client, Storage, blocking-release

#8171 [Blobs] Migrate existing Samples to samples/ folder
  sdk/storage/azure-storage-blob/MANIFEST.in
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/samples/BlockDestination.txt
  sdk/storage/azure-storage-blob/samples/SampleSoure.txt
  sdk/storage/azure-storage-blob/samples/blob_samples_authentication.py
  sdk/storage/azure-storage-blob/samples/blob_samples_authentication_async.py
  sdk/storage/azure-storage-blob/samples/blob_samples_common.py
  sdk/storage/azure-storage-blob/samples/blob_samples_common_async.py
  sdk/storage/azure-storage-blob/samples/blob_samples_containers.py
  sdk/storage/azure-storage-blob/samples/blob_samples_containers_async.py
  sdk/storage/azure-storage-blob/samples/blob_samples_hello_world.py
  sdk/storage/azure-storage-blob/samples/blob_samples_hello_world_async.py
  sdk/storage/azure-storage-blob/samples/blob_samples_service.py
  sdk/storage/azure-storage-blob/samples/blob_samples_service_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_authentication.test_auth_active_directory.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_authentication.test_auth_connection_string.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_authentication.test_auth_shared_key.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_common.test_acquire_lease_on_blob.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_common.test_blob_snapshots.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_common.test_soft_delete_and_undelete_blob.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_common.test_start_copy_blob_from_url_and_abort_copy.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_containers.test_acquire_lease_on_container.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_containers.test_container_sample.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_containers.test_get_blob_client_from_container.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_containers.test_list_blobs_in_container.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_containers.test_set_metadata_on_container.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_hello_world.test_append_blob_sample.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_hello_world.test_block_blob_sample.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_hello_world.test_create_container_sample.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_hello_world.test_page_blob_sample.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_service.test_blob_service_properties.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_service.test_blob_service_stats.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_service.test_container_operations.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_service.test_get_blob_and_container_clients.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_samples_service.test_get_storage_account_information.yaml
Labels: Client, Storage, blocking-release

#8194 Azure core documentation fix
  sdk/core/azure-core/MANIFEST.in
  sdk/core/azure-core/azure/core/exceptions.py
  sdk/core/azure-core/azure/core/tracing/common.py
  sdk/core/azure-core/doc/azure.core.pipeline.policies.rst
  sdk/core/azure-core/doc/azure.core.pipeline.rst
  sdk/core/azure-core/doc/azure.core.pipeline.transport.rst
  sdk/core/azure-core/doc/azure.core.polling.rst
  sdk/core/azure-core/doc/azure.core.rst
  sdk/core/azure-core/doc/azure.core.tracing.rst
  sdk/core/azure-core/doc/azure.rst
Labels: Azure.Core, Client, blocking-release

#8207 Update intersphinx list
  doc/sphinx/conf.py
  doc/sphinx/individual_build_conf.py
Labels: Docs, EngSys
