Repository Azure/azure-sdk-for-python, pull requests merged in 2019-11, with the labels that each got.

#8319 Key Vault: fixed logging for certificates
  sdk/keyvault/azure-keyvault-certificates/HISTORY.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-certificates/tests/certificates_async_preparer.py
  sdk/keyvault/azure-keyvault-certificates/tests/certificates_preparer.py
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_logging_disabled.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_logging_enabled.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_logging_disabled.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_logging_enabled.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
Labels: Client, KeyVault

#8024 azure-keyvault meta-package
  .docsettings.yml
  eng/tox/import_all.py
  eng/tox/prep_sphinx_env.py
  packages.md
  scripts/dev_setup.py
  scripts/devops_tasks/common_tasks.py
  sdk/keyvault/azure-keyvault/HISTORY.md
  sdk/keyvault/azure-keyvault/MANIFEST.in
  sdk/keyvault/azure-keyvault/README.md
  sdk/keyvault/azure-keyvault/sdk_packaging.toml
  sdk/keyvault/azure-keyvault/setup.cfg
  sdk/keyvault/azure-keyvault/setup.py
  shared_requirements.txt
Labels: Client, KeyVault

#8345 Key Vault: Certs readme
  sdk/keyvault/azure-keyvault-certificates/README.md
Labels: Client, KeyVault

#8320 Key Vault: refactored kwarg docstrings for certificates
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/models.py
Labels: Client, KeyVault

#8329 Key Vault: Renamed list methods and CertificateError in Certificates
  sdk/keyvault/azure-keyvault-certificates/HISTORY.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/models.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
Labels: Client, KeyVault

#8371 Key Vault: renaming Certificates AdministratorDetails -> AdministratorContact
  sdk/keyvault/azure-keyvault-certificates/HISTORY.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/models.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
Labels: Client, KeyVault

#8315 Refactor ClientCertificateCredential construction
  sdk/identity/azure-identity/HISTORY.md
  sdk/identity/azure-identity/azure/identity/_authn_client.py
  sdk/identity/azure-identity/azure/identity/_base.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_credential.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_credential.py
  sdk/identity/azure-identity/tests/certificate.pem
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
Labels: Azure.Identity, Client

#8359 Update MSAL dependency
  sdk/identity/azure-identity/HISTORY.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/setup.py
  shared_requirements.txt
Labels: Azure.Identity, Client

#8331 [EventHubs] Eventhubs aio changes
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/HISTORY.md
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/azure/eventhub/extensions/__init__.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/__init__.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/blobstoragepm.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/blobstoragepmaio.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/setup.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/tests/test_storage_blob_partition_manager_aio.py
  sdk/eventhub/azure-eventhubs/MANIFEST.in
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/__init__.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_connection_manager_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_consumer_producer_mixin_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/client_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/consumer_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/eventprocessor/__init__.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/eventprocessor/_ownership_manager.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/eventprocessor/local_partition_manager.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/eventprocessor/partition_manager.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/eventprocessor/sample_partition_manager.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/eventprocessor/sqlite3_partition_manager.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/producer_async.py
  sdk/eventhub/azure-eventhubs/conftest.py
  sdk/eventhub/azure-eventhubs/dev_requirements.txt
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_auth_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_consumer_client_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_negative_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_producer_client_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_properties_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_receive_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_receiver_iterator_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_reconnect_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_send_async.py
  shared_requirements.txt
Labels: Event Hubs

#8383 [EventHubs] Updating samples, small update in readme
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/examples/event_processor_blob_storage_example.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/samples/event_processor_blob_storage_example.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/samples/event_processor_blob_storage_example.py
  sdk/eventhub/azure-eventhubs/README.md
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhubs/doc/azure.eventhub.rst
  sdk/eventhub/azure-eventhubs/examples/__init__.py
  sdk/eventhub/azure-eventhubs/examples/async_examples/iterator_receiver_async.py
  sdk/eventhub/azure-eventhubs/examples/async_examples/recv_async.py
  sdk/eventhub/azure-eventhubs/examples/async_examples/recv_owner_level.py
  sdk/eventhub/azure-eventhubs/examples/async_examples/recv_track_last_enqueued_event_info_async.py
  sdk/eventhub/azure-eventhubs/examples/async_examples/send_async.py
  sdk/eventhub/azure-eventhubs/examples/client_secret_auth.py
  sdk/eventhub/azure-eventhubs/examples/proxy.py
  sdk/eventhub/azure-eventhubs/examples/recv.py
  sdk/eventhub/azure-eventhubs/examples/recv_batch.py
  sdk/eventhub/azure-eventhubs/examples/recv_iterator.py
  sdk/eventhub/azure-eventhubs/examples/recv_track_last_enqueued_event_info.py
  sdk/eventhub/azure-eventhubs/examples/send.py
  sdk/eventhub/azure-eventhubs/examples/send_list_of_event_data.py
  sdk/eventhub/azure-eventhubs/samples/async_samples/recv_async.py
  sdk/eventhub/azure-eventhubs/samples/async_samples/recv_track_last_enqueued_event_info_async.py
  sdk/eventhub/azure-eventhubs/samples/async_samples/recv_with_partition_manager_async.py
  sdk/eventhub/azure-eventhubs/samples/async_samples/sample_code_eventhub_async.py
  sdk/eventhub/azure-eventhubs/samples/async_samples/send_async.py
  sdk/eventhub/azure-eventhubs/samples/async_samples/send_event_data_batch_async.py
  sdk/eventhub/azure-eventhubs/samples/sync_samples/client_secret_auth.py
  sdk/eventhub/azure-eventhubs/samples/sync_samples/proxy.py
  sdk/eventhub/azure-eventhubs/samples/sync_samples/recv.py
  sdk/eventhub/azure-eventhubs/samples/sync_samples/recv_track_last_enqueued_event_info.py
  sdk/eventhub/azure-eventhubs/samples/sync_samples/recv_with_partition_manager.py
  sdk/eventhub/azure-eventhubs/samples/sync_samples/sample_code_eventhub.py
  sdk/eventhub/azure-eventhubs/samples/sync_samples/send.py
  sdk/eventhub/azure-eventhubs/samples/sync_samples/send_event_data_batch.py
Labels: Event Hubs

#8399 [AutoPR policyinsights/resource-manager] Add Microsoft.PolicyInsights/policyMetadata resource type spec
  sdk/policyinsights/azure-mgmt-policyinsights/azure/mgmt/policyinsights/_policy_insights_client.py
  sdk/policyinsights/azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/__init__.py
  sdk/policyinsights/azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/_models.py
  sdk/policyinsights/azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/_models_py3.py
  sdk/policyinsights/azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/_paged_models.py
  sdk/policyinsights/azure-mgmt-policyinsights/azure/mgmt/policyinsights/operations/__init__.py
  sdk/policyinsights/azure-mgmt-policyinsights/azure/mgmt/policyinsights/operations/_policy_metadata_operations.py
Labels: RestPRMerged

#8388 [AutoPR storage/resource-manager] [SRP] Remove a recent added property for container soft delete
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_models.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_models_py3.py
Labels: RestPRMerged

#8352 Fix InteractiveBrowserCredential caching
  sdk/identity/azure-identity/HISTORY.md
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_internal/auth_code_redirect_handler.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_identity.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
Labels: Azure.Identity, Client

#8410 Eventhub track1 patch for eph, merge into primary eh track one branch
  sdk/eventhub/azure-eventhubs/HISTORY.rst
  sdk/eventhub/azure-eventhubs/azure/eventhub/__init__.py
  sdk/eventhub/azure-eventhubs/azure/eventprocessorhost/eh_partition_pump.py
  sdk/eventhub/azure-eventhubs/sdk_packaging.toml
Labels: Client, Event Hubs

#8419 [AutoPR storage/resource-manager] Rout update1
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/__init__.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_models.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_models_py3.py
Labels: RestPRMerged

#8342 Key Vault: certificates polling for delete and recovery
  sdk/keyvault/azure-keyvault-certificates/HISTORY.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/client.py
  sdk/keyvault/azure-keyvault-certificates/samples/backup_restore_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world.py
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations.py
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_async_request_cancellation_and_deletion.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_backup_restore.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_crud_contacts.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_crud_issuer.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_crud_operations.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_get_pending_certificate_signing_request.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_list.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_list_certificate_versions.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_merge_certificate.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_policy.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_recover_and_purge.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_backup_restore.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_crud_contacts.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_crud_issuer.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_crud_operations.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_get_pending_certificate_signing_request.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_list.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_list_certificate_versions.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_merge_certificate.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_policy.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_recover_and_purge.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_examples_certificates.test_example_certificate_backup_restore.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_examples_certificates.test_example_certificate_crud_operations.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_examples_certificates.test_example_certificate_list_operations.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_examples_certificates.test_example_certificate_recover.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_examples_certificates.test_example_contacts.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_examples_certificates.test_example_issuers.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_examples_certificates_async.test_example_certificate_backup_restore.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_examples_certificates_async.test_example_certificate_crud_operations.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_examples_certificates_async.test_example_certificate_list_operations.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_examples_certificates_async.test_example_certificate_recover.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_examples_certificates_async.test_example_contacts.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_examples_certificates_async.test_example_issuers.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
Labels: Client, DO NOT MERGE, KeyVault

#8407 Key Vault: make list tests page
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_list.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_list_certificate_versions.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_list.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_list_certificate_versions.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_key_list.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_list_versions.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_key_list.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_list_versions.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_secrets_async.test_list_versions.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_secrets_async.test_secret_list.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_secrets_client.test_list_versions.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_secrets_client.test_secret_list.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_client.py
Labels: Client, KeyVault

#8441 [AutoPR datafactory/resource-manager] [Datafactory] Enable SQL DW Copy Command
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_data_factory_management_client_enums.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
Labels: RestPRMerged

#8423 Merge release/dec-rollup
  sdk/core/azure-core/HISTORY.md
  sdk/identity/azure-identity/HISTORY.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/_authn_client.py
  sdk/identity/azure-identity/azure/identity/_base.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_credential.py
  sdk/identity/azure-identity/azure/identity/_internal/auth_code_redirect_handler.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_credential.py
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/certificate.pem
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_identity.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  shared_requirements.txt
Labels: Azure.Identity, Client

#8460 Bump Warden Version
  eng/pipelines/templates/steps/analyze.yml
Labels: EngSys

#8053 Add passing kwargs and HttpLoggingPolicy plugged
  sdk/core/azure-core/azure/core/_pipeline_client.py
  sdk/core/azure-core/azure/core/_pipeline_client_async.py
Labels: Azure.Core, Client

#8455 [AutoPR servicefabric/resource-manager] remove locale from links
  sdk/servicefabric/azure-mgmt-servicefabric/azure/mgmt/servicefabric/models/_models.py
  sdk/servicefabric/azure-mgmt-servicefabric/azure/mgmt/servicefabric/models/_models_py3.py
Labels: RestPRMerged

#7622 Live tests for managed identity, username/password, browser credentials
  sdk/identity/azure-identity/conftest.py
  sdk/identity/azure-identity/tests/test_imds.py
  sdk/identity/azure-identity/tests/test_imds_async.py
  sdk/identity/azure-identity/tests/test_live.py
  sdk/identity/azure-identity/tests/test_live_async.py
Labels: Azure.Identity, Client

#8421 [AutoPR storage/resource-manager] [SRP] Add account sku to file/blob service response
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/__init__.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_models.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_models_py3.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_paged_models.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/operations/_skus_operations.py
Labels: RestPRMerged

#8457 [AutoPR signalr/resource-manager] remove locale from link
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/__init__.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/_configuration.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/_signal_rmanagement_client.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/__init__.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/_models.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/_models_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/_paged_models.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/_signal_rmanagement_client_enums.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/dimension.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/dimension_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/metric_specification.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/metric_specification_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/name_availability.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/name_availability_parameters.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/name_availability_parameters_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/name_availability_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/operation.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/operation_display.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/operation_display_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/operation_paged.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/operation_properties.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/operation_properties_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/operation_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/regenerate_key_parameters.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/regenerate_key_parameters_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/resource.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/resource_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/resource_sku.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/resource_sku_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/service_specification.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/service_specification_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rcors_settings.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rcors_settings_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rcreate_or_update_properties.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rcreate_or_update_properties_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rcreate_parameters.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rcreate_parameters_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rfeature.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rfeature_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rkeys.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rkeys_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rresource.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rresource_paged.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rresource_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rupdate_parameters.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rupdate_parameters_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rusage.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rusage_name.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rusage_name_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/signal_rusage_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/tracked_resource.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/models/tracked_resource_py3.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/operations/__init__.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/operations/_operations.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/operations/_signal_roperations.py
  sdk/signalr/azure-mgmt-signalr/azure/mgmt/signalr/operations/_usages_operations.py
Labels: RestPRMerged

#8385 Fix media streaming bug
  sdk/cosmos/azure-cosmos/HISTORY.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_synchronized_request.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/azure/cosmos/auth.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/azure/cosmos/http_constants.py
  sdk/cosmos/azure-cosmos/test/media_tests.py
Labels: Client, Cosmos

#8481 [AutoPR batch/resource-manager] use secure link for documentation
  sdk/batch/azure-mgmt-batch/azure/mgmt/batch/models/_models.py
  sdk/batch/azure-mgmt-batch/azure/mgmt/batch/models/_models_py3.py
Labels: RestPRMerged

#8487 [AutoPR netapp/resource-manager] New swagger for 2019-08-01 API
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/_azure_net_app_files_management_client.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/models/__init__.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/models/_models.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/models/_models_py3.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/__init__.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/_accounts_operations.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/_mount_targets_operations.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/_net_app_resource_operations.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/_operations.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/_pools_operations.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/_snapshots_operations.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/_volumes_operations.py
Labels: RestPRMerged

#8255 Work around sphinx markdown heading link bug
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity, Client, Docs

#8508 Call proper process_error_async inside eventHubPartitionPump
  sdk/eventhub/azure-eventhubs/azure/eventprocessorhost/eh_partition_pump.py
  sdk/eventhub/azure-eventhubs/tests/asynctests/test_eh_partition_pump.py
Labels: Client, Event Hubs

#8452 [AutoPR resources/resource-manager] update filter description for list resources
  sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_08_01/operations/_resources_operations.py
Labels: RestPRMerged

#8527 [AutoPR appconfiguration/resource-manager] upgrade appconfiguration package tag
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/_app_configuration_management_client.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/models/__init__.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/models/_app_configuration_management_client_enums.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/models/_models.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/models/_models_py3.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/operations/_configuration_stores_operations.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/operations/_operations.py
Labels: RestPRMerged

#8528 [AutoPR] appconfiguration/resource-manager
  sdk/appconfiguration/azure-mgmt-appconfiguration/HISTORY.rst
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/_app_configuration_management_client.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/models/__init__.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/models/_app_configuration_management_client_enums.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/models/_models.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/models/_models_py3.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/operations/_configuration_stores_operations.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/operations/_operations.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/version.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/tests/recordings/test_cli_mgmt_appconfiguration.test_appconfiguration.yaml
  sdk/appconfiguration/azure-mgmt-appconfiguration/tests/test_cli_mgmt_appconfiguration.py
Labels: ServicePR

#7816 [AutoPR] cognitiveservices/data-plane/LUIS/Authoring
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/HISTORY.rst
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/authoring/_configuration.py
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/authoring/_luis_authoring_client.py
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/authoring/models/__init__.py
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/authoring/models/_models.py
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/authoring/models/_models_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/authoring/operations/_features_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/authoring/operations/_model_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/version.py
Labels: ServicePR

#8009 [AutoPR] cosmos-db/resource-manager
  sdk/cosmos/azure-mgmt-cosmosdb/HISTORY.rst
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/_cosmos_db.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_cosmos_db_enums.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models_py3.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_paged_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_private_endpoint_connections_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_private_link_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/version.py
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_create.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_delete.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_features.yaml
Labels: ServicePR

#8109 Improve chained and defaultazurecredential error messages
  sdk/identity/azure-identity/azure/identity/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
Labels: Azure.Identity, Client

#8444 [AutoPR sql/resource-manager] Update databaseVulnerabilityAssessments.json
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/models/__init__.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/models/_models.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/models/_models_py3.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/models/_sql_management_client_enums.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/operations/_databases_operations.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/operations/_managed_instance_administrators_operations.py
Labels: RestPRMerged

#7300 [AutoPR] azure-kusto/resource-manager
  sdk/kusto/azure-mgmt-kusto/HISTORY.rst
  sdk/kusto/azure-mgmt-kusto/azure/mgmt/kusto/_kusto_management_client.py
  sdk/kusto/azure-mgmt-kusto/azure/mgmt/kusto/models/__init__.py
  sdk/kusto/azure-mgmt-kusto/azure/mgmt/kusto/models/_kusto_management_client_enums.py
  sdk/kusto/azure-mgmt-kusto/azure/mgmt/kusto/models/_models.py
  sdk/kusto/azure-mgmt-kusto/azure/mgmt/kusto/models/_models_py3.py
  sdk/kusto/azure-mgmt-kusto/azure/mgmt/kusto/models/_paged_models.py
  sdk/kusto/azure-mgmt-kusto/azure/mgmt/kusto/operations/__init__.py
  sdk/kusto/azure-mgmt-kusto/azure/mgmt/kusto/operations/_attached_database_configurations_operations.py
  sdk/kusto/azure-mgmt-kusto/azure/mgmt/kusto/operations/_clusters_operations.py
  sdk/kusto/azure-mgmt-kusto/azure/mgmt/kusto/operations/_data_connections_operations.py
  sdk/kusto/azure-mgmt-kusto/azure/mgmt/kusto/operations/_databases_operations.py
  sdk/kusto/azure-mgmt-kusto/azure/mgmt/kusto/operations/_operations.py
  sdk/kusto/azure-mgmt-kusto/azure/mgmt/kusto/version.py
Labels: ServicePR

#8563 Make preparer force https for storage account
  tools/azure-sdk-tools/devtools_testutils/storage_testcase.py
Labels: Storage

#8488 [AutoPR] netapp/resource-manager
  sdk/netapp/azure-mgmt-netapp/HISTORY.rst
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/_azure_net_app_files_management_client.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/models/__init__.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/models/_models.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/models/_models_py3.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/__init__.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/_accounts_operations.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/_mount_targets_operations.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/_net_app_resource_operations.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/_operations.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/_pools_operations.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/_snapshots_operations.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/_volumes_operations.py
  sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/version.py
  sdk/netapp/azure-mgmt-netapp/tests/recordings/test_account.test_create_delete_account.yaml
  sdk/netapp/azure-mgmt-netapp/tests/recordings/test_account.test_get_account_by_name.yaml
  sdk/netapp/azure-mgmt-netapp/tests/recordings/test_account.test_list_accounts.yaml
  sdk/netapp/azure-mgmt-netapp/tests/recordings/test_account.test_patch_account.yaml
  sdk/netapp/azure-mgmt-netapp/tests/setup.py
  sdk/netapp/azure-mgmt-netapp/tests/test_mounttarget.py
  sdk/netapp/azure-mgmt-netapp/tests/test_pool.py
  sdk/netapp/azure-mgmt-netapp/tests/test_snapshot.py
  sdk/netapp/azure-mgmt-netapp/tests/test_volume.py
Labels: ServicePR

#8425 [AutoPR] sql/resource-manager
  sdk/sql/azure-mgmt-sql/HISTORY.rst
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/models/__init__.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/models/_models.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/models/_models_py3.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/models/_sql_management_client_enums.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/operations/_databases_operations.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/operations/_managed_instance_administrators_operations.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/version.py
Labels: ServicePR

#8434 [AutoPR policyinsights/resource-manager] Microsoft.PolicyInsights/remediations 2019-07-01
  sdk/policyinsights/azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/__init__.py
  sdk/policyinsights/azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/_models.py
  sdk/policyinsights/azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/_models_py3.py
  sdk/policyinsights/azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/_policy_insights_client_enums.py
  sdk/policyinsights/azure-mgmt-policyinsights/azure/mgmt/policyinsights/operations/_remediations_operations.py
Labels: RestPRMerged

#8069 [AutoPR] storagecache/resource-manager
  sdk/storage/azure-mgmt-storagecache/HISTORY.rst
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/__init__.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/_configuration.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/_storage_cache_management_client.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/models/__init__.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/models/_models.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/models/_models_py3.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/models/_storage_cache_management_client_enums.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_caches_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_skus_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_storage_targets_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_usage_models_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/version.py
Labels: ServicePR

#8577 Key Vault: Rename Certificate parameters
  sdk/keyvault/azure-keyvault-certificates/HISTORY.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/client.py
  sdk/keyvault/azure-keyvault-certificates/samples/backup_restore_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/contacts.py
  sdk/keyvault/azure-keyvault-certificates/samples/contacts_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
Labels: Client, KeyVault

#8372 Key Vault Certificates: added WellKnownIssuerNames enum class
  sdk/keyvault/azure-keyvault-certificates/HISTORY.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/enums.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/models.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
Labels: Client, KeyVault

#8491 [AutoPR cognitiveservices/data-plane/QnAMaker] [QnA Maker] Update API data fields.
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/_models.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/models/_models_py3.py
Labels: RestPRMerged

#8572 [AutoPR sql/resource-manager] Sql auditing swagger - add queueDelayMs property
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/models/_models.py
  sdk/sql/azure-mgmt-sql/azure/mgmt/sql/models/_models_py3.py
Labels: RestPRMerged

#8539 [Storage] Bug fix - Upload from requests get fails in get_length
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/request_handlers.py
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.test_create_blob_with_generator.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob_async.test_create_blob_with_generator_async.yaml
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/request_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/request_handlers.py
Labels: Client, Storage

#8465 Raise exception when unable to open a web browser
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
Labels: Azure.Identity, Client

#8470 InteractiveBrowserCredential prompts for account selection
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
Labels: Azure.Identity, Client

#8560 [AutoPR] cosmos-db/resource-manager
  sdk/cosmos/azure-mgmt-cosmosdb/HISTORY.rst
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/_configuration.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/_cosmos_db_management_client.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_cosmos_db_management_client_enums.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models_py3.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_paged_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_cassandra_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_partition_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_partition_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_account_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_accounts_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_gremlin_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_mongo_db_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_partition_key_range_id_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_partition_key_range_id_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_source_target_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_target_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_sql_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_table_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/version.py
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_create.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_delete.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_features.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/test_mgmt_cosmosdb.py
Labels: ServicePR

#8628 Update README.md
  README.md
Labels: Client, Docs

#8294 Handle ImportError when constructing DefaultAzureCredential
  sdk/identity/azure-identity/HISTORY.md
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
Labels: Azure.Identity, Client

#8567 [AutoPR security/resource-manager] fix swagger completeness issue
  sdk/security/azure-mgmt-security/azure/mgmt/security/operations/_alerts_operations.py
Labels: RestPRMerged

#8620 [AutoPR web/resource-manager] Fixing description for deleteEmptyServerFarm
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/v2016_08_01/operations/_web_apps_operations.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/v2018_02_01/operations/_web_apps_operations.py
  sdk/appservice/azure-mgmt-web/azure/mgmt/web/v2019_08_01/operations/_web_apps_operations.py
Labels: RestPRMerged

#8607 Cosmos docstring review
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_consistent_hash_ring.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_default_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_endpoint_discovery_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aggregators.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/base_execution_context.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/document_producer.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/endpoint_component.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/execution_dispatcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/multi_execution_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/query_execution_info.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_global_endpoint_manager.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_location_cache.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_murmur_hash.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_partition.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_query_iterable.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_range.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_range_partition_resolver.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_resource_throttle_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_retry_options.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_retry_utility.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/collection_routing_map.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/routing_map_provider.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/routing_range.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_runtime_constants.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_session.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_session_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_synchronized_request.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_vector_session_token.py
  sdk/cosmos/azure-cosmos/azure/cosmos/auth.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/diagnostics.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/azure/cosmos/errors.py
  sdk/cosmos/azure-cosmos/azure/cosmos/exceptions.py
  sdk/cosmos/azure-cosmos/azure/cosmos/http_constants.py
  sdk/cosmos/azure-cosmos/azure/cosmos/offer.py
  sdk/cosmos/azure-cosmos/azure/cosmos/partition_key.py
  sdk/cosmos/azure-cosmos/azure/cosmos/permission.py
  sdk/cosmos/azure-cosmos/azure/cosmos/scripts.py
  sdk/cosmos/azure-cosmos/azure/cosmos/user.py
  sdk/cosmos/azure-cosmos/test/query_tests.py
  sdk/cosmos/azure-cosmos/test/retry_policy_tests.py
Labels: Cosmos

#8435 Eventhub track1 patch for close on checkpoint failure
  sdk/eventhub/azure-eventhubs/HISTORY.rst
  sdk/eventhub/azure-eventhubs/azure/eventhub/__init__.py
  sdk/eventhub/azure-eventhubs/azure/eventprocessorhost/eph.py
  sdk/eventhub/azure-eventhubs/azure/eventprocessorhost/partition_pump.py
Labels: Client, Event Hubs

#8519 Thread application_properties into Message within eventData
  sdk/eventhub/azure-eventhubs/HISTORY.rst
  sdk/eventhub/azure-eventhubs/azure/eventhub/async_ops/sender_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/common.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/sender.py
  sdk/eventhub/azure-eventhubs/setup.py
  sdk/eventhub/azure-eventhubs/tests/test_receive.py
Labels: Client, Event Hubs

#8514 Default credentials are configurable by kwargs
  sdk/identity/azure-identity/HISTORY.md
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
Labels: Azure.Identity, Client

#8642 [AutoPR billing/resource-manager] Corrected the enum value to match it with actual implementation
  sdk/billing/azure-mgmt-billing/azure/mgmt/billing/models/billing_management_client_enums.py
  sdk/billing/azure-mgmt-billing/azure/mgmt/billing/models/policy.py
  sdk/billing/azure-mgmt-billing/azure/mgmt/billing/models/policy_py3.py
Labels: RestPRMerged

#8617 [AutoPR cognitiveservices/data-plane/FormRecognizer] FRv20-preview- minor updates
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/form_recognizer_client.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/__init__.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/analyze_operation_result.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/analyze_operation_result_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/analyze_result.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/analyze_result_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/form_operation_error.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/form_operation_error_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/model.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/model_info.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/model_info_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/model_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/models_summary.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/models_summary_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/train_result.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/train_result_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/training_document_info.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/training_document_info_py3.py
Labels: RestPRMerged

#8341 InkRecognizer to use GA azure-core
  sdk/cognitiveservices/azure-cognitiveservices-inkrecognizer/HISTORY.md
  sdk/cognitiveservices/azure-cognitiveservices-inkrecognizer/azure/cognitiveservices/inkrecognizer/_version.py
  sdk/cognitiveservices/azure-cognitiveservices-inkrecognizer/sdk_packaging.toml
  sdk/cognitiveservices/azure-cognitiveservices-inkrecognizer/setup.py
Labels: Client, Cognitive Services

#8623 Message span should not be child of Send span
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/producer_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/producer.py
Labels: Client, Event Hubs

#8532 [AutoPR containerservice/resource-manager] AKS: making the `count` field optiona;
  sdk/containerservice/azure-mgmt-containerservice/azure/mgmt/containerservice/v2019_06_01/models/_models.py
  sdk/containerservice/azure-mgmt-containerservice/azure/mgmt/containerservice/v2019_06_01/models/_models_py3.py
  sdk/containerservice/azure-mgmt-containerservice/azure/mgmt/containerservice/v2019_08_01/models/_models.py
  sdk/containerservice/azure-mgmt-containerservice/azure/mgmt/containerservice/v2019_08_01/models/_models_py3.py
  sdk/containerservice/azure-mgmt-containerservice/azure/mgmt/containerservice/v2019_10_01/models/_models.py
  sdk/containerservice/azure-mgmt-containerservice/azure/mgmt/containerservice/v2019_10_01/models/_models_py3.py
Labels: RestPRMerged

#8602 [AutoPR iothub/resource-manager] [Hub Generated] Review request for Microsoft.Devices to add version stable/2019-11-04
  sdk/iothub/azure-mgmt-iothub/azure/mgmt/iothub/_iot_hub_client.py
  sdk/iothub/azure-mgmt-iothub/azure/mgmt/iothub/models/__init__.py
  sdk/iothub/azure-mgmt-iothub/azure/mgmt/iothub/models/_iot_hub_client_enums.py
  sdk/iothub/azure-mgmt-iothub/azure/mgmt/iothub/models/_models.py
  sdk/iothub/azure-mgmt-iothub/azure/mgmt/iothub/models/_models_py3.py
  sdk/iothub/azure-mgmt-iothub/azure/mgmt/iothub/operations/_certificates_operations.py
  sdk/iothub/azure-mgmt-iothub/azure/mgmt/iothub/operations/_iot_hub_operations.py
  sdk/iothub/azure-mgmt-iothub/azure/mgmt/iothub/operations/_iot_hub_resource_operations.py
  sdk/iothub/azure-mgmt-iothub/azure/mgmt/iothub/operations/_operations.py
  sdk/iothub/azure-mgmt-iothub/azure/mgmt/iothub/operations/_resource_provider_common_operations.py
Labels: RestPRMerged

#8464 [AutoPR] compute/resource-manager
  sdk/compute/azure-mgmt-compute/HISTORY.rst
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2018_04_01/models/_models.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2018_04_01/models/_models_py3.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2018_06_01/models/_models.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2018_06_01/models/_models_py3.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2018_10_01/models/_models.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2018_10_01/models/_models_py3.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_03_01/models/__init__.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_03_01/models/_compute_management_client_enums.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_03_01/models/_models.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_03_01/models/_models_py3.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_07_01/models/__init__.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_07_01/models/_compute_management_client_enums.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_07_01/models/_models.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_07_01/models/_models_py3.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_07_01/operations/_proximity_placement_groups_operations.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/version.py
Labels: ServicePR

#8569 [AutoPR azure-kusto/resource-manager] fixing kusto output folder
  sdk/kusto/azure-mgmt-kusto/tests/recordings/test_cli_mgmt_kusto.test_kusto_adjusted.yaml
  sdk/kusto/azure-mgmt-kusto/tests/test_cli_mgmt_kusto.py
Labels: RestPRMerged

#8653 Correct App Service MSI query parameter
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity, Client

#8433 Key Vault: Certificate Policy reshape
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/models.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_policy.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_policy.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_models.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
Labels: Client, KeyVault

#8723 [AutoPR policyinsights/resource-manager] Fix Microsoft.policyInsights/policyMetadata query parameter
  sdk/policyinsights/azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/_models.py
  sdk/policyinsights/azure-mgmt-policyinsights/azure/mgmt/policyinsights/models/_models_py3.py
  sdk/policyinsights/azure-mgmt-policyinsights/azure/mgmt/policyinsights/operations/_policy_metadata_operations.py
Labels: RestPRMerged

#8731 [AutoPR customerlockbox/resource-manager] [Hub Generated] Review request for Microsoft.CustomerLockbox to add version preview/2018-02-28-preview
  sdk/azure-mgmt/customerlockbox/__init__.py
  sdk/azure-mgmt/customerlockbox/_configuration.py
  sdk/azure-mgmt/customerlockbox/_customer_lockbox.py
  sdk/azure-mgmt/customerlockbox/models/__init__.py
  sdk/azure-mgmt/customerlockbox/models/_customer_lockbox_enums.py
  sdk/azure-mgmt/customerlockbox/models/_models.py
  sdk/azure-mgmt/customerlockbox/models/_models_py3.py
  sdk/azure-mgmt/customerlockbox/models/_paged_models.py
  sdk/azure-mgmt/customerlockbox/operations/__init__.py
  sdk/azure-mgmt/customerlockbox/operations/_operations.py
  sdk/azure-mgmt/customerlockbox/operations/_requests_operations.py
  sdk/azure-mgmt/customerlockbox/version.py
Labels: RestPRMerged

#8693 [AutoPR eventhub/resource-manager] Adding MaxLength Validation to eventHubName
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2017_04_01/operations/_consumer_groups_operations.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2017_04_01/operations/_event_hubs_operations.py
Labels: RestPRMerged

#8639 Version manipulation tools
  eng/pipelines/templates/jobs/archetype-sdk-nightly.yml
  eng/pipelines/templates/steps/analyze.yml
  eng/versioning/__init__.py
  eng/versioning/find_invalid_versions.py
  eng/versioning/requirements.txt
  eng/versioning/setup_parser.py
  eng/versioning/version_increment.py
  eng/versioning/version_set.py
  eng/versioning/version_set_dev.py
  eng/versioning/version_shared.py
  sdk/batch/azure-batch/azure/batch/__init__.py
  sdk/batch/azure-batch/azure/batch/_configuration.py
  sdk/batch/azure-batch/azure/batch/_version.py
  sdk/batch/azure-batch/setup.py
  sdk/core/azure-core-tracing-opencensus/azure/core/tracing/ext/opencensus_span/__init__.py
  sdk/core/azure-core-tracing-opencensus/azure/core/tracing/ext/opencensus_span/_version.py
  sdk/core/azure-core-tracing-opencensus/setup.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/__init__.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_version.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/setup.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/__init__.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_version.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/setup.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/__init__.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhubs/setup.py
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/setup.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/__init__.py
  sdk/template/azure-template/azure/template/__init__.py
  sdk/template/azure-template/azure/template/_version.py
  sdk/template/azure-template/setup.py
Labels: EngSys

#8698 Minor optimization in RetryPolicy
  sdk/core/azure-core/azure/core/pipeline/policies/_retry.py
  sdk/core/azure-core/tests/test_pipeline.py
Labels: Azure.Core, Client

#8689 Improved account filtering and tests for SharedTokenCacheCredential
  sdk/identity/azure-identity/HISTORY.md
  sdk/identity/azure-identity/azure/identity/_authn_client.py
  sdk/identity/azure-identity/azure/identity/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/user.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
Labels: Azure.Identity, Client

#8740 Certificates: Make files private and move imports to init
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_enums.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_polling_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
Labels: Client, KeyVault

#8701 [AutoPR containerservice/resource-manager] add AKS listClusterMonitoringUserCredential API
  sdk/containerservice/azure-mgmt-containerservice/azure/mgmt/containerservice/v2019_10_01/operations/_managed_clusters_operations.py
Labels: RestPRMerged

#8777 Ensure offline DefaultAzureCredential tests pass during live runs
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
Labels: Azure.Identity, Client

#8782 [AutoPR storage/resource-manager] [SRP] Increase the max file share quota for LFS
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_models.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_models_py3.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/operations/_file_shares_operations.py
Labels: RestPRMerged

#8712 [EventHubs] Auth consolidation
  sdk/eventhub/azure-eventhubs/azure/eventhub/__init__.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/__init__.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhubs/conftest.py
  sdk/eventhub/azure-eventhubs/samples/async_samples/sample_code_eventhub_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_properties_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_reconnect_async.py
Labels: Event Hubs

#8753 Certificates: admin_details rename
  sdk/keyvault/azure-keyvault-certificates/HISTORY.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
Labels: Client, KeyVault

#8779 Certificates: Cert changes from meeting
  sdk/keyvault/azure-keyvault-certificates/HISTORY.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_enums.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-certificates/samples/contacts.py
  sdk/keyvault/azure-keyvault-certificates/samples/contacts_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_models.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
Labels: Client, KeyVault

#8571 Key Vault: increasing Certificate Policy test coverage
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/__init__.py
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_policy.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_policy.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
Labels: Client, KeyVault

#8787 Add download_blob to container client
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_download_blob.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_download_blob_async.yaml
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
Labels: Client, Storage

#8721 [EventHubs] Updated blob checkpointing API
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/HISTORY.md
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/__init__.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_blobstoragecsaio.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_version.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/blobstoragecsaio.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/samples/event_processor_blob_storage_example.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/tests/test_storage_blob_partition_manager_aio.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/HISTORY.md
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/__init__.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_blobstoragecs.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_version.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/blobstoragecs.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/samples/event_processor_blob_storage_example.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/tests/test_storage_blob_partition_manager.py
  sdk/eventhub/azure-eventhubs/HISTORY.md
  sdk/eventhub/azure-eventhubs/README.md
  sdk/eventhub/azure-eventhubs/azure/eventhub/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_eventprocessor/sqlite3_checkpoint_store.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_eventprocessor/sqlite3_checkpoint_store.py
  sdk/eventhub/azure-eventhubs/samples/async_samples/recv_with_partition_manager_async.py
  sdk/eventhub/azure-eventhubs/samples/sync_samples/recv_with_partition_manager.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_eventprocessor_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/synctests/test_eventprocessor.py
Labels: Event Hubs

#8820 [AutoPR compute/resource-manager] Swagger improvements: Add example to Generalize API
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_07_01/models/__init__.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_07_01/models/_models.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_07_01/models/_models_py3.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_07_01/operations/_virtual_machine_scale_set_extensions_operations.py
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_07_01/operations/_virtual_machines_operations.py
Labels: RestPRMerged

#8815 KeyVault: fixed certificates readme so sphinx would render properly
  sdk/keyvault/azure-keyvault-certificates/README.md
Labels: Client, KeyVault

#8690 MessageProperties is not robust to accept arbitrary kwargs.
  sdk/servicebus/azure-servicebus/azure/servicebus/common/message.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Client, Service Bus, customer-reported

#8802 [EventHubs] Small bug fix
  sdk/eventhub/azure-eventhubs/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_eventprocessor/_eventprocessor_mixin.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_send_async.py
Labels: Event Hubs

#8700 [AutoPR containerregistry/data-plane] [ACR] Add configuration for dataplane python sdk
  sdk/containerregistry/azure-containerregistry/HISTORY.rst
  sdk/containerregistry/azure-containerregistry/MANIFEST.in
  sdk/containerregistry/azure-containerregistry/README.rst
  sdk/containerregistry/azure-containerregistry/azure/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_azure_container_registry.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/models/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/models/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/models/_models_py3.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/operations/_access_tokens_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/operations/_blob_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/operations/_manifests_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/operations/_refresh_tokens_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/operations/_repository_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/operations/_tag_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/operations/_v2_support_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/version.py
  sdk/containerregistry/azure-containerregistry/sdk_packaging.toml
  sdk/containerregistry/azure-containerregistry/setup.cfg
  sdk/containerregistry/azure-containerregistry/setup.py
Labels: RestPRMerged

#8818 Key Vault: clarifying that certificates will eventually purge
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations_async.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/_client.py
Labels: Client, KeyVault

#8827 Override _open() to be non-blocking call
  sdk/eventhub/azure-eventhubs/azure/eventhub/_consumer.py
Labels: Client, Event Hubs

#8822 [EventHubs] Expose connection idle timeout configuration
  sdk/eventhub/azure-eventhubs/HISTORY.md
  sdk/eventhub/azure-eventhubs/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_reconnect_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/synctests/test_reconnect.py
Labels: Client, Event Hubs

#8834 [AutoPR cdn/resource-manager] Change default version for CDN service to be 2019-04-15
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/cdn_management_client.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/__init__.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/cdn_management_client_enums.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/custom_domain.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/custom_domain_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/deep_created_origin.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/deep_created_origin_group.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/deep_created_origin_group_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/deep_created_origin_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/endpoint.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/endpoint_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/endpoint_update_parameters.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/endpoint_update_parameters_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/health_probe_parameters.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/health_probe_parameters_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/http_error_range_parameters.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/http_error_range_parameters_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/origin.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/origin_group.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/origin_group_paged.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/origin_group_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/origin_group_update_parameters.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/origin_group_update_parameters_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/origin_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/origin_update_parameters.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/origin_update_parameters_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/resource_reference.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/resource_reference_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/response_based_origin_error_detection_parameters.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/response_based_origin_error_detection_parameters_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/url_rewrite_action_parameters.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/models/url_rewrite_action_parameters_py3.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/operations/__init__.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/operations/custom_domains_operations.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/operations/edge_nodes_operations.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/operations/endpoints_operations.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/operations/operations.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/operations/origin_groups_operations.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/operations/origins_operations.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/operations/profiles_operations.py
  sdk/cdn/azure-mgmt-cdn/azure/mgmt/cdn/operations/resource_usage_operations.py
Labels: RestPRMerged

#8785 [EventHubs] Early partition release
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_blobstoragecsaio.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/tests/test_storage_blob_partition_manager_aio.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_blobstoragecs.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/tests/test_storage_blob_partition_manager.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_eventprocessor/ownership_manager.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_eventprocessor/_ownership_manager.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhubs/samples/async_samples/recv_with_partition_manager_async.py
  sdk/eventhub/azure-eventhubs/samples/sync_samples/recv_with_partition_manager.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_eventprocessor_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/synctests/test_eventprocessor.py
Labels: Event Hubs

#8837 Key Vault: fixing livetest errors
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_backup_restore.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_crud_issuer.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_backup_restore.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_crud_issuer.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
Labels: Client, KeyVault

#8850 [AutoPR mediaservices/resource-manager] Use @microsoft.azure/autorest.java@2.1.90 explicitly
  sdk/media/azure-mgmt-media/azure/mgmt/media/_azure_media_services.py
  sdk/media/azure-mgmt-media/azure/mgmt/media/models/__init__.py
  sdk/media/azure-mgmt-media/azure/mgmt/media/models/_azure_media_services_enums.py
  sdk/media/azure-mgmt-media/azure/mgmt/media/models/_models.py
  sdk/media/azure-mgmt-media/azure/mgmt/media/models/_models_py3.py
  sdk/media/azure-mgmt-media/azure/mgmt/media/operations/_jobs_operations.py
  sdk/media/azure-mgmt-media/azure/mgmt/media/operations/_live_events_operations.py
  sdk/media/azure-mgmt-media/azure/mgmt/media/operations/_live_outputs_operations.py
  sdk/media/azure-mgmt-media/azure/mgmt/media/operations/_streaming_endpoints_operations.py
Labels: RestPRMerged

#8836 [AutoPR cosmos-db/resource-manager] Added configuration to generate c# sdk for CosmosDB service.
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/_configuration.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/_cosmos_db_management_client.py
Labels: RestPRMerged

#8855 [AutoPR securityinsights/resource-manager] Adding incident info to GetBookmarks
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/__init__.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/bookmark.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/bookmark_py3.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/incident_info.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/incident_info_py3.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/microsoft_security_incident_creation_alert_rule.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/microsoft_security_incident_creation_alert_rule_common_properties.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/microsoft_security_incident_creation_alert_rule_common_properties_py3.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/microsoft_security_incident_creation_alert_rule_py3.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/microsoft_security_incident_creation_alert_rule_template.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/microsoft_security_incident_creation_alert_rule_template_py3.py
  sdk/azure-mgmt-securityinsight/azure/mgmt/securityinsight/models/security_insights_enums.py
Labels: RestPRMerged

#8848 azure-core 1.1.0
  sdk/core/azure-core/HISTORY.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, Client

#8844 Join thread after it's done
  sdk/eventhub/azure-eventhubs/tests/livetest/synctests/test_eventprocessor.py
Labels: Event Hubs

#8849 [EventHubs] Docs update
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_blobstoragecsaio.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/setup.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_blobstoragecs.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/setup.py
  sdk/eventhub/azure-eventhubs/HISTORY.md
  sdk/eventhub/azure-eventhubs/azure/eventhub/__init__.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_eventprocessor/common.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/exceptions.py
  sdk/eventhub/azure-eventhubs/doc/azure.eventhub.aio.rst
  sdk/eventhub/azure-eventhubs/doc/azure.eventhub.exceptions.rst
  sdk/eventhub/azure-eventhubs/doc/azure.eventhub.rst
  sdk/eventhub/azure-eventhubs/samples/async_samples/recv_with_partition_manager_async.py
  sdk/eventhub/azure-eventhubs/samples/sync_samples/recv_with_partition_manager.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_eventprocessor_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_negative_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_receive_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/synctests/test_eventprocessor.py
  sdk/eventhub/azure-eventhubs/tests/livetest/synctests/test_negative.py
  sdk/eventhub/azure-eventhubs/tests/livetest/synctests/test_receive.py
Labels: Client, Event Hubs

#8851 Eventhubs README
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhubs/README.md
Labels: Client, Event Hubs

#8878 Certificates: fixed issuer samples
  sdk/keyvault/azure-keyvault-certificates/samples/issuers.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers_async.py
Labels: Client, KeyVault

#8897 Update blob checkpoint store sample
  sdk/eventhub/azure-eventhubs-checkpointstoreblob-aio/samples/event_processor_blob_storage_example.py
  sdk/eventhub/azure-eventhubs-checkpointstoreblob/samples/event_processor_blob_storage_example.py
Labels: Client, Event Hubs

#8896 [EventHubs] Updated eventdata str and repr
  sdk/eventhub/azure-eventhubs/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhubs/tests/unittest/test_event_data.py
Labels: Event Hubs

#8854 Fix a trace_message bug
  sdk/eventhub/azure-eventhubs/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/asynctests/test_eventprocessor_async.py
  sdk/eventhub/azure-eventhubs/tests/livetest/synctests/test_eventprocessor.py
Labels: Client, Event Hubs

#8708 [AutoPR security/resource-manager] Add automations resource REST specification to Microsoft.Security
  sdk/security/azure-mgmt-security/azure/mgmt/security/_security_center.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/models/__init__.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/models/_models.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/models/_models_py3.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/models/_paged_models.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/models/_security_center_enums.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/operations/__init__.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/operations/_automations_operations.py
Labels: RestPRMerged
