Repository Azure/azure-sdk-for-python, pull requests merged in 2019-12, with the labels that each got.

#8903 [AutoPR mysql/resource-manager] Support MySQL ServerVersion 8.0
  sdk/rdbms/azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/models/_models.py
  sdk/rdbms/azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/models/_models_py3.py
  sdk/rdbms/azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/models/_my_sql_management_client_enums.py
Labels: RestPRMerged

#8886 [EventHubs] Mypy
  sdk/eventhub/azure-eventhubs/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_eventprocessor/ownership_manager.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_eventprocessor/_ownership_manager.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/aio/_producer_client_async.py
Labels: Event Hubs

#8794 [AutoPR servicefabric/data-plane] Swagger specification for Service Fabric runtime version 7.0
  sdk/servicefabric/azure-servicefabric/README.rst
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/_service_fabric_client_ap_is.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/models/__init__.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/models/_models.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/models/_models_py3.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/models/_service_fabric_client_ap_is_enums.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/operations/_mesh_application_operations.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/operations/_service_fabric_client_ap_is_operations.py
  sdk/servicefabric/azure-servicefabric/setup.py
Labels: RestPRMerged

#8893 Fix threading context with OpenCensus
  sdk/core/azure-core-tracing-opencensus/azure/core/tracing/ext/opencensus_span/__init__.py
  sdk/core/azure-core-tracing-opencensus/tests/test_threading.py
Labels: Azure.Core, Client

#8911 Lock list_xxx in InMemoryCheckpointStore for multi-thread to avoid pytest crashing on MacOS
  sdk/eventhub/azure-eventhubs/azure/eventhub/_eventprocessor/sqlite3_checkpoint_store.py
Labels: Client, Event Hubs

#8422 azure-identity 1.1.0
  sdk/identity/azure-identity/HISTORY.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity, Client

#8696 [AutoPR cognitiveservices/data-plane/FormRecognizer] FRv2.0-preview: Minor change
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/text_word.py
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/azure/cognitiveservices/formrecognizer/models/text_word_py3.py
Labels: RestPRMerged

#8910 [AutoPR datafactory/resource-manager] Update IntegrationRuntime: add new optional property for public ip feature
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
Labels: RestPRMerged

#8906 [AutoPR datafactory/resource-manager] Update Salesforce LinkedService Add ApiVersion
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
Labels: RestPRMerged

#8901 [AutoPR datafactory/resource-manager] [DataFactory]Support partition of SAP HANA
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_data_factory_management_client_enums.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
Labels: RestPRMerged

#8933 [AutoPR appplatform/resource-manager] Change the order of parameters in `appplatform` to comply the convention in SDK
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/models/__init__.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/models/_app_platform_management_client_enums.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/models/_models.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/models/_models_py3.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/_apps_operations.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/_bindings_operations.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/_deployments_operations.py
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/_services_operations.py
Labels: RestPRMerged

#8938 [AutoPR appplatform/resource-manager] Changed some orders of parameters in `appplatform` to comply with the convention of SDK
  sdk/appplatform/azure-mgmt-appplatform/azure/mgmt/appplatform/operations/_services_operations.py
Labels: RestPRMerged

#7019 [AutoPR] maintenance/resource-manager
  sdk/maintenance/azure-mgmt-maintenance/HISTORY.rst
  sdk/maintenance/azure-mgmt-maintenance/MANIFEST.in
  sdk/maintenance/azure-mgmt-maintenance/README.rst
  sdk/maintenance/azure-mgmt-maintenance/azure/__init__.py
  sdk/maintenance/azure-mgmt-maintenance/azure/mgmt/__init__.py
  sdk/maintenance/azure-mgmt-maintenance/azure/mgmt/maintenance/__init__.py
  sdk/maintenance/azure-mgmt-maintenance/azure/mgmt/maintenance/_configuration.py
  sdk/maintenance/azure-mgmt-maintenance/azure/mgmt/maintenance/_maintenance_management_client.py
  sdk/maintenance/azure-mgmt-maintenance/azure/mgmt/maintenance/models/__init__.py
  sdk/maintenance/azure-mgmt-maintenance/azure/mgmt/maintenance/models/_maintenance_management_client_enums.py
  sdk/maintenance/azure-mgmt-maintenance/azure/mgmt/maintenance/models/_models.py
  sdk/maintenance/azure-mgmt-maintenance/azure/mgmt/maintenance/models/_models_py3.py
  sdk/maintenance/azure-mgmt-maintenance/azure/mgmt/maintenance/models/_paged_models.py
  sdk/maintenance/azure-mgmt-maintenance/azure/mgmt/maintenance/operations/__init__.py
  sdk/maintenance/azure-mgmt-maintenance/azure/mgmt/maintenance/operations/_apply_updates_operations.py
  sdk/maintenance/azure-mgmt-maintenance/azure/mgmt/maintenance/operations/_configuration_assignments_operations.py
  sdk/maintenance/azure-mgmt-maintenance/azure/mgmt/maintenance/operations/_maintenance_configurations_operations.py
  sdk/maintenance/azure-mgmt-maintenance/azure/mgmt/maintenance/operations/_operations.py
  sdk/maintenance/azure-mgmt-maintenance/azure/mgmt/maintenance/operations/_updates_operations.py
  sdk/maintenance/azure-mgmt-maintenance/azure/mgmt/maintenance/version.py
  sdk/maintenance/azure-mgmt-maintenance/sdk_packaging.toml
  sdk/maintenance/azure-mgmt-maintenance/setup.cfg
  sdk/maintenance/azure-mgmt-maintenance/setup.py
  sdk/maintenance/azure-mgmt-maintenance/tests/test_cli_mgmt_maintenance.py
Labels: ServicePR

#8939 [AutoPR datafactory/resource-manager] Revert "Update Salesforce LinkedService Add ApiVersion"
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
Labels: RestPRMerged

#8875 Key Vault: updated certificate docstrings and type annotations
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
Labels: Client, KeyVault

#8932 [AutoPR compute/resource-manager] Images swagger
  sdk/compute/azure-mgmt-compute/azure/mgmt/compute/v2019_03_01/models/_compute_management_client_enums.py
Labels: RestPRMerged

#8887 Bearer token authorization requires TLS
  sdk/core/azure-core/HISTORY.md
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication_async.py
  sdk/core/azure-core/tests/azure_core_asynctests/test_authentication.py
  sdk/core/azure-core/tests/test_authentication.py
Labels: Azure.Core, Client

#8927 Fix azure-identity mypy errors
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/aio/_authn_client.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity, Client

#8873 Kibrantn/eventhub/fix checkpoint failfast and receiver idle timeout
  sdk/eventhub/azure-eventhubs/HISTORY.rst
  sdk/eventhub/azure-eventhubs/azure/eventhub/async_ops/__init__.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/async_ops/receiver_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/client.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/receiver.py
  sdk/eventhub/azure-eventhubs/azure/eventprocessorhost/eh_partition_pump.py
  sdk/eventhub/azure-eventhubs/azure/eventprocessorhost/eph.py
  sdk/eventhub/azure-eventhubs/azure/eventprocessorhost/partition_pump.py
  sdk/eventhub/azure-eventhubs/conftest.py
  sdk/eventhub/azure-eventhubs/setup.py
  sdk/eventhub/azure-eventhubs/tests/asynctests/test_negative_async.py
  sdk/eventhub/azure-eventhubs/tests/asynctests/test_reconnect_async.py
  sdk/eventhub/azure-eventhubs/tests/test_negative.py
  sdk/eventhub/azure-eventhubs/tests/test_receive.py
  sdk/eventhub/azure-eventhubs/tests/test_reconnect.py
Labels: Client, Event Hubs, customer-reported

#8965 Deprecate application_properties and encode_message
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
Labels: Client, Event Hubs

#8961 [AutoPR cosmos-db/resource-manager] Fix Swagger - Add "resource" layer in the throughput read response
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models_py3.py
Labels: RestPRMerged

#8970 Rename sample filename to have checkpoint_store
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_checkpoint_store_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_with_checkpoint_store.py
Labels: Client, Event Hubs

#8973 Fixes bug wherein err is not being defined in the exception handler within get_lease_async.
  sdk/eventhub/azure-eventhubs/azure/eventprocessorhost/azure_storage_checkpoint_manager.py
Labels: Client, Event Hubs

#8737 [AutoPR maintenance/resource-manager] Disabled non-functional tests
  sdk/maintenance/azure-mgmt-maintenance/tests/test_cli_mgmt_maintenance.py
Labels: RestPRMerged

#8826 [AutoPR cognitiveservices/data-plane/Personalizer] Adding Personalizer stable/v1.0 APIs
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/README.rst
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/__init__.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/_configuration.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/_personalizer_client.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/__init__.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/_models.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/_models_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/_personalizer_client_enums.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/error_response.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/error_response_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/internal_error.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/internal_error_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/personalizer_client_enums.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/personalizer_error.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/personalizer_error_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/rank_request.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/rank_request_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/rank_response.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/rank_response_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/rankable_action.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/rankable_action_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/ranked_action.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/ranked_action_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/reward_request.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/reward_request_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/operations/__init__.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/operations/_evaluations_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/operations/_events_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/operations/_log_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/operations/_model_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/operations/_personalizer_client_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/operations/_policy_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/operations/_service_configuration_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/setup.py
Labels: RestPRMerged

#8761 [AutoPR] storage/resource-manager
  sdk/storage/azure-mgmt-storage/HISTORY.rst
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/__init__.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_models.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_models_py3.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_paged_models.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_storage_management_client_enums.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/operations/_file_services_operations.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/operations/_file_shares_operations.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/operations/_skus_operations.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/version.py
Labels: ServicePR

#8963 Update Key Vault msrest requirement
  sdk/keyvault/azure-keyvault-certificates/HISTORY.md
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/HISTORY.md
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-secrets/HISTORY.md
  sdk/keyvault/azure-keyvault-secrets/setup.py
  shared_requirements.txt
Labels: Client, KeyVault

#8945 Add proxy policy to credential pipelines
  sdk/identity/azure-identity/HISTORY.md
  sdk/identity/azure-identity/azure/identity/_authn_client.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_transport_adapter.py
  sdk/identity/azure-identity/azure/identity/aio/_authn_client.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/msal_transport_adapter.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_auth_code.py
  sdk/identity/azure-identity/tests/test_auth_code_async.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_identity.py
  sdk/identity/azure-identity/tests/test_identity_async.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity, Client

#9025 Bump patch version # and add release notes
  sdk/servicebus/azure-servicebus/HISTORY.rst
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
Labels: Client, Service Bus

#9019 [AutoPR applicationinsights/resource-manager] Dev ApplicationInsights microsoft.insights 2019
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/_models.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/models/_models_py3.py
Labels: RestPRMerged

#9009 [AutoPR datafactory/resource-manager] Update GoogleAdWords and GoogleBigQuery clientId for fix issue
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
Labels: RestPRMerged

#8999 More robust and performant challenge auth policy
  sdk/keyvault/azure-keyvault-certificates/HISTORY.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_challenge_auth.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_challenge_auth_async.py
  sdk/keyvault/azure-keyvault-keys/HISTORY.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth_async.py
  sdk/keyvault/azure-keyvault-secrets/HISTORY.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/challenge_auth_policy.py
Labels: Client, KeyVault

#8916 [AutoPR] servicefabric/data-plane
  sdk/servicefabric/azure-servicefabric/HISTORY.rst
  sdk/servicefabric/azure-servicefabric/README.rst
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/_service_fabric_client_ap_is.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/models/__init__.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/models/_models.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/models/_models_py3.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/models/_service_fabric_client_ap_is_enums.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/operations/_mesh_application_operations.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/operations/_service_fabric_client_ap_is_operations.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/version.py
  sdk/servicefabric/azure-servicefabric/setup.py
Labels: ServicePR

#8994 [AutoPR iotcentral/resource-manager] Update iotcentral.json
  sdk/iotcentral/azure-mgmt-iotcentral/HISTORY.rst
  sdk/iotcentral/azure-mgmt-iotcentral/MANIFEST.in
  sdk/iotcentral/azure-mgmt-iotcentral/README.rst
  sdk/iotcentral/azure-mgmt-iotcentral/azure/__init__.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/__init__.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/__init__.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/_configuration.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/_iot_central_client.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/models/__init__.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/models/_iot_central_client_enums.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/models/_models.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/models/_models_py3.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/models/_paged_models.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/operations/__init__.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/operations/_apps_operations.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/operations/_operations.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/version.py
  sdk/iotcentral/azure-mgmt-iotcentral/sdk_packaging.toml
  sdk/iotcentral/azure-mgmt-iotcentral/setup.cfg
  sdk/iotcentral/azure-mgmt-iotcentral/setup.py
Labels: RestPRMerged

#8983 [AutoPR] hdinsight/resource-manager
  sdk/hdinsight/azure-mgmt-hdinsight/HISTORY.rst
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/__init__.py
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/_models.py
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/_models_py3.py
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/version.py
Labels: ServicePR

#8705 [AutoPR] cosmos-db/resource-manager
  sdk/cosmos/azure-mgmt-cosmosdb/HISTORY.rst
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_cosmos_db_management_client_enums.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models_py3.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/version.py
Labels: ServicePR

#8926 [AutoPR databricks/resource-manager] databricks: switching `parameters` to be a proper struct
  sdk/databricks/azure-mgmt-databricks/README.rst
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/__init__.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/_configuration.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/_databricks_client.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/__init__.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/_databricks_client_enums.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/_models.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/_models_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/_paged_models.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/databricks_client_enums.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/error_detail.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/error_detail_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/error_info.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/error_info_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/error_response.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/error_response_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/operation.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/operation_display.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/operation_display_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/operation_paged.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/operation_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/resource.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/resource_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/sku.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/sku_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/tracked_resource.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/tracked_resource_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/workspace.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/workspace_provider_authorization.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/workspace_provider_authorization_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/workspace_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/workspace_update.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/operations/__init__.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/operations/_operations.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/operations/_workspaces_operations.py
  sdk/databricks/azure-mgmt-databricks/setup.py
Labels: RestPRMerged

#8729 [AutoPR attestation/data-plane] Add data plane API swagger for attestation
  sdk/attestation/azure-attestation/HISTORY.rst
  sdk/attestation/azure-attestation/MANIFEST.in
  sdk/attestation/azure-attestation/README.rst
  sdk/attestation/azure-attestation/azure/__init__.py
  sdk/attestation/azure-attestation/azure/attestation/__init__.py
  sdk/attestation/azure-attestation/azure/attestation/_attestation_client.py
  sdk/attestation/azure-attestation/azure/attestation/_configuration.py
  sdk/attestation/azure-attestation/azure/attestation/models/__init__.py
  sdk/attestation/azure-attestation/azure/attestation/models/_attestation_client_enums.py
  sdk/attestation/azure-attestation/azure/attestation/models/_models.py
  sdk/attestation/azure-attestation/azure/attestation/models/_models_py3.py
  sdk/attestation/azure-attestation/azure/attestation/operations/__init__.py
  sdk/attestation/azure-attestation/azure/attestation/operations/_policy_operations.py
  sdk/attestation/azure-attestation/azure/attestation/version.py
  sdk/attestation/azure-attestation/sdk_packaging.toml
  sdk/attestation/azure-attestation/setup.cfg
  sdk/attestation/azure-attestation/setup.py
Labels: RestPRMerged

#8364 Unified Pipelines clean-up.
  eng/pipelines/client.yml
  sdk/core/ci.yml
Labels: EngSys

#9067 Remove EventData.application_properties and encode_message
  sdk/eventhub/azure-eventhub/HISTORY.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
Labels: Client, Event Hubs

#9068 Remove azure-common dependency
  sdk/eventhub/azure-eventhub/setup.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_consumer_client_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_consumer_client.py
Labels: Client, Event Hubs

#9083 Fix test_receive_end_of_stream_async error
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_receive_async.py
Labels: Client, Event Hubs

#9089 remove idle timeouts from client, receiver (and async) + eph until underlying UAMQP issues are mitigated.
  sdk/eventhub/azure-eventhubs/HISTORY.rst
  sdk/eventhub/azure-eventhubs/azure/eventhub/async_ops/__init__.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/async_ops/receiver_async.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/client.py
  sdk/eventhub/azure-eventhubs/azure/eventhub/receiver.py
  sdk/eventhub/azure-eventhubs/azure/eventprocessorhost/eh_partition_pump.py
  sdk/eventhub/azure-eventhubs/azure/eventprocessorhost/eph.py
  sdk/eventhub/azure-eventhubs/conftest.py
Labels: Client, Event Hubs

#9104 Increment uamqp version from 1.2.0 to 1.2.5
  sdk/servicebus/azure-servicebus/HISTORY.rst
  sdk/servicebus/azure-servicebus/setup.py
  shared_requirements.txt
Labels: Client, Service Bus

#9102 increment UAMQP from 1.2.4 to 1.2.5
  scripts/analyze_deps.py
  sdk/eventhub/azure-eventhubs/HISTORY.rst
  sdk/eventhub/azure-eventhubs/setup.py
  shared_requirements.txt
Labels: Client, Event Hubs

#9077 Add user-agent to credential pipelines
  sdk/identity/azure-identity/azure/identity/_authn_client.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_transport_adapter.py
  sdk/identity/azure-identity/azure/identity/_internal/user_agent.py
  sdk/identity/azure-identity/azure/identity/aio/_authn_client.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/msal_transport_adapter.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_auth_code.py
  sdk/identity/azure-identity/tests/test_auth_code_async.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity, Client

#9120 Add python 3.8 to setup.py classifiers list
  sdk/eventhub/azure-eventhubs/setup.py
Labels: Client, Event Hubs

#9121 Add python 3.8 to setup classifiers list
  sdk/servicebus/azure-servicebus/setup.py
Labels: Client, Service Bus

#9066 fix wild cards handling
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_utils.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_configuration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/async_proxy.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_configuration_client.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_configuration_client_aad.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_configuration_client_aad_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_configuration_client_async.py
Labels: AzConfig, Client

#9045 [EventHubs] Mypy refactor
  sdk/eventhub/azure-eventhub/azure/eventhub/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_configuration.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_connection_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/_eventprocessor_mixin.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/local_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/ownership_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/sqlite3_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_connection_manager_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_error_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/_ownership_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/local_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/partition_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/sqlite3_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/exceptions.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_eventprocessor_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_reconnect_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_eventprocessor.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_reconnect.py
  sdk/eventhub/azure-eventhub/tests/unittest/test_event_data.py
Labels: Event Hubs

#9154 Enable Mypy in engineering system for eventhubs
  eng/tox/mypy_hard_failure_packages.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_blobstoragecsaio.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_blobstoragecs.py
Labels: Client, Event Hubs

#9153 Call on_error when non-partition related error happens
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_eventprocessor_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_eventprocessor.py
Labels: Client, Event Hubs

#9169 EventHubs Reformat with BLACK
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/__init__.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/__init__.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/__init__.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_blobstoragecsaio.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/__init__.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/__init__.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/__init__.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_blobstoragecs.py
  sdk/eventhub/azure-eventhub/azure/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_configuration.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_connection_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/_eventprocessor_mixin.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/local_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/ownership_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/sqlite3_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_connection_manager_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_error_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/_ownership_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/local_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/sqlite3_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/exceptions.py
Labels: Client, Event Hubs

#9167 Certificates: implemented consistency changes
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
Labels: Client, KeyVault

#9130 Add support for azure-core credential in CLI factory
  sdk/core/azure-common/azure/common/client_factory.py
  sdk/core/azure-common/azure/common/credentials.py
  sdk/core/azure-common/tests/test_client_factory.py
Labels: Azure.Core

#9178 [textanalytics] Setting up live test pipeline
  sdk/textanalytics/azure-ai-textanalytics/dev_requirements.txt
  sdk/textanalytics/azure-ai-textanalytics/tests/asynctestcase.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_batch.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_batch_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_single.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_single_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_text_analytics.py
  sdk/textanalytics/tests.yml
  tools/azure-sdk-tools/devtools_testutils/cognitiveservices_testcase.py
Labels: Client, Cognitive Services, TextAnalytics

#9211 [cogserv-textanalytics] re-record test for track1
  sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/dev_requirements.txt
  sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/tests/recordings/test_text_analytics.test_detect_language.yaml
Labels: Cognitive Services, TextAnalytics

#9047 [AutoPR] iotcentral/resource-manager
  sdk/iotcentral/azure-mgmt-iotcentral/HISTORY.rst
  sdk/iotcentral/azure-mgmt-iotcentral/MANIFEST.in
  sdk/iotcentral/azure-mgmt-iotcentral/README.rst
  sdk/iotcentral/azure-mgmt-iotcentral/azure/__init__.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/__init__.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/__init__.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/_configuration.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/_iot_central_client.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/models/__init__.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/models/_iot_central_client_enums.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/models/_models.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/models/_models_py3.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/models/_paged_models.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/operations/__init__.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/operations/_apps_operations.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/operations/_operations.py
  sdk/iotcentral/azure-mgmt-iotcentral/azure/mgmt/iotcentral/version.py
  sdk/iotcentral/azure-mgmt-iotcentral/sdk_packaging.toml
  sdk/iotcentral/azure-mgmt-iotcentral/setup.cfg
  sdk/iotcentral/azure-mgmt-iotcentral/setup.py
Labels: ServicePR

#9243 [Eventhubs] Use InMemoryCheckpointStore internally when no checkpoint store from user
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/in_memory_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/local_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/sqlite3_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/in_memory_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/local_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/sqlite3_checkpoint_store.py
  sdk/eventhub/azure-eventhub/conftest.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_auth_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_consumer_client_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_eventprocessor_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_auth.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_consumer_client.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_eventprocessor.py
  sdk/eventhub/azure-eventhub/tests/unittest/asynctests/test_in_memory_checkpointstore.py
Labels: Client, Event Hubs

#9230 [EventHubs] Close a partition when user event process callback has an error
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_auth_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_eventprocessor_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_receive_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_auth.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_eventprocessor.py
Labels: Event Hubs

#9259 [Event Hubs] async mgmt request raise error if status code >= 400
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
Labels: Client, Event Hubs

#9155 [EventHubs] Stress Test
  sdk/eventhub/azure-eventhub/stress/azure_eventhub_consumer_stress_async.py
  sdk/eventhub/azure-eventhub/stress/azure_eventhub_consumer_stress_sync.py
  sdk/eventhub/azure-eventhub/stress/azure_eventhub_producer_stress.py
  sdk/eventhub/azure-eventhub/stress/common_use_scripts
  sdk/eventhub/azure-eventhub/stress/dev_requirement.txt
  sdk/eventhub/azure-eventhub/stress/logger.py
  sdk/eventhub/azure-eventhub/stress/process_monitor.py
  sdk/eventhub/azure-eventhub/stress/stress_runner.cfg
  sdk/eventhub/azure-eventhub/stress/stress_runner.py
Labels: Event Hubs

#9268 [EventHubs] Stress test fix
  sdk/eventhub/azure-eventhub/stress/dev_requirement.txt
  sdk/eventhub/azure-eventhub/stress/process_monitor.py
  sdk/eventhub/azure-eventhub/stress/stress_runner.cfg
  sdk/eventhub/azure-eventhub/stress/stress_runner.py
Labels: Event Hubs

#9266 [Event Hubs] set timeout of fixture uamqp.ReceiveClient to 0
  sdk/eventhub/azure-eventhub/conftest.py
Labels: Client, Event Hubs

#9270 [EventHubs] remove running loop in constructor
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
Labels: Event Hubs

#9222 [textanalytics] Readme updates
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Client, Cognitive Services, TextAnalytics

#9275 [textanalytics] Fixes printing of sentiment scores in samples
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_analyze_sentiment.py
Labels: Client, Cognitive Services, TextAnalytics

#9274 [EventHubs] Fix bug in async event processor
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_eventprocessor_async.py
Labels: Client, Event Hubs

#9278 [textanalytics] Adds primary_language to DetectLanguageResult
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_authentication_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_detect_languages_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_detect_language_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_authentication.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_detect_languages.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_detect_language.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_batch.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_batch_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_single.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_single_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_text_analytics.py
Labels: Client, Cognitive Services, TextAnalytics

#9280 [textanalytics] allows setting defaults for language/country_hint on client
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_request_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_batch.test_client_passed_default_country_hint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_batch.test_client_passed_default_language_hint.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_batch_async.test_client_passed_default_country_hint_async.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_batch_async.test_client_passed_default_language_hint_async.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_batch.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_batch_async.py
Labels: Client, Cognitive Services, TextAnalytics

#9282 [EventHubs] Stress test improvement
  sdk/eventhub/azure-eventhub/stress/azure_eventhub_consumer_stress_async.py
  sdk/eventhub/azure-eventhub/stress/azure_eventhub_consumer_stress_sync.py
  sdk/eventhub/azure-eventhub/stress/dev_requirement.txt
  sdk/eventhub/azure-eventhub/stress/stress_runner.cfg
  sdk/eventhub/azure-eventhub/stress/stress_runner.py
Labels: Event Hubs
