Repository Azure/azure-sdk-for-python, pull requests merged in 2020-11, with the labels that each got.

#14931 Remove App Service identity 2019-08-01 support
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/app_service.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity, Client

#14930 Sync eng/common directory with azure-sdk-tools for PR 1154
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
Labels: Central-EngSys, EngSys

#14811 changing BatchErrorException to be an AzureError, then changes in tes…
  sdk/tables/azure-data-tables/azure/data/tables/_models.py
  sdk/tables/azure-data-tables/tests/test_table_batch.py
  sdk/tables/azure-data-tables/tests/test_table_batch_async.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos.py
Labels: Tables

#14819 turns off deserialization for ints and strings
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/tests/recordings/test_table.test_account_sas.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_insert_entity_with_large_int_success.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_insert_entity_with_large_int_success.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_insert_entity_with_large_int_success.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos_async.test_insert_entity_with_large_int_success.yaml
  sdk/tables/azure-data-tables/tests/test_table.py
  sdk/tables/azure-data-tables/tests/test_table_batch.py
  sdk/tables/azure-data-tables/tests/test_table_batch_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos_async.py
Labels: Tables, auto-merge

#14921 update core dependency version
  sdk/core/azure-mgmt-core/setup.py
  shared_requirements.txt
Labels: Azure.Core, auto-merge

#14450 [Service Bus] Deprecate Internal _Accesstoken
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
Labels: Service Bus, customer-reported

#14936 [Key Vault] Add link to async API examples in readme
  sdk/keyvault/azure-keyvault-keys/README.md
Labels: Client, Docs, KeyVault

#14681 [ServiceBus] Settlement move from Message to Receiver
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/mgmt_handlers.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
  sdk/servicebus/azure-servicebus/migration_guide.md
  sdk/servicebus/azure-servicebus/samples/async_samples/auto_lock_renew_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_deadlettered_messages_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_deferred_message_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_iterator_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_subscription_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/session_pool_receive_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/session_send_receive_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/auto_lock_renew.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_deadlettered_messages.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_deferred_message_queue.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_iterator_queue.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_queue.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_subscription.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/session_pool_receive.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/session_send_receive.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mocks_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/mocks.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/stress_test_base.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/stress_test_queue_long_term_autorenew.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
  sdk/servicebus/azure-servicebus/tests/test_subscriptions.py
Labels: Service Bus

#14965 Sync eng/common directory with azure-sdk-tools for PR 1160
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/git-branch-push.ps1
Labels: Central-EngSys, EngSys

#14772 Service Bus Connection String Parser
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/_connection_string_parser.py
  sdk/servicebus/azure-servicebus/tests/test_connection_string_parser.py
Labels: Service Bus

#14437 [ServiceBus] Add additional stress test coverage to ensure parity with cross-language priorities
  sdk/servicebus/azure-servicebus/tests/stress_tests/stress_test_base.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/test_stress_queues.py
Labels: Client, Service Bus

#14266 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#14946 Catch exceptions thrown by async download
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-blob/tests/get_blob_to_stream_async.temp.4ebacace-c663-4994-b478-01affe7284f1.dat
  sdk/storage/azure-storage-blob/tests/recordings/test_get_blob_async.test_readinto_raises_exceptions.yaml
  sdk/storage/azure-storage-blob/tests/test_get_blob_async.py
Labels: Storage

#14980 search-documents: correct method calls in sample
  sdk/search/azure-search-documents/samples/sample_crud_operations.py
Labels: Search, customer-reported

#14947 Clarified exceptions documentation in Storage
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-queue/README.md
Labels: Storage

#14958 String unicode deserial
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_insert_entity_with_large_int_success.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_insert_entity_with_large_int_success.yaml
  sdk/tables/azure-data-tables/tests/test_table_async.py
  sdk/tables/azure-data-tables/tests/test_table_batch_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_batch_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos.py
Labels: Tables, auto-merge

#14925 [ServiceBus] receive related methods/constructor raise error if given max_wait_time <= 0
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_subscriptions.py
Labels: Service Bus

#14992 Raise minimum msal version to 1.6.0
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  shared_requirements.txt
Labels: Azure.Identity, Client

#14502 [ServiceBus] Make sub-client initializers internal (add '_' to from_conn_str for receiver/sender)
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/migration_guide.md
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
  sdk/servicebus/azure-servicebus/tests/test_subscriptions.py
  sdk/servicebus/azure-servicebus/tests/utilities.py
Labels: Client, Service Bus

#14955 Validate tenant IDs used in URLs
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_internal/__init__.py
  sdk/identity/azure-identity/azure/identity/_internal/certificate_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/client_secret_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_aad_client_async.py
  sdk/identity/azure-identity/tests/test_authn_client.py
  sdk/identity/azure-identity/tests/test_authn_client_async.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential_async.py
Labels: Azure.Identity, Client

#14648 Correct default VisualStudioCodeCredential environment name
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_internal/linux_vscode_adapter.py
  sdk/identity/azure-identity/azure/identity/_internal/macos_vscode_adapter.py
  sdk/identity/azure-identity/azure/identity/_internal/win_vscode_adapter.py
Labels: Azure.Identity, Client

#14987 [formrecognizer] add copy tests for new features in v2.1
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model.test_copy_model_with_composed_model.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model.test_copy_model_with_labeled_model_name.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model.test_copy_model_with_unlabeled_model_name.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model_async.test_copy_model_with_composed_model.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model_async.test_copy_model_with_labeled_model_name.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model_async.test_copy_model_with_unlabeled_model_name.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model_async.py
Labels: Cognitive - Form Recognizer

#14986 [Blob]Generate STG75 Blob Tags
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_azure_blob_storage.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_azure_blob_storage_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_configuration_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations_async/_blob_operations_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations_async/_container_operations_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_azure_blob_storage_enums.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models_py3.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/version.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_models.py
Labels: Storage

#14910 [Datalake] Fixed session closure of filesystem
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_file_system_sessions_closes_properly.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_file_system_sessions_closes_properly_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
Labels: Storage

#15021 Sync eng/common directory with azure-sdk-tools for PR 1167
  eng/common/scripts/git-branch-push.ps1
Labels: Central-EngSys, EngSys

#14956 [ServiceBus] Initial commit of auto-auto-lock-renewal.
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/auto_lock_renew_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/auto_lock_renew.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/stress_test_queue_long_term_autorenew.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Client, Service Bus

#14939 In ServiceBus receiver set max_message_count to 1 for receive_messages
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Service Bus, customer-reported

#14991 support list for select argument
  sdk/search/azure-search-documents/azure/search/documents/_internal/_queries.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/aio/_search_client_async.py
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_client_search_live_async.test_get_search_filter_array.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_client_search_live_async.test_get_search_simple_paged.yaml
  sdk/search/azure-search-documents/tests/async_tests/test_search_client_search_live_async.py
  sdk/search/azure-search-documents/tests/recordings/test_search_client_search_live.test_get_search_filter_array.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_client_search_live.test_get_search_simple_paged.yaml
  sdk/search/azure-search-documents/tests/test_search_client_search_live.py
Labels: Search

#14984 [formrecognizer] adds language param
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/_operations_mixin.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/_operations_mixin.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2_1_preview_2/_metadata.json
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2_1_preview_2/aio/operations/_form_recognizer_client_operations.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2_1_preview_2/models/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2_1_preview_2/models/_form_recognizer_client_enums.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2_1_preview_2/models/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2_1_preview_2/models/_models_py3.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2_1_preview_2/operations/_form_recognizer_client_operations.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content.test_content_language_error.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content.test_content_language_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_async.test_content_language_error.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_async.test_content_language_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url.test_content_language_error.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url.test_content_language_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url_async.test_content_language_error.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url_async.test_content_language_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url_async.py
Labels: Cognitive - Form Recognizer

#15012 [form recognizer] add tests for invoice multipage
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_invoice.test_invoice_multipage_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_invoice.test_invoice_stream_multipage_transform_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_invoice_async.test_invoice_multipage_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_invoice_async.test_invoice_stream_multipage_transform_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_invoice_from_url.test_invoice_multipage_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_invoice_from_url.test_invoice_url_multipage_transform_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_invoice_from_url_async.test_invoice_multipage_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_invoice_from_url_async.test_invoice_url_multipage_transform_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Cognitive - Form Recognizer

#15042 Prepare for b8 release, set changelog date and adjust pypi link.
  eng/ignore-links.txt
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/migration_guide.md
Labels: Client, Service Bus

#15052 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus, auto-merge

#15053 added initial_batch_action_count & max_retries
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_internal/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_search_indexing_buffered_sender.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_search_indexing_buffered_sender_base.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/aio/_search_indexing_buffered_sender_async.py
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_client_search_live_async.test_get_search_simple_with_top.yaml
  sdk/search/azure-search-documents/tests/async_tests/test_buffered_sender_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_client_buffered_sender_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_client_search_live_async.py
  sdk/search/azure-search-documents/tests/recordings/test_search_client_search_live.test_get_search_simple_with_top.yaml
  sdk/search/azure-search-documents/tests/test_buffered_sender.py
  sdk/search/azure-search-documents/tests/test_search_client_buffered_sender_live.py
  sdk/search/azure-search-documents/tests/test_search_client_search_live.py
Labels: Search

#15057 [Tables] query response deserialization
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_models.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_models.py
  sdk/tables/azure-data-tables/tests/test_table.py
  sdk/tables/azure-data-tables/tests/test_table_cosmos.py
Labels: Tables

#14472 Remove user authentication APIs from stable 1.5.0 release
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/app_service.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/_internal/certificate_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/client_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/client_secret_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/samples/README.md
  sdk/identity/azure-identity/samples/control_interactive_prompts.py
  sdk/identity/azure-identity/samples/user_authentication.py
  sdk/identity/azure-identity/tests/test_auth_record.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_msi_credential.py
  sdk/identity/azure-identity/tests/test_msi_credential_async.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity, Client, blocking-release

#15064 Sync eng/common directory with azure-sdk-tools for PR 1175
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#15056 [formrecognizer] fix sphinx errors and unify transform testcase for FormFields
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Cognitive - Form Recognizer

#15010 [formrecognizer] allow None for required params when passing a continuation_token into an LRO method
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content.test_content_continuation_token.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_async.test_content_continuation_token.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url.test_content_continuation_token.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url_async.test_content_continuation_token.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training_async.py
Labels: Cognitive - Form Recognizer

#15089 [ServiceBus] Migration guide update
  sdk/servicebus/azure-servicebus/migration_guide.md
Labels: Service Bus, auto-merge

#15080 Fix broken links after github IO changes.
  eng/ignore-links.txt
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#15044 [Key Vault] Add ID parsing method for keys
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_parse_id.test_parse_certificate_id_with_version.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/test_parse_id.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_parse_id.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_parse_id.test_parse_key_id_with_version.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_parse_id.py
Labels: Client, KeyVault

#15054 Sphinx docs
  sdk/tables/azure-data-tables/azure/data/tables/_authentication.py
  sdk/tables/azure-data-tables/azure/data/tables/_entity.py
  sdk/tables/azure-data-tables/azure/data/tables/_generated/aio/operations/_table_operations.py
  sdk/tables/azure-data-tables/azure/data/tables/_models.py
  sdk/tables/azure-data-tables/azure/data/tables/_serialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_batch.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client_base.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_service_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_service_client_base.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_shared_access_signature.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_batch_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_service_client_async.py
Labels: Tables

#15020 [Azure.Identity] Add Azure.Identity support for Azure Arc applications using Managed Identity
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_arc.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_arc.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity, Client

#15062 [Key Vault] Add ID parsing method for secrets
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_models.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_parse_id.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/__init__.py
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_parse_id.test_parse_secret_id_with_version.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/test_parse_id.py
Labels: Client, KeyVault

#14442 Config the default blocksize to 32k for Python 3.7+
  sdk/core/azure-core/azure/core/pipeline/transport/_bigger_block_size_http_adapters.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_basic.py
Labels: Azure.Core

#15141 [T1] loganalytics 2020 11 09
  sdk/loganalytics/azure-mgmt-loganalytics/CHANGELOG.md
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/models/_models.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/models/_models_py3.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/version.py
Labels: Monitor - LogAnalytics

#15148 update release date for 1.9.0
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#14357 fix retry_interval: set it to 1 second instead of 1000 seconds
  sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_asyncio.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_basic.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_trio.py
Labels: Azure.Core, customer-reported

#14901 add doc for HttpResponseError
  sdk/core/azure-core/azure/core/exceptions.py
Labels: Azure.Core

#14406 resoure -> resource
  sdk/core/azure-mgmt-core/azure/mgmt/core/tools.py
Labels: Azure.Core, customer-reported

#14792 [Azure Core] Fix a typo: do no -> do not
  sdk/core/azure-core/azure/core/pipeline/policies/_base.py
Labels: Azure.Core

#15158 update changelog
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#15059 [ServiceBus] Sphinx/Docstring/Code snippets Fix
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_models.py
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
Labels: Service Bus

#15083 throws an error on invalid types when creating an entity
  sdk/tables/azure-data-tables/azure/data/tables/_serialize.py
Labels: Tables, auto-merge

#15159 [formrecognizer] fix receipt test
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
Labels: Cognitive - Form Recognizer

#15167 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
  sdk/core/azure-mgmt-core/CHANGELOG.md
  sdk/core/azure-mgmt-core/azure/mgmt/core/_version.py
Labels: Azure.Core, auto-merge

#15095 [Azure.Identity] Add e2e testing instructions for Arc MI
  sdk/identity/azure-identity/tests/managed-identity-live/azure_arc.md
Labels: Azure.Identity

#15092 Sync eng/common directory with azure-sdk-tools for PR 1163
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: Central-EngSys, EngSys

#15175 Sync eng/common directory with azure-sdk-tools for PR 1178
  eng/common/README.md
Labels: Central-EngSys, EngSys

#15006 Adding details about Boolean Data types and FROM subitems
  sdk/cosmos/azure-cosmos/README.md
Labels: Cosmos

#15209 add python 3.9 classifier
  sdk/appconfiguration/azure-appconfiguration/setup.py
  sdk/core/azure-core-tracing-opencensus/setup.py
  sdk/core/azure-core-tracing-opentelemetry/setup.py
  sdk/core/azure-core/setup.py
  sdk/core/azure-mgmt-core/setup.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/setup.py
  sdk/search/azure-search-documents/setup.py
Labels: Azure.Core, Search

#15168 Update metadata for azure-identity 1.5.0
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity, Client

#15210 Sync eng/common directory with azure-sdk-tools for PR 1185
  eng/common/README.md
Labels: Central-EngSys, EngSys

#15172 [ServiceBus] Non-reusable Sender/Receiver
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Service Bus

#15217 Pre release
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_create_delete_table_async.py
  sdk/tables/azure-data-tables/setup.py
Labels: Tables, auto-merge

#15060 [ServiceBus] Do not retry on connection issue when it's a sessionful receiver
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
Labels: Service Bus

#15218 Increment version for metricsadvisor releases
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_version.py
Labels: auto-merge

#15219 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search, auto-merge

#14906 [DataLake][RecursiveAcl]Adopt AzureError change
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/__init__.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_deserialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_access_control_recursive.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_access_control_recursive_async.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory_async.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/setup.py
  shared_requirements.txt
Labels: Storage

#15220 Add AppInsights to CLI client factory
  sdk/core/azure-common/CHANGELOG.md
  sdk/core/azure-common/azure/common/client_factory.py
  sdk/core/azure-common/setup.py
  sdk/core/azure-common/tests/test_client_factory.py
Labels: Azure.Core

#15225 [Azure.Identity] Remove link locales, update release date
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
Labels: Azure.Identity, Client

#15201 Prepare for EventGrid Release
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
Labels: Event Grid

#15259 Update Classifiers for eventgrid
  sdk/eventgrid/azure-eventgrid/setup.py
Labels: Event Grid

#15208 [formrecognizer] add python 3.9 to setup classifiers
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
Labels: Cognitive - Form Recognizer

#15262 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#15173 [formrecognizer] adds tests for forms in other languages
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url.test_content_language_chinese_simplified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url.test_content_language_dutch.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url.test_content_language_french.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url.test_content_language_german.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url.test_content_language_italian.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url.test_content_language_portuguese.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url.test_content_language_spanish.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url_async.test_content_language_chinese_simplified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url_async.test_content_language_dutch.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url_async.test_content_language_french.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url_async.test_content_language_german.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url_async.test_content_language_italian.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url_async.test_content_language_portuguese.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url_async.test_content_language_spanish.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
  sdk/formrecognizer/tests.yml
Labels: Cognitive - Form Recognizer

#15266 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#15269 Increment version for core releases
  sdk/core/azure-common/CHANGELOG.md
  sdk/core/azure-common/azure/common/_version.py
Labels: Azure.Core, auto-merge

#15267 Sync eng/common directory with azure-sdk-tools for PR 1188
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#15268 Sync eng/common directory with azure-sdk-tools for PR 1190
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#15087 Sync eng/common directory with azure-sdk-tools for PR 1170
  eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Labels: Central-EngSys, EngSys

#15275 [formrecognizer] Remove business card ContactNames page_number workaround
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_helpers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_response_handlers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_from_url_async.py
Labels: Cognitive - Form Recognizer

#15013 Sync eng/common directory with azure-sdk-tools for PR 1161
  eng/common/scripts/Get-PullRequestCreator.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Labels: Central-EngSys, EngSys

#15294 Sync eng/common directory with azure-sdk-tools for PR 1199
  eng/common/TestResources/deploy-test-resources.yml
Labels: Central-EngSys, EngSys

#15297 Sync eng/common directory with azure-sdk-tools for PR 1202
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#15169 [EventGrid] Fix readme refdoc link
  sdk/eventgrid/azure-eventgrid/README.md
Labels: Client, Docs, Event Grid

#15291 Increment version for tables releases
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
Labels: Tables

#15322 Sync eng/common directory with azure-sdk-tools for PR 1153
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#15229 Test doc
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_lease.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_lease_async.py
Labels: Storage

#14845 removes self.assertXXX statements from tables test libraries
  sdk/tables/azure-data-tables/tests/test_table.py
  sdk/tables/azure-data-tables/tests/test_table_async.py
  sdk/tables/azure-data-tables/tests/test_table_batch.py
  sdk/tables/azure-data-tables/tests/test_table_batch_async.py
  sdk/tables/azure-data-tables/tests/test_table_batch_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_batch_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_client.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_stats.py
  sdk/tables/azure-data-tables/tests/test_table_service_stats_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_stats_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_service_stats_cosmos_async.py
Labels: Tables

#15316 Enable the del/rename files link check.
  eng/docgeneration/docfx.json
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: Central-EngSys

#15228 Increment version for storage releases
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
Labels: Storage

#15347 removing a forgotten .value in a test file
  sdk/tables/azure-data-tables/tests/test_table_async.py
Labels: Tables, auto-merge

#15323 Sync eng/common directory with azure-sdk-tools for PR 1210
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Labels: Central-EngSys, EngSys

#15174 [Azure.Identity] Add e2e testing instructions for Service Fabric MI
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/arm-templates/cluster.parameters.json
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/arm-templates/cluster.template.json
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/arm-templates/sfmitestsystem.parameters.json
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/arm-templates/sfmitestsystem.template.json
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/arm-templates/sfmitestuser.parameters.json
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/arm-templates/sfmitestuser.template.json
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/service_fabric.md
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/sfmitestsystem/ApplicationManifest.xml
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/sfmitestsystem/sfmitestsystemfrontPkg/Config/Settings.xml
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/sfmitestsystem/sfmitestsystemfrontPkg/ServiceManifest.xml
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/sfmitestuser/ApplicationManifest.xml
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/sfmitestuser/sfmitestuserfrontPkg/Config/Settings.xml
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/sfmitestuser/sfmitestuserfrontPkg/ServiceManifest.xml
Labels: Azure.Identity

#15296 Restore user authentication API from 1.5.0b2
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/app_service.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/_internal/certificate_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/client_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/client_secret_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/samples/README.md
  sdk/identity/azure-identity/samples/control_interactive_prompts.py
  sdk/identity/azure-identity/samples/user_authentication.py
  sdk/identity/azure-identity/tests/test_auth_record.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_msi_credential.py
  sdk/identity/azure-identity/tests/test_msi_credential_async.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity, Client

#15365 [T2] Supplement change log for Subscription
  sdk/subscription/azure-mgmt-subscription/CHANGELOG.md
Labels: Track2, Wave3

#15283 [T1] security 2020 11 16
  sdk/security/azure-mgmt-security/CHANGELOG.md
  sdk/security/azure-mgmt-security/azure/mgmt/security/_security_center.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/models/__init__.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/models/_models.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/models/_models_py3.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/models/_paged_models.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/models/_security_center_enums.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/operations/__init__.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/operations/_connectors_operations.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/operations/_iot_alert_types_operations.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/operations/_iot_alerts_operations.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/operations/_iot_recommendation_types_operations.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/operations/_iot_recommendations_operations.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/operations/_sql_vulnerability_assessment_baseline_rules_operations.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/operations/_sql_vulnerability_assessment_scan_results_operations.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/operations/_sql_vulnerability_assessment_scans_operations.py
  sdk/security/azure-mgmt-security/azure/mgmt/security/version.py
Labels: Security, Track1

#15344 Fix Opentelemetry Azmon trace exporter
  sdk/monitor/microsoft-opentelemetry-exporter-azuremonitor/CHANGELOG.md
  sdk/monitor/microsoft-opentelemetry-exporter-azuremonitor/microsoft/opentelemetry/exporter/azuremonitor/export/trace/__init__.py
  sdk/monitor/microsoft-opentelemetry-exporter-azuremonitor/tests/test_base_exporter.py
  sdk/monitor/microsoft-opentelemetry-exporter-azuremonitor/tests/test_storage.py
  sdk/monitor/microsoft-opentelemetry-exporter-azuremonitor/tests/trace/test_trace.py
Labels: Monitor

#15346 [formrecognizer] doc updates
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_api_versions.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
Labels: Cognitive - Form Recognizer

#15363 [T2] Supplement change log for RDBMS
  sdk/rdbms/azure-mgmt-rdbms/CHANGELOG.md
  sdk/rdbms/azure-mgmt-rdbms/azure/mgmt/rdbms/_version.py
  sdk/rdbms/azure-mgmt-rdbms/azure/mgmt/rdbms/mariadb/_version.py
  sdk/rdbms/azure-mgmt-rdbms/azure/mgmt/rdbms/mysql/_version.py
  sdk/rdbms/azure-mgmt-rdbms/azure/mgmt/rdbms/postgresql/_version.py
  sdk/rdbms/azure-mgmt-rdbms/tests/recordings/test_cli_mgmt_mysql.test_mysql.yaml
  sdk/rdbms/azure-mgmt-rdbms/tests/recordings/test_cli_mgmt_postgresql.test_postgresql.yaml
Labels: RDBMS, Track2, Wave3

#15359 [T1] attestation 2020 11 17
  sdk/attestation/azure-mgmt-attestation/CHANGELOG.md
  sdk/attestation/azure-mgmt-attestation/README.md
  sdk/attestation/azure-mgmt-attestation/azure/mgmt/attestation/_attestation_management_client.py
  sdk/attestation/azure-mgmt-attestation/azure/mgmt/attestation/models/__init__.py
  sdk/attestation/azure-mgmt-attestation/azure/mgmt/attestation/models/_attestation_management_client_enums.py
  sdk/attestation/azure-mgmt-attestation/azure/mgmt/attestation/models/_models.py
  sdk/attestation/azure-mgmt-attestation/azure/mgmt/attestation/models/_models_py3.py
  sdk/attestation/azure-mgmt-attestation/azure/mgmt/attestation/operations/_attestation_providers_operations.py
  sdk/attestation/azure-mgmt-attestation/azure/mgmt/attestation/operations/_operations.py
  sdk/attestation/azure-mgmt-attestation/sdk_packaging.toml
  sdk/attestation/azure-mgmt-attestation/setup.py
  sdk/attestation/azure-mgmt-attestation/tests/recordings/test_cli_mgmt_attestation.test_attestation.yaml
Labels: Attestation, Track1

#15402 [T2]hdinsight for test
  sdk/hdinsight/azure-mgmt-hdinsight/dev_requirements.txt
Labels: HDInsight

#15376 [text analtyics] add abby as codeowner
  .github/CODEOWNERS
Labels: auto-merge

#15426 updating readme
  sdk/tables/azure-data-tables/README.md
Labels: Tables

#15352 [Key Vault] Update tests which disable soft-delete
  sdk/keyvault/azure-keyvault-certificates/tests/_shared/test_case_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_backup_restore.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_backup_restore.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_examples_certificates.test_example_certificate_backup_restore.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_examples_certificates_async.test_example_certificate_backup_restore.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
  sdk/keyvault/azure-keyvault-keys/tests/_shared/test_case_async.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_backup_restore.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_backup_restore.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_samples_keys.test_example_keys_backup_restore.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_samples_keys_async.test_example_keys_backup_restore.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/_shared/test_case_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_samples_secrets.test_example_secrets_backup_restore.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_samples_secrets_async.test_example_secrets_backup_restore.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_secrets_async.test_backup_restore.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_secrets_async.test_recover.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/recordings/test_secrets_client.test_backup_restore.yaml
  sdk/keyvault/azure-keyvault-secrets/tests/test_samples_secrets.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_samples_secrets_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_client.py
Labels: Client, KeyVault

#15431 Resolve Broken Portal Link
  eng/pipelines/aggregate-reports.yml
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/service_fabric.md
Labels: Azure.Identity

#15424 Remove aiodns from our CI
  sdk/core/azure-core/dev_requirements.txt
Labels: Azure.Core

#15343 [ServiceBus] Fix combination of auto_lock_renewer + session + receive_and_delete mode.
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Client, Service Bus

#15212 [ServiceBus] Enable FQDNs and connection strings to support newlines and protocol prefixing (e.g. sb://)
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/stress_test_base.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Client, Service Bus

#15429 [text analytics] add sample stories and improve documents
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_alternative_document_input_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_sentiment_with_opinion_mining_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_authentication_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_detect_language_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_get_detailed_diagnostics_information_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_pii_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_alternative_document_input.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_sentiment_with_opinion_mining.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_authentication.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_detect_language.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_get_detailed_diagnostics_information.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_pii_entities.py
Labels: Cognitive - Text Analytics

#15286 [ServiceBus] Graceful noops for methods taking empty lists.
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Client, Service Bus, auto-merge

#15441 Sync eng/common directory with azure-sdk-tools for PR 1203
  eng/common/scripts/Add-IssueComment.ps1
  eng/common/scripts/Add-IssueLabels.ps1
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Get-PullRequestCreator.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#15449 [Tables] Some README tweaks
  sdk/tables/azure-data-tables/README.md
Labels: Tables

#15452 [text analytics] update changelog and classifiers
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/setup.py
Labels: Cognitive - Text Analytics, auto-merge

#15454 [cognitive services] fix test cog preparer
  tools/azure-sdk-tools/devtools_testutils/cognitiveservices_testcase.py
Labels: auto-merge

#15458 README updates for Text Analytics version 5.1.0b3
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
Labels: Cognitive - Text Analytics

#15364 [ServiceBus] Condition based error redesign + client validation alignment
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/mgmt_handlers.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
  sdk/servicebus/azure-servicebus/samples/async_samples/auto_lock_renew_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/session_pool_receive_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/auto_lock_renew.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/session_pool_receive.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Service Bus

#15457 Sync eng/common directory with azure-sdk-tools for PR 1222
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#15324 [ServiceBus]Evaluate renaming ReceiveMode to ServiceBusReceiveMode in line with dotnet
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/mgmt_handlers.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/migration_guide.md
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_deadlettered_messages_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_deadlettered_messages.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/stress_test_base.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/test_stress_queues.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
  sdk/servicebus/azure-servicebus/tests/test_subscriptions.py
Labels: Client, Service Bus

#14777 [ServiceBus] Add distributed tracing to sending and receiving flows.
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
Labels: Client, Service Bus

#15314 [ServiceBus] Message body type validation
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Client, Service Bus

#15463 [ServiceBus] Rename amqp_annotated_message to raw_amqp_message
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Client, Service Bus

#15467 [SeviceBus] Entity name validation when spawning handler from client
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Service Bus

#15469 Sync eng/common directory with azure-sdk-tools for PR 1219
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/assets/logo.svg
  eng/common/docgeneration/docfx.json
  eng/common/docgeneration/templates/matthews/partials/affix.tmpl.partial
  eng/common/docgeneration/templates/matthews/partials/class.header.tmpl.partial
  eng/common/docgeneration/templates/matthews/partials/class.tmpl.partial
  eng/common/docgeneration/templates/matthews/partials/enum.tmpl.partial
  eng/common/docgeneration/templates/matthews/partials/namespace.tmpl.partial
  eng/common/docgeneration/templates/matthews/styles/main.css
  eng/common/docgeneration/templates/matthews/styles/main.js
  eng/common/pipelines/templates/steps/docindex.yml
Labels: Central-EngSys, EngSys

#15462 Increment version for textanalytics releases
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_version.py
Labels: Cognitive - Text Analytics

#15483 [formrecognizer] try using existing resource in live tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
  sdk/formrecognizer/tests.yml
Labels: Cognitive - Form Recognizer

#15486 [formrecognizer] fix env var name
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Cognitive - Form Recognizer

#15491 [formrecognizer] updates to test in prod
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
  sdk/formrecognizer/tests.yml
Labels: Cognitive - Form Recognizer

#15492 update timeout for live runs for FR
  sdk/formrecognizer/tests.yml
Labels: Cognitive - Form Recognizer

#15490 [ServiceBus] Docs/Docstring/Code improvements
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/_connection_string_parser.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/authenticate_client_connstr_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/authenticate_client_connstr.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
  sdk/servicebus/azure-servicebus/setup.py
Labels: Docs, Service Bus

#15433 [ServiceBus] Fix githubio anchor tag rendering
  sdk/servicebus/azure-servicebus/README.md
Labels: Client, Docs, Service Bus

#15489 [ServiceBus] Pre-GA Bug Bash fixes
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/stress_test_base.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/test_stress_queues.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_subscriptions.py
Labels: Client, Service Bus

#15494 [formrecognizer] Remove sample tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_samples.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_samples_async.py
Labels: Cognitive - Form Recognizer

#14525 Fixed a typo in a code sample.
  doc/sphinx/python_mgmt_migration_guide.rst
Labels: customer-reported

#13904 Fix ClientSecretCredential argument
  doc/sphinx/python_mgmt_migration_guide.rst
Labels: customer-reported

#14200 Fixing broken link to contribution guide.
  CONTRIBUTING.md
Labels: customer-reported

#15504 [formrecognizer] update changelog date for release
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer

#15511 [ServiceBus] Doc tweak
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
Labels: Client, Service Bus

#15512 Increment version for formrecognizer releases
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Labels: Cognitive - Form Recognizer, auto-merge

#15507 [ServiceBus] Create rule by default create a TrueRuleFilter
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_rules_async.test_async_mgmt_rule_create.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_rules_async.test_async_mgmt_rule_create_duplicate.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_rules_async.test_async_mgmt_rule_list_and_delete.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_rules_async.test_async_mgmt_rule_update_invalid.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_rules_async.test_async_mgmt_rule_update_success.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_rules_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_rules.test_mgmt_rule_create.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_rules.test_mgmt_rule_create_duplicate.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_rules.test_mgmt_rule_list_and_delete.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_rules.test_mgmt_rule_update_invalid.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_rules.test_mgmt_rule_update_success.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_rules.py
Labels: Client, Service Bus

#15479 Migration Guide Improvements + few mgmt samples
  sdk/servicebus/azure-servicebus/migration_guide.md
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/samples/async_samples/mgmt_rule_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/mgmt_subscription_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/mgmt_topic_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/mgmt_rule.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/mgmt_subscription.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/mgmt_topic.py
Labels: Service Bus

#15509 [ServiceBus] Final doc tweaks for GA.
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/samples/sync_samples/failure_and_recovery.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/test_stress_queues.py
Labels: Client, Service Bus

#15487 Sync eng/common directory with azure-sdk-tools for PR 1226
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/pipelines/templates/steps/docindex.yml
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#15517 Sync eng/common directory with azure-sdk-tools for PR 1229
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#15519 [formrecognizer] update azure-core min dep version
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
  shared_requirements.txt
Labels: Cognitive - Form Recognizer

#15527 [text analytics] update azure-core min dep
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/setup.py
  shared_requirements.txt
Labels: Cognitive - Text Analytics, auto-merge

#15369 clean up tests
  sdk/core/azure-core/tests/async_tests/test_authentication_async.py
  sdk/core/azure-core/tests/async_tests/test_base_polling_async.py
  sdk/core/azure-core/tests/async_tests/test_basic_transport_async.py
  sdk/core/azure-core/tests/async_tests/test_http_logging_policy_async.py
  sdk/core/azure-core/tests/async_tests/test_paging_async.py
  sdk/core/azure-core/tests/async_tests/test_pipeline_async.py
  sdk/core/azure-core/tests/async_tests/test_polling_async.py
  sdk/core/azure-core/tests/async_tests/test_request_asyncio.py
  sdk/core/azure-core/tests/async_tests/test_request_trio.py
  sdk/core/azure-core/tests/async_tests/test_retry_policy_async.py
  sdk/core/azure-core/tests/async_tests/test_stream_generator_async.py
  sdk/core/azure-core/tests/async_tests/test_tracing_decorator_async.py
  sdk/core/azure-core/tests/async_tests/test_universal_http_async.py
  sdk/core/azure-core/tests/azure_core_asynctests/__init__.py
  sdk/core/azure-core/tests/conftest.py
Labels: Azure.Core

#15518 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus

#15503 [T2] GA Authorization
  sdk/authorization/azure-mgmt-authorization/CHANGELOG.md
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/_version.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2015_06_01/_metadata.json
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2015_06_01/aio/operations/_classic_administrators_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2015_06_01/operations/_classic_administrators_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2015_07_01/_metadata.json
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2015_07_01/aio/operations/_classic_administrators_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2015_07_01/aio/operations/_global_administrator_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2015_07_01/aio/operations/_permissions_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2015_07_01/aio/operations/_provider_operations_metadata_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2015_07_01/aio/operations/_role_assignments_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2015_07_01/aio/operations/_role_definitions_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2015_07_01/operations/_classic_administrators_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2015_07_01/operations/_global_administrator_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2015_07_01/operations/_permissions_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2015_07_01/operations/_provider_operations_metadata_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2015_07_01/operations/_role_assignments_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2015_07_01/operations/_role_definitions_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2018_01_01_preview/_metadata.json
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2018_01_01_preview/aio/operations/_permissions_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2018_01_01_preview/aio/operations/_provider_operations_metadata_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2018_01_01_preview/aio/operations/_role_assignments_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2018_01_01_preview/aio/operations/_role_definitions_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2018_01_01_preview/operations/_permissions_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2018_01_01_preview/operations/_provider_operations_metadata_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2018_01_01_preview/operations/_role_assignments_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2018_01_01_preview/operations/_role_definitions_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2018_07_01_preview/_metadata.json
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2018_07_01_preview/aio/operations/_deny_assignments_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2018_07_01_preview/operations/_deny_assignments_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2018_09_01_preview/_metadata.json
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2018_09_01_preview/aio/operations/_role_assignments_operations.py
  sdk/authorization/azure-mgmt-authorization/azure/mgmt/authorization/v2018_09_01_preview/operations/_role_assignments_operations.py
  sdk/authorization/azure-mgmt-authorization/tests/recordings/test_cli_mgmt_authorization.test_list_by_resource.yaml
  sdk/authorization/azure-mgmt-authorization/tests/recordings/test_cli_mgmt_authorization.test_role_assignment.yaml
  sdk/authorization/azure-mgmt-authorization/tests/recordings/test_cli_mgmt_authorization.test_role_assignment_by_id.yaml
  sdk/authorization/azure-mgmt-authorization/tests/recordings/test_cli_mgmt_authorization.test_role_definition.yaml
Labels: Authorization, Track2
