Repository Azure/azure-sdk-for-python, pull requests merged in 2020-12, with the labels that each got.

#15090 [Storage][STG75]Lease on Get/Set Tags & Find Blob by Tags
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_list_blobs_helper.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_models.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags.test_filter_blobs.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags.test_set_blob_tags_with_lease.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags_async.test_filter_blobs.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags_async.test_set_blob_tags_with_lease.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_tags.py
  sdk/storage/azure-storage-blob/tests/test_blob_tags_async.py
Labels: Storage

#15048 [Fileshare] Share enable protocol share squash root
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/__init__.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_azure_file_storage.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_azure_file_storage_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations_async/_share_operations_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/__init__.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_azure_file_storage_enums.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/version.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_create_share_with_metadata.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_create_share_with_protocol.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_list_shares_with_root_squash_and_protocols.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_set_share_properties_with_root_squash.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.test_create_share_with_protocol.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.test_list_shares_with_root_squash_and_protocols.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.test_set_share_properties_with_root_squash.yaml
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage, feature-request

#15027 [Blob] Added upload blob from url feature
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations_async/_block_blob_operations_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_from_url_if_match_condition.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_from_url_overwrite_properties.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_from_url_source_and_destination_properties.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_from_url_with_cpk.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_from_url_with_existing_blob.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_from_url_with_source_content_md5.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_from_url_with_standard_tier_specified.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_with_and_without_overwrite.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_with_destination_lease.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_from_url_if_match_condition.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_from_url_overwrite_properties.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_from_url_source_and_destination_properties.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_from_url_with_cpk.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_from_url_with_existing_blob.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_from_url_with_source_content_md5.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_from_url_with_standard_tier_specified.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_with_and_without_overwrite.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_with_destination_lease.yaml
  sdk/storage/azure-storage-blob/tests/test_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
Labels: Storage, feature-request

#15613 [text analytics] fix health cancellation samples
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_health_with_cancellation_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_health_with_cancellation.py
Labels: Cognitive - Text Analytics, auto-merge

#15619 [Key Vault] Increase wait times for purging in test samples
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_samples_secrets.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_samples_secrets_async.py
Labels: Client, KeyVault

#15621 Fix AttributeError when CryptographyClient created with key ID
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_ec_key_id.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_rsa_key_id.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_ec_key_id.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_rsa_key_id.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
Labels: Client, KeyVault

#14330 [EventHubs] Add note to migration guide to clarify incompatibility of V1 and V5 checkpoints
  sdk/eventhub/azure-eventhub/migration_guide.md
Labels: Client, Docs, Event Hubs, auto-merge

#14308 [Storage-Blob]Emplace the VS Code forecasting blob in storage samples
  sdk/storage/azure-storage-blob/samples/README.md
  sdk/storage/azure-storage-blob/samples/forecasting_in_vs_code_with_blob.ipynb
Labels: Docs, Storage, auto-merge

#15615 commenting out a single test to get pipeline back to green
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos.py
Labels: Tables, auto-merge

#15632 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
Labels: KeyVault

#15634 Sync eng/common directory with azure-sdk-tools for PR 1233
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#15636 Merge azure-keyvault-keys 4.3.2 hotfix
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_ec_key_id.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_rsa_key_id.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_ec_key_id.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_rsa_key_id.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
Labels: Client, KeyVault

#15510 [Perfstress] Added framework
  tools/azure-devtools/setup.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/__init__.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/async_random_stream.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/perf_stress_runner.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/perf_stress_test.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/random_stream.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/repeated_timer.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/system_perfstress/__init__.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/system_perfstress/aiohttp_get_test.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/system_perfstress/httpx_get_test.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/system_perfstress/no_op_test.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/system_perfstress/requests_get_test.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/system_perfstress/sleep_test.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/system_perfstress/socket_http_get_test.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/system_perfstress/tornado_get_test.py
Labels: Storage

#15548 tweaking readme from user studies
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/samples/README.md
  sdk/tables/azure-data-tables/tests/test_table_entity.py
Labels: Tables

#15657 [T1] recoveryservicesbackup 2020 12 07
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/CHANGELOG.md
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/_recovery_services_backup_client.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/models/__init__.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/models/_models.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/models/_models_py3.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/models/_recovery_services_backup_client_enums.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/__init__.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_backup_resource_encryption_configs_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_bms_prepare_data_move_operation_result_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/operations/_recovery_services_backup_client_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/version.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/tests/recordings/test_mgmt_recoveryservices_backup.test_operations_api.yaml
Labels: Recovery Services

#15571 [T2] databricks
  sdk/databricks/azure-mgmt-databricks/CHANGELOG.md
  sdk/databricks/azure-mgmt-databricks/README.md
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/__init__.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/_configuration.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/_databricks_client.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/_version.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/aio/__init__.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/aio/_configuration.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/aio/_databricks_client.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/aio/operations/__init__.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/aio/operations/_operations.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/aio/operations/_vnet_peering_operations.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/aio/operations/_workspaces_operations.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/databricks_client.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/__init__.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/_databricks_client_enums.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/_models.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/_models_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/databricks_client_enums.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/error_detail.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/error_detail_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/error_info.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/error_info_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/error_response.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/error_response_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/operation.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/operation_display.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/operation_display_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/operation_paged.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/operation_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/resource.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/resource_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/sku.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/sku_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/tracked_resource.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/tracked_resource_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/workspace.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/workspace_paged.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/workspace_provider_authorization.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/workspace_provider_authorization_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/workspace_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/workspace_update.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/models/workspace_update_py3.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/operations/_operations.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/operations/_vnet_peering_operations.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/operations/_workspaces_operations.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/operations/operations.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/operations/workspaces_operations.py
  sdk/databricks/azure-mgmt-databricks/azure/mgmt/databricks/py.typed
  sdk/databricks/azure-mgmt-databricks/setup.py
  sdk/databricks/azure-mgmt-databricks/tests/test_cli_mgmt_databricks.py
Labels: Data Bricks, Track2, Wave4

#15656 [Storage]Hide allow permanent delete
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations_async/_blob_operations_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations_async/_service_operations_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_azure_blob_storage_enums.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models_py3.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/swagger/README.md
Labels: Storage

#15687 [Storage]ChangeLog for file share and blob package
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Labels: Storage

#15691 [formrecognizer] update sample so it can run in ci
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_manage_custom_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_manage_custom_models.py
Labels: Cognitive - Form Recognizer

#15655 [Datalake]Close after flush
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_upload_helper.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_upload_helper.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_upload_data_to_existing_file.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_upload_data_to_existing_file_with_content_settings.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_upload_data_to_existing_file_with_permission_and_umask.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_upload_data_to_existing_file_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_datalake_expression.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_encoding.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_fatal_error_handler.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_fatal_error_handler_raise.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_fatal_error_ignore.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_headers.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_json_serialization_setting.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_nonfatal_error_handler.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_nonfatal_error_ignore.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_progress.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_serialization_setting.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_output_in_arrow_format.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall_with_encoding.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall_with_fatal_error_handler.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall_with_fatal_error_handler_raise.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall_with_fatal_error_ignore.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall_with_json_serialization_setting.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall_with_nonfatal_error_handler.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall_with_nonfatal_error_ignore.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall_with_serialization_setting.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_with_only_input_json_serialization_setting.yaml
Labels: Storage

#15704 Bugfix: bad comment in labservices
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/models/_managed_labs_client_enums.py
Labels: bug

#15705 [formrecognizer] fix sample so that it can run with python 2.7
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_forms/forms/form_selection_mark.png
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_forms/forms/selection_mark_form.pdf
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_content.py
Labels: Cognitive - Form Recognizer

#15459 add pipeline client configuration introduction
  sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md
Labels: Azure.Core, auto-merge

#15706 add python 3.9 classifier
  sdk/synapse/azure-synapse-accesscontrol/sdk_packaging.toml
  sdk/synapse/azure-synapse-accesscontrol/setup.py
  sdk/synapse/azure-synapse-artifacts/sdk_packaging.toml
  sdk/synapse/azure-synapse-artifacts/setup.py
  sdk/synapse/azure-synapse-managedprivateendpoints/sdk_packaging.toml
  sdk/synapse/azure-synapse-managedprivateendpoints/setup.py
  sdk/synapse/azure-synapse-monitoring/sdk_packaging.toml
  sdk/synapse/azure-synapse-monitoring/setup.py
  sdk/synapse/azure-synapse-spark/sdk_packaging.toml
  sdk/synapse/azure-synapse-spark/setup.py
Labels: Synapse, auto-merge

#15710 Sync eng/common directory with azure-sdk-tools for PR 1257
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/templates/matthews/styles/main.css
  eng/common/docgeneration/templates/matthews/styles/main.js
Labels: Central-EngSys, EngSys

#15180 azure-keyvault-administration review feedback
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/README.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_models.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client.py
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client_async.py
Labels: Client, KeyVault

#15700 [T2] azurestackhci
  sdk/azurestackhci/azure-mgmt-azurestackhci/CHANGELOG.md
  sdk/azurestackhci/azure-mgmt-azurestackhci/MANIFEST.in
  sdk/azurestackhci/azure-mgmt-azurestackhci/README.md
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/__init__.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/__init__.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/__init__.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/_azure_stack_hci_client.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/_configuration.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/_version.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/aio/__init__.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/aio/_azure_stack_hci_client.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/aio/_configuration.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/aio/operations/__init__.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/aio/operations/_clusters_operations.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/aio/operations/_operations.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/models/__init__.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/models/_azure_stack_hci_client_enums.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/models/_models.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/models/_models_py3.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/operations/__init__.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/operations/_clusters_operations.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/operations/_operations.py
  sdk/azurestackhci/azure-mgmt-azurestackhci/azure/mgmt/azurestackhci/py.typed
  sdk/azurestackhci/azure-mgmt-azurestackhci/dev_requirements.txt
  sdk/azurestackhci/azure-mgmt-azurestackhci/sdk_packaging.toml
  sdk/azurestackhci/azure-mgmt-azurestackhci/setup.cfg
  sdk/azurestackhci/azure-mgmt-azurestackhci/setup.py
Labels: Track2, Wave4

#15735 Disable changelog verify servicefabric
  sdk/servicefabric/ci.yml
Labels: Service Fabric

#15737 [Communication] Remove rg caching for admin package
  sdk/communication/azure-communication-administration/tests/test_communication_identity_client.py
  sdk/communication/azure-communication-administration/tests/test_communication_identity_client_async.py
Labels: Communication

#15624 Sync eng/common directory with azure-sdk-tools for PR 1243
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
  eng/common/scripts/modules/common-manifest.psd1
Labels: Central-EngSys, EngSys

#15616 Add tests for Mgmt Communication Service
  sdk/communication/azure-mgmt-communication/dev_requirements.txt
  sdk/communication/azure-mgmt-communication/tests/recordings/test_mgmt_communication.test_communication_crud.yaml
  sdk/communication/azure-mgmt-communication/tests/recordings/test_mgmt_communication_list_resources.test_communication_list_by_rg.yaml
  sdk/communication/azure-mgmt-communication/tests/recordings/test_mgmt_communication_list_resources.test_communication_list_by_subscription.yaml
  sdk/communication/azure-mgmt-communication/tests/recordings/test_mgmt_communication_notification_hub.test_communication_link_notif_hub.yaml
  sdk/communication/azure-mgmt-communication/tests/test_mgmt_communication.py
  sdk/communication/azure-mgmt-communication/tests/test_mgmt_communication_list_resources.py
  sdk/communication/azure-mgmt-communication/tests/test_mgmt_communication_notification_hub.py
Labels: Communication

#15724 regen applicationinsights sdk
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/_application_insights_management_client.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/aio/_application_insights_management_client.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/__init__.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/_application_insights_management_client.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/_configuration.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/_metadata.json
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/aio/__init__.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/aio/_application_insights_management_client.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/aio/_configuration.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/aio/operations/__init__.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/aio/operations/_live_token_operations.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/aio/operations/_operations.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/models/__init__.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/models/_models.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/models/_models_py3.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/operations/__init__.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/operations/_live_token_operations.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/operations/_operations.py
  sdk/applicationinsights/azure-mgmt-applicationinsights/azure/mgmt/applicationinsights/v2020_06_02_preview/py.typed
Labels: Track2, Wave4

#15721 [T1] datafactory 2020 12 09
  sdk/datafactory/azure-mgmt-datafactory/CHANGELOG.md
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_data_factory_management_client_enums.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/version.py
Labels: Data Factory

#15746 Fix dependence
  sdk/automanage/azure-mgmt-automanage/setup.py
  sdk/baremetalinfrastructure/azure-mgmt-baremetalinfrastructure/setup.py
  sdk/kubernetesconfiguration/azure-mgmt-kubernetesconfiguration/dev_requirements.txt
  sdk/resourcemover/azure-mgmt-resourcemover/setup.py
Labels: bug

#15748 Sync eng/common directory with azure-sdk-tools for PR 1266
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#15690 Increment version for storage releases
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
Labels: Storage

#15717 Align azure-keyvault-administration API with other SDKs
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/README.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_models.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/tests/test_access_control.py
  sdk/keyvault/azure-keyvault-administration/tests/test_access_control_async.py
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client.py
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client_async.py
Labels: Client, KeyVault

#15763 Update readme example to import async client
  sdk/keyvault/azure-keyvault-certificates/README.md
Labels: KeyVault

#15766 Sync eng/common directory with azure-sdk-tools for PR 1270
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#15765 Sync eng/common directory with azure-sdk-tools for PR 1274
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#15767 Sync eng/common directory with azure-sdk-tools for PR 1273
  eng/common/scripts/SemVer.ps1
Labels: Central-EngSys, EngSys

#15768 Fix mypy in core authentication
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication.py
Labels: Azure.Core

#15755 [T1] recoveryservices 2020 12 11
  sdk/recoveryservices/azure-mgmt-recoveryservices/CHANGELOG.md
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/models/_models.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/models/_models_py3.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/version.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/tests/recordings/test_mgmt_recoveryservices.test_can_create_get_list_delete_vault.yaml
  sdk/recoveryservices/azure-mgmt-recoveryservices/tests/recordings/test_mgmt_recoveryservices.test_can_create_get_list_delete_vault_extended_info.yaml
  sdk/recoveryservices/azure-mgmt-recoveryservices/tests/recordings/test_mgmt_recoveryservices.test_retrieve_vault_usages.yaml
Labels: Recovery Services

#15610 [ServiceBus] Fix forward_to and forward_dead_lettered_messages_to functionality for subscriptions
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_model_workaround.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_queues_async.test_async_mgmt_queue_update_success.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_rules_async.test_async_mgmt_rule_update_success.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_subscriptions_async.test_async_mgmt_subscription_update_success.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_topics_async.test_async_mgmt_topic_update_success.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_queues.test_mgmt_queue_update_success.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_rules.test_mgmt_rule_update_success.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_subscriptions.test_mgmt_subscription_update_success.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_topics.test_mgmt_topic_update_success.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_queues.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_subscriptions.py
Labels: Client, Service Bus

#15754 [T2] Portal
  sdk/portal/azure-mgmt-portal/CHANGELOG.md
  sdk/portal/azure-mgmt-portal/MANIFEST.in
  sdk/portal/azure-mgmt-portal/README.md
  sdk/portal/azure-mgmt-portal/azure/__init__.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/__init__.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/__init__.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/_configuration.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/_portal.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/_version.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/aio/__init__.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/aio/_configuration.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/aio/_portal.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/aio/operations/__init__.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/aio/operations/_dashboards_operations.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/aio/operations/_list_tenant_configuration_violations_operations.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/aio/operations/_operations.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/aio/operations/_tenant_configurations_operations.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/models/__init__.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/models/_models.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/models/_models_py3.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/models/_portal_enums.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/operations/__init__.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/operations/_dashboards_operations.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/operations/_list_tenant_configuration_violations_operations.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/operations/_operations.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/operations/_tenant_configurations_operations.py
  sdk/portal/azure-mgmt-portal/azure/mgmt/portal/py.typed
  sdk/portal/azure-mgmt-portal/sdk_packaging.toml
  sdk/portal/azure-mgmt-portal/setup.cfg
  sdk/portal/azure-mgmt-portal/setup.py
Labels: Track2, Wave4

#15764 [Key Vault] Add migration guide for azure-keyvault-certificates
  sdk/keyvault/azure-keyvault-certificates/migration_guide.md
Labels: KeyVault

#15823 Add ci.yml to portal
  sdk/portal/ci.yml
Labels: Track2, Wave4

#15813 Customer at symbol issue
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_authentication.py
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_url_encoding_at_symbol.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_url_encoding_at_symbol.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_url_encoding_at_symbol.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos_async.test_url_encoding_at_symbol.yaml
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos_async.py
Labels: Tables

#15828 Sync eng/common directory with azure-sdk-tools for PR 1285
  eng/common/docgeneration/templates/matthews/styles/main.js
Labels: Central-EngSys, EngSys

#15814 Better error from InteractiveBrowserCredential for invalid redirect_uri
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_internal/auth_code_redirect_handler.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
Labels: Azure.Identity, Client

#15830 [formrecognizer] fix specified py3.9 version in tests.yml
  sdk/formrecognizer/tests.yml
Labels: Cognitive - Form Recognizer, auto-merge

#15829 Fixed permanent delete failing live tests
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_service_properties.test_blob_service_properties.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_service_properties_async.test_blob_service_properties.yaml
Labels: Storage

#15836 fix portal readme
  sdk/portal/azure-mgmt-portal/README.md
Labels: Track2

#15851 [formrecognizer] fix readme sample
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Cognitive - Form Recognizer, auto-merge

#15852 [text analytics] fix analyze example
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Cognitive - Text Analytics, auto-merge

#15854 [metricsadvisor] fix sample/readme issues
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_alert_configuration_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_authentication_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_feedback_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_alert_configuration.py
Labels: Cognitive - Metrics Advisor, auto-merge

#15853 [Key Vault] Add migration guide for azure-keyvault-secrets
  sdk/keyvault/azure-keyvault-certificates/migration_guide.md
  sdk/keyvault/azure-keyvault-secrets/README.md
  sdk/keyvault/azure-keyvault-secrets/migration_guide.md
Labels: Client, KeyVault

#15855 Sync eng/common directory with azure-sdk-tools for PR 1287
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#15859 Mention local capabilities in CryptographyClient documentation
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
Labels: KeyVault, auto-merge

#15819 [Key Vault] Add migration guide for azure-keyvault-keys
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-keys/migration_guide.md
Labels: Client, KeyVault

#15860 [Communication] Disable mgmt tests
  sdk/communication/azure-mgmt-communication/tests/test_mgmt_communication.py
  sdk/communication/azure-mgmt-communication/tests/test_mgmt_communication_list_resources.py
  sdk/communication/azure-mgmt-communication/tests/test_mgmt_communication_notification_hub.py
Labels: Communication

#15838 [T1] synapse 2020 12 17
  sdk/synapse/azure-mgmt-synapse/CHANGELOG.md
  sdk/synapse/azure-mgmt-synapse/azure/mgmt/synapse/models/_models.py
  sdk/synapse/azure-mgmt-synapse/azure/mgmt/synapse/models/_models_py3.py
  sdk/synapse/azure-mgmt-synapse/azure/mgmt/synapse/operations/_workspace_managed_identity_sql_control_settings_operations.py
  sdk/synapse/azure-mgmt-synapse/azure/mgmt/synapse/version.py
Labels: Synapse

#15863 [Key Vault] Add sample for parsing private key/public certificate from certificate
  sdk/keyvault/azure-keyvault-certificates/samples/README.md
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/parse_certificate.py
  sdk/keyvault/azure-keyvault-certificates/samples/parse_certificate_async.py
Labels: Client, KeyVault

#15877 [SeriviceBus/EventHub] Update 3.9.0 to 3.9 in test yml
  sdk/eventhub/tests.yml
  sdk/servicebus/tests.yml
Labels: Event Hubs, Service Bus, auto-merge

#15862 [Storage][LiveTest]replace the fixed blob names
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_from_path_non_parallel_with_standard_blob_tier.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_from_url_if_match_condition.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_from_url_overwrite_properties.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_from_url_source_and_destination_properties.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_from_url_with_cpk.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_from_url_with_existing_blob.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_from_url_with_source_content_md5.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_from_url_with_standard_tier_specified.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_with_and_without_overwrite.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_with_destination_lease.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_from_url_if_match_condition.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_from_url_overwrite_properties.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_from_url_source_and_destination_properties.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_from_url_with_cpk.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_from_url_with_existing_blob.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_from_url_with_source_content_md5.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_from_url_with_standard_tier_specified.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_with_and_without_overwrite.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_with_destination_lease.yaml
  sdk/storage/azure-storage-blob/tests/test_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
Labels: Storage

#15801 Sequence number in Event Data is of type int, not long
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
Labels: Event Hubs, auto-merge

#15881 Remove preview note for Service Bus package
  sdk/servicebus/azure-servicebus/samples/README.md
Labels: Service Bus, auto-merge

#15786 [EventHubs] Add unit test for 32 partition greedy ownership to attempt and validate issue #13546 having been fixed
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_eventprocessor.py
Labels: Client, Event Hubs

#15894 [Communication] Fix async identity client decode - url bug
  sdk/communication/azure-communication-administration/azure/communication/administration/_shared/utils.py
  sdk/communication/azure-communication-administration/azure/communication/administration/aio/_communication_identity_client_async.py
  sdk/communication/azure-communication-administration/tests/test_communication_identity_client_async.py
Labels: Communication

#15752 [EventHub] Fix keyerror issue in BlobCheckpointStore
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_blobstoragecsaio.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/tests/test_storage_blob_partition_manager_aio.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_blobstoragecs.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/tests/test_storage_blob_partition_manager.py
  sdk/eventhub/tests.yml
Labels: Event Hubs

#15318 removed unittest.main() from test files
  sdk/tables/azure-data-tables/tests/test_table_batch.py
  sdk/tables/azure-data-tables/tests/test_table_batch_async.py
  sdk/tables/azure-data-tables/tests/test_table_batch_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_batch_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_client.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_stats.py
  sdk/tables/azure-data-tables/tests/test_table_service_stats_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_stats_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_service_stats_cosmos_async.py
Labels: Tables

#15896 [T1] hdinsight 2020 12 21
  sdk/hdinsight/azure-mgmt-hdinsight/CHANGELOG.md
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/__init__.py
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/_models.py
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/_models_py3.py
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/version.py
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_humboldt_cluster.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_humboldt_cluster_with_custom_vm_sizes.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_humboldt_cluster_with_premium_tier.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_kafka_cluster_with_managed_disks.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_linux_spark_cluster_with_component_version.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_rserver_cluster.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_with_adls_gen2.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_with_empty_extended_parameters.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_gateway_settings.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_get_configurations.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_get_usages.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_hue_on_running_cluster.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_list_clusters_in_resource_group.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_resize_cluster.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_script_actions_on_running_cluster.yaml
Labels: HDInsight

#15847 [T2] GA loganalytics
  sdk/loganalytics/azure-mgmt-loganalytics/CHANGELOG.md
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/_version.py
Labels: GA, Monitor - LogAnalytics, Track2, Wave3

#15943 updating packaging information
  doc/dev/packaging.md
Labels: EngSys

#15927 run black on tables code
  sdk/tables/azure-data-tables/azure/data/tables/__init__.py
  sdk/tables/azure-data-tables/azure/data/tables/_authentication.py
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_common_conversion.py
  sdk/tables/azure-data-tables/azure/data/tables/_constants.py
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_entity.py
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/azure/data/tables/_models.py
  sdk/tables/azure-data-tables/azure/data/tables/_policies.py
  sdk/tables/azure-data-tables/azure/data/tables/_serialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_shared_access_signature.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_batch.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client_base.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_service_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_service_client_base.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_shared_access_signature.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/__init__.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_base_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_models.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_policies_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_batch_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_service_client_async.py
Labels: Tables

#15835 [EventGrid] Small doc updates for `id` parameter
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_models.py
Labels: Event Grid

#15944 Samples for tracing
  sdk/core/azure-core-tracing-opentelemetry/MANIFEST.in
  sdk/core/azure-core-tracing-opentelemetry/samples/README.md
  sdk/core/azure-core-tracing-opentelemetry/samples/sample_eventgrid.py
  sdk/core/azure-core-tracing-opentelemetry/samples/sample_servicebus.py
  sdk/core/azure-core-tracing-opentelemetry/samples/sample_storage.py
Labels: Azure.Core
