Repository Azure/azure-sdk-for-python, pull requests merged in 2020-09, with the labels that each got.

#13451 [text analytics] add domain_filter param
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities.test_phi_domain_filter.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities_async.test_phi_domain_filter.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
Labels: Cognitive - Text Analytics

#13410 [keyvault] fix typing for paging methods
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/_client.py
Labels: KeyVault

#13446 [text analytics] add bing_id property to LinkedEntity class
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_base_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities.test_bing_id.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities_async.test_bing_id.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_repr.py
Labels: Cognitive - Text Analytics

#13450 [text analytics] add versionadded sphinx documentation
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
Labels: Cognitive - Text Analytics

#13449 [text analytics] Add redacted_text
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities.test_redacted_text.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities.test_redacted_text_v3_1_preview_1.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities_async.test_redacted_text.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities_async.test_redacted_text_v3_1_preview_1.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_repr.py
Labels: Cognitive - Text Analytics

#13372 Add KeyVaultAccessControlClient for data plane RBAC
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_models.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_access_control.test_list_role_definitions.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_access_control.test_role_assignment.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_access_control_async.test_list_role_definitions.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_access_control_async.test_role_assignment.yaml
  sdk/keyvault/azure-keyvault-administration/tests/test_access_control.py
  sdk/keyvault/azure-keyvault-administration/tests/test_access_control_async.py
Labels: Client, KeyVault

#13350 Support Subject Name/Issuer authentication
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/tests/certificate.pem
  sdk/identity/azure-identity/tests/test_certificate_credential.py
Labels: Azure.Identity, Client

#13341 Build AuthenticationRecords from ADFS identity tokens
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity, Client

#13484 [EventGrid] Read me + improve docstrings
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_consumer.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
Labels: Event Grid

#13491 [text analytics] bing_id -> bing_entity_search_api_id
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_repr.py
Labels: Cognitive - Text Analytics

#13379 Remove resources post test
  sdk/tables/azure-data-tables/MANIFEST.in
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/dev_requirements.txt
  sdk/tables/azure-data-tables/sdk_packaging.toml
  sdk/tables/azure-data-tables/setup.py
  sdk/tables/azure-data-tables/tests/_shared/testcase.py
  sdk/tables/tests.yml
  shared_requirements.txt
Labels: Client, Tables

#13495 [text analytics] update version
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_version.py
  sdk/textanalytics/azure-ai-textanalytics/setup.py
Labels: Cognitive - Text Analytics

#13494 [text analytics] add output to opinion mining sample
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_sentiment_with_opinion_mining_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_sentiment_with_opinion_mining.py
Labels: Cognitive - Text Analytics

#13452 Int32 serialization
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_entity.py
  sdk/tables/azure-data-tables/azure/data/tables/_serialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_insert_entity_with_large_int32_value_throws.yaml
  sdk/tables/azure-data-tables/tests/test_table_batch.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
Labels: Tables

#13499 Int32 serialization
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_entity.py
  sdk/tables/azure-data-tables/azure/data/tables/_serialize.py
  sdk/tables/azure-data-tables/tests/test_table_batch.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
Labels: Tables

#13415 [ServiceBus] Allow messages to be sent twice concurrently, improve some exceptions in that space.
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Client, Service Bus

#13423 Sync eng/common directory with azure-sdk-tools for PR 935
  eng/common/scripts/SemVer.ps1
Labels: EngSys

#13374 Sync eng/common directory with azure-sdk-tools for PR 916
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys

#13501 [Storage]Revert equal sign in async
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/authentication.py
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob_async.test_create_blob_with_equal_sign.yaml
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/authentication.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/authentication.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/authentication.py
Labels: Storage

#13384 Sync eng/common directory with azure-sdk-tools for PR 930
  eng/common/README.md
Labels: EngSys

#13346 fix authorization header on asyncio requests containing url-encoded chars
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/authentication.py
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob_async.test_create_blob_with_equal_sign.yaml
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/authentication.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/authentication.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/authentication.py
Labels: Storage

#13315 If match headers
  sdk/tables/azure-data-tables/azure/data/tables/_serialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_if_match.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_if_match_missing.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_if_match_modified.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_if_match_present.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_if_match_unconditionally.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_if_match_wrong_etag.yaml
  sdk/tables/azure-data-tables/tests/test_table_entity.py
Labels: Tables

#13493 [text analytics] link opinion mining in the readme
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Cognitive - Text Analytics

#13509 [text analytics] modify bing id docstring to mention Bing Entity Search more
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
Labels: Cognitive - Text Analytics

#13428 [EventGrid] Receive Functions
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_consumer.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_helpers.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_models.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_consumer.py
Labels: Event Grid

#12512 Fix storage file datalake readme and samples issues
  sdk/storage/azure-storage-file-datalake/README.md
Labels: Storage

#13518 [EventHub] Make doc-owner recommended revisions to eventhub readme and samples.
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/samples/README.md
  sdk/eventhub/azure-eventhub/samples/async_samples/connection_string_authentication_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/client_identity_authentication.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/connection_string_authentication.py
Labels: Client, Event Hubs

#13511 [ServiceBus] Clean up README prior to P6 with doc-owner recommendations.
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/samples/async_samples/authenticate_client_connstr_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/authenticate_client_connstr.py
Labels: Client, Service Bus

#13533 Sync eng/common directory with azure-sdk-tools for PR 946
  eng/common/Update-Change-Log.ps1
Labels: EngSys

#13371 update release date for Sep
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search

#13369 update changelog
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#13523 [text analytics] add --pre suffix to pip install
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Cognitive - Text Analytics

#13524 [text analytics] add test for opinion in diff sentence
  sdk/textanalytics/azure-ai-textanalytics/tests/test_json_pointer.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_unittests.py
Labels: Cognitive - Text Analytics

#13161 [keyvault] fix include_pending param and 2016-10-01 compatibility
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_key_vault_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_operations_mixin.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/_key_vault_client_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/_operations_mixin_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/v2016_10_01/_key_vault_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/v2016_10_01/_metadata.json
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/v2016_10_01/aio/_key_vault_client_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/v2016_10_01/aio/operations_async/_key_vault_client_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/v2016_10_01/operations/_key_vault_client_operations.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/v7_0/_key_vault_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/v7_0/_metadata.json
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/v7_0/aio/_key_vault_client_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/v7_0/aio/operations_async/_key_vault_client_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/v7_0/operations/_key_vault_client_operations.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/v7_1/_key_vault_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/v7_1/_metadata.json
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/v7_1/aio/_key_vault_client_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/v7_1/aio/operations_async/_key_vault_client_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/v7_1/operations/_key_vault_client_operations.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_list_deleted_certificates_2016_10_01.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_list_properties_of_certificates_2016_10_01.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_list_deleted_certificates_2016_10_01.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client_async.test_list_properties_of_certificates_2016_10_01.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py
Labels: KeyVault

#13480 Add redirect_uri argument to InteractiveBrowserCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_internal/auth_code_redirect_handler.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
Labels: Azure.Identity, Client

#13553 Sync eng/common directory with azure-sdk-tools for PR 955
  eng/common/Update-Change-Log.ps1
Labels: EngSys

#13111 Increment version for storage releases
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
Labels: Storage

#13106 Increment version for storage releases
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
Labels: Storage

#13530 Clean up "?" if there is no query in request URL
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_list_blobs_with_include_copy.yaml
  sdk/storage/azure-storage-blob/tests/test_block_blob_sync_copy.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
Labels: Storage

#13368 Sync eng/common directory with azure-sdk-tools for PR 926
  eng/common/Update-Change-Log.ps1
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: EngSys

#13516 [keyvault] add scope enum
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_models.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/tests/test_access_control.py
  sdk/keyvault/azure-keyvault-administration/tests/test_access_control_async.py
Labels: KeyVault

#13557 delete connection_string in recorded tests
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_index_client_data_source_live_async.test_create_datasource_async.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_index_client_data_source_live_async.test_create_or_update_datasource_async.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_index_client_data_source_live_async.test_create_or_update_datasource_if_unchanged.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_index_client_data_source_live_async.test_delete_datasource_async.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_index_client_data_source_live_async.test_delete_datasource_if_unchanged.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_index_client_data_source_live_async.test_get_datasource_async.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_index_client_data_source_live_async.test_list_datasource_async.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_index_client_live_async.test_create_datasource_async.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_index_client_live_async.test_create_or_update_datasource_async.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_index_client_live_async.test_create_or_update_datasource_if_unchanged.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_index_client_live_async.test_delete_datasource_async.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_index_client_live_async.test_delete_datasource_if_unchanged.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_index_client_live_async.test_get_datasource_async.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_index_client_live_async.test_list_datasource_async.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_data_source_live.test_create_datasource.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_data_source_live.test_create_or_update_datasource.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_data_source_live.test_create_or_update_datasource_if_unchanged.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_data_source_live.test_delete_datasource.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_data_source_live.test_delete_datasource_if_unchanged.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_data_source_live.test_delete_datasource_string_if_unchanged.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_data_source_live.test_get_datasource.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_data_source_live.test_list_datasource.yaml
Labels: Search

#13394 Sync eng/common directory with azure-sdk-tools for PR 823
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
  eng/common/scripts/common.ps1
Labels: EngSys

#13572 Add sample docstrings to eg samples
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios/cs1_publish_custom_events_to_a_topic.py
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios/cs1b_publish_custom_events_to_a_topic_with_signature.py
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios/cs2_publish_custom_events_to_a_domain_topic.py
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios/cs3_consume_system_events.py
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios/cs4_consume_custom_events.py
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios/cs5_publish_events_using_cloud_events_1.0_schema.py
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios/cs6_consume_events_using_cloud_events_1.0_schema.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/consume_cloud_custom_data_sample.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/consume_eg_storage_blob_created_data_sample.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/e2e_samples/consume_cloud_events_from_eventhub.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/e2e_samples/consume_cloud_events_from_service_bus_queue.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/e2e_samples/consume_cloud_events_from_storage_queue.py
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_cloud_events_to_custom_topic_sample.py
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_cloud_events_to_domain_topic_sample.py
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_custom_schema_events_to_topic_sample.py
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_event_grid_events_to_custom_topic_sample.py
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_with_shared_access_signature_sample.py
Labels: Event Grid

#13517 [EventGrid] README.md updates
  sdk/eventgrid/azure-eventgrid/README.md
Labels: Event Grid

#13096 Increment version for storage releases
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
Labels: Storage

#13579 [Event Hub] Fix a docstring problem
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
Labels: Client, Event Hubs

#13490 SharedTokenCacheCredential uses MSAL when given an AuthenticationRecord
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
Labels: Azure.Identity, Client

#13354 [EventHub] add SAS token auth capabilities to EventHub
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/conftest.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_auth_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_auth.py
Labels: Client, Event Hubs

#13584 [Evengrid] Regenrate code gen
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/_configuration.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/_event_grid_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/operations/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/operations/_event_grid_publisher_client_operations.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_models_py3.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/models/__init__.py
  sdk/eventgrid/azure-eventgrid/swagger/README.PYTHON_T2.md
Labels: Event Grid

#13433 Added Last Access Time Feature
  sdk/storage/azure-storage-blob/azure/storage/blob/_deserialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions.test_get_properties_last_access_time.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions.test_set_blob_properties_with_if_unmodified.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_list_blobs_contains_last_access_time.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions.py
  sdk/storage/azure-storage-blob/tests/test_container.py
Labels: Storage

#13221 Added blob exists method
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions.test_if_blob_exists.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions_async.test_if_blob_exists.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions_async.py
Labels: Storage

#13489 [keyvault] administration package readme
  sdk/keyvault/azure-keyvault-administration/README.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-secrets/README.md
Labels: KeyVault

#13589 Sync eng/common directory with azure-sdk-tools repository
  eng/common/Update-Change-Log.ps1
Labels: EngSys

#13556 VisualStudioCodeCredential raises CredentialUnavailableError when configured for ADFS
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/tests/test_vscode_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential_async.py
Labels: Azure.Identity, Client

#13525 Implement full vault backup and restore
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/polling.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_models.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_backup_client.py
Labels: Client, KeyVault

#13591 Sync eng/common directory with azure-sdk-tools for PR 969
  eng/common/README.md
Labels: EngSys

#13564 [ServiceBus] Expose internal amqp message properties via AMQPMessage wrapper object on Message
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Client, Service Bus

#13618 [Event Hubs] Update doc link in README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/README.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/migration_guide.md
  sdk/eventhub/azure-eventhub/samples/README.md
Labels: Client, Event Hubs

#13622 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#13621 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core

#13623 Fix data nspkg
  sdk/tables/azure-data-nspkg/setup.py
Labels: Tables

#13626 Add data nspkg to CI
  sdk/tables/ci.yml
Labels: Tables

#13597 Rename ServiceBusManagementClient to ServiceBusAdministrationClient
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/migration_guide.md
  sdk/servicebus/azure-servicebus/samples/async_samples/mgmt_queue_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/mgmt_queue.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_rules_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_topics_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_queues.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_rules.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_subscriptions.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_topics.py
Labels: Client, Service Bus

#13630 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
Labels: KeyVault

#13631 Add administration package to Key Vault pipeline
  sdk/keyvault/ci.yml
Labels: Client, KeyVault

#13637 fixed the long description, addition to changelog
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/setup.py
Labels: Tables

#13640 [EventGrid] Fix lint errors
  eng/tox/allowed_pylint_failures.py
  sdk/eventgrid/azure-eventgrid/azure/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_consumer.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_helpers.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_shared/mixins.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_shared_access_signature_credential.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_signature_credential_policy.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_consumer.py
Labels: Event Grid

#13628 [ServiceBus] Remove unneeded mgmt properties
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_models.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_topics_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_queues.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_topics.py
Labels: Client, Service Bus

#13643 Eventgrid Prepare for Release
  .github/CODEOWNERS
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/samples/README.md
  sdk/eventgrid/azure-eventgrid/setup.py
  shared_requirements.txt
Labels: Event Grid

#13625 [Schema Registry] Fix docstring and docs
  .github/CODEOWNERS
  sdk/schemaregistry/azure-schemaregistry-avroserializer/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/README.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/__init__.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/__init__.py
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/README.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_schema.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_schema_registry_client_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/sample_code_schemaregistry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/sample_code_schemaregistry.py
  sdk/schemaregistry/ci.yml
Labels: Schema Registry

#13552 [ServiceBus] Replace get_*_deadletter_receiver functions with a sub_queue parameter
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/migration_guide.md
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_deadlettered_messages_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_deadlettered_messages.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
  sdk/servicebus/azure-servicebus/tests/test_subscriptions.py
Labels: Client, Service Bus

#13260 [Storage]Fix a permission bug and add enable test for list blob with metadata
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_list_blobs_with_include_metadata.yaml
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/models.py
Labels: Storage

#13636 Fix live test failure related to enabled versioning
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions.test_if_blob_exists.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions_async.test_if_blob_exists.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions_async.py
Labels: Storage

#13641 Update changelog
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#13657 Update CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
Labels: Storage

#13629 [ServiceBus] Rename `entity_availability_status` to `availability_status`
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_models.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_topics_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_queues.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_subscriptions.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_topics.py
Labels: Client, Service Bus

#13651 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
Labels: KeyVault

#13652 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#13649 [Schema Registry] Pin dependency version
  sdk/schemaregistry/azure-schemaregistry-avroserializer/setup.py
  shared_requirements.txt
Labels: Client, Schema Registry

#13642 Increment version for tables releases
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
Labels: Tables

#13644 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_version.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_version.py
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/setup.py
Labels: Event Hubs

#13689 [SchemaRegistry] Re-enable link check as SR links are all available
  eng/ignore-links.txt
Labels: Client, Schema Registry

#13627 [ServiceBus] Support SAS token-via-connection-string auth, and remove ServiceBusSharedKeyCredential export
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_topic_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
  sdk/servicebus/azure-servicebus/tests/test_subscriptions.py
  sdk/servicebus/azure-servicebus/tests/test_topic.py
Labels: Client, Service Bus

#13701 Sync eng/common directory with azure-sdk-tools for PR 982
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys

#13672 Remove locale from docs.microsoft.com links
  sdk/keyvault/azure-keyvault-administration/README.md
Labels: Client, KeyVault

#13715 [ServiceBus] Set 7.0.0b6 release date in changelog
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Client, Service Bus

#13719 [ServiceBus] Sample Fix
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/samples/async_samples/auto_lock_renew_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/mgmt_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_deadlettered_messages_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_deferred_message_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_subscription_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/session_send_receive_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/auto_lock_renew.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/mgmt_queue.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_deadlettered_messages.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_deferred_message_queue.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_queue.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_subscription.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/session_send_receive.py
Labels: Service Bus

#13709 KeyVaultBackupClient tests
  sdk/keyvault/azure-keyvault-administration/conftest.py
  sdk/keyvault/azure-keyvault-administration/dev_requirements.txt
  sdk/keyvault/azure-keyvault-administration/tests/blob_container_preparer.py
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client.test_full_backup_and_restore.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client.test_selective_key_restore.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client_async.test_full_backup_and_restore.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client_async.test_selective_key_restore.yaml
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client.py
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client_async.py
Labels: Client, KeyVault

#13608 eaRelease mgmt eventhub
  sdk/eventhub/azure-mgmt-eventhub/CHANGELOG.md
  sdk/eventhub/azure-mgmt-eventhub/README.md
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2017_04_01/operations/_consumer_groups_operations.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2017_04_01/operations/_event_hubs_operations.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/models/_models.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/models/_models_py3.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/operations/_consumer_groups_operations.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/operations/_event_hubs_operations.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/version.py
  sdk/eventhub/azure-mgmt-eventhub/tests/recordings/test_azure_mgmt_eventhub.test_eh_eventhub_curd.yaml
  sdk/eventhub/azure-mgmt-eventhub/tests/recordings/test_azure_mgmt_eventhub_check_name_availability.test_eh_namespace_available.yaml
  sdk/eventhub/azure-mgmt-eventhub/tests/recordings/test_azure_mgmt_eventhub_consumergroup.test_eh_consumergroup_curd.yaml
  sdk/eventhub/azure-mgmt-eventhub/tests/recordings/test_azure_mgmt_eventhub_namespace.test_eh_namespace_curd.yaml
  sdk/eventhub/azure-mgmt-eventhub/tests/test_azure_mgmt_eventhub.py
Labels: Event Hubs

#13498 Replace UTC_Now() workaround with MSRest.UTC
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
Labels: Client, Service Bus

#13720 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus

#13578 Sync eng/common directory with azure-sdk-tools for PR 965
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: EngSys

#13645 Sync eng/common directory with azure-sdk-tools for PR 973
  eng/common/scripts/update-docs-metadata.ps1
Labels: EngSys

#13764 Update Tables Async Samples Refs
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_service_client_async.py
Labels: Tables

#12490 Internal code for performing Key Vault crypto operations locally
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/_internal.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/algorithms/aes_cbc_hmac.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/algorithms/aes_kw.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/algorithms/ecdsa.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/algorithms/rsa_encryption.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/algorithms/rsa_signing.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/ec_key.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/jose.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/rsa_key.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/symmetric_key.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/ec.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/local_provider.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/rsa.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/symmetric.py
  sdk/keyvault/azure-keyvault-keys/tests/keys.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_local_validity_period_enforcement.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_local_validity_period_enforcement.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_local_crypto.py
Labels: Client, KeyVault

#13210 Make __init__.py compatible with pkgutil-style namespace
  sdk/eventhub/azure-eventhub/azure/eventhub/extensions/__init__.py
Labels: Event Hubs

#13635 Raise msal-extensions dependency to ~=0.3.0
  sdk/identity/azure-identity/setup.py
  shared_requirements.txt
Labels: Azure.Identity, Client

#13779 Colawwj rdbms
  sdk/rdbms/azure-mgmt-rdbms/tests/recordings/test_cli_mgmt_mariadb.test_mariadb.yaml
  sdk/rdbms/azure-mgmt-rdbms/tests/recordings/test_cli_mgmt_mysql.test_mysql.yaml
  sdk/rdbms/azure-mgmt-rdbms/tests/recordings/test_cli_mgmt_postgresql.test_postgresql.yaml
Labels: customer-reported

#13521 [text analytics] add redacted_text to samples
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_pii_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_pii_entities.py
Labels: Cognitive - Text Analytics

#13754 Allow skip publish DocMS or Github IO for each artifact
  eng/pipelines/templates/stages/archetype-python-release.yml
Labels: EngSys

#13791 Sync eng/common directory with azure-sdk-tools for PR 999
  eng/common/scripts/update-docs-metadata.ps1
Labels: EngSys

#13792 Sync eng/common directory with azure-sdk-tools for PR 1000
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/create-tags-and-git-release.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/replace-relative-links.yml
Labels: EngSys

#13800 release-759
  sdk/eventhub/azure-mgmt-eventhub/CHANGELOG.md
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/_event_hub_management_client.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2017_04_01/operations/_event_hubs_operations.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/_event_hub_management_client.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/models/__init__.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/models/_event_hub_management_client_enums.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/models/_models.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/models/_models_py3.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/models/_paged_models.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/operations/__init__.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/operations/_private_endpoint_connections_operations.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/v2018_01_01_preview/operations/_private_link_resources_operations.py
  sdk/eventhub/azure-mgmt-eventhub/azure/mgmt/eventhub/version.py
  sdk/eventhub/azure-mgmt-eventhub/tests/recordings/test_azure_mgmt_eventhub.test_eh_eventhub_curd.yaml
  sdk/eventhub/azure-mgmt-eventhub/tests/recordings/test_azure_mgmt_eventhub_check_name_availability.test_eh_namespace_available.yaml
  sdk/eventhub/azure-mgmt-eventhub/tests/recordings/test_azure_mgmt_eventhub_consumergroup.test_eh_consumergroup_curd.yaml
  sdk/eventhub/azure-mgmt-eventhub/tests/recordings/test_azure_mgmt_eventhub_namespace.test_eh_namespace_curd.yaml
Labels: Event Hubs

#13814 regenerated with new autorest version
  sdk/tables/azure-data-tables/azure/data/tables/_generated/aio/operations/_service_operations.py
  sdk/tables/azure-data-tables/azure/data/tables/_generated/aio/operations/_table_operations.py
  sdk/tables/azure-data-tables/azure/data/tables/_generated/operations/_service_operations.py
  sdk/tables/azure-data-tables/azure/data/tables/_generated/operations/_table_operations.py
Labels: Tables

#13815 removed try/except wrapper on upsert method, added _process_table_error instead of create call
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
Labels: Tables, auto-merge

#13650 Sync eng/common directory with azure-sdk-tools for PR 974
  eng/common/scripts/common.ps1
  eng/common/scripts/logging.ps1
Labels: EngSys

#13773 [EventHubs] Update extensions.__init__.py in EventHubs and EHCheckpointstoreblob to the right nspkg format
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/__init__.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/__init__.py
Labels: Client, Event Hubs

#13818 [text analytics] unskip aad tests
  sdk/textanalytics/azure-ai-textanalytics/tests/test_auth.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_auth_async.py
Labels: Cognitive - Text Analytics

#13820 [text analytics] don't take doc # in json pointer to account for now bc of service bug
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment.test_opinion_mining_more_than_5_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment_async.test_opinion_mining_more_than_5_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
Labels: Cognitive - Text Analytics

#13646 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
  sdk/eventgrid/azure-eventgrid/setup.py
Labels: Event Grid

#13432 Sdk automation/azure mgmt loganalytics
  sdk/loganalytics/azure-mgmt-loganalytics/CHANGELOG.md
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/_log_analytics_management_client.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/models/_log_analytics_management_client_enums.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/models/_models.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/models/_models_py3.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_available_service_tiers_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_clusters_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_data_exports_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_data_sources_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_deleted_workspaces_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_gateways_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_intelligence_packs_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_linked_services_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_linked_storage_accounts_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_management_groups_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_operation_statuses_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_saved_searches_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_schema_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_shared_keys_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_storage_insight_configs_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_tables_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_usages_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_workspace_purge_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_workspaces_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/version.py
  sdk/loganalytics/azure-mgmt-loganalytics/setup.py
Labels: Monitor - LogAnalytics

#13772 CryptographyClient can decrypt and sign locally
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_key_validity.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
Labels: Client, KeyVault

#13841 [text analytics] update release date in changelog
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#13842 [text analytics] add link to versioning story in samples
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
Labels: Cognitive - Text Analytics

#13710 GeneralNameReplacer safely decodes bytes bodies
  tools/azure-devtools/src/azure_devtools/scenario_tests/recording_processors.py
Labels: test-reliability

#13417 13408/update readme
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/migration_guide.md
  sdk/servicebus/azure-servicebus/samples/README.md
Labels: Service Bus

#13809 Azure mgmt containerregistry yyc@10370
  sdk/containerregistry/azure-mgmt-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/models/_models.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/models/_models_py3.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/operations/_task_runs_operations.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_12_01_preview/models/_models.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_12_01_preview/models/_models_py3.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_12_01_preview/operations/_task_runs_operations.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/version.py
  sdk/containerregistry/azure-mgmt-containerregistry/tests/recordings/test_mgmt_containerregistry.test_managed_registry.yaml
  sdk/containerregistry/azure-mgmt-containerregistry/tests/recordings/test_mgmt_containerregistry.test_webhook.yaml
  sdk/containerregistry/azure-mgmt-containerregistry/tests/recordings/test_mgmt_containerregistry_2018_02_01_preview.test_build.yaml
  sdk/containerregistry/azure-mgmt-containerregistry/tests/recordings/test_mgmt_containerregistry_2018_02_01_preview.test_managed_registry.yaml
  sdk/containerregistry/azure-mgmt-containerregistry/tests/recordings/test_mgmt_containerregistry_2018_02_01_preview.test_replication.yaml
  sdk/containerregistry/azure-mgmt-containerregistry/tests/recordings/test_mgmt_containerregistry_2018_02_01_preview.test_webhook.yaml
Labels: Container Registry

#13846 Replaced relative link with absolute links and remove locale
  CONTRIBUTING.md
  README.md
  doc/README.md
  doc/dev/README.md
  doc/dev/mgmt/README.md
  doc/dev/mgmt/generation.md
  doc/dev/mgmt/mgmt_release.md
  doc/dev/mgmt/multiapi.md
  doc/dev/mgmt/swagger/single_api/readme.md
  doc/dev/mgmt/swagger_conf.md
  doc/dev/mgmt/tests.md
  doc/eng_sys_checks.md
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/build-artifacts.yml
  sdk/anomalydetector/azure-ai-anomalydetector/samples/README.md
  sdk/appconfiguration/azure-appconfiguration/README.md
  sdk/core/azure-core/README.md
  sdk/core/azure-mgmt-core/README.md
  sdk/cosmos/README.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/migration_guide.md
  sdk/identity/azure-identity/samples/README.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/samples/README.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/sql/azure-mgmt-sql/CHANGELOG.md
  sdk/storage/README.md
  sdk/tables/azure-data-tables/README.md
Labels: Azure.Core, Azure.Identity, Cosmos, EngSys, Event Grid, Event Hubs, Search, Service Bus, Storage, Tables

#13859 Enable the link check on aggregate-report
  eng/pipelines/aggregate-reports.yml
Labels: EngSys

#13860 use azure-mgmt-core 1.2.0
  sdk/appconfiguration/azure-mgmt-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-mgmt-appconfiguration/azure/mgmt/appconfiguration/_version.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/setup.py
  sdk/compute/azure-mgmt-compute/setup.py
  sdk/eventhub/azure-mgmt-eventhub/setup.py
  sdk/keyvault/azure-mgmt-keyvault/setup.py
  sdk/monitor/azure-mgmt-monitor/CHANGELOG.md
  sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/_version.py
  sdk/monitor/azure-mgmt-monitor/setup.py
  sdk/network/azure-mgmt-network/setup.py
  sdk/resources/azure-mgmt-resource/setup.py
  sdk/storage/azure-mgmt-storage/setup.py
  shared_requirements.txt
  tools/azure-sdk-tools/packaging_tools/templates/setup.py
Labels: Event Hubs, KeyVault, Storage

#13795 Added SMB Multichannel protocol
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/__init__.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client.test_user_agent_append.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client.test_user_agent_custom.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client.test_user_agent_default.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client_async.test_user_agent_append_async.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client_async.test_user_agent_custom_async.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client_async.test_user_agent_default_async.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_service_properties.test_file_service_properties.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_service_properties.test_set_cors.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_service_properties.test_set_hour_metrics.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_service_properties.test_set_minute_metrics.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_service_properties.test_too_many_cors_rules.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_service_properties_async.test_file_service_properties_async.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_service_properties_async.test_set_cors_async.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_service_properties_async.test_set_hour_metrics_async.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_service_properties_async.test_set_minute_metrics_async.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_service_properties_async.test_too_many_cors_rules_async.yaml
  sdk/storage/azure-storage-file-share/tests/test_file_service_properties.py
  sdk/storage/azure-storage-file-share/tests/test_file_service_properties_async.py
Labels: Storage, feature-request

#13690 [ServiceBus] Small set of non-blocking changes from b6.
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_namespaces_async.py
Labels: Client, Service Bus

#13825 Bump Storage-Blob Requires to Range
  sdk/storage/azure-storage-blob-changefeed/setup.py
  sdk/storage/azure-storage-file-datalake/setup.py
  shared_requirements.txt
Labels: Storage

#13531 [ServiceBus] mode (ReceiveMode) parameter needs better exception behavior
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Client, Service Bus

#13884 [SchemaRegistry] Samples for EH integration
  sdk/eventhub/azure-eventhub/README.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/README.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/README.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/eventhub_receive_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/eventhub_send_integration.py
  sdk/schemaregistry/azure-schemaregistry/README.md
Labels: Client, Schema Registry

#13845 KeyVaultPreparer provides Sku's new required argument
  tools/azure-sdk-tools/devtools_testutils/keyvault_preparer.py
Labels: Client, KeyVault

#13914 Additional Fixes from GA-ed Management Packages
  sdk/applicationinsights/azure-applicationinsights/dev_requirements.txt
  sdk/core/azure-common/dev_requirements.txt
  sdk/core/azure-mgmt-core/CHANGELOG.md
  sdk/core/azure-mgmt-core/azure/mgmt/core/_version.py
  sdk/loganalytics/azure-loganalytics/dev_requirements.txt
  sdk/resources/azure-mgmt-resource/tests/test_mgmt_resource.py
  sdk/resources/azure-mgmt-resource/tests/test_mgmt_resource_async.py
  sdk/storage/azure-storage-file-datalake/dev_requirements.txt
Labels: Azure.Core, Monitor - LogAnalytics, Storage

#13857 Added partition key param for querying change feed
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/test/test_query.py
Labels: Cosmos

#13885 Sync eng/common directory with azure-sdk-tools for PR 1022
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys

#13952 Add ACS support in eventgrid
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/_event_grid_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/_event_grid_client_async.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/operations_async/_event_grid_client_operations_async.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_event_grid_client_enums.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_models_py3.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/operations/_event_grid_client_operations.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/models/__init__.py
  sdk/eventgrid/azure-eventgrid/swagger/README.PYTHON_T2.md
  sdk/eventgrid/azure-eventgrid/tests/test_serialization.py
Labels: Event Grid

#13476 Recursive acl
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/__init__.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_access_control_recursive.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_access_control_recursive_async.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_remove_access_control_recursive.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_remove_access_control_recursive_in_batches.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_remove_access_control_recursive_in_batches_with_progress_callback.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_remove_access_control_recursive_with_failures.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_rename_from.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_set_access_control_recursive.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_set_access_control_recursive_continue_on_failures.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_set_access_control_recursive_in_batches.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_set_access_control_recursive_in_batches_with_explicit_iteration.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_set_access_control_recursive_in_batches_with_progress_callback.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_set_access_control_recursive_stop_on_failures.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_set_access_control_recursive_with_failures.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_update_access_control_recursive.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_update_access_control_recursive_in_batches.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_update_access_control_recursive_in_batches_with_progress_callback.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_update_access_control_recursive_with_failures.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_remove_access_control_recursive_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_remove_access_control_recursive_in_batches_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_remove_access_control_recursive_in_batches_with_progress_callback_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_remove_access_control_recursive_with_failures_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_rename_from_an_unencoded_directory_in_another_file_system_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_rename_from_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_set_access_control_recursive_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_set_access_control_recursive_in_batches_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_set_access_control_recursive_in_batches_with_explicit_iteration_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_set_access_control_recursive_in_batches_with_progress_callback_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_set_access_control_recursive_with_failures_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_update_access_control_recursive_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_update_access_control_recursive_continue_on_failures_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_update_access_control_recursive_in_batches_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_update_access_control_recursive_in_batches_with_progress_callback_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_update_access_control_recursive_with_failures_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_remove_access_control_recursive.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_set_access_control_recursive.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_update_access_control_recursive.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_append_empty_data_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_delete_file_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_delete_file_with_if_unmodified_since_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_get_access_control_with_if_modified_since_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_read_file_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_read_file_into_file_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_read_file_to_text_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_remove_access_control_recursive_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_rename_file_to_existing_file_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_rename_file_with_non_used_name_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_set_access_control_recursive_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_update_access_control_recursive_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_directory.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_async.py
Labels: Storage, feature-request

#13752 Sync eng/common directory with azure-sdk-tools for PR 989
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/common/scripts/get-pr-creator.ps1
Labels: EngSys

#14005 Sync eng/common directory with azure-sdk-tools for PR 1041
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/common/scripts/get-pr-creator.ps1
Labels: EngSys

#13999 update samples and readme
  sdk/appconfiguration/azure-appconfiguration/README.md
  sdk/appconfiguration/azure-appconfiguration/samples/list_revision_async_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/list_revision_sample.py
  sdk/search/azure-search-documents/samples/async_samples/sample_indexers_operations_async.py
Labels: Search

#13855 Fixed issues with resource token
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/auth.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
Labels: Cosmos

#14001 Fix delete blob typing
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
Labels: Storage

#14014 Update CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
Labels: Event Grid

#14020 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#13909 update samples to show facet+count & collection type
  sdk/search/azure-search-documents/samples/async_samples/sample_facet_query_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_index_crud_operations_async.py
  sdk/search/azure-search-documents/samples/sample_facet_query.py
  sdk/search/azure-search-documents/samples/sample_index_crud_operations.py
Labels: Search

#14019 [Storage]API Review Comments
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_lease.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_lease_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
Labels: Storage

#13896 Sync eng/common directory with azure-sdk-tools for PR 1029
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys

#13789 Added more docstring context and sample code for `receive_messages()`
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_message.py
Labels: Storage

#13948 Replace docstring code blocks with includes
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_examples_crypto.test_encrypt_decrypt.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_examples_crypto_async.test_encrypt_decrypt_async.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_examples_crypto.py
  sdk/keyvault/azure-keyvault-keys/tests/test_examples_crypto_async.py
Labels: Client, KeyVault

#14050 Correct azure-eventhub example in azure-identity readme
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity, Client, Docs

#14047 Release synapse
  sdk/synapse/azure-mgmt-synapse/CHANGELOG.md
  sdk/synapse/azure-mgmt-synapse/README.md
  sdk/synapse/azure-mgmt-synapse/azure/mgmt/synapse/models/_models.py
  sdk/synapse/azure-mgmt-synapse/azure/mgmt/synapse/models/_models_py3.py
  sdk/synapse/azure-mgmt-synapse/azure/mgmt/synapse/models/_synapse_management_client_enums.py
  sdk/synapse/azure-mgmt-synapse/azure/mgmt/synapse/operations/_integration_runtimes_operations.py
  sdk/synapse/azure-mgmt-synapse/azure/mgmt/synapse/version.py
Labels: Synapse

#14068 Update Key Vault readmes
  sdk/keyvault/azure-keyvault-administration/README.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-secrets/README.md
Labels: Client, Docs, KeyVault, auto-merge

#14030 [eventgrid] Update README.md
  sdk/eventgrid/azure-eventgrid/README.md
Labels: Event Grid, customer-reported

#14094 [metricsadvisor] get pylint clean
  eng/tox/allowed_pylint_failures.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_helpers.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_administration_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_key_credential_policy.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_administration_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_metrics_advisor_client_live_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_metrics_advisor_client_live.py
Labels: Cognitive - Metrics Advisor

#14112 use aka.ms url
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
Labels: auto-merge
