Repository Azure/azure-sdk-for-python, pull requests merged in 2020-04, with the labels that each got.

#10568 [Event Hubs] Update HISTORY, README and version bump
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs

#10576 [Event Hubs] Add new samples for 5.1.0b1
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/samples/README.md
  sdk/eventhub/azure-eventhub/samples/async_samples/iot_hub_connection_string_receive_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/receive_batch_with_checkpoint_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/receive_batch_with_checkpoint.py
Labels: Event Hubs

#10604 Merge azure-identity 1.3.1 hotfix
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_authn_client.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
Labels: Azure.Identity, Client

#10469 add support for dynamic resource allocation and sovereign cloud testing
  common/smoketest/event_hubs.py
  common/smoketest/event_hubs_async.py
  common/smoketest/key_vault_base.py
  common/smoketest/key_vault_base_async.py
  common/smoketest/key_vault_certificates.py
  common/smoketest/key_vault_certificates_async.py
  common/smoketest/key_vault_keys.py
  common/smoketest/key_vault_keys_async.py
  common/smoketest/key_vault_secrets.py
  common/smoketest/key_vault_secrets_async.py
  common/smoketest/smoke_test_async.py
  common/smoketest/test-resources.json
  eng/common/TestResources/deploy-test-resources.yml
  eng/pipelines/smoke-test.yml
Labels: EngSys

#10637 Raise CredentialUnavailableError when shared cache is insufficient
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
Labels: Azure.Identity, Client

#10420 [formrecognizer] initial track 2 library
  doc/sphinx/package_service_mapping.json
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/MANIFEST.in
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_custom_form_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/_configuration.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/_version.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/_configuration_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/operations_async/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/operations_async/_form_recognizer_client_operations_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/models/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/models/_form_recognizer_client_enums.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/models/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/models/_models_py3.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/operations/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/operations/_form_recognizer_client_operations.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/py.typed
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_helpers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_response_handlers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_user_agent.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_custom_form_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/dev_requirements.txt
  sdk/formrecognizer/azure-ai-formrecognizer/mypy.ini
  sdk/formrecognizer/azure-ai-formrecognizer/sdk_packaging.toml
  sdk/formrecognizer/azure-ai-formrecognizer/setup.cfg
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/asynctestcase.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/conftest.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt.test_receipt.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
  sdk/formrecognizer/ci.yml
  shared_requirements.txt
Labels: Client, Cognitive Services, FormRecognizer

#10663 [Event Hubs] Update Eventhubs conftest to use new azure-service control client
  sdk/eventhub/azure-eventhub/conftest.py
Labels: Event Hubs

#10664 Add SDK internal key concepts in addition to the Service-specific key concepts.
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/migration_guide.md
Labels: Client, Docs, Service Bus

#10665 [ServiceBus] Enable internal retry when send failed
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
Labels: Client, Service Bus

#10674 [Event Hubs] Fix a doc issue for 510b1 release
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
Labels: Event Hubs

#10672 azure-identity 1.4.0b2
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity, Client

#10679 Hotfix some small doc changes before going live.
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/samples/README.md
Labels: Client, Docs, Service Bus

#10684 [Event Hubs] Remove asyncio in an sync sample
  sdk/eventhub/azure-eventhub/samples/sync_samples/receive_batch_with_checkpoint.py
Labels: Event Hubs

#10687 [Event Hubs] replace asyncio.run() with loop.run_until_complete() in sample for python35
  sdk/eventhub/azure-eventhub/samples/async_samples/iot_hub_connection_string_receive_async.py
Labels: Event Hubs

#10705 [formrecognizer] add some sample forms for FR tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/forms/Form_1.jpg
  sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/forms/Invoice_1.pdf
  sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/receipt/contoso-allinone.jpg
  sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/receipt/contoso-receipt.png
Labels: FormRecognizer

#10719 [Event Hubs] Add link of Event Hubs v5 IoT hub example code link in v1 example code
  sdk/eventhub/azure-eventhubs/examples/iothub_recv.py
Labels: Event Hubs

#9337 Deprecate azure meta-package
  scripts/dev_setup.py
  sdk/core/azure-mgmt/README.md
  sdk/core/azure-mgmt/setup.py
  sdk/core/azure/CHANGELOG.md
  sdk/core/azure/README.md
  sdk/core/azure/setup.cfg
  sdk/core/azure/setup.py
  setup.py
Labels: Azure.Core, Packaging

#10726 Change China smoke testing region
  eng/pipelines/smoke-test.yml
Labels: EngSys

#10748 [ServiceBus] Topic Sender Implementation
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/send_topic_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/send_topic.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_topic_async.py
  sdk/servicebus/azure-servicebus/tests/servicebus_preparer.py
  sdk/servicebus/azure-servicebus/tests/test_topic.py
Labels: Client, Service Bus

#10762 update change log
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#10777 [ServiceBus] Subscription Receiver Implementation
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_subscription_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_subscription.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/servicebus_preparer.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
  sdk/servicebus/azure-servicebus/tests/test_subscriptions.py
Labels: Client, Service Bus

#10792 Add certificates library to Key Vault metapackage
  sdk/keyvault/azure-keyvault/CHANGELOG.md
  sdk/keyvault/azure-keyvault/setup.py
Labels: Client, KeyVault

#10779 Temporarily disable cosmosdb smoke tests
  common/smoketest/smoke_test.py
  common/smoketest/test-resources.json
Labels: EngSys

#10798 Update azure-keyvault readme
  sdk/keyvault/azure-keyvault/README.md
Labels: Client, KeyVault

#10806 Update eventhub README.md
  sdk/eventhub/azure-eventhub/README.md
Labels: Event Hubs

#10790 Clean Track2 README with comments from P1 release
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/samples/sync_samples/client_identity_authentication.py
Labels: Client, Service Bus

#10813 README, migration guide, changelog and associatedLink keepalive cleanup.
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/migration_guide.md
Labels: Client, Service Bus

#6554 Headers can be single string with aiohttp
  tools/azure-devtools/src/azure_devtools/scenario_tests/recording_processors.py
  tools/azure-devtools/src/azure_devtools/scenario_tests/tests/test_recording_processor.py
Labels: EngSys

#10722 Refactor session receiver to be decoupled from non-session receiver.
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/client_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_receiver_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/session_send_receive_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/session_send_receive.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Client, Service Bus

#10677 [formrecognizer] preview 1 design changes
  .github/CODEOWNERS
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_custom_form_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/_configuration.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/_configuration_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/models/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/models/_models_py3.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_helpers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_response_handlers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_custom_form_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/dev_requirements.txt
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt.test_receipt.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  shared_requirements.txt
Labels: Client, Cognitive Services, FormRecognizer

#10767 Track2 flaky test improvements
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
  sdk/servicebus/azure-servicebus/tests/utilities.py
Labels: Client, Service Bus

#10870 Adding Ashish to CODEOWNERS for storage folder
  .github/CODEOWNERS
Labels: EngSys

#10879 Make live managed identity tests independent of soft delete
  sdk/identity/azure-identity/tests/azure-functions/readme.md
  sdk/identity/azure-identity/tests/managed-identity-live/appservice.md
  sdk/identity/azure-identity/tests/managed-identity-live/test_managed_identity_live.py
  sdk/identity/azure-identity/tests/managed-identity-live/test_managed_identity_live_async.py
  sdk/identity/azure-identity/tests/managed-identity-live/vm.md
  sdk/identity/azure-identity/tests/pod-identity/readme.md
Labels: Azure.Identity, Client

#10864 [formrecognizer] enable mypy
  eng/tox/mypy_hard_failure_packages.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/_configuration.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/_configuration_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/operations_async/_form_recognizer_client_operations_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/models/_form_recognizer_client_enums.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/models/_models_py3.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/operations/_form_recognizer_client_operations.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
Labels: Client, Cognitive Services, FormRecognizer

#10901 [formrecognizer] update docstrings and adds literalincludes
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
Labels: Client, Cognitive Services, FormRecognizer

#10929 [formrecognizer] rename async training method to train_model and sync method to begin_train_model
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training_async.py
Labels: Client, Cognitive Services, FormRecognizer

#10936 Replace non-ASCII character
  sdk/core/azure-core/azure/core/pipeline/policies/_retry.py
Labels: Azure.Core, Client

#10815 [form recognizer] added samples
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_differentiate_output_models_trained_with_and_without_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_get_bounding_boxes_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_manage_custom_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_train_model_with_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_train_model_without_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_differentiate_output_models_trained_with_and_without_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_forms/forms/Form_1.jpg
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_forms/forms/Invoice_1.pdf
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_forms/receipt/contoso-allinone.jpg
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_forms/receipt/contoso-receipt.png
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_get_bounding_boxes.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_manage_custom_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_train_model_with_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_train_model_without_labels.py
Labels: Client, Cognitive Services, FormRecognizer

#10794 [form recognizer] readme
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Client, Cognitive Services, FormRecognizer

#10947 [formrecognizer] some fixes
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_helpers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content.test_content_stream_jpg.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms.test_custom_form_unlabeled.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt.test_receipt_png.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
Labels: Client, Cognitive Services, FormRecognizer

#10935 Ensure open() idempotency in track 2 service bus handlers.
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Client, Service Bus

#9529 add AuthFileCredential and unit test
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/auth_file.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/auth_file.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_auth_file_credential.py
  sdk/identity/azure-identity/tests/test_auth_file_credential_async.py
Labels: Azure.Identity, Client

#11003 [formrecognizer] edits to docstrings
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
Labels: Client, Cognitive Services, FormRecognizer

#11017 [formrecognizer] handle unsupervised pages better with service bug
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_response_handlers.py
Labels: Client, Cognitive Services, FormRecognizer

#11002 Servicebus - Track2 - Remove timeout from Send
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
Labels: Client, Service Bus

#11056 Fix pip link in azure-keyvault-secrets readme
  sdk/keyvault/azure-keyvault-secrets/README.md
Labels: Docs, KeyVault

#11001 Add sync/async samples to demonstrate consuming from a number of sessions at one time.
  sdk/servicebus/azure-servicebus/samples/async_samples/session_pool_receive_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/session_pool_receive.py
Labels: Client, Service Bus

#10800 [ServiceBus] Settle non-deferred message through receiver link
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/mgmt_handlers.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_message.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Client, Service Bus

#11080 [ServiceBus] Remove exception from __init__.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_deferred_message_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/session_pool_receive_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/session_send_receive_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/session_pool_receive.py
Labels: Client, Service Bus

#10799 Fix TYPING cycles if TYPE_CHECKING manually forced
  sdk/core/azure-core/azure/core/pipeline/_base.py
  sdk/core/azure-core/azure/core/pipeline/_base_async.py
  sdk/core/azure-core/azure/core/pipeline/_tools.py
  sdk/core/azure-core/azure/core/pipeline/_tools_async.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base_async.py
Labels: Azure.Core, Client

#10653 Improve mypy typing for azure core
  sdk/core/azure-core-tracing-opentelemetry/azure/core/tracing/ext/opentelemetry_span/__init__.py
  sdk/core/azure-core/azure/__init__.py
  sdk/core/azure-core/azure/core/exceptions.py
  sdk/core/azure-core/azure/core/pipeline/__init__.py
  sdk/core/azure-core/azure/core/pipeline/_base.py
  sdk/core/azure-core/azure/core/pipeline/_base_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_base.py
  sdk/core/azure-core/azure/core/pipeline/policies/_custom_hook.py
  sdk/core/azure-core/azure/core/pipeline/policies/_redirect_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_retry_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_universal.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base_async.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base_requests_async.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_asyncio.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_trio.py
  sdk/core/azure-core/azure/core/polling/_async_poller.py
  sdk/core/azure-core/azure/core/polling/_poller.py
  sdk/core/azure-core/azure/core/settings.py
  sdk/core/azure-core/azure/core/tracing/decorator_async.py
Labels: Azure.Core, Client

#11050 Accept authority option with or without scheme
  sdk/identity/azure-identity/azure/identity/_authn_client.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_internal/__init__.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_aad_client_async.py
  sdk/identity/azure-identity/tests/test_authn_client.py
  sdk/identity/azure-identity/tests/test_authn_client_async.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
  sdk/identity/azure-identity/tests/test_identity.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
Labels: Azure.Identity, Client

#10940 ARM default whitelist headers
  sdk/core/azure-mgmt-core/CHANGELOG.md
  sdk/core/azure-mgmt-core/azure/mgmt/core/_async_pipeline_client.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/_pipeline_client.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/_version.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/policies/__init__.py
Labels: Azure.Mgmt.Core, Mgmt

#11110 Adjust README with comments from the per-release doc review.
  sdk/servicebus/azure-servicebus/README.md
Labels: Client, Service Bus

#10932 [Event Hubs] add enqueueTime to Process span links
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/dev_requirements.txt
  sdk/eventhub/azure-eventhub-checkpointstoreblob/dev_requirements.txt
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/setup.py
  shared_requirements.txt
Labels: Event Hubs

#10884 [ServiceBus] Remove formatter in samples/readme.md
  sdk/eventhub/azure-eventhub/samples/README.md
Labels: Client, Docs, Service Bus

#11093 Add capability to send multiple events in one Send() call.
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/client_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Client, Service Bus

#11079 [Event Hubs] `EventHubProducerClient.send_batch` accepts a list of EventData
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/send_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/send.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_send_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_send.py
Labels: Event Hubs

#11117 Add ServiceDirectory to usage of remove-test-resources.yml
  eng/pipelines/smoke-test.yml
Labels: EngSys

#11060 [Service Bus] Exception Handling review
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Client, Service Bus

#11095 [ServiceBus] Support for scheduling and cancellation
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/migration_guide.md
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/schedule_messages_and_cancellation_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/schedule_messages_and_cancellation.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Client, Service Bus

#10885 ChangeLog generics for autorest v5
  tools/azure-sdk-tools/changelog_generics.md
Labels: Mgmt, autorestv3 generation
