Repository Azure/azure-sdk-for-python, pull requests merged in 2020-03, with the labels that each got.

#10080 Update Key Vault changelogs and versions
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_polling.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_polling_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/_polling.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/_polling_async.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/README.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_polling.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_polling_async.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
Labels: Client, KeyVault

#10082 Randomized replayable names for service bus management tests
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_namespace.test_sb_namespace_curd.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_queue.test_sb_queue_curd.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_topic.test_sb_topic_curd.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_topic_subscription.test_sb_subscription_curd.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_topic_subscription_rule.test_sb_rule_curd.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/test_azure_mgmt_servicebus_namespace.py
  sdk/servicebus/azure-mgmt-servicebus/tests/test_azure_mgmt_servicebus_queue.py
  sdk/servicebus/azure-mgmt-servicebus/tests/test_azure_mgmt_servicebus_topic.py
  sdk/servicebus/azure-mgmt-servicebus/tests/test_azure_mgmt_servicebus_topic_subscription.py
  sdk/servicebus/azure-mgmt-servicebus/tests/test_azure_mgmt_servicebus_topic_subscription_rule.py
  sdk/servicebus/azure-servicebus/tests/servicebus_preparer.py
  tools/azure-sdk-tools/devtools_testutils/azure_testcase.py
Labels: Service Bus

#10112 [text analytics] name changes
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_text_analytics.py
Labels: Client, Cognitive Services, TextAnalytics

#10129 [Event Hubs] Eventhubs doc update
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/README.md
Labels: Event Hubs

#10137 [Event Hubs] Update checkpointstore version to 1.1.0
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_version.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_version.py
Labels: Event Hubs

#9713 [Event Hubs] Add a 20% random jitter to the EP load balancing interval.
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
Labels: Event Hubs

#10147 Use version 1.0.0b1 for search preview 1
  sdk/search/azure-search/CHANGELOG.md
  sdk/search/azure-search/azure/search/_version.py
Labels: Client, Search

#10092 Preview implementation of AzureCliCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_internal/__init__.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/test_cli_credential.py
  sdk/identity/azure-identity/tests/test_cli_credential_async.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
Labels: Azure.Identity, Client

#10148 Update azure-keyvault-* 4.2.0b1 classifiers
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
Labels: Client, KeyVault

#9934 [textanalytics] Refactor exceptions to use azure-core ODataV4Format
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/setup.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_detect_language.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_detect_language_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
  shared_requirements.txt
Labels: Client, Cognitive Services, TextAnalytics

#9994 overload tracing decorator to preserve type info
  sdk/core/azure-core/azure/core/tracing/decorator.py
  sdk/core/azure-core/azure/core/tracing/decorator_async.py
Labels: Azure.Core

#10201 update search user agent
  sdk/search/azure-search/azure/search/_index/_search_index_client.py
  sdk/search/azure-search/azure/search/_index/aio/_search_index_client_async.py
  sdk/search/azure-search/tests/async_tests/recordings/test_live_async.test_async_get_document_count.yaml
  sdk/search/azure-search/tests/async_tests/recordings/test_live_async.test_autocomplete.yaml
  sdk/search/azure-search/tests/async_tests/recordings/test_live_async.test_delete_documents_existing.yaml
  sdk/search/azure-search/tests/async_tests/recordings/test_live_async.test_delete_documents_missing.yaml
  sdk/search/azure-search/tests/async_tests/recordings/test_live_async.test_get_document.yaml
  sdk/search/azure-search/tests/async_tests/recordings/test_live_async.test_get_document_missing.yaml
  sdk/search/azure-search/tests/async_tests/recordings/test_live_async.test_get_search_facets_none.yaml
  sdk/search/azure-search/tests/async_tests/recordings/test_live_async.test_get_search_facets_result.yaml
  sdk/search/azure-search/tests/async_tests/recordings/test_live_async.test_get_search_filter.yaml
  sdk/search/azure-search/tests/async_tests/recordings/test_live_async.test_get_search_simple.yaml
  sdk/search/azure-search/tests/async_tests/recordings/test_live_async.test_merge_documents_existing.yaml
  sdk/search/azure-search/tests/async_tests/recordings/test_live_async.test_merge_documents_missing.yaml
  sdk/search/azure-search/tests/async_tests/recordings/test_live_async.test_merge_or_upload_documents.yaml
  sdk/search/azure-search/tests/async_tests/recordings/test_live_async.test_suggest.yaml
  sdk/search/azure-search/tests/async_tests/recordings/test_live_async.test_upload_documents_existing.yaml
  sdk/search/azure-search/tests/async_tests/recordings/test_live_async.test_upload_documents_new.yaml
  sdk/search/azure-search/tests/recordings/test_live.test_autocomplete.yaml
  sdk/search/azure-search/tests/recordings/test_live.test_delete_documents_existing.yaml
  sdk/search/azure-search/tests/recordings/test_live.test_delete_documents_missing.yaml
  sdk/search/azure-search/tests/recordings/test_live.test_get_document.yaml
  sdk/search/azure-search/tests/recordings/test_live.test_get_document_count.yaml
  sdk/search/azure-search/tests/recordings/test_live.test_get_document_missing.yaml
  sdk/search/azure-search/tests/recordings/test_live.test_get_search_facets_none.yaml
  sdk/search/azure-search/tests/recordings/test_live.test_get_search_facets_result.yaml
  sdk/search/azure-search/tests/recordings/test_live.test_get_search_filter.yaml
  sdk/search/azure-search/tests/recordings/test_live.test_get_search_simple.yaml
  sdk/search/azure-search/tests/recordings/test_live.test_merge_documents_existing.yaml
  sdk/search/azure-search/tests/recordings/test_live.test_merge_documents_missing.yaml
  sdk/search/azure-search/tests/recordings/test_live.test_merge_or_upload_documents.yaml
  sdk/search/azure-search/tests/recordings/test_live.test_suggest.yaml
  sdk/search/azure-search/tests/recordings/test_live.test_upload_documents_existing.yaml
  sdk/search/azure-search/tests/recordings/test_live.test_upload_documents_new.yaml
Labels: Client, Search

#10177 Fix AzureCliCredential tests on Windows Python < 3.8
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/conftest.py
  sdk/identity/azure-identity/tests/test_cli_credential_async.py
Labels: Azure.Identity, Client

#10185 Simplify AzureCliCredential working directory
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
Labels: Azure.Identity, Client

#10206 [Event Hubs] Fix typing.Deque problem for Python 3.5.3
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
Labels: Event Hubs

#5399 Azure-mgmt-core
  sdk/core/azure-mgmt-core/CHANGELOG.md
  sdk/core/azure-mgmt-core/LICENSE.md
  sdk/core/azure-mgmt-core/MANIFEST.in
  sdk/core/azure-mgmt-core/README.md
  sdk/core/azure-mgmt-core/azure/__init__.py
  sdk/core/azure-mgmt-core/azure/mgmt/__init__.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/__init__.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/_async_pipeline_client.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/_pipeline_client.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/_version.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/exceptions.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/policies/__init__.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/policies/_base.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/policies/_base_async.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/polling/__init__.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/polling/arm_polling.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/polling/async_arm_polling.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/py.typed
  sdk/core/azure-mgmt-core/azure/mgmt/core/tools.py
  sdk/core/azure-mgmt-core/dev_requirements.txt
  sdk/core/azure-mgmt-core/sdk_packaging.toml
  sdk/core/azure-mgmt-core/setup.cfg
  sdk/core/azure-mgmt-core/setup.py
  sdk/core/azure-mgmt-core/tests/.gitignore
  sdk/core/azure-mgmt-core/tests/asynctests/test_async_arm_polling.py
  sdk/core/azure-mgmt-core/tests/conftest.py
  sdk/core/azure-mgmt-core/tests/test_arm_polling.py
  sdk/core/azure-mgmt-core/tests/test_mgmt_exceptions.py
  sdk/core/azure-mgmt-core/tests/test_policies.py
  sdk/core/azure-mgmt-core/tests/test_tools.py
  sdk/core/ci.yml
  shared_requirements.txt
Labels: Azure.Core, Mgmt

#10228 [text analytics] Verify all sphinx, readme etc comments
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_detect_language_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_detect_language.py
Labels: Client, Cognitive Services, TextAnalytics

#10229 Remove invalid link from DefaultAzureCredential docstring
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
Labels: Azure.Identity, Client

#10230 update search dev status classifier
  sdk/search/azure-search/README.md
  sdk/search/azure-search/samples/README.md
  sdk/search/azure-search/setup.py
Labels: Client, Search

#10238 fix link in search readme
  sdk/search/azure-search/README.md
Labels: Client, Search

#9314 Add Gitter community channel
  README.md
Labels: Client, Docs

#10209 Keep alive associated AMQP links via Service Bus management requests.
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/async_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/common/constants.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/stress_test_queue_long_term_autorenew.py
Labels: Client, Service Bus

#4255 computer vision quickstart
  sdk/batch/azure-mgmt-batch/README.md
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/README.md
Labels: Cognitive Services

#9831 rebuild test for new release databox
  sdk/databox/azure-mgmt-databox/tests/recordings/test_cli_mgmt_databox.test_databox.yaml
  sdk/databox/azure-mgmt-databox/tests/test_cli_mgmt_databox.py
Labels: Mgmt

#10086 Test azure.mgmt.storage
  sdk/storage/azure-mgmt-storage/tests/recordings/test_cli_mgmt_storage.test_storage.yaml
  sdk/storage/azure-mgmt-storage/tests/test_cli_mgmt_storage.py
Labels: Mgmt, Storage

#10200 Smoke Tests: enable using other clouds
  common/smoketest/event_hubs_async.py
  common/smoketest/key_vault_certificates.py
  common/smoketest/key_vault_certificates_async.py
  common/smoketest/key_vault_keys.py
  common/smoketest/key_vault_keys_async.py
  common/smoketest/key_vault_secrets.py
  common/smoketest/key_vault_secrets_async.py
  common/smoketest/smoke_test_async.py
  eng/pipelines/smoke-test.yml
Labels: EngSys

#10302 Fix 10301 - kwargs lost in ARM
  sdk/core/azure-mgmt-core/azure/mgmt/core/_async_pipeline_client.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/_pipeline_client.py
Labels: Azure.Core, Client

#10295 [Cosmos] Added HttpLoggingPolicy to pipeline
  sdk/cosmos/azure-cosmos/.gitignore
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/python.pyproj
  sdk/cosmos/azure-cosmos/python.sln
  sdk/cosmos/azure-cosmos/python_vs2017.pyproj
  sdk/cosmos/azure-cosmos/python_vs2017.sln
  sdk/cosmos/azure-cosmos/requirements.txt
  sdk/cosmos/azure-cosmos/test-requirements.txt
  sdk/cosmos/azure-cosmos/test/routing/test_collection_routing_map.py
  sdk/cosmos/azure-cosmos/test/routing/test_routing_map_provider.py
  sdk/cosmos/azure-cosmos/test/test_aggregate.py
  sdk/cosmos/azure-cosmos/test/test_base_unit.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_diagnostics.py
  sdk/cosmos/azure-cosmos/test/test_encoding.py
  sdk/cosmos/azure-cosmos/test/test_env.py
  sdk/cosmos/azure-cosmos/test/test_globaldb.py
  sdk/cosmos/azure-cosmos/test/test_globaldb_mock.py
  sdk/cosmos/azure-cosmos/test/test_location_cache.py
  sdk/cosmos/azure-cosmos/test/test_media.py
  sdk/cosmos/azure-cosmos/test/test_multi_orderby.py
  sdk/cosmos/azure-cosmos/test/test_multimaster.py
  sdk/cosmos/azure-cosmos/test/test_orderby.py
  sdk/cosmos/azure-cosmos/test/test_partition_key.py
  sdk/cosmos/azure-cosmos/test/test_proxy.py
  sdk/cosmos/azure-cosmos/test/test_query.py
  sdk/cosmos/azure-cosmos/test/test_query_execution_context.py
  sdk/cosmos/azure-cosmos/test/test_retry_policy.py
  sdk/cosmos/azure-cosmos/test/test_routing_map.py
  sdk/cosmos/azure-cosmos/test/test_session.py
  sdk/cosmos/azure-cosmos/test/test_session_container.py
  sdk/cosmos/azure-cosmos/test/test_session_token_unit.py
  sdk/cosmos/azure-cosmos/test/test_streaming_failover.py
  sdk/cosmos/azure-cosmos/test/test_ttl.py
  sdk/cosmos/azure-cosmos/test/test_utils.py
  sdk/cosmos/azure-cosmos/tox.ini
Labels: Cosmos

#9867 add full tests for serialconsole
  sdk/serialconsole/azure-mgmt-serialconsole/tests/recordings/test_cli_mgmt_serialconsole.test_serialconsole.yaml
  sdk/serialconsole/azure-mgmt-serialconsole/tests/test_cli_mgmt_serialconsole.py
Labels: Mgmt

#9925 Test mysql
  sdk/rdbms/azure-mgmt-rdbms/tests/recordings/test_cli_mgmt_mysql.test_mysql.yaml
  sdk/rdbms/azure-mgmt-rdbms/tests/test_cli_mgmt_mysql.py
Labels: Mgmt, MySQL

#9975 add test for postgresql
  sdk/rdbms/azure-mgmt-rdbms/tests/recordings/test_cli_mgmt_postgresql.test_postgresql.yaml
  sdk/rdbms/azure-mgmt-rdbms/tests/test_cli_mgmt_postgresql.py
Labels: Mgmt, PostgreSQL

#10028 update test for healthcareapis
  sdk/healthcareapis/azure-mgmt-healthcareapis/tests/recordings/test_cli_mgmt_healthcareapis.test_healthcareapis.yaml
  sdk/healthcareapis/azure-mgmt-healthcareapis/tests/test_cli_mgmt_healthcareapis.py
Labels: Mgmt, Resource Health

#10056 update relay test. 100% coverage.
  sdk/relay/azure-mgmt-relay/tests/recordings/test_azure_mgmt_relay_namespace.test_relay_namespace_curd.yaml
  sdk/relay/azure-mgmt-relay/tests/test_azure_mgmt_operations.py
  sdk/relay/azure-mgmt-relay/tests/test_azure_mgmt_relay_namespace.py
Labels: Mgmt, Relay

#10121 Test compute
  sdk/compute/azure-mgmt-compute/tests/recordings/test_cli_mgmt_compute.test_compute.yaml
  sdk/compute/azure-mgmt-compute/tests/test_cli_mgmt_compute.py
Labels: Compute, Mgmt

#9879 add tests for automation, coverage: 58%
  sdk/automation/azure-mgmt-automation/tests/recordings/test_cli_mgmt_automation.test_automation.yaml
  sdk/automation/azure-mgmt-automation/tests/test_cli_mgmt_automation.py
Labels: Automation, Mgmt

#10362 pipelines for new search packages
  sdk/search/ci.yml
Labels: Client, Search

#10126 preparer resource caching framework
  sdk/conftest.py
  sdk/servicebus/azure-servicebus/dev_requirements.txt
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/servicebus_preparer.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/tests.yml
  tools/azure-devtools/src/azure_devtools/scenario_tests/preparers.py
  tools/azure-devtools/src/azure_devtools/scenario_tests/tests/test_preparer_order.py
  tools/azure-sdk-tools/devtools_testutils/__init__.py
  tools/azure-sdk-tools/devtools_testutils/resource_testcase.py
Labels: Client

#10380 [textanalytics] trim kwargs for async preparer
  .github/CODEOWNERS
  sdk/textanalytics/azure-ai-textanalytics/tests/asynctestcase.py
Labels: Client, Cognitive Services, TextAnalytics

#10287 [Event Hubs] Add comment to checkpointstore sample that uses old version of storage
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/receive_events_using_checkpoint_store_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/receive_events_using_checkpoint_store_storage_api_version_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/receive_events_using_checkpoint_store.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/receive_events_using_checkpoint_store_storage_api_version.py
Labels: Event Hubs

#9821 Allow requests to opt out of HTTPS enforcement
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication_async.py
  sdk/core/azure-core/tests/azure_core_asynctests/test_authentication.py
  sdk/core/azure-core/tests/test_authentication.py
Labels: Azure.Core, Client

#10394 Enable preparers to implicitly handle async tests
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/storage/azure-storage-blob/tests/test_append_blob_async.py
  tools/azure-devtools/src/azure_devtools/scenario_tests/preparers.py
  tools/azure-devtools/src/azure_devtools/scenario_tests/tests/async_tests/test_preparer_async.py
Labels: Client

#10457 Fix failing servicebus tests
  sdk/servicebus/azure-mgmt-servicebus/dev_requirements.txt
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_check_name_availability.test_sb_namespace_available.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_namespace.test_sb_namespace_curd.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_queue.test_sb_queue_curd.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_topic.test_sb_topic_curd.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_topic_subscription.test_sb_subscription_curd.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_topic_subscription_rule.test_sb_rule_curd.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/test_azure_mgmt_servicebus_check_name_availability.py
  sdk/servicebus/azure-mgmt-servicebus/tests/test_azure_mgmt_servicebus_namespace.py
  sdk/servicebus/azure-mgmt-servicebus/tests/test_azure_mgmt_servicebus_queue.py
  sdk/servicebus/azure-mgmt-servicebus/tests/test_azure_mgmt_servicebus_topic.py
  sdk/servicebus/azure-mgmt-servicebus/tests/test_azure_mgmt_servicebus_topic_subscription.py
  sdk/servicebus/azure-mgmt-servicebus/tests/test_azure_mgmt_servicebus_topic_subscription_rule.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/async_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/async_receive_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/receive_handler.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
  sdk/servicebus/tests.yml
Labels: Client, Service Bus

#10504 Fix mocks for mindependency tests
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
Labels: Azure.Identity, Client

#10511 Wrap variable length time.sleeps in a helper such that they don't fail if already expired.
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Client, Service Bus

#10349 Prevent DefaultAzureCredential changing authentication method
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
Labels: Azure.Identity, Client

#10556 [Event Hubs] Update sample README to use absolute path
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/README.md
  sdk/eventhub/azure-eventhub/samples/README.md
Labels: Event Hubs

#10558 [textanalytics] missing preparer added back to async test
  sdk/textanalytics/azure-ai-textanalytics/tests/test_auth_async.py
Labels: Client, Cognitive Services, TextAnalytics

#10509 Shared credential
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/credentials.py
  sdk/core/azure-core/azure/core/pipeline/policies/__init__.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication.py
  sdk/core/azure-core/tests/test_authentication.py
Labels: Azure.Core, Client

#10012 Enable TransportType.AmqpOverWebsocket for ServiceBus
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/async_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/common/mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/servicebus_client.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Client, Service Bus

#10264 [Event Hubs] Eventhubs receive batch
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/_eventprocessor_mixin.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhub/samples/async_samples/sample_code_eventhub_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/sample_code_eventhub.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_consumer_client_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_eventprocessor_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_reconnect_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_consumer_client.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_eventprocessor.py
Labels: Event Hubs

#10583 [Event Hubs] Update checkpointstore sample README urlFragment
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/README.md
Labels: Event Hubs

#10585 Change product name to be formed properly (azure-service-bus not azure-servicebus) within samples readme
  sdk/servicebus/azure-servicebus/samples/README.md
Labels: Client, Service Bus

#10586 Prevent race condition in InteractiveBrowserCredential test
  sdk/identity/azure-identity/tests/test_interactive_credential.py
Labels: Azure.Identity, Client
