Repository Azure/azure-sdk-for-python, pull requests merged in 2020-01, with the labels that each got.

#9288 [textanalytics] Refactor tests to use global preparer
  sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/dev_requirements.txt
  sdk/textanalytics/azure-ai-textanalytics/tests/asynctestcase.py
  sdk/textanalytics/azure-ai-textanalytics/tests/conftest.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_batch.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_batch_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_single.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_single_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_text_analytics.py
  sdk/textanalytics/azure-ai-textanalytics/tests/testcase.py
  tools/azure-sdk-tools/devtools_testutils/cognitiveservices_testcase.py
Labels: Client, Cognitive Services, TextAnalytics

#9295 Add tracing_attributes kwargs to tracing policy
  sdk/core/azure-core/azure/core/pipeline/policies/_distributed_tracing.py
  sdk/core/azure-core/tests/test_tracing_policy.py
Labels: Azure.Core, Client

#9305 [Event Hubs] Fix an issue that may hang when an event processor is being closed
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
Labels: Client, Event Hubs

#9315 [Event Hubs] Eventhubs livetest fix
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_properties_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_negative.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_properties.py
Labels: Client, Event Hubs

#9323 [Event Hubs] fix a bug that owner_level 0 is ignored
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
Labels: Client, Event Hubs

#9287 [EventHubs] GA doc preparation
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/HISTORY.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_version.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/HISTORY.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_version.py
  sdk/eventhub/azure-eventhub/HISTORY.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
Labels: Event Hubs

#9308 [EventHubs] Review feedback
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_properties_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_properties.py
Labels: Event Hubs

#9301 [textanalytics] update dev_requirements.txt and remove unnecessary conftest
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/conftest.py
  sdk/textanalytics/azure-ai-textanalytics/dev_requirements.txt
Labels: Client, Cognitive Services, TextAnalytics

#9338 [EventHubs] Update products in sample readme
  sdk/eventhub/azure-eventhub/samples/README.md
Labels: Event Hubs

#9300 Verify CertificateCredential signatures
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
Labels: Azure.Identity, Client

#9340 [Event Hubs] Eventhubs bug fix - sync in memory checkpoint is not in use
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_consumer_client_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_consumer_client.py
Labels: Client, Event Hubs

#9322 Support OPTIONS HTTP verb in azure-core
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/tests/azure_core_asynctests/test_basic_transport.py
  sdk/core/azure-core/tests/test_pipeline.py
Labels: Azure.Core, Client

#9342 Incorporate DefaultAzureCredential samples into client identity authentication sample for eventhubs.
  sdk/eventhub/azure-eventhub/samples/sync_samples/client_identity_authentication.py
Labels: Client, Docs, Event Hubs

#9349 [EventHubs] Sample, Doc, Test improvement
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/event_processor_blob_storage_example.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/event_processor_blob_storage_example.py
  sdk/eventhub/azure-eventhub/HISTORY.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/migration_guide.md
  sdk/eventhub/azure-eventhub/samples/README.md
  sdk/eventhub/azure-eventhub/samples/async_samples/sample_code_eventhub_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/client_creation.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_with_checkpoint_by_time_interval.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_with_checkpoint_store.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/sample_code_eventhub.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_eventprocessor_async.py
Labels: Event Hubs

#9368 [textanalytics] update history.md
  sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/README.rst
  sdk/textanalytics/azure-ai-textanalytics/HISTORY.md
Labels: Client, Cognitive Services, TextAnalytics

#9313 Remove enter and exit from async context managers
  sdk/core/azure-core/HISTORY.md
  sdk/core/azure-core/azure/core/pipeline/_base_async.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base_async.py
Labels: Azure.Core, Client

#8003 Kibrantn/service bus preparer for tests final
  sdk/servicebus/azure-servicebus/azure/servicebus/common/message.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/servicebus_preparer.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
  sdk/servicebus/azure-servicebus/tests/test_subscriptions.py
  sdk/servicebus/azure-servicebus/tests/test_topics.py
Labels: Client, Service Bus

#9376 Improve DefaultAzureCredential docstring and error message
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
Labels: Azure.Identity, Client

#9366 [EventHubs] Comment, Test Updates
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_consumer_client_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_eventprocessor_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_receive_async.py
Labels: Event Hubs

#9380 [textanalytics] add azure/__init__.py to manifest.in for nspkg
  sdk/textanalytics/azure-ai-nspkg/MANIFEST.in
  sdk/textanalytics/azure-ai-nspkg/setup.cfg
Labels: Client, Cognitive Services, TextAnalytics

#9297 Add tracing_attributes to tracing decorator
  sdk/core/azure-core/azure/core/tracing/decorator.py
  sdk/core/azure-core/azure/core/tracing/decorator_async.py
  sdk/core/azure-core/tests/azure_core_asynctests/test_tracing_decorator_async.py
  sdk/core/azure-core/tests/conftest.py
  sdk/core/azure-core/tests/test_request_id_policy.py
  sdk/core/azure-core/tests/test_tracing_decorator.py
  sdk/core/azure-core/tests/tracing_common.py
Labels: Azure.Core, Client

#9384 [Event Hubs] Checkpoint store setup tentatively restores to use eventhubs b6 before release
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/setup.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/setup.py
  shared_requirements.txt
Labels: Client, Event Hubs

#9407 [Event Hubs] Eventhubs update sample and docs
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/HISTORY.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/HISTORY.md
  sdk/eventhub/azure-eventhub/HISTORY.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/migration_guide.md
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_for_period_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_track_last_enqueued_event_prop_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_checkpoint_by_batch_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_checkpoint_by_time_interval_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_checkpoint_store_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_custom_starting_position_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/sample_code_eventhub_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_for_period.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_track_last_enqueued_event_prop.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_with_checkpoint_by_batch.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_with_checkpoint_by_time_interval.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_with_checkpoint_store.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/sample_code_eventhub.py
Labels: Client, Event Hubs

#9423 [Event Hubs] Update checkpoint store dependency on eventhubs to 5.0.0 for release
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/setup.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/setup.py
  sdk/eventhub/azure-eventhub/samples/async_samples/sample_code_eventhub_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/sample_code_eventhub.py
  shared_requirements.txt
Labels: Client, Event Hubs

#9431 [Event Hubs] Small changes on README
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub/README.md
Labels: Client, Event Hubs

#9090 Expose methods for closing async credential transport sessions
  sdk/core/azure-core/azure/core/credentials_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication_async.py
  sdk/identity/azure-identity/HISTORY.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/aio/_authn_client.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/base.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_credential.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/aad_client.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/msal_transport_adapter.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/helpers_async.py
  sdk/identity/azure-identity/tests/test_auth_code_async.py
  sdk/identity/azure-identity/tests/test_authn_client_async.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_chained_token_credential_async.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  sdk/identity/azure-identity/tests/test_default_async.py
  sdk/identity/azure-identity/tests/test_identity_async.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
  sdk/identity/azure-identity/tests/test_msi_credential_async.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/challenge_auth_policy.py
Labels: Azure.Core, Azure.Identity, Client

#9437 Update azure-identity history and version
  sdk/identity/azure-identity/HISTORY.md
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/tests/test_auth_code_async.py
Labels: Azure.Identity, Client

#9425 OpenCensus plugin 1.0.0b5
  sdk/core/azure-core-tracing-opencensus/HISTORY.md
  sdk/core/azure-core-tracing-opencensus/azure/core/tracing/ext/opencensus_span/_version.py
Labels: Azure.Core, Client

#9439 [EventHubs] Improve unit test
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_eventprocessor_async.py
Labels: Event Hubs

#9444 [Event Hubs] Fix a sample problem for py2.7
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_for_period.py
Labels: Client, Event Hubs

#9457 Require TLS for Key Vault challenge authentication
  sdk/keyvault/azure-keyvault-certificates/HISTORY.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/HISTORY.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth_async.py
  sdk/keyvault/azure-keyvault-secrets/HISTORY.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/challenge_auth_policy.py
Labels: Client, KeyVault

#9465 Revert _BearerTokenCredentialPolicyBase refactoring
  sdk/core/azure-core/HISTORY.md
  sdk/core/azure-core/azure/core/_version.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/challenge_auth_policy.py
Labels: Azure.Core, Client

#9486 [Event Hubs] Fix a pylint error
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
Labels: Client, Event Hubs

#9496 [Event Hubs] Enable eventhubs parallel unit tests
  sdk/eventhub/ci.yml
Labels: Client, Event Hubs

#9442 [textanalytics] adds __repr__ to models
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_text_analytics.py
Labels: Client, Cognitive Services, TextAnalytics

#9479 Copy bearer auth base code into Key Vault libraries
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
  shared_requirements.txt
Labels: Client, KeyVault

#9513 [textanalytics] fix user-agent
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_base_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_user_agent.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_base_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_batch.test_user_agent.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_batch_async.test_user_agent_async.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_batch.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_batch_async.py
Labels: Client, Cognitive Services, TextAnalytics

#8930 Improve StoragePreparer
  sdk/storage/azure-storage-blob/tests/_shared/asynctestcase.py
  sdk/storage/azure-storage-blob/tests/_shared/testcase.py
  sdk/storage/azure-storage-blob/tests/test_append_blob.py
  sdk/storage/azure-storage-blob/tests/test_append_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_client.py
  sdk/storage/azure-storage-blob/tests/test_blob_client_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_retry.py
  sdk/storage/azure-storage-blob/tests/test_blob_retry_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_service_properties.py
  sdk/storage/azure-storage-blob/tests/test_blob_service_properties_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_service_stats.py
  sdk/storage/azure-storage-blob/tests/test_blob_service_stats_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_storage_account.py
  sdk/storage/azure-storage-blob/tests/test_blob_storage_account_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_sync_copy.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_sync_copy_async.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-blob/tests/test_cpk.py
  sdk/storage/azure-storage-blob/tests/test_cpk_async.py
  sdk/storage/azure-storage-blob/tests/test_get_blob.py
  sdk/storage/azure-storage-blob/tests/test_get_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_large_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_large_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_logging.py
  sdk/storage/azure-storage-blob/tests/test_logging_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_retry.py
  sdk/storage/azure-storage-blob/tests/test_retry_async.py
  sdk/storage/azure-storage-file-share/tests/_shared/asynctestcase.py
  sdk/storage/azure-storage-queue/tests/_shared/asynctestcase.py
  sdk/storage/azure-storage-queue/tests/_shared/testcase.py
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_client.py
  sdk/storage/azure-storage-queue/tests/test_queue_client_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_encodings.py
  sdk/storage/azure-storage-queue/tests/test_queue_encodings_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_encryption.py
  sdk/storage/azure-storage-queue/tests/test_queue_encryption_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_service_properties.py
  sdk/storage/azure-storage-queue/tests/test_queue_service_properties_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_service_stats.py
  sdk/storage/azure-storage-queue/tests/test_queue_service_stats_async.py
  tools/azure-sdk-tools/devtools_testutils/azure_testcase.py
  tools/azure-sdk-tools/devtools_testutils/resource_testcase.py
  tools/azure-sdk-tools/devtools_testutils/storage_testcase.py
Labels: Client, Storage

#9570 Upgrade doc-warden to 0.5.0.
  eng/ci_tools.txt
Labels: EngSys

#9146 Improve live managed identity tests
  sdk/identity/azure-identity/conftest.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/managed-identity-live/Dockerfile
  sdk/identity/azure-identity/tests/managed-identity-live/conftest.py
  sdk/identity/azure-identity/tests/managed-identity-live/requirements.txt
  sdk/identity/azure-identity/tests/managed-identity-live/test_managed_identity_live.py
  sdk/identity/azure-identity/tests/managed-identity-live/test_managed_identity_live_async.py
  sdk/identity/azure-identity/tests/test_live.py
  sdk/identity/azure-identity/tests/test_live_async.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity, Client

#9591 [Event Hubs] migration guide update
  sdk/eventhub/azure-eventhub/migration_guide.md
Labels: Client, Event Hubs

#9485 Test for azure-keyvault-* 4.0.0 regression in azure-core
  sdk/core/azure-core/tests/test_authentication.py
Labels: Azure.Core, Client

#9354 Live tests for VM managed identity
  sdk/identity/azure-identity/tests/managed-identity-live/vm.md
Labels: Azure.Identity, Client

#9086 Storage operations within checkpoint manager did not utilize the blob_prefix.
  sdk/eventhub/azure-eventhubs/HISTORY.rst
  sdk/eventhub/azure-eventhubs/azure/eventprocessorhost/azure_storage_checkpoint_manager.py
  sdk/eventhub/azure-eventhubs/conftest.py
  sdk/eventhub/azure-eventhubs/tests/asynctests/test_checkpoint_manager.py
Labels: Client, Event Hubs, customer-reported

#9406 [textanalytics] allow rotation of subscription keys
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_base_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_credential.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_policies.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_base_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_authentication_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_detect_languages_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_pii_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_detect_language_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_recognize_pii_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_authentication.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_detect_languages.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_detect_language.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_batch.test_rotate_subscription_key.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_batch_async.test_rotate_subscription_key_async.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_single.test_single_analyze_sentiment_empty_credential_class.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_single.test_single_extract_key_phrases_empty_credential_class.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_single.test_single_language_detection_empty_credential_class.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_single.test_single_recognize_entities_empty_credential_class.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_single.test_single_recognize_linked_entities_empty_credential_class.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_single.test_single_recognize_pii_entities_empty_credential_class.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_single_async.test_single_analyze_sentiment_empty_credential_class_async.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_single_async.test_single_extract_key_phrases_empty_credential_class_async.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_single_async.test_single_language_detection_empty_credential_class_async.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_single_async.test_single_recognize_entities_empty_credential_class_async.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_single_async.test_single_recognize_linked_entities_empty_credential_class_async.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_single_async.test_single_recognize_pii_entities_empty_credential_class_async.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_batch.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_batch_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_single.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_single_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_text_analytics.py
Labels: Client, Cognitive Services, TextAnalytics

#9614 Split large test into smaller tests
  sdk/identity/azure-identity/tests/test_authn_client.py
Labels: Azure.Identity, Client

#9587 Support matching content in playback
  tools/azure-devtools/setup.py
  tools/azure-devtools/src/azure_devtools/scenario_tests/base.py
  tools/azure-devtools/src/azure_devtools/scenario_tests/tests/test_replayable_test.py
  tools/azure-sdk-tools/devtools_testutils/azure_testcase.py
  tools/azure-sdk-tools/devtools_testutils/mgmt_testcase.py
Labels: Client

#9629 [textanalytics] renames TextAnalyticsAPIKeyCredential to TextAnalyticsApiKeyCredential
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_base_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_credential.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_policies.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_base_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_authentication_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_detect_languages_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_pii_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_detect_language_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_recognize_pii_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_authentication.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_detect_languages.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_detect_language.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_batch.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_batch_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_single.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_single_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_text_analytics.py
Labels: Client, Cognitive Services, TextAnalytics

#9434 Support client certificate passwords
  sdk/identity/azure-identity/HISTORY.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/_base.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_credential.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_credential.py
  sdk/identity/azure-identity/conftest.py
  sdk/identity/azure-identity/tests/certificate-with-password.pem
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_live.py
  sdk/identity/azure-identity/tests/test_live_async.py
  sdk/identity/tests.yml
Labels: Azure.Identity, Client

#9336 Live tests for Cloud Shell managed identity
  sdk/identity/azure-identity/dev_requirements.txt
  sdk/identity/azure-identity/tests/managed-identity-live/cloudshell.md
  sdk/identity/azure-identity/tests/managed-identity-live/conftest.py
  sdk/identity/azure-identity/tests/managed-identity-live/test_cloud_shell.py
  sdk/identity/azure-identity/tests/managed-identity-live/test_cloud_shell_async.py
Labels: Azure.Identity, Client

#9466 [textanalytics] Raise custom error message for AttributeError on DocumentError
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_batch.test_document_attribute_error.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_batch_async.test_document_attribute_error_async.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_batch.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_batch_async.py
Labels: Client, Cognitive Services, TextAnalytics
