Repository Azure/azure-sdk-for-python, pull requests merged in 2020-06, with the labels that each got.

#11591 Prevent AsyncBearerTokenCredentialPolicy deadlock
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication_async.py
Labels: Azure.Core, Client

#11535 [ServiceBus] Track2 - Dead Letter Queue Receiver Implementation and Dead Letter Fix
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/_configuration.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_receiver_async.py
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_deadlettered_messages_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_deadlettered_messages.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
  sdk/servicebus/azure-servicebus/setup.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
  sdk/servicebus/azure-servicebus/tests/test_subscriptions.py
  shared_requirements.txt
Labels: Client, Event Hubs

#11760 Remove authentication_record property
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity, Client

#11394 Undelete share
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_azure_file_storage.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_azure_file_storage_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations_async/_share_operations_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_azure_file_storage_enums.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/version.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-file-share/swagger/README.md
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_restore_to_existing_share.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_undelete_share.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.test_restore_to_existing_share.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.test_undelete_share.yaml
  sdk/storage/azure-storage-file-share/tests/test_file_api_version.py
  sdk/storage/azure-storage-file-share/tests/test_file_api_version_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: APIChange, Storage

#11339 Undelete container
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_restore_to_existing_container.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_undelete_container.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_restore_to_existing_container.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_undelete_container.yaml
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
Labels: APIChange, Storage

#11740 track2 - servicebus - flaky test and documentation improvements for preview 3
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/migration_guide.md
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Client, Service Bus

#11650 [formrecognizer] adds AsyncLROPoller and continuation token support
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/_version.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/_configuration_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/operations_async/_form_recognizer_client_operations_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/operations/_form_recognizer_client_operations.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_authentication_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_differentiate_output_models_trained_with_and_without_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_get_bounding_boxes_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_manage_custom_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_train_model_with_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_train_model_without_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_train_model_with_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_train_model_without_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
  shared_requirements.txt
Labels: Client, Cognitive Services, FormRecognizer

#11790 Add AzureCliCredential and VSCodeCredential to public API
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/__init__.py
  sdk/identity/azure-identity/tests/test_cli_credential.py
  sdk/identity/azure-identity/tests/test_cli_credential_async.py
  sdk/identity/azure-identity/tests/test_vscode_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential_async.py
Labels: Azure.Identity, Client

#11639 Fall back to subject claim for home_account_id
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
Labels: Azure.Identity, Client

#11719 Refactor `ClientCertificateCredential` to use `AadClient`
  sdk/identity/azure-identity/azure/identity/_base.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_internal/__init__.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/aadclient_certificate.py
  sdk/identity/azure-identity/azure/identity/_internal/certificate_credential_base.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/aad_client.py
Labels: Azure.Identity, Client

#11798 [Cosmos] Fixed incorrect ID type error
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_resource_token.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
Labels: Cosmos

#11797 [textanalytics] check for model version/stats in response hook policy
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_policies.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_policies_async.py
Labels: Client, Cognitive Services, TextAnalytics

#11826 Resolve Failing Update_Pr
  eng/pipelines/templates/jobs/update_pr.yml
Labels: EngSys

#11829 AzureCliCredential is unavailable when no account is logged in
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/tests/test_cli_credential.py
  sdk/identity/azure-identity/tests/test_cli_credential_async.py
Labels: Azure.Identity, Client

#11525 [Storage][Blob] Added support for Object Replication
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_deserialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/tests/recordings/test_ors.test_ors_destination.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_ors.test_ors_source.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_ors_async.test_ors_destination.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_ors_async.test_ors_source.yaml
  sdk/storage/azure-storage-blob/tests/test_ors.py
  sdk/storage/azure-storage-blob/tests/test_ors_async.py
Labels: Storage

#11842 Fix CI config for appservice directory.
  sdk/appservice/ci.yml
Labels: EngSys

#11845 Fix appservice CI on v3 branch.
  sdk/appservice/ci.yml
Labels: EngSys

#11824 Persistent caching for service principal credentials
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/certificate_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/client_secret_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_internal/persistent_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
Labels: Azure.Identity, Client

#11637 SharedTokenCacheCredential takes an optional AuthenticationRecord
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
Labels: Azure.Identity, Client

#11855 [formrecognizer] adds RecognizedReceipt to init
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
Labels: Client, Cognitive Services, FormRecognizer

#11587 [EventHubs] Add backward compatibility in unit test
  sdk/eventhub/azure-eventhub/tests/unittest/test_event_data.py
Labels: Client, Event Hubs

#11789 Support arbitrary IDs for user-assigned identity configuration
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
  sdk/identity/azure-identity/tests/test_msi_credential.py
  sdk/identity/azure-identity/tests/test_msi_credential_async.py
Labels: Azure.Identity, Client

#11853 SharedTokenCacheCredential updates
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/aad_client.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_aad_client_async.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
Labels: Azure.Identity, Client

#11802 [Blob][Bug]Fix Batch Set Tiers and Batch Delete Blobs Bug
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
Labels: Storage, bug

#11668 [Bug]Concurrent upload
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads_async.py
Labels: Storage

#11859 [ServiceBus] Doc and Sample Updates
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/migration_guide.md
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/samples/async_samples/mgmt_queue_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/mgmt_queue.py
Labels: Client, Service Bus

#11854 [formrecognizer] more multipage form test coverage
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content.test_content_multipage_table_span_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content.test_content_multipage_table_span_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_async.test_content_multipage_table_span_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_async.test_content_multipage_table_span_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url.test_content_multipage_table_span_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url.test_content_multipage_table_span_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url_async.test_content_multipage_table_span_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url_async.test_content_multipage_table_span_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms.test_custom_form_multipage_vendor_set_labeled_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms.test_custom_form_multipage_vendor_set_unlabeled_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_async.test_custom_form_multipage_vendor_set_labeled_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_async.test_custom_form_multipage_vendor_set_unlabeled_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url.test_custom_form_multipage_vendor_set_labeled_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url.test_custom_form_multipage_vendor_set_unlabeled_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url_async.test_custom_form_multipage_vendor_set_labeled_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url_async.test_custom_form_multipage_vendor_set_unlabeled_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/forms/multi1.pdf
  sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/forms/multipagelayout.pdf
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
  sdk/formrecognizer/tests.yml
Labels: Client, Cognitive Services, FormRecognizer

#11884 Adjust b2->b3 in docs for release.
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/migration_guide.md
  sdk/servicebus/azure-servicebus/samples/README.md
Labels: Client, Service Bus

#11886 [formrecognizer] few small doc improvements
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_authentication_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_authentication.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_copy_model.py
Labels: Client, Cognitive Services, FormRecognizer

#11825 Resolve Breaking Aggregate Reports
  eng/pipelines/aggregate-reports.yml
  eng/pipelines/templates/steps/analyze.yml
  eng/pipelines/templates/steps/run_mypy.yml
  eng/pipelines/templates/steps/run_pylint.yml
Labels: EngSys

#11962 Refactor SharedTokenCacheCredential exception handling
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
Labels: Azure.Identity, Client

#11961 [formrecognizer] remove test code that works around service bug (fixed)
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Client, Cognitive Services, FormRecognizer

#11993 [ServiceBus] Fix sync auto lock renew bug
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_utils.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Client, Service Bus

#12030 Prevent exception on import affecting old versions of 3.6
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
Labels: Azure.Identity, Client

#10678 [DataLake][BugFix]encode the rename source url
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_rename_from_an_unencoded_directory_in_another_file_system.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_rename_from_an_unencoded_directory_in_another_file_system_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_directory.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory_async.py
Labels: Storage

#11995 [formrecognizer] set up live canary/prod pipelines
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
  sdk/formrecognizer/tests.yml
Labels: Client, Cognitive Services, FormRecognizer

#12037 Servicebus - Track2 - Pilot User Study feedback: Readme and Exceptions
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
Labels: Client, Service Bus

#12038 [ServiceBus] Add auto lock renew sample and update sample readme
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/samples/async_samples/auto_lock_renew_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/auto_lock_renew.py
Labels: Client, Service Bus

#11953 Respect nbf and exp in local encrypt/wrap operations
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/rsa_key.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_local_validity_period_enforcement.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_local_validity_period_enforcement.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
Labels: Client, KeyVault

#11970 [formrecognizer] reduce time for recorded tests runs
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_helpers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_helpers_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_from_url.test_polling_interval.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_from_url_async.test_polling_interval.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_training.test_polling_interval.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_training_async.test_polling_interval.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Client, Cognitive Services, FormRecognizer

#12056 AzureCliCredential correctly invokes /bin/sh
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
Labels: Azure.Identity, Client

#12060 Update KeyVaultPreparer with track 2 mgmt changes
  tools/azure-sdk-tools/devtools_testutils/keyvault_preparer.py
Labels: Client, KeyVault

#12065 [ServiceBus] batch data error and doc update
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
Labels: Client, Service Bus

#12059 [formrecognizer] test parity with other languages
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url.test_content_encoded_url.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url_async.test_content_encoded_url.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model.test_copy_model_fail_bad_model_id.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model_async.test_copy_model_fail_bad_model_id.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms.test_custom_form_labeled_blank_page.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms.test_custom_form_unlabeled_blank_page.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_async.test_custom_form_labeled_blank_page.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_async.test_custom_form_unlabeled_blank_page.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url.test_custom_forms_encoded_url.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url_async.test_custom_forms_encoded_url.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_from_url.test_receipts_encoded_url.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_from_url_async.test_receipts_encoded_url.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_training.test_training_encoded_url.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_training_async.test_training_encoded_url.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_type.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training_async.py
Labels: Client, Cognitive Services, FormRecognizer

#12074 Update Key Vault minimum azure-core to 1.4.0
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/setup.py
  shared_requirements.txt
Labels: Client, KeyVault

#12079 [formrecognizer] update formrecognizer links to new aka.ms naming
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
Labels: Client, Cognitive Services, FormRecognizer

#11384 Quickstart for Track 2 preview management libraries and update root readme for track 2
  README.md
  doc/sphinx/index.rst
  doc/sphinx/mgmt_preview_quickstart.rst
Labels: DO NOT MERGE

#12110 [formrecognizer] enable logging for live tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Client, Cognitive Services, FormRecognizer

#12106 Let the transport handles bad urls
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/tests/test_pipeline.py
Labels: Azure.Core, Client

#12077 Don't redact Key Vault header values in logs
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/client_base.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py
Labels: Client, KeyVault

#11749 Add set_delete_after_tag as a parameter on ResourceGroupPreparer
  tools/azure-sdk-tools/devtools_testutils/resource_testcase.py
Labels: Client

#12097 [Service Bus] Delete swagger file
  sdk/servicebus/azure-servicebus/swagger/servicebus-swagger.json
Labels: Client, Service Bus

#12144 [formrecognizer] fix sample in readme
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Client, Cognitive - Form Recognizer, Cognitive Services

#12146 Add missing __init__ type annotations
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode_credential.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode_credential.py
Labels: Azure.Identity, Client

#12128 [formrecognizer] add strongly-typed receipt wrapper sample
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_strongly_typing_recognized_form_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_strongly_typing_recognized_form.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_samples.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_samples_async.py
Labels: Client, Cognitive - Form Recognizer, Cognitive Services

#12148 Fix pip version requirement in build-test.yml
  eng/pipelines/templates/steps/build-test.yml
Labels: EngSys

#10755 Changefeed
  doc/sphinx/package_service_mapping.json
  eng/.docsettings.yml
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/LICENSE.txt
  sdk/storage/azure-storage-blob-changefeed/MANIFEST.in
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/azure/__init__.py
  sdk/storage/azure-storage-blob-changefeed/azure/storage/__init__.py
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/__init__.py
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_change_feed_client.py
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_models.py
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_version.py
  sdk/storage/azure-storage-blob-changefeed/dev_requirements.txt
  sdk/storage/azure-storage-blob-changefeed/mypy.ini
  sdk/storage/azure-storage-blob-changefeed/samples/README.md
  sdk/storage/azure-storage-blob-changefeed/samples/change_feed_samples.py
  sdk/storage/azure-storage-blob-changefeed/sdk_packaging.toml
  sdk/storage/azure-storage-blob-changefeed/setup.cfg
  sdk/storage/azure-storage-blob-changefeed/setup.py
  sdk/storage/azure-storage-blob-changefeed/tests/_shared/__init__.py
  sdk/storage/azure-storage-blob-changefeed/tests/_shared/testcase.py
  sdk/storage/azure-storage-blob-changefeed/tests/conftest.py
  sdk/storage/azure-storage-blob-changefeed/tests/recordings/test_change_feed.test_get_all_change_feed_events.yaml
  sdk/storage/azure-storage-blob-changefeed/tests/recordings/test_change_feed.test_get_change_feed_events_by_page.yaml
  sdk/storage/azure-storage-blob-changefeed/tests/recordings/test_change_feed.test_get_change_feed_events_in_a_time_range.yaml
  sdk/storage/azure-storage-blob-changefeed/tests/recordings/test_change_feed.test_get_change_feed_events_with_continuation_token.yaml
  sdk/storage/azure-storage-blob-changefeed/tests/test_change_feed.py
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/datafile.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/datafile_async.py
  sdk/storage/azure-storage-blob/tests/avro/test_avro.py
  sdk/storage/azure-storage-blob/tests/avro/test_avro_async.py
  sdk/storage/ci.yml
  sdk/storage/tests_invoke.yml
  shared_requirements.txt
Labels: APIChange, Storage

#12168 [formrecognizer] update training docstring
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
Labels: Client, Cognitive - Form Recognizer

#12001 [ServiceBus] Enable Async Unittest
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
Labels: Client, Service Bus

#12199 FaceAPI 0.4.1
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/README.md
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/azure/cognitiveservices/vision/face/models/_face_client_enums.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/azure/cognitiveservices/vision/face/models/_models.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/azure/cognitiveservices/vision/face/models/_models_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/azure/cognitiveservices/vision/face/operations/_face_list_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/azure/cognitiveservices/vision/face/operations/_face_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/azure/cognitiveservices/vision/face/operations/_large_face_list_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/azure/cognitiveservices/vision/face/operations/_large_person_group_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/azure/cognitiveservices/vision/face/operations/_large_person_group_person_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/azure/cognitiveservices/vision/face/operations/_person_group_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/azure/cognitiveservices/vision/face/operations/_person_group_person_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/azure/cognitiveservices/vision/face/version.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/setup.py
Labels: Client, Cognitive - Face

#12200 Virtualenv issue.
  eng/ci_tools.txt
  eng/pipelines/templates/steps/build-test.yml
  eng/pipelines/templates/steps/run_pylint.yml
Labels: EngSys

#12209 Update SECURITY.md
  SECURITY.md
Labels: Docs

#12207 [formrecognizer] arch board feedback renames
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_manage_custom_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_train_model_with_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_train_model_without_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_manage_custom_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_train_model_with_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_train_model_without_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Client, Cognitive - Form Recognizer

#12196 [formrecognizer] add container prefix breadcrumb to readme
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Client, Cognitive - Form Recognizer

#11892 Use MSAL's custom transport API
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/_internal/__init__.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_client.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_transport_adapter.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/msal_transport_adapter.py
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/test_live.py
  shared_requirements.txt
Labels: Azure.Identity, Client

#12248 [formrecognizer] adjust text angle to fit in specified interval
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_response_handlers.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Client, Cognitive - Form Recognizer

#12172 SharedTokenCacheCredential lazily loads the cache
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
Labels: Azure.Identity, Client

#12155 Kibrantn/servicebus/track2 preview4 ux study doc fixes
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/samples/async_samples/auto_lock_renew_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/auto_lock_renew.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
Labels: Client, Service Bus
