Repository Azure/azure-sdk-for-python, pull requests merged in 2020-08, with the labels that each got.

#12848 Update Key Vault readme links
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-secrets/README.md
Labels: Client, KeyVault

#12868 [text analytics] clean up repr tests, fix bug
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_text_analytics.test_detect_language.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_repr.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_text_analytics.py
Labels: Cognitive - Text Analytics

#12862 [text analytics] remove batch prefix
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_request_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_detect_language_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_pii_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_detect_language.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_pii_entities.py
Labels: Cognitive - Text Analytics

#12834 rename VSCodeCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
  sdk/identity/azure-identity/tests/test_vscode_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential_async.py
  sdk/identity/azure-identity/tests/vscode-live/run-test.py
Labels: Azure.Identity

#12867 [formrecognizer] update training data link
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_train_model_with_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_train_model_without_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_train_model_with_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_train_model_without_labels.py
Labels: Client, Cognitive - Form Recognizer

#12870 Update Identity documentation
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
Labels: Azure.Identity, Client

#12872 Adding a region
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_resource_token.py
Labels: Cosmos

#12869 [Core] Fix changeset CI in Py3.8
  sdk/core/azure-core/tests/azure_core_asynctests/test_basic_transport.py
  sdk/core/azure-core/tests/test_basic_transport.py
Labels: Azure.Core

#12871 [text analytics] verify confidence scores add up to one, bonus bug fix
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/testcase.py
Labels: Cognitive - Text Analytics

#12724 [formrecognizer] docs improvements
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_differentiate_output_models_trained_with_and_without_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_get_bounding_boxes_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_manage_custom_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_train_model_with_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_differentiate_output_models_trained_with_and_without_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_get_bounding_boxes.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_manage_custom_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_train_model_with_labels.py
Labels: Client, Cognitive - Form Recognizer

#12842 release-for-mgmt-cosmosdb-0.16.0
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/base_execution_context.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/document_producer.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/endpoint_component.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/execution_dispatcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/multi_execution_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_resource_token.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_globaldb.py
  sdk/cosmos/azure-cosmos/test/test_multi_orderby.py
  sdk/cosmos/azure-cosmos/test/test_orderby.py
  sdk/cosmos/azure-cosmos/test/test_query.py
  sdk/cosmos/azure-cosmos/tox.ini
  sdk/cosmos/azure-mgmt-cosmosdb/CHANGELOG.md
  sdk/cosmos/azure-mgmt-cosmosdb/README.md
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/_cosmos_db_management_client.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_cosmos_db_management_client_enums.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models_py3.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_paged_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_cassandra_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_partition_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_partition_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_account_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_accounts_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_gremlin_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_mongo_db_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_notebook_workspaces_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_partition_key_range_id_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_partition_key_range_id_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_source_target_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_target_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_database_accounts_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_sql_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_table_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/version.py
  sdk/cosmos/azure-mgmt-cosmosdb/setup.py
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_create.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_delete.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_features.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/test_mgmt_cosmosdb.py
Labels: Cosmos

#12873 [text analytics] add back offset and length
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_repr.py
Labels: Cognitive - Text Analytics

#12839 [formrecognizer] update how value_data is set on FormField to align with other languages
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_response_handlers.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
Labels: Client, Cognitive - Form Recognizer

#12623 [Blob][QuickQuery]Quick Query Sample wasn't updated
  sdk/storage/azure-storage-blob/samples/blob_samples_query.py
Labels: Storage, bug

#12865 update changelog
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search

#12830 acknowledge the existence of a body
  sdk/core/azure-core/azure/core/pipeline/policies/_universal.py
  sdk/core/azure-core/tests/azure_core_asynctests/test_http_logging_policy_async.py
  sdk/core/azure-core/tests/test_http_logging_policy.py
  sdk/core/azure-core/tests/test_universal_pipeline.py
Labels: Azure.Core

#12692 Add a tests.yml file to eventgrid to create livetest pipe
  sdk/eventgrid/tests.yml
Labels: Client, Event Grid

#12850 [ServiceBus] remove settled property on PeekMessage and ReceivedMessage
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
Labels: Client, Service Bus

#12891 [text analytics] switching SSN number in pii test
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities.test_length_with_emoji.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities_async.test_length_with_emoji.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
Labels: Cognitive - Text Analytics

#12889 [text analytics] remove code throwing error for too many documents since service handles
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment_async.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_extract_key_phrases.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_extract_key_phrases_async.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities_async.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities_async.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities_async.test_too_many_documents.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
Labels: Cognitive - Text Analytics

#12788 Remove application authentication APIs from stable 1.4.0 release
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/MANIFEST.in
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/_internal/certificate_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/client_secret_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/samples/README.md
  sdk/identity/azure-identity/samples/control_interactive_prompts.py
  sdk/identity/azure-identity/samples/user_authentication.py
  sdk/identity/azure-identity/tests/test_auth_record.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_msi_credential.py
  sdk/identity/azure-identity/tests/test_msi_credential_async.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity, Client

#12897 Update sample_recognize_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_content.py
Labels: Cognitive - Form Recognizer

#12910 [text analytics] rename ApiVersion -> TextAnalyticsApiVersion, clean up code
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_base_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_multiapi.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_base_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_sentiment_with_opinion_mining_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_pii_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_sentiment_with_opinion_mining.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_multiapi.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_multiapi_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
Labels: Cognitive - Text Analytics

#12894 update readme
  sdk/search/azure-search-documents/README.md
Labels: Search

#12895 [formrecognizer] docs review feedback
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Client, Cognitive - Form Recognizer

#12915 [EventHubs] Improve livetest stability on MacOS
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_consumer_client_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_consumer_client.py
Labels: Client, Event Hubs

#12829 [Service Bus] Normalize management naming with other languages
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_models.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_rules_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_topics_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_queues.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_rules.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_subscriptions.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_topics.py
Labels: Client, Service Bus

#12716 [Cosmos] Version bump for release
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#12884 [formrecognizer] refactor helpers out of models
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_helpers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_response_handlers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_resolve_elements.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Client, Cognitive - Form Recognizer

#12934 [Storage][Blob]Add DefaultIndexDocumentPath to StaticWebsite
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_service_properties.test_set_static_website_properties_with_default_index_document_path.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_service_properties_async.test_set_static_website_properties_with_default_index_document_path.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_service_properties.py
  sdk/storage/azure-storage-blob/tests/test_blob_service_properties_async.py
Labels: Storage

#12928 [Service Bus] Changelog for management client change
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#12935 [formrecognizer] few updates to fix sample output
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_get_bounding_boxes_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_get_bounding_boxes.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts_from_url.py
Labels: Client, Cognitive - Form Recognizer

#12939 Adding a README file to Cosmos DB folder
  eng/.docsettings.yml
  sdk/cosmos/README.md
Labels: Cosmos

#12883 Remove shared
  sdk/tables/azure-data-tables/azure/data/tables/__init__.py
  sdk/tables/azure-data-tables/azure/data/tables/_authentication.py
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_common_conversion.py
  sdk/tables/azure-data-tables/azure/data/tables/_constants.py
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_entity.py
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/azure/data/tables/_models.py
  sdk/tables/azure-data-tables/azure/data/tables/_policies.py
  sdk/tables/azure-data-tables/azure/data/tables/_serialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_shared/_common_conversion.py
  sdk/tables/azure-data-tables/azure/data/tables/_shared/_error.py
  sdk/tables/azure-data-tables/azure/data/tables/_shared/constants.py
  sdk/tables/azure-data-tables/azure/data/tables/_shared/models.py
  sdk/tables/azure-data-tables/azure/data/tables/_shared/parser.py
  sdk/tables/azure-data-tables/azure/data/tables/_shared/request_handlers.py
  sdk/tables/azure-data-tables/azure/data/tables/_shared/response_handlers.py
  sdk/tables/azure-data-tables/azure/data/tables/_shared_access_signature.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client_base.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_service_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_service_client_base.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_shared_access_signature.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_base_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_models.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_policies_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_service_client_async.py
  sdk/tables/azure-data-tables/samples/creation_deletion_of_table.py
  sdk/tables/azure-data-tables/tests/_shared/testcase.py
  sdk/tables/azure-data-tables/tests/test_table.py
  sdk/tables/azure-data-tables/tests/test_table_async.py
  sdk/tables/azure-data-tables/tests/test_table_encryption.py
  sdk/tables/tests.yml
Labels: Tables

#12918 [formrecognizer] updates for version bump
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Labels: Client, Cognitive - Form Recognizer

#12950 Update Key Vault changelogs
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
Labels: Client, KeyVault, blocking-release

#12562 Proposed implementation of receive forever design
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_receiver_async.py
  sdk/servicebus/azure-servicebus/migration_guide.md
  sdk/servicebus/azure-servicebus/samples/sync_samples/session_pool_receive.py
  sdk/servicebus/azure-servicebus/setup.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_queues.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/stress_test_base.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/test_stress_queues.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
  sdk/servicebus/azure-servicebus/tests/test_subscriptions.py
  shared_requirements.txt
Labels: Client, Service Bus

#12962 update release date
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#12676 [Blob][Storage]Add rehydrate priority for get_prop/list_blob, add (batch) set tier for version/snapshot
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_deserialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations_async/_blob_operations_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models_py3.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.test_get_blob_properties_returns_rehydrate_priority.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.test_set_blob_tier_for_a_version.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob_async.test_get_blob_properties_returns_rehydrate_priority.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_batch_set_standard_blob_tier_for_version.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_list_blobs_returns_rehydrate_priority.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_list_blobs_returns_rehydrate_priority.yaml
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
Labels: Storage, feature-request

#12965 Metadata for azure-identity 1.4.0
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/images/AzureCliLogin.png
  sdk/identity/azure-identity/images/AzureCliLoginDeviceCode.png
  sdk/identity/azure-identity/images/DefaultAzureCredentialAuthenticationFlow.png
  sdk/identity/azure-identity/images/VsCodeLoginCommand.png
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity, Client, blocking-release

#12981 Correct image links in Identity readme
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity, Client, blocking-release

#12925 Fix azure-cosmos Readme and Samples issues
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/samples/MultiMasterOperations/ConflictWorker.py
  sdk/cosmos/azure-cosmos/samples/examples.py
Labels: Cosmos

#12972 Adding a clarification about Lazy Index Mode
  sdk/cosmos/README.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
Labels: Cosmos

#12985 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core

#12982 [keyvault] add dependency on azure.common for multiapi support
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/setup.py
Labels: KeyVault

#12988 [Service Bus] Update sample for QueueProperties
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/samples/async_samples/mgmt_queue_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/mgmt_queue.py
Labels: Client, Service Bus

#12997 [formrecognizer] update changelog
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
Labels: Client, Cognitive - Form Recognizer

#13001 README cleanup (receive->Receive_messages, pin 0.50.3 pypi version) and changelog cleanup (remove whitespace)
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
Labels: Client, Service Bus

#13000 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#13004 [key vault] doc changes
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/_client.py
Labels: KeyVault

#13007 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus

#13011 [formrecognizer] readme update
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Client, Cognitive - Form Recognizer

#12904 [Blob]ORS
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_deserialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models_py3.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_list_blobs_helper.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_list_blobs_helper.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_models.py
  sdk/storage/azure-storage-blob/samples/blob_samples_walk_blob_hierarchy.py
  sdk/storage/azure-storage-blob/samples/blob_samples_walk_blob_hierarchy_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_list_blobs_with_object_replication_policy.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_list_blobs_with_object_replication_policy.yaml
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-blob/tests/test_ors.py
Labels: Storage

#13024 Fix Tests
  sdk/eventgrid/azure-eventgrid/MANIFEST.in
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_helpers.py
  sdk/eventgrid/azure-eventgrid/setup.py
  sdk/eventgrid/azure-eventgrid/tests/eventgrid_preparer.py
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_eg_publisher_client_publish_cloud_event_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_eg_publisher_client_publish_cloud_event_data_str.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_eg_publisher_client_publish_custom_schema_event.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_eg_publisher_client_publish_event_grid_event_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_eg_publisher_client_publish_event_grid_event_data_str.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_eg_publisher_client_publish_signature_credential.yaml
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client.py
Labels: Event Grid

#13015 [formrecognizer] add version bump info to changelog
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer

#13012 [keyvault] fix delete cert readme snippet
  sdk/keyvault/azure-keyvault-certificates/README.md
Labels: KeyVault

#13009 [keyvault] update release date in changelog
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#13035 test fix
  sdk/search/azure-search-documents/azure/search/documents/_internal/aio/_search_index_document_batching_client_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_batching_client_async.py
Labels: Search

#13036 [keyvault] remove get_certificate example from get_certificate_version endpoint
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_examples_certificates.test_example_certificate_crud_operations.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_examples_certificates_async.test_example_certificate_crud_operations.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
Labels: KeyVault

#13026 tests fix
  sdk/eventgrid/azure-eventgrid/MANIFEST.in
  sdk/eventgrid/azure-eventgrid/setup.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_consumer.py
Labels: Event Grid

#13039 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
  sdk/search/azure-search-documents/setup.py
Labels: Search

#13050 Increment version for formrecognizer releases
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Labels: Cognitive - Form Recognizer

#13051 Event grid v2
  sdk/eventgrid/azure-eventgrid/MANIFEST.in
  sdk/eventgrid/azure-eventgrid/sdk_packaging.toml
  sdk/eventgrid/azure-eventgrid/setup.py
Labels: Event Grid

#12614 [Schema Registry] Initialize project azure-schemaregistry
  eng/.docsettings.yml
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/MANIFEST.in
  sdk/schemaregistry/azure-schemaregistry/README.md
  sdk/schemaregistry/azure-schemaregistry/azure/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_azure_schema_registry.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_configuration.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_version.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/_azure_schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/_configuration_async.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/operations_async/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/operations_async/_schema_operations_async.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/models/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/models/_models.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/models/_models_py3.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/operations/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/operations/_schema_operations.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/py.typed
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_version.py
  sdk/schemaregistry/azure-schemaregistry/dev_requirements.txt
  sdk/schemaregistry/azure-schemaregistry/mypy.ini
  sdk/schemaregistry/azure-schemaregistry/samples/README.md
  sdk/schemaregistry/azure-schemaregistry/samples/sample_placeholder.py
  sdk/schemaregistry/azure-schemaregistry/sdk_packaging.toml
  sdk/schemaregistry/azure-schemaregistry/setup.cfg
  sdk/schemaregistry/azure-schemaregistry/setup.py
  sdk/schemaregistry/azure-schemaregistry/swagger/README.md
  sdk/schemaregistry/azure-schemaregistry/tests/test_placeholder.py
  sdk/schemaregistry/ci.yml
  sdk/schemaregistry/tests.yml
Labels: Client, Schema Registry

#13049 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
Labels: KeyVault

#12937 [ServiceBus] Keep connnection alive
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/_configuration.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/servicebus_preparer.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Client, Service Bus

#13013 [ServiceBus] Doc and sample fix
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/samples/async_samples/session_pool_receive_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/session_pool_receive.py
Labels: Service Bus

#12888 [formrecognizer] add api version enum
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_api_versions.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt.py
Labels: Client, Cognitive - Form Recognizer

#12619 [Storage][Blob][Bug]Support parsing blob url with '/' in blob name
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/tests/test_blob_client.py
  sdk/storage/azure-storage-blob/tests/test_blob_client_async.py
  sdk/storage/azure-storage-blob/tests/test_largest_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_largest_block_blob_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/tests/test_large_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_large_file_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
Labels: Storage, bug

#13029 [Storage][Blob][Batch]Support batch delete empty blob list
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
Labels: Storage

#13054 [Storage][Blob]Fix live test and if tags bug
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations_async/_blob_operations_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models_py3.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/tests/recordings/test_append_blob.test_append_block_from_url.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_append_blob.test_append_block_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_append_blob_async.test_append_block_from_url_async.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_append_blob_async.test_append_block_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_get_block_list_no_blocks.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_get_block_list_no_blocks.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.test_async_copy_blob_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.test_blob_exists_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.test_create_blob_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.test_delete_blob_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.test_set_blob_properties_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob_async.test_async_copy_blob_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob_async.test_blob_exists_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob_async.test_delete_blob_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob_async.test_set_blob_properties_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_delete_blobs_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_delete_blobs_with_if_tagss.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_standard_blob_tier_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_delete_blobs_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_delete_blobs_with_if_tagss.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_standard_blob_tier_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_page_blob.test_put_page_with_lease_id_and_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_page_blob_async.test_put_page_with_lease_id_and_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/test_append_blob.py
  sdk/storage/azure-storage-blob/tests/test_append_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_query.py
  sdk/storage/azure-storage-file-datalake/setup.py
  shared_requirements.txt
Labels: Storage

#13081 [Storage][Blob]ChangeLog Update
  sdk/storage/azure-storage-blob/CHANGELOG.md
Labels: Storage

#13102 remove locale
  README.md
  SECURITY.md
  doc/dev/mgmt/generating-integration-test.md
  doc/dev/mgmt/tests.md
  doc/dev/release.md
  eng/common/TestResources/New-TestResources.ps1.md
  sdk/appconfiguration/azure-appconfiguration/README.md
  sdk/appconfiguration/azure-appconfiguration/samples/README.md
  sdk/core/azure-core-tracing-opencensus/README.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-servicemanagement-legacy/README.md
  sdk/core/azure/CHANGELOG.md
  sdk/cosmos/README.md
  sdk/cosmos/azure-cosmos/Contributing.md
  sdk/cosmos/azure-cosmos/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/README.md
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/samples/README.md
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/tests/azure-functions/readme.md
  sdk/identity/azure-identity/tests/managed-identity-live/appservice.md
  sdk/identity/azure-identity/tests/pod-identity/readme.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-certificates/samples/README.md
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-secrets/README.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/samples/README.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-file-datalake/GEN1_GEN2_MAPPING.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/samples/README.md
  sdk/tables/azure-data-tables/README.md
Labels: EngSys

#13103 [Storage][FileShare]ChangeLog update
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Labels: Storage

#13070 Restore user authentication API
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/MANIFEST.in
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/_internal/certificate_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/client_secret_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/samples/README.md
  sdk/identity/azure-identity/samples/control_interactive_prompts.py
  sdk/identity/azure-identity/samples/user_authentication.py
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/test_auth_record.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_msi_credential.py
  sdk/identity/azure-identity/tests/test_msi_credential_async.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity, Client

#13105 Move get_access_conditions to _serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_lease.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
Labels: Storage

#12978 Update async
  .github/CODEOWNERS
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_service_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_service_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_async.py
Labels: Tables

#13079 [formrecognizer] Add `kind` to FormElement
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_get_bounding_boxes_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_get_bounding_boxes.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Client, Cognitive - Form Recognizer

#13127 [formrecognizer] fix aad test so it runs locally
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_samples.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_samples_async.py
Labels: Client, Cognitive - Form Recognizer

#13129 Handle missing certs model properties in 2016-10-01
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_certificates_client.test_2016_10_01_models.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
Labels: Client, KeyVault

#12980 Type inference
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_entity.py
  sdk/tables/azure-data-tables/tests/test_table_batch.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
Labels: Client, Tables

#13053 Support App Service managed identity 2019-08-01
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/app_service.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_internal/get_token_mixin.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/app_service.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/base.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/get_token_mixin.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/managed_identity_client.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_get_token_mixin.py
  sdk/identity/azure-identity/tests/test_get_token_mixin_async.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity, Client

#13151 [formrecognizer] unskip copy tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model.test_copy_model_fail_bad_model_id.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model_async.test_copy_model_fail_bad_model_id.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model_async.py
Labels: Client, Cognitive - Form Recognizer

#13154 [formrecognizer] adjust tests for service error code fix
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url.test_custom_form_bad_url.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url_async.test_form_bad_url.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
Labels: Client, Cognitive - Form Recognizer

#13169 {HDInsight} Skip test for releasing
  sdk/hdinsight/azure-mgmt-hdinsight/test/test_mgmt_hdinsight.py
Labels: HDInsight

#13164 Cosmosdb 2020 04
  sdk/cosmos/azure-mgmt-cosmosdb/CHANGELOG.md
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/_cosmos_db_management_client.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_cosmos_db_management_client_enums.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models_py3.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_paged_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_cassandra_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_partition_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_partition_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_account_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_accounts_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_gremlin_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_mongo_db_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_notebook_workspaces_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_partition_key_range_id_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_partition_key_range_id_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_source_target_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_target_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_database_accounts_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_sql_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_table_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/version.py
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_create.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_delete.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_features.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/test_mgmt_cosmosdb.py
Labels: Cosmos

#13137 Hdinsight release 2018 06
  sdk/hdinsight/azure-mgmt-hdinsight/CHANGELOG.md
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/_models.py
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/_models_py3.py
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/version.py
  sdk/hdinsight/azure-mgmt-hdinsight/setup.py
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_humboldt_cluster.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_humboldt_cluster_with_custom_vm_sizes.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_humboldt_cluster_with_premium_tier.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_kafka_cluster_with_disk_encryption.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_kafka_cluster_with_managed_disks.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_linux_spark_cluster_with_component_version.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_mlservices_cluster.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_rserver_cluster.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_with_additional_storage.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_with_adls_gen2.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_with_empty_extended_parameters.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_gateway_settings.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_get_configurations.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_get_usages.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_hue_on_running_cluster.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_list_clusters_in_resource_group.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_oms_on_running_cluster.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_resize_cluster.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_script_actions_on_running_cluster.yaml
Labels: HDInsight

#13174 Add App Platform CI.
  sdk/appplatform/ci.yml
Labels: EngSys

#13176 Add appplatform CI.
  sdk/appplatform/ci.yml
Labels: EngSys

#13178 Add automanage CI to release/v3.
  sdk/automanage/ci.yml
Labels: EngSys

#13180 Fix duplicate entry for anomalydetector.
  eng/.docsettings.yml
Labels: EngSys

#13135 {HDInsight} Skip kafka disk encryption test
  sdk/hdinsight/azure-mgmt-hdinsight/test/test_mgmt_hdinsight.py
Labels: HDInsight

#13130 Add Key Vault API versions for sovereign clouds in smoke tests
  common/smoketest/key_vault_base.py
  common/smoketest/key_vault_base_async.py
  common/smoketest/key_vault_certificates.py
  common/smoketest/key_vault_certificates_async.py
  common/smoketest/key_vault_keys.py
  common/smoketest/key_vault_keys_async.py
  common/smoketest/key_vault_secrets.py
  common/smoketest/key_vault_secrets_async.py
Labels: KeyVault, test-reliability

#13162 [formrecognizer] case insensitive copy region
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model.test_copy_model_case_insensitive_region.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model_async.test_copy_model_case_insensitive_region.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model_async.py
Labels: Client, Cognitive - Form Recognizer

#13191 updating tests.yml to hopefully fix internal pipeline
  sdk/tables/tests.yml
Labels: Tables

#13186 [formrecognizer] update version
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
Labels: Client, Cognitive - Form Recognizer

#13192 [ServiceBus] Improve test stability
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus

#13196 [Service Bus] Use swagger file in azure-rest-api-specs/sb_dataplane_namespace
  sdk/servicebus/azure-servicebus/swagger/README.md
Labels: Client, Service Bus

#13198 [formrecognizer] update release date
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
Labels: Client, Cognitive - Form Recognizer

#13201 Event grid v2
  sdk/eventgrid/azure-eventgrid/tests/_mocks.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_consumer.py
Labels: Event Grid

#13222 [formrecognizer] minor changes to readmes
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
Labels: Client, Cognitive - Form Recognizer

#13188 README files improvments: Analytical store, limitatios, workarounds.
  sdk/cosmos/README.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/samples/container_management.py
  sdk/cosmos/azure-cosmos/samples/index_management.py
Labels: Cosmos

#13074 msrestazure is a holdover from track1; can be deprecated
  sdk/servicebus/azure-servicebus/setup.py
Labels: Client, Service Bus

#13232 Sdk automation/azure mgmt storage
  sdk/storage/azure-mgmt-storage/CHANGELOG.md
  sdk/storage/azure-mgmt-storage/README.md
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_models.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/models/_models_py3.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_06_01/operations/_blob_containers_operations.py
  sdk/storage/azure-mgmt-storage/azure/mgmt/storage/version.py
  sdk/storage/azure-mgmt-storage/tests/recordings/test_cli_mgmt_storage.test_storage.yaml
  sdk/storage/azure-mgmt-storage/tests/recordings/test_mgmt_storage.test_storage_accounts.yaml
  sdk/storage/azure-mgmt-storage/tests/recordings/test_mgmt_storage.test_storage_usage.yaml
Labels: Storage

#13246 Increment version for formrecognizer releases
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Labels: Cognitive - Form Recognizer

#13289 Test fix: prevent conflicts when creating cert versions
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
Labels: Client, KeyVault

#13229 Address arch review feedback
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated_serviceclient/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated_serviceclient/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated_serviceclient/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated_serviceclient/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated_serviceclient/aio/_configuration_async.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated_serviceclient/aio/_search_service_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated_serviceclient/aio/operations_async/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated_serviceclient/aio/operations_async/_indexes_operations_async.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated_serviceclient/aio/operations_async/_search_service_client_operations_async.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated_serviceclient/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated_serviceclient/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated_serviceclient/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated_serviceclient/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated_serviceclient/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated_serviceclient/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_index_documents_batch.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_search_index_document_batching_client.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_search_index_document_batching_client_base.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/aio/_index_documents_batch_async.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/aio/_search_index_document_batching_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/aio/_search_index_client.py
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_client_batching_client_live_async.test_delete_documents_existing.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_client_batching_client_live_async.test_delete_documents_missing.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_client_batching_client_live_async.test_merge_documents_existing.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_client_batching_client_live_async.test_merge_documents_missing.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_client_batching_client_live_async.test_merge_or_upload_documents.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_client_batching_client_live_async.test_upload_documents_existing.yaml
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_client_batching_client_live_async.test_upload_documents_new.yaml
  sdk/search/azure-search-documents/tests/async_tests/test_batching_client_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_client_batching_client_live_async.py
  sdk/search/azure-search-documents/tests/recordings/test_search_client_batching_client_live.test_delete_documents_existing.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_client_batching_client_live.test_delete_documents_missing.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_client_batching_client_live.test_merge_documents_existing.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_client_batching_client_live.test_merge_documents_missing.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_client_batching_client_live.test_merge_or_upload_documents.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_client_batching_client_live.test_upload_documents_existing.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_client_batching_client_live.test_upload_documents_new.yaml
  sdk/search/azure-search-documents/tests/test_batching_client.py
  sdk/search/azure-search-documents/tests/test_search_client.py
  sdk/search/azure-search-documents/tests/test_search_client_batching_client_live.py
Labels: Search

#13319 [text analytics] remove unnecessary env variable extraction from sample
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_detect_language_async.py
Labels: Cognitive - Text Analytics

#13159 SAS credential replicated "/" fix
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/tests/test_basic_transport.py
Labels: Azure.Core

#13271 Topic message scheduling async sample for azure-servicebus
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/samples/async_samples/schedule_topic_messages_and_cancellation_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/schedule_topic_messages_and_cancellation.py
Labels: Service Bus

#13215 Client secret and certificate credentials use MSAL ConfidentialClientApplication
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/_internal/client_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_environment_credential.py
  shared_requirements.txt
Labels: Azure.Identity, Client

#13318 [keyvault] fix certs list operations sample
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations_async.py
Labels: KeyVault

#13224 Fixed QueueClient type declaration
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
Labels: Storage

#13320 [Event Hubs] Fix a CheckpointStore bug that slows down retrieving checkpoint data if storage "File share soft delete" is enabled.
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_blobstoragecsaio.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_blobstoragecs.py
Labels: Client, Event Hubs

#13280 Add System Event Models
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/_configuration.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/_event_grid_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/_configuration_async.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/_event_grid_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_event_grid_publisher_client_enums.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_models_py3.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/models/__init__.py
  sdk/eventgrid/azure-eventgrid/swagger/README.PYTHON_T2.md
Labels: Event Grid

#13317 fix doc & readme
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/samples/async_samples/sample_data_source_operations_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_indexers_operations_async.py
Labels: Search

#13348 Eventgrid CI fix
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/__init__.py
Labels: Event Grid

#13069 Addresses warnings surfaced during p5 doc and API-view generation.
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/mgmt_handlers.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_models.py
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Client, Service Bus

#13336 Sync eng/common directory with azure-sdk-tools for PR 915
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Labels: EngSys

#13298 fixed bug in querying by page using continuation token
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/base_execution_context.py
  sdk/cosmos/azure-cosmos/test/test_query.py
Labels: Cosmos

#13383 [text analytics] fix error response if pii entities is called from v3.0 client
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
Labels: Cognitive - Text Analytics

#13218 Add managed_identity_client_id argument to DefaultAzureCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
Labels: Azure.Identity, Client

#13355 edit all authentication files and add a test
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/authentication.py
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob_async.test_create_blob_with_equal_sign.yaml
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/authentication.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_using_oauth_token_credential_to_create_directory.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_create_file_using_oauth_token_credential.yaml
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/authentication.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/authentication.py
Labels: Storage

#13382 [text analytics] return None for offset and length for v3.0
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment.test_no_offset_length_v3_sentence_sentiment.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment.test_offset_length.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment_async.test_no_offset_length_v3_sentence_sentiment.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment_async.test_offset_length.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities.test_no_offset_length_v3_categorized_entities.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities.test_offset_length.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities_async.test_no_offset_length_v3_categorized_entities.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities_async.test_offset_length.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities.test_no_offset_length_v3_linked_entity_match.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities.test_offset_length.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities_async.test_no_offset_length_v3_linked_entity_match.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_linked_entities_async.test_offset_length.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities_async.py
Labels: Cognitive - Text Analytics

#13377 Enable undelete container
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
Labels: Storage

#13411 fixing version issue by not overwriting the version with the semantic…
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_service_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_service_client_async.py
Labels: Tables

#13077 [ServiceBus] ServiceBusClient close spawned children
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Service Bus

#13345 [ServiceBus] Test and failure improvements
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_receiver_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Client, Service Bus
