Repository Azure/azure-sdk-for-python, pull requests merged in 2020-05, with the labels that each got.

#11161 [Event Hubs] Add params in stress test command line for receive batch and send list
  sdk/eventhub/azure-eventhub/stress/azure_eventhub_consumer_stress_async.py
  sdk/eventhub/azure-eventhub/stress/azure_eventhub_consumer_stress_sync.py
  sdk/eventhub/azure-eventhub/stress/azure_eventhub_producer_stress.py
Labels: Client, Event Hubs

#11180 [formrecognizer] update readme with note about service version support
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Client, Cognitive Services, FormRecognizer

#11172 [Event Hubs] Fix a bug that sets owner level 0
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_auth.py
Labels: Client, Event Hubs

#11127 EnvironmentCredential correctly initializes UsernamePasswordCredential
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/tests/test_environment_credential.py
  sdk/identity/azure-identity/tests/test_environment_credential_async.py
  sdk/identity/azure-identity/tests/test_identity.py
Labels: Azure.Identity, Client

#10612 User authentication API for applications
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_auth_record.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/user.py
  sdk/identity/azure-identity/azure/identity/_exceptions.py
  sdk/identity/azure-identity/azure/identity/_internal/__init__.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_auth_record.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_msal_interactive_credential.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity, Client

#11179 [Event Hubs] Version/Docs adjustment for 5.1.0
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/setup.py
Labels: Client, Event Hubs

#11184 [ServiceBus] Re-enable schedule tests in session
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Client, Service Bus

#11192 [Event Hubs] Adjust producer docstring
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
Labels: Client, Event Hubs

#11195 ServiceBus Track2 Small doc and readme cleanup prior to preview 2
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_message.py
  sdk/servicebus/azure-servicebus/samples/async_samples/session_pool_receive_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/session_pool_receive.py
Labels: Client, Service Bus

#11204 [Event Hubs] Update sample readme and migration guide to refer to 5.1.0
  sdk/eventhub/azure-eventhub/migration_guide.md
  sdk/eventhub/azure-eventhub/samples/README.md
Labels: Client, Event Hubs

#11207 Update changelog for azure-identity 1.4.0b3
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity, Client

#11217 [ServiceBus] Update reference doc version
  sdk/servicebus/azure-servicebus/migration_guide.md
  sdk/servicebus/azure-servicebus/samples/README.md
Labels: Client, Docs, Service Bus

#11222 [Event Hubs] Fix a migration guide link problem
  sdk/eventhub/azure-eventhub/migration_guide.md
Labels: Client, Event Hubs

#11209 [Messaging] Bump uAMQP Version
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/setup.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/setup.py
  shared_requirements.txt
Labels: Client, Event Hubs, Service Bus

#11226 Move UsernamePasswordCredential to its own module
  sdk/identity/azure-identity/azure/identity/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
Labels: Azure.Identity, Client

#11227 Reorganize tests
  sdk/identity/azure-identity/tests/test_authority.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
  sdk/identity/azure-identity/tests/test_chained_credential.py
  sdk/identity/azure-identity/tests/test_chained_token_credential_async.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
  sdk/identity/azure-identity/tests/test_environment_credential.py
  sdk/identity/azure-identity/tests/test_environment_credential_async.py
  sdk/identity/azure-identity/tests/test_identity.py
  sdk/identity/azure-identity/tests/test_identity_async.py
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_msal_interactive_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential_async.py
Labels: Azure.Identity, Client

#11203 [Service Bus] Track1 Patch - Retryable send
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/async_send_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/send_handler.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Client, Service Bus

#11322 [Event Hubs] Workaround pylint unused-import false positive
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
Labels: Client, Event Hubs

#11334 [form recognizer] actionable issues for arch board
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_get_bounding_boxes.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts.py
Labels: Client, Cognitive Services, FormRecognizer

#9801 [EventHubs] Add config for producer stress test and improve test code
  sdk/eventhub/azure-eventhub/stress/azure_eventhub_producer_stress.py
  sdk/eventhub/azure-eventhub/stress/stress_runner.cfg
  sdk/eventhub/azure-eventhub/stress/stress_runner.py
Labels: Client, Event Hubs

#11307 Update MSAL wrapper tests
  sdk/identity/azure-identity/tests/test_aad_client.py
Labels: Azure.Identity, Client

#11275 [formrecognizer] add AAD auth support
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_helpers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_authentication_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_authentication.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
  sdk/formrecognizer/tests.yml
Labels: Client, Cognitive Services, FormRecognizer

#11319 Persistent caching for interactive credentials on Linux and macOS
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_internal/persistent_cache.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  shared_requirements.txt
Labels: Azure.Identity, Client

#11438 Smoke Tests use new workflow for package install
  common/smoketest/dependencies.py
  common/smoketest/smoke-test.yml
  eng/tox/install_dev_build_dependency.py
Labels: EngSys

#11420 Improve core and sample readmes with breadcrumbs to common points of confusion
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/samples/README.md
Labels: Client, Service Bus

#11404 update CODEOWNERS with smoke test owners
  .github/CODEOWNERS
Labels: EngSys

#11316 [Service Bus] Enable pylint and mypy
  eng/tox/allowed_pylint_failures.py
  eng/tox/mypy_hard_failure_packages.py
  sdk/servicebus/azure-servicebus/azure/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/client_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_control_client/_common_models.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_control_client/_common_serialization.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_control_client/models.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_control_client/servicebusservice.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
  sdk/servicebus/azure-servicebus/dev_requirements.txt
Labels: Client, Event Hubs

#11445 [formrecognizer] consistency on handling LRO's with failed status
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_get_bounding_boxes_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_train_model_with_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_get_bounding_boxes.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_train_model_with_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training_async.py
Labels: Client, Cognitive Services, FormRecognizer

#11496 Separate modules for client credential types
  sdk/identity/azure-identity/azure/identity/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
Labels: Azure.Identity, Client

#11471 [formrecognizer] update docs to specify encoded url input
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_content.py
Labels: Client, Cognitive Services, FormRecognizer

#11446 Add readme deprecation info for track1
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
Labels: Client, Service Bus

#11518 [formrecognizer] rename input parameters
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_differentiate_output_models_trained_with_and_without_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_get_bounding_boxes_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_differentiate_output_models_trained_with_and_without_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_get_bounding_boxes.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
Labels: Client, Cognitive Services, FormRecognizer

#11533 [EventHubs] Update Unit Test
  sdk/eventhub/azure-eventhub/tests/unittest/test_event_data.py
Labels: Client, Event Hubs

#11318 [ServiceBus] Track1 - Dead Letter Fix
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/async_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/common/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/common/message.py
  sdk/servicebus/azure-servicebus/setup.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  shared_requirements.txt
Labels: Client, Service Bus

#11534 [formrecognizer] update receipt tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
Labels: Client, Cognitive Services, FormRecognizer

#11552 Prevent test failure due to operation timing
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
Labels: Client, KeyVault

#11555 Add uamqp dlq version bump to changelog
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Client, Service Bus

#11528 Add user authentication API to UsernamePasswordCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity, Client

#11558 Add 0.50.3 release date of 2020-05-20 to changelog for final track1 release
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Client, Service Bus

#11559 add associated-link-keepalive notes to changelog
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Client, Service Bus

#11372 [formrecognizer] support Copy API
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/_configuration.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/_version.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/_configuration_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/operations_async/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/operations_async/_form_recognizer_client_operations_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/models/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/models/_form_recognizer_client_enums.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/models/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/models/_models_py3.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/operations/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/operations/_form_recognizer_client_operations.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model.test_copy_authorization.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model.test_copy_model_fail.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model.test_copy_model_successful.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model.test_copy_model_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model_async.test_copy_authorization.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model_async.test_copy_model_fail.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model_async.test_copy_model_successful.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_copy_model_async.test_copy_model_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Client, Cognitive Services, FormRecognizer

#11570 change mentions of 0.50.2 -> 0.50.3 in README
  sdk/servicebus/azure-servicebus/README.md
Labels: Client, Service Bus

#11571 change mentions of 0.50.2 -> 0.50.3 in README
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
Labels: Client, Service Bus

#11569 [formrecognizer] model_id param validation
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt_async.py
Labels: Client, Cognitive Services, FormRecognizer

#11661 [azure-core] use CIMultiDict when pickling
  sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py
Labels: Azure.Core, Client

#11662 DefaultAzureCredential configures InteractiveBrowserCredential's tenant
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/tests/test_default.py
Labels: Azure.Identity, Client

#11665 InteractiveBrowserCredential is unavailable when it can't bind a port
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
Labels: Azure.Identity, Client

#11666 [formrecognizer] map copy status to model status in CustomFormModelInfo
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model_async.py
Labels: Client, Cognitive Services, FormRecognizer

#11691 [formrecognizer] expose page_number on FormTable
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_response_handlers.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Client, Cognitive Services, FormRecognizer

#11466 Reimplement AadClient without msal.oauth2cli
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode_credential.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode_credential.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/aad_client.py
  sdk/identity/azure-identity/tests/helpers_async.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_aad_client_async.py
  sdk/identity/azure-identity/tests/test_auth_code.py
  sdk/identity/azure-identity/tests/test_auth_code_async.py
  sdk/identity/azure-identity/tests/test_vscode_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential_async.py
Labels: Azure.Identity, Client
