Repository Azure/azure-sdk-for-python, pull requests merged in 2020-10, with the labels that each got.

#14129 [Datalake][Exception]Throw DataLakeAclChangeFailedError
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/__init__.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_set_access_control_recursive_throws_exception_containing_continuation_token.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_set_access_control_recursive_throws_exception_containing_continuation_token_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_directory.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory_async.py
Labels: Storage

#14136 Update Opentelemetry Version to 0.13b.0
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/dev_requirements.txt
  sdk/core/azure-core-tracing-opentelemetry/setup.py
  shared_requirements.txt
Labels: Azure.Core

#14170 update release date
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
Labels: auto-merge

#14113 Filter authentication metadata requests during recording
  tools/azure-devtools/src/azure_devtools/scenario_tests/__init__.py
  tools/azure-devtools/src/azure_devtools/scenario_tests/recording_processors.py
  tools/azure-sdk-tools/devtools_testutils/azure_testcase.py
Labels: Client, Mgmt, test enhancement

#13988 addressing issues with docs and readme
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/samples/async_samples/sample_authentication_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_create_client_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_create_delete_table_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_insert_delete_entities_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_query_table_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_query_tables_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_update_upsert_merge_entities_async.py
  sdk/tables/azure-data-tables/samples/sample_insert_delete_entities.py
  sdk/tables/azure-data-tables/samples/sample_update_upsert_merge_entities.py
  sdk/tables/azure-data-tables/tests/recordings/test_table.test_query_tables.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_client.test_request_callback_signed_header.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_get_entity_with_select.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_timezone.yaml
Labels: Tables, auto-merge

#13897 Sync eng/common directory with azure-sdk-tools for PR 1031
  eng/common/scripts/New-ReleaseAsset.ps1
Labels: Central-EngSys, EngSys

#14174 remove aad support
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_administration_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_administration_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_client_async.py
Labels: auto-merge

#14056 regenerate code from preview/2020-06-30
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated/aio/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated/models/_search_index_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/_internal/_generated/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/aio/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/aio/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/aio/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/aio/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/aio/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/aio/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/aio/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/models/_search_service_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_internal/_generated/operations/_synonym_maps_operations.py
Labels: Search

#13691 Increment version for storage releases
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_version.py
  sdk/storage/azure-storage-blob-changefeed/setup.py
Labels: Storage

#14185 Allow RC of CPython to install our dev req
  sdk/appconfiguration/azure-appconfiguration/dev_requirements.txt
  sdk/core/azure-mgmt-core/dev_requirements.txt
  sdk/identity/azure-identity/dev_requirements.txt
  sdk/identity/azure-identity/tests/managed-identity-live/requirements.txt
Labels: Azure.Core, Azure.Identity

#13687 Increment version for storage releases
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
Labels: Storage

#14180 [formrecognizer] un-redact non-sensitive headers and update readme logging docs
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_base_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_base_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_logging.test_logging_info_fr_client.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_logging.test_logging_info_ft_client.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_logging_async.test_logging_info_fr_client.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_logging_async.test_logging_info_ft_client.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_logging.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_logging_async.py
Labels: Cognitive - Form Recognizer

#14052 Add sample demonstrating custom credential implementation
  sdk/identity/azure-identity/samples/README.md
  sdk/identity/azure-identity/samples/custom_credentials.py
Labels: Azure.Identity, Client

#14097 [core] [mgmt core] fix bug that didn't allow us to do LRO + relative polling url + parameterized endpoints
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/polling/async_base_polling.py
  sdk/core/azure-core/azure/core/polling/base_polling.py
  sdk/core/azure-core/tests/azure_core_asynctests/test_pipeline.py
  sdk/core/azure-core/tests/test_polling.py
  sdk/core/azure-mgmt-core/CHANGELOG.md
  sdk/core/azure-mgmt-core/azure/mgmt/core/polling/arm_polling.py
  sdk/core/azure-mgmt-core/setup.py
  sdk/core/azure-mgmt-core/tests/asynctests/test_async_arm_polling.py
  sdk/core/azure-mgmt-core/tests/test_arm_polling.py
  shared_requirements.txt
Labels: Azure.Core, auto-merge

#14190 Add Keyvault event type mappings to EventGrid
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
Labels: Event Grid

#14127 Distributed Tracing support for CloudEvents
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_policies.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_cloud_event_data_as_list.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_cloud_event_data_bytes.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_cloud_event_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_cloud_event_data_str.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_cloud_event_data_with_extensions.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_cloud_event_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_custom_schema_event.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_custom_schema_event_as_list.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_event_grid_event_data_as_list.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_event_grid_event_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_event_grid_event_data_str.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_signature_credential.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_cloud_event_data_as_list.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_cloud_event_data_bytes.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_cloud_event_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_cloud_event_data_str.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_cloud_event_data_with_extensions.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_cloud_event_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_custom_schema_event.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_custom_schema_event_as_list.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_event_grid_event_data_as_list.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_event_grid_event_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_event_grid_event_data_str.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_signature_credential.yaml
  sdk/eventgrid/azure-eventgrid/tests/test_cloud_event_tracing.py
Labels: Event Grid

#14196 [formrecognizer] make logging tests live only
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_logging.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_logging_async.py
Labels: Cognitive - Form Recognizer

#14128 readme + samples improvement
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios/cs1_publish_custom_events_to_a_topic.py
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios/cs1b_publish_custom_events_to_a_topic_with_signature.py
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios/cs2_publish_custom_events_to_a_domain_topic.py
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios/cs3_consume_system_events.py
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios/cs3_event_grid_event_system_event.json
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios/cs4_consume_custom_events.py
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios/cs5_publish_events_using_cloud_events_1.0_schema.py
  sdk/eventgrid/azure-eventgrid/samples/champion_scenarios/cs6_consume_events_using_cloud_events_1.0_schema.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/consume_cloud_custom_data_sample.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/consume_eg_storage_blob_created_data_sample.py
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_with_shared_access_signature_sample.py
Labels: Event Grid

#14197 Doc warnings for Service Bus
  sdk/servicebus/azure-servicebus/README.md
Labels: Service Bus

#14158 [KeyVault] Add Status Methods to Query Backup and Restore Operations
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client.test_full_backup_and_restore.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client.test_selective_key_restore.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client_async.test_full_backup_and_restore.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client_async.test_selective_key_restore.yaml
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client.py
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client_async.py
Labels: Client, KeyVault

#14206 [DelegationSas]support directory sas & add feature for delegation sas
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_rename_from_an_unencoded_directory_in_another_file_system_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_rename_file_to_existing_file_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_rename_file_with_non_used_name_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_directory.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
  sdk/storage/azure-storage-file-share/tests/test_file_service_properties.py
  sdk/storage/azure-storage-file-share/tests/test_file_service_properties_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/shared_access_signature.py
Labels: Storage

#14216 fixes python 2.7 issue with unicode and strings again!
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_binary_property_value.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_delete_entity.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_delete_entity_not_existing.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_delete_entity_with_if_doesnt_match.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_delete_entity_with_if_matches.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_empty_and_spaces_property_value.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_get_entity.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_get_entity_full_metadata.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_get_entity_if_match.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_get_entity_no_metadata.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_get_entity_not_existing.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_get_entity_with_hook.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_get_entity_with_special_doubles.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_insert_entity_conflict.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_insert_entity_dictionary.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_insert_entity_empty_string_pk.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_insert_entity_empty_string_rk.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_insert_entity_missing_pk.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_insert_entity_missing_rk.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_insert_entity_with_full_metadata.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_insert_entity_with_hook.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_insert_entity_with_large_int32_value_throws.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_insert_entity_with_large_int64_value_throws.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_insert_entity_with_no_metadata.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_none_property_value.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_query_entities.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_query_entities_full_metadata.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_query_entities_no_metadata.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_query_entities_with_filter.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_query_entities_with_top.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_query_entities_with_top_and_next.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_query_user_filter.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_query_zero_entities.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_unicode_property_name.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_unicode_property_value.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_update_entity.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_update_entity_not_existing.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_update_entity_with_if_doesnt_match.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_update_entity_with_if_matches.yaml
  sdk/tables/azure-data-tables/tests/test_table_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos_async.py
Labels: Tables

#14192 [Storage][STG74]ChangeLog
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Labels: Storage

#14215 [text analytics] regen TA with GA autorest
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/_operations_mixin.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/aio/_operations_mixin.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/aio/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_0/_metadata.json
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_0/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_0/aio/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_0/aio/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_0/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_2/_metadata.json
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_2/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_2/aio/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_2/aio/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_2/models/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_2/models/_models_py3.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_2/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
Labels: Cognitive - Text Analytics

#14195 [ServiceBus] CI Test hotfixes
  tools/azure-devtools/src/azure_devtools/scenario_tests/preparers.py
Labels: EngSys, Service Bus

#13774 Adjust 0.50.3 ServiceBus Readme doc links to point to version-specific source and refdocs.
  sdk/servicebus/azure-servicebus/README.md
Labels: Client, Service Bus

#14226 Update Key Vault changelogs for October release
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
Labels: Client, KeyVault, auto-merge

#14224 Increment version for storage releases
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
Labels: Storage, auto-merge

#14218 [KeyVault] Handle Role Definition UUID Name Internally
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/tests/test_access_control.py
  sdk/keyvault/azure-keyvault-administration/tests/test_access_control_async.py
Labels: Client, KeyVault

#14095 [ServiceBus] make amqp_message properties read-only
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Client, Service Bus, auto-merge

#14243 [text analytics] fix query param in cli call to get endpoint
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Cognitive - Text Analytics, auto-merge

#14245 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
Labels: auto-merge

#14249 small changes to documentation, updated link in samples README, updat…
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/samples/README.md
  sdk/tables/azure-data-tables/samples/async_samples/sample_authentication_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_update_upsert_merge_entities_async.py
  sdk/tables/azure-data-tables/samples/sample_authentication.py
  sdk/tables/azure-data-tables/samples/sample_create_delete_table.py
  sdk/tables/azure-data-tables/samples/sample_query_tables.py
  sdk/tables/azure-data-tables/samples/sample_update_upsert_merge_entities.py
Labels: Tables, auto-merge

#14250 [metricsadvisor] small fixes
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_administration_client.py
Labels: Cognitive - Metrics Advisor

#14254 [formrecognizer] update api version enum
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_api_versions.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_base_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_base_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi_async.py
Labels: Cognitive - Form Recognizer

#14257 [form recognizer] Remove unnecessary code
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_helpers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
Labels: Cognitive - Form Recognizer, auto-merge

#14252 Updated Datalake min dep on Blob
  sdk/storage/azure-storage-file-datalake/setup.py
  shared_requirements.txt
Labels: Storage

#14247 [ServiceBus] b7 release doc fixes
  eng/ignore-links.txt
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/migration_guide.md
Labels: Client, Service Bus

#14262 [EventGrid] Prepare for beta3 release
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
Labels: Event Grid

#14264 [Datalake] Update min dependency on blob
  sdk/storage/azure-storage-file-datalake/setup.py
  shared_requirements.txt
Labels: Storage

#14265 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus, auto-merge

#14263 Revise get_token docs
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_internal/get_token_mixin.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/get_token_mixin.py
Labels: Azure.Identity, Client

#14286 [text analytics] changelog add release date, fix wording
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
Labels: Cognitive - Text Analytics, auto-merge

#14288 Changelog for azure-identity 1.5.0b2
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity, Client, auto-merge

#14290 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search, auto-merge

#14291 update release date
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
Labels: auto-merge

#14289 [formrecognizer] add back code
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
Labels: Cognitive - Form Recognizer

#14292 [formrecognizer] add locale to receipt samples
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts.py
Labels: Cognitive - Form Recognizer

#14295 Increment version for textanalytics releases
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_version.py
Labels: Cognitive - Text Analytics, auto-merge

#14309 Increment version for tables releases
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
Labels: Tables

#13854 [ServiceBus] ServiceBus Operation Timeout Support
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/_configuration.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
  sdk/servicebus/azure-servicebus/setup.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
  shared_requirements.txt
Labels: Client, Service Bus

#14302 [Storage][FileShare]Regenerate code for file tier
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations_async/_share_operations_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/__init__.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_azure_file_storage_enums.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_restore_to_existing_share.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_undelete_share.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.test_restore_to_existing_share.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.test_undelete_share.yaml
Labels: Storage

#14232 Sync eng/common directory with azure-sdk-tools for PR 1052
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
Labels: Central-EngSys, EngSys

#14343 Increment version for metricsadvisor releases
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_version.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/setup.py
Labels: auto-merge

#14349 Merge azure-identity 1.4.1 hotfix into master
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/tests/test_cli_credential.py
  sdk/identity/azure-identity/tests/test_cli_credential_async.py
Labels: Azure.Identity, Client

#14312 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
Labels: KeyVault

#14324 Add tests.yml file to template sdk directory.
  sdk/template/tests.yml
Labels: Central-EngSys, EngSys

#14333 Sync eng/common directory with azure-sdk-tools for PR 1066
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#14351 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#14329 Sync eng/common directory with azure-sdk-tools for PR 1077
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
Labels: Central-EngSys, EngSys

#14327 [form recognizer] add receipt locale tests
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt.test_receipt_locale_error.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt.test_receipt_locale_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_async.test_receipt_locale_error.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_async.test_receipt_locale_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_from_url.test_receipt_locale_error.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_from_url.test_receipt_locale_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_from_url_async.test_receipt_locale_error.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_from_url_async.test_receipt_locale_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
Labels: Cognitive - Form Recognizer

#14029 [formrecognizer] composed model
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_response_handlers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_create_composed_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_manage_custom_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_train_model_with_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_train_model_without_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_create_composed_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_manage_custom_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_train_model_with_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_train_model_without_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_compose_model.test_compose_model_invalid_model.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_compose_model.test_compose_model_invalid_unlabeled_models.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_compose_model.test_compose_model_no_display_name.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_compose_model.test_compose_model_with_display_name.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_compose_model_async.test_compose_model_invalid_model.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_compose_model_async.test_compose_model_invalid_unlabeled_models.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_compose_model_async.test_compose_model_no_display_name.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_compose_model_async.test_compose_model_with_display_name.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms.test_custom_form_labeled.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms.test_custom_form_multipage_vendor_set_unlabeled_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_async.test_custom_form_labeled.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_async.test_custom_form_multipage_vendor_set_unlabeled_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url.test_custom_form_labeled.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url.test_custom_form_multipage_vendor_set_unlabeled_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url_async.test_custom_form_multipage_vendor_set_unlabeled_transform.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url_async.test_form_labeled.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_training.test_training.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_training.test_training_with_labels.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_training_async.test_training.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_training_async.test_training_with_labels.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Cognitive - Form Recognizer

#14358 [Cosmos] 4.2.0
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#13953 Adding one more item to the limitations list
  sdk/cosmos/azure-cosmos/README.md
Labels: Cosmos

#14392 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#14375 [formrecognizer] update to composed model sample links in repo
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
Labels: Cognitive - Form Recognizer

#14376 [formrecognizer] rename display_name -> model_name
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_create_composed_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_manage_custom_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_train_model_with_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_train_model_without_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_create_composed_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_manage_custom_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_train_model_with_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_train_model_without_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_compose_model.test_compose_model_no_model_name.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_compose_model.test_compose_model_with_model_name.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_compose_model_async.test_compose_model_no_model_name.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_compose_model_async.test_compose_model_with_model_name.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Cognitive - Form Recognizer

#13903 Convert CRLF to LF
  sdk/cosmos/README.md
Labels: Cosmos

#14378 Sync eng/common directory with azure-sdk-tools for PR 1083
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/README.md
Labels: Central-EngSys, EngSys

#14228 ServiceBusAdministrationClient now uses _parse_conn_str from base_han…
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
Labels: Service Bus, customer-reported

#14103 Track2 keyvault
  sdk/keyvault/azure-mgmt-keyvault/CHANGELOG.md
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/_version.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2016_10_01/_key_vault_management_client.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2016_10_01/aio/_key_vault_management_client.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2018_02_14/_key_vault_management_client.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2018_02_14/aio/_key_vault_management_client.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2019_09_01/_key_vault_management_client.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2019_09_01/aio/_key_vault_management_client.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/_key_vault_management_client.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/aio/_key_vault_management_client.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/aio/operations/_managed_hsms_operations.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/models/_models.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/models/_models_py3.py
  sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2020_04_01_preview/operations/_managed_hsms_operations.py
  sdk/keyvault/azure-mgmt-keyvault/tests/recordings/test_cli_mgmt_keyvault.test_keyvault.yaml
  sdk/keyvault/azure-mgmt-keyvault/tests/recordings/test_cli_mgmt_keyvault_async.test_keyvault.yaml
  tools/azure-sdk-tools/devtools_testutils/mgmt_settings_fake.py
Labels: KeyVault

#14435 fix typo and broken links
  sdk/appconfiguration/azure-appconfiguration/README.md
  sdk/search/azure-search-documents/README.md
Labels: Search, auto-merge

#14396 [metricsadvisor] live tests setup
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/base_testcase_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/recordings/test_metrics_advisor_client_live_async.test_list_metric_enriched_series_data.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/recordings/test_metrics_advisor_client_live_async.test_list_metrics_series_data.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_metrics_advisor_client_live_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/base_testcase.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_metrics_advisor_client_live.test_list_metric_enriched_series_data.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_metrics_advisor_client_live.test_list_metrics_series_data.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_metrics_advisor_client_live.py
  sdk/metricsadvisor/tests.yml
Labels: Cognitive - Metrics Advisor

#14445 Sync eng/common directory with azure-sdk-tools for PR 1081
  eng/common/README.md
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Add-IssueComment.ps1
  eng/common/scripts/Add-IssueLabels.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys, auto-merge

#14461 added tox, tox-monorepo, and pytest to the dev reqs for the starter b…
  sdk/api-learn/azure-learnappconfig/dev_requirements.txt
Labels: auto-merge

#14304 [ServiceBus] Small stress test and sample touchups
  sdk/servicebus/azure-servicebus/samples/sync_samples/generate_sas_token_and_authenticate_client.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/test_stress_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Client, Service Bus

#14057 Codegen for Azure Monitor
  .github/CODEOWNERS
  eng/.docsettings.yml
  sdk/monitor/opentelemetry-exporter-azuremonitor/CHANGELOG.md
  sdk/monitor/opentelemetry-exporter-azuremonitor/LICENSE.txt
  sdk/monitor/opentelemetry-exporter-azuremonitor/MANIFEST.in
  sdk/monitor/opentelemetry-exporter-azuremonitor/README.md
  sdk/monitor/opentelemetry-exporter-azuremonitor/dev_requirements.txt
  sdk/monitor/opentelemetry-exporter-azuremonitor/mypy.ini
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/__init__.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/__init__.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/__init__.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/_generated/__init__.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/_generated/_azure_monitor_exporter.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/_generated/_configuration.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/_generated/aio/__init__.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/_generated/aio/_azure_monitor_exporter_async.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/_generated/aio/_configuration_async.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/_generated/aio/operations_async/__init__.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/_generated/aio/operations_async/_azure_monitor_exporter_operations_async.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/_generated/models/__init__.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/_generated/models/_azure_monitor_exporter_enums.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/_generated/models/_models.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/_generated/models/_models_py3.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/_generated/operations/__init__.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/_generated/operations/_azure_monitor_exporter_operations.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/_generated/py.typed
  sdk/monitor/opentelemetry-exporter-azuremonitor/opentelemetry/exporter/azuremonitor/_version.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/sdk_packaging.toml
  sdk/monitor/opentelemetry-exporter-azuremonitor/setup.cfg
  sdk/monitor/opentelemetry-exporter-azuremonitor/setup.py
  sdk/monitor/opentelemetry-exporter-azuremonitor/swagger/README.md
Labels: Monitor

#14469 [Storage][FileShare]Regenerate for delete leased snapshot
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations_async/_share_operations_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_azure_file_storage_enums.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
Labels: Storage

#14475 [metricsadvisor] add repr to models
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
Labels: Cognitive - Metrics Advisor

#14476 remove validations
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
Labels: auto-merge

#14478 Ma remove readonly assignments
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
Labels: auto-merge

#14480 Ensure azure-identity readme has exactly one H1
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity, Client, Docs, auto-merge

#14482 Sync eng/common directory with azure-sdk-tools for PR 1088
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: Central-EngSys, EngSys, auto-merge

#14060 Sdk automation/azure mgmt cosmosdb@10955
  sdk/cosmos/azure-mgmt-cosmosdb/CHANGELOG.md
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/_cosmos_db_management_client.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_cosmos_db_management_client_enums.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models_py3.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_paged_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_cassandra_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_partition_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_partition_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_account_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_accounts_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_gremlin_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_mongo_db_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_notebook_workspaces_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_partition_key_range_id_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_partition_key_range_id_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_source_target_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_target_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_database_accounts_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_sql_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_table_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/version.py
  sdk/cosmos/azure-mgmt-cosmosdb/setup.py
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_create.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_delete.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_features.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/test_mgmt_cosmosdb.py
Labels: Cosmos

#14467 [metricsadvisor] enable live tests
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/README.md
  sdk/metricsadvisor/tests.yml
Labels: Cognitive - Metrics Advisor

#14444 Remove await_prepared_test
  sdk/tables/azure-data-tables/tests/_shared/asynctestcase.py
Labels: Tables, customer-reported

#14443 testcase.py now uses AzureTestCase
  sdk/tables/azure-data-tables/tests/_shared/testcase.py
Labels: Tables, customer-reported

#14393 [ServiceBus] Change name to <entity>_name naming for remaining "name" parameters
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_topics_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_subscriptions.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_topics.py
Labels: Client, Service Bus

#13957 Minimize packages installed for depends test
  eng/tox/sanitize_setup.py
  eng/tox/tox.ini
Labels: Client

#14470 Update Azure.Identity and KeyVault codeowners
  .github/CODEOWNERS
Labels: Azure.Identity, Client, KeyVault

#14511 [form recognizer] Add selection forms
  sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/forms/selection_mark_form.pdf
Labels: Cognitive - Form Recognizer, auto-merge

#14507 [ServiceBus] Add type hint
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_models.py
Labels: Service Bus

#14471 Fixed misleading docstrings for block ID
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
Labels: Storage

#14320 Fixed changefeed readme
  sdk/storage/azure-storage-blob-changefeed/README.md
Labels: Storage

#14485 add PATCH for polling
  sdk/core/azure-mgmt-core/azure/mgmt/core/polling/arm_polling.py
Labels: Azure.Core

#14533 Fix pypi_tools.pypi ImportError
  tools/azure-sdk-tools/pypi_tools/pypi.py
Labels: EngSys

#14462 [Blob] Throw exception if set service properties isn't provided any positional arguments
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_service_properties.py
  sdk/storage/azure-storage-blob/tests/test_blob_service_properties_async.py
Labels: Storage

#14344 Mypy Compatibilty for EventGrid
  eng/tox/mypy_hard_failure_packages.py
  sdk/eventgrid/azure-eventgrid/azure/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_consumer.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_helpers.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_policies.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_signature_credential_policy.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/mypy.ini
Labels: Event Grid

#14024 [formrecognizer] initial selection marks
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_helpers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_response_handlers.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_get_bounding_boxes_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_get_bounding_boxes.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content.test_content_selection_marks.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content.test_content_selection_marks_v2.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_async.test_content_selection_marks.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_async.test_content_selection_marks_v2.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url.test_content_selection_marks.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url.test_content_selection_marks_v2.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url_async.test_content_selection_marks.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url_async.test_content_selection_marks_v2.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms.test_custom_form_selection_mark.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_async.test_custom_form_selection_mark.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url.test_custom_form_selection_mark.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url_async.test_custom_form_selection_mark.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
  sdk/formrecognizer/tests.yml
Labels: Cognitive - Form Recognizer

#14515 [formrecognizer] add sample tests for business cards and model compose
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_samples.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_samples_async.py
Labels: Cognitive - Form Recognizer

#14534 [formrecognizer] update deps for multiapi
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
Labels: Cognitive - Form Recognizer

#14552 [formrecognizer] add logic to set page_number on `ContactNames` field
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_helpers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_response_handlers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_from_url_async.py
Labels: Cognitive - Form Recognizer

#14550 Sync eng/common directory with azure-sdk-tools for PR 1091
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Add-IssueComment.ps1
  eng/common/scripts/Add-IssueLabels.ps1
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Get-PullRequestCreator.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Labels: Central-EngSys, EngSys

#14564 Enable Codespaces.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/docker-debian.sh
  .devcontainer/library-scripts/git-lfs-debian.sh
Labels: Central-EngSys, EngSys

#14518 [Key Vault] Add ID parsing method for certificates
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_parse_id.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/__init__.py
  sdk/keyvault/azure-keyvault-certificates/tests/recordings/test_parse_id.test_parse_certificate_id_with_version.yaml
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_parse_id.py
Labels: Client, KeyVault

#14301 [EventHubs & ServiceBus] add python3.9 support
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/setup.py
  sdk/eventhub/tests.yml
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/setup.py
  sdk/servicebus/tests.yml
  shared_requirements.txt
Labels: Client, Event Hubs, Service Bus

#14576 Sync eng/common directory with azure-sdk-tools for PR 1103
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#14604 Sync eng/common directory with azure-sdk-tools for PR 1019
  eng/common/pipelines/templates/steps/verify-links.yml
Labels: Central-EngSys, EngSys

#14608 Sync eng/common directory with azure-sdk-tools for PR 1106
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#14613 [form recognizer] add multipage business card form
  sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/business_cards/business-card-mulitpage.pdf
Labels: Cognitive - Form Recognizer, auto-merge

#14598 [formrecognizer] small sample updates
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_get_bounding_boxes_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_forms/forms/selection_mark_form.pdf
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_get_bounding_boxes.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_custom_forms.py
Labels: Cognitive - Form Recognizer

#14615 [form recognizer] fix typo in multipage name
  sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/business_cards/business-card-multipage.pdf
Labels: Cognitive - Form Recognizer, auto-merge

#14614 Sync eng/common directory with azure-sdk-tools for PR 968
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#14625 [Storage][DataLake]Default DirectoryProperties/FileProperties deleted to False
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
Labels: Storage

#14537 Rename AutoLockRenew to AutoLockRenewer
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_async.py
  sdk/servicebus/azure-servicebus/migration_guide.md
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/samples/async_samples/auto_lock_renew_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/session_pool_receive_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/auto_lock_renew.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/session_pool_receive.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/stress_test_queue_long_term_autorenew.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Service Bus

#14636 [form recognizer] add business multipage tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_business_card.test_business_card_multipage_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_business_card.test_business_card_stream_multipage_transform_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_business_card_async.test_business_card_multipage_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_business_card_async.test_business_card_stream_multipage_transform_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_business_card_from_url.test_business_card_multipage_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_business_card_from_url.test_business_card_url_multipage_transform_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_business_card_from_url_async.test_business_card_multipage_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_business_card_from_url_async.test_business_card_url_multipage_transform_pdf.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Cognitive - Form Recognizer

#14627 Sync eng/common directory with azure-sdk-tools for PR 1102
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Labels: Central-EngSys, EngSys

#14474 Make DeviceCodeCredential client_id parameter optional
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_authn_client.py
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/conftest.py
  sdk/identity/azure-identity/tests/test_live.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
Labels: Azure.Identity, Client

#14314 Added kwargs to ShareProtocolSettings, ShareSmbSettings, SmbMultichannel
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/tests/test_file_service_properties.py
  sdk/storage/azure-storage-file-share/tests/test_file_service_properties_async.py
Labels: Storage

#14194 Added headers to every PUT request
  sdk/storage/azure-storage-blob/azure/storage/blob/_upload_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_upload_helpers.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions.test_multi_put_block_contains_headers.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions_async.test_multi_put_block_contains_headers.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions_async.py
Labels: Storage, feature-request

#14647 Sync eng/common directory with azure-sdk-tools for PR 1128
  eng/common/scripts/modules/ChangeLog-Operations.psm1
Labels: Central-EngSys, EngSys

#14654 Sync eng/common directory with azure-sdk-tools for PR 1104
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#14658 Sync eng/common directory with azure-sdk-tools for PR 1129
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#14675 [formrecognizer] adjust sample test for selection marks
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_samples.py
Labels: Cognitive - Form Recognizer

#14667 Add prepare pipelines.
  eng/pipelines/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#14660 [T1] datafactory
  sdk/datafactory/azure-mgmt-datafactory/CHANGELOG.md
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_data_factory_management_client_enums.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/version.py
  sdk/datafactory/azure-mgmt-datafactory/setup.py
Labels: Data Factory

#14693 Add prepare pipelines to v3 branch
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
  eng/pipelines/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#14682 Sync eng/common directory with azure-sdk-tools for PR 1132
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#14697 Sync eng/common directory with azure-sdk-tools for PR 1133
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#14671 [Fileshare] Disable share leases
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_lease.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_lease_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/samples/file_samples_share.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage

#14704 Run link verification step at CI/Manual
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: Central-EngSys

#14672 Sync eng/common directory with azure-sdk-tools for PR 1127
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#14712 Sync eng/common directory with azure-sdk-tools for PR 1131
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: Central-EngSys, EngSys

#14678 [formrecognizer] multiapi compatibility for new attributes
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_base_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_helpers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_response_handlers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_base_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_multiapi.test_v2_0_compatibility.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_multiapi_async.test_v2_0_compatibility.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi_async.py
Labels: Cognitive - Form Recognizer

#14714 [metricsadvisor] renames
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_helpers.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_administration_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_administration_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_data_feeds_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_hooks_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_data_feeds.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_hooks.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/base_testcase_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_data_feeds_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_hooks_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/base_testcase.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_data_feeds.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_hooks.py
Labels: Cognitive - Metrics Advisor

#14383 EventGrid Event raise on binary type
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_helpers.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client_async.py
Labels: Event Grid

#14679 [T1] hdinsight
  sdk/hdinsight/azure-mgmt-hdinsight/CHANGELOG.md
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/__init__.py
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/_hd_insight_management_client_enums.py
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/_models.py
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/models/_models_py3.py
  sdk/hdinsight/azure-mgmt-hdinsight/azure/mgmt/hdinsight/version.py
  sdk/hdinsight/azure-mgmt-hdinsight/setup.py
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_humboldt_cluster.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_humboldt_cluster_with_custom_vm_sizes.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_humboldt_cluster_with_premium_tier.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_kafka_cluster_with_managed_disks.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_linux_spark_cluster_with_component_version.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_mlservices_cluster.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_rserver_cluster.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_with_adls_gen2.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_create_with_empty_extended_parameters.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_gateway_settings.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_get_configurations.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_get_usages.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_hue_on_running_cluster.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_list_clusters_in_resource_group.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_resize_cluster.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/recordings/test_mgmt_hdinsight.test_script_actions_on_running_cluster.yaml
  sdk/hdinsight/azure-mgmt-hdinsight/test/test_mgmt_hdinsight.py
Labels: HDInsight

#14734 [metricsadvisor] refresh fewer data points in test
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/recordings/test_data_feed_ingestion_async.test_refresh_data_feed_ingestion.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/recordings/test_metrics_advisor_client_live_async.test_list_incident_root_cause.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_data_feed_ingestion_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_data_feed_ingestion.test_refresh_data_feed_ingestion.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_metrics_advisor_client_live.test_list_incident_root_cause.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_data_feed_ingestion.py
Labels: Cognitive - Metrics Advisor, auto-merge

#14178 [ServiceBus] settlement and mgmt error redesign
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Client, Service Bus

#14702 removing the old storage_account method
  sdk/tables/azure-data-tables/tests/_shared/testcase.py
  sdk/tables/azure-data-tables/tests/conftest.py
Labels: Tables

#14737 Sync eng/common directory with azure-sdk-tools for PR 1109
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#14748 [metricsadvisor] switch to AzureTestCase.await_prepared_test
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/base_testcase_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_anomaly_alert_config_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_data_feed_ingestion_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_data_feeds_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_hooks_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_metric_anomaly_detection_config_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_metrics_advisor_client_live_async.py
Labels: Cognitive - Metrics Advisor

#14753 Sync eng/common directory with azure-sdk-tools for PR 1136
  eng/common/scripts/Delete-RemoteBranches.ps1
Labels: Central-EngSys, EngSys

#14750 Sync eng/common directory with azure-sdk-tools for PR 1135
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/scripts/Verify-Links.ps1
Labels: Central-EngSys, EngSys

#14755 Sync eng/common directory with azure-sdk-tools for PR 1130
  eng/common/README.md
Labels: Central-EngSys, EngSys

#14674 [metricsadvisor] update create methods to take full object
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_helpers.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_administration_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_administration_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_anomaly_alert_configuration_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_anomaly_detection_configuration_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_data_feeds_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_hooks_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_anomaly_alert_configuration.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_anomaly_detection_configuration.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_data_feeds.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_hooks.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/base_testcase_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/recordings/test_data_feeds_async.test_create_simple_data_feed.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_anomaly_alert_config_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_data_feeds_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_hooks_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_metric_anomaly_detection_config_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/base_testcase.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_data_feeds.test_create_simple_data_feed.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_anomaly_alert_config.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_data_feeds.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_hooks.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_metric_anomaly_detection_config.py
Labels: Cognitive - Metrics Advisor

#14629 Move credential and header policies after retry policy
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/tests/_shared/testcase.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions.test_get_blob_with_if_match.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions.test_multi_put_block_contains_headers.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions.test_put_blob_with_if_match.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.test_access_token_refresh_after_retry.yaml
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
Labels: Storage

#14776 [text analytics] udpate sdk -> api version table
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Cognitive - Text Analytics

#14025 [Azure.Identity] Add Azure.Identity Support for Managed Identity for Service Fabric Applications
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/service_fabric.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/service_fabric.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity, Client

#14754 Sync eng/common directory with azure-sdk-tools for PR 1137
  eng/common/TestResources/AzurePowerShellV4/Utility.ps1
  eng/common/TestResources/Import-AzModules.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/setup-az-modules.yml
Labels: Central-EngSys, EngSys
