Repository Azure/azure-sdk-for-python, pull requests merged in 2021-09, with the labels that each got.

#20234 [rest] unify response headers behaviors across transports
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/rest/_aiohttp.py
  sdk/core/azure-core/azure/core/rest/_requests_basic.py
  sdk/core/azure-core/azure/core/rest/_rest.py
  sdk/core/azure-core/azure/core/rest/_rest_py3.py
  sdk/core/azure-core/tests/async_tests/test_rest_headers_async.py
  sdk/core/azure-core/tests/test_rest_headers.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/__init__.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/__init__.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/headers.py
Labels: Azure.Core

#19957 [SchemaRegistry] Update swagger and use autorest.python llc
  sdk/schemaregistry/azure-schemaregistry-avroserializer/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_response_handlers.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_schema.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_azure_schema_registry.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_configuration.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_version.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/_azure_schema_registry.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/_configuration.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/operations/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/operations/_schema_operations.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/models/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/models/_azure_schema_registry_enums.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/models/_models.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/models/_models_py3.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/operations/_schema_operations.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema/_request_builders.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema/_request_builders_py3.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_schema_registry_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_schema_registry_client_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/schema_registry.py
  sdk/schemaregistry/azure-schemaregistry/setup.py
  sdk/schemaregistry/azure-schemaregistry/swagger/README.md
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_basic_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_negative_no_schema_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_same_twice_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_update_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_basic.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_negative_no_schema.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_same_twice.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_update.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
  shared_requirements.txt
Labels: Schema Registry

#20483 have LRO support rest requests and responses
  sdk/core/azure-core/azure/core/polling/async_base_polling.py
  sdk/core/azure-core/azure/core/polling/base_polling.py
  sdk/core/azure-core/tests/async_tests/test_rest_polling_async.py
  sdk/core/azure-core/tests/test_rest_polling.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/__init__.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/__init__.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/helpers.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/polling.py
Labels: Azure.Core

#19915 [ServiceBus] improve memory usage of service bus client
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Service Bus

#20502 update release date
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#20485 Search: Add normalizer property to AnalyzeText.
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_search_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
Labels: Search

#20456 add six to testserver setup.py
  sdk/core/azure-core/tests/conftest.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/setup.py
Labels: Azure.Core

#20500 Update AppCongiguration to enable live testing in sovereign clouds for multiple services
  sdk/appconfiguration/tests.yml
Labels: App Configuration

#20491 [Storage]Address comments for STG78 GA
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-blob/tests/test_quick_query.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/tests/test_quick_query.py
Labels: Storage

#20508 Sync eng/common directory with azure-sdk-tools for PR 1967
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Labels: EngSys, Central-EngSys

#20330 [Storage] Move test keys into CredScan-suppressed helper files
  eng/CredScanSuppression.json
  sdk/storage/azure-storage-blob/tests/blob_settings_fake.py
  sdk/storage/azure-storage-blob/tests/fake_credentials.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions_async.py
  sdk/storage/azure-storage-file-datalake/tests/data_lake_settings_fake.py
  sdk/storage/azure-storage-file-datalake/tests/fake_credentials.py
  sdk/storage/azure-storage-file-datalake/tests/testcase.py
Labels: Storage, Client

#20509 Sync eng/common directory with azure-sdk-tools for PR 1972
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/SemVer.ps1
Labels: EngSys, Central-EngSys

#20506 Update token exchange environment variable name
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity

#20510 [Key Vault] Skip flaky certificate cancellation test in live mode
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
Labels: KeyVault, Client, test-reliability

#20521 update
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#20522 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, auto-merge

#20534 Batch - Fix incorrect parsing of message from Exception
  sdk/batch/azure-batch/azure/batch/custom/custom_errors.py
Labels: Batch

#20451 Add OnBehalfOfCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/aadclient_certificate.py
  sdk/identity/azure-identity/azure/identity/aio/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/aad_client.py
  sdk/identity/azure-identity/dev_requirements.txt
  sdk/identity/azure-identity/samples/custom_credentials.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/recorded_test_case.py
  sdk/identity/azure-identity/tests/recording_processors.py
  sdk/identity/azure-identity/tests/recordings/test_obo.test_obo.yaml
  sdk/identity/azure-identity/tests/recordings/test_obo.test_obo_cert.yaml
  sdk/identity/azure-identity/tests/recordings/test_obo_async.test_obo.yaml
  sdk/identity/azure-identity/tests/recordings/test_obo_async.test_obo_cert.yaml
  sdk/identity/azure-identity/tests/test_context_manager.py
  sdk/identity/azure-identity/tests/test_obo.py
  sdk/identity/azure-identity/tests/test_obo_async.py
Labels: Client, Azure.Identity

#19725 Fix for #19724, upload_blob uploads 0 bytes for socket stream.
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/request_handlers.py
Labels: Storage, customer-reported

#20536 Get rid of generated code
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/_event_grid_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/_event_grid_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_models_py3.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/operations/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/operations/_event_grid_client_operations.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/operations/_event_grid_publisher_client_operations.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/rest/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/rest/_request_builders.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/rest/_request_builders_py3.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/setup.py
  sdk/eventgrid/azure-eventgrid/swagger/README.PYTHON_T2.md
  shared_requirements.txt
Labels: Event Grid

#20540 [Keyvault] Remove exception message parsing from samples in keys, certificates and secrets
  sdk/keyvault/azure-keyvault-certificates/samples/backup_restore_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/contacts.py
  sdk/keyvault/azure-keyvault-certificates/samples/contacts_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/parse_certificate.py
  sdk/keyvault/azure-keyvault-certificates/samples/parse_certificate_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations_async.py
  sdk/keyvault/azure-keyvault-keys/samples/backup_restore_operations.py
  sdk/keyvault/azure-keyvault-keys/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-keys/samples/hello_world.py
  sdk/keyvault/azure-keyvault-keys/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-keys/samples/list_operations.py
  sdk/keyvault/azure-keyvault-keys/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-keys/samples/recover_purge_operations.py
  sdk/keyvault/azure-keyvault-keys/samples/recover_purge_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/backup_restore_operations.py
  sdk/keyvault/azure-keyvault-secrets/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/hello_world.py
  sdk/keyvault/azure-keyvault-secrets/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/list_operations.py
  sdk/keyvault/azure-keyvault-secrets/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/recover_purge_operations.py
  sdk/keyvault/azure-keyvault-secrets/samples/recover_purge_operations_async.py
Labels: KeyVault

#20564 Search: update release date
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search

#20568 Simplify recorded OnBehalfOfCredential tests
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/dev_requirements.txt
  sdk/identity/azure-identity/tests/recordings/test_obo.test_obo.yaml
  sdk/identity/azure-identity/tests/recordings/test_obo.test_obo_cert.yaml
  sdk/identity/azure-identity/tests/recordings/test_obo_async.test_obo.yaml
  sdk/identity/azure-identity/tests/recordings/test_obo_async.test_obo_cert.yaml
  sdk/identity/azure-identity/tests/test_obo.py
  sdk/identity/azure-identity/tests/test_obo_async.py
Labels: Azure.Identity

#20570 updating codeowners
  .github/CODEOWNERS
Labels: auto-merge

#20569 [ACR] Update CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
Labels: Container Registry

#20579 Sync eng/common directory with azure-sdk-tools for PR 1986
  eng/common/testproxy/docker-start-proxy.ps1
Labels: EngSys, Central-EngSys

#20525 Run mypy in azure-keyvault-certificates CI
  eng/tox/mypy_hard_failure_packages.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_polling.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_polling.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-certificates/mypy.ini
Labels: KeyVault

#20577 [rest] correctly pickle rest aiohttp responses
  sdk/core/azure-core/azure/core/rest/_aiohttp.py
  sdk/core/azure-core/tests/async_tests/test_rest_polling_async.py
  sdk/core/azure-core/tests/test_rest_polling.py
Labels: Azure.Core

#20571 Allow overriding client_id for token exchange
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity

#20574 Update README.md
  sdk/cosmos/azure-cosmos/README.md
Labels: Cosmos

#20588 [translation] update changelog + some edits
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
  sdk/translation/azure-ai-translation-document/README.md
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_translation_with_custom_model_async.py
  sdk/translation/azure-ai-translation-document/samples/sample_translation_with_custom_model.py
Labels: Cognitive - Translator

#20593 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus, auto-merge

#20587 [Tables] Release prep
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
Labels: Tables

#20586 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search, auto-merge

#20539 [STG78]Address comments
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/tests/test_append_blob.py
  sdk/storage/azure-storage-blob/tests/test_append_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
Labels: Storage

#20596 Increment version for translation releases
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_version.py
Labels: auto-merge

#20589 Sync eng/common directory with azure-sdk-tools for PR 1982
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
Labels: EngSys, Central-EngSys

#20507 Run mypy in azure-keyvault-secrets CI
  eng/tox/mypy_hard_failure_packages.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/_polling.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_models.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_polling.py
  sdk/keyvault/azure-keyvault-secrets/mypy.ini
Labels: KeyVault

#20591 add interactive_browser_client_id
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/tests/test_default.py
Labels: Azure.Identity

#20601 update release date
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#20538 [SchemaRegistry] update API for consistency
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_schema_registry_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/eventhub_receive_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/eventhub_send_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_with_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_without_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/test_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_response_handlers.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_schema.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_schema_registry_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_schema_registry_client_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/sample_code_schemaregistry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/sample_code_schemaregistry.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/schema_registry.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_basic_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_negative_no_schema_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_same_twice_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_update_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/test_schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_basic.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_negative_no_schema.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_same_twice.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_update.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
Labels: Schema Registry

#20607 [Key Vault] Update changelogs for release
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
Labels: KeyVault, Client

#20545 Run mypy in azure-keyvault-keys CI
  eng/tox/mypy_hard_failure_packages.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/algorithm.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/algorithms/sha_2.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/key.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/ec.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/local_provider.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/rsa.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/symmetric.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/mypy.ini
Labels: KeyVault

#20619 update changelog
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#20620 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, auto-merge

#20543 [Identity] Resolve CredScan warnings
  eng/CredScanSuppression.json
  sdk/identity/azure-identity/tests/credscan_ignore.py
  sdk/identity/azure-identity/tests/recordings/test_cae.test_device_code.yaml
  sdk/identity/azure-identity/tests/recordings/test_cae.test_username_password.yaml
  sdk/identity/azure-identity/tests/test_powershell_credential.py
  sdk/identity/azure-identity/tests/test_powershell_credential_async.py
Labels: Client, Azure.Identity

#20609 Sync eng/common directory with azure-sdk-tools for PR 1977
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#20625 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
Labels: KeyVault, auto-merge

#20626 [KeyVault] Address incorrect links in README.md
  sdk/keyvault/azure-keyvault-administration/README.md
Labels: KeyVault

#20605 Sync eng/common directory with azure-sdk-tools for PR 1995
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#20624 [SchemaRegistry] update Avro version + changelog
  sdk/schemaregistry/azure-schemaregistry-avroserializer/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_version.py
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
Labels: Schema Registry, auto-merge

#20638 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
Labels: KeyVault, auto-merge

#20642 Update to latest swagger
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/_configuration.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/_metrics_advisor.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/aio/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/aio/_configuration.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/aio/_metrics_advisor.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/aio/operations/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/aio/operations/_metrics_advisor_operations.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/models/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/models/_metrics_advisor_enums.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/models/_models_py3.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/operations/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/operations/_metrics_advisor_operations.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_administration_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_administration_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/__init__.py
Labels: Cognitive - Metrics Advisor

#20537 [Batch] Redact test account keys in recordings
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.test_mgmt_batch_account.yaml
  sdk/batch/azure-mgmt-batch/tests/test_mgmt_batch.py
Labels: Batch, Mgmt

#20597 [Search] Regenerate with latest autorest
  sdk/search/azure-search-documents/azure/search/documents/_generated/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_search_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_search_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_search_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_search_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/setup.py
  shared_requirements.txt
Labels: Search

#20635 Increment version for monitor releases
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/azure/monitor/query/_version.py
Labels: auto-merge

#20602 [Search] Update SearchClient.search API
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
Labels: Search

#20618 Sync eng/common directory with azure-sdk-tools for PR 1983
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
Labels: EngSys, Central-EngSys

#19892 [EventHubs] update test to test async producer
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_consumer_client_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_receive_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_consumer_client.py
Labels: Event Hubs

#20656 Sync eng/common directory with azure-sdk-tools for PR 1946
  eng/common/scripts/check-spelling-in-changed-files.ps1
Labels: EngSys, Central-EngSys

#20665 Sync eng/common directory with azure-sdk-tools for PR 2006
  eng/common/scripts/SemVer.ps1
Labels: EngSys, Central-EngSys

#20592 Update docstrings for custom models.
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_index.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
Labels: Search

#20666 Sync eng/common directory with azure-sdk-tools for PR 1979
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#20663 [Key Vault] Update new test resource script
  sdk/keyvault/test-resources.json
Labels: KeyVault, Client

#15660 Updated notebooks to make them more "general"
  sdk/digitaltwins/azure-digitaltwins-core/samples/notebooks/01_Patrons.ipynb
  sdk/digitaltwins/azure-digitaltwins-core/samples/notebooks/02_Purchasing_Tickets.ipynb
  sdk/digitaltwins/azure-digitaltwins-core/samples/notebooks/03_Adding_a_bunch of_other_components.ipynb
  sdk/digitaltwins/azure-digitaltwins-core/samples/notebooks/04_Lots_on_Queries.ipynb
  sdk/digitaltwins/azure-digitaltwins-core/samples/notebooks/models/Patron.json
  sdk/digitaltwins/azure-digitaltwins-core/samples/notebooks/models/area.json
  sdk/digitaltwins/azure-digitaltwins-core/samples/notebooks/models/line.json
  sdk/digitaltwins/azure-digitaltwins-core/samples/notebooks/models/ticket.json
  sdk/digitaltwins/azure-digitaltwins-core/samples/notebooks/readme.md
Labels: customer-reported

#20671 [SchemaRegistry] remove codec param in serializer
  sdk/schemaregistry/azure-schemaregistry-avroserializer/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_schema_registry_avro_serializer.py
Labels: Schema Registry

#20683 [SchemaRegistry] update type of `schema` in `serialize`
  sdk/schemaregistry/azure-schemaregistry-avroserializer/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_schema_registry_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/eventhub_receive_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/eventhub_send_integration.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/sample_code_schemaregistry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/sample_code_schemaregistry.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/schema_registry.py
Labels: Schema Registry

#20686 Update changelog date
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/azure/communication/chat/_version.py
Labels: Communication

#20376 [EventHub] update arm template with storage conn str
  sdk/eventhub/azure-eventhub-checkpointstoretable/azure/eventhub/extensions/checkpointstoretable/_tablestoragecs.py
  sdk/eventhub/azure-eventhub-checkpointstoretable/tests/test_storage_table_partition_manager.py
  sdk/eventhub/test-resources.json
Labels: Event Hubs

#20694 Sync eng/common directory with azure-sdk-tools for PR 2008
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#20669 [Search] Add skillset validation
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_skillset_live.test_create_or_update_skillset.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_skillset_live.test_create_or_update_skillset_if_unchanged.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_skillset_live.test_create_or_update_skillset_inplace.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_skillset_live.test_create_skillset.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_skillset_live.test_delete_skillset.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_skillset_live.test_delete_skillset_if_unchanged.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_skillset_live.test_get_skillset.yaml
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_skillset_live.test_get_skillsets.yaml
  sdk/search/azure-search-documents/tests/search_service_preparer.py
  sdk/search/azure-search-documents/tests/test_search_index_client_skillset_live.py
Labels: Search

#20672 Sync eng/common directory with azure-sdk-tools for PR 2009
  eng/common/pipelines/templates/steps/cache-ps-modules.yml
Labels: EngSys, Central-EngSys

#20706 Sync eng/common directory with azure-sdk-tools for PR 2016
  eng/common/pipelines/templates/steps/verify-changelog.yml
Labels: EngSys, Central-EngSys

#20684 add troubleshoot doc
  sdk/identity/azure-identity/Troubleshoot.md
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
Labels: Azure.Identity

#20702 Sync eng/common directory with azure-sdk-tools for PR 2011
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#20729 Sync eng/common directory with azure-sdk-tools for PR 2010
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#20743 add cancelmediaoperation and cancelparticipantmediaoperation
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_call_connection.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_converters/__init__.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_converters/_converter.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/_configuration.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/aio/_configuration.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/aio/operations/_call_connections_operations.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/aio/operations/_server_calls_operations.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/models/__init__.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/models/_azure_communication_calling_server_service_enums.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/models/_models.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/models/_models_py3.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/operations/_call_connections_operations.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/operations/_server_calls_operations.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_server_call.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/aio/_call_connection_async.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/aio/_server_call_async.py
  sdk/communication/azure-communication-callingserver/swagger/SWAGGER.md
  sdk/communication/azure-communication-callingserver/tests/_test_constants.py
  sdk/communication/azure-communication-callingserver/tests/test_call_connection.py
  sdk/communication/azure-communication-callingserver/tests/test_call_connection_async.py
  sdk/communication/azure-communication-callingserver/tests/test_server_call.py
  sdk/communication/azure-communication-callingserver/tests/test_server_call_async.py
Labels: Communication

#20723 [Storage]Unify service version and update changelog
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory_async.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_serialize.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_api_version.py
  sdk/storage/azure-storage-queue/tests/test_queue_api_version_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_client.py
  sdk/storage/azure-storage-queue/tests/test_queue_client_async.py
Labels: Storage

#20745 in-call transfer apis
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_call_connection.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_converters/__init__.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_converters/_converter.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/aio/_call_connection_async.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/aio/_server_call_async.py
  sdk/communication/azure-communication-callingserver/tests/_test_constants.py
  sdk/communication/azure-communication-callingserver/tests/test_call_connection.py
  sdk/communication/azure-communication-callingserver/tests/test_call_connection_async.py
Labels: Communication

#20735 avroserializer pins its dependency, which makes regression testing a …
  scripts/devops_tasks/git_helper.py
Labels: auto-merge

#20641 [Key Vault] Add certificate import sample
  sdk/keyvault/azure-keyvault-certificates/samples/README.md
  sdk/keyvault/azure-keyvault-certificates/samples/import_certificate.py
  sdk/keyvault/azure-keyvault-certificates/samples/import_certificate_async.py
Labels: Docs, KeyVault, Client

#20762 play audio to participant apis
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_call_connection.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_server_call.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/aio/_call_connection_async.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/aio/_server_call_async.py
  sdk/communication/azure-communication-callingserver/tests/test_call_connection.py
  sdk/communication/azure-communication-callingserver/tests/test_call_connection_async.py
  sdk/communication/azure-communication-callingserver/tests/test_server_call.py
  sdk/communication/azure-communication-callingserver/tests/test_server_call_async.py
Labels: Communication

#20760 [SchemaRegistry] remove cache from client
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_schema_registry_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_schema_registry_client_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_basic_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_negative_no_schema_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_same_twice_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_update_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/test_schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_basic.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_negative_no_schema.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_same_twice.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_update.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
Labels: Schema Registry

#20779 Sync eng/common directory with azure-sdk-tools for PR 2025
  eng/common/scripts/Collect-ChangeLogs.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#20389 [EventHubs] Stress test refactor
  sdk/eventhub/azure-eventhub/stress/Chart.lock
  sdk/eventhub/azure-eventhub/stress/Chart.yaml
  sdk/eventhub/azure-eventhub/stress/Dockerfile
  sdk/eventhub/azure-eventhub/stress/dev_requirement.txt
  sdk/eventhub/azure-eventhub/stress/parameters.json
  sdk/eventhub/azure-eventhub/stress/scripts/app_insights_metric.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_consumer_stress_async.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_consumer_stress_sync.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_producer_stress.py
  sdk/eventhub/azure-eventhub/stress/scripts/common_use_scripts
  sdk/eventhub/azure-eventhub/stress/scripts/dev_requirement.txt
  sdk/eventhub/azure-eventhub/stress/scripts/logger.py
  sdk/eventhub/azure-eventhub/stress/scripts/process_monitor.py
  sdk/eventhub/azure-eventhub/stress/scripts/stress_runner.cfg
  sdk/eventhub/azure-eventhub/stress/scripts/stress_runner.py
  sdk/eventhub/azure-eventhub/stress/templates/network_loss.yaml
  sdk/eventhub/azure-eventhub/stress/templates/testjob.yaml
  sdk/eventhub/azure-eventhub/stress/test-resources.bicep
  sdk/eventhub/azure-eventhub/stress/test-resources.json
Labels: Event Hubs

#20599 [rest] add backcompat mixin to rest requests
  sdk/core/azure-core/azure/core/_pipeline_client.py
  sdk/core/azure-core/azure/core/_pipeline_client_async.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/azure/core/rest/_helpers.py
  sdk/core/azure-core/azure/core/rest/_rest.py
  sdk/core/azure-core/azure/core/rest/_rest_py3.py
  sdk/core/azure-core/azure/core/utils/_pipeline_transport_rest_shared.py
  sdk/core/azure-core/tests/async_tests/test_authentication_async.py
  sdk/core/azure-core/tests/async_tests/test_base_polling_async.py
  sdk/core/azure-core/tests/async_tests/test_basic_transport_async.py
  sdk/core/azure-core/tests/async_tests/test_http_logging_policy_async.py
  sdk/core/azure-core/tests/async_tests/test_pipeline_async.py
  sdk/core/azure-core/tests/async_tests/test_request_asyncio.py
  sdk/core/azure-core/tests/async_tests/test_request_trio.py
  sdk/core/azure-core/tests/async_tests/test_retry_policy_async.py
  sdk/core/azure-core/tests/async_tests/test_stream_generator_async.py
  sdk/core/azure-core/tests/async_tests/test_streaming_async.py
  sdk/core/azure-core/tests/async_tests/test_testserver_async.py
  sdk/core/azure-core/tests/async_tests/test_tracing_decorator_async.py
  sdk/core/azure-core/tests/async_tests/test_universal_http_async.py
  sdk/core/azure-core/tests/test_authentication.py
  sdk/core/azure-core/tests/test_base_polling.py
  sdk/core/azure-core/tests/test_basic_transport.py
  sdk/core/azure-core/tests/test_custom_hook_policy.py
  sdk/core/azure-core/tests/test_error_map.py
  sdk/core/azure-core/tests/test_http_logging_policy.py
  sdk/core/azure-core/tests/test_pipeline.py
  sdk/core/azure-core/tests/test_request_id_policy.py
  sdk/core/azure-core/tests/test_requests_universal.py
  sdk/core/azure-core/tests/test_rest_backcompat.py
  sdk/core/azure-core/tests/test_rest_http_request.py
  sdk/core/azure-core/tests/test_retry_policy.py
  sdk/core/azure-core/tests/test_stream_generator.py
  sdk/core/azure-core/tests/test_streaming.py
  sdk/core/azure-core/tests/test_testserver.py
  sdk/core/azure-core/tests/test_tracing_decorator.py
  sdk/core/azure-core/tests/test_tracing_policy.py
  sdk/core/azure-core/tests/test_universal_pipeline.py
  sdk/core/azure-core/tests/test_user_agent_policy.py
  sdk/core/azure-core/tests/utils.py
Labels: Azure.Core

#20300 integrate logs
  sdk/core/azure-core/azure/core/pipeline/policies/_universal.py
  sdk/core/azure-core/tests/async_tests/test_http_logging_policy_async.py
  sdk/core/azure-core/tests/test_http_logging_policy.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_client.py
Labels: Azure.Core

#20811 fix test_aiohttp_loop
  sdk/core/azure-core/tests/test_basic_transport.py
  sdk/core/azure-core/tests/test_rest_http_request.py
Labels: Azure.Core

#20766 [SchemaRegistry] renaming from archboard feedback
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_constants.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_response_handlers.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_schema.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_schema_registry_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_schema_registry_client_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/sample_code_schemaregistry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/sample_code_schemaregistry.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/schema_registry.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_basic_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_negative_no_schema_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/test_schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_basic.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_negative_no_schema.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_same_twice.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_update.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
  sdk/schemaregistry/test-resources.json
Labels: Schema Registry, auto-merge

#20448 [rest] switch base responses to ABCs
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_pipeline_client_async.py
  sdk/core/azure-core/azure/core/pipeline/_tools.py
  sdk/core/azure-core/azure/core/pipeline/_tools_async.py
  sdk/core/azure-core/azure/core/rest/_aiohttp.py
  sdk/core/azure-core/azure/core/rest/_helpers.py
  sdk/core/azure-core/azure/core/rest/_helpers_py3.py
  sdk/core/azure-core/azure/core/rest/_http_response_impl.py
  sdk/core/azure-core/azure/core/rest/_http_response_impl_async.py
  sdk/core/azure-core/azure/core/rest/_requests_asyncio.py
  sdk/core/azure-core/azure/core/rest/_requests_basic.py
  sdk/core/azure-core/azure/core/rest/_requests_trio.py
  sdk/core/azure-core/azure/core/rest/_rest.py
  sdk/core/azure-core/azure/core/rest/_rest_py3.py
  sdk/core/azure-core/tests/async_tests/test_rest_asyncio_transport.py
  sdk/core/azure-core/tests/async_tests/test_rest_http_response_async.py
  sdk/core/azure-core/tests/async_tests/test_rest_trio_transport.py
  sdk/core/azure-core/tests/test_rest_http_response.py
  sdk/core/azure-core/tests/test_rest_stream_responses.py
  sdk/core/azure-core/tests/utils.py
Labels: Azure.Core

#20825 Sync eng/common directory with azure-sdk-tools for PR 2035
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#20820 [EventHubs] Fix livetest
  sdk/eventhub/azure-eventhub/stress/stress-test-resources.bicep
  sdk/eventhub/azure-eventhub/stress/stress-test-resources.json
Labels: Event Hubs

#20832 Sync eng/common directory with azure-sdk-tools for PR 2031
  eng/common/pipelines/templates/steps/policheck.yml
Labels: EngSys, Central-EngSys

#20763 [SchemaRegistry] update positional args to req kwargs
  sdk/schemaregistry/azure-schemaregistry-avroserializer/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_schema_registry_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/eventhub_receive_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/eventhub_send_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_with_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_without_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/schemaregistry_preparer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/test_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_schema.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_basic_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_negative_no_schema_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_same_twice_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_update_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/test_schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_basic.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_negative_no_schema.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_same_twice.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_update.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/schemaregistry_preparer.py
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
Labels: Schema Registry

#20810 update changelog
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core

#20798 Sync eng/common directory with azure-sdk-tools for PR 2027
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#20828 Sync eng/common directory with azure-sdk-tools for PR 2039
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#20803 Enable API change detection as part of PR pipelines
  eng/pipelines/templates/steps/analyze.yml
Labels: Central-EngSys

#20900 [Perf] keyvault-secrets test improvements
  sdk/keyvault/azure-keyvault-secrets/tests/perfstress_tests/list_secrets.py
Labels: KeyVault

#20895 Python 2.7 warning
  sdk/cosmos/azure-cosmos/README.md
Labels: Cosmos

#20887 Resolving Build Warnings
  eng/pipelines/templates/steps/auth-dev-feed.yml
  eng/tox/tox.ini
  scripts/devops_tasks/common_tasks.py
  scripts/devops_tasks/test_regression.py
Labels: Central-EngSys

#20923 [formrecognizer] Fix v2 custom forms tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_document.test_document_specify_pages.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_document_async.test_document_specify_pages.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_document.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_document_async.py
Labels: Cognitive - Form Recognizer

#20379 [Key Vault] Get default API version from sync client base
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py
Labels: KeyVault, Client

#20949 [formrecognizer] Skip v2.0 compatibility tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi_async.py
Labels: Cognitive - Form Recognizer

#20951 New Events
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/_event_grid_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/_event_grid_client_async.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/operations/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/operations/_event_grid_publisher_client_operations.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/operations_async/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/operations_async/_event_grid_client_operations_async.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/operations_async/_event_grid_publisher_client_operations_async.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_event_grid_client_enums.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_event_grid_publisher_client_enums.py
  sdk/eventgrid/azure-eventgrid/swagger/postprocess_eventnames.py
Labels: Event Grid

#20902 Update samples in ACR
  sdk/containerregistry/azure-containerregistry/README.md
  sdk/containerregistry/azure-containerregistry/samples/README.md
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_delete_images_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_delete_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_hello_world_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_list_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_set_image_properties_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_images.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_tags.py
  sdk/containerregistry/azure-containerregistry/samples/sample_hello_world.py
  sdk/containerregistry/azure-containerregistry/samples/sample_list_tags.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_image_properties.py
Labels: Container Registry

#20904 [formrecognizer] Print fields in custom documents samples
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_custom_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_custom_documents.py
Labels: Cognitive - Form Recognizer

#20955 [formrecognizer] DMAC docstring feedback from service team
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
Labels: Cognitive - Form Recognizer

#20952 [rest] fix aiohttp read in rest
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/rest/_aiohttp.py
Labels: Azure.Core

#20954 [formrecognizer] fixing error on ModelOperation to include details
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_to_dict_v3.py
Labels: Cognitive - Form Recognizer

#20813 [SchemaRegistry] add lru cache to avro serializer
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_schema_registry_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/eventhub_receive_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/eventhub_send_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/setup.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_with_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_without_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/schemaregistry_preparer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/test_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/sample_code_schemaregistry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/sample_code_schemaregistry.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/schema_registry.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_basic_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_negative_no_schema_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_same_twice_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_update_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_basic.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_negative_no_schema.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_same_twice.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_update.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/schemaregistry_preparer.py
  sdk/schemaregistry/tests.yml
  shared_requirements.txt
Labels: Schema Registry, auto-merge

#20958 update changelog
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/setup.py
Labels: Azure.Core

#20920 [formrecognizer] Update doc strings for v3
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_analysis_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_analysis_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_custom_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_document.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_layout.py
Labels: Cognitive - Form Recognizer

#20868 [formrecognizer] update readme
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
Labels: Cognitive - Form Recognizer

#20959 [formrecognizer] Small sample fixes
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_prebuilt_document_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_prebuilt_document.py
Labels: Cognitive - Form Recognizer

#20964 [formrecognizer] sample fixes
  scripts/devops_tasks/test_run_samples.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_authentication_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_create_composed_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_differentiate_output_labeled_tables_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_differentiate_output_models_trained_with_and_without_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_get_bounding_boxes_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_manage_custom_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_recognize_business_cards_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_recognize_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_recognize_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_recognize_identity_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_recognize_invoices_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_recognize_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_recognize_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_strongly_typing_recognized_form_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_train_model_with_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_train_model_without_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_authentication.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_create_composed_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_differentiate_output_labeled_tables.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_differentiate_output_models_trained_with_and_without_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_get_bounding_boxes.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_manage_custom_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_recognize_business_cards.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_recognize_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_recognize_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_recognize_identity_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_recognize_invoices.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_recognize_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_recognize_receipts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_strongly_typing_recognized_form.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_train_model_with_labels.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_train_model_without_labels.py
Labels: Cognitive - Form Recognizer

#20980 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, auto-merge

#20979 Update 3.10 and 2.7 disclaimer
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/setup.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/setup.py
  sdk/synapse/azure-synapse-accesscontrol/README.md
  sdk/synapse/azure-synapse-accesscontrol/setup.py
  sdk/synapse/azure-synapse-artifacts/README.md
  sdk/synapse/azure-synapse-artifacts/setup.py
  sdk/synapse/azure-synapse-monitoring/README.md
  sdk/synapse/azure-synapse-monitoring/setup.py
  sdk/synapse/azure-synapse-spark/README.md
  sdk/synapse/azure-synapse-spark/setup.py
Labels: Azure.Identity, Synapse, Cognitive - Metrics Advisor

#20978 [formrecognizer] re-enable tests
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_base_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_base_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt.test_receipt_locale_error.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_async.test_receipt_locale_error.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_from_url.test_receipt_locale_error.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_from_url_async.test_receipt_locale_error.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_logging.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_logging_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
Labels: Cognitive - Form Recognizer

#20988 [formrecognizer] Update field schema links in v3 samples
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_business_cards_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_identity_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_invoices_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_business_cards.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_identity_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_invoices.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_receipts_from_url.py
Labels: Cognitive - Form Recognizer

#20961 [formrecognizer] update sample readme
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
Labels: Cognitive - Form Recognizer

#20990 [Key Vault] Add Python 2.7 disclaimer and 3.10 classifier
  sdk/keyvault/azure-keyvault-administration/README.md
  sdk/keyvault/azure-keyvault-administration/setup.py
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-secrets/README.md
  sdk/keyvault/azure-keyvault-secrets/setup.py
Labels: Docs, KeyVault, Client

#20994 [formrecognizer] Remove TODOs from samples
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_business_cards_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_business_cards.py
Labels: Cognitive - Form Recognizer

#20776 Add PoliCheck
  eng/guardian-tools/policheck/PolicheckExclusions.xml
  eng/pipelines/aggregate-reports.yml
  sdk/cognitiveservices/azure-cognitiveservices-vision-contentmoderator/azure/cognitiveservices/vision/contentmoderator/operations/text_moderation_operations.py
  sdk/core/azure-core/azure/core/pipeline/policies/_retry.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_shared/policies.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_shared/policies.py
  sdk/eventhub/azure-eventhub-checkpointstoretable/azure/eventhub/extensions/checkpointstoretable/_vendor/data/tables/_policies.py
  sdk/eventhub/azure-eventhub-checkpointstoretable/azure/eventhub/extensions/checkpointstoretable/_vendor/data/tables/aio/_policies_async.py
  sdk/eventhub/test-resources.json
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/policies.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
  sdk/tables/azure-data-tables/azure/data/tables/_policies.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_policies_async.py
  tools/vcrpy/vcr/stubs/__init__.py
Labels: Storage, Event Hubs, Search, Azure.Core, Tables
