Repository Azure/azure-sdk-for-python, pull requests merged in 2021-06, with the labels that each got.

#18987 change back to preview
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_version.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/setup.py
Labels: Cognitive - Metrics Advisor

#18956 Sync eng/common directory with azure-sdk-tools for PR 1611
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Prepare-Release.ps1
Labels: Central-EngSys, EngSys

#18936 [Communication]: Updated ACS packages to use async bearer token credential policy
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/utils.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/utils.py
  sdk/communication/azure-communication-identity/azure/communication/identity/aio/_communication_identity_client_async.py
  sdk/communication/azure-communication-identity/samples/identity_samples_async.py
  sdk/communication/azure-communication-identity/tests/test_communication_identity_client_async.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/utils.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/aio/_phone_numbers_client_async.py
  sdk/communication/azure-communication-phonenumbers/test/_shared/async_fake_token_credential.py
  sdk/communication/azure-communication-phonenumbers/test/_shared/utils.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client_async.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/utils.py
  sdk/communication/azure-communication-sms/azure/communication/sms/aio/_sms_client_async.py
  sdk/communication/azure-communication-sms/samples/sms_token_credential_auth_sample_async.py
  sdk/communication/azure-communication-sms/tests/test_sms_client_async.py
  sdk/communication/azure-communication-sms/tests/test_sms_client_e2e_async.py
Labels: Communication

#19004 address arch board review feedback
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_helpers.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_administration_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_key_credential.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_administration_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_alert_configuration_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_data_feeds_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_datasource_credentials_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_detection_configuration_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_hooks_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_alert_configuration.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_data_feeds.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_datasource_credentials.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_detection_configuration.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_hooks.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/recordings/test_credential_entities_async.test_create_datasource_sql_connection_string.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/recordings/test_credential_entities_async.test_datasource_datalake_gen2_shared_key.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/recordings/test_credential_entities_async.test_datasource_service_principal.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/recordings/test_credential_entities_async.test_datasource_service_principal_in_kv.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/recordings/test_credential_entities_async.test_list_datasource_credentials.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/recordings/test_credential_entities_async.test_update_datasource_datalake_gen2_shared_key.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/recordings/test_credential_entities_async.test_update_datasource_service_principal.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/recordings/test_credential_entities_async.test_update_datasource_service_principal_in_kv.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/recordings/test_credential_entities_async.test_update_datasource_sql_connection_string.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_credential_entities_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_credential_entities.test_create_datasource_sql_connection_string.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_credential_entities.test_datasource_datalake_gen2_shared_key.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_credential_entities.test_datasource_service_principal.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_credential_entities.test_datasource_service_principal_in_kv.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_credential_entities.test_list_datasource_credentials.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_credential_entities.test_update_datasource_datalake_gen2_shared_key.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_credential_entities.test_update_datasource_service_principal.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_credential_entities.test_update_datasource_service_principal_in_kv.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_credential_entities.test_update_datasource_sql_connection_string.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_credential.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_credential_entities.py
Labels: Cognitive - Metrics Advisor

#18837 [EventHubs] Stress test using azure monitor service for metrics/traces/loggings
  sdk/eventhub/azure-eventhub/stress/app_insights_metric.py
  sdk/eventhub/azure-eventhub/stress/azure_eventhub_consumer_stress_async.py
  sdk/eventhub/azure-eventhub/stress/azure_eventhub_consumer_stress_sync.py
  sdk/eventhub/azure-eventhub/stress/azure_eventhub_producer_stress.py
  sdk/eventhub/azure-eventhub/stress/dev_requirement.txt
  sdk/eventhub/azure-eventhub/stress/logger.py
  sdk/eventhub/azure-eventhub/stress/process_monitor.py
  sdk/eventhub/azure-eventhub/stress/stress_runner.py
Labels: Event Hubs, auto-merge

#19019 Handle 6 decimal places cloud event
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_utils.py
  sdk/core/azure-core/tests/test_messaging_cloud_event.py
Labels: Azure.Core

#19025 Event grid 4.3.0 regen code
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_event_grid_publisher_client_enums.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_models_py3.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
  sdk/eventgrid/azure-eventgrid/swagger/README.PYTHON_T2.md
Labels: Event Grid

#19023 [Communication]: Trigger communication ci when sdk/core is changed
  sdk/communication/ci.yml
Labels: Communication

#19028 [ACR] prerelease
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
Labels: Container Registry, auto-merge

#19027 [AppConfig] pre release
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
Labels: App Configuration, auto-merge

#19024 some misc fixes.
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/models/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_hooks_async.py
Labels: Cognitive - Metrics Advisor

#19044 fix misleading url
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_hooks_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_hooks.py
Labels: Cognitive - Metrics Advisor

#19001 [Tables] mypy
  eng/tox/mypy_hard_failure_packages.py
  sdk/tables/azure-data-tables/azure/data/tables/_authentication.py
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_entity.py
  sdk/tables/azure-data-tables/azure/data/tables/_models.py
  sdk/tables/azure-data-tables/azure/data/tables/_policies.py
  sdk/tables/azure-data-tables/azure/data/tables/_serialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_shared_access_signature.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_batch.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_service_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_shared_access_signature.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_base_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_batch_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_service_client_async.py
  sdk/tables/azure-data-tables/mypy.ini
Labels: Tables

#18859 [appconfig] new gen code
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/operations/_azure_app_configuration_operations.py
Labels: App Configuration, auto-merge

#19054 Get rid of DataFeedOptions
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_helpers.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_administration_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_administration_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_data_feeds_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_data_feeds.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/base_testcase_aad_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/base_testcase_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_data_feeds_aad_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_data_feeds_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/base_testcase.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/base_testcase_aad.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_data_feeds.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_data_feeds_aad.py
Labels: Cognitive - Metrics Advisor

#18967 Add environment variable for redirecting IMDS token requests
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/imds.py
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
Labels: Azure.Identity, Client

#19079 hide to_analyze_request
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
Labels: Search

#18997 [Key Vault] Add API version 7.2 for administration
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_configuration.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_key_vault_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_operations_mixin.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/_configuration.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/_key_vault_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/_operations_mixin.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/models.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/_configuration.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/_key_vault_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/_metadata.json
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/aio/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/aio/_configuration.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/aio/_key_vault_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/aio/operations/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/aio/operations/_key_vault_client_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/aio/operations/_role_assignments_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/aio/operations/_role_definitions_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/models/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/models/_key_vault_client_enums.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/models/_models.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/models/_models_py3.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/operations/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/operations/_key_vault_client_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/operations/_role_assignments_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/operations/_role_definitions_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/v7_2/py.typed
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/client_base.py
  sdk/keyvault/azure-keyvault-administration/tests/blob_container_preparer.py
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_access_control.test_role_assignment.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_access_control.test_role_definitions.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_access_control_async.test_role_assignment.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_access_control_async.test_role_definitions.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client.test_full_backup_and_restore.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client.test_selective_key_restore.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client_async.test_full_backup_and_restore.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client_async.test_selective_key_restore.yaml
Labels: Client, KeyVault

#19081 [text analytics] Fix some issues i've found
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_async_paging.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/_operations_mixin.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/aio/_operations_mixin.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_5/_metadata.json
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_5/aio/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_5/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_lro.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_paging.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers_async.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_lro_async.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare.test_show_stats_and_model_version.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_repr.py
Labels: Cognitive - Text Analytics

#18705 [ServiceBus] GA AMQPAnnotatedMessage
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_amqp_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_constants.py
  sdk/servicebus/azure-servicebus/samples/async_samples/send_and_receive_amqp_annotated_message_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/send_and_receive_amqp_annotated_message.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_message.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_repr.py
Labels: Service Bus

#19060 [translation] simplify input to translation
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
  sdk/translation/azure-ai-translation-document/README.md
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_client.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_helpers.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_client_async.py
  sdk/translation/azure-ai-translation-document/samples/README.md
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_begin_translation_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_check_document_statuses_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_translate_multiple_inputs_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_translation_with_azure_blob_async.py
  sdk/translation/azure-ai-translation-document/samples/sample_begin_translation.py
  sdk/translation/azure-ai-translation-document/samples/sample_check_document_statuses.py
  sdk/translation/azure-ai-translation-document/samples/sample_translate_multiple_inputs.py
  sdk/translation/azure-ai-translation-document/samples/sample_translation_with_azure_blob.py
  sdk/translation/azure-ai-translation-document/tests/recordings/test_translation.test_overloaded_inputs.yaml
  sdk/translation/azure-ai-translation-document/tests/recordings/test_translation.test_overloaded_single_input.yaml
  sdk/translation/azure-ai-translation-document/tests/recordings/test_translation_async.test_overloaded_inputs.yaml
  sdk/translation/azure-ai-translation-document/tests/recordings/test_translation_async.test_overloaded_single_input.yaml
  sdk/translation/azure-ai-translation-document/tests/test_translation.py
  sdk/translation/azure-ai-translation-document/tests/test_translation_async.py
Labels: Cognitive - Translator

#19089 Sync eng/common directory with azure-sdk-tools for PR 1658
  eng/common/scripts/Delete-RemoteBranches.ps1
Labels: Central-EngSys, EngSys

#19090 [translation] unskip tests now that correct error status is returned
  sdk/translation/azure-ai-translation-document/tests/recordings/test_translation.test_bad_input_target.yaml
  sdk/translation/azure-ai-translation-document/tests/recordings/test_translation_async.test_bad_input_target.yaml
  sdk/translation/azure-ai-translation-document/tests/test_translation.py
  sdk/translation/azure-ai-translation-document/tests/test_translation_async.py
Labels: Cognitive - Translator

#18846 Read tenant and authority from VS Code user settings
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_internal/linux_vscode_adapter.py
  sdk/identity/azure-identity/azure/identity/_internal/macos_vscode_adapter.py
  sdk/identity/azure-identity/azure/identity/_internal/win_vscode_adapter.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
  sdk/identity/azure-identity/tests/test_vscode_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential_async.py
Labels: Azure.Identity

#19083 Prepare Python packages for June Release
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-sms/CHANGELOG.md
Labels: Communication

#19022 [ACR] Add auth scope
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_authentication_policy.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_authentication_policy.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_exchange_client.py
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_incorrect_authentication_scope.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client_async.test_incorrect_authentication_scope.yaml
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
Labels: Container Registry, auto-merge

#18929 [ACR] parse expiration time from refresh token
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_helpers.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_exchange_client.py
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_expiration_time_parsing.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client_async.test_expiration_time_parsing.yaml
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
Labels: Container Registry, auto-merge

#19088 [Tables] GA review
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/__init__.py
  sdk/tables/azure-data-tables/azure/data/tables/_models.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_service_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_shared_access_signature.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_service_client_async.py
  sdk/tables/azure-data-tables/tests/_shared/testcase.py
  sdk/tables/azure-data-tables/tests/test_table.py
  sdk/tables/azure-data-tables/tests/test_table_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties_cosmos_async.py
Labels: Tables

#19030 [Key Vault] Clarify when content_type is required for cert policies
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
Labels: Client, Docs, KeyVault

#19109 Update metadata for azure-identity 1.7.0b1
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#19106 Clear environment variables before DefaultAzureCredential test
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
Labels: Azure.Identity

#19104 Search remove create from file
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
  sdk/search/azure-search-documents/samples/sample_synonym_map_operations.py
  sdk/search/azure-search-documents/samples/synonym_map.txt
  sdk/search/azure-search-documents/tests/test_synonym_map.py
Labels: Search

#19107 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core

#19111 not expose SearchIndexerKnowledgeStoreProjectionSelector
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
Labels: Search

#19105 [translation] add continuation token tests
  sdk/translation/azure-ai-translation-document/tests/preparer.py
  sdk/translation/azure-ai-translation-document/tests/test_translation.py
  sdk/translation/azure-ai-translation-document/tests/test_translation_async.py
Labels: Cognitive - Translator

#19112 hide SearchIndexerKnowledgeStoreBlobProjectionSelector
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
Labels: Search

#19118 eventgrid regen code
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_event_grid_publisher_client_enums.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_models_py3.py
Labels: Event Grid

#19093 [Service Bus] update absolute expiry time on amqp annotated message
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_amqp_message.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus

#18989 [ACR] Fully qualified reference
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_helpers.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_anon_access_async.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
  sdk/containerregistry/azure-containerregistry/tests/testcase.py
Labels: Container Registry, auto-merge

#19121 Update _event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
Labels: Event Grid

#19021 Sync eng/common directory with azure-sdk-tools for PR 1645
  eng/common/scripts/git-branch-push.ps1
Labels: Central-EngSys, EngSys

#19115 Sync eng/common directory with azure-sdk-tools for PR 1654
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: Central-EngSys, EngSys

#19095 [Tables] changes to not allow strings for credentials
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_authentication_async.py
  sdk/tables/azure-data-tables/samples/sample_authentication.py
  sdk/tables/azure-data-tables/tests/test_table.py
  sdk/tables/azure-data-tables/tests/test_table_async.py
  sdk/tables/azure-data-tables/tests/test_table_client.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
Labels: Tables

#19117 [Tables] Make credential parameter keyword-only
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_service_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_base_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_service_client_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_insert_delete_entities_async.py
  sdk/tables/azure-data-tables/samples/sample_insert_delete_entities.py
  sdk/tables/azure-data-tables/tests/_shared/asynctestcase.py
  sdk/tables/azure-data-tables/tests/test_table.py
  sdk/tables/azure-data-tables/tests/test_table_async.py
  sdk/tables/azure-data-tables/tests/test_table_batch.py
  sdk/tables/azure-data-tables/tests/test_table_batch_async.py
  sdk/tables/azure-data-tables/tests/test_table_batch_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_client.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_stats.py
  sdk/tables/azure-data-tables/tests/test_table_service_stats_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_stats_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_service_stats_cosmos_async.py
Labels: Tables

#19122 [translation] few sample fixes
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_authentication_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_check_document_statuses_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_list_document_statuses_with_filters_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_translate_multiple_inputs_async.py
  sdk/translation/azure-ai-translation-document/samples/sample_check_document_statuses.py
  sdk/translation/azure-ai-translation-document/samples/sample_translate_multiple_inputs.py
Labels: Cognitive - Translator

#19026 [Tables] Release prep
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_models.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_shared_access_signature.py
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/setup.py
Labels: Tables, auto-merge

#19130 [ACR] fixing parsing for py27
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_helpers.py
Labels: Container Registry, auto-merge

#19128 [ServiceBus] Prepare for release
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_amqp_message.py
  sdk/servicebus/azure-servicebus/samples/README.md
Labels: Service Bus

#19135 pylint issue snuck in
  sdk/tables/azure-data-tables/azure/data/tables/_table_service_client.py
Labels: Tables, auto-merge

#19134 Increment version for metricsadvisor releases
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_version.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/setup.py
Labels: Cognitive - Metrics Advisor

#19138 [Tables] fixing a typo
  sdk/tables/azure-data-tables/azure/data/tables/_common_conversion.py
Labels: Tables, auto-merge

#19137 [Key Vault] Update metadata for certs, keys, and secrets
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
Labels: Client, KeyVault

#19133 [Key Vault] Clean up docstring class references for certs, keys, secrets
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
Labels: Client, KeyVault

#19031 Cosmos DB Python SDK updates
  sdk/cosmos/azure-cosmos/README.md
Labels: Cosmos

#19139 [translation] release prep
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
  sdk/translation/azure-ai-translation-document/README.md
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/__init__.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_api_version.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_client.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_helpers.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_models.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_polling.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/__init__.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_async_polling.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_client_async.py
  sdk/translation/azure-ai-translation-document/samples/README.md
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_list_document_statuses_with_filters_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_list_translations_with_filters_async.py
  sdk/translation/azure-ai-translation-document/samples/sample_list_document_statuses_with_filters.py
  sdk/translation/azure-ai-translation-document/samples/sample_list_translations_with_filters.py
Labels: Cognitive - Translator

#19142 [text analytics] fix stats for analyze and healthcare
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_policies.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.test_disable_service_logs.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
  tools/azure-sdk-tools/devtools_testutils/cognitiveservices_testcase.py
Labels: Cognitive - Text Analytics

#19148 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
Labels: App Configuration, auto-merge

#19143 [Tables] Update TableAccessPolicy deserialization
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/tests/_shared/testcase.py
  sdk/tables/azure-data-tables/tests/recordings/test_table.test_set_table_acl_too_many_ids.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table.test_set_table_acl_with_empty_signed_identifier.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table.test_set_table_acl_with_empty_signed_identifiers.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table.test_set_table_acl_with_signed_identifiers.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_async.test_set_table_acl_too_many_ids.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_async.test_set_table_acl_with_empty_signed_identifier.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_async.test_set_table_acl_with_empty_signed_identifiers.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_async.test_set_table_acl_with_signed_identifiers.yaml
  sdk/tables/azure-data-tables/tests/test_table.py
  sdk/tables/azure-data-tables/tests/test_table_async.py
Labels: Tables

#19149 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#19150 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
  sdk/search/azure-search-documents/setup.py
Labels: Search

#19154 Increment version for translation releases
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_version.py
Labels: auto-merge

#19152 Increment version for containerregistry releases
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_version.py
Labels: Container Registry, auto-merge

#19151 Sync eng/common directory with azure-sdk-tools for PR 1633
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys

#19140 [formrecognizer] valueObject and valueArray are optional even if value_type is returned
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_invoice_from_url.test_invoice_no_sub_line_items.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Cognitive - Form Recognizer

#19161 update to GA swagger
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/_configuration.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/_microsoft_azure_metrics_advisor_restapi_open_ap_iv2.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/aio/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/aio/_configuration.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/aio/_microsoft_azure_metrics_advisor_restapi_open_ap_iv2.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/aio/operations/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/aio/operations/_microsoft_azure_metrics_advisor_restapi_open_ap_iv2_operations.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/models/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/models/_microsoft_azure_metrics_advisor_restapi_open_ap_iv2_enums.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/models/_models.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/models/_models_py3.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/operations/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/operations/_microsoft_azure_metrics_advisor_restapi_open_ap_iv2_operations.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_administration_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_administration_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/__init__.py
Labels: Cognitive - Metrics Advisor

#19132 EG prep for release
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_event_grid_publisher_client_enums.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_models_py3.py
  sdk/eventgrid/azure-eventgrid/swagger/README.PYTHON_T2.md
  sdk/eventgrid/azure-eventgrid/swagger/postprocess_eventnames.py
  sdk/eventgrid/azure-eventgrid/tests/test_serialization.py
Labels: Event Grid

#19141 [Key Vault] Make issuer_name optional to support cert import
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_models.py
Labels: Client, KeyVault

#19179 [Tables] fixing readme
  sdk/tables/azure-data-tables/README.md
Labels: Tables, auto-merge

#19185 Update CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
Labels: Event Grid

#19039 [Storage][Test] Test multiple service versions
  sdk/storage/azure-storage-blob/tests/_shared/service_versions.py
  sdk/storage/azure-storage-blob/tests/_shared/testcase.py
  sdk/storage/azure-storage-blob/tests/test_blob_tags.py
  sdk/storage/azure-storage-queue/tests/_shared/service_versions.py
  sdk/storage/azure-storage-queue/tests/_shared/testcase.py
  sdk/storage/azure-storage-queue/tests/test_queue_service_stats.py
  sdk/storage/platform-matrix-all-versions.json
  sdk/storage/tests.yml
Labels: Storage, test enhancement

#19189 Tables failures
  sdk/tables/azure-data-tables/tests/test_table_service_properties.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties_async.py
Labels: Storage, Tables, auto-merge

#19181 STG77 GA APIView comments
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Labels: Storage

#19196 Sync eng/common directory with azure-sdk-tools for PR 1685
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#19215 update custom_granularity_value to be more than 300
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/recordings/test_data_feeds_aad_async.test_create_data_feed_from_sql_server_with_custom_values.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/recordings/test_data_feeds_async.test_create_data_feed_from_sql_server_with_custom_values.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_data_feeds_aad_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_data_feeds_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_data_feeds.test_create_data_feed_from_sql_server_with_custom_values.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_data_feeds_aad.test_create_data_feed_from_sql_server_with_custom_values.yaml
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_data_feeds.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_data_feeds_aad.py
Labels: Cognitive - Metrics Advisor

#19190 [translation] enable samples to run in CI
  scripts/devops_tasks/test_run_samples.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_check_document_statuses_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_translation_with_azure_blob_async.py
  sdk/translation/test-resources.json
  sdk/translation/tests.yml
Labels: Cognitive - Translator

#19217 [textanalytics] remove warning tests
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_extract_key_phrases.test_document_warnings.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_extract_key_phrases_async.test_document_warnings.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_extract_key_phrases_async.py
Labels: Cognitive - Text Analytics, auto-merge

#19099 [Key Vault] Address administration feedback
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/README.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_enums.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_models.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/setup.py
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client.test_full_backup_and_restore.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client.test_selective_key_restore.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client_async.test_full_backup_and_restore.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client_async.test_selective_key_restore.yaml
  sdk/keyvault/azure-keyvault-administration/tests/test_access_control.py
  sdk/keyvault/azure-keyvault-administration/tests/test_access_control_async.py
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client.py
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client_async.py
  shared_requirements.txt
Labels: Client, KeyVault

#19192 Increment version for tables releases
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
Labels: Tables

#18994 [text analytics] change return type of analyze actions to list of list
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_request_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_actions_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_actions.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_repr.py
  sdk/textanalytics/azure-ai-textanalytics/tests/testcase.py
Labels: Cognitive - Text Analytics

#19246 Run mypy in azure-keyvault-administration CI
  eng/tox/mypy_hard_failure_packages.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-administration/mypy.ini
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/challenge_auth_policy.py
Labels: KeyVault

#19197 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#19223 [textanalytics] add categories filter to RecognizePiiEntitiesAction
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
Labels: Cognitive - Text Analytics

#18531 Enable tests for integration samples
  scripts/devops_tasks/test_run_samples.py
  sdk/eventgrid/azure-eventgrid/dev_requirements.txt
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/consume_cloud_events_from_eventhub.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/consume_cloud_events_from_storage_queue.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/consume_eventgrid_events_from_service_bus_queue.py
  sdk/eventgrid/tests.yml
Labels: Event Grid

#19265 add base class for feedback
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_administration_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_administration_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_detection_configuration_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_queries_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_detection_configuration.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_queries.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/base_testcase_aad_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/base_testcase_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_detection_config_aad_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_detection_config_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_metrics_advisor_client_aad_live_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_metrics_advisor_client_live_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/base_testcase.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/base_testcase_aad.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_detection_config.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_detection_config_aad.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_metrics_advisor_client_aad_live.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_metrics_advisor_client_live.py
Labels: Cognitive - Metrics Advisor

#19272 Sync eng/common directory with azure-sdk-tools for PR 1688
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys

#19275 [Key Vault] Update READMEs with RBAC information
  sdk/keyvault/azure-keyvault-administration/README.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-secrets/README.md
Labels: Client, Docs, KeyVault

#18781 Removed example docstring for concision
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/policies.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
Labels: Storage

#19270 [textanalytics] add ARM template + run samples in CI
  sdk/textanalytics/azure-ai-textanalytics/dev_requirements.txt
  sdk/textanalytics/azure-ai-textanalytics/tests/asynctestcase.py
  sdk/textanalytics/azure-ai-textanalytics/tests/conftest.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare_async.test_cancellation.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_auth.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_auth_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_context_manager.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_context_manager_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_detect_language.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_detect_language_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_encoding.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_encoding_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_multiapi.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_multiapi_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/testcase.py
  sdk/textanalytics/test-resources.json
  sdk/textanalytics/tests.yml
Labels: Cognitive - Text Analytics

#19280 renaming
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_administration_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_version.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_administration_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/setup.py
Labels: Cognitive - Metrics Advisor

#19284 [Key Vault] Rename KeyVaultBackupOperation to KeyVaultBackupResult
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_models.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_backup_client.py
Labels: Client, KeyVault

#18857 [AppConfig] enable samples
  sdk/appconfiguration/tests.yml
Labels: App Configuration, auto-merge

#19286 [Key Vault] Update metadata for release
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
  sdk/keyvault/azure-keyvault-administration/setup.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
Labels: Client, KeyVault

#19285 [translation] renames
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
  sdk/translation/azure-ai-translation-document/README.md
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/__init__.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_client.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_models.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_polling.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_async_polling.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_client_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_authentication_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_list_all_translations_async.py
  sdk/translation/azure-ai-translation-document/samples/sample_authentication.py
  sdk/translation/azure-ai-translation-document/samples/sample_list_all_translations.py
  sdk/translation/azure-ai-translation-document/tests/test_supported_formats.py
  sdk/translation/azure-ai-translation-document/tests/test_supported_formats_async.py
Labels: Cognitive - Translator

#18858 [AppConfig] mypy fixes
  eng/tox/mypy_hard_failure_packages.py
  sdk/appconfiguration/azure-appconfiguration/azure/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_sync_token.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_utils.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_configuration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/mypy.ini
Labels: App Configuration, auto-merge

#19299 Tables aad
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_service_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_service_client_async.py
  sdk/tables/azure-data-tables/tests/_shared/asynctestcase.py
  sdk/tables/azure-data-tables/tests/_shared/testcase.py
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad.test_aad_access_policy_error.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad.test_aad_batch_all_operations_together.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad.test_aad_create_table.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad.test_aad_create_table_tc.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad.test_aad_delete_entities.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad.test_aad_insert_entity_dictionary.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad.test_aad_list_entities.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad.test_aad_query_list_tables.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad.test_aad_query_user_filter.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad.test_aad_service_properties.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad.test_aad_table_service_stats.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad.test_create_table_aad.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad.test_merge_entity.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad.test_query_user_filter.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad_async.test_aad_access_policy_error.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad_async.test_aad_batch_all_operations_together.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad_async.test_aad_create_table.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad_async.test_aad_create_table_tc.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad_async.test_aad_delete_entities.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad_async.test_aad_insert_entity_dictionary.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad_async.test_aad_list_entities.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad_async.test_aad_query_list_tables.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad_async.test_aad_query_user_filter.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad_async.test_aad_service_properties.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad_async.test_aad_table_service_stats.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad_async.test_create_table_aad.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad_async.test_insert_entity_dictionary.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_aad_async.test_merge_entity.yaml
  sdk/tables/azure-data-tables/tests/test_table_aad.py
  sdk/tables/azure-data-tables/tests/test_table_aad_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_stats.py
  sdk/tables/test-resources.json
Labels: Tables, auto-merge

#19229 Add login_hint argument to InteractiveBrowserCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
Labels: Azure.Identity

#19331 Remaining Hardcoded to `master` items
  scripts/auto_release/main.py
  scripts/devops_tasks/test_regression.py
  sdk/containerregistry/azure-mgmt-containerregistry/tests/disable_test_mgmt_containerregistry_2018_02_01_preview.py
Labels: Container Registry

#19333 Sync eng/common directory with azure-sdk-tools for PR 1711
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#19340 [Key Vault] Update release dates for KV packages
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
Labels: Client, KeyVault

#19342 add check before printing receipt items
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_receipts_from_url.py
Labels: Cognitive - Form Recognizer

#19339 flatten DimensionGroupIdentity
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
Labels: Cognitive - Metrics Advisor

#19338 [Perf] Support for test proxy and profiling
  .gitignore
  doc/dev/perfstress_tests.md
  sdk/keyvault/azure-keyvault-secrets/tests/perfstress_tests/get_secret.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/tests/perfstress_tests/README.md
  sdk/storage/azure-storage-blob/tests/perfstress_tests/T1_legacy_tests/_test_base_legacy.py
  sdk/storage/azure-storage-blob/tests/perfstress_tests/_test_base.py
  sdk/storage/azure-storage-blob/tests/perfstress_tests/list_blobs.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/_policies.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/perf_stress_runner.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/perf_stress_test.py
Labels: Storage

#19366 Sync eng/common directory with azure-sdk-tools for PR 1716
  eng/common/README.md
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#19311 [Key Vault] Update test-resources.json for new MHSM API
  sdk/keyvault/test-resources.json
Labels: Client, KeyVault

#19377 Sync eng/common directory with azure-sdk-tools for PR 1719
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: Central-EngSys, EngSys

#19379 [metricsadvisor] missed data feeds test clean up
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/base_testcase_aad_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/base_testcase_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/base_testcase.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/base_testcase_aad.py
Labels: Cognitive - Metrics Advisor

#19233 [Service Bus]Match the partition key with session id only when both are set
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Service Bus, auto-merge, customer-reported

#19399 [Key Vault] Update changelog release dates
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
Labels: Client, KeyVault

#19259 Cloud event should parse smaller ms precisions
  sdk/core/azure-core/tests/test_messaging_cloud_event.py
Labels: Azure.Core

#19402 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
Labels: KeyVault

#19266 [textanalytics] add HealthcareEntityCategory + move aliased enums to models
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
Labels: Cognitive - Text Analytics

#19404 [Key Vault] Extend pipeline test timeout
  sdk/keyvault/tests.yml
Labels: Client, KeyVault

#19262 Adapt EG to arm template
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_cloud_events_to_domain_topic_sample.py
  sdk/eventgrid/test-resources.json
  sdk/eventgrid/tests.yml
Labels: Event Grid

#19314 [EventHubs] Get IoT Hub Name from Redirect Address in sample
  sdk/eventhub/azure-eventhub/samples/async_samples/iot_hub_connection_string_receive_async.py
Labels: Event Hubs, auto-merge

#19429 [EventHubs] Fix bug in sending stress test code and update default stress test settings
  sdk/eventhub/azure-eventhub/stress/azure_eventhub_producer_stress.py
  sdk/eventhub/azure-eventhub/stress/stress_runner.cfg
Labels: Event Hubs, auto-merge

#19195 Async/BearerTokenCredentialPolicy consistently calls on_exception
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication_async.py
  sdk/core/azure-core/tests/async_tests/test_authentication_async.py
  sdk/core/azure-core/tests/test_authentication.py
Labels: Azure.Core

#19415 Sync eng/common directory with azure-sdk-tools for PR 1729
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: Central-EngSys, EngSys

#19432 Sync eng/common directory with azure-sdk-tools for PR 1736
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
Labels: Central-EngSys, EngSys

#19436 ignore coretestserver readme
  eng/.docsettings.yml
Labels: auto-merge

#19441 [textanalytics] remove dummy classes from samples
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_lro.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_lro_async.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_alternative_document_input_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_actions_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_healthcare_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_healthcare_entities_with_cancellation_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_sentiment_with_opinion_mining_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_authentication_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_detect_language_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_get_detailed_diagnostics_information_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_pii_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_alternative_document_input.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_actions.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_healthcare_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_healthcare_entities_with_cancellation.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_sentiment_with_opinion_mining.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_authentication.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_detect_language.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_get_detailed_diagnostics_information.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_pii_entities.py
Labels: Cognitive - Text Analytics

#19471 Sync eng/common directory with azure-sdk-tools for PR 1739
  eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#19365 CAE support for azure-mgmt-core
  sdk/core/azure-mgmt-core/CHANGELOG.md
  sdk/core/azure-mgmt-core/azure/mgmt/core/_version.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/policies/__init__.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/policies/_authentication.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/policies/_authentication_async.py
  sdk/core/azure-mgmt-core/setup.py
  sdk/core/azure-mgmt-core/tests/asynctests/test_authentication_async.py
  sdk/core/azure-mgmt-core/tests/test_authentication.py
  shared_requirements.txt
Labels: Azure.Core, Azure.Mgmt.Core

#19423 Make IMDS unavailability easier to debug
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/imds.py
Labels: Azure.Identity

#19473 [textanalytics] APIView feedback
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_healthcare_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_healthcare_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
Labels: Cognitive - Text Analytics

#19171 [Event Hubs] [Service Bus] add logging snippet to readme
  sdk/eventhub/azure-eventhub/README.md
  sdk/servicebus/azure-servicebus/README.md
Labels: Event Hubs, Service Bus

#19153 [core] add testserver
  eng/.docsettings.yml
  sdk/core/azure-core/dev_requirements.txt
  sdk/core/azure-core/tests/testserver_tests/conftest.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/README.rst
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/__init__.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/__init__.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/basic.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/encoding.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/errors.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/helpers.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/multipart.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/streams.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/urlencoded.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/xml_route.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/setup.py
  sdk/core/azure-core/tests/testserver_tests/test_testserver.py
  sdk/core/azure-core/tests/testserver_tests/test_testserver_async.py
Labels: Azure.Core

#19416 Improved error message in the `from_dict`
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/messaging.py
  sdk/core/azure-core/tests/test_messaging_cloud_event.py
Labels: Azure.Core

#19546 modify _on to _time
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_alert_configuration_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/sample_alert_configuration.py
Labels: Cognitive - Metrics Advisor

#19547 [Tables] updating docstring
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_base_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_service_client_async.py
Labels: Tables, auto-merge

#18751 [Storage][Blob][Fix]fix get_block_list bug
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/tests/test_large_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_large_block_blob_async.py
Labels: Storage

#18147 Raise appropriate exception when error_body is dict | Fix exception raised during handling of another exception
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/response_handlers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_deserialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/response_handlers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/response_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/response_handlers.py
Labels: Storage

#19548 Support kind keyword in Opencensus
  sdk/core/azure-core-tracing-opencensus/CHANGELOG.md
  sdk/core/azure-core-tracing-opencensus/azure/core/tracing/ext/opencensus_span/__init__.py
  sdk/core/azure-core-tracing-opencensus/setup.py
  sdk/core/azure-core-tracing-opencensus/tests/test_tracing_implementations.py
  shared_requirements.txt
Labels: Azure.Core

#19560 [core]add changelog for `azure-mgmt-core` of 1.3.0
  sdk/core/azure-mgmt-core/CHANGELOG.md
  sdk/core/azure-mgmt-core/azure/mgmt/core/_version.py
Labels: Azure.Core

#19276 [Blob][Fileshare] Ensured that download fails if blob/file modified mid download
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_download_blob_modified.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_download_blob_modified.yaml
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_download.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_download_async.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_get_file.test_download_file_modified.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_get_file_async.test_download_file_modified.yaml
  sdk/storage/azure-storage-file-share/tests/test_get_file.py
  sdk/storage/azure-storage-file-share/tests/test_get_file_async.py
Labels: Storage

#19437 [ServiceBus] Fix mktime overflow and milliseconds miscalculation issue
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_amqp_message.py
  sdk/servicebus/azure-servicebus/setup.py
  shared_requirements.txt
Labels: Service Bus

#19287 [EventHub] only amqp annotated message
  scripts/devops_tasks/test_run_samples.py
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/amqp/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/amqp/_amqp_message.py
  sdk/eventhub/azure-eventhub/azure/eventhub/amqp/_constants.py
  sdk/eventhub/azure-eventhub/samples/async_samples/send_and_receive_amqp_annotated_message_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/send_and_receive_amqp_annotated_message.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_receive_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_send_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_receive.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_send.py
  sdk/eventhub/azure-eventhub/tests/unittest/test_event_data.py
Labels: Event Hubs

#19501 [ServiceBus] Stress test embracing appinsights
  sdk/servicebus/azure-servicebus/tests/stress_tests/app_insights_metric.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/dev_requirements.txt
  sdk/servicebus/azure-servicebus/tests/stress_tests/logger.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/stress_runner.py
  sdk/servicebus/azure-servicebus/tests/stress_tests/stress_test_base.py
Labels: Service Bus

#19329 optional run black for formatting
  eng/ci_tools.txt
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/steps/analyze.yml
  eng/pipelines/templates/steps/run_black.yml
  scripts/devops_tasks/validate_formatting.py
  sdk/template/azure-template/azure/__init__.py
  sdk/template/azure-template/azure/template/__init__.py
  sdk/template/azure-template/azure/template/_version.py
  sdk/template/azure-template/samples/sample_simple.py
  sdk/template/azure-template/setup.py
  sdk/template/ci.yml
Labels: EngSys, auto-merge

#19569 [AppConfig] release checklist
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
  sdk/appconfiguration/azure-appconfiguration/setup.py
Labels: App Configuration

#19570 [Tables] release checklist
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
Labels: Tables, auto-merge

#19554 [textanalytics] fix healthcare result types for statistics/warnings
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
Labels: Cognitive - Text Analytics

#19578 patching black run
  scripts/devops_tasks/validate_formatting.py
Labels: auto-merge

#19580 update release date
  sdk/core/azure-core-tracing-opencensus/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-mgmt-core/CHANGELOG.md
Labels: Azure.Core

#19575 [EventHubs] update uamqp dependency to 1.4.1
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/setup.py
  shared_requirements.txt
Labels: Event Hubs

#19550 [textanalytics] only allow one action per type
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.test_partial_success_for_actions.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.test_partial_success_for_actions.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
Labels: Cognitive - Text Analytics

#19392 Add support for regional STS
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/_enums.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  shared_requirements.txt
Labels: Azure.Identity

#19403 Add AzureApplicationCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/application.py
  sdk/identity/azure-identity/tests/test_application_credential.py
  sdk/identity/azure-identity/tests/test_application_credential_async.py
Labels: Azure.Identity, Client

#19590 [textanalytics] run black
  sdk/textanalytics/azure-ai-textanalytics/azure/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_base_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_lro.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_policies.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_request_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers_async.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_base_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_lro_async.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
Labels: Cognitive - Text Analytics

#19586 Sync eng/common directory with azure-sdk-tools for PR 1759
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: Central-EngSys, EngSys

#19589 [textanalytics] docs sweep
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_lro.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_lro_async.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_sentiment_with_opinion_mining_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_pii_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_sentiment_with_opinion_mining.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_pii_entities.py
Labels: Cognitive - Text Analytics
