Repository Azure/azure-sdk-for-python, pull requests merged in 2021-10, with the labels that each got.

#20416 [Key Vault] Add support for key rotation
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_enums.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_key_rotation_7_3_preview_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_key_rotation_policy_7_3_preview_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_key_rotation_7_3_preview_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_key_rotation_policy_7_3_preview_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/test-resources.json
Labels: KeyVault, Client

#20992 Update README.md
  sdk/cosmos/azure-cosmos/README.md
Labels: Cosmos

#20996 [formrecognizer] add prebuilt document to readme examples
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_prebuilt_document_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_prebuilt_document.py
Labels: Cognitive - Form Recognizer

#20977 [Search] Regenerate Search SDK
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/azure/search/documents/_generated/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_search_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_search_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_search_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/models/__init__.py
  sdk/search/azure-search-documents/samples/async_samples/sample_semantic_search_async.py
  sdk/search/azure-search-documents/samples/sample_semantic_search.py
  sdk/search/azure-search-documents/setup.py
Labels: Search

#21012 [formrecognizer] updating docs with aka.ms links
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_analysis_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_analysis_client_async.py
Labels: Cognitive - Form Recognizer

#20963 [formrecognizer] Update changelog for release
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer

#20965 [SchemaRegistry] rename namespace
  sdk/schemaregistry/azure-schemaregistry-avroserializer/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/__init__.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_schema_registry_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/eventhub_receive_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/eventhub_send_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_with_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_without_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/test_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/serializer/__init__.py
Labels: Schema Registry, auto-merge

#21014 [search] regen documents
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_search_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_search_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/setup.py
  shared_requirements.txt
Labels: Search

#20960 [formrecognizer] Add migration guide
  sdk/formrecognizer/azure-ai-formrecognizer/MIGRATION_GUIDE.md
Labels: Cognitive - Form Recognizer

#20940 Update Multi-Tenant support to incorporate Arch Board Feedback
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/silent.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_internal/__init__.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/get_token_mixin.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/get_token_mixin.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_aad_client_async.py
  sdk/identity/azure-identity/tests/test_auth_code.py
  sdk/identity/azure-identity/tests/test_auth_code_async.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_cli_credential.py
  sdk/identity/azure-identity/tests/test_cli_credential_async.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_obo.py
  sdk/identity/azure-identity/tests/test_obo_async.py
  sdk/identity/azure-identity/tests/test_powershell_credential.py
  sdk/identity/azure-identity/tests/test_powershell_credential_async.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
  sdk/identity/azure-identity/tests/test_vscode_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential_async.py
Labels: Azure.Identity

#21018 Sync eng/common directory with azure-sdk-tools for PR 2060
  eng/common/testproxy/docker-start-proxy.ps1
Labels: EngSys, Central-EngSys

#21016 [formrecognizer] update links
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
Labels: Cognitive - Form Recognizer

#20780 [Identity] Update README based on consistency review
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/images/AzureCliLogin.png
  sdk/identity/azure-identity/images/AzureCliLoginDeviceCode.png
  sdk/identity/azure-identity/images/VsCodeLoginCommand.png
Labels: Docs, Client, Azure.Identity

#20966 [Identity] Align samples with other languages
  sdk/identity/azure-identity/samples/README.md
  sdk/identity/azure-identity/samples/custom_credentials.py
  sdk/identity/azure-identity/samples/user_authentication.py
Labels: Docs, Client, Azure.Identity

#21021 Update setup.py
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/setup.py
Labels: Event Grid

#21019 [conversations] initial
  eng/tox/allowed_pylint_failures.py
  sdk/cognitivelanguage/azure-ai-language-conversations/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-conversations/MANIFEST.in
  sdk/cognitivelanguage/azure-ai-language-conversations/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_conversation_analysis_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_version.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_conversation_analysis_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/operations/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/models/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/models/_conversation_analysis_client_enums.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/models/_models.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/models/_models_py3.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/operations/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/py.typed
  sdk/cognitivelanguage/azure-ai-language-conversations/dev_requirements.txt
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_analyze_conversation_app_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_analyze_workflow_app_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_analyze_workflow_app_with_params_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_authentication_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/sample_analyze_conversation_app.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/sample_analyze_workflow_app.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/sample_analyze_workflow_app_with_params.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/sample_authentication.py
  sdk/cognitivelanguage/azure-ai-language-conversations/sdk_packaging.toml
  sdk/cognitivelanguage/azure-ai-language-conversations/setup.cfg
  sdk/cognitivelanguage/azure-ai-language-conversations/setup.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/asynctestcase.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/conftest.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_conversation_app.test_conversation_app.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_conversation_app.test_conversation_app_with_dictparams.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_conversation_app_async.test_conversation_app.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_conversation_app_async.test_conversation_app_with_dictparams.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_workflow_app.test_workflow_app.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_workflow_app.test_workflow_app_with_model.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_workflow_app.test_workflow_app_with_parameters.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_workflow_app_async.test_workflow_app.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_workflow_app_async.test_workflow_app_with_model.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_workflow_app_async.test_workflow_app_with_parameters.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conversation_app.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conversation_app_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_workflow_app.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_workflow_app_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_workflow_direct.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_workflow_direct_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/testcase.py
  sdk/cognitivelanguage/ci.yml
  shared_requirements.txt
Labels: auto-merge

#21020 [SchemaRegistry] remove all serializer caches
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_schema_registry_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_with_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_without_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/test_avro_serializer.py
Labels: Schema Registry, auto-merge

#20982 [Schema Registry] Update 3.10 and 2.7 disclaimer
  sdk/schemaregistry/azure-schemaregistry-avroserializer/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/README.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/setup.py
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/README.md
  sdk/schemaregistry/azure-schemaregistry/setup.py
  shared_requirements.txt
Labels: Schema Registry

#21031 [formrecognizer] Adding terminology section
  sdk/formrecognizer/azure-ai-formrecognizer/MIGRATION_GUIDE.md
Labels: Cognitive - Form Recognizer

#21030 [formrecognizer] docs edits
  sdk/formrecognizer/azure-ai-formrecognizer/MIGRATION_GUIDE.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_async_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_layout_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_build_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_layout.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_build_model.py
Labels: Cognitive - Form Recognizer

#21033 [formrecognizer] Run black on code
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_api_versions.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_analysis_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_base_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_helpers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_async_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_analysis_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_base_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
Labels: Cognitive - Form Recognizer

#21040 [SchemaRegistry] prepare for release
  sdk/schemaregistry/azure-schemaregistry-avroserializer/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/README.md
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/README.md
Labels: Schema Registry, auto-merge

#20999 respect text encoding specified in argument
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py
Labels: Azure.Core

#21029 Changes for implementing server calling APIs
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/__init__.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_call_connection.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_callingserver_client.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_content_downloader.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_converters/__init__.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_download.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_models.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_shared/policy.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/aio/_call_connection_async.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/aio/_callingserver_client_async.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/utils/__init__.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/utils/_utils.py
  sdk/communication/azure-communication-callingserver/dev_requirements.txt
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_download_content.test_download_content_to_stream.yaml
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_download_content.test_download_content_to_stream_on_chunks.yaml
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_download_content.test_download_content_to_stream_on_chunks_parallel.yaml
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_download_content.test_download_content_to_stream_with_redirection.yaml
  sdk/communication/azure-communication-callingserver/tests/test_live_download_content.py
Labels: Communication

#21032 [formrecognizer] Doc fixes
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/MIGRATION_GUIDE.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_analysis_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_async_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_analysis_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
Labels: Cognitive - Form Recognizer

#21034 Sync eng/common directory with azure-sdk-tools for PR 2065
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#21055 Update _event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
Labels: Event Grid

#21056 Update CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer

#21053 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search, auto-merge

#21024 [SchemaRegistry] update serializer dependency to srb3
  sdk/schemaregistry/azure-schemaregistry-avroserializer/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/README.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_schema_registry_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/eventhub_receive_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/eventhub_send_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/setup.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_with_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_without_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/test_avro_serializer.py
  shared_requirements.txt
Labels: Schema Registry, auto-merge

#21006 [Key Vault] Add KeyClient.get_cryptography_client method
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/async_client_base.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/client_base.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_get_cryptography_client_2016_10_01_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_get_cryptography_client_7_0_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_get_cryptography_client_7_1_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_get_cryptography_client_7_2_mhsm.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_get_cryptography_client_7_2_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_get_cryptography_client_7_3_preview_mhsm.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_get_cryptography_client_7_3_preview_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_get_cryptography_client_2016_10_01_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_get_cryptography_client_7_0_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_get_cryptography_client_7_1_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_get_cryptography_client_7_2_mhsm.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_get_cryptography_client_7_2_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_get_cryptography_client_7_3_preview_mhsm.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_get_cryptography_client_7_3_preview_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py
Labels: KeyVault, Client

#21072 [formrecognizer] Rename general document model
  sdk/formrecognizer/azure-ai-formrecognizer/MIGRATION_GUIDE.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_analysis_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_analysis_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_general_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_general_documents.py
Labels: Cognitive - Form Recognizer

#21075 [SchemaRegistry] backports override
  sdk/schemaregistry/azure-schemaregistry-avroserializer/setup.py
  shared_requirements.txt
Labels: Schema Registry

#21065 Sync eng/common directory with azure-sdk-tools for PR 2068
  eng/common/pipelines/templates/steps/devops-variables-clear.yml
  eng/common/pipelines/templates/steps/devops-variables-set.yml
Labels: EngSys, Central-EngSys

#19953 [EventHubs & ServiceBus] raise error for loop param if Python 3.10
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_async_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_utils.py
Labels: Service Bus, Event Hubs

#21089 [formrecognizer] Address migration guide feedback
  sdk/formrecognizer/azure-ai-formrecognizer/MIGRATION_GUIDE.md
Labels: Cognitive - Form Recognizer

#21088 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: auto-merge

#21095 [SchemaRegistry] update changelog date
  sdk/schemaregistry/azure-schemaregistry-avroserializer/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/README.md
Labels: Schema Registry, auto-merge

#21475 [Search] Add reset_documents and reset_skills operations
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
  sdk/search/azure-search-documents/tests/async_tests/recordings/test_search_index_client_skillset_live_async.test_create_skillset.yaml
  sdk/search/azure-search-documents/tests/async_tests/test_search_index_client_skillset_live_async.py
  sdk/search/azure-search-documents/tests/recordings/test_search_index_client_skillset_live.test_create_skillset.yaml
  sdk/search/azure-search-documents/tests/test_search_index_client_skillset_live.py
Labels: Search

#21478 [SchemaRegistry] fix failing avro tests
  sdk/schemaregistry/azure-schemaregistry-avroserializer/setup.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_with_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_without_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_parse_error_schema_as_record.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_parse_record_name.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_serialize_primitive.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_serialize_record.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_basic_sr_avro_serializer_with_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_basic_sr_avro_serializer_without_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_parse_error_schema_as_record.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_parse_record_name.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_serialize_primitive.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_serialize_record.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/test_avro_serializer_async.py
  shared_requirements.txt
Labels: Schema Registry

#21474 [SchemaRegistry] remove serializer namespace from client package
  sdk/schemaregistry/azure-schemaregistry-avroserializer/MANIFEST.in
  sdk/schemaregistry/azure-schemaregistry-avroserializer/setup.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/serializer/__init__.py
Labels: Schema Registry

#21322 [Identity] Fix multi-tenant authentication using async AadClient
  sdk/identity/azure-identity/azure/identity/aio/_internal/aad_client.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
Labels: Client, Azure.Identity

#21457 [Schema Registry] bug bash docs
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/README.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_constants.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_schema.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_schema_registry_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_version.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_schema_registry_client_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/README.md
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/sample_code_schemaregistry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/sample_code_schemaregistry.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/schema_registry.py
  sdk/schemaregistry/azure-schemaregistry/setup.py
Labels: Schema Registry, auto-merge

#21498 [textanalytics] custom model docstrings edits
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
Labels: Cognitive - Text Analytics
