Repository Azure/azure-sdk-for-python, pull requests merged in 2021-03, with the labels that each got.

#16427 [ServiceBus] Improve AMQP Error handling
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
  sdk/servicebus/azure-servicebus/tests/livetest/test_errors.py
Labels: Service Bus

#16847 adds support for milliseconds on datetime objects
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_common_conversion.py
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_datetime_milliseconds.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_query_user_filter_datetimes.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_datetime_milliseconds.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_query_user_filter_datetimes.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_datetime_milliseconds.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_query_user_filter_datetimes.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos_async.test_datetime_milliseconds.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos_async.test_query_user_filter_datetimes.yaml
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos_async.py
Labels: Tables, auto-merge

#16809 Appconfig perf test
  sdk/appconfiguration/azure-appconfiguration/dev_requirements.txt
  sdk/appconfiguration/azure-appconfiguration/tests/perfstress_tests/README.md
  sdk/appconfiguration/azure-appconfiguration/tests/perfstress_tests/__init__.py
  sdk/appconfiguration/azure-appconfiguration/tests/perfstress_tests/get.py
  sdk/appconfiguration/azure-appconfiguration/tests/perfstress_tests/set.py
Labels: App Configuration

#16989 [eventgrid] Black formatting and tests suite
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_constants.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_helpers.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_policies.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_signature_credential_policy.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_event_grid_event_dict_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_generate_sas.py
Labels: Event Grid

#16987 Fixed Content-MD5 serialization and typing
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_blob_content_md5.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_blob_content_md5.yaml
  sdk/storage/azure-storage-blob/tests/test_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
Labels: Storage

#16983 Fixed delete_blob() method signature
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
Labels: Storage

#16986 [EventGrid] Improve docs
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_models.py
  sdk/eventgrid/azure-eventgrid/migration_guide.md
  sdk/eventgrid/azure-eventgrid/samples/README.md
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_cloud_event_using_dict_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_events_using_cloud_events_1.0_schema_async.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/consume_cloud_events_from_storage_queue.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/consume_eventgrid_events_from_service_bus_queue.py
Labels: Event Grid

#16975 STG76 GA Changelog
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
Labels: Storage

#17007 Fixed STG76 GA setup.py classifier
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/setup.py
Labels: Storage

#16885 Fixing credentials to use AAD
  sdk/appconfiguration/azure-appconfiguration/tests/async_wrapper.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_configuration_client.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_configuration_client_aad.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_configuration_client_aad_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_configuration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/wrapper.py
Labels: App Configuration

#17034 [device update] allow device update pylint failures
  eng/tox/allowed_pylint_failures.py
Labels: auto-merge

#17036 [formrecognizer] temp disable sample tests until service bug fixed
  scripts/devops_tasks/test_run_samples.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_authentication_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_authentication.py
Labels: Cognitive - Form Recognizer

#17033 remove first query section
  eng/.docsettings.yml
  sdk/search/azure-search-documents/README.md
Labels: Search

#16717 [Tables] Add SAS to tables
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_shared_access_signature.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_base_client_async.py
  sdk/tables/azure-data-tables/tests/recordings/test_table.test_account_sas.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_sas_add.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_sas_add_inside_range.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_sas_add_outside_range.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_sas_delete.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_sas_query.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_sas_signed_identifier.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_sas_update.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_sas_upper_case_table_name.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_sas_add.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_sas_add_inside_range.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_sas_add_outside_range.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_sas_delete.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_sas_query.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_sas_signed_identifier.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_sas_update.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_sas_upper_case_table_name.yaml
  sdk/tables/azure-data-tables/tests/test_table.py
  sdk/tables/azure-data-tables/tests/test_table_async.py
  sdk/tables/azure-data-tables/tests/test_table_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos_async.py
Labels: Tables, auto-merge

#17030 Scrub batch shared keys
  sdk/storage/azure-storage-blob/tests/_shared/testcase.py
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_batch_set_standard_blob_tier_for_version.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_delete_blobs_simple.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_delete_blobs_simple_no_raise.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_delete_blobs_snapshot.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_delete_blobs_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_standard_blob_tier_set_tier_api_batch.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_standard_blob_tier_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_delete_blobs_simple.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_delete_blobs_simple_no_raise.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_delete_blobs_snapshot.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_delete_blobs_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_standard_blob_tier_set_tier_api_batch.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_standard_blob_tier_with_if_tags.yaml
  sdk/storage/azure-storage-blob/tests/test_container.py
  tools/azure-devtools/src/azure_devtools/scenario_tests/recording_processors.py
  tools/azure-devtools/src/azure_devtools/scenario_tests/utilities.py
Labels: Storage

#17053 [EG] Regenerate Code
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/_event_grid_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/_event_grid_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/operations/_event_grid_publisher_client_operations.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_event_grid_publisher_client_enums.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/models/_models_py3.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/operations/_event_grid_publisher_client_operations.py
  sdk/eventgrid/azure-eventgrid/swagger/README.PYTHON_T2.md
  sdk/eventgrid/azure-eventgrid/tests/test_serialization.py
Labels: Event Grid

#17055 [Perf] Small fixes to storage-blob
  sdk/storage/azure-storage-blob/tests/perfstress_tests/_test_base.py
  sdk/storage/azure-storage-blob/tests/perfstress_tests/list_blobs.py
  sdk/storage/azure-storage-blob/tests/perfstress_tests/upload.py
Labels: Storage

#16800 Add cloud event to core
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_utils.py
  sdk/core/azure-core/azure/core/_version.py
  sdk/core/azure-core/azure/core/messaging.py
  sdk/core/azure-core/azure/core/pipeline/policies/_utils.py
  sdk/core/azure-core/azure/core/serialization.py
  sdk/core/azure-core/doc/azure.core.rst
  sdk/core/azure-core/tests/test_messaging_cloud_event.py
  sdk/core/azure-core/tests/test_serialization.py
Labels: Azure.Core

#17060 [text analytics] add perf tests
  sdk/textanalytics/azure-ai-textanalytics/tests/perfstress_tests/README.md
  sdk/textanalytics/azure-ai-textanalytics/tests/perfstress_tests/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/tests/perfstress_tests/perf_detect_language.py
Labels: Cognitive - Text Analytics

#14807 ServiceBus dict-representation acceptance and kwarg-update functionality
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_utils.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_queues_async.test_mgmt_queue_async_update_dict_error.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_queues_async.test_mgmt_queue_async_update_dict_success.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_rules_async.test_mgmt_rule_async_update_dict_error.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_rules_async.test_mgmt_rule_async_update_dict_success.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_subscriptions_async.test_mgmt_subscription_async_update_dict_error.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_subscriptions_async.test_mgmt_subscription_async_update_dict_success.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_topics_async.test_mgmt_topic_async_update_dict_error.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_topics_async.test_mgmt_topic_async_update_dict_success.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_rules_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_topics_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_queues.test_mgmt_queue_update_dict_error.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_queues.test_mgmt_queue_update_dict_success.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_rules.test_mgmt_rule_update_dict_error.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_rules.test_mgmt_rule_update_dict_success.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_subscriptions.test_mgmt_subscription_update_dict_error.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_subscriptions.test_mgmt_subscription_update_dict_success.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_topics.test_mgmt_topic_update_dict_error.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_topics.test_mgmt_topic_update_dict_success.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_queues.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_rules.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_subscriptions.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_topics.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus, customer-reported

#15861 [Perfstress][Storage] Added Datalake perf tests
  sdk/storage/azure-storage-file-datalake/tests/perfstress_tests/README.md
  sdk/storage/azure-storage-file-datalake/tests/perfstress_tests/__init__.py
  sdk/storage/azure-storage-file-datalake/tests/perfstress_tests/_test_base.py
  sdk/storage/azure-storage-file-datalake/tests/perfstress_tests/append.py
  sdk/storage/azure-storage-file-datalake/tests/perfstress_tests/read.py
  sdk/storage/azure-storage-file-datalake/tests/perfstress_tests/upload.py
  sdk/storage/azure-storage-file-datalake/tests/perfstress_tests/upload_from_file.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/async_random_stream.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/random_stream.py
Labels: Storage

#17064 Sample eh
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/consume_cloud_events_from_eventhub.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/functionsapp/EventGridTrigger1/__init__.py
Labels: Event Grid

#17065 sas creds updates
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/setup.py
  shared_requirements.txt
Labels: Tables, auto-merge

#17068 Sync eng/common directory with azure-sdk-tools for PR 1456
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#16969 [formrecognizer] Adding custom forms perf test
  sdk/formrecognizer/azure-ai-formrecognizer/tests/perfstress_tests/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/tests/perfstress_tests/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/perfstress_tests/perf_custom_forms.py
Labels: Cognitive - Form Recognizer

#15834 [Perfstress][Storage] Added FileShare perf tests
  sdk/storage/azure-storage-file-share/tests/perfstress_tests/README.md
  sdk/storage/azure-storage-file-share/tests/perfstress_tests/T1_legacy_tests/__init__.py
  sdk/storage/azure-storage-file-share/tests/perfstress_tests/T1_legacy_tests/_test_base.py
  sdk/storage/azure-storage-file-share/tests/perfstress_tests/T1_legacy_tests/download.py
  sdk/storage/azure-storage-file-share/tests/perfstress_tests/T1_legacy_tests/download_to_file.py
  sdk/storage/azure-storage-file-share/tests/perfstress_tests/T1_legacy_tests/t1_test_requirements.txt
  sdk/storage/azure-storage-file-share/tests/perfstress_tests/T1_legacy_tests/upload.py
  sdk/storage/azure-storage-file-share/tests/perfstress_tests/T1_legacy_tests/upload_from_file.py
  sdk/storage/azure-storage-file-share/tests/perfstress_tests/__init__.py
  sdk/storage/azure-storage-file-share/tests/perfstress_tests/_test_base.py
  sdk/storage/azure-storage-file-share/tests/perfstress_tests/download.py
  sdk/storage/azure-storage-file-share/tests/perfstress_tests/download_to_file.py
  sdk/storage/azure-storage-file-share/tests/perfstress_tests/upload.py
  sdk/storage/azure-storage-file-share/tests/perfstress_tests/upload_from_file.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/async_random_stream.py
  tools/azure-devtools/src/azure_devtools/perfstress_tests/random_stream.py
Labels: Storage

#17069 [text analytics] align perf tests with js
  sdk/textanalytics/azure-ai-textanalytics/tests/perfstress_tests/README.md
  sdk/textanalytics/azure-ai-textanalytics/tests/perfstress_tests/perf_detect_language.py
Labels: Cognitive - Text Analytics

#17063 Adapt to azure core's cloud event
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_helpers.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_cloud_event_using_dict_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_events_using_cloud_events_1.0_schema_async.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/consume_cloud_events_from_storage_queue.py
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_cloud_events_to_custom_topic_sample.py
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_cloud_events_to_domain_topic_sample.py
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_with_shared_access_signature_sample.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_consume_custom_payload.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_publish_events_using_cloud_events_1.0_schema.py
  sdk/eventgrid/azure-eventgrid/setup.py
  sdk/eventgrid/azure-eventgrid/tests/test_cloud_event_tracing.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_serialization.py
  shared_requirements.txt
Labels: Event Grid

#17066 [Communication] - Identity - Renaming create_user_with_token identity function
  sdk/communication/azure-communication-identity/README.md
  sdk/communication/azure-communication-identity/azure/communication/identity/_communication_identity_client.py
  sdk/communication/azure-communication-identity/azure/communication/identity/aio/_communication_identity_client_async.py
  sdk/communication/azure-communication-identity/samples/identity_samples.py
  sdk/communication/azure-communication-identity/samples/identity_samples_async.py
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client.test_create_user_and_token.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client_async.test_create_user_and_token.yaml
  sdk/communication/azure-communication-identity/tests/test_communication_identity_client.py
  sdk/communication/azure-communication-identity/tests/test_communication_identity_client_async.py
Labels: Communication

#17074 [text analytics] add normalized_text
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_healthcare_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_healthcare_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare.test_normalized_text.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare_async.test_normalized_text.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_repr.py
Labels: Cognitive - Text Analytics

#17075 Track1 package is incorrectly set as track2
  eng/scripts/Language-Settings.ps1
Labels: auto-merge

#17057 [EventHubs] add logging.info to warn the usage of partition key of non-string type
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
Labels: Event Hubs

#17079 EG - more docs imrpovement
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_custom_schema_to_a_topic_async.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_publish_eg_event_using_dict.py
Labels: Event Grid

#16756 [EventHubs] Idempotent producer
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/azure/eventhub/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_configuration.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/send_idempotent_producer_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/send_idempotent_producer.py
  sdk/eventhub/azure-eventhub/setup.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_consumer_client_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_receive_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_reconnect_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_send_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_consumer_client.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_receive.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_reconnect.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_send.py
  shared_requirements.txt
Labels: Event Hubs

#16837 [translation] initial library
  sdk/documenttranslation/azure-ai-documenttranslation/CHANGELOG.md
  sdk/documenttranslation/azure-ai-documenttranslation/MANIFEST.in
  sdk/documenttranslation/azure-ai-documenttranslation/README.md
  sdk/documenttranslation/azure-ai-documenttranslation/azure/__init__.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/__init__.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/__init__.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_api_version.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_client.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_generated/__init__.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_generated/_batch_document_translation_client.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_generated/_configuration.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_generated/aio/__init__.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_generated/aio/_batch_document_translation_client.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_generated/aio/_configuration.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_generated/aio/operations/__init__.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_generated/aio/operations/_document_translation_operations.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_generated/models/__init__.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_generated/models/_batch_document_translation_client_enums.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_generated/models/_models.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_generated/models/_models_py3.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_generated/operations/__init__.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_generated/operations/_document_translation_operations.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_generated/py.typed
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_helpers.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_models.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_user_agent.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_version.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/aio/__init__.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/aio/_client_async.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/py.typed
  sdk/documenttranslation/azure-ai-documenttranslation/dev_requirements.txt
  sdk/documenttranslation/azure-ai-documenttranslation/samples/async_samples/sample_batch_translation_async.py
  sdk/documenttranslation/azure-ai-documenttranslation/samples/async_samples/sample_batch_translation_with_storage_async.py
  sdk/documenttranslation/azure-ai-documenttranslation/samples/async_samples/sample_cancel_translation_job_async.py
  sdk/documenttranslation/azure-ai-documenttranslation/samples/async_samples/sample_custom_translation_async.py
  sdk/documenttranslation/azure-ai-documenttranslation/samples/async_samples/sample_list_all_submitted_jobs_async.py
  sdk/documenttranslation/azure-ai-documenttranslation/samples/async_samples/sample_translation_status_checks_async.py
  sdk/documenttranslation/azure-ai-documenttranslation/samples/sample_batch_translation.py
  sdk/documenttranslation/azure-ai-documenttranslation/samples/sample_batch_translation_with_storage.py
  sdk/documenttranslation/azure-ai-documenttranslation/samples/sample_cancel_translation_job.py
  sdk/documenttranslation/azure-ai-documenttranslation/samples/sample_custom_translation.py
  sdk/documenttranslation/azure-ai-documenttranslation/samples/sample_list_all_submitted_jobs.py
  sdk/documenttranslation/azure-ai-documenttranslation/samples/sample_translation_status_checks.py
  sdk/documenttranslation/azure-ai-documenttranslation/sdk_packaging.toml
  sdk/documenttranslation/azure-ai-documenttranslation/setup.cfg
  sdk/documenttranslation/azure-ai-documenttranslation/setup.py
  sdk/documenttranslation/azure-ai-documenttranslation/tests/testcase.py
  sdk/documenttranslation/ci.yml
  sdk/documenttranslation/tests.yml
Labels: Cognitive - Translator

#17095 [documenttranslation] fix shared reqs
  shared_requirements.txt
Labels: Cognitive - Translator, auto-merge

#17090 Rename CertificateCredential's certificate_bytes -> certificate_data
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_live.py
  sdk/identity/azure-identity/tests/test_live_async.py
Labels: Azure.Identity

#17091 [Communication] - Identity - Update README
  sdk/communication/azure-communication-identity/README.md
Labels: Communication

#17103 Sync eng/common directory with azure-sdk-tools for PR 1459
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: Central-EngSys, EngSys

#17109 Sync eng/common directory with azure-sdk-tools for PR 1467
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: Central-EngSys, EngSys

#17107 Sync eng/common directory with azure-sdk-tools for PR 1465
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: Central-EngSys, EngSys

#17085 Sync eng/common directory with azure-sdk-tools for PR 1448
  eng/common/scripts/Create-APIReview.ps1
Labels: Central-EngSys, EngSys

#17124 [text analytics] replace placeholder role types with actual
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_healthcare_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_healthcare_entities.py
Labels: Cognitive - Text Analytics

#17123 [text analytics] add actual normalized_text tests
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare.test_normalized_text.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare_async.test_normalized_text.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
Labels: Cognitive - Text Analytics, auto-merge

#16972 [core] add HttpRequest and HttpResponse reprs
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/tests/async_tests/test_universal_http_async.py
  sdk/core/azure-core/tests/test_pipeline.py
  sdk/core/azure-core/tests/test_requests_universal.py
Labels: Azure.Core

#17125 [formrecognizer] unskip custom form url tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url.test_custom_form_bad_url.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url_async.test_form_bad_url.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
Labels: Cognitive - Form Recognizer

#17098 [text analytics] assertions
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_healthcare_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_healthcare_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare.test_healthcare_assertion.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare_async.test_healthcare_assertion.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_repr.py
Labels: Cognitive - Text Analytics, auto-merge

#17132 [EventHubs] 5.3.1 update changelog
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
  sdk/eventhub/azure-eventhub/CHANGELOG.md
Labels: Event Hubs

#17127 dropping py3.5
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/setup.py
Labels: Tables

#17133 Sas batching
  sdk/tables/azure-data-tables/tests/recordings/test_table_batch.test_batch_sas_auth.yaml
  sdk/tables/azure-data-tables/tests/test_table_batch.py
  sdk/tables/azure-data-tables/tests/test_table_batch_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
Labels: Tables, auto-merge

#17076 Add NULL to readme
  sdk/core/azure-core/README.md
Labels: Azure.Core

#17126 Sync eng/common directory with azure-sdk-tools for PR 1461
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Labels: Central-EngSys, EngSys

#17038 [text analytics] PII updates for v5.1.0b6
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/_operations_mixin.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/aio/_operations_mixin.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_4/_metadata.json
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_4/aio/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_4/models/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_4/models/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_4/models/_models_py3.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_4/models/_text_analytics_client_enums.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1_preview_4/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities.test_categories_filter.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities.test_categories_filter_with_domain_filter.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities_async.test_categories_filter.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_pii_entities_async.test_categories_filter_with_domain_filter.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
Labels: Cognitive - Text Analytics

#17032 [Key Vault] Make test resource cleanup script asynchronous
  sdk/keyvault/test-resources-cleanup.py
Labels: Client, KeyVault, test enhancement

#17138 Sync eng/common directory with azure-sdk-tools for PR 1470
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: Central-EngSys, EngSys

#17130 [formrecognizer] Adding comment about image/bmp being accepted
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
Labels: Cognitive - Form Recognizer

#17136 Add any additional claims to AuthenticationRequiredError
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_exceptions.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/samples/control_interactive_prompts.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity, Client

#17003 [text analytics] Analyze updates for v5.1.0b6
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_async_lro.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_async_paging.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_lro.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_paging.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_request_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers_async.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_batch_actions_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_batch_actions.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.test_bad_model_version_error_multiple_tasks.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.test_out_of_order_ids_multiple_tasks.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.test_output_same_order_as_input_multiple_tasks.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.test_show_stats_and_model_version_multiple_tasks.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.test_bad_model_version_error_multiple_tasks.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.test_multiple_pages_of_results_with_errors_returned_successfully.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.test_out_of_order_ids_multiple_tasks.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.test_output_same_order_as_input_multiple_tasks.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.test_show_stats_and_model_version_multiple_tasks.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_repr.py
Labels: Cognitive - Text Analytics, auto-merge

#17073 [Key Vault] Add perf tests for certificates, keys, and secrets
  sdk/keyvault/azure-keyvault-certificates/tests/perfstress_tests/README.md
  sdk/keyvault/azure-keyvault-certificates/tests/perfstress_tests/__init__.py
  sdk/keyvault/azure-keyvault-certificates/tests/perfstress_tests/get_certificate.py
  sdk/keyvault/azure-keyvault-keys/tests/perfstress_tests/README.md
  sdk/keyvault/azure-keyvault-keys/tests/perfstress_tests/__init__.py
  sdk/keyvault/azure-keyvault-keys/tests/perfstress_tests/get_key.py
  sdk/keyvault/azure-keyvault-secrets/tests/perfstress_tests/README.md
  sdk/keyvault/azure-keyvault-secrets/tests/perfstress_tests/__init__.py
  sdk/keyvault/azure-keyvault-secrets/tests/perfstress_tests/get_secret.py
Labels: Client, KeyVault, test enhancement

#17078 disable retry
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_asyncio.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_basic.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_trio.py
  sdk/core/azure-core/tests/async_tests/test_stream_generator_async.py
  sdk/core/azure-core/tests/test_stream_generator.py
Labels: Azure.Core

#17097 Fix dup cloud error
  sdk/synapse/azure-synapse-accesscontrol/azure/synapse/accesscontrol/_access_control_client.py
  sdk/synapse/azure-synapse-accesscontrol/azure/synapse/accesscontrol/aio/_access_control_client.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_artifacts_client.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/_artifacts_client.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_library_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/__init__.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_models.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_models_py3.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_library_operations.py
  sdk/synapse/azure-synapse-managedprivateendpoints/azure/synapse/managedprivateendpoints/_managed_private_endpoints_client.py
  sdk/synapse/azure-synapse-managedprivateendpoints/azure/synapse/managedprivateendpoints/aio/_managed_private_endpoints_client.py
  sdk/synapse/azure-synapse-monitoring/azure/synapse/monitoring/_monitoring_client.py
  sdk/synapse/azure-synapse-monitoring/azure/synapse/monitoring/aio/_monitoring_client.py
  sdk/synapse/azure-synapse-spark/azure/synapse/spark/_spark_client.py
  sdk/synapse/azure-synapse-spark/azure/synapse/spark/aio/_spark_client.py
Labels: Synapse

#16326 Revise token cache configuration API
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/_internal/__init__.py
  sdk/identity/azure-identity/azure/identity/_internal/client_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/client_secret_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_internal/persistent_cache.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/_persistent_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/samples/user_authentication.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_persistent_cache.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
Labels: Azure.Identity, Client

#17141 Sync eng/common directory with azure-sdk-tools for PR 1472
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
Labels: Central-EngSys, EngSys

#17080 [ServiceBus] Object mapping support
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_utils.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_rules_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_topics_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_queues.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_rules.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_subscriptions.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_topics.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus, auto-merge

#17135 [ServiceBus] 7.1.0 Release update changelog
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#17150 update changelog
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#17128 [formrecognizer] Add Identity Documents APIs
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents.test_authentication_bad_key.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents.test_blank_page.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents.test_damaged_file_passed_as_bytes.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents.test_damaged_file_passed_as_bytes_io.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents.test_id_document_jpg.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents.test_id_document_jpg_include_field_elements.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents.test_id_document_stream_transform_jpg.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents.test_passing_enum_content_type.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_async.test_authentication_bad_key.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_async.test_blank_page.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_async.test_damaged_file_passed_as_bytes.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_async.test_damaged_file_passed_as_bytes_io.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_async.test_id_document_jpg.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_async.test_id_document_jpg_include_field_elements.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_async.test_id_document_stream_transform_jpg.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_async.test_passing_enum_content_type.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url.test_authentication_bad_key.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url.test_id_document_bad_url.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url.test_id_document_encoded_url.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url.test_id_document_jpg.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url.test_id_document_jpg_include_field_elements.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url.test_id_document_url_pass_stream.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url.test_id_document_url_transform_jpg.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url.test_polling_interval.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url_async.test_authentication_bad_key.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url_async.test_id_document_bad_url.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url_async.test_id_document_encoded_url.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url_async.test_id_document_jpg.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url_async.test_id_document_jpg_include_field_elements.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url_async.test_id_document_url_pass_stream.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url_async.test_id_document_url_transform_jpg.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url_async.test_polling_interval.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/id_documents/license.jpg
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_id_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_id_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_id_documents_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_id_documents_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Cognitive - Form Recognizer

#17161 [text analytics] fix tests and update known issues for healthcare model version
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare.test_healthcare_assertion.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare_async.test_healthcare_assertion.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
Labels: Cognitive - Text Analytics

#17166 [EventHubs] Preview release doc fix
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/doc/azure.eventhub.rst
  sdk/eventhub/azure-eventhub/migration_guide.md
  sdk/eventhub/azure-eventhub/samples/README.md
Labels: Client, Event Hubs, auto-merge

#17162 [Communication] - Phone Numbers - Changed User-Agent in request
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_version.py
  sdk/communication/azure-communication-phonenumbers/test/_shared/testcase.py
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_get_phone_number.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_list_acquired_phone_numbers.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_list_acquired_phone_numbers_from_managed_identity.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_purchase_phone_numbers.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_update_phone_number_capabilities.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_get_phone_number.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_list_acquired_phone_numbers.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_list_acquired_phone_numbers_from_managed_identity.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_purchase_phone_numbers.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_update_phone_number_capabilities.yaml
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client_async.py
Labels: Communication

#17163 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core

#17171 [Communication]: Use type TokenCredential and AsyncTokenCredential for SMS and Identity
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/azure/communication/identity/_communication_identity_client.py
  sdk/communication/azure-communication-identity/azure/communication/identity/aio/_communication_identity_client_async.py
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/azure/communication/sms/_sms_client.py
  sdk/communication/azure-communication-sms/azure/communication/sms/aio/_sms_client_async.py
Labels: Communication

#17177 Update changelog for azure-identity 1.6.0b2
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#17152 T1 storagecache 2021 03 08
  sdk/storage/azure-mgmt-storagecache/CHANGELOG.md
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/_storage_cache_management_client.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/models/__init__.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/models/_models.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/models/_models_py3.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/models/_storage_cache_management_client_enums.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_asc_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_caches_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_skus_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_storage_targets_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_usage_models_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/version.py
Labels: Storage

#17140 EG prepare for release
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/setup.py
Labels: Event Grid

#17184 [text analytics] doc changes for release
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
Labels: Cognitive - Text Analytics, auto-merge

#17170 Ma update swagger
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/_azure_cognitive_service_metrics_advisor_restapi_open_ap_iv2.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/_configuration.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/aio/_azure_cognitive_service_metrics_advisor_restapi_open_ap_iv2.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/aio/_configuration.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/aio/operations/_azure_cognitive_service_metrics_advisor_restapi_open_ap_iv2_operations.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/models/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/models/_azure_cognitive_service_metrics_advisor_restapi_open_ap_iv2_enums.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/models/_models.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/models/_models_py3.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_generated/operations/_azure_cognitive_service_metrics_advisor_restapi_open_ap_iv2_operations.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_helpers.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_administration_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_administration_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
Labels: Cognitive - Metrics Advisor

#17185 fix typo
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_administration_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_client_async.py
Labels: Cognitive - Metrics Advisor

#17187 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#17190 multiapi depends on azure-common
  sdk/search/azure-search-documents/setup.py
Labels: Search

#17192 [text analytics] Fixed a few minor issues in a sample and the README
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_healthcare_entities.py
Labels: Cognitive - Text Analytics, auto-merge

#17188 Fixed an issue when missing padding in base64 decode
  sdk/mixedreality/azure-mixedreality-authentication/azure/mixedreality/authentication/_utils.py
  sdk/mixedreality/azure-mixedreality-authentication/tests/test_utils.py
Labels: auto-merge

#17189 update api ref links
  eng/ignore-links.txt
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/README.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/samples/README.md
Labels: Event Hubs, auto-merge

#17174 [Communication]: Update Changelogs for March Release
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/azure/communication/chat/_version.py
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/azure/communication/identity/_version.py
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/azure/communication/sms/_version.py
Labels: Communication

#17207 remove ignored eh 5.3.1 links
  eng/ignore-links.txt
Labels: auto-merge

#17208 Update CHANGELOG.md and README.md for preview4
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/README.md
Labels: Communication

#17214 Increment version for textanalytics releases
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_version.py
Labels: Cognitive - Text Analytics

#17176 Sync eng/common directory with azure-sdk-tools for PR 1475
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: Central-EngSys, EngSys

#17211 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core

#16565 [Key Vault] Add local-only mode to CryptographyClient
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_key_validity.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/ec.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/local_provider.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/rsa.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/symmetric.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_ec_verify_local_from_jwk.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_encrypt_local_from_jwk.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_rsa_verify_local_from_jwk.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_wrap_local_from_jwk.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_ec_verify_local_from_jwk.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_encrypt_local_from_jwk.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_rsa_verify_local_from_jwk.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_wrap_local_from_jwk.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_local_crypto.py
Labels: Client, KeyVault

#17221 [Key Vault] Update changelog for keys 4.4.0b3
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
Labels: Client, KeyVault, auto-merge

#17224 [Key Vault] Label unreleased certificates and secrets versions as beta
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
Labels: Client, KeyVault

#17024 Scrub sas
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_models.py
  sdk/tables/azure-data-tables/tests/recordings/test_table_async.test_account_sas.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_sas_add.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_sas_add_inside_range.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_sas_add_outside_range.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_sas_delete.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_sas_query.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_sas_signed_identifier.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_sas_update.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_sas_upper_case_table_name.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_sas_add.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_sas_add_inside_range.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_sas_add_outside_range.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_sas_delete.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_sas_query.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_sas_signed_identifier.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_sas_update.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_sas_upper_case_table_name.yaml
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos.py
  tools/azure-sdk-tools/devtools_testutils/azure_testcase.py
Labels: Tables, auto-merge

#17203 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_version.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_version.py
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs, auto-merge

#17204 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs, auto-merge

#17239 [Communication] Removing an incorrect version from Changelog
  sdk/communication/azure-communication-sms/CHANGELOG.md
Labels: Communication, auto-merge

#17225 Increment version for communication releases
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/azure/communication/chat/_version.py
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/azure/communication/identity/_version.py
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_version.py
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/azure/communication/sms/_version.py
Labels: Communication

#17219 Re record tests for eventgrid
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_client.test_eg_client_good_credentials.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_client.test_eg_client_publish_.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_client.test_eg_client_publish_cloud_event.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_client.test_eg_client_publish_cloud_event_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_client.test_eg_client_publish_cloud_event_data_str.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_client.test_eg_client_publish_event_grid_event.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_client.test_eg_client_publish_event_grid_event_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_eg_publisher_client_publish_cloud_event_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_eg_publisher_client_publish_cloud_event_data_str.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_eg_publisher_client_publish_custom_schema_event.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_eg_publisher_client_publish_event_grid_event_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_eg_publisher_client_publish_event_grid_event_data_str.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_eg_publisher_client_publish_signature_credential.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_cloud_event_bytes_using_data_base64.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_cloud_event_data_as_list.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_cloud_event_data_base64_using_data.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_cloud_event_data_bytes.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_cloud_event_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_cloud_event_data_none.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_cloud_event_data_str.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_cloud_event_data_with_extensions.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_cloud_event_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_custom_schema_event.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_custom_schema_event_as_list.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_event_grid_event_data_as_list.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_event_grid_event_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_event_grid_event_data_str.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_event_grid_event_dict_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client.test_send_signature_credential.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_and_close_async_session.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_cloud_event_data_as_list.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_cloud_event_data_bytes.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_cloud_event_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_cloud_event_data_none.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_cloud_event_data_str.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_cloud_event_data_with_extensions.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_cloud_event_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_custom_schema_event.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_custom_schema_event_as_list.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_event_grid_event_data_as_list.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_event_grid_event_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_event_grid_event_data_str.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_eg_publisher_client_async.test_send_signature_credential.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_event_grid_basic.yaml
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client_async.py
Labels: Event Grid

#17243 [Key Vault] Update broken links to Python design guidelines
  sdk/keyvault/azure-keyvault-certificates/migration_guide.md
  sdk/keyvault/azure-keyvault-keys/migration_guide.md
  sdk/keyvault/azure-keyvault-secrets/migration_guide.md
Labels: Client, Docs, KeyVault, auto-merge

#17198 Increment version for tables releases
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
Labels: Tables

#17244 Sync eng/common directory with azure-sdk-tools for PR 1479
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/SemVer.ps1
Labels: Central-EngSys, EngSys

#17245 [Key Vault] Bump six dependency for keys
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/setup.py
  shared_requirements.txt
Labels: Client, KeyVault

#17246 [EG] Accept only FULL url
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/_event_grid_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/_event_grid_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/aio/operations/_event_grid_publisher_client_operations.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_generated/operations/_event_grid_publisher_client_operations.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_helpers.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/migration_guide.md
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_authentication_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_cloud_event_using_dict_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_custom_schema_to_a_topic_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_eg_event_using_dict_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_eg_events_to_a_domain_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_eg_events_to_a_topic_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_events_to_a_topic_using_sas_credential_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_events_using_cloud_events_1.0_schema_async.py
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_cloud_events_to_custom_topic_sample.py
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_cloud_events_to_domain_topic_sample.py
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_custom_schema_events_to_topic_sample.py
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_event_grid_events_to_custom_topic_sample.py
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_with_shared_access_signature_sample.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_authentication.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_generate_sas.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_publish_cloud_event_using_dict.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_publish_custom_schema_to_a_topic.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_publish_eg_event_using_dict.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_publish_eg_events_to_a_domain.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_publish_eg_events_to_a_topic.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_publish_events_to_a_topic_using_sas_credential.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_publish_events_using_cloud_events_1.0_schema.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_generate_sas.py
Labels: Event Grid

#17216 [Communication] - Phone Numbers - Functions and model renaming
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/__init__.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/aio/operations/_phone_numbers_operations.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/models/__init__.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/models/_models.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/models/_models_py3.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/operations/_phone_numbers_operations.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/aio/_phone_numbers_client_async.py
  sdk/communication/azure-communication-phonenumbers/samples/get_purchased_phone_number_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/list_purchased_phone_numbers_sample.py
  sdk/communication/azure-communication-phonenumbers/swagger/PHONE_NUMBER_SWAGGER.md
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_get_purchased_phone_number.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_list_purchased_phone_numbers.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_list_purchased_phone_numbers_from_managed_identity.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_get_purchased_phone_number.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_list_purchased_phone_numbers.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_list_purchased_phone_numbers_from_managed_identity.yaml
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client_async.py
Labels: Communication

#17206 [metricsadvisor] bump msrest version for MA
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/setup.py
  shared_requirements.txt
Labels: Cognitive - Metrics Advisor

#16629 [DataLake]add get_account_information
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/azure_storage_file_datalake-12.2.3-py2.py3-none-any.whl
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_service.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_service_async.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_get_account_information.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_get_account_information_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
Labels: Storage

#16181 [Blob]Add batch request body serialization
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/request_handlers.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/request_handlers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/request_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/request_handlers.py
Labels: Storage

#17253 [translation] run CI in PRs
  sdk/documenttranslation/azure-ai-documenttranslation/azure/__init__.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/__init__.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_client.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_models.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/aio/_client_async.py
  sdk/documenttranslation/azure-ai-documenttranslation/tests/test_supported_methods.py
  sdk/documenttranslation/ci.yml
  sdk/documenttranslation/tests.yml
Labels: Cognitive - Translator

#17281 [Key Vault] Update changelog for keys
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
Labels: Client, KeyVault, auto-merge

#17226 update to swagger 47b422a4d1ea9f4736739a4a6a19d4a8a2fe54d9 to have no…
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_indexing_buffered_sender_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/v2020_06_preview/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/v2020_06_preview/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/v2020_06_preview/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/v2020_06_preview/models/_search_client_enums.py
  sdk/search/azure-search-documents/setup.py
  shared_requirements.txt
Labels: Search

#17278 fixing broken links
  README.md
  scripts/pylint_custom_plugin/README.md
  sdk/core/azure-core/README.md
  sdk/eventgrid/azure-eventgrid/migration_guide.md
  sdk/eventhub/azure-eventhub/migration_guide.md
  sdk/keyvault/azure-keyvault-certificates/migration_guide.md
  sdk/keyvault/azure-keyvault-keys/migration_guide.md
  sdk/keyvault/azure-keyvault-secrets/migration_guide.md
  sdk/servicebus/azure-servicebus/migration_guide.md
Labels: Azure.Core, Event Grid, Event Hubs, KeyVault, Service Bus, auto-merge

#17255 Update azure-template to align with actual pyversions + tests.yml config utilizing New-TestResources
  sdk/template/azure-template/setup.py
  sdk/template/tests.yml
Labels: EngSys

#17285 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
Labels: KeyVault

#16238 add policy description
  sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md
Labels: Azure.Core

#17299 [formrecognizer] Test fixes
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content.test_content_language_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_async.test_content_language_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url.test_content_language_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_content_from_url_async.test_content_language_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_invoice.test_invoice_locale_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_invoice_async.test_invoice_locale_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt.test_receipt_locale_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_async.test_receipt_locale_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
Labels: Cognitive - Form Recognizer

#17298 Sync eng/common directory with azure-sdk-tools for PR 1485
  eng/common/scripts/Collect-ChangeLogs.ps1
Labels: Central-EngSys, EngSys

#17240 additions for scrubbers, grammar fixes
  doc/dev/packaging.md
  doc/dev/tests-advanced.md
  doc/dev/tests.md
Labels: Docs, test enhancement

#17320 Update azure-identity readme
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#17197 [formrecognizer] Add missing pages comments and tests
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_business_card.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_business_card_async.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_business_card_from_url.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_business_card_from_url_async.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_async.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_custom_forms_from_url_async.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_async.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url_async.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_invoice.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_invoice_async.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_invoice_from_url.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_invoice_from_url_async.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_async.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_from_url.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_receipt_from_url_async.test_pages_kwarg_specified.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_id_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_id_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_id_documents_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_id_documents_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
Labels: Cognitive - Form Recognizer

#16889 [Identity] Migration guide for JSON-based authentication in azure-common
  sdk/identity/azure-identity/migration_guide.md
Labels: Azure.Identity, Docs

#17323 Fix ManagedIdentityClient token caching
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_client.py
  sdk/identity/azure-identity/tests/test_managed_identity_client.py
  sdk/identity/azure-identity/tests/test_managed_identity_client_async.py
Labels: Azure.Identity

#17183 T1 datafactory 2021 03 09
  sdk/datafactory/azure-mgmt-datafactory/CHANGELOG.md
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_data_factory_management_client_enums.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/version.py
Labels: Data Factory

#17311 T2-datafactory-2021-03-12
  sdk/datafactory/azure-mgmt-datafactory/CHANGELOG.md
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/_data_factory_management_client.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/_version.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/_data_factory_management_client.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_data_factory_management_client_enums.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
Labels: Data Factory

#17164 [Communications] Dropped 3.5 support
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-chat/setup.py
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/README.md
  sdk/communication/azure-communication-identity/setup.py
  sdk/communication/azure-communication-nspkg/setup.py
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-phonenumbers/setup.py
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/README.md
  sdk/communication/azure-communication-sms/setup.py
Labels: Communication

#17223 Sync eng/common directory with azure-sdk-tools for PR 1458
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: Central-EngSys, EngSys

#17343 Sync eng/common directory with azure-sdk-tools for PR 1490
  eng/common/pipelines/templates/steps/publish-artifact.yml
Labels: Central-EngSys, EngSys

#17350 fixed 2021 release dates
  sdk/tables/azure-data-tables/CHANGELOG.md
Labels: Tables, auto-merge

#17326 [Key Vault] Add key creation helpers in tests to avoid throttling
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
Labels: Client, KeyVault

#17008 Sync eng/common directory with azure-sdk-tools for PR 1418
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#17372 Update __init__.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/functionsapp/EventGridTrigger1/__init__.py
Labels: Event Grid

#17375 Sync eng/common directory with azure-sdk-tools for PR 1496
  eng/common/scripts/Package-Properties.ps1
Labels: Central-EngSys, EngSys

#17376 Sync eng/common directory with azure-sdk-tools for PR 1463
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/samples/matrix-test.yml
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
  eng/common/scripts/job-matrix/tests/test-import-matrix.json
Labels: Central-EngSys, EngSys

#17399 [Communication]: Updated SMS Samples and README
  sdk/communication/azure-communication-sms/README.md
  sdk/communication/azure-communication-sms/samples/send_sms_to_multiple_recipients_sample.py
  sdk/communication/azure-communication-sms/samples/send_sms_to_multiple_recipients_sample_async.py
  sdk/communication/azure-communication-sms/samples/send_sms_to_single_recipient_sample.py
  sdk/communication/azure-communication-sms/samples/send_sms_to_single_recipient_sample_async.py
  sdk/communication/azure-communication-sms/samples/sms_token_credential_auth_sample.py
  sdk/communication/azure-communication-sms/samples/sms_token_credential_auth_sample_async.py
Labels: Communication

#17400 [formrecognizer] Regenerate preview3 with latest updates
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2_0/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2_0/_metadata.json
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2_0/aio/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2_1_preview_3/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2_1_preview_3/_metadata.json
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2_1_preview_3/aio/_form_recognizer_client.py
Labels: Cognitive - Form Recognizer

#17397 [formrecognizer] Adding more custom forms kwargs fixes
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
Labels: Cognitive - Form Recognizer

#17321 Sync _shared directory of Communication SDK
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/__init__.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/models.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/utils.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/models.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/utils.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/models.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/utils.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/models.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/utils.py
Labels: Communication

#17347 flipping retry and credential policy
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_requests.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_utils.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_configuration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/recordings/test_azure_configuration_client.test_mock_policies.yaml
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_configuration_client.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_configuration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/wrapper.py
Labels: App Configuration, auto-merge

#17394 Sync eng/common directory with azure-sdk-tools for PR 1498
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Labels: Central-EngSys, EngSys

#17420 Adding a new limitation
  sdk/cosmos/azure-cosmos/README.md
Labels: Cosmos

#17429 Change the expected behaviour of test_access_token_validation since _…
  sdk/communication/azure-communication-chat/tests/test_chat_client_e2e.py
Labels: Communication

#17315 Credentials consistently retry token requests
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_internal/aad_client.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_client.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/aad_client.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/managed_identity_client.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_aad_client_async.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
  sdk/identity/azure-identity/tests/test_msal_client.py
Labels: Azure.Identity, Client

#17414 Sync eng/common directory with azure-sdk-tools for PR 1489
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
Labels: Central-EngSys, EngSys

#17436 [formrecognizer] Id document fixes
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/async_samples/sample_recognize_id_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_forms/id_documents/license.jpg
  sdk/formrecognizer/azure-ai-formrecognizer/samples/sample_recognize_id_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents.test_id_document_jpg.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents.test_id_document_jpg_include_field_elements.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_async.test_id_document_jpg.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_async.test_id_document_jpg_include_field_elements.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/id_documents/license.jpg
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_id_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_id_documents_async.py
Labels: Cognitive - Form Recognizer

#17422 running black code formatter on appconfig
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_credential.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_error.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_requests.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_sync_token.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_utils.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_configuration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/setup.py
Labels: App Configuration, auto-merge

#17146 [translation] add ARM template and set up test preparers
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_client.py
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/aio/_client_async.py
  sdk/documenttranslation/azure-ai-documenttranslation/dev_requirements.txt
  sdk/documenttranslation/azure-ai-documenttranslation/tests/preparer.py
  sdk/documenttranslation/azure-ai-documenttranslation/tests/recordings/test_service.test_translate.yaml
  sdk/documenttranslation/azure-ai-documenttranslation/tests/test_service.py
  sdk/documenttranslation/azure-ai-documenttranslation/tests/test_supported_methods.py
  sdk/documenttranslation/azure-ai-documenttranslation/tests/testcase.py
  sdk/documenttranslation/test-resources.json
  sdk/documenttranslation/tests.yml
Labels: Cognitive - Translator

#17395 Make explicit that auth file is not supported anymore
  sdk/core/azure-common/azure/common/client_factory.py
  sdk/core/azure-common/tests/test_client_factory.py
Labels: Azure.Core

#17293 [Event Hubs] update auth samples to send, not receive + remove from timed samples
  scripts/devops_tasks/test_run_samples.py
  sdk/eventhub/azure-eventhub/samples/async_samples/authenticate_with_sas_token_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/authenticate_with_sas_token.py
Labels: Event Hubs

#17452 [Communication]: Updated identity and SMS readme files
  sdk/communication/azure-communication-identity/README.md
  sdk/communication/azure-communication-sms/README.md
Labels: Communication

#17454 Add http response
  sdk/core/azure-core/azure/core/protocol.py
  sdk/core/azure-core/azure/core/protocol/__init__.py
  sdk/core/azure-core/azure/core/protocol/_enums.py
  sdk/core/azure-core/azure/core/protocol/_types.py
Labels: Azure.Core

#17457 Sync eng/common directory with azure-sdk-tools for PR 1502
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys
