Repository Azure/azure-sdk-for-python, pull requests merged in 2021-11, with the labels that each got.

#21224 [formrecognizer] Initial work for adding get_children methods
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_get_children.test_analyzed_document_get_children.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_get_children.test_document_entity_get_children.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_get_children.test_document_field_get_children.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_get_children.test_document_key_value_element_get_children.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_get_children.test_document_line_get_words.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_get_children.test_document_table_cell_get_children.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_get_children.test_document_table_get_children.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_get_children.test_get_words_after_get_lines.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_get_children.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_to_dict_v3.py
Labels: Cognitive - Form Recognizer

#21523 Sync eng/common directory with azure-sdk-tools for PR 2177
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#21427 Removing validations from Recording APIs
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_callingserver_client.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_download.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/aio/_callingserver_client_async.py
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_server_call.test_start_recording_relative_uri_fails.yaml
  sdk/communication/azure-communication-callingserver/tests/test_callingserver_client.py
  sdk/communication/azure-communication-callingserver/tests/test_callingserver_client_async.py
  sdk/communication/azure-communication-callingserver/tests/test_live_server_call.py
Labels: Communication

#21520 support charset_normalizer
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py
Labels: Azure.Core

#21532 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, auto-merge

#21522 [textanalytics] release prep
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_multi_category_classify_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_custom_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_category_classify_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_multi_category_classify.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_custom_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_category_classify.py
  sdk/textanalytics/azure-ai-textanalytics/setup.py
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
  shared_requirements.txt
Labels: Cognitive - Text Analytics

#21535 Sync eng/common directory with azure-sdk-tools for PR 2203
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#21541 Sync eng/common directory with azure-sdk-tools for PR 2179
  eng/common/pipelines/templates/steps/docker-pull-image.yml
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#19744 fix UnboundLocalError
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md
  sdk/core/azure-core/azure/core/_version.py
  sdk/core/azure-core/azure/core/pipeline/_base.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_base.py
  sdk/core/azure-core/azure/core/pipeline/policies/_distributed_tracing.py
  sdk/core/azure-core/samples/test_example_sansio.py
Labels: Azure.Core

#21488 [SchemaRegistry] fix logging_enable bug
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_schema_registry_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_utils.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_schema_registry_client_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/test_schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
Labels: Schema Registry

#21547 Increment version for textanalytics releases
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_version.py
Labels: Cognitive - Text Analytics, auto-merge

#21558 Sync eng/common directory with azure-sdk-tools for PR 2053
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#20888 raise IncompleteReadError if only receive partial response
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/exceptions.py
  sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_asyncio.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_basic.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_trio.py
  sdk/core/azure-core/tests/async_tests/test_content_length_checking_async.py
  sdk/core/azure-core/tests/test_content_length_checking.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/errors.py
Labels: Azure.Core

#21550 [rest] fix str check in content kwarg to be six.string_types check for 2.7
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/rest/_helpers.py
  sdk/core/azure-core/tests/test_rest_http_request.py
Labels: Azure.Core

#21545 [rest] GA in docs!
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/azure/core/_pipeline_client.py
  sdk/core/azure-core/azure/core/_pipeline_client_async.py
  sdk/core/azure-core/azure/core/exceptions.py
  sdk/core/azure-core/azure/core/polling/async_base_polling.py
  sdk/core/azure-core/azure/core/polling/base_polling.py
  sdk/core/azure-core/azure/core/rest/_rest.py
  sdk/core/azure-core/azure/core/rest/_rest_py3.py
  sdk/core/azure-core/doc/azure.core.rst
Labels: Azure.Core

#21236 Support for CNCF cloud event
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_helpers.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/dev_requirements.txt
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_cncf_cloud_events_async.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_publish_cncf_cloud_events.py
  sdk/eventgrid/azure-eventgrid/tests/conftest.py
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_cncf_events.test_send_cloud_event_data_as_list.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_cncf_events.test_send_cloud_event_data_base64_using_data.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_cncf_events.test_send_cloud_event_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_cncf_events.test_send_cloud_event_data_none.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_cncf_events.test_send_cloud_event_data_str.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_cncf_events.test_send_cloud_event_data_with_extensions.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_cncf_events_async.test_send_cloud_event_data_as_list.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_cncf_events_async.test_send_cloud_event_data_base64_using_data.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_cncf_events_async.test_send_cloud_event_data_dict.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_cncf_events_async.test_send_cloud_event_data_none.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_cncf_events_async.test_send_cloud_event_data_str.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_cncf_events_async.test_send_cloud_event_data_with_extensions.yaml
  sdk/eventgrid/azure-eventgrid/tests/test_cncf_events.py
  sdk/eventgrid/azure-eventgrid/tests/test_cncf_events_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client_async.py
Labels: Event Grid

#21504 [rest] allow users to pass file descriptors to json without raising
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/rest/_helpers.py
  sdk/core/azure-core/tests/test_rest_http_request.py
Labels: Azure.Core

#21574 update release date
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#21569 Sync eng/common directory with azure-sdk-tools for PR 2199
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: EngSys, Central-EngSys

#21208 [formrecognizer] Improve URL related doc strings
  sdk/formrecognizer/azure-ai-formrecognizer/MIGRATION_GUIDE.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_analysis_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_analysis_client_async.py
Labels: Cognitive - Form Recognizer, auto-merge

#21533 [formrecognizer] Use get_words and get_lines in samples
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_general_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_layout_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_get_document_elements_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_general_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_layout.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_get_document_elements.py
Labels: Cognitive - Form Recognizer

#21571 [textanalytics] add allowed headers/query params at info level
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_base_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_base_client_async.py
Labels: Cognitive - Text Analytics

#21579 Sync eng/common directory with azure-sdk-tools for PR 2202
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#21589 [SchemaRegistry] final api review changes
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/README.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_constants.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_response_handlers.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_schema.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_schema_registry_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_schema_registry_client_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/sample_code_schemaregistry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/sample_code_schemaregistry.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/schema_registry.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/test_schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
Labels: Schema Registry, auto-merge

#21594 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, auto-merge

#21593 [Cosmos] update type hints to reflect actual document body
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
Labels: Cosmos

#21555 [formrecognizer] Update changelog for release
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
Labels: Cognitive - Form Recognizer

#21600 [acr] regen with autorest 5.11.0, bump min core dep to 1.20.0
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_container_registry.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_vendor.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_container_registry.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_authentication_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_container_registry_blob_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_container_registry_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_container_registry_enums.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_models_py3.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_authentication_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_container_registry_blob_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_container_registry_operations.py
  sdk/containerregistry/azure-containerregistry/setup.py
  shared_requirements.txt
Labels: Container Registry

#21608 update changelog
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#21573 [SchemaRegistry] update core + SR version
  sdk/schemaregistry/azure-schemaregistry/setup.py
  shared_requirements.txt
Labels: Schema Registry, auto-merge

#21602 [formrecognizer] Remove get children methods
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_general_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_get_document_elements_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_get_words_on_document_line_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_general_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_get_document_elements.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_get_words_on_document_line.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_get_children.test_analyzed_document_get_children.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_get_children.test_document_entity_get_children.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_get_children.test_document_field_get_children.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_get_children.test_document_key_value_element_get_children.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_get_children.test_document_line_get_words_error.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_get_children.test_document_table_cell_get_children.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_get_children.test_document_table_get_children.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_get_children.test_get_words_after_get_lines.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_get_children.py
Labels: Cognitive - Form Recognizer

#21591 STG79 Preview
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_directory_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_azure_blob_storage_enums.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_directory_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_cpk_n.py
  sdk/storage/azure-storage-blob/tests/test_cpk_n_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/models.py
Labels: Storage

#21607 [formrecognizer] Add new samples to README
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
Labels: Cognitive - Form Recognizer

#21525 regenerate artifacts
  sdk/synapse/azure-synapse-accesscontrol/setup.py
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_artifacts_client.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_configuration.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_vendor.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/__init__.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/_artifacts_client.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/_configuration.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_big_data_pools_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_data_flow_debug_session_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_data_flow_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_dataset_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_integration_runtimes_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_kql_script_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_kql_scripts_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_library_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_linked_service_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_notebook_operation_result_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_notebook_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_pipeline_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_pipeline_run_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_spark_configuration_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_spark_job_definition_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_sql_pools_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_sql_script_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_trigger_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_trigger_run_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_workspace_git_repo_management_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_workspace_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/__init__.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_artifacts_client_enums.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_models.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_models_py3.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_big_data_pools_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_data_flow_debug_session_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_data_flow_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_dataset_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_integration_runtimes_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_kql_script_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_kql_scripts_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_library_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_linked_service_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_notebook_operation_result_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_notebook_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_pipeline_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_pipeline_run_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_spark_configuration_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_spark_job_definition_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_sql_pools_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_sql_script_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_trigger_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_trigger_run_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_workspace_git_repo_management_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_workspace_operations.py
  sdk/synapse/azure-synapse-artifacts/setup.py
  sdk/synapse/azure-synapse-managedprivateendpoints/README.md
  sdk/synapse/azure-synapse-managedprivateendpoints/setup.py
  sdk/synapse/azure-synapse-monitoring/setup.py
  sdk/synapse/azure-synapse-spark/setup.py
  shared_requirements.txt
Labels: Synapse

#21615 [ServiceBus] update release notes
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus, auto-merge

#21617 [SchemaRegistry] remove version from docstring
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_schema.py
Labels: Schema Registry, auto-merge

#21618 Resolve `azure-search-documents` errors related to `typing-extensions`
  sdk/search/azure-search-documents/dev_requirements.txt
  sdk/search/azure-search-documents/setup.py
  shared_requirements.txt
Labels: Search

#21567 [Key Vault] Address archboard feedback
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
Labels: KeyVault, Client

#21614 [Tables] Release prep
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
Labels: Tables

#21625 [Search] Update changelog.
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search

#21619 [SchemaRegistry] avro docs cleanup
  sdk/schemaregistry/azure-schemaregistry-avroserializer/README.md
Labels: Schema Registry

#21620 [rest] store decompressed body in response content for aiohttp with decompression headers
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py
  sdk/core/azure-core/azure/core/rest/_aiohttp.py
  sdk/core/azure-core/azure/core/utils/_pipeline_transport_rest_shared.py
  sdk/core/azure-core/tests/async_tests/test_rest_stream_responses_async.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/encoding.py
Labels: Azure.Core

#21629 [SchemaRegistry] regenerate to fix client side validation
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema/_request_builders.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema/_request_builders_py3.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema_groups/_request_builders.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema_groups/_request_builders_py3.py
Labels: Schema Registry, auto-merge

#21628 [formrecognizer] Documentation updates
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_get_words_on_document_line_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_get_words_on_document_line.py
Labels: Cognitive - Form Recognizer

#21627 Change versions to beta
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#21609 [KV-keys]Name change in SKR
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
Labels: KeyVault, Client

#21631 [SchemaRegistry] swagger updates + run black
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_constants.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_response_handlers.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_schema.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema/_request_builders.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema/_request_builders_py3.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema_groups/_request_builders.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema_groups/_request_builders_py3.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_schema_registry_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_utils.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/schema_registry.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_basic_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_negative_no_schema_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_same_twice_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_update_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_basic.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_negative_no_schema.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_same_twice.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_update.yaml
Labels: Schema Registry

#21630 [rest] add decompression tests and fix multiple body() calls
  sdk/core/azure-core/azure/core/rest/_requests_basic.py
  sdk/core/azure-core/tests/async_tests/test_rest_asyncio_transport.py
  sdk/core/azure-core/tests/async_tests/test_rest_trio_transport.py
  sdk/core/azure-core/tests/test_rest_stream_responses.py
Labels: Azure.Core, auto-merge

#21621 [Key Vault] Enable tests for SKR on Key Vault
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_key_release_7_3_preview_mhsm.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_key_release_7_3_preview_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_key_release_7_3_preview_mhsm.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_key_release_7_3_preview_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/test-resources.json
Labels: KeyVault, Client

#21622 Sync eng/common directory with azure-sdk-tools for PR 2219
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-docker.yml
Labels: EngSys, Central-EngSys

#20007 Increment version for batch releases
  sdk/batch/azure-batch/CHANGELOG.md
  sdk/batch/azure-batch/azure/batch/_version.py
Labels: Batch

#21644 update changelog
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#21646 Changelog Date Formatting
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#21568 Use working region/subscription for search deployments
  sdk/search/tests.yml
Labels: Search, Central-EngSys

#21648 update changelog
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#21649 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, auto-merge

#21651 fix dup content
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_library_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_library_operations.py
Labels: Synapse

#21647 [SchemaRegistry] update format type
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_constants.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_response_handlers.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_schema.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_basic_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_negative_no_schema_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_same_twice_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_update_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_basic.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_negative_no_schema.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_same_twice.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_update.yaml
Labels: Schema Registry, auto-merge

#21650 Sync eng/common directory with azure-sdk-tools for PR 2223
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: EngSys, Central-EngSys

#21641 The release date of 1.1.0b1 is changed in CHANGELOG.md
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/samples/identity_samples.py
  sdk/communication/azure-communication-identity/samples/identity_samples_async.py
Labels: Communication

#21662 Added reference to exchange teams token section in README.md
  sdk/communication/azure-communication-identity/README.md
Labels: Communication

#21669 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search, auto-merge

#21673 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, auto-merge

#21672 Increment version for synapse releases
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_version.py
  sdk/synapse/azure-synapse-artifacts/setup.py
Labels: Synapse, auto-merge

#21675 [SchemaRegistry] remove schema prefix in params
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/README.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_schema_registry_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_schema_registry_client_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/sample_code_schemaregistry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/sample_code_schemaregistry.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/schema_registry.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/test_schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
Labels: Schema Registry, auto-merge

#21676 Sync eng/common directory with azure-sdk-tools for PR 2240
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#21677 Sync eng/common directory with azure-sdk-tools for PR 2242
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#21679 [AppConfig] Prepare release
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
Labels: Client, App Configuration

#19433 raise decode error instead of ContentDecodingError
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_basic.py
  sdk/core/azure-core/tests/test_streaming.py
Labels: Azure.Core

#21667 Increment version for communication releases
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/azure/communication/identity/_version.py
Labels: auto-merge, Communication

#21652 Increment version for storage releases
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
Labels: Storage, auto-merge

#21566 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/azure-ai-language-conversations/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_version.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_version.py
Labels: auto-merge

#21455 Increment version for videoanalyzer releases
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/CHANGELOG.md
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/azure/media/videoanalyzeredge/_version.py
Labels: auto-merge

#21678 Increment version for formrecognizer releases
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Labels: Cognitive - Form Recognizer, auto-merge

#21681 Update CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/monitor/azure-monitor-query/CHANGELOG.md
Labels: Event Grid

#21659 Update docs for Web PubSub GA
  sdk/webpubsub/azure-messaging-webpubsubservice/README.md
  sdk/webpubsub/azure-messaging-webpubsubservice/samples/Readme.md
  sdk/webpubsub/azure-messaging-webpubsubservice/setup.py
Labels: auto-merge

#21290 [Key Vault] Add support for multi-tenant authentication
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/http_challenge.py
  sdk/keyvault/azure-keyvault-administration/setup.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/http_challenge.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/http_challenge.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_challenge_auth.test_multitenant_authentication_7_3_preview_mhsm.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_challenge_auth.test_multitenant_authentication_7_3_preview_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_challenge_auth_async.test_multitenant_authentication_2016_10_01_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_challenge_auth_async.test_multitenant_authentication_7_0_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_challenge_auth_async.test_multitenant_authentication_7_1_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_challenge_auth_async.test_multitenant_authentication_7_2_mhsm.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_challenge_auth_async.test_multitenant_authentication_7_2_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_challenge_auth_async.test_multitenant_authentication_7_3_preview_mhsm.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_challenge_auth_async.test_multitenant_authentication_7_3_preview_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth_async.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/http_challenge.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
  shared_requirements.txt
Labels: KeyVault, Client

#21692 [webpubsub] fix some typehints
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_patch.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/_patch.py
  sdk/webpubsub/azure-messaging-webpubsubservice/samples/get_client_access_token.py
  sdk/webpubsub/azure-messaging-webpubsubservice/samples/get_client_access_token_async.py
  sdk/webpubsub/azure-messaging-webpubsubservice/samples/send_messages_aad.py
  sdk/webpubsub/azure-messaging-webpubsubservice/samples/send_messages_aad_apim_proxy.py
Labels: auto-merge

#21695 [SchemaRegistry] update changelog
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
Labels: Schema Registry, auto-merge

#21694 [Key Vault] Skip SKR tests on KV
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_key_release_7_3_preview_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_key_release_7_3_preview_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
Labels: KeyVault, Client

#21697 [webpubsub] add async type hints
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/_patch.py
Labels: auto-merge

#21699 [Tables] Update CHANGELOG.md
  sdk/tables/azure-data-tables/CHANGELOG.md
Labels: Client, Tables

#21702 [AppConfig] Update CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
Labels: Client, App Configuration

#21590 [SchemaRegistry] bump sr version in avrosr
  sdk/schemaregistry/azure-schemaregistry-avroserializer/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/README.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_schema_registry_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/aio/_schema_registry_avro_serializer_async.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/README.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/setup.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_with_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_without_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_parse_error_schema_as_record.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_parse_record_name.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_serialize_primitive.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_serialize_record.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_basic_sr_avro_serializer_with_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_basic_sr_avro_serializer_without_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_parse_error_schema_as_record.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_parse_record_name.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_serialize_primitive.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_serialize_record.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/test_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/test_avro_serializer_async.py
  shared_requirements.txt
Labels: Schema Registry

#21705 Sync eng/common directory with azure-sdk-tools for PR 2249
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#21707 [webpubsub] prepare for release
  sdk/webpubsub/azure-messaging-webpubsubservice/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsubservice/README.md
  sdk/webpubsub/azure-messaging-webpubsubservice/samples/Readme.md
  sdk/webpubsub/azure-messaging-webpubsubservice/setup.py
Labels: auto-merge

#21710 [Key Vault] Update changelogs for release
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
Labels: KeyVault, Client

#21716 Shared folder rule violation fixed
  sdk/communication/azure-communication-identity/tests/_shared/testcase.py
  sdk/communication/azure-communication-identity/tests/_shared/utils.py
  sdk/communication/azure-communication-identity/tests/asynctestcase.py
  sdk/communication/azure-communication-identity/tests/test_communication_identity_client.py
  sdk/communication/azure-communication-identity/tests/test_communication_identity_client_async.py
  sdk/communication/azure-communication-identity/tests/testcase.py
Labels: Communication

#21708 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
Labels: App Configuration, auto-merge

#21709 Increment version for tables releases
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
Labels: Tables, auto-merge

#21721 [SchemaRegistry] avro docs update
  sdk/schemaregistry/azure-schemaregistry-avroserializer/README.md
Labels: Schema Registry, auto-merge

#21726 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
Labels: KeyVault, auto-merge

#21730 make Log analytics track1 obselete
  sdk/loganalytics/azure-loganalytics/CHANGELOG.md
  sdk/loganalytics/azure-loganalytics/README.md
  sdk/loganalytics/azure-loganalytics/azure/loganalytics/version.py
  sdk/loganalytics/azure-loganalytics/sdk_packaging.toml
  sdk/loganalytics/azure-loganalytics/setup.py
Labels: Monitor - LogAnalytics

#21704 [formrecognizer] Add samples for searching with spans
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/advanced_samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/advanced_samples/async_advanced_samples/sample_get_elements_with_spans_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/advanced_samples/sample_get_elements_with_spans.py
Labels: Cognitive - Form Recognizer

#21723 Sync eng/common directory with azure-sdk-tools for PR 2247
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/clouds/AzureChinaCloud.json
  eng/common/TestResources/clouds/AzureCloud.json
  eng/common/TestResources/clouds/AzureUSGovernment.json
Labels: EngSys, Central-EngSys

#21742 [textanalytics] raise better error message in job failure
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_lro.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_lro_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/mock_test_responses/action_job_failure.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
Labels: Cognitive - Text Analytics

#21744 Mixed Reality Authentication 1.0.0b1 release preparation
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
Labels: auto-merge

#21733 Sync eng/common directory with azure-sdk-tools for PR 2259
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#21693 Use arm template parameters as sole input for live test environment variables
  sdk/attestation/test-resources.json
  sdk/keyvault/test-resources.json
  sdk/tables/test-resources.json
Labels: KeyVault, Tables, Central-EngSys

#21759 Sync eng/common directory with azure-sdk-tools for PR 2265
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#21762 [storage] remove private code from proxy sample
  sdk/storage/azure-storage-blob/samples/blob_samples_proxy_configuration.py
Labels: Storage, auto-merge

#21724 Feature/communication calling server preview
  sdk/communication/azure-communication-callingserver/README.md
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/__init__.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_call_connection.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_callingserver_client.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_communication_call_locator_serializer.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_converters/__init__.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_converters/_converter.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/_azure_communication_calling_server_service.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/_configuration.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/aio/__init__.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/aio/_azure_communication_calling_server_service.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/aio/_configuration.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/aio/operations/_call_connections_operations.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/aio/operations/_server_calls_operations.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/models/__init__.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/models/_azure_communication_calling_server_service_enums.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/models/_models.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/models/_models_py3.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/operations/_call_connections_operations.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/operations/_server_calls_operations.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_models.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/aio/_call_connection_async.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/aio/_callingserver_client_async.py
  sdk/communication/azure-communication-callingserver/samples/callingserver_samples.py
  sdk/communication/azure-communication-callingserver/samples/callingserver_samples_async.py
  sdk/communication/azure-communication-callingserver/swagger/SWAGGER.md
  sdk/communication/azure-communication-callingserver/tests/test_call_connection.py
  sdk/communication/azure-communication-callingserver/tests/test_call_connection_async.py
  sdk/communication/azure-communication-callingserver/tests/test_callingserver_client.py
  sdk/communication/azure-communication-callingserver/tests/test_callingserver_client_async.py
  sdk/communication/azure-communication-callingserver/tests/test_live_call_connection.py
  sdk/communication/azure-communication-callingserver/tests/test_live_call_connection_async.py
  sdk/communication/azure-communication-callingserver/tests/test_live_server_call.py
  sdk/communication/azure-communication-callingserver/tests/test_live_server_call_async.py
  sdk/communication/azure-communication-callingserver/tests/utils/_live_test_utils.py
  sdk/communication/azure-communication-callingserver/tests/utils/_live_test_utils_async.py
  sdk/communication/azure-communication-callingserver/tests/utils/_test_constants.py
  sdk/communication/azure-communication-callingserver/tests/utils/_unit_test_utils.py
Labels: Communication

#21706 add tenant log
  sdk/identity/azure-identity/azure/identity/_internal/__init__.py
Labels: Azure.Identity

#21774 [formrecognizer] fix failing tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_identity_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_identity_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_identity_documents_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_identity_documents_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_logging.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_logging_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_training_async.py
Labels: Cognitive - Form Recognizer

#21773 Update tests.yml
  sdk/formrecognizer/tests.yml
Labels: Cognitive - Form Recognizer

#21769 Sync eng/common directory with azure-sdk-tools for PR 2276
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: EngSys, Central-EngSys

#21783 Sync eng/common directory with azure-sdk-tools for PR 2267
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#21785 Sync eng/common directory with azure-sdk-tools for PR 2272
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#21791 Sync eng/common directory with azure-sdk-tools for PR 2290
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#21761 Increment version for remoterendering releases
  sdk/remoterendering/azure-mixedreality-remoterendering/CHANGELOG.md
  sdk/remoterendering/azure-mixedreality-remoterendering/azure/mixedreality/remoterendering/_version.py
Labels: auto-merge

#21745 Increment version for mixedreality releases
  sdk/mixedreality/azure-mixedreality-authentication/CHANGELOG.md
  sdk/mixedreality/azure-mixedreality-authentication/azure/mixedreality/authentication/_version.py
Labels: auto-merge

#21743 Increment version for loganalytics releases
  sdk/loganalytics/azure-loganalytics/CHANGELOG.md
  sdk/loganalytics/azure-loganalytics/azure/loganalytics/version.py
  sdk/loganalytics/azure-loganalytics/setup.py
Labels: Monitor - LogAnalytics, auto-merge

#21729 Increment version for schemaregistry releases
  sdk/schemaregistry/azure-schemaregistry-avroserializer/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_version.py
Labels: Schema Registry, auto-merge

#21703 Increment version for schemaregistry releases
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_version.py
Labels: Schema Registry, auto-merge

#21711 Increment version for webpubsub releases
  sdk/webpubsub/azure-messaging-webpubsubservice/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_version.py
Labels: auto-merge

#21687 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid, auto-merge

#21686 Increment version for monitor releases
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/azure/monitor/query/_version.py
Labels: auto-merge

#21497 [Search] Semantic Configuration
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_search_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_search_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_search_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_index.py
Labels: Search

#21682 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus, auto-merge

#21799 update version numbers
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/azure/communication/chat/_version.py
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_version.py
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_version.py
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/azure/communication/sms/_version.py
  sdk/communication/azure-mgmt-communication/CHANGELOG.md
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/_version.py
Labels: Communication

#21685 [Cosmos] Use repo's general tox.ini
  sdk/cosmos/azure-cosmos/tox.ini
Labels: Cosmos, Client

#21796 Changefeed Release Changelog
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
Labels: Storage

#21790 Raise in Eventgrid
  scripts/devops_tasks/test_run_samples.py
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_cloud_events_to_domain_topic_sample.py
  sdk/eventgrid/azure-eventgrid/tests/large_data.json
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_exceptions.test_raise_on_auth_error.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_exceptions.test_raise_on_large_payload.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_exceptions_async.test_raise_on_auth_error.yaml
  sdk/eventgrid/azure-eventgrid/tests/recordings/test_exceptions_async.test_raise_on_large_payload.yaml
  sdk/eventgrid/azure-eventgrid/tests/test_exceptions.py
  sdk/eventgrid/azure-eventgrid/tests/test_exceptions_async.py
Labels: Event Grid

#21756 Update async legacy module to newer async module in authenticate_with_azure_sas_credential_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/authenticate_with_azure_sas_credential_async.py
Labels: Event Hubs, customer-reported

#21755 Update async legacy module to newer async module in authenticate_with_azure_named_key_credential_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/authenticate_with_azure_named_key_credential_async.py
Labels: Event Hubs, customer-reported

#21802 [Search] Update release date
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_indexer_client.py
Labels: Search

#21815 Remove unused sections on CHANGELOG
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
Labels: Communication

#21804 [formrecognizer] Clean up test assertions
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_business_card_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_content_type.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_identity_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_identity_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_identity_documents_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_identity_documents_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_invoice_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_receipt_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Cognitive - Form Recognizer

#21836 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search, auto-merge

#21825 [ACR] Prepare release
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
Labels: Container Registry

#21826 Sync eng/common directory with azure-sdk-tools for PR 2321
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#21835 Sync eng/common directory with azure-sdk-tools for PR 2306
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#21838 Increment version for containerregistry releases
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_version.py
Labels: Container Registry, auto-merge

#21817 Increment version for communication releases
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_version.py
Labels: auto-merge, Communication

#21813 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid, auto-merge

#21805 Increment version for storage releases
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_version.py
Labels: Storage, auto-merge

#21841 Fixing how download async pulls the data.
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/aio/_download_async.py
Labels: Communication

#21842 [Test-Proxy] Log Dumps!
  eng/pipelines/templates/jobs/ci.conda.tests.yml
  eng/pipelines/templates/steps/build-test.yml
Labels: auto-merge

#21778 [Cosmos] fix endpoint_discovery logic to be user-configurable
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/test/test_user_configs.py
Labels: Cosmos

#21851 Sync eng/common directory with azure-sdk-tools for PR 2322
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#21852 Sync eng/common directory with azure-sdk-tools for PR 2333
  eng/common/testproxy/docker-start-proxy.ps1
Labels: EngSys, Central-EngSys

#21864 [formrecognizer] Update Sample README with links to spans samples
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
Labels: Cognitive - Form Recognizer

#21867 Sync eng/common directory with azure-sdk-tools for PR 2086
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#21853 [textanalytics] update health live tests due to service change
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare.test_document_errors.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare_async.test_document_errors.yaml
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
Labels: Cognitive - Text Analytics

#21869 [ServiceBus] Fix TTL on messages
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/tests/test_message.py
Labels: Service Bus, customer-reported, auto-merge

#21770 [formrecognizer] Add samples for converting to and from dictionary
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_convert_to_and_from_dict_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/sample_convert_to_and_from_dict.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_convert_to_and_from_dict_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_convert_to_and_from_dict.py
Labels: Cognitive - Form Recognizer, auto-merge

#21857 [EventHubs] Update async samples
  sdk/eventhub/azure-eventhub/samples/async_samples/authenticate_with_sas_token_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/client_identity_authentication_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/connection_string_authentication_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/iot_hub_connection_string_receive_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/proxy_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/receive_batch_with_checkpoint_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_for_period_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_track_last_enqueued_event_prop_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_checkpoint_by_event_count_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_checkpoint_by_time_interval_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_checkpoint_store_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_custom_starting_position_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/send_and_receive_amqp_annotated_message_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/send_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/send_stream_async.py
Labels: Event Hubs, customer-reported

#20008 [EventHubs] ensure ownership arg does not mutate
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_blobstoragecsaio.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/setup.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/tests/test_storage_blob_partition_manager_aio.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_blobstoragecs.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/setup.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/tests/test_storage_blob_partition_manager.py
  shared_requirements.txt
Labels: Event Hubs, auto-merge

#21919 Sync eng/common directory with azure-sdk-tools for PR 2348
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#21941 Fixing download
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/aio/_download_async.py
Labels: Communication
