Repository Azure/azure-sdk-for-python, pull requests merged in 2021-04, with the labels that each got.

#17725 Update changelog date on OT, OC
  sdk/core/azure-core-tracing-opencensus/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core/azure/core/tracing/_abstract_span.py
Labels: Azure.Core

#17694 [AutoRelease] t2-labservices-2021-03-31-84474(Do not merge)
  sdk/labservices/azure-mgmt-labservices/CHANGELOG.md
  sdk/labservices/azure-mgmt-labservices/MANIFEST.in
  sdk/labservices/azure-mgmt-labservices/_meta.json
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/__init__.py
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/_configuration.py
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/_metadata.json
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/_version.py
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/aio/_configuration.py
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/aio/operations/_environment_settings_operations.py
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/aio/operations/_environments_operations.py
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/aio/operations/_global_users_operations.py
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/aio/operations/_lab_accounts_operations.py
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/aio/operations/_labs_operations.py
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/aio/operations/_users_operations.py
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/models/_managed_labs_client_enums.py
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/operations/_environment_settings_operations.py
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/operations/_environments_operations.py
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/operations/_global_users_operations.py
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/operations/_lab_accounts_operations.py
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/operations/_labs_operations.py
  sdk/labservices/azure-mgmt-labservices/azure/mgmt/labservices/operations/_users_operations.py
  sdk/labservices/azure-mgmt-labservices/setup.py
  shared_requirements.txt
Labels: Wave4

#17721 [formrecognizer] Adding passport tests for Id documents prebuilt model
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents.test_id_document_jpg_passport.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_async.test_id_document_jpg_passport.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url.test_id_document_jpg_passport.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_id_documents_from_url_async.test_id_document_jpg_passport.yaml
  sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/id_documents/passport_1.jpg
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_id_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_id_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_id_documents_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_id_documents_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Cognitive - Form Recognizer

#17729 Update README.md
  sdk/cosmos/azure-cosmos/README.md
Labels: Cosmos

#17717 Sync eng/common directory with azure-sdk-tools for PR 1525
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/Update-TestResources.cmd
  eng/common/TestResources/Update-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1.md
Labels: Central-EngSys, EngSys

#17707 [KeyVault] tests-mgmt.yml
  sdk/keyvault/azure-mgmt-keyvault/tests.yml
Labels: KeyVault

#17716 [translation] add error state tests
  sdk/documenttranslation/azure-ai-documenttranslation/azure/ai/documenttranslation/_polling.py
  sdk/documenttranslation/azure-ai-documenttranslation/tests/asynctestcase.py
  sdk/documenttranslation/azure-ai-documenttranslation/tests/recordings/test_cancel_job.test_cancel_job.yaml
  sdk/documenttranslation/azure-ai-documenttranslation/tests/recordings/test_cancel_job_async.test_cancel_job.yaml
  sdk/documenttranslation/azure-ai-documenttranslation/tests/recordings/test_translation.test_bad_input_source.yaml
  sdk/documenttranslation/azure-ai-documenttranslation/tests/recordings/test_translation.test_bad_input_target.yaml
  sdk/documenttranslation/azure-ai-documenttranslation/tests/recordings/test_translation.test_empty_document.yaml
  sdk/documenttranslation/azure-ai-documenttranslation/tests/recordings/test_translation.test_existing_documents_in_target.yaml
  sdk/documenttranslation/azure-ai-documenttranslation/tests/recordings/test_translation.test_existing_documents_in_target_one_valid.yaml
  sdk/documenttranslation/azure-ai-documenttranslation/tests/recordings/test_translation.test_use_supported_and_unsupported_files.yaml
  sdk/documenttranslation/azure-ai-documenttranslation/tests/recordings/test_translation_async.test_bad_input_source.yaml
  sdk/documenttranslation/azure-ai-documenttranslation/tests/recordings/test_translation_async.test_bad_input_target.yaml
  sdk/documenttranslation/azure-ai-documenttranslation/tests/recordings/test_translation_async.test_empty_document.yaml
  sdk/documenttranslation/azure-ai-documenttranslation/tests/recordings/test_translation_async.test_existing_documents_in_target.yaml
  sdk/documenttranslation/azure-ai-documenttranslation/tests/recordings/test_translation_async.test_existing_documents_in_target_one_valid.yaml
  sdk/documenttranslation/azure-ai-documenttranslation/tests/recordings/test_translation_async.test_use_supported_and_unsupported_files.yaml
  sdk/documenttranslation/azure-ai-documenttranslation/tests/test_all_document_statuses.py
  sdk/documenttranslation/azure-ai-documenttranslation/tests/test_all_document_statuses_async.py
  sdk/documenttranslation/azure-ai-documenttranslation/tests/test_cancel_job.py
  sdk/documenttranslation/azure-ai-documenttranslation/tests/test_cancel_job_async.py
  sdk/documenttranslation/azure-ai-documenttranslation/tests/test_document_status.py
  sdk/documenttranslation/azure-ai-documenttranslation/tests/test_document_status_async.py
  sdk/documenttranslation/azure-ai-documenttranslation/tests/test_translation.py
  sdk/documenttranslation/azure-ai-documenttranslation/tests/test_translation_async.py
  sdk/documenttranslation/azure-ai-documenttranslation/tests/testcase.py
Labels: Cognitive - Translator

#17756 SHA e6fa7db931a3e5182e5685630971b64987719938
  sdk/search/azure-search-documents/azure/search/documents/_generated/v2020_06/models/_search_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/v2020_06_preview/aio/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/v2020_06_preview/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/v2020_06_preview/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/v2020_06_preview/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/v2020_06_preview/models/_search_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/v2020_06_preview/operations/_documents_operations.py
Labels: Search

#17635 add adf support (SHA f953424dd168e71373bc52edb9713d2d86a14ada)
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_version.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/__init__.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_artifacts_client_enums.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_models.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_models_py3.py
Labels: Synapse

#17759 expose new skills
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
Labels: Search

#17676 [ContainerRegistry] Pre-release script
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_version.py
Labels: Container Registry, auto-merge

#17699 [SB] tests-mgmt.yml
  sdk/servicebus/azure-mgmt-servicebus/tests.yml
Labels: Service Bus

#17704 [EG] tests-mgmt.yml
  sdk/eventgrid/azure-mgmt-eventgrid/tests.yml
Labels: Event Grid

#17772 [SB] update template path
  sdk/servicebus/azure-mgmt-servicebus/tests.yml
Labels: Service Bus, auto-merge

#17771 [EG] update template path
  sdk/eventgrid/azure-mgmt-eventgrid/tests.yml
Labels: Event Grid, auto-merge

#17652 [EH] tests-mgmt.yml
  sdk/eventhub/azure-mgmt-eventhub/tests.yml
Labels: Event Hubs, auto-merge

#17768 [formrecognizer] Update reading order kwarg description
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
Labels: Cognitive - Form Recognizer

#17773 Changed threshold value to fix Datalake upload performance
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_upload_helper.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_upload_helper.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
Labels: Storage

#17753 [EH] drop 3.5
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/setup.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/setup.py
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/samples/README.md
  sdk/eventhub/azure-eventhub/setup.py
Labels: Event Hubs

#17675 [AppConfig] pre-release script
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
Labels: App Configuration, auto-merge

#17722 Consolidate proactive token refreshing code
  sdk/identity/azure-identity/azure/identity/_authn_client.py
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_aad_client_async.py
  sdk/identity/azure-identity/tests/test_authn_client.py
  sdk/identity/azure-identity/tests/test_authn_client_async.py
  sdk/identity/azure-identity/tests/test_vscode_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential_async.py
Labels: Azure.Identity

#17598 [EventHub] update checkpointstore service operations to take kwargs
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_blobstoragecsaio.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_blobstoragecs.py
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/in_memory_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/in_memory_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/partition_context.py
Labels: Event Hubs, auto-merge

#17777 Update readme
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#17733 Add azure Sas credential support
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/authenticate_with_azure_sas_credential_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/authenticate_with_azure_sas_credential.py
  sdk/eventhub/azure-eventhub/setup.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_auth_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_auth.py
  shared_requirements.txt
Labels: Event Hubs

#17761 Adapt SB to latest OT changes
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/setup.py
  shared_requirements.txt
Labels: Service Bus

#17770 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core

#17673 [ServiceBus] Bump uamqp dependency
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/setup.py
  shared_requirements.txt
Labels: Service Bus

#17783 Adapt EH to OT 1.0.0
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/_eventprocessor_mixin.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
Labels: Event Hubs

#17713 [Communication] - SDK - Fixed parse_connection_str function for better error handling
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/utils.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/utils.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/utils.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/utils.py
Labels: Communication

#17754 Sync eng/common directory with azure-sdk-tools for PR 1535
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
Labels: Central-EngSys, EngSys

#17791 [SB] update release date
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus, auto-merge

#17784 [OT] Warn only on attribute error
  sdk/core/azure-core-tracing-opentelemetry/azure/core/tracing/ext/opentelemetry_span/__init__.py
Labels: Azure.Core

#17674 [EventHubs] Bump uamqp dependency
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/setup.py
  shared_requirements.txt
Labels: Event Hubs, auto-merge

#17790 [ContainerRegistry] new swagger
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_repository_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_container_registry.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_container_registry.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_authentication_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_container_registry_blob_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_container_registry_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_container_registry_repository_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_container_registry_enums.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_models_py3.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_authentication_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_container_registry_blob_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_container_registry_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_container_registry_repository_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_repository_client.py
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_set_manifest_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_set_manifest_properties_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_set_tag_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_set_tag_properties_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_set_manifest_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_set_manifest_properties_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_set_tag_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_set_tag_properties_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/test_container_repository_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_repository_client_async.py
Labels: Client, Container Registry

#17700 [Tables] Pre-release script
  sdk/tables/azure-data-tables/CHANGELOG.md
Labels: Tables

#17776 [Tables] Updated datetime de/serialization
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_common_conversion.py
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_serialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.test_datetime_str_passthrough.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_datetime_str_passthrough.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.test_query_injection_async.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos.test_datetime_str_passthrough.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos_async.test_datetime_str_passthrough.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_cosmos_async.test_query_injection_async.yaml
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos_async.py
Labels: Tables

#17798 [EH] update credential type
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
Labels: Event Hubs, auto-merge

#17774 [Storage] mgmt live tests
  sdk/storage/azure-mgmt-storage/tests.yml
Labels: Storage

#17799 [EH] update credential type to AsyncTokenCredential
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
Labels: Event Hubs, auto-merge

#17781 Add sas support to SB
  scripts/devops_tasks/test_run_samples.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/authenticate_using_azure_sas_credential_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/authenticate_using_azure_sas_credential.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Service Bus

#17802 [SB] update async client to take AsyncTokenCredential
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
Labels: Service Bus, auto-merge

#17667 Use base platform matrix for CI tests
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/cosmos/ci.yml
  sdk/eventhub/ci.yml
  sdk/identity/ci.yml
  sdk/identity/platform-matrix.json
  sdk/servicebus/ci.yml
Labels: Azure.Identity, Central-EngSys, Event Hubs, Service Bus

#17680 [Communications-Chat] Refactor identifiers
  sdk/communication/azure-communication-chat/azure/communication/chat/__init__.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_chat_thread_client.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_communication_identifier_serializer.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_models.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/models.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_utils.py
  sdk/communication/azure-communication-chat/azure/communication/chat/aio/_chat_thread_client_async.py
  sdk/communication/azure-communication-chat/samples/chat_thread_client_sample.py
  sdk/communication/azure-communication-chat/samples/chat_thread_client_sample_async.py
  sdk/communication/azure-communication-chat/setup.py
  sdk/communication/azure-communication-chat/tests/_shared/test_communication_identifier_serializer.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client_async.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client_e2e.py
  sdk/communication/azure-communication-identity/README.md
  sdk/communication/azure-communication-identity/azure/communication/identity/__init__.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_communication_identity_client.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/models.py
  sdk/communication/azure-communication-identity/azure/communication/identity/aio/__init__.py
  sdk/communication/azure-communication-identity/azure/communication/identity/aio/_communication_identity_client_async.py
  sdk/communication/azure-communication-identity/samples/identity_samples.py
  sdk/communication/azure-communication-identity/samples/identity_samples_async.py
  sdk/communication/azure-communication-identity/tests/test_communication_identity_client.py
  sdk/communication/azure-communication-identity/tests/test_communication_identity_client_async.py
Labels: Communication

#17650 [ServiceBus] Support for sending AMQP Annotated Message
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/send_and_receive_amqp_annotated_message_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/send_and_receive_amqp_annotated_message.py
  sdk/servicebus/azure-servicebus/setup.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus

#17809 [translation] add nspkg as a release artifact
  sdk/translation/ci.yml
Labels: Cognitive - Translator

#17752 Add WSL fallback to InteractiveBrowserCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
Labels: Azure.Identity

#17807 [Container Registry] ACR docs
  sdk/containerregistry/azure-containerregistry/README.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_repository_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_repository_client.py
  sdk/containerregistry/azure-containerregistry/samples/README.md
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_create_client_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_create_client.py
  sdk/containerregistry/azure-containerregistry/samples/sample_repository_actions.py
  sdk/containerregistry/azure-containerregistry/setup.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_repository_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_repository_client_async.py
Labels: Container Registry, auto-merge

#17762 [Key Vault] Add local crypto support for AES-CBCPAD
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/algorithms/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/algorithms/aes_cbc.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/symmetric_key.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/transform.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/local_provider.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/symmetric.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_symmetric_decrypt_local_mhsm.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.test_symmetric_encrypt_local_mhsm.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_symmetric_decrypt_local_mhsm.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.test_symmetric_encrypt_local_mhsm.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_local_crypto.py
Labels: Client, KeyVault

#17689 Revise AuthenticationRecord to align with other SDKs
  sdk/identity/azure-identity/azure/identity/_auth_record.py
  sdk/identity/azure-identity/tests/test_auth_record.py
Labels: Azure.Identity

#17813 [Key Vault] Update changelog for keys 4.4.0b4
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
Labels: Client, KeyVault

#17815 Update changelog for azure-identity 1.6.0b3
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#17810 [Tables] Fix for async retry policy
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_policies.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_policies_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/tests/_shared/testcase.py
  sdk/tables/azure-data-tables/tests/recordings/test_retry.test_retry_callback_and_retry_context.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_retry.test_retry_on_server_error.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_retry.test_retry_on_socket_timeout.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_retry.test_retry_on_timeout.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_retry_async.test_retry_callback_and_retry_context_async.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_retry_async.test_retry_on_server_error_async.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_retry_async.test_retry_on_socket_timeout_async.yaml
  sdk/tables/azure-data-tables/tests/recordings/test_retry_async.test_retry_on_timeout_async.yaml
  sdk/tables/azure-data-tables/tests/test_retry.py
  sdk/tables/azure-data-tables/tests/test_retry_async.py
Labels: Tables

#17811 [translation] update changelog date for release
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
Labels: Cognitive - Translator

#17829 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#17831 [EH] update api ref links to point to latest
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/README.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/samples/README.md
Labels: Event Hubs, auto-merge

#17012 Increment version for storage releases
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
Labels: Storage

#17833 [EventHubs] Improvement on doc and sample
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/samples/README.md
  sdk/eventhub/azure-eventhub/samples/async_samples/authenticate_with_azure_sas_credential_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/authenticate_with_sas_token_async.py
  sdk/eventhub/azure-eventhub/samples/sample_dev_requirements.txt
  sdk/eventhub/azure-eventhub/samples/sync_samples/authenticate_with_azure_sas_credential.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/authenticate_with_sas_token.py
Labels: Event Hubs, auto-merge

#17841 [ServiceBus] updates in doc, sample
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/migration_guide.md
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/samples/sync_samples/authenticate_using_azure_sas_credential.py
Labels: Service Bus, auto-merge

#17842 small fixes to samples and readme
  sdk/containerregistry/azure-containerregistry/README.md
  sdk/containerregistry/azure-containerregistry/samples/README.md
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_create_client_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_create_client.py
Labels: Container Registry, auto-merge

#17834 Increment version for tables releases
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
Labels: Tables

#17843 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
Labels: KeyVault

#17851 Increment version for formrecognizer releases
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Labels: Cognitive - Form Recognizer

#17844 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#17849 Update Date on changelog
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
Labels: Azure.Core

#17832 Avoid running non-2.7 and non-3.6 python versions for windows/macos CI tests
  eng/pipelines/templates/stages/platform-matrix-cryptography-dependency.json
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/eventhub/ci.yml
  sdk/identity/ci.yml
  sdk/identity/platform-matrix.json
  sdk/keyvault/ci.yml
  sdk/storage/ci.yml
Labels: Central-EngSys

#17857 [AutoRelease] t1-cosmosdb-2021-04-07-76276(Do not merge)
  sdk/cosmos/azure-mgmt-cosmosdb/CHANGELOG.md
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/_cosmos_db_management_client.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_cosmos_db_management_client_enums.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models_py3.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_paged_models.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_cassandra_clusters_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_cassandra_data_centers_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_cassandra_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_partition_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_partition_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_account_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_accounts_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_gremlin_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_mongo_db_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_notebook_workspaces_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_partition_key_range_id_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_partition_key_range_id_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_source_target_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_target_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_private_endpoint_connections_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_private_link_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_database_accounts_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_mongodb_collections_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_mongodb_databases_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_mongodb_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_sql_containers_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_sql_databases_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_sql_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_sql_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_table_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/version.py
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_create.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_delete.yaml
  sdk/cosmos/azure-mgmt-cosmosdb/tests/recordings/test_mgmt_cosmosdb.test_accounts_features.yaml
Labels: Cosmos

#17860 Increment version for core releases
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/azure/core/tracing/ext/opentelemetry_span/_version.py
Labels: Azure.Core

#17824 [AutoRelease] t2-loganalytics-2021-04-06-87551
  sdk/loganalytics/azure-mgmt-loganalytics/CHANGELOG.md
  sdk/loganalytics/azure-mgmt-loganalytics/MANIFEST.in
  sdk/loganalytics/azure-mgmt-loganalytics/_meta.json
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/_configuration.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/_log_analytics_management_client.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/_metadata.json
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/_version.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/aio/_configuration.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/aio/_log_analytics_management_client.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/aio/operations/__init__.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/aio/operations/_clusters_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/aio/operations/_data_exports_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/aio/operations/_deleted_workspaces_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/aio/operations/_linked_services_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/aio/operations/_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/aio/operations/_tables_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/aio/operations/_workspaces_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/models/__init__.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/models/_log_analytics_management_client_enums.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/models/_models.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/models/_models_py3.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/__init__.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_clusters_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_data_exports_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_deleted_workspaces_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_linked_services_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_tables_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_workspaces_operations.py
  sdk/loganalytics/azure-mgmt-loganalytics/setup.py
  sdk/loganalytics/azure-mgmt-loganalytics/tests/recordings/test_mgmt_loganalytics.test_loganalytics_operations.yaml
  shared_requirements.txt
Labels: Monitor - LogAnalytics

#17858 Changed version to b1 for fixing build pipeline
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
Labels: Storage

#17731 Added missing README line create_file()
  sdk/storage/azure-storage-file-datalake/README.md
Labels: Storage

#17490 Authentication policy performance test
  sdk/identity/azure-identity/tests/perfstress_tests/README.md
  sdk/identity/azure-identity/tests/perfstress_tests/__init__.py
  sdk/identity/azure-identity/tests/perfstress_tests/bearer_token_auth_policy.py
  sdk/identity/azure-identity/tests/perfstress_tests/memory_cache_read.py
  sdk/identity/azure-identity/tests/perfstress_tests/persistent_cache_read.py
Labels: Azure.Identity, Performance

#17877 adding myself to appconfig and tables
  .github/CODEOWNERS
Labels: auto-merge

#17852 CertificateCredential requires either certificate_path or certificate_data
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
Labels: Azure.Identity

#17853 [Communication] - autorest - update swagger to point to readme
  sdk/communication/azure-communication-chat/azure/communication/chat/_generated/aio/operations/_chat_operations.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_generated/operations/_chat_operations.py
  sdk/communication/azure-communication-chat/swagger/SWAGGER.md
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/_communication_identity_client.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/aio/_communication_identity_client.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/models/_models.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/models/_models_py3.py
  sdk/communication/azure-communication-identity/swagger/SWAGGER.md
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/aio/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/swagger/PHONE_NUMBER_SWAGGER.md
  sdk/communication/azure-communication-sms/azure/communication/sms/_generated/_azure_communication_sms_service.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_generated/aio/_azure_communication_sms_service.py
  sdk/communication/azure-communication-sms/swagger/SWAGGER.md
Labels: Communication

#17881 Prepare for release EG
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/README.md
Labels: Event Grid

#17814 Rename - remove_participant -> user -> identifier
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-chat/azure/communication/chat/__init__.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_chat_client.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_chat_thread_client.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_models.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/models.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_utils.py
  sdk/communication/azure-communication-chat/azure/communication/chat/aio/_chat_client_async.py
  sdk/communication/azure-communication-chat/azure/communication/chat/aio/_chat_thread_client_async.py
  sdk/communication/azure-communication-chat/samples/chat_client_sample.py
  sdk/communication/azure-communication-chat/samples/chat_client_sample_async.py
  sdk/communication/azure-communication-chat/samples/chat_thread_client_sample.py
  sdk/communication/azure-communication-chat/samples/chat_thread_client_sample_async.py
  sdk/communication/azure-communication-chat/tests/test_chat_client.py
  sdk/communication/azure-communication-chat/tests/test_chat_client_async.py
  sdk/communication/azure-communication-chat/tests/test_chat_client_e2e.py
  sdk/communication/azure-communication-chat/tests/test_chat_client_e2e_async.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client_async.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client_e2e.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client_e2e_async.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/models.py
Labels: Communication

#17878 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus

#17887 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#17886 [Key Vault] Update live MHSM pipeline test setup
  sdk/keyvault/azure-keyvault-keys/platform-matrix.json
  sdk/keyvault/test-resources-post.ps1
Labels: Client, KeyVault

#17885 Temporarily replace macOS CI tests with ubuntu CI tests
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Labels: Central-EngSys

#17847 [Container Registry] Test fixes
  sdk/containerregistry/azure-containerregistry/README.md
  sdk/containerregistry/azure-containerregistry/samples/README.md
  sdk/containerregistry/azure-containerregistry/tests/preparer.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_repository_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_repository_client_async.py
  sdk/containerregistry/azure-containerregistry/tests/testcase.py
Labels: Container Registry, auto-merge

#17869 [AutoRelease] t2-storagesync-2021-04-07-19792
  sdk/storage/azure-mgmt-storagesync/CHANGELOG.md
  sdk/storage/azure-mgmt-storagesync/MANIFEST.in
  sdk/storage/azure-mgmt-storagesync/_meta.json
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/__init__.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/_configuration.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/_metadata.json
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/_version.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/aio/_configuration.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/aio/operations/_cloud_endpoints_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/aio/operations/_operation_status_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/aio/operations/_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/aio/operations/_private_endpoint_connections_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/aio/operations/_registered_servers_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/aio/operations/_server_endpoints_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/aio/operations/_storage_sync_services_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/aio/operations/_sync_groups_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/aio/operations/_workflows_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/models/_models.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/models/_models_py3.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/operations/_cloud_endpoints_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/operations/_operation_status_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/operations/_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/operations/_private_endpoint_connections_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/operations/_registered_servers_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/operations/_server_endpoints_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/operations/_storage_sync_services_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/operations/_sync_groups_operations.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/storagesync/operations/_workflows_operations.py
  sdk/storage/azure-mgmt-storagesync/setup.py
  sdk/storage/azure-mgmt-storagesync/tests/recordings/test_cli_mgmt_storagesync.test_storagesync.yaml
  shared_requirements.txt
Labels: Storage, Wave4

#17872 [ContainerRegistry] Scrub URL from recordings
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_async.test_list_repositories_by_page.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_async.test_transport_closed_only_once.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_delete_repository.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_delete_repository_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_list_repositories.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_list_repositories2.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_list_repositories_by_page.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_transport_closed_only_once.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client_async.test_delete_repository.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client_async.test_delete_repository_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client_async.test_list_repositories.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client_async.test_list_repositories_by_page.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client_async.test_transport_closed_only_once.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_delete_registry_artifact.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_delete_repository.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_delete_repository_doesnt_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_delete_tag.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_delete_tag_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_get_attributes.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_get_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_get_registry_artifact_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_get_tag.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_registry_artifacts.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_registry_artifacts_ascending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_registry_artifacts_by_page.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_registry_artifacts_descending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_tags.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_tags_ascending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_tags_by_page.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_tags_descending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_set_manifest_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_set_manifest_properties_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_set_tag_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_set_tag_properties_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_delete_registry_artifact.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_delete_repository.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_delete_repository_doesnt_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_delete_tag.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_delete_tag_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_list_registry_artifacts.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_list_registry_artifacts_ascending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_list_registry_artifacts_by_page.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_list_registry_artifacts_descending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_list_tags.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_list_tags_ascending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_list_tags_by_page.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_list_tags_descending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_set_manifest_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_set_manifest_properties_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_set_tag_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_set_tag_properties_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/test_container_repository_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_repository_client_async.py
  sdk/containerregistry/azure-containerregistry/tests/testcase.py
Labels: Container Registry

#17482 Python SDK: CognitiveServices ComputerVision API 3.2 (v0.8.0)
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/_computer_vision_client.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/_configuration.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/__init__.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/_computer_vision_client_enums.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/_models.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/models/_models_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/operations/_computer_vision_client_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/version.py
Labels: Cognitive - Computer Vision

#17690 semantic search
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_generated/v2020_06_preview/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/v2020_06_preview/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_index.py
  sdk/search/azure-search-documents/azure/search/documents/models/__init__.py
  sdk/search/azure-search-documents/samples/async_samples/sample_analyze_text_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_authentication_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_index_crud_operations_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_semantic_search_async.py
  sdk/search/azure-search-documents/samples/sample_semantic_search.py
Labels: Search

#17907 Change date for releases
  sdk/core/azure-core-tracing-opencensus/CHANGELOG.md
Labels: Azure.Core

#17908 catch general exception, remove azure.core import
  tools/azure-sdk-tools/devtools_testutils/resource_testcase.py
Labels: auto-merge

#17912 [Communication] Added typing-extensions dep to identity
  sdk/communication/azure-communication-identity/setup.py
Labels: Communication

#17922 [Tables] fixing test failure b/c of cosmos rate limiting
  sdk/tables/azure-data-tables/tests/recordings/test_table_batch_cosmos_async.test_batch_inserts.yaml
  sdk/tables/azure-data-tables/tests/test_table_batch_cosmos_async.py
Labels: Tables, auto-merge

#17921 azure core dependency update
  sdk/communication/azure-communication-chat/setup.py
  sdk/communication/azure-communication-identity/setup.py
  shared_requirements.txt
Labels: Communication

#17812 updating template to not break on twine checks
  sdk/template/azure-template/setup.py
Labels: EngSys, auto-merge

#17925 [translation] skip bad target tests
  sdk/translation/azure-ai-translation-document/tests/test_translation.py
  sdk/translation/azure-ai-translation-document/tests/test_translation_async.py
Labels: Cognitive - Translator

#17897 [AutoRelease] t2-customproviders-2021-04-08-50278
  sdk/customproviders/azure-mgmt-customproviders/CHANGELOG.md
  sdk/customproviders/azure-mgmt-customproviders/MANIFEST.in
  sdk/customproviders/azure-mgmt-customproviders/_meta.json
  sdk/customproviders/azure-mgmt-customproviders/azure/mgmt/customproviders/_metadata.json
  sdk/customproviders/azure-mgmt-customproviders/azure/mgmt/customproviders/_version.py
  sdk/customproviders/azure-mgmt-customproviders/azure/mgmt/customproviders/aio/operations/_associations_operations.py
  sdk/customproviders/azure-mgmt-customproviders/azure/mgmt/customproviders/aio/operations/_custom_resource_provider_operations.py
  sdk/customproviders/azure-mgmt-customproviders/azure/mgmt/customproviders/aio/operations/_operations.py
  sdk/customproviders/azure-mgmt-customproviders/azure/mgmt/customproviders/operations/_associations_operations.py
  sdk/customproviders/azure-mgmt-customproviders/azure/mgmt/customproviders/operations/_custom_resource_provider_operations.py
  sdk/customproviders/azure-mgmt-customproviders/azure/mgmt/customproviders/operations/_operations.py
  sdk/customproviders/azure-mgmt-customproviders/setup.py
  shared_requirements.txt
Labels: Wave4

#17934 Rerecord tests
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_get_deleted_paths.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_undelete_file_with_version_id.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_get_deleted_paths.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_undelete_file_with_version_id.yaml
Labels: Storage

#17943 Acr remove delete
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_delete_repository.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_delete_repository_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_list_repositories.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_list_repositories_by_page.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_transport_closed_only_once.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_delete_registry_artifact.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_delete_repository.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_delete_repository_doesnt_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_delete_tag.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_delete_tag_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_get_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_get_registry_artifact_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_get_tag.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_registry_artifacts.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_registry_artifacts_ascending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_registry_artifacts_by_page.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_registry_artifacts_descending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_tags.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_tags_ascending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_tags_by_page.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_tags_descending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_set_manifest_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_set_manifest_properties_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_set_tag_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_set_tag_properties_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_repository_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_repository_client_async.py
  sdk/containerregistry/azure-containerregistry/tests/testcase.py
Labels: Container Registry, auto-merge

#17945 samples Update README.md
  sdk/eventgrid/azure-eventgrid/samples/README.md
Labels: Event Grid

#17948 Sync eng/common directory with azure-sdk-tools for PR 1546
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Labels: Central-EngSys, EngSys

#17952 Sync eng/common directory with azure-sdk-tools for PR 1548
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Labels: Central-EngSys, EngSys

#17935 Sync eng/common directory with azure-sdk-tools for PR 1515
  eng/common/pipelines/templates/steps/retain-run.yml
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
Labels: Central-EngSys, EngSys

#17959 [AutoRelease] t2-datashare-2021-04-12-49497
  sdk/datashare/azure-mgmt-datashare/CHANGELOG.md
  sdk/datashare/azure-mgmt-datashare/MANIFEST.in
  sdk/datashare/azure-mgmt-datashare/README.md
  sdk/datashare/azure-mgmt-datashare/_meta.json
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/_configuration.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/_metadata.json
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/_version.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/aio/_configuration.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/aio/operations/_accounts_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/aio/operations/_consumer_invitations_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/aio/operations/_consumer_source_data_sets_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/aio/operations/_data_set_mappings_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/aio/operations/_data_sets_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/aio/operations/_invitations_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/aio/operations/_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/aio/operations/_provider_share_subscriptions_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/aio/operations/_share_subscriptions_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/aio/operations/_shares_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/aio/operations/_synchronization_settings_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/aio/operations/_triggers_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/models/__init__.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/models/_data_share_management_client_enums.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/models/_models.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/models/_models_py3.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/operations/_accounts_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/operations/_consumer_invitations_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/operations/_consumer_source_data_sets_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/operations/_data_set_mappings_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/operations/_data_sets_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/operations/_invitations_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/operations/_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/operations/_provider_share_subscriptions_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/operations/_share_subscriptions_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/operations/_shares_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/operations/_synchronization_settings_operations.py
  sdk/datashare/azure-mgmt-datashare/azure/mgmt/datashare/operations/_triggers_operations.py
  sdk/datashare/azure-mgmt-datashare/sdk_packaging.toml
  sdk/datashare/azure-mgmt-datashare/setup.py
  shared_requirements.txt
Labels: Wave4

#17966 [AutoRelease] t2-hanaonazure-2021-04-12-42294
  sdk/hanaonazure/azure-mgmt-hanaonazure/CHANGELOG.md
  sdk/hanaonazure/azure-mgmt-hanaonazure/MANIFEST.in
  sdk/hanaonazure/azure-mgmt-hanaonazure/_meta.json
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/_metadata.json
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/_version.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/aio/operations/_operations.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/aio/operations/_provider_instances_operations.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/aio/operations/_sap_monitors_operations.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/__init__.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/_models.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/models/_models_py3.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/operations/_operations.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/operations/_provider_instances_operations.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/azure/mgmt/hanaonazure/operations/_sap_monitors_operations.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/setup.py
  shared_requirements.txt
Labels: Wave4

#17984 Sync eng/common directory with azure-sdk-tools for PR 1534
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-ci.ps1
Labels: Central-EngSys, EngSys

#17986 Sync eng/common directory with azure-sdk-tools for PR 1551
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#17992 Fix service props Metrics class
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_datalake_service_client.test_set_hour_metrics.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_datalake_service_client.test_set_minute_metrics.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_datalake_service_client_async.test_set_hour_metrics.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_datalake_service_client_async.test_set_minute_metrics.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_datalake_service_client.py
  sdk/storage/azure-storage-file-datalake/tests/test_datalake_service_client_async.py
Labels: Storage

#17993 Sync eng/common directory with azure-sdk-tools for PR 1504
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Labels: Central-EngSys, EngSys

#17960 Enable retain runs.
  eng/pipelines/templates/stages/archetype-python-release.yml
Labels: Central-EngSys, EngSys

#17998 Revise integration stage condition.
  eng/pipelines/templates/stages/archetype-python-release.yml
Labels: Central-EngSys, EngSys

#18001 Quick fix for retain runs
  eng/pipelines/templates/stages/archetype-python-release.yml
Labels: Central-EngSys, EngSys

#18002 Sync eng/common directory with azure-sdk-tools for PR 1553
  eng/common/pipelines/templates/steps/retain-run.yml
Labels: Central-EngSys, EngSys

#18004 Revert retain.
  eng/pipelines/templates/stages/archetype-python-release.yml
Labels: Central-EngSys, EngSys

#17968 [AutoRelease] t2-healthcareapis-2021-04-12-56802
  sdk/healthcareapis/azure-mgmt-healthcareapis/CHANGELOG.md
  sdk/healthcareapis/azure-mgmt-healthcareapis/MANIFEST.in
  sdk/healthcareapis/azure-mgmt-healthcareapis/README.md
  sdk/healthcareapis/azure-mgmt-healthcareapis/_meta.json
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/_configuration.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/_metadata.json
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/_version.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/aio/_configuration.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/aio/operations/_operation_results_operations.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/aio/operations/_operations.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/aio/operations/_private_endpoint_connections_operations.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/aio/operations/_private_link_resources_operations.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/aio/operations/_services_operations.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/models/__init__.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/models/_healthcare_apis_management_client_enums.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/models/_models.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/models/_models_py3.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/operations/_operation_results_operations.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/operations/_operations.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/operations/_private_endpoint_connections_operations.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/operations/_private_link_resources_operations.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/azure/mgmt/healthcareapis/operations/_services_operations.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/sdk_packaging.toml
  sdk/healthcareapis/azure-mgmt-healthcareapis/setup.py
  sdk/healthcareapis/azure-mgmt-healthcareapis/tests/recordings/test_cli_mgmt_healthcareapis.test_healthcareapis.yaml
  shared_requirements.txt
Labels: Wave4

#18007 [azure-core] Remove unnecessary attribute access
  sdk/core/azure-core/azure/core/pipeline/policies/_universal.py
Labels: Azure.Core

#17985 [Communication] - SDK - Synced SMS and Phone Numbers shared folders
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/models.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/user_credential.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/user_credential_async.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/utils.py
  sdk/communication/azure-communication-phonenumbers/setup.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/models.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/user_credential.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/user_credential_async.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/utils.py
  sdk/communication/azure-communication-sms/setup.py
  shared_requirements.txt
Labels: Communication

#17988 update release date
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/samples/README.md
Labels: Search

#17989 Update document translation sample slug
  sdk/translation/azure-ai-translation-document/samples/README.md
Labels: Cognitive - Translator

#17917 [AppConfiguration] fix tests
  sdk/appconfiguration/azure-appconfiguration/tests/recordings/test_azure_configuration_client.test_list_configuration_settings_contains.yaml
  sdk/appconfiguration/azure-appconfiguration/tests/recordings/test_azure_configuration_client.test_list_configuration_settings_only_key.yaml
  sdk/appconfiguration/azure-appconfiguration/tests/recordings/test_azure_configuration_client.test_list_configuration_settings_reserved_chars.yaml
  sdk/appconfiguration/azure-appconfiguration/tests/recordings/test_azure_configuration_client.test_list_revisions_fields.yaml
  sdk/appconfiguration/azure-appconfiguration/tests/recordings/test_azure_configuration_client_aad.test_list_configuration_settings_contains.yaml
  sdk/appconfiguration/azure-appconfiguration/tests/recordings/test_azure_configuration_client_aad.test_list_configuration_settings_only_key.yaml
  sdk/appconfiguration/azure-appconfiguration/tests/recordings/test_azure_configuration_client_aad.test_list_configuration_settings_reserved_chars.yaml
  sdk/appconfiguration/azure-appconfiguration/tests/recordings/test_azure_configuration_client_aad.test_list_revisions_fields.yaml
  sdk/appconfiguration/azure-appconfiguration/tests/recordings/test_azure_configuration_client_aad_async.test_list_configuration_settings_contains.yaml
  sdk/appconfiguration/azure-appconfiguration/tests/recordings/test_azure_configuration_client_aad_async.test_list_configuration_settings_only_key.yaml
  sdk/appconfiguration/azure-appconfiguration/tests/recordings/test_azure_configuration_client_aad_async.test_list_configuration_settings_reserved_chars.yaml
  sdk/appconfiguration/azure-appconfiguration/tests/recordings/test_azure_configuration_client_async.test_list_configuration_settings_contains.yaml
  sdk/appconfiguration/azure-appconfiguration/tests/recordings/test_azure_configuration_client_async.test_list_configuration_settings_only_key.yaml
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_configuration_client.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_configuration_client_aad.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_configuration_client_aad_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_configuration_client_async.py
Labels: App Configuration, auto-merge

#18011 Sync eng/common directory with azure-sdk-tools for PR 1552
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#18014 fix search fields
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
Labels: Search

#18010 [Communication] - Administration - Package deprecation
  sdk/communication/CONTRIBUTING.md
  sdk/communication/azure-communication-administration/CHANGELOG.md
  sdk/communication/azure-communication-administration/README.md
  sdk/communication/azure-communication-administration/azure/communication/administration/_version.py
Labels: Communication

#17889 Add Conda Publishing
  doc/dev/conda-builds.md
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-conda-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/steps/build-conda-artifacts.yml
  eng/pipelines/templates/steps/get-tagged-code.yml
  scripts/devops_tasks/build_conda_artifacts.py
  sdk/core/ci.yml
  sdk/core/meta.yaml
  sdk/storage/ci.yml
  sdk/storage/meta.yaml
Labels: Azure.Core, Storage

#17955 [Communication]: Removed error code assertion from unauthorized phone number test
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.test_send_sms_fake_from_phone_number.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.test_send_sms_fake_to_phone_number.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.test_send_sms_from_managed_identity.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.test_send_sms_multiple_with_options.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.test_send_sms_single.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.test_send_sms_unauthorized_from_phone_number.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.test_send_sms_unique_message_ids.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.test_send_sms_fake_from_phone_number_async.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.test_send_sms_fake_to_phone_number_async.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.test_send_sms_from_managed_identity_async.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.test_send_sms_multiple_with_options_async.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.test_send_sms_single_async.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.test_send_sms_unauthorized_from_phone_number_async.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.test_send_sms_unique_message_ids_async.yaml
  sdk/communication/azure-communication-sms/tests/test_sms_client_e2e.py
  sdk/communication/azure-communication-sms/tests/test_sms_client_e2e_async.py
Labels: Communication

#17883 [Container Registry] fixing up the test-resources-post script
  sdk/containerregistry/azure-containerregistry/dev_requirements.txt
  sdk/containerregistry/azure-containerregistry/tests/conftest.py
  sdk/containerregistry/azure-containerregistry/tests/constants.py
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_delete_repository.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_delete_repository_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_list_repositories.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_list_repositories_by_page.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_transport_closed_only_once.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client_async.test_delete_repository.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client_async.test_delete_repository_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client_async.test_list_repositories.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client_async.test_list_repositories_by_page.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client_async.test_transport_closed_only_once.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_delete_registry_artifact.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_delete_repository.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_delete_repository_doesnt_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_delete_tag.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_delete_tag_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_get_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_get_registry_artifact_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_get_tag.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_registry_artifacts.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_registry_artifacts_ascending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_registry_artifacts_by_page.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_registry_artifacts_descending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_tags.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_tags_ascending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_tags_by_page.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_list_tags_descending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_set_manifest_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_set_manifest_properties_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_set_tag_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client.test_set_tag_properties_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_delete_registry_artifact.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_delete_repository.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_delete_repository_doesnt_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_delete_tag.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_delete_tag_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_list_registry_artifacts.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_list_registry_artifacts_ascending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_list_registry_artifacts_by_page.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_list_registry_artifacts_descending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_list_tags.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_list_tags_ascending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_list_tags_by_page.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_list_tags_descending.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_set_manifest_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_set_manifest_properties_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_set_tag_properties.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_repository_client_async.test_set_tag_properties_does_not_exist.yaml
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_repository_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_repository_client_async.py
  sdk/containerregistry/azure-containerregistry/tests/testcase.py
  sdk/containerregistry/test-resources-post.ps1
Labels: Container Registry

#17890 [Communication]: Migrated python identity tests to use ARM template
  sdk/communication/azure-communication-identity/tests/_shared/communication_service_preparer.py
  sdk/communication/azure-communication-identity/tests/_shared/helper.py
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client.test_create_user.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client.test_create_user_and_token.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client.test_create_user_from_managed_identity.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client.test_delete_user.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client.test_delete_user_from_managed_identity.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client.test_get_token.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client.test_get_token_from_managed_identity.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client.test_revoke_tokens.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client.test_revoke_tokens_from_managed_identity.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client_async.test_create_user.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client_async.test_create_user_and_token.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client_async.test_create_user_from_managed_identity.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client_async.test_delete_user.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client_async.test_delete_user_from_managed_identity.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client_async.test_get_token.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client_async.test_get_token_from_managed_identity.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client_async.test_revoke_tokens.yaml
  sdk/communication/azure-communication-identity/tests/recordings/test_communication_identity_client_async.test_revoke_tokens_from_managed_identity.yaml
  sdk/communication/azure-communication-identity/tests/test_communication_identity_client.py
  sdk/communication/azure-communication-identity/tests/test_communication_identity_client_async.py
  sdk/communication/test-resources.json
  sdk/communication/tests.yml
Labels: Communication

#18017 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#17519 add perf tests
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/perfstress_tests/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/perfstress_tests/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/perfstress_tests/list_anomalies.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/perfstress_tests/list_incidents.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/perfstress_tests/list_root_causes.py
Labels: Cognitive - Metrics Advisor

#18027 Deprecate Azure-Synapse
  sdk/synapse/azure-synapse/CHANGELOG.md
  sdk/synapse/azure-synapse/README.md
  sdk/synapse/azure-synapse/azure/synapse/_version.py
Labels: Synapse

#17976 [Container Registry] adding blurb about env vars to set
  sdk/containerregistry/azure-containerregistry/README.md
Labels: Container Registry, auto-merge

#18025 [Communication]: Added exception to begin_update_phone_number_capabilities
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_phone_numbers_client.py
Labels: Communication

#18046 [Communication]: Fixed identity samples
  sdk/communication/azure-communication-identity/samples/identity_samples.py
  sdk/communication/azure-communication-identity/samples/identity_samples_async.py
Labels: Communication

#18049 Sync eng/common directory with azure-sdk-tools for PR 1557
  eng/common/pipelines/templates/steps/verify-agent-os.yml
Labels: Central-EngSys, EngSys

#18051 Sync eng/common directory with azure-sdk-tools for PR 1555
  eng/common/pipelines/templates/steps/verify-samples.yml
  eng/common/scripts/Test-SampleMetadata.ps1
  eng/pipelines/templates/steps/analyze.yml
Labels: Central-EngSys, EngSys

#18064 Sync eng/common directory with azure-sdk-tools for PR 1559
  eng/common/pipelines/templates/steps/verify-samples.yml
  eng/common/scripts/Test-SampleMetadata.ps1
  eng/pipelines/templates/steps/analyze.yml
  sdk/core/azure-core-tracing-opentelemetry/samples/README.md
Labels: Central-EngSys, EngSys

#18062 [AutoRelease] t2-hybridcompute-2021-04-15-18223
  sdk/hybridcompute/azure-mgmt-hybridcompute/CHANGELOG.md
  sdk/hybridcompute/azure-mgmt-hybridcompute/MANIFEST.in
  sdk/hybridcompute/azure-mgmt-hybridcompute/_meta.json
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/__init__.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/_configuration.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/_hybrid_compute_management_client.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/_metadata.json
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/_version.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/aio/_configuration.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/aio/_hybrid_compute_management_client.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/aio/operations/__init__.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/aio/operations/_machine_extensions_operations.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/aio/operations/_machines_operations.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/aio/operations/_operations.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/aio/operations/_private_endpoint_connections_operations.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/aio/operations/_private_link_resources_operations.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/aio/operations/_private_link_scopes_operations.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/models/__init__.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/models/_hybrid_compute_management_client_enums.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/models/_models.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/models/_models_py3.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/operations/__init__.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/operations/_machine_extensions_operations.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/operations/_machines_operations.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/operations/_operations.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/operations/_private_endpoint_connections_operations.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/operations/_private_link_resources_operations.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/azure/mgmt/hybridcompute/operations/_private_link_scopes_operations.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/sdk_packaging.toml
  sdk/hybridcompute/azure-mgmt-hybridcompute/setup.py
  sdk/hybridcompute/azure-mgmt-hybridcompute/tests/recordings/test_hybridcompute.test_delete.yaml
  sdk/hybridcompute/azure-mgmt-hybridcompute/tests/recordings/test_hybridcompute.test_get.yaml
  sdk/hybridcompute/azure-mgmt-hybridcompute/tests/recordings/test_hybridcompute.test_list_by_resource_group.yaml
  sdk/hybridcompute/azure-mgmt-hybridcompute/tests/recordings/test_hybridcompute.test_list_by_subscription.yaml
  shared_requirements.txt
Labels: Wave4

#18013 allow filtering live test sets based on package name
  sdk/communication/tests.yml
Labels: Communication, auto-merge

#18040 [EventHubs] user agent impl update
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
Labels: Client, Event Hubs

#18081 update sample slugs for services
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/README.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/README.md
  sdk/schemaregistry/azure-schemaregistry/samples/README.md
Labels: Schema Registry

#18009 Update sample readme slug
  sdk/identity/azure-identity/samples/README.md
Labels: Azure.Identity

#18042 [ServiceBus] update samples, docs and tests for sql rule filter
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_models.py
  sdk/servicebus/azure-servicebus/samples/async_samples/mgmt_rule_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/mgmt_rule.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_rules_async.test_async_mgmt_rule_create.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_rules_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_rules.test_mgmt_rule_create.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_rules.py
Labels: Service Bus, auto-merge

#18019 [Service Bus] update env vars in template
  scripts/devops_tasks/test_run_samples.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/generate_sas_token_and_authenticate_client.py
  sdk/servicebus/test-resources.json
Labels: Service Bus

#18070 dns changelog config
  sdk/network/azure-mgmt-dns/CHANGELOG.md
  sdk/network/azure-mgmt-dns/azure/mgmt/dns/v2016_04_01/_version.py
  sdk/network/azure-mgmt-dns/azure/mgmt/dns/v2018_03_01_preview/_version.py
  sdk/network/azure-mgmt-dns/azure/mgmt/dns/v2018_05_01/_version.py
Labels: Track2

#18044 [ServiceBus] validate iso8601 duration format in mgmt module
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_model_workaround.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_queues_async.test_async_mgmt_queue_create_with_queue_description.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_queues_async.test_async_mgmt_queue_update_success.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_subscriptions_async.test_async_mgmt_subscription_create_with_subscription_description.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_subscriptions_async.test_async_mgmt_subscription_update_success.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_topics_async.test_async_mgmt_topic_create_with_topic_description.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/recordings/test_mgmt_topics_async.test_async_mgmt_topic_update_success.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/mgmt_tests/test_mgmt_topics_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_queues.test_mgmt_queue_create_with_queue_description.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_queues.test_mgmt_queue_update_success.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_subscriptions.test_mgmt_subscription_create_with_subscription_description.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_subscriptions.test_mgmt_subscription_update_success.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_topics.test_mgmt_topic_create_with_topic_description.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/recordings/test_mgmt_topics.test_mgmt_topic_update_success.yaml
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_queues.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_subscriptions.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_topics.py
Labels: Service Bus

#18083 [Communication] - Administration - Fix broken README links
  sdk/communication/azure-communication-administration/README.md
Labels: Communication

#18056 Update azure-template
  sdk/template/azure-template/setup.py
  sdk/template/tests.yml
Labels: EngSys

#17806 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core

#18024 [Key Vault] Add public_exponent option to create_key
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/platform-matrix.json
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_rsa_public_exponent_mhsm.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_rsa_public_exponent_mhsm.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/test-resources-post.ps1
Labels: Client, KeyVault

#18026 Correct expiration epoch time
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/utils.py
  sdk/communication/azure-communication-chat/dev_requirements.txt
  sdk/communication/azure-communication-chat/tests/_shared/test_utils.py
  sdk/communication/azure-communication-chat/tests/test_chat_client.py
  sdk/communication/azure-communication-chat/tests/test_chat_client_async.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client_async.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/utils.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/utils.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/utils.py
Labels: Communication

#18106 Enabled exists() for CPK encrypted blobs
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions.test_if_blob_with_cpk_exists.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_access_conditions_async.test_if_blob_with_cpk_exists.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions_async.py
Labels: Storage

#18112 Sync eng/common directory with azure-sdk-tools for PR 1560
  eng/common/TestResources/build-test-resource-config.yml
Labels: Central-EngSys, EngSys

#17944 [Tables] Adding azurite support
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/tests/test_table.py
  sdk/tables/azure-data-tables/tests/test_table_async.py
  sdk/tables/azure-data-tables/tests/test_table_client.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos_async.py
Labels: Tables, auto-merge

#18139 Sync eng/common directory with azure-sdk-tools for PR 1563
  eng/common/TestResources/build-test-resource-config.yml
Labels: Central-EngSys, EngSys
