Repository Azure/azure-sdk-for-python, pull requests merged in 2021-12, with the labels that each got.

#21940 [Key Vault] Use shared test-resources.json
  sdk/keyvault/azure-keyvault-keys/tests/_test_case.py
  sdk/keyvault/test-resources.json
Labels: KeyVault, Client

#21949 [EventHubs] remove unused import
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/in_memory_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
Labels: Event Hubs, auto-merge

#21505 Generate and publish API stub file for Python
  eng/pipelines/templates/steps/analyze.yml
  eng/pipelines/templates/steps/build-artifacts.yml
  eng/pipelines/templates/steps/run_apistub.yml
  eng/tox/run_apistubgen.py
  eng/tox/tox.ini
  scripts/devops_tasks/setup_execute_tests.py
  scripts/devops_tasks/tox_harness.py
Labels: Central-EngSys

#20891 Fix mypy syntax errors
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
Labels: Storage, customer-reported

#21925 [textanalytics] Update async samples
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_alternative_document_input_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_actions_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_healthcare_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_healthcare_entities_with_cancellation_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_sentiment_with_opinion_mining_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_authentication_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_detect_language_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_extract_summary_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_get_detailed_diagnostics_information_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_pii_entities_async.py
Labels: customer-reported, Cognitive - Text Analytics

#21960 work around for crypto issue
  eng/test_tools.txt
  eng/tox/tox.ini
  sdk/identity/azure-identity/dev_requirements.txt
Labels: Azure.Identity

#21916 [formrecognizer] Re-name variables in tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_custom_forms_from_url_async.py
Labels: Cognitive - Form Recognizer, auto-merge

#21915 [formrecognizer] Remove unused variables from test resources
  sdk/formrecognizer/test-resources.json
Labels: Cognitive - Form Recognizer, auto-merge

#21963 [tables] remove crypto req in dev reqs
  sdk/tables/azure-data-tables/dev_requirements.txt
Labels: Tables

#21814 Sync eng/common directory with azure-sdk-tools for PR 2248
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#21800 [core] add non odatav4 error bodies to message
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/exceptions.py
  sdk/core/azure-core/tests/test_exceptions.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/errors.py
Labels: Azure.Core

#21958 Sync eng/common directory with azure-sdk-tools for PR 2352
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/scripts/check-spelling-in-changed-files.ps1
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Labels: EngSys, Central-EngSys

#21969 update release date and doc
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core

#21983 Sync eng/common directory with azure-sdk-tools for PR 2372
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#21993 Sync eng/common directory with azure-sdk-tools for PR 2380
  eng/common/scripts/Verify-Readme.ps1
Labels: EngSys, Central-EngSys

#21991 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, auto-merge

#21992 [translation] remove sample tests dependency on static storage acc
  sdk/translation/azure-ai-translation-document/samples/assets/translate.txt
  sdk/translation/test-resources-post.ps1
  sdk/translation/test-resources.json
Labels: Cognitive - Translator

#21989 [stress, eventhub] Update dependency version and image/namespace. Remove redundant files.
  sdk/eventhub/azure-eventhub/stress/Chart.lock
  sdk/eventhub/azure-eventhub/stress/Chart.yaml
  sdk/eventhub/azure-eventhub/stress/stress-test-resources.json
  sdk/eventhub/azure-eventhub/stress/templates/testjob.yaml
Labels: Event Hubs, Central-EngSys, Stress

#22004 consume swagger changes for addparticipantresult
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_call_connection.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/models/_models.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_generated/models/_models_py3.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/aio/_call_connection_async.py
  sdk/communication/azure-communication-callingserver/swagger/SWAGGER.md
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_call_connection.test_create_add_remove_hangup_scenario.yaml
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_call_connection.test_create_play_cancel_hangup_scenario.yaml
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_call_connection_async.test_create_add_remove_hangup_scenario_async.yaml
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_call_connection_async.test_create_play_cancel_hangup_scenario_async.yaml
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_server_call.test_create_add_remove_hangup_scenario.yaml
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_server_call_async.test_create_add_remove_hangup_scenario_async.yaml
  sdk/communication/azure-communication-callingserver/tests/test_live_call_connection.py
  sdk/communication/azure-communication-callingserver/tests/test_live_call_connection_async.py
  sdk/communication/azure-communication-callingserver/tests/test_live_server_call.py
  sdk/communication/azure-communication-callingserver/tests/test_live_server_call_async.py
  sdk/communication/azure-communication-callingserver/tests/utils/_live_test_utils.py
  sdk/communication/azure-communication-callingserver/tests/utils/_test_constants.py
  sdk/communication/azure-communication-callingserver/tests/utils/_unit_test_utils.py
Labels: Communication

#22017 Sync eng/common directory with azure-sdk-tools for PR 2327
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#22023 [core] revert error logging
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/exceptions.py
  sdk/core/azure-core/tests/test_exceptions.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/errors.py
Labels: Azure.Core

#21421 [ACR] Add performance tests
  sdk/containerregistry/azure-containerregistry/tests/perfstress_tests/README.md
  sdk/containerregistry/azure-containerregistry/tests/perfstress_tests/__init__.py
  sdk/containerregistry/azure-containerregistry/tests/perfstress_tests/list_artifacts.py
  sdk/containerregistry/azure-containerregistry/tests/perfstress_tests/list_repositories.py
Labels: Container Registry

#22006 [formrecognizer] Update readme and changelog with dictionary samples
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
Labels: Cognitive - Form Recognizer

#22032 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, auto-merge

#22034 [Key Vault] Add links to ISO 8601 documentation
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
Labels: KeyVault, Client

#22026 Sync eng/common directory with azure-sdk-tools for PR 2381
  eng/common/pipelines/templates/steps/write-filesystemmetrics.yml
  eng/common/scripts/Write-FileSystemMetrics.ps1
Labels: EngSys, Central-EngSys

#22054 Feature/communication calling server preview
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_call_connection.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_callingserver_client.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/aio/_call_connection_async.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/aio/_callingserver_client_async.py
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_call_connection.test_create_add_remove_hangup_scenario.yaml
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_call_connection.test_create_play_cancel_hangup_scenario.yaml
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_call_connection_async.test_create_add_remove_hangup_scenario_async.yaml
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_call_connection_async.test_create_play_cancel_hangup_scenario_async.yaml
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_server_call.test_create_add_remove_hangup_scenario.yaml
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_server_call.test_join_play_cancel_hangup_scenario.yaml
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_server_call_async.test_create_add_remove_hangup_scenario_async.yaml
  sdk/communication/azure-communication-callingserver/tests/recordings/test_live_server_call_async.test_join_play_cancel_hangup_scenario_async.yaml
  sdk/communication/azure-communication-callingserver/tests/test_call_connection.py
  sdk/communication/azure-communication-callingserver/tests/test_call_connection_async.py
  sdk/communication/azure-communication-callingserver/tests/test_callingserver_client.py
  sdk/communication/azure-communication-callingserver/tests/test_callingserver_client_async.py
  sdk/communication/azure-communication-callingserver/tests/test_live_call_connection.py
  sdk/communication/azure-communication-callingserver/tests/test_live_call_connection_async.py
  sdk/communication/azure-communication-callingserver/tests/test_live_server_call.py
  sdk/communication/azure-communication-callingserver/tests/test_live_server_call_async.py
  sdk/communication/azure-communication-callingserver/tests/utils/_unit_test_utils.py
Labels: Communication

#22020 Sync eng/common directory with azure-sdk-tools for PR 2363
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#22063 Sync eng/common directory with azure-sdk-tools for PR 2393
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#22078 Sync eng/common directory with azure-sdk-tools for PR 2402
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#22086 Sync eng/common directory with azure-sdk-tools for PR 2408
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#22105 Sync eng/common directory with azure-sdk-tools for PR 2412
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#22091 [textanalytics] bug bash readme feedback
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Cognitive - Text Analytics

#21965 Remove old blob perf test
  sdk/storage/azure-storage-blob/tests/blob_performance.py
Labels: Storage

#22111 Sync eng/common directory with azure-sdk-tools for PR 2415
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#22132 [textanalytics] add sample showing how to set model_version
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_model_version_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_model_version.py
Labels: Cognitive - Text Analytics

#21572 Invalid XML Blob Name Encoding
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_deserialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_list_blobs_helper.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_list_blobs_helper.py
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_list_encoded_blobs.yaml
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_serialize.py
  shared_requirements.txt
Labels: Storage

#21964 Improved MyPy typing for queues
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_serialize.py
Labels: Storage

#21537 Premium File Bandwidth Limits
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_get_share_properties_for_premium_account.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_list_shares_no_options_for_premium_account.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.test_get_share_properties_for_premium_account_async.yaml
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage

#21527 Added List System Containers
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_list_system_containers.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_list_system_containers.yaml
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_list_system_filesystems.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_list_system_filesystems_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
Labels: Storage

#22136 [translation] Update async samples to use asyncio.run instead of loop
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_authentication_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_begin_translation_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_check_document_statuses_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_list_document_statuses_with_filters_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_list_translations_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_list_translations_with_filters_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_translate_multiple_inputs_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_translation_with_azure_blob_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_translation_with_custom_model_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_translation_with_glossaries_async.py
Labels: customer-reported

#21486 STG80
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_deserialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models_py3.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_list_blobs_helper.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_list_blobs_helper.py
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_list_encoded_blobs.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_list_system_containers.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_list_system_containers.yaml
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_configuration.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/_configuration.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/models/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-datalake/swagger/README.md
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_list_system_filesystems.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_list_system_filesystems_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_configuration.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_configuration.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/swagger/README.md
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_get_share_properties_for_premium_account.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_list_shares_no_options_for_premium_account.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.test_get_share_properties_for_premium_account_async.yaml
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_serialize.py
  shared_requirements.txt
Labels: Storage

#22077 [Storage] Fix aio walk blobs sample and expose aio BlobPrefix
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/__init__.py
  sdk/storage/azure-storage-blob/samples/blob_samples_walk_blob_hierarchy_async.py
Labels: Storage

#22153 [Cosmos] release script changes
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/setup.py
Labels: Cosmos, Client

#22147 [formrecognizer] Update async samples to use asyncio.run()
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_authentication_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_convert_to_and_from_dict_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_create_composed_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_differentiate_output_labeled_tables_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_differentiate_output_models_trained_with_and_without_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_get_bounding_boxes_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_manage_custom_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_recognize_business_cards_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_recognize_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_recognize_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_recognize_identity_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_recognize_invoices_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_recognize_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_recognize_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_strongly_typing_recognized_form_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_train_model_with_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.1/async_samples/sample_train_model_without_labels_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/advanced_samples/async_advanced_samples/sample_get_elements_with_spans_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_business_cards_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_custom_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_general_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_identity_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_invoices_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_layout_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_authentication_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_build_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_convert_to_and_from_dict_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_create_composed_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_get_operations_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_get_words_on_document_line_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_manage_models_async.py
Labels: Cognitive - Form Recognizer

#22108 Remove canary from default weekly live testing clouds
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
Labels: Central-EngSys

#21582 Added support for Fileshare DirectoryClient.Exists()
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_directory.test_share_directory_exists.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_directory_async.test_share_directory_exists_async.yaml
  sdk/storage/azure-storage-file-share/tests/test_directory.py
  sdk/storage/azure-storage-file-share/tests/test_directory_async.py
Labels: Storage

#22157 Parse SAS connection string correctly for DFS endpoint
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
Labels: Storage

#22152 Fix Datalake Dependency issue for release
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
  shared_requirements.txt
Labels: Storage

#22172 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos, auto-merge

#22114 Add api_version kwarg
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_container_registry.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_patch.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_vendor.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_container_registry.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_patch.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_authentication_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_container_registry_blob_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_container_registry_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_container_registry_enums.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_models_py3.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_authentication_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_container_registry_blob_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_container_registry_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_helpers.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/swagger/README.md
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
Labels: Container Registry, Client

#22168 [ServiceFabric] Generate SDK 8.2 (Track 1)
  sdk/servicefabric/azure-servicefabric/CHANGELOG.md
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/_service_fabric_client_ap_is.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/models/__init__.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/models/_models.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/models/_models_py3.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/models/_service_fabric_client_ap_is_enums.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/operations/_service_fabric_client_ap_is_operations.py
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/version.py
Labels: Service Fabric

#22160 [Datalake] Datalake depend on latest blob
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
  shared_requirements.txt
Labels: Storage

#22163 [formrecognizer] Add perf tests for DAC client
  sdk/formrecognizer/azure-ai-formrecognizer/tests/perfstress_tests/perf_dac_analyze_document_from_url_requests.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/perfstress_tests/perf_dac_analyze_document_requests.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/perfstress_tests/perf_dmac_build_model_requests.py
Labels: Cognitive - Form Recognizer

#22177 Sync eng/common directory with azure-sdk-tools for PR 2442
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#21717 Update keyvault to enable live testing in sovereign clouds for multiple services
  sdk/keyvault/azure-keyvault-keys/tests/_test_case.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_key_crud_operations_2016_10_01_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_key_crud_operations_7_0_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_key_crud_operations_7_1_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_key_crud_operations_7_2_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_key_crud_operations_7_3_preview_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_key_crud_operations_2016_10_01_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_key_crud_operations_7_0_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_key_crud_operations_7_1_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_key_crud_operations_7_2_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_key_crud_operations_7_3_preview_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys_async.py
  sdk/keyvault/tests.yml
Labels: KeyVault

#22186 [formrecognizer] Skip copy model tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model_async.py
Labels: Cognitive - Form Recognizer

#22192 Make Azure KeyVault Secrets Py3 only
  eng/pipelines/templates/variables/globals.yml
  sdk/keyvault/azure-keyvault-secrets/README.md
  sdk/keyvault/azure-keyvault-secrets/setup.cfg
  sdk/keyvault/azure-keyvault-secrets/setup.py
Labels: KeyVault

#22179 [Key Vault] Update HSM deployment scripts
  sdk/keyvault/test-resources-post.ps1
  sdk/keyvault/test-resources.json
Labels: KeyVault, Client

#21946 generate names from swagger
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/swagger/_constants.py
  sdk/eventgrid/azure-eventgrid/swagger/postprocess_eventnames.py
Labels: Event Grid

#22000 [translation] update yaml to include dogfood
  sdk/translation/azure-ai-translation-document/tests/test_translation.py
  sdk/translation/azure-ai-translation-document/tests/test_translation_async.py
  sdk/translation/test-resources-post.ps1
  sdk/translation/test-resources.json
  sdk/translation/tests.yml
Labels: Cognitive - Translator

#22090 [EventHubs] fix chaos external target
  sdk/eventhub/azure-eventhub/stress/templates/network_loss.yaml
Labels: Event Hubs, auto-merge

#22207 [Key Vault] Add links to key rotation documentation in README
  sdk/keyvault/azure-keyvault-keys/README.md
Labels: KeyVault, Client

#22188 Sync eng/common directory with azure-sdk-tools for PR 2447
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#22219 [ACR ]Update README.md and samples
  sdk/containerregistry/azure-containerregistry/README.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_delete_images_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_delete_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_hello_world_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_list_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_set_image_properties_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_images.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_tags.py
  sdk/containerregistry/azure-containerregistry/samples/sample_hello_world.py
  sdk/containerregistry/azure-containerregistry/samples/sample_list_tags.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_image_properties.py
  sdk/containerregistry/azure-containerregistry/tests/perfstress_tests/list_artifacts.py
  sdk/containerregistry/azure-containerregistry/tests/perfstress_tests/list_repositories.py
Labels: Container Registry, Client

#20475 [Cosmos] Add Cross Partition Split to Limitations
  sdk/cosmos/azure-cosmos/README.md
Labels: Cosmos

#22128 Update dev_requirements.txt
  sdk/template/azure-template/dev_requirements.txt
Labels: EngSys

#22076 Update README.md
  sdk/cosmos/azure-cosmos/README.md
Labels: Cosmos

#22211 [Key Vault] Remove references to specific generated API versions
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated_models.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_models.py
Labels: KeyVault, Client

#22008 [Identity] Proposal to update the README.md to solve #20130
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#22227 [formrecognizer] Update to use Python 3 only
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/dev_requirements.txt
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/setup.cfg
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
Labels: Cognitive - Form Recognizer

#22224 [metricsadvisor] updates to drop 2.7 support
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/dev_requirements.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/setup.cfg
  sdk/metricsadvisor/azure-ai-metricsadvisor/setup.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/conftest.py
Labels: Cognitive - Metrics Advisor

#22222 [translation] updates to drop 2.7 support
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
  sdk/translation/azure-ai-translation-document/README.md
  sdk/translation/azure-ai-translation-document/dev_requirements.txt
  sdk/translation/azure-ai-translation-document/samples/README.md
  sdk/translation/azure-ai-translation-document/setup.cfg
  sdk/translation/azure-ai-translation-document/setup.py
  sdk/translation/azure-ai-translation-document/tests/conftest.py
Labels: Cognitive - Translator

#22221 [textanalytics] updates to drop 2.7 support
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/dev_requirements.txt
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
  sdk/textanalytics/azure-ai-textanalytics/setup.cfg
  sdk/textanalytics/azure-ai-textanalytics/setup.py
  sdk/textanalytics/azure-ai-textanalytics/tests/conftest.py
Labels: Cognitive - Text Analytics

#22201 Retry on content MD5 failures when we want to validate it
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/policies.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
Labels: Storage

#22246 Python 2.7 Deprecation Disclaimer
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-queue/README.md
Labels: Storage

#21966 Referenced async requirements in readmes
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-queue/README.md
Labels: Storage
