Repository Azure/azure-sdk-for-python, pull requests merged in 2022-02, with the labels that each got.

#22856 [Cosmos] updating tests for internal pipelines
  sdk/cosmos/azure-cosmos/dev_requirements.txt
  sdk/cosmos/azure-cosmos/test/test_config.py
  sdk/cosmos/azure-cosmos/test/test_partition_split_query.py
Labels: Cosmos

#22786 add validate_authority support
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
Labels: Azure.Identity

#22791 [translation] add sample that shows filtered translation
  scripts/devops_tasks/test_run_samples.py
  sdk/translation/azure-ai-translation-document/README.md
  sdk/translation/azure-ai-translation-document/samples/README.md
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_begin_translation_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_begin_translation_with_filters_async.py
  sdk/translation/azure-ai-translation-document/samples/sample_begin_translation.py
  sdk/translation/azure-ai-translation-document/samples/sample_begin_translation_with_filters.py
Labels: Cognitive - Translator

#22858 [translation] fix spelling according to cspell
  .vscode/cspell.json
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_client.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_client_async.py
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_translation_with_azure_blob_async.py
  sdk/translation/azure-ai-translation-document/samples/sample_translation_with_azure_blob.py
  sdk/translation/azure-ai-translation-document/tests/asynctestcase.py
  sdk/translation/azure-ai-translation-document/tests/test_list_document_statuses.py
  sdk/translation/azure-ai-translation-document/tests/test_list_document_statuses_async.py
  sdk/translation/azure-ai-translation-document/tests/test_list_translations.py
  sdk/translation/azure-ai-translation-document/tests/test_list_translations_async.py
  sdk/translation/azure-ai-translation-document/tests/test_translation.py
  sdk/translation/azure-ai-translation-document/tests/test_translation_async.py
  sdk/translation/azure-ai-translation-document/tests/testcase.py
Labels: Cognitive - Translator

#22864 [Cosmos] further changes to test for internal pipelines
  sdk/cosmos/azure-cosmos/test/test_config.py
  sdk/cosmos/azure-cosmos/test/test_partition_split_query.py
Labels: Cosmos

#22713 [core] accept 'final-state-via' lro_options in base polling
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/polling/base_polling.py
  sdk/core/azure-core/tests/async_tests/test_base_polling_async.py
  sdk/core/azure-core/tests/test_base_polling.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/polling.py
Labels: Azure.Core

#22859 [Storage] Update docs for `ContainerClient` APIs
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
Labels: Storage, Docs

#22865 [translation] fix cspell ignore in src code
  .vscode/cspell.json
  sdk/translation/azure-ai-translation-document/tests/test_translation.py
  sdk/translation/azure-ai-translation-document/tests/test_translation_async.py
Labels: Cognitive - Translator

#21337 Deprecate CLI factory in azure-common
  sdk/core/azure-common/CHANGELOG.md
  sdk/core/azure-common/azure/common/client_factory.py
  sdk/core/azure-common/azure/common/cloud.py
  sdk/core/azure-common/azure/common/credentials.py
  sdk/core/azure-common/tests/test_client_factory.py
Labels: Azure.Core

#22870 [translation] fix flaky tests
  sdk/translation/azure-ai-translation-document/tests/recordings/test_cancel_translation.test_cancel_translation.yaml
  sdk/translation/azure-ai-translation-document/tests/recordings/test_cancel_translation_async.test_cancel_translation.yaml
  sdk/translation/azure-ai-translation-document/tests/test_cancel_translation.py
  sdk/translation/azure-ai-translation-document/tests/test_cancel_translation_async.py
Labels: Cognitive - Translator

#22875 Sync eng/common directory with azure-sdk-tools for PR 2608
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#22877 Disable apistub gen artifact gen for python pipeline
  eng/pipelines/templates/steps/build-artifacts.yml
Labels: Central-EngSys

#22880 remove unused sections
  sdk/batch/azure-batch/CHANGELOG.md
Labels: Batch

#22869 update changelog
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#22874 Sync eng/common directory with azure-sdk-tools for PR 2605
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#22890 update to use py3 syntax
  sdk/core/azure-core/azure/core/polling/base_polling.py
Labels: Azure.Core

#22760 Drop support for Python 2.7/3.5
  .vscode/cspell.json
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-chat/azure/communication/chat/_chat_client.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_chat_thread_client.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_version.py
  sdk/communication/azure-communication-chat/azure/communication/chat/aio/_chat_client_async.py
  sdk/communication/azure-communication-chat/azure/communication/chat/aio/_chat_thread_client_async.py
  sdk/communication/azure-communication-chat/dev_requirements.txt
  sdk/communication/azure-communication-chat/setup.cfg
  sdk/communication/azure-communication-chat/setup.py
  sdk/communication/azure-communication-chat/tests/conftest.py
  sdk/communication/azure-communication-chat/tests/test_chat_client.py
  sdk/communication/azure-communication-chat/tests/test_chat_client_async.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client_async.py
  sdk/communication/azure-communication-chat/tests/unittest_helpers.py
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/README.md
  sdk/communication/azure-communication-identity/azure/communication/identity/_version.py
  sdk/communication/azure-communication-identity/dev_requirements.txt
  sdk/communication/azure-communication-identity/setup.cfg
  sdk/communication/azure-communication-identity/setup.py
  sdk/communication/azure-communication-identity/tests/_shared/helper.py
  sdk/communication/azure-communication-identity/tests/conftest.py
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
  sdk/communication/azure-communication-networktraversal/README.md
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_version.py
  sdk/communication/azure-communication-networktraversal/dev_requirements.txt
  sdk/communication/azure-communication-networktraversal/setup.cfg
  sdk/communication/azure-communication-networktraversal/setup.py
  sdk/communication/azure-communication-networktraversal/tests/_shared/helper.py
  sdk/communication/azure-communication-networktraversal/tests/conftest.py
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_version.py
  sdk/communication/azure-communication-phonenumbers/dev_requirements.txt
  sdk/communication/azure-communication-phonenumbers/setup.cfg
  sdk/communication/azure-communication-phonenumbers/setup.py
  sdk/communication/azure-communication-phonenumbers/test/conftest.py
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/README.md
  sdk/communication/azure-communication-sms/azure/communication/sms/_version.py
  sdk/communication/azure-communication-sms/dev_requirements.txt
  sdk/communication/azure-communication-sms/setup.cfg
  sdk/communication/azure-communication-sms/setup.py
  sdk/communication/azure-communication-sms/tests/conftest.py
  sdk/communication/azure-communication-sms/tests/test_sms_client.py
  sdk/communication/azure-communication-sms/tests/test_sms_client_async.py
  sdk/communication/azure-communication-sms/tests/unittest_helpers.py
  sdk/communication/azure-mgmt-communication/CHANGELOG.md
  sdk/communication/azure-mgmt-communication/README.md
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/_version.py
  sdk/communication/azure-mgmt-communication/setup.py
  sdk/communication/ci.yml
Labels: Communication

#22897 [translation] fix flaky canceling tests
  sdk/translation/azure-ai-translation-document/tests/test_cancel_translation.py
  sdk/translation/azure-ai-translation-document/tests/test_cancel_translation_async.py
  sdk/translation/azure-ai-translation-document/tests/test_translation.py
  sdk/translation/azure-ai-translation-document/tests/test_translation_async.py
Labels: Cognitive - Translator

#22882 [translation] add keywords to assist in searching for the package in pypi
  sdk/translation/azure-ai-translation-document/setup.py
Labels: Cognitive - Translator

#22792 [Cosmos] Change default consistency level to the database account consistency level
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_constants.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/samples/examples_async.py
  sdk/cosmos/azure-cosmos/samples/index_management_async.py
  sdk/cosmos/azure-cosmos/samples/nonpartitioned_container_operations_async.py
  sdk/cosmos/azure-cosmos/test/test_user_configs.py
Labels: Cosmos, Client, cosmos-v4-python

#22894 [Storage] Fix account SAS generation for file-share
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/shared_access_signature.py
Labels: Storage

#22415 GA release for NetworkTraversal
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
  sdk/communication/azure-communication-networktraversal/README.md
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/__init__.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_communication_relay_client.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/__init__.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/_communication_network_traversal_client.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/_configuration.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/_patch.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/aio/__init__.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/aio/_communication_network_traversal_client.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/aio/_configuration.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/aio/_patch.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/aio/operations/_communication_network_traversal_operations.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/models/_communication_network_traversal_client_enums.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/models/_models.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/models/_models_py3.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/operations/_communication_network_traversal_operations.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_version.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/aio/__init__.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/aio/_communication_relay_client_async.py
  sdk/communication/azure-communication-networktraversal/samples/network_traversal_samples.py
  sdk/communication/azure-communication-networktraversal/samples/network_traversal_samples_async.py
  sdk/communication/azure-communication-networktraversal/swagger/SWAGGER.md
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client.test_get_relay_configuration.yaml
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client.test_get_relay_configuration_with_route_type_any.yaml
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client.test_get_relay_configuration_with_route_type_nearest.yaml
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client.test_get_relay_configuration_without_identity.yaml
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client_async.test_get_relay_configuration.yaml
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client_async.test_get_relay_configuration_with_route_type_any.yaml
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client_async.test_get_relay_configuration_with_route_type_nearest.yaml
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client_async.test_get_relay_configuration_without_identity.yaml
  sdk/communication/azure-communication-networktraversal/tests/test_communication_relay_client.py
  sdk/communication/azure-communication-networktraversal/tests/test_communication_relay_client_async.py
Labels: Communication

#22905 Increment version for core releases
  sdk/core/azure-common/CHANGELOG.md
  sdk/core/azure-common/azure/common/_version.py
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, auto-merge

#22887 added ClientAssertionCredential and resource_id support
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/app_service.py
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#22903 Sync eng/common directory with azure-sdk-tools for PR 2673
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#22913 [Storage] Fix some flaky live tests
  sdk/storage/azure-storage-blob/tests/test_blob_encryption.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_async.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
Labels: Storage

#22837 Add messsage state to SB received message
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus

#22900 Sync eng/common directory with azure-sdk-tools for PR 2668
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys, Central-EngSys

#22922 Update release date
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
Labels: Communication

#22921 [formrecognizer] Update code to language code
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_read_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_read.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_to_dict_v3.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Cognitive - Form Recognizer

#22923 Sync eng/common directory with azure-sdk-tools for PR 2682
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: EngSys, Central-EngSys

#22926 Sync eng/common directory with azure-sdk-tools for PR 2685
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#22892 Improvements to dependency graph
  README.md
  eng/pipelines/aggregate-reports.yml
  eng/pipelines/templates/steps/analyze_dependency.yml
  scripts/analyze_deps.py
Labels: Central-EngSys

#22919 Fix live search tests.
  sdk/search/tests.yml
Labels: Search

#22261 [Cosmos] split proof queries async client
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/_queue_async_helper.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/base_execution_context.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/document_producer.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/execution_dispatcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/multi_execution_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/multi_execution_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_retry_utility.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/aio/routing_map_provider.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_retry_utility_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/scripts.py
  sdk/cosmos/azure-cosmos/azure/cosmos/exceptions.py
Labels: Cosmos, Client

#22933 [formrecognizer] Adding keywords to improve searching for FR package
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
Labels: Cognitive - Form Recognizer

#22920 [translation] update changelog for release
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
Labels: Cognitive - Translator

#22924 [formrecognizer] Update samples
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_create_composed_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_manage_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_receipts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_create_composed_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_manage_models.py
Labels: Cognitive - Form Recognizer

#22943 Sync eng/common directory with azure-sdk-tools for PR 2691
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#22945 [formrecognizer] Add changes back for percent_completed
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
Labels: Cognitive - Form Recognizer

#22930 [formrecognizer] Update docs
  sdk/formrecognizer/azure-ai-formrecognizer/MIGRATION_GUIDE.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
Labels: Cognitive - Form Recognizer

#22368 [Key Vault] Fix managed property in keys and secrets
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_models.py
Labels: KeyVault, Client

#22949 Change future value behavior of message state
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/tests/test_message.py
Labels: Service Bus

#22953 [Search] updates to changelog for release
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search

#22964 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search, auto-merge

#22967 [translation] small updates to readme
  sdk/translation/azure-ai-translation-document/README.md
Labels: Cognitive - Translator

#22942 [core] add fake secrets in tests to credscan
  eng/CredScanSuppression.json
  sdk/core/azure-core/tests/test_basic_transport.py
  sdk/core/azure-core/tests/test_rest_http_request.py
Labels: Azure.Core, auto-merge

#22965 cleanup changelog
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#22968 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, auto-merge

#22950 [SchemaRegistry&EventHubs] update release date
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/CHANGELOG.md
Labels: Event Hubs, Schema Registry

#22971 Sync eng/common directory with azure-sdk-tools for PR 2686
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#22978 Increment version for translation releases
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_version.py
Labels: auto-merge

#22974 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
Labels: KeyVault, auto-merge

#22983 Sync eng/common directory with azure-sdk-tools for PR 2720
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#22979 Remove limitations that no longer exist from README docs
  sdk/cosmos/azure-cosmos/README.md
Labels: Cosmos

#22992 [SchemaRegistry] docs fix
  sdk/eventhub/azure-eventhub/setup.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/README.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/README.md
Labels: Event Hubs, Schema Registry, auto-merge

#22994 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/setup.py
Labels: Event Hubs, auto-merge

#22952 Sync eng/common directory with azure-sdk-tools for PR 2679
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Labels: EngSys, Central-EngSys

#22995 [EventHubs] docstring
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_message_protocol.py
Labels: Event Hubs, Schema Registry

#22993 Sync eng/common directory with azure-sdk-tools for PR 2721
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#22996 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, auto-merge

#23000 Sync eng/common directory with azure-sdk-tools for PR 2733
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#22991 Update name to state
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_message.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus

#22990 Log "WWW-Authenticate" header in `HttpLoggingPolicy`
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/policies/_universal.py
  sdk/core/azure-core/tests/test_pipeline.py
Labels: Azure.Core

#23018 Sync eng/common directory with azure-sdk-tools for PR 2739
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#23022 Update CHANGELOG.md
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#23023 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus, auto-merge

#23026 Sync eng/common directory with azure-sdk-tools for PR 2740
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#22895 Go from PyPy3.6 -> PyPy3.7
  eng/ci_tools.txt
  eng/pipelines/templates/stages/platform-matrix-cryptography-dependency.json
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/steps/use-python-version.yml
  eng/tox/tox.ini
  scripts/devops_tasks/use_pypy_version.py
Labels: Central-EngSys

#23001 Establish fake_credentials.py file for test credentials
  sdk/storage/azure-storage-blob-changefeed/tests/settings/testcase.py
  sdk/storage/azure-storage-blob/tests/settings/testcase.py
  sdk/storage/azure-storage-file-datalake/tests/settings/testcase.py
  sdk/storage/azure-storage-file-share/tests/settings/testcase.py
  sdk/storage/azure-storage-queue/tests/settings/testcase.py
  tools/azure-sdk-tools/devtools_testutils/README.md
  tools/azure-sdk-tools/devtools_testutils/__init__.py
  tools/azure-sdk-tools/devtools_testutils/azure_recorded_testcase.py
  tools/azure-sdk-tools/devtools_testutils/azure_testcase.py
  tools/azure-sdk-tools/devtools_testutils/fake_credentials.py
  tools/azure-sdk-tools/devtools_testutils/fake_credentials_async.py
  tools/azure-sdk-tools/devtools_testutils/storage/aio/asynctestcase.py
Labels: Storage, EngSys

#23021 [textanalytics] analyze actions fix for targeting v3.1 in beta
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_request_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_analyze_works_with_v3_1.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_analyze_works_with_v3_1.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
Labels: Cognitive - Text Analytics

#23025 Update azure-loganalytics README
  sdk/loganalytics/azure-loganalytics/README.md
Labels: Monitor - LogAnalytics

#22931 [Core] Document TokenCredential implementation requirements
  sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md
  sdk/core/azure-core/azure/core/credentials.py
  sdk/core/azure-core/azure/core/credentials_async.py
Labels: Docs, Client, Azure.Core, Azure.Identity

#22982 [ServiceBus] initial stress test onboarding
  eng/.docsettings.yml
  sdk/servicebus/azure-servicebus/conftest.py
  sdk/servicebus/azure-servicebus/stress/Chart.lock
  sdk/servicebus/azure-servicebus/stress/Chart.yaml
  sdk/servicebus/azure-servicebus/stress/Dockerfile
  sdk/servicebus/azure-servicebus/stress/scripts/README.md
  sdk/servicebus/azure-servicebus/stress/scripts/app_insights_metric.py
  sdk/servicebus/azure-servicebus/stress/scripts/conftest.py
  sdk/servicebus/azure-servicebus/stress/scripts/dev_requirements.txt
  sdk/servicebus/azure-servicebus/stress/scripts/logger.py
  sdk/servicebus/azure-servicebus/stress/scripts/process_monitor.py
  sdk/servicebus/azure-servicebus/stress/scripts/stress_runner.cfg
  sdk/servicebus/azure-servicebus/stress/scripts/stress_runner.py
  sdk/servicebus/azure-servicebus/stress/scripts/stress_test_base.py
  sdk/servicebus/azure-servicebus/stress/scripts/stress_test_queue_long_term_autorenew.py
  sdk/servicebus/azure-servicebus/stress/scripts/test_stress_queues.py
  sdk/servicebus/azure-servicebus/stress/stress-test-resources.bicep
  sdk/servicebus/azure-servicebus/stress/templates/network_loss.yaml
  sdk/servicebus/azure-servicebus/stress/templates/testjob.yaml
  sdk/servicebus/azure-servicebus/tests/stress_tests/test_stress_queues.py
Labels: Service Bus

#23056 [LogAnalytics] Fix broken link
  sdk/loganalytics/azure-loganalytics/README.md
Labels: Client, Monitor - LogAnalytics

#22969 [Key Vault] Add version property to administration
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/__init__.py
Labels: KeyVault, Client

#23066 [formrecognizer] add back deprecation notice
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/README.md
  sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/setup.py
Labels: Cognitive - Form Recognizer

#23065 [textanalytics] add breadcrumb to track 2 package in track 1 TA
  sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/README.md
  sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/azure/cognitiveservices/language/textanalytics/version.py
Labels: Cognitive - Text Analytics

#23035 [textanalytics] correct cspell errors
  .vscode/cspell.json
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_pii_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_all_successful_passing_dict_extract_summary_action.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_extract_summary_action_with_options.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_all_successful_passing_dict_extract_summary_action.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_extract_summary_action_with_options.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_repr.py
Labels: Cognitive - Text Analytics

#23058 [Storage] Fix newline in Doc for `DelimitedTextDialect`
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
Labels: Storage

#23070 Sync eng/common directory with azure-sdk-tools for PR 2754
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#23017 [ServiceBus&EventHubs] fix mypy 0.931 errors
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
Labels: Service Bus, Event Hubs

#22940 Async sample should use asyncio.run
  sdk/communication/azure-communication-chat/samples/chat_client_sample_async.py
  sdk/communication/azure-communication-chat/samples/chat_thread_client_sample_async.py
  sdk/communication/azure-communication-identity/samples/identity_samples_async.py
  sdk/communication/azure-communication-networktraversal/samples/network_traversal_samples_async.py
  sdk/communication/azure-communication-phonenumbers/samples/get_purchased_phone_number_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/list_purchased_phone_numbers_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/purchase_phone_number_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/release_phone_number_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/search_available_phone_numbers_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/update_phone_number_capabilities_sample_async.py
  sdk/communication/azure-communication-sms/samples/send_sms_to_multiple_recipients_sample_async.py
  sdk/communication/azure-communication-sms/samples/send_sms_to_single_recipient_sample_async.py
  sdk/communication/azure-communication-sms/samples/sms_token_credential_auth_sample_async.py
Labels: Communication

#22963 Add type signature to `readall`
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
Labels: Storage, customer-reported

#23005 Update Search to enable live testing in sovereign clouds for multiple…
  sdk/search/azure-search-documents/tests/search_service_preparer.py
  sdk/search/test-resources.bicep
  sdk/search/tests.yml
Labels: Search, test-sovereign-cloud

#23076 [Cosmos] hotfix: replace sproc/trigger/udf request body invalid
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
Labels: Cosmos

#23037 Sync eng/common directory with azure-sdk-tools for PR 2741
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#23075 [Storage] Update `azure-core` minimum dependency
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/setup.py
  shared_requirements.txt
Labels: Storage

#23093 [metricsadvisor] fix mypy errors raised latest version of mypy
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_administration_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_administration_client_async.py
Labels: Cognitive - Metrics Advisor

#23068 Sync eng/common directory with azure-sdk-tools for PR 2758
  .gitignore
  .vscode/cspell.json
  doc/dev/test_proxy_troubleshooting.md
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
  eng/pipelines/templates/jobs/ci.conda.tests.yml
  eng/pipelines/templates/steps/build-test.yml
  eng/tox/tox.ini
  tools/azure-sdk-tools/devtools_testutils/__init__.py
  tools/azure-sdk-tools/devtools_testutils/config.py
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
Labels: EngSys, Central-EngSys

#23085 fix cspell issues for azure-communication identity
  .vscode/cspell.json
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/models.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/models.py
  sdk/communication/azure-communication-identity/tests/user_credential_tests.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/models.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/models.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/models.py
Labels: Communication

#23086 Sync eng/common directory with azure-sdk-tools for PR 2759
  eng/common/scripts/Update-DocsMsToc.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#23098 [Storage] Fix some mypy typing errors and typing imports
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
Labels: Storage

#23089 [recoveryservicesbackup] fix multiple pages paging
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/CHANGELOG.md
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/_version.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/activestamp/_patch.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/activestamp/_version.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/activestamp/aio/_patch.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/passivestamp/_patch.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/passivestamp/_version.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/passivestamp/aio/_patch.py
Labels: Recovery Services

#23115 Sync eng/common directory with azure-sdk-tools for PR 2775
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#23120 Sync eng/common directory with azure-sdk-tools for PR 2768
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#23116 [Communication] - phone-numbers - Implement a phone number pool for update capabilities live tests
  sdk/communication/azure-communication-phonenumbers/phonenumbers-livetest-matrix.json
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client_async.py
  sdk/communication/azure-communication-phonenumbers/tests.yml
Labels: Communication

#23143 [SchemaRegistry] update avro api links
  sdk/schemaregistry/azure-schemaregistry-avroencoder/README.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/README.md
Labels: Schema Registry

#23114 [core] fix mypy errors arising from latest mypy version
  sdk/core/azure-core/azure/core/_pipeline_client.py
  sdk/core/azure-core/azure/core/settings.py
Labels: Client, Azure.Core

#23092 Sync eng/common directory with azure-sdk-tools for PR 2765
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#23145 [Communication] - phone-numbers - Use upper-case values for test agent values
  sdk/communication/azure-communication-phonenumbers/phonenumbers-livetest-matrix.json
Labels: Communication

#23149 [Core] Clearer guidance for unused TokenCredential kwargs
  sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md
Labels: Docs, Client, Azure.Core

#23171 update pinned mypy version
  eng/pipelines/templates/steps/run_mypy.yml
  eng/tox/run_mypy.py
  eng/tox/tox.ini
  sdk/core/azure-core/azure/core/_pipeline_client.py
  sdk/core/azure-core/azure/core/settings.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_administration_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_administration_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
Labels: Service Bus, Event Hubs, Azure.Core, Cognitive - Metrics Advisor

#23181 [ACR] Fix cspell errors
  .vscode/cspell.json
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
Labels: Container Registry, Client

#23172 handle tenant_id
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_internal/aad_client.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/aad_client.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/managed_identity_client.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/recordings/test_app_service.test_system_assigned_tenant_id.yaml
  sdk/identity/azure-identity/tests/recordings/test_app_service.test_user_assigned_tenant_id.yaml
  sdk/identity/azure-identity/tests/recordings/test_app_service_async.test_system_assigned_tenant_id.yaml
  sdk/identity/azure-identity/tests/recordings/test_app_service_async.test_user_assigned_tenant_id.yaml
  sdk/identity/azure-identity/tests/recordings/test_imds_credential.test_system_assigned_tenant_id.yaml
  sdk/identity/azure-identity/tests/recordings/test_imds_credential.test_user_assigned_tenant_id.yaml
  sdk/identity/azure-identity/tests/recordings/test_imds_credential_async.test_system_assigned_tenant_id.yaml
  sdk/identity/azure-identity/tests/recordings/test_imds_credential_async.test_user_assigned_tenant_id.yaml
  sdk/identity/azure-identity/tests/test_app_service.py
  sdk/identity/azure-identity/tests/test_app_service_async.py
  sdk/identity/azure-identity/tests/test_auth_code.py
  sdk/identity/azure-identity/tests/test_auth_code_async.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_get_token_mixin.py
  sdk/identity/azure-identity/tests/test_get_token_mixin_async.py
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
  sdk/identity/azure-identity/tests/test_powershell_credential.py
  sdk/identity/azure-identity/tests/test_powershell_credential_async.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity

#23194 Sync eng/common directory with azure-sdk-tools for PR 2805
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#22984 [Storage] Support OAuth for import/export managed disks
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/authentication.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/constants.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.test_token_credential_blob.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob_async.test_token_credential_blob.yaml
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
Labels: Storage

#23136 [ServiceBus] fix transient timeout errors
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Service Bus

#23096 update template setup.py to include keywords
  sdk/template/azure-template/setup.py
  tools/azure-sdk-tools/packaging_tools/templates/setup.py
Labels: EngSys

#23195 Sync eng/common directory with azure-sdk-tools for PR 2808
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#23221 Update index_management_async.py
  sdk/cosmos/azure-cosmos/samples/index_management_async.py
Labels: Cosmos

#23178 Mark 1.0.0 version of NetworkTraversal as deprecated
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
Labels: Communication

#23180 [Cosmos] Raise exception if invalid retry configuration specified for connection
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/test/test_user_configs.py
Labels: Cosmos, customer-reported

#23223 Sync eng/common directory with azure-sdk-tools for PR 2771
  eng/common/scripts/copy-from-blobstorage.ps1
Labels: EngSys, Central-EngSys

#23237 [translation] unskip AAD tests
  sdk/translation/azure-ai-translation-document/tests/test_translation.py
  sdk/translation/azure-ai-translation-document/tests/test_translation_async.py
Labels: Cognitive - Translator

#23197 hide beta features. they will be added back in 1.9.0b
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/app_service.py
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity
