Repository Azure/azure-sdk-for-python, pull requests merged in 2022-09, with the labels that each got.

#25901 [storage-queue] Modernized strings
  sdk/storage/azure-storage-queue/azure/storage/queue/_deserialize.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_encryption.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_serialize.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/authentication.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/request_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/response_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_hello_world.py
  sdk/storage/azure-storage-queue/samples/queue_samples_hello_world_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_message.py
  sdk/storage/azure-storage-queue/samples/queue_samples_message_async.py
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_api_version_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_client.py
  sdk/storage/azure-storage-queue/tests/test_queue_client_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_encodings.py
  sdk/storage/azure-storage-queue/tests/test_queue_encodings_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_encryption.py
  sdk/storage/azure-storage-queue/tests/test_queue_encryption_async.py
Labels: Storage

#25979 Sync eng/common directory with azure-sdk-tools for PR 4041
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Labels: EngSys, Central-EngSys

#25987 [ACR] Update the TSG file links to pointing to the file in main
  sdk/containerregistry/azure-containerregistry/README.md
  sdk/containerregistry/azure-containerregistry/TROUBLESHOOTING.md
Labels: Container Registry, Client

#25975 Update Release date to match Work Item
  sdk/communication/azure-communication-rooms/CHANGELOG.md
Labels: auto-merge, Communication

#25991 Revert model renames
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
Labels: Search

#25995 Update legend formatting in DefaultAzureCredential flow diagram
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#25983 [textanalytics] update messaging to align across languages
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_validate.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_detect_language.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_detect_language_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
Labels: Cognitive - Text Analytics

#25999 [formrecognizer] Documentation and typing updates
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_analysis_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_analysis_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/advanced_samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/advanced_samples/async_advanced_samples/sample_get_elements_with_spans_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/advanced_samples/sample_get_elements_with_spans.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_to_dict_v3.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Cognitive - Form Recognizer

#25982 [Storage] Bump versions for upcoming GA release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#25976 [formrecognizer] Documentation updates
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
Labels: Cognitive - Form Recognizer

#25988 Sync eng/common directory with azure-sdk-tools for PR 4042
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Labels: EngSys, Central-EngSys

#25903 [cognitiveservices/spellcheck] Fixed typos
  .vscode/cspell.json
  sdk/cognitiveservices/azure-cognitiveservices-language-spellcheck/CHANGELOG.md
Labels: customer-reported

#26008 Increment version for communication releases
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_version.py
Labels: auto-merge

#25997 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: auto-merge

#26005 [Storage] Fix flaky retry test once and for all (hopefully)
  sdk/storage/azure-storage-blob/tests/test_retry.py
  sdk/storage/azure-storage-blob/tests/test_retry_async.py
Labels: Storage

#26001 [formrecognizer] Update samples
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/advanced_samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_custom_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_elements_with_spans_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_words_on_document_line_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_custom_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_elements_with_spans.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_words_on_document_line.py
Labels: Cognitive - Form Recognizer

#25981 [Storage] Migrate `test_logging.py` to test proxy
  sdk/storage/azure-storage-blob/tests/recordings/test_logging.pyTestStorageLoggingtest_authorization_is_scrubbed_off.json
  sdk/storage/azure-storage-blob/tests/recordings/test_logging.pyTestStorageLoggingtest_copy_source_sas_is_scrubbed_off.json
  sdk/storage/azure-storage-blob/tests/recordings/test_logging.pyTestStorageLoggingtest_logging_request_and_response_body.json
  sdk/storage/azure-storage-blob/tests/recordings/test_logging.pyTestStorageLoggingtest_sas_signature_is_scrubbed_off.json
  sdk/storage/azure-storage-blob/tests/recordings/test_logging.test_authorization_is_scrubbed_off.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_logging.test_copy_source_sas_is_scrubbed_off.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_logging.test_logging_request_and_response_body.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_logging.test_sas_signature_is_scrubbed_off.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_logging_async.pyTestStorageLoggingAsynctest_authorization_is_scrubbed_off.json
  sdk/storage/azure-storage-blob/tests/recordings/test_logging_async.pyTestStorageLoggingAsynctest_copy_source_sas_is_scrubbed_off.json
  sdk/storage/azure-storage-blob/tests/recordings/test_logging_async.pyTestStorageLoggingAsynctest_logging_request_and_response_body.json
  sdk/storage/azure-storage-blob/tests/recordings/test_logging_async.pyTestStorageLoggingAsynctest_sas_signature_is_scrubbed_off.json
  sdk/storage/azure-storage-blob/tests/recordings/test_logging_async.test_authorization_is_scrubbed_off.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_logging_async.test_copy_source_sas_is_scrubbed_off.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_logging_async.test_logging_request_and_response_body.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_logging_async.test_sas_signature_is_scrubbed_off.yaml
  sdk/storage/azure-storage-blob/tests/test_logging.py
  sdk/storage/azure-storage-blob/tests/test_logging_async.py
Labels: Storage

#25992 Clarify CloudEvent.source property meaning
  sdk/core/azure-core/azure/core/messaging.py
Labels: customer-reported, Azure.Core

#26017 [formrecognizer] Samples and code fixes
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_elements_with_spans_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_elements_with_spans.py
Labels: Cognitive - Form Recognizer

#25907 [mixedreality] Fixed typos
  .vscode/cspell.json
  sdk/mixedreality/azure-mixedreality-authentication/README.md
  sdk/mixedreality/azure-mixedreality-authentication/azure/mixedreality/authentication/_shared/mixedreality_account_key_credential.py
Labels: customer-reported

#25927 [RemoteRendering] Fixed cspell typos in mixedreality
  .vscode/cspell.json
  sdk/remoterendering/azure-mixedreality-remoterendering/README.md
  sdk/remoterendering/azure-mixedreality-remoterendering/tests/test_client.py
  sdk/remoterendering/azure-mixedreality-remoterendering/tests/test_client_async.py
Labels: customer-reported

#26047 [metricsadvisor] fix: typo in metricsadvisor/azure-ai-metricsadvisor
  .vscode/cspell.json
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_patch.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_patch.py
Labels: customer-reported, Cognitive - Metrics Advisor

#26050 Search Release 11.3.0
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/setup.py
Labels: Search

#26018 [PyAMQP] Connections TODO
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
Labels: Event Hubs

#26019 [formrecognizer] Update docs
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/MIGRATION_GUIDE.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_analysis_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_async_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_analysis_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_to_dict_v3.py
Labels: Cognitive - Form Recognizer

#26003 [textanalytics] release prep
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Cognitive - Text Analytics

#25451 [PyAMQP] Kashif Client refactoring changes
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_cbs_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_session_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/cbs.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/session.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/unittest/test_client_creation_pyamqp.py
Labels: Event Hubs, auto-merge

#25950 [Storage] Adjust default `read_timeout` and README entry
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/constants.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/constants.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/constants.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/constants.py
Labels: Storage

#26059 [Storage] Mark Blob service stats test playback only
  sdk/storage/azure-storage-blob/tests/test_blob_service_stats.py
  sdk/storage/azure-storage-blob/tests/test_blob_service_stats_async.py
Labels: Storage

#26063 [Cosmosdb] delete old code
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/__init__.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_cassandra_clusters_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_cassandra_data_centers_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_cassandra_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_partition_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_partition_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_collection_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_data_transfer_jobs_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_account_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_accounts_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_database_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_graph_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_gremlin_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_locations_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_mongo_db_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_notebook_workspaces_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_partition_key_range_id_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_partition_key_range_id_region_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_patch.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_source_target_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_percentile_target_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_private_endpoint_connections_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_private_link_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_database_accounts_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_gremlin_databases_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_gremlin_graphs_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_gremlin_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_mongodb_collections_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_mongodb_databases_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_mongodb_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_sql_containers_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_sql_databases_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_sql_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_table_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_restorable_tables_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_service_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_sql_resources_operations.py
  sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/operations/_table_resources_operations.py
Labels: Cosmos

#26025 [cosmos] Fixed typos
  .vscode/cspell.json
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/endpoint_component.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/execution_dispatcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/endpoint_component.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/execution_dispatcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_location_cache.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_resource_throttle_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_retry_utility.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/collection_routing_map.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/routing_map_provider.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_retry_utility_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/azure/cosmos/scripts.py
  sdk/cosmos/azure-cosmos/azure/cosmos/user.py
  sdk/cosmos/azure-cosmos/samples/MultiMasterOperations/ConflictWorker.py
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_aad.py
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_aad_async.py
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_resource_token.py
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_resource_token_async.py
  sdk/cosmos/azure-cosmos/samples/change_feed_management.py
  sdk/cosmos/azure-cosmos/samples/change_feed_management_async.py
  sdk/cosmos/azure-cosmos/samples/container_management.py
  sdk/cosmos/azure-cosmos/samples/container_management_async.py
  sdk/cosmos/azure-cosmos/samples/database_management.py
  sdk/cosmos/azure-cosmos/samples/database_management_async.py
  sdk/cosmos/azure-cosmos/samples/document_management.py
  sdk/cosmos/azure-cosmos/samples/document_management_async.py
  sdk/cosmos/azure-cosmos/samples/index_management.py
  sdk/cosmos/azure-cosmos/samples/index_management_async.py
  sdk/cosmos/azure-cosmos/test/BaselineTest.PathParser.json
  sdk/cosmos/azure-cosmos/test/routing/test_collection_routing_map.py
  sdk/cosmos/azure-cosmos/test/routing/test_routing_map_provider.py
  sdk/cosmos/azure-cosmos/test/test_aggregate.py
  sdk/cosmos/azure-cosmos/test/test_analytical_ttl.py
  sdk/cosmos/azure-cosmos/test/test_analytical_ttl_async.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
  sdk/cosmos/azure-cosmos/test/test_encoding.py
  sdk/cosmos/azure-cosmos/test/test_globaldb.py
  sdk/cosmos/azure-cosmos/test/test_location_cache.py
  sdk/cosmos/azure-cosmos/test/test_ttl.py
Labels: Cosmos, customer-reported

#25923 [storage/azure-storage-file-share] Fixed typos
  .vscode/cspell.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/schema.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/request_handlers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/request_handlers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_download.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/policies.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/request_handlers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_download_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/request_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads.py
Labels: Storage, customer-reported

#26068 [formrecognizer] Sample + Migration guide improvements
  sdk/formrecognizer/azure-ai-formrecognizer/MIGRATION_GUIDE.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_identity_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_invoices_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_tax_us_w2_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_identity_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_invoices.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_receipts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_tax_us_w2.py
Labels: Cognitive - Form Recognizer

#26080 [formrecognizer] Run black on code
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_analysis_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_analysis_client_async.py
Labels: Cognitive - Form Recognizer

#26081 [textanalytics] Update CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#26101 [formrecognizer] Fix docs snippet
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
Labels: Cognitive - Form Recognizer

#26024 [anomalydetector] Fixed typos
  .vscode/cspell.json
  sdk/anomalydetector/azure-ai-anomalydetector/samples/sample_multivariate_detect.py
Labels: customer-reported

#26075 [Storage] Fix `AttributeError` when calling download with invalid key
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_download.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_download_async.py
Labels: Storage

#26004 Adding tests.yml for live testing pipeline
  sdk/communication/azure-communication-email/samples/check_message_status_sample.py
  sdk/communication/azure-communication-email/samples/check_message_status_sample_async.py
  sdk/communication/azure-communication-email/samples/send_email_to_multiple_recipients_sample.py
  sdk/communication/azure-communication-email/samples/send_email_to_multiple_recipients_sample_async.py
  sdk/communication/azure-communication-email/samples/send_email_to_single_recipient_sample.py
  sdk/communication/azure-communication-email/samples/send_email_to_single_recipient_sample_async.py
  sdk/communication/azure-communication-email/samples/send_email_with_attachments_sample.py
  sdk/communication/azure-communication-email/samples/send_email_with_attachments_sample_async.py
  sdk/communication/azure-communication-email/tests.yml
  sdk/communication/azure-communication-email/tests/async_preparers.py
  sdk/communication/azure-communication-email/tests/preparers.py
Labels: Communication

#26104 [textanalytics] add header in changelog
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#26090 [CognitiveLanguage] update samples to use asyncio.run
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/authoring/sample_import_train_deploy_project_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_analyze_conversation_app_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_analyze_orchestration_app_conv_response_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_analyze_orchestration_app_luis_response_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_analyze_orchestration_app_qna_response_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_analyze_orchestration_direct_target_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_authentication_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_conv_pii_transcript_input_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_conv_summarization_async.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/async_samples/sample_chat_async.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/async_samples/sample_query_knowledgebase_async.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/async_samples/sample_query_text_async.py
Labels: customer-reported

#26058 Increment version for maps releases
  sdk/maps/azure-maps-search/CHANGELOG.md
  sdk/maps/azure-maps-search/azure/maps/search/_version.py
Labels: auto-merge

#26106 Increment version for formrecognizer releases
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Labels: Cognitive - Form Recognizer, auto-merge

#26107 Increment version for textanalytics releases
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_version.py
Labels: Cognitive - Text Analytics, auto-merge

#25176 [Tables] Add copy data between table and blob samples
  sdk/tables/azure-data-tables/azure/data/tables/_table_service_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_service_client_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_authentication_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_batching_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_copy_table_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_create_client_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_create_delete_table_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_insert_delete_entities_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_query_table_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_query_tables_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_update_upsert_merge_entities_async.py
  sdk/tables/azure-data-tables/samples/sample_authentication.py
  sdk/tables/azure-data-tables/samples/sample_batching.py
  sdk/tables/azure-data-tables/samples/sample_copy_table.py
  sdk/tables/azure-data-tables/samples/sample_create_client.py
  sdk/tables/azure-data-tables/samples/sample_create_delete_table.py
  sdk/tables/azure-data-tables/samples/sample_insert_delete_entities.py
  sdk/tables/azure-data-tables/samples/sample_query_table.py
  sdk/tables/azure-data-tables/samples/sample_query_tables.py
  sdk/tables/azure-data-tables/samples/sample_update_upsert_merge_entities.py
Labels: Client, Tables

#25895 [PyAMQP} Stress tests need to use pyamqp
  sdk/eventhub/azure-eventhub/stress/scripts/dev_requirement.txt
Labels: Event Hubs

#26072 [ServiceBus] Bug Fix: connection_verify not being passed on async
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_utils.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Service Bus, auto-merge

#26125 [synapse] fix: typo in synapse/azure-synapse-managedprivateendpoints
  .vscode/cspell.json
  sdk/synapse/azure-synapse-managedprivateendpoints/azure/synapse/managedprivateendpoints/_vnet_client.py
  sdk/synapse/azure-synapse-managedprivateendpoints/azure/synapse/managedprivateendpoints/aio/_vnet_client.py
Labels: customer-reported, Synapse

#26124 [core] fix: typo in core/azure-core
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md
  sdk/core/azure-core/azure/core/async_paging.py
  sdk/core/azure-core/azure/core/pipeline/policies/_retry.py
  sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/azure/core/rest/_http_response_impl.py
  sdk/core/azure-core/azure/core/settings.py
  sdk/core/azure-core/azure/core/tracing/_abstract_span.py
  sdk/core/azure-core/azure/core/utils/_pipeline_transport_rest_shared.py
  sdk/core/azure-core/tests/async_tests/test_base_polling_async.py
  sdk/core/azure-core/tests/async_tests/test_polling_async.py
  sdk/core/azure-core/tests/async_tests/test_rest_http_request_async.py
  sdk/core/azure-core/tests/async_tests/test_rest_http_response_async.py
  sdk/core/azure-core/tests/async_tests/test_rest_response_backcompat_async.py
  sdk/core/azure-core/tests/async_tests/test_universal_http_async.py
  sdk/core/azure-core/tests/test_authentication.py
  sdk/core/azure-core/tests/test_base_polling.py
  sdk/core/azure-core/tests/test_connection_string_parsing.py
  sdk/core/azure-core/tests/test_messaging_cloud_event.py
  sdk/core/azure-core/tests/test_polling.py
  sdk/core/azure-core/tests/test_rest_http_request.py
  sdk/core/azure-core/tests/test_rest_http_response.py
  sdk/core/azure-core/tests/test_rest_response_backcompat.py
  sdk/core/azure-core/tests/test_serialization.py
  sdk/core/azure-core/tests/test_settings.py
  sdk/core/azure-core/tests/test_streaming.py
  sdk/core/azure-core/tests/test_tracing_policy.py
  sdk/core/azure-core/tests/test_universal_pipeline.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/encoding.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/helpers.py
Labels: customer-reported, Azure.Core

#24976 [Cosmos] Add AutoScale Header Support 1/2
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/__init__.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/http_constants.py
  sdk/cosmos/azure-cosmos/azure/cosmos/offer.py
  sdk/cosmos/azure-cosmos/samples/container_management.py
  sdk/cosmos/azure-cosmos/samples/container_management_async.py
  sdk/cosmos/azure-cosmos/samples/database_management.py
  sdk/cosmos/azure-cosmos/samples/database_management_async.py
  sdk/cosmos/azure-cosmos/test/test_auto_scale.py
  sdk/cosmos/azure-cosmos/test/test_auto_scale_async.py
Labels: Cosmos

#26083 [KeyVault] update async examples to use asyncio.run
  sdk/keyvault/azure-keyvault-administration/samples/access_control_operations_async.py
  sdk/keyvault/azure-keyvault-administration/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/contacts_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/import_certificate_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/parse_certificate_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations_async.py
  sdk/keyvault/azure-keyvault-keys/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-keys/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-keys/samples/key_rotation_async.py
  sdk/keyvault/azure-keyvault-keys/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-keys/samples/recover_purge_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/recover_purge_operations_async.py
Labels: KeyVault, customer-reported

#25985 [Storage] Fixed cspell typos in storage-datalake
  .vscode/cspell.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_download.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_list_paths_helper.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_download_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_list_paths_helper.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_quick_query.py
Labels: Storage, customer-reported, needs-author-feedback

#25897 [Test Proxy] Support AsyncioRequestsTransport
  tools/azure-sdk-tools/devtools_testutils/aio/proxy_testcase_async.py
Labels: EngSys, test-enhancement

#26095 [appconfiguration] update samples to use asyncio.run
  sdk/appconfiguration/azure-appconfiguration/samples/conditional_operation_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/hello_world_advanced_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/hello_world_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/list_revision_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/read_only_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/sync_token_samples_async.py
Labels: customer-reported, App Configuration

#26118 [containerregistry] update samples to use asyncio.run
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_delete_images_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_delete_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_hello_world_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_list_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_set_image_properties_async.py
Labels: Container Registry, customer-reported

#26057 [Storage] Address feedback from STG84 GA API View
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_download.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_download_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
Labels: Storage

#26149 [WebPubSub] update samples to use asyncio.run
  sdk/webpubsub/azure-messaging-webpubsubservice/samples/get_client_access_token_async.py
Labels: customer-reported

#26147 [Storage] update samples to use asyncio.run
  sdk/storage/azure-storage-blob/samples/blob_samples_authentication_async.py
  sdk/storage/azure-storage-blob/samples/blob_samples_common_async.py
  sdk/storage/azure-storage-blob/samples/blob_samples_container_access_policy_async.py
  sdk/storage/azure-storage-blob/samples/blob_samples_containers_async.py
  sdk/storage/azure-storage-blob/samples/blob_samples_copy_blob_async.py
  sdk/storage/azure-storage-blob/samples/blob_samples_enumerate_blobs_async.py
  sdk/storage/azure-storage-blob/samples/blob_samples_hello_world_async.py
  sdk/storage/azure-storage-blob/samples/blob_samples_service_async.py
  sdk/storage/azure-storage-blob/samples/blob_samples_walk_blob_hierarchy_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_access_control_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_access_control_recursive_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_directory_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_file_system_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_instantiate_client_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_service_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_upload_download_async.py
  sdk/storage/azure-storage-file-share/samples/file_samples_authentication_async.py
  sdk/storage/azure-storage-file-share/samples/file_samples_client_async.py
  sdk/storage/azure-storage-file-share/samples/file_samples_directory_async.py
  sdk/storage/azure-storage-file-share/samples/file_samples_hello_world_async.py
  sdk/storage/azure-storage-file-share/samples/file_samples_service_async.py
  sdk/storage/azure-storage-file-share/samples/file_samples_share_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_authentication_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_hello_world_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_message_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_service_async.py
Labels: Storage, customer-reported

#25906 [Tables] Fixed cspell typos in data-tables
  .vscode/cspell.json
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/azure/data/tables/_authentication.py
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_entity.py
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/azure/data/tables/_policies.py
  sdk/tables/azure-data-tables/azure/data/tables/_serialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_shared_access_signature.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_shared_access_signature.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_policies_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_insert_delete_entities_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_update_upsert_merge_entities_async.py
  sdk/tables/azure-data-tables/samples/sample_insert_delete_entities.py
  sdk/tables/azure-data-tables/samples/sample_update_upsert_merge_entities.py
  sdk/tables/azure-data-tables/tests/test_table.py
  sdk/tables/azure-data-tables/tests/test_table_async.py
  sdk/tables/azure-data-tables/tests/test_table_client.py
Labels: customer-reported, Tables

#26007 Use SkipCheckoutNone parameter name for sparse checkout
  eng/pipelines/docindex.yml
  eng/pipelines/templates/jobs/ci.conda.tests.yml
  eng/pipelines/templates/steps/get-tagged-code.yml
Labels: Central-EngSys

#26117 [agrifood] update samples to use asyncio.run
  sdk/agrifood/azure-agrifood-farming/samples/async/sample_attachments_async.py
  sdk/agrifood/azure-agrifood-farming/samples/async/sample_cascade_delete_async.py
  sdk/agrifood/azure-agrifood-farming/samples/async/sample_farm_hierarchy_async.py
  sdk/agrifood/azure-agrifood-farming/samples/async/sample_farm_hierarchy_complete_async.py
  sdk/agrifood/azure-agrifood-farming/samples/async/sample_hello_world_async.py
  sdk/agrifood/azure-agrifood-farming/samples/async/sample_satellite_download_async.py
Labels: customer-reported

#26111 [Purview] Fixed cspell typos in catalog
  .vscode/cspell.json
  sdk/purview/azure-purview-catalog/tests/test_smoke.py
  sdk/purview/azure-purview-catalog/tests/test_smoke_async.py
Labels: customer-reported

#26143 [RemoteRendering] update samples to use asyncio.run
  sdk/remoterendering/azure-mixedreality-remoterendering/samples/remote_rendering_client_sample_async.py
Labels: customer-reported

#26092 [maps] update samples to use asyncio.run
  sdk/maps/azure-maps-search/samples/async_samples/sample_authentication_async.py
  sdk/maps/azure-maps-search/samples/async_samples/sample_fuzzy_search_async.py
  sdk/maps/azure-maps-search/samples/async_samples/sample_fuzzy_search_batch_async_with_batch_id.py
  sdk/maps/azure-maps-search/samples/async_samples/sample_get_point_of_interest_categories_async.py
  sdk/maps/azure-maps-search/samples/async_samples/sample_reverse_search_address_async.py
  sdk/maps/azure-maps-search/samples/async_samples/sample_reverse_search_cross_street_address_async.py
  sdk/maps/azure-maps-search/samples/async_samples/sample_search_inside_geometry_async.py
  sdk/maps/azure-maps-search/samples/async_samples/sample_search_nearby_point_of_interest_async.py
  sdk/maps/azure-maps-search/samples/async_samples/sample_search_point_of_interest_async.py
  sdk/maps/azure-maps-search/samples/async_samples/sample_search_point_of_interest_category_async.py
  sdk/maps/azure-maps-search/samples/async_samples/sample_search_structured_address_async.py
Labels: customer-reported

#26091 [MixedReality] update samples to use asyncio.run
  sdk/mixedreality/azure-mixedreality-authentication/samples/client_sample async.py
Labels: customer-reported

#25924 [agrifood/azure-agrifood-farming] Fixed typos
  .vscode/cspell.json
  sdk/agrifood/azure-agrifood-farming/samples/README.md
  sdk/agrifood/azure-agrifood-farming/samples/async/sample_attachments_async.py
  sdk/agrifood/azure-agrifood-farming/samples/async/sample_cascade_delete_async.py
  sdk/agrifood/azure-agrifood-farming/samples/sample_attachments.py
  sdk/agrifood/azure-agrifood-farming/samples/sample_cascade_delete.py
  sdk/agrifood/azure-agrifood-farming/tests/test_farm_hierarchy.py
  sdk/agrifood/azure-agrifood-farming/tests/testcase.py
Labels: customer-reported

#26048 [deviceupdate]fix: typo in deviceupdate/azure-iot-deviceupdate
  .vscode/cspell.json
Labels: customer-reported

#26100 [eventhub] update samples to use asyncio.run
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/receive_events_using_checkpoint_store_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/receive_events_using_checkpoint_store_storage_api_version_async.py
Labels: Event Hubs, customer-reported, auto-merge

#26049 [attestation]fix: typo in attestation/azure-security-attestation
  .vscode/cspell.json
  sdk/attestation/azure-security-attestation/azure/security/attestation/_administration_client.py
  sdk/attestation/azure-security-attestation/azure/security/attestation/_models.py
  sdk/attestation/azure-security-attestation/azure/security/attestation/aio/_administration_client_async.py
  sdk/attestation/azure-security-attestation/samples/sample_collateral.py
  sdk/attestation/azure-security-attestation/tests/attestation_preparer.py
  sdk/attestation/azure-security-attestation/tests/test_attestation.py
  sdk/attestation/azure-security-attestation/tests/test_attestation_async.py
Labels: customer-reported

#26120 [digitaltwins] update samples to use asyncio.run
  sdk/digitaltwins/azure-digitaltwins-core/samples/async_samples/dt_create_digitaltwins_service_client_async.py
  sdk/digitaltwins/azure-digitaltwins-core/samples/async_samples/dt_digitaltwins_get_async.py
Labels: customer-reported

#26164 [textanalytics] skip cancel tests due to service regression
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
Labels: Cognitive - Text Analytics

#26094 [attestation] update samples to use asyncio.run
  sdk/attestation/azure-security-attestation/samples/sample_attest_enclave_async.py
  sdk/attestation/azure-security-attestation/samples/sample_authentication_async.py
  sdk/attestation/azure-security-attestation/samples/sample_get_set_policy_async.py
Labels: customer-reported

#26097 [webpubsub] Fixed cspell
  .vscode/cspell.json
Labels: customer-reported

#26112 [Confidentialledger ] Fixed cspell typos
  .vscode/cspell.json
Labels: customer-reported

#26153 refactor: docstring updated with utils.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/utils.py
  sdk/communication/azure-communication-email/azure/communication/email/_shared/utils.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/utils.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/utils.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_shared/utils.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/utils.py
Labels: customer-reported, Communication

#25984 Adding diagnostics with Cosmos Http Logging Policy for Python SDK
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_http_logging_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/offer.py
  sdk/cosmos/azure-cosmos/test/test_cosmos_http_logging_policy.py
Labels: Cosmos, customer-reported

#26087 [Videoanalyzer] Fixed cspell typos in videoanalyzer
  .vscode/cspell.json
Labels: customer-reported

#26179 Update TROUBLESHOOTING.md -- Spellcheck
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Labels: customer-reported, Azure.Identity

#26089 [monitor] update samples to use asyncio.run
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_log_query_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_metric_definitions_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_metric_namespaces_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_metrics_query_async.py
Labels: customer-reported

#26145 [Search] update samples to use asyncio.run
  sdk/search/azure-search-documents/samples/async_samples/sample_analyze_text_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_authentication_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_autocomplete_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_buffered_sender_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_crud_operations_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_data_source_operations_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_facet_query_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_filter_query_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_get_document_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_index_alias_crud_operations_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_index_crud_operations_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_indexers_operations_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_semantic_search_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_simple_query_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_suggestions_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_synonym_map_operations_async.py
Labels: Search, customer-reported

#26114 [Cognitiveservices] Fixed cspell typos in vision-face
  .vscode/cspell.json
Labels: customer-reported

#26184 [Test Proxy] Revert AsyncioRequestsTransport support
  tools/azure-sdk-tools/devtools_testutils/aio/proxy_testcase_async.py
Labels: EngSys, test-reliability, test-enhancement

#26174 [eventhub] Fix typo
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/aio/_blob_client_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
Labels: Storage, Event Hubs, customer-reported

#26046 [ServiceBus] Type hint added
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_amqp_message.py
Labels: Service Bus, customer-reported, auto-merge

#26206 [contentmoderator] cspell: spelling error
  .vscode/cspell.json
Labels: customer-reported

#26217 Sync eng/common directory with azure-sdk-tools for PR 4128
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#26128 [EH] Stress tests update to pg cluster
  sdk/eventhub/azure-eventhub/stress/Chart.lock
  sdk/eventhub/azure-eventhub/stress/Chart.yaml
  sdk/eventhub/azure-eventhub/stress/templates/network_loss.yaml
  sdk/eventhub/azure-eventhub/stress/templates/testjob.yaml
Labels: Event Hubs

#26225 Sync eng/common directory with azure-sdk-tools for PR 4098
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#26254 Fix python live test template variables
  sdk/template/tests.yml
Labels: EngSys, Central-EngSys

#26133 add additionally allowed tenant ids support
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_assertion.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/_credentials/silent.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_internal/__init__.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_assertion.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_aad_client_async.py
  sdk/identity/azure-identity/tests/test_app_service_async.py
  sdk/identity/azure-identity/tests/test_auth_code.py
  sdk/identity/azure-identity/tests/test_auth_code_async.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_cli_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_environment_credential.py
  sdk/identity/azure-identity/tests/test_environment_credential_async.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
  sdk/identity/azure-identity/tests/test_obo.py
  sdk/identity/azure-identity/tests/test_obo_async.py
  sdk/identity/azure-identity/tests/test_powershell_credential.py
  sdk/identity/azure-identity/tests/test_powershell_credential_async.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential_async.py
Labels: Azure.Identity

#26131 Increment version for deviceupdate releases
  sdk/deviceupdate/azure-iot-deviceupdate/CHANGELOG.md
  sdk/deviceupdate/azure-iot-deviceupdate/azure/iot/deviceupdate/_version.py
  sdk/deviceupdate/azure-iot-deviceupdate/setup.py
Labels: auto-merge

#26110 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search, auto-merge

#26298 [QA] remove import for projects --> now authoring
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/authoring/sample_export_import_project.py
Labels: Cognitive - QnA Maker

#26139 [ACR] Address docstring
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
Labels: Container Registry, Client

#26303 [SchemaRegistry] change avro mindep
  sdk/schemaregistry/azure-schemaregistry-avroencoder/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/setup.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/recordings/test_avro_encoder.pyTestAvroEncodertest_parse_record_name.json
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/recordings/test_avro_encoder_async.pyTestAvroEncoderAsynctest_parse_record_name.json
  shared_requirements.txt
Labels: Schema Registry, auto-merge

#26181 diagnostic pr update
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_http_logging_policy.py
  sdk/cosmos/azure-cosmos/test/test_cosmos_http_logging_policy.py
Labels: Cosmos

#26134 [Cosmos] Add AutoScale Header Support 2/2
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/test/test_auto_scale.py
  sdk/cosmos/azure-cosmos/test/test_auto_scale_async.py
Labels: Cosmos

#26309 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, auto-merge

#26310 release update
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#26175 Remove VS Code credential from DAC list
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#26280 identity 1.12.0b1
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/test_app_service_async.py
  sdk/identity/azure-identity/tests/test_cli_credential.py
  sdk/identity/azure-identity/tests/test_environment_credential.py
  sdk/identity/azure-identity/tests/test_environment_credential_async.py
  sdk/identity/azure-identity/tests/test_powershell_credential.py
  sdk/identity/azure-identity/tests/test_powershell_credential_async.py
Labels: Azure.Identity

#26311 Changelog update jh
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#26299 Update check enforcer yaml permissions and name
  .github/workflows/event.yml
Labels: Central-EngSys

#26273 [Storage] Add lease action support to datalake `append_data` and `flush_data`
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_file_system_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_path_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/models/__init__.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/models/_azure_data_lake_storage_restapi_enums.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_file_system_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_path_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/swagger/README.md
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.pyTestFiletest_append_data_lease_action.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.pyTestFiletest_flush_data_lease_action.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.pyTestFileAsynctest_append_data_lease_action.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.pyTestFileAsynctest_flush_data_lease_action.json
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_async.py
Labels: Storage

#26276 [Storage] Support `walk_blobs` with prefix, delimiter, and versions specified
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_container.pyTestStorageContainertest_walk_blobs_with_prefix_delimiter_versions.json
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.pyTestStorageContainerAsynctest_walk_blobs_with_prefix_delimiter_versions.json
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
Labels: Storage

#26321 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/setup.py
Labels: Cosmos, auto-merge

#26183 [textanalytics] regenerate on 2022-10-01-preview
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_base_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/_operations_mixin.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/aio/_operations_mixin.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/aio/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/_configuration.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/_metadata.json
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/_patch.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/_vendor.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/aio/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/aio/_configuration.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/aio/_patch.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/aio/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/aio/_vendor.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/aio/operations/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/aio/operations/_patch.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/aio/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/models/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/models/_models_py3.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/models/_patch.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/models/_text_analytics_client_enums.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/operations/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/operations/_patch.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/py.typed
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_lro.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_version.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_lro_async.py
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
Labels: Cognitive - Text Analytics

#26334 GitHub Workflows security hardening
  .github/workflows/remove-needs-triage.yml
Labels: customer-reported

#26319 Sync eng/common directory with azure-sdk-tools for PR 4141
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: EngSys, Central-EngSys

#26335 [EventHubs] rename perf test file
  sdk/eventhub/azure-eventhub/tests/perfstress_tests/uamqp_event.py
Labels: Event Hubs, auto-merge

#26338 [SchemaRegistry] re-record test
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/recordings/test_avro_encoder.pyTestAvroEncodertest_parse_record_name.json
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/recordings/test_avro_encoder_async.pyTestAvroEncoderAsynctest_parse_record_name.json
Labels: Schema Registry, auto-merge

#26096 [Identity] Move RequestsTransport Import
  sdk/identity/azure-identity/azure/identity/_internal/pipeline.py
Labels: Azure.Identity

#26367 [Servicebus] Sb changelog for oct release
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#26376 Don't wait in LRO before updating status
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/polling/async_base_polling.py
  sdk/core/azure-core/azure/core/polling/base_polling.py
Labels: Azure.Core

#26308 [QA] give LROs return types in authoring
  sdk/cognitivelanguage/azure-ai-language-questionanswering/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/authoring/async_samples/sample_create_and_deploy_project_async.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/authoring/async_samples/sample_update_knowledge_sources_async.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/authoring/sample_create_and_deploy_project.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/authoring/sample_update_knowledge_sources.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/swagger/README.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/helpers.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_create_and_deploy_project.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_create_and_deploy_project_async.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_export_import_project.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_export_import_project_async.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_update_knowledge_sources.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_update_knowledge_sources_async.py
Labels: Cognitive - QnA Maker

#26297 [CLU+QA] update polling_interval per service recommendation
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_authoring.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_authoring_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conv_summarization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conv_summarization_async.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_create_and_deploy_project.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_create_and_deploy_project_async.py
Labels: Cognitive - QnA Maker, Cognitive - LUIS

#26363 [Cosmos] Fixing replace throughput method
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/test/test_auto_scale.py
  sdk/cosmos/azure-cosmos/test/test_auto_scale_async.py
Labels: Cosmos

#26388 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, auto-merge

#25893 [Pyamqp] Exception Todos
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_cbs_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_link_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_sender_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_session_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/cbs.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/link.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/sender.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/session.py
Labels: Event Hubs

#26375 [AppConfig] Regenerate code without credentials
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_azure_app_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_serialization.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_vendor.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_azure_app_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_vendor.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/operations/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/operations/_azure_app_configuration_operations.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/operations/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/_azure_app_configuration_enums.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/_models.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/_models_py3.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/operations/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/operations/_azure_app_configuration_operations.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/operations/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_configuration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/setup.py
  sdk/appconfiguration/azure-appconfiguration/swagger/README.md
  shared_requirements.txt
Labels: Client, App Configuration

#26396 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
Labels: KeyVault, auto-merge

#26398 Sync eng/common directory with azure-sdk-tools for PR 4212
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#26422 Ensure breaking changes installs reqs
  eng/pipelines/templates/steps/run_breaking_changes.yml
Labels: auto-merge

#26408 [Tables] Consume the error message with typo
  .vscode/cspell.json
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/tests/test_table.py
  sdk/tables/azure-data-tables/tests/test_table_async.py
Labels: Client, Tables

#26418 [Key Vault] Update live tests for behavior changes
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
Labels: KeyVault, Client, test-reliability

#26344 [Storage] Migrate remaining blob tests to test proxy
  sdk/storage/azure-storage-blob/tests/test_blob_retry.py
  sdk/storage/azure-storage-blob/tests/test_blob_retry_async.py
  sdk/storage/azure-storage-blob/tests/test_largest_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_largest_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_upload_chunking.py
Labels: Storage

#26424 [Identity] Minor cleanup of docs/tests
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/tests/conftest.py
  sdk/identity/azure-identity/tests/recording_processors.py
  sdk/identity/azure-identity/tests/recordings/test_imds_credential.test_system_assigned_tenant_id.yaml
  sdk/identity/azure-identity/tests/recordings/test_imds_credential.test_user_assigned_tenant_id.yaml
  sdk/identity/azure-identity/tests/recordings/test_imds_credential_async.test_system_assigned_tenant_id.yaml
  sdk/identity/azure-identity/tests/recordings/test_imds_credential_async.test_user_assigned_tenant_id.yaml
Labels: Azure.Identity

#26452 [QA] run autorest postprocessing and fix linting across library
  eng/tox/allowed_pylint_failures.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_operations/__init__.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_operations/__init__.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/models/_models.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/models/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/authoring/async_samples/sample_export_import_project_async.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/authoring/sample_export_import_project.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/swagger/README.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/helpers.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_export_import_project.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_export_import_project_async.py
Labels: Cognitive - QnA Maker

#26461 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: auto-merge

#26458 [Storage] Adjust DataLake Samples
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_access_control_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_access_control_recursive_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_directory_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_file_system_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_instantiate_client_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_service_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_upload_download_async.py
Labels: Storage

#26454 [formrecognizer] Skip test decorator
  sdk/formrecognizer/azure-ai-formrecognizer/tests/conftest.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_general_document.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_general_document_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_layout.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_layout_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilt_read.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilt_read_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training_async.py
Labels: Cognitive - Form Recognizer

#25806 [QA] updating migration guide
  .vscode/cspell.json
  sdk/cognitivelanguage/azure-ai-language-questionanswering/migration_guide.md
Labels: Cognitive - QnA Maker

#26481 Ensure that livetests don't clash on uploading test log artifacts
  eng/pipelines/templates/steps/build-test.yml
Labels: auto-merge

#26456 [CLU] enable linting
  eng/tox/allowed_pylint_failures.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_patch.py
Labels: Cognitive - LUIS

#26492 [Identity] Remove vcrpy recordings
  sdk/identity/azure-identity/tests/recordings/test_app_service.test_system_assigned.yaml
  sdk/identity/azure-identity/tests/recordings/test_app_service.test_system_assigned_tenant_id.yaml
  sdk/identity/azure-identity/tests/recordings/test_app_service.test_user_assigned.yaml
  sdk/identity/azure-identity/tests/recordings/test_app_service.test_user_assigned_tenant_id.yaml
  sdk/identity/azure-identity/tests/recordings/test_app_service_async.test_system_assigned.yaml
  sdk/identity/azure-identity/tests/recordings/test_app_service_async.test_system_assigned_tenant_id.yaml
  sdk/identity/azure-identity/tests/recordings/test_app_service_async.test_user_assigned.yaml
  sdk/identity/azure-identity/tests/recordings/test_app_service_async.test_user_assigned_tenant_id.yaml
Labels: Client, Azure.Identity

#26493 [Test Proxy] Always return dict from recorded_test fixture
  tools/azure-sdk-tools/devtools_testutils/proxy_fixtures.py
Labels: EngSys, test-reliability

#26231 [Tables] Support development connection string
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/tests/test_table_client.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos_async.py
Labels: Client, Tables

#26463 [QA] add rest api docs to authoring operations
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/swagger/README.md
Labels: Cognitive - QnA Maker

#26478 [SchemaRegistry] overload get schema to take version
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/README.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/operations/_operations.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/operations/_operations.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema/_request_builders_py3.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema_groups/_request_builders_py3.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_schema_registry_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_utils.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_schema_registry_client_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/sample_code_schemaregistry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/sample_code_schemaregistry.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/schema_registry.py
  sdk/schemaregistry/azure-schemaregistry/swagger/README.md
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/test_schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
Labels: Schema Registry, auto-merge

#26507 [EventHubs] fix pylint unused import
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/_eventprocessor_mixin.py
  sdk/eventhub/azure-eventhub/azure/eventhub/amqp/_amqp_message.py
Labels: Event Hubs, auto-merge

#26494 Sync eng/common directory with azure-sdk-tools for PR 4240
  eng/common/testproxy/target_version.txt
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
Labels: EngSys, Central-EngSys

#26234 [Pyamqp] Async WS implementation using a pure async library
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
Labels: Event Hubs

#25156 [Tables] Enhance error info when client url ends with table name
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_service_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_service_client_async.py
  sdk/tables/azure-data-tables/tests/_shared/asynctestcase.py
  sdk/tables/azure-data-tables/tests/_shared/testcase.py
  sdk/tables/azure-data-tables/tests/recordings/test_table_client.pyTestTableClienttest_client_with_url_ends_with_table_name.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_client_async.pyTestTableClientAsynctest_client_with_url_ends_with_table_name.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_cosmos.pyTestTableCosmostest_client_with_url_ends_with_table_name.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_cosmos_async.pyTestTableCosmosAsynctest_client_with_url_ends_with_table_name.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_service_properties.pyTestTableServicePropertiestest_client_with_url_ends_with_table_name.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_service_properties_async.pyTestTableServicePropertiesAsynctest_client_with_url_ends_with_table_name.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_service_properties_cosmos.pyTestTableServicePropertiesCosmostest_client_with_url_ends_with_table_name.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_service_properties_cosmos_async.pyTestTableServicePropertiesCosmosAsynctest_client_with_url_ends_with_table_name.json
  sdk/tables/azure-data-tables/tests/test_challenge_auth.py
  sdk/tables/azure-data-tables/tests/test_table.py
  sdk/tables/azure-data-tables/tests/test_table_aad.py
  sdk/tables/azure-data-tables/tests/test_table_aad_async.py
  sdk/tables/azure-data-tables/tests/test_table_async.py
  sdk/tables/azure-data-tables/tests/test_table_batch.py
  sdk/tables/azure-data-tables/tests/test_table_batch_async.py
  sdk/tables/azure-data-tables/tests/test_table_batch_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_batch_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_client.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_service_properties_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_service_stats_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_service_stats_cosmos_async.py
Labels: Client, Tables

#26517 [ServiceBus] update DictMixin key type to str/bytes
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_amqp_message.py
Labels: Service Bus, auto-merge

#26549 [AppConfig] Drop msrest
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/azure-appconfiguration/setup.py
  shared_requirements.txt
Labels: Client, App Configuration

#26523 [Cognitive Services] Disable vcrpy tests
  sdk/cognitiveservices/azure-cognitiveservices-language-spellcheck/tests/disable_test_spell_check.py
  sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/tests/disable_test_text_analytics.py
  sdk/cognitiveservices/azure-cognitiveservices-search-entitysearch/tests/disable_test_entity_search.py
  sdk/cognitiveservices/azure-cognitiveservices-search-videosearch/tests/disable_test_video_search.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/tests/disable_test_face.py
Labels: Cognitive Services, Client

#26521 [App Insights] Disable tests, delete vcrpy recordings
  sdk/applicationinsights/azure-applicationinsights/tests/disable_test_events.py
  sdk/applicationinsights/azure-applicationinsights/tests/disable_test_log_query.py
  sdk/applicationinsights/azure-applicationinsights/tests/disable_test_metrics.py
  sdk/applicationinsights/azure-applicationinsights/tests/recordings/test_events.test_events_get.yaml
  sdk/applicationinsights/azure-applicationinsights/tests/recordings/test_events.test_events_get_by_type.yaml
  sdk/applicationinsights/azure-applicationinsights/tests/recordings/test_events.test_events_get_odata_metadata.yaml
  sdk/applicationinsights/azure-applicationinsights/tests/recordings/test_log_query.test_query.yaml
  sdk/applicationinsights/azure-applicationinsights/tests/recordings/test_metrics.test_metrics_get.yaml
  sdk/applicationinsights/azure-applicationinsights/tests/recordings/test_metrics.test_metrics_get_metadata.yaml
  sdk/applicationinsights/azure-applicationinsights/tests/recordings/test_metrics.test_metrics_get_multiple.yaml
  sdk/applicationinsights/ci.yml
Labels: Insights, Client
