Repository Azure/azure-sdk-for-python, pull requests merged in 2022-04, with the labels that each got.

#23777 [Storage] Bump azure-core mindep to latest version
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/setup.py
  shared_requirements.txt
Labels: Storage

#23778 [Storage] Remove latest service version from blob as it's not released yet
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
Labels: Storage

#23654 [Storage] Added max_messages kwarg to receive_messages()
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_message.py
  sdk/storage/azure-storage-queue/samples/queue_samples_message_async.py
  sdk/storage/azure-storage-queue/tests/recordings/test_queue.test_get_messages_with_max_messages.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue.test_get_messages_with_page_bigger_than_max.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue.test_get_messages_with_remainder.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue.test_get_messages_with_too_little_messages.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_async.test_get_messages_with_max_messages.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_async.test_get_messages_with_page_bigger_than_max.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_async.test_get_messages_with_remainder.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_async.test_get_messages_with_too_little_messages.yaml
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
Labels: Storage

#23781 [formrecognizer] Fix failing pipeline tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dac_analyze_custom_model.pyTestDACAnalyzeCustomModeltest_custom_document_signature_field.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dac_analyze_custom_model_async.pyTestDACAnalyzeCustomModelAsynctest_custom_document_signature_field.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_training.pyTestDMACTrainingtest_build_model_azure_blob_path_filter.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_training_async.pyTestDMACTrainingAsynctest_build_model_azure_blob_path_filter.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training_async.py
  tools/azure-sdk-tools/devtools_testutils/sanitizers.py
Labels: Cognitive - Form Recognizer

#23788 quick fix for event names
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
Labels: Event Grid

#23756 [SchemaRegistry] avro sphinx docs/typing-extensions dependency
  .vscode/cspell.json
  sdk/schemaregistry/azure-schemaregistry-avroencoder/MANIFEST.in
  sdk/schemaregistry/azure-schemaregistry-avroencoder/README.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_utils.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/doc/azure.rst
  sdk/schemaregistry/azure-schemaregistry-avroencoder/doc/azure.schemaregistry.encoder.avroencoder.aio.rst
  sdk/schemaregistry/azure-schemaregistry-avroencoder/doc/azure.schemaregistry.encoder.avroencoder.rst
  sdk/schemaregistry/azure-schemaregistry-avroencoder/doc/azure.schemaregistry.encoder.rst
  sdk/schemaregistry/azure-schemaregistry-avroencoder/doc/azure.schemaregistry.rst
  sdk/schemaregistry/azure-schemaregistry-avroencoder/setup.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/test_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/test_avro_encoder_async.py
  sdk/schemaregistry/azure-schemaregistry/README.md
  shared_requirements.txt
Labels: Schema Registry, auto-merge

#23786 [Key Vault] Fix test proxy tests in live pipelines
  sdk/keyvault/tests.yml
Labels: KeyVault, Client

#23792 Sync eng/common directory with azure-sdk-tools for PR 2967
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Labels: EngSys, Central-EngSys

#23793 Sync eng/common directory with azure-sdk-tools for PR 2966
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#23548 [EventHubs] fix credential mypy
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
Labels: Event Hubs

#23790 [formrecognizer] Skip signature tests until service issue is resolved
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_async.py
Labels: Cognitive - Form Recognizer

#23238 Add support for channel name
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_helpers.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_to_channel_async.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_publish_to_channel.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client_async.py
  sdk/eventgrid/test-resources.json
  sdk/eventgrid/tests.yml
Labels: Event Grid

#23796 [Storage] Fix Empty Headers in File Share and Data Lake
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_create_file.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_file_exists.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_create_file_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_file_exists.yaml
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_parser.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_copy_existing_file_with_lease.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_copy_file_ignore_readonly.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_copy_file_with_existing_file.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_copy_file_with_specifying_acl_and_attributes_from_source.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_copy_file_with_specifying_acl_copy_behavior_attributes.yaml
Labels: Storage

#23810 [SchemaRegistry] avro prep release
  sdk/schemaregistry/azure-schemaregistry-avroencoder/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_abstract_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_apache_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_exceptions.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_message_protocol.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_schema_registry_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_utils.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/aio/_schema_registry_avro_encoder_async.py
Labels: Schema Registry, auto-merge

#23812 [formrecognizer] Update README
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Cognitive - Form Recognizer

#23811 [ServiceBus] xfail test due to service bug
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Service Bus, auto-merge

#23819 [SchemaRegistry] avro fix pylint
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_apache_avro_encoder.py
Labels: Schema Registry, auto-merge

#23822 Increment version for formrecognizer releases
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Labels: Cognitive - Form Recognizer, auto-merge

#23823 [SchemaRegistry] avro fix sample
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/encode_and_decode_with_message_content_async.py
Labels: Schema Registry, auto-merge

#23604 [Cosmos] AAD authentication sync client
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_auth_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/auth.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/http_constants.py
  sdk/cosmos/azure-cosmos/dev_requirements.txt
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_aad.py
  sdk/cosmos/azure-cosmos/samples/config.py
  sdk/cosmos/azure-cosmos/test/test_aad.py
Labels: Cosmos, Client, cosmos-v4-python

#23285 [ServiceBus] release message in background
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus

#23825 Increment version for schemaregistry releases
  sdk/schemaregistry/azure-schemaregistry-avroencoder/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_version.py
Labels: Schema Registry, auto-merge

#23818 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, auto-merge

#23821 [Cosmos] Improve system key computation logic
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/partition_key.py
Labels: Cosmos

#23839 [ServiceBus] fix broken links
  sdk/servicebus/azure-servicebus/README.md
Labels: Service Bus, auto-merge

#23835 add validate_authority support
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#23848 [Cosmos] Update release date b4
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#23813 [Key Vault] Resolve custom pylint rule errors
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/client_base.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
Labels: KeyVault, Client, pylint

#23852 Update to script
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/swagger/_constants.py
  sdk/eventgrid/azure-eventgrid/swagger/postprocess_eventnames.py
Labels: Event Grid

#23857 [Storage] Revert addition of 'create_if_not_exists()' for all Python clients
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_create_container_if_not_exists_with_existing_container.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_create_container_if_not_exists_without_existing_container.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_create_container_if_not_exists_with_existing_container.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_create_container_if_not_exists_without_existing_container.yaml
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_create_file_system_if_not_exists_with_existing_file_system.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_create_file_system_if_not_exists_without_existing_file_system.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_create_file_system_async_if_not_exists_with_existing_file_system.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_create_file_system_async_if_not_exists_without_existing_file_system.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_create_share_if_not_exists_with_existing_share.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_create_share_if_not_exists_without_existing_share.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.test_create_share_if_not_exists_with_existing_share.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.test_create_share_if_not_exists_without_existing_share.yaml
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/tests/recordings/test_queue.test_create_queue_if_not_exists_with_existing_queue.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue.test_create_queue_if_not_exists_without_existing_queue.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_async.test_create_queue_if_not_exists_with_existing_queue.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_async.test_create_queue_if_not_exists_without_existing_queue.yaml
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
Labels: Storage

#23853 [Storage] Address feedback from API View review for STG82 preview
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags.test_start_copy_from_url_with_tags_copy_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags.test_start_copy_from_url_with_tags_replace_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags_async.test_start_copy_from_url_with_tags_copy_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags_async.test_start_copy_from_url_with_tags_replace_tags.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_tags.py
  sdk/storage/azure-storage-blob/tests/test_blob_tags_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
Labels: Storage

#23858 [Storage] Handle empty `last_modified` in datalake `get_paths()`
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/parser.py
Labels: Storage

#23886 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, auto-merge

#23888 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos, auto-merge

#23889 Sync eng/common directory with azure-sdk-tools for PR 3092
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#23856 [ServiceBus] fix typehints
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
Labels: Service Bus, auto-merge

#23861 Sync eng/common directory with azure-sdk-tools for PR 3067
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/Update-TestResources.ps1
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#23894 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid, auto-merge

#23854 [Storage] Fixed parsing of path_name and file_system_name in async clients
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_create_file_extra_backslashes.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_create_file_extra_backslashes_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_create_file_system_extra_backslash.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_create_file_system_async_extra_backslash.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
Labels: Storage

#23772 Resolve Search Pylint Alias Rule Errors
  sdk/search/azure-search-documents/azure/search/documents/_api_versions.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
Labels: Search

#23893 [ServiceBus] update release date
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
Labels: Service Bus, auto-merge

#23920 Sync eng/common directory with azure-sdk-tools for PR 2963
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#23935 [ServiceBus] update release date once more
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus, auto-merge

#23938 Sync eng/common directory with azure-sdk-tools for PR 2942
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#23932 Identity msal ext update
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/setup.py
  shared_requirements.txt
Labels: Azure.Identity

#23942 Sync eng/common directory with azure-sdk-tools for PR 3123
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#23941 Sync eng/common directory with azure-sdk-tools for PR 3124
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#23895 [Storage] Fix Pylint warnings
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_change_feed_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/models.py
Labels: Storage

#23966 [Test Proxy] Guidance for expected DNS lookup failures
  doc/dev/test_proxy_troubleshooting.md
Labels: Docs, Client

#23729 [Cosmos] Update cosmos codeowners
  .github/CODEOWNERS
Labels: Cosmos

#23730 Sync eng/common directory with azure-sdk-tools for PR 3000
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: EngSys, Central-EngSys

#23979 Describe pipeline configuration issues
  doc/dev/test_proxy_troubleshooting.md
Labels: Docs

#23982 [Storage] Fix Queue account SAS generation with latest service version
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/shared_access_signature.py
  sdk/storage/azure-storage-queue/tests/test_queue_api_version.py
  sdk/storage/azure-storage-queue/tests/test_queue_api_version_async.py
Labels: Storage

#23988 [Storage] Fix missing import in test file
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
Labels: Storage

#24002 [pylint] Suppressing pylint for ACR, Tables and AppConfig
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_anonymous_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_anonymous_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_exchange_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_entity.py
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/azure/data/tables/_models.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_base_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
Labels: Container Registry, Tables

#24009 [Storage] Fix some datalake cpk Live tests
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk.test_file_download_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk.test_file_upload_data_file_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk_async.test_file_download_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk_async.test_file_upload_data_file_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_cpk.py
  sdk/storage/azure-storage-file-datalake/tests/test_cpk_async.py
Labels: Storage

#24007 [pylint] suppressing app config pylint
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_configuration_client_async.py
Labels: App Configuration, pylint

#23910 Search hotfix release (11.2.2)
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
Labels: Search

#24012 [formrecognizer] Fix pylint errors in enums
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_api_versions.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
Labels: Cognitive - Form Recognizer

#24015 Sync eng/common directory with azure-sdk-tools for PR 3145
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#24030 Sync eng/common directory with azure-sdk-tools for PR 3153
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#24031 [Storage] Update documentation for socket timeouts
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/constants.py
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/constants.py
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/constants.py
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/constants.py
Labels: Storage

#24059 [Key Vault] Prepare patch release for keys
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
Labels: KeyVault, Client

#24050 [SchemaRegistry] fixing enum pylint issue
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_constants.py
Labels: Schema Registry

#24057 [communication] fixing pylint issues for now
  sdk/communication/azure-communication-chat/azure/communication/chat/_chat_client.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_chat_thread_client.py
  sdk/communication/azure-communication-chat/azure/communication/chat/aio/_chat_client_async.py
  sdk/communication/azure-communication-chat/azure/communication/chat/aio/_chat_thread_client_async.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_api_versions.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_communication_identity_client.py
  sdk/communication/azure-communication-identity/azure/communication/identity/aio/_communication_identity_client_async.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_communication_relay_client.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/aio/_communication_relay_client_async.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/aio/_phone_numbers_client_async.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_sms_client.py
  sdk/communication/azure-communication-sms/azure/communication/sms/aio/_sms_client_async.py
Labels: Communication

#24049 [Servicebus] Fixing pylint issues
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_api_version.py
Labels: Service Bus

#24056 [ConfidentialLedger]disabling pylint checker for now
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/identity_service/_client.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/identity_service/aio/_client.py
Labels: Confidential Ledger, pylint

#24051 [Remoterendering] Fixes for new pylint checkers
  sdk/remoterendering/azure-mixedreality-remoterendering/azure/mixedreality/remoterendering/_api_version.py
Labels: pylint

#23996 FIX: give useful error msg when bad URL passed to BlobClient.from_blob_url()
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/tests/test_blob_client.py
Labels: Storage, customer-reported

#24052 [Storage] Fix changefeed import for local testing
  sdk/storage/azure-storage-blob-changefeed/tests/test_change_feed.py
Labels: Storage

#23850 [lint] update pylint 2.9
  .vscode/cspell.json
  eng/test_tools.txt
  pylintrc
  scripts/pylint_custom_plugin/dev_requirements.txt
Labels: Azure.Core

#24047 [SchemaRegistry] add name+group_name to SchemaProperties
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_constants.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_response_handlers.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_schema.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_schema_registry_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_schema_registry_client_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/schema_registry.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/test_schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
Labels: Schema Registry

#24070 [Key Vault] Update default value of lifetime_actions
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
Labels: KeyVault, Client

#24046 [eventgrid] Fixing pylint issues
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
Labels: Event Grid, pylint

#24071 [Storage] Add settable file-change-time to share file copy
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_copy_file_with_specifying_acl_copy_behavior_attributes.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.test_copy_file_with_specifying_acl_copy_behavior_attributes_async.yaml
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
Labels: Storage

#24072 [Storage] Bump versions for next release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
Labels: Storage

#24077 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
Labels: KeyVault, auto-merge

#23748 [EventHubs] Buffered Producer Implementation
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_buffered_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_buffered_producer_dispatcher.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_partition_resolver.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_async_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_buffered_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_buffered_producer_dispatcher_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_partition_resolver_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/send_buffered_mode_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/send_buffered_mode.py
  sdk/eventhub/azure-eventhub/setup.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_buffered_producer_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_negative_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_send_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_buffered_producer.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_negative.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_send.py
  sdk/eventhub/azure-eventhub/tests/unittest/asynctests/test_partition_resolver_async.py
  sdk/eventhub/azure-eventhub/tests/unittest/test_partition_resolver.py
  shared_requirements.txt
Labels: Event Hubs

#24088 Add mermaid.js diagram for DefaultAzureCredential
  .vscode/cspell.json
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#24091 Replace DefaultAzureCredential auth flow diagram
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/images/DefaultAzureCredentialAuthenticationFlow.png
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#24092 Sync eng/common directory with azure-sdk-tools for PR 3160
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: EngSys, Central-EngSys

#24029 [metricsadvisor] remove rename imports
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/__init__.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
Labels: Cognitive - Metrics Advisor

#23918 [Identity] Adjust to new custom pylint rules
  sdk/identity/azure-identity/azure/identity/_internal/msal_client.py
Labels: Client, Azure.Identity, pylint

#24090 [KeyVault] Pylint enum fix
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/api_version.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_enums.py
Labels: KeyVault

#23977 [EventHub] fix pylint plugin errors
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/amqp/_constants.py
Labels: Event Hubs, auto-merge

#24022 [Storage] Fix Pylint warnings (part 2)
  sdk/storage/azure-storage-blob/azure/storage/blob/_lease.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_lease.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_lease_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_lease.py
Labels: Storage

#24089 [EventHubs] prep release
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/samples/README.md
Labels: Event Hubs, auto-merge

#24105 [MetricsAdvisor] Pylint Fixes
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_administration_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_administration_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_client_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_models.py
Labels: Cognitive - Metrics Advisor

#23945 [Cosmos] Connection Retry Policy samples
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/samples/client_user_configs.py
  sdk/cosmos/azure-cosmos/samples/client_user_configs_async.py
Labels: Cosmos

#24108 fix broken link
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
Labels: Cognitive - Metrics Advisor

#24115 Sync eng/common directory with azure-sdk-tools for PR 3169
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#24118 [Storage] Fix test_quick_query_output_in_arrow_format
  sdk/storage/azure-storage-blob/tests/recordings/test_quick_query.test_quick_query_output_in_arrow_format.yaml
  sdk/storage/azure-storage-blob/tests/test_quick_query.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_output_in_arrow_format.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_quick_query.py
Labels: Storage

#24104 [pylint] Core Pylint
  pylintrc
  sdk/core/azure-core/azure/core/pipeline/policies/_retry.py
  sdk/core/azure-core/azure/core/polling/base_polling.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/polling/arm_polling.py
Labels: Azure.Core, auto-merge, pylint

#24125 fix broken links
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/migration_guide.md
Labels: Azure.Identity

#24127 fix broken links
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/translation/azure-ai-translation-document/README.md
Labels: Cognitive - Form Recognizer

#24131 Sync eng/common directory with azure-sdk-tools for PR 3188
  eng/common/pipelines/templates/steps/publish-blobs.yml
Labels: EngSys, Central-EngSys

#23965 [Storage] Add progress tracking callback for blob upload
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_upload_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_upload_helpers.py
  sdk/storage/azure-storage-blob/tests/recordings/test_append_blob.test_upload_progress_chunked.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_append_blob_async.test_upload_progress_chunked.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_progress_chunked_non_parallel.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob.test_upload_progress_single_put.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_progress_chunked_non_parallel.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_async.test_upload_progress_single_put.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_page_blob.test_upload_progress_chunked_non_parallel.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_page_blob_async.test_upload_progress_chunked_non_parallel.yaml
  sdk/storage/azure-storage-blob/tests/test_append_blob.py
  sdk/storage/azure-storage-blob/tests/test_append_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_helpers.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads_async.py
Labels: Storage

#23915 [ServiceBus] improve release message test stability
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Service Bus

#24153 [ServiceBus] Sample typo
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
Labels: Service Bus

#24140 Increment version for synapse releases
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_version.py
Labels: Synapse, auto-merge

#24170 [Storage] Fix progress_hook types for API View
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
Labels: Storage

#23980 [ServiceBus] retry amqp exception if not non-retry condition
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
  sdk/servicebus/azure-servicebus/tests/livetest/test_errors.py
Labels: Service Bus

#24186 [SchemaRegistry] Missing docs vartype
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_schema.py
Labels: Schema Registry

#23753 include py.typed in azure-template
  sdk/template/azure-template/MANIFEST.in
  sdk/template/azure-template/azure/template/py.typed
Labels: EngSys

#24008 [Cosmos] disable api version check for new pylint requirements
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
Labels: Cosmos, Client, Do Not Merge

#24010 Update network loss schema
  sdk/servicebus/azure-servicebus/stress/Chart.lock
  sdk/servicebus/azure-servicebus/stress/Chart.yaml
  sdk/servicebus/azure-servicebus/stress/templates/network_loss.yaml
Labels: Service Bus, Stress

#24112 [SchemaRegistry] update typehints/bug bash fixes
  sdk/schemaregistry/azure-schemaregistry-avroencoder/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/README.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_message_protocol.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_schema_registry_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_utils.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_version.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/aio/_schema_registry_avro_encoder_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/README.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/encode_and_decode_event_data_message_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/encode_and_decode_with_message_content_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/eventhub_receive_integration_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/eventhub_send_integration_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/encode_and_decode_event_data_message.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/encode_and_decode_with_message_content.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/eventhub_receive_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/eventhub_send_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/setup.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/recordings/test_avro_encoder.pyTestAvroEncodertest_basic_sr_avro_encoder_with_auto_register_schemas.json
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/recordings/test_avro_encoder_async.pyTestAvroEncoderAsynctest_basic_sr_avro_encoder_with_auto_register_schemas.json
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/test_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/test_avro_encoder_async.py
Labels: Schema Registry

#24176 Sync eng/common directory with azure-sdk-tools for PR 3212
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#22284 [Cosmos] Remove GetAuthorizationHeader method from client
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/auth.py
  sdk/cosmos/azure-cosmos/samples/nonpartitioned_container_operations.py
  sdk/cosmos/azure-cosmos/samples/nonpartitioned_container_operations_async.py
  sdk/cosmos/azure-cosmos/test/test_partition_key.py
Labels: Cosmos

#24198 [Cosmos] Infra: use Bicep for resource provisioning
  sdk/cosmos/test-resources.bicep
  sdk/cosmos/tests.yml
Labels: Cosmos

#24208 Sync eng/common directory with azure-sdk-tools for PR 3238
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#24211 Sync eng/common directory with azure-sdk-tools for PR 3221
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#24210 [EventHubs] update buffered producer changelog and version
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs

#24206 [textanalytics] remove v3.2-preview.2
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_base_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/_operations_mixin.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/aio/_operations_mixin.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/aio/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_03_01_preview/_configuration.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_03_01_preview/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_03_01_preview/models/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_03_01_preview/models/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_03_01_preview/models/_models_py3.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_03_01_preview/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_0/_configuration.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_0/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_0/models/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_0/models/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_0/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1/_configuration.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1/models/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1/models/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/_configuration.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/_metadata.json
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/_patch.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/_vendor.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/aio/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/aio/_configuration.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/aio/_patch.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/aio/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/aio/operations/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/aio/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/models/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/models/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/models/_models_py3.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/models/_text_analytics_client_enums.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/operations/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_2_preview_2/py.typed
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
  sdk/textanalytics/azure-ai-textanalytics/tests/test_multiapi.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_multiapi_async.py
Labels: Cognitive - Text Analytics

#24215 [Cosmos] set default values for baseline
  sdk/cosmos/test-resources.bicep
  sdk/cosmos/tests.yml
Labels: Cosmos

#24190 bump msal-ex version
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
  shared_requirements.txt
Labels: Azure.Identity

#24230 [Cosmos] Fix Samples README broken link
  sdk/cosmos/azure-cosmos/samples/README.md
Labels: Cosmos

#24223 Sync eng/common directory with azure-sdk-tools for PR 3061
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#24231 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, auto-merge

#24232 add validate_authority support
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#24214 [EventHubs] remove buffered producer
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_buffered_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_buffered_producer_dispatcher.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_partition_resolver.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_async_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_buffered_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_buffered_producer_dispatcher_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_partition_resolver_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/samples/README.md
  sdk/eventhub/azure-eventhub/samples/async_samples/send_buffered_mode_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/send_buffered_mode.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_buffered_producer_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_negative_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_send_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_buffered_producer.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_negative.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_send.py
  sdk/eventhub/azure-eventhub/tests/unittest/asynctests/test_partition_resolver_async.py
  sdk/eventhub/azure-eventhub/tests/unittest/test_partition_resolver.py
Labels: Event Hubs

#24233 Sync eng/common directory with azure-sdk-tools for PR 3250
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#24217 [Storage] Fix service operations with account SAS
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-blob/tests/test_blob_service_properties.py
  sdk/storage/azure-storage-blob/tests/test_blob_service_properties_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-datalake/swagger/README.md
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/swagger/README.md
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-queue/swagger/README.md
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
Labels: Storage

#24237 [Key Vault] Update default HSM location
  sdk/keyvault/test-resources.json
Labels: KeyVault, Client, test-enhancement

#24216 [Storage] Tag indexing for versions
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_azure_blob_storage.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_azure_blob_storage.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_append_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_patch.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_azure_blob_storage_enums.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models_py3.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_patch.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_append_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_patch.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_list_blobs_helper.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_models.py
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags.test_filter_blobs_versions.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags_async.test_filter_blobs_versions.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_filter_blobs_versions.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_filter_blobs_versions.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_tags.py
  sdk/storage/azure-storage-blob/tests/test_blob_tags_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
Labels: Storage
