Repository Azure/azure-sdk-for-python, pull requests merged in 2022-03, with the labels that each got.

#23190 [Tables] Resolve dependency conflicts
  sdk/tables/azure-data-tables/setup.py
  shared_requirements.txt
Labels: Client, Tables

#22564 [Tables] Add the support for Python 3.6 back
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/dev_requirements.txt
  sdk/tables/azure-data-tables/samples/README.md
  sdk/tables/azure-data-tables/setup.py
  sdk/tables/azure-data-tables/tests/perfstress_tests/README.md
Labels: Client, Tables

#23257 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, auto-merge

#23224 [Storage] Bump versions and update `CHANGELOG` for GA release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#23147 [Storage] Adjust some file-datalake test recordings
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_delete_files_simple_no_raise.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_delete_files_with_failed_subrequest.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_delete_files_simple_no_raise.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_delete_files_with_failed_subrequest.yaml
Labels: Storage

#23211 [Storage] Fix `upload_blob()` from an OS pipe on Linux
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/request_handlers.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/request_handlers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/request_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/request_handlers.py
Labels: Storage

#23182 [formrecognizer] Clean up tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_general_document.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_general_document_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_layout.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_layout_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilt_read.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilt_read_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_get_children.py
Labels: Cognitive - Form Recognizer

#23258 add back beta features
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/app_service.py
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#23141 [Storage] Fix bug with `ignore_read_only` in `start_copy_from_url()`
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_patch.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_copy_file_ignore_readonly.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.test_copy_file_ignore_readonly.yaml
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
Labels: Storage

#23179 [Storage] Add missing SAS permissions to Storage packages
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared_access_signature.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared_access_signature.py
Labels: Storage

#23262 fix new line delimiter
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/policies/_universal.py
  sdk/core/azure-core/tests/async_tests/test_http_logging_policy_async.py
  sdk/core/azure-core/tests/test_http_logging_policy.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_client.py
Labels: Azure.Core

#23206 [core] Make case insensitive dict public
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
  sdk/core/azure-core/azure/core/pipeline/policies/_utils.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/azure/core/rest/_http_response_impl.py
  sdk/core/azure-core/azure/core/rest/_rest.py
  sdk/core/azure-core/azure/core/rest/_rest_py3.py
  sdk/core/azure-core/azure/core/utils/__init__.py
  sdk/core/azure-core/azure/core/utils/_utils.py
  sdk/core/azure-core/doc/azure.core.rst
  sdk/core/azure-core/tests/test_utils.py
Labels: Azure.Core

#22891 use ParamSpec to enable intellisense with distributed_trace decorators
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/tracing/decorator.py
  sdk/core/azure-core/azure/core/tracing/decorator_async.py
  sdk/core/azure-core/dev_requirements.txt
  sdk/core/azure-core/setup.py
  shared_requirements.txt
Labels: Azure.Core

#23266 update release date
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#23268 Sync eng/common directory with azure-sdk-tools for PR 2778
  eng/common/pipelines/templates/steps/credscan.yml
  eng/common/scripts/update-docs-metadata.ps1
Labels: EngSys, Central-EngSys

#23253 [KeyVault Secrets] Fix cspell errors
  .vscode/cspell.json
  sdk/keyvault/azure-keyvault-secrets/README.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/exceptions.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/http_challenge.py
Labels: KeyVault, Client

#23254 [KeyVault Admin] Fix cspell errors
  .vscode/cspell.json
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/exceptions.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/http_challenge.py
  sdk/keyvault/azure-keyvault-administration/samples/access_control_operations.py
  sdk/keyvault/azure-keyvault-administration/samples/access_control_operations_async.py
Labels: KeyVault, Client

#23269 Sync eng/common directory with azure-sdk-tools for PR 2833
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#23280 Clean up changelog
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#23272 Sync eng/common directory with azure-sdk-tools for PR 2823
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/target_version.txt
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
Labels: EngSys, Central-EngSys

#23189 [Core] Expose TokenCredential, AccessToken docs correctly
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/credentials.py
  sdk/core/azure-core/azure/core/credentials_async.py
  sdk/core/azure-core/doc/azure.core.rst
  sdk/core/azure-core/setup.py
Labels: Docs, Azure.Core

#23240 [Tables] Use URL scheme in batch requests
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_base_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/samples/README.md
  sdk/tables/azure-data-tables/setup.py
  sdk/tables/azure-data-tables/tests/test_table_batch.py
  sdk/tables/azure-data-tables/tests/test_table_batch_async.py
  sdk/tables/azure-data-tables/tests/test_table_client.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos_async.py
Labels: Tables

#23284 [Keyvault] Fixed error message
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/__init__.py
Labels: KeyVault

#22420 [textanalytics] docs / type comment fixes
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_base_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_lro.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_base_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_lro_async.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/setup.py
Labels: Cognitive - Text Analytics

#23267 Sync eng/common directory with azure-sdk-tools for PR 2830
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
  eng/common/scripts/Cosmos-Emulator.ps1
Labels: EngSys, Central-EngSys

#23250 [KeyVault Keys] Fix cspell errors
  .vscode/cspell.json
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/exceptions.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/http_challenge.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/algorithms/aes_cbc_hmac.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/ec_key.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_key_validity.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
Labels: KeyVault, Client

#23251 [KeyVault Certs] Fix cspell errors
  .vscode/cspell.json
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/exceptions.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/http_challenge.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/certs.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
Labels: KeyVault, Client

#23255 [KeyVault KV]Fix cspell errors
  .vscode/cspell.json
  sdk/keyvault/azure-keyvault/CHANGELOG.md
Labels: KeyVault, Client

#23259 [SchemaRegistry] avro api changes
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/README.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/__init__.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_abstract_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_apache_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_constants.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_message_protocol.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_schema_registry_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_version.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/aio/_schema_registry_avro_encoder_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/README.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/encode_and_decode_event_data_message_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/encode_and_decode_with_message_content_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/encode_with_callback_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/eventhub_receive_integration_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/eventhub_send_integration_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/encode_and_decode_event_data_message.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/encode_and_decode_with_message_content.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/encode_with_callback.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/eventhub_receive_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/eventhub_send_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/recordings/test_avro_encoder.test_basic_sr_avro_encoder_with_request_kwargs.yaml
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/test_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/test_avro_encoder_async.py
Labels: Schema Registry

#23314 Sync eng/common directory with azure-sdk-tools for PR 2824
  eng/common/scripts/git-diff-changes.ps1
Labels: EngSys, Central-EngSys

#23319 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, auto-merge

#23140 [SchemaRegistry] add tests for error codes
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_get_schema_errors.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_get_schema_properties_errors.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_register_schema_errors.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_basic_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_negative_no_schema_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_same_twice_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_update_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/test_schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_get_schema_errors.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_get_schema_properties_errors.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_register_schema_errors.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_basic.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_check_error_code.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_check_error_codes.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_error_codes.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_negative_no_schema.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_same_twice.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.test_schema_update.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
Labels: Schema Registry, auto-merge

#23325 [Schema Registry] rename request kwargs to request options
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_schema_registry_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/aio/_schema_registry_avro_encoder_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/recordings/test_avro_encoder.test_basic_sr_avro_encoder_with_request_options.yaml
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/test_avro_encoder.py
Labels: Event Hubs, Schema Registry, auto-merge

#23315 [textanalytics] release prep + fixing docstrings and links
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_model_version_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_model_version.py
  sdk/textanalytics/azure-ai-textanalytics/setup.py
Labels: Cognitive - Text Analytics

#23294 [Storage] Address comments from API Review for March release
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
Labels: Storage

#23122 [EH Pyproto] Async recv perf improvement
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_reconnect_async.py
Labels: Event Hubs

#23225 [Cosmos] added additional warning to default consistency change
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
Labels: Cosmos

#22893 [Cosmos] move system_key logic to query_iterable
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_query_iterable_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/database.py
Labels: Cosmos, Client, Do Not Merge

#23297 [Tables] Release prep
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_authentication.py
  sdk/tables/azure-data-tables/samples/sample_batching.py
  sdk/tables/azure-data-tables/samples/sample_create_client.py
  sdk/tables/azure-data-tables/samples/sample_create_delete_table.py
  sdk/tables/azure-data-tables/samples/sample_insert_delete_entities.py
  sdk/tables/azure-data-tables/samples/sample_query_table.py
  sdk/tables/azure-data-tables/samples/sample_update_upsert_merge_entities.py
Labels: Tables

#23331 [Mgmt Compute] Sanitize SAS tokens in recordings
  sdk/compute/azure-mgmt-compute/tests/conftest.py
  sdk/compute/azure-mgmt-compute/tests/recordings/test_mgmt_compute_disks.pyTestMgmtComputeMultiVersiontest_compute_disks_multi.json
  sdk/compute/azure-mgmt-compute/tests/recordings/test_mgmt_compute_disks.pyTestMgmtComputetest_compute_disks.json
  sdk/compute/azure-mgmt-compute/tests/recordings/test_mgmt_compute_disks.pyTestMgmtComputetest_compute_shot.json
Labels: Compute, Mgmt

#23343 [metricsadvisor] fix mypy
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_metrics_advisor_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_metrics_advisor_client_async.py
Labels: Cognitive - Metrics Advisor

#23320 [Storage] Remove batch delete files feature for GA release
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_file_system.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_file_system_async.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_delete_files_simple_no_raise.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_delete_files_with_failed_subrequest.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_delete_files_simple_no_raise.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_delete_files_with_failed_subrequest.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
Labels: Storage

#23202 Don't pass loop if not defined
  sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py
Labels: Azure.Core

#23349 [EH Pyproto] Release updates
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/samples/README.md
Labels: Event Hubs

#23328 [Key Vault] Allow case-insensitive KeyType declaration
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_enums.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_polling.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_enums.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/_polling.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_polling.py
Labels: KeyVault, Client

#23322 Raise error when specifying 'tenant_id' in ctor of dac
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
Labels: Azure.Identity

#23295 [synapse] regenerate `azure-synapse-artifacts` with tag `package-artifacts-composite-v3`
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_artifacts_client.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_configuration.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/__init__.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_artifacts_client_enums.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_models.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_models_py3.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_big_data_pools_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_data_flow_debug_session_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_data_flow_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_dataset_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_integration_runtimes_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_kql_script_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_kql_scripts_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_library_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_linked_service_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_metastore_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_notebook_operation_result_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_notebook_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_pipeline_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_pipeline_run_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_spark_configuration_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_spark_job_definition_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_sql_pools_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_sql_script_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_trigger_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_trigger_run_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_workspace_git_repo_management_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_workspace_operations.py
  sdk/synapse/azure-synapse-artifacts/dev_requirements.txt
  sdk/synapse/azure-synapse-artifacts/setup.py
  sdk/synapse/azure-synapse-artifacts/tests/recordings/test_smoke.test_artifacts_workspace.yaml
  sdk/synapse/azure-synapse-artifacts/tests/test_smoke.py
  sdk/synapse/azure-synapse-artifacts/tests/testcase.py
  shared_requirements.txt
Labels: Synapse

#23358 [CredScan] Suppress warnings for "username" string
  eng/CredScanSuppression.json
Labels: EngSys

#23239 [formrecognizer] Improve live pipeline tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_general_document.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_general_document_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_layout.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_layout_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilt_read.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilt_read_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_business_card.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_business_card_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_business_card_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_business_card_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_content_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_content_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_identity_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_identity_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_identity_documents_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_identity_documents_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_invoice.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_invoice_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_invoice_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_invoice_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_receipt_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_get_children.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi_async.py
Labels: Cognitive - Form Recognizer

#23379 Sync eng/common directory with azure-sdk-tools for PR 2875
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#23387 [pylint] dev_requirements.txt for pylint
  scripts/pylint_custom_plugin/dev_requirements.txt
Labels: pylint

#23393 Increment version for synapse releases
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_version.py
Labels: Synapse, auto-merge

#23407 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, auto-merge

#23408 [textanalytics] readme fix
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Cognitive - Text Analytics

#23405 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search, auto-merge

#23303 [KeyVualt Admin] Add one perfstress test
  .vscode/cspell.json
  sdk/keyvault/azure-keyvault-administration/tests/perfstress_tests/README.md
  sdk/keyvault/azure-keyvault-administration/tests/perfstress_tests/__init__.py
  sdk/keyvault/azure-keyvault-administration/tests/perfstress_tests/get_role_definition.py
Labels: KeyVault, Client

#23410 Beginning of SDK-Tools refactor
  .gitignore
  eng/versioning/version_set.py
  scripts/devops_tasks/common_tasks.py
  tools/azure-sdk-tools/azci/__init__.py
  tools/azure-sdk-tools/azci/build.py
  tools/azure-sdk-tools/azci/dispatch.py
  tools/azure-sdk-tools/azci/functions.py
  tools/azure-sdk-tools/azci/invocation/__init__.py
  tools/azure-sdk-tools/azci/parsing/__init__.py
  tools/azure-sdk-tools/azci/parsing/parse_functions.py
  tools/azure-sdk-tools/azci/run_configuration.py
  tools/azure-sdk-tools/azci/scenario/__init__.py
  tools/azure-sdk-tools/azci/scenario/generator.py
  tools/azure-sdk-tools/azci/variables.py
  tools/azure-sdk-tools/azci/versioning/__init__.py
  tools/azure-sdk-tools/azci/versioning/find_invalid_versions.py
  tools/azure-sdk-tools/azci/versioning/requirements.txt
  tools/azure-sdk-tools/azci/versioning/setup_parser.py
  tools/azure-sdk-tools/azci/versioning/version_increment.py
  tools/azure-sdk-tools/azci/versioning/version_set.py
  tools/azure-sdk-tools/azci/versioning/version_set_dev.py
  tools/azure-sdk-tools/azci/versioning/version_shared.py
  tools/azure-sdk-tools/azci/versioning/warning.txt
  tools/azure-sdk-tools/packaging_tools/build_package.py
  tools/azure-sdk-tools/packaging_tools/build_packages.py
  tools/azure-sdk-tools/setup.py
  tools/azure-sdk-tools/tests/test_package_parsing.py
  tools/azure-sdk-tools/tests/test_versioning.py
Labels: customer-reported

#23409 [textanalytics] include txt sample files in package
  sdk/textanalytics/azure-ai-textanalytics/MANIFEST.in
Labels: Cognitive - Text Analytics

#23375 [Storage] Fix duplicate type signatures in async `download_file()`
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
Labels: Storage

#23411 [Storeage] Update `rename_directory` lease param name
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_directory.py
  sdk/storage/azure-storage-file-share/tests/test_directory_async.py
Labels: Storage

#23412 Increment version for textanalytics releases
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_version.py
Labels: Cognitive - Text Analytics, auto-merge

#23201 Sync eng/common directory with azure-sdk-tools for PR 2810
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#23271 [Storage] Add optional content type to `rename_file()`
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_azure_file_storage.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_configuration.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_azure_file_storage.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_configuration.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_rename_file_content_type.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.test_rename_file_content_type.yaml
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
Labels: Storage

#23417 [Storage] Fix `destination_lease` type hint
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
Labels: Storage

#23420 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/setup.py
Labels: Event Hubs, auto-merge

#23419 [SchemaRegistry] avro update release dates
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/dev_requirements.txt
  sdk/schemaregistry/azure-schemaregistry-avroencoder/CHANGELOG.md
Labels: Event Hubs, Schema Registry, auto-merge

#23384 [Storage] Datalake depends on latest blob
  sdk/storage/azure-storage-file-datalake/setup.py
  shared_requirements.txt
Labels: Storage

#23418 Sync eng/common directory with azure-sdk-tools for PR 2889
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#23443 Sync eng/common directory with azure-sdk-tools for PR 2892
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#23363 Fix type annotation for azure-storage-blob BlobClient.upload_blob
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
Labels: Storage, customer-reported

#23291 Sync eng/common directory with azure-sdk-tools for PR 2836
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#23370 [Tables] Update cosmos and storage table name validation
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_base_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/tests/_shared/testcase.py
  sdk/tables/azure-data-tables/tests/recordings/test_table.pyTestTabletest_create_table_invalid_name.json
  sdk/tables/azure-data-tables/tests/recordings/test_table.pyTestTabletest_unicode_create_table_unicode_name.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_async.pyTestTableAsynctest_create_table_invalid_name.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_async.pyTestTableAsynctest_unicode_create_table_unicode_name.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_client.pyTestTableClienttest_table_name_errors.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_client_async.pyTestTableClientAsynctest_table_name_errors.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_client_cosmos.pyTestTableClientCosmostest_table_name_errors_bad_chars.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_client_cosmos.pyTestTableClientCosmostest_table_name_errors_bad_length.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_client_cosmos_async.pyTestTableClientCosmosAsynctest_table_name_errors_bad_chars.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_client_cosmos_async.pyTestTableClientCosmosAsynctest_table_name_errors_bad_length.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_cosmos.pyTestTableCosmostest_create_table_underscore_name.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_cosmos.pyTestTableCosmostest_create_table_unicode_name.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_cosmos_async.pyTestTableCosmosAsynctest_create_table_underscore_name.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_cosmos_async.pyTestTableCosmosAsynctest_create_table_unicode_name.json
  sdk/tables/azure-data-tables/tests/test_table.py
  sdk/tables/azure-data-tables/tests/test_table_async.py
  sdk/tables/azure-data-tables/tests/test_table_client.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_cosmos_async.py
Labels: Client, Tables

#23453 [Tables] Revert bug fix
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
Labels: Tables

#23455 Sync eng/common directory with azure-sdk-tools for PR 2899
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#22946 [Cosmos] Add max_integrated_cache_staleness param option to item methods
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/http_constants.py
  sdk/cosmos/azure-cosmos/test/cleanup.py
  sdk/cosmos/azure-cosmos/test/test_config.py
  sdk/cosmos/azure-cosmos/test/test_headers.py
  sdk/cosmos/azure-cosmos/test/test_integrated_cache.py
  sdk/cosmos/azure-cosmos/test/test_partition_split_query.py
Labels: Cosmos, Client, Do Not Merge

#23464 [Tables] Fixed error string
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/tests/test_table.py
  sdk/tables/azure-data-tables/tests/test_table_async.py
  sdk/tables/azure-data-tables/tests/test_table_client.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos_async.py
Labels: Tables

#23468 Updated changelog to reflect correct release date
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#23449 Increment version for storage releases
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
Labels: Storage, auto-merge

#23448 [formrecognizer] Rename some beta components
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_copy_model_to_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_manage_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_copy_model_to.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_manage_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_to_dict_v3.py
Labels: Cognitive - Form Recognizer

#23422 [Key Vault] Add troubleshooting guides
  sdk/keyvault/TROUBLESHOOTING.md
  sdk/keyvault/azure-keyvault-administration/README.md
  sdk/keyvault/azure-keyvault-administration/TROUBLESHOOTING.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-certificates/TROUBLESHOOTING.md
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-keys/TROUBLESHOOTING.md
  sdk/keyvault/azure-keyvault-secrets/README.md
  sdk/keyvault/azure-keyvault-secrets/TROUBLESHOOTING.md
Labels: Docs, KeyVault, Client

#23444 Increment version for storage releases
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
Labels: Storage, auto-merge

#23474 expose async client assertion
  sdk/identity/azure-identity/azure/identity/aio/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/__init__.py
Labels: Azure.Identity

#23228 Anomaly Detector sample Readme link fix
  sdk/anomalydetector/azure-ai-anomalydetector/samples/README.md
Labels: customer-reported

#23470 [Tables] Bump version
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
Labels: Tables

#23428 [batch] updata test
  sdk/batch/azure-mgmt-batch/tests/conftest.py
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_account_advanced.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_account_name.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_applications.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_byos_account.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_certificates.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_list_operations.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_pools.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_subscription_quota.json
Labels: Batch

#23460 [eventgrid] update test
  sdk/eventgrid/azure-mgmt-eventgrid/tests/conftest.py
  sdk/eventgrid/azure-mgmt-eventgrid/tests/recordings/test_domain.pyTestMgmtEventGridtest_domain.json
Labels: Event Grid

#23461 [keyvault] update test
  sdk/keyvault/azure-mgmt-keyvault/tests/conftest.py
  sdk/keyvault/azure-mgmt-keyvault/tests/recordings/test_cli_mgmt_keyvault.pyTestMgmtKeyVaulttest_keyvault.json
Labels: KeyVault

#23341 【search 】Update test
  sdk/search/azure-mgmt-search/tests/conftest.py
  sdk/search/azure-mgmt-search/tests/recordings/test_mgmt_search.pyTestMgmtSearchtest_search_admin_keys.json
  sdk/search/azure-mgmt-search/tests/recordings/test_mgmt_search.pyTestMgmtSearchtest_search_query_keys.json
  sdk/search/azure-mgmt-search/tests/recordings/test_mgmt_search.pyTestMgmtSearchtest_search_services.json
Labels: Search

#23401 【servicebus 】update test
  sdk/servicebus/azure-mgmt-servicebus/tests/conftest.py
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_cli_mgmt_servicebus_queue.pyTestMgmtServiceBustest_queue.json
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_cli_mgmt_servicebus_topic.pyTestMgmtServiceBustest_subscrpition_and_rule.json
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_cli_mgmt_servicebus_topic.pyTestMgmtServiceBustest_topic.json
Labels: Service Bus

#23477 API Key Not Being Passed On Paged Requests
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/aio/_paging.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_client_search_live_async.py
  sdk/search/azure-search-documents/tests/hotel_large.json
  sdk/search/azure-search-documents/tests/recordings/async_tests/test_search_client_search_live_async.pyTestClientTestAsynctest_search_client.json
  sdk/search/azure-search-documents/tests/recordings/async_tests/test_search_client_search_live_async.pyTestClientTestAsynctest_search_client_large.json
Labels: Search

#22948 [Search] Fix cspell Issues
  sdk/search/azure-search-documents/azure/search/documents/_index_documents_batch.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_index_documents_batch_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_indexer_client.py
  sdk/search/azure-search-documents/samples/async_samples/sample_semantic_search_async.py
  sdk/search/azure-search-documents/samples/sample_semantic_search.py
Labels: Search

#23496 check content
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_internal/msal_client.py
Labels: Azure.Identity

#23499 Sync eng/common directory with azure-sdk-tools for PR 2910
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#23475 [Key Vault] Address architect feedback
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
Labels: KeyVault, Client

#23520 [formrecognizer] Update begin_training() and begin_build_model() docs
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
Labels: Cognitive - Form Recognizer

#23525 [textanalytics] adjustments to tests for new sentiment analysis model
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment.pyTestAnalyzeSentimenttest_opinion_mining.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment.pyTestAnalyzeSentimenttest_opinion_mining_more_than_5_documents.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment_async.pyTestAnalyzeSentimenttest_opinion_mining.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment_async.pyTestAnalyzeSentimenttest_opinion_mining_more_than_5_documents.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
Labels: Cognitive - Text Analytics

#23523 Sync eng/common directory with azure-sdk-tools for PR 2870
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: EngSys, Central-EngSys

#23522 Sync eng/common directory with azure-sdk-tools for PR 2866
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#23535 [ServiceBus] Update tests
  sdk/servicebus/azure-mgmt-servicebus/tests/conftest.py
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_cli_mgmt_servicebus_queue.pyTestMgmtServiceBustest_queue.json
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_cli_mgmt_servicebus_topic.pyTestMgmtServiceBustest_subscrpition_and_rule.json
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_cli_mgmt_servicebus_topic.pyTestMgmtServiceBustest_topic.json
  sdk/servicebus/azure-mgmt-servicebus/tests/test_cli_mgmt_servicebus_namespace.py
Labels: Service Bus

#23534 Sync eng/common directory with azure-sdk-tools for PR 2901
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#23542 [CredScan] Update guide with new CI process
  doc/dev/credscan_process.md
Labels: Docs

#23544 Sync eng/common directory with azure-sdk-tools for PR 2922
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#14353 added mimetype based on file extension
  sdk/storage/azure-storage-blob/samples/blob_samples_directory_interface_mimetype.py
Labels: Storage, customer-reported

#22296 azure-storage-queue README: Add start param to SAS token generation
  sdk/storage/azure-storage-queue/README.md
Labels: Storage, customer-reported

#23567 [textanalytics] skip tests for model regression in sentiment analysis
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
Labels: Cognitive - Text Analytics

#23471 [pylint] alias checker and tests
  scripts/pylint_custom_plugin/README.md
  scripts/pylint_custom_plugin/pylint_guidelines_checker.py
  scripts/pylint_custom_plugin/tests/test_files/__init__.py
  scripts/pylint_custom_plugin/tests/test_pylint_custom_plugins.py
Labels: pylint

#21543 {packaging} Ensure tests in PyPi package
  sdk/core/azure-common/MANIFEST.in
Labels: customer-reported, Azure.Core

#22079 Fix - Download Method
  sdk/storage/azure-storage-blob/samples/blob_samples_directory_interface.py
Labels: Storage, customer-reported

#23562 [ACR] Throw warning when call the misspelled property
  .vscode/cspell.json
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client.test_get_misspell_property.yaml
  sdk/containerregistry/azure-containerregistry/tests/recordings/test_container_registry_client_async.test_get_misspell_property.yaml
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
Labels: Container Registry, Client

#23578 [core] loosen check on stream input
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/rest/_helpers.py
  sdk/core/azure-core/azure/core/rest/_helpers_py3.py
  sdk/core/azure-core/azure/core/rest/_rest.py
  sdk/core/azure-core/azure/core/rest/_rest_py3.py
  sdk/core/azure-core/tests/test_rest_http_request.py
Labels: Azure.Core

#23570 [Storage] Fix generated code for service operations
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-datalake/swagger/README.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/swagger/README.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
  sdk/storage/azure-storage-queue/swagger/README.md
Labels: Storage

#23148 [Test Proxy] Add custom matcher setter and ignore unnecessary headers
  sdk/eventgrid/azure-eventgrid/tests/conftest.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_business_card.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_business_card_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_business_card_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_content_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_content_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_identity_documents_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_identity_documents_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_invoice_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_invoice_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_receipt_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
  sdk/netapp/azure-mgmt-netapp/tests/test_account_backup.py
  sdk/netapp/azure-mgmt-netapp/tests/test_backup.py
  sdk/netapp/azure-mgmt-netapp/tests/test_snapshot.py
  sdk/netapp/azure-mgmt-netapp/tests/test_snapshot_policies.py
  sdk/netapp/azure-mgmt-netapp/tests/test_vault.py
  sdk/netapp/azure-mgmt-netapp/tests/test_volume.py
  sdk/tables/azure-data-tables/tests/test_table_aad.py
  sdk/tables/azure-data-tables/tests/test_table_aad_async.py
  sdk/tables/azure-data-tables/tests/test_table_batch.py
  sdk/tables/azure-data-tables/tests/test_table_batch_async.py
  sdk/tables/azure-data-tables/tests/test_table_batch_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_batch_cosmos_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/translation/azure-ai-translation-document/tests/testcase.py
  tools/azure-sdk-tools/devtools_testutils/__init__.py
  tools/azure-sdk-tools/devtools_testutils/helpers.py
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
  tools/azure-sdk-tools/devtools_testutils/proxy_testcase.py
  tools/azure-sdk-tools/devtools_testutils/sanitizers.py
Labels: Event Grid, Tables, Cognitive - Text Analytics, Cognitive - Form Recognizer, test-enhancement

#23591 Sync eng/common directory with azure-sdk-tools for PR 2847
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Import-AzModules.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#23582 [SchemaRegistry] Avro perf tests
  .vscode/cspell.json
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/perfstress_tests/README.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/perfstress_tests/__init__.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/perfstress_tests/_test_base.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/perfstress_tests/decode_content.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/perfstress_tests/encode_content.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_get_schema_errors.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_get_schema_properties_errors.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_register_schema_errors.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_basic_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_negative_no_schema_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_same_twice_async.yaml
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/recordings/test_schema_registry_async.test_schema_update_async.yaml
Labels: Schema Registry, auto-merge

#23518 Add Azure Account extension version requirement to Identity README
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#23545 Trigger template instead of core for eng/common
  sdk/core/ci.yml
  sdk/template/ci.yml
Labels: EngSys, Azure.Core

#23574 [Storage] Add 'create_if_not_exists()' for BlobContainerClient, FileShareClient, QueueClient, FileSystemClient
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_create_container_if_not_exists_with_existing_container.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_create_container_if_not_exists_without_existing_container.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_create_container_if_not_exists_with_existing_container.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_create_container_if_not_exists_without_existing_container.yaml
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_create_file_system_if_not_exists_with_existing_file_system.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_create_file_system_if_not_exists_without_existing_file_system.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_create_file_system_async_if_not_exists_with_existing_container.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_create_file_system_async_if_not_exists_without_existing_container.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_create_share_if_not_exists_with_existing_share.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_create_share_if_not_exists_without_existing_share.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.test_create_share_if_not_exists_with_existing_share.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.test_create_share_if_not_exists_without_existing_share.yaml
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/tests/recordings/test_queue.test_create_queue_if_not_exists_with_existing_container.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue.test_create_queue_if_not_exists_without_existing_container.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_async.test_create_queue_if_not_exists_with_existing_container.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_async.test_create_queue_if_not_exists_without_existing_container.yaml
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
Labels: Storage

#23539 address arch board review feedback
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/app_service.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_ml.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_assertion.py
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/token_exchange.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_assertion.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/token_exchange.py
Labels: Azure.Identity

#23595 Sync eng/common directory with azure-sdk-tools for PR 2928
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#23558 [Key Vault] Fix backup/restore tests in administration
  .vscode/cspell.json
  sdk/keyvault/azure-keyvault-administration/tests/_test_case.py
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client.py
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client_async.py
  sdk/keyvault/test-resources.json
Labels: KeyVault, Client

#23549 [Storage] Implement cpk support for Datalake
  eng/tox/create_package_and_install.py
  eng/tox/tox.ini
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/constants.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/__init__.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_azure_data_lake_storage_restapi.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_configuration.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/_azure_data_lake_storage_restapi.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/_configuration.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_path_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/models/__init__.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/models/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_file_system_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_path_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-datalake/swagger/README.md
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk.test_create_directory_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk.test_create_file_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk.test_create_sub_directory_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk.test_directory_exists_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk.test_file_append_flush_data_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk.test_file_download_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk.test_file_exists_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk.test_file_upload_data_file_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk.test_get_directory_properties_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk.test_get_file_properties_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk.test_query_file_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk.test_set_metadata_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk_async.test_create_directory_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk_async.test_create_file_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk_async.test_create_sub_directory_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk_async.test_directory_exists_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk_async.test_file_append_flush_data_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk_async.test_file_download_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk_async.test_file_exists_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk_async.test_file_upload_data_file_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk_async.test_get_directory_properties_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk_async.test_get_file_properties_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_cpk_async.test_set_metadata_cpk.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_cpk.py
  sdk/storage/azure-storage-file-datalake/tests/test_cpk_async.py
  shared_requirements.txt
Labels: Storage

#23619 Sync eng/common directory with azure-sdk-tools for PR 2939
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#23628 Sync eng/common directory with azure-sdk-tools for PR 2938
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#23630 Update Release date
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
Labels: Communication

#23507 Sync eng/common directory with azure-sdk-tools for PR 2861
  eng/common/pipelines/templates/steps/credscan.yml
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/check-spelling-in-changed-files.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/get-changedfiles.ps1
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
  eng/common/scripts/git-diff-changes.ps1
Labels: EngSys, Central-EngSys

#23629 [Storage] Added `creation_time` and `expiry_time` to `get_paths()`
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/parser.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_list_paths_create_expiry.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_list_paths_no_expiry.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_list_paths_create_expiry.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_list_paths_no_expiry.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
Labels: Storage

#23644 Sync eng/common directory with azure-sdk-tools for PR 2972
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Helpers/git-helpers.ps1
Labels: EngSys, Central-EngSys

#23661 [Storage] Attempt to fix flaky Live test
  sdk/storage/azure-storage-blob/tests/test_blob_storage_account.py
  sdk/storage/azure-storage-blob/tests/test_blob_storage_account_async.py
Labels: Storage

#23625 remove validate_authority
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#23675 [GitHub Automation] Communication Rules
  .github/fabricbot.json
Labels: Client, EngSys

#23674 [GitHub Automation] Communication Owners
  .github/CODEOWNERS
Labels: Client, EngSys

#23626 add app service api 2017 backward compatibility support
  sdk/identity/azure-identity/azure/identity/_credentials/azure_ml.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity

#23673 [formrecognizer] Fix dictionary methods on DocumentField model
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_async.py
Labels: Cognitive - Form Recognizer

#23659 add doc string for authority setting
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
Labels: Azure.Identity

#23688 [Key Vault] Fix key rotation bug
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/samples/key_rotation.py
  sdk/keyvault/azure-keyvault-keys/samples/key_rotation_async.py
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_key_rotation_policy_7_3_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_key_rotation_policy_7_3_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
Labels: Docs, KeyVault, Client

#23705 Add healthcare API enum
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
  sdk/eventgrid/azure-eventgrid/swagger/_constants.py
Labels: Event Grid

#23658 enable pii logging
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_internal/decorators.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/decorators.py
Labels: Azure.Identity

#23690 [Storage] Refactor tier test in hopes of making it less flaky (again)
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_storage_account.test_standard_blob_tier_set_tier_api.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_storage_account_async.test_standard_blob_tier_set_tier_api.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_storage_account.py
  sdk/storage/azure-storage-blob/tests/test_blob_storage_account_async.py
Labels: Storage

#23711 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
Labels: KeyVault, auto-merge

#23689 [Storage] Add new `copy_source_tags` option to `start_copy_from_url()`
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_azure_blob_storage_enums.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models_py3.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags.test_start_copy_from_url_with_tags_copy_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags.test_start_copy_from_url_with_tags_replace_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags_async.test_start_copy_from_url_with_tags_copy_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags_async.test_start_copy_from_url_with_tags_replace_tags.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_tags.py
  sdk/storage/azure-storage-blob/tests/test_blob_tags_async.py
Labels: Storage

#23608 [Cosmos] Update docstrings for container class
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
Labels: Cosmos

#23715 Fix `BlobSasPermission` default value for `tag`
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
Labels: Storage

#23354 [Key Vault] Drop Python 2 from metapackage
  sdk/keyvault/azure-keyvault/CHANGELOG.md
  sdk/keyvault/azure-keyvault/README.md
  sdk/keyvault/azure-keyvault/setup.py
Labels: KeyVault, Client

#23718 [Key Vault] Add azure-keyvault to artifacts to enable release
  sdk/keyvault/azure-keyvault/CHANGELOG.md
  sdk/keyvault/azure-keyvault/setup.py
  sdk/keyvault/ci.yml
Labels: KeyVault, Client

#23681 update troubleshooting
  .vscode/cspell.json
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/images/AuthFailedErrorMessageExample.png
Labels: Azure.Identity

#23731 [Storage] Update package versions, API versions, and version constant
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/constants.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/constants.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/constants.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/constants.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
Labels: Storage

#23725 update changelog
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#23737 Troubleshooting guide for query
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/TROUBLESHOOTING.md
Labels: Docs, Client, Monitor - Query

#23573 [SchemaRegistry] Avro API changes
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/MANIFEST.in
  sdk/schemaregistry/azure-schemaregistry-avroencoder/README.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/__init__.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_abstract_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_apache_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_exceptions.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_message_protocol.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_schema_registry_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_utils.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_version.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/aio/_schema_registry_avro_encoder_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/exceptions.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/py.typed
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/README.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/encode_and_decode_event_data_message_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/encode_and_decode_with_message_content_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/encode_with_callback_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/eventhub_receive_integration_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/eventhub_send_integration_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/encode_and_decode_event_data_message.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/encode_and_decode_with_message_content.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/encode_with_callback.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/eventhub_receive_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/eventhub_send_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/test_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/test_avro_encoder_async.py
Labels: Schema Registry

#23694 [Storage] Update test_blob_tags tests + link to GitHub issue for failing tests
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags.test_set_blob_tags_for_a_version.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_tags.py
Labels: Storage
