Repository Azure/azure-sdk-for-python, pull requests merged in 2022-05, with the labels that each got.

#24113 [core] add serialization and deserialization errors
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
  sdk/core/azure-core/azure/core/serialization.py
  sdk/core/azure-core/tests/test_serialization.py
Labels: Azure.Core

#22624 Issue #9324 create test_compress_compressed_no_header_offline
  sdk/core/azure-core/tests/test_streaming.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/streams.py
Labels: customer-reported, Azure.Core, Impact++

#24271 Revert "[Storage] Tag indexing for versions (#24216)"
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_list_blobs_helper.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_models.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags.test_filter_blobs_versions.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags_async.test_filter_blobs_versions.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_filter_blobs_versions.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_filter_blobs_versions.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_tags.py
  sdk/storage/azure-storage-blob/tests/test_blob_tags_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
Labels: Storage

#24272 Sync eng/common directory with azure-sdk-tools for PR 3261
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Labels: EngSys, Central-EngSys

#24181 [Storage] Batch delete_files()
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_deserialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_file_system.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_file_system_async.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_delete_files_simple_no_raise.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_delete_files_with_failed_subrequest.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_serialized_error.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_delete_files_simple_no_raise.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_delete_files_with_failed_subrequest.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_serialized_error.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
Labels: Storage

#24274 [HDInsight] Use value from fake credential store in tests
  eng/python.gdnbaselines
  sdk/hdinsight/azure-mgmt-hdinsight/test/disable_test_mgmt_hdinsight.py
  tools/azure-sdk-tools/devtools_testutils/fake_credentials.py
Labels: HDInsight, Mgmt, Central-EngSys

#24279 [textanalytics] fix for 429
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_base_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_policies.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_base_client_async.py
Labels: Cognitive - Text Analytics

#24283 [SchemaRegistry] docs/mypy updates
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/setup.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_schema_registry_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_utils.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/aio/_schema_registry_avro_encoder_async.py
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_configuration.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_patch.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/_configuration.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/_patch.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema/_request_builders.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema/_request_builders_py3.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema_groups/_request_builders.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema_groups/_request_builders_py3.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_schema_registry_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_schema_registry_client_async.py
  sdk/schemaregistry/azure-schemaregistry/setup.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/test_schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/async_tests/test_schema_registry_async.pyTestSchemaRegistryAsynctest_schema_negative_wrong_endpoint_async.json
  sdk/schemaregistry/azure-schemaregistry/tests/recordings/test_schema_registry.pyTestSchemaRegistrytest_schema_negative_wrong_endpoint.json
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
  shared_requirements.txt
Labels: Event Hubs, Schema Registry

#24285 Update `azure-template` to reflect py27 only updates
  sdk/template/azure-template/setup.cfg
  sdk/template/azure-template/setup.py
Labels: EngSys

#24281 [textanalytics] decorator to validate multiapi
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_check.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_request_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_validate.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_version.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_detect_language.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_detect_language_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
Labels: Cognitive - Text Analytics

#21463 Visibility Timeout Doc Correction
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
Labels: Storage

#24292 update changelog
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Core

#24288 Sync eng/common directory with azure-sdk-tools for PR 3269
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#24276 [Storage] Add progress callback to `download_blob` methods
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_get_blob.test_get_blob_progress_chunked.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_get_blob.test_get_blob_progress_single_get.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_get_blob_async.test_get_blob_progress_chunked.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_get_blob_async.test_get_blob_progress_single_get.yaml
  sdk/storage/azure-storage-blob/tests/test_get_blob.py
  sdk/storage/azure-storage-blob/tests/test_get_blob_async.py
Labels: Storage

#24269 [formrecognizer] Fix documentation
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
Labels: Cognitive - Form Recognizer

#24298 [textanalytics] support for healthcare action + FHIR
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_request_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_validate.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_healthcare_action.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_healthcare_action.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare.pyTestHealthtest_healthcare_fhir_bundle.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare_async.pyTestHealthtest_healthcare_fhir_bundle.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
Labels: Cognitive - Text Analytics

#24301 [Key Vault] Correctly skip unconfigured tests
  sdk/keyvault/azure-keyvault-keys/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-keys/tests/_keys_test_case.py
  sdk/keyvault/azure-keyvault-keys/tests/_test_case.py
Labels: KeyVault, Client

#24313 Sync eng/common directory with azure-sdk-tools for PR 3280
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#24312 [core] move SerializationError and DeserializationError to exceptions
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/exceptions.py
  sdk/core/azure-core/azure/core/serialization.py
  sdk/core/azure-core/tests/test_exceptions.py
  sdk/core/azure-core/tests/test_serialization.py
Labels: Azure.Core

#24316 [Storage] Prepare for STG82 GA release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  shared_requirements.txt
Labels: Storage

#24278 [Tables] Add multitenant challenge auth policy support
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_authentication.py
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_authentication_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_base_client_async.py
  sdk/tables/azure-data-tables/tests/_shared/asynctestcase.py
  sdk/tables/azure-data-tables/tests/_shared/testcase.py
  sdk/tables/azure-data-tables/tests/conftest.py
  sdk/tables/azure-data-tables/tests/recordings/test_challenge_auth.pyTestTableChallengeAuthtest_challenge_auth_supported_version.json
  sdk/tables/azure-data-tables/tests/recordings/test_challenge_auth.pyTestTableChallengeAuthtest_challenge_auth_unsupported_version.json
  sdk/tables/azure-data-tables/tests/recordings/test_challenge_auth_async.pyTestTableChallengeAuthAsynctest_challenge_auth_supported_version.json
  sdk/tables/azure-data-tables/tests/recordings/test_challenge_auth_async.pyTestTableChallengeAuthAsynctest_challenge_auth_unsupported_version.json
  sdk/tables/azure-data-tables/tests/test_challenge_auth.py
  sdk/tables/azure-data-tables/tests/test_challenge_auth_async.py
Labels: Client, Tables

#24331 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, auto-merge

#24335 [Storage] Adjust connection string parser test cases
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_create_file_extra_backslashes.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_create_file_extra_backslashes_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_async.py
Labels: Storage

#24314 [Storage] Added create bundle for Datalake
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/__init__.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_azure_data_lake_storage_restapi.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_configuration.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/__init__.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/_azure_data_lake_storage_restapi.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/_configuration.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/__init__.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_file_system_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_patch.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_path_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/models/__init__.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/models/_azure_data_lake_storage_restapi_enums.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/models/_patch.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/__init__.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_file_system_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_patch.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_path_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-datalake/swagger/README.md
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_create_directory_owner_group_acl.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_create_directory_proposed_lease_id.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_create_sub_directory_proposed_lease_id.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_create_directory_owner_group_acl_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_create_directory_proposed_lease_id_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_create_sub_directory_proposed_lease_id_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_create_file_absolute_expiry.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_create_file_owner_group_acl.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_create_file_proposed_lease_id.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_create_file_relative_expiry.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_create_file_absolute_expiry_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_create_file_owner_group_acl_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_create_file_proposed_lease_id_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_create_file_relative_expiry_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_directory.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  shared_requirements.txt
Labels: Storage

#24340 [RecoverServices] Temporarily delete invalid links
  sdk/recoveryservices/azure-mgmt-recoveryservices/README.md
  sdk/recoveryservices/azure-mgmt-recoveryservices/sdk_packaging.toml
Labels: Recovery Services

#23722 AMQP websocket implementation
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_sasl_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/sasl.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/async/test_websocket_async.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/synctests/test_websocket.py
Labels: Event Hubs

#24344 Revert "AMQP websocket implementation"
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_sasl_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/sasl.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/async/test_websocket_async.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/synctests/test_websocket.py
Labels: Event Hubs

#24345 AMQP websocket implementation
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_sasl_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/sasl.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/async/test_websocket_async.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/synctests/test_websocket.py
Labels: Event Hubs

#24364 [SchemaRegistry] avro update docstring
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_exceptions.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_message_protocol.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_schema_registry_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/aio/_schema_registry_avro_encoder_async.py
Labels: Schema Registry, auto-merge

#24004 [ACR] Pull/push support for OCI manifest and blob
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_authentication_policy.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_container_registry.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_vendor.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_container_registry.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_authentication_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_container_registry_blob_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_container_registry_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_patch.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_container_registry_enums.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_models_py3.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_patch.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_authentication_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_container_registry_blob_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_container_registry_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_patch.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_helpers.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_version.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/setup.py
  sdk/containerregistry/azure-containerregistry/swagger/README.md
  sdk/containerregistry/azure-containerregistry/tests/data/oci_artifact/654b93f61054e4ce90ed203bb8d556a6200d5f906cf3eca0620738d6dc18cbed
  sdk/containerregistry/azure-containerregistry/tests/data/oci_artifact/config.json
  sdk/containerregistry/azure-containerregistry/tests/data/oci_artifact/manifest.json
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/testcase.py
  shared_requirements.txt
Labels: Container Registry, Client

#24371 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, auto-merge

#24376 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs, auto-merge

#24318 [textanalytics] update documentation
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_base_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_alternative_document_input_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_actions_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_healthcare_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_healthcare_entities_with_cancellation_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_sentiment_with_opinion_mining_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_authentication_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_detect_language_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_extract_key_phrases_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_extract_summary_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_get_detailed_diagnostics_information_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_model_version_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_multi_category_classify_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_custom_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_linked_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_recognize_pii_entities_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_category_classify_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_alternative_document_input.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_actions.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_healthcare_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_healthcare_entities_with_cancellation.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_sentiment_with_opinion_mining.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_authentication.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_detect_language.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_extract_key_phrases.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_extract_summary.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_get_detailed_diagnostics_information.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_model_version.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_multi_category_classify.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_custom_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_linked_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_category_classify.py
Labels: Cognitive - Text Analytics

#24382 [textanalytics] regen on official swagger
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_04_01_preview/models/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_04_01_preview/models/_models_py3.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_04_01_preview/models/_text_analytics_client_enums.py
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
  sdk/textanalytics/azure-ai-textanalytics/swagger/common.json
  sdk/textanalytics/azure-ai-textanalytics/swagger/textanalytics.json
Labels: Cognitive - Text Analytics

#24388 Increment version for containerregistry releases
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_version.py
Labels: Container Registry, auto-merge

#24389 Increment version for tables releases
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
Labels: Tables, auto-merge

#24394 add test
  sdk/loganalytics/azure-mgmt-loganalytics/tests/conftest.py
  sdk/loganalytics/azure-mgmt-loganalytics/tests/recordings/test_mgmt_loganalytics.pyTestMgmtLogAnalyticstest_loganalytics_operations.json
  sdk/loganalytics/azure-mgmt-loganalytics/tests/recordings/test_workspace.pyTestMgmtLogAnalyticsWorkspacetest_loganalytics_workspace.json
  sdk/loganalytics/azure-mgmt-loganalytics/tests/test_mgmt_loganalytics.py
  sdk/loganalytics/azure-mgmt-loganalytics/tests/test_workspace.py
Labels: Monitor - LogAnalytics

#24375 Increment version for schemaregistry releases
  sdk/schemaregistry/azure-schemaregistry-avroencoder/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_version.py
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_version.py
Labels: Schema Registry, auto-merge

#24358 [Cosmos] post-archboard fixes
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/auth.py
  sdk/cosmos/azure-cosmos/samples/examples_async.py
Labels: Cosmos

#24381 [translation] doc fixes
  sdk/translation/azure-ai-translation-document/README.md
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_client.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_client_async.py
Labels: Cognitive - Translator

#24377 Increment version for storage releases
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
Labels: Storage, auto-merge

#24400 add CertificateCredential sample
  sdk/identity/azure-identity/samples/client_certificate_credential.md
Labels: Azure.Identity

#24405 Sync eng/common directory with azure-sdk-tools for PR 3320
  eng/common/TestResources/README.md
Labels: EngSys, Central-EngSys

#24422 Update Azure monitor OpenTelemetry exporter example
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/logs/sample_correlate.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/logs/sample_exception.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/logs/sample_log.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/logs/sample_properties.py
Labels: customer-reported

#24398 Sync eng/common directory with azure-sdk-tools for PR 3323
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#24385 [Storage] Changefeed changes to better support point in time restore
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_change_feed_client.py
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_models.py
Labels: Storage

#23933 [Cosmos] use python3 typehints and move options to kwargs on async client
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/__init__.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_scripts.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_user.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/setup.py
  shared_requirements.txt
Labels: Cosmos

#24429 Update Azure Account ext. workaround guidance
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#24424 fix typing
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/imds.py
Labels: Azure.Identity

#24287 [Cosmos] Fix failing unit tests
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/test/test_aad.py
  sdk/cosmos/azure-cosmos/test/test_client_user_agent.py
  sdk/cosmos/azure-cosmos/test/test_config.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_env.py
  sdk/cosmos/azure-cosmos/test/test_globaldb.py
  sdk/cosmos/azure-cosmos/test/test_globaldb_mock.py
  sdk/cosmos/azure-cosmos/test/test_headers.py
  sdk/cosmos/azure-cosmos/test/test_location_cache.py
  sdk/cosmos/azure-cosmos/test/test_media.py
  sdk/cosmos/azure-cosmos/test/test_multi_orderby.py
  sdk/cosmos/azure-cosmos/test/test_multimaster.py
  sdk/cosmos/azure-cosmos/test/test_orderby.py
  sdk/cosmos/azure-cosmos/test/test_partition_key.py
  sdk/cosmos/azure-cosmos/test/test_partition_split_query.py
  sdk/cosmos/azure-cosmos/test/test_proxy.py
  sdk/cosmos/azure-cosmos/test/test_query.py
  sdk/cosmos/azure-cosmos/test/test_query_execution_context.py
  sdk/cosmos/azure-cosmos/test/test_retry_policy.py
  sdk/cosmos/azure-cosmos/test/test_routing_map.py
  sdk/cosmos/azure-cosmos/test/test_session.py
  sdk/cosmos/azure-cosmos/test/test_session_container.py
  sdk/cosmos/azure-cosmos/test/test_streaming_failover.py
  sdk/cosmos/azure-cosmos/test/test_ttl.py
  sdk/cosmos/azure-cosmos/test/test_user_configs.py
  sdk/cosmos/azure-cosmos/test/test_utils.py
Labels: Cosmos

#24428 [Cosmos] deprecate offer naming in methods - merge available
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/offer.py
  sdk/cosmos/azure-cosmos/samples/container_management.py
  sdk/cosmos/azure-cosmos/samples/container_management_async.py
  sdk/cosmos/azure-cosmos/test/test_backwards_compatibility.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_partition_split_query.py
Labels: Cosmos

#24166 Create test_crud_async.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
Labels: Cosmos

#24431 [textanalytics] unskip tests and rerecord now that kebab-case bug is fixed
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_bad_model_version_error_all_tasks.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_bad_model_version_error_multiple_tasks.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_custom_partial_error.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_disable_service_logs.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_multi_category_classify.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_recognize_custom_entities.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_show_stats_and_model_version_multiple_tasks.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_single_category_classify.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_bad_model_version_error_all_tasks.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_bad_model_version_error_multiple_tasks.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_custom_partial_error.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_disable_service_logs.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_multi_category_classify.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_recognize_custom_entities.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_show_stats_and_model_version_multiple_tasks.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_single_category_classify.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare.pyTestHealthtest_bad_model_version_error.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare_async.pyTestHealthtest_bad_model_version_error.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
Labels: Cognitive - Text Analytics

#24441 Sync eng/common directory with azure-sdk-tools for PR 3341
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#24410 Adding back Rakshith's websocket changes
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_sasl_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/sasl.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/dev_requirements.txt
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_send_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_consumer_client.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_send.py
Labels: Event Hubs

#24461 azure-monitor-opentelemetry-exporter update examples in readme to reuse LogEmitterProvider
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
Labels: customer-reported

#24465 Jobrouter/initial commit
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_utils.py
  sdk/communication/azure-communication-jobrouter/setup.py
  sdk/communication/azure-communication-jobrouter/tests/_helpers.py
  sdk/communication/azure-communication-jobrouter/tests/_recording_processors.py
  sdk/communication/azure-communication-jobrouter/tests/test_distribution_policy.py
  sdk/communication/azure-communication-jobrouter/tests/test_distribution_policy_async.py
  sdk/communication/azure-communication-jobrouter/tests/test_exception_policy.py
  sdk/communication/azure-communication-jobrouter/tests/test_exception_policy_async.py
  sdk/communication/azure-communication-jobrouter/tests/test_router_job.py
  sdk/communication/azure-communication-jobrouter/tests/test_router_job_async.py
Labels: Communication

#24469 Jobrouter/initial commit
  sdk/communication/ci.yml
Labels: Communication

#24409 Enforce proper usage of `py.typed` file
  eng/tox/create_package_and_install.py
  eng/tox/import_all.py
  eng/tox/install_dev_build_dependency.py
  eng/tox/prep_sphinx_env.py
  eng/tox/run_apistubgen.py
  eng/tox/run_pylint.py
  eng/tox/run_sphinx_apidoc.py
  eng/tox/run_sphinx_build.py
  eng/tox/tox_helper_tasks.py
  eng/tox/verify_sdist.py
  eng/tox/verify_whl.py
Labels: Central-EngSys

#24490 Remove locale from links
  doc/dev/mgmt/tests.md
Labels: Central-EngSys

#24491 Jobrouter/initial commit
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/py.typed
  sdk/communication/azure-communication-jobrouter/setup.py
Labels: Communication

#24473 [textanalytics] update release date and fix some docstrings
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
Labels: Cognitive - Text Analytics

#24258 Share APIView Pins of pylint-guidelines-checker
  eng/apiview_reqs.txt
  eng/tox/tox.ini
Labels: Central-EngSys

#24506 [Storage] Update Storage mgmt MANIFESTs to include py.typed
  sdk/storage/azure-mgmt-storage/MANIFEST.in
  sdk/storage/azure-mgmt-storagecache/MANIFEST.in
  sdk/storage/azure-mgmt-storageimportexport/MANIFEST.in
  sdk/storage/azure-mgmt-storagesync/MANIFEST.in
Labels: Storage

#24512 Increment version for textanalytics release
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_version.py
Labels: Cognitive - Text Analytics

#24528 Update README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
Labels: Cognitive - Text Analytics

#24545 [Bot Rules] Restore missing rules
  .github/fabricbot.json
Labels: Client, EngSys

#24504 [eventhub] Websocket timeout error exception thrown
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
Labels: Event Hubs, AMQP Python

#24549 Describe named parameter issue and fix
  doc/dev/test_proxy_troubleshooting.md
Labels: Central-EngSys

#24450 azure-core: ignore Connection header in tests, make tests pass with recent Flask + Werkzeug
  sdk/core/azure-core/tests/async_tests/test_rest_headers_async.py
  sdk/core/azure-core/tests/test_rest_headers.py
Labels: customer-reported, Azure.Core

#24548 add missing type hints for ItemPaged
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/paging.py
Labels: Azure.Core

#24564 Sync eng/common directory with azure-sdk-tools for PR 3368
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#24526 Allow Skipping of Analyze Deps via Variable
  doc/eng_sys_checks.md
  eng/pipelines/templates/steps/analyze_dependency.yml
Labels: Central-EngSys

#24565 [eventhub] websocket default timeout fix
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
Labels: Event Hubs

#24563 Sync eng/common directory with azure-sdk-tools for PR 3342
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#24561 [Cosmos] add post_trigger_include to async read_item method and docs updates
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/__init__.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_scripts.py
  sdk/cosmos/azure-cosmos/test/test_backwards_compatibility.py
  sdk/cosmos/azure-cosmos/test/test_client_user_agent.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
  sdk/cosmos/azure-cosmos/test/test_env.py
Labels: Cosmos

#24569 [Cosmos] Update version for release
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/setup.py
Labels: Cosmos

#24575 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos, auto-merge

#24524 [Tables] Add tests for exception reaction improvements
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity.pyTestTableEntitytest_upsert_entity_with_invalid_key_type.json
  sdk/tables/azure-data-tables/tests/recordings/test_table_entity_async.pyTestTableEntityAsynctest_upsert_entity_with_invalid_key_type.json
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
Labels: Client, Tables

#24580 [Cosmos] update test typo
  sdk/cosmos/azure-cosmos/test/test_env.py
Labels: Cosmos

#24508 [Key Vault] Remove last yaml recordings
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_access_control.test_role_assignment_7_2.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_access_control.test_role_assignment_7_3.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_access_control.test_role_definitions_7_2.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_access_control.test_role_definitions_7_3.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_access_control_async.test_role_assignment_7_2.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_access_control_async.test_role_assignment_7_3.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_access_control_async.test_role_definitions_7_2.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_access_control_async.test_role_definitions_7_3.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client.test_backup_client_polling_7_2.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client.test_backup_client_polling_7_3.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client.test_full_backup_and_restore_7_2.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client.test_full_backup_and_restore_7_3.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client.test_full_backup_and_restore_rehydration_7_2.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client.test_full_backup_and_restore_rehydration_7_3.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client.test_selective_key_restore_7_2.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client.test_selective_key_restore_7_3.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client_async.test_backup_client_polling_7_2.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client_async.test_backup_client_polling_7_3.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client_async.test_full_backup_and_restore_7_2.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client_async.test_full_backup_and_restore_7_3.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client_async.test_full_backup_and_restore_rehydration_7_2.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client_async.test_full_backup_and_restore_rehydration_7_3.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client_async.test_selective_key_restore_7_2.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_backup_client_async.test_selective_key_restore_7_3.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_examples_administration.test_example_backup_and_restore_7_2.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_examples_administration.test_example_backup_and_restore_7_3.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_examples_administration.test_example_selective_key_restore_7_2.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_examples_administration.test_example_selective_key_restore_7_3.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_examples_administration_async.test_example_backup_and_restore_7_2.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_examples_administration_async.test_example_backup_and_restore_7_3.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_examples_administration_async.test_example_selective_key_restore_7_2.yaml
  sdk/keyvault/azure-keyvault-administration/tests/recordings/test_examples_administration_async.test_example_selective_key_restore_7_3.yaml
Labels: KeyVault, Client

#24500 [Key Vault] Give troubleshooting guidance for multitenant auth failure
  sdk/keyvault/TROUBLESHOOTING.md
Labels: KeyVault, Client

#24550 [Storage] Triaging Skipped Storage Tests (33/54)
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags.test_set_blob_tags_using_blob_sas.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.test_copy_blob_with_blob_tier_specified.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.test_copy_blob_with_rehydrate_priority.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob_async.test_no_server_encryption_async.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_list_blobs_with_include_multiple.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_list_encoded_blobs.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_tags.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-blob/tests/test_largest_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_largest_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_large_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_large_file_async.py
  sdk/storage/azure-storage-file-share/tests/test_handle.py
  sdk/storage/azure-storage-file-share/tests/test_handle_async.py
  sdk/storage/azure-storage-queue/tests/recordings/test_queue.test_unicode_get_messages_unicode_data.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue.test_unicode_update_message_unicode_data.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_encodings.test_message_bytes_fails.yaml
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_encodings.py
Labels: Storage

#24568 [translation] fix types/docs
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_client.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_polling.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_async_polling.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_client_async.py
Labels: Cognitive - Translator

#24567 [Storage] Update DataLake docstrings for create_directory and delete_directory
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
Labels: Storage

#24599 Sync eng/common directory with azure-sdk-tools for PR 3362
  eng/common/pipelines/templates/steps/check-spelling.yml
Labels: EngSys, Central-EngSys

#24492 Span decorator to pass INTERNAL by default
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/tracing/decorator.py
  sdk/core/azure-core/azure/core/tracing/decorator_async.py
  sdk/core/azure-core/tests/async_tests/test_tracing_decorator_async.py
  sdk/core/azure-core/tests/test_tracing_decorator.py
Labels: Azure.Core

#24362 [EventHubs] Buffered Producer
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_buffered_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_buffered_producer_dispatcher.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_buffered_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_buffered_producer_dispatcher_async.py
Labels: Event Hubs

#24612 hide decorator.spankind
  sdk/core/azure-core/azure/core/tracing/decorator.py
  sdk/core/azure-core/azure/core/tracing/decorator_async.py
Labels: Azure.Core

#24466 [Key Vault] Keep port number in parsed resource IDs
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/__init__.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_parse_id.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/__init__.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_parse_id.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/__init__.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_parse_id.py
Labels: KeyVault, Client

#24611 update changelog
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#22431 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
  sdk/search/azure-search-documents/setup.py
Labels: Search, no-recent-activity

#24505 [eventhub] Custom Endpoint
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/async/test_websocket_async.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/synctests/test_websocket.py
Labels: Event Hubs

#24633 [Cosmos] evaluation mistake in backwards compatibility
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
Labels: Cosmos

#24651 [Cosmos] Update test_backwards_compatibility.py - remove unneeded logic
  sdk/cosmos/azure-cosmos/test/test_backwards_compatibility.py
Labels: Cosmos
