Repository Azure/azure-sdk-for-python, pull requests merged in 2022-10, with the labels that each got.

#26568 [Pyamqp] Pyamqp fix conn
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
Labels: Event Hubs

#26405 Add extra dependency for [aio]
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
  sdk/core/azure-core/setup.py
Labels: Azure.Core

#26490 updating stress paths to match feature
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_consumer_stress_async.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_consumer_stress_sync.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_producer_stress.py
  sdk/eventhub/azure-eventhub/stress/templates/testjob.yaml
  sdk/eventhub/azure-eventhub/stress/values.yaml
Labels: Event Hubs

#26586 Fix CI
  sdk/appconfiguration/tests.yml
Labels: App Configuration

#26597 Pin `importlib-metadata` in `bandit` environment
  eng/tox/tox.ini
Labels: auto-merge

#26483 [Identity] Update documentation
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#26272 add core experimental
  .vscode/cspell.json
  eng/.docsettings.yml
  eng/ignore-links.txt
  pylintrc
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/LICENSE
  sdk/core/azure-core-experimental/MANIFEST.in
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/azure/__init__.py
  sdk/core/azure-core-experimental/azure/core/__init__.py
  sdk/core/azure-core-experimental/azure/core/experimental/__init__.py
  sdk/core/azure-core-experimental/azure/core/experimental/_version.py
  sdk/core/azure-core-experimental/azure/core/experimental/py.typed
  sdk/core/azure-core-experimental/azure/core/experimental/transport/__init__.py
  sdk/core/azure-core-experimental/azure/core/experimental/transport/_pyodide.py
  sdk/core/azure-core-experimental/dev_requirements.txt
  sdk/core/azure-core-experimental/samples/pyodide_integration/async_testing.py
  sdk/core/azure-core-experimental/samples/pyodide_integration/browser.py
  sdk/core/azure-core-experimental/samples/pyodide_integration/data/hello-world.gz
  sdk/core/azure-core-experimental/samples/pyodide_integration/example.env
  sdk/core/azure-core-experimental/samples/pyodide_integration/index.html
  sdk/core/azure-core-experimental/samples/pyodide_integration/readme.md
  sdk/core/azure-core-experimental/samples/pyodide_integration/requirements.txt
  sdk/core/azure-core-experimental/sdk_packaging.toml
  sdk/core/azure-core-experimental/setup.py
  sdk/core/azure-core-experimental/tests/test_pyodide_transport.py
  shared_requirements.txt
Labels: Azure.Core

#26577 [formrecognizer] Add troubleshooting guide
  .vscode/cspell.json
  sdk/formrecognizer/azure-ai-formrecognizer/TROUBLESHOOTING.md
Labels: Cognitive - Form Recognizer

#26617 add missing dep
  sdk/appconfiguration/azure-appconfiguration/setup.py
Labels: App Configuration

#26622 [QA] enable mypy
  eng/tox/mypy_hard_failure_packages.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/models/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/conftest.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/recordings/test_query_text.pyTestQueryTexttest_query_text_default_lang.json
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_query_text.py
Labels: Cognitive - QnA Maker

#26522 [QA] release cleanup
  sdk/cognitivelanguage/azure-ai-language-questionanswering/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/MANIFEST.in
  sdk/cognitivelanguage/azure-ai-language-questionanswering/README.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_version.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_version.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/dev_requirements.txt
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/README.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/setup.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/swagger/README.md
  shared_requirements.txt
Labels: Cognitive - QnA Maker

#26595 [Pyamqp] Fix Async Invalid Host Error Test
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
Labels: Event Hubs

#26638 add core-experimental
  sdk/core/ci.yml
Labels: Azure.Core

#26655 Fix inaccuracies in Identity troubleshooting guide
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#26645 [QA] rename QuestionAnsweringAuthoring->AuthoringClient
  sdk/cognitivelanguage/azure-ai-language-questionanswering/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/README.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/__init__.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_operations/__init__.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_vendor.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/__init__.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_operations/__init__.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_vendor.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/migration_guide.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/authoring/async_samples/sample_create_and_deploy_project_async.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/authoring/async_samples/sample_export_import_project_async.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/authoring/async_samples/sample_update_knowledge_sources_async.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/authoring/sample_create_and_deploy_project.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/authoring/sample_export_import_project.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/authoring/sample_update_knowledge_sources.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/swagger/README.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_create_and_deploy_project.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_create_and_deploy_project_async.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_export_import_project.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_export_import_project_async.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_update_knowledge_sources.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_update_knowledge_sources_async.py
Labels: Cognitive - QnA Maker

#26554 [Tables] Add dependency yarl
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/setup.py
  shared_requirements.txt
Labels: Client, Tables

#26314 [Tables] Fix samples errors
  sdk/tables/azure-data-tables/dev_requirements.txt
  sdk/tables/azure-data-tables/samples/README.md
  sdk/tables/azure-data-tables/samples/async_samples/sample_batching_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_copy_table_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_create_client_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_create_delete_table_async.py
  sdk/tables/azure-data-tables/samples/sample_authentication.py
  sdk/tables/azure-data-tables/samples/sample_copy_table.py
  sdk/tables/azure-data-tables/samples/sample_dev_requirements.txt
  sdk/tables/azure-data-tables/samples/sample_update_upsert_merge_entities.py
  sdk/tables/azure-data-tables/tests/test_retry.py
  sdk/tables/tests.yml
Labels: Client, Tables

#26676 Increment version for core releases
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/azure/core/experimental/_version.py
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, auto-merge

#26669 [QA] delete project should return None
  sdk/cognitivelanguage/azure-ai-language-questionanswering/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/swagger/README.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/helpers.py
Labels: Cognitive - QnA Maker

#26668 Sync eng/common directory with azure-sdk-tools for PR 4315
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#26680 Sync eng/common directory with azure-sdk-tools for PR 4311
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#26682 [Pyamqp] Fix logging formatting
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
Labels: Event Hubs

#26551 [AppConfig] Drop Python 3.6
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/README.md
  sdk/appconfiguration/azure-appconfiguration/samples/README.md
  sdk/appconfiguration/azure-appconfiguration/setup.py
Labels: Client, App Configuration

#26685 [ServiceBus] remove pytest ini file
  sdk/servicebus/azure-servicebus/tests/pytest.ini
Labels: Service Bus, auto-merge

#26659 [Storage] [STG84] GA Release Prep (Bump changelogs, DataLake dependency)
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  shared_requirements.txt
Labels: Storage

#25614 [Eventgrid] Fixed spelling erros
  .vscode/cspell.json
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_policies.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_cncf_cloud_events_async.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_publish_cncf_cloud_events.py
  sdk/eventgrid/azure-eventgrid/setup.py
  sdk/eventgrid/azure-eventgrid/tests/_mocks.py
  sdk/eventgrid/azure-eventgrid/tests/perfstress_tests/send.py
  sdk/eventgrid/azure-eventgrid/tests/test_cloud_event_tracing.py
  sdk/eventgrid/azure-eventgrid/tests/test_serialization.py
  shared_requirements.txt
Labels: Event Grid, customer-reported

#26119 [cosmos] update samples to use asyncio.run
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_aad_async.py
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_resource_token_async.py
  sdk/cosmos/azure-cosmos/samples/change_feed_management_async.py
  sdk/cosmos/azure-cosmos/samples/client_user_configs_async.py
  sdk/cosmos/azure-cosmos/samples/container_management_async.py
  sdk/cosmos/azure-cosmos/samples/database_management_async.py
  sdk/cosmos/azure-cosmos/samples/document_management_async.py
  sdk/cosmos/azure-cosmos/samples/examples_async.py
  sdk/cosmos/azure-cosmos/samples/index_management_async.py
Labels: Cosmos, customer-reported

#26098 [confidentialledger] Fix: use asyncio.run instead of loop variable
  sdk/confidentialledger/azure-confidentialledger/samples/get_receipt_async.py
  sdk/confidentialledger/azure-confidentialledger/samples/list_ledger_entries_async.py
  sdk/confidentialledger/azure-confidentialledger/samples/manage_users_async.py
  sdk/confidentialledger/azure-confidentialledger/samples/use_collections_async.py
  sdk/confidentialledger/azure-confidentialledger/samples/verify_service_async.py
  sdk/confidentialledger/azure-confidentialledger/samples/write_to_ledger_async.py
Labels: customer-reported

#26142 [eventgrid] update samples to use asyncio.run
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_cloud_event_using_dict_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_custom_schema_to_a_topic_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_eg_event_using_dict_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_eg_events_to_a_domain_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_eg_events_to_a_topic_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_events_to_a_topic_using_sas_credential_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_events_using_cloud_events_1.0_schema_async.py
Labels: Event Grid, customer-reported

#26703 [SchemaRegistry] fix failing regression tests
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/test_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/test_avro_encoder_async.py
Labels: Schema Registry

#26148 [tables] update samples to use asyncio.run
  sdk/tables/azure-data-tables/samples/async_samples/sample_authentication_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_batching_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_copy_table_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_create_client_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_create_delete_table_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_insert_delete_entities_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_query_table_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_query_tables_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_update_upsert_merge_entities_async.py
Labels: customer-reported, Tables

#26708 Increment version for ml releases
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: auto-merge

#26689 [Storage] Migrate `test_quick_query.py` (datalake)
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_datalake_expression.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_input_in_arrow_format.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_input_in_parquet_format.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_iter_output_records_excluding_headers.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_iter_output_records_including_headers.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_iter_records.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_iter_records_with_encoding.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_iter_records_with_fatal_error_handler.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_iter_records_with_fatal_error_handler_raise.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_iter_records_with_fatal_error_ignore.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_iter_records_with_json_serialization_setting.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_iter_records_with_nonfatal_error_handler.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_iter_records_with_nonfatal_error_ignore.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_iter_records_with_progress.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_iter_records_with_serialization_setting.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_output_in_arrow_format.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_output_in_parquet_format.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_readall.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_readall_with_encoding.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_readall_with_fatal_error_handler.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_readall_with_fatal_error_handler_raise.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_readall_with_fatal_error_ignore.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_readall_with_json_serialization_setting.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_readall_with_nonfatal_error_handler.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_readall_with_nonfatal_error_ignore.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_readall_with_serialization_setting.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.pyTestStorageQuickQuerytest_quick_query_with_only_input_json_serialization_setting.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_datalake_expression.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_input_in_parquet_format.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_output_records_excluding_headers.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_output_records_including_headers.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_encoding.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_fatal_error_handler.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_fatal_error_handler_raise.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_fatal_error_ignore.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_json_serialization_setting.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_nonfatal_error_handler.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_nonfatal_error_ignore.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_progress.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_iter_records_with_serialization_setting.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_output_in_arrow_format.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_output_in_parquet_format.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall_with_encoding.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall_with_fatal_error_handler.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall_with_fatal_error_handler_raise.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall_with_fatal_error_ignore.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall_with_json_serialization_setting.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall_with_nonfatal_error_handler.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall_with_nonfatal_error_ignore.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_readall_with_serialization_setting.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_with_only_input_json_serialization_setting.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_quick_query.py
Labels: Storage

#26661 [Storage] Migrate `test_large_file.py` to test proxy
  sdk/storage/azure-storage-file-datalake/tests/test_large_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_large_file_async.py
Labels: Storage

#26665 [Tables] Prepare release
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
Labels: Client, Tables

#26736 [SchemaRegistry] docs/update release date
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_schema_registry_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_schema_registry_client_async.py
Labels: Schema Registry, auto-merge

#26738 Increment version for ml releases
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
  sdk/ml/azure-ai-ml/setup.py
Labels: auto-merge

#26741 [ServiceBus&EventHubs] pyamqp - update EH/SB docs for release
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/samples/README.md
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/dev_requirements.txt
  sdk/servicebus/azure-servicebus/setup.py
Labels: Service Bus, Event Hubs, auto-merge

#26735 [Storage] Fix flaky test in `test_file.py` migration
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.pyTestStorageFiletest_abort_copy_file.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.pyTestStorageFileAsynctest_abort_copy_file_async.json
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
Labels: Storage

#26733 RC
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
Labels: Azure.Identity

#26744 [ServiceBus&EventHubs] fix mypy/pylint
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_amqp_message.py
Labels: Service Bus, Event Hubs

#26749 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, auto-merge

#26755 [ServiceBus] prep release alpha pyamqp
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/setup.py
Labels: Service Bus

#26702 Sync eng/common directory with azure-sdk-tools for PR 4341
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#26762 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/setup.py
Labels: Service Bus, auto-merge

#26766 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs, auto-merge

#26763 [TA] regen on latest spec in main
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/models/_models_py3.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/models/_text_analytics_client_enums.py
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
Labels: Cognitive - Text Analytics

#26765 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus, auto-merge

#26767 Increment version for tables releases
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
Labels: Tables, auto-merge

#26761 Increment version for storage releases
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage, auto-merge

#26785 [PyAMQP] Fix logging
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_receiver_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_sender_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/receiver.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/sender.py
Labels: Event Hubs

#26611 [Storage] Fix type hints for classmethods in Blob and Datalake
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/setup.py
  shared_requirements.txt
Labels: Storage

#26743 [Storage] Adjust type hints for __init__ and classmethods in file-share, queue, and changefeed
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_change_feed_client.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
  sdk/storage/azure-storage-queue/setup.py
  shared_requirements.txt
Labels: Storage

#26789 Sync eng/common directory with azure-sdk-tools for PR 4372
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#26781 refactor: divide pipeline._io into a package
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/attr_dict.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/mixin.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_io_builder.py
Labels: ML-Pipelines

#26782 feat: re-enable failed dsl tests
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline_samples.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline_samples.py
  sdk/ml/azure-ai-ml/tests/import_job/e2etests/test_import_job.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_dsl_pipeline_with_only_setting_binding_node.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_dsl_pipeline_with_only_setting_pipeline_level.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_dsl_pipeline_with_setting_binding_node_and_pipeline_level.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_dsl_pipeline_without_setting_binding_node.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_parallel_components_with_file_input.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_automl_job_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_basic_component.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_basic_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_component_with_input_output.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_dataset_input.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_datastore_datapath_uri_file.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_datastore_datapath_uri_folder.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_e2e_inline_components.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_e2e_local_components.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_e2e_registered_components.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_env_conda_file.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_env_public_docker_image.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_env_registered.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_local_data_input.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_mpi_hello_world.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_multi_parallel_components_with_file_input_pipeline_output.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_nyc_taxi_data_regression.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_parallel_components.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_parallel_components_with_tabular_input_pipeline_output.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_pipeline_with_data.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_pipeline_with_data_as_inputs_for_pipeline_component.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_pipeline_with_pipeline_component.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_pytorch_hello_world.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_tf_hello_world.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_tf_mnist.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_web_url_input.json
  sdk/ml/azure-ai-ml/tests/recordings/import_job/e2etests/test_import_job.pyTestImportJobtest_import_pipeline_submit_cancel.json
Labels: ML-Pipelines

#26803 [ML][Pipeline] Fix sub graph job download
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_schedule/trigger.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_validate.py
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_create_pipeline_component_from_job.json
Labels: ML-Pipelines

#26768 Add more example of transport
  sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md
Labels: Azure.Core

#26808 [translation] skip aad tests since they fail in PPE
  sdk/translation/azure-ai-translation-document/tests/test_translation.py
  sdk/translation/azure-ai-translation-document/tests/test_translation_async.py
Labels: Cognitive - Translator

#26739 [Storage] Remove `msrest` dependency
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/setup.py
  shared_requirements.txt
Labels: Storage

#26811 [QA] update changelog date and ref docs
  sdk/cognitivelanguage/azure-ai-language-questionanswering/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/README.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/README.md
Labels: Cognitive - QnA Maker

#26016 Azure App Configuration Provider Beta
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/LICENSE
  sdk/appconfiguration/azure-appconfiguration-provider/MANIFEST.in
  sdk/appconfiguration/azure-appconfiguration-provider/README.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/__init__.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/__init__.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/__init__.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azure_appconfiguration_provider_error.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationkeyvaultoptions.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_constants.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_settingselector.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_user_agent.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/py.typed
  sdk/appconfiguration/azure-appconfiguration-provider/dev_requirements.txt
  sdk/appconfiguration/azure-appconfiguration-provider/mypy.ini
  sdk/appconfiguration/azure-appconfiguration-provider/samples/README.md
  sdk/appconfiguration/azure-appconfiguration-provider/samples/aad_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/connection_string_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/key_vault_reference_provided_clients_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/key_vault_reference_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/sdk_packaging.toml
  sdk/appconfiguration/azure-appconfiguration-provider/setup.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/conftest.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/preparers.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/recordings/test_provider.pyTestAppConfigurationProvidertest_provider_creation.json
  sdk/appconfiguration/azure-appconfiguration-provider/tests/recordings/test_provider.pyTestAppConfigurationProvidertest_provider_selectors.json
  sdk/appconfiguration/azure-appconfiguration-provider/tests/recordings/test_provider.pyTestAppConfigurationProvidertest_provider_trimmed_key_prefixes.json
  sdk/appconfiguration/azure-appconfiguration-provider/tests/recordings/test_provider_aad.pyTestAppConfigurationProvidertest_provider_creation_aad.json
  sdk/appconfiguration/azure-appconfiguration-provider/tests/recordings/test_provider_aad.pyTestAppConfigurationProvidertest_provider_selectors.json
  sdk/appconfiguration/azure-appconfiguration-provider/tests/recordings/test_provider_aad.pyTestAppConfigurationProvidertest_provider_trimmed_key_prefixes.json
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_aad.py
  sdk/appconfiguration/ci.yml
  shared_requirements.txt
Labels: App Configuration

#26815 [QA] more readme fixes
  sdk/cognitivelanguage/azure-ai-language-questionanswering/README.md
Labels: Cognitive - QnA Maker

#26819 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/azure-ai-language-questionanswering/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_version.py
Labels: auto-merge

#26820 AppConfigurationProviderChangeLog
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
Labels: App Configuration

#26823 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
Labels: App Configuration, auto-merge

#26812 [Storage] Migrate `test_file_api_version.py` to test proxy (file-share)
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_api_version.pyTestStorageClienttest_old_api_copy_file_succeeds.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_api_version.test_old_api_copy_file_succeeds.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_api_version_async.pyTestAsyncStorageClienttest_old_api_copy_file_succeeds.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_api_version_async.test_old_api_copy_file_succeeds_async.yaml
  sdk/storage/azure-storage-file-share/tests/test_file_api_version.py
  sdk/storage/azure-storage-file-share/tests/test_file_api_version_async.py
Labels: Storage

#26809 [Python] Custom token expiration feature GA release updates
  sdk/communication/azure-communication-identity/CHANGELOG.md
Labels: Communication

#26791 [Storage] Add `aio` extra_requires to Storage packages
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/setup.py
  shared_requirements.txt
Labels: Storage

#26721 Fix #26720, ContainerClient.from_container_url cannot work with URL ending with /
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/tests/test_blob_client.py
Labels: Storage

#26078 [Asset-Sync] extensions to the test framework to allow external assets
  .gitignore
  scripts/devops_tasks/tox_harness.py
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
  tools/azure-sdk-tools/devtools_testutils/proxy_testcase.py
Labels: Tables

#26769 [Storage] Migrate `test_file_client.py` to test proxy (file-share)
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client.pyTestStorageFileClienttest_user_agent_append.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client.pyTestStorageFileClienttest_user_agent_custom.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client.pyTestStorageFileClienttest_user_agent_default.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client.test_user_agent_append.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client.test_user_agent_custom.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client.test_user_agent_default.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client_async.pyTestStorageFileClientAsynctest_user_agent_append.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client_async.pyTestStorageFileClientAsynctest_user_agent_custom.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client_async.pyTestStorageFileClientAsynctest_user_agent_default.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client_async.test_user_agent_append_async.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client_async.test_user_agent_custom_async.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_client_async.test_user_agent_default_async.yaml
  sdk/storage/azure-storage-file-share/tests/test_file_client.py
  sdk/storage/azure-storage-file-share/tests/test_file_client_async.py
Labels: Storage

#26838 [TA] skip tests which are failing due to service bugs
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/testcase.py
Labels: Cognitive - Text Analytics

#26717 [AutoRelease] t2-datafactory-2022-10-09-06495(Do not merge)
  sdk/datafactory/azure-mgmt-datafactory/CHANGELOG.md
  sdk/datafactory/azure-mgmt-datafactory/MANIFEST.in
  sdk/datafactory/azure-mgmt-datafactory/_meta.json
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/_version.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_activity_runs_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_data_flow_debug_session_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_data_flows_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_datasets_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_exposure_control_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_factories_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_global_parameters_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_integration_runtime_nodes_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_integration_runtime_object_metadata_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_integration_runtimes_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_linked_services_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_managed_private_endpoints_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_managed_virtual_networks_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_pipeline_runs_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_pipelines_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_private_end_point_connections_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_private_endpoint_connection_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_private_link_resources_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_trigger_runs_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_triggers_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_activity_runs_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_data_flow_debug_session_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_data_flows_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_datasets_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_exposure_control_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_factories_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_global_parameters_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_integration_runtime_nodes_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_integration_runtime_object_metadata_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_integration_runtimes_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_linked_services_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_managed_private_endpoints_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_managed_virtual_networks_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_pipeline_runs_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_pipelines_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_private_end_point_connections_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_private_endpoint_connection_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_private_link_resources_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_trigger_runs_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_triggers_operations.py
Labels: Data Factory

#26843 [ML][Pipeline]Move back annotation conversion from mldesigner
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/utils.py
Labels: ML-Pipelines

#26664 [Identity] Doc formatting fixes
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/azure/identity/_credentials/client_assertion.py
  sdk/identity/azure-identity/azure/identity/_persistent_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_assertion.py
Labels: Azure.Identity

#26836 [Storage] Fix docs for `list_blobs` and `walk_blobs`
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
Labels: Storage

#26853 [Pyamqp] Await async sleep in test
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_buffered_producer_async.py
Labels: Event Hubs

#26793 [Storage] Fix failing pipeline tests (`test_share.py`) + `name_starts_with` async bug fix
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.pyTestStorageSharetest_list_shares_with_include_metadata.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.pyTestStorageSharetest_list_shares_with_num_results_and_marker.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.pyTestStorageSharetest_list_shares_with_prefix.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.pyTestStorageSharetest_list_shares_with_snapshot.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.pyTestStorageShareAsynctest_list_shares_with_include_metadata.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.pyTestStorageShareAsynctest_list_shares_with_num_results_and_marker.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.pyTestStorageShareAsynctest_list_shares_with_prefix.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.pyTestStorageShareAsynctest_list_shares_with_snapshot.json
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage

#26322 [textanalytics] add back extractive summarization
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_request_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_validate.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_extract_summary_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_extract_summary.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_extract_summary_action_with_options.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_extract_summary_partial_results.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_passing_dict_extract_summary_action.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_extract_summary_action_with_options.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_extract_summary_partial_results.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_passing_dict_extract_summary_action.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
Labels: Cognitive - Text Analytics

#26874 [Storage] Fix `isodate` dependency
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/setup.py
  shared_requirements.txt
Labels: Storage

#26339 [textanalytics] healthcare updates
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/models/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/models/_models_py3.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/models/_text_analytics_client_enums.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_healthcare_action_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_healthcare_action.py
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_healthcare_action.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_healthcare_action.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare.pyTestHealthtest_healthcare_fhir_bundle.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_healthcare_async.pyTestHealthtest_healthcare_fhir_bundle.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_repr.py
Labels: Cognitive - Text Analytics

#26872 [Storage] Fix content range check for empty files
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_download.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_download_async.py
Labels: Storage

#26829 [EventHubs] skipping flaky bp test for now
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_buffered_producer_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_buffered_producer.py
Labels: Event Hubs, auto-merge

#26867 [EventHubs] exception/kwargs testing
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_buffered_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_buffered_producer_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_buffered_producer_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_buffered_producer.py
Labels: Event Hubs

#26780 Support e2e run for if_else node in pipeline
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/pipeline_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/condition_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/control_flow_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_load_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/pipeline_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dynamic_pipeline.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dynamic_pipeline.pyTestDynamicPipelinetest_dsl_condition_pipeline.json
  sdk/ml/azure-ai-ml/tests/test_configs/components/component_with_conditional_output/entry.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/component_with_conditional_output/spec.yaml
Labels: ML-Pipelines

#26851 [ML][Pipelines] avoid changing base_path in validation
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/environment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/fields.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_component_schema.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_component.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_validate.py
  sdk/ml/azure-ai-ml/tests/test_configs/internal/component_with_code/component_spec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/internal/component_with_code/scope/convert2ss.script
  sdk/ml/azure-ai-ml/tests/test_configs/internal/component_with_dependency_in_additional_includes/with_conda_pip.additional_includes
  sdk/ml/azure-ai-ml/tests/test_configs/internal/component_with_dependency_in_additional_includes/with_conda_pip.yml
  sdk/ml/azure-ai-ml/tests/test_configs/internal/component_with_dependency_in_additional_includes/with_docker_file.additional_includes
  sdk/ml/azure-ai-ml/tests/test_configs/internal/component_with_dependency_in_additional_includes/with_docker_file.yml
Labels: ML-Pipelines

#26875 Update setup.py
  sdk/template/azure-template/setup.py
Labels: EngSys

#26852 [Pyamqp] Fix Async Socket Reconnection Error
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
Labels: Event Hubs

#25610 [Core/OpenTelemetry] Fixed spelling errors
  .vscode/cspell.json
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/azure/core/tracing/ext/opentelemetry_span/__init__.py
  sdk/core/azure-core-tracing-opentelemetry/samples/README.md
  sdk/core/azure-core-tracing-opentelemetry/samples/sample_eventhubs.py
  sdk/core/azure-core-tracing-opentelemetry/samples/sample_receive_eh.py
  sdk/core/azure-core-tracing-opentelemetry/tests/test_tracing_implementations.py
Labels: customer-reported, Azure.Core

#26372 [textanalytics] add NER resolutions
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_dict_mixin.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/models/_patch.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_entity_action_resolutions.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_entity_action_resolutions.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities.pyTestRecognizeEntitiestest_entity_resolutions.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_recognize_entities_async.pyTestRecognizeEntitiestest_entity_resolutions.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_entities_async.py
Labels: Cognitive - Text Analytics

#26905 Increment version for storage releases
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Labels: Storage, auto-merge

#26800 feat: enable internal components in pipeline yaml
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_schema/node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_load_component.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/test_configs/internal/pipeline_jobs/pipeline_job_with_properties.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/hello_pipeline_job_with_registries.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/pipeline_job_with_properties.yml
Labels: ML-Pipelines

#26886 refactor: divide pipeline related tests
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_arm_id_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_operation_orchestrator.py
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_component_operations.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/datastore/e2etests/test_datastore.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline_with_specific_nodes.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_init_finalize_job.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_component_with_default_label.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_dsl_pipeline_with_default_component.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_node_with_default_component.json
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/helloworld_pipeline_job_with_default_component.yml
Labels: ML-Pipelines

#26902 [TA ] improve per-document error message when all documents fail per action
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
Labels: Cognitive - Text Analytics

#26923 fix ci for core
  eng/conda_test_requirements.txt
  eng/tox/install_depend_packages.py
  sdk/communication/azure-communication-identity/dev_requirements.txt
  sdk/core/azure-core/tests/async_tests/test_base_polling_async.py
  sdk/core/azure-core/tests/async_tests/test_polling_async.py
  sdk/core/azure-core/tests/test_polling.py
  sdk/core/azure-mgmt-core/tests/asynctests/test_async_arm_polling.py
  sdk/core/azure-mgmt-core/tests/test_arm_polling.py
  sdk/identity/azure-identity/dev_requirements.txt
  sdk/keyvault/azure-keyvault-administration/dev_requirements.txt
  sdk/keyvault/azure-keyvault-certificates/dev_requirements.txt
  sdk/keyvault/azure-keyvault-keys/dev_requirements.txt
  sdk/keyvault/azure-keyvault-secrets/dev_requirements.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor/dev_requirements.txt
  sdk/storage/azure-storage-blob/dev_requirements.txt
  sdk/tables/azure-data-tables/dev_requirements.txt
Labels: Azure.Core

#26649 [formrecognizer] Skip errors in live tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/conftest.py
Labels: Cognitive - Form Recognizer

#26935 RecoveryServices Pin
  sdk/recoveryservices/azure-mgmt-recoveryservices/dev_requirements.txt
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/dev_requirements.txt
  sdk/recoveryservices/azure-mgmt-recoveryservicessiterecovery/dev_requirements.txt
Labels: Recovery Services

#26810 Fix Example Link in the Communication Identity README
  sdk/communication/azure-communication-identity/README.md
Labels: Communication

#26927 Sync eng/common directory with azure-sdk-tools for PR 3790
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#26866 [EH] perf pipeline configuration
  sdk/eventhub/perf-resources.bicep
  sdk/eventhub/perf.yml
Labels: Event Hubs

#26918 [ML][Pipelines] Validate invalid scenario: control flow node as init/finalize
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/pipeline_job.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_init_finalize_job.py
Labels: ML-Pipelines

#26962 [TA] capture details
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_bad_model_version_error_multiple_tasks.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/testcase.py
Labels: Cognitive - Text Analytics

#26956 [CLU] update sample/tests with role for conv summ
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_conv_summarization_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/sample_conv_summarization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_conv_summarization.pyTestConversationalSummarizationtest_conversational_summarization.json
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_conv_summarization_async.pyTestConversationalSummarizationAsynctest_conversational_summarization.json
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conv_summarization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conv_summarization_async.py
Labels: Cognitive - Language

#26985 Sync eng/common directory with azure-sdk-tools for PR 4486
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Labels: EngSys, Central-EngSys

#26961 [chore] Remove CI for unmaintained packages
  sdk/applicationinsights/ci.yml
  sdk/loganalytics/ci.yml
Labels: Monitor - LogAnalytics

#26914 Support Model in registry in pipeline
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_pipeline_decorator.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/base_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/base.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline_on_registry.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_on_registry.pyTestDSLPipelineOnRegistrytest_pipeline_with_local_component_and_registry_model_as_input.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_on_registry.pyTestDSLPipelineOnRegistrytest_pipeline_with_local_component_and_registry_model_as_input_with_model_input.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_on_registry.pyTestDSLPipelineOnRegistrytest_pipeline_with_registry_component_and_model_as_input.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_create_with_registry_model_as_input.json
  sdk/ml/azure-ai-ml/tests/test_configs/model/model_iris.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/job_with_registry_model_as_input/data/sample1.csv
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/job_with_registry_model_as_input/pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/job_with_registry_model_as_input/score.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/job_with_registry_model_as_input/score_src/score.py
Labels: ML-Pipelines

#26992 Sync eng/common directory with azure-sdk-tools for PR 4480
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#26920 [ML][Pipelines] dsl.pipeline support pass non_pipeline_parameters
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_pipeline_component_builder.py
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_pipeline_decorator.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/exceptions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline.py
Labels: ML-Pipelines

#26998 [AutoRelease] t2-datafactory-2022-10-24-15499(Do not merge)
  sdk/datafactory/azure-mgmt-datafactory/CHANGELOG.md
  sdk/datafactory/azure-mgmt-datafactory/_meta.json
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/_version.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_data_flow_debug_session_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_data_flows_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_datasets_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_factories_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_global_parameters_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_integration_runtimes_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_linked_services_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_managed_private_endpoints_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_managed_virtual_networks_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_pipelines_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_private_end_point_connections_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_triggers_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_data_flow_debug_session_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_data_flows_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_datasets_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_factories_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_global_parameters_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_integration_runtimes_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_linked_services_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_managed_private_endpoints_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_managed_virtual_networks_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_pipelines_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_private_end_point_connections_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_triggers_operations.py
Labels: Data Factory

#26975 Support identity in pipeline node
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/component_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/command_job.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_command_builder.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_entity.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_pipeline_node_identity_with_component.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_command_job_with_dataset_short_uri.json
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/helloworld_pipeline_job_defaults_with_command_job_e2e_short_uri.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/helloworld_pipeline_job_with_identity.yml
Labels: ML-Pipelines

#26903 [Test Proxy] Improved logging and timeout behavior
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
Labels: EngSys, test-enhancement

#26929 [Storage] Fix duplicate sample tag in `blob_samples_authentication.py`
  sdk/storage/azure-storage-blob/samples/blob_samples_authentication.py
  sdk/storage/azure-storage-blob/samples/blob_samples_authentication_async.py
Labels: Storage

#26910 [Storage] Merge hotfix branch into `main`
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  shared_requirements.txt
Labels: Storage

#27000 Support properties in command component
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/command_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/command_component.py
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_component_schema.py
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_command_component_with_properties_e2e_flow.json
  sdk/ml/azure-ai-ml/tests/test_configs/components/helloworld_component_with_properties.yml
Labels: ML-Pipelines

#27019 [ML][Pipelines] Separate jobs from schema load
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component_factory.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/pipeline_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/_input_output_helpers.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_pipeline_job_helpers.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/pipeline_job.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_pipeline_component_entity.py
  sdk/ml/azure-ai-ml/tests/internal/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/pipeline_component_jobs_rest_data.json
Labels: ML-Pipelines

#27020 Updating CODEOWNERS for common and identity
  .github/CODEOWNERS
Labels: Communication, Communication - Identity

#27027 Update README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
Labels: Cognitive - Metrics Advisor

#27005 Update environment.py
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/environment.py
Labels: customer-reported

#27028 [Bot Rules] Update ML pull request labels
  .github/fabricbot.json
Labels: Client, EngSys

#26907 [AppConfig] Fix pipeline failures
  .vscode/cspell.json
  sdk/appconfiguration/test-resources.json
Labels: Client, App Configuration

#27036 [Test Proxy] Documentation updates and improvements
  doc/dev/test_proxy_migration_guide.md
  doc/dev/tests.md
Labels: Docs, EngSys

#27013 [Identity] Add more detail to VSCodeCred class doc
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
Labels: Azure.Identity

#27043 [formrecognizer] Fix readme link
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Cognitive - Form Recognizer

#27008 [ML][Pipelines]feat: anonymous component reuse
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/_input_outputs.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/_merkle_tree.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/code.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/internal/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/internal/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_component.py
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_code_hash.json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/ae365exepool-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/batch_inference/batch_score.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/command-component-ls/ls_command_component.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/data-transfer-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/distribution-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/hdi-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/hemera-component/component.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/scope-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/starlite-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/ae365exepool-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/batch_inference/batch_score.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/command-component-ls/ls_command_component.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/data-transfer-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/distribution-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/hdi-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/hemera-component/component.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/scope-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/starlite-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_data_as_node_inputs.json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_data_as_pipeline_inputs.json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[0-ls_command_component.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[1-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[2-batch_score.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[3-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[4-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[5-component.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[6-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[7-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[8-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_with_setting_node_output.json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_with_setting_node_output_mode.json
  sdk/ml/azure-ai-ml/tests/test_configs/internal/ae365exepool-component/component_spec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/internal/batch_inference/batch_score.py
  sdk/ml/azure-ai-ml/tests/test_configs/internal/batch_inference/batch_score.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/internal/command-component-ls/ls_command_component.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/internal/command-component-reuse/copyfiles.ps1
  sdk/ml/azure-ai-ml/tests/test_configs/internal/command-component-reuse/powershell_copy.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/internal/data-transfer-component/component_spec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/internal/distribution-component/component_spec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/internal/hdi-component/component_spec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/internal/hdi-component/train-spark.py
  sdk/ml/azure-ai-ml/tests/test_configs/internal/hemera-component/component.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/internal/scope-component/component_spec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/internal/starlite-component/component_spec.yaml
Labels: ML-Pipelines

#26844 Support Parallel Run Step partition by keys
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/parallel.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/parallel_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job/parameterized_parallel.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component_factory.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/parallel_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parallel/parallel_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parallel/parameterized_parallel.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_parallel_component_entity.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_parallel_component_schema.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline_with_specific_nodes.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_multi_parallel_components_with_file_input_pipeline_output.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_parallel_components_with_file_input.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_parallel_components_with_tabular_input.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_parallel_run_function.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_multi_parallel_components_with_file_input_pipeline_output.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_parallel_components.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_parallel_components_with_tabular_input_pipeline_output.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_multiple_parallel_job.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_parallel_job[file_component_input_e2e.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_parallel_job[file_input_e2e.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_parallel_job[tabular_input_e2e.yml].json
  sdk/ml/azure-ai-ml/tests/test_configs/components/parallel_component_with_partition_keys.yml
  sdk/ml/azure-ai-ml/tests/test_configs/components/parallel_component_with_partition_keys_rest.json
Labels: ML-Pipelines, ML-Jobs

#27030 [Identity] Fix issue with cache option usage
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/silent.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
Labels: Azure.Identity

#27070 Sync eng/common directory with azure-sdk-tools for PR 4504
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#26856 [Pyamqp] Possible solutions for network disruption using async websocket
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/constants.py
Labels: Event Hubs

#27006 [Pyamqp] Fix to Improve Websocket Sync and Async Network Disruption Handling
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
Labels: Event Hubs

#26953 Fix #26857: separate stdout from stderr in AzureCliCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/tests/test_cli_credential.py
  sdk/identity/azure-identity/tests/test_cli_credential_async.py
Labels: customer-reported, Azure.Identity

#27076 Fix #26857: separate stdout from stderr in AzureCliCredential (#26953)
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/tests/test_cli_credential.py
  sdk/identity/azure-identity/tests/test_cli_credential_async.py
Labels: Azure.Identity

#27081 Add test proxy setup instructions to `dev_setup.md`
  doc/dev/dev_setup.md
  doc/dev/tests.md
Labels: Docs, EngSys

#27069 update changelog and version
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#27080 [TA] update changelog for release
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Cognitive - Text Analytics

#26860 update changelog
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#27086 Fix online deployment and batch deployment documentation
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/online_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_deployment_operations.py
Labels: ML-Inference, ML-Assets

#27095 Increment version for textanalytics releases
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_version.py
Labels: Cognitive - Text Analytics, auto-merge

#27039 [Storage] Migrate `test_queue_client.py` to test proxy
  sdk/storage/azure-storage-queue/tests/conftest.py
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client.pyTestStorageQueueClienttest_request_callback_signed_header.json
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client.pyTestStorageQueueClienttest_response_callback.json
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client.pyTestStorageQueueClienttest_user_agent_append.json
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client.pyTestStorageQueueClienttest_user_agent_custom.json
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client.pyTestStorageQueueClienttest_user_agent_default.json
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client.test_request_callback_signed_header.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client.test_response_callback.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client.test_user_agent_append.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client.test_user_agent_custom.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client.test_user_agent_default.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client_async.pyTestAsyncStorageQueueClienttest_request_callback_signed_header.json
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client_async.pyTestAsyncStorageQueueClienttest_response_callback.json
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client_async.pyTestAsyncStorageQueueClienttest_user_agent_append.json
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client_async.pyTestAsyncStorageQueueClienttest_user_agent_custom.json
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client_async.pyTestAsyncStorageQueueClienttest_user_agent_default.json
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client_async.test_request_callback_signed_header.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client_async.test_response_callback.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client_async.test_user_agent_append.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client_async.test_user_agent_custom.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_client_async.test_user_agent_default.yaml
  sdk/storage/azure-storage-queue/tests/test_queue_client.py
  sdk/storage/azure-storage-queue/tests/test_queue_client_async.py
Labels: Storage

#27097 [formrecognizer] Skip bad model ID copy test
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model_async.py
Labels: Cognitive - Form Recognizer, auto-merge

#27096 Add Python 3.11 to Build Matrix
  eng/pipelines/templates/stages/platform-matrix-conda-support.json
  eng/pipelines/templates/stages/platform-matrix-cryptography-dependency.json
  eng/pipelines/templates/stages/platform-matrix.json
  scripts/devops_tasks/install_python_version.py
Labels: Central-EngSys

#27004 [ML][Pipelines] Refine component code asset in pipelines
  .vscode/cspell.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_util.py
  sdk/ml/azure-ai-ml/dev_requirements.txt
  sdk/ml/azure-ai-ml/tests/automl_job/unittests/test_automl_image_schema.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_command_component_entity.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_component_schema.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_parallel_component_schema.py
  sdk/ml/azure-ai-ml/tests/compute/unittests/test_compute_operations.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_component_func.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_component.py
  sdk/ml/azure-ai-ml/tests/test_configs/internal/additional_includes/library1/hello.py
  sdk/ml/azure-ai-ml/tests/test_configs/internal/additional_includes/library1/world.py
  sdk/ml/azure-ai-ml/tests/test_configs/internal/component_with_additional_includes/helloworld_additional_includes.additional_includes
  sdk/ml/azure-ai-ml/tests/test_configs/internal/component_with_additional_includes/helloworld_invalid_additional_includes_zip_file_not_found.additional_includes
  sdk/ml/azure-ai-ml/tests/test_configs/internal/component_with_additional_includes/helloworld_invalid_additional_includes_zip_file_not_found.yml
Labels: ML-Pipelines

#27114 [Bot Rules] Update service contacts for Text Analytics
  .github/fabricbot.json
Labels: Client, EngSys

#27072 clean up code - azure.core
  sdk/core/azure-core/azure/core/__init__.py
  sdk/core/azure-core/azure/core/_pipeline_client.py
  sdk/core/azure-core/azure/core/_pipeline_client_async.py
  sdk/core/azure-core/azure/core/messaging.py
  sdk/core/azure-core/azure/core/pipeline/__init__.py
  sdk/core/azure-core/azure/core/pipeline/_base.py
  sdk/core/azure-core/azure/core/pipeline/_base_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/__init__.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication.py
  sdk/core/azure-core/azure/core/pipeline/policies/_base_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_distributed_tracing.py
  sdk/core/azure-core/azure/core/pipeline/policies/_redirect.py
  sdk/core/azure-core/azure/core/pipeline/policies/_redirect_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_retry.py
  sdk/core/azure-core/azure/core/pipeline/policies/_retry_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_universal.py
  sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base_async.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_asyncio.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_basic.py
  sdk/core/azure-core/azure/core/polling/__init__.py
  sdk/core/azure-core/azure/core/polling/_poller.py
  sdk/core/azure-core/azure/core/polling/base_polling.py
  sdk/core/azure-core/azure/core/rest/__init__.py
  sdk/core/azure-core/azure/core/rest/_aiohttp.py
  sdk/core/azure-core/azure/core/rest/_helpers.py
  sdk/core/azure-core/azure/core/rest/_http_response_impl.py
  sdk/core/azure-core/azure/core/rest/_requests_basic.py
  sdk/core/azure-core/azure/core/rest/_rest.py
  sdk/core/azure-core/azure/core/serialization.py
  sdk/core/azure-core/azure/core/settings.py
  sdk/core/azure-core/azure/core/tracing/_abstract_span.py
  sdk/core/azure-core/azure/core/utils/_pipeline_transport_rest_shared.py
  sdk/core/azure-core/azure/core/utils/_utils.py
  sdk/core/azure-core/tests/test_authentication.py
  sdk/core/azure-core/tests/test_basic_transport.py
  sdk/core/azure-core/tests/test_exceptions.py
  sdk/core/azure-core/tests/test_rest_headers.py
  sdk/core/azure-core/tests/test_rest_http_request.py
  sdk/core/azure-core/tests/test_rest_http_response.py
  sdk/core/azure-core/tests/test_rest_request_backcompat.py
  sdk/core/azure-core/tests/test_rest_response_backcompat.py
  sdk/core/azure-core/tests/test_serialization.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/setup.py
Labels: Azure.Core

#27102 Sync eng/common directory with azure-sdk-tools for PR 4527
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#26952 Fix phone number serialization
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/models.py
  sdk/communication/azure-communication-email/azure/communication/email/_shared/models.py
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/models.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_version.py
  sdk/communication/azure-communication-identity/tests/test_identifier_raw_id.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/models.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/policy.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/user_credential.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/user_credential_async.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/user_token_refresh_options.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/utils.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/utils_async.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/models.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/models.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_shared/models.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/models.py
Labels: Communication

#27122 [CLU] update samples to use recommended separation of conv summ tasks
  sdk/cognitivelanguage/azure-ai-language-conversations/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_conv_summarization_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/sample_conv_summarization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_conv_summarization.pyTestConversationalSummarizationtest_conversational_summarization.json
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_conv_summarization_async.pyTestConversationalSummarizationAsynctest_conversational_summarization.json
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conv_summarization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conv_summarization_async.py
Labels: Cognitive - Language

#27127 [formrecognizer] Adjust API version errors
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_api_versions.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
Labels: Cognitive - Form Recognizer

#27093 [Storage] Remove `HandleItem` from export and fix handle related docs
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_sync_copy.pyTestStorageBlockBlobtest_copy_blob_with_cold_tier_sync.json
  sdk/storage/azure-storage-blob/tests/recordings/test_block_blob_sync_copy_async.pyTestStorageBlockBlobAsynctest_copy_blob_with_cold_tier_sync.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/__init__.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.pyTestStorageFiletest_account_sas_credential.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.pyTestStorageFiletest_copy_file_async_private_file_with_sas.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.pyTestStorageFiletest_sas_access_file.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.pyTestStorageFiletest_update_big_range_from_file_url.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.pyTestStorageFiletest_update_range_from_file_url.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.pyTestStorageFiletest_update_range_from_file_url_last_written_mode_now.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.pyTestStorageFiletest_update_range_from_file_url_last_written_mode_preserve.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.pyTestStorageFiletest_update_range_from_file_url_when_source_file_does_not_have_enough_bytes.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.pyTestStorageFiletest_update_range_from_file_url_with_lease.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.pyTestStorageFileAsynctest_account_sas_credential.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.pyTestStorageFileAsynctest_copy_file_async_private_file_with_sas_async.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.pyTestStorageFileAsynctest_sas_access_file.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.pyTestStorageFileAsynctest_update_big_range_from_file_url.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.pyTestStorageFileAsynctest_update_range_from_file_url.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.pyTestStorageFileAsynctest_update_range_from_file_url_last_written_mode_now.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.pyTestStorageFileAsynctest_update_range_from_file_url_last_written_mode_preserve.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.pyTestStorageFileAsynctest_update_range_from_file_url_when_source_file_does_not_have_enough_bytes.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.pyTestStorageFileAsynctest_update_range_from_file_url_with_lease.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.pyTestStorageSharetest_list_shares_account_sas.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.pyTestStorageShareAsynctest_list_shares_account_sas.json
Labels: Storage

#26399 [textanalytics] add abstractive summarization
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_request_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_validate.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_abstract_summary_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_abstract_summary.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_abstract_summary_action_with_options.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_passing_dict_abstract_summary_action.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_passing_dict_abstract_summary_action.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
Labels: Cognitive - Text Analytics
