Repository Azure/azure-sdk-for-python, pull requests merged in 2022-07, with the labels that each got.

#25014 [CLU] 1.1.0b2
  sdk/cognitivelanguage/azure-ai-language-conversations/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-conversations/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_version.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_version.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_conv_pii_transcript_input_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_conv_summarization_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/sample_conv_pii_transcript_input.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/sample_conv_summarization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/setup.py
  sdk/cognitivelanguage/azure-ai-language-conversations/swagger/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_conv_pii_transcript_input.test_conversational_pii.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_conv_pii_transcript_input_async.test_conversational_pii.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_conv_summarization.test_conversational_summarization.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_conv_summarization_async.test_conversational_summarization.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_conversation_app.test_conversation_app.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_conversation_app_async.test_conversation_app.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_orchestration_app_conv_response.test_orchestration_app_conv_response.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_orchestration_app_conv_response_async.test_orchestration_app_conv_response.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_orchestration_app_qna_response.test_orchestration_app_qna_response.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/recordings/test_orchestration_app_qna_response_async.test_orchestration_app_qna_response.yaml
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_authoring.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_authoring_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conv_pii_transcript_input.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conv_pii_transcript_input_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conv_summarization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conv_summarization_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conversation_app.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conversation_app_async.py
Labels: Cognitive - LUIS, Cognitive - Language

#24965 [storage.blob] Remove aiohttp as dependency for storage.blob.aio
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
Labels: Storage

#25067 Sync eng/common directory with azure-sdk-tools for PR 3563
  eng/common/pipelines/templates/steps/verify-samples.yml
Labels: EngSys, Central-EngSys

#24892 [ServiceBus] Adding in support for client identifier
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Service Bus

#25078 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, auto-merge

#25082 Sync eng/common directory with azure-sdk-tools for PR 3428
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#25084 [Storage] Revert removing aiohttp dependency for storage.blob.aio
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
Labels: Storage

#25044 [formrecognizer] Consistency updates
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_async_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_authentication_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_manage_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_authentication.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_manage_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_logging.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_logging_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_to_dict_v3.py
Labels: Cognitive - Form Recognizer

#25051 Sync eng/common directory with azure-sdk-tools for PR 3527
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys

#25111 Sync eng/common directory with azure-sdk-tools for PR 3568
  eng/common/scripts/Verify-Resource-Ref.ps1
Labels: EngSys, Central-EngSys

#25114 [ServiceBus] change release date
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#25085 [Storage] API View Feedback For STG84 GA
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_encryption.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_encryption.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
  shared_requirements.txt
Labels: Storage

#25108 Sync eng/common directory with azure-sdk-tools for PR 3500
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#25117 Sync eng/common directory with azure-sdk-tools for PR 3480
  eng/common/pipelines/templates/steps/validate-filename.yml
Labels: EngSys, Central-EngSys

#25089 [AutoRelease] t2-storagecache-2022-07-06-35884(Do not merge)
  sdk/storage/azure-mgmt-storagecache/CHANGELOG.md
  sdk/storage/azure-mgmt-storagecache/_meta.json
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/__init__.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/_configuration.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/_metadata.json
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/_storage_cache_management_client.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/_version.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/aio/__init__.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/aio/_configuration.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/aio/_storage_cache_management_client.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/aio/operations/__init__.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/aio/operations/_asc_operations_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/aio/operations/_asc_usages_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/aio/operations/_caches_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/aio/operations/_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/aio/operations/_patch.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/aio/operations/_skus_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/aio/operations/_storage_target_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/aio/operations/_storage_targets_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/aio/operations/_usage_models_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/models/__init__.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/models/_models_py3.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/models/_patch.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/models/_storage_cache_management_client_enums.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/__init__.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_asc_operations_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_asc_usages_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_caches_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_patch.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_skus_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_storage_target_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_storage_targets_operations.py
  sdk/storage/azure-mgmt-storagecache/azure/mgmt/storagecache/operations/_usage_models_operations.py
  sdk/storage/azure-mgmt-storagecache/setup.py
  shared_requirements.txt
Labels: Storage

#25083 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid, auto-merge

#25116 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus, auto-merge

#25150 [EventHub] Fix troubleshooting guide url
  sdk/eventhub/azure-eventhub/README.md
Labels: Event Hubs

#24879 [Key Vault] Remove AAD in CBC decryption tests
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.pyTestCryptoClienttest_symmetric_encrypt_and_decrypt[7.2_mhsm].json
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.pyTestCryptoClienttest_symmetric_encrypt_and_decrypt[7.3_mhsm].json
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.pyTestCryptoClienttest_symmetric_encrypt_local[7.2_mhsm].json
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client.pyTestCryptoClienttest_symmetric_encrypt_local[7.3_mhsm].json
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.pyTestCryptoClienttest_symmetric_encrypt_and_decrypt[7.2_mhsm].json
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.pyTestCryptoClienttest_symmetric_encrypt_and_decrypt[7.3_mhsm].json
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.pyTestCryptoClienttest_symmetric_encrypt_local[7.2_mhsm].json
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_crypto_client_async.pyTestCryptoClienttest_symmetric_encrypt_local[7.3_mhsm].json
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
Labels: KeyVault, Client, test-reliability

#24788 [Tables] Raise an error while failed to decode response
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
Labels: Client, Tables

#24607 Update query_entities() samples
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_query_table_async.py
  sdk/tables/azure-data-tables/samples/sample_query_table.py
  sdk/tables/azure-data-tables/samples/sample_update_upsert_merge_entities.py
Labels: Client, Tables

#25056 Update YAML header
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/README.md
Labels: customer-reported

#25165 Sync eng/common directory with azure-sdk-tools for PR 3606
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#25048 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/azure-ai-language-conversations/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_version.py
Labels: auto-merge

#25163 add valid language-service slug
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/README.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
Labels: Cognitive - Text Analytics, Cognitive - Language

#25161 Key Vault keys/secrets/certificates Samples names improvement
  sdk/keyvault/azure-keyvault-certificates/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/import_certificate_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/parse_certificate_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations_async.py
  sdk/keyvault/azure-keyvault-keys/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-keys/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-keys/samples/key_rotation_async.py
  sdk/keyvault/azure-keyvault-keys/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-keys/samples/recover_purge_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/recover_purge_operations_async.py
Labels: KeyVault

#25173 [Storage] Fix upload data type hint
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
Labels: Storage

#25159 Issue #24273 add async test for offline test compress compressed no header offline
  sdk/core/azure-core/tests/async_tests/test_streaming_async.py
Labels: customer-reported, Azure.Core

#25171 Sync eng/common directory with azure-sdk-tools for PR 3584
  eng/common/pipelines/templates/jobs/docindex.yml
Labels: EngSys, Central-EngSys

#25050 Update Readme.md
  sdk/webpubsub/azure-messaging-webpubsubservice/samples/Readme.md
Labels: customer-reported

#25186 [Storage] Bump versions for next release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#25115 drop 3.6
  eng/pipelines/templates/stages/platform-matrix-conda-support.json
  eng/pipelines/templates/stages/platform-matrix-cryptography-dependency.json
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/communication/azure-communication-phonenumbers/phonenumbers-livetest-matrix.json
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
  sdk/core/azure-core/setup.py
  sdk/storage/platform-matrix-all-versions.json
Labels: Azure.Core

#25189 Sync eng/common directory with azure-sdk-tools for PR 3578
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#25191 Resolve conda activation failure
  eng/conda_test_requirements.txt
Labels: Central-EngSys

#25192 Update platform matrix to ubuntu 20.04 for storage tests-weekly
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage

#25152 [formrecognizer] Add tests for blank documents
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dac_analyze_custom_model.pyTestDACAnalyzeCustomModeltest_custom_document_blank_pdf.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dac_analyze_custom_model_async.pyTestDACAnalyzeCustomModelAsynctest_custom_document_blank_pdf.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_async.py
Labels: Cognitive - Form Recognizer

#24890 [Eventhub] pyamqp prefetch fix
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
Labels: Event Hubs

#25206 Sync eng/common directory with azure-sdk-tools for PR 3642
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
Labels: EngSys, Central-EngSys

#25205 [Storage] Fix some live tests
  sdk/storage/azure-storage-blob/tests/recordings/test_append_blob.pyTestStorageAppendBlobtest_create_append_blob_with_immutability_policy.json
  sdk/storage/azure-storage-blob/tests/recordings/test_append_blob_async.pyTestStorageAppendBlobAsynctest_create_append_blob_with_immutability_policy.json
  sdk/storage/azure-storage-blob/tests/test_append_blob.py
  sdk/storage/azure-storage-blob/tests/test_append_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
Labels: Storage

#25074 [Core] Case Insensitive Dictionary Implementation
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/utils/__init__.py
  sdk/core/azure-core/azure/core/utils/_utils.py
  sdk/core/azure-core/tests/test_utils.py
Labels: Azure.Core

#25076 [formrecognizer] Drop Python 3.6
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/advanced_samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
Labels: Cognitive - Form Recognizer

#25005 [textanalytics] add single label classify bespoke method
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_request_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_validate.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_label_classify_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_label_classify.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_single_label_classify.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_single_label_classify.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_custom_text.pyTestCustomTexttest_single_label_classify.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_custom_text.pyTestCustomTexttest_single_label_classify_cont_token.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_custom_text_async.pyTestCustomTextAsynctest_single_label_classify.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_custom_text_async.pyTestCustomTextAsynctest_single_label_classify_cont_token.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_custom_text.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_custom_text_async.py
Labels: Cognitive - Text Analytics

#25218 [Pyamqp] Fix network logging trace in client_base
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
Labels: Event Hubs

#25174 [Storage] Adjust return type of `StorageStreamDownloader.readall`
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_download.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_download_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_download.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_download_async.py
Labels: Storage

#25252 Sync eng/common directory with azure-sdk-tools for PR 3657
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#25253 Sync eng/common directory with azure-sdk-tools for PR 3656
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#25224 [formrecognizer] API review feedback pt1
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
Labels: Cognitive - Form Recognizer

#25210 [textanalytics] Add healthcare action samples
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_analyze_healthcare_action_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_analyze_healthcare_action.py
Labels: Cognitive - Text Analytics

#25272 [Storage] Migrate `test_blob_api_version` and `test_blob_client` to test proxy
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_api_version.pyTestStorageBlobApiVersiontest_old_api_get_page_ranges_succeeds.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_api_version.test_old_api_get_page_ranges_succeeds.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_api_version_async.pyTestStorageBlobApiVersionAsynctest_old_api_get_page_ranges_succeeds.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_api_version_async.test_old_api_get_page_ranges_succeeds_async.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client.pyTestStorageClienttest_request_callback_signed_header.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client.pyTestStorageClienttest_response_callback.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client.pyTestStorageClienttest_user_agent_append.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client.pyTestStorageClienttest_user_agent_custom.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client.pyTestStorageClienttest_user_agent_default.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client.test_request_callback_signed_header.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client.test_response_callback.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client.test_user_agent_append.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client.test_user_agent_custom.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client.test_user_agent_default.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client_async.pyTestStorageClientAsynctest_request_callback_signed_header.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client_async.pyTestStorageClientAsynctest_response_callback.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client_async.pyTestStorageClientAsynctest_user_agent_append.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client_async.pyTestStorageClientAsynctest_user_agent_custom.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client_async.pyTestStorageClientAsynctest_user_agent_default.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client_async.test_request_callback_signed_header_async.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client_async.test_response_callback_async.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client_async.test_user_agent_append_async.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client_async.test_user_agent_custom_async.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_client_async.test_user_agent_default_async.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_api_version.py
  sdk/storage/azure-storage-blob/tests/test_blob_api_version_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_client.py
  sdk/storage/azure-storage-blob/tests/test_blob_client_async.py
Labels: Storage

#25009 [textanalytics] add multi label classify bespoke method
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_request_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_validate.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_multi_label_classify_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_multi_category_classify.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_multi_label_classify.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_multi_label_classify.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_multi_label_classify.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_custom_text.pyTestCustomTexttest_multi_label_classify.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_custom_text.pyTestCustomTexttest_multi_label_classify_cont_token.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_custom_text_async.pyTestCustomTextAsynctest_multi_label_classify.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_custom_text_async.pyTestCustomTextAsynctest_multi_label_classify_cont_token.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_custom_text.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_custom_text_async.py
Labels: Cognitive - Text Analytics

#25246 [textanalytics] use commits for swagger in generation readme
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
Labels: Cognitive - Text Analytics

#25268 [formrecognizer] Add a type for target authorization for copy requests
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
Labels: Cognitive - Form Recognizer

#25240 Storage File Datalake test (test_list_paths_with_max_per_page) improvement
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
Labels: Storage

#25256 [QA] support AAD auth
  sdk/cognitivelanguage/azure-ai-language-questionanswering/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/README.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/projects/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/projects/_version.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/projects/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/setup.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_create_and_deploy_project.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_create_and_deploy_project_async.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_query_knowledgebase.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_query_knowledgebase_async.py
  shared_requirements.txt
Labels: Cognitive - QnA Maker, Cognitive - Language

#25293 [QA] don't drop 3.6 yet
  sdk/cognitivelanguage/azure-ai-language-questionanswering/setup.py
Labels: Cognitive - QnA Maker

#25197 Sync eng/common directory with azure-sdk-tools for PR 3628
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#25275 [textanalytics] refactor pollers + add TA poller protocol
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_lro.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_lro_async.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_custom_text.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_custom_text_async.py
Labels: Cognitive - Text Analytics

#25303 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/azure-ai-language-questionanswering/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_version.py
Labels: auto-merge

#25306 Sync eng/common directory with azure-sdk-tools for PR 3700
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#25298 [formrecognizer] Remove continuation_token kwarg
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_analysis_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_analysis_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
Labels: Cognitive - Form Recognizer

#25309 Sync eng/common directory with azure-sdk-tools for PR 3702
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#25310 [pyamqp] Revert link credit fix
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
Labels: Event Hubs, AMQP Python

#25296 [Pyamqp] Pyampq debug build Linkedin
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_cbs_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/cbs.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/send.py
Labels: Event Hubs

#25321 [pyAMQP] Remove duplicate sasl
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/sasl.py
Labels: Event Hubs, AMQP Python

#25028 Add common github action event handler for check enforcer
  .github/workflows/event.yml
Labels: Central-EngSys

#25322 [pylint] disabling soon to be added checker for apiview
  pylintrc
Labels: pylint

#25211 [Storage] DFS Encryption Scopes + Encryption Scope SAS For DataLake (STG84)
  .vscode/cspell.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.test_directory_encryption_scope_from_file_system.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.test_directory_encryption_scope_from_file_system_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_file_encryption_scope_from_file_system.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_file_encryption_scope_from_file_system_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_create_file_system_encryption_scope.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_path_properties_encryption_scope.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_create_file_system_encryption_scope.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_path_properties_encryption_scope_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_datalake_service_client.py
  sdk/storage/azure-storage-file-datalake/tests/test_datalake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
  sdk/storage/test-resources.json
Labels: Storage

#25299 Increment version for confidentialledger releases
  sdk/confidentialledger/azure-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_version.py
  sdk/confidentialledger/azure-confidentialledger/setup.py
Labels: auto-merge

#25335 [Storage] Adjust the docstring for `include` in `list_blobs` to fix docs
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
Labels: Storage

#25332 [Storage] Migrate test_blob_storage_account to test proxy
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_storage_account.pyTestBlobStorageAccounttest_rehydration_status.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_storage_account.pyTestBlobStorageAccounttest_set_standard_blob_tier_with_rehydrate_priority.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_storage_account.pyTestBlobStorageAccounttest_standard_blob_tier_set_tier_api.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_storage_account.test_rehydration_status.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_storage_account.test_set_standard_blob_tier_with_rehydrate_priority.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_storage_account.test_standard_blob_tier_set_tier_api.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_storage_account_async.pyTestBlobStorageAccountAsynctest_rehydration_status.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_storage_account_async.pyTestBlobStorageAccountAsynctest_set_std_blob_tier_w_rehydrate_priority.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_storage_account_async.pyTestBlobStorageAccountAsynctest_standard_blob_tier_set_tier_api.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_storage_account_async.test_rehydration_status.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_storage_account_async.test_set_std_blob_tier_w_rehydrate_priority.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_storage_account_async.test_standard_blob_tier_set_tier_api.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_storage_account.py
  sdk/storage/azure-storage-blob/tests/test_blob_storage_account_async.py
Labels: Storage

#25343 Dropped 3.6 support for azure-communication-identity
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/README.md
  sdk/communication/azure-communication-identity/dev_requirements.txt
  sdk/communication/azure-communication-identity/setup.py
Labels: Communication

#25311 [formrecognizer] Rename "model" param to "model_id"
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/MIGRATION_GUIDE.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_analysis_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_analysis_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_custom_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_layout_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_custom_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_layout.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url_async.py
Labels: Cognitive - Form Recognizer, auto-merge

#24848 [Test Proxy] Add test recording fixture
  .vscode/cspell.json
  sdk/baremetalinfrastructure/azure-mgmt-baremetalinfrastructure/dev_requirements.txt
  sdk/conftest.py
  sdk/keyvault/azure-keyvault/dev_requirements.txt
  sdk/streamanalytics/azure-mgmt-streamanalytics/dev_requirements.txt
  tools/azure-sdk-tools/devtools_testutils/__init__.py
  tools/azure-sdk-tools/devtools_testutils/proxy_fixtures.py
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
  tools/azure-sdk-tools/devtools_testutils/proxy_testcase.py
Labels: EngSys

#25054 Update README.md
  sdk/containerregistry/azure-containerregistry/samples/README.md
Labels: Container Registry

#25348 [Storage] Delete legacy generated models files
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/models/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/models/_models.py
Labels: Storage

#25351 Updating dev_reqs for mgmt-storagecache and mgmt-importexport
  sdk/storage/azure-mgmt-storagecache/dev_requirements.txt
  sdk/storage/azure-mgmt-storageimportexport/dev_requirements.txt
Labels: Storage

#25258 [Test Proxy] Align sanitizers, matchers, and transforms
  tools/azure-sdk-tools/devtools_testutils/__init__.py
  tools/azure-sdk-tools/devtools_testutils/sanitizers.py
Labels: test-enhancement

#25292 Create API review using generated code file by CI
  eng/pipelines/templates/steps/analyze.yml
  eng/pipelines/templates/steps/create-apireview.yml
  eng/scripts/Create-ApiReview.ps1
  eng/scripts/Language-Settings.ps1
  sdk/template/azure-template/azure/template/template_code.py
Labels: EngSys

#25366 [textanalytics] update docstrings
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_lro.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_lro_async.py
Labels: Cognitive - Text Analytics

#22537 migrate identity tests to test proxy
  sdk/identity/azure-identity/conftest.py
  sdk/identity/azure-identity/tests/recorded_test_case.py
  sdk/identity/azure-identity/tests/recordings/test_cae.test_device_code.yaml
  sdk/identity/azure-identity/tests/recordings/test_cae.test_username_password.yaml
  sdk/identity/azure-identity/tests/recordings/test_imds_credential.pyTestImdstest_system_assigned.json
  sdk/identity/azure-identity/tests/recordings/test_imds_credential.pyTestImdstest_system_assigned_tenant_id.json
  sdk/identity/azure-identity/tests/recordings/test_imds_credential.pyTestImdstest_user_assigned.json
  sdk/identity/azure-identity/tests/recordings/test_imds_credential.pyTestImdstest_user_assigned_tenant_id.json
  sdk/identity/azure-identity/tests/recordings/test_imds_credential.test_system_assigned.yaml
  sdk/identity/azure-identity/tests/recordings/test_imds_credential.test_user_assigned.yaml
  sdk/identity/azure-identity/tests/recordings/test_imds_credential_async.pyTestImdsAsynctest_system_assigned.json
  sdk/identity/azure-identity/tests/recordings/test_imds_credential_async.pyTestImdsAsynctest_system_assigned_tenant_id.json
  sdk/identity/azure-identity/tests/recordings/test_imds_credential_async.pyTestImdsAsynctest_user_assigned.json
  sdk/identity/azure-identity/tests/recordings/test_imds_credential_async.pyTestImdsAsynctest_user_assigned_tenant_id.json
  sdk/identity/azure-identity/tests/recordings/test_imds_credential_async.test_system_assigned.yaml
  sdk/identity/azure-identity/tests/recordings/test_imds_credential_async.test_user_assigned.yaml
  sdk/identity/azure-identity/tests/recordings/test_obo.test_obo.yaml
  sdk/identity/azure-identity/tests/recordings/test_obo.test_obo_cert.yaml
  sdk/identity/azure-identity/tests/recordings/test_obo_async.test_obo.yaml
  sdk/identity/azure-identity/tests/recordings/test_obo_async.test_obo_cert.yaml
  sdk/identity/azure-identity/tests/test_app_service.py
  sdk/identity/azure-identity/tests/test_app_service_async.py
  sdk/identity/azure-identity/tests/test_cae.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
  sdk/identity/azure-identity/tests/test_obo.py
  sdk/identity/azure-identity/tests/test_obo_async.py
  sdk/identity/ci.yml
  sdk/identity/tests.yml
Labels: Azure.Identity

#25347 [Storage] Drop Python 3.6 support in Storage packages
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/setup.py
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#25207 Ability to specify tenant_id
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/tests/test_cli_credential.py
Labels: customer-reported, Azure.Identity, needs-author-feedback

#25372 drop 3.6 for identity
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#24967 [Storage] Handling AzureNamedKeyCredential in Python SDK
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_change_feed_client.py
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.test_azure_named_key_credential_access.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob_async.test_azure_named_key_credential_access.yaml
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_datalake_service_client.test_azure_named_key_credential_access.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_datalake_service_client_async.test_azure_named_key_credential_access.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_datalake_service_client.py
  sdk/storage/azure-storage-file-datalake/tests/test_datalake_service_client_async.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_azure_named_key_credential_access.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.test_azure_named_key_credential_access.yaml
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
  sdk/storage/azure-storage-queue/tests/recordings/test_queue.test_azure_named_key_credential_access.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_async.test_azure_named_key_credential_access.yaml
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
  shared_requirements.txt
Labels: Storage

#25367 [formrecognizer] Add a simpler poller protocol
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/_operations_mixin.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/aio/_operations_mixin.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2022_06_30_preview/_metadata.json
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2022_06_30_preview/aio/operations/_form_recognizer_client_operations.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2022_06_30_preview/operations/_form_recognizer_client_operations.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_async_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
  sdk/formrecognizer/azure-ai-formrecognizer/swagger/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_training.pyTestDMACTrainingtest_build_model_poller_metadata.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_training_async.pyTestDMACTrainingAsynctest_build_model_poller_metadata.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training_async.py
  shared_requirements.txt
Labels: Cognitive - Form Recognizer

#25378 Sync eng/common directory with azure-sdk-tools for PR 3661
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#25345 [formrecognizer] Arch board renames
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_authentication_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_manage_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_authentication.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_manage_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_logging.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_logging_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_to_dict_v3.py
Labels: Cognitive - Form Recognizer

#25375 Sync eng/common directory with azure-sdk-tools for PR 3735
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#25396 [EventHubs] add async unit tests to pyamqp
  sdk/eventhub/azure-eventhub/tests/unittest/asynctests/test_client_creation_async.py
  sdk/eventhub/azure-eventhub/tests/unittest/asynctests/test_in_memory_checkpointstore.py
Labels: Event Hubs

#25390 [Cosmos] Update test_headers.py
  sdk/cosmos/azure-cosmos/test/test_headers.py
Labels: Cosmos

#25408 Sync eng/common directory with azure-sdk-tools for PR 3754
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#25394 [Test Proxy] Support `target` keyword in sanitizers
  tools/azure-sdk-tools/devtools_testutils/sanitizers.py
Labels: test-reliability

#25438 Sync eng/common directory with azure-sdk-tools for PR 3753
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/tests/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Labels: EngSys, Central-EngSys

#25340 [AutoRelease] t2-recoveryservices-2022-07-21-84322(Do not merge)
  sdk/recoveryservices/azure-mgmt-recoveryservices/CHANGELOG.md
  sdk/recoveryservices/azure-mgmt-recoveryservices/MANIFEST.in
  sdk/recoveryservices/azure-mgmt-recoveryservices/_meta.json
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/__init__.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/_configuration.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/_metadata.json
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/_patch.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/_recovery_services_client.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/_vendor.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/_version.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/__init__.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/_configuration.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/_patch.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/_recovery_services_client.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/_vendor.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/operations/__init__.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/operations/_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/operations/_patch.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/operations/_private_link_resources_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/operations/_recovery_services_client_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/operations/_recovery_services_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/operations/_registered_identities_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/operations/_replication_usages_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/operations/_usages_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/operations/_vault_certificates_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/operations/_vault_extended_info_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/aio/operations/_vaults_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/models/__init__.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/models/_models.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/models/_models_py3.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/models/_patch.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/models/_recovery_services_client_enums.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/operations/__init__.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/operations/_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/operations/_patch.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/operations/_private_link_resources_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/operations/_recovery_services_client_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/operations/_recovery_services_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/operations/_registered_identities_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/operations/_replication_usages_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/operations/_usages_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/operations/_vault_certificates_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/operations/_vault_extended_info_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/azure/mgmt/recoveryservices/operations/_vaults_operations.py
  sdk/recoveryservices/azure-mgmt-recoveryservices/setup.py
  shared_requirements.txt
Labels: Recovery Services

#25410 Bump macOs version to macos-11
  eng/pipelines/templates/jobs/run-cli-tests.yml
  eng/pipelines/templates/jobs/smoke.tests.yml
  eng/pipelines/templates/stages/platform-matrix-cryptography-dependency.json
  eng/pipelines/templates/stages/platform-matrix.json
  eng/scripts/job-matrix/job-matrix-functions.filter.tests.ps1
  eng/scripts/job-matrix/job-matrix-functions.tests.ps1
  eng/scripts/job-matrix/samples/matrix.json
  sdk/communication/azure-communication-phonenumbers/phonenumbers-livetest-matrix.json
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage, Communication

#25435 Remove old job matrix scripts
  eng/scripts/job-matrix/Create-JobMatrix.ps1
  eng/scripts/job-matrix/README.md
  eng/scripts/job-matrix/job-matrix-functions.filter.tests.ps1
  eng/scripts/job-matrix/job-matrix-functions.modification.tests.ps1
  eng/scripts/job-matrix/job-matrix-functions.ps1
  eng/scripts/job-matrix/job-matrix-functions.tests.ps1
  eng/scripts/job-matrix/samples/matrix-test.yml
  eng/scripts/job-matrix/samples/matrix.json
  eng/scripts/job-matrix/test-import-matrix.json
Labels: Central-EngSys

#24767 add sample
  .vscode/cspell.json
  sdk/identity/azure-identity/samples/azure-aad-auth-with-redis-py.md
  sdk/identity/azure-identity/samples/azure-aad-auth-with-redis.py
Labels: Azure.Identity

#25460 [Test Proxy] Add methods for setting custom recording options
  tools/azure-sdk-tools/devtools_testutils/__init__.py
  tools/azure-sdk-tools/devtools_testutils/sanitizers.py
Labels: EngSys, test-enhancement

#25270 [Key Vault] Skip tests when vault SKU is incompatible
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys_async.py
Labels: KeyVault, Client, test-reliability, test-sovereign-cloud

#25472 Sync eng/common directory with azure-sdk-tools for PR 3787
  eng/common/TestResources/setup-environments.yml
Labels: EngSys, Central-EngSys

#25391 [Cosmos] updates for integrated cache PR
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
Labels: Cosmos

#25474 [formrecognizer] Rename DocTypeInfo to DocTypeDetails
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_to_dict_v3.py
Labels: Cognitive - Form Recognizer
