Repository Azure/azure-sdk-for-python, pull requests merged in 2022-06, with the labels that each got.

#24370 Adding a missing await in _async_register_rp
  sdk/core/azure-mgmt-core/azure/mgmt/core/policies/_base_async.py
Labels: customer-reported, Azure.Core

#24667 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, auto-merge

#24668 [storage] pass in tier by param name instead of in headers
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
Labels: Storage

#24582 [servicebus] uamqp custom endpoint support
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/_configuration.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/connection_to_custom_endpoint_address_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/connection_to_custom_endpoint_address.py
Labels: Service Bus

#24653 [EventHubs] merge Buffered Producer into main
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_buffered_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_buffered_producer_dispatcher.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_partition_resolver.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_async_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_buffered_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_buffered_producer_dispatcher_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_partition_resolver_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/samples/README.md
  sdk/eventhub/azure-eventhub/samples/async_samples/send_buffered_mode_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/send_buffered_mode.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_buffered_producer_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_negative_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_send_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_buffered_producer.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_negative.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_send.py
  sdk/eventhub/azure-eventhub/tests/unittest/asynctests/test_partition_resolver_async.py
  sdk/eventhub/azure-eventhub/tests/unittest/test_partition_resolver.py
Labels: Event Hubs

#24679 [servicebus] updating release version
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus

#24617 Sync eng/common directory with azure-sdk-tools for PR 3381
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#24681 Omit azureml from regression checks
  scripts/devops_tasks/common_tasks.py
Labels: Central-EngSys

#24687 [Key Vault] Add error logging for when downloading an HSM's security domain fails
  .vscode/cspell.json
  sdk/keyvault/test-resources-post.ps1
Labels: KeyVault, Client, test-reliability

#24698 [servicebus] missing docstring async ce
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
Labels: Service Bus

#21370 [Identity] Update Service Fabric manual testing instructions
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/service_fabric.md
Labels: Client, Azure.Identity

#24691 [Storage] Modify test_quick_query_output_in_arrow_format assert
  sdk/storage/azure-storage-blob/tests/recordings/test_quick_query.test_quick_query_output_in_arrow_format.yaml
  sdk/storage/azure-storage-blob/tests/test_quick_query.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_quick_query.test_quick_query_output_in_arrow_format.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_quick_query.py
Labels: Storage

#24708 [formrecognizer] Temporarily skip AAD tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
Labels: Cognitive - Form Recognizer

#24716 [Batch] fix failed tests
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_account_name.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_list_operations.json
  sdk/batch/azure-mgmt-batch/tests/test_mgmt_batch.py
Labels: Batch

#24658 [Storage] Arch Board Review Feedback STG83
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_file_system.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_file_system_async.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_create_file_absolute_expiry.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_create_file_relative_expiry.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_create_file_absolute_expiry_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_create_file_relative_expiry_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_delete_files_simple_no_raise.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_delete_files_with_failed_subrequest.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_delete_files_simple_no_raise.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_delete_files_with_failed_subrequest.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
Labels: Storage

#24723 [EventHubs] pyproto - update release date + docs
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/samples/README.md
Labels: Event Hubs, auto-merge

#24720 [translation] updates for release
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
  sdk/translation/azure-ai-translation-document/README.md
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_client.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_client_async.py
  sdk/translation/azure-ai-translation-document/samples/README.md
  sdk/translation/azure-ai-translation-document/setup.py
Labels: Cognitive - Translator

#24728 [servicebus] updating servicebus samples readme to include ce
  sdk/servicebus/azure-servicebus/samples/README.md
Labels: Service Bus

#24719 [EventHubs&ServiceBus] fix tests/samples/cspell
  .vscode/cspell.json
  scripts/devops_tasks/test_run_samples.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_send_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_send.py
Labels: Event Hubs

#24741 [Communication] Update sdk_packaging.toml
  sdk/communication/azure-mgmt-communication/sdk_packaging.toml
Labels: Communication

#24742 [AutoRelease] t2-communication-2022-06-07-16458(Do not merge)
  sdk/communication/azure-mgmt-communication/CHANGELOG.md
  sdk/communication/azure-mgmt-communication/LICENSE
  sdk/communication/azure-mgmt-communication/MANIFEST.in
  sdk/communication/azure-mgmt-communication/README.md
  sdk/communication/azure-mgmt-communication/_meta.json
  sdk/communication/azure-mgmt-communication/azure/__init__.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/__init__.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/__init__.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/_communication_service_management_client.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/_configuration.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/_patch.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/_vendor.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/_version.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/aio/__init__.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/aio/_communication_service_management_client.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/aio/_configuration.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/aio/_patch.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/aio/operations/__init__.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/aio/operations/_communication_services_operations.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/aio/operations/_domains_operations.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/aio/operations/_email_services_operations.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/aio/operations/_operations.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/models/__init__.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/models/_communication_service_management_client_enums.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/models/_models_py3.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/operations/__init__.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/operations/_communication_services_operations.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/operations/_domains_operations.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/operations/_email_services_operations.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/operations/_operations.py
  sdk/communication/azure-mgmt-communication/setup.py
  shared_requirements.txt
Labels: Communication

#24743 [storagesync] update toml
  sdk/storage/azure-mgmt-storagesync/LICENSE
  sdk/storage/azure-mgmt-storagesync/MANIFEST.in
  sdk/storage/azure-mgmt-storagesync/README.md
  sdk/storage/azure-mgmt-storagesync/azure/__init__.py
  sdk/storage/azure-mgmt-storagesync/azure/mgmt/__init__.py
  sdk/storage/azure-mgmt-storagesync/sdk_packaging.toml
  sdk/storage/azure-mgmt-storagesync/setup.py
Labels: Storage

#24731 [Key Vault] Update metadata for release
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
Labels: KeyVault, Client

#24747 Increment version for translation releases
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_version.py
Labels: auto-merge

#24726 [formrecognizer] README and release updates
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_api_versions.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
Labels: Cognitive - Form Recognizer

#24733 [formrecognizer] Unskip tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dac_analyze_general_document.pyTestDACAnalyzeDocumenttest_document_specify_pages.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dac_analyze_general_document_async.pyTestDACAnalyzeDocumentAsynctest_document_specify_pages.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dac_analyze_prebuilts.pyTestDACAnalyzePrebuiltstest_w2_png_value_address.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dac_analyze_prebuilts_async.pyTestDACAnalyzePrebuiltsAsynctest_w2_png_value_address.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_general_document.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_general_document_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_async.py
Labels: Cognitive - Form Recognizer

#24746 [formrecognizer] Add paragraphs to prebuilt read samples
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/async_samples/sample_analyze_read_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_analyze_read.py
Labels: Cognitive - Form Recognizer

#24729 [EventHubs] update buffered producer docstring
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_buffered_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_buffered_producer_dispatcher.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_partition_resolver.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_configuration.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_connection_string_parser.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/_eventprocessor_mixin.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/in_memory_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/ownership_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_mixin.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_async_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_buffered_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_buffered_producer_dispatcher_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_partition_resolver_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/_ownership_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/in_memory_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/amqp/_amqp_message.py
Labels: Event Hubs

#24750 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
Labels: KeyVault, auto-merge

#24753 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/setup.py
Labels: Event Hubs, auto-merge

#24730 [Storage] Improve exception raised when uploading 'dict' Blob
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.test_upload_blob_with_dictionary.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob_async.test_upload_blob_with_dictionary_async.yaml
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
Labels: Storage

#24749 [formrecognizer] Remove document captions and footnotes
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_to_dict_v3.py
Labels: Cognitive - Form Recognizer

#24755 [Storage] Fix page blob tier on `upload_blob`
  sdk/storage/azure-storage-blob/azure/storage/blob/_upload_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_upload_helpers.py
  sdk/storage/azure-storage-blob/tests/recordings/test_page_blob.test_blob_tier_on_create.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_page_blob_async.test_blob_tier_on_create.yaml
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
Labels: Storage

#24759 Increment version for formrecognizer releases
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Labels: Cognitive - Form Recognizer, auto-merge

#24758 Remove "feature/*" from formrecognizer CI triggers
  sdk/formrecognizer/ci.yml
Labels: Cognitive - Form Recognizer

#24697 EventHub Troubleshooting Guide
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/TROUBLESHOOTING.md
Labels: Event Hubs

#24771 Add missing credential types to Azure Identity README
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#24756 [EventHub] update get_buffered_event_count docstring
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
Labels: Event Hubs, auto-merge

#24693 [Storage] Add client-side encryption V2 for Queue
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/encryption.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/encryption.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/encryption.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_message_encoding.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/encryption.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_encryption.test_get_message_encrypted_kek_v2.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_encryption.test_get_message_encrypted_resolver_v2.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_encryption.test_update_encrypted_binary_message_v2.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_encryption.test_update_encrypted_message_v2.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_encryption.test_validate_encryption_v2.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_encryption_async.test_get_message_encrypted_kek_v2.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_encryption_async.test_get_message_encrypted_resolver_v2.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_encryption_async.test_update_encrypted_binary_message_v2.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_encryption_async.test_update_encrypted_message_v2.yaml
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_encryption_async.test_validate_encryption_v2.yaml
  sdk/storage/azure-storage-queue/tests/test_queue_encryption.py
  sdk/storage/azure-storage-queue/tests/test_queue_encryption_async.py
Labels: Storage

#24790 [Test Proxy] Update positional parameter guidance
  doc/dev/test_proxy_migration_guide.md
Labels: EngSys

#24770 [Storage] Remove batch delete_files()
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_deserialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_file_system.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_file_system_async.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_delete_files_simple_no_raise.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_delete_files_with_failed_subrequest.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.test_serialized_error.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_delete_files_simple_no_raise.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_delete_files_with_failed_subrequest.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.test_serialized_error.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
Labels: Storage

#24825 [EventHubs] update checkpointstoreblob README title
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
Labels: Event Hubs, auto-merge

#24812 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: auto-merge

#24828 Sync eng/common directory with azure-sdk-tools for PR 3433
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: EngSys, Central-EngSys

#24684 Override live test location default to westus
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
Labels: Central-EngSys

#24829 [Storage] STG83 Changelogs
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
Labels: Storage

#24245 [mgmt][core] upgrade min dependency for `azure-core`
  sdk/core/azure-mgmt-core/CHANGELOG.md
  sdk/core/azure-mgmt-core/azure/mgmt/core/_version.py
  sdk/core/azure-mgmt-core/setup.py
  shared_requirements.txt
Labels: Azure.Core

#24779 [Datalake] Fix connection string parsing
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/tests/test_datalake_service_client.py
  sdk/storage/azure-storage-file-datalake/tests/test_datalake_service_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
Labels: Storage

#24826 Identity environmnet credential cert password
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/tests/test_environment_credential.py
  sdk/identity/azure-identity/tests/test_environment_credential_async.py
Labels: Azure.Identity

#24514 Sync eng/common directory with azure-sdk-tools for PR 3267
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#24837 Sync eng/common directory with azure-sdk-tools for PR 3386
  eng/common/docgeneration/templates/matthews/partials/class.header.tmpl.partial
  eng/common/docgeneration/templates/matthews/partials/class.tmpl.partial
Labels: EngSys, Central-EngSys

#24831 Sync eng/common directory with azure-sdk-tools for PR 3402
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#24813 [formrecognizer] Remove sleep time between tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_general_document.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_general_document_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_layout.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_layout_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilt_read.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilt_read_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_business_card.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_business_card_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_business_card_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_business_card_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_content_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_content_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_identity_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_identity_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_identity_documents_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_identity_documents_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_invoice.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_invoice_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_invoice_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_invoice_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_receipt_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_get_children.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi_async.py
Labels: Cognitive - Form Recognizer

#24795 [formrecognizer] Unskip AAD tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
Labels: Cognitive - Form Recognizer

#24797 [textanalytics] merge single/multi category result
  scripts/devops_tasks/test_run_samples.py
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_single_category_classify_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_single_category_classify.py
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_custom_partial_error.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_single_category_classify.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_custom_partial_error.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_single_category_classify.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
Labels: Cognitive - Text Analytics

#24858 [ServiceBus] Sample async await
  sdk/servicebus/azure-servicebus/samples/async_samples/connection_to_custom_endpoint_address_async.py
Labels: Service Bus

#24843 Resolve Failing Weekly Storage LiveTests
  .vscode/cspell.json
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage

#24860 [Storage] Increase allowed timing difference in flaky relative expiry test
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.test_create_file_relative_expiry.yaml
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.test_create_file_relative_expiry_async.yaml
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_async.py
Labels: Storage

#24856 [AutoRelease] t2-datafactory-2022-06-15-79696(Do not merge)
  sdk/datafactory/azure-mgmt-datafactory/CHANGELOG.md
  sdk/datafactory/azure-mgmt-datafactory/_meta.json
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/__init__.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/_data_factory_management_client.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/_metadata.json
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/_version.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/__init__.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/_data_factory_management_client.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/__init__.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_activity_runs_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_data_flow_debug_session_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_data_flows_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_datasets_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_exposure_control_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_factories_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_global_parameters_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_integration_runtime_nodes_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_integration_runtime_object_metadata_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_integration_runtimes_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_linked_services_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_managed_private_endpoints_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_managed_virtual_networks_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_patch.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_pipeline_runs_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_pipelines_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_private_end_point_connections_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_private_endpoint_connection_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_private_link_resources_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_trigger_runs_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/aio/operations/_triggers_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/__init__.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_data_factory_management_client_enums.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_models_py3.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/models/_patch.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/__init__.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_activity_runs_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_data_flow_debug_session_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_data_flows_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_datasets_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_exposure_control_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_factories_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_global_parameters_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_integration_runtime_nodes_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_integration_runtime_object_metadata_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_integration_runtimes_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_linked_services_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_managed_private_endpoints_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_managed_virtual_networks_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_patch.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_pipeline_runs_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_pipelines_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_private_end_point_connections_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_private_endpoint_connection_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_private_link_resources_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_trigger_runs_operations.py
  sdk/datafactory/azure-mgmt-datafactory/azure/mgmt/datafactory/operations/_triggers_operations.py
  sdk/datafactory/azure-mgmt-datafactory/setup.py
  shared_requirements.txt
Labels: Data Factory

#24868 [storage] set version tolerant to false in readme
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-file-datalake/swagger/README.md
  sdk/storage/azure-storage-file-share/swagger/README.md
  sdk/storage/azure-storage-queue/swagger/README.md
Labels: Storage

#24871 [formrecognizer] Unskip tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dac_analyze_custom_model.pyTestDACAnalyzeCustomModeltest_custom_document_multipage_transform.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dac_analyze_custom_model_async.pyTestDACAnalyzeCustomModelAsynctest_custom_document_multipage_transform.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_async.py
Labels: Cognitive - Form Recognizer

#24844 Fix detecting PEM cert
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/tests/certificate.pem
Labels: Azure.Identity

#24874 [Storage] Increment versions after release
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_version.py
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
Labels: Storage

#24885 Exclude test recording files
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
Labels: Central-EngSys

#24772 [Storage] Tag indexing for versions in STG84
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_list_blobs_helper.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_models.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags.test_filter_blobs_versions.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_tags_async.test_filter_blobs_versions.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_filter_blobs_versions.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_filter_blobs_versions.yaml
  sdk/storage/azure-storage-blob/tests/test_blob_tags.py
  sdk/storage/azure-storage-blob/tests/test_blob_tags_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
Labels: Storage

#24891 Sync eng/common directory with azure-sdk-tools for PR 3457
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#24896 Resolve Core Conda Failure
  eng/conda_env.yml
  eng/pipelines/templates/steps/build-conda-artifacts.yml
  sdk/core/ci.yml
  sdk/core/conda-recipe/meta.yaml
Labels: Azure.Core

#24897 [textanalytics] adjust tests for model updates
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_all_successful_passing_dict_sentiment_task.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze.pyTestAnalyzetest_sentiment_analysis_task_with_opinion_mining.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_all_successful_passing_dict_sentiment_task.json
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_async.pyTestAnalyzeAsynctest_sentiment_analysis_task_with_opinion_mining.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
Labels: Cognitive - Text Analytics

#24902 [formrecognizer] Copy sample fix
  scripts/devops_tasks/test_run_samples.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/sample_copy_model_to.py
Labels: Cognitive - Form Recognizer

#24889 [Storage] Update client-side encryption samples to use V2
  sdk/storage/azure-storage-blob/samples/blob_samples_client_side_encryption.py
  sdk/storage/azure-storage-blob/samples/blob_samples_client_side_encryption_keyvault.py
Labels: Storage

#24909 Sync eng/common directory with azure-sdk-tools for PR 3453
  eng/common/scripts/Verify-Resource-Ref.ps1
Labels: EngSys, Central-EngSys

#24908 [CLU] release updates
  sdk/cognitivelanguage/azure-ai-language-conversations/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-conversations/MANIFEST.in
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_operations/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_vendor.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_operations/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_vendor.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_operations/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_vendor.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_operations/__init__.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_vendor.py
  sdk/cognitivelanguage/azure-ai-language-conversations/doc/azure.ai.language.conversations.aio.rst
  sdk/cognitivelanguage/azure-ai-language-conversations/doc/azure.ai.language.conversations.authoring.aio.rst
  sdk/cognitivelanguage/azure-ai-language-conversations/doc/azure.ai.language.conversations.authoring.rst
  sdk/cognitivelanguage/azure-ai-language-conversations/doc/azure.ai.language.conversations.rst
  sdk/cognitivelanguage/azure-ai-language-conversations/doc/azure.ai.language.rst
  sdk/cognitivelanguage/azure-ai-language-conversations/doc/azure.ai.rst
  sdk/cognitivelanguage/azure-ai-language-conversations/doc/azure.rst
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/setup.py
Labels: Cognitive - LUIS, Cognitive - Language

#24911 Resolve Remaining Storage Failure
  sdk/storage/ci.yml
Labels: Storage, Central-EngSys

#24914 [CLU] add dependency on isodate since we removed msrest
  sdk/cognitivelanguage/azure-ai-language-conversations/setup.py
Labels: Cognitive - LUIS, Cognitive - Language

#24919 Synapse artifact sample
  sdk/synapse/azure-synapse-artifacts/MANIFEST.in
  sdk/synapse/azure-synapse-artifacts/samples/Readme.md
  sdk/synapse/azure-synapse-artifacts/samples/simple_sample.py
Labels: Synapse

#24930 [Storage] Make lease duration tests less flakey
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage

#24947 Use westus3 for translation live tests
  sdk/translation/tests.yml
Labels: Central-EngSys

#24949 [CLU] remove maxpagesize
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_operations/_operations.py
Labels: Cognitive - LUIS, Cognitive - Language

#24917 [formrecognizer] Enable copy model tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/conftest.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_copy_model.pyTestCopyModeltest_copy_model_fail_bad_model_id.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_copy_model.pyTestCopyModeltest_copy_model_successful.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_copy_model.pyTestCopyModeltest_copy_model_transform.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_copy_model.pyTestCopyModeltest_copy_model_with_composed_model.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_copy_model.pyTestCopyModeltest_copy_model_with_model_id_and_desc.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_copy_model.pyTestCopyModeltest_poller_metadata.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_copy_model_async.pyTestCopyModelAsynctest_copy_model_fail_bad_model_id.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_copy_model_async.pyTestCopyModelAsynctest_copy_model_successful.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_copy_model_async.pyTestCopyModelAsynctest_copy_model_transform.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_copy_model_async.pyTestCopyModelAsynctest_copy_model_with_composed_model.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_copy_model_async.pyTestCopyModelAsynctest_copy_model_with_model_id_and_desc.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_copy_model_async.pyTestCopyModelAsynctest_poller_metadata.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model_async.py
Labels: Cognitive - Form Recognizer

#24932 fix type of _SansIOHTTPPolicyRunner
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/_base.py
Labels: Azure.Core

#24937 [Storage] Add base test classes that support the test proxy
  tools/azure-sdk-tools/devtools_testutils/storage/__init__.py
  tools/azure-sdk-tools/devtools_testutils/storage/aio/__init__.py
  tools/azure-sdk-tools/devtools_testutils/storage/aio/asynctestcase.py
  tools/azure-sdk-tools/devtools_testutils/storage/testcase.py
Labels: Storage, EngSys

#24952 [Test Proxy] Add method to reset setting customizations
  tools/azure-sdk-tools/devtools_testutils/__init__.py
  tools/azure-sdk-tools/devtools_testutils/sanitizers.py
Labels: EngSys, test-enhancement

#24964 Sync eng/common directory with azure-sdk-tools for PR 3481
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#24966 [EventHubs&ServiceBus] update docker images to internal
  sdk/eventhub/azure-eventhub/stress/Dockerfile
  sdk/servicebus/azure-servicebus/stress/Dockerfile
Labels: Service Bus, Event Hubs, auto-merge

#24931 [Storage] Remove client-side encryption code from shared
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_encryption.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_upload_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_upload_helpers.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_v2.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_v2_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_download.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/encryption.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_download_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_encryption.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_message_encoding.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/encryption.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_encryption.py
  sdk/storage/azure-storage-queue/tests/test_queue_encryption_async.py
Labels: Storage

#24894 [perf] Add pipeline template and storage pipelines
  eng/pipelines/templates/jobs/perf.yml
  sdk/storage/azure-storage-blob/perf-resources.bicep
  sdk/storage/azure-storage-blob/perf.yml
  sdk/storage/azure-storage-file-datalake/perf-resources.bicep
  sdk/storage/azure-storage-file-datalake/perf.yml
  sdk/storage/azure-storage-file-share/perf-resources.bicep
  sdk/storage/azure-storage-file-share/perf.yml
Labels: Storage

#24960 [CLU] support for AAD + docs
  sdk/cognitivelanguage/azure-ai-language-conversations/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-conversations/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_authentication_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/sample_authentication.py
  sdk/cognitivelanguage/azure-ai-language-conversations/swagger/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_authoring.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_authoring_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conversation_app.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conversation_app_async.py
Labels: Cognitive - LUIS, Cognitive - Language

#24978 [Storage] Add argument to perf tests to use client-side encryption
  sdk/storage/azure-storage-blob/tests/perfstress_tests/README.md
  sdk/storage/azure-storage-blob/tests/perfstress_tests/_test_base.py
  sdk/storage/azure-storage-blob/tests/perfstress_tests/key_wrapper.py
Labels: Storage

#24992 [CLU] release checklist fixes
  eng/tox/mypy_hard_failure_packages.py
  sdk/cognitivelanguage/azure-ai-language-conversations/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/dev_requirements.txt
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/authoring/sample_import_train_deploy_project_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conversation_app.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conversation_app_async.py
Labels: Cognitive - LUIS, Cognitive - Language

#22410 [core] fix json regexp in ContentDecodePolicy to accept application/merge-patch+json
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/policies/_universal.py
  sdk/core/azure-core/tests/test_universal_pipeline.py
Labels: Azure.Core

#25011 [Storage] Fix more flaky lease tests
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.test_lease_share_renew.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.test_lease_share_renew.yaml
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage

#25010 Sync eng/common directory with azure-sdk-tools for PR 3509
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
Labels: EngSys, Central-EngSys

#25015 Sync eng/common directory with azure-sdk-tools for PR 3510
  eng/common/pipelines/templates/steps/verify-readme.yml
  eng/common/scripts/Verify-Readme.ps1
Labels: EngSys, Central-EngSys

#24507 [communication-identity] Add methods to translate `CommunicationIdentifier` to / from a stable string format
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/models.py
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/azure/communication/identity/__init__.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/models.py
  sdk/communication/azure-communication-identity/tests/test_identifier_raw_id.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/models.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/models.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/models.py
  sdk/communication/cspell.json
Labels: Communication

#25008 Merge Channel Name feature to main
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_helpers.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_publish_to_channel_async.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_publish_to_channel.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client_async.py
  sdk/eventgrid/test-resources.json
  sdk/eventgrid/tests.yml
Labels: Event Grid

#24998 [formrecognizer] Unskip mgmt tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_mgmt.pyTestManagementtest_mgmt_model.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_dmac_mgmt_async.pyTestManagementAsynctest_mgmt_model.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_ftc_mgmt.pyTestManagementtest_mgmt_model_labeled_v2.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_ftc_mgmt.pyTestManagementtest_mgmt_model_unlabeled_v2.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_ftc_mgmt_async.pyTestManagementAsynctest_mgmt_model_labeled_v2.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/recordings/test_ftc_mgmt_async.pyTestManagementAsynctest_mgmt_model_unlabeled_v2.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_mgmt_async.py
Labels: Cognitive - Form Recognizer

#24997 [Storage] Add `progress_hook` to file-share upload/download
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_download.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_download_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_create_file_progress.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.test_create_file_progress.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_get_file.test_get_file_progress_chunked.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_get_file.test_get_file_progress_single_get.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_get_file_async.test_get_file_progress_chunked.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_get_file_async.test_get_file_progress_single_get.yaml
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
  sdk/storage/azure-storage-file-share/tests/test_get_file.py
  sdk/storage/azure-storage-file-share/tests/test_get_file_async.py
  sdk/storage/azure-storage-file-share/tests/test_helpers.py
  sdk/storage/azure-storage-file-share/tests/test_helpers_async.py
Labels: Storage

#25024 [PyAMQP] Fix for Update Status and Authentication State
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/cbs.py
Labels: Event Hubs

#25038 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, auto-merge

#25040 [Storage] Prepare for STG83 GA release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  shared_requirements.txt
Labels: Storage
