Repository Azure/azure-sdk-for-python, pull requests merged in 2022-01, with the labels that each got.

#22253 [EventHubs&ServiceBus] update api ref links
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/samples/README.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/samples/README.md
Labels: Service Bus, Event Hubs

#22304 [ServiceBus] Update changelog for external contribution
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#22305 Sync eng/common directory with azure-sdk-tools for PR 2464
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#22228 [textanalytics] fix rtypes for heterogeneous lists
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
Labels: Cognitive - Text Analytics

#22226 [textanalytics] remove unused healthcare/analyze tests
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
Labels: Cognitive - Text Analytics

#21927 [EventHubs] Fix bug in reusing EventHubProducerClient
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_send_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_send.py
Labels: Event Hubs

#21884 [EventHubs] add fixed backoff retry mode
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_configuration.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_retry.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_async_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/tests/unittest/test_client_creation.py
Labels: Event Hubs

#22285 [SchemaRegistry] perfstress tests
  sdk/schemaregistry/azure-schemaregistry/tests/perfstress_tests/README.md
  sdk/schemaregistry/azure-schemaregistry/tests/perfstress_tests/__init__.py
  sdk/schemaregistry/azure-schemaregistry/tests/perfstress_tests/_test_base.py
  sdk/schemaregistry/azure-schemaregistry/tests/perfstress_tests/get_schema_by_id.py
  sdk/schemaregistry/azure-schemaregistry/tests/perfstress_tests/get_schema_properties.py
  sdk/schemaregistry/azure-schemaregistry/tests/perfstress_tests/register_schema.py
Labels: Schema Registry

#22307 [EventHubs & ServiceBus] Async sample should use asyncio.run
  sdk/eventhub/azure-eventhub/samples/async_samples/client_creation_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/connection_to_custom_endpoint_address_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/sample_code_eventhub_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/sample_code_eventhub.py
  sdk/servicebus/azure-servicebus/samples/async_samples/authenticate_client_connstr_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/authenticate_using_azure_named_key_credential_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/authenticate_using_azure_sas_credential_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/auto_lock_renew_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/client_identity_authentication_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/deadletter_messages_and_correct_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/mgmt_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/mgmt_rule_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/mgmt_subscription_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/mgmt_topic_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/proxy_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_deadlettered_messages_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_deferred_message_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_iterator_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_peek_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_subscription_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/schedule_messages_and_cancellation_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/schedule_topic_messages_and_cancellation_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/send_and_receive_amqp_annotated_message_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/send_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/send_topic_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/session_pool_receive_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/session_send_receive_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/topic_subscription_with_rule_operations_async.py
Labels: Service Bus, Event Hubs, auto-merge

#22321 [EventHub] fix pylint
  sdk/eventhub/azure-eventhub/azure/eventhub/_retry.py
Labels: Event Hubs, auto-merge

#22269 [metricsadvisor] Update async samples to use asyncio.run()
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_alert_configuration_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_authentication_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_data_feeds_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_datasource_credentials_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_detection_configuration_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_feedback_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_hooks_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_incidents_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_ingestion_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/async_samples/sample_queries_async.py
Labels: customer-reported, Cognitive - Metrics Advisor

#22279 [Search] Remove references to Python 2.7 and 3.6.
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/dev_requirements.txt
  sdk/search/azure-search-documents/samples/README.md
  sdk/search/azure-search-documents/setup.cfg
  sdk/search/azure-search-documents/setup.py
  sdk/search/azure-search-documents/tests/conftest.py
Labels: Search

#22241 add mvad/uvad python sdk sample for v1.1-preview.1
  sdk/anomalydetector/azure-ai-anomalydetector/CHANGELOG.md
  sdk/anomalydetector/azure-ai-anomalydetector/samples/README.md
  sdk/anomalydetector/azure-ai-anomalydetector/samples/sample_detect_change_point.py
  sdk/anomalydetector/azure-ai-anomalydetector/samples/sample_detect_entire_series_anomaly.py
  sdk/anomalydetector/azure-ai-anomalydetector/samples/sample_detect_last_point_anomaly.py
  sdk/anomalydetector/azure-ai-anomalydetector/samples/sample_multivariate_detect.py
Labels: customer-reported

#22300 updates to drop 2.7 support
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/README.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
  sdk/appconfiguration/azure-appconfiguration/conftest.py
  sdk/appconfiguration/azure-appconfiguration/dev_requirements.txt
  sdk/appconfiguration/azure-appconfiguration/setup.cfg
  sdk/appconfiguration/azure-appconfiguration/setup.py
  sdk/appconfiguration/azure-appconfiguration/swagger/README.md
  sdk/appconfiguration/azure-appconfiguration/tests/conftest.py
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/conftest.py
  sdk/identity/azure-identity/dev_requirements.txt
  sdk/identity/azure-identity/setup.cfg
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/managed-identity-live/appservice.md
  sdk/identity/azure-identity/tests/managed-identity-live/vm.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_version.py
  sdk/synapse/azure-synapse-accesscontrol/CHANGELOG.md
  sdk/synapse/azure-synapse-accesscontrol/README.md
  sdk/synapse/azure-synapse-accesscontrol/setup.cfg
  sdk/synapse/azure-synapse-accesscontrol/setup.py
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-synapse-artifacts/README.md
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_version.py
  sdk/synapse/azure-synapse-artifacts/setup.cfg
  sdk/synapse/azure-synapse-artifacts/setup.py
  sdk/synapse/azure-synapse-managedprivateendpoints/CHANGELOG.md
  sdk/synapse/azure-synapse-managedprivateendpoints/README.md
  sdk/synapse/azure-synapse-managedprivateendpoints/setup.cfg
  sdk/synapse/azure-synapse-managedprivateendpoints/setup.py
  sdk/synapse/azure-synapse-monitoring/CHANGELOG.md
  sdk/synapse/azure-synapse-monitoring/README.md
  sdk/synapse/azure-synapse-monitoring/setup.cfg
  sdk/synapse/azure-synapse-monitoring/setup.py
  sdk/synapse/azure-synapse-spark/CHANGELOG.md
  sdk/synapse/azure-synapse-spark/README.md
  sdk/synapse/azure-synapse-spark/setup.cfg
  sdk/synapse/azure-synapse-spark/setup.py
Labels: Azure.Core, Azure.Identity, Synapse, App Configuration, Cognitive - Metrics Advisor

#22317 [ServiceBus] fixed retry backoff
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/_configuration.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_retry.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Service Bus

#22324 [formrecognizer] Fix test assert for changing description value
  scripts/devops_tasks/test_run_samples.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/advanced_samples/async_advanced_samples/sample_get_elements_with_spans_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2-beta/advanced_samples/sample_get_elements_with_spans.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
Labels: Cognitive - Form Recognizer

#22259 Update README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
Labels: customer-reported, Cognitive - Text Analytics

#22341 enable identity for py27
  sdk/appconfiguration/azure-appconfiguration/setup.py
  sdk/identity/azure-identity/conftest.py
  sdk/identity/azure-identity/dev_requirements.txt
  sdk/identity/azure-identity/setup.cfg
  sdk/identity/azure-identity/setup.py
  sdk/synapse/azure-synapse-accesscontrol/setup.py
  sdk/synapse/azure-synapse-artifacts/setup.py
  sdk/synapse/azure-synapse-managedprivateendpoints/setup.py
  sdk/synapse/azure-synapse-monitoring/setup.py
  sdk/synapse/azure-synapse-spark/setup.py
Labels: Azure.Identity

#22319 [EventHub] drop python 2.7/3.6
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_version.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/setup.cfg
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/setup.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_version.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/setup.cfg
  sdk/eventhub/azure-eventhub-checkpointstoreblob/setup.py
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/conftest.py
  sdk/eventhub/azure-eventhub/dev_requirements.txt
  sdk/eventhub/azure-eventhub/samples/README.md
  sdk/eventhub/azure-eventhub/samples/sample_dev_requirements.txt
  sdk/eventhub/azure-eventhub/setup.cfg
  sdk/eventhub/azure-eventhub/setup.py
Labels: Event Hubs

#22318 [SchemaRegistry] drop 2.7/36
  sdk/schemaregistry/azure-schemaregistry-avroserializer/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/README.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_apache_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_schema_registry_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/dev_requirements.txt
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/README.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/setup.cfg
  sdk/schemaregistry/azure-schemaregistry-avroserializer/setup.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/conftest.py
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/README.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_version.py
  sdk/schemaregistry/azure-schemaregistry/conftest.py
  sdk/schemaregistry/azure-schemaregistry/dev_requirements.txt
  sdk/schemaregistry/azure-schemaregistry/samples/README.md
  sdk/schemaregistry/azure-schemaregistry/setup.cfg
  sdk/schemaregistry/azure-schemaregistry/setup.py
  shared_requirements.txt
Labels: Schema Registry

#22346 Sync eng/common directory with azure-sdk-tools for PR 2484
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#22351 [Key Vault] Skip tests failing with SAS issues
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client.py
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client_async.py
  sdk/keyvault/azure-keyvault-administration/tests/test_examples_administration.py
  sdk/keyvault/azure-keyvault-administration/tests/test_examples_administration_async.py
Labels: KeyVault

#22107 Sync eng/common directory with azure-sdk-tools for PR 2416
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#22320 [ServiceBus] drop Python 2.7/3.6
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/conftest.py
  sdk/servicebus/azure-servicebus/dev_requirements.txt
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/setup.cfg
  sdk/servicebus/azure-servicebus/setup.py
Labels: Service Bus

#22367 [Key Vault] Drop 2.7 and 3.6 support
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/README.md
  sdk/keyvault/azure-keyvault-administration/conftest.py
  sdk/keyvault/azure-keyvault-administration/dev_requirements.txt
  sdk/keyvault/azure-keyvault-administration/setup.cfg
  sdk/keyvault/azure-keyvault-administration/setup.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-certificates/conftest.py
  sdk/keyvault/azure-keyvault-certificates/dev_requirements.txt
  sdk/keyvault/azure-keyvault-certificates/setup.cfg
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-keys/conftest.py
  sdk/keyvault/azure-keyvault-keys/dev_requirements.txt
  sdk/keyvault/azure-keyvault-keys/setup.cfg
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/README.md
  sdk/keyvault/azure-keyvault-secrets/conftest.py
  sdk/keyvault/azure-keyvault-secrets/dev_requirements.txt
Labels: KeyVault, Client

#22369 [ServiceBus&EventHubs] remove RetryMode enum
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_configuration.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_retry.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/tests/unittest/test_client_creation.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/_configuration.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_retry.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Service Bus, Event Hubs

#22363 Hotfix for pipeline python version 2.7/3.6 task issues
  sdk/communication/azure-communication-phonenumbers/setup.py
  sdk/communication/azure-communication-sms/setup.py
  sdk/communication/azure-mgmt-communication/setup.py
  sdk/communication/ci.yml
  sdk/identity/azure-identity/setup.py
  shared_requirements.txt
Labels: Communication

#22348 [EventHub&ServiceBus] Improve the token refresh timing and update to uamqp 1.5.0
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/setup.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_utils.py
  sdk/servicebus/azure-servicebus/setup.py
  shared_requirements.txt
Labels: Service Bus, Event Hubs

#22382 revert the change of bumping dep version
  sdk/identity/azure-identity/setup.py
  shared_requirements.txt
Labels: Azure.Identity

#22385 [Key Vault] Remove metapackage from ci.yml
  sdk/keyvault/ci.yml
Labels: KeyVault, Client

#22388 Remove py27 and py36 from all test matrices. Leave py27 testing enabled for core.
  eng/pipelines/templates/stages/platform-matrix-cryptography-dependency.json
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/core/ci.yml
  sdk/core/platform-matrix.json
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage, Azure.Core

#22353 [ServiceBus] expand kwargs in public API
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_amqp_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_utils.py
Labels: Service Bus

#22376 Update text analytics live test config to support sovereign cloud testing
  sdk/textanalytics/tests.yml
Labels: Cognitive - Text Analytics, Central-EngSys

#22395 Sync eng/common directory with azure-sdk-tools for PR 2500
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#22412 [metricsadvisor] shorten recording names
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_alert_config_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_data_feed_ingestion_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_detection_config_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_alert_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_create_alert_conf_series_group_dir_both[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_alert_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_create_alert_conf_series_group_dir_both[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_alert_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_create_alert_conf_series_group_dir_down[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_alert_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_create_alert_conf_series_group_dir_down[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_alert_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_create_alert_conf_series_group_sev_cond[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_alert_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_create_alert_conf_series_group_sev_cond[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_alert_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_create_alert_conf_whole_series_dir_both[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_alert_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_create_alert_conf_whole_series_dir_both[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_alert_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_create_alert_conf_whole_series_dir_down[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_alert_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_create_alert_conf_whole_series_dir_down[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_alert_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_create_alert_config_whole_series_sev_cond[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_alert_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_create_alert_config_whole_series_sev_cond[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_data_feed_ingestion_async.pyTestMetricsAdvisorAdministrationClientAsynctest_list_data_feed_ingest_status_skip[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_data_feed_ingestion_async.pyTestMetricsAdvisorAdministrationClientAsynctest_list_data_feed_ingest_status_skip[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_detection_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_create_ad_conf_series_and_group_cond[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_detection_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_create_ad_conf_series_and_group_cond[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_detection_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_create_ad_conf_series_and_group_conds[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_detection_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_create_ad_conf_series_and_group_conds[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_detection_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_update_ad_conf_by_reset_props[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_detection_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_update_ad_conf_by_reset_props[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_detection_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_update_ad_conf_model_and_kwargs[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/async_tests/test_detection_config_async.pyTestMetricsAdvisorAdministrationClientAsynctest_update_ad_conf_model_and_kwargs[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_alert_config.pyTestMetricsAdvisorAdministrationClienttest_create_alert_conf_series_group_dir_both[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_alert_config.pyTestMetricsAdvisorAdministrationClienttest_create_alert_conf_series_group_dir_both[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_alert_config.pyTestMetricsAdvisorAdministrationClienttest_create_alert_conf_series_group_dir_down[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_alert_config.pyTestMetricsAdvisorAdministrationClienttest_create_alert_conf_series_group_dir_down[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_alert_config.pyTestMetricsAdvisorAdministrationClienttest_create_alert_conf_series_group_sev_cond[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_alert_config.pyTestMetricsAdvisorAdministrationClienttest_create_alert_conf_series_group_sev_cond[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_alert_config.pyTestMetricsAdvisorAdministrationClienttest_create_alert_conf_whole_series_dir_both[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_alert_config.pyTestMetricsAdvisorAdministrationClienttest_create_alert_conf_whole_series_dir_both[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_alert_config.pyTestMetricsAdvisorAdministrationClienttest_create_alert_conf_whole_series_dir_down[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_alert_config.pyTestMetricsAdvisorAdministrationClienttest_create_alert_conf_whole_series_dir_down[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_alert_config.pyTestMetricsAdvisorAdministrationClienttest_create_alert_config_whole_series_sev_cond[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_alert_config.pyTestMetricsAdvisorAdministrationClienttest_create_alert_config_whole_series_sev_cond[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_data_feed_ingestion.pyTestMetricsAdvisorAdministrationClienttest_list_data_feed_ingest_status_skip[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_data_feed_ingestion.pyTestMetricsAdvisorAdministrationClienttest_list_data_feed_ingest_status_skip[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_detection_config.pyTestMetricsAdvisorAdministrationClienttest_create_ad_conf_series_and_group_cond[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_detection_config.pyTestMetricsAdvisorAdministrationClienttest_create_ad_conf_series_and_group_cond[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_detection_config.pyTestMetricsAdvisorAdministrationClienttest_create_ad_conf_series_and_group_conds[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_detection_config.pyTestMetricsAdvisorAdministrationClienttest_create_ad_conf_series_and_group_conds[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_detection_config.pyTestMetricsAdvisorAdministrationClienttest_update_ad_conf_by_reset_props[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_detection_config.pyTestMetricsAdvisorAdministrationClienttest_update_ad_conf_by_reset_props[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_detection_config.pyTestMetricsAdvisorAdministrationClienttest_update_ad_conf_model_and_kwargs[AAD].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/recordings/test_detection_config.pyTestMetricsAdvisorAdministrationClienttest_update_ad_conf_model_and_kwargs[APIKey].json
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_alert_config.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_data_feed_ingestion.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_detection_config.py
Labels: Cognitive - Metrics Advisor

#22342 Search hotfix release (11.2.1)
  eng/test_tools.txt
  eng/tox/install_depend_packages.py
  eng/tox/tox.ini
  sdk/core/azure-core/dev_requirements.txt
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_version.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/dev_requirements.txt
Labels: Search

#22397 [EventHubs] Pure Python AMQP Sycn Implementation Integration
  sdk/eventhub/azure-eventhub/azure/eventhub/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_connection_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_decode.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_encode.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_platform.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_anyio/LICENSE
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_anyio/__init__.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_anyio/_asyncio.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_link_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_receiver_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_sasl_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_sender_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_session_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/authentication.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/cbs.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/endpoints.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/error.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/link.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/management_link.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/management_operation.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/message.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/mgmt_operation.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/outcomes.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/performatives.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/receiver.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/sasl.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/sender.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/session.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/types.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/amqp/_amqp_message.py
  sdk/eventhub/azure-eventhub/azure/eventhub/amqp/_constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/exceptions.py
  sdk/eventhub/azure-eventhub/azure/eventhub/pyamqp/error.py
  sdk/eventhub/azure-eventhub/conftest.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_auth.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_receive.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_reconnect.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_send.py
Labels: Event Hubs

#22372 [Storage] Drop support for Python 2.7 and 3.6
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/dev_requirements.txt
  sdk/storage/azure-storage-blob-changefeed/mypy.ini
  sdk/storage/azure-storage-blob-changefeed/samples/README.md
  sdk/storage/azure-storage-blob-changefeed/setup.cfg
  sdk/storage/azure-storage-blob-changefeed/setup.py
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/dev_requirements.txt
  sdk/storage/azure-storage-blob/mypy.ini
  sdk/storage/azure-storage-blob/samples/README.md
  sdk/storage/azure-storage-blob/setup.cfg
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/dev_requirements.txt
  sdk/storage/azure-storage-file-datalake/samples/README.md
  sdk/storage/azure-storage-file-datalake/setup.cfg
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/dev_requirements.txt
  sdk/storage/azure-storage-file-share/mypy.ini
  sdk/storage/azure-storage-file-share/samples/README.md
  sdk/storage/azure-storage-file-share/setup.cfg
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/dev_requirements.txt
  sdk/storage/azure-storage-queue/mypy.ini
  sdk/storage/azure-storage-queue/samples/README.md
  sdk/storage/azure-storage-queue/setup.cfg
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#22436 Update pyOpenSSL dependency in pipelines
  eng/ci_tools.txt
  eng/regression_test_tools.txt
  eng/regression_tools.txt
  eng/test_tools.txt
Labels: EngSys, Central-EngSys

#22313 Migrate batch to testProxy
  sdk/batch/azure-mgmt-batch/dev_requirements.txt
  sdk/batch/azure-mgmt-batch/tests/conftest.py
  sdk/batch/azure-mgmt-batch/tests/mgmt_batch_preparers.py
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_account.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_account_advanced.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_account_name.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_applications.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_byos_account.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_certificates.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_list_operations.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_pools.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.pyTestMgmtBatchtest_mgmt_batch_subscription_quota.json
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.test_mgmt_batch_account.yaml
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.test_mgmt_batch_account_advanced.yaml
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.test_mgmt_batch_account_name.yaml
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.test_mgmt_batch_applications.yaml
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.test_mgmt_batch_byos_account.yaml
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.test_mgmt_batch_certificates.yaml
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.test_mgmt_batch_list_operations.yaml
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.test_mgmt_batch_pools.yaml
  sdk/batch/azure-mgmt-batch/tests/recordings/test_mgmt_batch.test_mgmt_batch_subscription_quota.yaml
  sdk/batch/azure-mgmt-batch/tests/test_mgmt_batch.py
  sdk/batch/ci.yml
Labels: Batch

#22290 [Eventgrid] migrate eventgrid to testproxy
  sdk/eventgrid/azure-mgmt-eventgrid/dev_requirements.txt
  sdk/eventgrid/azure-mgmt-eventgrid/tests/conftest.py
  sdk/eventgrid/azure-mgmt-eventgrid/tests/recordings/test_azure_mgmt_eventgrid.test_domains_and_advanced_filter.yaml
  sdk/eventgrid/azure-mgmt-eventgrid/tests/recordings/test_azure_mgmt_eventgrid.test_input_mappings_and_queue_destination.yaml
  sdk/eventgrid/azure-mgmt-eventgrid/tests/recordings/test_azure_mgmt_eventgrid.test_topic_types.yaml
  sdk/eventgrid/azure-mgmt-eventgrid/tests/recordings/test_azure_mgmt_eventgrid.test_user_topics.yaml
  sdk/eventgrid/azure-mgmt-eventgrid/tests/recordings/test_domain.pyTestMgmtEventGridtest_domain.json
  sdk/eventgrid/azure-mgmt-eventgrid/tests/recordings/test_domain.test_domain.yaml
  sdk/eventgrid/azure-mgmt-eventgrid/tests/test_azure_mgmt_eventgrid.py
  sdk/eventgrid/azure-mgmt-eventgrid/tests/test_domain.py
  sdk/eventgrid/ci.yml
Labels: Event Grid

#22291 Migrate keyvault to testProxy
  sdk/keyvault/azure-mgmt-keyvault/dev_requirements.txt
  sdk/keyvault/azure-mgmt-keyvault/tests/conftest.py
  sdk/keyvault/azure-mgmt-keyvault/tests/recordings/test_cli_mgmt_keyvault.pyTestMgmtKeyVaulttest_keyvault.json
  sdk/keyvault/azure-mgmt-keyvault/tests/recordings/test_cli_mgmt_keyvault.test_keyvault.yaml
  sdk/keyvault/azure-mgmt-keyvault/tests/recordings/test_cli_mgmt_keyvault_async.test_keyvault.yaml
  sdk/keyvault/azure-mgmt-keyvault/tests/test_cli_mgmt_keyvault.py
  sdk/keyvault/azure-mgmt-keyvault/tests/test_cli_mgmt_keyvault_async.py
  sdk/keyvault/ci.yml
Labels: KeyVault

#22041 [loganalytics] testproxy migration
  sdk/loganalytics/azure-mgmt-loganalytics/dev_requirements.txt
  sdk/loganalytics/azure-mgmt-loganalytics/tests/conftest.py
  sdk/loganalytics/azure-mgmt-loganalytics/tests/recordings/test_mgmt_loganalytics.pyTestMgmtLogAnalyticstest_loganalytics_operations.json
  sdk/loganalytics/azure-mgmt-loganalytics/tests/recordings/test_mgmt_loganalytics.test_loganalytics_operations.yaml
  sdk/loganalytics/azure-mgmt-loganalytics/tests/test_mgmt_loganalytics.py
  sdk/loganalytics/ci.yml
Labels: Monitor - LogAnalytics

#22042 Migrate servicebus testcases
  sdk/servicebus/azure-mgmt-servicebus/dev_requirements.txt
  sdk/servicebus/azure-mgmt-servicebus/tests/conftest.py
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_check_name_availability.test_sb_namespace_available.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_namespace.test_sb_namespace_curd.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_queue.test_sb_queue_curd.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_topic.test_sb_topic_curd.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_topic_subscription.test_sb_subscription_curd.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_azure_mgmt_servicebus_topic_subscription_rule.test_sb_rule_curd.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_cli_mgmt_servicebus.test_namespace.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_cli_mgmt_servicebus.test_servicebus.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_cli_mgmt_servicebus_queue.pyTestMgmtServiceBustest_queue.json
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_cli_mgmt_servicebus_queue.test_queue.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_cli_mgmt_servicebus_topic.pyTestMgmtServiceBustest_subscrpition_and_rule.json
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_cli_mgmt_servicebus_topic.pyTestMgmtServiceBustest_topic.json
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_cli_mgmt_servicebus_topic.test_subscrpition_and_rule.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/recordings/test_cli_mgmt_servicebus_topic.test_topic.yaml
  sdk/servicebus/azure-mgmt-servicebus/tests/test_cli_mgmt_servicebus_namespace.py
  sdk/servicebus/azure-mgmt-servicebus/tests/test_cli_mgmt_servicebus_queue.py
  sdk/servicebus/azure-mgmt-servicebus/tests/test_cli_mgmt_servicebus_topic.py
  sdk/servicebus/ci.yml
Labels: Service Bus

#22069 Migrate search to text proxy
  sdk/search/azure-mgmt-search/dev_requirements.txt
  sdk/search/azure-mgmt-search/tests/conftest.py
  sdk/search/azure-mgmt-search/tests/recordings/test_mgmt_search.pyTestMgmtSearchtest_search_admin_keys.json
  sdk/search/azure-mgmt-search/tests/recordings/test_mgmt_search.pyTestMgmtSearchtest_search_query_keys.json
  sdk/search/azure-mgmt-search/tests/recordings/test_mgmt_search.pyTestMgmtSearchtest_search_services.json
  sdk/search/azure-mgmt-search/tests/recordings/test_mgmt_search.test_search_admin_keys.yaml
  sdk/search/azure-mgmt-search/tests/recordings/test_mgmt_search.test_search_query_keys.yaml
  sdk/search/azure-mgmt-search/tests/recordings/test_mgmt_search.test_search_services.yaml
  sdk/search/azure-mgmt-search/tests/test_mgmt_search.py
  sdk/search/ci.yml
Labels: Search

#22446 Increment version for synapse releases
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_version.py
Labels: Synapse, auto-merge

#22432 Add `jalauzon-msft` to Storage code owners
  .github/CODEOWNERS
Labels: Storage

#22349 [Storage] Update azure-core dependency to 1.11.0 for Storage packages
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/setup.py
  shared_requirements.txt
Labels: Storage

#22435 expose ParticipantsUpdatedEvent and TransferCallResultEvent events
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/__init__.py
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_models.py
Labels: Communication

#22426 fix tone received event type
  sdk/communication/azure-communication-callingserver/azure/communication/callingserver/_models.py
Labels: Communication

#22449 Fix typos in README.md
  sdk/storage/azure-storage-blob/tests/perfstress_tests/README.md
Labels: Storage

#22448 Add Py36 Back in
  eng/pipelines/templates/stages/platform-matrix-cryptography-dependency.json
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage

#22451 add back py36 support
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/setup.py
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/setup.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/setup.py
  sdk/synapse/azure-synapse-accesscontrol/CHANGELOG.md
  sdk/synapse/azure-synapse-accesscontrol/README.md
  sdk/synapse/azure-synapse-accesscontrol/setup.py
  sdk/synapse/azure-synapse-artifacts/README.md
  sdk/synapse/azure-synapse-artifacts/setup.py
  sdk/synapse/azure-synapse-managedprivateendpoints/CHANGELOG.md
  sdk/synapse/azure-synapse-managedprivateendpoints/README.md
  sdk/synapse/azure-synapse-managedprivateendpoints/setup.py
  sdk/synapse/azure-synapse-monitoring/CHANGELOG.md
  sdk/synapse/azure-synapse-monitoring/README.md
  sdk/synapse/azure-synapse-monitoring/setup.py
  sdk/synapse/azure-synapse-spark/CHANGELOG.md
  sdk/synapse/azure-synapse-spark/README.md
  sdk/synapse/azure-synapse-spark/setup.py
Labels: Azure.Identity, Synapse, App Configuration, Cognitive - Metrics Advisor

#21777 Sync the _shared folder for Communication
  .github/CODEOWNERS
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/utils.py
  sdk/communication/azure-communication-chat/tests/_shared/test_utils.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/user_credential.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/user_credential_async.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/utils.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/policy.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/user_credential.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/user_credential_async.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/utils.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/utils.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/utils.py
Labels: Communication

#22418 [ServiceBus&EventHubs] api fixes
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_amqp_message.py
  sdk/servicebus/azure-servicebus/setup.py
  shared_requirements.txt
Labels: Service Bus, Event Hubs

#22453 [EventHubs & ServiceBus] Bump uAMQP to 1.5.1
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/setup.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/setup.py
  shared_requirements.txt
Labels: Service Bus, Event Hubs, auto-merge

#22428 [ServiceBus&EventHubs] prepare for release
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/setup.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/setup.py
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/samples/README.md
  sdk/eventhub/azure-eventhub/setup.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/README.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/README.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/setup.py
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/README.md
  sdk/schemaregistry/azure-schemaregistry/samples/README.md
  sdk/schemaregistry/azure-schemaregistry/setup.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/setup.py
Labels: Service Bus, Event Hubs

#22470 raise AttributeError for azure.core.pipeline.transport.__bases__
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/transport/__init__.py
Labels: Azure.Core

#22392 Sync eng/common directory with azure-sdk-tools for PR 2513
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#22477 [textanalytics] add back py3.6
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
  sdk/textanalytics/azure-ai-textanalytics/setup.py
Labels: Cognitive - Text Analytics

#22484 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus, auto-merge

#22475 [Cosmos] Remove support for Python27, set Python36 as minimum, and update cosmos emulator pipeline
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/MANIFEST.in
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/document_producer.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/endpoint_component.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/query_execution_info.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_synchronized_request.py
  sdk/cosmos/azure-cosmos/azure/cosmos/auth.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/scripts.py
  sdk/cosmos/azure-cosmos/azure/cosmos/user.py
  sdk/cosmos/azure-cosmos/samples/README.md
  sdk/cosmos/azure-cosmos/samples/nonpartitioned_container_operations.py
  sdk/cosmos/azure-cosmos/setup.cfg
  sdk/cosmos/azure-cosmos/setup.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_globaldb.py
  sdk/cosmos/azure-cosmos/test/test_location_cache.py
  sdk/cosmos/azure-cosmos/test/test_partition_key.py
  sdk/cosmos/azure-cosmos/test/test_proxy.py
Labels: Cosmos

#22485 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs, auto-merge

#22480 clean up tests/docs
  sdk/identity/azure-identity/Troubleshoot.md
  sdk/identity/azure-identity/conftest.py
  sdk/identity/azure-identity/dev_requirements.txt
  sdk/identity/azure-identity/tests/managed-identity-live/Dockerfile
  sdk/identity/azure-identity/tests/managed-identity-live/appservice.md
  sdk/identity/azure-identity/tests/managed-identity-live/azure_arc.md
  sdk/identity/azure-identity/tests/managed-identity-live/cloudshell.md
  sdk/identity/azure-identity/tests/managed-identity-live/conftest.py
  sdk/identity/azure-identity/tests/managed-identity-live/requirements.txt
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/service_fabric.md
  sdk/identity/azure-identity/tests/managed-identity-live/vm.md
  sdk/identity/azure-identity/tests/pod-identity/readme.md
  sdk/identity/azure-identity/tests/vscode-live/vscode.md
Labels: Azure.Identity

#22456 [formrecognizer] Allow Python 3.6+
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/dev_requirements.txt
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
Labels: Cognitive - Form Recognizer

#22483 [Storage] Add Python 3.6 support back to Storage packages
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/samples/README.md
  sdk/storage/azure-storage-blob-changefeed/setup.py
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/samples/README.md
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/samples/README.md
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/samples/README.md
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/samples/README.md
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#22478 [translation] add back py3.6
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
  sdk/translation/azure-ai-translation-document/README.md
  sdk/translation/azure-ai-translation-document/samples/README.md
  sdk/translation/azure-ai-translation-document/setup.py
Labels: Cognitive - Translator

#22366 [translation] update docs to include managed identity option
  sdk/translation/azure-ai-translation-document/README.md
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_client.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_models.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_client_async.py
Labels: Cognitive - Translator

#21824 Issue #9324 by DaisyCisneros
  sdk/core/azure-core/tests/test_streaming.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/streams.py
Labels: customer-reported, Azure.Core, Impact++

#22515 Sync eng/common directory with azure-sdk-tools for PR 2554
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#22325 [ACR] Change to support python3.6 or above only
  sdk/containerregistry/azure-containerregistry/README.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/dev_requirements.txt
  sdk/containerregistry/azure-containerregistry/samples/README.md
  sdk/containerregistry/azure-containerregistry/setup.cfg
  sdk/containerregistry/azure-containerregistry/setup.py
  sdk/containerregistry/azure-containerregistry/tests/conftest.py
  sdk/containerregistry/azure-containerregistry/tests/perfstress_tests/README.md
Labels: Container Registry, Client

#22522 Sync eng/common directory with azure-sdk-tools for PR 2545
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys, Central-EngSys

#22461 Update TextAnalytics to enable live testing in sovereign clouds for multiple services
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_auth.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_auth_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/testcase.py
  sdk/textanalytics/test-resources.json
  sdk/textanalytics/tests.yml
Labels: Cognitive - Text Analytics

#22531 drop py27 support
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/azure/core/_version.py
  sdk/core/azure-core/dev_requirements.txt
  sdk/core/azure-core/samples/conftest.py
  sdk/core/azure-core/setup.cfg
  sdk/core/azure-core/setup.py
  sdk/core/azure-core/tests/async_tests/conftest.py
  sdk/core/azure-core/tests/conftest.py
  sdk/core/ci.yml
  sdk/core/platform-matrix.json
  sdk/identity/azure-identity/setup.cfg
Labels: Azure.Core

#22016 [storage] update error checks for new azure-core error repr
  sdk/storage/azure-storage-queue/tests/test_queue_encryption.py
  sdk/storage/azure-storage-queue/tests/test_queue_encryption_async.py
Labels: Storage

#22430 Remove py2 support from EG
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/dev_requirements.txt
  sdk/eventgrid/azure-eventgrid/setup.cfg
  sdk/eventgrid/azure-eventgrid/setup.py
Labels: Event Grid

#22536 [Cosmos] update from_connection_string method
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/cosmos_client.py
Labels: Cosmos

#22559 [Search] Restore Python 3.6 support
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/setup.py
Labels: Search, Client

#22556 [Key Vault] Add back 3.6 support
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/README.md
  sdk/keyvault/azure-keyvault-administration/setup.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/README.md
  sdk/keyvault/azure-keyvault-secrets/setup.py
Labels: KeyVault, Client

#22252 Updates API version for package azure-communication-phonenumber
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/__init__.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/_configuration.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/_patch.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/_vendor.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/aio/__init__.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/aio/_configuration.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/aio/_patch.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/aio/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/aio/operations/_phone_numbers_operations.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/models/_models.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/models/_models_py3.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/models/_phone_numbers_client_enums.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/operations/_phone_numbers_operations.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_version.py
  sdk/communication/azure-communication-phonenumbers/setup.py
  sdk/communication/azure-communication-phonenumbers/swagger/PHONE_NUMBER_SWAGGER.md
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_get_purchased_phone_number.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_get_purchased_phone_number_from_managed_identity.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_get_purchased_phone_number_with_invalid_phone_number.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_list_purchased_phone_numbers.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_list_purchased_phone_numbers_from_managed_identity.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_search_available_phone_numbers.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_search_available_phone_numbers_from_managed_identity.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_search_available_phone_numbers_with_invalid_country_code.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_update_phone_number_capabilities.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_update_phone_number_capabilities_from_managed_identity.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_update_phone_number_capabilities_with_invalid_phone_number.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_get_purchased_phone_number.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_get_purchased_phone_number_from_managed_identity.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_get_purchased_phone_number_with_invalid_phone_number.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_list_purchased_phone_numbers.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_list_purchased_phone_numbers_from_managed_identity.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_search_available_phone_numbers.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_search_available_phone_numbers_from_managed_identity.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_search_available_phone_numbers_with_invalid_country_code.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_update_phone_number_capabilities.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_update_phone_number_capabilities_from_managed_identity.yaml
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.test_update_phone_number_capabilities_with_invalid_phone_number.yaml
  shared_requirements.txt
Labels: Communication

#22330 [Tables] Change to support Python3.7 or above only
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/dev_requirements.txt
  sdk/tables/azure-data-tables/samples/README.md
  sdk/tables/azure-data-tables/setup.cfg
  sdk/tables/azure-data-tables/setup.py
  sdk/tables/azure-data-tables/tests/conftest.py
Labels: Client, Tables

#22551 [compute][network][storage]update dev_requirements.txt
  sdk/compute/azure-mgmt-compute/dev_requirements.txt
  sdk/network/azure-mgmt-network/dev_requirements.txt
  sdk/storage/azure-mgmt-storage/dev_requirements.txt
Labels: Storage

#22584 Prepare azure-communicatoin-phonenumbers for release
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/setup.py
Labels: Communication

#22538 [Storage] Add `find_blobs_by_tags()` to container client
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_container.test_find_blobs_by_tags.yaml
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.test_find_blobs_by_tags.yaml
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
Labels: Storage

#22586 [Key Vault] Enable SKR tests on KV
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_key_client.test_key_release_7_3_preview_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/recordings/test_keys_async.test_key_release_7_3_preview_vault.yaml
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/test-resources.json
Labels: KeyVault, Client

#22614 [textanalytics] switch to kwargs where we run nonrecorded tests
  sdk/textanalytics/azure-ai-textanalytics/tests/recordings/test_analyze_sentiment.pyTestAnalyzeSentimenttest_opinion_mining_v3.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_sentiment_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_auth.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_auth_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_context_manager.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_context_manager_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_multiapi.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_multiapi_async.py
Labels: Cognitive - Text Analytics

#22263 [Cosmos] create new async user agent for async client
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_utils.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/test/test_client_user_agent.py
Labels: Cosmos

#22612 Sync eng/common directory with azure-sdk-tools for PR 2592
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#22590 Sync eng/common directory with azure-sdk-tools for PR 2585
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
  tools/azure-sdk-tools/devtools_testutils/proxy_testcase.py
Labels: EngSys, Central-EngSys

#22199 Update cspell configuration and enable failure for spelling errors detected in changed files
  .vscode/cspell.json
  eng/pipelines/templates/jobs/ci.yml
Labels: Central-EngSys

#22722 Sync eng/common directory with azure-sdk-tools for PR 2596
  eng/common/pipelines/templates/steps/retain-run.yml
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
Labels: EngSys, Central-EngSys

#22723 [formrecognizer] use kwargs where we don't record tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_business_card.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_business_card_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_business_card_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_business_card_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_content.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_content_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_content_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_content_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_custom_forms.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_custom_forms_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_custom_forms_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_custom_forms_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_identity_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_identity_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_identity_documents_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_identity_documents_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_invoice.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_invoice_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_invoice_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_invoice_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_receipt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_receipt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_receipt_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_frc_receipt_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_logging.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_logging_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi_async.py
Labels: Cognitive - Form Recognizer

#22724 Sync eng/common directory with azure-sdk-tools for PR 2578
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#22530 [ACR] Prepare for first GA
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/README.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_anonymous_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_container_registry.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_vendor.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_container_registry.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_authentication_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_container_registry_blob_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_container_registry_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_container_registry_enums.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_models_py3.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_authentication_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_container_registry_blob_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_container_registry_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_version.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_exchange_client.py
  sdk/containerregistry/azure-containerregistry/dev_requirements.txt
  sdk/containerregistry/azure-containerregistry/samples/README.md
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_delete_images_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_delete_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_hello_world_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_images.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_tags.py
  sdk/containerregistry/azure-containerregistry/samples/sample_hello_world.py
  sdk/containerregistry/azure-containerregistry/setup.py
  sdk/containerregistry/azure-containerregistry/swagger/README.md
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
Labels: Container Registry, Client

#22302 [core] add error body to HttpResponseError str
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/exceptions.py
  sdk/core/azure-core/tests/test_exceptions.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/errors.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_aad_client_async.py
Labels: Storage, Azure.Core

#22745 Sync eng/common directory with azure-sdk-tools for PR 2581
  eng/common/scripts/Get-AADIdentityFromGithubUser.ps1
Labels: EngSys, Central-EngSys

#22744 Sync eng/common directory with azure-sdk-tools for PR 2599
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#22739 Enabling API change detection in PR
  .vscode/cspell.json
  eng/pipelines/templates/steps/analyze.yml
Labels: Central-EngSys

#22720 Ensure Mac/Windows Coverage for `identity`/`eventhub`
  .vscode/cspell.json
  eng/pipelines/templates/stages/platform-matrix-cryptography-dependency.json
  eng/tox/install_depend_packages.py
  sdk/eventhub/azure-mgmt-eventhub/dev_requirements.txt
Labels: Central-EngSys

#22561 [Search] Search Add AML Skill Support
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_patch.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_patch.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_search_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_patch.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_patch.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_search_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_search_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_search_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
Labels: Search

#22450 Update python version to 3.6+ in readme.md
  README.md
Labels: Docs, Python

#22237 [Cosmos] split proof queries sync client
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/base_execution_context.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/multi_execution_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_gone_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_retry_utility.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/routing_map_provider.py
  sdk/cosmos/azure-cosmos/azure/cosmos/exceptions.py
  sdk/cosmos/azure-cosmos/test/test_config.py
  sdk/cosmos/azure-cosmos/test/test_partition_split_query.py
Labels: Cosmos

#22765 [Cosmos] version upgrade for release
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#22771 rename troubleshooting
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#22767 [ACR] Docstring updates
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
Labels: Container Registry

#22776 [ACR] Update comments in samples and its refernces in docstrings
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/samples/README.md
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_delete_images_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_delete_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_hello_world_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_list_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_set_image_properties_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_images.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_tags.py
  sdk/containerregistry/azure-containerregistry/samples/sample_hello_world.py
  sdk/containerregistry/azure-containerregistry/samples/sample_list_tags.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_image_properties.py
Labels: Container Registry, Client

#22782 Increment version for containerregistry releases
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_version.py
Labels: Container Registry, auto-merge

#22741 Fix mypy typecheck (#22740)
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
Labels: Storage, customer-reported

#22768 Sync eng/common directory with azure-sdk-tools for PR 2604
  .vscode/cspell.json
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: EngSys, Central-EngSys

#22788 Sync eng/common directory with azure-sdk-tools for PR 2617
  eng/common/pipelines/templates/steps/verify-links.yml
Labels: EngSys, Central-EngSys

#22790 [formrecognizer] Add a default for percent_completed
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
Labels: Cognitive - Form Recognizer, auto-merge

#22810 Do not run issue helper pipeline for PRs
  scripts/issue_helper/issue_helper.yml
Labels: Central-EngSys

#22774 fix cspell issues
  .vscode/cspell.json
  sdk/identity/azure-identity/tests/test_browser_credential.py
Labels: Azure.Identity

#22710 Increment version for anomalydetector releases
  sdk/anomalydetector/azure-ai-anomalydetector/CHANGELOG.md
  sdk/anomalydetector/azure-ai-anomalydetector/azure/ai/anomalydetector/_version.py
Labels: auto-merge

#22830 Sync eng/common directory with azure-sdk-tools for PR 2641
  eng/common/scripts/job-matrix/README.md
Labels: EngSys, Central-EngSys

#22794 [Storage] Add support for `rename_directory()` and `rename_file()` to Fileshare
  eng/conda_test_requirements.txt
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_directory.test_rename_directory.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_directory.test_rename_directory_dest_lease.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_directory.test_rename_directory_different_directory.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_directory.test_rename_directory_file_permission.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_directory.test_rename_directory_ignore_readonly.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_directory.test_rename_directory_preserve_permission.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_directory.test_rename_directory_smb_properties.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_directory_async.test_rename_directory.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_directory_async.test_rename_directory_dest_lease.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_directory_async.test_rename_directory_different_directory.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_directory_async.test_rename_directory_file_permission.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_directory_async.test_rename_directory_ignore_readonly.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_directory_async.test_rename_directory_preserve_permission.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_directory_async.test_rename_directory_smb_properties.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_rename_file.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_rename_file_different_directory.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_rename_file_file_permission.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_rename_file_ignore_readonly.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_rename_file_preserve_permission.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_rename_file_smb_properties.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.test_rename_file_with_lease.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.test_rename_file.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.test_rename_file_different_directory.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.test_rename_file_file_permission.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.test_rename_file_ignore_readonly.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.test_rename_file_preserve_permission.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.test_rename_file_smb_properties.yaml
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.test_rename_file_with_lease.yaml
  sdk/storage/azure-storage-file-share/tests/test_directory.py
  sdk/storage/azure-storage-file-share/tests/test_directory_async.py
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
Labels: Storage

#22843 [Search] Update Azure Machine Learning Skill (AML Skill) Support
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
Labels: Search
