Repository Azure/azure-sdk-for-python, pull requests merged in 2023-10, with the labels that each got.

#32138 [ml] doc updates for workspace
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/customer_managed_key.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/private_endpoint.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace_keys.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace_hub/workspace_hub.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace_hub/workspace_hub_config.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_hub_operation.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_outbound_rule_operations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_workspace.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_hub_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#32314 Sync eng/common directory with azure-sdk-tools for PR 7040
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/get-codeowners.lib.ps1
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#32296 Fix sample errors
  sdk/ml/azure-ai-ml/samples/ml_samples_compute.py
  sdk/ml/azure-ai-ml/samples/ml_samples_misc.py
Labels: Machine Learning

#32021 [AppConfig] Address archboard review feedback
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/README.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/snapshot_samples.py
  sdk/appconfiguration/azure-appconfiguration/samples/snapshot_samples_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/util.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/testcase.py
Labels: App Configuration

#32303 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
Labels: App Configuration Provider

#32288 [ACS][CallAutomation] Updating invitation_timeout request bug for AddParticipant
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/tests/test_call_connection_client.py
Labels: Communication

#32079 To use the list jobs in list_materialization_operation
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_materialization_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/feature_set/e2etests/test_feature_set.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_operations.py
Labels: Machine Learning

#32261 [Monitor] Fix typing for next mypy/pyright
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_serialization.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/_configuration.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/_serialization.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/aio/_configuration.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/_configuration.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/_serialization.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/aio/_configuration.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/batch/_configuration.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/batch/_serialization.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/batch/aio/_configuration.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_logs_query_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_logs_query_client_async.py
Labels: Monitor

#31671 [ServiceBus] remove uamqp from tests
  sdk/servicebus/azure-servicebus/dev_requirements.txt
  sdk/servicebus/azure-servicebus/tests/utilities.py
Labels: Service Bus

#32072 Enable feature set backfill with jobId and dataStatus
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/feature_set_backfill_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_backfill_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_backfill_request.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_backfill_request.py
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/feature_set_backfill_request.yml
Labels: Machine Learning, customer-reported, Community Contribution

#32335 Added Signaling features to GA2
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_serialization.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/test_call_connection_client.py
Labels: Communication

#32329 Use latest swagger
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/assets.json
  sdk/search/azure-search-documents/azure/search/documents/_api_versions.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_search_index_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_search_service_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/models/__init__.py
  sdk/search/azure-search-documents/samples/sample_vector_search.py
  sdk/search/azure-search-documents/tests/test_search_indexer_client_live.py
Labels: Search

#32327 Default exception type in exception log records
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/logs/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/logs/test_logs.py
Labels: Monitor - Exporter

#31862 [Tables] Generate code with the latest autorest
  sdk/tables/azure-data-tables/assets.json
  sdk/tables/azure-data-tables/azure/data/tables/_generated/_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_generated/_serialization.py
  sdk/tables/azure-data-tables/azure/data/tables/_generated/_vendor.py
  sdk/tables/azure-data-tables/azure/data/tables/_generated/aio/_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_generated/aio/operations/_operations.py
  sdk/tables/azure-data-tables/azure/data/tables/_generated/models/_models.py
  sdk/tables/azure-data-tables/azure/data/tables/_generated/operations/_operations.py
  sdk/tables/azure-data-tables/azure/data/tables/_serialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_batch.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_batch_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos_async.py
Labels: Tables

#31962 [EGv2] generate with newer emitter
  .vscode/cspell.json
  sdk/eventgrid/azure-eventgrid/assets.json
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_configuration.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_model_base.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_operations/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_operations/_operations.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_serialization.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_vendor.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_configuration.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_operations/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_operations/_operations.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_vendor.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/models/_models.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_acknowledge_operation_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_all_operations_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_publish_operation_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_receive_operation_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_reject_operation_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_release_operation_async.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_acknowledge_operation.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_all_operations.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_eg_client_authentication.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_publish_operation.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_receive_operation.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_reject_operation.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_release_operation.py
  sdk/eventgrid/azure-eventgrid/setup.py
  sdk/eventgrid/azure-eventgrid/tests/test_serialization.py
  sdk/eventgrid/azure-eventgrid/tsp-location.yaml
Labels: Event Grid

#32351 Sync .github/workflows directory with azure-sdk-tools for PR 7071
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#32176 [ML] chore: Bump dev version of `azure-ai-ml` to 1.12.0
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#32358 Sync eng/common directory with azure-sdk-tools for PR 7072
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: EngSys, Central-EngSys

#32135 [Identity] Add support logging flag
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
Labels: Azure.Identity

#32290 [FR] Expose send_request() to clients
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/assets.json
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_base_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_base_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_send_request_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_send_request.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_send_request.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_send_request_async.py
Labels: Cognitive - Form Recognizer

#32369 remove broker support
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
Labels: Azure.Identity

#32357 Bugfix and updated changelog
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/tests/test_call_connection_client.py
Labels: Communication

#31873 [ServiceBus] pass prefetch through for correct RECEIVE_AND_DELETE behavior
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_link_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/link.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_base.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_uamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_transport/_pyamqp_transport_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_subscriptions.py
Labels: Service Bus

#32361 Migrate feature store entity/feature set operations to use the GA version
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_entity_operations.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store_entity/unittests/test_feature_store_entity_operations.py
Labels: Machine Learning

#32386 disable broker tests
  sdk/identity/azure-identity-broker/tests/test_broker.py
  sdk/identity/ci.yml
Labels: Azure.Identity

#32368 [Storage] Update Storage ARM template for built-in Files RBAC role
  sdk/storage/test-resources.json
Labels: Storage

#32193 [EG] October Events
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
  sdk/eventgrid/azure-eventgrid/swagger/_constants.py
  sdk/eventgrid/azure-eventgrid/swagger/postprocess_eventnames.py
Labels: Event Grid

#32395 [FR] Prepare for release
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer

#32394 [AppConfig] Prepare for release
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
Labels: App Configuration

#32173 Adding changes for pstn
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/assets.json
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_api_versions.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/__init__.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/_client.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/_configuration.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/_serialization.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/__init__.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/_client.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/_configuration.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/operations/__init__.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/operations/__init__.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/operations/_operations.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_models/_models.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_rooms_client.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_version.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/aio/_rooms_client_async.py
  sdk/communication/azure-communication-rooms/swagger/README.md
  sdk/communication/azure-communication-rooms/tests/test_rooms_client.py
  sdk/communication/azure-communication-rooms/tests/test_rooms_client_async.py
Labels: Communication - Rooms

#32401 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#32364 [ML] test: Fix unittests/test_compute_operations failing for python>=3.11
  sdk/ml/azure-ai-ml/tests/compute/unittests/test_compute_operations.py
Labels: Machine Learning

#32381 [ML][Pipelines] fix: avoid depending on bytecode for Python 3.12
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_func_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_persistent_locals.py
Labels: Machine Learning

#31121 Subpartitioning Python Cosmos DB SDK
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/azure/cosmos/effective_partition_key.py
  sdk/cosmos/azure-cosmos/azure/cosmos/http_constants.py
  sdk/cosmos/azure-cosmos/azure/cosmos/partition_key.py
  sdk/cosmos/azure-cosmos/dev_requirements.txt
  sdk/cosmos/azure-cosmos/samples/config.py
  sdk/cosmos/azure-cosmos/samples/document_management.py
  sdk/cosmos/azure-cosmos/samples/document_management_async.py
  sdk/cosmos/azure-cosmos/samples/examples.py
  sdk/cosmos/azure-cosmos/samples/examples_async.py
  sdk/cosmos/azure-cosmos/test/test_config.py
  sdk/cosmos/azure-cosmos/test/test_crud_subpartition.py
  sdk/cosmos/azure-cosmos/test/test_crud_subpartition_async.py
Labels: Cosmos

#32397 Adding pstn to readme and samples for Rooms
  sdk/communication/azure-communication-rooms/README.md
  sdk/communication/azure-communication-rooms/samples/rooms_client_sample.py
  sdk/communication/azure-communication-rooms/samples/rooms_client_sample_async.py
Labels: Communication - Rooms

#32403 Azure identity 1.14.0 patch
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/_internal/__init__.py
  sdk/identity/azure-identity/azure/identity/_internal/utils.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
  sdk/identity/azure-identity/tests/test_powershell_credential.py
  sdk/identity/azure-identity/tests/test_powershell_credential_async.py
Labels: Azure.Identity

#32406 [Storage] Prepare for patch release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#32367 [ml] Make copy of featureset obj during create_update
  sdk/ml/azure-ai-ml/azure/ai/ml/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/feature_set.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
Labels: Machine Learning

#32415 [Identity] Add additional dev credential tests
  sdk/identity/azure-identity/azure/identity/_internal/msal_client.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_azd_cli_credential.py
  sdk/identity/azure-identity/tests/test_azd_cli_credential_async.py
  sdk/identity/azure-identity/tests/test_cli_credential.py
  sdk/identity/azure-identity/tests/test_cli_credential_async.py
  sdk/identity/azure-identity/tests/test_live.py
  sdk/identity/azure-identity/tests/test_live_async.py
  sdk/identity/azure-identity/tests/test_powershell_credential.py
  sdk/identity/azure-identity/tests/test_powershell_credential_async.py
Labels: Azure.Identity

#32420 Sync .github/workflows directory with azure-sdk-tools for PR 7098
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#32410 Increment version for formrecognizer releases
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Labels: Cognitive - Form Recognizer

#32402 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
Labels: App Configuration

#31096 [Cosmos] Next-Pylint support
  sdk/cosmos/azure-cosmos/azure/cosmos/_auth_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_default_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_endpoint_discovery_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/_queue_async_helper.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/base_execution_context.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/document_producer.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/endpoint_component.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/base_execution_context.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/document_producer.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/endpoint_component.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/multi_execution_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/query_execution_info.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_global_endpoint_manager.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_gone_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_location_cache.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_partition.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_query_iterable.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_range.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_range_partition_resolver.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_request_object.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_resource_throttle_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_retry_utility.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_session.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_session_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_synchronized_request.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_timeout_failover_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_asynchronous_request.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_auth_policy_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_global_endpoint_manager_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_query_iterable_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_retry_utility_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_scripts.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_user.py
  sdk/cosmos/azure-cosmos/azure/cosmos/auth.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/azure/cosmos/scripts.py
  sdk/cosmos/azure-cosmos/azure/cosmos/user.py
Labels: Cosmos

#32419 improve typing
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
  sdk/search/azure-search-documents/samples/async_samples/sample_analyze_text_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_authentication_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_autocomplete_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_buffered_sender_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_crud_operations_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_data_source_operations_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_facet_query_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_filter_query_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_get_document_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_index_alias_crud_operations_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_index_crud_operations_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_indexers_operations_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_semantic_search_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_simple_query_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_suggestions_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_synonym_map_operations_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_vector_search_async.py
  sdk/search/azure-search-documents/samples/sample_analyze_text.py
  sdk/search/azure-search-documents/samples/sample_authentication.py
  sdk/search/azure-search-documents/samples/sample_autocomplete.py
  sdk/search/azure-search-documents/samples/sample_buffered_sender.py
  sdk/search/azure-search-documents/samples/sample_crud_operations.py
  sdk/search/azure-search-documents/samples/sample_data_source_operations.py
  sdk/search/azure-search-documents/samples/sample_facet_query.py
  sdk/search/azure-search-documents/samples/sample_filter_query.py
  sdk/search/azure-search-documents/samples/sample_get_document.py
  sdk/search/azure-search-documents/samples/sample_index_alias_crud_operations.py
  sdk/search/azure-search-documents/samples/sample_index_crud_operations.py
  sdk/search/azure-search-documents/samples/sample_indexer_datasource_skillset.py
  sdk/search/azure-search-documents/samples/sample_indexers_operations.py
  sdk/search/azure-search-documents/samples/sample_semantic_search.py
  sdk/search/azure-search-documents/samples/sample_simple_query.py
  sdk/search/azure-search-documents/samples/sample_suggestions.py
  sdk/search/azure-search-documents/samples/sample_synonym_map_operations.py
  sdk/search/azure-search-documents/samples/sample_vector_search.py
Labels: Search

#32424 [Storage] Bump versions after release STG90 v4
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#32206 [ML][Pipelines] feat: support data binding expression in inline parallel job
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/fields.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/pipeline_parallel_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parallel/parallel_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_mldesigner_imports.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_controlflow_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/pipeline_job_with_parallel_job_with_input_bindings.yml
Labels: Machine Learning, ML-Pipelines

#32429 Syncing GA2 changes with main
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/README.md
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_api_versions.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_enums.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_utils.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_version.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/callautomation_test_case.py
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_create_VOIP_call_and_answer_then_hangup.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_dtmf_actions_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_media_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/test_call_connection_client.py
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
  sdk/communication/azure-communication-callautomation/tests/test_callautomation_client.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_callautomation_client.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_media_client.py
Labels: Communication

#32218 [Storage] Deprecate `BlobProperties` as `blob` or `name` parameter input
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
Labels: Storage

#32433 [ml] Upgrade pydash dependency
  sdk/ml/azure-ai-ml/setup.py
Labels: Machine Learning

#32431 docs: redirect proxy to example file
  sdk/eventhub/azure-eventhub/TROUBLESHOOTING.md
Labels: Event Hubs, customer-reported, Community Contribution

#32438 [ServiceBus] update release date
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#32362 Sync eng/common directory with azure-sdk-tools for PR 7067
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#32331 Allow Azure Core Tracing disablement in auto-instrumentation
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_autoinstrumentation/distro.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_util/configurations.py
  sdk/monitor/azure-monitor-opentelemetry/tests/autoinstrumentation/test_distro.py
Labels: Monitor - Distro

#31646 [Storage] Next-Pylint `azure-storage-blob` hotfix
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
Labels: Storage

#31996 [Key Vault] Implement abstract RSA key interfaces from `cryptography`
  .vscode/cspell.json
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/assets.json
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_models.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
Labels: KeyVault, Client

#32448 [Personalizer] fix pylint next
  sdk/personalizer/azure-ai-personalizer/azure/ai/personalizer/_operations/_operations.py
  sdk/personalizer/azure-ai-personalizer/azure/ai/personalizer/aio/_operations/_operations.py
Labels: Cognitive - Personalizer

#32451 Reroute communication CI to not run py311 on Windows
  sdk/communication/ci.yml
Labels: Communication

#32444 added vector_filter_mode support
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/models/__init__.py
  sdk/search/azure-search-documents/samples/async_samples/sample_vector_search_async.py
  sdk/search/azure-search-documents/samples/sample_vector_search.py
Labels: Search

#32442 make allow_broker default to True
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_browser.py
  sdk/identity/azure-identity-broker/azure/identity/broker/_user_password.py
  sdk/identity/azure-identity-broker/tests/test_broker.py
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#32445 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus

#32235 azure confidential ledger next-pylint error fixes #31621
  sdk/confidentialledger/azure-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_operations/_operations.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_version.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/aio/_operations/_operations.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_operations/_operations.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/aio/_operations/_operations.py
  sdk/confidentialledger/azure-confidentialledger/swagger/README.md
Labels: Confidential Ledger, pylint

#32399 Use correct argument for ClientSecretCredential
  doc/sphinx/python_mgmt_migration_guide.rst
Labels: customer-reported, Community Contribution

#32452 Sync eng/common directory with azure-sdk-tools for PR 7106
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#32449 [Test Proxy] Automatically rotate local certificate
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
Labels: EngSys, test-proxy

#32450 Add Python 3.12 Back for ML
  eng/pipelines/templates/stages/platform-matrix-ml.json
  sdk/ml/ci.yml
Labels: Machine Learning

#32467 Communication Tests Reroute
  sdk/communication/tests.yml
Labels: Communication

#32462 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
Labels: KeyVault

#32468 [EG] changelog date
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
Labels: Event Grid

#32469 Stop using removed platform-matrix for `ml` `livetests`
  sdk/ml/tests.yml
Labels: Machine Learning

#32474 [FR] Fix next-pylint errors
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
Labels: Cognitive - Form Recognizer

#32456 Cleaning up tox dispatch script
  eng/pipelines/generate-all-docs.yml
  eng/pipelines/templates/jobs/tests-nightly-python.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/steps/analyze.yml
  eng/pipelines/templates/steps/build-extended-artifacts.yml
  eng/pipelines/templates/steps/build-test.yml
  eng/pipelines/templates/steps/run_apistub.yml
  eng/pipelines/templates/steps/run_bandit.yml
  eng/pipelines/templates/steps/run_breaking_changes.yml
  eng/pipelines/templates/steps/run_mypy.yml
  eng/pipelines/templates/steps/run_pylint.yml
  eng/pipelines/templates/steps/run_pyright.yml
  scripts/devops_tasks/dispatch_tox.py
  scripts/devops_tasks/setup_execute_tests.py
  scripts/devops_tasks/tox_harness.py
Labels: customer-reported, Community Contribution

#32453 [Key Vault] Explicitly mention `str` input for `api_version` kwargs
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_settings_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_settings_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/_client.py
Labels: KeyVault, Client

#32476 [Test Proxy] Reduce excessive logging during tests
  sdk/conftest.py
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
Labels: EngSys, test-proxy

#32461 Replace azure-identity AAD references
  .vscode/cspell.json
  sdk/identity/azure-identity-broker/azure/identity/broker/_browser.py
  sdk/identity/azure-identity-broker/azure/identity/broker/_user_password.py
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TOKEN_CACHING.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/azure/identity/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_assertion.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_credentials/workload_identity.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_client.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_assertion.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/workload_identity.py
  sdk/identity/azure-identity/samples/azure-aad-auth-with-redis-py.md
  sdk/identity/azure-identity/samples/azure-aad-auth-with-redis.py
  sdk/identity/azure-identity/samples/client_certificate_credential.md
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/pod-identity/readme.md
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_aad_client_async.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity

#32466 Increment version for identity releases
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_version.py
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#32472 Increment version for communication releases
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_version.py
  sdk/communication/azure-communication-rooms/setup.py
Labels: Communication - Rooms

#32470 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#32465 [ml] Update changelog for 1.11.1 to note security patch
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#32488 Expose new types
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
Labels: Search

#32446 [Storage] Prepare for STG91 Preview Release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/assets.json
  sdk/storage/azure-storage-queue/azure/storage/queue/_serialize.py
Labels: Storage

#32487 Increment version for ml releases
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#32493 [Storage] Fix failing audience tests in test pipeline
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/tests/test_datalake_service_client_async.py
Labels: Storage

#32495 fix index_projections
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
Labels: Search

#32284 Update AutoML NLP Docstrings and Samples
  sdk/ml/azure-ai-ml/azure/ai/ml/automl/_automl_nlp.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/nlp/automl_nlp_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/nlp/nlp_featurization_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/nlp/nlp_fixed_parameters.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/nlp/nlp_limit_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/nlp/nlp_search_space.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/nlp/nlp_sweep_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/nlp/text_classification_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/nlp/text_classification_multilabel_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/nlp/text_ner_job.py
  sdk/ml/azure-ai-ml/samples/ml_samples_automl_nlp.py
Labels: customer-reported, Community Contribution

#32053 [QA] regen for next-pyright/pylint
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_vendor.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_operations/_operations.py
Labels: Cognitive - Language

#32387 Sync eng/common directory with azure-sdk-tools for PR 7075
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#32018 [ACR] Improve typing
  sdk/containerregistry/azure-containerregistry/README.md
  sdk/containerregistry/azure-containerregistry/azure/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_anonymous_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_authentication_policy.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_download_stream.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_serialization.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_vendor.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_vendor.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_enums.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_patch.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_anonymous_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_authentication_policy.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_download_stream.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_exchange_client.py
  sdk/containerregistry/azure-containerregistry/pyproject.toml
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_images.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_images_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_tags.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_hello_world.py
  sdk/containerregistry/azure-containerregistry/samples/sample_hello_world_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_list_tags.py
  sdk/containerregistry/azure-containerregistry/samples/sample_list_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_get_image.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_get_image_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_image_properties.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_image_properties_async.py
  sdk/containerregistry/azure-containerregistry/samples/utilities.py
Labels: Container Registry

#32522 [Storage] Fix failing audience tests
  sdk/storage/azure-storage-queue/assets.json
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
Labels: Storage

#32521 [SchemaRegistry] reroute CI to not run windows311
  sdk/schemaregistry/azure-schemaregistry/dev_requirements.txt
  sdk/schemaregistry/ci.yml
  sdk/schemaregistry/tests.yml
Labels: Schema Registry

#32490 Fix area codes test
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client_async.py
Labels: Communication - Phone Numbers

#32463 Sync eng/common directory with azure-sdk-tools for PR 7113
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#32539 Use auth code flow rather than acquire_token_interactive
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
Labels: Azure.Identity

#32523 Add validation to offline store target
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/_constants.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
Labels: customer-reported, Community Contribution

#32524 [Storage] Prep for STG91 release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/assets.json
  sdk/storage/azure-storage-queue/azure/storage/queue/_serialize.py
Labels: Storage

#32542 [ML] fix: Bump `azure-pylint-guidelines-checker` version in `pre-commit` config
  sdk/ml/azure-ai-ml/.pre-commit-config.yaml
Labels: Machine Learning

#32545 [Cosmos] update version for release
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/setup.py
Labels: Cosmos

#32510 Mark inactive packages
  sdk/metricsadvisor/azure-ai-metricsadvisor/pyproject.toml
  sdk/metricsadvisor/azure-ai-metricsadvisor/setup.py
  sdk/personalizer/azure-ai-personalizer/pyproject.toml
  sdk/personalizer/azure-ai-personalizer/setup.py
Labels: Cognitive - Personalizer, Cognitive - Metrics Advisor

#32548 [Acs JobRouter] Update readme and samples
  sdk/communication/azure-communication-jobrouter/README.md
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_operations/_patch.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_patch.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_operations/_patch.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_patch.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/models/_patch.py
  sdk/communication/azure-communication-jobrouter/samples/classification_policy_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/classification_policy_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/distribution_policy_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/distribution_policy_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/exception_policy_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/exception_policy_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/job_queue_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/job_queue_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/router_worker_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/router_worker_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/tests/_router_test_case.py
  sdk/communication/azure-communication-jobrouter/tests/_router_test_case_async.py
  sdk/communication/azure-communication-jobrouter/tests/_validators.py
  sdk/communication/azure-communication-jobrouter/tests/test_assignment_scenario.py
  sdk/communication/azure-communication-jobrouter/tests/test_assignment_scenario_async.py
  sdk/communication/azure-communication-jobrouter/tests/test_classification_policy.py
  sdk/communication/azure-communication-jobrouter/tests/test_classification_policy_async.py
  sdk/communication/azure-communication-jobrouter/tests/test_distribution_policy.py
  sdk/communication/azure-communication-jobrouter/tests/test_distribution_policy_async.py
  sdk/communication/azure-communication-jobrouter/tests/test_exception_policy.py
  sdk/communication/azure-communication-jobrouter/tests/test_exception_policy_async.py
  sdk/communication/azure-communication-jobrouter/tests/test_job_queue.py
  sdk/communication/azure-communication-jobrouter/tests/test_job_queue_async.py
  sdk/communication/azure-communication-jobrouter/tests/test_model_router_job.py
  sdk/communication/azure-communication-jobrouter/tests/test_router_job.py
  sdk/communication/azure-communication-jobrouter/tests/test_router_job_async.py
  sdk/communication/azure-communication-jobrouter/tests/test_worker.py
  sdk/communication/azure-communication-jobrouter/tests/test_worker_async.py
Labels: Communication - Job Router

#32550 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#32552 [Storage] Bump versions after STG91 preview release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#32554 Bump python stress images and addons
  sdk/eventhub/azure-eventhub/stress/Chart.lock
  sdk/eventhub/azure-eventhub/stress/Chart.yaml
  sdk/eventhub/azure-eventhub/stress/Dockerfile
  sdk/servicebus/azure-servicebus/stress/Chart.lock
  sdk/servicebus/azure-servicebus/stress/Chart.yaml
  sdk/servicebus/azure-servicebus/stress/Dockerfile
Labels: Central-EngSys

#32505 [Monitor Distro] Update broken link
  sdk/monitor/azure-monitor-opentelemetry/README.md
Labels: Monitor - Distro

#32528 Update python version for virtualenv issues
  sdk/communication/azure-communication-phonenumbers/phonenumbers-livetest-matrix.json
Labels: Communication - Phone Numbers

#32541 Update feature store related entities to use the GA version
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_feature_store_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/feature_set.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_backfill_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_backfill_request.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_materialization_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_specification.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/materialization_compute_resource.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/materialization_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store_entity/data_column.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store_entity/feature_store_entity.py
Labels: Machine Learning

#32556 [eventhub] Fixed local variable's name typo in eventhub
  sdk/eventhub/azure-eventhub/tests/unittest/asynctests/test_in_memory_checkpointstore.py
Labels: Event Hubs, customer-reported, Community Contribution

#32568 Fix identity-broker sdist
  sdk/identity/azure-identity-broker/MANIFEST.in
Labels: Azure.Identity

#32569 skip pyright for now
  sdk/translation/azure-ai-translation-document/pyproject.toml
Labels: Cognitive - Translator

#32543 capture request data with aiohttp multipart/form-data
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py
  sdk/core/azure-core/tests/async_tests/test_rest_http_response_async.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/multipart.py
Labels: Azure.Core

#32584 [Storage] Re-record flaky test
  sdk/storage/azure-storage-blob/assets.json
Labels: Storage

#32587 Sync eng/common directory with azure-sdk-tools for PR 7171
  eng/common/TestResources/Update-TestResources.ps1
Labels: EngSys, Central-EngSys

#32586 [CI] Update mypy/pyright tox scripts
  eng/tox/run_mypy.py
  eng/tox/run_pyright.py
  sdk/core/corehttp/pyproject.toml
Labels: Azure.Core

#32575 Review fixes and added signaling feature
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_serialization.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/test_call_connection_client.py
Labels: Communication

#32598 Fixed review comments
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
Labels: Communication

#32600 Updated docstring
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
Labels: Communication

#32581 aiohttp multipart/form-data fix applied to corehttp
  sdk/core/corehttp/CHANGELOG.md
  sdk/core/corehttp/corehttp/_version.py
  sdk/core/corehttp/corehttp/transport/aiohttp/_aiohttp.py
  sdk/core/corehttp/tests/async_tests/test_rest_http_response_async.py
  sdk/core/corehttp/tests/testserver_tests/coretestserver/coretestserver/test_routes/multipart.py
Labels: Core.Http

#32602 added semantic query
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
Labels: Search

#32590 Rebalance Build Matrix
  eng/pipelines/templates/stages/platform-matrix-cryptography-dependency.json
  eng/pipelines/templates/stages/platform-matrix-excluding-pypy.json
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/attestation/ci.yml
  sdk/eventhub/ci.yml
  sdk/identity/platform-matrix.json
  sdk/keyvault/ci.yml
  sdk/metricsadvisor/ci.yml
  sdk/schemaregistry/ci.yml
  sdk/storage/ci.yml
Labels: Storage, KeyVault, Event Hubs, Azure.Identity, Schema Registry, Cognitive - Metrics Advisor

#32298 [EventHubs] update samples for next-mypy
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_blobstoragecsaio.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/dev_requirements.txt
  sdk/eventhub/azure-eventhub/pyproject.toml
  sdk/eventhub/azure-eventhub/samples/async_samples/authenticate_with_azure_sas_credential_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/authenticate_with_sas_token_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/iot_hub_connection_string_receive_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/proxy_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_checkpoint_by_event_count_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_checkpoint_by_time_interval_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/authenticate_with_azure_sas_credential.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/authenticate_with_sas_token.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_with_checkpoint_by_event_count.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_with_checkpoint_by_time_interval.py
Labels: Event Hubs

#32643 [ml] fix drop required rules from workspace update request
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
Labels: Machine Learning

#31513 [SB] Update max_wait_time docstrings
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/auto_lock_renew_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/deadletter_messages_and_correct_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_deadlettered_messages_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_deferred_message_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_subscription_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/session_send_receive_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/topic_subscription_with_rule_operations_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/auto_lock_renew.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/deadletter_messages_and_correct.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_deadlettered_messages.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_deferred_message_queue.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_queue.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_subscription.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/session_send_receive.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/topic_subscription_with_rule_operations.py
Labels: Service Bus

#32520 Update SDK to Support Serverless Custom VNet on Workspace Create and Update
  sdk/ml/azure-ai-ml/.pre-commit-config.yaml
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/serverless_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/model_batch_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/feature_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_schedule/schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/diagnose.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/serverless_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/test_configs/workspace/workspace_full.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace/workspace_min_with_serverless.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace/workspace_serverless.yaml
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_entity.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning, ML-Workspace

#32531 Bump restclient version for model package and model ops
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/assets/package/model_package.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/_package/base_environment_source.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/_package/inferencing_server.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/_package/model_package.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/tests/model_package/e2etests/test_model_package_operation.py
  sdk/ml/azure-ai-ml/tests/test_configs/model_package/model_package_config_copy.yml
  sdk/ml/azure-ai-ml/tests/test_configs/model_package/model_package_simple.yml
Labels: Machine Learning

#32579 Connection changes ignite
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/workspace_connection_subtypes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_workspace_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection_subtypes.py
  sdk/ml/azure-ai-ml/cspell.json
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/cog_search.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/cog_service.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/git_pat.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/open_ai.yaml
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace_connections.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_connection_entity.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_connection_operations.py
Labels: Machine Learning, ML-WorkspaceConnections

#32660 [Storage] Add information about parquet in documentation
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
Labels: Storage

#32665 Update recordings for feature_set/feautre_store_entity e2e tests
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/tests/feature_set/e2etests/test_feature_set.py
Labels: Machine Learning

#32694 Sync eng/common directory with azure-sdk-tools for PR 7185
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#32693 [ml] featurestore remove experimental tag
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/feature_set.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_backfill_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_backfill_request.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_materialization_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_specification.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/materialization_compute_resource.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/materialization_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/materialization_type.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/feature_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/materialization_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store_entity/data_column.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store_entity/data_column_type.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store_entity/feature_store_entity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/feature_store_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
Labels: Machine Learning

#32672 allow for 'path' to be included in string inputs
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/input.py
Labels: Machine Learning

#32670 Update datastatus to accept enum
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/data_availability_status.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
Labels: customer-reported, Community Contribution

#32701 Support Secret Injection for AI Deployment
  .vscode/cspell.json
  sdk/ai/azure-ai-generative/azure/ai/generative/entities/deployment.py
  sdk/ai/azure-ai-generative/azure/ai/generative/entities/deployment_keys.py
  sdk/ai/azure-ai-generative/azure/ai/generative/entities/managed_identity.py
  sdk/ai/azure-ai-generative/azure/ai/generative/operations/_deployment_operations.py
Labels: AI

#32702 Update simulator SDK to current spec
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/_conversation/conversation.py
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/simulator/simulator.py
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/templates/_templates.py
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/templates/simulator_templates.py
  sdk/ai/azure-ai-generative/setup.py
Labels: customer-reported, Community Contribution, AI

#32705 Clean up _all_ the usages of a non-existent matrix
  sdk/communication/ci.yml
  sdk/communication/tests.yml
  sdk/schemaregistry/tests.yml
  sdk/tables/ci.yml
Labels: Tables, Schema Registry, Communication

#32722 rename mlindex to index and data type to file/folder/table
  sdk/ai/azure-ai-generative/azure/ai/generative/_ai_client.py
  sdk/ai/azure-ai-generative/azure/ai/generative/constants/_common.py
  sdk/ai/azure-ai-generative/azure/ai/generative/entities/__init__.py
  sdk/ai/azure-ai-generative/azure/ai/generative/entities/connection_subtypes.py
  sdk/ai/azure-ai-generative/azure/ai/generative/entities/data.py
  sdk/ai/azure-ai-generative/azure/ai/generative/entities/mlindex.py
  sdk/ai/azure-ai-generative/azure/ai/generative/functions/build_mlindex.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/__init__.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_build_mlindex.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_functions.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_mlindex.py
  sdk/ai/azure-ai-generative/azure/ai/generative/operations/_data_operations.py
  sdk/ai/azure-ai-generative/azure/ai/generative/operations/_mlindex_operations.py
Labels: AI

#32732 Fix bug - accidentally removed exported class from init file.
  sdk/ai/azure-ai-generative/azure/ai/generative/entities/__init__.py
Labels: AI

#32736 Fix How Endpoint Is Retrieved for ACS Index
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_mlindex.py
Labels: AI

#32668 fix arm template workspace connection inconsistency, set tls version >= 1.2
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_deployment_executor.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
Labels: Machine Learning

#32716 fix feature store create cross resource group bug when using storage account to override
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
Labels: Machine Learning

#32698 Update django secret key
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/django/sample/sample/settings.py
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/samples/tracing/django/sample/sample/settings.py
Labels: Monitor - Exporter, Monitor - Distro

#32696 [AI] test: Add conftest
  sdk/ai/azure-ai-generative/tests/conftest.py
Labels: AI

#32740 Point dev_requirements to ML SDK for AI SDKs
  sdk/ai/azure-ai-generative/dev_requirements.txt
  sdk/ai/azure-ai-resources/dev_requirements.txt
Labels: AI

#32734 Updated task type and artifact download for evaluation
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/__init__.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_base_handler.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_constants.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_evaluate.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_evaluation_result.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_metric_handler.py
Labels: AI

#32742 fix lingering files to use new Connections
  sdk/ai/azure-ai-generative/azure/ai/generative/entities/configs.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_utils/connections.py
Labels: AI

#32655 Add bearer token provider
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_bearer_token_provider.py
  sdk/identity/azure-identity/azure/identity/aio/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_bearer_token_provider.py
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/test_bearer_token_provider.py
  sdk/identity/azure-identity/tests/test_bearer_token_provider_async.py
Labels: Azure.Identity

#32744 Fix connection references in resources package
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/configs.py
  sdk/ai/azure-ai-resources/azure/ai/resources/index/_utils/connections.py
Labels: AI

#32727 [FormRecognizer] Fix document formula data type
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
Labels: customer-reported, Cognitive - Form Recognizer, Community Contribution

#32606 [CI] Updates for improved `corehttp` testing
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/steps/analyze.yml
  eng/pipelines/templates/steps/run_black.yml
  eng/pipelines/templates/steps/run_mypy.yml
  eng/pipelines/templates/steps/run_pylint.yml
  eng/pipelines/templates/steps/run_pyright.yml
  eng/tox/tox.ini
  scripts/devops_tasks/set_tox_environment.py
  scripts/devops_tasks/validate_formatting.py
  sdk/core/corehttp/corehttp/transport/aiohttp/_aiohttp.py
  sdk/core/corehttp/dev_requirements.txt
  sdk/core/corehttp/pyproject.toml
  sdk/core/corehttp/samples/sample_async_pipeline_client.py
  sdk/core/tests.yml
Labels: Azure.Core

#32749 update changelog
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#32751 [Test Proxy] Fix certificate trusting for async tests on latest Core
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
Labels: EngSys, test-proxy

#32564 App Config Provider - Fix Correlation Context
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/assets.json
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
Labels: App Configuration Provider

#32691 [Identity] Documentation updates
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/samples/README.md
Labels: Azure.Identity
