Repository Azure/azure-sdk-for-python, pull requests merged in 2023-08, with the labels that each got.

#31368 [ML][Pipeline]fix: support uploading relative symbol link
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_fileshare_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/_additional_includes.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_asset_utils.py
Labels: Machine Learning, ML-Pipelines

#31392 Multi-vector search
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_serialization.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_search_index_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_serialization.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_search_service_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/samples/async_samples/sample_vector_search_async.py
  sdk/search/azure-search-documents/samples/sample_vector_search.py
Labels: Search

#31191 Add OneLake datastore
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_datastore/one_lake.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/datastore.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/one_lake.py
  sdk/ml/azure-ai-ml/tests/datastore/unittests/test_datastore_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/datastore/one_lake.yml
Labels: Machine Learning

#31388 Sync eng/common directory with azure-sdk-tools for PR 6611
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/onboarding/README.me
Labels: EngSys, Central-EngSys

#31411 Update dev_requirements.txt for dev core/identity
  sdk/cosmos/azure-cosmos/dev_requirements.txt
Labels: Cosmos

#31412 [Cosmos] fix async query samples
  sdk/cosmos/azure-cosmos/samples/examples_async.py
  sdk/cosmos/azure-cosmos/samples/index_management_async.py
Labels: Cosmos

#31376 [EventHubs] add kind to amqp transport files
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_configuration.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_pyamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_uamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_base_async.py
Labels: Event Hubs

#31415 [AppConfig] Fix a bug in creating FeatureFlagConfigurationSetting
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/assets.json
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_aad.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_aad_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/testcase.py
Labels: App Configuration

#31409 [formrecognizer] Address feedback
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_build_classifier_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_classify_document_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_classify_document_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_manage_classifiers_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_manage_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_build_classifier.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_classify_document.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_classify_document_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_manage_classifiers.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_manage_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_classify_document.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_classify_document_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_classifiers.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_classifiers_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_to_dict_v3.py
Labels: Cognitive - Form Recognizer

#31431 Add a type in identity
  sdk/identity/azure-identity/azure/identity/_internal/pipeline.py
Labels: Azure.Identity

#31432 Fix EH typing for tracing
  sdk/eventhub/azure-eventhub/azure/eventhub/_tracing.py
Labels: Event Hubs

#31433 Update CONTRIBUTING.md
  sdk/communication/CONTRIBUTING.md
Labels: Communication

#31234 [ML] fix(next-pylint): Resolve `arguments-differ` and `name-too-long`
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/runsettings/ai_super_computer_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_deployment/batch/batch_pipeline_component_deployment_configurations_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/featureset_spec_properties_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_utils/data_binding_expression.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/automl/image_vertical/image_model_distribution_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/automl/nlp_vertical/nlp_parameter_subspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/data_transfer_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/fields.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/thresholds.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_feature_store_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/pipeline_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_endpoint/batch_endpoint.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_endpoint/endpoint.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_endpoint/online_endpoint.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/_input_output_helpers.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_attr_dict.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_pipeline_expression.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_validation.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_schema.py
Labels: Machine Learning, ML-AutoML, ML-Assets

#31434 Update tests
  sdk/search/azure-search-documents/assets.json
  sdk/search/azure-search-documents/tests/async_tests/test_search_client_buffered_sender_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_client_index_document_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_client_search_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_index_client_alias_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_index_client_data_source_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_index_client_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_index_client_skillset_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_index_client_synonym_map_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_indexer_client_live_async.py
  sdk/search/azure-search-documents/tests/test_search_client_basic_live.py
  sdk/search/azure-search-documents/tests/test_search_client_buffered_sender_live.py
  sdk/search/azure-search-documents/tests/test_search_client_index_document_live.py
  sdk/search/azure-search-documents/tests/test_search_client_search_live.py
  sdk/search/azure-search-documents/tests/test_search_index_client.py
  sdk/search/azure-search-documents/tests/test_search_index_client_alias_live.py
  sdk/search/azure-search-documents/tests/test_search_index_client_data_source_live.py
  sdk/search/azure-search-documents/tests/test_search_index_client_live.py
  sdk/search/azure-search-documents/tests/test_search_index_client_skillset_live.py
  sdk/search/azure-search-documents/tests/test_search_index_client_synonym_map_live.py
  sdk/search/azure-search-documents/tests/test_search_indexer_client_live.py
Labels: Search

#31441 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
Labels: App Configuration

#31439 [ML] fix(next-pylint): Apply rename missed in #31234
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_spec_schema.py
Labels: Machine Learning

#31444 [formrecognizer] Fix barcode tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_layout.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_layout_async.py
Labels: Cognitive - Form Recognizer

#31452 Update changelog
  sdk/core/azure-core-experimental/CHANGELOG.md
Labels: Azure.Core

#31445 [Tables] Update ci tests timeout setting
  sdk/tables/tests.yml
Labels: Tables

#31451 update timeout setting
  sdk/search/tests.yml
Labels: Search

#31335 Updated per-action callback URI override naming
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_serialization.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
Labels: Communication

#31455 update docker file image
  sdk/eventhub/azure-eventhub/stress/Dockerfile
  sdk/eventhub/azure-eventhub/stress/templates/testjob.yaml
  sdk/servicebus/azure-servicebus/stress/Dockerfile
  sdk/servicebus/azure-servicebus/stress/templates/testjob.yaml
Labels: Service Bus, Event Hubs

#31456 Sync eng/common directory with azure-sdk-tools for PR 6670
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#31437 Skip publishing docs.ms for track 1 package
  sdk/core/ci.yml
Labels: Azure.Core

#31352 [EH] Partition Last Received Event Updating Fix
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_pyamqp_transport_async.py
  sdk/eventhub/azure-eventhub/dev_requirements.txt
  sdk/eventhub/azure-eventhub/tests/conftest.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_consumer_client_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_consumer_client.py
Labels: Event Hubs

#31435 [Cosmos] testing pipelines fix
  sdk/cosmos/azure-cosmos/test/test_query.py
  sdk/cosmos/azure-cosmos/test/test_query_async.py
Labels: Cosmos

#31476 Update _version.py
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#31047 [Identity] Correctly implement TokenCredential protocols
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/silent.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_internal/get_token_mixin.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_base.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/get_token_mixin.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/managed_identity_base.py
  sdk/identity/azure-identity/samples/custom_credentials.py
  sdk/identity/azure-identity/tests/test_application_credential.py
  sdk/identity/azure-identity/tests/test_application_credential_async.py
  sdk/identity/azure-identity/tests/test_auth_code.py
  sdk/identity/azure-identity/tests/test_auth_code_async.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_chained_credential.py
  sdk/identity/azure-identity/tests/test_chained_token_credential_async.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  sdk/identity/azure-identity/tests/test_get_token_mixin.py
  sdk/identity/azure-identity/tests/test_get_token_mixin_async.py
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
  sdk/identity/azure-identity/tests/test_obo.py
  sdk/identity/azure-identity/tests/test_obo_async.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
  sdk/identity/azure-identity/tests/test_vscode_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential_async.py
Labels: Client, Azure.Identity

#31464 [formrecognizer] GA docs updates
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_analysis_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_analysis_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
Labels: Cognitive - Form Recognizer

#31454 Identity changelog
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#31416 Use relative path in dev_requirements
  sdk/agrifood/azure-agrifood-farming/dev_requirements.txt
  sdk/appconfiguration/azure-appconfiguration-provider/dev_requirements.txt
  sdk/servermanager/azure-mgmt-servermanager/MANIFEST.in
  sdk/servermanager/azure-mgmt-servermanager/README.md
  sdk/servermanager/azure-mgmt-servermanager/dev_requirements.txt
  sdk/servermanager/azure-mgmt-servermanager/setup.py
  sdk/translation/azure-ai-translation-text/dev_requirements.txt
Labels: AgriFood, App Configuration Provider

#31242 [Storage] Paginated delete for datalake directories
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_azure_data_lake_storage_restapi.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_configuration.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_serialization.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/_azure_data_lake_storage_restapi.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/_configuration.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_path_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_file_system_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_path_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/swagger/README.md
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.pyTestFiletest_delete_file_oauth.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.pyTestFileAsynctest_delete_file_oauth.json
  sdk/storage/azure-storage-file-datalake/tests/test_directory.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared_access_signature.py
Labels: Storage

#31483 [formrecognizer] Rename samples directory
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_analysis_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_analysis_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_business_cards_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_custom_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_general_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_identity_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_invoices_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_layout_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_read_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_tax_us_w2_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_authentication_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_build_classifier_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_build_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_classify_document_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_classify_document_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_convert_to_and_from_dict_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_copy_model_to_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_get_elements_with_spans_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_get_operations_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_get_words_on_document_line_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_manage_classifiers_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_manage_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_business_cards.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_custom_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_general_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_identity_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_invoices.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_layout.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_read.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_receipts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_tax_us_w2.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_authentication.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_build_classifier.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_build_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_classify_document.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_classify_document_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_convert_to_and_from_dict.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_copy_model_to.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_get_elements_with_spans.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_get_operations.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_get_words_on_document_line.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_manage_classifiers.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_manage_models.py
Labels: Cognitive - Form Recognizer

#31492 update changelog
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search

#31484 [formrecognizer] Readme update
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Cognitive - Form Recognizer

#31485 [formrecognizer] Add tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_to_dict_v3.py
Labels: Cognitive - Form Recognizer

#31495 [formrecognizer] Update setup.py
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
Labels: Cognitive - Form Recognizer

#31504 remove pyright config for clu
  sdk/cognitivelanguage/azure-ai-language-conversations/pyrightconfig.json
Labels: Cognitive - Language

#31469 [ML][Pipelines] fix: accept PathLike as code of CommandComponent
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/code.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/command_component.py
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_command_component_with_pathlike_as_code.json
Labels: Machine Learning, ML-Pipelines

#31178 [ML][Pipelines]feat: support component download
  sdk/ml/azure-ai-ml/.pre-commit-config.yaml
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_artifact_utilities.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_schema/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_schema/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/parallel_task.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/fields.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job/parameterized_command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job/parameterized_spark.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/component_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/pipeline_command_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/pipeline_parallel_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/schedule/create_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/environment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/code.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/command_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/parallel_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/spark_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_mixins.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_code_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/tests/code_asset/e2etests/test_code.py
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_component_operations.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_parallel_component_entity.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_component.py
  sdk/ml/azure-ai-ml/tests/recordings/code_asset/e2etests/test_code.pyTestCodetest_download_directory_code.json
  sdk/ml/azure-ai-ml/tests/recordings/code_asset/e2etests/test_code.pyTestCodetest_download_file_code.json
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_component_download[command].json
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_component_download[command_with_code].json
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_component_download[command_with_env_inline].json
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_component_download[command_with_env_path].json
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_component_download[parallel_with_code].json
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_component_download[parallel_with_env_and_code].json
  sdk/ml/azure-ai-ml/tests/test_configs/components/downloaded/command/component_spec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/components/downloaded/command_with_code/code/hello.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/downloaded/command_with_code/component_spec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/components/downloaded/command_with_env_inline/component_spec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/components/downloaded/command_with_env_path/component_spec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/components/downloaded/parallel_with_code/code/sample1.csv
  sdk/ml/azure-ai-ml/tests/test_configs/components/downloaded/parallel_with_code/code/simple_train.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/downloaded/parallel_with_code/code/sweep_script.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/downloaded/parallel_with_code/code/sweep_script_search.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/downloaded/parallel_with_code/code/train.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/downloaded/parallel_with_code/component_spec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/components/downloaded/parallel_with_env_and_code/code/tabular_run_with_model.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/downloaded/parallel_with_env_and_code/component_spec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/components/helloworld_parallel.yml
Labels: Machine Learning, ML-Pipelines

#31511 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#31515 expose HnswVectorSearchAlgorithmConfiguration
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
  sdk/search/azure-search-documents/samples/async_samples/sample_vector_search_async.py
  sdk/search/azure-search-documents/samples/sample_vector_search.py
Labels: Search

#31522 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#31479 Expose the parameters log_training_metrics and log_validation_loss for object detection and instance segmentation
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/automl/image_vertical/image_model_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/automl_image_object_detection_base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/image_model_settings.py
  sdk/ml/azure-ai-ml/tests/automl_job/unittests/test_automl_image_instance_segmentation.py
  sdk/ml/azure-ai-ml/tests/automl_job/unittests/test_automl_image_object_detection.py
  sdk/ml/azure-ai-ml/tests/automl_job/unittests/test_automl_image_schema.py
Labels: customer-reported, ML-AutoML, Community Contribution

#31529 Increment version for formrecognizer releases
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Labels: Cognitive - Form Recognizer

#31501 update release date
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#31526 fix tests
  sdk/communication/azure-communication-chat/tests/test_chat_client_async.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client_async.py
Labels: Communication - Chat

#31535 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#31532 [Cosmos] api review changes
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/samples/document_management.py
  sdk/cosmos/azure-cosmos/samples/document_management_async.py
  sdk/cosmos/azure-cosmos/test/test_query.py
  sdk/cosmos/azure-cosmos/test/test_query_async.py
Labels: Cosmos

#31533 [Storage] Increment versions after STG90 public preview release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#31538 [Synapse artifacts] add swagger/README.md
  sdk/synapse/azure-synapse-artifacts/swagger/README.md
Labels: Synapse

#31531 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs

#31527 [sb] mypy tracing
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/tracing.py
Labels: Service Bus

#31478 [Cosmos] async `create_database_if_not_exists` method not working when passing `offer_throughput` bugfix
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
Labels: Cosmos

#31550 [Cosmos] updating versions for stable release
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/setup.py
Labels: Cosmos

#31393 [Perf][EH/SB] Align test names with other SDKs
  sdk/eventhub/perf-tests.yml
  sdk/eventhub/perf.yml
  sdk/servicebus/perf-tests.yml
  sdk/servicebus/perf.yml
Labels: Event Hubs

#31551 Sync eng/common directory with azure-sdk-tools for PR 6739
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#31556 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#31555 [SchemaRegistry] prep release 1.3.0b2
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_encoder_protocols.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_encoder_protocol_async.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/encoder/jsonencoder/_schema_registry_json_encoder.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/encoder/jsonencoder/aio/_schema_registry_json_encoder_async.py
Labels: Schema Registry

#31248 delete is_control logic, use is primitive type replace is_control logic.
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_schema/input_output.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/input_output.py
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_pipeline_component_builder.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/condition_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/do_while.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/command_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/output.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_pipeline_expression.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_command_component_entity.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_controlflow_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_controlflow_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_group.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_component.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestDoWhilePipelinetest_do_while_pipeline_with_primitive_inputs.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestIfElsetest_do_while_combined_if_else.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestIfElsetest_dsl_condition_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestIfElsetest_dsl_condition_pipeline_with_one_branch.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestIfElsetest_dsl_condition_pipeline_with_primitive_input.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestIfElsetest_if_else_multiple_blocks.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestIfElsetest_registered_component_is_control.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestParallelForPipelinetest_parallel_for_pipeline_with_primitive_outputs.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_pipeline_component_primitive_type_consumption.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_control_flow_pipeline.pyTestControlFLowPipelineComponenttest_if_else.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_control_flow_pipeline.pyTestDoWhiletest_do_while_pipeline_with_primitive_inputs.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_control_flow_pipeline.pyTestDoWhiletest_pipeline_with_do_while_node.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_control_flow_pipeline.pyTestIfElsetest_happy_path_if_else.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_control_flow_pipeline.pyTestIfElsetest_if_else_multiple_block.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_control_flow_pipeline.pyTestIfElsetest_if_else_one_branch.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_control_flow_pipeline.pyTestIfElsetest_if_else_single_multiple_block.json
Labels: Machine Learning, ML-Pipelines, ML-Assets

#31438 update sdkv2 e2e tests for vision to use staging components
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_automl_image_classification.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_automl_image_classification_multilabel.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_automl_image_object_detection.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_automl_image_segmentation.py
Labels: customer-reported, Community Contribution

#31568 Increment version for schemaregistry releases
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_version.py
Labels: Schema Registry

#31566 [ML] chore: Run black
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_datastore/one_lake.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/sweep.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/one_lake.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/tabular/forecasting_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection.py
Labels: Machine Learning

#31414 [Confidential Ledger] Bug fix for waiting for commit
  sdk/confidentialledger/azure-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_operations/_patch.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_patch.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_version.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/aio/_operations/_patch.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/aio/_patch.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_configuration.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_operations/_operations.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/aio/_configuration.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/aio/_operations/_operations.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/receipt/_claims_digest_computation.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/receipt/_claims_models.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/receipt/_receipt_models.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/receipt/_receipt_verification.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/receipt/_utils.py
  sdk/confidentialledger/azure-confidentialledger/dev_requirements.txt
  sdk/confidentialledger/azure-confidentialledger/pyproject.toml
  sdk/confidentialledger/azure-confidentialledger/samples/get_and_verify_receipt.py
  sdk/confidentialledger/azure-confidentialledger/samples/get_receipt.py
  sdk/confidentialledger/azure-confidentialledger/samples/get_receipt_async.py
  sdk/confidentialledger/azure-confidentialledger/samples/list_ledger_entries.py
  sdk/confidentialledger/azure-confidentialledger/samples/list_ledger_entries_async.py
  sdk/confidentialledger/azure-confidentialledger/samples/manage_users.py
  sdk/confidentialledger/azure-confidentialledger/samples/manage_users_async.py
  sdk/confidentialledger/azure-confidentialledger/samples/use_collections.py
  sdk/confidentialledger/azure-confidentialledger/samples/use_collections_async.py
  sdk/confidentialledger/azure-confidentialledger/samples/verify_service.py
  sdk/confidentialledger/azure-confidentialledger/samples/verify_service_async.py
  sdk/confidentialledger/azure-confidentialledger/samples/write_to_ledger.py
  sdk/confidentialledger/azure-confidentialledger/samples/write_to_ledger_async.py
  sdk/confidentialledger/azure-confidentialledger/tests/_shared/testcase.py
  sdk/confidentialledger/azure-confidentialledger/tests/recordings/test_confidential_ledger_client.pyTestConfidentialLedgerClienttest_tls_cert_convenience_aad_user.json
  sdk/confidentialledger/azure-confidentialledger/tests/recordings/test_confidential_ledger_client.pyTestConfidentialLedgerClienttest_tls_cert_convenience_cert_user.json
  sdk/confidentialledger/azure-confidentialledger/tests/recordings/test_confidential_ledger_client_async.pyTestConfidentialLedgerClienttest_tls_cert_convenience_aad_user.json
  sdk/confidentialledger/azure-confidentialledger/tests/recordings/test_confidential_ledger_client_async.pyTestConfidentialLedgerClienttest_tls_cert_convenience_cert_user.json
  sdk/confidentialledger/azure-confidentialledger/tests/test_confidential_ledger_client.py
  sdk/confidentialledger/azure-confidentialledger/tests/test_confidential_ledger_client_async.py
Labels: Confidential Ledger

#31567 [engsys] fix: Dont skip code formatting validation when `pylint` is disabled.
  eng/pipelines/templates/steps/run_black.yml
  sdk/agrifood/azure-agrifood-farming/pyproject.toml
  sdk/anomalydetector/azure-ai-anomalydetector/pyproject.toml
  sdk/attestation/azure-security-attestation/pyproject.toml
  sdk/batch/azure-batch/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-language-spellcheck/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-autosuggest/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-customimagesearch/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-customsearch/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-entitysearch/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-imagesearch/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-newssearch/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-videosearch/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-visualsearch/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-websearch/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-vision-contentmoderator/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/pyproject.toml
  sdk/cosmos/azure-cosmos/pyproject.toml
  sdk/devcenter/azure-developer-devcenter/pyproject.toml
  sdk/deviceupdate/azure-iot-deviceupdate/pyproject.toml
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/pyproject.toml
  sdk/eventhub/azure-eventhub-checkpointstoreblob/pyproject.toml
  sdk/eventhub/azure-eventhub-checkpointstoretable/pyproject.toml
  sdk/eventhub/azure-eventhub/pyproject.toml
  sdk/iothub/azure-iot-deviceprovisioning/pyproject.toml
  sdk/keyvault/azure-keyvault/pyproject.toml
  sdk/loadtesting/azure-developer-loadtesting/pyproject.toml
  sdk/nspkg/azure-cognitiveservices-knowledge-nspkg/pyproject.toml
  sdk/nspkg/azure-cognitiveservices-language-nspkg/pyproject.toml
  sdk/nspkg/azure-cognitiveservices-nspkg/pyproject.toml
  sdk/nspkg/azure-cognitiveservices-search-nspkg/pyproject.toml
  sdk/nspkg/azure-cognitiveservices-vision-nspkg/pyproject.toml
  sdk/nspkg/azure-messaging-nspkg/pyproject.toml
  sdk/nspkg/azure-nspkg/pyproject.toml
  sdk/nspkg/azure-purview-nspkg/pyproject.toml
  sdk/nspkg/azure-synapse-nspkg/pyproject.toml
  sdk/purview/azure-purview-administration/pyproject.toml
  sdk/purview/azure-purview-catalog/pyproject.toml
  sdk/purview/azure-purview-scanning/pyproject.toml
  sdk/purview/azure-purview-sharing/pyproject.toml
  sdk/servicebus/azure-servicebus/pyproject.toml
  sdk/servicefabric/azure-servicefabric/pyproject.toml
  sdk/synapse/azure-synapse-accesscontrol/pyproject.toml
  sdk/synapse/azure-synapse-artifacts/pyproject.toml
  sdk/synapse/azure-synapse-managedprivateendpoints/pyproject.toml
  sdk/synapse/azure-synapse-monitoring/pyproject.toml
  sdk/synapse/azure-synapse-spark/pyproject.toml
  sdk/synapse/azure-synapse/pyproject.toml
  sdk/translation/azure-ai-translation-text/pyproject.toml
  sdk/webpubsub/azure-messaging-webpubsubclient/pyproject.toml
Labels: Service Bus, KeyVault, Batch, Cosmos, Event Hubs, Service Fabric, Synapse, Cognitive - Anomaly Detector, Attestation, Purview, WebPubSub, AgriFood, Device Update, CognitiveServices

#31569 [ml] Remove commented code from local job implementation
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_local_job_invoker.py
Labels: Machine Learning

#31235 [ML] chore(next-pylint): Re-enable pylint CI
  sdk/ml/azure-ai-ml/.pre-commit-config.yaml
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_fileshare_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_datastore/one_lake.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/source_process_code_metadata_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_workspace_hub/workspace_hub_config.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/one_lake.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_mixins.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace_hub/workspace_hub_config.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_code_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_local_job_invoker.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/pyproject.toml
  sdk/ml/azure-ai-ml/tests/automl_job/unittests/test_forecasting_job.py
  sdk/ml/azure-ai-ml/tests/automl_job/unittests/test_forecasting_settings.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace_connections.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_connection_entity.py
Labels: Machine Learning

#31630 [ML] fix: Add function call that was removed accidentally
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
Labels: Machine Learning

#31418 [Pylint] eh/sb pyamqp
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_encode.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_cbs_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_link_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_sasl_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_sender_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_session_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/cbs.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/error.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/link.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/sasl.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/sender.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/session.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/types.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_connection.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_encode.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_cbs_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_connection_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_link_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_sasl_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_session_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/cbs.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/error.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/link.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/sasl.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/types.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/utils.py
Labels: Service Bus, Event Hubs

#31517 Update datastore rest client to 2023-04-01-preview + OneLake datastore fixes
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_datastore/one_lake.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/_on_prem.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/_on_prem_credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/adls_gen1.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/azure_storage.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/datastore.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/one_lake.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_datastore_operations.py
  sdk/ml/azure-ai-ml/tests/batch_services/unittests/test_batch_endpoints.py
  sdk/ml/azure-ai-ml/tests/code_asset/unittests/test_code_operations.py
  sdk/ml/azure-ai-ml/tests/dataset/unittests/test_data_operations.py
  sdk/ml/azure-ai-ml/tests/dataset/unittests/test_data_utils.py
  sdk/ml/azure-ai-ml/tests/datastore/unittests/test_datastore_operations.py
  sdk/ml/azure-ai-ml/tests/datastore/unittests/test_datastore_schema.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_operations.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_operation_orchestrator.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_storage_utils.py
  sdk/ml/azure-ai-ml/tests/job_common/unittests/test_job_operations.py
  sdk/ml/azure-ai-ml/tests/model/unittests/test_model_operations.py
  sdk/ml/azure-ai-ml/tests/online_services/unittests/test_online_endpoints.py
  sdk/ml/azure-ai-ml/tests/test_configs/datastore/credential_less_one_lake.yml
  sdk/ml/azure-ai-ml/tests/test_configs/datastore/one_lake.yml
Labels: Machine Learning

#31298 [Tables] Remove unnecessary function _reraise_error()
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
Labels: Tables

#31543 update nlp tests to use prod components
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_remote_text_classification.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_remote_text_classification_multilabel.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_remote_text_ner.py
Labels: customer-reported, Community Contribution

#31660 Use observed timestamp if timestamp is None for log record
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/logs/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/logs/test_logs.py
Labels: Monitor - Exporter

#31666 [SchemaRegistry] add migration guide to deprecate avroserializer
  sdk/schemaregistry/azure-schemaregistry-avroencoder/migration_guide.md
Labels: Schema Registry

#31653 [Identity] Update documentation
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TOKEN_CACHING.md
Labels: Azure.Identity

#31670 Updated beta2 release date
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
Labels: Communication

#31675 Updated readme links
  sdk/communication/azure-communication-callautomation/README.md
Labels: Communication

#31554 add tests.yml for azure-core
  sdk/core/tests.yml
Labels: Azure.Core

#31681 [Test Proxy] Support `config` commands in `manage_recordings.py`
  doc/dev/tests.md
  scripts/manage_recordings.py
Labels: test-proxy

#31645 Enable feature store to provision network and flip public network access
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_store/feature_store_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/feature_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/e2etests/test_feature_store.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/feature_store/feature_store_full.yaml
Labels: Machine Learning, customer-reported, Community Contribution

#31682 [Identity] Disable loading profiles in powershell
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/tests/test_powershell_credential.py
  sdk/identity/azure-identity/tests/test_powershell_credential_async.py
Labels: Client, Azure.Identity

#31468 [FeatureStore] simple feature store setup
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/feature_store_role_assignments.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/feature_store_role_assignments_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/feature_store/e2etests/test_feature_store.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/recordings/feature_store/e2etests/test_feature_store.pyTestFeatureStoretest_feature_store_create_update_and_delete.json
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#31685 Update provision network to include spark
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
Labels: customer-reported, Community Contribution

#31687 [Monitor Query] Update changelog
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/setup.py
Labels: Monitor - Query

#31693 Increment version for monitor releases
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/azure/monitor/query/_version.py
Labels: Monitor - Query

#31698 [Typo] doc/dev/tests.md (five -> nine)
  doc/dev/tests.md
Labels: customer-reported, Community Contribution

#31702 [Asset Sync] Clarify test-running behavior
  doc/dev/tests.md
Labels: test-proxy

#31704 [Workspacehub] Fix project workspace Template
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
Labels: Machine Learning

#31684 [ACR] Extend weekly pipeline timeout
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
  sdk/containerregistry/azure-containerregistry/tests/testcase.py
  sdk/containerregistry/tests.yml
Labels: Container Registry

#31692 [Key Vault] Extend live pipeline timeouts
  sdk/keyvault/tests.yml
Labels: KeyVault, Client, test-reliability

#31706 minor fix for simple feature store setup
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#31581 [Azure Core Experimental] Typing Info
  sdk/core/azure-core-experimental/azure/core/experimental/transport/__init__.py
  sdk/core/azure-core-experimental/azure/core/experimental/transport/_httpx.py
  sdk/core/azure-core-experimental/azure/core/experimental/transport/_httpx_async.py
  sdk/core/azure-core-experimental/pyproject.toml
Labels: Azure.Core

#31705 Juntuchen/callback media
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
Labels: Communication

#31667 [SchemaRegistry] add avroserializer package back for deprecation
  eng/.docsettings.yml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/MANIFEST.in
  sdk/schemaregistry/azure-schemaregistry-avroserializer/README.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/__init__.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/__init__.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/__init__.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/__init__.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_abstract_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_apache_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_constants.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_schema_registry_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/_version.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/aio/__init__.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/aio/_async_lru.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/aio/_schema_registry_avro_serializer_async.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/azure/schemaregistry/serializer/avroserializer/exceptions.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/dev_requirements.txt
  sdk/schemaregistry/azure-schemaregistry-avroserializer/mypy.ini
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/README.md
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/async_samples/avro_serializer_async.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/async_samples/eventhub_receive_integration_async.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/async_samples/eventhub_send_integration_async.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/sync_samples/avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/sync_samples/eventhub_receive_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/samples/sync_samples/eventhub_send_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/sdk_packaging.toml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/setup.cfg
  sdk/schemaregistry/azure-schemaregistry-avroserializer/setup.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/conftest.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_with_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_basic_sr_avro_serializer_without_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_parse_error_schema_as_record.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_parse_record_name.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_serialize_primitive.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer.test_serialize_record.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_basic_sr_avro_serializer_with_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_basic_sr_avro_serializer_without_auto_register_schemas.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_parse_error_schema_as_record.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_parse_record_name.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_serialize_primitive.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/recordings/test_avro_serializer_async.test_serialize_record.yaml
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/test_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/test_avro_serializer_async.py
Labels: Schema Registry

#31717 [MA] get pipeline green again
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_metrics_advisor_client_live_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_credential.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_metrics_advisor_client_live.py
Labels: Cognitive - Metrics Advisor

#31709 [ml] Address apiview docstring comments for 1.10.0 release
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/input.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/output.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/command_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/samples/ml_samples_component_configurations.py
Labels: Machine Learning

#31716 [TA] skips tests failing due to service bug
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
Labels: Cognitive - Text Analytics

#31503 Environment related docs refine
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/_package/base_environment_source.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/environment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_code_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_compute_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_datastore_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_environment_operations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_misc.py
Labels: Machine Learning, customer-reported, Community Contribution

#31448 [ml] update readme link
  sdk/ml/azure-ai-ml/README.md
Labels: Machine Learning, customer-reported, Community Contribution

#31635 [Storage] Fixed cspell typos in storage-blob
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_encryption.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-blob/samples/blob_samples_client_side_encryption_keyvault.py
Labels: Storage, customer-reported, Community Contribution

#31720 1.10.0 cherry picks 8 18
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/feature_store_role_assignments.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/feature_store_role_assignments_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_store/feature_store_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/feature_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/input.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/output.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/command_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/samples/ml_samples_component_configurations.py
  sdk/ml/azure-ai-ml/tests/feature_store/e2etests/test_feature_store.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_schema.py
  sdk/ml/azure-ai-ml/tests/recordings/feature_store/e2etests/test_feature_store.pyTestFeatureStoretest_feature_store_create_update_and_delete.json
  sdk/ml/azure-ai-ml/tests/test_configs/feature_store/feature_store_full.yaml
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#30955 CallAutomation: fix documentation typo
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
Labels: customer-reported, Communication, Community Contribution

#31428 Existing signal update
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/input_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/monitor_definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/target.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/thresholds.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_monitoring.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_data_import/data_import.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/alert_notification.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/input_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/target.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/thresholds.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_schedule/schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/tests/monitoring/e2etests/test_monitor_schedule.py
  sdk/ml/azure-ai-ml/tests/monitoring/unittests/test_monitor_schedule.py
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/custom_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/data_drift_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/data_quality_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/feature_attribution_drift_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/model_performance_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/out_of_box_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/prediction_drift_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/custom.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/data_drift.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/data_quality.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/feature_attribution_drift.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/no_target_baseline_data.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/out_of_the_box.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/prediction_drift.yaml
Labels: Machine Learning

#31722 Sync eng/common directory with azure-sdk-tools for PR 6817
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#31728 Fix typo in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: customer-reported, Community Contribution

#31753 [EventHubs] update dictmixin contains test for clarity
  sdk/eventhub/azure-eventhub/tests/unittest/test_dict_mixin.py
Labels: Event Hubs

#31746 Murmurhash3 128 bit implementation in python
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_integers.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_murmurhash3.py
  sdk/cosmos/azure-cosmos/test/test_murmurhash3.py
Labels: Cosmos

#31552 Model related docs refine
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/_package/model_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/_package/model_package.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/model_batch_deployment_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_misc.py
Labels: Machine Learning, customer-reported, Community Contribution

#31768 [ML]Update template to create KV using RBAC
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
Labels: Machine Learning

#30942 EH pylint next
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_blobstoragecsaio.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/pyproject.toml
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_blobstoragecs.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/pyproject.toml
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_buffered_producer_dispatcher.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_partition_resolver.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_connection_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_connection_string_parser.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/ownership_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_mixin.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_tracing.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_pyamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_uamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_buffered_producer_dispatcher_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_partition_resolver_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/_ownership_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_pyamqp_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_uamqp_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/amqp/_amqp_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/exceptions.py
  sdk/eventhub/azure-eventhub/pyproject.toml
Labels: Event Hubs

#31519 [formrecognizer] skip failing tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_mgmt_async.py
Labels: Cognitive - Form Recognizer

#31700 Sync eng/common directory with azure-sdk-tools for PR 6782
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#31763 [Storage] Update typehints for `generate_directory_sas` API's `permission` parameter
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared_access_signature.py
Labels: Storage

#31622 fix typo in storage_blob
  sdk/storage/azure-storage-blob/azure/storage/blob/_encryption.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_encryption.py
Labels: Storage, customer-reported, Community Contribution

#31777 Sync eng/common directory with azure-sdk-tools for PR 6632
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#31663 [ml] NMS workspace managed network outbound rule operations updates
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_outbound_rule_operations.py
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_outbound_rule_operations.pyTestWorkspaceOutboundRulestest_workspace_create_with_managed_network_list_show_remove_rules.json
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace_outbound_rule_operations.py
Labels: Machine Learning

#31764 Sync eng/common directory with azure-sdk-tools for PR 6823
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#31333 [Storage] Modify UserAgent for requests using client-side encryption
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_encryption.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_v2.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_v2_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_encryption.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
Labels: Storage

#31788 [Tables] Add batch tests for url ends with table name
  sdk/tables/azure-data-tables/tests/test_table_batch.py
  sdk/tables/azure-data-tables/tests/test_table_batch_async.py
  sdk/tables/azure-data-tables/tests/test_table_batch_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_batch_cosmos_async.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_cosmos_async.py
Labels: Tables

#31688 fix failures in samples
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/refresh_sample.py
Labels: App Configuration Provider

#31658 [AppConfig] Run provider tests in live pipeline
  sdk/appconfiguration/tests.yml
Labels: App Configuration, App Configuration Provider

#30728 Beta LiveTests
  sdk/eventgrid/azure-eventgrid/assets.json
  sdk/eventgrid/azure-eventgrid/tests/conftest.py
  sdk/eventgrid/azure-eventgrid/tests/eventgrid_preparer.py
  sdk/eventgrid/azure-eventgrid/tests/test_cncf_events.py
  sdk/eventgrid/azure-eventgrid/tests/test_cncf_events_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_client_exceptions.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_exceptions.py
  sdk/eventgrid/azure-eventgrid/tests/test_exceptions_async.py
  sdk/eventgrid/test-resources.json
Labels: Event Grid

#31812 Sync eng/common directory with azure-sdk-tools for PR 6853
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#31815 Add BYO aoai support
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
Labels: Machine Learning

#31822 Fix byo aoai resource positional arg
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
Labels: Machine Learning

#31819 Updated OneLake datastore field names: artifact_name -> name, artifact_type -> type
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_datastore/one_lake.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/one_lake.py
  sdk/ml/azure-ai-ml/tests/test_configs/datastore/credential_less_one_lake.yml
  sdk/ml/azure-ai-ml/tests/test_configs/datastore/one_lake.yml
Labels: Machine Learning

#31816 Plumb EnvVars to subscription config builder to find duplicates
  eng/pipelines/templates/jobs/live.tests.yml
Labels: Central-EngSys

#31817 [Storage] Add `PremiumPageBlobTier.P15`
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
Labels: Storage

#31830 [Identity] Update async __aexit__ typing
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/aio/_internal/__init__.py
Labels: Azure.Identity

#31829 Add @experimental decorators to OneLake related classes
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/one_lake.py
Labels: Machine Learning

#31524 [Azure AMQP] Remove Deprecated SSL.Wrap_Socket
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_transport_async.py
Labels: Event Hubs

#31534 [Identity] Suppress stdin for subprocess-based creds
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
Labels: Azure.Identity

#31774 [ml] Update compute reference documentation
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/_aml_compute_node_info.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/_image_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/_schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/_vm_size.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/aml_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/compute_instance.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/kubernetes_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/unsupported_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/virtual_machine_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/materialization_compute_resource.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/compute_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/compute_runtime.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_compute_operations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_compute.py
Labels: Machine Learning

#31765 [Storage] Add clarification in docstring for `create_append_blob` function
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
Labels: Storage

#31841 [ACR] Generate code with the latest autorest
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_serialization.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_vendor.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_vendor.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_enums.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_patch.py
Labels: Container Registry

#31845 Sync eng/common directory with azure-sdk-tools for PR 6867
  eng/common/pipelines/templates/steps/docsms-ensure-validation.yml
Labels: EngSys, Central-EngSys

#31832 add msa support
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/images/MSA1.png
  sdk/identity/azure-identity/images/MSA2.png
  sdk/identity/azure-identity/images/MSA3.png
  sdk/identity/azure-identity/images/MSA4.png
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#31856 handle order_by list inputs
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_queries.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
Labels: Search

#31814 [Identity] Adjust log level for EnvCred warning
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
Labels: Azure.Identity

#31723 Adding model package for registry models, both on deployment and model operations
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/assets/package/model_package.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_scope_dependent_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_package_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_registry_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/_package/model_package.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_environment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_deployment_operations.py
  sdk/ml/azure-ai-ml/tests/model_package/unittests/test_model_package.py
  sdk/ml/azure-ai-ml/tests/test_configs/model_package/model_package_simple.yml
  sdk/ml/azure-ai-ml/tests/test_configs/model_package/online_deployment_registry_package.yml
Labels: Machine Learning

#31863 One lake cherry picks
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_datastore/one_lake.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/one_lake.py
  sdk/ml/azure-ai-ml/tests/test_configs/datastore/credential_less_one_lake.yml
  sdk/ml/azure-ai-ml/tests/test_configs/datastore/one_lake.yml
Labels: Machine Learning

#31860 [Monitor] Enable cspell for monitor packages
  .vscode/cspell.json
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_helpers.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_models.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_enums.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_models.py
Labels: Monitor - Query, Monitor - Ingestion

#31482 [Tables] Fix a bug in submit_transaction() with empty operation list
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_batch.py
  sdk/tables/azure-data-tables/tests/test_table_batch_async.py
  sdk/tables/azure-data-tables/tests/test_table_batch_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_batch_cosmos_async.py
Labels: Tables

#31869 [FeatureStore] update simple feature store set up parameter, enable hierarchical namespace
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/feature_store/e2etests/test_feature_store.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#31858 add memray as devreq
  sdk/servicebus/azure-servicebus/stress/scripts/dev_requirements.txt
Labels: Service Bus

#31881 bandit and pylint
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_constants.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/diagnostics/_status_logger.py
  sdk/monitor/azure-monitor-opentelemetry/pyproject.toml
  sdk/monitor/azure-monitor-opentelemetry/samples/tracing/simple.py
  sdk/monitor/azure-monitor-opentelemetry/setup.py
Labels: Monitor - Distro

#31868 [Storage] Remove unused typehints
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
Labels: Storage

#31886 Update import-lib version restriction to reflect opentelemetry-api
  sdk/monitor/azure-monitor-opentelemetry-exporter/setup.py
Labels: Monitor - Exporter

#31880 Use the propertyname with azureml in priority
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_ops_helper.py
Labels: Machine Learning

#31632 [ML][Pipelines] feat: load component from flow
  .vscode/cspell.json
  sdk/ml/azure-ai-ml/.pre-commit-config.yaml
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/flow.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/component_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/code.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component_factory.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/datatransfer_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/flow.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/import_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/pipeline_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/mixin.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_load_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_resource.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_validation.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/dev_requirements.txt
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_component_schema.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_flow_component.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_entity.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/additional_includes/convert_to_dict.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/additional_includes/fetch_text_content_from_url.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/additional_includes/summarize_text_content.jinja2
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/.gitignore
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/.promptflow/flow.tools.json
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/flow.dag.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/hello.jinja2
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/hello.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/requirements.txt
  sdk/ml/azure-ai-ml/tests/test_configs/flows/data/basic.jsonl
  sdk/ml/azure-ai-ml/tests/test_configs/flows/data/web_classification.jsonl
  sdk/ml/azure-ai-ml/tests/test_configs/flows/runs/basic_run.yml
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/.promptflow/flow.tools.json
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/classify_with_llm.jinja2
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/flow.dag.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/prepare_examples.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/samples.json
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/summarize_text_content__variant_1.jinja2
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/pipeline_job_with_flow.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/pipeline_job_with_flow_from_dag.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/pipeline_job_with_flow_from_run.yml
Labels: ML-Pipelines
