Repository Azure/azure-sdk-for-python, pull requests merged in 2023-03, with the labels that each got.

#29061 Sync eng/common directory with azure-sdk-tools for PR 5581
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#29041 Support for Feature store settings for workspace creation
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/compute_runtime.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/feature_store_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations.py
Labels: Machine Learning, ML-Workspace

#29071 [formrecognizer] Update changelog for release
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Cognitive - Form Recognizer

#29066 run black on personalizer to fix ci
  sdk/personalizer/azure-ai-personalizer/azure/__init__.py
  sdk/personalizer/azure-ai-personalizer/azure/ai/__init__.py
  sdk/personalizer/azure-ai-personalizer/azure/ai/personalizer/_operations/_operations.py
  sdk/personalizer/azure-ai-personalizer/azure/ai/personalizer/_patch.py
  sdk/personalizer/azure-ai-personalizer/azure/ai/personalizer/_serialization.py
  sdk/personalizer/azure-ai-personalizer/azure/ai/personalizer/aio/_operations/_operations.py
  sdk/personalizer/azure-ai-personalizer/azure/ai/personalizer/aio/_patch.py
  sdk/personalizer/azure-ai-personalizer/samples/async_samples/multi_slot_rank_actions_and_reward_events_async.py
  sdk/personalizer/azure-ai-personalizer/samples/async_samples/rank_actions_and_reward_events_async.py
  sdk/personalizer/azure-ai-personalizer/samples/multi_slot_rank_actions_and_reward_events.py
  sdk/personalizer/azure-ai-personalizer/samples/rank_actions_and_reward_events.py
  sdk/personalizer/azure-ai-personalizer/setup.py
  sdk/personalizer/azure-ai-personalizer/tests/conftest.py
  sdk/personalizer/azure-ai-personalizer/tests/personalizer_helpers.py
  sdk/personalizer/azure-ai-personalizer/tests/personalizer_helpers_async.py
  sdk/personalizer/azure-ai-personalizer/tests/test_configuration.py
  sdk/personalizer/azure-ai-personalizer/tests/test_configuration_async.py
  sdk/personalizer/azure-ai-personalizer/tests/test_evaluation.py
  sdk/personalizer/azure-ai-personalizer/tests/test_evaluation_async.py
  sdk/personalizer/azure-ai-personalizer/tests/test_event.py
  sdk/personalizer/azure-ai-personalizer/tests/test_event_async.py
  sdk/personalizer/azure-ai-personalizer/tests/test_feature_importance.py
  sdk/personalizer/azure-ai-personalizer/tests/test_feature_importance_async.py
  sdk/personalizer/azure-ai-personalizer/tests/test_log_properties.py
  sdk/personalizer/azure-ai-personalizer/tests/test_log_properties_async.py
  sdk/personalizer/azure-ai-personalizer/tests/test_model.py
  sdk/personalizer/azure-ai-personalizer/tests/test_model_async.py
  sdk/personalizer/azure-ai-personalizer/tests/test_multi_slot_event.py
  sdk/personalizer/azure-ai-personalizer/tests/test_multi_slot_event_async.py
  sdk/personalizer/azure-ai-personalizer/tests/test_multi_slot_rank.py
  sdk/personalizer/azure-ai-personalizer/tests/test_multi_slot_rank_async.py
  sdk/personalizer/azure-ai-personalizer/tests/test_rank.py
  sdk/personalizer/azure-ai-personalizer/tests/test_rank_async.py
Labels: Cognitive - Personalizer

#29070 Event Parser for Python
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_event_parser.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_communication_identifier_serializer.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_events.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_events_mapping.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
Labels: Communication

#29074 Sync eng/common directory with azure-sdk-tools for PR 5540
  eng/common/scripts/Cadl-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#29075 [Internal Component] Convert environment version to str
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_schema/environment.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_component.py
  sdk/ml/azure-ai-ml/tests/test_configs/internal/command-component/command-linux/component_with_bool_and_data_input/component.yaml
Labels: Machine Learning, ML-Pipelines

#28859 Support remaining issues in register node output
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/attr_dict.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/mixin.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_automl_dsl_pipeline.pyTestAutomlDSLPipelinetest_register_output_for_automl_classification.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_register_output_for_pipeline_component.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_register_output_sdk.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_register_output_sdk_succeed.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_register_with_output_format.json
Labels: Machine Learning, ML-Pipelines

#29052 Re-Open "test_register_output_for_anonymous_internal_component"
  sdk/ml/azure-ai-ml/tests/internal/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_register_output_for_anonymous_internal_component[test_case0].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_register_output_for_anonymous_internal_component[test_case1].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_register_output_for_anonymous_internal_component[test_case2].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_register_output_for_anonymous_internal_component[test_case3].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_register_output_for_anonymous_internal_component[test_case4].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_register_output_for_anonymous_internal_component[test_case5].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_register_output_for_anonymous_internal_component[test_case6].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_register_output_for_anonymous_internal_component[test_case7].json
Labels: Machine Learning

#29086 update formatting for python
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_recording.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
Labels: Communication

#29085 Add classifiers for Python 3.11
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/setup.py
Labels: Machine Learning

#29039 [containerregistry] fix typing errors for mypy 1.0.0
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
Labels: Container Registry

#29088 [TA] revert auto LD change
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
Labels: Cognitive - Text Analytics

#28989 [Tables] Fix async sample
  sdk/tables/azure-data-tables/samples/async_samples/sample_conditional_update_async.py
Labels: Tables, auto-merge

#29091 [Storage] Bump version for upcoming preview release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#29089 [Storage] Update token intent documentation/typing, add sample
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-file-share/samples/file_samples_authentication.py
  sdk/storage/azure-storage-file-share/samples/file_samples_authentication_async.py
Labels: Storage

#29055 [ML][Pipelines] Test: add more E2E tests on serverless compute in pipeline
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/automl/pipeline_with_instance_type.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/automl/pipeline_with_instance_type_no_default.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/automl/pipeline_without_instance_type.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/command/node_serverless_compute.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/command/node_serverless_compute_no_default.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/command/pipeline_serverless_compute.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/parallel/pipeline_serverless_compute.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/pipeline/node_serverless_compute.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/pipeline/pipeline_component_serverless.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/pipeline/pipeline_serverless_compute.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/spark/node_serverless_compute_no_default.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/spark/pipeline_serverless_compute.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/sweep/node_serverless_compute.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/sweep/node_serverless_compute_no_default.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/sweep/pipeline_serverless_compute.yml
Labels: Machine Learning, ML-Pipelines

#28962 Support download output of pipeline containing `settings` attribute
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/pipeline.py
  sdk/ml/azure-ai-ml/tests/job_common/unittests/test_job_operations.py
Labels: Machine Learning, ML-Pipelines

#29102 Re-open tests about register output
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_register_output_for_pipeline_component.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_register_with_output_format.json
Labels: Machine Learning, ML-Pipelines

#29098 change schema from mapping to dict
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_deployment/online/data_collector_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/data_collector.py
Labels: Machine Learning, ML-Inference, ML-Assets

#29113 Juntuchen/callauotomationv4
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_communication_identifier_serializer.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
Labels: Communication

#29118 fixed the circular import issue
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
Labels: Communication

#29116 Sync eng/common directory with azure-sdk-tools for PR 5603
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys, Central-EngSys

#29108 Fixing one of the samples files
  sdk/ml/azure-ai-ml/samples/ml_samples_cloud_configurations.py
Labels: Machine Learning, customer-reported

#29112 [EventHub] update devreqs for mgmt eh version
  sdk/eventhub/azure-eventhub/dev_requirements.txt
Labels: Event Hubs, auto-merge

#29058 [formrecognizer] Update error handling in samples
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_business_cards_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_custom_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_general_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_identity_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_invoices_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_layout_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_read_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_tax_us_w2_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_authentication_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_build_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_convert_to_and_from_dict_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_copy_model_to_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_elements_with_spans_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_operations_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_words_on_document_line_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_manage_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_business_cards.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_custom_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_general_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_identity_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_invoices.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_layout.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_read.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_receipts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_tax_us_w2.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_authentication.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_build_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_convert_to_and_from_dict.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_copy_model_to.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_elements_with_spans.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_operations.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_words_on_document_line.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_manage_models.py
Labels: Cognitive - Form Recognizer

#29014 Renyix/data import sdkv2
  sdk/ml/azure-ai-ml/azure/ai/ml/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_data_import/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_data_import/data_import.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_data_import/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_data_import/data_import.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/data_import/e2etests/__init__.py
  sdk/ml/azure-ai-ml/tests/data_import/e2etests/test_data_import.py
  sdk/ml/azure-ai-ml/tests/data_import/unittests/__init__.py
  sdk/ml/azure-ai-ml/tests/data_import/unittests/test_data_import.py
  sdk/ml/azure-ai-ml/tests/recordings/data_import/e2etests/test_data_import.pyTestDataImporttest_data_import.json
  sdk/ml/azure-ai-ml/tests/test_configs/data_import/data_import_database.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/data_import/data_import_e2e.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/data_import/data_import_file_system.yaml
Labels: Machine Learning

#29080 [ML][Pipelines] Set node name to component name when it's underscore
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_pipeline_component_builder.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline.py
Labels: Machine Learning, ML-Pipelines

#29037 [Identity] Add additional CAE support
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/silent.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/client_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_live.py
  sdk/identity/azure-identity/tests/test_live_async.py
Labels: Azure.Identity

#29083 Maykumar/feature store operations
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/_constants.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/feature_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/materialization_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/feature_store/__init__.py
  sdk/ml/azure-ai-ml/tests/feature_store/e2etests/__init__.py
  sdk/ml/azure-ai-ml/tests/feature_store/e2etests/test_feature_store.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/__init__.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning, ML-Workspace

#28589 [Storage] Update typing for `blob_service_client`
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
Labels: Storage

#29136 [Cosmos] Bugfix: async create_container_if_not_exists throwing unexpected keyword argument on read() method
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
Labels: Cosmos

#29142 [formrecognizer] Include typing improvements in changelog
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer

#29147 [TA] remove BooleanResolution
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/models/__init__.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/models/_models_py3.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/models/_text_analytics_client_enums.py
  sdk/textanalytics/azure-ai-textanalytics/swagger/README.md
Labels: Cognitive - Text Analytics

#29119 [TA] release prep
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Cognitive - Text Analytics

#29146 [formrecognizer] Skip tests returning a different error
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url_async.py
Labels: Cognitive - Form Recognizer

#29148 [Communication][Email] Updating user engagement tracking property name in comment
  sdk/communication/azure-communication-email/azure/communication/email/_email_client.py
  sdk/communication/azure-communication-email/azure/communication/email/aio/_email_client_async.py
Labels: Communication

#29143 Renyix/data import sdkv2
  sdk/ml/azure-ai-ml/azure/ai/ml/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_data_import/data_import.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/tests/data_import/e2etests/test_data_import.py
  sdk/ml/azure-ai-ml/tests/data_import/unittests/test_data_import.py
  sdk/ml/azure-ai-ml/tests/recordings/data_import/e2etests/test_data_import.pyTestDataImporttest_data_import.json
Labels: Machine Learning

#29053 Update data transfer component id to preview
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_component.py
  sdk/ml/azure-ai-ml/tests/recordings/data_import/e2etests/test_data_import.pyTestDataImporttest_data_import.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_data_transfer_export_sql_database_job_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_data_transfer_import_filesystem_job_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_data_transfer_import_snowflake_database_job_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_data_transfer_import_sql_database_job_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_data_transfer_multi_job_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_data_transfer_export_sql_database.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_data_transfer_import_filesystem.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_data_transfer_import_snowflake_database.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_data_transfer_import_sql_database.json
Labels: Machine Learning, ML-Pipelines

#29120 [TA] remove auto detect default language
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/assets.json
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
Labels: Cognitive - Text Analytics

#28938 Correct malformed html tag in example
  sdk/communication/azure-communication-email/samples/send_email_to_single_recipient_sample.py
Labels: customer-reported, Communication

#29140 update typing docs to point to pyproject.toml
  doc/dev/static_type_checking.md
  doc/eng_sys_checks.md
Labels: Docs

#29158 [ML] Removed Experimental Tags from OS Image Metadata
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/compute/compute_instance.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/_image_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/compute_instance.py
Labels: Machine Learning

#29138 Error message improvement
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
Labels: Machine Learning

#29167 [TA] fix formatting for docs
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_10_01_preview/models/_patch.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
Labels: Cognitive - Text Analytics

#29097 Adding featuresets and featurestoreEntities operations
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/featureset.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_featureset/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_featureset/featureset_specification.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_featureset/materialization_compute_resource.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_featureset/materialization_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_featureset/materialization_type.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_featurestore_entity/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_featurestore_entity/data_column.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_featurestore_entity/data_column_type.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_featurestore_entity/featurestore_entity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_notification/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_notification/notification.py
  sdk/ml/azure-ai-ml/azure/ai/ml/exceptions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_featureset_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_featurestore_entity_operations.py
  sdk/ml/azure-ai-ml/tests/featureset/__init__.py
  sdk/ml/azure-ai-ml/tests/featureset/unittests/__init__.py
  sdk/ml/azure-ai-ml/tests/featureset/unittests/test_featureset_operations.py
  sdk/ml/azure-ai-ml/tests/featurestore_entity/__init__.py
  sdk/ml/azure-ai-ml/tests/featurestore_entity/unittests/__init__.py
  sdk/ml/azure-ai-ml/tests/featurestore_entity/unittests/test_featurestore_entity_operations.py
Labels: Machine Learning, ML-Assets

#29171 [formrecognizer] Fix README snippet formatting
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Cognitive - Form Recognizer

#29099 [ML][Pipelines]If else multiple blocks
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/condition_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_condition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/condition_node.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_controlflow_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_controlflow_pipeline.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_control_flow_pipeline.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_controlflow_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestIfElsetest_if_else_multiple_blocks.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_control_flow_pipeline.pyTestIfElsetest_if_else_multiple_block.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_control_flow_pipeline.pyTestIfElsetest_if_else_single_multiple_block.json
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/control_flow/if_else/multiple_block.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/control_flow/if_else/single_multiple_block.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/if_else/invalid_binding.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/if_else/none_true_empty_false.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/if_else/none_true_none_false.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/if_else/true_false_intersection.yml
Labels: Machine Learning, ML-Pipelines

#29100 [bugfix]Unable to submit pipeline job pointing to a registered component
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/spark.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_command_builder.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_entity.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/kmeans_sample/pipeline.yml
Labels: Machine Learning, ML-Pipelines, ML-Assets

#29125 [ML][Pipelines] doc: update CHANGELOG.md
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning, ML-Pipelines

#29183 Update data_transfer failed test recording file and update changelog
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_data_transfer_export_sql_database_reference_component.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_data_transfer_import_filesystem_reference_component.json
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/data_transfer/export_database_to_blob_reference_component.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/data_transfer/import_file_system_to_blob_reference_component.yaml
Labels: Machine Learning, ML-Pipelines

#29188 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, auto-merge

#29159 [ML] Support queue settings property for command jobs
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job/base_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job/parameterized_command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/queue_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_job/job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/command_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parameterized_command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/queue_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/tests/command_job/e2etests/test_command_job.py
  sdk/ml/azure-ai-ml/tests/command_job/unittests/test_command_job_entity.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_command_builder.py
  sdk/ml/azure-ai-ml/tests/recordings/command_job/e2etests/test_command_job.pyTestCommandJobtest_command_job_serverless.json
  sdk/ml/azure-ai-ml/tests/test_configs/command_job/command_job_test_serverless.yml
Labels: Machine Learning, ML-Jobs, ML-Assets

#29193 [formrecognizer] Fix readme snippets
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
Labels: Cognitive - Form Recognizer

#29046 [ML] Re-enable sdk logging
  sdk/ml/azure-ai-ml/README.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_scope_dependent_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/logging_handler.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_logger_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_code_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_compute_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_datastore_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_environment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_registry_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_virtual_cluster_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_outbound_rule_operations.py
  sdk/ml/azure-ai-ml/setup.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_logger_utils.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_ml_client.py
Labels: Machine Learning, ML-Inference, ML-Registry Management, ML-Assets, ML-Workspace

#29192 Sync eng/common directory with azure-sdk-tools for PR 5627
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#29198 Increment version for textanalytics releases
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_version.py
Labels: Cognitive - Text Analytics, auto-merge

#29201 Increment version for formrecognizer releases
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Labels: Cognitive - Form Recognizer, auto-merge

#21715 Update EventHub to enable live testing in sovereign clouds for multiple services
  scripts/devops_tasks/test_run_samples.py
  sdk/eventhub/azure-eventhub/tests/conftest.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_auth_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_buffered_producer_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_consumer_client_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_negative_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_receive_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_auth.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_consumer_client.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_negative.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_receive.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_send.py
  sdk/eventhub/test-resources.json
  sdk/eventhub/tests.yml
Labels: Event Hubs, auto-merge, test-sovereign-cloud

#28761 [ServiceBus] Removed async from sync op
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
Labels: Service Bus

#29064 Update link on CLIENT_LIBRARY_DEVELOPER.md
  sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md
Labels: Azure.Core

#28558 [ServiceBus] Iterator Support
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_connection_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/test_message.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
  sdk/servicebus/azure-servicebus/tests/test_subscriptions.py
  sdk/servicebus/azure-servicebus/tests/utilities.py
Labels: Service Bus

#29010 Remove experimental decorators for registry
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/registry/registry.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/registry/system_created_storage_account.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_registry/registry.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_registry/registry_support_classes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_registry_operations.py
Labels: Machine Learning, ML-Registry Management

#29222 [Storage] Prepare hotfix for MyPy breaking errors
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
Labels: Storage

#29184 Maykumar/feature operations
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_artifact_utilities.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_store/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_store/compute_runtime_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_store/feature_store_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_store/materialization_store_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_featureset/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_featureset/delay_metadata_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_featureset/feature_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_featureset/feature_transformation_code_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_featureset/featureset_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_featureset/featureset_spec_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_featureset/featureset_specification_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_featureset/materialization_settings_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_featureset/source_metadata_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_featureset/timestamp_column_metadata_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_featurestore_entity/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_featurestore_entity/data_column_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_featurestore_entity/featurestore_entity_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_notification/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_notification/notification_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/identity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_featureset_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/featureset.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/feature_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_featureset/delay_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_featureset/feature.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_featureset/featureset_spec.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_featureset/materialization_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_featureset/source_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_featureset/timestamp_column_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_featurestore_entity/featurestore_entity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_featureset_operations.py
  sdk/ml/azure-ai-ml/local/FeatureSet.yaml
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_schema.py
  sdk/ml/azure-ai-ml/tests/featureset/unittests/test_featureset_operations.py
  sdk/ml/azure-ai-ml/tests/featureset/unittests/test_featureset_schema.py
  sdk/ml/azure-ai-ml/tests/featurestore_entity/unittests/test_featurestore_entity_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/feature_store/feature_store_full.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/featureset/featureset_full.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/featurestore_entity/featurestore_entity_full.yaml
Labels: Machine Learning, ML-Assets

#29072 App Configuration Provider Arch Review Changes
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/README.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/__init__.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_constants.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_models.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/__init__.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/aad_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/async_aad_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/async_connection_string_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/async_key_vault_reference_provided_clients_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/async_key_vault_reference_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/connection_string_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/key_vault_reference_customized_clients_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/key_vault_reference_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/recordings/test_async_provider.pyTestAppConfigurationProvidertest_provider_trim_prefixes.json
  sdk/appconfiguration/azure-appconfiguration-provider/tests/recordings/test_async_provider_aad.pyTestAppConfigurationProvidertest_provider_trim_prefixes.json
  sdk/appconfiguration/azure-appconfiguration-provider/tests/recordings/test_provider.pyTestAppConfigurationProvidertest_provider_trim_prefixes.json
  sdk/appconfiguration/azure-appconfiguration-provider/tests/recordings/test_provider_aad.pyTestAppConfigurationProvidertest_provider_trim_prefixes.json
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_aad.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_aad.py
Labels: App Configuration

#29223 [ServiceBus] merge EH pyamqp into SB pyamqp
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_cbs_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/authentication.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/cbs.py
Labels: Service Bus

#29225 fix local job run
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_local_job_invoker.py
Labels: Machine Learning

#29187 [ML][Pipelines] Enable private preview fields for primitive type output without private preview flag
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/command_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/input_output.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/pipeline_component.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_command_component_entity.py
Labels: Machine Learning, ML-Pipelines, ML-Assets

#29212 [V2 datatransfer] Don not cancel Datatransfer
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline_samples.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/test_utilities/utils.py
Labels: Machine Learning, ML-Pipelines

#29238 [ML] Update Ubuntu version used in local endpoint unit test
  sdk/ml/azure-ai-ml/tests/local_endpoint/unittests/test_devcontainer_properties.py
  sdk/ml/azure-ai-ml/tests/local_endpoint/unittests/test_devcontainer_resolver.py
Labels: Machine Learning

#29244 [ML] Update tests to use `pytorch` and `tensorflow` environments based on Ubuntu20.04 or higher
  sdk/ml/azure-ai-ml/tests/command_job/unittests/test_command_job_entity.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_mpi_hello_world.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_pytorch_hello_world.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_tf_hello_world.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_tf_mnist.json
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/mpi_hello_world/component.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/pytorch_hello_world/component.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/tf_hello_world/component.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/tf_mnist/component.yml
Labels: Machine Learning

#29252 [ServiceBus] prep release 7.8.3
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus, auto-merge

#29251 [ServiceBus] update pyproto b1 version/changelog/readme
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/samples/README.md
Labels: Service Bus, auto-merge

#29232 App Configuration Provider GA
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/README.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/README.md
  sdk/appconfiguration/azure-appconfiguration-provider/samples/async_connection_string_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/connection_string_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/sdk_packaging.toml
Labels: App Configuration

#29204 [ML] Support QueueSettings in AutoML and Sweep jobs
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_sweep/parameterized_sweep.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/automl/automl_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/sweep.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/automl_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/image_classification_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/image_classification_multilabel_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/image_instance_segmentation_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/image_object_detection_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/nlp/text_classification_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/nlp/text_classification_multilabel_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/nlp/text_ner_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/tabular/classification_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/tabular/forecasting_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/tabular/regression_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parameterized_command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/parameterized_sweep.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/sweep_job.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_remote_classification.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_remote_regression.py
  sdk/ml/azure-ai-ml/tests/job_common/unittests/test_job_operations.py
  sdk/ml/azure-ai-ml/tests/recordings/automl_job/e2etests/test_remote_classification.pyTestAutoMLClassificationtest_classification_with_training_settings.json
  sdk/ml/azure-ai-ml/tests/recordings/automl_job/e2etests/test_remote_classification.pyTestAutoMLClassificationtest_classification_with_training_settings_serverless.json
  sdk/ml/azure-ai-ml/tests/recordings/automl_job/e2etests/test_remote_regression.pyTestAutoMLRegressiontest_regression_with_training_settings.json
  sdk/ml/azure-ai-ml/tests/recordings/automl_job/e2etests/test_remote_regression.pyTestAutoMLRegressiontest_regression_with_training_settings_serverless.json
Labels: Machine Learning

#28747 [Key Vault] Update settings API for review comments
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/assets.json
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_enums.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_models.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_settings_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_settings_client.py
  sdk/keyvault/azure-keyvault-administration/samples/README.md
  sdk/keyvault/azure-keyvault-administration/samples/settings_operations.py
  sdk/keyvault/azure-keyvault-administration/samples/settings_operations_async.py
  sdk/keyvault/azure-keyvault-administration/tests/test_settings_client.py
  sdk/keyvault/azure-keyvault-administration/tests/test_settings_client_async.py
Labels: KeyVault, Client

#29250 match dotnet sdk more closely
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_recording.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
Labels: Communication

#29200 [ML] Singularity JobSchema: Support JobResourceConfiguration.locations
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_resource_configuration.py
  sdk/ml/azure-ai-ml/tests/command_job/e2etests/test_command_job.py
  sdk/ml/azure-ai-ml/tests/command_job/unittests/test_command_job_entity.py
  sdk/ml/azure-ai-ml/tests/recordings/command_job/e2etests/test_command_job.pyTestCommandJobtest_command_job_with_singularity.json
  sdk/ml/azure-ai-ml/tests/test_configs/command_job/command_job_singularity_test.yml
Labels: Machine Learning, ML-Jobs

#29203 [Core][OTel] Support OTel schema versioning
  sdk/core/azure-core-tracing-opentelemetry/azure/core/tracing/ext/opentelemetry_span/__init__.py
  sdk/core/azure-core-tracing-opentelemetry/azure/core/tracing/ext/opentelemetry_span/_schema.py
  sdk/core/azure-core-tracing-opentelemetry/tests/test_schema.py
  sdk/core/azure-core-tracing-opentelemetry/tests/test_tracing_implementations.py
  sdk/core/azure-core/azure/core/tracing/_abstract_span.py
Labels: Azure.Core

#29231 Rename intellectual property publisher
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/intellectual_property_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/registry/registry.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_registry/registry.py
  sdk/ml/azure-ai-ml/tests/registry/unittests/test_registry_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/internal/ipp-component/spec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/registry/registry_bad_arm_resource_id.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/registry/registry_bad_replication_count.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/registry/registry_bad_storage_account_type.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/registry/registry_valid.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/registry/registry_valid_2.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/registry/registry_valid_3.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/registry/registry_valid_lone_replication_count.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/registry/registry_valid_replication_count.yaml
Labels: Machine Learning, ML-Registry Management

#29205 Enable sharing model and environment from workspace to registry.
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_registry_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/model.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_environment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/tests/environment/unittests/test_environment_operations.py
  sdk/ml/azure-ai-ml/tests/model/unittests/test_model_operations.py
Labels: Machine Learning, ML-Assets

#29258 Revert "Remove experimental decorators for registry "
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/registry/registry.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/registry/system_created_storage_account.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_registry/registry.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_registry/registry_support_classes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_registry_operations.py
Labels: Machine Learning, ML-Registry Management

#29267 [ServiceBus] update changelog 7.9.0b1
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus, auto-merge

#29268 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus, auto-merge

#29234 [ML] Add e2e test for local command job
  sdk/ml/azure-ai-ml/dev_requirements.txt
  sdk/ml/azure-ai-ml/tests/command_job/e2etests/test_command_job.py
  sdk/ml/azure-ai-ml/tests/online_services/unittests/test_online_deployments.py
  sdk/ml/azure-ai-ml/tests/recordings/command_job/e2etests/test_command_job.pyTestCommandJobtest_command_job_local.json
Labels: Machine Learning

#29240 Update SDK reference documentation for AutoML
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/automl_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/automl_vertical.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/image_limit_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/tabular/automl_tabular.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/tabular/classification_job.py
Labels: Machine Learning

#29260 [EG] bug fix + events
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
  sdk/eventgrid/azure-eventgrid/swagger/_constants.py
  sdk/eventgrid/azure-eventgrid/swagger/postprocess_eventnames.py
Labels: Event Grid

#29257 [ML] Remove erroneous warning that test configs are used in documentation
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/nyc_taxi_data_regression/green_data.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/nyc_taxi_data_regression/pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/nyc_taxi_data_regression/predict.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/nyc_taxi_data_regression/prep.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/nyc_taxi_data_regression/score.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/nyc_taxi_data_regression/train.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/nyc_taxi_data_regression/transform.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/nyc_taxi_data_regression/yellow_data.yml
Labels: Machine Learning

#29230 accept registry string type for component on a batch component deployment
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_deployment/batch/job_definition_schema.py
Labels: Machine Learning, ML-Inference

#29249 [ML] Update `sklearn` gpu curated environments to an environment based on Ubuntu 20.04
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_data_input.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_nyc_taxi_data_regression.json
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/nyc_taxi_data_regression/predict.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/nyc_taxi_data_regression/prep.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/nyc_taxi_data_regression/score.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/nyc_taxi_data_regression/train.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/nyc_taxi_data_regression/transform.yml
  sdk/ml/azure-ai-ml/tests/test_configs/import_job/import_pipeline_component_test.yml
  sdk/ml/azure-ai-ml/tests/test_configs/import_job/import_pipeline_test.yml
Labels: Machine Learning

#29239 [ML] Use a tmpdir for upload tests, instead of current working directory
  sdk/ml/azure-ai-ml/tests/internal_utils/e2etests/test_upload_download.py
Labels: Machine Learning

#29094 [Core][OTel] Tracing typing updates
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/azure/core/tracing/ext/opentelemetry_span/__init__.py
  sdk/core/azure-core-tracing-opentelemetry/azure/core/tracing/ext/opentelemetry_span/_schema.py
  sdk/core/azure-core-tracing-opentelemetry/pyproject.toml
  sdk/core/azure-core-tracing-opentelemetry/samples/sample_eventgrid.py
  sdk/core/azure-core-tracing-opentelemetry/samples/sample_eventhubs.py
  sdk/core/azure-core-tracing-opentelemetry/samples/sample_receive_eh.py
  sdk/core/azure-core-tracing-opentelemetry/samples/sample_receive_sb.py
  sdk/core/azure-core-tracing-opentelemetry/samples/sample_servicebus.py
  sdk/core/azure-core-tracing-opentelemetry/samples/sample_storage.py
  sdk/core/azure-core-tracing-opentelemetry/setup.py
  sdk/core/azure-core/azure/core/tracing/_abstract_span.py
Labels: Azure.Core

#29294 pr comments for recording
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_recording.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
Labels: Communication

#29293 Reverting feature store changes to avoid in release cut
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/feature_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_entity_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_operations.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_schema.py
  sdk/ml/azure-ai-ml/tests/feature_store/e2etests/test_feature_store.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_schema.py
  sdk/ml/azure-ai-ml/tests/feature_store_entity/unittests/test_feature_store_entity_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store_entity/unittests/test_feature_store_entity_schema.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#29213 Update spark validation logic
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/spark.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_helpers.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_job.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline_samples.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_command_builder.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline_with_specific_nodes.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_entity.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_spark_job_with_builder_in_pipeline_with_dynamic_allocation_disabled.json
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/invalid_pipeline.py
Labels: Machine Learning, ML-Pipelines

#29310 update PR
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection.py
  sdk/communication/cspell.json
Labels: Communication

#29285 [ml] Update changelog to include return of SDK logging
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#29280 Sofia/bug 3052048
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.pyTestPhoneNumbersClienttest_update_phone_number_capabilities_with_invalid_number.json
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.pyTestPhoneNumbersClienttest_update_phone_number_capabilities_with_unauthorized_number.json
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.pyTestPhoneNumbersClientAsynctest_update_phone_number_capabilities_with_invalid_number.json
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.pyTestPhoneNumbersClientAsynctest_update_phone_number_capabilities_with_unauthorized_number.json
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client_async.py
Labels: Communication

#29264 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
  sdk/appconfiguration/azure-appconfiguration-provider/setup.py
Labels: App Configuration, auto-merge

#29168 Increment version for communication releases
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-email/azure/communication/email/_version.py
Labels: auto-merge, Communication

#29134 Increment version for easm releases
  sdk/easm/azure-defender-easm/CHANGELOG.md
  sdk/easm/azure-defender-easm/azure/defender/easm/_version.py
Labels: auto-merge

#28948 Increment version for agrifood releases
  sdk/agrifood/azure-agrifood-farming/CHANGELOG.md
  sdk/agrifood/azure-agrifood-farming/azure/agrifood/farming/_version.py
Labels: auto-merge

#28703 Increment version for devcenter releases
  sdk/devcenter/azure-developer-devcenter/CHANGELOG.md
  sdk/devcenter/azure-developer-devcenter/azure/developer/devcenter/_version.py
Labels: auto-merge

#29317 Revert "Remove kind property from workspace for release cut"
  sdk/ml/azure-ai-ml/azure/ai/ml/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_entity_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
Labels: Machine Learning, ML-Workspace

#29315 Remove kind property from workspace for release cut
  sdk/ml/azure-ai-ml/azure/ai/ml/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_entity_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
Labels: Machine Learning, ML-Workspace

#29321 Bump `ml` job test timeout from 60 to 75 minutes
  sdk/ml/ci.yml
Labels: Machine Learning, Central-EngSys

#29224 Simplify Shared Requirements
  .vscode/cspell.json
  eng/pipelines/templates/steps/analyze_dependency.yml
  scripts/analyze_deps.py
  shared_requirements.txt
  tools/azure-sdk-tools/MANIFEST.in
  tools/azure-sdk-tools/ci_tools/dependency_analysis.py
  tools/azure-sdk-tools/ci_tools/deps.html.j2
  tools/azure-sdk-tools/ci_tools/functions.py
  tools/azure-sdk-tools/pypi_tools/pypi.py
  tools/azure-sdk-tools/pyproject.toml
  tools/azure-sdk-tools/setup.py
Labels: Central-EngSys

#29292 Sync eng/common directory with azure-sdk-tools for PR 5613
  eng/common/testproxy/override-proxy-version.ps1
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#29291 [ML] Removed client-side SSH settings restrictions
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/compute_instance.py
  sdk/ml/azure-ai-ml/tests/compute/unittests/test_compute_entity.py
Labels: Machine Learning

#29271 [ML][Pipelines] feat: support internal spark component
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_schema/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_schema/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_schema/environment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_schema/input_output.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_schema/node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_setup.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/_input_outputs.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/environment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/parallel.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/runsettings/ai_super_computer_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/runsettings/itp_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/runsettings/target_selector.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/scope.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/spark.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/spark.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component_factory.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parameterized_spark.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_job_entry_mixin.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_util.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_validation.py
  sdk/ml/azure-ai-ml/tests/internal/_utils.py
  sdk/ml/azure-ai-ml/tests/internal/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/internal/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_component.py
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/spark-component/spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/batch_inference/batch_score.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/spark-component/spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_load_internal_spark_component.json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[9-spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[9-spec.yaml].json
  sdk/ml/azure-ai-ml/tests/test_configs/internal/loaded_from_rest/spark-component/spec.json
  sdk/ml/azure-ai-ml/tests/test_configs/internal/spark-component/conda.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/internal/spark-component/run.py
  sdk/ml/azure-ai-ml/tests/test_configs/internal/spark-component/spec.yaml
Labels: Machine Learning, ML-Pipelines, ML-Assets

#29335 [ML][Pipelines] fix: extra kwargs in loading component
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_component_schema.py
Labels: Machine Learning, ML-Pipelines, ML-Assets

#29274 [ML][Pipelines] Fix if else block intersection check
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/condition_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/condition_node.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_controlflow_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_controlflow_pipeline.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_controlflow_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestIfElsetest_if_else_multiple_blocks_subgraph.json
Labels: Machine Learning, ML-Pipelines

#28981 Add an option to support creating automatic APIreview from manual pipe…
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/steps/analyze.yml
  eng/pipelines/templates/steps/create-apireview.yml
  sdk/ml/ci.yml
Labels: Machine Learning

#29314 Users/singankit/bump version 1.6.0
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#29338 [storage] update fileshare swagger to correct one
  sdk/storage/azure-storage-file-share/swagger/README.md
Labels: Storage

#29342 Add conda repo into readmes
  sdk/appconfiguration/azure-appconfiguration/README.md
  sdk/attestation/azure-security-attestation/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/README.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/README.md
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-identity/README.md
  sdk/communication/azure-communication-sms/README.md
  sdk/confidentialledger/azure-confidentialledger/README.md
  sdk/containerregistry/azure-containerregistry/README.md
  sdk/core/azure-core/README.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/deviceupdate/azure-iot-deviceupdate/README.md
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/identity/azure-identity/README.md
  sdk/keyvault/azure-keyvault-administration/README.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-secrets/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/ml/azure-ai-ml/README.md
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/schemaregistry/azure-schemaregistry/README.md
  sdk/search/azure-search-documents/README.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-queue/README.md
  sdk/tables/azure-data-tables/README.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/translation/azure-ai-translation-document/README.md
  sdk/webpubsub/azure-messaging-webpubsubservice/README.md
Labels: Service Bus, Storage, KeyVault, Container Registry, Cosmos, Event Grid, Event Hubs, Machine Learning, Search, Azure.Core, Azure.Identity, Tables, Cognitive - Text Analytics, Cognitive - Form Recognizer, App Configuration, Schema Registry, Communication, Cognitive - Metrics Advisor

#29316 [ML] Fix `ml_client.jobs.download` for BatchJob
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
Labels: Machine Learning

#29270 Adding feature set operations for list materialization, backfill and get feature
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/feature_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/feature_set_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/feature_transformation_code_metadata_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/featureset_spec_metadata_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/featureset_spec_properties_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/feature_set.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_materialization_response.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_transformation_code_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/featureset_spec_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store_entity/feature_store_entity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_entity_operations.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_operations.py
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/feature_set_full.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/feature_store_entity/feature_store_entity_full.yaml
Labels: Machine Learning, ML-Assets

#29038 [tables] refactor to fix typing errors for mypy 1.0.0
  sdk/tables/azure-data-tables/azure/data/tables/_authentication.py
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_authentication_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_base_client_async.py
Labels: Tables

#29289 Clean up broken links to repair aggregate report pipeline
  CONTRIBUTING.md
  doc/dev/mgmt/multiapi.md
  doc/dev/test_proxy_troubleshooting.md
  doc/dev/tests-advanced.md
  doc/dev/tests.md
  scripts/cadl_refresh_sdk/README.md
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/README.md
  sdk/videoanalyzer/azure-mgmt-videoanalyzer/README.md
Labels: Central-EngSys

#28841 Add sample for shared transport
  sdk/core/azure-core/samples/README.md
  sdk/core/azure-core/samples/example_shared_transport.py
  sdk/core/azure-core/samples/example_shared_transport_async.py
Labels: Azure.Core

#29346 [Key Vault] Prepare for March releases
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/README.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_settings_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_settings_client.py
  sdk/keyvault/azure-keyvault-administration/setup.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/README.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_enums.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/README.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
Labels: KeyVault, Client

#29095 [Core][OTel] Update settings to include opentelemetry
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core/azure/core/settings.py
Labels: Azure.Core

#29207 [ACR] Update manifest digest check
  sdk/containerregistry/azure-containerregistry/assets.json
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
Labels: Container Registry, Client

#29322 [ML] Cherry-pick: Removed client-side SSH settings restrictions
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/compute_instance.py
  sdk/ml/azure-ai-ml/tests/compute/unittests/test_compute_entity.py
Labels: Machine Learning

#29331 [ml] Fix show progress=False not being respected for Job's model, code, data, and environment artifact uploads
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_code_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_environment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_operation_orchestrator.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_storage_utils.py
Labels: Machine Learning, ML-Assets

#29362 Sync eng/common directory with azure-sdk-tools for PR 5702
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#29361 [Key Vault] Address archboard feedback
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/async_client_base.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/client_base.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_settings_client.py
  sdk/keyvault/azure-keyvault-administration/tests/test_settings_client_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_enums.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py
Labels: KeyVault, Client

#29359 Renyix/data import
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_data_import/data_import.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/tests/recordings/data_import/e2etests/test_data_import.pyTestDataImporttest_data_import.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_cr_msi.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_git_pat.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_git_user_pwd.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_python_feed.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_s3_access_key.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_snowflake_user_pwd.json
Labels: Machine Learning, ML-Workspace, ML-WorkspaceConnections

#29353 Sync eng/common directory with azure-sdk-tools for PR 5691
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#29383 [Key Vault] Final pre-release prep
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/_client.py
Labels: KeyVault, Client

#29394 Update April Preview Client
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/_azure_machine_learning_workspaces.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/_metadata.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/_azure_machine_learning_workspaces.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/operations/_code_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/operations/_component_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/operations/_data_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/operations/_featureset_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/operations/_featureset_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/operations/_featurestore_entity_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/operations/_featurestore_entity_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/operations/_jobs_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/operations/_model_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/operations/_online_endpoints_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/operations/_registry_code_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/operations/_registry_component_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/operations/_registry_data_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/operations/_registry_data_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/aio/operations/_registry_model_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/models/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/models/_azure_machine_learning_workspaces_enums.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/models/_models.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/models/_models_py3.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/operations/_code_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/operations/_component_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/operations/_data_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/operations/_featureset_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/operations/_featureset_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/operations/_featurestore_entity_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/operations/_featurestore_entity_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/operations/_jobs_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/operations/_model_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/operations/_online_endpoints_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/operations/_registry_code_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/operations/_registry_component_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/operations/_registry_data_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/operations/_registry_data_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_04_01_preview/operations/_registry_model_versions_operations.py
  sdk/ml/azure-ai-ml/swagger/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-04-01-preview/mfe.json
Labels: Machine Learning

#29388 Renyix/data import (#29359) - cherry pick Azure SDK feedback commit on data import
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_data_import/data_import.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/tests/recordings/data_import/e2etests/test_data_import.pyTestDataImporttest_data_import.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_cr_msi.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_git_pat.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_git_user_pwd.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_python_feed.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_s3_access_key.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_snowflake_user_pwd.json
Labels: Machine Learning, ML-Assets, ML-Workspace, ML-WorkspaceConnections

#28433 [Cosmos] Add documentation around client retries
  sdk/cosmos/azure-cosmos/azure/cosmos/_retry_utility.py
  sdk/cosmos/azure-cosmos/docs/ErrorCodesAndRetries.md
Labels: Cosmos

#29367 [ML] Make JobService and ServiceInstance serializable when printed
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_service.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/service_instance.py
Labels: Machine Learning

#29395 Sofiar/address comments from review
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/aio/_phone_numbers_client_async.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client_async.py
Labels: Communication

#29190 [Communication][Email] Separating Email test resources + Adding PPE live tests
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/communication/CONTRIBUTING.md
  sdk/communication/azure-communication-chat/tests.yml
  sdk/communication/azure-communication-email/test-resources.json
  sdk/communication/azure-communication-email/tests.yml
  sdk/communication/azure-communication-identity/tests.yml
  sdk/communication/azure-communication-networktraversal/tests.yml
  sdk/communication/azure-communication-phonenumbers/tests.yml
  sdk/communication/azure-communication-rooms/tests.yml
  sdk/communication/azure-communication-sms/tests.yml
  sdk/communication/test-resources/test-resources.json
  sdk/communication/tests.yml
Labels: Communication

#29368 Flatten queue_settings properties on sweep job builder
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/queue_settings.py
Labels: Machine Learning

#29404 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
Labels: KeyVault, auto-merge

#29408 Flatten queue_settings properties on sweep job builder (#29368)
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/queue_settings.py
Labels: Machine Learning

#29410 Pin newest `setuptools` wherever we use it
  eng/ci_tools.txt
  eng/conda_test_requirements.txt
  eng/pipelines/templates/jobs/tests-nightly-python.yml
  eng/regression_tools.txt
  eng/tox/tox.ini
  tools/azure-sdk-tools/ci_tools/versioning/requirements.txt
Labels: Central-EngSys

#29414 Address API Review comments in release branch
  sdk/ml/azure-ai-ml/azure/ai/ml/automl/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/automl_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/automl_vertical.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/image_limit_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/tabular/automl_tabular.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/tabular/classification_job.py
Labels: Machine Learning

#29384 [ML-Pipelines] Fix data transfer review feedback
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job/input_output_entry.py
  sdk/ml/azure-ai-ml/azure/ai/ml/data_transfer/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/data_transfer.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/data_transfer_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/datatransfer_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/external_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/data_transfer/data_transfer_job.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_data_transfer_component_entity.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline_with_specific_nodes.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/data_transfer_job_in_pipeline/copy_data/pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/data_transfer_job_in_pipeline/export_file_system/pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/data_transfer_job_in_pipeline/import_database/pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/data_transfer_job_in_pipeline/import_stored_database/pipeline.py
Labels: Machine Learning, ML-Pipelines

#29358 [ML][Pipelines] Revert PR 28951 to improve CI performance
  sdk/ml/azure-ai-ml/tests/conftest.py
Labels: Machine Learning, ML-Pipelines

#29428 [ML][Pipelines]Expose `ParallelFor._to_rest_items(items)` and add tests
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_controlflow_pipeline.py
Labels: Machine Learning

#29426 [ML-Pipelines] Fix data transfer review feedback
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job/input_output_entry.py
  sdk/ml/azure-ai-ml/azure/ai/ml/data_transfer/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/data_transfer.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/data_transfer_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/datatransfer_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/external_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/data_transfer/data_transfer_job.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_data_transfer_component_entity.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline_with_specific_nodes.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/data_transfer_job_in_pipeline/copy_data/pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/data_transfer_job_in_pipeline/export_file_system/pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/data_transfer_job_in_pipeline/import_database/pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/data_transfer_job_in_pipeline/import_stored_database/pipeline.py
Labels: Machine Learning, ML-Jobs, ML-Assets

#29413 Address API Review comments
  sdk/ml/azure-ai-ml/azure/ai/ml/automl/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/automl_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/automl_vertical.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/image_limit_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/tabular/automl_tabular.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/tabular/classification_job.py
Labels: Machine Learning

#29434 Revert "[ML] Removed Experimental Tags from OS Image Metadata (#29158…
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/compute/compute_instance.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/_image_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/compute_instance.py
Labels: Machine Learning

#29356 Feature set and Feature store entity archive and restore
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_feature_set_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_feature_store_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_entity_operations.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store_entity/unittests/test_feature_store_entity_operations.py
Labels: Machine Learning
