Repository Azure/azure-sdk-for-python, pull requests merged in 2023-05, with the labels that each got.

#30035 [EH] update to ERROR level
  sdk/eventhub/azure-eventhub/stress/Chart.yaml
  sdk/eventhub/azure-eventhub/stress/Dockerfile
  sdk/eventhub/azure-eventhub/stress/scenarios-matrix.yaml
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_consumer_stress_async.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_consumer_stress_sync.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_producer_stress.py
  sdk/eventhub/azure-eventhub/stress/scripts/dev_requirement.txt
  sdk/eventhub/azure-eventhub/stress/scripts/logger.py
Labels: Event Hubs

#29880 Component Deployment PuPr
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_deployment/batch/batch_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_deployment/batch/batch_pipeline_component_deployment_configurations_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_deployment/batch/model_batch_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_deployment/batch/model_batch_deployment_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_deployment/batch/pipeline_component_batch_deployment_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_endpoint_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/batch_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/model_batch_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/model_batch_deployment_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/pipeline_component_batch_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_endpoint_operations.py
  sdk/ml/azure-ai-ml/tests/batch_services/unittests/test_batch_deployment.py
Labels: Machine Learning, ML-Inference

#30126 Sync eng/common directory with azure-sdk-tools for PR 6063
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#30125 RFC 1123 date format fix
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
Labels: Cosmos

#30176 [ML] Make load_model_package experimental
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
Labels: Machine Learning

#30175 [Monitor][Query] Link TSG in README
  sdk/monitor/azure-monitor-query/README.md
Labels: Monitor - Query

#30179 [ACS][Rooms]Fix Rooms live test pipeline
  sdk/communication/azure-communication-rooms/samples/rooms_client_sample.py
  sdk/communication/azure-communication-rooms/samples/rooms_client_sample_async.py
Labels: Communication - Rooms

#30164 [SB] Update Chart.yaml
  sdk/servicebus/azure-servicebus/stress/Chart.yaml
Labels: Service Bus

#30153 [Key Vault] Update readme code snippets to use samples
  sdk/keyvault/azure-keyvault-administration/README.md
  sdk/keyvault/azure-keyvault-administration/samples/access_control_operations.py
  sdk/keyvault/azure-keyvault-administration/samples/backup_restore_operations.py
  sdk/keyvault/azure-keyvault-administration/samples/settings_operations.py
  sdk/keyvault/azure-keyvault-administration/samples/settings_operations_async.py
  sdk/keyvault/azure-keyvault-keys/README.md
  sdk/keyvault/azure-keyvault-keys/samples/README.md
  sdk/keyvault/azure-keyvault-keys/samples/hello_world.py
  sdk/keyvault/azure-keyvault-keys/samples/key_rotation.py
Labels: Docs, KeyVault

#30187 [Storage] Fix `visibility_timeout` inaccuracy in `receive_message` API
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
Labels: Storage

#30178 [ml] Make load functions public
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/tests/feature_set/e2etests/test_feature_set.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_schema.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_schema.py
  sdk/ml/azure-ai-ml/tests/feature_store_entity/e2etests/test_feature_store_entity.py
  sdk/ml/azure-ai-ml/tests/feature_store_entity/unittests/test_feature_store_entity_schema.py
Labels: Machine Learning

#30181 [ml] fix featurestore archive/restore
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_feature_store_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/feature_set.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store_entity/unittests/test_feature_store_entity_operations.py
Labels: Machine Learning

#30186 [ACR] Change exception type in manifest/blob digest validation
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_download_stream.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_download_stream.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
Labels: Container Registry, Client

#29992 Renyix/data import schedule
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_data_import/data_import.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_data_import/schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_data_import/data_import.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_data_import/schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_schedule/schedule.py
  sdk/ml/azure-ai-ml/tests/data_import/e2etests/test_schedule.py
  sdk/ml/azure-ai-ml/tests/recordings/data_import/e2etests/test_data_import.pyTestDataImporttest_data_import.json
  sdk/ml/azure-ai-ml/tests/recordings/data_import/e2etests/test_schedule.pyTestScheduletest_create_schedule_data_import[database].json
  sdk/ml/azure-ai-ml/tests/recordings/data_import/e2etests/test_schedule.pyTestScheduletest_create_schedule_data_import[file_system].json
  sdk/ml/azure-ai-ml/tests/test_configs/data_import/schedule_data_import_database.yml
  sdk/ml/azure-ai-ml/tests/test_configs/data_import/schedule_data_import_file_system.yml
Labels: Machine Learning

#30204 Sync eng/common directory with azure-sdk-tools for PR 6086
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Labels: EngSys, Central-EngSys

#30203 Require `urllib3` version less than 2
  tools/azure-sdk-tools/setup.py
Labels: auto-merge

#30201 [Cosmos] skip partition test for SignOff pipeline
  sdk/cosmos/azure-cosmos/test/test_partition_split_query.py
Labels: Cosmos

#29824 [Storage] _queue_client_async.py mypy fixes
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
Labels: Storage

#30191 [formrecognizer] Fix formula tests
  sdk/formrecognizer/azure-ai-formrecognizer/assets.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilt_read.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilt_read_async.py
Labels: Cognitive - Form Recognizer

#30211 Get FR ready for Azure-Core poller typing PR
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
Labels: Cognitive - Form Recognizer

#30148 [ml] Enable OBO flow on AmlSpark
  sdk/ml/azure-ai-ml/azure/ai/ml/identity/_aio/_internal/managed_identity_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/identity/_credentials/_AzureMLSparkOnBehalfOfCredential.py
  sdk/ml/azure-ai-ml/azure/ai/ml/identity/_credentials/aml_on_behalf_of.py
  sdk/ml/azure-ai-ml/azure/ai/ml/identity/_internal/managed_identity_client.py
Labels: Machine Learning

#30221 [ml] Enable OBO flow on AmlSpark (#30148)
  sdk/ml/azure-ai-ml/azure/ai/ml/identity/_aio/_internal/managed_identity_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/identity/_credentials/_AzureMLSparkOnBehalfOfCredential.py
  sdk/ml/azure-ai-ml/azure/ai/ml/identity/_credentials/aml_on_behalf_of.py
  sdk/ml/azure-ai-ml/azure/ai/ml/identity/_internal/managed_identity_client.py
Labels: Machine Learning

#30232 [ML] Fix auto delete setting comparison bug in Asset
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/asset.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/auto_delete_setting.py
  sdk/ml/azure-ai-ml/tests/dataset/unittests/test_data_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/dataset/data_with_auto_delete_setting.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dataset/data_without_auto_delete_setting.yml
Labels: Machine Learning, customer-reported, Community Contribution

#30189 Add RayDashboard into job services list
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_job/job.py
Labels: Machine Learning

#30044 Add e2e test for Ray
  sdk/ml/azure-ai-ml/tests/command_job/e2etests/test_command_job.py
  sdk/ml/azure-ai-ml/tests/recordings/command_job/e2etests/test_command_job.pyTestCommandJobtest_ray_command_job.json
  sdk/ml/azure-ai-ml/tests/test_configs/command_job/command_job_dist_ray.yml
Labels: Machine Learning

#30231 [Confidential Ledger] [Data Plane] Make application claims parameter keyword-only in verify_receipt
  sdk/confidentialledger/azure-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-confidentialledger/README.md
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/receipt/_receipt_verification.py
  sdk/confidentialledger/azure-confidentialledger/samples/get_and_verify_receipt.py
  sdk/confidentialledger/azure-confidentialledger/tests/receipt/test_receipt_verification.py
Labels: Confidential Ledger

#30243 [Storage] Fix type-hint in Blob and Datalake package
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
Labels: Storage

#30246 Sync eng/common directory with azure-sdk-tools for PR 6061
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Delete-RemoteBranches.ps1
Labels: EngSys, Central-EngSys

#30242 [ML] Add MoMo Docstrings and Make Models/Consts Public
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/monitor_definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_monitoring.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/alert_notification.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/input_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/target.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/thresholds.py
  sdk/ml/azure-ai-ml/tests/monitoring/unittests/test_monitor_schedule.py
Labels: Machine Learning

#30235 [ML] Fix auto delete setting comparison bug in Asset (#30232)
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/asset.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/auto_delete_setting.py
  sdk/ml/azure-ai-ml/tests/dataset/unittests/test_data_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/dataset/data_with_auto_delete_setting.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dataset/data_without_auto_delete_setting.yml
Labels: Machine Learning, customer-reported, Community Contribution

#30251 [ML] Add MoMo Docstrings and Make Models/Consts Public (#30242)
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/monitor_definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_monitoring.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/alert_notification.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/input_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/target.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/thresholds.py
  sdk/ml/azure-ai-ml/tests/monitoring/unittests/test_monitor_schedule.py
Labels: Machine Learning

#29985 add test for submit component with set unknown input file.
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_assign_value_to_unknown_filed.json
Labels: Machine Learning, ML-Pipelines

#30252 Properties added
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job/parameterized_spark.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_job.py
Labels: ML-Jobs

#30020 [ServiceBus] pyamqp exception parity
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/_configuration.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_uamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/setup.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/test_message.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: auto-merge

#30264 Sync .github/workflows directory with azure-sdk-tools for PR 6101
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#30247 [ACS][CallAutomation]Remove callinvite from transfer
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/tests/test_call_connection_client.py
Labels: Communication

#30255 [Identity] Rename arguments
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_instance_discovery.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity

#30265 [EG] update enum with new events
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
Labels: Event Grid

#30245 [Stress] add ~ to chart
  sdk/eventhub/azure-eventhub/stress/Chart.yaml
  sdk/servicebus/azure-servicebus/stress/Chart.yaml
Labels: Service Bus, Event Hubs

#30262 Update Matrix Storage
  eng/pipelines/templates/stages/platform-matrix-cryptography-dependency.json
  eng/pipelines/templates/stages/platform-matrix.json
Labels: Storage

#30273 [fomrecognizer] Fix formula assert
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilt_read.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilt_read_async.py
Labels: Cognitive - Form Recognizer

#30274 [JobRouter] Update patch models
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_generated/models/_patch.py
Labels: Communication - Job Router

#30281 [ML] [Pipelines] perf optimization: resolve all leaf node concurrently
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_pipeline_component_entity.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/helloworld_multi_layer_pipeline_component.yml
Labels: Machine Learning, ML-Pipelines

#30219 [Monitor] Fix CI latestdepedency check failure
  sdk/monitor/azure-monitor-opentelemetry-exporter/setup.py
Labels: Monitor - Exporter

#30299 Sync eng/common directory with azure-sdk-tools for PR 6118
  eng/common/testproxy/transition-scripts/README.md
Labels: EngSys, Central-EngSys

#30290 Update changelog
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#30297 Fix SDK review comments
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/_package/inferencing_server.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/_package/model_package.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/data_collector.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/online_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
Labels: Machine Learning

#30294 [ml] Address azure sdk review comments
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/featureset_spec_properties_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_feature_store_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_entity_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/recordings/feature_set/e2etests/test_feature_set.pyTestFeatureSettest_create_and_get.json
  sdk/ml/azure-ai-ml/tests/recordings/feature_set/e2etests/test_feature_set.pyTestFeatureSettest_list_materialization_jobs.json
Labels: Machine Learning

#30308 rename developer_credential_timeout to process_timeout
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
Labels: Azure.Identity

#30301 [Monitor][Query] Update CHANGELOG for release
  sdk/monitor/azure-monitor-query/CHANGELOG.md
Labels: Monitor - Query

#30306 Provision Network Status as public entity
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace.pyTestWorkspacetest_uai_workspace_create_update_and_delete.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace.pyTestWorkspacetest_workspace_create_delete_with_managed_network.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace.pyTestWorkspacetest_workspace_create_update_delete_with_managed_network.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_outbound_rule_operations.pyTestWorkspaceOutboundRulestest_workspace_create_with_managed_network_list_show_remove_rules.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_outbound_rule_operations.pyTestWorkspaceOutboundRulestest_workspace_create_with_managed_network_provision_network.json
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace_outbound_rule_operations.py
Labels: Machine Learning

#30315 [EventHubs] remove uamqp from dev reqs/nightly runs
  sdk/eventhub/azure-eventhub/dev_requirements.txt
Labels: Event Hubs, auto-merge

#30313 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus, auto-merge

#30312 [SB] update stress tests -- cleanup
  sdk/servicebus/azure-servicebus/stress/scripts/test_stress_queues.py
  sdk/servicebus/azure-servicebus/stress/scripts/test_stress_queues_async.py
  sdk/servicebus/azure-servicebus/stress/templates/testjob.yaml
Labels: Service Bus

#30291 [Servicebus] Improve span context propagation
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/tracing.py
Labels: Service Bus

#30170 expose workspace connection secret expiryTime in sdk
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_cr_msi.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_git_pat.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_git_user_pwd.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_python_feed.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_s3_access_key.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_snowflake_user_pwd.json
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/azure_my_sql_db_user_pwd.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/azure_postgres_db_user_pwd.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/azure_sql_db_user_pwd.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/azure_synapse_analytics_user_pwd.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/container_registry_managed_identity.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/fs_service_principal.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/git_pat.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/git_user_pwd.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/python_feed_pat.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/s3_access_key.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/snowflake_user_pwd.yaml
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace_connections.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_connection_entity.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_connection_operations.py
Labels: Machine Learning, customer-reported, Community Contribution, ML-WorkspaceConnections

#30293 Search vector search
  sdk/search/azure-search-documents/assets.json
  sdk/search/azure-search-documents/azure/search/documents/_api_versions.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_serialization.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_search_index_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_serialization.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_search_service_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_edm.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_index.py
  sdk/search/azure-search-documents/azure/search/documents/models/__init__.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_index_client_skillset_live_async.py
  sdk/search/azure-search-documents/tests/test_search_index_client_skillset_live.py
Labels: Search

#30212 [Storage] Adjust client closing logic for Datalake
  .vscode/cspell.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_datalake_service_client.py
  sdk/storage/azure-storage-file-datalake/tests/test_datalake_service_client_async.py
Labels: Storage

#30324 Increment version for monitor releases
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/azure/monitor/query/_version.py
Labels: auto-merge, Monitor - Query

#30193 [Storage] Update typing for `BlobProperties`
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
Labels: Storage

#30326 Provision Network Status as public entity (#30306)
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace.pyTestWorkspacetest_uai_workspace_create_update_and_delete.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace.pyTestWorkspacetest_workspace_create_delete_with_managed_network.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace.pyTestWorkspacetest_workspace_create_update_delete_with_managed_network.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_outbound_rule_operations.pyTestWorkspaceOutboundRulestest_workspace_create_with_managed_network_list_show_remove_rules.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_outbound_rule_operations.pyTestWorkspaceOutboundRulestest_workspace_create_with_managed_network_provision_network.json
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace_outbound_rule_operations.py
Labels: Machine Learning

#30302 Component Deployment PuPr Hotfix
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_deployment/batch/model_batch_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/model_batch_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/model_batch_deployment_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/pipeline_component_batch_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_deployment_operations.py
Labels: ML-Inference

#30300 [formrecognizer] Fix formula tests
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilt_read.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilt_read_async.py
Labels: Cognitive - Form Recognizer

#30343 reorder dac
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#30333 [ACR] Address apiview feedback for GA
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_download_stream.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_download_stream.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
Labels: Container Registry, Client

#30174 List Rooms function add live tests and documentation
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/README.md
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_rooms_client.py
  sdk/communication/azure-communication-rooms/tests/recordings/test_rooms_client.pyTestRoomsClienttest_list_rooms_first_room_is_not_null_success.json
  sdk/communication/azure-communication-rooms/tests/recordings/test_rooms_client_async.pyTestRoomsClientAsynctest_list_rooms_first_room_is_not_null_success_async.json
  sdk/communication/azure-communication-rooms/tests/test_rooms_client.py
  sdk/communication/azure-communication-rooms/tests/test_rooms_client_async.py
Labels: Communication - Rooms

#30352 [ml] FeaturesetSpec -> FeatureSetSpec
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_feature_store_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/tests/recordings/feature_set/e2etests/test_feature_set.pyTestFeatureSettest_create_and_get.json
  sdk/ml/azure-ai-ml/tests/recordings/feature_set/e2etests/test_feature_set.pyTestFeatureSettest_list_materialization_jobs.json
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/FeatureSetSpec.yaml
Labels: Machine Learning

#30363 DAC auth flow updates
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#30314 Richardcho/correlationid answeredby
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_utils.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
Labels: Communication

#30305 [Template][Docs] Update template files
  doc/dev/packaging.md
  sdk/template/azure-template/CHANGELOG.md
  sdk/template/azure-template/README.md
  sdk/template/azure-template/azure/template/__init__.py
  sdk/template/azure-template/azure/template/_version.py
  sdk/template/azure-template/azure/template/template_code.py
  sdk/template/azure-template/pyproject.toml
  sdk/template/azure-template/samples/README.md
  sdk/template/azure-template/samples/sample_simple.py
  sdk/template/azure-template/setup.py
  sdk/template/azure-template/tests/test_simple.py
Labels: EngSys

#30354 [AzureML] Fix BatchDeployment typevar signature + other API review comments
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/intellectual_property.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_assets.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/intellectual_property.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/deployment_collection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/request_logging.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_registry/registry.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
Labels: ML-Inference

#30364 [AzureML] Fix BatchDeployment typevar signature + other API review co…
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/intellectual_property.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_assets.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/intellectual_property.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/deployment_collection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/request_logging.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_registry/registry.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
Labels: Machine Learning, ML-Inference

#30327 Sync eng/common directory with azure-sdk-tools for PR 6103
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#30356 Update sample_semantic_search.py
  sdk/search/azure-search-documents/samples/sample_semantic_search.py
Labels: Search, customer-reported, Community Contribution

#30321 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#30367 [ML] [Pipelines] fix: _get_snapshot_path_info used a different ignore…
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_artifact_utilities.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component_hash.py
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component_hash.pyTestComponentHashtest_component_recreate_cross_os.json
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component_hash.pyTestComponentHashtest_component_recreated_with_pycache.json
  sdk/ml/azure-ai-ml/tests/test_utilities/utils.py
Labels: Machine Learning

#30050 [synapse][artifacts] release for `composite-v6` (2023-04-25)
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_artifacts_client.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_serialization.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_vendor.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_version.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/_artifacts_client.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_big_data_pools_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_data_flow_debug_session_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_data_flow_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_dataset_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_integration_runtimes_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_kql_script_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_kql_scripts_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_library_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_link_connection_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_linked_service_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_metastore_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_notebook_operation_result_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_notebook_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_pipeline_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_pipeline_run_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_spark_configuration_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_spark_job_definition_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_sql_pools_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_sql_script_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_trigger_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_trigger_run_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_workspace_git_repo_management_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_workspace_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/__init__.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_artifacts_client_enums.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_models_py3.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_big_data_pools_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_data_flow_debug_session_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_data_flow_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_dataset_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_integration_runtimes_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_kql_script_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_kql_scripts_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_library_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_link_connection_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_linked_service_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_metastore_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_notebook_operation_result_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_notebook_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_pipeline_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_pipeline_run_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_spark_configuration_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_spark_job_definition_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_sql_pools_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_sql_script_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_trigger_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_trigger_run_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_workspace_git_repo_management_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_workspace_operations.py
  sdk/synapse/azure-synapse-artifacts/setup.py
Labels: Synapse

#30373 Increment version for synapse releases
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_version.py
Labels: Synapse

#29752 [ACR] Fix failing pipeline
  sdk/containerregistry/azure-containerregistry/assets.json
  sdk/containerregistry/azure-containerregistry/samples/sample_set_get_image.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_get_image_async.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
Labels: Container Registry, Client

#30348 [ML] Remove dependencies on sparkconfschema
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_schema/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job/parameterized_spark.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/schedule/create_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/spark.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_job.py
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_spark_job[tests/test_configs/dsl_pipeline/spark_job_in_pipeline/sample_pipeline.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_spark_job[tests/test_configs/pipeline_jobs/shakespear_sample/pipeline.yml].json
Labels: ML-Jobs

#30195 [Key Vault] Support AD FS authentication
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
  sdk/keyvault/azure-keyvault-administration/setup.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth_async.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
Labels: KeyVault, Client

#30384 Update logs query prereqs
  sdk/monitor/azure-monitor-query/README.md
Labels: Monitor - Query

#30396 [ML] Update Dev Version to 1.8.0
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#30339 Update forecasting_job.py - Added documentation for forecast job's set_training method
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/tabular/forecasting_job.py
Labels: customer-reported, Community Contribution

#30346 add channel affinity property to start recording
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/tests/test_call_recording_client.py
Labels: Communication

#30254 Support Model Stage in the SDK
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/assets/model.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/model.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/tests/model/e2etests/test_model.py
  sdk/ml/azure-ai-ml/tests/model/unittests/test_model_schema.py
  sdk/ml/azure-ai-ml/tests/recordings/model/e2etests/test_model.pyTestModeltest_crud_model_with_stage.json
  sdk/ml/azure-ai-ml/tests/test_configs/model/model_with_stage.yml
Labels: Machine Learning, customer-reported, Community Contribution

#30385 Warn about VisualStudioCodeCredential not working in error message
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
Labels: customer-reported, Azure.Identity, Community Contribution

#30391 [Monitor][Query] Update notebook sample
  sdk/monitor/azure-monitor-query/samples/notebooks/sample_large_query.ipynb
Labels: Monitor - Query

#30357 support mdc local mode
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/mdc_config_resolver.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_local_deployment_helper.py
  sdk/ml/azure-ai-ml/tests/local_endpoint/unittests/test_mdc_config_resolver.py
Labels: Machine Learning, customer-reported, Community Contribution, ML-Local Endpoints

#30386 [ML] Avoid using a temporary zip file during local job invocation
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_local_job_invoker.py
Labels: Machine Learning

#30413 [Key Vault] Prepare for releases
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
Labels: KeyVault, Client

#29934 [EventHubs] Update tracing
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/_eventprocessor_mixin.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_tracing.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/tests/conftest.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_send_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_send.py
  sdk/eventhub/azure-eventhub/tests/tracing_common.py
Labels: Event Hubs

#30366 [ACR] Add validations in donwload_blob() and get_manifest()
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/assets.json
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_helpers.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_anon_access_async.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
Labels: Container Registry, Client

#30399 [storage] update swagger to 2023-01-03
  sdk/storage/azure-storage-file-share/swagger/README.md
Labels: Storage

#30414 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
Labels: KeyVault

#29364 Create registry client after credential_scopes are added to kwargs
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
Labels: Machine Learning

#30329 Add release date for Rooms SDK Public Preview release
  sdk/communication/azure-communication-rooms/CHANGELOG.md
Labels: Communication - Rooms

#30409 Fix readme and sent share examples
  sdk/purview/azure-purview-sharing/README.md
  sdk/purview/azure-purview-sharing/samples/sent_shares_examples.py
Labels: customer-reported, Purview, Community Contribution

#30412 [HealthInsights] Update OncoPhenotype documentation and sample code
  sdk/healthinsights/azure-healthinsights-cancerprofiling/README.md
  sdk/healthinsights/azure-healthinsights-cancerprofiling/samples/async_samples/sample_infer_cancer_profiling_async.py
  sdk/healthinsights/azure-healthinsights-cancerprofiling/samples/sample_infer_cancer_profiling.py
Labels: customer-reported, Community Contribution

#30322 convert cli model name from enum to string for vision tasks
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/automl/image_vertical/image_model_distribution_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/automl/image_vertical/image_model_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/automl/image_vertical/image_object_detection.py
  sdk/ml/azure-ai-ml/tests/automl_job/unittests/test_automl_image_schema.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_schema.py
Labels: Machine Learning, customer-reported, ML-AutoML, Community Contribution

#30350 convert cli model name from enum to string for nlp tasks
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/automl/nlp_vertical/nlp_fixed_parameters.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/automl/nlp_vertical/nlp_parameter_subspace.py
  sdk/ml/azure-ai-ml/tests/test_configs/automl_job/automl_job_text_classification_mock.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/automl_job/automl_job_text_classification_multilabel_mock.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/automl_job/automl_job_text_ner_mock.yaml
Labels: customer-reported, ML-AutoML, Community Contribution

#30431 Job Id pipelinebatch component deployment creation
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_deployment_operations.py
Labels: ML-Inference

#30180 [CLU] 2023-04-01
  sdk/cognitivelanguage/azure-ai-language-conversations/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-conversations/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/assets.json
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_version.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_version.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/authoring/sample_assign_deployment_resources_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_conv_pii_transcript_input_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_conv_sentiment_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/authoring/sample_assign_deployment_resources.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/sample_conv_pii_transcript_input.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/sample_conv_sentiment.py
  sdk/cognitivelanguage/azure-ai-language-conversations/swagger/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conv_pii_transcript_input.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conv_pii_transcript_input_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conv_sentiment.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conv_sentiment_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conversation_app.py
  sdk/cognitivelanguage/azure-ai-language-conversations/tests/test_conversation_app_async.py
Labels: Cognitive - Language

#30171 [Cosmos] add doc on client retry configs
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_synchronized_request.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_timeout_failover_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_asynchronous_request.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/docs/ErrorCodesAndRetries.md
  sdk/cosmos/azure-cosmos/docs/TimeoutAndRetriesConfig.md
Labels: Cosmos

#30388 [ACR] Add blob/manifest operations samples to readme
  sdk/containerregistry/azure-containerregistry/README.md
  sdk/containerregistry/azure-containerregistry/assets.json
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_images.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_images_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_tags.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_hello_world.py
  sdk/containerregistry/azure-containerregistry/samples/sample_hello_world_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_list_tags.py
  sdk/containerregistry/azure-containerregistry/samples/sample_list_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_get_image.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_get_image_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_image_properties.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_image_properties_async.py
  sdk/containerregistry/azure-containerregistry/samples/utilities.py
  sdk/containerregistry/azure-containerregistry/tests/data/oci_artifact/manifest.json
  sdk/containerregistry/azure-containerregistry/tests/test_anon_access.py
  sdk/containerregistry/azure-containerregistry/tests/test_anon_access_async.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
  sdk/containerregistry/azure-containerregistry/tests/testcase.py
Labels: Container Registry, Client

#30415 [ServiceBus] Tracing updates
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/tracing.py
Labels: Service Bus

#30438 [ACR] Prepare GA release
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_version.py
  sdk/containerregistry/azure-containerregistry/setup.py
Labels: Container Registry, Client

#30435 [Cosmos] update versions for release
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_timeout_failover_retry_policy.py
Labels: Cosmos

#30458 Storage Matrix to PyPy on Ubuntu only
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage

#30461 Improve discoverability of Plotly code sample
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_logs_query_visualization_async.py
  sdk/monitor/azure-monitor-query/samples/sample_logs_query_visualization.py
Labels: Monitor - Query

#30277 Remove unused custom excertion handling in all KeyVault
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/exceptions.py
  sdk/keyvault/azure-keyvault-certificates/assets.json
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/exceptions.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-keys/assets.json
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/exceptions.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_exceptions.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-secrets/assets.json
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/exceptions.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/tests/_test_case.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_client.py
Labels: KeyVault

#30471 Sync eng/common directory with azure-sdk-tools for PR 6208
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#30446 [ACS JobRouter] Scheduled jobs modifications
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_generated/models/_enums.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_generated/models/_models.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_generated/models/_patch.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_generated/operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_router_client.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/policy.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_router_client_async.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/swagger/SWAGGER.md
  sdk/communication/azure-communication-jobrouter/tests/_validators.py
  sdk/communication/azure-communication-jobrouter/tests/recordings/test_router_job.pyTestRouterJobtest_create_scheduled_job.json
  sdk/communication/azure-communication-jobrouter/tests/recordings/test_router_job.pyTestRouterJobtest_list_sch_jobs.json
  sdk/communication/azure-communication-jobrouter/tests/recordings/test_router_job_async.pyTestRouterJobAsynctest_create_scheduled_job.json
  sdk/communication/azure-communication-jobrouter/tests/recordings/test_router_job_async.pyTestRouterJobAsynctest_list_sch_jobs.json
  sdk/communication/azure-communication-jobrouter/tests/test_router_job.py
  sdk/communication/azure-communication-jobrouter/tests/test_router_job_async.py
Labels: Communication - Job Router

#30303 [formrecognizer] Rename samples directory
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_analysis_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_analysis_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_business_cards_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_custom_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_general_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_identity_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_invoices_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_layout_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_read_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_tax_us_w2_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_authentication_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_build_classifier_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_build_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_classify_document_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_classify_document_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_convert_to_and_from_dict_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_copy_model_to_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_get_elements_with_spans_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_get_operations_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_get_words_on_document_line_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_manage_classifiers_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_manage_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_business_cards.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_custom_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_general_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_identity_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_invoices.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_layout.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_read.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_receipts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_analyze_tax_us_w2.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_authentication.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_build_classifier.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_build_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_classify_document.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_classify_document_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_convert_to_and_from_dict.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_copy_model_to.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_get_elements_with_spans.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_get_operations.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_get_words_on_document_line.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_manage_classifiers.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_manage_models.py
Labels: Cognitive - Form Recognizer

#30475 [ACR] Load prepared images by decorator
  sdk/containerregistry/azure-containerregistry/tests/conftest.py
  sdk/containerregistry/azure-containerregistry/tests/testcase.py
Labels: Container Registry, Client

#30455 [Cosmos] tests, samples and changes for conditional patching
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/samples/document_management.py
  sdk/cosmos/azure-cosmos/samples/document_management_async.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
Labels: Cosmos

#30428 [Cosmos] OpenTelemetry - repo sample, readme section on using telemetry
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/samples/README.md
  sdk/cosmos/azure-cosmos/samples/tracing_open_telemetry.py
Labels: Cosmos

#30483 [EGv2] doc updates
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_operations/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_operations/_patch.py
Labels: Event Grid

#30168 [Monitor][Ingestion] Add troubleshooting guide
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/monitor/azure-monitor-ingestion/TROUBLESHOOTING.md
Labels: Monitor - Ingestion

#30486 Sync eng/common directory with azure-sdk-tools for PR 6197
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#30485 Update CHANGELOG.md
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#29708 Add CallAutomationAutomatedLiveTestBase and Example Test Cases for CallAutomation Python SDK
  sdk/communication/azure-communication-callautomation/dev_requirements.txt
  sdk/communication/azure-communication-callautomation/tests/call_automation_automated_live_test_base.py
  sdk/communication/azure-communication-callautomation/tests/recordings/test_call_media_client_e2e.test_play_media_in_a_call.yaml
  sdk/communication/azure-communication-callautomation/tests/recordings/test_callautomation_client_e2e.test_create_VOIP_call_and_answer_then_hangup.yaml
  sdk/communication/azure-communication-callautomation/tests/recordings/test_create_VOIP_call_and_answer_then_hangup.txt
  sdk/communication/azure-communication-callautomation/tests/recordings/test_play_media_in_a_call.txt
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client_e2e.py
  sdk/communication/azure-communication-callautomation/tests/test_callautomation_client_e2e.py
Labels: Communication

#30492 [EGv2] Eg typing/formatting
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_operations/_operations.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_operations/_operations.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_acknowledge_operation_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_all_operations_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_publish_operation_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_receive_operation_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_reject_operation_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_release_operation_async.py
Labels: Event Grid

#30509 [formrecognizer] Revert samples rename
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_analysis_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_analysis_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_business_cards_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_custom_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_general_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_identity_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_invoices_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_layout_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_read_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_tax_us_w2_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_authentication_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_build_classifier_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_build_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_classify_document_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_classify_document_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_convert_to_and_from_dict_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_copy_model_to_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_elements_with_spans_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_operations_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_words_on_document_line_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_manage_classifiers_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_manage_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_business_cards.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_custom_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_general_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_identity_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_invoices.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_layout.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_read.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_receipts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_tax_us_w2.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_authentication.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_build_classifier.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_build_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_classify_document.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_classify_document_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_convert_to_and_from_dict.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_copy_model_to.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_elements_with_spans.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_operations.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_words_on_document_line.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_manage_classifiers.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_manage_models.py
Labels: Cognitive - Form Recognizer

#30516 Fix KV Certificates types
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_polling.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
Labels: KeyVault

#30506 [EG] remove disclaimer
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/setup.py
Labels: Event Grid

#30523 Sync eng/common directory with azure-sdk-tools for PR 6230
  eng/common/testproxy/publish-proxy-logs.yml
Labels: EngSys, Central-EngSys

#30507 Make queue_settings params case insensitive
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/queue_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/queue_settings.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_command_builder.py
Labels: Machine Learning, customer-reported, Community Contribution

#30524 Sync eng/common directory with azure-sdk-tools for PR 6235
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#30522 Sync eng/common directory with azure-sdk-tools for PR 6202
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#30545 Update with reofferTimeUtc for Decline
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/__init__.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_generated/models/__init__.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_generated/models/_models.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_generated/models/_patch.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_generated/operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_router_client.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_router_client_async.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops.py
  sdk/communication/azure-communication-jobrouter/swagger/SWAGGER.md
  sdk/communication/azure-communication-jobrouter/tests/test_assignment_scenario.py
  sdk/communication/azure-communication-jobrouter/tests/test_assignment_scenario_async.py
Labels: Communication - Job Router

#30546 Sync eng/common directory with azure-sdk-tools for PR 6248
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: EngSys, Central-EngSys

#30548 [Storage] Update weekly pipeline to include Py 3.10 and 3.11
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage

#30542 Prepare GA Branch
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_api_versions.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_enums.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_utils.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_version.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/dev_requirements.txt
  sdk/communication/azure-communication-callautomation/setup.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/call_automation_automated_live_test_base.py
  sdk/communication/azure-communication-callautomation/tests/recordings/test_call_media_client_e2e.test_play_media_in_a_call.yaml
  sdk/communication/azure-communication-callautomation/tests/recordings/test_callautomation_client_e2e.test_create_VOIP_call_and_answer_then_hangup.yaml
  sdk/communication/azure-communication-callautomation/tests/recordings/test_create_VOIP_call_and_answer_then_hangup.txt
  sdk/communication/azure-communication-callautomation/tests/recordings/test_play_media_in_a_call.txt
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client_e2e.py
  sdk/communication/azure-communication-callautomation/tests/test_callautomation_client_e2e.py
Labels: Communication

#30503 Communication Resource | API Version Update
  sdk/communication/test-resources/test-resources.json
Labels: Communication

#30459 [ServiceBus] add socket_timeout kwarg
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/_configuration.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_connection.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_connection_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_sasl_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/sasl.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_transport/_pyamqp_transport_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus

#30562 Sync eng/common directory with azure-sdk-tools for PR 6244
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#30568 [Storage] STG88 Release Prep
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/setup.py
Labels: Storage

#30579 Sync eng/common directory with azure-sdk-tools for PR 6222
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#30581 Sync eng/common directory with azure-sdk-tools for PR 6250
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#30441 raise `CredentialUnavailableError` when finding an expired token
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/silent.py
Labels: Azure.Identity

#30532 update feature store schema
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/feature_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/materialization_settings_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_store/materialization_store_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_store_entity/data_column_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store_entity/data_column.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store_entity/data_column_type.py
  sdk/ml/azure-ai-ml/tests/recordings/feature_store_entity/e2etests/test_feature_store_entity.pyTestFeatureStoreEntitytest_create_and_get.json
Labels: Machine Learning

#30578 [Storage] Increment versions after STG88 public preview release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Labels: Storage

#30495 [Key Vault] Skip test stages for `azure-keyvault-administration` in nightly live tests
  sdk/keyvault/tests.yml
Labels: KeyVault, Client, test-enhancement

#30587 Add changelog entry for 1.9.0
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#30583 enable preview features
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_live.py
  sdk/identity/azure-identity/tests/test_live_async.py
Labels: Azure.Identity

#30331 add threshold support
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_index_client_skillset_live_async.py
  sdk/search/azure-search-documents/tests/test_search_index_client_skillset_live.py
Labels: Search

#30529 [Monitor Query] Docstring updates
  sdk/monitor/azure-monitor-query/azure/monitor/query/_helpers.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_models.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_helpers_async.py
Labels: Monitor - Query

#30551 [Tables] Fix AttributeError while reprocessing error
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/assets.json
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/tests/test_table_client.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
Labels: Client, Tables
