Repository Azure/azure-sdk-for-python, pull requests merged in 2023-11, with the labels that each got.

#32752 Sync eng/common directory with azure-sdk-tools for PR 7193
  eng/common/testproxy/target_version.txt
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#32892 Forward porting changes from azureml-rag
  sdk/ai/azure-ai-generative/CHANGELOG.md
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_embeddings/openai.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_langchain/acs.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_langchain/faiss.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_mlindex.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_tasks/update_acs.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_tasks/update_pinecone.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_utils/deployment.py
Labels: AI

#32485 Removed non-GAed bot identifier APIs from ACS SDKs
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_shared/models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_shared/utils.py
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/azure/communication/chat/__init__.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/models.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/utils.py
  sdk/communication/azure-communication-chat/tests/test_chat_client.py
  sdk/communication/azure-communication-chat/tests/test_chat_client_async.py
  sdk/communication/azure-communication-chat/tests/test_chat_client_e2e.py
  sdk/communication/azure-communication-chat/tests/test_chat_client_e2e_async.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client_async.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client_e2e.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client_e2e_async.py
  sdk/communication/azure-communication-email/azure/communication/email/_shared/models.py
  sdk/communication/azure-communication-email/azure/communication/email/_shared/utils.py
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/azure/communication/identity/__init__.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/models.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/utils.py
  sdk/communication/azure-communication-identity/tests/test_deprecations.py
  sdk/communication/azure-communication-identity/tests/test_identifier_raw_id.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/auth_policy_utils.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/models.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/policy.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/user_credential.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/user_credential_async.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/utils.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/models.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/utils.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/models.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/utils.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_models.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_utils.py
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/azure/communication/rooms/__init__.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_shared/models.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_shared/utils.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/models.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/utils.py
Labels: Communication, Communication - Chat, Communication - Common, Communication - Rooms

#32345 Supress locale.getdefaultlocale warnings
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
Labels: Monitor - Exporter

#32780 [CallAutomation] Some API updates
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_shared/utils.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/setup.py
Labels: Communication

#32898 Update conftest.py
  sdk/openai/azure-openai/tests/conftest.py
Labels: Open AI

#32891 Update Pipeline Compone Bath Deployment inheritance
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_deployment/batch/pipeline_component_batch_deployment_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/pipeline_component_batch_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_deployment_operations.py
Labels: ML-Inference

#32895 [ml] workspace fixes for restclient mismatches
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/feature_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/feature_store_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace_hub/workspace_hub.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_hub_operation.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_outbound_rule_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_entity.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_related_restclients.py
Labels: Machine Learning

#32897 Remove metric namespace from exporter
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/metrics/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/metrics/test_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_exporter.py
Labels: Monitor - Exporter

#32900 [AI] Return json for Non-Streaming Response and Change `extraArgs` to `context`
  sdk/ai/azure-ai-resources/azure/ai/resources/_utils/_scoring_script_utils.py
Labels: AI

#32789 Add tests and refactor connection for QADataGenerator
  .vscode/cspell.json
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/qa.py
  sdk/ai/azure-ai-generative/tests/conftest.py
  sdk/ai/azure-ai-generative/tests/synthetic_qa/e2etests/test_qa_data_generator_e2e.py
  sdk/ai/azure-ai-generative/tests/synthetic_qa/e2etests/utils.py
  sdk/ai/azure-ai-generative/tests/synthetic_qa/unittests/test_qa_data_generator.py
Labels: customer-reported, Community Contribution, AI

#32887 [AI] ci: Enable ApiStubGen for AI
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_evaluation_result.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_utils/connections.py
  sdk/ai/azure-ai-generative/dev_requirements.txt
  sdk/ai/azure-ai-generative/setup.py
  sdk/ai/azure-ai-resources/setup.py
Labels: AI

#32866 [Identity] Add additional broker-related docs
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#32788 [Corehttp] Additional cleanup
  sdk/core/corehttp/corehttp/rest/_aiohttp.py
  sdk/core/corehttp/corehttp/rest/_requests_basic.py
  sdk/core/corehttp/corehttp/runtime/policies/_retry.py
  sdk/core/corehttp/corehttp/runtime/policies/_universal.py
  sdk/core/corehttp/corehttp/transport/aiohttp/_aiohttp.py
  sdk/core/corehttp/corehttp/transport/requests/_bigger_block_size_http_adapters.py
  sdk/core/corehttp/corehttp/transport/requests/_requests_basic.py
  sdk/core/corehttp/sdk_packaging.toml
  sdk/core/corehttp/tests/async_tests/conftest.py
  sdk/core/corehttp/tests/async_tests/rest_client_async.py
  sdk/core/corehttp/tests/conftest.py
  sdk/core/corehttp/tests/rest_client.py
  sdk/core/corehttp/tests/test_authentication.py
  sdk/core/corehttp/tests/test_pipeline.py
  sdk/core/corehttp/tests/test_rest_http_request.py
  sdk/core/corehttp/tests/test_stream_generator.py
  sdk/core/corehttp/tests/testserver_tests/coretestserver/setup.py
Labels: Azure.Core

#32904 Re-Enable `pypy39`
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage

#32908 Remove PF lower bound
  sdk/ai/azure-ai-generative/setup.py
Labels: AI

#32907 Update the feature store operations import version to 08-01 to align …
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
Labels: Machine Learning

#32905 Update the feature_store_operations version to 98091 to align with the ml_client
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
Labels: Machine Learning, ML-Workspace

#32902 Revert "[SB] Update max_wait_time docstrings (#31513)"
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/auto_lock_renew_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/deadletter_messages_and_correct_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_deadlettered_messages_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_deferred_message_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_subscription_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/session_send_receive_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/topic_subscription_with_rule_operations_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/auto_lock_renew.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/deadletter_messages_and_correct.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_deadlettered_messages.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_deferred_message_queue.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_queue.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_subscription.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/session_send_receive.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/topic_subscription_with_rule_operations.py
Labels: Service Bus

#32862 [EG] Fix samples
  sdk/eventgrid/azure-eventgrid/tests/test_cncf_events.py
  sdk/eventgrid/azure-eventgrid/tests/test_cncf_events_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_exceptions.py
  sdk/eventgrid/azure-eventgrid/tests/test_exceptions_async.py
  sdk/eventgrid/tests.yml
Labels: Event Grid

#32926 Batch endpoint pipeline component deployment and model package
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_deployment/batch/batch_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_deployment/batch/pipeline_component_batch_deployment_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_endpoint.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/pipeline_component_batch_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
Labels: Machine Learning, ML-Inference

#32884 [AI] ci: Enable sphinx check
  sdk/ai/azure-ai-generative/pyproject.toml
  sdk/ai/azure-ai-resources/pyproject.toml
  sdk/ai/ci.yml
Labels: AI

#32928 Fix - Get ACS index endpoint from config if possible
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_mlindex.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_utils/connections.py
Labels: AI

#32931 Fix Chat Function Import in Scoring Script
  sdk/ai/azure-ai-resources/azure/ai/resources/_utils/_scoring_script_utils.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_deployment_operations.py
Labels: AI

#32935 Fixed ARB review comments
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_serialization.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
Labels: Communication

#32937 Reverted unwanted main branch rebase changes
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
Labels: Communication

#32939 Build fixes
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
Labels: Communication

#32933 Fix workspace arm template
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/connection_subtypes.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_ai_resource_operations.py
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/workspace_connection_subtypes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection_subtypes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace_hub/_constants.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_hub_operation.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/open_ai.yaml
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace_connections.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_connection_entity.py
Labels: Machine Learning, AI

#32949 [Monitor Query] Fix cspell issues in README
  .vscode/cspell.json
  sdk/monitor/azure-monitor-query/README.md
Labels: Monitor

#32950 [Service Bus] update readme sample session queue name
  sdk/servicebus/azure-servicebus/README.md
Labels: Service Bus

#32940 [docs::azure-monitor-query] fix code example by adding missing timedelta import
  sdk/monitor/azure-monitor-query/README.md
Labels: Monitor, customer-reported, Community Contribution

#32919 mypy for monitor exporter
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_connection_string_parser.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/_base.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/logs/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/metrics/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_sampling.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_state.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_statsbeat.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_statsbeat_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/pyproject.toml
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/authentication/sample_managed_credential.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/authentication/sample_secret_credential.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/logs/sample_correlate.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/logs/sample_exception.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/logs/sample_log.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/logs/sample_properties.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/django/sample/sample/settings.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_app_config.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_blob_checkpoint.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_comm_chat.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_comm_phone.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_comm_sms.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_cosmos.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_event_grid.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_event_hub.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_fastapi.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_flask.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_form_recognizer.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_jaeger.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_key_cert.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_key_keys.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_key_secret.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_psycopg2.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_requests.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_sampling.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_servicebus_receive.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_servicebus_send.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_span_event.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_storage_blob.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_text_analytics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_trace.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/logs/test_logs.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/metrics/test_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/trace/test_trace.py
Labels: Monitor - Exporter

#32948 Fix connection scoping
  sdk/ai/azure-ai-resources/azure/ai/resources/client/_ai_client.py
  sdk/ai/azure-ai-resources/azure/ai/resources/constants/_common.py
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/connection_subtypes.py
Labels: AI

#32957 [ACS JobRouter] GA samples
  sdk/communication/azure-communication-jobrouter/README.md
  sdk/communication/azure-communication-jobrouter/assets.json
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_model_base.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_operations/_patch.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_serialization.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/auth_policy_utils.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/models.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/policy.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/user_credential.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/user_credential_async.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/utils.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_operations/_patch.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/models/__init__.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/models/_models.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/models/_patch.py
  sdk/communication/azure-communication-jobrouter/samples/classification_policy_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/classification_policy_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/distribution_policy_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/distribution_policy_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/exception_policy_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/exception_policy_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/job_queue_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/job_queue_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/router_worker_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/router_worker_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/tsp-location.yaml
Labels: Communication - Common, Communication - Job Router

#32704 [Storage] Add input validation for SAS generation
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared_access_signature.py
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared_access_signature.py
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared_access_signature.py
Labels: Storage

#32973 update versions to reflect correct branches/tags
  sdk/openai/azure-openai/tests/v0_tests/test_completions_async_v0.py
  sdk/openai/azure-openai/tests/v0_tests/test_completions_v0.py
  sdk/openai/azure-openai/tests/v1_tests/test_completions.py
  sdk/openai/azure-openai/tests/v1_tests/test_completions_async.py
  sdk/openai/tests.yml
Labels: Open AI

#32972 broker GA
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_browser.py
  sdk/identity/azure-identity-broker/azure/identity/broker/_version.py
  sdk/identity/azure-identity-broker/setup.py
  sdk/identity/azure-identity-broker/tests/test_broker.py
Labels: Azure.Identity

#32953 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
Labels: KeyVault

#32976 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
Labels: KeyVault

#32974 Fix typo in sample.py
  sdk/synapse/azure-synapse/samples/sample.py
Labels: customer-reported, Synapse, Community Contribution

#32975 fix project ARM template
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
Labels: Machine Learning

#32951 Fix workspace arm template (#32933)
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/workspace_connection_subtypes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection_subtypes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace_hub/_constants.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_hub_operation.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/open_ai.yaml
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace_connections.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_connection_entity.py
Labels: Machine Learning, ML-WorkspaceConnections, AI

#32890 [Storage] STG91 Release Prep (APIView Feedback)
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
Labels: Storage

#32954 Mypy for azure monitor distro
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/collector/sample_collector.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/django/sample/example/views.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_autoinstrumentation/distro.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_diagnostics/diagnostic_logging.py
  sdk/monitor/azure-monitor-opentelemetry/samples/logging/basic.py
  sdk/monitor/azure-monitor-opentelemetry/samples/tracing/django/sample/sample/settings.py
Labels: Monitor - Distro

#32980 Fix readme
  sdk/search/azure-search-documents/README.md
Labels: Search

#32673 Remove deprecated Python settings from devcontainer.json
  .devcontainer/devcontainer.json
Labels: customer-reported, Community Contribution

#32983 Fix broken link
  sdk/monitor/azure-monitor-opentelemetry/samples/README.md
Labels: Monitor - Distro

#32981 [Storage] STG91 GA Release Prep
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#32984 Release 1.0.0b18 azure monitor opentelemetry exporter
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor - Exporter

#32985 Evaluate property for chat column identifier
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_evaluate.py
Labels: AI

#32979 Create FeatureWindow entity and make it public -based on main branch
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_backfill_request.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_window.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_entity_operations.py
Labels: Machine Learning

#32899 [ml] 1.12.0 release api view fixes
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/feature_set_backfill_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/serverless_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_backfill_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_backfill_request.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/image_limit_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/image_object_detection_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_notification/notification.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/serverless_compute.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_backfill_request.py
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/feature_set_backfill_request.yml
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_entity.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#32982 [Identity] More doc fixes
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_browser.py
Labels: Azure.Identity

#32988 update release date
  sdk/identity/azure-identity-broker/CHANGELOG.md
Labels: Azure.Identity

#32929 [Monitor Ingestion] Update changelog for release
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
Labels: Monitor

#32992 ACR and AppIn creation on hub creation
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
Labels: Machine Learning

#32995 Adding support for studio url and use completion api
  .vscode/cspell.json
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_evaluate.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_evaluation_result.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_metric_handler.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_utils.py
Labels: AI

#32991 Create FeatureWindow entity and make it public -based on main branch …
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_backfill_request.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_window.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_entity_operations.py
Labels: Machine Learning

#33001 Handle azure-search-documents b11 when creating VectorSearch config.
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_tasks/update_acs.py
Labels: AI

#33004 ACR and AppIn creation on hub creation (#32992)
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
Labels: Machine Learning

#32999 Auto retrieve AI resource name
  sdk/ai/azure-ai-resources/azure/ai/resources/client/_ai_client.py
Labels: AI

#33012 [ml] 1.12.0 release api view fixes
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/feature_set_backfill_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/serverless_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_backfill_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_backfill_request.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/image_limit_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/image_object_detection_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_notification/notification.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/serverless_compute.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_backfill_request.py
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/feature_set_backfill_request.yml
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_entity.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning, ML-Workspace

#33014 Needuv/foundation model deployment failures
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_deployment_operations.py
Labels: AI

#32996 Merge dependencies for index
  sdk/ai/azure-ai-generative/dev_requirements.txt
  sdk/ai/azure-ai-generative/setup.py
Labels: AI

#33016 Release monitor distro 1.0.1
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
Labels: Monitor - Distro

#33015 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#32689 Typos in doc /doc/dev/tests.md
  doc/dev/tests.md
Labels: customer-reported, Community Contribution

#32997 [Storage] Prep for STG91 GA Release (again)
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#32795 [FR] Add send_request() on v2 api versions tests and samples
  sdk/formrecognizer/azure-ai-formrecognizer/assets.json
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_base_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_base_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_send_request_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_send_request.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_custom_model_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_send_request.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_send_request_async.py
Labels: Client, Cognitive - Form Recognizer

#33017 [ACS JobRouter] Regenerate close job and complete job with updated signature
  sdk/communication/azure-communication-jobrouter/CHANGELOG.md
  sdk/communication/azure-communication-jobrouter/README.md
  sdk/communication/azure-communication-jobrouter/assets.json
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_operations/_patch.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_operations/_patch.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/models/_models.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/models/_patch.py
  sdk/communication/azure-communication-jobrouter/samples/exception_policy_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/exception_policy_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/job_queue_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/router_worker_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/router_worker_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/tests/_router_test_case.py
  sdk/communication/azure-communication-jobrouter/tests/_router_test_case_async.py
  sdk/communication/azure-communication-jobrouter/tests/test_assignment_scenario.py
  sdk/communication/azure-communication-jobrouter/tests/test_assignment_scenario_async.py
  sdk/communication/azure-communication-jobrouter/tsp-location.yaml
Labels: Communication - Job Router

#32914 [AppConfig] Address ApiView feedback
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/assets.json
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_utils.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_async.py
Labels: Client, App Configuration

#32603 [EventGrid] Nov events
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
  sdk/eventgrid/azure-eventgrid/swagger/_constants.py
Labels: Event Grid

#32930 [EG] update test fix
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_exceptions.py
  sdk/eventgrid/azure-eventgrid/tests/test_exceptions_async.py
Labels: Event Grid

#33020 [FR] Update release date
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
Labels: Client, Cognitive - Form Recognizer

#33025 Increment version for identity releases
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_version.py
Labels: Azure.Identity

#33028 Increment version for monitor releases
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_version.py
Labels: Monitor

#33022 Sync eng/common directory with azure-sdk-tools for PR 7251
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#33009 [Monitor] Fix ssl errors in live tests
  sdk/monitor/tests.yml
Labels: Monitor

#32813 [Corehttp] Add httpx transport
  sdk/core/corehttp/CHANGELOG.md
  sdk/core/corehttp/README.md
  sdk/core/corehttp/corehttp/rest/_http_response_impl.py
  sdk/core/corehttp/corehttp/rest/_http_response_impl_async.py
  sdk/core/corehttp/corehttp/rest/_httpx.py
  sdk/core/corehttp/corehttp/transport/httpx/__init__.py
  sdk/core/corehttp/corehttp/transport/httpx/_httpx.py
  sdk/core/corehttp/dev_requirements.txt
  sdk/core/corehttp/setup.py
  sdk/core/corehttp/tests/async_tests/rest_client_async.py
  sdk/core/corehttp/tests/async_tests/test_authentication_async.py
  sdk/core/corehttp/tests/async_tests/test_content_length_checking_async.py
  sdk/core/corehttp/tests/async_tests/test_pipeline_async.py
  sdk/core/corehttp/tests/async_tests/test_rest_http_response_async.py
  sdk/core/corehttp/tests/async_tests/test_rest_stream_responses_async.py
  sdk/core/corehttp/tests/async_tests/test_retry_policy_async.py
  sdk/core/corehttp/tests/async_tests/test_streaming_async.py
  sdk/core/corehttp/tests/rest_client.py
  sdk/core/corehttp/tests/test_authentication.py
  sdk/core/corehttp/tests/test_content_length_checking.py
  sdk/core/corehttp/tests/test_exceptions.py
  sdk/core/corehttp/tests/test_pipeline.py
  sdk/core/corehttp/tests/test_rest_http_request.py
  sdk/core/corehttp/tests/test_rest_http_response.py
  sdk/core/corehttp/tests/test_rest_stream_responses.py
  sdk/core/corehttp/tests/test_retry_policy.py
  sdk/core/corehttp/tests/test_streaming.py
  sdk/core/corehttp/tests/utils.py
Labels: Azure.Core

#33035 [Storage] Increment versions after STG91 GA Release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#32595 Upgrade create job API from v2023_04_01_preview to v2023_08_01 preview
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/pipeline_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
Labels: Machine Learning

#33029 [EG] Changelog for release
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
Labels: Event Grid

#33032 Moving artifacts to output path without download
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_evaluate.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_utils.py
Labels: AI

#32560 Update README.md
  README.md
Labels: customer-reported, Community Contribution

#33030 Sync eng/common directory with azure-sdk-tools for PR 7255
  eng/common/testproxy/onboarding/README.md
Labels: EngSys, Central-EngSys

#33052 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#33054 Stop Deployment Log Spew
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_deployment_operations.py
Labels: AI

#33027 Release monitor distro 1.1.0
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
  sdk/monitor/azure-monitor-opentelemetry/setup.py
Labels: Monitor - Distro

#33039 Fix LangChain import path
  sdk/ai/azure-ai-generative/CHANGELOG.md
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_langchain/acs.py
  sdk/ai/azure-ai-generative/sdk_packaging.toml
Labels: AI

#32707 [AppConfig] Generate with stable swagger for Snapshot support
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/assets.json
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_credential.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_requests.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_azure_app_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_serialization.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_azure_app_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/operations/_azure_app_configuration_operations.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/_models_py3.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/operations/_azure_app_configuration_operations.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_user_agent.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_utils.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/setup.py
  sdk/appconfiguration/azure-appconfiguration/swagger/README.md
Labels: Client, App Configuration

#33059 [ACS JobRouter] Update commit in tsp-location.yaml + regenerate code
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_operations/_patch.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_operations/_patch.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/models/_models.py
  sdk/communication/azure-communication-jobrouter/tsp-location.yaml
Labels: Communication - Job Router

#33050 Docstrings for evaluate
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_evaluate.py
  sdk/ai/azure-ai-generative/samples/ai_samples_evaluate.py
  sdk/ai/azure-ai-generative/samples/src/config.json
Labels: AI

#33041 Renamed cancel_add_participant to cancel_add_participant_operation
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_serialization.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_add_participant_then_cancel_request.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_create_VOIP_call_and_answer_then_hangup.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_add_and_mute_participant_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_dtmf_actions_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_media_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/test_call_connection_client.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_callautomation_client.py
Labels: Communication

#33053 [SB] Align Link Credit Changes
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/receiver.py
Labels: Service Bus

#33047 release eventhub
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
Labels: Event Hubs

#33031 test stopgap support for dall-e in v1
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/v1_tests/test_dall_e.py
  sdk/openai/azure-openai/tests/v1_tests/test_dall_e_async.py
Labels: Open AI

#33061 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#33070 Sync eng/common directory with azure-sdk-tools for PR 7266
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#33072 Accommodate "kind" in Chat Completion Messages
  sdk/ai/azure-ai-resources/azure/ai/resources/_utils/_scoring_script_utils.py
Labels: AI

#32911 Enable Build of Non-Universal Wheels
  .vscode/cspell.json
  eng/ci_tools.txt
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/steps/build-package-artifacts.yml
  eng/tox/create_package_and_install.py
  scripts/devops_tasks/common_tasks.py
  tools/azure-sdk-tools/ci_tools/build.py
  tools/azure-sdk-tools/ci_tools/functions.py
  tools/azure-sdk-tools/ci_tools/parsing/parse_functions.py
  tools/azure-sdk-tools/setup.py
  tools/azure-sdk-tools/tests/conftest.py
  tools/azure-sdk-tools/tests/integration/scenarios/sample_interpreter_tags/from_WSL_310.txt
  tools/azure-sdk-tools/tests/test_parse_functionality.py
  tools/azure-sdk-tools/tests/test_whl_discovery.py
Labels: Storage

#33074 [EH] ApiView fix
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
Labels: Event Hubs

#33077 [ACS JobRouter] Fix missing constructor issue for options
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/models/__init__.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/models/_models.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/models/_patch.py
  sdk/communication/azure-communication-jobrouter/tsp-location.yaml
Labels: Communication - Job Router

#32341 [SchemaRegistry] add protobuf format
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/assets.json
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_constants.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_response_handlers.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_configuration.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_serialization.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_version.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/_configuration.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/operations/_operations.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_schema_registry_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_utils.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_schema_registry_client_async.py
  sdk/schemaregistry/azure-schemaregistry/conftest.py
  sdk/schemaregistry/azure-schemaregistry/setup.py
  sdk/schemaregistry/azure-schemaregistry/swagger/README.md
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/test_schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/person.proto
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
Labels: Schema Registry

#33076 [EGv2] Ignite doc updates
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_binary_mode_async.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_binary_mode.py
Labels: Event Grid

#33064 [AppConfig] Address apiview feedback
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_appconfiguration_client_async.py
Labels: App Configuration

#33078 Fix Rooms sample run in live tests
  sdk/communication/azure-communication-rooms/samples/rooms_client_sample.py
  sdk/communication/azure-communication-rooms/samples/rooms_client_sample_async.py
Labels: Communication - Rooms

#33065 [AppConfig] Update code snippet
  sdk/appconfiguration/azure-appconfiguration/README.md
  sdk/appconfiguration/azure-appconfiguration/samples/hello_world_advanced_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/hello_world_advanced_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/hello_world_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/hello_world_sample_async.py
Labels: Client, App Configuration

#32585 [Tables] Add samples for how to get timestamp and etag of an entity
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/__init__.py
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_entity.py
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/samples/README.md
  sdk/tables/azure-data-tables/samples/async_samples/sample_get_entity_etag_and_timestamp_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_query_table_async.py
  sdk/tables/azure-data-tables/samples/sample_get_entity_etag_and_timestamp.py
  sdk/tables/azure-data-tables/samples/sample_query_table.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
Labels: Client, Tables

#33080 [EH] pyproject update
  sdk/eventhub/azure-eventhub/pyproject.toml
Labels: Event Hubs

#33082 [AppConfig] GA preparation
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
  sdk/appconfiguration/azure-appconfiguration/setup.py
Labels: Client, App Configuration

#33083 Sync eng/common directory with azure-sdk-tools for PR 7268
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#33088 [EH] pyproject change to aio blob checkpoint
  sdk/eventhub/azure-eventhub-checkpointstoreblob/pyproject.toml
  sdk/eventhub/azure-eventhub/pyproject.toml
Labels: Event Hubs

#33034 Add Index metrics to python sdk
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_utils.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/http_constants.py
  sdk/cosmos/azure-cosmos/test/test_query.py
  sdk/cosmos/azure-cosmos/test/test_query_async.py
Labels: Cosmos

#33087 [AppConfig] Update CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
Labels: Client, App Configuration

#33090 Increment version for schemaregistry releases
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_version.py
Labels: Schema Registry

#33092 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
Labels: App Configuration

#33068 Adding resources at sweep level
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_sweep/parameterized_sweep.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/sweep.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_limits.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/objective.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/parameterized_sweep.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/sampling_algorithm.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/sweep_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/to_rest_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline_with_specific_nodes.py
  sdk/ml/azure-ai-ml/tests/job_common/unittests/test_job_operations.py
  sdk/ml/azure-ai-ml/tests/sweep_job/e2etests/test_sweep_job.py
  sdk/ml/azure-ai-ml/tests/sweep_job/unittests/test_sweep_job.py
  sdk/ml/azure-ai-ml/tests/sweep_job/unittests/test_sweep_job_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/sweep_job/sweep_job_test_with_resources.yaml
Labels: Machine Learning

#33097 Update dev_requirements.txt
  sdk/openai/azure-openai/dev_requirements.txt
Labels: Open AI

#33079 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#33024 Increment version for formrecognizer releases
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Labels: Cognitive - Form Recognizer

#33010 Increment version for purview releases
  sdk/purview/azure-purview-workflow/CHANGELOG.md
  sdk/purview/azure-purview-workflow/azure/purview/workflow/_version.py
Labels: Purview

#32896 Increment version for synapse releases
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_version.py
  sdk/synapse/azure-synapse-artifacts/setup.py
Labels: Synapse

#33100 update changelog
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search

#33102 [Cosmos] update changelog for release
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#33103 Update CHANGELOG.md
  sdk/ai/azure-ai-generative/CHANGELOG.md
  sdk/ai/azure-ai-resources/CHANGELOG.md
Labels: AI

#33105 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#33106 fix samples
  sdk/search/azure-search-documents/samples/async_samples/sample_vector_search_async.py
  sdk/search/azure-search-documents/samples/sample_vector_search.py
Labels: Search

#29045 [Storage] Update typing for `azure-storage-queue`
  sdk/storage/azure-storage-queue/azure/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_deserialize.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_encryption.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_message_encoding.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client_helpers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client_helpers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/authentication.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/parser.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/response_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
  sdk/storage/azure-storage-queue/mypy.ini
  sdk/storage/azure-storage-queue/pyproject.toml
  sdk/storage/azure-storage-queue/samples/network_activity_logging.py
  sdk/storage/azure-storage-queue/samples/queue_samples_authentication.py
  sdk/storage/azure-storage-queue/samples/queue_samples_authentication_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_hello_world.py
  sdk/storage/azure-storage-queue/samples/queue_samples_hello_world_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_message.py
  sdk/storage/azure-storage-queue/samples/queue_samples_message_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_service.py
  sdk/storage/azure-storage-queue/samples/queue_samples_service_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_encodings.py
Labels: Storage

#33109 Add support for async method to be used with evaluate api
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_local_code_handler.py
Labels: AI

#33112 Set whl_no_aio to false for gen ai package
  sdk/ai/azure-ai-generative/pyproject.toml
Labels: AI

#33113 Adding typing for evaluate api
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_evaluate.py
Labels: AI

#33116 [Corehttp] Refactor tests imports
  sdk/core/corehttp/tests/utils.py
Labels: Azure.Core

#33098 [EH] aio blob fix
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/pyproject.toml
  sdk/eventhub/azure-eventhub-checkpointstoreblob/pyproject.toml
  sdk/eventhub/azure-eventhub/CHANGELOG.md
Labels: Event Hubs

#33125 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#32464 App Configuration Python Provider - Refresh Success Callback
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/README.md
  sdk/appconfiguration/azure-appconfiguration-provider/assets.json
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/__init__.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_models.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/refresh_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/asynctestcase.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_refresh.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_refresh.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/testcase.py
Labels: App Configuration Provider

#33130 Sync eng/common directory with azure-sdk-tools for PR 7262
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#33132 Change from not equal to bigger for gen-ai dependency
  sdk/ai/azure-ai-generative/setup.py
Labels: AI

#33128 [EH] Don't run py312
  eng/pipelines/templates/stages/platform-matrix-no-312.json
  sdk/eventhub/ci.yml
Labels: Event Hubs

#33136 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs

#32860 [AMQP] Fix Filter Set Encoding For 2 Char Length Session id
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_encode.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/unittest/test_encode.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_encode.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Service Bus, Event Hubs

#33140 fix userConnection initialization issue
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/simulator/simulator.py
Labels: customer-reported, Community Contribution, AI

#33149 [ACS JobRouter] Enum discriminators for polymorphic base classes
  sdk/communication/azure-communication-jobrouter/CHANGELOG.md
  sdk/communication/azure-communication-jobrouter/assets.json
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/__init__.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_operations/__init__.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_operations/_patch.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/__init__.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_operations/__init__.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_operations/_patch.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/models/__init__.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/models/_enums.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/models/_models.py
  sdk/communication/azure-communication-jobrouter/mypy.ini
  sdk/communication/azure-communication-jobrouter/pyproject.toml
  sdk/communication/azure-communication-jobrouter/samples/classification_policy_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/classification_policy_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/distribution_policy_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/distribution_policy_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/exception_policy_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/exception_policy_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/job_queue_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/job_queue_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/router_worker_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/router_worker_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/sample_authentication.py
  sdk/communication/azure-communication-jobrouter/samples/sample_authentication_async.py
  sdk/communication/azure-communication-jobrouter/tests/_validators.py
  sdk/communication/azure-communication-jobrouter/tests/test_distribution_policy_async.py
  sdk/communication/azure-communication-jobrouter/tsp-location.yaml
Labels: Communication - Job Router

#32792 Gfeitosa/enable int improve coverage
  .coveragerc
  eng/tox/tox.ini
  sdk/communication/azure-communication-sms/pyproject.toml
  sdk/communication/azure-communication-sms/samples/send_sms_to_multiple_recipients_sample.py
  sdk/communication/azure-communication-sms/samples/send_sms_to_multiple_recipients_sample_async.py
  sdk/communication/azure-communication-sms/samples/send_sms_to_single_recipient_sample.py
  sdk/communication/azure-communication-sms/samples/send_sms_to_single_recipient_sample_async.py
  sdk/communication/azure-communication-sms/samples/sms_token_credential_auth_sample.py
  sdk/communication/azure-communication-sms/samples/sms_token_credential_auth_sample_async.py
  sdk/communication/azure-communication-sms/tests.yml
  sdk/communication/azure-communication-sms/tests/acs_sms_test_case.py
  sdk/communication/azure-communication-sms/tests/conftest.py
  sdk/communication/azure-communication-sms/tests/test_sms_client.py
  sdk/communication/azure-communication-sms/tests/test_sms_client_async.py
Labels: Communication - SMS

#33144 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus

#33156 adjust tests for recognize pii changes
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_recognize_pii_entities_async.py
Labels: Cognitive - Text Analytics

#33155 Sync eng/common directory with azure-sdk-tools for PR 7276
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#33158 re add connection metadata
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/base_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection.py
Labels: AI

#33160 [ACS JobRouter] Multiple docstring updates
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_client.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_configuration.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_client.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_configuration.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/models/_enums.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/models/_models.py
  sdk/communication/azure-communication-jobrouter/tsp-location.yaml
Labels: Communication - Job Router

#33148 [Storage] Fix indent on parquet warning
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
Labels: Storage

#33055 [Storage] [STG92] ListHandles Returns `client_name` Field
  .vscode/cspell.json
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_azure_file_storage.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_configuration.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_serialization.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_azure_file_storage.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_configuration.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/swagger/README.md
  sdk/storage/azure-storage-file-share/tests/test_handle.py
  sdk/storage/azure-storage-file-share/tests/test_handle_async.py
Labels: Storage
