Repository Azure/azure-sdk-for-python, pull requests merged in 2023-04, with the labels that each got.

#28512 [ServiceBus] uamqp/pyamqp switch
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/_configuration.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/mgmt_handlers.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_message_backcompat.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/endpoints.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_base.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_uamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_transport/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_transport/_base_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_transport/_pyamqp_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_transport/_uamqp_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_shared_key_policy_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_amqp_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_amqp_utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_shared_key_policy.py
  sdk/servicebus/azure-servicebus/conftest.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_iterator_queue_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_topic_async.py
  sdk/servicebus/azure-servicebus/tests/livetest/test_errors.py
  sdk/servicebus/azure-servicebus/tests/servicebus_preparer.py
  sdk/servicebus/azure-servicebus/tests/test_connection_string_parser.py
  sdk/servicebus/azure-servicebus/tests/test_message.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
  sdk/servicebus/azure-servicebus/tests/test_subscriptions.py
  sdk/servicebus/azure-servicebus/tests/test_topic.py
  sdk/servicebus/azure-servicebus/tests/unittests/test_errors.py
  sdk/servicebus/azure-servicebus/tests/utilities.py
  sdk/servicebus/tests.yml
Labels: Service Bus, auto-merge

#29723 Suppress Keyvault Credscan Error
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
Labels: KeyVault

#29706 Make offline/online store mutable on feature store workspace update
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
Labels: Machine Learning

#29702 [Storage] Fix session closure of filesystem v2
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
Labels: Storage

#29004 Updating package release to run through the ESRP release pipeline
  .vscode/cspell.json
  doc/esrp_release.md
  eng/pipelines/templates/stages/archetype-python-release.yml
Labels: Central-EngSys

#29721 Add tags, provisioning_state and creation_context to batch-deployment list output
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_deployment/batch/batch_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/batch_deployment.py
Labels: Machine Learning, ML-Inference, ML-Assets

#29728 exclude workload identity from dac
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
Labels: Azure.Identity

#29737 [Storage] Fix changelog typo for `file_request_intent`
  sdk/storage/azure-storage-file-share/CHANGELOG.md
Labels: Storage

#29592 [AutoRelease] t2-communication-2023-03-27-68423(can only be merged by SDK owner)
  sdk/communication/azure-mgmt-communication/CHANGELOG.md
  sdk/communication/azure-mgmt-communication/_meta.json
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/_communication_service_management_client.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/_configuration.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/_version.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/aio/_communication_service_management_client.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/aio/_configuration.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/aio/operations/_communication_services_operations.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/aio/operations/_domains_operations.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/aio/operations/_email_services_operations.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/aio/operations/_operations.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/aio/operations/_sender_usernames_operations.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/operations/_communication_services_operations.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/operations/_domains_operations.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/operations/_email_services_operations.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/operations/_operations.py
  sdk/communication/azure-mgmt-communication/azure/mgmt/communication/operations/_sender_usernames_operations.py
  sdk/communication/azure-mgmt-communication/generated_samples/cancel_verification.py
  sdk/communication/azure-mgmt-communication/generated_samples/check_name_availability_available.py
  sdk/communication/azure-mgmt-communication/generated_samples/check_name_availability_unavailable.py
  sdk/communication/azure-mgmt-communication/generated_samples/create_or_update.py
  sdk/communication/azure-mgmt-communication/generated_samples/delete.py
  sdk/communication/azure-mgmt-communication/generated_samples/get.py
  sdk/communication/azure-mgmt-communication/generated_samples/get_verified_exchange_online_domains.py
  sdk/communication/azure-mgmt-communication/generated_samples/initiate_verification.py
  sdk/communication/azure-mgmt-communication/generated_samples/link_notification_hub.py
  sdk/communication/azure-mgmt-communication/generated_samples/list_by_domain.py
  sdk/communication/azure-mgmt-communication/generated_samples/list_by_email_service.py
  sdk/communication/azure-mgmt-communication/generated_samples/list_by_resource_group.py
  sdk/communication/azure-mgmt-communication/generated_samples/list_by_subscription.py
  sdk/communication/azure-mgmt-communication/generated_samples/list_keys.py
  sdk/communication/azure-mgmt-communication/generated_samples/operations_list.py
  sdk/communication/azure-mgmt-communication/generated_samples/regenerate_key.py
  sdk/communication/azure-mgmt-communication/generated_samples/update.py
Labels: Communication

#29726 revert the proactive refresh change
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_assertion.py
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_internal/client_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/get_token_mixin.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_base.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_assertion.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/get_token_mixin.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/managed_identity_base.py
  sdk/identity/azure-identity/tests/test_get_token_mixin.py
  sdk/identity/azure-identity/tests/test_get_token_mixin_async.py
  sdk/identity/azure-identity/tests/test_managed_identity_client.py
  sdk/identity/azure-identity/tests/test_managed_identity_client_async.py
Labels: Azure.Identity

#29601 [FR] add support for query fields
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/assets.json
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_analysis_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_analysis_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_general_document.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_general_document_async.py
Labels: Cognitive - Form Recognizer

#29489 [Core] HttpX Support in Azure Core Experimental
  .vscode/cspell.json
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/azure/core/experimental/transport/__init__.py
  sdk/core/azure-core-experimental/azure/core/experimental/transport/_httpx.py
  sdk/core/azure-core-experimental/azure/core/experimental/transport/_httpx_async.py
  sdk/core/azure-core-experimental/dev_requirements.txt
  sdk/core/azure-core-experimental/samples/httpx_integration/httpx_transport_sample.py
  sdk/core/azure-core-experimental/samples/httpx_integration/httpx_transport_sample_async.py
  sdk/core/azure-core-experimental/tests/async_tests/test_httpx_transport_async.py
  sdk/core/azure-core-experimental/tests/test_httpx_transport.py
Labels: Azure.Core

#29612 [FR] add support for azure blob file list source
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/assets.json
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training_async.py
Labels: Cognitive - Form Recognizer

#29503 [ServiceBus] Files for SB Perf Tests
  sdk/servicebus/azure-servicebus/tests/perf_tests/_test_base.py
  sdk/servicebus/perf-tests.yml
  sdk/servicebus/perf.yml
Labels: Service Bus

#28910 add MicrosoftBotIdentifier and tests
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_shared/models.py
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/azure/communication/chat/__init__.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/models.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_version.py
  sdk/communication/azure-communication-email/azure/communication/email/_shared/models.py
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/azure/communication/identity/__init__.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/models.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_version.py
  sdk/communication/azure-communication-identity/tests/test_identifier_raw_id.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/models.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/models.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/models.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_shared/models.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/models.py
Labels: Communication, Communication - Common, Communication - Identity

#29743 Change AzureML Telemetry key and flag name
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/fl_scatter_gather.py
Labels: Machine Learning

#29161 [ACR] Support download blob in chunks
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/assets.json
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_download_stream.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_serialization.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_vendor.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_vendor.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_enums.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_patch.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_download_stream.py
  sdk/containerregistry/azure-containerregistry/samples/sample_upload_download_manifest.py
  sdk/containerregistry/azure-containerregistry/swagger/README.md
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
Labels: Container Registry, Client

#29756 [ACR] Prepare release
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/samples/README.md
Labels: Container Registry, Client

#29759 Fix managed network provision
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
Labels: Machine Learning, ML-Workspace

#29670 [Service Bus] Fix System.Byte[] Not Supported
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_message_backcompat.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
Labels: Service Bus

#29767 Update changelogs
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-mgmt-core/CHANGELOG.md
Labels: Azure.Core

#29769 Sync eng/common directory with azure-sdk-tools for PR 5918
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#29771 Sync eng/common directory with azure-sdk-tools for PR 5924
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#29755 [Identity][Docs] Update troubleshooting guide
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#29770 [Core] Change order of default tracing check
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/settings.py
Labels: Azure.Core

#29636 [FR] add misc new models/properties
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_general_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_build_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_copy_model_to_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_manage_classifiers_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_manage_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_general_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_build_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_copy_model_to.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_manage_classifiers.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_manage_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_classifiers.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_classifiers_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_copy_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_ftc_copy_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_to_dict_v3.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Cognitive - Form Recognizer

#29762 [python] azure-communication-identity release
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/setup.py
Labels: Communication, Communication - Identity

#29778 Increment version for communication releases
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/azure/communication/identity/_version.py
Labels: auto-merge, Communication

#29782 EG changelog
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
Labels: Event Grid

#29773 [Identity] Disable added CAE support for release
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_live.py
  sdk/identity/azure-identity/tests/test_live_async.py
Labels: Azure.Identity

#29765 [ServiceBus] Fix sb perf test
  sdk/servicebus/azure-servicebus/tests/perf_tests/_test_base.py
  sdk/servicebus/perf-resources.bicep
  sdk/servicebus/perf.yml
Labels: Service Bus

#29732 [FR] add document classifier to operation details
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/assets.json
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_operations_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_operations.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_mgmt_async.py
Labels: Cognitive - Form Recognizer

#29787 Increment version for core releases
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/azure/core/experimental/_version.py
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, auto-merge

#29796 [Core Experimental] Fix Typo in Sample
  sdk/core/azure-core-experimental/samples/httpx_integration/httpx_transport_sample_async.py
Labels: Azure.Core

#29758 Increment version for containerregistry releases
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_version.py
Labels: Container Registry, auto-merge

#29704 Increment version for communication releases
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-email/azure/communication/email/_version.py
Labels: auto-merge, Communication

#29663 Increment version for purview releases
  sdk/purview/azure-purview-sharing/CHANGELOG.md
  sdk/purview/azure-purview-sharing/azure/purview/sharing/_version.py
Labels: auto-merge

#28578 [Event Hubs] Update load balance interval
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
Labels: Event Hubs

#29497 [Cosmos] Patch API implementation
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/samples/document_management.py
  sdk/cosmos/azure-cosmos/samples/document_management_async.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
Labels: Cosmos

#29802 [Storage] Improve `generate_blob_sas` version_id documentation
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
Labels: Storage

#29736 [Storage] `_queue_client.py` mypy fixes
  sdk/storage/azure-storage-queue/azure/storage/queue/_models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/response_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/mypy.ini
  sdk/storage/azure-storage-queue/tests/recordings/test_queue_encodings.pyTestStorageQueueEncodingtest_message_text_xml.json
  sdk/storage/azure-storage-queue/tests/test_queue_encodings.py
Labels: Storage

#29710 [FR] add document annotations, images, formulas, barcodes to DocumentPage
  .vscode/cspell.json
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/__init__.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_repr.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_to_dict_v3.py
Labels: Cognitive - Form Recognizer

#29604 Ikumarapeli/recording downloader
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_recording_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_content_downloader.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_shared/policy.py
  sdk/communication/azure-communication-callautomation/tests/test_call_recording_client.py
Labels: Communication

#29744 add comment for errors thrown
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
Labels: Communication

#29776 [FR] docs update for beta release
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/samples/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
Labels: Cognitive - Form Recognizer

#29813 [Identity] Beta release prep
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_live.py
  sdk/identity/azure-identity/tests/test_live_async.py
Labels: Azure.Identity

#29809 Enable GitHub Event Processor for Python
  .github/event-processor.config
  .github/fabricbot.json
  .github/workflows/event-processor.yml
  .github/workflows/label-needs-triage.yml
  .github/workflows/remove-needs-triage.yml
  .github/workflows/scheduled-event-processor.yml
Labels: Central-EngSys

#29816 [ServiceBus] prep release 7.9.0
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#29815 [ServiceBus] prep release 7.10.0b1
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_iterator_queue_async.py
Labels: Service Bus

#29831 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus, auto-merge

#29583 [Test Proxy] Update guidance on `git` versioning and troubleshooting
  doc/dev/recording_migration_guide.md
  doc/dev/test_proxy_troubleshooting.md
  doc/dev/tests.md
Labels: Docs, EngSys

#29830 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, auto-merge

#29835 Increment version for monitor releases
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_version.py
Labels: auto-merge, Monitor - Ingestion

#29837 [TA] skip flaky tests
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_async.py
Labels: Cognitive - Text Analytics

#29825 [Storage] STG87 API View Feedback
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-file-share/tests/recordings/test_file.pyTestStorageFiletest_create_file_with_oauth_no_token_intent.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_file_async.pyTestStorageFileAsynctest_create_file_with_oauth_no_token_intent.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_share.pyTestStorageSharetest_create_share_with_oauth_fails.json
  sdk/storage/azure-storage-file-share/tests/recordings/test_share_async.pyTestStorageShareAsynctest_create_share_with_oauth_fails.json
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
  sdk/storage/azure-storage-file-share/tests/test_file_client.py
  sdk/storage/azure-storage-file-share/tests/test_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage

#29651 [ML][Pipelines] Singularity: fix case issue in internal component & support full/short name experience
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/runsettings/ai_super_computer_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_arm_id_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_operation_orchestrator.py
  sdk/ml/azure-ai-ml/setup.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_pipeline_singularity_property_bag_submission.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_pipeline_singularity_strong_type_submission.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_singularity_no_compute_in_yaml.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_singularity_short_name.json
  sdk/ml/azure-ai-ml/tests/test_configs/components/helloworld_component_singularity.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/helloworld_pipeline_job_with_singularity_compute.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/singularity/pipeline_job_no_compute.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/singularity/pipeline_job_short_name.yml
Labels: Machine Learning, ML-Pipelines

#29839 Ignore sample link from package deprecation guide
  eng/ignore-links.txt
Labels: EngSys, test-reliability

#29616 [OTel] Enable span suppression
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/azure/core/tracing/ext/opentelemetry_span/__init__.py
  sdk/core/azure-core-tracing-opentelemetry/dev_requirements.txt
  sdk/core/azure-core-tracing-opentelemetry/tests/conftest.py
  sdk/core/azure-core-tracing-opentelemetry/tests/test_threading.py
  sdk/core/azure-core-tracing-opentelemetry/tests/test_tracing_implementations.py
Labels: Azure.Core

#29866 [Storage] Update changelog for STG87 GA Release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
Labels: Storage

#29836 Add Status to managed network & outbound rules
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/networking.py
Labels: ML-Workspace

#29843 [formrecognizer] Add tests and samples for new features
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_invoices_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_invoices.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_layout.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_layout_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilt_read.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilt_read_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/testcase.py
Labels: Cognitive - Form Recognizer

#29867 [formrecognizer] Release prep
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/README.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_generated/v2023_02_28_preview/models/_patch.py
Labels: Cognitive - Form Recognizer

#29864 Add guidance for PermissionError during tool execution
  doc/dev/test_proxy_troubleshooting.md
Labels: Docs, EngSys

#29808 Fix FL node MLTable error
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/fl_scatter_gather.py
Labels: Machine Learning

#29871 Increment version for storage releases
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
Labels: Storage, auto-merge

#29775 Add pre-commit config for azure-ai-ml package
  eng/black-pyproject.toml
  sdk/ml/azure-ai-ml/.pre-commit-config.yaml
  sdk/ml/azure-ai-ml/pyproject.toml
Labels: Machine Learning

#29881 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: auto-merge

#29886 fix model download for public registry.
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_registry_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
Labels: Machine Learning

#29900 Update links in `multiapi.md`
  doc/dev/mgmt/multiapi.md
Labels: Docs

#29882 [ACR] Update default audience
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/assets.json
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_helpers.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
  sdk/containerregistry/azure-containerregistry/tests/testcase.py
Labels: Container Registry, Client

#29887 [ACR] Regen code with swagger transform updates
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_vendor.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_configuration.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_vendor.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_enums.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_patch.py
  sdk/containerregistry/azure-containerregistry/swagger/README.md
Labels: Container Registry, Client

#29848 [ML][Pipelines] Provide API to get node predecessors for @pipeline
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_pipeline_component_builder.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_util.py
  sdk/ml/azure-ai-ml/tests/dsl/_util.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_io_builder.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_entity.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/2in2out.yaml
Labels: Machine Learning, ML-Pipelines

#29884 Update featurestore classes for PuP
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_artifact_utilities.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/_input_outputs.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/runsettings/ai_super_computer_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/feature_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/feature_set_specification_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/materialization_settings_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_store/compute_runtime_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_store/materialization_store_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_store_entity/data_column_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_notification/notification_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_feature_store_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_virtual_cluster_utils/_restclient/index_service_apis/_patch.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_virtual_cluster_utils/_restclient/index_service_apis/aio/_patch.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_virtual_cluster_utils/_restclient/index_service_apis/models/_index_service_apis_enums.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_virtual_cluster_utils/_restclient/index_service_apis/operations/_index_entities_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/_package/model_package.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/feature_set.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_backfill_response.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_materialization_response.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_specification.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/featureset_spec_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/materialization_compute_resource.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/materialization_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/materialization_type.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/feature_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/materialization_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store_entity/data_column.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store_entity/data_column_type.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store_entity/feature_store_entity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_notification/notification.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/compute_runtime.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/feature_store_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_entity_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_operations.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_schema.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_schema.py
  sdk/ml/azure-ai-ml/tests/feature_store_entity/unittests/test_feature_store_entity_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store_entity/unittests/test_feature_store_entity_schema.py
Labels: Machine Learning

#29750 [SB] Remove references to internal streaming method
  sdk/servicebus/azure-servicebus/stress/scripts/stress_test_base.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_subscriptions.py
Labels: Service Bus

#29929 [Identity] Make TokenFileMixin method private
  sdk/identity/azure-identity/azure/identity/_credentials/workload_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/workload_identity.py
Labels: Azure.Identity

#29734 [ML] Model Monitoring SDK Contracts + Schemas
  .vscode/cspell.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/alert_notification.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/input_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/monitor_definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/target.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/thresholds.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/schedule/schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_monitoring.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/alert_notification.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/input_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/target.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/thresholds.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_schedule/schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_util.py
Labels: Machine Learning

#29924 Update version number
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#29937 [ML] Fix mkdir in correct path during gen2 storage client download
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_gen2_storage_helper.py
Labels: Machine Learning

#29932 Sync eng/common directory with azure-sdk-tools for PR 5991
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#29912 [Test Proxy] Restore `PROXY_URL` setting functionality via `.env`
  tools/azure-sdk-tools/devtools_testutils/config.py
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
Labels: EngSys, test-reliability

#29798 [ML] Support for Spark runtime 3.3
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_resource_configuration.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_spark_component_entity.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_command_builder.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline_with_specific_nodes.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_entity.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_spark_components.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_spark_with_optional_inputs.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_spark_job_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_spark_job_with_builder_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_spark_job_with_multiple_node_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_spark_job[tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_spark_job[tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline_inline_job.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_spark_job[tests/test_configs/dsl_pipeline/spark_job_in_pipeline/sample_pipeline.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_spark_job[tests/test_configs/dsl_pipeline/spark_job_in_pipeline/wordcount_pipeline.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_spark_job[tests/test_configs/pipeline_jobs/shakespear_sample/pipeline.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_register_output_yaml.json
  sdk/ml/azure-ai-ml/tests/spark_job/e2etests/test_spark_job.py
  sdk/ml/azure-ai-ml/tests/spark_job/unittests/test_spark_job_entity.py
  sdk/ml/azure-ai-ml/tests/spark_job/unittests/test_spark_job_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/invalid_pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/kmeans_sample/pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/kmeans_sample/pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline_inline_job.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline_inline_job_register_output.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/sample_pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/wordcount_pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/pipeline_job_with_spark_job_with_invalid_component_input_mode.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/pipeline_job_with_spark_job_with_invalid_component_output_mode.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/shakespear_sample/pipeline.yml
Labels: Machine Learning

#29921 [ServiceBus] move UamqpTransport imports into client constructor
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
Labels: auto-merge

#29950 [translation] fix test-resources.json template
  sdk/translation/azure-ai-translation-document/tests/test_cancel_translation.py
  sdk/translation/azure-ai-translation-document/tests/test_cancel_translation_async.py
  sdk/translation/azure-ai-translation-document/tests/test_translation.py
  sdk/translation/azure-ai-translation-document/tests/test_translation_async.py
  sdk/translation/test-resources.json
Labels: Cognitive - Translator

#29953 [TA] help with flaky tests
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
  sdk/textanalytics/test-resources-post.ps1
Labels: Cognitive - Text Analytics

#29939 Switch datatransfer component from azureml-preview -> azureml
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_component.py
  sdk/ml/azure-ai-ml/tests/recordings/data_import/e2etests/test_data_import.pyTestDataImporttest_data_import.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_data_transfer_export_sql_database_job_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_data_transfer_import_filesystem_job_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_data_transfer_import_snowflake_database_job_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_data_transfer_import_sql_database_job_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_data_transfer_multi_job_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_data_transfer_export_sql_database.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_data_transfer_import_filesystem.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_data_transfer_import_snowflake_database.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_data_transfer_import_sql_database.json
Labels: ML-Pipelines

#29823 [ML][Pipelines] feat: support server-side validation in component validation - Part I
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/fields.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_preflight_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_validation.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component_validate.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_component_schema.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_component_validate.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline_component.py
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_component_validate_via_schema.json
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component_validate.pyTestComponentValidatetest_component_validate_via_schema.json
Labels: Machine Learning, ML-Pipelines, ML-Assets

#29936 Sync eng/common directory with azure-sdk-tools for PR 5995
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#29920 [ML][Pipelines]Fix pipeline level type when node level output promoted to pipeline
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/output.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/base.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_spark_with_optional_inputs.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_datastore_datapath_uri_file.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_e2e_inline_components.json
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/datastore_datapath_uri_file/pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/e2e_inline_components/pipeline.py
Labels: Machine Learning

#29955 [ML] Add .gitattributes to ensure LF line endings for test files
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_command_component_with_code.json
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_entity_command_component_create.json
  sdk/ml/azure-ai-ml/tests/test_configs/.gitattributes
  sdk/ml/azure-ai-ml/tests/test_configs/components/helloworld_components_with_env/.gitattributes
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/command_job_in_pipeline/.gitattributes
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/pipeline_with_pipeline_component/.gitattributes
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/pipeline_with_set_binding_output_input/.gitattributes
  sdk/ml/azure-ai-ml/tests/test_configs/internal/.gitattributes
Labels: Machine Learning

#29800 [ml] Fix pylint issue when pylint run on python3.10
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_endpoint_utils.py
Labels: Machine Learning

#29947 Fix managed network dump + load
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/networking.py
Labels: ML-Workspace

#29965 [EH] Stress add debug level loggging to fileshare
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_consumer_stress_async.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_consumer_stress_sync.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_producer_stress.py
  sdk/eventhub/azure-eventhub/stress/scripts/logger.py
  sdk/eventhub/azure-eventhub/stress/templates/testjob.yaml
Labels: Event Hubs

#29967 Increment version for translation releases
  sdk/translation/azure-ai-translation-text/CHANGELOG.md
  sdk/translation/azure-ai-translation-text/azure/ai/translation/text/_version.py
Labels: Cognitive - Translator, auto-merge

#29954 Update `azsdk-pool-mms-ubuntu-1804-general` to `azsdk-pool-mms-ubuntu-2004-general`
  sdk/keyvault/azure-keyvault-keys/platform-matrix.json
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage, KeyVault

#29952 Addressing arch feedback
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/_credentials/workload_identity.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/workload_identity.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_instance_discovery.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity

#29578 [ml] Add distribution:ray support to CommandJob
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/command_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/fields.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job/distribution.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_job/job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/command_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/command_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/distribution.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parameterized_command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_pipeline_job_helpers.py
  sdk/ml/azure-ai-ml/tests/command_job/unittests/test_command_job_schema.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_command_builder.py
  sdk/ml/azure-ai-ml/tests/test_configs/command_job/dist_job_ray_1.yml
  sdk/ml/azure-ai-ml/tests/test_configs/command_job/dist_job_ray_2.yml
Labels: Machine Learning, ML-Jobs, ML-Assets

#29908 [formrecognizer] Add more tests
  sdk/formrecognizer/azure-ai-formrecognizer/assets.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_multiapi_async.py
Labels: Cognitive - Form Recognizer

#29709 [AutoRelease] t2-containerinstance-2023-04-01-54962(can only be merged by SDK owner)
  sdk/containerinstance/azure-mgmt-containerinstance/CHANGELOG.md
  sdk/containerinstance/azure-mgmt-containerinstance/README.md
  sdk/containerinstance/azure-mgmt-containerinstance/_meta.json
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/_configuration.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/_container_instance_management_client.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/_serialization.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/_vendor.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/_version.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/aio/_configuration.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/aio/_container_instance_management_client.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/aio/operations/_container_groups_operations.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/aio/operations/_containers_operations.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/aio/operations/_location_operations.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/aio/operations/_operations.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/aio/operations/_subnet_service_association_link_operations.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/models/__init__.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/models/_container_instance_management_client_enums.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/models/_models_py3.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/operations/_container_groups_operations.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/operations/_containers_operations.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/operations/_location_operations.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/operations/_operations.py
  sdk/containerinstance/azure-mgmt-containerinstance/azure/mgmt/containerinstance/operations/_subnet_service_association_link_operations.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/cached_images_list.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/capabilities_list.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_attach.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_exec.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_group_create_confidential.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_group_encryption_properties.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_group_extensions.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_group_usage.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_groups_create_or_update.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_groups_create_priority.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_groups_delete.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_groups_get_failed.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_groups_get_priority.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_groups_get_succeeded.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_groups_list.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_groups_list_by_resource_group.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_groups_restart.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_groups_start.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_groups_stop.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/container_list_logs.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/operations_list.py
  sdk/containerinstance/azure-mgmt-containerinstance/generated_samples/subnet_service_association_link_delete.py
  sdk/containerinstance/azure-mgmt-containerinstance/setup.py
Labels: Container Instances

#29914 Logbase Support to RandomSamplingAlgorithm Schema for Sweep Job
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_sweep/sweep_sampling_algorithm.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/sampling_algorithm.py
  sdk/ml/azure-ai-ml/tests/sweep_job/unittests/test_sweep_job.py
  sdk/ml/azure-ai-ml/tests/sweep_job/unittests/test_sweep_job_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/sweep_job/sampling_algorithm_properties/logbase_values/sweep_job_random_logbase_e.yml
  sdk/ml/azure-ai-ml/tests/test_configs/sweep_job/sampling_algorithm_properties/logbase_values/sweep_job_random_logbase_float.yml
  sdk/ml/azure-ai-ml/tests/test_configs/sweep_job/sampling_algorithm_properties/logbase_values/sweep_job_random_logbase_number.yml
  sdk/ml/azure-ai-ml/tests/test_configs/sweep_job/sweep_job_test.yaml
Labels: Machine Learning, customer-reported, Community Contribution

#29978 Sync eng/common directory with azure-sdk-tools for PR 6004
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Labels: EngSys, Central-EngSys

#29915 [ML SDK] Purge flag support for workspace delete operation
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/diagnose.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_outbound_rule_operations.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning, ML-WorkspaceConnections

#29972 Omit `_serialization.py` from code coverage
  .coveragerc
  scripts/devops_tasks/create_coverage.py
Labels: EngSys

#29993 Sync eng/common directory with azure-sdk-tools for PR 5911
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#29994 [ML] Change JobSchedule Type Hints -> Schedule Type Hints
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_schedule/schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
Labels: Machine Learning

#29996 [ML] Add a pylint pre-commit check
  sdk/ml/azure-ai-ml/.pre-commit-config.yaml
Labels: Machine Learning

#30005 [ML] fix: Use repo's cspell config in pre-commit hook
  sdk/ml/azure-ai-ml/.pre-commit-config.yaml
Labels: Machine Learning

#30002 [ML] Fix API versions for workspace clients
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/feature_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/compute_runtime.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/feature_store_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace_keys.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
Labels: Machine Learning, ML-WorkspaceConnections

#30003 [Test Proxy] Troubleshooting advice for inconsistent line breaks in test files
  doc/dev/test_proxy_troubleshooting.md
Labels: Docs, EngSys

#30017 [ml] Add none as name in deployment template for when existing app insights
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
Labels: Machine Learning

#29903 [Identity] Update documentation
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_credentials/workload_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/workload_identity.py
  sdk/identity/azure-identity/samples/README.md
  sdk/identity/azure-identity/samples/credential_creation_code_snippets.py
Labels: Azure.Identity

#29948 [ML] Add REST Translation for Monitoring Entities
  .vscode/cspell.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/thresholds.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_monitoring.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/alert_notification.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/input_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/thresholds.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_schedule/schedule.py
  sdk/ml/azure-ai-ml/tests/monitoring/__init__.py
  sdk/ml/azure-ai-ml/tests/monitoring/e2etests/__init__.py
  sdk/ml/azure-ai-ml/tests/monitoring/unittests/__init__.py
  sdk/ml/azure-ai-ml/tests/monitoring/unittests/test_monitor_schedule.py
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/custom_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/data_drift_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/data_quality_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/feature_attribution_drift_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/model_performance_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/prediction_drift_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/custom.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/data_drift.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/data_quality.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/feature_attribution_drift.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/model_performance.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/prediction_drift.yaml
Labels: Machine Learning

#29913 [SDK GA][V2] Support addtional_includes in command component
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/code.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/command_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_mldesigner/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/_artifact_cache.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/code.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/command_component.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_command_component_entity.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_mldesigner_imports.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_component.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/additional_includes/assets/LICENSE
  sdk/ml/azure-ai-ml/tests/test_configs/components/additional_includes/assets/helloworld_invalid_additional_includes_existing_file.yml
  sdk/ml/azure-ai-ml/tests/test_configs/components/additional_includes/docker/DockerFile
  sdk/ml/azure-ai-ml/tests/test_configs/components/additional_includes/library/hello.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/additional_includes/library/world.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/additional_includes/library1/hello.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/additional_includes/library1/world.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/additional_includes/src/python/library1/__init__.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/additional_includes/src/python/library1/hello.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/additional_includes/src/python/library2/greetings.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/additional_includes/src1/library1/__init__.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/additional_includes/src1/library1/utils/__init__.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/additional_includes/src1/library1/utils/salute.py
  sdk/ml/azure-ai-ml/tests/test_configs/components/component_with_additional_includes/additional_includes_merge_folder.yml
  sdk/ml/azure-ai-ml/tests/test_configs/components/component_with_additional_includes/artifacts_additional_includes_with_conflict.yml
  sdk/ml/azure-ai-ml/tests/test_configs/components/component_with_additional_includes/code_and_additional_includes/component_spec.yml
  sdk/ml/azure-ai-ml/tests/test_configs/components/component_with_additional_includes/code_only/component_spec.yml
  sdk/ml/azure-ai-ml/tests/test_configs/components/component_with_additional_includes/helloworld_additional_includes.yml
  sdk/ml/azure-ai-ml/tests/test_configs/components/component_with_additional_includes/helloworld_invalid_additional_includes_existing_file.yml
  sdk/ml/azure-ai-ml/tests/test_configs/components/component_with_additional_includes/helloworld_invalid_additional_includes_root_directory.yml
  sdk/ml/azure-ai-ml/tests/test_configs/components/component_with_additional_includes/helloworld_invalid_additional_includes_zip_file_not_found.yml
  sdk/ml/azure-ai-ml/tests/test_configs/components/component_with_additional_includes/with_artifacts.yml
Labels: Machine Learning, ML-Pipelines, ML-Assets

#29674 [ML] Add protection level to inputs
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/input_output.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/input.py
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_command_component_entity.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_ipp_component_create.json
  sdk/ml/azure-ai-ml/tests/test_configs/components/component_ipp.yml
Labels: Machine Learning, ML-Assets

#30027 [ML] Fix isort pre-commit line length
  sdk/ml/azure-ai-ml/pyproject.toml
Labels: Machine Learning

#29909 Only deploy HSMs in weekly tests
  sdk/keyvault/tests.yml
Labels: KeyVault, test-reliability

#29398 [ML] IPP Assets Other than Component
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/_azure_machine_learning_workspaces.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/_metadata.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/_azure_machine_learning_workspaces.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_code_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_code_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_component_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_component_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_data_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_data_references_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_data_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_environment_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_environment_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_model_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_model_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_resource_management_asset_reference_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_temporary_data_references_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/models/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/models/_azure_machine_learning_workspaces_enums.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/models/_models.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/models/_models_py3.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_code_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_code_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_component_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_component_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_data_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_data_references_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_data_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_environment_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_environment_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_model_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_model_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_resource_management_asset_reference_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_temporary_data_references_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/assets/environment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/assets/model.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_registry_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/model.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/environment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_environment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/swagger/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2021-10-01-dataplanepreview/mfe.json
  sdk/ml/azure-ai-ml/tests/environment/unittests/test_env_entity.py
  sdk/ml/azure-ai-ml/tests/model/unittests/test_model_schema.py
Labels: Machine Learning, ML-Registry Management, ML-Assets

#30041 update `azd login` to `azd auth login`
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/tests/test_azd_cli_credential.py
  sdk/identity/azure-identity/tests/test_azd_cli_credential_async.py
Labels: customer-reported, Azure.Identity, Community Contribution

#29973 [ml] Add 'max_instance_count' to JobResourceConfiguration for supporting PyTorch Elastic jobs
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job/identity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/automl/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_job/automl.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/data_transfer/data_transfer_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_limits.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_service.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/objective.py
Labels: Machine Learning

#30048 [ML] Bump azure-ai-ml dev version to 1.7.0
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#30037 Update github event processor to 1.0.0-dev.20230422.1
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: Central-EngSys

#30054 [AppConfig] Address link
  sdk/appconfiguration/azure-appconfiguration/README.md
Labels: Client, App Configuration

#30062 Sync eng/common directory with azure-sdk-tools for PR 6045
  eng/common/scripts/Verify-RequiredDocsJsonMembers.ps1
Labels: EngSys, Central-EngSys

#30019 [Key Vault] Update unnecessary version-specific testing decorators
  sdk/keyvault/azure-keyvault-administration/tests/test_settings_client.py
  sdk/keyvault/azure-keyvault-administration/tests/test_settings_client_async.py
  sdk/keyvault/azure-keyvault-keys/assets.json
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys_async.py
Labels: KeyVault, Client

#29552 [ACR] Support set/get non-oci manifest
  .vscode/cspell.json
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/assets.json
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/__init__.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/models/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_operations.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_helpers.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/samples/README.md
  sdk/containerregistry/azure-containerregistry/samples/sample_set_get_image.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_get_image_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_upload_download_manifest.py
  sdk/containerregistry/azure-containerregistry/swagger/README.md
  sdk/containerregistry/azure-containerregistry/tests/asynctestcase.py
  sdk/containerregistry/azure-containerregistry/tests/data/docker_artifact/2db29710123e3e53a794f2694094b9b4338aa9ee5c40b930cb8063a1be392c54
  sdk/containerregistry/azure-containerregistry/tests/data/docker_artifact/config.json
  sdk/containerregistry/azure-containerregistry/tests/data/docker_artifact/manifest.json
  sdk/containerregistry/azure-containerregistry/tests/data/docker_artifact/manifest_without_spaces.json
  sdk/containerregistry/azure-containerregistry/tests/data/oci_artifact/manifest_without_spaces.json
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
  sdk/containerregistry/azure-containerregistry/tests/testcase.py
Labels: Container Registry, Client

#30073 [ML][Pipelines] Remove serverless from compute schema
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/fields.py
Labels: ML-Pipelines

#30072 [DT] fix failing pipeline for translation
  sdk/translation/azure-ai-translation-document/tests/test_translation.py
  sdk/translation/azure-ai-translation-document/tests/test_translation_async.py
Labels: Cognitive - Translator

#30006 SDK methods and events for Start/Stop Continuous recognize and send dtmf
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_media_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_events.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_events_mapping.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_enums.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
Labels: Communication

#30066 [Test Proxy] Expand test-scoped sanitizer functionality
  tools/azure-sdk-tools/devtools_testutils/sanitizers.py
Labels: EngSys

#30067 [Monitor][Query] Improve code formatting
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/azure/__init__.py
  sdk/monitor/azure-monitor-query/azure/monitor/__init__.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_helpers.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_logs_query_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_metrics_query_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_models.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_version.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_logs_query_client_async.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_metrics_query_client_async.py
Labels: Monitor - Query

#30061 updated error message for local deployment
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/validators/environment_validator.py
Labels: ML-Local Endpoints

#30045 [ml] remove @experimental tag on operations class constructor, add job url filter
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/materialization_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_entity_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_ops_helper.py
Labels: Machine Learning

#30086 [ML][Pipelines] Add serverless in pipeline job default compute schema
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/settings.py
Labels: ML-Pipelines

#30101 fix: add type hint for public property name
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/base_node.py
Labels: Machine Learning, ML-Pipelines

#29833 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid, auto-merge

#30018 Azure.monitor.opentelemetry.exporter replace pkg_resources with importlib.metadata
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/setup.py
  shared_requirements.txt
Labels: customer-reported, Monitor - Exporter, Community Contribution

#30097 [ML] Make FeatureStore Operations Public
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/__init__.py
Labels: Machine Learning

#30083 [ml] Address Azure SDK team comments
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations.py
Labels: Machine Learning

#30117 [ML] Make FeatureStore Operations Public
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/__init__.py
Labels: Machine Learning

#30090 add token caching doc
  .vscode/cspell.json
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TOKEN_CACHING.md
Labels: Azure.Identity

#29923 [EG] Storage Events
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#30068 Increment version for containerregistry releases
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_version.py
Labels: Container Registry, auto-merge

#30115 [ml] Address Azure SDK team comments (#30083)
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations.py
Labels: Machine Learning

#30043 User/mingweihe/add enable data isolation support for workspace creation
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace.pyTestWorkspacetest_update_sai_to_sai_and_uai_workspace_with_uai_deletion.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace.pyTestWorkspacetest_workspace_create_delete_with_managed_network.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace.pyTestWorkspacetest_workspace_create_update_and_delete.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace.pyTestWorkspacetest_workspace_diagnosis.json
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations.py
Labels: Machine Learning, ML-Workspace

#30121 Add task to verify json files contain required members after ToC generation
  eng/pipelines/docindex.yml
Labels: Docs

#30122 Skip namespace packages when updating Docs MsPackages
  eng/scripts/Language-Settings.ps1
Labels: Docs

#30123 [ML] Address More API Review Comments
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/sampling_algorithm.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
Labels: Machine Learning

#30112 Fix bug with getting snapshot info for non-local paths
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_artifact_utilities.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_code_operations.py
Labels: Machine Learning

#30079 Support auto delete setting in az ml data
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_constants.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/assets/asset.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/auto_delete_setting.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/asset.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/auto_delete_setting.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/tests/dataset/e2etests/test_data.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_asset_utils.py
  sdk/ml/azure-ai-ml/tests/recordings/dataset/e2etests/test_data.pyTestDatatest_data_auto_delete_setting.json
Labels: Machine Learning, customer-reported, Community Contribution

#30138 [ML][Pipelines] fix: remove azure-mgmt-resource from dependencies
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/azure_resource_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_virtual_cluster_operations.py
  sdk/ml/azure-ai-ml/setup.py
Labels: Machine Learning, ML-Pipelines

#30080 [Confidential Ledger][Data Plane] Add support for CCF application claims
  sdk/confidentialledger/azure-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-confidentialledger/README.md
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_version.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/__init__.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_configuration.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_version.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/aio/_configuration.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/receipt/__init__.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/receipt/_claims_digest_computation.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/receipt/_claims_models.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/receipt/_receipt_models.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/receipt/_receipt_verification.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/receipt/_utils.py
  sdk/confidentialledger/azure-confidentialledger/samples/get_and_verify_receipt.py
  sdk/confidentialledger/azure-confidentialledger/setup.py
  sdk/confidentialledger/azure-confidentialledger/swagger/README.md
  sdk/confidentialledger/azure-confidentialledger/tests/receipt/__init__.py
  sdk/confidentialledger/azure-confidentialledger/tests/receipt/_shared/__init__.py
  sdk/confidentialledger/azure-confidentialledger/tests/receipt/_shared/claims_constants.py
  sdk/confidentialledger/azure-confidentialledger/tests/receipt/_shared/receipt_constants.py
  sdk/confidentialledger/azure-confidentialledger/tests/receipt/test_claims_digest_computation.py
  sdk/confidentialledger/azure-confidentialledger/tests/receipt/test_claims_models.py
  sdk/confidentialledger/azure-confidentialledger/tests/receipt/test_receipt_models.py
  sdk/confidentialledger/azure-confidentialledger/tests/receipt/test_receipt_verification.py
Labels: Confidential Ledger
