Repository Azure/azure-sdk-for-python, pull requests merged in 2023-06, with the labels that each got.

#30577 [AppConfig] Fix flaky tests
  sdk/appconfiguration/azure-appconfiguration/assets.json
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_configuration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/asynctestcase.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_aad.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/testcase.py
Labels: Client, App Configuration

#30150 Update Redis code samples
  sdk/identity/azure-identity/samples/azure-aad-auth-with-redis-py.md
  sdk/identity/azure-identity/samples/azure-aad-auth-with-redis.py
Labels: Azure.Identity

#30596 Sync eng/common directory with azure-sdk-tools for PR 6273
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#30473 [Test Proxy] Explicitly mark proxy executable as runnable by all users
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
Labels: EngSys

#30572 [ServiceBus] deliveryid for large message settlement
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/receiver.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus

#30605 Sync .github/workflows directory with azure-sdk-tools for PR 6280
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#30609 [SB] update changelog
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#29858 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#30613 [Identity] Remove dependency on six
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/aadclient_certificate.py
  sdk/identity/azure-identity/azure/identity/_internal/decorators.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_client.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/_persistent_cache.py
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/conftest.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_application_credential.py
  sdk/identity/azure-identity/tests/test_application_credential_async.py
  sdk/identity/azure-identity/tests/test_auth_code.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential.py
Labels: Azure.Identity

#30634 Update play methods to accept single FileSource for play_source param
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/tests/recordings/test_call_media_client_e2e.test_play_media_in_a_call.yaml
  sdk/communication/azure-communication-callautomation/tests/recordings/test_play_media_in_a_call.txt
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client_e2e.py
Labels: Communication

#30620 Sync eng/common directory with azure-sdk-tools for PR 6272
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/TypeSpec-Project-Process.ps1
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#30625 Yaman/share v2 fix tests and samples
  sdk/purview/azure-purview-sharing/CHANGELOG.md
Labels: customer-reported, Purview, Community Contribution

#30642 [ML][Pipelines] feat: make unknown field notification warning instead of info
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_validation.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_validate.py
Labels: Machine Learning, ML-Pipelines

#30655 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#30632 [TA] update skip samples
  scripts/devops_tasks/test_run_samples.py
Labels: Cognitive - Text Analytics

#30657 [Key Vault] Resolve pylint error
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
Labels: KeyVault, Client

#30460 Enable GPU access to local deployment
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/docker_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/exceptions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_local_deployment_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_deployment_operations.py
Labels: Machine Learning, ML-Local Endpoints

#30595 [ML] fix(next-pylint): Resolve `W0602`, `W0611`, `W0707`, `W1414`, `W2301` and `W4905`
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_deployment_executor.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_blob_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_fileshare_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_gen2_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_azure_environments.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_setup.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/docker_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/utilities/commandline_utility.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/vscode_debug/vscode_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_logging/chained_identity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/assets/environment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/fields.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/component_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_endpoint_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_http_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_storage_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/azure_resource_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_vendor/azure_resources/models/_resource_management_client_enums.py
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_fl_scatter_gather_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_pipeline_decorator.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/parallel_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/datastore.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/data_asset.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/online_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/pipeline_component_batch_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_component_translatable.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_util.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_validation.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/feature_store_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/identity/_credentials/_AzureMLSparkOnBehalfOfCredential.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_code_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_ops_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_local_job_invoker.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_operation_orchestrator.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_virtual_cluster_operations.py
Labels: Machine Learning, ML-Pipelines, ML-Local Endpoints

#30658 [ML] fix(next-pylint): Resolve `use-list-literal`, `use-dict-literal`, `use-a-generator`
  sdk/ml/azure-ai-ml/azure/ai/ml/_exception_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/activity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_html_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_virtual_cluster_utils/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/base_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/fl_scatter_gather.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/import_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel_for.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/pipeline.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/spark.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/sweep.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/data_collector.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_load_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_pipeline_expression.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_pipeline_job_helpers.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/pipeline_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_util.py
Labels: Machine Learning

#30663 [EH][Perf] Update perf documentation and tests
  sdk/eventhub/azure-eventhub/tests/perfstress_tests/README.md
  sdk/eventhub/azure-eventhub/tests/perfstress_tests/_test_base.py
  sdk/eventhub/azure-eventhub/tests/perfstress_tests/process_events.py
  sdk/eventhub/azure-eventhub/tests/perfstress_tests/send_event_batch.py
  sdk/eventhub/azure-eventhub/tests/perfstress_tests/send_events.py
  sdk/eventhub/azure-eventhub/tests/perfstress_tests/uamqp_event.py
Labels: Event Hubs

#30665 Sync eng/common directory with azure-sdk-tools for PR 6293
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#30600 Implement continuation token size limit
  .gitignore
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/http_constants.py
  sdk/cosmos/azure-cosmos/samples/document_management.py
  sdk/cosmos/azure-cosmos/samples/document_management_async.py
  sdk/cosmos/azure-cosmos/test/test_query.py
Labels: Cosmos

#30674 Sync eng/common directory with azure-sdk-tools for PR 6304
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#30678 Update typo in sortable parameter description
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_index.py
Labels: Search, customer-reported, Community Contribution

#30685 Revert "Implement continuation token size limit"
  .gitignore
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/http_constants.py
  sdk/cosmos/azure-cosmos/samples/document_management.py
  sdk/cosmos/azure-cosmos/samples/document_management_async.py
  sdk/cosmos/azure-cosmos/test/test_query.py
Labels: Cosmos

#30690 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#30693 [Tables] Prepare release
  sdk/tables/azure-data-tables/CHANGELOG.md
Labels: Client, Tables

#30675 [formrecognizer] Update to use f-strings in samples
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_business_cards_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_custom_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_general_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_identity_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_invoices_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_layout_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_read_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_tax_us_w2_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_authentication_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_build_classifier_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_build_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_classify_document_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_classify_document_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_convert_to_and_from_dict_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_copy_model_to_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_elements_with_spans_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_operations_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_words_on_document_line_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_manage_classifiers_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_manage_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_business_cards.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_custom_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_general_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_identity_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_invoices.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_layout.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_read.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_receipts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_tax_us_w2.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_authentication.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_build_classifier.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_build_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_classify_document.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_classify_document_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_convert_to_and_from_dict.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_copy_model_to.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_elements_with_spans.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_operations.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_words_on_document_line.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_manage_classifiers.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_manage_models.py
Labels: Cognitive - Form Recognizer

#30697 Sync eng/common directory with azure-sdk-tools for PR 6305
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#30701 Revert ws connection expiryTime change to unblock 1.8.0
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_cr_msi.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_git_pat.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_git_user_pwd.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_python_feed.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_s3_access_key.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_connections.pyTestWorkspaceConnectionstest_workspace_connections_create_update_and_delete_snowflake_user_pwd.json
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/azure_my_sql_db_user_pwd.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/azure_postgres_db_user_pwd.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/azure_sql_db_user_pwd.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/azure_synapse_analytics_user_pwd.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/container_registry_managed_identity.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/fs_service_principal.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/git_pat.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/git_user_pwd.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/python_feed_pat.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/s3_access_key.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/snowflake_user_pwd.yaml
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace_connections.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_connection_entity.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_connection_operations.py
Labels: Machine Learning, ML-WorkspaceConnections

#30696 updating version for release 4.4.0
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
Labels: Cosmos

#30611 Upgrade exporter to OTel API/SDK 1.18
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/setup.py
Labels: Monitor - Exporter

#30682 [Monitor Query] Add notebook ML sample
  sdk/monitor/azure-monitor-query/samples/README.md
  sdk/monitor/azure-monitor-query/samples/notebooks/sample_machine_learning_sklearn.ipynb
Labels: customer-reported, Community Contribution, Monitor - Query

#30607 [SB] settled as false
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/receiver.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus

#30706 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/setup.py
Labels: Cosmos

#30650 [Pipeline] Fix condition node failed when expression is group input
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_pipeline_expression.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_controlflow_pipeline.py
Labels: Machine Learning, ML-Pipelines

#30502 [ML] [Pipelines] refactor: move code related logic to a mixin
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/environment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_artifact_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_cache_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/code.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/spark.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/code.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/command_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/parallel_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/spark_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_command_component_entity.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_component.py
  sdk/ml/azure-ai-ml/tests/test_utilities/utils.py
Labels: Machine Learning, ML-Pipelines

#30666 [SB][Perf] Update perf documentation
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/tests/perf_tests/README.md
  sdk/servicebus/azure-servicebus/tests/perf_tests/_test_base.py
  sdk/servicebus/azure-servicebus/tests/perf_tests/receive_queue_message_stream.py
  sdk/servicebus/azure-servicebus/tests/perf_tests/receive_subscription_message_stream.py
Labels: Service Bus

#30729 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus

#30732 [TA] docs sweep
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
Labels: Cognitive - Text Analytics

#30535 enable black for app config
  sdk/appconfiguration/azure-mgmt-appconfiguration/setup.py
  sdk/appconfiguration/ci.yml
Labels: App Configuration

#30710 Release 1.0.0b14
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor - Exporter

#30754 [TA] unskip aad samples/tests
  scripts/devops_tasks/test_run_samples.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_auth.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_auth_async.py
Labels: Cognitive - Text Analytics

#30601 Update Spark reference docs
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/spark.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/spark_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/spark_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/synapsespark_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/materialization_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_job_entry.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/definition.py
  sdk/ml/azure-ai-ml/documentation_guidelines.md
  sdk/ml/azure-ai-ml/samples/ml_samples_spark_configurations.py
Labels: Machine Learning

#30505 update vision/nlp sdkv2 e2e tests to use components
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_automl_image_classification.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_automl_image_classification_multilabel.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_automl_image_object_detection.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_automl_image_segmentation.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_remote_text_classification.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_remote_text_classification_multilabel.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_remote_text_ner.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_automl_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_automl_dsl_pipeline.pyTestAutomlDSLPipelinetest_automl_vision_multiclass_node_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_automl_dsl_pipeline.pyTestAutomlDSLPipelinetest_automl_vision_multilabel_node_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_automl_dsl_pipeline.pyTestAutomlDSLPipelinetest_automl_vision_od_node_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_automl_dsl_pipeline.pyTestAutomlDSLPipelinetest_automl_vision_segmentation_node_in_pipeline.json
Labels: Machine Learning, customer-reported, Community Contribution

#30756 Sync eng/common directory with azure-sdk-tools for PR 6333
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#30659 [ML] fix(next-pylint): Partially resolve `consider-using-with`
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_artifact_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
Labels: Machine Learning

#30760 [Tables] Update release date
  sdk/tables/azure-data-tables/CHANGELOG.md
Labels: Client, Tables

#30762 [Test Proxy] More advice for recording session startup failure
  doc/dev/test_proxy_troubleshooting.md
Labels: Docs, EngSys

#30612 [CLU] update docs for release
  scripts/devops_tasks/test_run_samples.py
  sdk/cognitivelanguage/azure-ai-language-conversations/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-conversations/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/pyrightconfig.json
  sdk/cognitivelanguage/azure-ai-language-conversations/setup.py
  sdk/cognitivelanguage/azure-ai-language-conversations/swagger/README.md
Labels: Cognitive - Language

#30764 [CLU] remove invalid urls
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_patch.py
Labels: Cognitive - Language

#30740 [Monitor Ingestion] Fix incorrect link in TSG
  sdk/monitor/azure-monitor-ingestion/TROUBLESHOOTING.md
Labels: Monitor - Ingestion

#30744 [ML][Pipelines] fix: use workspace-id to distinguish on-disk cache
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_cache_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component_without_mock.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_cache_utils.py
  sdk/ml/azure-ai-ml/tests/job_common/unittests/test_job_operations.py
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component_without_mock.pyTestComponentWithoutMocktest_get_client_key.json
Labels: ML-Pipelines

#30767 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/azure-ai-language-conversations/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_version.py
Labels: Cognitive - Language

#30738 [Storage] [Next-Pylint] File-share, Queue Package
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_download.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/authentication.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/request_handlers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_download_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/authentication.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/request_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads_async.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#30737 [Storage] [Next-Pylint] ChangeFeed Package
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_models.py
  sdk/storage/azure-storage-blob-changefeed/setup.py
Labels: Storage

#30711 [Storage] [Next-Pylint] Datalake Package
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/authentication.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/request_handlers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/setup.py
Labels: Storage

#30676 [Storage] [Next-Pylint] Blob Package
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_deserialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_encryption.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_serialization.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_vendor.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_quick_query_helper.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/authentication.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/avro_io.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/avro_io_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/datafile.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/datafile_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/schema.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/request_handlers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_upload_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_upload_helpers.py
  sdk/storage/azure-storage-blob/setup.py
Labels: Storage

#30739 [Monitor Ingestion] Allow custom auth policy/scopes
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_configuration.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_operations/_operations.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_patch.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_configuration.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_operations/_operations.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_patch.py
  sdk/monitor/azure-monitor-ingestion/swagger/README.PYTHON.md
Labels: Monitor - Ingestion

#30765 Documentation: adds the best practice notes to the CosmosClient docs
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
Labels: Cosmos

#30784 [TA] update release date
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#30783 Added live tests for DTMF actions
  sdk/communication/azure-communication-callautomation/dev_requirements.txt
  sdk/communication/azure-communication-callautomation/tests/call_automation_automated_live_test_base.py
  sdk/communication/azure-communication-callautomation/tests/recordings/test_call_media_client_e2e.test_dtmf_actions_in_a_call.yaml
  sdk/communication/azure-communication-callautomation/tests/recordings/test_dtmf_actions_in_a_call.txt
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client_e2e.py
Labels: Communication

#30788 Update README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
Labels: Cognitive - Text Analytics

#30792 Increment version for textanalytics releases
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_version.py
Labels: Cognitive - Text Analytics

#30790 [Monitor Ingestion] Update changelog
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
Labels: Monitor - Ingestion

#30795 Increment version for monitor releases
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_version.py
Labels: Monitor - Ingestion

#30761 Update SDK with V4 Media Features
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/tests/recordings/test_call_media_client_e2e.test_play_media_in_a_call.yaml
  sdk/communication/azure-communication-callautomation/tests/recordings/test_callautomation_client_e2e.test_create_VOIP_call_and_answer_then_hangup.yaml
  sdk/communication/azure-communication-callautomation/tests/recordings/test_create_VOIP_call_and_answer_then_hangup.txt
  sdk/communication/azure-communication-callautomation/tests/recordings/test_play_media_in_a_call.txt
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
  sdk/communication/cspell.json
Labels: Communication

#30749 [pipeline] Catch the exception that load yaml failed
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_validation.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_validate.py
Labels: ML-Pipelines

#30780 registry model download fix
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_registry_utils.py
Labels: Machine Learning

#30804 [Cosmos] Bugfix - async patch_items method conditional filtering fix
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
Labels: Cosmos

#30806 Communication - SMS - Fix tests
  .github/CODEOWNERS
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.pyTestClienttest_send_sms_fake_from_phone_number.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.pyTestClienttest_send_sms_fake_to_phone_number.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.pyTestClienttest_send_sms_from_managed_identity.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.pyTestClienttest_send_sms_multiple_with_options.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.pyTestClienttest_send_sms_single.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.pyTestClienttest_send_sms_unauthorized_from_phone_number.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.pyTestClienttest_send_sms_unique_message_ids.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.pyTestClientAsynctest_send_sms_fake_from_phone_number_async.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.pyTestClientAsynctest_send_sms_fake_to_phone_number_async.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.pyTestClientAsynctest_send_sms_from_managed_identity_async.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.pyTestClientAsynctest_send_sms_multiple_with_options_async.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.pyTestClientAsynctest_send_sms_single_async.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.pyTestClientAsynctest_send_sms_unauthorized_from_phone_number_async.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.pyTestClientAsynctest_send_sms_unique_message_ids_async.json
  sdk/communication/azure-communication-sms/tests/test_sms_client_e2e.py
  sdk/communication/azure-communication-sms/tests/test_sms_client_e2e_async.py
Labels: Communication, Communication - SMS

#30807 Sync eng/common directory with azure-sdk-tools for PR 6300
  eng/common/testproxy/transition-scripts/generate-assets-json.ps1
Labels: EngSys, Central-EngSys

#30796 [Storage] Fix `block_id` floating point issue
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads_async.py
Labels: Storage

#30614 [Tables] Add sas token live tests
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/assets.json
  sdk/tables/azure-data-tables/azure/data/tables/_models.py
  sdk/tables/azure-data-tables/setup.py
  sdk/tables/azure-data-tables/tests/test_table_client.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
Labels: Client, Tables

#30699 [Key Vault] Update docstrings for `next-pylint`
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/async_client_base.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/client_base.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/http_challenge.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/http_challenge_cache.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_models.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_backup_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_polling.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_polling_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/http_challenge.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/http_challenge_cache.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/_polling.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/_polling_async.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/http_challenge.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/http_challenge_cache.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/_internal.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/algorithm.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/local_provider.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_models.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_polling.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/_polling_async.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/http_challenge.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/http_challenge_cache.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/_client.py
Labels: KeyVault, Client

#30808 [Tables] Address docstring
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_entity.py
Labels: Client, Tables

#30794 [EH] Stress update debug_level
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_consumer_stress_async.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_consumer_stress_sync.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_producer_stress.py
Labels: Event Hubs

#30823 LRO return type is covariant
  .vscode/cspell.json
  doc/dev/customize_long_running_operation.md
  doc/dev/static_type_checking.md
  doc/dev/static_type_checking_cheat_sheet.md
  sdk/core/azure-core/azure/core/polling/_async_poller.py
  sdk/core/azure-core/azure/core/polling/_poller.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_async_polling.py
  sdk/loadtesting/azure-developer-loadtesting/azure/developer/loadtesting/_generated/aio/operations/_patch.py
  sdk/loadtesting/azure-developer-loadtesting/azure/developer/loadtesting/_generated/operations/_patch.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_lro.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_lro_async.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_polling.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_async_polling.py
Labels: Cognitive - Text Analytics, Cognitive - Form Recognizer, Cognitive - Translator

#30827 [Test Proxy] Clarify relevant documentation in testing guides
  doc/dev/test_proxy_migration_guide.md
  doc/dev/test_proxy_troubleshooting.md
Labels: Docs, test-proxy

#30820 [TA] clean for next pylint
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_base_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_check.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_lro.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_request_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_response_handlers.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_validate.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_base_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_lro_async.py
Labels: Cognitive - Text Analytics

#30797 [Monitor Ingestion] Code gen updates
  sdk/monitor/azure-monitor-ingestion/azure/__init__.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/__init__.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_helpers.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_operations/_operations.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_operations/_patch.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_operations/_operations.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_operations/_patch.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_patch.py
  sdk/monitor/azure-monitor-ingestion/swagger/README.PYTHON.md
  sdk/monitor/azure-monitor-ingestion/tests/test_logs_ingestion.py
  sdk/monitor/azure-monitor-ingestion/tests/test_logs_ingestion_async.py
Labels: Monitor - Ingestion

#30552 [Communication Chat] Migrate to the test proxy & external recordings
  sdk/communication/azure-communication-chat/assets.json
  sdk/communication/azure-communication-chat/tests/chat_e2e_helper.py
  sdk/communication/azure-communication-chat/tests/conftest.py
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_client_e2e.test_access_token_validation.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_client_e2e.test_create_chat_thread.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_client_e2e.test_create_chat_thread_w_no_participants.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_client_e2e.test_create_chat_thread_w_repeatability_request_id.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_client_e2e.test_delete_chat_thread.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_client_e2e.test_get_thread_client.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_client_e2e.test_list_chat_threads.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_client_e2e_async.test_create_chat_thread_async.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_client_e2e_async.test_create_chat_thread_w_no_participants_async.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_client_e2e_async.test_create_chat_thread_w_repeatability_request_id_async.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_client_e2e_async.test_delete_chat_thread.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_client_e2e_async.test_get_thread_client.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_client_e2e_async.test_list_chat_threads.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e.test_add_participants.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e.test_delete_message.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e.test_get_message.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e.test_get_properties.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e.test_list_messages.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e.test_list_participants.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e.test_list_read_receipts.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e.test_remove_participant.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e.test_send_message.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e.test_send_read_receipt.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e.test_send_typing_notification.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e.test_send_typing_notification_with_display_name.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e.test_update_message.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e.test_update_topic.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e_async.test_add_participants.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e_async.test_delete_message.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e_async.test_get_message.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e_async.test_get_properties.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e_async.test_list_messages.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e_async.test_list_participants.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e_async.test_list_read_receipts.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e_async.test_remove_participant.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e_async.test_send_message.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e_async.test_send_read_receipt.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e_async.test_send_typing_notification.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e_async.test_send_typing_notification_with_sender_display_name.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e_async.test_update_message.yaml
  sdk/communication/azure-communication-chat/tests/recordings/test_chat_thread_client_e2e_async.test_update_topic.yaml
  sdk/communication/azure-communication-chat/tests/test_chat_client_e2e.py
  sdk/communication/azure-communication-chat/tests/test_chat_client_e2e_async.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client_e2e.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client_e2e_async.py
Labels: Client, Communication, test-enhancement, Communication - Chat

#30769 Unclear documentation of function publish_telemetry
  sdk/digitaltwins/azure-digitaltwins-core/azure/digitaltwins/core/_digitaltwins_client.py
  sdk/digitaltwins/azure-digitaltwins-core/azure/digitaltwins/core/aio/_digitaltwins_client_async.py
Labels: Digital Twins

#30440 Increment version for containerregistry releases
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_version.py
Labels: Container Registry

#30824 [ml] Update obo creds flow
  sdk/ml/azure-ai-ml/azure/ai/ml/identity/_credentials/_AzureMLSparkOnBehalfOfCredential.py
Labels: Machine Learning

#30837 Fix types in translation documents
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_polling.py
Labels: Cognitive - Translator

#30843 [Communication] Use test proxy, external recordings in network traversal tests
  sdk/communication/azure-communication-networktraversal/assets.json
  sdk/communication/azure-communication-networktraversal/tests/conftest.py
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client.test_get_relay_configuration.yaml
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client.test_get_relay_configuration_with_route_type_any.yaml
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client.test_get_relay_configuration_with_route_type_nearest.yaml
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client.test_get_relay_configuration_with_ttl.yaml
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client.test_get_relay_configuration_without_identity.yaml
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client_async.test_get_relay_configuration.yaml
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client_async.test_get_relay_configuration_with_route_type_any.yaml
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client_async.test_get_relay_configuration_with_route_type_nearest.yaml
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client_async.test_get_relay_configuration_with_ttl.yaml
  sdk/communication/azure-communication-networktraversal/tests/recordings/test_communication_relay_client_async.test_get_relay_configuration_without_identity.yaml
  sdk/communication/azure-communication-networktraversal/tests/test_communication_relay_client.py
  sdk/communication/azure-communication-networktraversal/tests/test_communication_relay_client_async.py
Labels: Client, Communication, test-enhancement, Communication - Network Traversal, test-proxy

#30845 add delay in tests to avoid service throttling
  sdk/search/azure-search-documents/tests/search_service_preparer.py
Labels: Search

#30859 Sync eng/common directory with azure-sdk-tools for PR 6392
  eng/common/pipelines/templates/steps/create-pull-request.yml
Labels: EngSys, Central-EngSys

#30537 [EventHubs] Update process span tracing logic
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_tracing.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_consumer_client_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_consumer_client.py
Labels: Event Hubs

#30861 [Key Vault] Add `x509_thumbprint_string` property to `CertificateProperties`
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
Labels: KeyVault, Client

#30888 remove dateutil
  sdk/metricsadvisor/azure-ai-metricsadvisor/dev_requirements.txt
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_data_feed_ingestion_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_data_feeds_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_data_feed_ingestion.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_data_feeds.py
Labels: Cognitive - Metrics Advisor

#30890 removed six
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/setup.py
Labels: Cognitive - Metrics Advisor

#30868 [Key Vault] Update pipeline deployment locations
  sdk/keyvault/test-resources.json
  sdk/keyvault/tests.yml
Labels: KeyVault, Client, test-reliability

#30895 remove dependency on six
  sdk/containerregistry/azure-containerregistry/tests/test_anon_access.py
  sdk/containerregistry/azure-containerregistry/tests/test_anon_access_async.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
Labels: Container Registry

#30811 [Monitor Query] Update docstrings/samples
  sdk/monitor/azure-monitor-query/azure/monitor/query/_logs_query_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_metrics_query_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_logs_query_client_async.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_metrics_query_client_async.py
  sdk/monitor/azure-monitor-query/samples/README.md
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_authentication_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_batch_query_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_log_query_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_logs_query_visualization_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_metric_definitions_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_metric_namespaces_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_metrics_query_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_resource_logs_query_async.py
  sdk/monitor/azure-monitor-query/samples/sample_authentication.py
  sdk/monitor/azure-monitor-query/samples/sample_batch_query.py
  sdk/monitor/azure-monitor-query/samples/sample_log_query_multiple_workspaces.py
  sdk/monitor/azure-monitor-query/samples/sample_logs_query_key_value_form.py
  sdk/monitor/azure-monitor-query/samples/sample_logs_query_visualization.py
  sdk/monitor/azure-monitor-query/samples/sample_logs_single_query.py
  sdk/monitor/azure-monitor-query/samples/sample_logs_single_query_partial_result.py
  sdk/monitor/azure-monitor-query/samples/sample_metric_definitions.py
  sdk/monitor/azure-monitor-query/samples/sample_metric_namespaces.py
  sdk/monitor/azure-monitor-query/samples/sample_metrics_query.py
  sdk/monitor/azure-monitor-query/samples/sample_resource_logs_query.py
  sdk/monitor/azure-monitor-query/samples/sample_server_timeout.py
  sdk/monitor/azure-monitor-query/samples/sample_single_log_query_without_pandas.py
Labels: Monitor - Query

#30847 Trouble shooting guideline
  sdk/search/azure-search-documents/TROUBLESHOOTING.md
Labels: Search

#30886 Call automation Beta 2 changes
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_api_versions.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_enums.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/dev_requirements.txt
  sdk/communication/azure-communication-callautomation/setup.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/call_automation_automated_live_test_base.py
  sdk/communication/azure-communication-callautomation/tests/recordings/test_call_media_client_e2e.test_dtmf_actions_in_a_call.yaml
  sdk/communication/azure-communication-callautomation/tests/recordings/test_dtmf_actions_in_a_call.txt
  sdk/communication/azure-communication-callautomation/tests/test_call_connection_client.py
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client_e2e.py
Labels: Communication

#30897 [Key Vault] Update migration and troubleshooting guides
  sdk/keyvault/TROUBLESHOOTING.md
  sdk/keyvault/azure-keyvault-certificates/migration_guide.md
  sdk/keyvault/azure-keyvault-keys/migration_guide.md
  sdk/keyvault/azure-keyvault-secrets/migration_guide.md
Labels: Docs, KeyVault, Client

#30786 [ml] Update command reference documentation
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/spark_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/command_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/spark_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/command_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_limits.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parameterized_command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parameterized_spark.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_resource_configuration.py
  sdk/ml/azure-ai-ml/samples/ml_samples_command_configurations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_spark_configurations.py
Labels: Machine Learning

#30919 fix resource for cn testing
  sdk/search/tests.yml
Labels: Search

#30913 [Storage] STG88 Release APIView Feedback
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
Labels: Storage

#30920 [DT] fix next-pylint
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_api_version.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_client.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_helpers.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_polling.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_async_polling.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_client_async.py
  sdk/translation/tests.yml
Labels: Cognitive - Translator

#30841 [cognitivelanguage] pylint update
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_patch.py
Labels: Cognitive - Language

#30839 [EventHubs][Perf] Remove uampq perf CI testing
  sdk/eventhub/perf-tests.yml
Labels: Event Hubs

#30921 [metricsadvisor] pylint next
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_operations/_operations.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_operations/_patch.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_patch.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_operations/_operations.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/aio/_patch.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/models/_patch.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/async_tests/test_hooks_async.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/tests/test_hooks.py
Labels: Cognitive - Metrics Advisor

#30938 Sync eng/common directory with azure-sdk-tools for PR 6434
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#30939 missing pylint next fix in qa
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_operations/_patch.py
Labels: Cognitive - Language

#30934 pylint next for personalizer
  sdk/personalizer/azure-ai-personalizer/azure/ai/personalizer/_operations/_operations.py
  sdk/personalizer/azure-ai-personalizer/azure/ai/personalizer/aio/_patch.py
Labels: Cognitive - Personalizer

#30944 Trigger ML when we touch core
  sdk/ml/ci.yml
Labels: Machine Learning

#30937 pylint next for search
  sdk/search/azure-search-documents/azure/search/documents/_index_documents_batch.py
  sdk/search/azure-search-documents/azure/search/documents/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/_queries.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_search_indexing_buffered_sender.py
  sdk/search/azure-search-documents/azure/search/documents/_utils.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_index_documents_batch_async.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_indexing_buffered_sender_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_utils.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_indexer_client.py
Labels: Search

#30932 Add model package contract for dataplane api, autogenerated
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/_azure_machine_learning_workspaces.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/_azure_machine_learning_workspaces.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_code_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_code_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_component_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_component_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_data_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_data_references_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_data_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_environment_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_environment_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_model_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_model_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_resource_management_asset_reference_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/aio/operations/_temporary_data_references_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/models/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/models/_azure_machine_learning_workspaces_enums.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/models/_models.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/models/_models_py3.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_code_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_code_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_component_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_component_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_data_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_data_references_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_data_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_environment_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_environment_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_model_containers_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_model_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_resource_management_asset_reference_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2021_10_01_dataplanepreview/operations/_temporary_data_references_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_registry_utils.py
  sdk/ml/azure-ai-ml/swagger/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2021-10-01-dataplanepreview/mfe.json
Labels: Machine Learning

#30342 Enable local endpoint test case
  sdk/ml/azure-ai-ml/tests/local_endpoint/e2etests/test_local_endpoint.py
Labels: Machine Learning

#30936 [SchemaRegistry] update failing avro recordings
  sdk/schemaregistry/azure-schemaregistry-avroencoder/assets.json
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/test_avro_encoder.py
Labels: Schema Registry, auto-merge

#30959 Sync eng/common directory with azure-sdk-tools for PR 6440
  eng/common/scripts/get-codeowners.lib.ps1
Labels: EngSys, Central-EngSys

#30960 Sync .github/workflows directory with azure-sdk-tools for PR 6440
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#28349 add sensitive header cleanup policy
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CLIENT_LIBRARY_DEVELOPER.md
  sdk/core/azure-core/azure/core/_pipeline_client.py
  sdk/core/azure-core/azure/core/_pipeline_client_async.py
  sdk/core/azure-core/azure/core/pipeline/_base.py
  sdk/core/azure-core/azure/core/pipeline/_base_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/__init__.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_custom_hook.py
  sdk/core/azure-core/azure/core/pipeline/policies/_redirect.py
  sdk/core/azure-core/azure/core/pipeline/policies/_redirect_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_retry.py
  sdk/core/azure-core/azure/core/pipeline/policies/_retry_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_sensitive_header_cleanup_policy.py
  sdk/core/azure-core/azure/core/pipeline/policies/_universal.py
  sdk/core/azure-core/azure/core/pipeline/policies/_utils.py
  sdk/core/azure-core/azure/core/settings.py
  sdk/core/azure-core/azure/core/utils/_utils.py
  sdk/core/azure-core/tests/async_tests/test_authentication_async.py
  sdk/core/azure-core/tests/async_tests/test_pipeline_async.py
  sdk/core/azure-core/tests/test_authentication.py
  sdk/core/azure-core/tests/test_pipeline.py
Labels: Azure.Core

#30869 [Identity] Update code for next-pylint
  sdk/identity/azure-identity/azure/identity/_auth_record.py
  sdk/identity/azure-identity/azure/identity/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_arc.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_ml.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/silent.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_credentials/workload_identity.py
  sdk/identity/azure-identity/azure/identity/_exceptions.py
  sdk/identity/azure-identity/azure/identity/_internal/__init__.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/aadclient_certificate.py
  sdk/identity/azure-identity/azure/identity/_internal/decorators.py
  sdk/identity/azure-identity/azure/identity/_internal/get_token_mixin.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/_internal/linux_vscode_adapter.py
  sdk/identity/azure-identity/azure/identity/_internal/macos_vscode_adapter.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_client.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_internal/pipeline.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/_internal/utils.py
  sdk/identity/azure-identity/azure/identity/_internal/win_vscode_adapter.py
  sdk/identity/azure-identity/azure/identity/_persistent_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/aad_client.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/decorators.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/get_token_mixin.py
Labels: Azure.Identity

#30968 Communication Identity | Code Formatting using black command
  sdk/communication/azure-communication-identity/azure/__init__.py
  sdk/communication/azure-communication-identity/azure/communication/__init__.py
  sdk/communication/azure-communication-identity/azure/communication/identity/__init__.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_communication_identity_client.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/_client.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/_configuration.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/_patch.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/_serialization.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/_vendor.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/aio/_client.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/aio/_configuration.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/aio/_patch.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/aio/operations/_patch.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/models/_models.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/models/_patch.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/operations/_operations.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_generated/operations/_patch.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/models.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/policy.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/user_credential.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/user_credential_async.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/utils.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_utils.py
  sdk/communication/azure-communication-identity/azure/communication/identity/aio/__init__.py
  sdk/communication/azure-communication-identity/azure/communication/identity/aio/_communication_identity_client_async.py
  sdk/communication/azure-communication-identity/samples/identity_samples.py
  sdk/communication/azure-communication-identity/samples/identity_samples_async.py
  sdk/communication/azure-communication-identity/setup.py
  sdk/communication/azure-communication-identity/tests/_shared/__init__.py
  sdk/communication/azure-communication-identity/tests/_shared/async_fake_token_credential.py
  sdk/communication/azure-communication-identity/tests/_shared/asynctestcase.py
  sdk/communication/azure-communication-identity/tests/_shared/communication_service_preparer.py
  sdk/communication/azure-communication-identity/tests/_shared/fake_token_credential.py
  sdk/communication/azure-communication-identity/tests/_shared/helper.py
  sdk/communication/azure-communication-identity/tests/_shared/testcase.py
  sdk/communication/azure-communication-identity/tests/_shared/utils.py
  sdk/communication/azure-communication-identity/tests/acs_identity_test_case.py
  sdk/communication/azure-communication-identity/tests/conftest.py
  sdk/communication/azure-communication-identity/tests/test_communication_identity_client.py
  sdk/communication/azure-communication-identity/tests/test_communication_identity_client_async.py
  sdk/communication/azure-communication-identity/tests/test_identifier_raw_id.py
  sdk/communication/azure-communication-identity/tests/test_user_credential.py
  sdk/communication/azure-communication-identity/tests/test_user_credential_async.py
  sdk/communication/azure-communication-identity/tests/test_user_credential_async_with_context_manager.py
  sdk/communication/azure-communication-identity/tests/test_user_credential_with_context_manager.py
  sdk/communication/azure-communication-identity/tests/test_utils.py
  sdk/communication/azure-communication-identity/tests/utils.py
Labels: Communication - Common, Communication - Identity

#30893 remove dependency on six
  sdk/tables/azure-data-tables/azure/data/tables/_common_conversion.py
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/azure/data/tables/_serialize.py
  sdk/tables/azure-data-tables/tests/_shared/asynctestcase.py
  sdk/tables/azure-data-tables/tests/_shared/testcase.py
  sdk/tables/azure-data-tables/tests/perfstress_tests/_base.py
Labels: Tables

#30973 [AppConfig] Change China cloud deployment location
  sdk/appconfiguration/tests.yml
Labels: Client, App Configuration

#30972 remove :class:
  sdk/identity/azure-identity/azure/identity/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_internal/get_token_mixin.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/get_token_mixin.py
Labels: Azure.Identity

#30927 [ml] improve managed network schema
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/networking.py
Labels: ML-Workspace

#30588 [ACR] Resolve failing weekly pipeline
  sdk/containerregistry/azure-containerregistry/README.md
  sdk/containerregistry/azure-containerregistry/dev_requirements.txt
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_images.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_images_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_tags.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_hello_world.py
  sdk/containerregistry/azure-containerregistry/samples/sample_hello_world_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_list_tags.py
  sdk/containerregistry/azure-containerregistry/samples/sample_list_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_get_image.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_get_image_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_image_properties.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_image_properties_async.py
  sdk/containerregistry/azure-containerregistry/samples/utilities.py
  sdk/containerregistry/azure-containerregistry/tests/conftest.py
  sdk/containerregistry/azure-containerregistry/tests/test_anon_access.py
  sdk/containerregistry/azure-containerregistry/tests/test_anon_access_async.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
  sdk/containerregistry/azure-containerregistry/tests/testcase.py
  sdk/containerregistry/tests.yml
Labels: Container Registry, Client

#30896 [ServiceBus] update error raised when completing lock expired messages
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/servicebus_preparer.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_subscriptions.py
Labels: Service Bus
