Repository Azure/azure-sdk-for-python, pull requests merged in 2023-09, with the labels that each got.

#31911 Revert "[ML][Pipelines] feat: load component from flow (#31632)
  .vscode/cspell.json
  sdk/ml/azure-ai-ml/.pre-commit-config.yaml
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/flow.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/component_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/code.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component_factory.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/datatransfer_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/flow.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/import_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/pipeline_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/mixin.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_load_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_resource.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_validation.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/dev_requirements.txt
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_component_schema.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_flow_component.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_entity.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/additional_includes/convert_to_dict.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/additional_includes/fetch_text_content_from_url.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/additional_includes/summarize_text_content.jinja2
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/.gitignore
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/.promptflow/flow.tools.json
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/flow.dag.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/hello.jinja2
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/hello.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/requirements.txt
  sdk/ml/azure-ai-ml/tests/test_configs/flows/data/basic.jsonl
  sdk/ml/azure-ai-ml/tests/test_configs/flows/data/web_classification.jsonl
  sdk/ml/azure-ai-ml/tests/test_configs/flows/runs/basic_run.yml
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/.promptflow/flow.tools.json
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/classify_with_llm.jinja2
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/flow.dag.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/prepare_examples.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/samples.json
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/summarize_text_content__variant_1.jinja2
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/pipeline_job_with_flow.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/pipeline_job_with_flow_from_dag.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/pipeline_job_with_flow_from_run.yml
Labels: Machine Learning, ML-Pipelines, ML-Assets

#31265 Fix error decoding of string body
  .vscode/cspell.json
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/tests/test_table_batch.py
  sdk/tables/azure-data-tables/tests/test_table_batch_async.py
Labels: customer-reported, Tables, needs-author-feedback, Community Contribution

#31914 [ML][Pipelines] redo feat: flow in pipeline
  .vscode/cspell.json
  sdk/ml/azure-ai-ml/.pre-commit-config.yaml
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/flow.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/component_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/code.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component_factory.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/datatransfer_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/flow.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/import_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/pipeline_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/mixin.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_load_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_resource.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_validation.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/dev_requirements.txt
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_component_schema.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_flow_component.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_entity.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/additional_includes/convert_to_dict.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/additional_includes/fetch_text_content_from_url.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/additional_includes/summarize_text_content.jinja2
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/.gitignore
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/.promptflow/flow.tools.json
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/flow.dag.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/hello.jinja2
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/hello.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/requirements.txt
  sdk/ml/azure-ai-ml/tests/test_configs/flows/data/basic.jsonl
  sdk/ml/azure-ai-ml/tests/test_configs/flows/data/web_classification.jsonl
  sdk/ml/azure-ai-ml/tests/test_configs/flows/runs/basic_run.yml
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/.promptflow/flow.tools.json
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/classify_with_llm.jinja2
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/flow.dag.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/prepare_examples.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/samples.json
  sdk/ml/azure-ai-ml/tests/test_configs/flows/web_classification_with_additional_includes/summarize_text_content__variant_1.jinja2
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/pipeline_job_with_flow.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/pipeline_job_with_flow_from_dag.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/pipeline_job_with_flow_from_run.yml
Labels: Machine Learning, ML-Pipelines, ML-Assets

#31919 Fix typo in storage-blob samples
  sdk/storage/azure-storage-blob/samples/blob_samples_authentication.py
  sdk/storage/azure-storage-blob/samples/blob_samples_authentication_async.py
Labels: Storage, customer-reported, Community Contribution

#31887 [ml] Allow Any as a type in mypy config
  sdk/ml/azure-ai-ml/pyproject.toml
Labels: Machine Learning

#31870 Update `pypy` usage in build matrix
  eng/ci_tools.txt
  eng/pipelines/templates/stages/platform-matrix-cryptography-dependency.json
  eng/pipelines/templates/stages/platform-matrix.json
  eng/regression_test_tools.txt
  eng/regression_tools.txt
  eng/test_tools.txt
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage

#31917 [ml] Fix apiview 1.10.0 comments, round 2
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/output.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_system_data.py
Labels: Machine Learning

#31912 [Monitor Ingestion] Regen with latest autorest
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_configuration.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_operations/_operations.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_serialization.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_vendor.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_configuration.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_operations/_operations.py
Labels: Monitor - Ingestion

#31922 making classes public
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
Labels: Machine Learning

#31929 [ML][Pipelines] refactor for reference from other packages
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_setup.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/environment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/spark.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/base_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/condition_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/control_flow_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/do_while.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/fl_scatter_gather.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel_for.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/spark.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component_factory.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/flow.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/pipeline_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/pipeline_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_schedule/schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_util.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_validate_funcs.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_validation/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_validation/core.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_validation/path_aware_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_validation/remote.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_validation/schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_component_validate.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_flow_component.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_controlflow_pipeline.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_component.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_validation.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/_util.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_validate.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/runs/additional_includes_run.yml
Labels: Machine Learning, ML-Pipelines

#31940 Skip pypy3 tests for psycopg2
  sdk/monitor/azure-monitor-opentelemetry/tests/instrumentation/test_psycopg2.py
Labels: Monitor - Distro

#31875 [Key vault] Update type hinting `key.py`
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/key.py
Labels: KeyVault, customer-reported, Community Contribution

#31931 [Otel Distro] Fix subnamespaces and docs
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_autoinstrumentation/__init__.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_autoinstrumentation/configurator.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_autoinstrumentation/distro.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_diagnostics/__init__.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_diagnostics/diagnostic_logging.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_diagnostics/status_logger.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_util/__init__.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_util/configurations.py
  sdk/monitor/azure-monitor-opentelemetry/setup.py
  sdk/monitor/azure-monitor-opentelemetry/tests/autoinstrumentation/test_configurator.py
  sdk/monitor/azure-monitor-opentelemetry/tests/autoinstrumentation/test_distro.py
  sdk/monitor/azure-monitor-opentelemetry/tests/configuration/test_util.py
  sdk/monitor/azure-monitor-opentelemetry/tests/diagnostics/test_diagnostic_logging.py
  sdk/monitor/azure-monitor-opentelemetry/tests/diagnostics/test_status_logger.py
Labels: Monitor - Distro

#31942 Fix broken section link in Identity troubleshooting guide
  .vscode/cspell.json
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#31923 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#31939 Prepare monitor distro release 1.0.0
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/README.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
  sdk/monitor/azure-monitor-opentelemetry/setup.py
Labels: Monitor - Distro

#31925 Fix: Evaluating DISTINCT operator before OFFSET/LIMIT
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/execution_dispatcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/execution_dispatcher.py
  sdk/cosmos/azure-cosmos/test/test_query.py
  sdk/cosmos/azure-cosmos/test/test_query_async.py
Labels: Cosmos

#31861 [Cosmos] additional resource id validation and tests
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
  sdk/cosmos/azure-cosmos/test/test_resource_id.py
  sdk/cosmos/azure-cosmos/test/test_resource_id_async.py
Labels: Cosmos

#31544 [Identity] Small improvements
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_internal/aad_client.py
  sdk/identity/azure-identity/azure/identity/_internal/client_credential_base.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/aad_client.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
Labels: Azure.Identity

#31927 support cross resource group role assignments
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/feature_store_role_assignments.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/feature_store_role_assignments_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/materialization_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/feature_store/feature_store_full.yaml
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#31948 [ml] Fix apiview 1.10.0 comments, round 2 (#31917)
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/output.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_system_data.py
Labels: Machine Learning

#31795 [EG] eventgrid August sys events
  .vscode/cspell.json
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/swagger/_constants.py
Labels: Event Grid

#31944 Fix missing or empty message
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/logs/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/logs/test_logs.py
Labels: Monitor - Exporter

#30047 [Identity] Check for AADSTS error in CLI-based credentials
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/tests/test_azd_cli_credential.py
  sdk/identity/azure-identity/tests/test_azd_cli_credential_async.py
  sdk/identity/azure-identity/tests/test_cli_credential.py
  sdk/identity/azure-identity/tests/test_cli_credential_async.py
Labels: Azure.Identity

#31745 [Identity] Adjust IMDS probe logic
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/imds.py
  sdk/identity/azure-identity/tests/test_chained_credential.py
  sdk/identity/azure-identity/tests/test_chained_token_credential_async.py
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity

#31787 [ml] Update MLClient docstring
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
Labels: Machine Learning

#31743 [SB] Fix NoneType Error on Idle Connection Drop
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_transport/_pyamqp_transport_async.py
Labels: Service Bus

#31949 Sync eng/common directory with azure-sdk-tools for PR 6903
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#31991 3398502 - Fix ACS PSTN Sip Configuration SDK tests
  sdk/communication/test-resources/test-resources-post.ps1
Labels: Communication

#31994 Update release dates
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search, Azure.Identity

#31989 [Identity] Fix dev cli credential error message
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
Labels: Azure.Identity

#31971 fix feature set dump
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/feature_set.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_operations.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/sample_feature_set/feature_set_asset.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/sample_feature_set/spec/FeatureSetSpec.yaml
Labels: Machine Learning

#31999 [AppConfig] Address apiview feedback
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/README.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/snapshot_samples.py
  sdk/appconfiguration/azure-appconfiguration/samples/snapshot_samples_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/util.py
  sdk/appconfiguration/azure-appconfiguration/tests/testcase.py
Labels: App Configuration

#31984 [EG] update changelog
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#31907 [ml] Re-enable samples testing
  sdk/ml/automl.tests.yml
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_compute_operations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_authentication.py
  sdk/ml/azure-ai-ml/samples/ml_samples_command_configurations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_component_configurations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_compute.py
  sdk/ml/azure-ai-ml/samples/ml_samples_misc.py
  sdk/ml/azure-ai-ml/samples/ml_samples_pipeline_job_configurations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_spark_configurations.py
  sdk/ml/azure-ai-ml/samples/src/config.json
  sdk/ml/azure-ai-ml/samples/team_workspace_configuration.json
  sdk/ml/azure-ai-ml/tests/test_configs/command_job/command_job_test_local_env.yml
  sdk/ml/core-sdk.tests.yml
  sdk/ml/data-experiences.tests.yml
  sdk/ml/pipeline.tests.yml
  sdk/ml/production-experiences.tests.yml
  sdk/ml/tests.yml
  sdk/ml/training-experiences.tests.yml
Labels: Machine Learning

#32024 [Tables] Fix a bug when deserializing pk/rk in empty string
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/assets.json
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/setup.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
Labels: Client, Tables

#32034 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#32035 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#31960 Pin Crypto in azure-storage-blob-changefeed
  sdk/storage/azure-storage-blob-changefeed/dev_requirements.txt
Labels: Storage

#32038 [Storage] STG90 GA Release Prep
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#31892 [Asset Sync] Update links to `assets.json` transition script
  doc/dev/recording_migration_guide.md
Labels: test-proxy

#31642 update changelog release version
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#32042 [Cosmos] updates for release
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
Labels: Cosmos

#32001 [Monitor] Adjusts diagnostics tests
  sdk/monitor/azure-monitor-opentelemetry/tests/conftest.py
  sdk/monitor/azure-monitor-opentelemetry/tests/diagnostics/test_diagnostic_logging.py
  sdk/monitor/azure-monitor-opentelemetry/tests/diagnostics/test_status_logger.py
Labels: Monitor - Distro

#32030 [Monitor Query] Expand kwargs in client methods
  sdk/monitor/azure-monitor-query/azure/monitor/query/_logs_query_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_metrics_batch_query_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_metrics_query_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_logs_query_client_async.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_metrics_batch_query_client_async.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_metrics_query_client_async.py
Labels: Monitor - Query

#31958 Update online/offline store connection name when target changed
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/feature_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_schema.py
Labels: Machine Learning

#32041 [ml] Fix reference documentation issues
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_pipeline_decorator.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/spark_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/command_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/spark_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/synapsespark_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/code_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/container_resource_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/resource_requirements_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/materialization_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/command_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/distribution.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_limits.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_job_entry.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/early_termination_policy.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/objective.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/sampling_algorithm.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/search_space.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/sweep_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/target.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/documentation_guidelines.md
  sdk/ml/azure-ai-ml/samples/README.md
Labels: Machine Learning

#32040 Enable feature set backfill with yml file
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/feature_set_backfill_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/feature_window_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_backfill_request.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_backfill_request.py
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/feature_set_backfill_request.yml
Labels: Machine Learning, customer-reported, Community Contribution

#32050 Prepare monitor exporter release 1.0.0b17
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/setup.py
  sdk/monitor/azure-monitor-opentelemetry/setup.py
Labels: Monitor - Exporter

#32032 Updating GA2 changes
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_api_versions.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_serialization.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_vendor.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_vendor.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_version.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
Labels: Communication

#32020 3 Minor changes/fixes.
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_hub_operation.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
Labels: Machine Learning, ML-WorkspaceConnections

#32036 [ml] delete_dependent_resources delete log analytics
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_workspace_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_hub_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#32043 [ServiceBus] fix typing + update changelog
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_models.py
Labels: Service Bus

#32064 [Cosmos] typehint miss
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
Labels: Cosmos

#32063 [EG] for release
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/tests/test_serialization.py
Labels: Event Grid

#32044 some mypy typing improvements
  sdk/search/azure-search-documents/azure/__init__.py
  sdk/search/azure-search-documents/azure/search/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_headers_mixin.py
  sdk/search/azure-search-documents/azure/search/documents/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/_queries.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_search_indexing_buffered_sender.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_indexing_buffered_sender_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_utils.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_index.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
Labels: Search

#32052 [CLU] regen for next-pyright/pylint
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_vendor.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_operations/_operations.py
Labels: Cognitive - Language

#32065 [ServiceBus] update admin dictmixin types
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_models.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
Labels: Service Bus

#31516 App Configuration Provider - Refresh Async
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/assets.json
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/asynctestcase.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/conftest.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_aad.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_refresh.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_aad.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_refresh.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/testcase.py
Labels: App Configuration Provider

#32068 Sync eng/common directory with azure-sdk-tools for PR 6895
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/Update-DocsMsPackageMonikers.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#32071 [Storage] [Hotfix] Fix breaking change in `create_configuration` and prepare patches
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/tests/test_blob_client.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
Labels: Storage

#32074 App Configuration Beta Release - Refresh
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
Labels: App Configuration Provider

#32077 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#32078 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus

#32045 Bump versions
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/pyproject.toml
  sdk/monitor/azure-monitor-opentelemetry-exporter/setup.py
  sdk/monitor/azure-monitor-opentelemetry/dev_requirements.txt
  sdk/monitor/azure-monitor-opentelemetry/pyproject.toml
  sdk/monitor/azure-monitor-opentelemetry/setup.py
  shared_requirements.txt
Labels: Monitor - Exporter, Monitor - Distro

#32084 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#32080 Update version of exporter in distro
  sdk/monitor/azure-monitor-opentelemetry-exporter/pyproject.toml
  sdk/monitor/azure-monitor-opentelemetry/dev_requirements.txt
  sdk/monitor/azure-monitor-opentelemetry/pyproject.toml
  sdk/monitor/azure-monitor-opentelemetry/setup.py
Labels: Monitor - Distro

#32085 [Storage] Increment versions after STG90 GA Release v2
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#32048 [Storage] Improve `query_blob` docs
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
Labels: Storage

#32047 [Tables] Address docstring
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_models.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_base_client_async.py
Labels: Tables

#32087 Add azure resource detectors
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/setup.py
  sdk/monitor/azure-monitor-opentelemetry/tests/configuration/test_configure.py
  shared_requirements.txt
Labels: Monitor - Exporter, Monitor - Distro

#32081 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
  sdk/appconfiguration/azure-appconfiguration-provider/setup.py
Labels: App Configuration Provider

#32070 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#31979 add vision + nlp e2e tests for component reuse
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_automl_image_classification.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_automl_image_classification_multilabel.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_automl_image_object_detection.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_automl_image_segmentation.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_remote_text_classification.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_remote_text_classification_multilabel.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_remote_text_ner.py
Labels: customer-reported, Community Contribution

#32089 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#32002 [Storage] Make hack to run changefeed tests locally opt-in via comments
  sdk/storage/azure-storage-blob-changefeed/tests/test_change_feed.py
Labels: Storage

#32098 Increment version for tables releases
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
Labels: Tables

#32094 Remove experimental tag on wokrspaceHubOperation
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_hub_operation.py
Labels: Machine Learning

#32097 Expose monitoring classes
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
Labels: Machine Learning

#32092 {communication} Fix Communication Rooms Readme Issue
  sdk/communication/azure-communication-rooms/README.md
Labels: Communication - Rooms

#32033 3398502 - Fix ACS PSTN Sip Configuration SDK tests (2)
  sdk/communication/test-resources/test-resources-post.ps1
Labels: Communication

#32083 mypy typing improvements 2
  sdk/search/azure-search-documents/azure/search/documents/_index_documents_batch.py
  sdk/search/azure-search-documents/azure/search/documents/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/_queries.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_search_indexing_buffered_sender.py
  sdk/search/azure-search-documents/azure/search/documents/_search_indexing_buffered_sender_base.py
  sdk/search/azure-search-documents/azure/search/documents/_utils.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_index_documents_batch_async.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_indexing_buffered_sender_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_utils.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_index.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
Labels: Search

#32109 Sync eng/common directory with azure-sdk-tools for PR 6982
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#32112 1.10.1 merges
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/feature_store_role_assignments.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/feature_store_role_assignments_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/feature_set.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/materialization_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_operations.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_schema.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/sample_feature_set/feature_set_asset.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/sample_feature_set/spec/FeatureSetSpec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/feature_store/feature_store_full.yaml
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#32115 Sync eng/common directory with azure-sdk-tools for PR 6985
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#32111 Feature attribution drift fixes
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/thresholds.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/feature_attribution_drift_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/feature_attribution_drift.yaml
Labels: Machine Learning

#32114 Custom signal fixes
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/input_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/input_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/tests/monitoring/unittests/test_monitor_schedule.py
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/custom_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/custom.yaml
Labels: Machine Learning

#31998 Gsq signal
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/monitor_definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/thresholds.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_monitoring.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/thresholds.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/tests/monitoring/unittests/test_monitor_schedule.py
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/generation_safety_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/generation_safety.yaml
Labels: Machine Learning

#32140 [metricsadvisor] fix type hints
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_client.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_configuration.py
Labels: customer-reported, Cognitive - Metrics Advisor, Community Contribution

#32139 [Monitor][Otel][Exporter] Fix for disabled storage shoutdown
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/logs/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/logs/test_logs.py
Labels: customer-reported, Monitor - Exporter, Community Contribution

#32016 [AppConfig] Run pyright
  sdk/appconfiguration/azure-appconfiguration/azure/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_serialization.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_sync_token.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_sync_token_async.py
Labels: Client, App Configuration, pyright

#32142 Fix for disabled storage shoutdown
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/metrics/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_exporter.py
Labels: Monitor - Exporter

#32116 [ACS][CallAutomation] Migrate test to use test proxy + various updates
  .vscode/cspell.json
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/tests/call_automation_automated_live_test_base.py
  sdk/communication/azure-communication-callautomation/tests/callautomation_test_case.py
  sdk/communication/azure-communication-callautomation/tests/conftest.py
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_create_VOIP_call_and_answer_then_hangup.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_dtmf_actions_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_media_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/recordings/test_create_VOIP_call_and_answer_then_hangup.txt
  sdk/communication/azure-communication-callautomation/tests/recordings/test_dtmf_actions_in_a_call.txt
  sdk/communication/azure-communication-callautomation/tests/recordings/test_play_media_in_a_call.txt
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client_e2e.py
  sdk/communication/azure-communication-callautomation/tests/test_callautomation_client_e2e.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_callautomation_client.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_media_client.py
Labels: Communication

#31133 [Cosmos] deprecating old diagnostics
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/diagnostics.py
  sdk/cosmos/azure-cosmos/setup.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
  sdk/cosmos/azure-cosmos/test/test_diagnostics.py
Labels: Cosmos

#32136 [ml] Remove experimental from workspace managed network offerings
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
Labels: Machine Learning, ML-Workspace

#31864 [SB] next-mypy
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_amqp_message.py
  sdk/servicebus/azure-servicebus/pyproject.toml
  sdk/servicebus/azure-servicebus/samples/async_samples/authenticate_using_azure_sas_credential_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/receive_deferred_message_queue_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/sample_code_servicebus_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/send_and_receive_amqp_annotated_message_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/authenticate_using_azure_sas_credential.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/generate_sas_token_and_authenticate_client.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/receive_deferred_message_queue.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/sample_code_servicebus.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/session_pool_receive.py
Labels: Service Bus

#31520 change to 3.8 base image
  sdk/eventhub/azure-eventhub/stress/Dockerfile
  sdk/servicebus/azure-servicebus/stress/Dockerfile
Labels: Service Bus, Event Hubs

#32113 1.10.1 changelog
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/feature_set.py
Labels: Machine Learning

#32161 App Configuration fix Build Samples
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/aad_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/async_aad_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/async_connection_string_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/async_key_vault_reference_provided_clients_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/async_key_vault_reference_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/connection_string_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/key_vault_reference_customized_clients_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/key_vault_reference_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/refresh_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/sample_utilities.py
Labels: App Configuration Provider

#32168 [ML][Pipelines] fix: resolve jobs.xxx.inputs for subgraph
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline_with_specific_nodes.py
Labels: Machine Learning, ML-Pipelines

#32180 [Tables] Update CHANGELOG.md
  sdk/tables/azure-data-tables/CHANGELOG.md
Labels: Tables

#32183 [Storage] Fix `user_agent` on method calls with encryption
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_encryption.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_v2.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_v2_async.py
  sdk/storage/azure-storage-queue/assets.json
  sdk/storage/azure-storage-queue/azure/storage/queue/_encryption.py
  sdk/storage/azure-storage-queue/tests/test_queue_encryption.py
  sdk/storage/azure-storage-queue/tests/test_queue_encryption_async.py
Labels: Storage

#31297 [Tables] Add tests with all credential types in cosmos and storage tables
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/assets.json
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/tests/_shared/testcase.py
  sdk/tables/azure-data-tables/tests/test_table_client.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos_async.py
Labels: Tables

#32194 [Storage] Prepare for blob/queue patch release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
Labels: Storage

#32196 Sync eng/common directory with azure-sdk-tools for PR 7002
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#31913 [Tables] Add secondary live tests
  sdk/tables/azure-data-tables/assets.json
  sdk/tables/azure-data-tables/azure/data/tables/_policies.py
  sdk/tables/azure-data-tables/tests/test_retry.py
  sdk/tables/azure-data-tables/tests/test_retry_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_client.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_client_cosmos_async.py
Labels: Tables

#32200 [Identity] Retry IMDS requests on 410 responses
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
Labels: Azure.Identity

#32213 Sync eng/common directory with azure-sdk-tools for PR 6919
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/scripts/Get-BuildSourceDescription.ps1
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/New-RegenerateMatrix.ps1
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/Update-GeneratedSdks.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#32179 Adding Hold/Unhold capabilities to Call Automation.
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_serialization.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_vendor.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_vendor.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_enums.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
Labels: Communication

#32184 GSQ and other momo fixes
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/thresholds.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/target.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/thresholds.py
  sdk/ml/azure-ai-ml/azure/ai/ml/exceptions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/tests/monitoring/e2etests/test_monitor_schedule.py
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/custom_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/data_drift_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/data_quality_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/feature_attribution_drift_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/generation_safety_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/out_of_box_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/prediction_drift_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/custom.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/data_drift.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/data_quality.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/feature_attribution_drift.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/generation_safety.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/prediction_drift.yaml
Labels: Machine Learning

#32224 [Storage] Bump version after STG90 release (#3)
  sdk/storage/azure-storage-blob-changefeed/setup.py
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#32234 [translation] update snippets due to change in snippet update script
  sdk/translation/azure-ai-translation-text/samples/README.md
Labels: Cognitive - Translator

#32192 Add ability to configure which logger to collect telemetry for Azure monitor distro
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/README.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_constants.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_util/configurations.py
  sdk/monitor/azure-monitor-opentelemetry/samples/logging/correlated_logs.py
  sdk/monitor/azure-monitor-opentelemetry/samples/logging/exception_logs.py
  sdk/monitor/azure-monitor-opentelemetry/samples/logging/simple.py
  sdk/monitor/azure-monitor-opentelemetry/tests/configuration/test_configure.py
Labels: Monitor - Distro

#32233 App Config Readme Update
  sdk/appconfiguration/azure-appconfiguration-provider/README.md
Labels: App Configuration Provider

#32237 [ML] refactor: Make defaults() a @classmethod
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/thresholds.py
Labels: Machine Learning

#32227 Sync eng/common directory with azure-sdk-tools for PR 7013
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#32250 [ML] test: Fix unittest failing in CI because of `urllib3>2`
  sdk/ml/azure-ai-ml/tests/dataset/unittests/test_data_utils.py
Labels: Machine Learning

#32240 [ml] expose WorkspaceOutboundRuleOperations
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/__init__.py
Labels: Machine Learning

#32253 [ML][Cherry-Pick] tests: Fix unittest that breaks in CI with urllib3>2 installed (#32250)
  sdk/ml/azure-ai-ml/tests/dataset/unittests/test_data_utils.py
Labels: Machine Learning

#32181 Update featurestore docs
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/feature_set.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_backfill_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_backfill_request.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_materialization_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/feature_set_specification.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/materialization_compute_resource.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/materialization_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/materialization_type.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/feature_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/materialization_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store_entity/data_column.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store_entity/data_column_type.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store_entity/feature_store_entity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/feature_store_settings.py
  sdk/ml/azure-ai-ml/samples/ml_samples_featurestore.py
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/code_sample/FeatureSetSpec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/code_sample/code/transaction_transform.py
Labels: Machine Learning, customer-reported, Community Contribution

#32244 Change llmrequestresponseData to LlmData
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
Labels: Machine Learning

#32239 [ML][cherry-pick] refactor: Make defaults() a @classmethod (#32237)
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/thresholds.py
Labels: Machine Learning

#32236 Change statsbeat metrics names
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_statsbeat.py
Labels: Monitor - Exporter

#32195 Add message ids for applens
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_autoinstrumentation/configurator.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_autoinstrumentation/distro.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_constants.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_diagnostics/diagnostic_logging.py
  sdk/monitor/azure-monitor-opentelemetry/tests/autoinstrumentation/test_configurator.py
  sdk/monitor/azure-monitor-opentelemetry/tests/autoinstrumentation/test_distro.py
  sdk/monitor/azure-monitor-opentelemetry/tests/diagnostics/test_diagnostic_logging.py
  sdk/monitor/azure-monitor-opentelemetry/tests/test_constants.py
Labels: Monitor - Distro

#32241 [Key Vault] Prepare for next version of `mypy`
  sdk/keyvault/azure-keyvault-administration/README.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_models.py
  sdk/keyvault/azure-keyvault-administration/samples/access_control_operations.py
  sdk/keyvault/azure-keyvault-administration/samples/access_control_operations_async.py
  sdk/keyvault/azure-keyvault-administration/samples/backup_restore_operations.py
  sdk/keyvault/azure-keyvault-administration/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-administration/samples/settings_operations.py
  sdk/keyvault/azure-keyvault-administration/samples/settings_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/backup_restore_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/parse_certificate.py
  sdk/keyvault/azure-keyvault-certificates/samples/parse_certificate_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations.py
  sdk/keyvault/azure-keyvault-certificates/samples/recover_purge_operations_async.py
  sdk/keyvault/azure-keyvault-keys/samples/key_rotation.py
  sdk/keyvault/azure-keyvault-keys/samples/key_rotation_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/backup_restore_operations.py
  sdk/keyvault/azure-keyvault-secrets/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/hello_world.py
  sdk/keyvault/azure-keyvault-secrets/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/list_operations.py
  sdk/keyvault/azure-keyvault-secrets/samples/list_operations_async.py
  sdk/keyvault/azure-keyvault-secrets/samples/recover_purge_operations.py
  sdk/keyvault/azure-keyvault-secrets/samples/recover_purge_operations_async.py
Labels: KeyVault, mypy

#32175 Remove experimental tag from registries
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
Labels: Machine Learning

#32259 Central `EnvironmentVariableLoader` documentation and cleaned-up `devtools_testutils` docs
  doc/dev/test_proxy_migration_guide.md
  doc/dev/tests.md
  tools/azure-sdk-tools/devtools_testutils/README.md
Labels: Docs, EngSys

#32256 Change llmrequestresponseData to LlmData (#32244)
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
Labels: Machine Learning

#32159 Richardcho/cancel add participant
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_enums.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/test_call_connection_client.py
Labels: Communication

#32262 [Key Vault] Update key rotation tests for service changes and MHSM support
  sdk/keyvault/azure-keyvault-keys/assets.json
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_enums.py
  sdk/keyvault/azure-keyvault-keys/tests/conftest.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
Labels: KeyVault, Client, test-reliability

#32266 [ML] refactor: Make ManagedNetwork.__init__ keyword only
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace_outbound_rule_operations.py
Labels: Machine Learning, ML-Workspace

#31772 [EH+SB] Thread Safety Documentation
  sdk/eventhub/azure-eventhub/README.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/samples/async_samples/auto_lock_renew_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/auto_lock_renew.py
Labels: Service Bus, Event Hubs

#31857 [EG] next-mypy
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_helpers.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/sample_authentication_async.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/consume_cloud_events_from_eventhub.py
  sdk/eventgrid/azure-eventgrid/samples/consume_samples/consume_cloud_events_from_storage_queue.py
  sdk/eventgrid/azure-eventgrid/samples/publish_samples/publish_cloud_events_to_custom_topic_sample.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_authentication.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/sample_consume_custom_payload.py
Labels: Event Grid

#32281 [ML] fix: Add `type` instance var to `MonitorInputData`
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_monitoring.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/input_data.py
Labels: Machine Learning

#32285 [ML][Cherry-pick] refactor: Make ManagedNetwork.__init__ keyword only (#32266)
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace_outbound_rule_operations.py
Labels: Machine Learning, ML-Workspace

#32287 [ML][Cherry-pick] fix: Add `type` instance var to `MonitorInputData` (#32281)
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_monitoring.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/input_data.py
Labels: Machine Learning

#32268 Fix reg client: workspace location as a not required parameter
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_registry_utils.py
Labels: Machine Learning

#32295 [ML][Cherry-pick] Fix reg client: workspace location as a not required parameter (#32268)
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_registry_utils.py
Labels: Machine Learning

#31518 App Configuration Provider - Remove AzureAppConfigurationKeyVaultOptions Usage
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/assets.json
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/async_key_vault_reference_provided_clients_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/async_key_vault_reference_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/key_vault_reference_customized_clients_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/key_vault_reference_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/asynctestcase.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/conftest.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_aad.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_aad.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/testcase.py
Labels: App Configuration Provider

#32297 App Configuration Provider - Beta Release
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
Labels: App Configuration Provider

#32301 App Config Provider - KV Options Fix and Tests
  sdk/appconfiguration/azure-appconfiguration-provider/assets.json
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/dev_requirements.txt
  sdk/appconfiguration/azure-appconfiguration-provider/tests/asynctestcase.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_aad.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_aad.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/testcase.py
Labels: App Configuration Provider

#32249 [Pipeline] Support multiple pipeline output with same component output
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_util.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_entity.py
Labels: Machine Learning
