Repository Azure/azure-sdk-for-python, pull requests merged in 2023-07, with the labels that each got.

#30952 Run next pylint on AppConfig
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/setup.py
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_requests.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_sync_token.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_user_agent.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_configuration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_sync_token_async.py
  sdk/appconfiguration/azure-appconfiguration/setup.py
Labels: Client, App Configuration

#30966 [ML][Pipelines] feat: support parameter group for command & parallel in pipeline
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_utils/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job/parameterized_spark.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/pipeline_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/base_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel_for.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/pipeline_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/group_input.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/mixin.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/pipeline_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline_with_specific_nodes.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_with_specific_nodes.pyTestDSLPipelineWithSpecificNodestest_dsl_pipeline_with_param_group_in_command_component[dict-group-remote].json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_with_specific_nodes.pyTestDSLPipelineWithSpecificNodestest_dsl_pipeline_with_param_group_in_command_component[dict-group].json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_with_specific_nodes.pyTestDSLPipelineWithSpecificNodestest_dsl_pipeline_with_param_group_in_command_component[strong-typed-group-remote].json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_with_specific_nodes.pyTestDSLPipelineWithSpecificNodestest_dsl_pipeline_with_param_group_in_command_component[strong-typed-group].json
  sdk/ml/azure-ai-ml/tests/test_configs/components/helloworld_component_with_parameter_group.yml
Labels: Machine Learning, ML-Pipelines, ML-Assets

#30060 {communication} Fix Readme issue with Phone Number
  sdk/communication/azure-communication-phonenumbers/README.md
Labels: Communication - Phone Numbers

#30985 Call Automation beta2 fixes
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/README.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_version.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
Labels: Communication

#30990 [Storage] STG90 Preview Initial Branch Setup
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.pyTestDirectorytest_rename_dir_with_file_system_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.pyTestDirectoryAsynctest_rename_dir_with_file_system_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.pyTestFiletest_rename_file_different_filesystem_with_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.pyTestFiletest_upload_file_encryption_context.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.pyTestFileAsynctest_rename_file_different_filesystem_with_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.pyTestFileAsynctest_upload_file_encryption_context.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.pyTestFileSystemtest_create_file_system_encryption_scope_account_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.pyTestFileSystemtest_create_file_system_encryption_scope_directory_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.pyTestFileSystemtest_create_file_system_encryption_scope_file_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.pyTestFileSystemtest_create_file_system_encryption_scope_file_system_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.pyTestFileSystemtest_list_file_systems_account_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.pyTestFileSystemtest_restore_file_system_with_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.pyTestFileSystemAsynctest_create_file_system_encryption_scope_account_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.pyTestFileSystemAsynctest_create_file_system_encryption_scope_directory_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.pyTestFileSystemAsynctest_create_file_system_encryption_scope_file_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.pyTestFileSystemAsynctest_create_file_system_encryption_scope_file_system_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.pyTestFileSystemAsynctest_list_file_systems_account_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.pyTestFileSystemAsynctest_restore_file_system_with_sas.json
Labels: Storage

#30977 Fix Pylint warnings for Weekly pipeline
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_rooms_client.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/aio/_rooms_client_async.py
Labels: Communication - Rooms

#30677 output support primitive type
  sdk/ml/azure-ai-ml/azure/ai/ml/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/condition_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/do_while.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/command_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/input.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/output.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_pipeline_expression.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_command_component_entity.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_component_validate.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_controlflow_pipeline.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestIfElsetest_dsl_condition_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestIfElsetest_dsl_condition_pipeline_with_one_branch.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestIfElsetest_dsl_condition_pipeline_with_primitive_input.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestIfElsetest_if_else_multiple_blocks.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestIfElsetest_if_else_multiple_blocks_subgraph.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_control_flow_pipeline.pyTestControlFLowPipelineComponenttest_if_else.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_control_flow_pipeline.pyTestIfElsetest_happy_path_if_else.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_control_flow_pipeline.pyTestIfElsetest_if_else_multiple_block.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_control_flow_pipeline.pyTestIfElsetest_if_else_one_branch.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_control_flow_pipeline.pyTestIfElsetest_if_else_single_multiple_block.json
Labels: Machine Learning, ML-Pipelines

#31002 add sample for vector search
  sdk/search/azure-search-documents/samples/async_samples/sample_vector_search_async.py
  sdk/search/azure-search-documents/samples/sample_vector_search.py
Labels: Search

#31006 Update doc
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/samples/README.md
Labels: Search

#31000 [Az Core Experimental] Httpx transport fixes
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/azure/core/experimental/transport/_httpx.py
Labels: Azure.Core

#30950 Run next pylint on ACR
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_anonymous_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_authentication_policy.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_download_stream.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_helpers.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_anonymous_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_authentication_policy.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_download_stream.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_exchange_client.py
Labels: Container Registry, Client

#31008 [Key Vault] Extend pipeline timeouts
  sdk/keyvault/tests.yml
Labels: KeyVault, Client, test-reliability, test-sovereign-cloud

#31016 fix: load file ref spark component
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/fields.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job/parameterized_spark.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_schema.py
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_spark_job[tests/test_configs/dsl_pipeline/spark_job_in_pipeline/sample_pipeline.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_spark_job[tests/test_configs/pipeline_jobs/shakespear_sample/pipeline.yml].json
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/helloworld_pipeline_job_with_spark_component.yml
Labels: ML-Pipelines

#30979 expose window handle para
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
Labels: Azure.Identity

#31007 update components feature flag, add component model for nlp tests
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_automl_image_classification.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_automl_image_classification_multilabel.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_automl_image_object_detection.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_automl_image_segmentation.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_remote_text_classification.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_remote_text_classification_multilabel.py
  sdk/ml/azure-ai-ml/tests/automl_job/e2etests/test_remote_text_ner.py
Labels: customer-reported, Community Contribution

#30840 Fix pipeline component deployment invoke job download
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_job/pipeline.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
Labels: Machine Learning

#30975 [SchemaRegistry] next-pylint update
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_apache_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_message_protocol.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_schema_registry_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_utils.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/aio/_schema_registry_avro_encoder_async.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_schema_registry_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_utils.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_schema_registry_client_async.py
Labels: Schema Registry

#29228 Types in poller
  .vscode/cspell.json
  sdk/core/azure-core/azure/core/_pipeline_client_async.py
  sdk/core/azure-core/azure/core/pipeline/__init__.py
  sdk/core/azure-core/azure/core/pipeline/policies/_universal.py
  sdk/core/azure-core/azure/core/pipeline/policies/_utils.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base_async.py
  sdk/core/azure-core/azure/core/polling/_async_poller.py
  sdk/core/azure-core/azure/core/polling/_poller.py
  sdk/core/azure-core/azure/core/polling/async_base_polling.py
  sdk/core/azure-core/azure/core/polling/base_polling.py
  sdk/core/azure-core/azure/core/rest/_helpers.py
  sdk/core/azure-core/pyproject.toml
  sdk/core/azure-core/tests/async_tests/test_base_polling_async.py
  sdk/core/azure-core/tests/test_base_polling.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_polling.py
Labels: Azure.Core

#31025 [ML][Pipelines] fix: compatibility with mldesigner
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/component.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_mldesigner_imports.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_with_param_group_in_command_component.json
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/helloworld_pipeline_job_group_input_for_node.yml
Labels: Machine Learning, ML-Pipelines

#30860 [Python AMQP] Fix End Frame Received on Invalid Channel
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/unittest/asynctests/test_connection_async.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/unittest/test_connection.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_connection.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_connection_async.py
Labels: Event Hubs

#31020 Sync eng/common directory with azure-sdk-tools for PR 6465
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#31015 [ACS][CallAutomation] Latest feedback update with Python SDK
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/README.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_enums.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_version.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
Labels: Communication

#31021 [Identity] Update persistence cache test
  sdk/identity/azure-identity/tests/test_persistent_cache.py
Labels: Azure.Identity

#30991 [Storage] Improved `version_id` behavior
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.pyTestStorageCommonBlobtest_blob_version_id_operations.json
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob_async.pyTestStorageCommonBlobAsynctest_blob_version_id_operations.json
  sdk/storage/azure-storage-blob/tests/recordings/test_container.pyTestStorageContainertest_delete_blob_with_properties_versioning.json
  sdk/storage/azure-storage-blob/tests/recordings/test_container.pyTestStorageContainertest_delete_blobs_with_properties_versioning.json
  sdk/storage/azure-storage-blob/tests/recordings/test_container.pyTestStorageContainertest_download_blob_with_properties_versioning.json
  sdk/storage/azure-storage-blob/tests/recordings/test_container.pyTestStorageContainertest_get_blob_client_with_properties_versioning.json
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.pyTestStorageContainerAsynctest_delete_blob_with_properties_versioning.json
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.pyTestStorageContainerAsynctest_delete_blobs_with_properties_versioning.json
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.pyTestStorageContainerAsynctest_download_blob_with_properties_versioning.json
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.pyTestStorageContainerAsynctest_get_blob_client_with_properties_versioning.json
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory.pyTestDirectorytest_rename_dir_with_file_system_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_directory_async.pyTestDirectoryAsynctest_rename_dir_with_file_system_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file.pyTestFiletest_rename_file_different_filesystem_with_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_async.pyTestFileAsynctest_rename_file_different_filesystem_with_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.pyTestFileSystemtest_create_file_system_encryption_scope_account_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.pyTestFileSystemtest_create_file_system_encryption_scope_directory_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.pyTestFileSystemtest_create_file_system_encryption_scope_file_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.pyTestFileSystemtest_create_file_system_encryption_scope_file_system_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.pyTestFileSystemtest_list_file_systems_account_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system.pyTestFileSystemtest_restore_file_system_with_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.pyTestFileSystemAsynctest_create_file_system_encryption_scope_account_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.pyTestFileSystemAsynctest_create_file_system_encryption_scope_directory_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.pyTestFileSystemAsynctest_create_file_system_encryption_scope_file_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.pyTestFileSystemAsynctest_create_file_system_encryption_scope_file_system_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.pyTestFileSystemAsynctest_list_file_systems_account_sas.json
  sdk/storage/azure-storage-file-datalake/tests/recordings/test_file_system_async.pyTestFileSystemAsynctest_restore_file_system_with_sas.json
Labels: Storage

#28702 [AppConfig] Add snapshot support
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/assets.json
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_azure_app_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_serialization.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_vendor.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_azure_app_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_vendor.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/operations/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/operations/_azure_app_configuration_operations.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/_azure_app_configuration_enums.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/_models_py3.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/operations/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/operations/_azure_app_configuration_operations.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/swagger/README.md
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/testcase.py
Labels: Client, App Configuration

#31035 [Test Proxy] Add guidance for common URL recording issues
  doc/dev/test_proxy_troubleshooting.md
  doc/dev/tests.md
Labels: Docs, EngSys, test-proxy

#30828 [ACR] Fix a bug on deserializing "unknown" architecture and os values in ArtifactManifestProperties
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
Labels: Container Registry, Client

#31040 [ACS][CallAutomation] Fixing repeatability
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_utils.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
Labels: Communication

#31017 Adding custom models for Play/Recognize.
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
Labels: Communication

#31023 Prepare release for azure-maps-render
  sdk/maps/azure-maps-render/CHANGELOG.md
Labels: Maps

#31038 Update readme for search
  sdk/search/azure-search-documents/README.md
Labels: Search

#31036 [EG] pylint changes
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_helpers.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_messaging_shared.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_models.py
Labels: Event Grid

#31048 Some Types in SchemaRegistry
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_utils.py
Labels: Schema Registry, auto-merge

#31024 [Monitor Query] Add additional check to NB sample
  sdk/monitor/azure-monitor-query/samples/notebooks/sample_large_query.ipynb
Labels: Monitor - Query

#31039 [AppConfig] Add Snapshot samples
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/README.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
  sdk/appconfiguration/azure-appconfiguration/samples/README.md
  sdk/appconfiguration/azure-appconfiguration/samples/conditional_operation_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/conditional_operation_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/hello_world_advanced_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/hello_world_advanced_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/hello_world_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/hello_world_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/list_revision_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/list_revision_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/read_only_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/read_only_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/snapshot_samples.py
  sdk/appconfiguration/azure-appconfiguration/samples/snapshot_samples_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/sync_token_samples.py
  sdk/appconfiguration/azure-appconfiguration/samples/sync_token_samples_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/util.py
  sdk/appconfiguration/azure-appconfiguration/setup.py
Labels: Client, App Configuration

#30961 [formrecognizer] Pylint next fixes
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_api_versions.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_base_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_recognizer_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_form_training_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_helpers.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_async_polling.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_base_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_recognizer_client_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_form_training_client_async.py
Labels: Cognitive - Form Recognizer

#31054 [ACR] Prepare release
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_version.py
Labels: Container Registry, Client

#31055 [Key Vault] Prepare Certificates for release
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
Labels: KeyVault, Client

#31058 Sync eng/common directory with azure-sdk-tools for PR 6468
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#31044 [EH & SB ] Update changelog
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus, Event Hubs

#31069 [Test Proxy] Fix link to `tests.md` section about updating recordings
  doc/dev/recording_migration_guide.md
  doc/dev/tests.md
Labels: Docs, test-proxy

#30989 [ml] Add mypy section to pyproject.toml
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parameterized_command.py
  sdk/ml/azure-ai-ml/pyproject.toml
Labels: Machine Learning

#31052 [Storage] STG88 GA Release Prep
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#31075 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#31076 expose vector
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/models/__init__.py
Labels: Search

#31078 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#31073 Increment version for containerregistry releases
  sdk/containerregistry/azure-containerregistry/CHANGELOG.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_version.py
Labels: Container Registry

#31082 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
Labels: App Configuration

#31081 Update samples
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_vector_search_async.py
  sdk/search/azure-search-documents/samples/sample_vector_search.py
Labels: Search

#31080 [appconfig] next-pylint disable line location move
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_requests.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_appconfiguration_client_async.py
Labels: App Configuration

#31088 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#31087 [Storage] More PyLint-next changes for Queue
  sdk/storage/azure-storage-blob/azure/storage/blob/_encryption.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_encryption.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_message_encoding.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/response_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
Labels: Storage

#31092 [Storage] Increment version prep for STG90
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Labels: Storage

#31079 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
Labels: KeyVault

#31101 [EventHub&ServiceBus] add release dates
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: auto-merge

#31100 [app provider] disable changed line
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
Labels: App Configuration Provider, auto-merge

#30891 remove dependency on fix
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_shared/models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_shared/user_credential.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_shared/user_credential_async.py
  sdk/communication/azure-communication-callautomation/setup.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_generated/models/_azure_communication_chat_service_enums.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/models.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/user_credential.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/user_credential_async.py
  sdk/communication/azure-communication-chat/azure/communication/chat/aio/_chat_client_async.py
  sdk/communication/azure-communication-chat/azure/communication/chat/aio/_chat_thread_client_async.py
  sdk/communication/azure-communication-chat/setup.py
  sdk/communication/azure-communication-email/azure/communication/email/_shared/models.py
  sdk/communication/azure-communication-email/azure/communication/email/_shared/user_credential.py
  sdk/communication/azure-communication-email/azure/communication/email/_shared/user_credential_async.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/models.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/user_credential.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/user_credential_async.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/models.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/user_credential.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/user_credential_async.py
  sdk/communication/azure-communication-jobrouter/setup.py
  sdk/communication/azure-communication-jobrouter/tests/_recording_processors.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/models/_communication_network_traversal_client_enums.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/models.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/user_credential.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/user_credential_async.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/models.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/user_credential.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/user_credential_async.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_shared/models.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_shared/user_credential.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_shared/user_credential_async.py
  sdk/communication/azure-communication-rooms/setup.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_generated/models/_azure_communication_sms_service_enums.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/models.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/user_credential.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/user_credential_async.py
  sdk/communication/azure-communication-sms/setup.py
Labels: Communication, Communication - Chat, Communication - Common, Communication - SMS, Communication - NetworkTraversal, Communication - Rooms, Communication - Job Router

#30970 Communication Identity | Fixed next-pylint and mypy errors
  sdk/communication/azure-communication-identity/azure/communication/identity/_communication_identity_client.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/auth_policy_utils.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/models.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/policy.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/user_credential.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/user_credential_async.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/utils.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_utils.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_version.py
  sdk/communication/azure-communication-identity/azure/communication/identity/aio/_communication_identity_client_async.py
  sdk/communication/azure-communication-identity/mypy.ini
  sdk/communication/azure-communication-identity/tests/_shared/utils.py
  sdk/communication/azure-communication-identity/tests/test_user_credential_async.py
  sdk/communication/azure-communication-identity/tests/test_user_credential_async_with_context_manager.py
  sdk/communication/azure-communication-identity/tests/utils.py
Labels: Communication - Common, Communication - Identity

#31118 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs

#31132 [ml] make materialization fields optional in yaml (#31109)
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/materialization_settings_schema.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/feature_set_minimal.yaml
Labels: Machine Learning

#30953 Run next pylint on Tables
  sdk/tables/azure-data-tables/azure/data/tables/_authentication.py
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_common_conversion.py
  sdk/tables/azure-data-tables/azure/data/tables/_deserialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_entity.py
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/azure/data/tables/_models.py
  sdk/tables/azure-data-tables/azure/data/tables/_policies.py
  sdk/tables/azure-data-tables/azure/data/tables/_sdk_moniker.py
  sdk/tables/azure-data-tables/azure/data/tables/_serialize.py
  sdk/tables/azure-data-tables/azure/data/tables/_shared_access_signature.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_batch.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_service_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_shared_access_signature.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_authentication_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_base_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_policies_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_batch_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_service_client_async.py
  sdk/tables/azure-data-tables/migration_guide.md
  sdk/tables/azure-data-tables/tests/_shared/cosmos_testcase.py
  sdk/tables/azure-data-tables/tests/test_table_entity.py
  sdk/tables/azure-data-tables/tests/test_table_entity_async.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos.py
  sdk/tables/azure-data-tables/tests/test_table_entity_cosmos_async.py
Labels: Client, Tables

#31089 [formrecognizer] Remove canary
  sdk/formrecognizer/tests.yml
Labels: Cognitive - Form Recognizer

#31141 Sync .github/workflows directory with azure-sdk-tools for PR 6507
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#31143 [ACS JobRouter]Fix docstring and samples
  sdk/communication/azure-communication-jobrouter/CHANGELOG.md
  sdk/communication/azure-communication-jobrouter/README.md
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/__init__.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_router_administration_client.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_router_client.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/__init__.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_router_administration_client_async.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_router_client_async.py
  sdk/communication/azure-communication-jobrouter/samples/classification_policy_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/classification_policy_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/router_worker_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/router_worker_crud_ops_async.py
Labels: Communication - Job Router

#31124 [Storage] [Next-PyLint] Changefeed Package
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_change_feed_client.py
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_models.py
Labels: Storage

#31093 [Storage] More pylint-next changes for file-share
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/__init__.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_deserialize.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_download.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/response_handlers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared_access_signature.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_download_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
Labels: Storage

#31074 [Storage] [Next-PyLint] Blobs Package
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_deserialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_list_blobs_helper.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_quick_query_helper.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/authentication.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/avro_io.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/avro_io_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/datafile.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/datafile_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/schema.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/parser.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/request_handlers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/response_handlers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_upload_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_upload_helpers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared_access_signature.py
Labels: Storage

#31153 Purview Sharing Migrate Recordings to Assets Repo
  sdk/purview/azure-purview-sharing/CHANGELOG.md
  sdk/purview/azure-purview-sharing/assets.json
  sdk/purview/azure-purview-sharing/samples/README.md
  sdk/purview/azure-purview-sharing/tests/conftest.py
  sdk/purview/azure-purview-sharing/tests/recordings/test_received_shares.pyTestReceivedSharestest_attach_received_share.json
  sdk/purview/azure-purview-sharing/tests/recordings/test_received_shares.pyTestReceivedSharestest_delete_received_share.json
  sdk/purview/azure-purview-sharing/tests/recordings/test_received_shares.pyTestReceivedSharestest_get_all_attached_shares.json
  sdk/purview/azure-purview-sharing/tests/recordings/test_received_shares.pyTestReceivedSharestest_get_all_detached_shares.json
  sdk/purview/azure-purview-sharing/tests/recordings/test_received_shares.pyTestReceivedSharestest_get_received_share.json
  sdk/purview/azure-purview-sharing/tests/recordings/test_sent_shares.pyTestSentSharestest_create_sent_share.json
  sdk/purview/azure-purview-sharing/tests/recordings/test_sent_shares.pyTestSentSharestest_create_sent_share_service_invitation.json
  sdk/purview/azure-purview-sharing/tests/recordings/test_sent_shares.pyTestSentSharestest_create_sent_share_user_invitation.json
  sdk/purview/azure-purview-sharing/tests/recordings/test_sent_shares.pyTestSentSharestest_delete_sent_share.json
  sdk/purview/azure-purview-sharing/tests/recordings/test_sent_shares.pyTestSentSharestest_delete_sent_share_service_invitation.json
  sdk/purview/azure-purview-sharing/tests/recordings/test_sent_shares.pyTestSentSharestest_get_all_sent_share_service_invitation.json
  sdk/purview/azure-purview-sharing/tests/recordings/test_sent_shares.pyTestSentSharestest_get_all_sent_shares.json
  sdk/purview/azure-purview-sharing/tests/recordings/test_sent_shares.pyTestSentSharestest_get_sent_share.json
  sdk/purview/azure-purview-sharing/tests/recordings/test_sent_shares.pyTestSentSharestest_get_sent_share_invitation.json
  sdk/purview/azure-purview-sharing/tests/recordings/test_share_resources.pyTestShareResourcestest_list_share_resources.json
Labels: Purview

#31156 Sync eng/common directory with azure-sdk-tools for PR 6521
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys

#31111 email next-pylint
  sdk/communication/azure-communication-email/azure/communication/email/_email_client.py
  sdk/communication/azure-communication-email/azure/communication/email/aio/_email_client_async.py
Labels: Communication - Common, Communication - Email

#31112 jobrouter next-pylint
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_models.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_router_administration_client.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_router_client.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_router_administration_client_async.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_router_client_async.py
Labels: Communication - Common, Communication - Job Router

#31114 phone numbers next-pylint
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/aio/_phone_numbers_client_async.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/siprouting/_sip_routing_client.py
Labels: Communication - Common, Communication - Phone Numbers

#31110 chat next-pylint
  sdk/communication/azure-communication-chat/azure/communication/chat/_chat_client.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_chat_thread_client.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_communication_identifier_serializer.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_utils.py
  sdk/communication/azure-communication-chat/azure/communication/chat/aio/_chat_client_async.py
  sdk/communication/azure-communication-chat/azure/communication/chat/aio/_chat_thread_client_async.py
Labels: Communication - Chat, Communication - Common

#31116 sms next-pylint
  sdk/communication/azure-communication-sms/azure/communication/sms/_sms_client.py
  sdk/communication/azure-communication-sms/azure/communication/sms/aio/_sms_client_async.py
Labels: Communication - Common, Communication - SMS

#30759 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#31105 callautomation next-pylint
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_utils.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
Labels: Communication, Communication - Common

#31144 [Monitor][Exporter] Next pylint updates
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_connection_string_parser.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_storage.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/_base.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/logs/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/metrics/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_sampling.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_state.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_statsbeat_metrics.py
Labels: Monitor - Exporter

#31154 [Storage] [Next-PyLint] All matching `_shared`
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/authentication.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/parser.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/request_handlers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/response_handlers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/authentication.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/parser.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/policies.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/policies_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/request_handlers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/response_handlers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/authentication.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/parser.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/request_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/response_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads_async.py
Labels: Storage

#31170 Updated exporter to OTel 1.19
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/setup.py
Labels: Monitor - Exporter

#31120 Remove six
  sdk/agrifood/azure-agrifood-farming/setup.py
  sdk/attestation/azure-security-attestation/azure/security/attestation/_generated/models/_azure_attestation_rest_client_enums.py
  sdk/attestation/azure-security-attestation/azure/security/attestation/_models.py
  sdk/attestation/azure-security-attestation/setup.py
  sdk/maps/azure-maps-route/azure/maps/route/models/_models.py
  sdk/media/azure-media-analytics-edge/azure/media/analyticsedge/_generated/models/_direct_methodsfor_live_video_analyticson_io_tedge_enums.py
  sdk/modelsrepository/azure-iot-modelsrepository/azure/iot/modelsrepository/_client.py
  sdk/modelsrepository/azure-iot-modelsrepository/azure/iot/modelsrepository/_pseudo_parser.py
  sdk/modelsrepository/azure-iot-modelsrepository/azure/iot/modelsrepository/_resolver.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_generated/models/_azure_monitor_client_enums.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/schema.py
  sdk/synapse/azure-synapse-spark/azure/synapse/spark/models/_spark_client_enums.py
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/azure/media/videoanalyzeredge/_generated/models/_azure_video_analyzerfor_edge_enums.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_operations/_patch.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_patch.py
Labels: Storage, Synapse, Attestation, Monitor - Exporter, VideoAnalyzer, WebPubSub, AgriFood, Maps, Media, Models repository

#30930 [ServiceBus&EventHubs] update china region
  sdk/eventhub/tests.yml
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/utilities.py
  sdk/servicebus/tests.yml
Labels: Service Bus, Event Hubs

#31172 Release azure-monitor-opentelemetry-exporter 1.0.0b15
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor - Exporter

#31010 [Az Core Experimental] Pylint Next Updates
  sdk/core/azure-core-experimental/azure/core/experimental/transport/__init__.py
  sdk/core/azure-core-experimental/azure/core/experimental/transport/_httpx.py
  sdk/core/azure-core-experimental/azure/core/experimental/transport/_httpx_async.py
  sdk/core/azure-core-experimental/azure/core/experimental/transport/_pyodide.py
Labels: Azure.Core

#31175 [ML] Update CHANGELOG.md
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#31174 [JobRouter] Fix TTL
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_router_administration_client.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_router_administration_client_async.py
Labels: Communication - Job Router

#31162 [ML] fix(next-pylint): Resolve `no-name-in-module`, `non-abstract-transport-import`, `client-method-missing-tracing-decorator` and `networking-import-outside-azure-core-transport`
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/compute/compute_instance.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_artifact_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_http_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/identity/_internal/pipeline.py
Labels: Machine Learning

#31150 [ML] fix(next-pylint): Resolve `consider-using-with` for _Local_job_invoker
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_local_job_invoker.py
Labels: Machine Learning

#31186 [SB & EH] Update Perf Versions
  sdk/eventhub/perf-tests.yml
  sdk/servicebus/perf-tests.yml
Labels: Service Bus, Event Hubs

#31167 updated to support callbackURI override
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_serialization.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_vendor.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
Labels: Communication

#31183 Sync eng/common directory with azure-sdk-tools for PR 6530
  eng/common/pipelines/templates/steps/docsms-ensure-validation.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#31043 Post GA feedback fixes
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_version.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/dev_requirements.txt
  sdk/communication/azure-communication-callautomation/tests/call_automation_automated_live_test_base.py
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client_e2e.py
Labels: Communication

#31168 [next-pylint] Bump Version
  eng/tox/tox.ini
  pylintrc
  sdk/core/azure-core-experimental/azure/core/experimental/transport/_pyodide.py
  sdk/cosmos/azure-cosmos/pyproject.toml
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/pyproject.toml
  sdk/eventhub/azure-eventhub-checkpointstoreblob/pyproject.toml
  sdk/eventhub/azure-eventhub-checkpointstoretable/pyproject.toml
  sdk/eventhub/azure-eventhub/pyproject.toml
  sdk/ml/azure-ai-ml/pyproject.toml
Labels: Azure.Core

#31199 fix broken links in dt
  sdk/translation/azure-ai-translation-document/README.md
  sdk/translation/azure-ai-translation-document/samples/README.md
Labels: Cognitive - Translator

#31173 Fix for new data collector entity
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/tests/monitoring/e2etests/test_monitor_schedule.py
Labels: Machine Learning

#31195 [Identity] Update README authority information
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#31203 Sync eng/common directory with azure-sdk-tools for PR 6538
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#31207 media-analytics-edge - don't publish alpha for disabled/inactive package
  sdk/media/ci.yml
Labels: Media

#31206 bump version to vnext for servicefabric to fix ci
  sdk/servicefabric/azure-servicefabric/CHANGELOG.md
  sdk/servicefabric/azure-servicefabric/azure/servicefabric/version.py
Labels: Service Fabric

#31208 [ACS JobRouter] Address review comments
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/__init__.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_enums.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_models.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_router_client.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_router_client_async.py
  sdk/communication/azure-communication-jobrouter/tests/test_router_job.py
  sdk/communication/azure-communication-jobrouter/tests/test_router_job_async.py
Labels: Communication - Job Router

#31209 [Storage] Encryption metadata key case insensitive
  sdk/storage/azure-storage-blob/azure/storage/blob/_encryption.py
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_encryption_v2.pyTestStorageBlobEncryptionV2test_case_insensitive_metadata_key.json
  sdk/storage/azure-storage-blob/tests/recordings/test_blob_encryption_v2_async.pyTestStorageBlobEncryptionV2Asynctest_case_insensitive_metadata_key.json
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_v2.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_v2_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_encryption.py
Labels: Storage

#31201 Print skipped test reasoning by default with tox
  eng/tox/tox.ini
Labels: EngSys

#31108 [Key Vault] Describe default service behavior for `include_pending`
  sdk/keyvault/azure-keyvault-certificates/assets.json
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/conftest.py
Labels: KeyVault, Client

#31211 Sync eng/common directory with azure-sdk-tools for PR 6544
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#31231 [ServiceBus] temporarily disable pylint
  sdk/servicebus/azure-servicebus/pyproject.toml
Labels: Service Bus

#30714 [ML] fix(next-pylint): Resolve `unspecified-encoding`
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_schema/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/environment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/dockerfile_resolver.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/endpoint_stub.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/mdc_config_resolver.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/validators/environment_validator.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/vscode_debug/devcontainer_resolver.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/fields.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_artifact_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_cache_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_data_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_endpoint_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_feature_store_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/subcomponents.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/virtual_machine_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_pipeline_expression.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_local_deployment_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_local_job_invoker.py
Labels: Machine Learning, ML-Local Endpoints

#31179 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#31202 Purview Sharing - Brief update to examples and changelog
  sdk/purview/azure-purview-sharing/CHANGELOG.md
  sdk/purview/azure-purview-sharing/README.md
  sdk/purview/azure-purview-sharing/samples/received_shares_examples.py
  sdk/purview/azure-purview-sharing/samples/sent_shares_examples.py
  sdk/purview/azure-purview-sharing/samples/share_resources_examples.py
Labels: Purview

#30789 [Test Proxy] Create HTTP clients at runtime to support dynamic certificate setup
  tools/azure-sdk-tools/devtools_testutils/helpers.py
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
  tools/azure-sdk-tools/devtools_testutils/proxy_testcase.py
  tools/azure-sdk-tools/devtools_testutils/sanitizers.py
Labels: EngSys, test-proxy

#31216 [ACS][CallAutomation] Adding ability to redirect request
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_credential/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_credential/call_automation_auth_policy_utils.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_credential/call_automation_policy.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_credential/credential_utils.py
Labels: Communication

#31247 [ACS JobRouter] JR Public preview address review comments 2
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/__init__.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_generated/_patch.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_models.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_router_serializer.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/tests/recordings/test_router_job.pyTestRouterJobtest_update_job_direct_q.json
  sdk/communication/azure-communication-jobrouter/tests/recordings/test_router_job.pyTestRouterJobtest_update_job_w_cp.json
  sdk/communication/azure-communication-jobrouter/tests/recordings/test_router_job_async.pyTestRouterJobAsynctest_update_job_direct_q.json
  sdk/communication/azure-communication-jobrouter/tests/recordings/test_router_job_async.pyTestRouterJobAsynctest_update_job_w_cp.json
  sdk/communication/azure-communication-jobrouter/tests/test_model_serde.py
  sdk/communication/azure-communication-jobrouter/tests/test_router_job.py
  sdk/communication/azure-communication-jobrouter/tests/test_router_job_async.py
Labels: Communication - Job Router

#31244 [ML] Require `marshmallow` version lower than 3.20.0
  sdk/ml/azure-ai-ml/dev_requirements.txt
Labels: Machine Learning, Client

#31217 add support for transfer in group call
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/test_call_connection_client.py
Labels: Communication

#31256 [ACS][CallAutomation] Bug-fix repeatability headers to be in correct format
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_utils.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
Labels: Communication

#30928 Import statement is missing
  sdk/digitaltwins/azure-digitaltwins-core/README.md
Labels: Digital Twins

#31260 [AppConfig] Resolve name conflict
  sdk/appconfiguration/azure-appconfiguration/README.md
  sdk/appconfiguration/azure-appconfiguration/samples/snapshot_samples.py
  sdk/appconfiguration/azure-appconfiguration/samples/snapshot_samples_async.py
Labels: App Configuration

#31261 [ACS JobRouter] Pub preview address review comments 3
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/__init__.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_models.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_router_client.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_router_client_async.py
Labels: Communication - Job Router

#31237 Update Python API review parser version to 0.3.8
  eng/apiview_reqs.txt
Labels: Central-EngSys

#31070 Remove unnecessary and type unsafe usage of error_map
  sdk/appconfiguration/azure-appconfiguration/assets.json
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_aad.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_aad_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_async.py
Labels: App Configuration

#31220 [Azure Communication Services][CallAutomation]Create Customcontext class
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
Labels: Communication

#31254 Identity browser
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_internal/__init__.py
  sdk/identity/azure-identity/azure/identity/_internal/auth_code_redirect_handler.py
  sdk/identity/azure-identity/tests/test_browser_credential.py
Labels: Azure.Identity

#31268 [ACS JobRouter] Pub preview address review comments 4
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_router_client.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_router_client_async.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops_async.py
Labels: Communication - Job Router

#31257 Sync eng/common directory with azure-sdk-tools for PR 6557
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#31271 Sync eng/common directory with azure-sdk-tools for PR 6543
  eng/common/TestResources/README.md
  eng/common/scripts/X509Certificate2/README.md
  eng/common/scripts/X509Certificate2/X509Certificate2.psm1
Labels: EngSys, Central-EngSys

#31273 Revert "[Azure Communication Services][CallAutomation]Create Customcontext class"
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
Labels: Communication

#31026 [CallAutomation] Some API updates
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_shared/models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_shared/user_credential.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_shared/user_credential_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_utils.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/setup.py
  sdk/communication/azure-communication-callautomation/tests/test_call_connection_client.py
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client_e2e.py
  sdk/communication/azure-communication-callautomation/tests/test_call_recording_client.py
  sdk/communication/azure-communication-callautomation/tests/test_callautomation_client.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/models.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/user_credential.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/user_credential_async.py
  sdk/communication/azure-communication-email/azure/communication/email/_shared/models.py
  sdk/communication/azure-communication-email/azure/communication/email/_shared/user_credential.py
  sdk/communication/azure-communication-email/azure/communication/email/_shared/user_credential_async.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/models.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/user_credential.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/user_credential_async.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/models.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/user_credential.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/user_credential_async.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/models.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/user_credential.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/user_credential_async.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/models.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/user_credential.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/user_credential_async.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_shared/models.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_shared/user_credential.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_shared/user_credential_async.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/models.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/user_credential.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/user_credential_async.py
Labels: Communication

#31267 Identity new msal
  eng/tox/install_depend_packages.py
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
Labels: Azure.Identity

#31279 not raise if skillset is not supported
  sdk/search/azure-search-documents/tests/search_service_preparer.py
Labels: Search

#31284 [purview] fix broken links
  sdk/purview/azure-purview-sharing/README.md
Labels: Purview

#31283 Update docs to include flush/shutdown behavior, add fastapi example
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/logs/sample_log.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/metrics/sample_instruments.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_fastapi.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_trace.py
Labels: Monitor - Exporter

#31299 [Cosmos] Update CHANGELOG.md for release
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#31300 [Cosmos] beta version release since we need api review
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#31085 [SchemaRegistry] regenerate + update typing
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_abstract_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_apache_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_schema_registry_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_utils.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/aio/_schema_registry_avro_encoder_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/pyproject.toml
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/encode_and_decode_event_data_message_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/encode_and_decode_with_message_content_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/eventhub_receive_integration_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/eventhub_send_integration_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/encode_and_decode_event_data_message.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/encode_and_decode_with_message_content.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/eventhub_receive_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/eventhub_send_integration.py
  sdk/schemaregistry/azure-schemaregistry/azure/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_constants.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_response_handlers.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_common/_schema.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_configuration.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_serialization.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_vendor.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/_version.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/_configuration.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/operations/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/aio/operations/_operations.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/operations/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/operations/_operations.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema/_request_builders.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema_groups/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_generated/rest/schema_groups/_request_builders.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_schema_registry_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_utils.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_schema_registry_client_async.py
  sdk/schemaregistry/azure-schemaregistry/pyproject.toml
  sdk/schemaregistry/azure-schemaregistry/swagger/README.md
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
Labels: Schema Registry

#31302 [Cosmos] Update setup.py
  sdk/cosmos/azure-cosmos/setup.py
Labels: Cosmos

#31296 make is_chained internal only
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/silent.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
Labels: Azure.Identity

#31303 Update API review parser to 0.3.8 in azure-ai-ml branch
  eng/apiview_reqs.txt
Labels: Central-EngSys

#31311 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#31331 [AppConfig] Update CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
Labels: App Configuration

#31310 [WorkspaceHub] Update enable isolation flag and purge flag support for workspaceHub
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_workspace_hub/workspace_hub.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_workspace_hub/workspace_hub_config.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace_hub/workspace_hub.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace_hub/workspace_hub_config.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_hub_operation.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/test_configs/workspace/workspacehub_min.yaml
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_hub_operations.py
Labels: Machine Learning

#31328 Identity not use is chained
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/silent.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_internal/__init__.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/_internal/utils.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
Labels: Azure.Identity

#31332 Translate output dataset to output data
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_endpoint_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_endpoint_operations.py
Labels: Machine Learning

#31327 [formrecognizer] Add discriminator for source kinds
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_document_model_administration_client.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/aio/_document_model_administration_client_async.py
Labels: Cognitive - Form Recognizer

#31309 [ACS JobRouter ] Execute pre release script
  sdk/communication/azure-communication-jobrouter/CHANGELOG.md
Labels: Communication - Job Router

#31348 [Cosmos] Build pipeline fix
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_http_logging_policy.py
Labels: Cosmos

#31349 upgrade sku for gpu-cluster
  sdk/ml/test-resources.json
Labels: Machine Learning, customer-reported, Community Contribution

#31353 Increment version for communication releases
  sdk/communication/azure-communication-jobrouter/CHANGELOG.md
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_version.py
Labels: Communication - Job Router

#30777 [Identity] Enable CAE toggle per token request
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/silent.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/get_token_mixin.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/_persistent_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/aad_client.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/get_token_mixin.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_live.py
  sdk/identity/azure-identity/tests/test_live_async.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential_async.py
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity

#31146 update pipeline/component reference doc
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_component_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_condition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_do_while.py
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_dynamic.py
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_fl_scatter_gather_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_parallel_for.py
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_pipeline_decorator.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/base_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/condition_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/control_flow_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/data_transfer_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/do_while.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/fl_scatter_gather.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/import_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/import_node.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel_for.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/pipeline.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/subcomponents.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/sweep.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/automl_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/code.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/command_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component_factory.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/datatransfer_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/import_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/parallel_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/pipeline_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/enum_input.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/external_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/group_input.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/input.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/output.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_load_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/pipeline_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/pipeline_job_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_component_configurations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_input_output_configurations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_pipeline_job_configurations.py
Labels: Machine Learning, ML-Pipelines

#30743 [synapse-artifacts] release for `composite-v7`
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-synapse-artifacts/MANIFEST.in
  sdk/synapse/azure-synapse-artifacts/README.md
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_artifacts_client.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_version.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/_artifacts_client.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/__init__.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_data_flow_debug_session_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_library_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_link_connection_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_run_notebook_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_spark_configuration_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_spark_job_definition_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/__init__.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_artifacts_client_enums.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_models_py3.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/__init__.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_data_flow_debug_session_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_data_flow_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_library_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_link_connection_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_linked_service_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_notebook_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_pipeline_run_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_run_notebook_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_spark_configuration_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_spark_job_definition_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_sql_script_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_trigger_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_trigger_run_operations.py
  sdk/synapse/azure-synapse-artifacts/setup.py
Labels: Synapse

#31373 [CLU] fix readme snippets
  sdk/cognitivelanguage/azure-ai-language-conversations/README.md
Labels: Cognitive - Language

#31371 Increment version for synapse releases
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_version.py
Labels: Synapse
