Repository Azure/azure-sdk-for-python, pull requests merged in 2023-12, with the labels that each got.

#33350 azure-monitor-opentelemetry release 1.1.1
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
Labels: Monitor - Distro

#33373 Remove VM detector while bug is investigated
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/README.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/tests/configuration/test_configure.py
Labels: Monitor - Distro

#33147 add logics to parse Simulator callback citations.
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/simulator/simulator.py
  sdk/ai/azure-ai-generative/tests/simulator/unittests/test_simulator.py
Labels: AI

#33184 [EventHub] Remove python 2 typehints
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_configuration.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_connection_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_connection_string_parser.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/_eventprocessor_mixin.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/ownership_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_mixin.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_pyamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_uamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/_ownership_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_pyamqp_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_uamqp_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/amqp/_amqp_message.py
Labels: Event Hubs

#33380 [ACS][Chat] Update Changelog for release
  sdk/communication/azure-communication-chat/CHANGELOG.md
Labels: Communication - Chat

#33145 Fix pylint next
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_internal/get_token_mixin.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/get_token_mixin.py
  sdk/identity/azure-identity/tests/test_get_token_mixin.py
  sdk/identity/azure-identity/tests/test_get_token_mixin_async.py
  sdk/identity/azure-identity/tests/test_vscode_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential_async.py
Labels: Azure.Identity

#33167 [Storage] [Typing] Decouple `blob_client.py` and async
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_encryption.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_async.py
Labels: Storage

#33375 [Storage] Add `exists` method to `ShareFileClient`
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
Labels: Storage

#33343 [Storage] [Typing] Decouple `blob_service_client`.py and async
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
Labels: Storage

#33385 [Storage] Fix up `QueueProperties` docstring
  sdk/storage/azure-storage-queue/azure/storage/queue/_models.py
Labels: Storage

#33390 Release 1.1.1: Default resource detector env var
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/README.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/tests/configuration/test_configure.py
Labels: Monitor - Distro

#33304 [Storage] [Typing] Decouple `container_client.py` and async
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
Labels: Storage

#33392 [EventHubs] bump core in perf
  sdk/eventhub/perf-tests.yml
Labels: Event Hubs

#33391 Increment version for communication releases
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/azure/communication/chat/_version.py
Labels: Communication - Chat

#33371 Azure AI Search rebranding and messaging
  sdk/search/azure-search-documents/README.md
Labels: Search, customer-reported, Community Contribution

#33367 Increment version for ai releases
  sdk/ai/azure-ai-generative/CHANGELOG.md
  sdk/ai/azure-ai-generative/azure/ai/generative/_version.py
  sdk/ai/azure-ai-resources/CHANGELOG.md
  sdk/ai/azure-ai-resources/azure/ai/resources/_version.py
Labels: AI

#33286 Increment version for communication releases
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_version.py
Labels: Communication

#33212 Increment version for ml releases
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#33108 [Storage] [Typing Release] Queue typing release
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#33337 [DI] Update CHANGELOG.md to include updates in the new API
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/MIGRATION_GUIDE.md
Labels: Document Intelligence

#33351 [DI] Add SDK versions and API versions relationship in README.md
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/MIGRATION_GUIDE.md
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_addon_barcodes_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_addon_fonts_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_addon_formulas_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_addon_highres_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_addon_languages_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_addon_query_fields_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_custom_documents_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_documents_output_in_markdown_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_general_documents_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_identity_documents_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_invoices_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_layout_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_read_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_receipts_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_receipts_from_url_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_tax_us_w2_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_classify_document_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_compose_model_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_copy_model_to_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_manage_classifiers_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_manage_models_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_addon_barcodes.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_addon_fonts.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_addon_formulas.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_addon_highres.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_addon_languages.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_addon_query_fields.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_custom_documents.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_documents_output_in_markdown.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_general_documents.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_identity_documents.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_invoices.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_layout.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_read.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_receipts.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_receipts_from_url.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_tax_us_w2.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_classify_document.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_compose_model.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_copy_model_to.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_manage_classifiers.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_manage_models.py
Labels: Document Intelligence

#33369 Support OpenAI 1.0+ in Data Generator
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/qa.py
Labels: customer-reported, Community Contribution, AI

#33409 [Storage] Increment after queue typing overhaul release
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#33398 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#33399 Model package validate config
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/_package/model_configuration.py
  sdk/ml/azure-ai-ml/tests/model_package/e2etests/test_model_package_operation.py
Labels: Machine Learning

#33421 Sync eng/common directory with azure-sdk-tools for PR 7385
  eng/common/testproxy/onboarding/common-asset-functions.ps1
  eng/common/testproxy/onboarding/generate-assets-json.ps1
  eng/common/testproxy/scripts/override-proxy-version.ps1
  eng/common/testproxy/scripts/tag-merge/README.md
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#33190 update readme for IBC limitation
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#33401 Refactor AI strings to use generated constants
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/logs/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/logs/test_logs.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/metrics/test_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/trace/test_trace.py
Labels: Monitor - Exporter

#33419 [AI] Convert Deployment Create/Update to an LRO
  sdk/ai/azure-ai-resources/azure/ai/resources/_utils/_deployment_utils.py
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/models.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_deployment_operations.py
  sdk/ai/azure-ai-resources/setup.py
Labels: AI

#33432 Store global instance of statsbeatmetric
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_statsbeat.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_statsbeat_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_statsbeat.py
Labels: Monitor - Exporter

#33436 [Key Vault] Opt in to `verifytypes` check
  sdk/keyvault/azure-keyvault-administration/pyproject.toml
  sdk/keyvault/azure-keyvault-certificates/pyproject.toml
  sdk/keyvault/azure-keyvault-keys/pyproject.toml
  sdk/keyvault/azure-keyvault-secrets/pyproject.toml
Labels: KeyVault, Client

#33427 [Azure Content Safety] Update readme and changelog.
  sdk/contentsafety/azure-ai-contentsafety/CHANGELOG.md
  sdk/contentsafety/azure-ai-contentsafety/README.md
  sdk/contentsafety/azure-ai-contentsafety/assets.json
  sdk/contentsafety/azure-ai-contentsafety/samples/sample_data/image.jpg
  sdk/contentsafety/azure-ai-contentsafety/tests/test_content_safety.py
Labels: Content Safety

#33438 Don't add retrievable if it is None
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/assets.json
  sdk/search/azure-search-documents/azure/search/documents/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_serialization.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_search_index_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_index_documents_batch.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_search_indexing_buffered_sender.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_index_documents_batch_async.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_indexing_buffered_sender_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_serialization.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_search_service_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_index.py
  sdk/search/azure-search-documents/tests/test_index_field_helpers.py
Labels: Search

#33462 Momo lookback windown/offset
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/tests/monitoring/unittests/test_monitor_schedule.py
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/custom.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/data_drift.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/data_quality.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/feature_attribution_drift.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/generation_safety.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/prediction_drift.yaml
Labels: Machine Learning

#32958 Refactor feature store arm template and unify uai ids and role assignment names
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/feature_store_role_assignments.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/feature_store_role_assignments_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_arm_id_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/feature_store/e2etests/test_feature_store.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#33461 Connections 1.13 no api
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/tests/test_configs/workspace_connection/custom.yaml
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace_connections.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_connection_entity.py
Labels: Machine Learning, ML-WorkspaceConnections

#33465 Refactor feature store arm template and unify uai ids and role assign…
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/feature_store_role_assignments.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/feature_store_role_assignments_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_arm_id_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/feature_store/e2etests/test_feature_store.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#33483 Update tests.yml
  sdk/translation/tests.yml
Labels: Cognitive - Translator

#33485 Fix broken link in azure-identity troubleshooting
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Labels: customer-reported, Azure.Identity, Community Contribution

#33388 [Batch] Migrate to new test class inheritance and structure
  sdk/batch/azure-batch/tests/batch_preparers.py
  sdk/batch/azure-batch/tests/test_batch.py
  tools/azure-sdk-tools/devtools_testutils/resource_testcase.py
  tools/azure-sdk-tools/devtools_testutils/storage_testcase.py
Labels: Batch, Client, test-enhancement

#33400 Remove deprecated test classes
  sdk/appconfiguration/azure-mgmt-appconfiguration/tests/_aio_testcase.py
  sdk/compute/azure-mgmt-compute/tests/_aio_testcase.py
  sdk/cosmos/azure-mgmt-documentdb/tests/disable_test_mgmt_documentdb.py
  sdk/devcenter/azure-developer-devcenter/tests/testcase_async.py
  sdk/easm/azure-defender-easm/tests/testcase.py
  sdk/eventhub/azure-mgmt-eventhub/tests/_aio_testcase.py
  sdk/graphrbac/azure-graphrbac/tests/disable_test_graphrbac.py
  sdk/hanaonazure/azure-mgmt-hanaonazure/tests/test_azure_mgmt_hanaonazure.py
  sdk/managementpartner/azure-mgmt-managementpartner/tests/test_mgmt_managementpartner.py
  sdk/maps/azure-maps-search/tests/test_client_unit.py
  sdk/media/azure-mgmt-media/tests/test_mgmt_media.py
  sdk/monitor/azure-mgmt-monitor/tests/_aio_testcase.py
  sdk/reservations/azure-mgmt-reservations/tests/test_mgmt_reservations.py
  sdk/resources/azure-mgmt-resource/tests/_aio_testcase.py
  sdk/resources/azure-mgmt-resource/tests/test_mgmt_resource_managed_application.py
  sdk/resources/azure-mgmt-resourcegraph/tests/test_mgmt_resourcegraph.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/test_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/test_avro_serializer.py
  sdk/schemaregistry/azure-schemaregistry-avroserializer/tests/test_avro_serializer_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/storage/azure-mgmt-storage/tests/_aio_testcase.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/testcase.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/testcase_async.py
  tools/azure-sdk-tools/README.md
  tools/azure-sdk-tools/devtools_testutils/__init__.py
  tools/azure-sdk-tools/devtools_testutils/azure_testcase.py
  tools/azure-sdk-tools/devtools_testutils/cognitiveservices_testcase.py
  tools/azure-sdk-tools/devtools_testutils/mgmt_testcase.py
Labels: EngSys, test-enhancement

#33490 regen language for next-pylint
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/setup.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_configuration.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/models/_models.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/setup.py
Labels: Cognitive - Language

#33183 add AOAI tests for tools, dall-e-3, content filtering, and others
  sdk/openai/azure-openai/dev_requirements.txt
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/v0_tests/test_dall_e_v0.py
  sdk/openai/azure-openai/tests/v0_tests/test_dall_e_v0_async.py
  sdk/openai/azure-openai/tests/v1_tests/test_chat_completions.py
  sdk/openai/azure-openai/tests/v1_tests/test_chat_completions_async.py
  sdk/openai/azure-openai/tests/v1_tests/test_cli.py
  sdk/openai/azure-openai/tests/v1_tests/test_dall_e.py
  sdk/openai/azure-openai/tests/v1_tests/test_dall_e_async.py
  sdk/openai/azure-openai/tests/v1_tests/test_module_client.py
  sdk/openai/tests.yml
Labels: Open AI

#33478 [Storage] Bump typing-extensions dependency for all packages
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#33489 Shutdown statsbeat on customer getting 400 error code
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/_base.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_base_exporter.py
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
Labels: Monitor - Exporter, Monitor - Distro

#33492 Remove internal `azure-devtools` references
  .vscode/cspell.json
  sdk/conftest.py
  tools/azure-sdk-tools/ci_tools/git_tools.py
  tools/azure-sdk-tools/ci_tools/github_tools.py
  tools/azure-sdk-tools/devtools_testutils/aio/proxy_testcase_async.py
  tools/azure-sdk-tools/devtools_testutils/azure_recorded_testcase.py
  tools/azure-sdk-tools/devtools_testutils/azure_testcase.py
  tools/azure-sdk-tools/devtools_testutils/config.py
  tools/azure-sdk-tools/devtools_testutils/envvariable_loader.py
  tools/azure-sdk-tools/devtools_testutils/helpers.py
  tools/azure-sdk-tools/devtools_testutils/mgmt_testcase.py
  tools/azure-sdk-tools/devtools_testutils/preparers.py
  tools/azure-sdk-tools/devtools_testutils/proxy_testcase.py
  tools/azure-sdk-tools/devtools_testutils/resource_testcase.py
  tools/azure-sdk-tools/devtools_testutils/storage/aio/asynctestcase.py
  tools/azure-sdk-tools/devtools_testutils/storage/processors.py
  tools/azure-sdk-tools/devtools_testutils/storage_testcase.py
  tools/azure-sdk-tools/packaging_tools/drop_tools.py
  tools/azure-sdk-tools/packaging_tools/generate_utils.py
  tools/azure-sdk-tools/packaging_tools/sdk_package.py
  tools/azure-sdk-tools/packaging_tools/swaggertosdk/SwaggerToSdkCore.py
  tools/azure-sdk-tools/packaging_tools/swaggertosdk/SwaggerToSdkNewCLI.py
  tools/azure-sdk-tools/packaging_tools/update_pr.py
Labels: EngSys

#33486 December Connections changes to AI SDK
  sdk/ai/azure-ai-resources/assets.json
  sdk/ai/azure-ai-resources/azure/ai/resources/client/_ai_client.py
  sdk/ai/azure-ai-resources/azure/ai/resources/constants/__init__.py
  sdk/ai/azure-ai-resources/azure/ai/resources/constants/_common.py
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/__init__.py
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/ai_resource.py
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/base_connection.py
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/connection_subtypes.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_connection_operations.py
  sdk/ai/azure-ai-resources/tests/ai_resources/e2etests/test_resource_operations.py
  sdk/ai/azure-ai-resources/tests/connections/e2etests/test_connection_operations.py
Labels: AI

#33500 [ParallelRunStep] Enable mini_batch_size and retry_settings bind to pipeline input.
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/retry_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parallel/retry_settings.py
Labels: Machine Learning, ML-Assets

#32923 [ml] Add operation id tracking to client-side logging
  sdk/ai/azure-ai-generative/azure/ai/generative/_telemetry/logging_handler.py
  sdk/ai/azure-ai-generative/setup.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_telemetry/logging_handler.py
  sdk/ai/azure-ai-resources/setup.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/logging_handler.py
  sdk/ml/azure-ai-ml/setup.py
Labels: Machine Learning

#33445 App Config Provider - Minimum Up Time
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider.py
Labels: App Configuration Provider

#33511 fix v0 tests
  sdk/openai/azure-openai/tests/v0_tests/test_dall_e_v0.py
  sdk/openai/azure-openai/tests/v0_tests/test_dall_e_v0_async.py
Labels: Open AI

#33514 fix v1 tests
  sdk/openai/azure-openai/tests/v1_tests/test_chat_completions.py
  sdk/openai/azure-openai/tests/v1_tests/test_chat_completions_async.py
Labels: Open AI

#33505 [Storage] Fix error handling for AAD error responses
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/response_handlers.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/response_handlers.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/response_handlers.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/response_handlers.py
Labels: Storage

#33463 [DI] Patch default polling interval
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/assets.json
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_operations/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_operations/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_documents_output_in_markdown_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_documents_output_in_markdown.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout_async.py
Labels: Client, Document Intelligence

#33433 App Config Provider - Update Locking Logic
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
Labels: App Configuration Provider

#33501 [ACS email] Fix attachment sample
  sdk/communication/azure-communication-email/README.md
Labels: Communication - Email

#33493 [Monitor] Regen ingestion + query for next pylint
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_client.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_configuration.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_operations/_operations.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_serialization.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_client.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_configuration.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_operations/_operations.py
  sdk/monitor/azure-monitor-ingestion/setup.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/_serialization.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/aio/operations/_operations.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/_serialization.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/aio/operations/_operations.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/batch/_serialization.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/batch/aio/operations/_operations.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/batch/operations/_operations.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/operations/_operations.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/operations/_operations.py
Labels: Monitor

#33338 [EH] improve typing
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_blobstoragecsaio.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_blobstoragecs.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_connection_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_connection_string_parser.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_mixin.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_decode.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_encode.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_message_backcompat.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/error.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/message.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/performatives.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_pyamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_uamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_connection_manager_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_pyamqp_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_uamqp_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/exceptions.py
  sdk/eventhub/azure-eventhub/mypy.ini
Labels: Event Hubs

#33283 [ServiceBus] adding typing/type completeness
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/assets.json
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/_configuration.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/_connection_string_parser.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_decode.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_encode.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_message_backcompat.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/error.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/performatives.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/amqp/_amqp_message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/exceptions.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_generated/_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_generated/_configuration.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_generated/_serialization.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_generated/_vendor.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_generated/aio/_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_generated/aio/_configuration.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_generated/aio/_vendor.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_generated/aio/operations/_operations.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_generated/models/__init__.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_generated/models/_models.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_generated/models/_patch.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_generated/operations/_operations.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_models.py
  sdk/servicebus/azure-servicebus/setup.py
  sdk/servicebus/azure-servicebus/swagger/README.md
Labels: Service Bus

#33612 [EH] Remove Py2 style code
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_configuration.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_connection_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/_eventprocessor_mixin.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/in_memory_checkpoint_store.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/ownership_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_connection_manager_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/_ownership_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/partition_context.py
  sdk/eventhub/azure-eventhub/azure/eventhub/amqp/_amqp_message.py
  sdk/eventhub/azure-eventhub/samples/async_samples/authenticate_with_sas_token_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/authenticate_with_sas_token.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_producer_stress.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_eventprocessor_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_eventprocessor.py
Labels: Event Hubs

#33428 [Storage] [Typing] All Blob Client helper `.py` files
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
Labels: Storage

#33616 Fixing Minimum Uptime
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider.py
Labels: App Configuration Provider

#33622 [ServiceBus] Update README.md to remove uamqp logging
  sdk/servicebus/azure-servicebus/README.md
Labels: Service Bus

#33605 Compute instance new params
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/compute/compute_instance.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/compute_instance.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_compute_operations.py
  sdk/ml/azure-ai-ml/tests/compute/unittests/test_compute_entity.py
  sdk/ml/azure-ai-ml/tests/test_configs/compute/compute-ci-defaults-unit.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/compute/compute-ci-unit.yaml
Labels: Machine Learning

#33625 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
Labels: App Configuration Provider

#33448 [Key Vault] Resolve `next-pylint` and `next-mypy` errors
  sdk/keyvault/azure-keyvault-administration/README.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/async_client_base.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/client_base.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_models.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_settings_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_settings_client.py
  sdk/keyvault/azure-keyvault-administration/samples/backup_restore_operations.py
  sdk/keyvault/azure-keyvault-administration/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_models.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/_client.py
Labels: KeyVault, Client, pylint, mypy

#33632 Fix: Typo on DnsResolverManagementClient. Closes #33631
  sdk/dnsresolver/azure-mgmt-dnsresolver/README.md
Labels: customer-reported, Community Contribution

#33440 Adding Openai v1.0.0+ support into data index
  .vscode/cspell.json
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_embeddings/__init__.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_embeddings/openai.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_langchain/openai.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_mlindex.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_models.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_tasks/generate_qa.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_utils/deployment.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_index/_dataindex/entities/_assets/_artifacts/data.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_index/_dataindex/entities/_builders/data_index_func.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_index/_embeddings/__init__.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_index/_embeddings/openai.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_index/_langchain/acs.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_index/_langchain/faiss.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_index/_langchain/openai.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_index/_models.py
Labels: AI

#33636 set_current_environment to support openai > 1.0
  sdk/ai/azure-ai-resources/CHANGELOG.md
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/connection_subtypes.py
  sdk/ai/azure-ai-resources/setup.py
  sdk/ai/azure-ai-resources/tests/connections/unittests/test_connection.py
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_resource.py
Labels: AI

#33647 remove evaluate_on_cloud.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/evaluate_on_cloud.py
Labels: customer-reported, Community Contribution, AI
