Repository Azure/azure-sdk-for-python, pull requests merged in 2023-01, with the labels that each got.

#28122 [ACR] Fix pylint issues
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_anonymous_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_anonymous_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_exchange_client.py
Labels: Container Registry, Client, MQ

#28121 [Tables] Fix pylint issues
  sdk/tables/azure-data-tables/azure/data/tables/_entity.py
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/azure/data/tables/_models.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_base_client_async.py
Labels: Client, Tables, MQ

#28073 Added type hints for using credentials
  sdk/communication/azure-communication-identity/azure/communication/identity/_communication_identity_client.py
  sdk/communication/azure-communication-identity/azure/communication/identity/aio/_communication_identity_client_async.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_communication_relay_client.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/aio/_communication_relay_client_async.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/aio/_phone_numbers_client_async.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_sms_client.py
  sdk/communication/azure-communication-sms/azure/communication/sms/aio/_sms_client_async.py
Labels: Communication, Communication - Identity

#28133 Fix template readme
  tools/azure-sdk-tools/packaging_tools/templates/packaging_files/README.md
Labels: Recovery Services

#28135 [ML][Pipelines] BugFix: exclude control flow node during validating isolated job
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/pipeline_job.py
Labels: Machine Learning, ML-Pipelines

#28136 Update release date
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/policies/_universal.py
Labels: Azure.Core

#28112 [AppConfig] Update method type hints to Python3 syntax
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_sync_token.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_utils.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_configuration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_sync_token_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/asynctestcase.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_async.py
Labels: Client, MQ, App Configuration

#28082 [Tables] Added encoder test suite
  sdk/tables/azure-data-tables/tests/test_encoder.py
Labels: Tables

#28146 [Storage] Fix changefeed pipeline failure test
  sdk/storage/azure-storage-blob-changefeed/tests/recordings/test_change_feed.pyTestStorageChangeFeedtest_change_feed_does_not_fail_on_empty_event_stream.json
  sdk/storage/azure-storage-blob-changefeed/tests/test_change_feed.py
  sdk/storage/azure-storage-queue/dev_requirements.txt
Labels: Storage

#28150 Sync eng/common directory with azure-sdk-tools for PR 5005
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#28129 [Tables]Fix pylint api-version error
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_base_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
Labels: Client, Tables

#27895 [Storage] Use `tempfile` for `blob` package
  sdk/storage/azure-storage-blob/tests/recordings/test_append_blob.pyTestStorageAppendBlobtest_append_blob_from_stream_with_multiple_appends.json
  sdk/storage/azure-storage-blob/tests/recordings/test_append_blob_async.pyTestStorageAppendBlobAsynctest_append_blob_from_stream_with_multiple_appends.json
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.pyTestStorageCommonBlobtest_download_to_file_with_existing_file.json
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob_async.pyTestStorageCommonBlobAsynctest_download_to_file_with_existing_file.json
  sdk/storage/azure-storage-blob/tests/test_append_blob.py
  sdk/storage/azure-storage-blob/tests/test_append_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_get_blob.py
  sdk/storage/azure-storage-blob/tests/test_get_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_large_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_large_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_largest_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_largest_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
Labels: Storage

#28166 Patch Fix SasTokenConfiguration to_rest for WorkspaceConnection into 1.3.0
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_credentials.py
Labels: Machine Learning

#28168 Make common and ASM SDKs inactive
  sdk/core/azure-common/setup.py
  sdk/core/azure-servicemanagement-legacy/setup.py
Labels: Azure.Core

#28140 Bump in-development azure-ai-ml version
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#28162 Sync eng/common directory with azure-sdk-tools for PR 5027
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/samples/matrix-job-sample.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/tests/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
  eng/common/scripts/job-matrix/tests/test-import-matrix.json
Labels: EngSys, Central-EngSys

#28134 [recoveryservicesbackup] Update sdk_packaging.toml
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/CHANGELOG.md
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/_version.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservicesbackup/passivestamp/_version.py
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/sdk_packaging.toml
Labels: Recovery Services

#28130 [AppConfig] Fix pylint api-version error
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_configuration_client_async.py
Labels: Client, App Configuration

#28176 [ML][Pipelines]Support flattened dict for registered pipeline group input
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_component_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_dynamic.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/pipeline.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/_input_output_helpers.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_registered_pipeline_with_group.json
Labels: Machine Learning, ML-Pipelines, ML-Assets

#28163 [Communication] - phone-numbers - Add tests to update capabilities
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/aio/_phone_numbers_client_async.py
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.pyTestPhoneNumbersClienttest_update_phone_number_capabilities_with_empty_number.json
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.pyTestPhoneNumbersClienttest_update_phone_number_capabilities_with_invalid_number.json
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.pyTestPhoneNumbersClienttest_update_phone_number_capabilities_with_unauthorized_number.json
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.pyTestPhoneNumbersClientAsynctest_update_phone_number_capabilities_with_empty_number.json
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.pyTestPhoneNumbersClientAsynctest_update_phone_number_capabilities_with_invalid_number.json
  sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client_async.pyTestPhoneNumbersClientAsynctest_update_phone_number_capabilities_with_unauthorized_number.json
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client_async.py
Labels: Communication

#28184 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/_version.py
Labels: Azure.Core, auto-merge

#28187 Sync eng/common directory with azure-sdk-tools for PR 5054
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#28193 [EventHubs] Remove async marker from sync
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_negative.py
Labels: Event Hubs

#28186 [EventHub] update uamqp_transport docstring
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
Labels: Event Hubs, auto-merge

#28158 [SchemaRegistryAvro] update recordings
  sdk/schemaregistry/azure-schemaregistry-avroencoder/assets.json
  sdk/schemaregistry/azure-schemaregistry-avroencoder/conftest.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/test_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/tests/test_avro_encoder_async.py
  sdk/schemaregistry/azure-schemaregistry/setup.py
Labels: Schema Registry, auto-merge

#28188 [ML]: Address the API review comments
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/aml_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/compute_instance.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/kubernetes_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/nlp/automl_nlp_job.py
Labels: Machine Learning, ML-Assets

#28192 Migrate from Testing from to testing to
  sdk/communication/azure-communication-phonenumbers/phonenumbers-livetest-matrix.json
Labels: Communication

#28149 [EventHubs] fix tracing bug
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_pyamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_uamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/tests/conftest.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_send.py
  sdk/eventhub/azure-eventhub/tests/tracing_common.py
  sdk/eventhub/azure-eventhub/tests/unittest/test_event_data.py
Labels: Event Hubs, auto-merge

#27991 [Identity] Fix 'az' existence check in CliCred
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/tests/test_cli_credential.py
  sdk/identity/azure-identity/tests/test_cli_credential_async.py
Labels: Azure.Identity

#28200 [ML]: Adding experimental decorator to JobDefinition
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/run_settings.py
Labels: Machine Learning, ML-Assets

#28157 [ML][Pipelines] Test: update unstable tests in ci
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_command_component_entity.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_asset_utils.py
Labels: Machine Learning, ML-Pipelines

#28180 [ML][Pipelines] Test: update invalid reuse test
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
Labels: Machine Learning, ML-Pipelines

#28118 [ML][Pipelines] feat: enable concurrent component registration
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_cache_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline_with_specific_nodes.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_cache_utils.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_with_specific_nodes.pyTestDSLPipelineWithSpecificNodestest_dsl_pipeline_component_cache_in_resolver.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_with_specific_nodes.pyTestDSLPipelineWithSpecificNodestest_dsl_pipeline_concurrent_component_registration.json
  sdk/ml/azure-ai-ml/tests/test_utilities/utils.py
Labels: Machine Learning, ML-Pipelines

#28178 [ML][Pipelines] Fix parallel-for validation rule: allow empty dict as loop config item
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel_for.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_controlflow_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_controlflow_pipeline.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestParallelForPipelinetest_parallel_for_pipeline_with_empty_inputs.json
  sdk/ml/azure-ai-ml/tests/test_configs/components/helloworld_component_no_inputs.yml
Labels: Machine Learning, ML-Pipelines

#27726 [ServiceBus] Allow clearing of session state
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_session_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Service Bus

#28159 Typing for identity
  sdk/identity/azure-identity/azure/identity/_auth_record.py
  sdk/identity/azure-identity/azure/identity/_credentials/app_service.py
  sdk/identity/azure-identity/azure/identity/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_arc.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_assertion.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/_credentials/cloud_shell.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/_credentials/service_fabric.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/silent.py
  sdk/identity/azure-identity/azure/identity/_credentials/token_exchange.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_exceptions.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/aadclient_certificate.py
  sdk/identity/azure-identity/azure/identity/_internal/client_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/get_token_mixin.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_base.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_client.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/_persistent_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/app_service.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_arc.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_ml.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_assertion.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_secret.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/cloud_shell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/service_fabric.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/token_exchange.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  tools/azure-sdk-tools/ci_tools/environment_exclusions.py
Labels: Azure.Identity

#28194 p1 component deployment exisitng job definition
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_deployment/batch/job_definition_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_deployment_operations.py
Labels: Machine Learning, ML-Inference

#28169 [QA] Add 3.11
  sdk/cognitivelanguage/azure-ai-language-questionanswering/setup.py
Labels: Cognitive - QnA Maker

#28198 [EventHubs] update readme to include uamqp backcompat section
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
Labels: Event Hubs

#28210 [ml] Rename MLException back to MlException
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_blob_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_fileshare_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_gen2_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/utilities/commandline_utility.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/activity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_endpoint_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/exceptions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_operation_orchestrator.py
Labels: Machine Learning, ML-Inference, ML-Local Endpoints

#28031 [Storage] Matching `_shared` folder contents across all packages
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/authentication.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/parser.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/request_handlers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/response_handlers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_deserialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/authentication.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/constants.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/request_handlers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/response_handlers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/authentication.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/constants.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/parser.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/policies.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/policies_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/request_handlers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/response_handlers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_deserialize.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/authentication.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/constants.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/parser.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/request_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/response_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads_async.py
Labels: Storage

#28039 [ml] Remove some unused test configs
  sdk/ml/azure-ai-ml/tests/test_configs/command_job/command_job_registry.yml
  sdk/ml/azure-ai-ml/tests/test_configs/components/helloworld_component_registry.yml
  sdk/ml/azure-ai-ml/tests/test_configs/deployments/online/online_deployment_registry.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/sweep_job/sweep_job_test_registry.yaml
Labels: Machine Learning

#28174 [ml] Document and handle NoneType input to _from_workspace_connection_rest_object
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_credentials.py
Labels: Machine Learning

#28215 [EventHubs] sanitize api version from avro recordings
  sdk/schemaregistry/azure-schemaregistry-avroencoder/assets.json
  sdk/schemaregistry/azure-schemaregistry-avroencoder/conftest.py
Labels: Schema Registry, auto-merge

#28212 [ml] Rename MLException back to MlException (#28210)
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_blob_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_fileshare_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_gen2_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/utilities/commandline_utility.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/activity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_endpoint_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/exceptions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_operation_orchestrator.py
Labels: Machine Learning, ML-Inference, ML-Local Endpoints

#28085 [ACR] Fix pytest collect issue
  sdk/containerregistry/azure-containerregistry/README.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_models.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_user_agent.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_images.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_tags.py
  sdk/containerregistry/azure-containerregistry/setup.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
  sdk/containerregistry/azure-containerregistry/tests/testcase.py
Labels: Container Registry, Client, MQ

#28218 Sync eng/common directory with azure-sdk-tools for PR 5059
  eng/common/scripts/job-matrix/README.md
Labels: EngSys, Central-EngSys

#28219 [ML] Cherry-pick "Document and handle NoneType input to _from_workspace_connection_rest_object" (#28174)
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_credentials.py
Labels: Machine Learning

#28177 [ML][Pipelines] Test: enable pipelines registry consumption tests
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline_on_registry.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_on_registry.pyTestDSLPipelineOnRegistrytest_pipeline_job_create_with_registered_component_on_registry.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_on_registry.pyTestDSLPipelineOnRegistrytest_pipeline_with_local_component_and_registry_model_as_input.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_on_registry.pyTestDSLPipelineOnRegistrytest_pipeline_with_local_component_and_registry_model_as_input_with_model_input.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_on_registry.pyTestDSLPipelineOnRegistrytest_pipeline_with_registry_component_and_model_as_input.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_create_with_registries.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_create_with_registry_model_as_input.json
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/hello_pipeline_job_with_registries.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/job_with_registry_model_as_input/pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/job_with_registry_model_as_input/score_src/score.py
Labels: Machine Learning, ML-Pipelines

#28224 Sync eng/common directory with azure-sdk-tools for PR 5040
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Labels: EngSys, Central-EngSys

#28225 [ML][Pipelines] Support xxx model outputs in parallel-for body
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel_for.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_controlflow_pipeline.py
Labels: Machine Learning, ML-Pipelines

#28226 [ML][Pipelines] Bugfix: handle group during init/finalize validation
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/pipeline_job.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_group.py
Labels: Machine Learning, ML-Pipelines

#28228 hotfix: can't use local data as node input
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
Labels: Machine Learning, ML-Pipelines

#28213 [ServiceBus] Update Changelog
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#28209 [Service Bus] Doc Updates For Message Browsing
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
Labels: Service Bus

#28237 [EventHubs] add back api version + update test sr version
  sdk/schemaregistry/azure-schemaregistry-avroencoder/assets.json
  sdk/schemaregistry/azure-schemaregistry-avroencoder/conftest.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/dev_requirements.txt
Labels: Schema Registry

#28235 Sync eng/common directory with azure-sdk-tools for PR 5085
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#28240 Update changelog
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#28125 Add large file download warning and add AzCopy example to upload warning
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_blob_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_constants.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_gen2_storage_helper.py
Labels: Machine Learning

#28151 [CredScan] Remove general string suppressions
  .vscode/cspell.json
  doc/dev/mgmt/generating-integration-test.md
  eng/CredScanSuppression.json
  sdk/appservice/azure-mgmt-web/tests/disable_test_cli_mgmt_certificate.py
  sdk/appservice/azure-mgmt-web/tests/disable_test_cli_mgmt_web.py
  sdk/batch/azure-batch/tests/batch_preparers.py
  sdk/batch/azure-batch/tests/test_batch.py
  sdk/sql/azure-mgmt-sql/tests/disable_test_mgmt_sql.py
  tools/azure-sdk-tools/devtools_testutils/fake_credentials.py
Labels: Batch, EngSys, test-enhancement

#28245 Sync eng/common directory with azure-sdk-tools for PR 5095
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#28203 [ACR] Fix failing samples
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_delete_images_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_delete_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_hello_world_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_list_tags_async.py
  sdk/containerregistry/azure-containerregistry/samples/async_samples/sample_set_image_properties_async.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_images.py
  sdk/containerregistry/azure-containerregistry/samples/sample_delete_tags.py
  sdk/containerregistry/azure-containerregistry/samples/sample_hello_world.py
  sdk/containerregistry/azure-containerregistry/samples/sample_list_tags.py
  sdk/containerregistry/azure-containerregistry/samples/sample_set_image_properties.py
  sdk/containerregistry/azure-containerregistry/samples/sample_utilities.py
  sdk/containerregistry/azure-containerregistry/swagger/README.md
  sdk/containerregistry/azure-containerregistry/tests/asynctestcase.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/testcase.py
  sdk/containerregistry/tests.yml
Labels: Container Registry, Client, MQ

#28248 Update toml for sample link
  sdk/advisor/azure-mgmt-advisor/sdk_packaging.toml
  sdk/apimanagement/azure-mgmt-apimanagement/sdk_packaging.toml
  sdk/appconfiguration/azure-mgmt-appconfiguration/sdk_packaging.toml
  sdk/appservice/azure-mgmt-web/sdk_packaging.toml
  sdk/authorization/azure-mgmt-authorization/sdk_packaging.toml
  sdk/automanage/azure-mgmt-automanage/sdk_packaging.toml
  sdk/batch/azure-mgmt-batch/sdk_packaging.toml
  sdk/cdn/azure-mgmt-cdn/sdk_packaging.toml
  sdk/cognitiveservices/azure-mgmt-cognitiveservices/sdk_packaging.toml
  sdk/commerce/azure-mgmt-commerce/sdk_packaging.toml
  sdk/communication/azure-mgmt-communication/sdk_packaging.toml
  sdk/compute/azure-mgmt-compute/sdk_packaging.toml
  sdk/consumption/azure-mgmt-consumption/sdk_packaging.toml
  sdk/containerinstance/azure-mgmt-containerinstance/sdk_packaging.toml
  sdk/containerregistry/azure-mgmt-containerregistry/sdk_packaging.toml
  sdk/containerservice/azure-mgmt-containerservice/sdk_packaging.toml
  sdk/cosmos/azure-mgmt-cosmosdb/sdk_packaging.toml
  sdk/datalake/azure-mgmt-datalake-store/sdk_packaging.toml
  sdk/devtestlabs/azure-mgmt-devtestlabs/sdk_packaging.toml
  sdk/eventgrid/azure-mgmt-eventgrid/sdk_packaging.toml
  sdk/eventhub/azure-mgmt-eventhub/sdk_packaging.toml
  sdk/hdinsight/azure-mgmt-hdinsight/sdk_packaging.toml
  sdk/iothub/azure-mgmt-iothub/sdk_packaging.toml
  sdk/iothub/azure-mgmt-iothubprovisioningservices/sdk_packaging.toml
  sdk/keyvault/azure-mgmt-keyvault/sdk_packaging.toml
  sdk/labservices/azure-mgmt-labservices/sdk_packaging.toml
  sdk/loganalytics/azure-mgmt-loganalytics/sdk_packaging.toml
  sdk/logic/azure-mgmt-logic/sdk_packaging.toml
  sdk/machinelearning/azure-mgmt-machinelearningservices/sdk_packaging.toml
  sdk/marketplaceordering/azure-mgmt-marketplaceordering/sdk_packaging.toml
  sdk/monitor/azure-mgmt-monitor/sdk_packaging.toml
  sdk/network/azure-mgmt-network/sdk_packaging.toml
  sdk/notificationhubs/azure-mgmt-notificationhubs/sdk_packaging.toml
  sdk/policyinsights/azure-mgmt-policyinsights/sdk_packaging.toml
  sdk/recoveryservices/azure-mgmt-recoveryservices/sdk_packaging.toml
  sdk/recoveryservices/azure-mgmt-recoveryservicesbackup/sdk_packaging.toml
  sdk/redis/azure-mgmt-redis/sdk_packaging.toml
  sdk/relay/azure-mgmt-relay/sdk_packaging.toml
  sdk/resourcehealth/azure-mgmt-resourcehealth/sdk_packaging.toml
  sdk/resources/azure-mgmt-resource/sdk_packaging.toml
  sdk/resources/azure-mgmt-resourcegraph/sdk_packaging.toml
  sdk/scheduler/azure-mgmt-scheduler/sdk_packaging.toml
  sdk/search/azure-mgmt-search/sdk_packaging.toml
  sdk/servicebus/azure-mgmt-servicebus/sdk_packaging.toml
  sdk/servicelinker/azure-mgmt-servicelinker/sdk_packaging.toml
  sdk/sql/azure-mgmt-sql/sdk_packaging.toml
  sdk/storage/azure-mgmt-storage/sdk_packaging.toml
  sdk/testbase/azure-mgmt-testbase/sdk_packaging.toml
Labels: Service Bus, Storage, KeyVault, Batch, Container Instances, Container Registry, Cosmos, Event Grid, Event Hubs, HDInsight, Search, Monitor - LogAnalytics, App Configuration, Communication, Recovery Services

#28236 [EventHubs] fix message type
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/dev_requirements.txt
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_receive_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_receive.py
Labels: Event Hubs

#28250 [ML][Pipelines] Test: add test to cover validate init/finalize with group
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_init_finalize_job.py
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_create_pipeline_component_from_job.json
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/pipeline_component_with_group/command_component.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/pipeline_component_with_group/pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/pipeline_component_with_group/pipeline_component.yml
Labels: Machine Learning, ML-Pipelines

#28258 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity, auto-merge

#28238 [Communication] Phone Numbers - Prepare for browse API release
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
Labels: Communication

#28262 [SchemaRegistry] remove extra link in readme
  sdk/schemaregistry/azure-schemaregistry/README.md
Labels: Schema Registry, auto-merge

#28239 [TA] update model hint
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_models.py
Labels: Cognitive - Text Analytics

#28263 [Storage] Adjust sleep timing on `test_lease_container_break_period`
  sdk/storage/azure-storage-blob/tests/recordings/test_container.pyTestStorageContainertest_lease_container_break_period.json
  sdk/storage/azure-storage-blob/tests/recordings/test_container_async.pyTestStorageContainerAsynctest_lease_container_break_period.json
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
Labels: Storage

#28266 [EventHubs] update docstring EventData.message
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
Labels: Event Hubs, auto-merge

#28268 [CLU] regenerate with latest autorest
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_vendor.py
Labels: Cognitive - LUIS

#28270 [QA] regenerate with latest autorest
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_vendor.py
Labels: Cognitive - QnA Maker

#28269 Increment version for communication releases
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_version.py
Labels: auto-merge, Communication

#28216 Improve typing
  sdk/search/azure-search-documents/azure/search/documents/_headers_mixin.py
  sdk/search/azure-search-documents/azure/search/documents/_index_documents_batch.py
  sdk/search/azure-search-documents/azure/search/documents/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/_queries.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_search_indexing_buffered_sender.py
  sdk/search/azure-search-documents/azure/search/documents/_search_indexing_buffered_sender_base.py
  sdk/search/azure-search-documents/azure/search/documents/_utils.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_index_documents_batch_async.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_indexing_buffered_sender_async.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_timer.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_utils.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/models/__init__.py
  sdk/search/azure-search-documents/tests/async_tests/test_buffered_sender_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_client_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_index_client_async.py
  sdk/search/azure-search-documents/tests/test_buffered_sender.py
  sdk/search/azure-search-documents/tests/test_index_documents_batch.py
  sdk/search/azure-search-documents/tests/test_index_field_helpers.py
  sdk/search/azure-search-documents/tests/test_queries.py
  sdk/search/azure-search-documents/tests/test_search_client.py
  sdk/search/azure-search-documents/tests/test_search_index_client.py
  tools/azure-sdk-tools/ci_tools/environment_exclusions.py
Labels: Search

#28179 Migrate data and datastore operations rest client from 2022-05-01 API version to 2022-10-01 API version
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_datastore/_on_prem.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_datastore/azure_storage.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/_on_prem.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/_on_prem_credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/adls_gen1.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/azure_storage.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/datastore.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_datastore_operations.py
  sdk/ml/azure-ai-ml/tests/batch_services/unittests/test_batch_endpoints.py
  sdk/ml/azure-ai-ml/tests/code_asset/unittests/test_code_operations.py
  sdk/ml/azure-ai-ml/tests/dataset/e2etests/test_data.py
  sdk/ml/azure-ai-ml/tests/dataset/unittests/test_data_operations.py
  sdk/ml/azure-ai-ml/tests/dataset/unittests/test_data_utils.py
  sdk/ml/azure-ai-ml/tests/datastore/unittests/test_datastore_operations.py
  sdk/ml/azure-ai-ml/tests/datastore/unittests/test_datastore_schema.py
  sdk/ml/azure-ai-ml/tests/environment/unittests/test_environment_operations.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_operation_orchestrator.py
  sdk/ml/azure-ai-ml/tests/job_common/unittests/test_job_operations.py
  sdk/ml/azure-ai-ml/tests/model/unittests/test_model_operations.py
  sdk/ml/azure-ai-ml/tests/online_services/unittests/test_online_endpoints.py
Labels: Machine Learning, ML-Assets

#28276 [Communication] - Phone Numbers - Update default API version
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_api_versions.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/aio/_phone_numbers_client_async.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client_async.py
Labels: Communication

#27910 Increment version for webpubsub releases
  sdk/webpubsub/azure-messaging-webpubsubservice/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_version.py
Labels: auto-merge

#28314 [SchemaRegistry] update release date 1.3.0b1
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
Labels: Schema Registry, auto-merge

#28315 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus, auto-merge

#28313 [TA] link to article which shows how to create Language resource with CLI
  sdk/textanalytics/azure-ai-textanalytics/README.md
Labels: Cognitive - Text Analytics

#28318 Increment version for schemaregistry releases
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_version.py
Labels: Schema Registry, auto-merge

#28319 [ML] Upgrade minimum azure core version to 1.23.0
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/setup.py
Labels: Machine Learning

#28321 Sync eng/common directory with azure-sdk-tools for PR 5121
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
Labels: EngSys, Central-EngSys

#28293 Upgrading from rest client v2022_05_01 to v2022_10_01version for datastore type
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_datastore/adls_gen1.py
Labels: Machine Learning

#27917 [formrecognizer] Typing updates
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_elements_with_spans_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_operations_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_words_on_document_line_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_elements_with_spans.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_operations.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_words_on_document_line.py
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
  tools/azure-sdk-tools/ci_tools/environment_exclusions.py
Labels: Cognitive - Form Recognizer

#28323 Fix failing batch invoke e2e tests
  sdk/ml/azure-ai-ml/tests/batch_services/e2etests/test_batch_endpoint.py
  sdk/ml/azure-ai-ml/tests/recordings/batch_services/e2etests/test_batch_endpoint.pyTestBatchEndpointtest_batch_invoke.json
  sdk/ml/azure-ai-ml/tests/recordings/batch_services/e2etests/test_batch_endpoint.pyTestBatchEndpointtest_batch_invoke_outputs.json
  sdk/ml/azure-ai-ml/tests/test_configs/deployments/mnist/environment/conda.yml
Labels: Machine Learning

#28280 [ML][Pipelines] Test: try to fix breaking live tests
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/conftest.py
Labels: Machine Learning, ML-Pipelines

#28308 [ML][Pipelines] Refine some CLI error message
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/pipeline_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel_for.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_controlflow_pipeline.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_control_flow_pipeline.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_controlflow_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_validate.py
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/invalid_pipeline_referencing_component_file.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/parallel_for/body_not_supported.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/parallel_for/items_empty.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/parallel_for/items_invalid_json.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/parallel_for/items_invalid_value_type.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/parallel_for/items_meta_mismatch.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/parallel_for/items_not_exist.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/parallel_for/items_unprovided.yml
Labels: ML-Pipelines

#28331 Add unit test for sweep distribute component with setting instance_type
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline_with_specific_nodes.py
Labels: Machine Learning, ML-Pipelines

#28334 [ML] Fix regression when creating an environment outside of a registr…
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_environment_operations.py
  sdk/ml/azure-ai-ml/tests/recordings/environment/e2etests/test_environment.pyTestEnvironmenttest_environment_create_or_update_docker_context_and_image.json
Labels: Machine Learning, ML-Assets

#28336 [ML] Update 1.3.0 release date on release branch
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#28337 [ML] Update 1.3.0 release date on main
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#28342 Sync eng/common directory with azure-sdk-tools for PR 5113
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#27870 Adding email live tests resources to test-resources.json
  sdk/communication/test-resources.json
Labels: Communication

#27898 [QA] update samples to show how to get the exported project
  scripts/devops_tasks/test_run_samples.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/authoring/async_samples/sample_export_import_project_async.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/samples/authoring/sample_export_import_project.py
Labels: Cognitive - QnA Maker

#28346 fix broken link failing core CI
  sdk/core/azure/CHANGELOG.md
Labels: Azure.Core

#28351 Sync eng/common directory with azure-sdk-tools for PR 5134
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#28335 [ML][Pipelines] fix: internal snapshot id calculation ignore files
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/component.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_component.py
Labels: ML-Pipelines

#28229 fix: resource base path is required
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_resource.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_local_data_as_node_input.json
Labels: ML-Pipelines

#28348 Repair Failing Regression Tests
  eng/pipelines/templates/jobs/regression.yml
Labels: Central-EngSys

#28372 [ml] support for environment archive in registry
  sdk/ml/azure-ai-ml/tests/component/unittests/test_component_operations_registry.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/environment/unittests/test_environment_operations.py
  sdk/ml/azure-ai-ml/tests/environment/unittests/test_environment_operations_registry.py
Labels: Machine Learning

#28328 Data Operation - Get latest version from container
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/tests/recordings/command_job/e2etests/test_command_job.pyTestCommandJobtest_command_job_dependency_label_resolution.json
  sdk/ml/azure-ai-ml/tests/recordings/dataset/e2etests/test_data.pyTestDatatest_data_get_latest_label.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_pipeline_with_data_as_inputs_for_pipeline_component.json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_data_as_pipeline_inputs.json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[1-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[2-batch_score.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[3-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[4-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[6-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[7-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[8-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[1-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[2-batch_score.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[3-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[4-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[6-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[7-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[8-component_spec.yaml].json
Labels: Machine Learning

#28383 Clear Credscan warnings originating from `azure-servicemanagement-legacy`
  eng/CredScanSuppression.json
Labels: Central-EngSys

#28387 [ML][Pipelines]feat: allow lower case environment os for internal component
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_schema/environment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/environment.py
Labels: Machine Learning, ML-Pipelines

#28303 [InternalComponent] Convert non-str value of inputs to str
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_schema/component.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_component.py
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/starlite-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/starlite-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[7-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[7-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/test_configs/internal/command-component/command-linux/component_with_bool_and_data_input/component.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/internal/loaded_from_rest/starlite-component/component_spec.json
Labels: Machine Learning, ML-Pipelines

#28375 [formrecognizer] Fix to dict issue
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_models.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_to_dict_v3.py
Labels: Cognitive - Form Recognizer

#28391 [ML][Pipeline]Fix pipeline component show missing resolve dependencies
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_simple_pipeline_component_create.json
Labels: Machine Learning, ML-Pipelines, ML-Assets

#28386 [ML][Pipelines] feat: keep original empty display name for component
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/scripts/run_tests.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline_with_specific_nodes.py
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_simple_pipeline_component_create.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_command_function.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_dsl_pipeline_with_command_builder_setting_binding_node_and_pipeline_level.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_parallel_job.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_automl_job_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_e2e_inline_components.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_spark_job_with_builder_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_spark_job_with_multiple_node_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_with_specific_nodes.pyTestDSLPipelineWithSpecificNodestest_dsl_pipeline_sweep_node.json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_data_as_node_inputs.json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_data_as_pipeline_inputs.json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_with_setting_node_output_mode.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_default_datastore_compute.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_command_job[1-helloworld_pipeline_job_with_paths].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_command_job_with_dataset_short_uri.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_inline_component_create.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_output.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_parallel_job[file_component_input_e2e.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_parallel_job[file_input_e2e.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_parallel_job[tabular_input_e2e.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_spark_job[tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_spark_job[tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline_inline_job.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_spark_job[tests/test_configs/dsl_pipeline/spark_job_in_pipeline/sample_pipeline.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_spark_job[tests/test_configs/dsl_pipeline/spark_job_in_pipeline/wordcount_pipeline.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_spark_job[tests/test_configs/pipeline_jobs/shakespear_sample/pipeline.yml].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_sweep_node.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_sweep_node_early_termination_policy[policy_yaml_dict0].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_sweep_node_early_termination_policy[policy_yaml_dict1].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_sweep_node_early_termination_policy[policy_yaml_dict2].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_sweep_node_early_termination_policy[policy_yaml_dict3].json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_without_component_snapshot.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_with_inline_job_setting_binding_node_and_pipeline_level.json
  sdk/ml/azure-ai-ml/tests/recordings/pipeline_job/e2etests/test_pipeline_job.pyTestPipelineJobtest_sample_job_dump.json
  sdk/ml/azure-ai-ml/tests/recordings/schedule/e2etests/test_schedule.pyTestScheduletest_command_job_schedule.json
  sdk/ml/azure-ai-ml/tests/recordings/schedule/e2etests/test_schedule.pyTestScheduletest_load_cron_schedule_with_arm_id.json
  sdk/ml/azure-ai-ml/tests/recordings/schedule/e2etests/test_schedule.pyTestScheduletest_load_cron_schedule_with_arm_id_and_updates.json
  sdk/ml/azure-ai-ml/tests/recordings/schedule/e2etests/test_schedule.pyTestScheduletest_load_cron_schedule_with_job_updates.json
  sdk/ml/azure-ai-ml/tests/recordings/schedule/e2etests/test_schedule.pyTestScheduletest_load_recurrence_schedule_no_pattern.json
  sdk/ml/azure-ai-ml/tests/recordings/schedule/e2etests/test_schedule.pyTestScheduletest_load_recurrence_schedule_with_pattern.json
  sdk/ml/azure-ai-ml/tests/recordings/schedule/e2etests/test_schedule.pyTestScheduletest_schedule_lifetime.json
  sdk/ml/azure-ai-ml/tests/recordings/schedule/e2etests/test_schedule.pyTestScheduletest_spark_job_schedule.json
Labels: Machine Learning, ML-Pipelines, ML-Assets

#28339 Fix integration tests and migrate to test proxy
  sdk/communication/azure-communication-sms/samples/send_sms_to_multiple_recipients_sample.py
  sdk/communication/azure-communication-sms/samples/send_sms_to_multiple_recipients_sample_async.py
  sdk/communication/azure-communication-sms/samples/send_sms_to_single_recipient_sample.py
  sdk/communication/azure-communication-sms/samples/send_sms_to_single_recipient_sample_async.py
  sdk/communication/azure-communication-sms/samples/sms_token_credential_auth_sample.py
  sdk/communication/azure-communication-sms/samples/sms_token_credential_auth_sample_async.py
  sdk/communication/azure-communication-sms/tests.yml
  sdk/communication/azure-communication-sms/tests/acs_sms_test_case.py
  sdk/communication/azure-communication-sms/tests/conftest.py
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.pyTestClienttest_send_sms_fake_from_phone_number.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.pyTestClienttest_send_sms_fake_to_phone_number.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.pyTestClienttest_send_sms_from_managed_identity.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.pyTestClienttest_send_sms_multiple_with_options.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.pyTestClienttest_send_sms_single.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.pyTestClienttest_send_sms_unauthorized_from_phone_number.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.pyTestClienttest_send_sms_unique_message_ids.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.test_send_sms_fake_from_phone_number.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.test_send_sms_fake_to_phone_number.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.test_send_sms_from_managed_identity.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.test_send_sms_multiple_with_options.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.test_send_sms_single.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.test_send_sms_unauthorized_from_phone_number.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e.test_send_sms_unique_message_ids.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.pyTestClientAsynctest_send_sms_fake_from_phone_number_async.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.pyTestClientAsynctest_send_sms_fake_to_phone_number_async.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.pyTestClientAsynctest_send_sms_from_managed_identity_async.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.pyTestClientAsynctest_send_sms_multiple_with_options_async.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.pyTestClientAsynctest_send_sms_single_async.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.pyTestClientAsynctest_send_sms_unauthorized_from_phone_number_async.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.pyTestClientAsynctest_send_sms_unique_message_ids_async.json
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.test_send_sms_fake_from_phone_number_async.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.test_send_sms_fake_to_phone_number_async.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.test_send_sms_from_managed_identity_async.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.test_send_sms_multiple_with_options_async.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.test_send_sms_single_async.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.test_send_sms_unauthorized_from_phone_number_async.yaml
  sdk/communication/azure-communication-sms/tests/recordings/test_sms_client_e2e_async.test_send_sms_unique_message_ids_async.yaml
  sdk/communication/azure-communication-sms/tests/test_sms_client_e2e.py
  sdk/communication/azure-communication-sms/tests/test_sms_client_e2e_async.py
Labels: Azure.Core, Communication, Communication - SMS

#28398 Added the semantic reranker score and captions
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_paging.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_client_search_live_async.py
  sdk/search/azure-search-documents/tests/test_search_client_search_live.py
Labels: Search

#28330 [ML][Pipelines]Refine error msg when positional args given to component function
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_component_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_command_component_entity.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_command_builder.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_component_func.py
Labels: Machine Learning, ML-Pipelines, ML-Assets

#28405 [Storage] Fix flaky test `test_lease_blob_with_duration`
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob.pyTestStorageCommonBlobtest_lease_blob_with_duration.json
  sdk/storage/azure-storage-blob/tests/recordings/test_common_blob_async.pyTestStorageCommonBlobAsynctest_lease_blob_with_duration.json
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
Labels: Storage

#28401 fix env test
  sdk/ml/azure-ai-ml/tests/environment/e2etests/test_environment.py
Labels: Machine Learning

#27916 Add Azure Developer Credential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/tests/test_azd_cli_credential.py
  sdk/identity/azure-identity/tests/test_azd_cli_credential_async.py
  sdk/identity/azure-identity/tests/test_context_manager.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
  tools/azure-sdk-tools/ci_tools/environment_exclusions.py
Labels: Azure.Identity

#28418 [ml] Cherry-Pick "Re-add removed **kwargs from environment operations" (#28411)
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_environment_operations.py
Labels: Machine Learning, ML-Assets

#28422 Increment version for ml releases
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning, auto-merge

#28320 [EventHubs] Fix Token Decode Error
  .vscode/cspell.json
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_cbs_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/authentication.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/cbs.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_pyamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_pyamqp_transport_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/client_creation_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/client_creation.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_auth_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_auth.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/synctests/test_mgmt_pyamqp.py
  sdk/eventhub/test-resources.json
  sdk/eventhub/tests.yml
Labels: Event Hubs

#28345 Enable Pyproject Inclusion
  .vscode/cspell.json
  doc/eng_sys_checks.md
  eng/pipelines/templates/steps/build-artifacts.yml
  eng/pipelines/templates/steps/run_black.yml
  eng/scripts/get_package_properties.py
  eng/tox/run_mypy.py
  eng/tox/run_pylint.py
  eng/tox/run_pyright.py
  eng/tox/run_verifytypes.py
  eng/tox/tox.ini
  scripts/devops_tasks/common_tasks.py
  scripts/devops_tasks/test_regression.py
  scripts/devops_tasks/tox_harness.py
  scripts/devops_tasks/validate_formatting.py
  sdk/core/azure-common/pyproject.toml
  sdk/core/azure-core-experimental/pyproject.toml
  sdk/core/azure-core-tracing-opencensus/pyproject.toml
  sdk/core/azure-core-tracing-opentelemetry/pyproject.toml
  sdk/core/azure-core/pyproject.toml
  sdk/core/azure-mgmt-core/pyproject.toml
  sdk/core/azure-mgmt/pyproject.toml
  sdk/core/azure-mgmt/sdk_packaging.toml
  sdk/core/azure-servicemanagement-legacy/pyproject.toml
  sdk/core/azure/pyproject.toml
  sdk/core/ci.yml
  sdk/cosmos/azure-mgmt-documentdb/setup.py
  sdk/regionmove/azure-mgmt-regionmove/sdk_packaging.toml
  sdk/regionmove/azure-mgmt-regionmove/setup.py
  sdk/scheduler/azure-mgmt-scheduler/sdk_packaging.toml
  sdk/scheduler/azure-mgmt-scheduler/setup.py
  tools/azure-sdk-tools/ci_tools/build.py
  tools/azure-sdk-tools/ci_tools/environment_exclusions.py
  tools/azure-sdk-tools/ci_tools/functions.py
  tools/azure-sdk-tools/ci_tools/parsing/__init__.py
  tools/azure-sdk-tools/ci_tools/parsing/parse_functions.py
  tools/azure-sdk-tools/dev_requirements.txt
  tools/azure-sdk-tools/setup.py
  tools/azure-sdk-tools/tests/integration/test_package_discovery.py
  tools/azure-sdk-tools/tests/test_parse_functionality.py
  tools/azure-sdk-tools/tests/test_pypi_client.py
  tools/azure-sdk-tools/tests/test_servicemetadata.py
Labels: Cosmos, Azure.Core

#28424 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs, auto-merge

#28367 [ML][Pipelines] Bugfix: component version auto increment under non-registry create operation
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_component_operations.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_parallel_component_operations.py
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_command_component_create_autoincrement.json
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_create_pipeline_component_from_job.json
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_mpi_component.json
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_pytorch_component.json
  sdk/ml/azure-ai-ml/tests/recordings/component/e2etests/test_component.pyTestComponenttest_tensorflow_component.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestIfElsetest_do_while_combined_if_else.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestParallelForPipelinetest_parallel_for_pipeline_subgraph_unprovided_input.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestParallelForPipelinetest_parallel_for_pipeline_with_port_outputs.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestParallelForPipelinetest_parallel_for_pipeline_with_primitive_outputs.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_controlflow_pipeline.pyTestParallelForPipelinetest_parallel_for_pipeline_with_subgraph.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_anon_component_in_pipeline.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_command_with_optional_inputs.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_create_pipeline_component_by_dsl.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_create_pipeline_with_parameter_group.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_distribution_components.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_group_outputs_description_overwrite.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_group_outputs_mode_overwrite.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline.pyTestDSLPipelinetest_registered_pipeline_with_group.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_pipeline_with_data_as_inputs_for_pipeline_component.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_samples.pyTestDSLPipelineSamplestest_pipeline_with_pipeline_component.json
  sdk/ml/azure-ai-ml/tests/recordings/dsl/e2etests/test_dsl_pipeline_with_specific_nodes.pyTestDSLPipelineWithSpecificNodestest_dsl_pipeline_component_cache_in_resolver.json
  sdk/ml/azure-ai-ml/tests/recordings/environment/e2etests/test_environment.pyTestEnvironmenttest_create_autoincrement.json
Labels: Machine Learning, ML-Pipelines, ML-Assets

#28434 Fix AML/GitIgnore Flakiness
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
Labels: Machine Learning

#28449 fix test
  sdk/identity/azure-identity/tests/test_default.py
Labels: Azure.Identity

#28261 Include source branch name in API review label for automatic review
  eng/scripts/Create-ApiReview.ps1
Labels: Central-EngSys

#28454 Remove CHECKENFORCER file
  eng/CHECKENFORCER
Labels: Central-EngSys

#28465 Contributing Guidelines update for tox
  CONTRIBUTING.md
Labels: Central-EngSys

#28412 Sync eng/common directory with azure-sdk-tools for PR 5169
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#28468 [Test Proxy] Temporarily remove `reset` recording management command
  doc/dev/tests.md
  scripts/manage_recordings.py
Labels: EngSys

#28347 [Test proxy] Disable tests for packages that are deprecated/in transition
  sdk/loganalytics/azure-loganalytics/setup.py
  sdk/loganalytics/azure-loganalytics/tests/disable_test_query.py
  sdk/webpubsub/azure-messaging-webpubsubservice/setup.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/STATE_OF_TESTS.md
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/conftest.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/disable_test_jwt.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/disable_test_jwt_async.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/disable_test_reverse_proxy.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/disable_test_reverse_proxy_async.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/disable_test_smoke.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/disable_test_smoke_async.py
Labels: Client, Monitor - LogAnalytics, WebPubSub, test-enhancement

#28467 Ensure that test packages are filtered out of versioning update, but still allow "tests" in name
  tools/azure-sdk-tools/ci_tools/versioning/version_shared.py
Labels: Central-EngSys

#28455 move azure developer cli credential to the first developer credential in `default.py`
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
Labels: Azure.Identity

#28470 [EventHubs] patch pyamqp websocket not installed error
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_pyamqp_transport_async.py
Labels: Event Hubs

#28472 [Storage] Change method for reading from async streams
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_upload_helpers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads_async.py
Labels: Storage

#28488 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs, auto-merge

#28494 [formrecognizer] Skip test assertion due to service regression
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dac_analyze_prebuilts_from_url_async.py
Labels: Cognitive - Form Recognizer

#28483 fix deflate decompression for aiohttp
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py
  sdk/core/azure-core/azure/core/utils/_pipeline_transport_rest_shared.py
  sdk/core/azure-core/tests/async_tests/test_rest_asyncio_transport.py
  sdk/core/azure-core/tests/async_tests/test_rest_stream_responses_async.py
  sdk/core/azure-core/tests/test_rest_stream_responses.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/encoding.py
Labels: Azure.Core

#28489 Sync eng/common directory with azure-sdk-tools for PR 5224
  eng/common/testproxy/publish-proxy-logs.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#28376 [formrecognizer] Add error handling for samples
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_business_cards_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_custom_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_general_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_identity_documents_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_invoices_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_layout_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_read_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_receipts_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_receipts_from_url_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_analyze_tax_us_w2_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_authentication_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_build_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_compose_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_convert_to_and_from_dict_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_copy_model_to_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_elements_with_spans_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_operations_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_get_words_on_document_line_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/async_samples/sample_manage_models_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_business_cards.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_custom_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_general_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_identity_documents.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_invoices.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_layout.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_read.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_receipts.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_receipts_from_url.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_analyze_tax_us_w2.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_authentication.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_build_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_compose_model.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_convert_to_and_from_dict.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_copy_model_to.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_elements_with_spans.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_operations.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_get_words_on_document_line.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2/sample_manage_models.py
Labels: Cognitive - Form Recognizer

#27960 Refactor logic for pre-processing local upload paths, address symlink bugs
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_fileshare_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/tests/internal/_utils.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_asset_utils.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_get_content_hash.py
Labels: Machine Learning

#28490 Add warning for online deployment create operation to suggest the use of bigger SKU
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_deployment_operations.py
Labels: Machine Learning

#28508 Sync eng/common directory with azure-sdk-tools for PR 5242
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/Update-TestResources.ps1
Labels: EngSys, Central-EngSys

#28504 Fix paths in CODEOWNERS
  .github/CODEOWNERS
Labels: Central-EngSys

#28513 [Storage] Fix documentation for `timeout` in all Storage packages
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_lease.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_lease_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_lease.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_lease_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_lease.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_lease_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
Labels: Storage

#28515 [ML][Pipelines] support ignore files in additional includes
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/code.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/code.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_command_component_entity.py
  sdk/ml/azure-ai-ml/tests/internal/_utils.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_component.py
  sdk/ml/azure-ai-ml/tests/test_utilities/utils.py
Labels: Machine Learning, ML-Pipelines, ML-Assets

#28517 [ML][Pipelines] fix: pipeline job schema validation fail for data-binding expression
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/fields.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job/input_output_fields_provider.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/component_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/pipeline/pipeline_job.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/internal/_utils.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_internal_disabled.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_private_preview_disabled.py
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/json_schema_validation/component_spec.yaml
  sdk/ml/azure-ai-ml/tests/test_utilities/json_schema.py
  sdk/ml/azure-ai-ml/tests/test_utilities/utils.py
Labels: Machine Learning, ML-Pipelines, ML-Jobs

#28485 [Communication] Fix Method Name in Readme
  sdk/communication/azure-communication-email/README.md
Labels: Communication

#28523 [ML][Pipelines] feat: add _source in rest object of internal component
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/component.py
  sdk/ml/azure-ai-ml/tests/internal/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_component.py
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_code_hash.json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/ae365exepool-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/batch_inference/batch_score.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/command-component-ls/ls_command_component.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/data-transfer-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/distribution-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/hdi-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/hemera-component/component.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/scope-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_create[tests/test_configs/internal/starlite-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/ae365exepool-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/batch_inference/batch_score.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/command-component-ls/ls_command_component.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/data-transfer-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/distribution-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/hdi-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/hemera-component/component.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/scope-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_component.pyTestComponenttest_component_load[tests/test_configs/internal/starlite-component/component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_data_as_node_inputs.json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_data_as_pipeline_inputs.json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[0-ls_command_component.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[1-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[2-batch_score.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[3-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[4-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[5-component.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[6-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[7-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_anonymous_internal_component[8-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[0-ls_command_component.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[1-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[2-batch_score.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[3-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[4-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[5-component.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[6-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[7-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_job_with_registered_internal_component[8-component_spec.yaml].json
  sdk/ml/azure-ai-ml/tests/recordings/internal/e2etests/test_pipeline_job.pyTestPipelineJobtest_pipeline_with_setting_node_output_mode.json
Labels: Machine Learning, ML-Pipelines

#28524 [ML][Pipelines] fix: keep False values in pipeline_job.settings
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_job/pipeline.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_attr_dict.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_attr_dict.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline.py
Labels: Machine Learning, ML-Pipelines

#28461 {AzureML} fix for the LocalEndpointImageBuildError
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/validators/environment_validator.py
Labels: Machine Learning, ML-Local Endpoints

#28502 Sync eng/common directory with azure-sdk-tools for PR 5231
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys
