Repository Azure/azure-sdk-for-python, pull requests merged in 2024-04, with the labels that each got.

#34862 Update Authorization Code client_secret kwarg usage
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/tests/test_auth_code.py
  sdk/identity/azure-identity/tests/test_auth_code_async.py
Labels: customer-reported, Azure.Identity, Community Contribution

#35002 Skip creating automatic API review for ci disabled packages
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys

#34970 Add step to create package work item
  eng/pipelines/templates/steps/analyze.yml
Labels: Central-EngSys

#35013 Sync eng/common directory with azure-sdk-tools for PR 7975
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#35019 [Identity] Update live test config
  sdk/identity/azure-identity/tests/conftest.py
  sdk/identity/azure-identity/tests/test_live.py
  sdk/identity/azure-identity/tests/test_live_async.py
  sdk/identity/tests.yml
Labels: Azure.Identity

#35027 Expose new models
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_search_service_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_index.py
Labels: Search

#34638 Adding hold and unhold to feature alpha
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_enums.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_add_participant_then_cancel_request.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_create_VOIP_call_and_answer_then_hangup.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_add_and_hold_unhold_participant_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_add_and_mute_participant_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_dtmf_actions_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_media_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/test_call_connection_client.py
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_media_client.py
  sdk/communication/cspell.json
Labels: Communication

#35018 [SchemaRegistry] fix sphinx
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/_schema_registry_avro_encoder.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/azure/schemaregistry/encoder/avroencoder/aio/_schema_registry_avro_encoder_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/doc/azure.rst
  sdk/schemaregistry/azure-schemaregistry-avroencoder/doc/azure.schemaregistry.encoder.rst
  sdk/schemaregistry/azure-schemaregistry-avroencoder/doc/azure.schemaregistry.rst
  sdk/schemaregistry/azure-schemaregistry-avroencoder/pyproject.toml
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_encoder_protocols.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_encoder_protocol_async.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/encoder/jsonencoder/_schema_registry_json_encoder.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/encoder/jsonencoder/aio/_schema_registry_json_encoder_async.py
  sdk/schemaregistry/azure-schemaregistry/pyproject.toml
Labels: Schema Registry

#35033 Sync eng/common directory with azure-sdk-tools for PR 7986
  eng/common/scripts/Helpers/git-helpers.ps1
Labels: EngSys, Central-EngSys

#35037 Fix API review for Python due to missing code file
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys

#34994 Add 1es-redirect template. Support template validation canary runs
  eng/pipelines/templates/stages/1es-redirect.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/conda-sdk-client.yml
  eng/pipelines/templates/stages/python-analyze-weekly-standalone.yml
  sdk/template/ci.yml
Labels: Central-EngSys

#35039 Change meta data service timeout to 200ms
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_statsbeat_metrics.py
Labels: Monitor - Exporter

#35038 Sync eng/common directory with azure-sdk-tools for PR 7988
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#35040 Sync eng/common directory with azure-sdk-tools for PR 7989
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#34990 adding the byos changes
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_utils.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/tests/test_call_recording_client.py
Labels: Communication

#34816 [CallAutomation] Bug fixes
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_utils.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/setup.py
Labels: Communication

#34971 Adding diagnostic log for distro + attach
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_autoinstrumentation/configurator.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_autoinstrumentation/distro.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_constants.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_diagnostics/diagnostic_logging.py
  sdk/monitor/azure-monitor-opentelemetry/tests/configuration/test_configure.py
  sdk/monitor/azure-monitor-opentelemetry/tests/test_constants.py
Labels: Monitor - Distro

#35032 [Identity] Update broker docs
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_browser.py
Labels: Azure.Identity

#35059 [ACS-Identity] Fixed livetest pipeline failure
  sdk/communication/azure-communication-identity/samples/identity_samples.py
  sdk/communication/azure-communication-identity/samples/identity_samples_async.py
Labels: Communication - Identity

#34954 [Storage] [Queue] Fixed next pylint errors in queue storage
  sdk/storage/azure-storage-queue/azure/storage/queue/_encryption.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client_helpers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client_helpers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
Labels: Storage

#34962 Fixed error message check in remote rendering tests
  sdk/remoterendering/azure-mixedreality-remoterendering/assets.json
  sdk/remoterendering/azure-mixedreality-remoterendering/dev_requirements.txt
  sdk/remoterendering/azure-mixedreality-remoterendering/tests/test_client.py
  sdk/remoterendering/azure-mixedreality-remoterendering/tests/test_client_async.py
Labels: Remote Rendering

#35071 32538: Fix readme for azure-maps-search
  sdk/maps/azure-maps-search/README.md
Labels: customer-reported, Community Contribution, Maps

#35065 Sync eng/common directory with azure-sdk-tools for PR 8015
  eng/common/pipelines/templates/steps/docker-pull-image.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Labels: EngSys, Central-EngSys

#34946 Top-level namespace for ToC children entries instead of the assembly name.
  eng/scripts/Language-Settings.ps1
  eng/scripts/docs/Docs-ToC.ps1
Labels: Docs, Central-EngSys

#35066 Refactor constants
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_utils.py
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_autoinstrumentation/distro.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_constants.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_diagnostics/diagnostic_logging.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_diagnostics/status_logger.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_util/__init__.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_utils/__init__.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_utils/configurations.py
  sdk/monitor/azure-monitor-opentelemetry/tests/test_configure.py
  sdk/monitor/azure-monitor-opentelemetry/tests/utils/test_configurations.py
  sdk/monitor/azure-monitor-opentelemetry/tests/utils/test_utils.py
Labels: Monitor - Exporter, Monitor - Distro

#34977 32565 Fix response validation error for reverse search address
  sdk/maps/azure-maps-search/CHANGELOG.md
  sdk/maps/azure-maps-search/azure/maps/search/_generated/models/_models_py3.py
  sdk/maps/azure-maps-search/azure/maps/search/_version.py
Labels: customer-reported, Community Contribution, Maps

#35070 [Identity] Adjust IMDS retry backoff
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#35092 Search readme update: removing reference to high dimensional space per customer feedback
  sdk/search/azure-search-documents/README.md
Labels: Search, customer-reported, Community Contribution

#35088 Release azure-monitor-opentelemetry-exporter 1.0.0b24
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor - Exporter

#35074 [Storage] add entra id auth to blob perf tests
  sdk/storage/azure-storage-blob/perf-tests.yml
  sdk/storage/azure-storage-blob/tests/perfstress_tests/README.md
  sdk/storage/azure-storage-blob/tests/perfstress_tests/_test_base.py
Labels: Storage

#35093 remove fine-tune file list test
  sdk/openai/azure-openai/tests/test_models.py
  sdk/openai/azure-openai/tests/test_models_async.py
Labels: OpenAI

#35091 Update release dates
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search, Azure.Identity

#35077 [DI] Enable to run pylint in DI pipeline
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/models/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/pyproject.toml
Labels: pylint, Document Intelligence

#34900 Resource param
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/README.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_utils/configurations.py
  sdk/monitor/azure-monitor-opentelemetry/tests/test_configure.py
  sdk/monitor/azure-monitor-opentelemetry/tests/utils/test_configurations.py
Labels: Monitor - Distro

#35079 [AppConfig] Enable to run sphinx in pipeline
  sdk/appconfiguration/azure-appconfiguration/README.md
  sdk/appconfiguration/azure-appconfiguration/pyproject.toml
  sdk/appconfiguration/azure-appconfiguration/samples/README.md
Labels: App Configuration, sphinx

#35095 [DI][FR] Change the default polling interval
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_helpers.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_dmac_training_async.py
Labels: Cognitive - Form Recognizer, Document Intelligence

#35083 adding the microsoftteams appindentifier
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_utils.py
Labels: Communication

#35076 Distro 1.4.0
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
  sdk/monitor/azure-monitor-opentelemetry/setup.py
Labels: Monitor - Distro

#35080 [ACR] Fix pylint and sphinx errors
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/pyproject.toml
Labels: Container Registry, pylint, sphinx

#35078 [DI] Enable to run sphinx in pipeline
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_operations/_operations.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_operations/_operations.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/models/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/pyproject.toml
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_custom_documents_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_read_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_custom_documents.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_read.py
  sdk/documentintelligence/azure-ai-documentintelligence/setup.py
Labels: Document Intelligence, sphinx

#34877 [EG] April events
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
  sdk/eventgrid/azure-eventgrid/swagger/_constants.py
Labels: Event Grid

#35122 Increment version for documentintelligence releases
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_version.py
Labels: Document Intelligence

#35108 [EG] Docstring/update changelog
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_operations/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_operations/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_patch.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_acknowledge_operation_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_all_operations_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_binary_mode_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_publish_receive_renew_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_publish_release_receive_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_receive_operation_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_reject_operation_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_release_operation_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_renew_locks_operation_async.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_acknowledge_operation.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_all_operations.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_binary_mode.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_publish_receive_renew.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_publish_release_receive.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_receive_operation.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_reject_operation.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_release_operation.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_renew_locks_operation.py
  sdk/eventgrid/azure-eventgrid/tests/test_dual_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_client_exceptions.py
Labels: Event Grid

#35043 [Storage] Bumped changelogs, serialize, version, and setup for STG 94
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/assets.json
  sdk/storage/azure-storage-queue/azure/storage/queue/_serialize.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
Labels: Storage

#35123 Increment version for identity releases
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_version.py
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#35006 [FR] Fix failing live pipeline
  sdk/formrecognizer/azure-ai-formrecognizer/assets.json
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_analyze_addon_barcodes_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/async_samples/sample_send_request_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/samples/v3.2_and_later/sample_send_request.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_send_request.py
  sdk/formrecognizer/azure-ai-formrecognizer/tests/test_send_request_async.py
Labels: Cognitive - Form Recognizer

#35121 Document role requirement for multi-resource metrics queries
  sdk/monitor/azure-monitor-query/README.md
Labels: Monitor

#35115 [Key Vault] Add `__(a)enter__` methods to user-facing clients
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_settings_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_settings_client.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/_client.py
Labels: KeyVault, Client, mypy

#35130 rename advanced
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
Labels: Event Grid

#35120 [AppConfig] Prepare for GA
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_refresh.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_refresh.py
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
  sdk/appconfiguration/azure-appconfiguration/setup.py
Labels: Client, App Configuration

#35132 Increment version for formrecognizer releases
  sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md
  sdk/formrecognizer/azure-ai-formrecognizer/azure/ai/formrecognizer/_version.py
Labels: Cognitive - Form Recognizer

#35129 Fix Sphinx on azure-storage-queue
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
  sdk/storage/azure-storage-queue/pyproject.toml
Labels: Storage

#34895 General Availability version of PSTN dial-out capability feature
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/README.md
  sdk/communication/azure-communication-rooms/assets.json
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_api_versions.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/__init__.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/_client.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/_configuration.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/_serialization.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/__init__.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/_client.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/_configuration.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/operations/__init__.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/operations/__init__.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/operations/_operations.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_rooms_client.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_version.py
  sdk/communication/azure-communication-rooms/setup.py
  sdk/communication/azure-communication-rooms/swagger/README.md
Labels: Communication - Rooms

#35135 Sync eng/common directory with azure-sdk-tools for PR 8053
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#35125 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#35062 Mark network traversal package as inactive
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
  sdk/communication/azure-communication-networktraversal/README.md
  sdk/communication/azure-communication-networktraversal/setup.py
Labels: Communication - NetworkTraversal

#35094 Add custom build tag for canary validation runs
  eng/pipelines/templates/stages/1es-redirect.yml
Labels: Central-EngSys

#35141 [EG] update script files for rename
  sdk/eventgrid/azure-eventgrid/swagger/_constants.py
  sdk/eventgrid/azure-eventgrid/swagger/postprocess_eventnames.py
Labels: Event Grid

#35127 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#35145 [EventHub] release date
  sdk/eventhub/azure-eventhub/CHANGELOG.md
Labels: Event Hubs

#35143 Sync eng/common directory with azure-sdk-tools for PR 8019
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#35146 Sync eng/common directory with azure-sdk-tools for PR 8062
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#35148 [ACS][Chat] Update Changelog for Chat 1.3.0 release
  sdk/communication/azure-communication-chat/CHANGELOG.md
Labels: Communication - Chat

#35149 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs

#35151 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#35068 [Storage] Make `StructuredMessageEncodeStream` seekable
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/streams.py
  sdk/storage/azure-storage-blob/tests/test_streams.py
Labels: Storage

#34955 [Storage] [File Share] Fixed next pylint errors in file share
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_download.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/policies.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_download_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
Labels: Storage

#35067 [Storage] added tests for get_account_information across container client and blob client
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_azure_blob_storage.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_azure_blob_storage.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_append_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
Labels: Storage

#35152 [EG] Readme updates
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/pyproject.toml
Labels: Event Grid

#35164 [EG] release fixes
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_operations/_patch.py
Labels: Event Grid

#35090 Merge pr 35022 into pr34694 - Add Start Time To CF, Fix Retryable Exception in First Page Bug, and Fix Case Sensitive Headers Bug
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/base_execution_context.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/base_execution_context.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_synchronized_request.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_asynchronous_request.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/samples/change_feed_management.py
  sdk/cosmos/azure-cosmos/samples/change_feed_management_async.py
  sdk/cosmos/azure-cosmos/test/test_query.py
  sdk/cosmos/azure-cosmos/test/test_query_async.py
Labels: Cosmos

#35172 [EG] rename release_delay
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_operations/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_operations/_patch.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_publish_release_receive_async.py
  sdk/eventgrid/azure-eventgrid/samples/async_samples/eventgrid_client_samples/sample_release_operation_async.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_publish_release_receive.py
  sdk/eventgrid/azure-eventgrid/samples/sync_samples/eventgrid_client_samples/sample_release_operation.py
  sdk/eventgrid/azure-eventgrid/tests/test_dual_client.py
Labels: Event Grid

#35150 Fix Sphinx on azure-storage-file-datalake
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/pyproject.toml
Labels: Storage

#35188 add missing async decorator
  sdk/search/azure-search-documents/tests/async_tests/test_buffered_sender_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_client_async.py
Labels: Search

#35179 Implement CRC64 support for `upload_blob`
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/validation.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_upload_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_upload_helpers.py
  sdk/storage/azure-storage-blob/tests/test_content_validation.py
  sdk/storage/azure-storage-blob/tests/test_content_validation_async.py
Labels: Storage

#35134 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
Labels: App Configuration

#34976 [Storage] [Typing] [Blob] `_download_async.py` and miscellaneous remaining errors
  sdk/storage/azure-storage-blob/azure/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_deserialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/datafile.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/datafile_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-blob/samples/blob_samples_hello_world_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/shared_access_signature.py
Labels: Storage

#35056 [ml] Fix bug in logs where error information wasn't passing through
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/activity.py
Labels: Machine Learning

#35191 Sync eng/common directory with azure-sdk-tools for PR 8076
  eng/common/pipelines/templates/steps/policheck.yml
Labels: EngSys, Central-EngSys

#35222 pyright for QA
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_operations/_patch.py
Labels: Cognitive - Language

#35081 [Tables] Fix pylint and sphinx errors
  sdk/tables/azure-data-tables/azure/data/tables/_entity.py
  sdk/tables/azure-data-tables/azure/data/tables/_models.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_batch.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_shared_access_signature.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/pyproject.toml
  sdk/tables/azure-data-tables/samples/async_samples/sample_batching_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_create_delete_table_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_insert_delete_entities_async.py
  sdk/tables/azure-data-tables/samples/sample_batching.py
  sdk/tables/azure-data-tables/samples/sample_insert_delete_entities.py
  sdk/tables/azure-data-tables/samples/sample_update_upsert_merge_entities.py
  sdk/tables/azure-data-tables/tests/test_table_service_stats.py
Labels: Tables, pylint, sphinx

#35223 [Core][Corehttp] Update multipart test-server code
  eng/tox/install_depend_packages.py
  sdk/core/azure-core/tests/async_tests/test_rest_http_response_async.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/multipart.py
  sdk/core/corehttp/tests/async_tests/test_rest_http_response_async.py
  sdk/core/corehttp/tests/testserver_tests/coretestserver/coretestserver/test_routes/multipart.py
Labels: Azure.Core

#35206 [Storage] Prepare for STG93 Beta Release (changelog dates, etc.)
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#35196 [Test Proxy] Centrally sanitize sensitive patterns for all tests
  sdk/keyvault/azure-keyvault-secrets/tests/test_samples_secrets_async.py
  tools/azure-sdk-tools/devtools_testutils/__init__.py
  tools/azure-sdk-tools/devtools_testutils/fake_credentials.py
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
  tools/azure-sdk-tools/devtools_testutils/sanitizers.py
Labels: test-proxy

#35195 [ACS][JobRouter] Pre release for 1.1.0b1
  sdk/communication/azure-communication-jobrouter/CHANGELOG.md
Labels: Communication - Job Router

#35118 Mark python package as shipped in APIView
  eng/pipelines/templates/stages/archetype-python-release.yml
Labels: Central-EngSys

#35232 [Storage] Bump versions after STG93 preview release
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_version.py
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#35235 Sync eng/common directory with azure-sdk-tools for PR 8110
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#35237 [CI] Various sanitization fixes
  sdk/documentintelligence/azure-ai-documentintelligence/assets.json
  sdk/documentintelligence/azure-ai-documentintelligence/tests/conftest.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_custom_model.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_custom_model_async.py
  sdk/formrecognizer/azure-ai-formrecognizer/assets.json
  sdk/formrecognizer/azure-ai-formrecognizer/tests/conftest.py
  sdk/identity/azure-identity/tests/test_multi_tenant_auth.py
  sdk/identity/azure-identity/tests/test_multi_tenant_auth_async.py
  sdk/ml/azure-ai-ml/tests/datastore/e2etests/test_datastore.py
  sdk/ml/azure-ai-ml/tests/internal/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace_connections.py
  sdk/tables/azure-data-tables/assets.json
  tools/azure-sdk-tools/devtools_testutils/azure_recorded_testcase.py
  tools/azure-sdk-tools/devtools_testutils/fake_credentials.py
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
Labels: Machine Learning, Azure.Core, Azure.Identity, Tables, Cognitive - Form Recognizer, Document Intelligence

#35057 Catalog Deprecation
  sdk/purview/azure-purview-catalog/CHANGELOG.md
  sdk/purview/azure-purview-catalog/README.md
  sdk/purview/azure-purview-catalog/setup.py
  sdk/purview/azure-purview-datamap/MigrationGuide.md
Labels: Purview

#35245 test fix for language-questionanswering
  sdk/cognitivelanguage/azure-ai-language-questionanswering/assets.json
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_update_knowledge_sources.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_update_knowledge_sources_async.py
Labels: Cognitive - Language

#35248 Fix Concurrency Sample Link in README.MD
  sdk/cosmos/azure-cosmos/README.md
Labels: Cosmos

#35246 Add min version of azure-storage-file-datalake
  sdk/ml/azure-ai-ml/setup.py
Labels: Machine Learning

#35249 qa more tests need rerecord
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_query_knowledgebase.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/tests/test_query_knowledgebase_async.py
Labels: Cognitive - Language

#35218 Enable sampler for attach
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_sampling.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/trace/test_sampling.py
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_autoinstrumentation/distro.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/tests/autoinstrumentation/test_distro.py
Labels: Monitor - Distro

#35216 next-pylint azure-core / corehttp
  sdk/core/azure-core/azure/core/pipeline/_base.py
  sdk/core/azure-core/azure/core/pipeline/_base_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication_async.py
  sdk/core/azure-core/azure/core/tracing/decorator.py
  sdk/core/azure-core/azure/core/tracing/decorator_async.py
  sdk/core/corehttp/corehttp/runtime/policies/_authentication.py
  sdk/core/corehttp/corehttp/runtime/policies/_authentication_async.py
Labels: Azure.Core

#35269 Sync eng/common directory with azure-sdk-tools for PR 8117
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: EngSys, Central-EngSys

#35272 Sync eng/common directory with azure-sdk-tools for PR 8126
  eng/common/pipelines/templates/steps/policheck.yml
Labels: EngSys, Central-EngSys

#35280 Sync .github/workflows directory with azure-sdk-tools for PR 8131
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#35255 Exporter 1.0.0b25
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor - Exporter

#35282 Set `network traversal` to active
  sdk/communication/azure-communication-networktraversal/setup.py
Labels: Communication - NetworkTraversal

#35259 Fix the answer query bug
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/assets.json
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_utils.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/tests/test_search_client.py
Labels: Search

#35193 [Monitor Ingestion] Typing and linting fixes
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_operations/_operations.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_serialization.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_operations/_operations.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_operations/_patch.py
Labels: Monitor

#35288 run latest black on identity
  sdk/identity/azure-identity/azure/identity/aio/_internal/aad_client.py
Labels: Azure.Identity

#35289 run latest black on tables
  sdk/tables/azure-data-tables/azure/data/tables/_authentication.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_authentication_async.py
Labels: Tables

#35171 black update core
  sdk/core/azure-core-tracing-opencensus/azure/core/tracing/ext/opencensus_span/__init__.py
  sdk/core/azure-core-tracing-opentelemetry/azure/core/tracing/ext/opentelemetry_span/__init__.py
  sdk/core/azure-core/azure/core/exceptions.py
  sdk/core/azure-core/azure/core/pipeline/__init__.py
  sdk/core/azure-core/azure/core/pipeline/_tools_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_universal.py
  sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py
  sdk/core/azure-core/azure/core/rest/_rest_py3.py
  sdk/core/azure-core/tests/async_tests/test_rest_stream_responses_async.py
  sdk/core/azure-core/tests/test_rest_request_backcompat.py
  sdk/core/corehttp/corehttp/exceptions.py
  sdk/core/corehttp/corehttp/rest/_rest_py3.py
  sdk/core/corehttp/corehttp/runtime/pipeline/__init__.py
  sdk/core/corehttp/corehttp/runtime/pipeline/_tools_async.py
  sdk/core/corehttp/corehttp/runtime/policies/_universal.py
  sdk/core/corehttp/tests/async_tests/test_rest_stream_responses_async.py
Labels: Azure.Core

#35287 run latest black on containerregistry
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/_patch.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2017_03_01/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2017_03_01/aio/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2017_10_01/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2017_10_01/aio/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2018_02_01_preview/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2018_02_01_preview/aio/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2018_09_01/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2018_09_01/aio/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_04_01/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_04_01/aio/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_05_01/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_05_01/aio/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_05_01_preview/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_05_01_preview/aio/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_06_01_preview/aio/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_12_01_preview/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2019_12_01_preview/aio/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2020_11_01_preview/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2020_11_01_preview/aio/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2021_06_01_preview/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2021_06_01_preview/aio/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2021_08_01_preview/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2021_08_01_preview/aio/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2021_09_01/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2021_09_01/aio/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2021_12_01_preview/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2021_12_01_preview/aio/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2022_02_01_preview/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/azure/mgmt/containerregistry/v2022_02_01_preview/aio/_patch.py
  sdk/containerregistry/azure-mgmt-containerregistry/setup.py
Labels: Container Registry

#35180 [Monitor Query] Typing updates
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/azure/monitor/query/_exceptions.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/aio/operations/_operations.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/aio/operations/_operations.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/batch/aio/operations/_operations.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/batch/operations/_operations.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/operations/_operations.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/operations/_operations.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_models.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_batch_query_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_log_query_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_logs_query_visualization_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_metric_definitions_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_resource_logs_query_async.py
  sdk/monitor/azure-monitor-query/samples/notebooks/sample_large_query.ipynb
  sdk/monitor/azure-monitor-query/samples/notebooks/sample_machine_learning_sklearn.ipynb
  sdk/monitor/azure-monitor-query/samples/sample_batch_query.py
  sdk/monitor/azure-monitor-query/samples/sample_logs_query_key_value_form.py
  sdk/monitor/azure-monitor-query/samples/sample_logs_query_visualization.py
  sdk/monitor/azure-monitor-query/samples/sample_logs_single_query.py
  sdk/monitor/azure-monitor-query/samples/sample_logs_single_query_partial_result.py
  sdk/monitor/azure-monitor-query/samples/sample_metric_definitions.py
  sdk/monitor/azure-monitor-query/samples/sample_resource_logs_query.py
  sdk/monitor/azure-monitor-query/samples/sample_server_timeout.py
  sdk/monitor/azure-monitor-query/samples/sample_single_log_query_without_pandas.py
  sdk/monitor/azure-monitor-query/tests/test_exceptions.py
  sdk/monitor/azure-monitor-query/tests/test_exceptions_async.py
  sdk/monitor/azure-monitor-query/tests/test_logs_client.py
  sdk/monitor/azure-monitor-query/tests/test_logs_client_async.py
Labels: Monitor

#35286 run latest black on appconfiguration
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-mgmt-appconfiguration/setup.py
Labels: App Configuration, App Configuration Provider

#35167 [Storage] [Datalake] Fixed next pylint errors in datalake storage
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
Labels: Storage

#35270 [Storage] [Blob Changefeed] Fixed next pylint errors in blob changefeed
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_change_feed_client.py
Labels: Storage

#35102 [Web PubSub] Re-enable tests
  sdk/webpubsub/azure-messaging-webpubsubservice/assets.json
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/conftest.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/test_jwt.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/test_jwt_async.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/test_reverse_proxy.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/test_reverse_proxy_async.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/test_smoke.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/test_smoke_async.py
Labels: WebPubSub

#35234 [Storage] [File Share] [STG 94] Added tests for Authentication Error Detail message
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_azure_file_storage.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_configuration.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_azure_file_storage.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_configuration.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
  sdk/storage/azure-storage-queue/assets.json
Labels: Storage

#35250 Not support source_delay and source_process_code for derived featureset
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/source_metadata.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_spec_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/invalid_spec8/FeatureSetSpec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/invalid_spec9/FeatureSetSpec.yaml
Labels: Machine Learning

#35310 [SB] mypy + pylint fixes
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/tracing.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_base.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_uamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_transport/_uamqp_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
Labels: Service Bus

#35330 Sync eng/common directory with azure-sdk-tools for PR 8152
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#35315 Fixing pylint failure during azure-mixedreality-remoterendering build.
  sdk/remoterendering/azure-mixedreality-remoterendering/azure/mixedreality/remoterendering/_polling.py
  sdk/remoterendering/azure-mixedreality-remoterendering/azure/mixedreality/remoterendering/_remote_rendering_client.py
  sdk/remoterendering/azure-mixedreality-remoterendering/azure/mixedreality/remoterendering/aio/_polling_async.py
  sdk/remoterendering/azure-mixedreality-remoterendering/azure/mixedreality/remoterendering/aio/_remote_rendering_client_async.py
Labels: customer-reported, Community Contribution

#35283 adjust tests for assistants v2
  sdk/openai/azure-openai/tests/test_assistants.py
  sdk/openai/azure-openai/tests/test_assistants_async.py
Labels: OpenAI

#35142 Add projects and hubs to AML SDK.
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_workspace_hub/workspace_hub.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_workspace_hub/workspace_hub_config.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/ai_workspaces/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/ai_workspaces/hub.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/ai_workspaces/project.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/_constants.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/feature_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_util.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/_ai_workspaces/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/_ai_workspaces/_constants.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/_ai_workspaces/hub.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/_ai_workspaces/project.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace_hub/workspace_hub_config.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_hub_operation.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/samples/ml_samples_workspace.py
  sdk/ml/azure-ai-ml/tests/test_configs/workspace/ai_workspaces/aihub_min.yml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace/ai_workspaces/test_project.yml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace/workspace_with_hub.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace/workspacehub_min.yaml
  sdk/ml/azure-ai-ml/tests/workspace/ai_workspaces/__init__.py
  sdk/ml/azure-ai-ml/tests/workspace/ai_workspaces/e2etests/__init__.py
  sdk/ml/azure-ai-ml/tests/workspace/ai_workspaces/e2etests/test_ai_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/ai_workspaces/unittests/__init__.py
  sdk/ml/azure-ai-ml/tests/workspace/ai_workspaces/unittests/test_hub_entity.py
  sdk/ml/azure-ai-ml/tests/workspace/ai_workspaces/unittests/test_mocked_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/ai_workspaces/unittests/test_project_entity.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace_connections.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace_hub.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_hub_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_related_restclients.py
Labels: Machine Learning, ML-Workspace

#35345 [EG] version bump
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#35348 typo
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
Labels: Event Grid

#35186 Add support for AAD auth in data plane ops
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_endpoint/online_endpoint.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_endpoint_operations.py
  sdk/ml/azure-ai-ml/cspell.json
  sdk/ml/azure-ai-ml/tests/online_services/unittests/test_online_endpoints.py
Labels: Machine Learning

#35351 typo
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
Labels: Event Grid

#35296 [Storage] Updated `credentials` formatting in docstrings and disabled `docstring-keyword-should-match-keyword-only`
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_change_feed_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_lease.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_lease_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_lease.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_lease_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_lease.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared_access_signature.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_lease_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client_helpers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client_helpers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
Labels: Storage

#35323 [ML] chore: Bump `pylint`, `black`, and `isort` in `.pre-commit-config.yaml`
  sdk/ml/azure-ai-ml/.pre-commit-config.yaml
  sdk/ml/azure-ai-ml/pyproject.toml
Labels: Machine Learning

#35251 [ML] feat: Add support for Index asset
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_artifact_utilities.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/_model_base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/_patch.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/_serialization.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/_version.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/aio/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/aio/_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/aio/_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/aio/_patch.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/aio/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/aio/operations/_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/aio/operations/_patch.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/models/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/models/_models.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/models/_patch.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/operations/_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/operations/_patch.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/azureaiassetsv20240401/py.typed
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/azure_ai_assets_v2024_04_01/tsp-location.yaml
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/index.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/_ai_workspaces/project.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/exceptions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_index_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/tests/index/__init__.py
  sdk/ml/azure-ai-ml/tests/index/unittests/__init__.py
  sdk/ml/azure-ai-ml/tests/index/unittests/test_index_entity.py
Labels: Machine Learning

#35354 Sync eng/common directory with azure-sdk-tools for PR 8158
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
  eng/target_proxy_version.txt
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
Labels: EngSys, Central-EngSys

#35326 remove network traversal SDK source code
  sdk/communication/azure-communication-networktraversal/CHANGELOG.md
  sdk/communication/azure-communication-networktraversal/LICENSE
  sdk/communication/azure-communication-networktraversal/MANIFEST.in
  sdk/communication/azure-communication-networktraversal/README.md
  sdk/communication/azure-communication-networktraversal/assets.json
  sdk/communication/azure-communication-networktraversal/azure/__init__.py
  sdk/communication/azure-communication-networktraversal/azure/communication/__init__.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/__init__.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_api_versions.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_communication_relay_client.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/__init__.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/_communication_network_traversal_client.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/_configuration.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/_patch.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/_vendor.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/aio/__init__.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/aio/_communication_network_traversal_client.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/aio/_configuration.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/aio/_patch.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/aio/operations/__init__.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/aio/operations/_communication_network_traversal_operations.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/models/__init__.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/models/_communication_network_traversal_client_enums.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/models/_models.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/models/_models_py3.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/operations/__init__.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/operations/_communication_network_traversal_operations.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_generated/py.typed
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/__init__.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/auth_policy_utils.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/models.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/policy.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/user_credential.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/user_credential_async.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/utils.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_shared/utils_async.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/_version.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/aio/__init__.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/aio/_communication_relay_client_async.py
  sdk/communication/azure-communication-networktraversal/azure/communication/networktraversal/py.typed
  sdk/communication/azure-communication-networktraversal/dev_requirements.txt
  sdk/communication/azure-communication-networktraversal/pyproject.toml
  sdk/communication/azure-communication-networktraversal/samples/network_traversal_samples.py
  sdk/communication/azure-communication-networktraversal/samples/network_traversal_samples_async.py
  sdk/communication/azure-communication-networktraversal/sdk_packaging.toml
  sdk/communication/azure-communication-networktraversal/setup.py
  sdk/communication/azure-communication-networktraversal/swagger/SWAGGER.md
  sdk/communication/azure-communication-networktraversal/tests.yml
  sdk/communication/azure-communication-networktraversal/tests/_shared/__init__.py
  sdk/communication/azure-communication-networktraversal/tests/_shared/async_fake_token_credential.py
  sdk/communication/azure-communication-networktraversal/tests/_shared/communication_service_preparer.py
  sdk/communication/azure-communication-networktraversal/tests/_shared/fake_token_credential.py
  sdk/communication/azure-communication-networktraversal/tests/_shared/helper.py
  sdk/communication/azure-communication-networktraversal/tests/_shared/utils.py
  sdk/communication/azure-communication-networktraversal/tests/conftest.py
  sdk/communication/azure-communication-networktraversal/tests/test_communication_relay_client.py
  sdk/communication/azure-communication-networktraversal/tests/test_communication_relay_client_async.py
  sdk/communication/ci.yml
Labels: Communication

#35324 [Cosmos] Update dev_requirements aiohttp version
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/base_execution_context.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_scripts.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_user.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/scripts.py
  sdk/cosmos/azure-cosmos/azure/cosmos/user.py
  sdk/cosmos/azure-cosmos/dev_requirements.txt
Labels: Cosmos

#35388 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#34840 Update live metrics to use typespec generated swagger
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_generated/_client.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_generated/_configuration.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_generated/_operations/_operations.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_generated/_serialization.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_generated/aio/_client.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_generated/aio/_configuration.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_generated/aio/_operations/_operations.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_generated/models/__init__.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_generated/models/_enums.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_generated/models/_models.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/swagger/README_QUICKPULSE.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_utils.py
Labels: Monitor - Exporter

#34859 [SB] Catch websocket exception
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_transport.py
Labels: Service Bus

#35391 [Cognitive Services] officially deprecate textanalytics
  sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/README.md
  sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/azure/cognitiveservices/language/textanalytics/version.py
  sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/sdk_packaging.toml
  sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/setup.py
  sdk/cognitiveservices/ci.yml
Labels: CognitiveServices

#35320 [Cognitive Services] deprecate anomalydetector
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/README.md
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/azure/cognitiveservices/anomalydetector/version.py
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/sdk_packaging.toml
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/setup.py
  sdk/cognitiveservices/ci.yml
Labels: Event Hubs, CognitiveServices

#34474 [ML] Serverless Endpoints
  .vscode/cspell.json
  sdk/ml/azure-ai-ml/azure/ai/ml/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_autogen_entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_autogen_entities/_model_base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_autogen_entities/_patch.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_autogen_entities/_serialization.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_autogen_entities/models/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_autogen_entities/models/_models.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_autogen_entities/models/_patch.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_system_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/exceptions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_marketplace_subscription_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_serverless_endpoint_operations.py
Labels: Machine Learning
