Repository Azure/azure-sdk-for-python, pull requests merged in 2024-06, with the labels that each got.

#35857 [EG] update pyproject and samples
  scripts/devops_tasks/test_run_samples.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_operations/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_operations/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_patch.py
  sdk/eventgrid/azure-eventgrid/pyproject.toml
Labels: Event Grid

#35856 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#35466 [ACS][CallAutomation] Adding TeamsAppidentifier + Lint fixing
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_utils.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/streaming/streaming_data_parser.py
Labels: Communication

#35813 [Storage] [Typing] [File Share] Resolved `_share_client.py` and `_share_client_async.py` `mypy` errors
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client_helpers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
Labels: Storage

#35846 [Identity] Fix device code tests
  sdk/identity/azure-identity/tests/helpers.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
Labels: Azure.Identity

#35823 fix feature store deletion caused by app insights properties not set correctly in arm template
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
Labels: Machine Learning

#35828 App Configuration Provider version update
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
Labels: App Configuration Provider

#35336 Synapse Artifacts Release 2024 May
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_artifacts_client.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_configuration.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_serialization.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_version.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/_artifacts_client.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/_configuration.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_big_data_pools_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_data_flow_debug_session_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_data_flow_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_dataset_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_integration_runtimes_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_kql_script_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_kql_scripts_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_library_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_link_connection_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_linked_service_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_metastore_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_notebook_operation_result_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_notebook_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_pipeline_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_pipeline_run_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_run_notebook_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_spark_configuration_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_spark_job_definition_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_sql_pools_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_sql_script_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_trigger_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_trigger_run_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_workspace_git_repo_management_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/aio/operations/_workspace_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/__init__.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_artifacts_client_enums.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/models/_models_py3.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_big_data_pools_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_data_flow_debug_session_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_data_flow_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_dataset_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_integration_runtimes_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_kql_script_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_kql_scripts_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_library_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_link_connection_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_linked_service_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_metastore_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_notebook_operation_result_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_notebook_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_pipeline_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_pipeline_run_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_run_notebook_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_spark_configuration_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_spark_job_definition_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_sql_pools_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_sql_script_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_trigger_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_trigger_run_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_workspace_git_repo_management_operations.py
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/operations/_workspace_operations.py
  sdk/synapse/azure-synapse-artifacts/swagger/README.md
Labels: Synapse

#35688 raising a work around for command job and spark job name lowering case
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/sweep_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/tests/sweep_job/e2etests/test_sweep_job.py
Labels: Machine Learning

#35896 Synapse SDK fix changelog typo
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
Labels: Synapse

#35900 Synapse SDK release fix ci
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
Labels: Synapse

#35909 Sync eng/common directory with azure-sdk-tools for PR 8370
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#35905 Fix Sphinx on azure-storage-file-share
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_lease.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared_access_signature.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_lease_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-file-share/pyproject.toml
Labels: Storage, sphinx

#35907 Sync eng/common directory with azure-sdk-tools for PR 8376
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#35920 Synapse remove ci enable false config
  sdk/synapse/azure-synapse-artifacts/pyproject.toml
Labels: Synapse

#35910 Support redirect in live metrics
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_policy.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_policy.py
Labels: Monitor - Exporter

#35790 [Cosmos] Remove GeoSpatial index limitation
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/samples/index_management.py
  sdk/cosmos/azure-cosmos/samples/index_management_async.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
Labels: Cosmos

#35931 Fix workspace arm template
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace.py
Labels: Machine Learning

#35929 Update changelog
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#35890 Autoinstrumentation rework
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_autoinstrumentation/configurator.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_autoinstrumentation/distro.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_constants.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
  sdk/monitor/azure-monitor-opentelemetry/setup.py
  sdk/monitor/azure-monitor-opentelemetry/tests/autoinstrumentation/test_configurator.py
  sdk/monitor/azure-monitor-opentelemetry/tests/autoinstrumentation/test_distro.py
Labels: Monitor - Distro

#35581 switch to majority entra auth for tests
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/test_assistants.py
  sdk/openai/azure-openai/tests/test_assistants_async.py
  sdk/openai/azure-openai/tests/test_audio.py
  sdk/openai/azure-openai/tests/test_audio_async.py
  sdk/openai/azure-openai/tests/test_chat_completions.py
  sdk/openai/azure-openai/tests/test_chat_completions_async.py
  sdk/openai/azure-openai/tests/test_cli.py
  sdk/openai/azure-openai/tests/test_client.py
  sdk/openai/azure-openai/tests/test_client_async.py
  sdk/openai/azure-openai/tests/test_completions.py
  sdk/openai/azure-openai/tests/test_completions_async.py
  sdk/openai/azure-openai/tests/test_dall_e.py
  sdk/openai/azure-openai/tests/test_dall_e_async.py
  sdk/openai/azure-openai/tests/test_embeddings.py
  sdk/openai/azure-openai/tests/test_embeddings_async.py
  sdk/openai/azure-openai/tests/test_models.py
  sdk/openai/azure-openai/tests/test_models_async.py
  sdk/openai/azure-openai/tests/test_module_client.py
  sdk/openai/tests.yml
Labels: OpenAI

#35939 add a new parameter allow_roleassignment_on_rg to allow/disallow role assignment on resource group level
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_08_01_preview/models/_models.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_08_01_preview/models/_models_py3.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/swagger/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/workspaceRP.json
  sdk/ml/azure-ai-ml/swagger/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/workspaceRP.json
  sdk/ml/azure-ai-ml/swagger/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/workspaceRP.json
  sdk/ml/azure-ai-ml/swagger/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/machineLearningServices.json
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning, customer-reported, Community Contribution, ML-Workspace

#35954 add a new parameter allow_roleassignment_on_rg to allow/disallow role…
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_08_01_preview/models/_models.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_08_01_preview/models/_models_py3.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/swagger/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2023-08-01-preview/workspaceRP.json
  sdk/ml/azure-ai-ml/swagger/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-01-01-preview/workspaceRP.json
  sdk/ml/azure-ai-ml/swagger/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-04-01-preview/workspaceRP.json
  sdk/ml/azure-ai-ml/swagger/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/machineLearningServices.json
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning, ML-Workspace

#35626 [Event Hubs] Update URI used for consumer auth to include consumer group
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
Labels: Event Hubs

#35953 test rbac
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_operations/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_operations/_patch.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_consumer_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_consumer_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client_async.py
  sdk/eventgrid/test-resources.json
Labels: Event Grid

#35932 Allow configuration of metric Views in distro
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/README.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_constants.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_utils/configurations.py
  sdk/monitor/azure-monitor-opentelemetry/samples/metrics/views.py
  sdk/monitor/azure-monitor-opentelemetry/tests/test_configure.py
  sdk/monitor/azure-monitor-opentelemetry/tests/utils/test_configurations.py
Labels: Monitor - Distro

#35955 [EventHub] Update README for enable logging section
  sdk/eventhub/azure-eventhub/README.md
Labels: Event Hubs

#35915 Sync eng/common directory with azure-sdk-tools for PR 8377
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#35935 Distro release 1.6.0
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_autoinstrumentation/configurator.py
  sdk/monitor/azure-monitor-opentelemetry/tests/autoinstrumentation/test_configurator.py
Labels: Monitor - Distro

#35956 Sync eng/common directory with azure-sdk-tools for PR 8373
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#35971 Azure AI Inference Client Library: Some minor updates to package & samples README.md files
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/samples/README.md
Labels: AI Model Inference

#35443 add aoai assistants streaming/v2 tests
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/test_assistants.py
  sdk/openai/azure-openai/tests/test_assistants_async.py
  sdk/openai/azure-openai/tests/test_chat_completions.py
  sdk/openai/azure-openai/tests/test_chat_completions_async.py
Labels: OpenAI

#35812 [Identity] Allow use of client assertion in OBO cred
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/aad_client.py
  sdk/identity/azure-identity/samples/on_behalf_of_client_assertion.py
  sdk/identity/azure-identity/tests/test_obo.py
  sdk/identity/azure-identity/tests/test_obo_async.py
Labels: Azure.Identity

#35958 [Identity] Disable live service principal tests
  sdk/identity/azure-identity/tests/conftest.py
Labels: Azure.Identity

#35941 set storage account access to identity-based for feature store creation
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#35976 Cherry-pick set storage account access to identity-based for feature store creati…
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#35990 Fix role assignment key
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_08_01_preview/models/_models.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_08_01_preview/models/_models_py3.py
Labels: Machine Learning

#35969 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#36001 update test for new structure of custom blocklist
  sdk/openai/azure-openai/tests/test_chat_completions.py
  sdk/openai/azure-openai/tests/test_chat_completions_async.py
Labels: OpenAI

#36000 Sync .github/workflows directory with azure-sdk-tools for PR 8412
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#35974 [Identity] Minor doc updates
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
Labels: Azure.Identity

#35942 [Monitor Query + Ingestions] Update changelogs
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/azure/monitor/query/_version.py
Labels: Monitor

#36010 [Identity] Managed identity bug fix
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azure_arc.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity

#36006 [Storage] Bump changelog dates for STG94 release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#36015 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#35966 move samples
  sdk/eventgrid/azure-eventgrid/README.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_operations/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_operations/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_patch.py
  sdk/eventgrid/azure-eventgrid/samples/README.md
  sdk/eventgrid/azure-eventgrid/samples/basic/async_samples/sample_authentication_async.py
  sdk/eventgrid/azure-eventgrid/samples/basic/async_samples/sample_publish_cloud_event_using_dict_async.py
  sdk/eventgrid/azure-eventgrid/samples/basic/async_samples/sample_publish_cncf_cloud_events_async.py
  sdk/eventgrid/azure-eventgrid/samples/basic/async_samples/sample_publish_custom_schema_to_a_topic_async.py
  sdk/eventgrid/azure-eventgrid/samples/basic/async_samples/sample_publish_eg_event_using_dict_async.py
  sdk/eventgrid/azure-eventgrid/samples/basic/async_samples/sample_publish_eg_events_to_a_domain_async.py
  sdk/eventgrid/azure-eventgrid/samples/basic/async_samples/sample_publish_eg_events_to_a_topic_async.py
  sdk/eventgrid/azure-eventgrid/samples/basic/async_samples/sample_publish_events_to_a_topic_using_sas_credential_async.py
  sdk/eventgrid/azure-eventgrid/samples/basic/async_samples/sample_publish_events_using_cloud_events_1.0_schema_async.py
  sdk/eventgrid/azure-eventgrid/samples/basic/async_samples/sample_publish_to_channel_async.py
  sdk/eventgrid/azure-eventgrid/samples/basic/consume_samples/consume_cloud_events_from_eventhub.py
  sdk/eventgrid/azure-eventgrid/samples/basic/consume_samples/consume_cloud_events_from_storage_queue.py
  sdk/eventgrid/azure-eventgrid/samples/basic/consume_samples/consume_eventgrid_events_from_service_bus_queue.py
  sdk/eventgrid/azure-eventgrid/samples/basic/consume_samples/functionsapp/.funcignore
  sdk/eventgrid/azure-eventgrid/samples/basic/consume_samples/functionsapp/.gitignore
  sdk/eventgrid/azure-eventgrid/samples/basic/consume_samples/functionsapp/EventGridTrigger1/__init__.py
  sdk/eventgrid/azure-eventgrid/samples/basic/consume_samples/functionsapp/EventGridTrigger1/function.json
  sdk/eventgrid/azure-eventgrid/samples/basic/consume_samples/functionsapp/EventGridTrigger1/host.json
  sdk/eventgrid/azure-eventgrid/samples/basic/consume_samples/functionsapp/EventGridTrigger1/sample.dat
  sdk/eventgrid/azure-eventgrid/samples/basic/consume_samples/functionsapp/host.json
  sdk/eventgrid/azure-eventgrid/samples/basic/consume_samples/functionsapp/proxies.json
  sdk/eventgrid/azure-eventgrid/samples/basic/consume_samples/functionsapp/requirements.txt
  sdk/eventgrid/azure-eventgrid/samples/basic/publish_samples/publish_cloud_events_to_custom_topic_sample.py
  sdk/eventgrid/azure-eventgrid/samples/basic/publish_samples/publish_cloud_events_to_domain_topic_sample.py
  sdk/eventgrid/azure-eventgrid/samples/basic/publish_samples/publish_custom_schema_events_to_topic_sample.py
  sdk/eventgrid/azure-eventgrid/samples/basic/publish_samples/publish_event_grid_events_to_custom_topic_sample.py
  sdk/eventgrid/azure-eventgrid/samples/basic/publish_samples/publish_with_shared_access_signature_sample.py
  sdk/eventgrid/azure-eventgrid/samples/basic/sync_samples/sample_authentication.py
  sdk/eventgrid/azure-eventgrid/samples/basic/sync_samples/sample_consume_custom_payload.py
  sdk/eventgrid/azure-eventgrid/samples/basic/sync_samples/sample_generate_sas.py
  sdk/eventgrid/azure-eventgrid/samples/basic/sync_samples/sample_publish_cloud_event_using_dict.py
  sdk/eventgrid/azure-eventgrid/samples/basic/sync_samples/sample_publish_cncf_cloud_events.py
  sdk/eventgrid/azure-eventgrid/samples/basic/sync_samples/sample_publish_custom_schema_to_a_topic.py
  sdk/eventgrid/azure-eventgrid/samples/basic/sync_samples/sample_publish_eg_event_using_dict.py
  sdk/eventgrid/azure-eventgrid/samples/basic/sync_samples/sample_publish_eg_events_to_a_domain.py
  sdk/eventgrid/azure-eventgrid/samples/basic/sync_samples/sample_publish_eg_events_to_a_topic.py
  sdk/eventgrid/azure-eventgrid/samples/basic/sync_samples/sample_publish_events_to_a_topic_using_sas_credential.py
  sdk/eventgrid/azure-eventgrid/samples/basic/sync_samples/sample_publish_events_using_cloud_events_1.0_schema.py
  sdk/eventgrid/azure-eventgrid/samples/basic/sync_samples/sample_publish_to_channel.py
  sdk/eventgrid/azure-eventgrid/samples/namespace/async_samples/sample_consume_process_events_async.py
  sdk/eventgrid/azure-eventgrid/samples/namespace/async_samples/sample_namespace_authentication_async.py
  sdk/eventgrid/azure-eventgrid/samples/namespace/async_samples/sample_publish_cloud_event_async.py
  sdk/eventgrid/azure-eventgrid/samples/namespace/async_samples/sample_publish_cncf_events_async.py
  sdk/eventgrid/azure-eventgrid/samples/namespace/sync_samples/sample_consume_process_events.py
  sdk/eventgrid/azure-eventgrid/samples/namespace/sync_samples/sample_namespace_authentication.py
  sdk/eventgrid/azure-eventgrid/samples/namespace/sync_samples/sample_publish_cloud_event.py
  sdk/eventgrid/azure-eventgrid/samples/namespace/sync_samples/sample_publish_cncf_events.py
  sdk/eventgrid/azure-eventgrid/tests/test_dual_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_consumer_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_dual_client.py
Labels: Event Grid

#36018 [Key Vault] Change location for weekly China cloud tests
  sdk/keyvault/azure-keyvault-administration/tests.yml
  sdk/keyvault/azure-keyvault-keys/tests.yml
  sdk/keyvault/tests.yml
Labels: KeyVault, Client

#35975 Fix Sphinx on azure-storage-blob-changefeed
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_change_feed_client.py
  sdk/storage/azure-storage-blob-changefeed/pyproject.toml
Labels: Storage, sphinx

#36028 [EH] update release date
  sdk/eventhub/azure-eventhub/CHANGELOG.md
Labels: Event Hubs

#35972 [Storage] Add crc64 support to Datalake upload APIs
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/tests/test_content_validation.py
  sdk/storage/azure-storage-blob/tests/test_content_validation_async.py
  sdk/storage/azure-storage-blob/tests/test_helpers.py
  sdk/storage/azure-storage-blob/tests/test_helpers_async.py
  sdk/storage/azure-storage-blob/tests/test_streams.py
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_azure_data_lake_storage_restapi.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_configuration.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_patch.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_serialization.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/_azure_data_lake_storage_restapi.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/_configuration.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/_patch.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_file_system_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_patch.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_path_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/models/_patch.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_file_system_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_patch.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_path_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/streams.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/validation.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/dev_requirements.txt
  sdk/storage/azure-storage-file-datalake/swagger/README.md
  sdk/storage/azure-storage-file-datalake/tests/test_content_validation.py
  sdk/storage/azure-storage-file-datalake/tests/test_content_validation_async.py
  tools/azure-sdk-tools/devtools_testutils/storage/__init__.py
  tools/azure-sdk-tools/devtools_testutils/storage/aio/__init__.py
  tools/azure-sdk-tools/devtools_testutils/storage/aio/asyncdecorators.py
  tools/azure-sdk-tools/devtools_testutils/storage/decorators.py
Labels: Storage

#35827 Beta 4 Added audio streaming parser
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_streaming_data_parser.py
  sdk/communication/azure-communication-callautomation/tests/test_streaming_data_parser.py
Labels: Communication

#36016 Identity credential unavailable error non json imds
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/imds.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity

#36022 Update azure-ai-inference client library to support sending images as part of chat completions
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/azure/ai/inference/_operations/_operations.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_serialization.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_operations/_operations.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/__init__.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_enums.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_models.py
  sdk/ai/azure-ai-inference/samples/README.md
  sdk/ai/azure-ai-inference/samples/async_samples/sample1.png
  sdk/ai/azure-ai-inference/samples/async_samples/sample2.png
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_from_input_json_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_streaming_azure_openai_async.py
  sdk/ai/azure-ai-inference/samples/sample1.png
  sdk/ai/azure-ai-inference/samples/sample2.png
  sdk/ai/azure-ai-inference/samples/sample_chat_completions.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_json.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_json_with_images.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_streaming_with_entra_id_auth.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_images.py
  sdk/ai/azure-ai-inference/tsp-location.yaml
Labels: AI Model Inference

#35848 Export InputTypes from constants
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/__init__.py
Labels: Machine Learning, customer-reported, Community Contribution

#36030 [EG] Eventgrid Release
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/_helpers.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_operations/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_operations/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_patch.py
  sdk/eventgrid/azure-eventgrid/pyproject.toml
  sdk/eventgrid/azure-eventgrid/samples/basic/async_samples/sample_publish_cloud_event_using_dict_async.py
  sdk/eventgrid/azure-eventgrid/samples/basic/async_samples/sample_publish_cncf_cloud_events_async.py
  sdk/eventgrid/azure-eventgrid/samples/namespace/async_samples/sample_namespace_authentication_async.py
  sdk/eventgrid/azure-eventgrid/samples/namespace/async_samples/sample_publish_cloud_event_async.py
  sdk/eventgrid/azure-eventgrid/samples/namespace/async_samples/sample_publish_cncf_events_async.py
  sdk/eventgrid/azure-eventgrid/samples/namespace/sync_samples/sample_namespace_authentication.py
  sdk/eventgrid/azure-eventgrid/samples/namespace/sync_samples/sample_publish_cloud_event.py
  sdk/eventgrid/azure-eventgrid/setup.py
  sdk/eventgrid/azure-eventgrid/tests/test_dual_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_consumer_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_consumer_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_dual_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/tsp-location.yaml
Labels: Event Grid

#36014 Fix Sphinx on azure-storage-blob
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_lease.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_lease_async.py
  sdk/storage/azure-storage-blob/pyproject.toml
Labels: Storage, sphinx

#35858 [Identity] Update AzurePipelinesCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/TOKEN_CACHING.md
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_pipelines.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_pipelines.py
  sdk/identity/azure-identity/samples/credential_creation_code_snippets.py
  sdk/identity/azure-identity/tests/test_azure_pipelines_credential.py
  sdk/identity/azure-identity/tests/test_azure_pipelines_credential_async.py
  sdk/identity/test-resources-post.ps1
  sdk/identity/test-resources-pre.ps1
  sdk/identity/tests.yml
Labels: Azure.Identity

#36036 Increment version for monitor releases
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_version.py
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/azure/monitor/query/_version.py
Labels: Monitor

#36045 [EG] link + patch update
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_operations/_patch.py
  sdk/eventgrid/azure-eventgrid/migration_guide.md
  sdk/eventgrid/azure-eventgrid/tests/test_dual_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_dual_client.py
Labels: Event Grid

#36060 [EG] update samples
  sdk/eventgrid/azure-eventgrid/samples/namespace/async_samples/sample_consume_process_events_async.py
  sdk/eventgrid/azure-eventgrid/samples/namespace/async_samples/sample_publish_cloud_event_async.py
  sdk/eventgrid/azure-eventgrid/samples/namespace/async_samples/sample_publish_cncf_events_async.py
Labels: Event Grid

#36062 [EG] typo
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_patch.py
Labels: Event Grid

#36061 Sync eng/common directory with azure-sdk-tools for PR 8434
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#36063 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#35970 Sync eng/common directory with azure-sdk-tools for PR 8388
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
  eng/common/scripts/Validate-All-Packages.ps1
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#36084 Sync eng/common directory with azure-sdk-tools for PR 8446
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#36048 [Identity] Add TSG section for AzurePipelinesCredential
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/images/exampleServiceConnectionUrl.png
Labels: Azure.Identity

#36042 Support sending image data as part of a user message, using a new ImageUrl.load() method. Add sample and test.
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/__init__.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_patch.py
  sdk/ai/azure-ai-inference/samples/README.md
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_json_with_image_url.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_image_data.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_image_url.py
  sdk/ai/azure-ai-inference/tests/test_model_inference_client.py
Labels: AI Model Inference

#36091 Increment version for ai releases
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/azure/ai/inference/_version.py
Labels: AI Model Inference

#35960 Added live test Media streaming and Transcription
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/tests/callautomation_test_case.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_media_client.py
Labels: Communication

#35964 Added live test connect api.
  sdk/communication/azure-communication-callautomation/tests/callautomation_test_case.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_callautomation_client.py
Labels: Communication

#36092 address API review comments (#36058)
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/input/_ai_search_config.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/input/_index_data_source.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/model_config.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_index_operations.py
Labels: Machine Learning

#36093 Sync eng/common directory with azure-sdk-tools for PR 8451
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#36099 Fix AML Workspace Template Params
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#35842 appconfig mi test
  sdk/appconfiguration/tests.yml
Labels: App Configuration

#36089 Bugfix: None was being appended to output path for batch-endpoint invoke command and wasn't picking up the override output path
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_endpoint_utils.py
Labels: Machine Learning

#36113 Sync eng/common directory with azure-sdk-tools for PR 8457
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Labels: EngSys, Central-EngSys

#36109 update macos image from 11 to latest
  eng/pipelines/templates/jobs/build-conda-dependencies.yml
  eng/pipelines/templates/jobs/run-cli-tests.yml
  eng/pipelines/templates/jobs/smoke.tests.yml
  eng/pipelines/templates/stages/platform-matrix-excluding-pypy.json
  eng/pipelines/templates/stages/platform-matrix-no-312.json
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/variables/image.yml
  sdk/communication/azure-communication-phonenumbers/phonenumbers-livetest-matrix.json
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage, Communication - Phone Numbers

#36121 Sync eng/common directory with azure-sdk-tools for PR 8452
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#35740 [Storage] Refactor Blob download to address Unicode issues
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_v2.py
  sdk/storage/azure-storage-blob/tests/test_blob_encryption_v2_async.py
  sdk/storage/azure-storage-blob/tests/test_get_blob.py
  sdk/storage/azure-storage-blob/tests/test_get_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_helpers.py
  sdk/storage/azure-storage-blob/tests/test_helpers_async.py
  sdk/storage/azure-storage-file-datalake/assets.json
Labels: Storage

#36039 Sync eng/common directory with azure-sdk-tools for PR 8422
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/sub-config/AzurePublicMsft.json
Labels: EngSys, Central-EngSys

#36124 [Identity] Update changelog for GA
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#36095 [Key Vault] Enable pyright for Secrets library
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/pyproject.toml
  sdk/keyvault/azure-keyvault-secrets/pyrightconfig.json
Labels: KeyVault, Client, pyright

#36057 update cl
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#36132 EventGrid 100% TypeScore
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/_generated/models/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/_messaging_shared.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/models/_patch.py
Labels: Event Grid

#36137 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#36134 Sync eng/common directory with azure-sdk-tools for PR 8467
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys

#36133 Sync eng/common directory with azure-sdk-tools for PR 8463
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#36139 correct release version
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#36149 Merge Azure ML WorkspaceRP release 1.17.0 fixes to main branch
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_08_01_preview/models/_models.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_08_01_preview/models/_models_py3.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#36009 strict sphinx attestation
  sdk/attestation/azure-security-attestation/README.md
  sdk/attestation/azure-security-attestation/azure/security/attestation/aio/_client_async.py
  sdk/attestation/azure-security-attestation/pyproject.toml
Labels: Attestation

#36112 strict sphinx webpubsub
  sdk/webpubsub/azure-messaging-webpubsubclient/azure/messaging/webpubsubclient/_client.py
  sdk/webpubsub/azure-messaging-webpubsubclient/azure/messaging/webpubsubclient/aio/_client.py
  sdk/webpubsub/azure-messaging-webpubsubclient/pyproject.toml
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_operations/_patch.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/_operations/_patch.py
  sdk/webpubsub/azure-messaging-webpubsubservice/pyproject.toml
Labels: WebPubSub

#36008 strict sphinx confidentialledger
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_vendor.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_patch.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_vendor.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/aio/_patch.py
  sdk/confidentialledger/azure-confidentialledger/pyproject.toml
Labels: Confidential Ledger

#36031 strict sphinx agrifood
  sdk/agrifood/azure-agrifood-farming/azure/agrifood/farming/aio/operations/_operations.py
  sdk/agrifood/azure-agrifood-farming/azure/agrifood/farming/aio/operations/_patch.py
  sdk/agrifood/azure-agrifood-farming/azure/agrifood/farming/operations/_operations.py
  sdk/agrifood/azure-agrifood-farming/azure/agrifood/farming/operations/_patch.py
Labels: AgriFood

#36116 strict sphinx healthinsights-cancerprofiling
  sdk/healthinsights/azure-healthinsights-cancerprofiling/README.md
  sdk/healthinsights/azure-healthinsights-cancerprofiling/pyproject.toml
  sdk/healthinsights/azure-healthinsights-clinicalmatching/README.md
Labels: Cognitive - Health Insights

#36164 Fix storage live test pool matrix replace
  sdk/storage/tests.yml
Labels: Central-EngSys

#36079 Default missing/invalid status codes to "0" for standard metrics and trace payloads and fix success criteria
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/metrics/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/metrics/test_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/trace/test_trace.py
Labels: Monitor - Exporter

#36142 [Communications] communications linting fixes
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_operations/_patch.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_operations/_patch.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/aio/_phone_numbers_client_async.py
  sdk/communication/azure-communication-sms/azure/communication/sms/aio/_sms_client_async.py
Labels: Communication - Phone Numbers, Communication - SMS, Communication - Job Router

#35275 [Samples]Add sample of extracting fixed table
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_custom_documents_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_custom_documents.py
Labels: customer-reported, Community Contribution, Document Intelligence

#35995 Add experimental urllib3 transport
  eng/ci_tools.txt
  eng/test_tools.txt
  sdk/core/azure-core-experimental/CHANGELOG.md
  sdk/core/azure-core-experimental/README.md
  sdk/core/azure-core-experimental/azure/core/experimental/transport/__init__.py
  sdk/core/azure-core-experimental/azure/core/experimental/transport/_urllib3.py
  sdk/core/azure-core-experimental/dev_requirements.txt
  sdk/core/azure-core-experimental/setup.py
  sdk/core/azure-core-experimental/tests/conftest.py
  sdk/core/azure-core-experimental/tests/rest_client.py
  sdk/core/azure-core-experimental/tests/test_content_length_checking.py
  sdk/core/azure-core-experimental/tests/test_exceptions.py
  sdk/core/azure-core-experimental/tests/test_pipeline.py
  sdk/core/azure-core-experimental/tests/test_pyodide_transport.py
  sdk/core/azure-core-experimental/tests/test_rest_context_manager.py
  sdk/core/azure-core-experimental/tests/test_rest_headers.py
  sdk/core/azure-core-experimental/tests/test_rest_http_request.py
  sdk/core/azure-core-experimental/tests/test_rest_http_response.py
  sdk/core/azure-core-experimental/tests/test_rest_stream_responses.py
  sdk/core/azure-core-experimental/tests/test_streaming.py
  sdk/core/azure-core-experimental/tests/test_urllib3_transport.py
  sdk/core/azure-core-experimental/tests/utils.py
Labels: Azure.Core

#35116 adding a Unit test case for scheduler yaml load
  doc/dev/dev_setup.md
  sdk/ml/azure-ai-ml/tests/schedule/unittests/test_schedule_entity.py
  sdk/ml/azure-ai-ml/tests/test_configs/schedule/out_of_box_monitoring.yaml
Labels: Machine Learning, no-recent-activity

#36195 Release exporter
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor - Exporter

#36167 Sync eng/common directory with azure-sdk-tools for PR 8475
  eng/common/testproxy/target_version.txt
  sdk/containerregistry/azure-containerregistry/assets.json
Labels: EngSys, Central-EngSys

#35859 [Key Vault] Update tests to only record with Managed Identity
  sdk/keyvault/azure-keyvault-administration/README.md
  sdk/keyvault/azure-keyvault-administration/assets.json
  sdk/keyvault/azure-keyvault-administration/samples/backup_restore_operations.py
  sdk/keyvault/azure-keyvault-administration/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-administration/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-administration/tests/_test_case.py
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client.py
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client_async.py
  sdk/keyvault/azure-keyvault-administration/tests/test_examples_administration.py
  sdk/keyvault/azure-keyvault-administration/tests/test_examples_administration_async.py
Labels: KeyVault, Client

#36187 Sync eng/common directory with azure-sdk-tools for PR 8484
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#36196 delete SYSTEM_ACCESSTOKEN as it is already defined in our CI
  sdk/identity/tests.yml
Labels: Azure.Identity

#35650 Move CallAutomation GA3 Changes to ALPHA3
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_api_versions.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_patch.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_serialization.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_patch.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_patch.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_enums.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_patch.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_patch.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
Labels: Communication

#36163 Azure AI Inference SDK - Beta 2 updates
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/azure/ai/inference/_client.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_model_base.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_operations/_operations.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_client.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_operations/_operations.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/__init__.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_enums.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_models.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_patch.py
  sdk/ai/azure-ai-inference/samples/README.md
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_from_input_bytes_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_from_input_json_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_streaming_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_streaming_azure_openai_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_embeddings_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_image_embeddings_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_load_client_async.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_azure_openai.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_bytes.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_json.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_json_with_image_url.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_streaming.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_streaming_with_entra_id_auth.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_history.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_image_data.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_image_url.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_model_extras.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_tools.py
  sdk/ai/azure-ai-inference/samples/sample_embeddings.py
  sdk/ai/azure-ai-inference/samples/sample_embeddings_azure_openai.py
  sdk/ai/azure-ai-inference/samples/sample_get_model_info.py
  sdk/ai/azure-ai-inference/samples/sample_image_embeddings.py
  sdk/ai/azure-ai-inference/samples/sample_load_client.py
  sdk/ai/azure-ai-inference/tests/README.md
  sdk/ai/azure-ai-inference/tests/model_inference_test_base.py
  sdk/ai/azure-ai-inference/tests/test_model_inference_async_client.py
  sdk/ai/azure-ai-inference/tests/test_model_inference_client.py
  sdk/ai/azure-ai-inference/tsp-location.yaml
Labels: AI Model Inference

#36111 strict sphinx communication
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/pyproject.toml
  sdk/communication/azure-communication-identity/README.md
  sdk/communication/azure-communication-identity/azure/communication/identity/_communication_identity_client.py
  sdk/communication/azure-communication-identity/azure/communication/identity/aio/_communication_identity_client_async.py
  sdk/communication/azure-communication-identity/pyproject.toml
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_operations/_operations.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/aio/_patch.py
  sdk/communication/azure-communication-messages/azure/communication/messages/_operations/_operations.py
  sdk/communication/azure-communication-messages/azure/communication/messages/_patch.py
  sdk/communication/azure-communication-messages/azure/communication/messages/aio/_operations/_operations.py
  sdk/communication/azure-communication-messages/azure/communication/messages/aio/_patch.py
  sdk/communication/azure-communication-messages/pyproject.toml
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/aio/_phone_numbers_client_async.py
  sdk/communication/azure-communication-phonenumbers/pyproject.toml
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_models/_models.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_rooms_client.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/aio/_rooms_client_async.py
  sdk/communication/azure-communication-rooms/pyproject.toml
  sdk/communication/azure-communication-rooms/samples/rooms_client_sample.py
  sdk/communication/azure-communication-rooms/samples/rooms_client_sample_async.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_sms_client.py
  sdk/communication/azure-communication-sms/azure/communication/sms/aio/_sms_client_async.py
  sdk/communication/azure-communication-sms/pyproject.toml
  sdk/communication/azure-communication-sms/samples/send_sms_to_single_recipient_sample.py
  sdk/communication/azure-communication-sms/samples/send_sms_to_single_recipient_sample_async.py
Labels: Communication - Messages

#36193 aci returns non-json response for probing request
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/imds.py
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
Labels: Azure.Identity

#36211 Increment version for ai releases
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/azure/ai/inference/_version.py
Labels: AI Model Inference

#36189 [annotation] Fix support mldesigner class as input annotation
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/utils.py
Labels: Machine Learning

#36210 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#36202 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#36207 [Storage] Adjust Files OAuth "bad audience" tests
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/tests/test_directory.py
  sdk/storage/azure-storage-file-share/tests/test_directory_async.py
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
Labels: Storage

#36198 SearchIndexClient.get_search_client inherits the API version
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_index_client.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_index_client_async.py
  sdk/search/azure-search-documents/tests/test_search_index_client.py
Labels: Search

#36220 enable strict sphinx for servicebus
  sdk/servicebus/azure-servicebus/MANIFEST.in
  sdk/servicebus/azure-servicebus/doc/azure.servicebus.aio.management.rst
  sdk/servicebus/azure-servicebus/doc/azure.servicebus.aio.rst
  sdk/servicebus/azure-servicebus/doc/azure.servicebus.amqp.rst
  sdk/servicebus/azure-servicebus/doc/azure.servicebus.management.rst
  sdk/servicebus/azure-servicebus/doc/azure.servicebus.rst
  sdk/servicebus/azure-servicebus/pyproject.toml
Labels: Service Bus

#36120 use azure pipelines cred
  tools/azure-sdk-tools/devtools_testutils/__init__.py
  tools/azure-sdk-tools/devtools_testutils/azure_recorded_testcase.py
Labels: App Configuration

#36240 [Eventhub] Update CI test matrix
  sdk/eventhub/ci.yml
Labels: Event Hubs

#36250 Fix Failing `Merge Subscription Configuration` step
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/appconfiguration/tests.yml
Labels: App Configuration

#35173 [CognitiveServices] deprecate search packages
  sdk/cognitiveservices/azure-cognitiveservices-search-autosuggest/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-autosuggest/README.md
  sdk/cognitiveservices/azure-cognitiveservices-search-autosuggest/azure/cognitiveservices/search/autosuggest/version.py
  sdk/cognitiveservices/azure-cognitiveservices-search-autosuggest/sdk_packaging.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-autosuggest/setup.py
  sdk/cognitiveservices/azure-cognitiveservices-search-customimagesearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-customimagesearch/README.md
  sdk/cognitiveservices/azure-cognitiveservices-search-customimagesearch/azure/cognitiveservices/search/customimagesearch/version.py
  sdk/cognitiveservices/azure-cognitiveservices-search-customimagesearch/sdk_packaging.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-customimagesearch/setup.py
  sdk/cognitiveservices/azure-cognitiveservices-search-customsearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-customsearch/README.md
  sdk/cognitiveservices/azure-cognitiveservices-search-customsearch/azure/cognitiveservices/search/customsearch/version.py
  sdk/cognitiveservices/azure-cognitiveservices-search-customsearch/sdk_packaging.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-customsearch/setup.py
  sdk/cognitiveservices/azure-cognitiveservices-search-entitysearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-entitysearch/README.md
  sdk/cognitiveservices/azure-cognitiveservices-search-entitysearch/azure/cognitiveservices/search/entitysearch/version.py
  sdk/cognitiveservices/azure-cognitiveservices-search-entitysearch/sdk_packaging.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-entitysearch/setup.py
  sdk/cognitiveservices/azure-cognitiveservices-search-imagesearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-imagesearch/README.md
  sdk/cognitiveservices/azure-cognitiveservices-search-imagesearch/azure/cognitiveservices/search/imagesearch/version.py
  sdk/cognitiveservices/azure-cognitiveservices-search-imagesearch/sdk_packaging.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-imagesearch/setup.py
  sdk/cognitiveservices/azure-cognitiveservices-search-newssearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-newssearch/README.md
  sdk/cognitiveservices/azure-cognitiveservices-search-newssearch/azure/cognitiveservices/search/newssearch/version.py
  sdk/cognitiveservices/azure-cognitiveservices-search-newssearch/sdk_packaging.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-newssearch/setup.py
  sdk/cognitiveservices/azure-cognitiveservices-search-videosearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-videosearch/README.md
  sdk/cognitiveservices/azure-cognitiveservices-search-videosearch/azure/cognitiveservices/search/videosearch/version.py
  sdk/cognitiveservices/azure-cognitiveservices-search-videosearch/sdk_packaging.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-videosearch/setup.py
  sdk/cognitiveservices/azure-cognitiveservices-search-visualsearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-visualsearch/README.md
  sdk/cognitiveservices/azure-cognitiveservices-search-visualsearch/azure/cognitiveservices/search/visualsearch/version.py
  sdk/cognitiveservices/azure-cognitiveservices-search-visualsearch/sdk_packaging.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-visualsearch/setup.py
  sdk/cognitiveservices/azure-cognitiveservices-search-websearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-websearch/README.md
  sdk/cognitiveservices/azure-cognitiveservices-search-websearch/azure/cognitiveservices/search/websearch/version.py
  sdk/cognitiveservices/azure-cognitiveservices-search-websearch/sdk_packaging.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-websearch/setup.py
Labels: CognitiveServices

#36248 Add pool env variable to build-test-resource-config template
  eng/pipelines/templates/jobs/live.tests.yml
Labels: Central-EngSys

#35816 Add encoder samples and update CHANGELOG.md
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/assets.json
  sdk/tables/azure-data-tables/azure/data/tables/_constants.py
  sdk/tables/azure-data-tables/azure/data/tables/_encoder.py
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_conditional_update_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_copy_table_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_custom_encoder_dataclass_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_insert_delete_entities_async.py
  sdk/tables/azure-data-tables/samples/sample_conditional_update.py
  sdk/tables/azure-data-tables/samples/sample_copy_table.py
  sdk/tables/azure-data-tables/samples/sample_custom_encoder_dataclass.py
  sdk/tables/azure-data-tables/samples/sample_insert_delete_entities.py
  sdk/tables/azure-data-tables/tests/test_encoder.py
  sdk/tables/azure-data-tables/tests/test_encoder_async.py
  sdk/tables/azure-data-tables/tests/test_encoder_cosmos.py
  sdk/tables/azure-data-tables/tests/test_encoder_cosmos_async.py
Labels: Tables

#36237 Migrate table tests
  sdk/tables/azure-data-tables/tests/_shared/asynctestcase.py
  sdk/tables/azure-data-tables/tests/_shared/testcase.py
  sdk/tables/tests.yml
Labels: Tables

#36227 [Storage] [Blob] Updated docstrings for `source_url` parameter of `upload_blob_from_url`
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
Labels: Storage

#36253 [Storage] [Typing] [File Share] Resolved `_file_client.py` and `_file_client_async.py` `mypy` errors
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client_helpers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_lease.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_lease_async.py
Labels: Storage

#36238 Migrate ACR tests
  sdk/containerregistry/azure-containerregistry/tests/asynctestcase.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/tests/test_container_registry_client_async.py
  sdk/containerregistry/azure-containerregistry/tests/testcase.py
  sdk/containerregistry/tests.yml
Labels: Container Registry

#35913 [DI] Fix layout extracting issues
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_addon_barcodes_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_addon_formulas_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_addon_highres_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_general_documents_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_layout_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_read_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_addon_barcodes.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_addon_formulas.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_addon_highres.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_general_documents.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_layout.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_read.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_forms/forms/tabular_and_general_data.docx
Labels: Document Intelligence

#36258 [Cognitive Services] search - add sections to changelog
  sdk/cognitiveservices/azure-cognitiveservices-search-autosuggest/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-customimagesearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-customsearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-entitysearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-imagesearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-newssearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-videosearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-visualsearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-websearch/CHANGELOG.md
  sdk/cognitiveservices/ci.yml
Labels: CognitiveServices

#36251 [Identity] Update tests config
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/identity/azure-identity/tests/integration/test_azure_container_instance.py
  sdk/identity/azure-identity/tests/integration/test_azure_kubernetes_service.py
  sdk/identity/azure-identity/tests/integration/test_azure_vms.py
  sdk/identity/test-resources-post.ps1
  sdk/identity/test-resources-pre.ps1
  sdk/identity/tests.yml
Labels: Azure.Identity

#35965 Expose public ip in AmlComputeNodeInfo
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/_aml_compute_node_info.py
Labels: Machine Learning, customer-reported, Community Contribution

#36264 [CognitiveService] search update release date
  sdk/cognitiveservices/azure-cognitiveservices-search-autosuggest/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-customimagesearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-customsearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-entitysearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-imagesearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-newssearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-videosearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-visualsearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-websearch/CHANGELOG.md
Labels: CognitiveServices

#36268 Revert "[CognitiveService] search update release date"
  sdk/cognitiveservices/azure-cognitiveservices-search-autosuggest/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-customimagesearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-customsearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-entitysearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-imagesearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-newssearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-videosearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-visualsearch/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-search-websearch/CHANGELOG.md
Labels: CognitiveServices

#35739 search mi test
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_headers_mixin.py
  sdk/search/azure-search-documents/dev_requirements.txt
  sdk/search/azure-search-documents/tests/async_tests/test_search_client_basic_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_client_buffered_sender_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_client_index_document_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_client_search_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_index_client_alias_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_index_client_data_source_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_index_client_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_index_client_skillset_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_index_client_synonym_map_live_async.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_indexer_client_live_async.py
  sdk/search/azure-search-documents/tests/search_service_preparer.py
  sdk/search/azure-search-documents/tests/test_search_client_basic_live.py
  sdk/search/azure-search-documents/tests/test_search_client_buffered_sender_live.py
  sdk/search/azure-search-documents/tests/test_search_client_index_document_live.py
  sdk/search/azure-search-documents/tests/test_search_client_search_live.py
  sdk/search/azure-search-documents/tests/test_search_index_client_alias_live.py
  sdk/search/azure-search-documents/tests/test_search_index_client_data_source_live.py
  sdk/search/azure-search-documents/tests/test_search_index_client_live.py
  sdk/search/azure-search-documents/tests/test_search_index_client_skillset_live.py
  sdk/search/azure-search-documents/tests/test_search_index_client_synonym_map_live.py
  sdk/search/azure-search-documents/tests/test_search_indexer_client_live.py
  sdk/search/test-resources.bicep
  sdk/search/tests.yml
Labels: Search

#36259 [CognitiveServices] remove Search from ci post deprecation
  sdk/cognitiveservices/azure-cognitiveservices-search-autosuggest/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-customimagesearch/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-customsearch/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-entitysearch/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-imagesearch/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-newssearch/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-videosearch/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-visualsearch/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-search-websearch/pyproject.toml
  sdk/cognitiveservices/ci.yml
Labels: CognitiveServices

#36222 Connections ga and metadata
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/connection_subtypes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/tests/connection/e2etests/test_connections.py
  sdk/ml/azure-ai-ml/tests/connection/unittests/test_connection_entity.py
  sdk/ml/azure-ai-ml/tests/test_configs/connection/alds_gen2_entra.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/connection/alds_gen2_sp.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/connection/azure_open_ai_entra.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/connection/blob_store_acc_key.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/connection/blob_store_bad_cred.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/connection/blob_store_entra.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/connection/blob_store_sas.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/connection/custom.yaml
Labels: Machine Learning, ML-WorkspaceConnections

#36281 adjust byod tests to target new resources
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/test_chat_completions.py
  sdk/openai/azure-openai/tests/test_chat_completions_async.py
Labels: OpenAI

#36273 [EH] next-pylint
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
Labels: Event Hubs

#36110 update redis sample
  sdk/identity/azure-identity/samples/azure-aad-auth-with-redis-py.md
  sdk/identity/azure-identity/samples/azure-aad-auth-with-redis.py
Labels: Azure.Identity
