Repository Azure/azure-sdk-for-python, pull requests merged in 2024-05, with the labels that each got.

#35271 [Storage] Implement CRC64 support for single upload Blob APIs
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/streams.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/validation.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_upload_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_upload_helpers.py
  sdk/storage/azure-storage-blob/tests/test_content_validation.py
  sdk/storage/azure-storage-blob/tests/test_content_validation_async.py
  sdk/storage/azure-storage-blob/tests/test_helpers.py
  sdk/storage/azure-storage-blob/tests/test_helpers_async.py
Labels: Storage

#35347 [EH] EH Pylint-Next Cleanup
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_connection_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/_eventprocessor_mixin.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_management_link_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/management_link.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_pyamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_uamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_connection_manager_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_pyamqp_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_uamqp_transport_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/proxy.py
Labels: Event Hubs

#35394 [ServiceBus] fix failing tests
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus

#35442 [Cognitive Services] prepare TA and AD for deprecation release
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/CHANGELOG.md
  sdk/cognitiveservices/ci.yml
Labels: auto-merge, CognitiveServices

#35444 Address API view comments for azure-ai-ml 1.16.0 release
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/input.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/output.py
Labels: Machine Learning

#35356 [Storage] [STG94] Support more service versions in Queue, propagate StorageBearer Challenge to all packages
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client_async.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_datalake_service_client.py
  sdk/storage/azure-storage-file-datalake/tests/test_datalake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/assets.json
  sdk/storage/azure-storage-queue/azure/storage/queue/_serialize.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client_async.py
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
Labels: Storage

#35429 [ml] ApiView fixes for docstrings
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
Labels: Machine Learning

#35459 [azure-ai-ml] security vulnerabilities fix for scipy
  sdk/ml/azure-ai-ml/tests/test_configs/deployments/batch/environment_files/requirements.txt
  sdk/ml/azure-ai-ml/tests/test_configs/environment/environment_files/requirements.txt
Labels: Machine Learning

#35025 Added source_caller_id_number to transfer_call_to_participant
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
Labels: Communication

#35463 Sync .github/workflows directory with azure-sdk-tools for PR 8193
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#35451 [ml] Make EndpointAadToken class public
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
Labels: Machine Learning

#35449 Added environment variable `AZURE_CLIENT_SEND_CERTIFICATE_CHAIN` supp…
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/tests/test_environment_credential.py
Labels: Azure.Identity

#35247 Adding classes for Token Statistics
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/monitor_definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/monitoring/thresholds.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_monitoring.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/thresholds.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_genAI_monitors_configuration.py
  sdk/ml/azure-ai-ml/tests/monitoring/unittests/test_monitor_schedule.py
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/generation_token_statistics_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/generation_token_statistics.yaml
Labels: Machine Learning

#35331 [Storage] [STG93 GA] APIView Feedback
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/models.py
Labels: Storage

#35437 re-add load_workspace_connection
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
Labels: Machine Learning

#35464 [ml] Revert Exception to MlException change in activity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/activity.py
Labels: Machine Learning

#34103 [EH Emulator] WIP support for emulator
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_configuration.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_connection_string_parser.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_pyamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_pyamqp_transport_async.py
  sdk/eventhub/azure-eventhub/tests/unittest/test_connection_string_parser.py
Labels: Event Hubs

#35433 [Core][Corehttp] Fix stream tests
  sdk/core/azure-core/tests/async_tests/test_rest_stream_responses_async.py
  sdk/core/azure-core/tests/async_tests/test_streaming_async.py
  sdk/core/azure-core/tests/test_rest_stream_responses.py
  sdk/core/azure-core/tests/test_streaming.py
  sdk/core/corehttp/tests/async_tests/test_rest_stream_responses_async.py
  sdk/core/corehttp/tests/async_tests/test_streaming_async.py
  sdk/core/corehttp/tests/test_rest_stream_responses.py
  sdk/core/corehttp/tests/test_streaming.py
  sdk/core/corehttp/tests/testserver_tests/coretestserver/coretestserver/test_routes/streams.py
Labels: Azure.Core

#35457 Hub arm updates may 2024
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/connection_subtypes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
Labels: Machine Learning

#35439 [ML] chore: Mark IndexOperations as experimental.
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
Labels: Machine Learning

#35474 [ML] tests: Add e2etests for index
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/index.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_index_operations.py
  sdk/ml/azure-ai-ml/tests/index/e2etests/__init__.py
  sdk/ml/azure-ai-ml/tests/index/e2etests/test_index_operations.py
  sdk/ml/azure-ai-ml/tests/test_configs/index/single_file_index/README.md
Labels: Machine Learning

#35477 [CognitiveServices] remove deprecated packages from ci
  sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/pyproject.toml
  sdk/cognitiveservices/ci.yml
Labels: CognitiveServices

#35475 We don't support sni cert for aio. Remove the doc.
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
Labels: Azure.Identity

#35209 [Monitor] Enable sovereign cloud testing
  sdk/monitor/azure-monitor-ingestion/tests/base_testcase.py
  sdk/monitor/azure-monitor-ingestion/tests/test_logs_ingestion.py
  sdk/monitor/azure-monitor-ingestion/tests/test_logs_ingestion_async.py
  sdk/monitor/azure-monitor-query/tests/base_testcase.py
  sdk/monitor/test-resources-post.ps1
  sdk/monitor/tests.yml
Labels: Monitor

#35441 [Storage] Add `concat` function to crc64 extension
  sdk/storage/azure-storage-extensions/azure/storage/extensions/crc64/crc64module.c
  sdk/storage/azure-storage-extensions/azure/storage/extensions/crc64/helpers.h
  sdk/storage/azure-storage-extensions/tests/test_crc64.py
Labels: Storage

#35001 Users/singankit/evaluator crud
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_artifact_utilities.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_evaluator_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/pyproject.toml
  sdk/ml/azure-ai-ml/tests/evaluator/__init__.py
  sdk/ml/azure-ai-ml/tests/evaluator/e2etests/__init__.py
  sdk/ml/azure-ai-ml/tests/evaluator/e2etests/test_evaluator.py
  sdk/ml/azure-ai-ml/tests/evaluator/unittests/__init__.py
  sdk/ml/azure-ai-ml/tests/evaluator/unittests/test_evaluator_operations.py
  sdk/ml/azure-ai-ml/tests/model/e2etests/test_model.py
  sdk/ml/azure-ai-ml/tests/model/unittests/test_model_operations.py
Labels: Machine Learning

#35482 [ML] fix: Fix `ml_client.create_or_update` for `Index`
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
Labels: Machine Learning

#35471 [ML] Docstrings for some classes and bug fixes
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_autogen_entities/models/_patch.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_azure_openai_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_marketplace_subscription_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_serverless_endpoint_operations.py
Labels: Machine Learning

#35472 [SB] Sync Azure AMQP Typing changes
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_management_link_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/management_link.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_transport/_pyamqp_transport_async.py
Labels: Service Bus

#35476 [Storage] Address Pylint issues for content validation branch
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/streams.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/validation.py
Labels: Storage

#35469 Apiview fixes may 2024
  sdk/ml/azure-ai-ml/azure/ai/ml/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/connection_subtypes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/one_lake_artifacts.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/tests/connection/unittests/test_connection_entity.py
Labels: Machine Learning

#35501 fix new connection to_dict
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/connection_subtypes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/connection_subtypes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/one_lake_artifacts.py
  sdk/ml/azure-ai-ml/tests/connection/e2etests/test_connections.py
  sdk/ml/azure-ai-ml/tests/connection/unittests/test_connection_entity.py
  sdk/ml/azure-ai-ml/tests/test_configs/connection/azure_open_ai_entra.yaml
Labels: Machine Learning, ML-WorkspaceConnections

#35506 beta4 changes
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_enums.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/streaming/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/streaming/models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/streaming/streaming_data_parser.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
  sdk/communication/azure-communication-callautomation/tests/test_callautomation_client.py
  sdk/communication/azure-communication-callautomation/tests/test_streaming_data_parser.py
Labels: Communication

#35505 [Storage] Fix `metadata` typehint in file-share
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
Labels: Storage

#35516 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#35510 [Test Proxy] Correctly support updates to redirection following setting
  tools/azure-sdk-tools/devtools_testutils/sanitizers.py
Labels: test-proxy

#35497 [ML] tests: Add tests for load_index
  sdk/ml/azure-ai-ml/tests/index/unittests/test_index_schema.py
Labels: Machine Learning

#35522 [Storage] Add changelog entries for STG93 GA Release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#35525 Update CHANGELOG.md and _version.py for 1.16.0b1 release
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#35526 [Test Proxy] Skip sanitizer removal if test proxy isn't running
  tools/azure-sdk-tools/devtools_testutils/sanitizers.py
Labels: test-proxy

#35541 More may apiview fixes
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/_ai_workspaces/project.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_azure_openai_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/tests/connection/unittests/test_connection_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
Labels: Machine Learning

#35376 [Storage] [STG 94] Error Code for Copy Blob
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_patch.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_patch.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_append_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models_py3.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_append_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/response_handlers.py
  sdk/storage/azure-storage-blob/tests/test_append_blob.py
  sdk/storage/azure-storage-blob/tests/test_append_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_retry.py
  sdk/storage/azure-storage-blob/tests/test_retry_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/response_handlers.py
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_patch.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_patch.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/policies.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/response_handlers.py
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/response_handlers.py
Labels: Storage

#35544 More may apiview fixes (#35541)
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/_ai_workspaces/project.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_azure_openai_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/tests/connection/unittests/test_connection_operations.py
  sdk/ml/azure-ai-ml/tests/feature_store/unittests/test_feature_store_operations.py
Labels: Machine Learning

#35528 Fixes for API
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_evaluator_operations.py
  sdk/ml/azure-ai-ml/tests/evaluator/e2etests/test_evaluator.py
Labels: Machine Learning

#35545 [Search] Fix tests
  sdk/search/azure-mgmt-search/tests/conftest.py
  sdk/search/azure-search-documents/tests/conftest.py
Labels: Search

#35543 [ServiceBus] prepare for release
  sdk/servicebus/azure-mgmt-servicebus/tests/conftest.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#35550 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus

#35393 [Storage] [Typing] [Blobs] Final Typing Sweep
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_deserialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_lease.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_upload_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_lease_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_list_blobs_helper.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_upload_helpers.py
Labels: Storage

#35551 [Key Vault] Resolve failures on pylint 3.0.3
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_backup_client.py
Labels: KeyVault, Client

#35552 Cherry-pick the View API changes to the release branch
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_evaluator_operations.py
  sdk/ml/azure-ai-ml/tests/evaluator/e2etests/test_evaluator.py
Labels: Machine Learning

#35558 [ML][cherry-pick] feat: Add kwargs passthrough (#35553)
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_index_operations.py
Labels: Machine Learning

#35375 Introduce build index on cloud
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/data_index_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/entities/data_index.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/input/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/input/_ai_search_config.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/input/_index_config.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/input/_index_data_source.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/model_config.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/utils/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/utils/_models.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/utils/_open_ai_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/utils/_pipeline_decorator.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_index_operations.py
  sdk/ml/azure-ai-ml/cspell.json
  sdk/ml/azure-ai-ml/dev_requirements.txt
  sdk/ml/azure-ai-ml/setup.py
Labels: Machine Learning

#35534 fix: pass attribute aether for AetherBridgeComponent
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/component.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_component.py
Labels: Machine Learning

#35555 [Storage] Increment versions after STG93 GA Release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#35562 [CI] Update more tests for the new TestProxy
  sdk/advisor/azure-mgmt-advisor/tests/conftest.py
  sdk/batch/azure-mgmt-batch/tests/conftest.py
  sdk/compute/azure-mgmt-compute/tests/conftest.py
  sdk/compute/azure-mgmt-compute/tests/test_mgmt_compute_galleries.py
  sdk/confidentialledger/azure-confidentialledger/assets.json
  sdk/confidentialledger/azure-confidentialledger/tests/conftest.py
  sdk/consumption/azure-mgmt-consumption/tests/test_budgets.py
  sdk/devcenter/azure-developer-devcenter/tests/conftest.py
  sdk/devtestlabs/azure-mgmt-devtestlabs/tests/conftest.py
  sdk/digitaltwins/azure-digitaltwins-core/tests/conftest.py
  sdk/digitaltwins/azure-mgmt-digitaltwins/tests/conftest.py
  sdk/easm/azure-defender-easm/assets.json
  sdk/easm/azure-defender-easm/tests/conftest.py
  sdk/iothub/azure-iot-deviceprovisioning/tests/conftest.py
  sdk/iothub/azure-mgmt-iothub/tests/conftest.py
  sdk/netapp/azure-mgmt-netapp/tests/conftest.py
  sdk/network/azure-mgmt-dns/tests/conftest.py
  sdk/network/azure-mgmt-network/tests/conftest.py
  sdk/purview/azure-purview-sharing/tests/conftest.py
  sdk/remoterendering/azure-mixedreality-remoterendering/tests/conftest.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/conftest.py
  sdk/schemaregistry/azure-schemaregistry/conftest.py
  sdk/sphere/azure-mgmt-sphere/tests/conftest.py
Labels: Digital Twins, Schema Registry, Confidential Ledger, Purview

#35425 [Key Vault] Generate Admin code for 7.6-preview.1, add basic support
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/assets.json
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_configuration.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_serialization.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/_configuration.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/operations/_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/models/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/models/_enums.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/models/_models.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/operations/_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/client_base.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
  sdk/keyvault/azure-keyvault-administration/setup.py
  sdk/keyvault/azure-keyvault-administration/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-administration/tests/_test_case.py
  sdk/keyvault/azure-keyvault-administration/tests/test_access_control.py
  sdk/keyvault/azure-keyvault-administration/tests/test_access_control_async.py
Labels: KeyVault, Client

#35453 [Key Vault] Generate Certs code for 7.6-preview.1, add basic support
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/assets.json
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_configuration.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_operations/_operations.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_serialization.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/_configuration.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/_operations/_operations.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/models/_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-certificates/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-certificates/tests/_test_case.py
Labels: KeyVault, Client

#35440 [Key Vault] Generate Keys code for 7.6-preview.1, add basic support
  .vscode/cspell.json
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/assets.json
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_configuration.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_operations/_operations.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_serialization.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/aio/_configuration.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/aio/_operations/_operations.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/models/_enums.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/models/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-keys/tests/_test_case.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/test-resources-cleanup.py
  sdk/keyvault/test-resources.json
Labels: KeyVault, Client

#35467 [Key Vault] Generate Secrets code for 7.6-preview.1, add basic support
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/assets.json
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_configuration.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_operations/_operations.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_serialization.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/aio/_configuration.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/aio/_operations/_operations.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/models/_models.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
  sdk/keyvault/azure-keyvault-secrets/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-secrets/tests/_test_case.py
Labels: KeyVault, Client

#34855 [WebPubSub] Update send methods signatures
  sdk/webpubsub/azure-messaging-webpubsubservice/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_operations/_patch.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/_operations/_patch.py
Labels: WebPubSub

#35397 [Identity] Add AzurePipelinesCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/__init__.py
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_pipelines.py
  sdk/identity/azure-identity/azure/identity/_credentials/client_assertion.py
  sdk/identity/azure-identity/azure/identity/_credentials/workload_identity.py
  sdk/identity/azure-identity/azure/identity/aio/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/__init__.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_pipelines.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_assertion.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/workload_identity.py
  sdk/identity/azure-identity/samples/credential_creation_code_snippets.py
  sdk/identity/azure-identity/tests/test_azure_pipelines_credential.py
  sdk/identity/azure-identity/tests/test_azure_pipelines_credential_async.py
  sdk/identity/azure-identity/tests/test_client_assertion_credential.py
  sdk/identity/azure-identity/tests/test_client_assertion_credential_async.py
  sdk/identity/azure-identity/tests/test_workload_identity_credential.py
  sdk/identity/azure-identity/tests/test_workload_identity_credential_async.py
  sdk/identity/tests.yml
Labels: Azure.Identity

#35578 revert connection name
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/connection_subtypes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_indexes/model_config.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/connection_subtypes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_misc.py
  sdk/ml/azure-ai-ml/samples/ml_samples_workspace.py
  sdk/ml/azure-ai-ml/tests/connection/e2etests/test_connections.py
  sdk/ml/azure-ai-ml/tests/connection/unittests/test_connection_entity.py
  sdk/ml/azure-ai-ml/tests/connection/unittests/test_connection_operations.py
Labels: Machine Learning, ML-WorkspaceConnections

#35584 revert connection name (#35578)
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/connection_subtypes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/connection_subtypes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_misc.py
  sdk/ml/azure-ai-ml/samples/ml_samples_workspace.py
  sdk/ml/azure-ai-ml/tests/connection/e2etests/test_connections.py
  sdk/ml/azure-ai-ml/tests/connection/unittests/test_connection_entity.py
  sdk/ml/azure-ai-ml/tests/connection/unittests/test_connection_operations.py
Labels: Machine Learning, ML-WorkspaceConnections

#35293 Consolidate Container Properties cache in Client Instance
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/test/test_container_properties_cache.py
  sdk/cosmos/azure-cosmos/test/test_container_properties_cache_async.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
  sdk/cosmos/azure-cosmos/test/test_crud_subpartition.py
  sdk/cosmos/azure-cosmos/test/test_crud_subpartition_async.py
  sdk/cosmos/azure-cosmos/test/test_retry_policy.py
Labels: Cosmos

#34987 32851: Fix mypy errors for azure-maps-render
  sdk/maps/azure-maps-geolocation/samples/async_samples/sample_authentication_async.py
  sdk/maps/azure-maps-geolocation/samples/async_samples/sample_get_country_code_async.py
  sdk/maps/azure-maps-geolocation/samples/sample_authentication.py
  sdk/maps/azure-maps-geolocation/samples/sample_get_country_code.py
  sdk/maps/azure-maps-render/azure/maps/render/_render_client.py
  sdk/maps/azure-maps-render/azure/maps/render/aio/_render_client_async.py
  sdk/maps/azure-maps-render/azure/maps/render/models/_models.py
  sdk/maps/azure-maps-render/pyproject.toml
  sdk/maps/azure-maps-render/samples/async_samples/sample_authentication_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_copyright_caption_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_copyright_for_tile_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_copyright_for_world_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_copyright_from_bounding_box_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_map_attribution_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_map_static_image_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_map_tile_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_map_tileset_async.py
  sdk/maps/azure-maps-render/samples/sample_authentication.py
  sdk/maps/azure-maps-render/samples/sample_get_copyright_caption.py
  sdk/maps/azure-maps-render/samples/sample_get_copyright_for_tile.py
  sdk/maps/azure-maps-render/samples/sample_get_copyright_for_world.py
  sdk/maps/azure-maps-render/samples/sample_get_copyright_from_bounding_box.py
  sdk/maps/azure-maps-render/samples/sample_get_map_attribution.py
  sdk/maps/azure-maps-render/samples/sample_get_map_static_image.py
  sdk/maps/azure-maps-render/samples/sample_get_map_tile.py
  sdk/maps/azure-maps-render/samples/sample_get_map_tileset.py
  sdk/maps/azure-maps-route/mypy.ini
  sdk/maps/azure-maps-search/azure/maps/search/_search_client.py
  sdk/maps/azure-maps-search/azure/maps/search/aio/_search_client_async.py
  sdk/maps/azure-maps-search/mypy.ini
Labels: customer-reported, Community Contribution, Maps

#35568 [Storage] [Typing] [File Share] Decoupled `share_service_client.py` and `share_service_client_async.py`
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client_helpers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
Labels: Storage

#35603 [Identity] Prep preview release
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#35609 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#35611 [Storage] [Typing] [File Share] Annotated `share_service_client.py` and `share_service_client_async.py`
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
Labels: Storage

#35527 [ML] Bump azure-ai-ml to 1.17.0
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#35607 Users/vdharmaraj/transcription changes
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
Labels: Communication

#35608 adding the answer for property in the connection properties
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
Labels: Communication

#35594 updating hold call back uri as per azure board comments
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
Labels: Communication

#35593 Adding audio streaming api to beta4
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
Labels: Communication

#35610 Add diagnostics for sdk detection
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_diagnostics/diagnostic_logging.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_diagnostics/status_logger.py
  sdk/monitor/azure-monitor-opentelemetry/tests/diagnostics/test_status_logger.py
Labels: Monitor - Distro

#35619 Azure Monitor OpenTelemetry Distro Release 1.4.2
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
Labels: Monitor - Distro

#35624 Change prereq version of Python in README
  sdk/ai/azure-ai-generative/README.md
Labels: AI

#35630 Sync eng/common directory with azure-sdk-tools for PR 8268
  eng/common/pipelines/templates/steps/verify-restapi-spec-location.yml
Labels: EngSys, Central-EngSys

#35642 Revert "Consolidate Container Properties cache in Client Instance"
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/test/test_container_properties_cache.py
  sdk/cosmos/azure-cosmos/test/test_container_properties_cache_async.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
  sdk/cosmos/azure-cosmos/test/test_crud_subpartition.py
  sdk/cosmos/azure-cosmos/test/test_crud_subpartition_async.py
  sdk/cosmos/azure-cosmos/test/test_retry_policy.py
Labels: Cosmos

#35623 [EH] Emulator prep for release
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/tests/unittest/test_connection_string_parser.py
Labels: Event Hubs

#35644 [EventHubs] geodr preview
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/samples/README.md
  sdk/eventhub/azure-eventhub/setup.py
Labels: Event Hubs

#35468 [Cosmos] Adds support for non streaming ORDER BY
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/document_producer.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/endpoint_component.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/execution_dispatcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/non_streaming_order_by_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/document_producer.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/endpoint_component.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/execution_dispatcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/non_streaming_order_by_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/query_execution_info.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/samples/index_management.py
  sdk/cosmos/azure-cosmos/samples/index_management_async.py
  sdk/cosmos/azure-cosmos/samples/vector_test_data.py
  sdk/cosmos/azure-cosmos/test/test_aggregate.py
  sdk/cosmos/azure-cosmos/test/test_config.py
  sdk/cosmos/azure-cosmos/test/test_multi_orderby.py
  sdk/cosmos/azure-cosmos/test/test_partition_split_query.py
  sdk/cosmos/azure-cosmos/test/test_query.py
  sdk/cosmos/azure-cosmos/test/test_query_async.py
  sdk/cosmos/azure-cosmos/test/test_query_cross_partition.py
  sdk/cosmos/azure-cosmos/test/test_query_cross_partition_async.py
  sdk/cosmos/azure-cosmos/test/test_query_vector_similarity.py
  sdk/cosmos/azure-cosmos/test/test_query_vector_similarity_async.py
  sdk/cosmos/azure-cosmos/test/test_vector_policy.py
  sdk/cosmos/azure-cosmos/test/test_vector_policy_async.py
  sdk/cosmos/azure-cosmos/test/vector_test_data.py
  sdk/cosmos/test-resources.bicep
Labels: Cosmos

#35585 Sync eng/common directory with azure-sdk-tools for PR 8249
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#35647 [EH] bump version
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs

#35634 Enable ci for azure-maps geolocation, search, render and route packages
  sdk/maps/azure-maps-geolocation/pyproject.toml
  sdk/maps/azure-maps-render/pyproject.toml
  sdk/maps/azure-maps-route/pyproject.toml
  sdk/maps/azure-maps-search/pyproject.toml
Labels: Maps

#35653 [Cosmos] update versions after release
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#35656 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#35664 Link to AzurePipelinesCredential API ref page
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#35604 update error message for dump_to_yaml_file
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
Labels: Machine Learning

#35639 Sync eng/common directory with azure-sdk-tools for PR 8216
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: EngSys, Central-EngSys

#35665 Add missing backtick in Identity README
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#35660 Sync eng/common directory with azure-sdk-tools for PR 8267
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#35625 [SB] Delete batch changelog
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/batch_delete_async.py
  sdk/servicebus/azure-servicebus/samples/async_samples/purge_topic_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/batch_delete.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus

#35672 update setup to beta
  sdk/servicebus/azure-servicebus/setup.py
Labels: Service Bus

#35671 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs

#35640 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#35675 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus

#35676 Sync eng/common directory with azure-sdk-tools for PR 8277
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
Labels: EngSys, Central-EngSys

#35666 Sync eng/common directory with azure-sdk-tools for PR 8270
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
Labels: EngSys, Central-EngSys

#35677 Add central sleep patching fixtures
  doc/dev/tests.md
  sdk/conftest.py
Labels: test-enhancement

#35690 Sync eng/common directory with azure-sdk-tools for PR 8288
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys, Central-EngSys

#35689 Sync eng/common directory with azure-sdk-tools for PR 8283
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: EngSys, Central-EngSys

#35691 Remove usage of azure-sdk-docs-prod-sas
  eng/pipelines/templates/stages/archetype-python-release.yml
Labels: Docs

#35352 Sync eng/common directory with azure-sdk-tools for PR 8157
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#35680 Sanitize version field in recorded SAS tokens
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
Labels: test-proxy

#35695 Update EnvironmentVariableLoader for new authentication options
  tools/azure-sdk-tools/devtools_testutils/envvariable_loader.py
Labels: test-enhancement

#35692 adding the playprompt list support for play media, play media to all and recognize media
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
Labels: Communication

#35696 Sync eng/common directory with azure-sdk-tools for PR 8295
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#35708 remove internal import from doc translation sample
  sdk/translation/azure-ai-translation-document/samples/async_samples/sample_single_document_translation_async.py
  sdk/translation/azure-ai-translation-document/samples/sample_single_document_translation.py
Labels: Cognitive - Translator

#35686 fix table in README.md
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
Labels: customer-reported, Community Contribution, Document Intelligence

#35502 [Monitor Query] MetricsClient sovereign cloud support
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/azure/monitor/query/_metrics_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_metrics_client_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_authentication_async.py
  sdk/monitor/azure-monitor-query/samples/sample_authentication.py
  sdk/monitor/azure-monitor-query/tests/base_testcase.py
  sdk/monitor/azure-monitor-query/tests/test_metrics_client.py
  sdk/monitor/azure-monitor-query/tests/test_metrics_client_async.py
Labels: Monitor

#35715 Updating ChangeLog for DocumentTranslation preview release
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
Labels: Cognitive - Translator

#35728 starting to fix translation text live tests
  sdk/translation/azure-ai-translation-text/tests/preparer.py
  sdk/translation/azure-ai-translation-text/tests/test_break_sentence.py
  sdk/translation/azure-ai-translation-text/tests/test_break_sentence_async.py
  sdk/translation/azure-ai-translation-text/tests/test_dictionary_examples.py
  sdk/translation/azure-ai-translation-text/tests/test_dictionary_examples_async.py
  sdk/translation/azure-ai-translation-text/tests/test_dictionary_lookup.py
  sdk/translation/azure-ai-translation-text/tests/test_dictionary_lookup_async.py
  sdk/translation/azure-ai-translation-text/tests/test_get_languages.py
  sdk/translation/azure-ai-translation-text/tests/test_get_languages_async.py
  sdk/translation/azure-ai-translation-text/tests/test_translation.py
  sdk/translation/azure-ai-translation-text/tests/test_translation_async.py
  sdk/translation/azure-ai-translation-text/tests/test_transliteration.py
  sdk/translation/azure-ai-translation-text/tests/test_transliteration_async.py
  sdk/translation/test-resources.json
  sdk/translation/tests.yml
Labels: Cognitive - Translator

#35694 Sync eng/common directory with azure-sdk-tools for PR 8294
  eng/common/testproxy/target_version.txt
  eng/target_proxy_version.txt
Labels: EngSys, Central-EngSys

#35707 [Storage] [Typing] [File Share] Decoupled `_share_client.py` and `_share_client_async.py`
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client_helpers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client_helpers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
Labels: Storage

#35693 fix mypy warnings
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_html_utils.py
Labels: Machine Learning

#35733 [Cosmos] User agent string validation tests
  sdk/cosmos/azure-cosmos/test/test_user_agent_suffix.py
  sdk/cosmos/azure-cosmos/test/test_user_agent_suffix_async.py
Labels: Cosmos

#35566 Introduce enable live metrics to distro
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/README.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_constants.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_utils/configurations.py
  sdk/monitor/azure-monitor-opentelemetry/samples/README.md
  sdk/monitor/azure-monitor-opentelemetry/samples/metrics/live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry/tests/test_configure.py
  sdk/monitor/azure-monitor-opentelemetry/tests/utils/test_configurations.py
Labels: Monitor - Exporter, Monitor - Distro

#35749 Sync eng/common directory with azure-sdk-tools for PR 8278
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#35731 Container properties cache consolidation
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/samples/examples.py
  sdk/cosmos/azure-cosmos/samples/examples_async.py
  sdk/cosmos/azure-cosmos/test/test_container_properties_cache.py
  sdk/cosmos/azure-cosmos/test/test_container_properties_cache_async.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
  sdk/cosmos/azure-cosmos/test/test_crud_subpartition.py
  sdk/cosmos/azure-cosmos/test/test_crud_subpartition_async.py
  sdk/cosmos/azure-cosmos/test/test_query_computed_properties.py
  sdk/cosmos/azure-cosmos/test/test_query_computed_properties_async.py
  sdk/cosmos/azure-cosmos/test/test_retry_policy.py
Labels: Cosmos

#35743 Add Dependency as a new rule category
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_workspace.py
Labels: Machine Learning, ML-Workspace

#35556 App Config Provider - Update telemetry
  sdk/appconfiguration/azure-appconfiguration-provider/README.md
  sdk/appconfiguration/azure-appconfiguration-provider/assets.json
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_constants.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/refresh_sample_feature_flags.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/sample_utilities.py
  sdk/appconfiguration/azure-appconfiguration-provider/setup.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/conftest.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/preparers.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_refresh.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_refresh.py
Labels: App Configuration Provider

#35752 [EG] Update tests
  sdk/eventgrid/azure-eventgrid/assets.json
  sdk/eventgrid/azure-eventgrid/tests/conftest.py
  sdk/eventgrid/azure-eventgrid/tests/eventgrid_preparer.py
  sdk/eventgrid/azure-eventgrid/tests/test_cncf_events.py
  sdk/eventgrid/azure-eventgrid/tests/test_cncf_events_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_exceptions.py
  sdk/eventgrid/azure-eventgrid/tests/test_exceptions_async.py
Labels: Event Grid

#35766 Python Provider 1.2.0
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
Labels: App Configuration Provider

#35768 Users/daviwu/release/azure ai ml/1.16.1
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
Labels: Machine Learning, ML-Workspace

#35730 Sample of app config provider keeps failing. Disable the noise.
  scripts/devops_tasks/test_run_samples.py
Labels: App Configuration

#35763 [Hotfix] fix role assignment when update feature store (#35751)
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#35721 [Storage] [Typing] [File Share] Decoupled `_directory_client.py` and `_directory_client_async.py`
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client_helpers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
Labels: Storage

#35771 docs: use named logger with the AzureMonitorLogExporter instead of root logger
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
Labels: customer-reported, Monitor - Exporter, Community Contribution

#35736 Sync eng/common directory with azure-sdk-tools for PR 8319
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/sub-config/AzurePublicMsft.json
Labels: EngSys, Central-EngSys

#35795 Sync eng/common directory with azure-sdk-tools for PR 8340
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
Labels: EngSys, Central-EngSys

#35753 Send both process level and cpu level metrics
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_state.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/setup.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_live_metrics.py
Labels: Monitor - Exporter

#35794 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
Labels: App Configuration Provider

#35750 [Storage] [Typing] [File Share] Decoupled `_file_client.py` and `_file_client_async.py`
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client_helpers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_parser.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
Labels: Storage

#35815 Release monitor exporter 1.0.0b26
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor - Exporter

#35236 [Tables] Fix mypy error from ETag and update docstring
  sdk/tables/azure-data-tables/azure/data/tables/_error.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_batch.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/tests.yml
Labels: Tables

#35797 Sync eng/common directory with azure-sdk-tools for PR 8324
  eng/common/scripts/Submit-PullRequest.ps1
Labels: EngSys, Central-EngSys

#35829 [ServiceBus] update Message.data type
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/message.py
Labels: Service Bus, Event Hubs

#35359 [Storage] [STG94] Snapshot Management Support via REST for NFS Shares & New Header Custom Sorter
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/authentication.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions.py
  sdk/storage/azure-storage-blob/tests/test_blob_access_conditions_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/authentication.py
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_patch.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_patch.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_patch.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_patch.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_patch.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/authentication.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/authentication.py
Labels: Storage

#35811 Add federated identity capabilities to live tests
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/steps/build-test.yml
Labels: Central-EngSys

#35822 Disable distributed tracing for live metrics calls
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_generated/_operations/_operations.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_generated/aio/_operations/_operations.py
Labels: Monitor - Exporter

#35841 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#35833 [EG] Update tests
  sdk/eventgrid/azure-eventgrid/assets.json
  sdk/eventgrid/azure-eventgrid/tests/conftest.py
  sdk/eventgrid/azure-eventgrid/tests/eventgrid_preparer.py
  sdk/eventgrid/azure-eventgrid/tests/test_cncf_events.py
  sdk/eventgrid/azure-eventgrid/tests/test_cncf_events_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client.py
  sdk/eventgrid/azure-eventgrid/tests/test_eg_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/tests/test_exceptions.py
  sdk/eventgrid/azure-eventgrid/tests/test_exceptions_async.py
Labels: Event Grid

#35843 Bump version of monitor exporter in distro
  sdk/monitor/azure-monitor-opentelemetry/setup.py
Labels: Monitor - Distro

#35853 Release distro
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#35840 [corehttp] Linting updates
  sdk/core/corehttp/corehttp/rest/_aiohttp.py
  sdk/core/corehttp/corehttp/rest/_http_response_impl.py
  sdk/core/corehttp/corehttp/rest/_requests_basic.py
  sdk/core/corehttp/corehttp/transport/aiohttp/_aiohttp.py
  sdk/core/corehttp/corehttp/transport/requests/_bigger_block_size_http_adapters.py
  sdk/core/corehttp/corehttp/transport/requests/_requests_basic.py
Labels: Azure.Core

#35851 [EG] update tests.yml
  sdk/eventgrid/test-resources.json
  sdk/eventgrid/tests.yml
Labels: Event Grid
