Repository Azure/azure-sdk-for-python, pull requests merged in 2024-11, with the labels that each got.

#36971 Session Token Management APIs
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/routing_range.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_session_token_helpers.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/samples/examples.py
  sdk/cosmos/azure-cosmos/samples/examples_async.py
  sdk/cosmos/azure-cosmos/samples/session_token_management.py
  sdk/cosmos/azure-cosmos/samples/session_token_management_async.py
  sdk/cosmos/azure-cosmos/test/test_change_feed_split_async.py
  sdk/cosmos/azure-cosmos/test/test_feed_range.py
  sdk/cosmos/azure-cosmos/test/test_feed_range_async.py
  sdk/cosmos/azure-cosmos/test/test_latest_session_token.py
  sdk/cosmos/azure-cosmos/test/test_latest_session_token_async.py
  sdk/cosmos/azure-cosmos/test/test_session_token_helpers.py
Labels: Cosmos

#38256 Connections & Inference test updates to support new unified models
  sdk/ai/azure-ai-projects/azure_ai_projects_tests.env
  sdk/ai/azure-ai-projects/samples/inference/sample_chat_completions_with_azure_ai_inference_client.py
  sdk/ai/azure-ai-projects/tests/connections/connection_test_base.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections_async.py
  sdk/ai/azure-ai-projects/tests/inference/inference_test_base.py
  sdk/ai/azure-ai-projects/tests/inference/test_inference.py
  sdk/ai/azure-ai-projects/tests/inference/test_inference_async.py
  sdk/ai/azure-ai-projects/tests/telemetry/telemetry_test_base.py
Labels: AI

#38257 Improve tracing samples and add docs on telemetry.enable
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/inference/sample_chat_completions_with_azure_ai_inference_client_and_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/inference/sample_chat_completions_with_azure_ai_inference_client_and_console_tracing.py
  sdk/ai/azure-ai-projects/samples/inference/sample_chat_completions_with_azure_openai_client_and_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/inference/sample_chat_completions_with_azure_openai_client_and_console_tracing.py
Labels: AI

#38261 Jhakulin/user functions optional
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/user_functions.py
Labels: AI

#38241 Evaluation: Fix the `output_path` parameter of `evaluate` API doesn't support relative path
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/eval_run_context.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/target_run_context.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
Labels: Evaluation

#38262 [synapse] deprecate azure-synapse
  sdk/synapse/azure-synapse/CHANGELOG.md
  sdk/synapse/azure-synapse/README.md
  sdk/synapse/azure-synapse/azure/synapse/_version.py
  sdk/synapse/azure-synapse/setup.py
Labels: Synapse

#38265 [DocumentDB] update deprecation release date
  sdk/cosmos/azure-mgmt-documentdb/CHANGELOG.md
  sdk/cosmos/azure-mgmt-documentdb/README.md
  sdk/cosmos/ci.yml
Labels: Cosmos

#38206 [CognitiveServices] deprecate vision packages
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/README.md
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/azure/cognitiveservices/vision/computervision/version.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/setup.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-contentmoderator/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-vision-contentmoderator/README.md
  sdk/cognitiveservices/azure-cognitiveservices-vision-contentmoderator/azure/cognitiveservices/vision/contentmoderator/version.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-contentmoderator/sdk_packaging.toml
  sdk/cognitiveservices/azure-cognitiveservices-vision-contentmoderator/setup.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/README.md
  sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/azure/cognitiveservices/vision/customvision/version.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/sdk_packaging.toml
  sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/setup.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/README.md
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/azure/cognitiveservices/vision/face/version.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/sdk_packaging.toml
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/setup.py
Labels: CognitiveServices

#38247 RAI service input sanitization
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_service_groundedness/_service_groundedness.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/evaluate_test_data.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/evaluate_test_data_conversation.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/questions.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/questions_answers.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_content_safety_rai_script.py
Labels: Evaluation

#38238 Fix __call__ Overload Types
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_coherence/_coherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_violence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_eci/_eci.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_fluency/_fluency.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_material/_protected_material.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_retrieval/_retrieval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_service_groundedness/_service_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_xpia/xpia.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_direct_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_indirect_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
Labels: Evaluation

#38277 Update Eval SDK for 1.0.0 Release
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
  sdk/evaluation/azure-ai-evaluation/setup.py
Labels: Evaluation

#38276 [evaluation] Add support for using evaluate() with evaluators that have missing inputs
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_direct_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/evaluate_test_data_no_query.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
Labels: Evaluation

#38271 [Storage] Disabled `black` in `pyproject.toml` for all packages
  sdk/storage/azure-storage-blob-changefeed/pyproject.toml
  sdk/storage/azure-storage-blob/pyproject.toml
  sdk/storage/azure-storage-file-datalake/pyproject.toml
  sdk/storage/azure-storage-file-share/pyproject.toml
  sdk/storage/azure-storage-queue/pyproject.toml
Labels: Storage

#38268 adding content recording control to agents instrumentor api
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
Labels: AI

#38299 [evaluation] Add support for using evaluate() with evaluators that have missing inputs
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_direct_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/evaluate_test_data_no_query.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
Labels: Evaluation

#38301 Release azure-monitor-opentelemetry distro
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
Labels: Monitor - Distro

#38284 [Storage] [STG 96] API VIews GA Feedback
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
Labels: Storage

#38309 Update bug_bash.md
  sdk/ai/azure-ai-project/samples/evaluations/bug_bash.md
Labels: AI

#38310 Release azure-monitor-opentelemetry-exporter
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_live_metrics.py
Labels: Monitor - Exporter

#38308 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#38307 Eval/bugfix/content safety parallel
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
Labels: Evaluation

#38312 Fix handling of SAS token and fix mypy
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections_unit_tests.py
Labels: AI

#38202 Glharper/ai client new tools
  sdk/ai/azure-ai-client/samples/endpoints/async_samples/sample_endpoints_async.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_ai_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_bing_grounding.py
Labels: AI

#38254 [Storage] Added connection pool note to `max_concurrency` kwarg for upload/download APIs
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
Labels: Storage

#38311 Sync eng/common directory with azure-sdk-tools for PR 9308
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#38281 Sync eng/common directory with azure-sdk-tools for PR 9277
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#38274 Broker on mac support
  .vscode/cspell.json
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_browser.py
  sdk/identity/azure-identity-broker/azure/identity/broker/_version.py
Labels: Azure.Identity

#37885 Add firewallsku as ManagedNetwork property
  sdk/ml/azure-ai-ml/.pre-commit-config.yaml
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/feature_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/_ai_workspaces/hub.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/diagnose.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/feature_store_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/serverless_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace_keys.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_outbound_rule_operations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_workspace.py
  sdk/ml/azure-ai-ml/tests/test_configs/workspace/workspace_mvnet_with_firewallsku.yaml
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_entity.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_related_restclients.py
Labels: Machine Learning, ML-Workspace

#38315 [Synapse] azure-synapse post deprecation
  sdk/synapse/azure-synapse/pyproject.toml
  sdk/synapse/ci.yml
Labels: Synapse

#38304 [Cognitive Services] vision post-deprecation
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/__init__.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/__init__.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/error_response.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/error_response_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/internal_error.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/internal_error_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/personalizer_error.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/personalizer_error_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/rank_request.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/rank_request_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/rank_response.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/rank_response_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/rankable_action.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/rankable_action_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/ranked_action.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/ranked_action_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/reward_request.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/models/reward_request_py3.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/operations/__init__.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/operations/events_operations.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/personalizer_client.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/azure/cognitiveservices/personalizer/version.py
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/setup.py
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-vision-contentmoderator/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/pyproject.toml
  sdk/cognitiveservices/azure-mgmt-cognitiveservices/azure/mgmt/cognitiveservices/_patch.py
  sdk/cognitiveservices/azure-mgmt-cognitiveservices/azure/mgmt/cognitiveservices/aio/_patch.py
  sdk/cognitiveservices/azure-mgmt-cognitiveservices/setup.py
  sdk/cognitiveservices/azure-mgmt-cognitiveservices/tests/disable_test_cli_mgmt_cognitiveservices.py
  sdk/cognitiveservices/ci.yml
Labels: CognitiveServices

#38314 [Cosmos] documentdb post deprecation
  sdk/cosmos/azure-mgmt-documentdb/pyproject.toml
  sdk/cosmos/ci.yml
Labels: Cosmos

#38337 Increment version for identity releases
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_version.py
  sdk/identity/azure-identity-broker/setup.py
Labels: Azure.Identity

#38339 Edit pass on Azure Identity Broker README
  sdk/identity/azure-identity-broker/README.md
Labels: Azure.Identity

#38319 [Core] servicemanagement-legacy post deprecation
  sdk/core/azure-servicemanagement-legacy/pyproject.toml
  sdk/core/ci.yml
Labels: Azure.Core

#37917 Prompt support for Inference SDK
  .vscode/cspell.json
  sdk/ai/azure-ai-inference/azure/ai/inference/_model_base.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/__init__.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_core.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_invoker.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_mustache.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_parsers.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_prompty_utils.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_renderers.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_tracer.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_utils.py
  sdk/ai/azure-ai-inference/dev_requirements.txt
  sdk/ai/azure-ai-inference/samples/README.md
  sdk/ai/azure-ai-inference/samples/sample1.prompty
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_prompt_string.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_prompty.py
  sdk/ai/azure-ai-inference/setup.py
  sdk/ai/azure-ai-inference/tests/sample1.prompty
  sdk/ai/azure-ai-inference/tests/sample1_with_secrets.prompty
  sdk/ai/azure-ai-inference/tests/test_prompts.py
Labels: AI Model Inference

#38295 resolveFewCommentsForChangeFeedChange
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_state.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/samples/examples_async.py
  sdk/cosmos/azure-cosmos/samples/session_token_management_async.py
  sdk/cosmos/azure-cosmos/test/test_change_feed_async.py
  sdk/cosmos/azure-cosmos/test/test_latest_session_token_async.py
Labels: Cosmos

#38344 Use 'Union' instead of '|' to make it run on Python 3.8 and up
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
Labels: AI

#38341 Sync eng/common directory with azure-sdk-tools for PR 9330
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#38316 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#38343 Update doc on Parent window handle
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_browser.py
Labels: Azure.Identity

#38340 Fix mypy issues and re generate the code.
  sdk/ai/azure-ai-client/samples/endpoints/async_samples/sample_endpoints_async.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_types.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections_unit_tests.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#37949 [evaluation] Add inline samples and turn on CI sample testing
  sdk/evaluation/azure-ai-evaluation/MANIFEST.in
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_bleu/_bleu.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_coherence/_coherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_violence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_f1_score/_f1_score.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_fluency/_fluency.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_gleu/_gleu.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_groundedness/_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_meteor/_meteor.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_material/_protected_material.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_qa/_qa.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_relevance/_relevance.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_retrieval/_retrieval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_rouge/_rouge.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_service_groundedness/_service_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_similarity/_similarity.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_xpia/xpia.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_model_configurations.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_scenario.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_direct_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_indirect_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_simulator.py
  sdk/evaluation/azure-ai-evaluation/cspell.json
  sdk/evaluation/azure-ai-evaluation/pyproject.toml
  sdk/evaluation/azure-ai-evaluation/samples/README.md
  sdk/evaluation/azure-ai-evaluation/samples/data/evaluate_test_data.jsonl
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_common.py
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_evaluate.py
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_simulate.py
Labels: Evaluation

#38352 importStatusCodeAndSubstatusCodeAsPrivateName
  sdk/cosmos/azure-cosmos/azure/cosmos/_vector_session_token.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/exceptions.py
Labels: Cosmos

#38362 Use DefaultAzureCredential from azure.identity.aio for async samples
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_run_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_iteration_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_with_file_search_attachment_async.py
  sdk/ai/azure-ai-projects/samples/connections/async_samples/sample_connections_async.py
  sdk/ai/azure-ai-projects/samples/evaluations/async_samples/sample_evaluations_async.py
  sdk/ai/azure-ai-projects/samples/inference/async_samples/sample_chat_completions_with_azure_ai_inference_client_async.py
  sdk/ai/azure-ai-projects/samples/inference/async_samples/sample_chat_completions_with_azure_openai_client_async.py
  sdk/ai/azure-ai-projects/samples/inference/async_samples/sample_text_embeddings_with_azure_ai_inference_client_async.py
Labels: AI

#38363 Rename AAD to ENTRA_ID
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_enums.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/samples/connections/async_samples/sample_connections_async.py
  sdk/ai/azure-ai-projects/samples/connections/sample_connections.py
Labels: AI

#38360 [evaluation] Update docstrings inline samples
  sdk/evaluation/azure-ai-evaluation/MANIFEST.in
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_bleu/_bleu.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_coherence/_coherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_violence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_f1_score/_f1_score.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_fluency/_fluency.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_gleu/_gleu.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_groundedness/_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_meteor/_meteor.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_material/_protected_material.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_qa/_qa.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_relevance/_relevance.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_retrieval/_retrieval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_rouge/_rouge.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_service_groundedness/_service_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_similarity/_similarity.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_xpia/xpia.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_model_configurations.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_scenario.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_direct_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_indirect_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_simulator.py
  sdk/evaluation/azure-ai-evaluation/cspell.json
  sdk/evaluation/azure-ai-evaluation/pyproject.toml
  sdk/evaluation/azure-ai-evaluation/samples/README.md
  sdk/evaluation/azure-ai-evaluation/samples/data/evaluate_test_data.jsonl
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_common.py
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_evaluate.py
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_simulate.py
Labels: Evaluation

#38350 inference async streaming tracing fix
  sdk/ai/azure-ai-inference/azure/ai/inference/tracing.py
Labels: AI Model Inference

#38336 removing exception when instrumenting multiple times, adding content …
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/assets.json
  sdk/ai/azure-ai-inference/azure/ai/inference/_version.py
  sdk/ai/azure-ai-inference/azure/ai/inference/tracing.py
  sdk/ai/azure-ai-inference/tests/model_inference_test_base.py
  sdk/ai/azure-ai-inference/tests/test_model_inference_client.py
Labels: AI Model Inference

#38365 [Cosmos] consider batch as write op
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
Labels: Cosmos

#38368 Update CHANGELOG.md
  sdk/ai/azure-ai-inference/CHANGELOG.md
Labels: AI Model Inference

#38374 Real eval id cherry pick
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_bleu/_bleu.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_coherence/_coherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_violence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_eci/_eci.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_f1_score/_f1_score.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_fluency/_fluency.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_gleu/_gleu.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_groundedness/_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_meteor/_meteor.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_multimodal/_content_safety_multimodal.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_multimodal/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_multimodal/_protected_material.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_multimodal/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_multimodal/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_multimodal/_violence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_material/_protected_material.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_qa/_qa.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_relevance/_relevance.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_retrieval/_retrieval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_rouge/_rouge.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_service_groundedness/_service_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_similarity/_similarity.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_xpia/xpia.py
Labels: Evaluation

#38371 Distro Release 1.6.4: Fix instrumentation migration bug.
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/README.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/setup.py
  sdk/monitor/azure-monitor-opentelemetry/tests/test_configure.py
Labels: Monitor - Distro

#38351 added agents example section in readme and added tags to samples
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_run_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_code_interpreter.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_run_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_batch_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_file_search_attachment.py
Labels: AI

#38372 Evaluation: Disable local and remote tracing
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/eval_run_context.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/target_run_context.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_eval_run.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
Labels: Evaluation

#38364 Update sample_chat_completions_streaming_azure_openai_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_streaming_azure_openai_async.py
Labels: AI Model Inference

#38380 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#38383 Connections APIs throw instead of returning None if a connection name/type is not found
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/azure/ai/projects/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/samples/connections/async_samples/sample_connections_async.py
  sdk/ai/azure-ai-projects/samples/connections/sample_connections.py
  sdk/ai/azure-ai-projects/tests/connections/connection_test_base.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections_async.py
Labels: AI

#38367 Evaluate aggregation robustness
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/math.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
Labels: Evaluation

#38387 Evaluate aggregation robustness (#38367)
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/math.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
Labels: Evaluation

#38389 Evaluation: Disable local and remote tracing (#38372)
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/TROUBLESHOOTING.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/eval_run_context.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/target_run_context.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_eval_run.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
Labels: Evaluation

#38392 Evaluation: Fix the broken TSG link
  sdk/evaluation/azure-ai-evaluation/TROUBLESHOOTING.md
Labels: Evaluation

#38376 Sync eng/common directory with azure-sdk-tools for PR 9333
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#38399 Fix broken async .telemetry.enable() method, when you don't pass in "destination"
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
Labels: AI

#38394 [evaluation] Fix RetrievalEvaluator evaluate() bug for non-conversation scenario
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_retrieval/_retrieval.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_built_in_evaluator.py
Labels: Evaluation

#38393 Sample for thread with resource and document it in readme
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_resources_in_thread.py
Labels: AI

#38370 [Evaluation] Catch LLM parsing errors from malformed model responses
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
Labels: Evaluation

#38390 _options instead of _kwargs in simulator's call
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/TROUBLESHOOTING.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_non_adv_simulator.py
Labels: Evaluation

#38259 Update README.md
  sdk/healthinsights/azure-healthinsights-radiologyinsights/README.md
Labels: customer-reported, Community Contribution, Cognitive - Health Insights

#38402 Users/singankit/evaluation test
  sdk/ai/azure-ai-projects/azure_ai_projects_tests.env
  sdk/ai/azure-ai-projects/tests/conftest.py
  sdk/ai/azure-ai-projects/tests/evaluation/data/evaluate_test_data.jsonl
  sdk/ai/azure-ai-projects/tests/evaluation/evaluation_test_base.py
  sdk/ai/azure-ai-projects/tests/evaluation/test_evaluation.py
Labels: AI

#38401 [evaluation] Add quality bug bash fixes to azure-ai-evaluation GA release
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_retrieval/_retrieval.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_built_in_evaluator.py
Labels: Evaluation

#38110 2024-11-01-preview
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/assets.json
  sdk/search/azure-search-documents/azure/search/documents/_api_versions.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_serialization.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_search_index_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_utils.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_serialization.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_search_service_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/models/__init__.py
  sdk/search/azure-search-documents/samples/sample_indexer_datasource_skillset.py
Labels: Search

#38388 Sync eng/common directory with azure-sdk-tools for PR 9331
  eng/common/pipelines/templates/steps/docker-pull-image.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#38403 Cherry pick API review suggestions
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/TROUBLESHOOTING.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_non_adv_simulator.py
Labels: Evaluation

#38356 Impove function types and address PM requirements
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_utils.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_prompt_string.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_prompty.py
  sdk/ai/azure-ai-inference/tests/test_prompts_utils.py
Labels: AI Model Inference

#38407 Sync eng/common directory with azure-sdk-tools for PR 9354
  eng/common/pipelines/templates/steps/emit-rate-limit-metrics.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
Labels: EngSys, Central-EngSys

#38377 Bug-Bash-Fix-Multimodal-Evaluator
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_eval_run.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_multimodal/_content_safety_multimodal_base.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/dataset_messages_b64_images.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/dataset_messages_image_urls.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/dataset_messages_image_urls_target.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/target_fn.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/data/generated_conv_image_urls.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/unittests/data/generated_conv_images.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_utils.py
Labels: Evaluation

#38409 Update how the inference URL is constructed
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
Labels: AI

#38410 Cherry-Pick - Azure-AI-Evaluation 1.0.0 - Bug-Bash-Fix-Multimodal-Evaluator
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_eval_run.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_multimodal/_content_safety_multimodal_base.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/dataset_messages_b64_images.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/dataset_messages_image_urls.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/dataset_messages_image_urls_target.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/target_fn.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/data/generated_conv_image_urls.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/unittests/data/generated_conv_images.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_utils.py
Labels: Evaluation

#38391 Rename distillation namespace
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/model_customization/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/model_customization/_distillation.py
  sdk/ml/azure-ai-ml/tests/distillation_job/e2e_tests/test_distillation_job.py
  sdk/ml/azure-ai-ml/tests/distillation_job/unittests/test_distillation_factory.py
Labels: Machine Learning

#38159 Pdhote/release 1.22.0
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#38361 Update Route changelog for the release
  sdk/maps/azure-maps-route/CHANGELOG.md
  sdk/maps/azure-maps-route/azure/maps/route/_client.py
  sdk/maps/azure-maps-route/azure/maps/route/_patch.py
  sdk/maps/azure-maps-route/azure/maps/route/aio/_client.py
  sdk/maps/azure-maps-route/azure/maps/route/aio/_patch.py
  sdk/maps/azure-maps-route/azure/maps/route/aio/operations/_patch.py
  sdk/maps/azure-maps-route/azure/maps/route/models/_models.py
  sdk/maps/azure-maps-route/azure/maps/route/operations/_operations.py
  sdk/maps/azure-maps-route/azure/maps/route/operations/_patch.py
  sdk/maps/azure-maps-route/samples/async_samples/sample_authentication_async.py
  sdk/maps/azure-maps-route/samples/async_samples/sample_begin_get_route_directions_batch_async.py
  sdk/maps/azure-maps-route/samples/async_samples/sample_get_route_directions_async.py
  sdk/maps/azure-maps-route/samples/async_samples/sample_get_route_directions_batch_sync_async.py
  sdk/maps/azure-maps-route/samples/async_samples/sample_get_route_matrix_async.py
  sdk/maps/azure-maps-route/samples/async_samples/sample_get_route_range_async.py
  sdk/maps/azure-maps-route/samples/sample_authentication.py
  sdk/maps/azure-maps-route/samples/sample_begin_get_route_directions_batch.py
  sdk/maps/azure-maps-route/samples/sample_get_route_directions.py
  sdk/maps/azure-maps-route/samples/sample_get_route_directions_batch_sync.py
  sdk/maps/azure-maps-route/samples/sample_get_route_matrix.py
  sdk/maps/azure-maps-route/samples/sample_get_route_range.py
  sdk/maps/azure-maps-route/setup.py
  sdk/maps/azure-maps-route/tests/conftest.py
  sdk/maps/azure-maps-route/tests/route_preparer.py
  sdk/maps/azure-maps-route/tests/test_route_client.py
Labels: Maps

#38359 Update Geolocation changelog for the release
  sdk/maps/azure-maps-geolocation/CHANGELOG.md
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/__init__.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_base_client.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/__init__.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/_client.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/_configuration.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/_patch.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/_serialization.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/_vendor.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/aio/__init__.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/aio/_client.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/aio/_configuration.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/aio/_patch.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/aio/operations/__init__.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/aio/operations/_operations.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/aio/operations/_patch.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/models/__init__.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/models/_enums.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/models/_models.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/models/_patch.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/operations/__init__.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/operations/_operations.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_generated/operations/_patch.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_geolocation_client.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/aio/__init__.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/aio/_base_client_async.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/aio/_geolocation_client_async.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/models/__init__.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/models/_models.py
  sdk/maps/azure-maps-geolocation/samples/async_samples/sample_authentication_async.py
  sdk/maps/azure-maps-geolocation/samples/async_samples/sample_get_country_code_async.py
  sdk/maps/azure-maps-geolocation/samples/sample_authentication.py
  sdk/maps/azure-maps-geolocation/samples/sample_get_country_code.py
  sdk/maps/azure-maps-geolocation/setup.py
  sdk/maps/azure-maps-geolocation/tests/conftest.py
  sdk/maps/azure-maps-geolocation/tests/geolocation_preparer.py
  sdk/maps/azure-maps-geolocation/tests/test_geolocation_client.py
Labels: Maps

#38421 Updates following running: black --config ../../../eng/black-pyproject.toml .
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_run_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_bing_grounding.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_code_interpreter.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_run_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_batch_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_code_interpreter_file_attachment.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_resources_in_thread.py
  sdk/ai/azure-ai-projects/samples/connections/sample_connections.py
  sdk/ai/azure-ai-projects/tests/conftest.py
  sdk/ai/azure-ai-projects/tests/connections/connection_test_base.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections_async.py
  sdk/ai/azure-ai-projects/tests/evaluation/test_evaluation.py
Labels: AI

#38405 Resolved comments from Krista
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
Labels: AI

#38424 Fix PR comment by Krista on async credential in ConnectionProperties class
  .vscode/cspell.json
  eng/.docsettings.yml
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/setup.py
Labels: AI

#38404 Added Workspace property `ProvisionNetworkNow`.
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/samples/ml_samples_workspace.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning, ML-Workspace

#38428 Fix doc string errors
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
Labels: AI

#38313 [SB] Batch size update
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus

#38346 [Corehttp] Update credential classes
  sdk/core/corehttp/CHANGELOG.md
  sdk/core/corehttp/corehttp/_version.py
  sdk/core/corehttp/corehttp/credentials.py
  sdk/core/corehttp/corehttp/runtime/policies/_authentication.py
  sdk/core/corehttp/corehttp/runtime/policies/_authentication_async.py
  sdk/core/corehttp/samples/sample_async_pipeline_client.py
  sdk/core/corehttp/tests/async_tests/test_authentication_async.py
  sdk/core/corehttp/tests/test_authentication.py
Labels: Azure.Core

#38414 Protected material results fix
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
Labels: Evaluation

#38354 Fix typing in samples
  sdk/ai/azure-ai-projects/azure/ai/projects/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/pyproject.toml
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_attachment_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_attachment_enterprise_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_run_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_iteration_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_enterprise_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_enterprise_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_with_file_search_attachment_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_enterprise_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_file_search_attachment.py
  sdk/ai/azure-ai-projects/samples/connections/async_samples/sample_connections_async.py
  sdk/ai/azure-ai-projects/samples/connections/sample_connections.py
  sdk/ai/azure-ai-projects/samples/evaluations/async_samples/sample_evaluations_async.py
  sdk/ai/azure-ai-projects/samples/evaluations/sample_evaluations.py
  sdk/ai/azure-ai-projects/samples/evaluations/sample_evaluations_schedules.py
  sdk/ai/azure-ai-projects/samples/inference/sample_chat_completions_with_azure_ai_inference_client_and_console_tracing.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
  sdk/ai/azure-ai-projects/tests/agents/test_vector_store.py
  sdk/ai/azure-ai-projects/tests/check_sample_name.sh
Labels: AI

#38432 Run "black" (again)
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_file_search_attachment.py
  sdk/ai/azure-ai-projects/samples/connections/async_samples/sample_connections_async.py
  sdk/ai/azure-ai-projects/samples/connections/sample_connections.py
Labels: AI

#37725 [DI] Add samples for getting raw json result
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_operations/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_get_raw_response_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_send_request_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_get_raw_response.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_send_request.py
Labels: Document Intelligence

#38395 [Core] Opencensus plugin post deprecation updates
  sdk/core/azure-core-tracing-opencensus/pyproject.toml
  sdk/core/ci.yml
Labels: Azure.Core

#38425 Evaluation: Post disable tracing code cleanup
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/target_run_context.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
Labels: Evaluation

#38416 azure-ai-evaluation README update
  sdk/evaluation/azure-ai-evaluation/README.md
Labels: Evaluation

#38435 Fix a few pyright errors, and address a comment in the Python PR
  sdk/ai/azure-ai-projects/azure/ai/projects/_types.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_resources_in_thread.py
  sdk/ai/azure-ai-projects/samples/connections/async_samples/sample_connections_async.py
  sdk/ai/azure-ai-projects/samples/connections/sample_connections.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections_unit_tests.py
Labels: AI

#38430 Update release date. Fix package title
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/setup.py
Labels: AI Model Inference

#38431 Corrected a changelog line messed up when handling a merge conflict e…
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#38444 Address some of Krista's PR comments
  sdk/ai/azure-ai-projects/azure/ai/projects/_types.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/setup.py
Labels: AI

#38434 azure-ai-projects: configure otel logging in telemetry.enable() helper
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/samples/inference/sample_chat_completions_with_azure_openai_client_and_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/inference/sample_chat_completions_with_azure_openai_client_and_console_tracing.py
Labels: AI

#38447 [ai] fix(pylint): Resolve `W1309`, `W0107`, `W0707`, `R1705`, `W0401`, `R1714`, `W0611`, `W0404`, `W0201`, `W1201` and `W1203`
  sdk/ai/azure-ai-projects/azure/ai/projects/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_utils.py
  sdk/ai/azure-ai-projects/pyproject.toml
Labels: AI

#38396 resolveAPIReviewComments
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/samples/examples.py
  sdk/cosmos/azure-cosmos/samples/examples_async.py
  sdk/cosmos/azure-cosmos/samples/session_token_management_async.py
  sdk/cosmos/azure-cosmos/test/test_change_feed_async.py
  sdk/cosmos/azure-cosmos/test/test_latest_session_token_async.py
Labels: Cosmos

#38426 Add readme for get_message, save_file, get_file_content, tracing, Bing grounding, enterprise
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_ai_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_bing_grounding.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_code_interpreter.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_code_interpreter_attachment_enterprise_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_enterprise_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_resources_in_thread.py
Labels: AI

#38448 Update README.md
  sdk/evaluation/azure-ai-evaluation/README.md
Labels: Evaluation

#37986 azure.identity logging throws exceptions because the "appid" key is not always in json_dict
  sdk/identity/azure-identity/azure/identity/_internal/decorators.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/decorators.py
Labels: customer-reported, Azure.Identity, Community Contribution

#38446 More fixes to mypy
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/pyproject.toml
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_enterprise_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics.py
  sdk/ai/azure-ai-projects/samples/evaluations/async_samples/sample_evaluations_async.py
  sdk/ai/azure-ai-projects/samples/evaluations/sample_evaluations_schedules.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
Labels: AI

#38450 Clean up simulator readme
  sdk/evaluation/azure-ai-evaluation/README.md
Labels: Evaluation

#38441 Sync eng/common directory with azure-sdk-tools for PR 9358
  eng/common/pipelines/templates/jobs/docindex.yml
Labels: EngSys, Central-EngSys

#38457 agents telemetry pyright fixes
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
Labels: AI

#38455 Cherry-Pick (SHA - cfc9b85) - Azure-AI-Evaluation 1.0.0 - Protected-Material
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
Labels: Evaluation

#38458 [EventHub/ServiceBus] prep release
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus, Event Hubs

#38456 Clean up simulator readme (#38450)
  sdk/evaluation/azure-ai-evaluation/README.md
Labels: Evaluation

#38464 Fix pyright for agents.
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/pyrightconfig.json
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_enterprise_file_search_async.py
Labels: AI

#38467 GA release
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_version.py
  sdk/translation/azure-ai-translation-document/setup.py
Labels: Cognitive - Translator

#38474 update release date for SDK
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#38423 Make azure-maps-geolocation appear in the release stage
  sdk/maps/azure-maps-geolocation/CHANGELOG.md
  sdk/maps/ci.yml
Labels: Maps

#38473 Updating the commit ID from main branch instead of from the fork
  sdk/translation/azure-ai-translation-document/tsp-location.yaml
Labels: Cognitive - Translator

#38480 fix pip install instruction
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_attachment_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_attachment_enterprise_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_run_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_enterprise_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_enterprise_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_ai_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_bing_grounding.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_code_interpreter_attachment_enterprise_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_enterprise_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_batch_enterprise_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_file_search.py
Labels: AI

#38459 [ai] fix(pylint): Resolve `C0301`, `C4739`, `C4740`, `C4741`, `C4742`, `C4743` for `azure-ai-projects`
  sdk/ai/azure-ai-projects/azure/ai/projects/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
Labels: AI

#38475 Enable test recordings for tests\inference, tests\telemetry and tests\connection
  sdk/ai/azure-ai-projects/azure_ai_projects_tests.env
  sdk/ai/azure-ai-projects/dev_requirements.txt
  sdk/ai/azure-ai-projects/tests/conftest.py
  sdk/ai/azure-ai-projects/tests/connections/connection_test_base.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections_async.py
  sdk/ai/azure-ai-projects/tests/inference/inference_test_base.py
  sdk/ai/azure-ai-projects/tests/inference/test_inference.py
  sdk/ai/azure-ai-projects/tests/inference/test_inference_async.py
  sdk/ai/azure-ai-projects/tests/telemetry/telemetry_test_base.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_telemetry.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_telemetry_async.py
Labels: AI

#38463 [EventHub] run update python snippet
  sdk/eventhub/azure-eventhub/README.md
Labels: Event Hubs

#38438 [Storage] Changelogs for STG 96 GA
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
Labels: Storage

#38485 [ServiceBus] add batch size error to CHANGELOG.md
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#38483 Removed enterprise and add installation for tracing
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/samples/agents/assistant-p8a1RfPaN1HMCT69X8YoEjlp_image_file.png
  sdk/ai/azure-ai-projects/samples/agents/assistant-yH17pFqN8YkDalDYSHearWdv_image_file.png
Labels: AI

#38487 Fix remaining mypy errors, all related to mismatching variable types
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/samples/connections/async_samples/sample_connections_async.py
  sdk/ai/azure-ai-projects/samples/connections/sample_connections.py
Labels: AI

#38488 [SB] = needed in comparison
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
Labels: Service Bus

#38486 Make Import That Requires Extra a Local Import
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
Labels: Evaluation

#38490 Run `black --config ../../../eng/black-pyproject.toml .`
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_enterprise_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics.py
  sdk/ai/azure-ai-projects/samples/connections/async_samples/sample_connections_async.py
  sdk/ai/azure-ai-projects/samples/connections/sample_connections.py
  sdk/ai/azure-ai-projects/samples/evaluations/async_samples/sample_evaluations_async.py
  sdk/ai/azure-ai-projects/samples/evaluations/sample_evaluations_schedules.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
Labels: AI

#38471 Make "prompts" as Python extras and format string input properly
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_parsers.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_utils.py
  sdk/ai/azure-ai-inference/dev_requirements.txt
  sdk/ai/azure-ai-inference/setup.py
  sdk/ai/azure-ai-inference/tests/prompty.json
  sdk/ai/azure-ai-inference/tests/test_prompts.py
Labels: AI Model Inference

#38489 [ServiceBus] Update CHANGELOG.md to include port fix
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#38136 Fix: Allow tuples to be used for hierarchical partition key values.
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/partition_key.py
  sdk/cosmos/azure-cosmos/test/test_crud_subpartition.py
  sdk/cosmos/azure-cosmos/test/test_crud_subpartition_async.py
Labels: Cosmos

#38484 Increment version for translation releases
  sdk/translation/azure-ai-translation-document/CHANGELOG.md
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_version.py
Labels: Cognitive - Translator

#38495 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs

#38494 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus

#38325 Sync eng/common directory with azure-sdk-tools for PR 9328
  eng/common/pipelines/templates/steps/save-package-properties.yml
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#38498 openai fix tests, update to Oct preview
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/test_models.py
  sdk/openai/azure-openai/tests/test_models_async.py
  sdk/openai/tests.yml
Labels: OpenAI

#38500 [ai] fix(pylint): Resolving remaining pylint errors
  sdk/ai/azure-ai-projects/azure/ai/projects/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_utils.py
Labels: AI

#38481 Disable all agents tests. Push recordings for all other tests to the assents folder
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/azure_ai_projects_tests.env
  sdk/ai/azure-ai-projects/dev_requirements.txt
  sdk/ai/azure-ai-projects/samples/inference/async_samples/sample_chat_completions_with_azure_openai_client_async.py
  sdk/ai/azure-ai-projects/tests/conftest.py
Labels: AI

#38493 Fix error NoneType object is not subscriptable
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/feature_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
Labels: Machine Learning, customer-reported, Community Contribution

#38503 Fix pylint and new mypy issues
  eng/pylintrc
  pylintrc
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/pyproject.toml
Labels: AI

#38517 Rename `with_credentials` to `include_credentials`
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/samples/connections/async_samples/sample_connections_async.py
  sdk/ai/azure-ai-projects/samples/connections/sample_connections.py
  sdk/ai/azure-ai-projects/tests/connections/connection_test_base.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections_async.py
Labels: AI

#38509 Sync eng/common directory with azure-sdk-tools for PR 9373
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#38520 Update fluency evaluator id
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_fluency/_fluency.py
Labels: Evaluation

#38482 Sync eng/common directory with azure-sdk-tools for PR 9364
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#38519 Update fluency evaluator id
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_fluency/_fluency.py
Labels: Evaluation

#38521 Update CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
Labels: App Configuration Provider

#38526 [Storage] Increment Versions after STG 96 GA Release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Labels: Storage

#38525 Evaluation: Update TSG to tell customers how to find the right info for role assignment
  sdk/evaluation/azure-ai-evaluation/TROUBLESHOOTING.md
Labels: Evaluation

#38491 Ensure that mac runs on py311+
  eng/pipelines/templates/stages/platform-matrix-excluding-pypy.json
  eng/pipelines/templates/stages/platform-matrix-no-313.json
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/ml/ci.yml
  sdk/storage/ci.yml
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage
