Repository Azure/azure-sdk-for-python, pull requests merged in 2024-07, with the labels that each got.

#35886 Sync eng/common directory with azure-sdk-tools for PR 8371
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#35889 [ServiceBus] Fix for Lock
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/client.py
Labels: Service Bus

#36279 feat: support number Input in internal Spark
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_schema/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/_schema/input_output.py
  sdk/ml/azure-ai-ml/tests/internal/unittests/test_component.py
  sdk/ml/azure-ai-ml/tests/test_configs/internal/spark-component-special-type/conda.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/internal/spark-component-special-type/run.py
  sdk/ml/azure-ai-ml/tests/test_configs/internal/spark-component-special-type/spec.yaml
Labels: Machine Learning

#36302 Updating the 1.18.0 release date in change log
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#36315 adding 1.19.0 entry to change log and version
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#36307 add registration doc
  sdk/identity/azure-identity/APP_REGISTRATION.md
  sdk/identity/azure-identity/images/add-role-assignment-menu.png
  sdk/identity/azure-identity/images/admin-center-settings-icon.png
  sdk/identity/azure-identity/images/members.png
  sdk/identity/azure-identity/images/portal-02-app-reg-01.png
  sdk/identity/azure-identity/images/portal-03-app-reg-02.png
  sdk/identity/azure-identity/images/review-assign.png
  sdk/identity/azure-identity/images/rg-access-control.png
  sdk/identity/azure-identity/images/rg-overview.png
  sdk/identity/azure-identity/images/rg-role-assignments.png
  sdk/identity/azure-identity/images/roles.png
  sdk/identity/azure-identity/images/scope-levels.png
Labels: Azure.Identity

#36308 Update doc for the credentials that default to cli app id
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
Labels: Azure.Identity

#36131 Fix workspace update tagging
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace.py
Labels: Machine Learning

#36247 updating the alpha version
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_version.py
Labels: Communication

#36292 [SB] Stress creds
  sdk/servicebus/azure-servicebus/stress/scripts/conftest.py
  sdk/servicebus/azure-servicebus/stress/scripts/dev_requirements.txt
  sdk/servicebus/azure-servicebus/stress/scripts/stress_runner.cfg
  sdk/servicebus/azure-servicebus/stress/scripts/stress_runner.py
  sdk/servicebus/azure-servicebus/stress/scripts/test_stress_queues.py
  sdk/servicebus/azure-servicebus/stress/scripts/test_stress_queues_async.py
  sdk/servicebus/azure-servicebus/stress/stress-test-resources.bicep
Labels: Service Bus

#36325 re-add workspace default app insights, fix project ARM template
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/ai_workspaces/e2etests/test_ai_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace.py
Labels: Machine Learning

#36309 Sync eng/common directory with azure-sdk-tools for PR 8528
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#36338 disable tests that require local auth
  sdk/search/azure-search-documents/tests/async_tests/test_search_indexer_client_live_async.py
  sdk/search/azure-search-documents/tests/test_search_indexer_client_live.py
Labels: Search

#36314 [Storage] [STG95] Premium Files Paid Burst
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_azure_file_storage.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_configuration.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_azure_file_storage.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_configuration.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage

#36297 Sync eng/common directory with azure-sdk-tools for PR 8516
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#36321 Sync eng/common directory with azure-sdk-tools for PR 8549
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy.ps1
Labels: EngSys, Central-EngSys

#36326 Enable CI for Azure Load Testing SDK
  sdk/loadtesting/azure-developer-loadtesting/pyproject.toml
Labels: Load Test Service

#36339 Remove non-Microsoft code owner from ML Local Endpoints
  .github/CODEOWNERS
Labels: ML-Local Endpoints

#36086 Increment version for devcenter releases
  sdk/devcenter/azure-developer-devcenter/CHANGELOG.md
  sdk/devcenter/azure-developer-devcenter/azure/developer/devcenter/_version.py
Labels: DevCenter

#36038 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs

#35944 Increment version for synapse releases
  sdk/synapse/azure-synapse-artifacts/CHANGELOG.md
  sdk/synapse/azure-synapse-artifacts/azure/synapse/artifacts/_version.py
Labels: Synapse

#35597 Increment version for webpubsub releases
  sdk/webpubsub/azure-messaging-webpubsubservice/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_version.py
Labels: WebPubSub

#35432 Increment version for communication releases
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_version.py
Labels: Communication

#36336 Cherry pick workspace fixes into 1.18
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/ai_workspaces/e2etests/test_ai_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace.py
Labels: Machine Learning

#36354 Patch Version update for hotfix 1.17.1
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#36353 re-add workspace default app insights, fix project ARM template (#36325)
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/ai_workspaces/e2etests/test_ai_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace.py
Labels: Machine Learning

#36358 Support enable sso for compute instance in python sdk v2
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_04_01_preview/aio/operations/_compute_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_04_01_preview/models/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_04_01_preview/models/_models.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_04_01_preview/models/_models_py3.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_04_01_preview/operations/_compute_operations.py
Labels: Machine Learning, customer-reported, Community Contribution

#36367 Cherry pick: Support enable sso for compute instance
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_04_01_preview/aio/operations/_compute_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_04_01_preview/models/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_04_01_preview/models/_models.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_04_01_preview/models/_models_py3.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_04_01_preview/operations/_compute_operations.py
Labels: Machine Learning, customer-reported, Community Contribution

#36361 [Communication] - Sms - Fixed pylint issues
  sdk/communication/azure-communication-sms/CHANGELOG.md
  sdk/communication/azure-communication-sms/azure/communication/sms/_sms_client.py
Labels: Communication - SMS

#36356 updating changelog for 1.17.1
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#36344 Sync eng/common directory with azure-sdk-tools for PR 8543
  eng/common/InterdependencyGraph.html
Labels: EngSys, Central-EngSys

#36343 Update aka link
  sdk/identity/azure-identity/azure/identity/_credentials/browser.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
Labels: Azure.Identity

#36382 Sync .github/workflows directory with azure-sdk-tools for PR 8566
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#36350 Sync eng/common directory with azure-sdk-tools for PR 8558
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
  eng/common/TestResources/remove-test-resources.yml
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#36165 strict sphinx cosmos
  .vscode/cspell.json
  sdk/cosmos/azure-cosmos/MANIFEST.in
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/exceptions.py
  sdk/cosmos/azure-cosmos/azure/cosmos/user.py
  sdk/cosmos/azure-cosmos/doc/azure.cosmos.aio.rst
  sdk/cosmos/azure-cosmos/doc/azure.cosmos.rst
  sdk/cosmos/azure-cosmos/pyproject.toml
Labels: Cosmos

#36335 [EH] update stress creds
  sdk/eventhub/azure-eventhub/stress/Dockerfile
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_consumer_stress_async.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_consumer_stress_sync.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_producer_stress.py
  sdk/eventhub/azure-eventhub/stress/scripts/dev_requirement.txt
  sdk/eventhub/azure-eventhub/stress/stress-test-resources.bicep
Labels: Event Hubs

#36389 [SB] add cert install
  sdk/servicebus/azure-servicebus/stress/Dockerfile
Labels: Service Bus

#36403 [ServiceBus] Call AccessToken properties instead of unpacking in AdminClient
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_shared_key_policy_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_shared_key_policy.py
Labels: Service Bus

#36402 Strict sphinx ai
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_patch.py
  sdk/ai/azure-ai-inference/pyproject.toml
Labels: AI Model Inference

#36404 Add pickling support for SharedTokenCacheCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/silent.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/tests/test_pickling.py
Labels: Azure.Identity

#36405 [Key Vault] Resolve `next-pylint` errors from type checking imports
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/http_challenge.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/http_challenge_cache.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/http_challenge.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/http_challenge_cache.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/http_challenge.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/http_challenge_cache.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/algorithm.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/algorithms/sha_2.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/key.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_key_validity.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_providers/local_provider.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/http_challenge.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/http_challenge_cache.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/_client.py
Labels: KeyVault, Client, pylint

#36415 fix broken links
  sdk/cognitivelanguage/azure-ai-language-questionanswering/README.md
Labels: Cognitive - Language

#36208 [Storage] STG94 GA API View Feedback
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage

#36417 [ServiceBus] trigger ci on core pr
  sdk/servicebus/ci.yml
Labels: Service Bus

#36418 [Storage] STG94 GA APIView Nits 2
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
Labels: Storage

#36421 Sync eng/common directory with azure-sdk-tools for PR 8597
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/pipelines/templates/steps/verify-path-length.yml
  eng/common/pipelines/templates/steps/verify-readme.yml
Labels: EngSys, Central-EngSys

#36422 [Storage] STG94 GA APIView Nits 3
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
Labels: Storage

#36420 Sync eng/common directory with azure-sdk-tools for PR 8588
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#36386 [SchemaRegistry] update client for JSON/Custom GA
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/README.md
  sdk/schemaregistry/azure-schemaregistry/assets.json
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_configuration.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_operations/_operations.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_operations/_patch.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_patch.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_version.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_configuration.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_operations/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_operations/_patch.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_patch.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/encoder/jsonencoder/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/encoder/jsonencoder/_constants.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/encoder/jsonencoder/_exceptions.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/encoder/jsonencoder/_schema_registry_json_encoder.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/encoder/jsonencoder/_utils.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/encoder/jsonencoder/aio/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/encoder/jsonencoder/aio/_schema_registry_json_encoder_async.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/models/_enums.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/models/_patch.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/jsonencoder/encode_and_decode_event_data_message_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/jsonencoder/encode_and_decode_with_message_content_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/jsonencoder/eventhub_receive_integration_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/jsonencoder/eventhub_send_integration_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/jsonencoder/encode_and_decode_event_data_message.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/jsonencoder/encode_and_decode_with_message_content.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/jsonencoder/eventhub_receive_integration.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/jsonencoder/eventhub_send_integration.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/test_json_encoder_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/test_schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/test_json_encoder.py
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
Labels: Schema Registry

#35887 [Storage] Switch from `ClientSecretCredential` to `DefaultAzureCredential` v2
  sdk/storage/azure-storage-blob-changefeed/tests/settings/settings_fake.py
  sdk/storage/azure-storage-blob-changefeed/tests/settings/testcase.py
  sdk/storage/azure-storage-blob/tests/settings/settings_fake.py
  sdk/storage/azure-storage-blob/tests/settings/testcase.py
  sdk/storage/azure-storage-blob/tests/test_append_blob.py
  sdk/storage/azure-storage-blob/tests/test_append_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_client.py
  sdk/storage/azure-storage-blob/tests/test_blob_client_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_sync_copy.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_sync_copy_async.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-blob/tests/test_cpk_n.py
  sdk/storage/azure-storage-blob/tests/test_cpk_n_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
  sdk/storage/azure-storage-file-datalake/tests/settings/settings_fake.py
  sdk/storage/azure-storage-file-datalake/tests/settings/testcase.py
  sdk/storage/azure-storage-file-datalake/tests/test_datalake_service_client.py
  sdk/storage/azure-storage-file-datalake/tests/test_datalake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
  sdk/storage/azure-storage-file-share/tests/settings/settings_fake.py
  sdk/storage/azure-storage-file-share/tests/settings/testcase.py
  sdk/storage/azure-storage-file-share/tests/test_directory.py
  sdk/storage/azure-storage-file-share/tests/test_directory_async.py
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
  sdk/storage/azure-storage-file-share/tests/test_file_client.py
  sdk/storage/azure-storage-file-share/tests/test_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
  sdk/storage/azure-storage-queue/tests/settings/settings_fake.py
  sdk/storage/azure-storage-queue/tests/settings/testcase.py
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
  sdk/storage/azure-storage-queue/tests/test_queue_client.py
  sdk/storage/azure-storage-queue/tests/test_queue_client_async.py
  sdk/storage/tests.yml
  tools/azure-sdk-tools/devtools_testutils/storage/aio/asynctestcase.py
  tools/azure-sdk-tools/devtools_testutils/storage/testcase.py
Labels: Storage

#36445 [Storage] STG94 GA APIView Feedback
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
Labels: Storage

#36450 fix flaky tests so we can run samples
  sdk/openai/azure-openai/tests/test_assistants.py
  sdk/openai/azure-openai/tests/test_assistants_async.py
Labels: OpenAI

#36451 [Storage] Fix read typehint in `_download_async.py`
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
Labels: Storage

#36424 Fix the yaml parsing issue.
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_finetuning/constants.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_finetuning/finetuning_vertical.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_job/finetuning.py
  sdk/ml/azure-ai-ml/tests/finetuning_job/conftest.py
  sdk/ml/azure-ai-ml/tests/finetuning_job/unittests/test_azure_openai_finetuning_job_schema.py
  sdk/ml/azure-ai-ml/tests/finetuning_job/unittests/test_custom_model_finetuning_job_schema.py
Labels: Machine Learning

#36419 Sync eng/common directory with azure-sdk-tools for PR 8598
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#36437 [Servicebus] pylint
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_utils.py
Labels: Service Bus

#36436 [Communication] july pylint next
  sdk/communication/azure-communication-chat/azure/communication/chat/_chat_client.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_chat_thread_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/siprouting/_sip_routing_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/siprouting/aio/_sip_routing_client_async.py
Labels: Communication - Chat, Communication - Phone Numbers

#36480 [Identity] Update integration test Dockerfiles
  sdk/identity/azure-identity/tests/integration/azure-functions/Dockerfile
  sdk/identity/azure-identity/tests/integration/azure-kubernetes-service/Dockerfile
Labels: Azure.Identity

#36485 [CallAutomation] Update play_media overloads
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
Labels: Communication

#36483 [Storage] Adjust dev_requirements and tests.yml
  sdk/storage/azure-storage-blob-changefeed/dev_requirements.txt
  sdk/storage/azure-storage-blob/dev_requirements.txt
  sdk/storage/azure-storage-file-datalake/dev_requirements.txt
  sdk/storage/azure-storage-file-share/dev_requirements.txt
  sdk/storage/azure-storage-queue/dev_requirements.txt
  sdk/storage/tests.yml
Labels: Storage

#36225 Identity msal mi mig
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/app_service.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_arc.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_ml.py
  sdk/identity/azure-identity/azure/identity/_credentials/cloud_shell.py
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/_credentials/service_fabric.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_base.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_client.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/app_service.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_arc.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_ml.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/cloud_shell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/service_fabric.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/managed_identity_base.py
  sdk/identity/azure-identity/setup.py
  sdk/identity/azure-identity/tests/test_azure_arc.py
  sdk/identity/azure-identity/tests/test_chained_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity

#36495 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#36472 Changes in yaml schema to allow file path specified directly without specifying type "uri_file" explicitly.
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_finetuning/finetuning_vertical.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/finetuning/azure_openai_finetuning_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/finetuning/custom_model_finetuning_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/finetuning/finetuning_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/tests/finetuning_job/conftest.py
  sdk/ml/azure-ai-ml/tests/finetuning_job/e2e_tests/test_custom_model_finetuning_job.py
  sdk/ml/azure-ai-ml/tests/finetuning_job/unittests/test_azure_openai_finetuning_job_schema.py
  sdk/ml/azure-ai-ml/tests/finetuning_job/unittests/test_custom_model_finetuning_job_schema.py
  sdk/ml/azure-ai-ml/tests/finetuning_job/unittests/test_finetuning_job_convesion.py
  sdk/ml/azure-ai-ml/tests/job_common/unittests/test_job_operations.py
  sdk/ml/azure-ai-ml/tests/test_configs/finetuning_job/e2e_configs/custom_model_finetuning_job/mock_custom_model_finetuning_job_full.yaml
Labels: Machine Learning, customer-reported, Community Contribution

#36498 [Storage] STG94 GA Release Changelog Bump
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#36493 Machine Learning Sample Issue #36277
  sdk/ml/azure-ai-ml/samples/ml_samples_featurestore.py
Labels: Machine Learning

#36505 [EventHubs] update perf baseline
  sdk/eventhub/perf-tests.yml
Labels: Event Hubs

#36508 [Storage] STG94 GA Release Changelog Bump
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#36487 [Storage] Add crc64 support to Datalake `download_file`
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_content_validation.py
  sdk/storage/azure-storage-file-datalake/tests/test_content_validation_async.py
Labels: Storage

#36182 [DI] Update resource setup script
  sdk/documentintelligence/azure-ai-documentintelligence/assets.json
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_custom_documents_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_custom_documents.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/preparers.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_classify_document.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_classify_document_async.py
  sdk/documentintelligence/test-resources.json
  sdk/documentintelligence/tests.yml
Labels: Document Intelligence

#36392 Support credential-less fileshare datastore
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_datastore/azure_storage.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/azure_storage.py
Labels: Machine Learning

#36486 Sync eng/common directory with azure-sdk-tools for PR 8602
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#36531 Fix issue with language specific certificate trust
  eng/scripts/Language-Settings.ps1
  sdk/template/ci.yml
Labels: EngSys

#36529 Reformat DefaultAzureCredential flow chart
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#36387 Using federated auth for ACS tests
  sdk/communication/azure-communication-chat/tests.yml
  sdk/communication/azure-communication-chat/tests/_shared/utils.py
  sdk/communication/azure-communication-identity/samples/identity_samples.py
  sdk/communication/azure-communication-identity/tests.yml
  sdk/communication/azure-communication-identity/tests/_shared/utils.py
  sdk/communication/azure-communication-identity/tests/test_communication_identity_client.py
  sdk/communication/azure-communication-identity/tests/test_communication_identity_client_async.py
  sdk/communication/azure-communication-jobrouter/tests/_shared/utils.py
  sdk/communication/azure-communication-rooms/tests.yml
  sdk/communication/azure-communication-rooms/tests/_shared/utils.py
  sdk/communication/test-resources/test-resources.json
  sdk/communication/tests.yml
Labels: Communication, Communication - Chat, Communication - Common, Communication - Identity, Communication - Rooms

#36535 [Storage] Bump Versions after STG 94 GA Release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#36547 [Cosmos] fix samples
  sdk/cosmos/azure-cosmos/samples/examples.py
  sdk/cosmos/azure-cosmos/samples/examples_async.py
Labels: Cosmos

#36426 Include helper functions in sample snippets
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_addon_query_fields_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_addon_barcodes_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_addon_fonts_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_addon_formulas_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_addon_highres_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_addon_languages_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_addon_query_fields_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_custom_documents_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_documents_output_in_markdown_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_general_documents_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_identity_documents_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_invoices_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_invoices_from_bytes_source_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_layout_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_read_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_receipts_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_receipts_from_url_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_tax_us_w2_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_classify_document_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_compose_model_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_convert_to_dict_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_copy_model_to_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_manage_classifiers_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_manage_models_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_addon_barcodes.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_addon_fonts.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_addon_formulas.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_addon_highres.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_custom_documents.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_general_documents.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_receipts.py
Labels: Document Intelligence

#36549 Sync eng/common directory with azure-sdk-tools for PR 8669
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#36506 Sync eng/common directory with azure-sdk-tools for PR 8650
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/pipelines/templates/steps/verify-links.yml
Labels: EngSys, Central-EngSys

#36550 Fix Documented Mypy Version in Tox
  CONTRIBUTING.md
  doc/dev/static_type_checking.md
Labels: customer-reported, Community Contribution

#35769 [AppConfig] Update FeatureFlagSetting to enable parsing different id and key name.
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_consistency.py
Labels: App Configuration

#35925 Fix Form Recognizer daily test pipeline issue
  sdk/formrecognizer/azure-ai-formrecognizer/tests/preparers.py
Labels: Cognitive - Form Recognizer

#36497 [Monitor] Use federated auth for live tests
  sdk/monitor/azure-monitor-query/tests/conftest.py
  sdk/monitor/azure-monitor-query/tests/test_exceptions.py
  sdk/monitor/azure-monitor-query/tests/test_exceptions_async.py
  sdk/monitor/test-resources-post.ps1
  sdk/monitor/test-resources.bicep
  sdk/monitor/tests.yml
Labels: Monitor

#36512 Use batch sanitizing feature from sanitizing fixture
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/tests/component/e2etests/test_component.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  tools/azure-sdk-tools/devtools_testutils/proxy_fixtures.py
  tools/azure-sdk-tools/devtools_testutils/sanitizers.py
Labels: Machine Learning, test-proxy

#36545 [SB] Fix the Scope In SB Management Client
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
Labels: Service Bus

#36239 DI migrate tests
  sdk/documentintelligence/azure-ai-documentintelligence/dev_requirements.txt
  sdk/documentintelligence/azure-ai-documentintelligence/tests/preparers.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_custom_model.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_custom_model_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_classify_document.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_classify_document_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dmac_classifiers_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dmac_compose_model_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dmac_copy_model_async.py
  sdk/documentintelligence/tests.yml
Labels: Document Intelligence

#36563 Turn on federated auth by default
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/cosmos/tests.yml
Labels: Cosmos

#36317 Bug 3323988: Regex fix and indices correction for model download
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_constants.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_storage_utils.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_storage_utils.py
Labels: Machine Learning

#35819 [EventHub] update tests to remove connection string
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/samples/async_samples/connection_to_custom_endpoint_address_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/proxy_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/receive_batch_with_checkpoint_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_for_period_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_track_last_enqueued_event_prop_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_checkpoint_by_event_count_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_checkpoint_by_time_interval_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_checkpoint_store_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_custom_starting_position_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/sample_code_eventhub_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/send_and_receive_amqp_annotated_message_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/send_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/send_buffered_mode_async.py
  sdk/eventhub/azure-eventhub/samples/async_samples/send_stream_async.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/connection_to_custom_endpoint_address.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/proxy.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/receive_batch_with_checkpoint.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_for_period.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_track_last_enqueued_event_prop.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_with_checkpoint_by_event_count.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_with_checkpoint_by_time_interval.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_with_checkpoint_store.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/recv_with_custom_starting_position.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/sample_code_eventhub.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/send.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/send_and_receive_amqp_annotated_message.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/send_buffered_mode.py
  sdk/eventhub/azure-eventhub/samples/sync_samples/send_stream.py
  sdk/eventhub/azure-eventhub/tests/conftest.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_auth_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_buffered_producer_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_consumer_client_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_eventprocessor_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_negative_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_properties_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_receive_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_reconnect_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_send_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_auth.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_buffered_producer.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_consumer_client.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_eventprocessor.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_negative.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_properties.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_receive.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_reconnect.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_send.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/synctests/test_mgmt_pyamqp.py
  sdk/eventhub/azure-eventhub/tests/scripts/pyamqp/async/async_receive.py
  sdk/eventhub/azure-eventhub/tests/scripts/pyamqp/async/async_send.py
  sdk/eventhub/azure-eventhub/tests/scripts/pyamqp/preload_eventhub_script_for_receiving.py
  sdk/eventhub/azure-eventhub/tests/scripts/pyamqp/sync_receive.py
  sdk/eventhub/azure-eventhub/tests/scripts/pyamqp/sync_send.py
  sdk/eventhub/azure-eventhub/tests/tracing_common.py
  sdk/eventhub/test-resources.json
  sdk/eventhub/tests.yml
Labels: Event Hubs

#36582 [Core] add parallel=1 as perf scenario for core
  sdk/core/azure-core/perf-tests.yml
  sdk/core/azure-core/perf.yml
  sdk/core/corehttp/perf-tests.yml
  sdk/core/corehttp/perf.yml
Labels: Azure.Core

#34114 Fix Communication Call Automation Readme issue
  sdk/communication/azure-communication-callautomation/README.md
Labels: Communication

#36555 [Cosmos] enable pk delete tests
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
  sdk/cosmos/azure-cosmos/test/test_partition_split_query.py
Labels: Cosmos

#36569 [Cosmos] fix resource validation to allow longer strings
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/test/test_resource_id.py
  sdk/cosmos/azure-cosmos/test/test_resource_id_async.py
Labels: Cosmos

#36608 Sync eng/common directory with azure-sdk-tools for PR 8680
  eng/common/TestResources/sub-config/AzureChinaMsft.json
  eng/common/TestResources/sub-config/AzurePreviewMsft.json
  eng/common/TestResources/sub-config/AzureUsGovMsft.json
Labels: EngSys, Central-EngSys

#36593 [Storage] Fix Public Access Tests (w/ recordings)
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
Labels: Storage

#36607 Update docs for uses of AuthenticationRecord
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
Labels: Azure.Identity

#36606 [EG] add back envvars to tests
  sdk/eventgrid/azure-eventgrid/samples/basic/consume_samples/consume_cloud_events_from_eventhub.py
  sdk/eventgrid/azure-eventgrid/samples/basic/consume_samples/consume_cloud_events_from_storage_queue.py
  sdk/eventgrid/azure-eventgrid/samples/basic/consume_samples/consume_eventgrid_events_from_service_bus_queue.py
  sdk/eventgrid/test-resources.json
  sdk/eventgrid/tests.yml
Labels: Event Grid

#36618 Update CHANGELOG.md
  sdk/healthdataaiservices/azure-health-deidentification/CHANGELOG.md
Labels: Health Deidentification

#36595 [Storage] Removed docstrings from Blob's helper files + slight `_shared` matchings
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client_helpers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/response_handlers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/policies.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/response_handlers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/response_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads_async.py
Labels: Storage

#36617 Increment version for vision releases
  sdk/vision/azure-ai-vision-imageanalysis/CHANGELOG.md
  sdk/vision/azure-ai-vision-imageanalysis/azure/ai/vision/imageanalysis/_version.py
Labels: Image Analysis

#36567 Simplify build yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/jobs/regression.yml
  eng/pipelines/templates/stages/archetype-python-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/steps/build-extended-artifacts.yml
  eng/pipelines/templates/steps/build-package-artifacts.yml
  eng/pipelines/templates/steps/build.yml
  eng/pipelines/templates/steps/download-package-artifacts.yml
  eng/pipelines/templates/steps/resolve-build-platforms.yml
  eng/pipelines/templates/steps/set-dev-build.yml
  eng/pipelines/templates/steps/use-venv.yml
  eng/scripts/create-venv.ps1
  sdk/storage/ci.yml
Labels: Storage

#36431 [Storage] Modified `StorageRetryPolicy` to skip `AzureSigningError` from bad storage account key
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/response_handlers.py
  sdk/storage/azure-storage-blob/tests/test_retry.py
  sdk/storage/azure-storage-blob/tests/test_retry_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/response_handlers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/policies.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/policies_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/response_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/response_handlers.py
Labels: Storage

#36609 Default to sub config file paths/svc connection for public + sovereign live tests
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/appconfiguration/tests.yml
  sdk/communication/tests.yml
  sdk/containerregistry/tests.yml
  sdk/documentintelligence/tests.yml
  sdk/eventhub/tests.yml
  sdk/formrecognizer/tests.yml
  sdk/identity/tests.yml
  sdk/keyvault/azure-keyvault-administration/tests.yml
  sdk/keyvault/azure-keyvault-keys/tests.yml
  sdk/keyvault/tests.yml
  sdk/maps/tests.yml
  sdk/ml/automl.tests.yml
  sdk/monitor/tests.yml
  sdk/search/tests.yml
  sdk/servicebus/tests.yml
  sdk/tables/tests.yml
  sdk/textanalytics/tests.yml
  sdk/translation/tests.yml
Labels: Central-EngSys

#36473 [Storage] [STG 95] Files OAuth - Full Data Plane Support
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage

#36652 Sync eng/common directory with azure-sdk-tools for PR 8677
  eng/common/pipelines/templates/steps/set-daily-docs-branch-name.yml
Labels: EngSys, Central-EngSys

#36620 [Tests] Update various credential mocks
  sdk/appconfiguration/azure-mgmt-appconfiguration/tests/_aio_testcase.py
  sdk/communication/azure-communication-chat/tests/test_chat_client_async.py
  sdk/communication/azure-communication-chat/tests/test_chat_thread_client_async.py
  sdk/compute/azure-mgmt-compute/tests/_aio_testcase.py
  sdk/core/azure-core/tests/async_tests/test_authentication_async.py
  sdk/core/azure-core/tests/async_tests/test_pipeline_async.py
  sdk/core/azure-core/tests/test_authentication.py
  sdk/core/azure-mgmt-core/tests/asynctests/test_authentication_async.py
  sdk/core/azure-mgmt-core/tests/test_authentication.py
  sdk/core/corehttp/tests/async_tests/test_authentication_async.py
  sdk/core/corehttp/tests/test_authentication.py
  sdk/eventhub/azure-mgmt-eventhub/tests/_aio_testcase.py
  sdk/identity/azure-identity/tests/perfstress_tests/bearer_token_auth_policy.py
  sdk/identity/azure-identity/tests/test_application_credential.py
  sdk/identity/azure-identity/tests/test_application_credential_async.py
  sdk/identity/azure-identity/tests/test_azd_cli_credential_async.py
  sdk/identity/azure-identity/tests/test_chained_credential.py
  sdk/identity/azure-identity/tests/test_chained_token_credential_async.py
  sdk/identity/azure-identity/tests/test_cli_credential_async.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
  sdk/identity/azure-identity/tests/test_powershell_credential_async.py
  sdk/keyvault/azure-keyvault-administration/tests/_shared/preparer.py
  sdk/keyvault/azure-keyvault-administration/tests/_shared/preparer_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/_shared/preparer.py
  sdk/keyvault/azure-keyvault-certificates/tests/_shared/preparer_async.py
  sdk/keyvault/azure-keyvault-keys/tests/_shared/preparer.py
  sdk/keyvault/azure-keyvault-keys/tests/_shared/preparer_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/_shared/preparer.py
  sdk/keyvault/azure-keyvault-secrets/tests/_shared/preparer_async.py
  sdk/monitor/azure-mgmt-monitor/tests/_aio_testcase.py
  sdk/network/azure-mgmt-network/tests/_aio_testcase.py
  sdk/storage/azure-mgmt-storage/tests/_aio_testcase.py
  sdk/tables/azure-data-tables/tests/test_challenge_auth.py
  sdk/tables/azure-data-tables/tests/test_challenge_auth_async.py
Labels: KeyVault, Azure.Core, Azure.Identity, Tables, Purview, Communication - Chat

#36224 Add code snippets for pipeline validations and content references
  sdk/openai/azure-openai/dev_requirements.txt
  sdk/openai/azure-openai/pyproject.toml
  sdk/openai/azure-openai/samples/README.md
  sdk/openai/azure-openai/samples/chat_completions_aoai_quickstart.py
  sdk/openai/azure-openai/samples/chat_completions_oyd.py
  sdk/openai/azure-openai/samples/completions_aoai_quickstart.py
  sdk/openai/azure-openai/samples/images_aoai_quickstart.py
  sdk/openai/tests.yml
Labels: OpenAI

#36656 [SchemaRegistry] use federated auth
  sdk/schemaregistry/test-resources.json
  sdk/schemaregistry/tests.yml
Labels: Schema Registry

#36554 [Storage] Add crc64 support to fileshare upload
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/streams.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/streams_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/validation.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_upload_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/streams.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/streams_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/validation.py
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_azure_file_storage.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_configuration.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_azure_file_storage.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_configuration.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_azure_file_storage_enums.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/streams.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/streams_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/validation.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/swagger/README.md
  sdk/storage/azure-storage-file-share/tests/test_content_validation.py
  sdk/storage/azure-storage-file-share/tests/test_content_validation_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/streams.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/streams_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/validation.py
Labels: Storage

#36658 Account for OS in PATH-setting
  doc/dev/recording_migration_guide.md
Labels: test-proxy

#36655 [EventHubs] skip samples until DefaultAzureCredential can be used
  scripts/devops_tasks/test_run_samples.py
  sdk/eventhub/tests.yml
Labels: Event Hubs

#36628 Adding enable_sso operation in compute operation
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_compute_operations.py
  sdk/ml/azure-ai-ml/tests/compute/unittests/test_compute_operations.py
Labels: Machine Learning

#36660 Sync eng/common directory with azure-sdk-tools for PR 8711
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
Labels: EngSys, Central-EngSys

#36663 CODEOWNERS Update
  .github/CODEOWNERS
Labels: customer-reported, Community Contribution

#36378 Implement Maps Render V2
  sdk/maps/azure-maps-render/CHANGELOG.md
  sdk/maps/azure-maps-render/README.md
  sdk/maps/azure-maps-render/assets.json
  sdk/maps/azure-maps-render/azure/maps/render/__init__.py
  sdk/maps/azure-maps-render/azure/maps/render/_client.py
  sdk/maps/azure-maps-render/azure/maps/render/_configuration.py
  sdk/maps/azure-maps-render/azure/maps/render/_enums.py
  sdk/maps/azure-maps-render/azure/maps/render/_generated/__init__.py
  sdk/maps/azure-maps-render/azure/maps/render/_generated/_vendor.py
  sdk/maps/azure-maps-render/azure/maps/render/_generated/aio/__init__.py
  sdk/maps/azure-maps-render/azure/maps/render/_generated/aio/operations/_patch.py
  sdk/maps/azure-maps-render/azure/maps/render/_generated/models/__init__.py
  sdk/maps/azure-maps-render/azure/maps/render/_generated/models/_models.py
  sdk/maps/azure-maps-render/azure/maps/render/_generated/models/_patch.py
  sdk/maps/azure-maps-render/azure/maps/render/_generated/operations/_patch.py
  sdk/maps/azure-maps-render/azure/maps/render/_generated/py.typed
  sdk/maps/azure-maps-render/azure/maps/render/_patch.py
  sdk/maps/azure-maps-render/azure/maps/render/_render_client.py
  sdk/maps/azure-maps-render/azure/maps/render/_serialization.py
  sdk/maps/azure-maps-render/azure/maps/render/_version.py
  sdk/maps/azure-maps-render/azure/maps/render/aio/__init__.py
  sdk/maps/azure-maps-render/azure/maps/render/aio/_client.py
  sdk/maps/azure-maps-render/azure/maps/render/aio/_configuration.py
  sdk/maps/azure-maps-render/azure/maps/render/aio/_patch.py
  sdk/maps/azure-maps-render/azure/maps/render/aio/_render_client_async.py
  sdk/maps/azure-maps-render/azure/maps/render/aio/operations/__init__.py
  sdk/maps/azure-maps-render/azure/maps/render/aio/operations/_operations.py
  sdk/maps/azure-maps-render/azure/maps/render/aio/operations/_patch.py
  sdk/maps/azure-maps-render/azure/maps/render/models/__init__.py
  sdk/maps/azure-maps-render/azure/maps/render/models/_models.py
  sdk/maps/azure-maps-render/azure/maps/render/operations/__init__.py
  sdk/maps/azure-maps-render/azure/maps/render/operations/_operations.py
  sdk/maps/azure-maps-render/azure/maps/render/operations/_patch.py
  sdk/maps/azure-maps-render/pyproject.toml
  sdk/maps/azure-maps-render/pytest.ini
  sdk/maps/azure-maps-render/samples/async_samples/sample_authentication_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_copyright_caption_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_copyright_for_tile_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_copyright_for_world_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_copyright_from_bounding_box_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_map_attribution_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_map_static_image_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_map_tile_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_map_tileset_async.py
  sdk/maps/azure-maps-render/samples/sample_authentication.py
  sdk/maps/azure-maps-render/samples/sample_get_copyright_caption.py
  sdk/maps/azure-maps-render/samples/sample_get_copyright_for_tile.py
  sdk/maps/azure-maps-render/samples/sample_get_copyright_for_world.py
  sdk/maps/azure-maps-render/samples/sample_get_copyright_from_bounding_box.py
  sdk/maps/azure-maps-render/samples/sample_get_map_attribution.py
  sdk/maps/azure-maps-render/samples/sample_get_map_static_image.py
  sdk/maps/azure-maps-render/samples/sample_get_map_tile.py
  sdk/maps/azure-maps-render/samples/sample_get_map_tileset.py
  sdk/maps/azure-maps-render/swagger/README.md
  sdk/maps/azure-maps-render/tests/test_render_client.py
  sdk/maps/azure-maps-render/tests/test_render_client_async.py
Labels: Maps

#36661 Increment version for ai releases
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/azure/ai/inference/_version.py
Labels: AI Model Inference

#36654 [Storage] Blobs Typing API View Feedback
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
Labels: Storage

#36481 Exporter Release 1.0.0b28 with OTel 1.26.0 for py3.12
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/setup.py
Labels: Monitor - Exporter

#36657 [Storage] [STG 95] Files Binary ACE
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_directory.py
  sdk/storage/azure-storage-file-share/tests/test_directory_async.py
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage

#36667 Updating release dates in changelog for version 1.19.0
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#36666 adding 1.20.0 entry to change log and version
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#36255 TimeZone SDK implementation
  sdk/maps/azure-maps-timezone/CHANGELOG.md
  sdk/maps/azure-maps-timezone/MANIFEST.in
  sdk/maps/azure-maps-timezone/README.md
  sdk/maps/azure-maps-timezone/assets.json
  sdk/maps/azure-maps-timezone/azure/__init__.py
  sdk/maps/azure-maps-timezone/azure/maps/__init__.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/__init__.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/_client.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/_configuration.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/_enums.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/_patch.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/_serialization.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/_version.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/aio/__init__.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/aio/_client.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/aio/_configuration.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/aio/_patch.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/aio/operations/__init__.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/aio/operations/_operations.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/aio/operations/_patch.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/operations/__init__.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/operations/_operations.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/operations/_patch.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/py.typed
  sdk/maps/azure-maps-timezone/dev_requirements.txt
  sdk/maps/azure-maps-timezone/mypy.ini
  sdk/maps/azure-maps-timezone/pyproject.toml
  sdk/maps/azure-maps-timezone/pytest.ini
  sdk/maps/azure-maps-timezone/samples/README.md
  sdk/maps/azure-maps-timezone/samples/async_samples/convert_windows_timezone_to_iana_async.py
  sdk/maps/azure-maps-timezone/samples/async_samples/get_iana_timezone_ids_async.py
  sdk/maps/azure-maps-timezone/samples/async_samples/get_iana_version_async.py
  sdk/maps/azure-maps-timezone/samples/async_samples/get_timezone_by_coordinates_async.py
  sdk/maps/azure-maps-timezone/samples/async_samples/get_timezone_by_id_async.py
  sdk/maps/azure-maps-timezone/samples/async_samples/get_windows_timezone_ids_async.py
  sdk/maps/azure-maps-timezone/samples/convert_windows_timezone_to_iana.py
  sdk/maps/azure-maps-timezone/samples/get_iana_timezone_ids.py
  sdk/maps/azure-maps-timezone/samples/get_iana_version.py
  sdk/maps/azure-maps-timezone/samples/get_timezone_by_coordinates.py
  sdk/maps/azure-maps-timezone/samples/get_timezone_by_id.py
  sdk/maps/azure-maps-timezone/samples/get_windows_timezone_ids.py
  sdk/maps/azure-maps-timezone/sdk_packaging.toml
  sdk/maps/azure-maps-timezone/setup.py
  sdk/maps/azure-maps-timezone/swagger/README.md
  sdk/maps/azure-maps-timezone/tests/conftest.py
  sdk/maps/azure-maps-timezone/tests/test_maps_timezone_client.py
  sdk/maps/azure-maps-timezone/tests/test_maps_timezone_client_async.py
  sdk/maps/azure-maps-timezone/tests/timezone_preparer.py
Labels: Maps

#36664 [Storage] Migrate from `ClientSecretCredential` to `DefaultAzureCredential` in Samples
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/samples/blob_samples_authentication.py
  sdk/storage/azure-storage-blob/samples/blob_samples_authentication_async.py
  sdk/storage/azure-storage-blob/samples/blob_samples_client_side_encryption_keyvault.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_service.py
  sdk/storage/azure-storage-file-datalake/samples/datalake_samples_service_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_authentication.py
  sdk/storage/azure-storage-queue/samples/queue_samples_authentication_async.py
Labels: Storage

#36482 Distro 1.6.1 with OTel 1.26.0 for py3.12
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/setup.py
Labels: Monitor - Exporter, Monitor - Distro

#36679 [Key Vault] Update tests to work with missing SP credentials
  sdk/keyvault/azure-keyvault-administration/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-administration/tests/_test_case.py
  sdk/keyvault/azure-keyvault-certificates/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-certificates/tests/_test_case.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
  sdk/keyvault/azure-keyvault-keys/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-keys/tests/_test_case.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-secrets/tests/_test_case.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_samples_secrets.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_samples_secrets_async.py
Labels: KeyVault, Client

#36681 Fix broken sample link
  sdk/openai/azure-openai/samples/README.md
Labels: OpenAI

#36682 Sync eng/common directory with azure-sdk-tools for PR 8721
  eng/common/testproxy/onboarding/generate-assets-json.ps1
Labels: EngSys, Central-EngSys

#36680 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#36686 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#36043 Container recreate retry policy Support for Cosmos DB Python SDK
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_container_recreate_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_retry_utility.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_retry_utility_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/exceptions.py
  sdk/cosmos/azure-cosmos/azure/cosmos/http_constants.py
  sdk/cosmos/azure-cosmos/test/test_container_properties_cache.py
  sdk/cosmos/azure-cosmos/test/test_container_properties_cache_async.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
  sdk/cosmos/azure-cosmos/test/test_crud_subpartition.py
  sdk/cosmos/azure-cosmos/test/test_crud_subpartition_async.py
Labels: Cosmos

#36696 Refactors for constants
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/logs/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/logs/test_logs.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/metrics/test_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_base_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/trace/test_trace.py
Labels: Monitor - Exporter

#35426 App Configuration Provider - Auto failover
  sdk/appconfiguration/azure-appconfiguration-provider/assets.json
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_client_manager.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_discovery.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/dev_requirements.txt
  sdk/appconfiguration/azure-appconfiguration-provider/setup.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/conftest.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/preparers.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_refresh.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_refresh.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/testcase.py
  shared_requirements.txt
Labels: App Configuration Provider

#36687 [Storage] [STG 95] API View Beta Feedback Fix
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage

#36699 [EH] fix remove roleID
  sdk/eventhub/azure-eventhub/stress/stress-test-resources.bicep
Labels: Event Hubs

#36703 Document alternate solution to PermissionError during test proxy use
  doc/dev/test_proxy_troubleshooting.md
Labels: test-proxy
