Repository Azure/azure-sdk-for-python, pull requests merged in 2024-08, with the labels that each got.

#36709 add return type to enable_sso
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_compute_operations.py
Labels: Machine Learning

#36710 API review comment
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_compute_operations.py
Labels: Machine Learning

#36714 Do not use deprecated `TokenCache.find()`
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_client.py
Labels: customer-reported, Azure.Identity, Community Contribution

#36303 Add MQTT generate token implementation
  sdk/webpubsub/azure-messaging-webpubsubservice/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/__init__.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_client.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_configuration.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_operations/__init__.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_operations/_operations.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_operations/_patch.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_patch.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_serialization.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_vendor.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_version.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/__init__.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/_client.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/_configuration.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/_operations/__init__.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/_operations/_operations.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/_operations/_patch.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/_patch.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/_vendor.py
  sdk/webpubsub/azure-messaging-webpubsubservice/setup.py
  sdk/webpubsub/azure-messaging-webpubsubservice/swagger/README.md
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/test_jwt.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/test_reverse_proxy.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/test_reverse_proxy_async.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/test_smoke.py
  sdk/webpubsub/cspell.json
Labels: WebPubSub

#36711 fixing invalid subnet validation in compute instance
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/compute_instance.py
Labels: Machine Learning

#36700 [Storage] [STG 95] Added support to log `string_to_sign` for `SAS`
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared_access_signature.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared_access_signature.py
Labels: Storage

#36716 [Storage] [STG 95] Add `file_permission_format` keyword to `create_directory` API
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_directory.py
  sdk/storage/azure-storage-file-share/tests/test_directory_async.py
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
Labels: Storage

#36705 Sync eng/common directory with azure-sdk-tools for PR 8746
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#36719 [Monitor][Query] Adjust server timeout live tests
  sdk/monitor/azure-monitor-query/assets.json
  sdk/monitor/azure-monitor-query/tests/test_logs_client.py
  sdk/monitor/azure-monitor-query/tests/test_logs_client_async.py
Labels: Monitor

#36734 [Identity] Convert remaining cache.find usage
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_aad_client_async.py
  sdk/identity/azure-identity/tests/test_auth_code.py
  sdk/identity/azure-identity/tests/test_auth_code_async.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_client_secret_credential_async.py
  sdk/identity/azure-identity/tests/test_shared_cache_credential.py
Labels: Azure.Identity

#36733 [Storage] [STG 95] Bump `azure-core` minimum dependency for `autorest` code generation
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#36715 Bump required Python version to 3.8
  sdk/maps/azure-maps-geolocation/README.md
  sdk/maps/azure-maps-geolocation/dev_requirements.txt
  sdk/maps/azure-maps-geolocation/samples/README.md
  sdk/maps/azure-maps-geolocation/setup.py
  sdk/maps/azure-maps-render/README.md
  sdk/maps/azure-maps-render/dev_requirements.txt
  sdk/maps/azure-maps-render/samples/README.md
  sdk/maps/azure-maps-render/setup.py
  sdk/maps/azure-maps-route/README.md
  sdk/maps/azure-maps-route/dev_requirements.txt
  sdk/maps/azure-maps-route/samples/README.md
  sdk/maps/azure-maps-route/setup.py
  sdk/maps/azure-maps-search/setup.py
  sdk/maps/azure-maps-timezone/README.md
  sdk/maps/azure-maps-timezone/dev_requirements.txt
  sdk/maps/azure-maps-timezone/samples/README.md
  sdk/maps/azure-maps-timezone/setup.py
  sdk/maps/azure-mgmt-maps/README.md
  sdk/maps/azure-mgmt-maps/setup.py
Labels: Maps

#36764 Update CHANGELOG files for Search, Render, and Timezone
  sdk/maps/azure-maps-render/CHANGELOG.md
  sdk/maps/azure-maps-search/CHANGELOG.md
  sdk/maps/azure-maps-timezone/CHANGELOG.md
Labels: Maps

#34116 Fix Communication JobRouter Sample Issue
  sdk/communication/azure-communication-jobrouter/samples/classification_policy_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/classification_policy_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/distribution_policy_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/distribution_policy_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/exception_policy_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/exception_policy_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/job_queue_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/job_queue_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/router_job_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/router_worker_crud_ops.py
  sdk/communication/azure-communication-jobrouter/samples/router_worker_crud_ops_async.py
  sdk/communication/azure-communication-jobrouter/samples/sample_authentication.py
  sdk/communication/azure-communication-jobrouter/samples/sample_authentication_async.py
Labels: Communication - Job Router

#36653 [Identity] Support SecureString output for Pwsh cred
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/tests/test_live_async.py
  sdk/identity/azure-identity/tests/test_powershell_credential.py
  sdk/identity/azure-identity/tests/test_powershell_credential_async.py
Labels: Azure.Identity

#36768 [Storage] Changelog bump for Blob typing release
  sdk/storage/azure-storage-blob/CHANGELOG.md
Labels: Storage

#36245 [EventHub] Raise error when primary key is rotated
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_pyamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_uamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_connection_manager_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_pyamqp_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_uamqp_transport_async.py
Labels: Event Hubs

#36769 [SB] Add await to async call
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
Labels: Service Bus

#36775 Rename TimezoneClient to MapsTimezoneClient
  sdk/maps/azure-maps-timezone/README.md
  sdk/maps/azure-maps-timezone/azure/maps/timezone/__init__.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/_patch.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/aio/__init__.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/aio/_patch.py
  sdk/maps/azure-maps-timezone/samples/async_samples/convert_windows_timezone_to_iana_async.py
  sdk/maps/azure-maps-timezone/samples/async_samples/get_iana_timezone_ids_async.py
  sdk/maps/azure-maps-timezone/samples/async_samples/get_iana_version_async.py
  sdk/maps/azure-maps-timezone/samples/async_samples/get_timezone_by_coordinates_async.py
  sdk/maps/azure-maps-timezone/samples/async_samples/get_timezone_by_id_async.py
  sdk/maps/azure-maps-timezone/samples/async_samples/get_windows_timezone_ids_async.py
  sdk/maps/azure-maps-timezone/samples/convert_windows_timezone_to_iana.py
  sdk/maps/azure-maps-timezone/samples/get_iana_timezone_ids.py
  sdk/maps/azure-maps-timezone/samples/get_iana_version.py
  sdk/maps/azure-maps-timezone/samples/get_timezone_by_coordinates.py
  sdk/maps/azure-maps-timezone/samples/get_timezone_by_id.py
  sdk/maps/azure-maps-timezone/samples/get_windows_timezone_ids.py
  sdk/maps/azure-maps-timezone/tests/test_maps_timezone_client.py
  sdk/maps/azure-maps-timezone/tests/test_maps_timezone_client_async.py
Labels: Maps

#36698 [Storage] Add crc64 support to file-share download
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_download.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_download_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_content_validation.py
  sdk/storage/azure-storage-file-share/tests/test_content_validation_async.py
Labels: Storage

#36783 [Storage] Changelog bump for Blob typing release (v2)
  sdk/storage/azure-storage-blob/CHANGELOG.md
Labels: Storage

#36782 Sync eng/common directory with azure-sdk-tools for PR 8792
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#36726 Separate out Cosmos Python transactional batch sample
  sdk/cosmos/azure-cosmos/samples/transactional_batch.py
  sdk/cosmos/azure-cosmos/samples/transactional_batch_async.py
Labels: Cosmos

#36732 Sync eng/common directory with azure-sdk-tools for PR 8760
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#36393 [Storage] [Typing] [File Share] `_models.py` and `aio` equivalent
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client_helpers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
Labels: Storage

#36767 Update samples
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/samples/sample_indexer_datasource_skillset.py
Labels: Search

#36790 [Storage] Increment after Blobs typing overhaul release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/setup.py
Labels: Storage

#36770 [Storage] [STG 95] Merge STG 95 into `main` branch
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_azure_file_storage.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_configuration.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_azure_file_storage.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_configuration.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/__init__.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_azure_file_storage_enums.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared_access_signature.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-file-share/swagger/README.md
  sdk/storage/azure-storage-file-share/tests/test_directory.py
  sdk/storage/azure-storage-file-share/tests/test_directory_async.py
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared_access_signature.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#36793 Sync eng/common directory with azure-sdk-tools for PR 8754
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/pipelines/templates/steps/verify-changelogs.yml
  eng/common/pipelines/templates/steps/verify-readmes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Verify-ChangeLogs.ps1
Labels: EngSys, Central-EngSys

#36811 [Storage] Increment versions after STG95 preview release + fix flaky paid_bursting live-test
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#36819 [Storage] [STG 95] Updated Test Share Paid Bursting
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage

#36502 [EH] on event tasks bound receive
  sdk/eventhub/azure-eventhub/azure/eventhub/_constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_pyamqp_transport_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_consumer_client_async.py
Labels: Event Hubs

#36810 [Identity] Propagate send_certificate_chain in OBO
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/tests/test_obo.py
Labels: Azure.Identity

#36824 Refactor statsbeat utils
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/_base.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_statsbeat.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_statsbeat.py
Labels: Monitor - Exporter

#36807 Release Python WebPubSub SDK
  sdk/webpubsub/azure-messaging-webpubsubservice/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_operations/_operations.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/_operations/_operations.py
  sdk/webpubsub/azure-messaging-webpubsubservice/setup.py
Labels: WebPubSub

#36836 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#36771 [Storage] Add overall crc64 calculation to partitioned upload for all packages
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/validation.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/validation.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/validation.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/validation.py
Labels: Storage

#36564 adding changes to env variables access documentation CommandJob & SweepJob
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/command_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/sweep_job.py
Labels: Machine Learning

#36840 Keep only those artifacts that are ready for release
  sdk/maps/ci.yml
Labels: Maps

#36831 Increment version for webpubsub releases
  sdk/webpubsub/azure-messaging-webpubsubservice/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_version.py
Labels: WebPubSub

#36838 [Storage] [Typing] [File Share] Typed Paid Burst in `ShareProperties` for `_models.py`
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
Labels: Storage

#36708 [AutoRelease] t2-healthdataaiservices-2024-08-01-43086(can only be merged by SDK owner)
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/CHANGELOG.md
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/LICENSE
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/MANIFEST.in
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/README.md
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/_meta.json
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/__init__.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/__init__.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/__init__.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/_client.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/_configuration.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/_model_base.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/_patch.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/_serialization.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/_version.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/aio/__init__.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/aio/_client.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/aio/_configuration.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/aio/_patch.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/aio/operations/__init__.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/aio/operations/_operations.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/aio/operations/_patch.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/models/__init__.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/models/_enums.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/models/_models.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/models/_patch.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/operations/__init__.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/operations/_operations.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/operations/_patch.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/azure/mgmt/healthdataaiservices/py.typed
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/dev_requirements.txt
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/generated_tests/conftest.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/generated_tests/test_health_data_ai_services_mgmt_deid_services_operations.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/generated_tests/test_health_data_ai_services_mgmt_deid_services_operations_async.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/generated_tests/test_health_data_ai_services_mgmt_operations.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/generated_tests/test_health_data_ai_services_mgmt_operations_async.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/generated_tests/test_health_data_ai_services_mgmt_private_endpoint_connections_operations.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/generated_tests/test_health_data_ai_services_mgmt_private_endpoint_connections_operations_async.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/generated_tests/test_health_data_ai_services_mgmt_private_links_operations.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/generated_tests/test_health_data_ai_services_mgmt_private_links_operations_async.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/sdk_packaging.toml
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/setup.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/tests/conftest.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/tests/test_health_data_ai_services_mgmt_deid_services_operations_async_test.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/tests/test_health_data_ai_services_mgmt_deid_services_operations_test.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/tests/test_health_data_ai_services_mgmt_operations_async_test.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/tests/test_health_data_ai_services_mgmt_operations_test.py
  sdk/healthdataaiservices/azure-mgmt-healthdataaiservices/tsp-location.yaml
  sdk/healthdataaiservices/ci.yml
Labels: Health Deidentification

#36781 making workspace connections prop ga
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/tests/feature_set/e2etests/test_feature_set.py
Labels: Machine Learning

#36849 making workspace connections prop ga (#36781)
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/tests/feature_set/e2etests/test_feature_set.py
Labels: Machine Learning

#36672 Increment version for healthdataaiservices releases
  sdk/healthdataaiservices/azure-health-deidentification/CHANGELOG.md
  sdk/healthdataaiservices/azure-health-deidentification/azure/health/deidentification/_version.py
Labels: Health Deidentification

#36854 Fix README.md typos
  sdk/maps/azure-maps-render/README.md
  sdk/maps/azure-maps-search/README.md
Labels: Maps

#36861 ensure we run analyze weekly
  sdk/ai/tests.yml
  sdk/face/tests.yml
  sdk/servicebus/tests.yml
  sdk/vision/tests.yml
Labels: Service Bus, AI, Face

#36865 Fix endpoint url parsing issue
  sdk/webpubsub/azure-messaging-webpubsubservice/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_operations/_patch.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/_operations/_patch.py
Labels: WebPubSub

#36858 [Storage] Update for structured message support
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/streams.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/streams_async.py
  sdk/storage/azure-storage-blob/tests/test_streams.py
  sdk/storage/azure-storage-blob/tests/test_streams_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/streams.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/streams_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/policies.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/streams.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/streams_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/streams.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/streams_async.py
Labels: Storage

#36839 [Storage] [Typing] [File Share] Typed `_shared_access_signature.py`
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared_access_signature.py
Labels: Storage

#36872 unskip changelog verify
  sdk/healthinsights/ci.yml
Labels: Cognitive - Health Insights

#36873 [CognitiveServices] deprecate qnamaker
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/README.md
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/azure/cognitiveservices/knowledge/qnamaker/version.py
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/pyproject.toml
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/sdk_packaging.toml
Labels: CognitiveServices

#36876 [CognitiveServices] fix changelog formatting errors
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/setup.py
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-language-spellcheck/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-personalizer/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-vision-contentmoderator/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-vision-face/CHANGELOG.md
Labels: CognitiveServices

#36875 aoai tests - use get_credential
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/test_assistants.py
  sdk/openai/azure-openai/tests/test_chat_completions.py
  sdk/openai/azure-openai/tests/test_chat_completions_async.py
  sdk/openai/azure-openai/tests/test_cli.py
  sdk/openai/azure-openai/tests/test_client.py
  sdk/openai/azure-openai/tests/test_client_async.py
  sdk/openai/azure-openai/tests/test_embeddings.py
  sdk/openai/azure-openai/tests/test_embeddings_async.py
  sdk/openai/azure-openai/tests/test_module_client.py
Labels: OpenAI

#36846 [Storage] [Typing] [File Share] `_download.py` and `aio`
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_download.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_download_async.py
Labels: Storage

#36883 [CognitiveServices] remove ci_enabled=false from qnamaker for release
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/pyproject.toml
Labels: CognitiveServices

#36080 [SB] Fix Message Completion on Management Link
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_message_backcompat.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_receiver_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_message_backcompat.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_transport/_pyamqp_transport_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus

#32775 Add logging guide
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/guide_to_logging.md
Labels: AI

#36888 [CognitiveServices] remove qnamaker from CI post deprecation
  sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/pyproject.toml
  sdk/cognitiveservices/ci.yml
Labels: CognitiveServices

#36900 Sync eng/common directory with azure-sdk-tools for PR 8831
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Labels: EngSys, Central-EngSys

#36893 [CognitiveServices] deprecate language-luis
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/CHANGELOG.md
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/README.md
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/azure/cognitiveservices/language/luis/version.py
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/sdk_packaging.toml
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/setup.py
Labels: CognitiveServices

#36897 Sync eng/common directory with azure-sdk-tools for PR 8842
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys, Central-EngSys

#36851 Increment version for maps releases
  sdk/maps/azure-maps-render/CHANGELOG.md
  sdk/maps/azure-maps-render/azure/maps/render/_version.py
  sdk/maps/azure-maps-search/CHANGELOG.md
  sdk/maps/azure-maps-search/azure/maps/search/_version.py
Labels: Maps

#36866 Increment version for webpubsub releases
  sdk/webpubsub/azure-messaging-webpubsubservice/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_version.py
Labels: WebPubSub

#36909 [CognitiveLanguage] language-conversations - remove deprecated luis sample
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/sample_analyze_orchestration_app_luis_response.py
Labels: Cognitive - Language

#36908 [CognitiveServices] luis post-deprecation
  sdk/cognitiveservices/azure-cognitiveservices-language-luis/pyproject.toml
  sdk/cognitiveservices/ci.yml
Labels: CognitiveServices

#36823 [Document Intelligence] Generate for API 2024-07-31-preview
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/assets.json
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_client.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_configuration.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_model_base.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_operations/_operations.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_serialization.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_client.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_configuration.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_operations/_operations.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/models/__init__.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/models/_enums.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/models/_models.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_custom_documents_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_compose_model_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_copy_model_to_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_manage_models_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_custom_documents.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_compose_model.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_copy_model_to.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_manage_models.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/preparers.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_custom_model.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_custom_model_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_classify_document.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_classify_document_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dmac_compose_model.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dmac_compose_model_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dmac_copy_model.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dmac_copy_model_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tsp-location.yaml
Labels: Document Intelligence

#35210 [AppConfig] Add "list labels" and "filter by tags" supports
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/README.md
  sdk/appconfiguration/azure-appconfiguration/assets.json
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_azure_app_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_serialization.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_vendor.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_azure_app_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_vendor.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/operations/_azure_app_configuration_operations.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/operations/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/_azure_app_configuration_enums.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/_models_py3.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/operations/_azure_app_configuration_operations.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/operations/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/pyproject.toml
  sdk/appconfiguration/azure-appconfiguration/samples/README.md
  sdk/appconfiguration/azure-appconfiguration/samples/conditional_operation_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/conditional_operation_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/hello_world_advanced_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/hello_world_advanced_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/hello_world_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/hello_world_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/list_configuration_settings_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/list_configuration_settings_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/list_labels_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/list_labels_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/list_revision_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/list_revision_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/read_only_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/read_only_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/send_request_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/send_request_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/snapshot_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/snapshot_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/sync_token_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/sync_token_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/util.py
  sdk/appconfiguration/azure-appconfiguration/swagger/README.md
  sdk/appconfiguration/azure-appconfiguration/tests/asynctestcase.py
  sdk/appconfiguration/azure-appconfiguration/tests/conftest.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_aad_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/testcase.py
Labels: App Configuration

#36919 [AppConfig] Prepare release
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
Labels: App Configuration

#36921 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
Labels: App Configuration

#36927 finish removing samples for luis response
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_analyze_orchestration_app_luis_response_async.py
Labels: Cognitive - Language

#36926 Fix skipPublishDocGithubIo variable
  eng/pipelines/templates/stages/archetype-python-release.yml
  sdk/storage/ci.yml
Labels: Docs

#36925 [DocumentIntelligence] Add Tests Using Continuation Token
  sdk/documentintelligence/azure-ai-documentintelligence/assets.json
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_custom_model.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_custom_model_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout_async.py
Labels: Document Intelligence

#36933 Sync eng/common directory with azure-sdk-tools for PR 8849
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: EngSys, Central-EngSys

#36844 [Storage] [Typing] [File Share] `_serialize.py`
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
Labels: Storage

#36766 [Key Vault] Federated auth in test pipelines
  sdk/keyvault/azure-keyvault-administration/tests.yml
  sdk/keyvault/azure-keyvault-administration/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-administration/tests/_test_case.py
  sdk/keyvault/azure-keyvault-administration/tests/conftest.py
  sdk/keyvault/azure-keyvault-keys/tests.yml
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth_async.py
  sdk/keyvault/test-resources-post.ps1
  sdk/keyvault/test-resources.json
  sdk/keyvault/tests.yml
Labels: KeyVault, Client, test-enhancement

#36916 [Monitor Query] Fix flaky live tests
  sdk/monitor/azure-monitor-query/tests/test_logs_client.py
  sdk/monitor/azure-monitor-query/tests/test_logs_client_async.py
Labels: Monitor

#36945 Bring back Schema Registry to type complete
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_patch.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_patch.py
  sdk/schemaregistry/azure-schemaregistry/pyproject.toml
  sdk/schemaregistry/azure-schemaregistry/setup.py
Labels: Schema Registry

#36439 Update Cloud Shell contact
  .github/CODEOWNERS
Labels: Cloud Shell

#36947 Pop client_secret to protect pipeline
  sdk/identity/azure-identity/azure/identity/_internal/aad_client.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/aad_client.py
  sdk/identity/azure-identity/tests/test_aad_client.py
  sdk/identity/azure-identity/tests/test_aad_client_async.py
Labels: Azure.Identity

#36937 [Storage] [Typing] [File Share] Resolved `mypy` errors for `samples/`
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-file-share/mypy.ini
  sdk/storage/azure-storage-file-share/samples/file_samples_authentication.py
  sdk/storage/azure-storage-file-share/samples/file_samples_authentication_async.py
  sdk/storage/azure-storage-file-share/samples/file_samples_client.py
  sdk/storage/azure-storage-file-share/samples/file_samples_client_async.py
  sdk/storage/azure-storage-file-share/samples/file_samples_directory.py
  sdk/storage/azure-storage-file-share/samples/file_samples_directory_async.py
  sdk/storage/azure-storage-file-share/samples/file_samples_hello_world.py
  sdk/storage/azure-storage-file-share/samples/file_samples_hello_world_async.py
  sdk/storage/azure-storage-file-share/samples/file_samples_service.py
  sdk/storage/azure-storage-file-share/samples/file_samples_service_async.py
  sdk/storage/azure-storage-file-share/samples/file_samples_share.py
  sdk/storage/azure-storage-file-share/samples/file_samples_share_async.py
Labels: Storage

#36931 [Storage] [Typing] [File Share] `_lease.py` attributes
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_lease.py
Labels: Storage

#36862 [Storage] Fix batch APIs for Azurite
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
Labels: Storage

#36962 disable verifytypes for file-datalake
  sdk/storage/azure-storage-file-datalake/pyproject.toml
Labels: Storage

#36952 [Identity] Stop using deprecated datetime methods
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
Labels: Azure.Identity

#36929 Remove outdated job submission code
  sdk/ml/azure-ai-ml/samples/ml_samples_automl_image.py
Labels: Machine Learning

#36950 [Identity] Validate identity config for MICredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/managed_identity_base.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity

#36978 [Storage] [Typing] [File Share] Enable `mypy` in CI for File Share Package
  sdk/storage/azure-storage-file-share/pyproject.toml
Labels: Storage

#36980 [DI] Regenerate with the latest codegen
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_model_base.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_operations/_operations.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_operations/_operations.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_custom_model.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_custom_model_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout_async.py
Labels: Document Intelligence

#36982 Correct util duration variables
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_utils.py
Labels: Monitor - Exporter

#36891 [ml] workspace delete_dependent_resources does not work for non-public clouds
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_workspace_utils.py
Labels: Machine Learning

#36965 [ml] secure defaults for managed network and pna disabled
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
Labels: Machine Learning

#36717 App Configuration Provider - Replica Discovery on Refresh
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_client_manager.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_discovery.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_configuration_client_manager.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_discovery.py
Labels: App Configuration Provider

#36991 [Storage] Update Blob mypy.ini
  sdk/storage/azure-storage-blob/mypy.ini
Labels: Storage

#36997 [AppConfig] Fix failing live pipeline
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/tests.yml
Labels: App Configuration

#36984 [Storage] Refactor single upload APIs
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/streams.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/streams_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/tests/test_append_blob.py
  sdk/storage/azure-storage-blob/tests/test_append_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_streams.py
  sdk/storage/azure-storage-blob/tests/test_streams_async.py
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/streams.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/streams_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_async.py
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/streams.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/streams_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/streams.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/streams_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads.py
Labels: Storage

#37010 [ServiceBus] allow optionally testing pyamqp
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/utilities.py
Labels: Service Bus

#36995 [Storage] [STG 95] Fix Paid Burst Testing - Create Share API
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage

#37016 Sync eng/common directory with azure-sdk-tools for PR 8879
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#36979 Sync eng/common directory with azure-sdk-tools for PR 8865
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#37022 [ServiceBus] skip test complete over mgmt link test for uamqp
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus

#37007 [MetricsAdvisor] Deprecation of package
  sdk/metricsadvisor/azure-ai-metricsadvisor/CHANGELOG.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_patch.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/azure/ai/metricsadvisor/_version.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/pyproject.toml
Labels: Cognitive - Metrics Advisor

#37034 [MetricsAdvisor] last steps deprecation
  sdk/metricsadvisor/azure-ai-metricsadvisor/pyproject.toml
  sdk/metricsadvisor/ci.yml
Labels: Cognitive - Metrics Advisor

#37054 Sync eng/common directory with azure-sdk-tools for PR 8875
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#37059 Update CODEOWNERS for Health Deidentification
  .github/CODEOWNERS
Labels: Health Deidentification

#37051 Fix link
  sdk/monitor/azure-monitor-opentelemetry/README.md
Labels: Monitor - Distro

#37014 [Storage] Refactor upload_blob content validation tests
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/tests/test_content_validation.py
  sdk/storage/azure-storage-blob/tests/test_content_validation_async.py
Labels: Storage

#37074 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Communication - Phone Numbers

#37070 Increment version for ai releases
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/azure/ai/inference/_version.py
Labels: AI Model Inference

#37073 [Key Vault] Enable type checking on samples
  sdk/keyvault/azure-keyvault-administration/pyproject.toml
  sdk/keyvault/azure-keyvault-certificates/pyproject.toml
  sdk/keyvault/azure-keyvault-keys/pyproject.toml
  sdk/keyvault/azure-keyvault-secrets/pyproject.toml
Labels: KeyVault, Client

#37081 Sync eng/common directory with azure-sdk-tools for PR 8878
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#37071 [Storage] [STG 96] Prep Work
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
Labels: Storage

#37096 Sync eng/common directory with azure-sdk-tools for PR 8900
  eng/common/pipelines/templates/steps/save-package-properties.yml
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#37064 [Storage] Improve Datalake `README`
  sdk/storage/azure-storage-file-datalake/README.md
Labels: Storage

#36960 [ml] support pe fqdns and st address prefixes
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_07_01_preview/models/_models.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_07_01_preview/models/_models_py3.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_store/feature_store_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/feature_store.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/_ai_workspaces/hub.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/diagnose.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/feature_store_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/serverless_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/workspace_keys.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_outbound_rule_operations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_workspace.py
  sdk/ml/azure-ai-ml/swagger/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/workspaceRP.json
  sdk/ml/azure-ai-ml/tests/recordings/workspace/e2etests/test_workspace_outbound_rule_operations.pyTestWorkspaceOutboundRulestest_workspace_create_with_managed_network_list_show_remove_rules.json
  sdk/ml/azure-ai-ml/tests/test_configs/workspace/workspace_many_ob_rules.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace/workspace_mvnet.yaml
  sdk/ml/azure-ai-ml/tests/workspace/e2etests/test_workspace_outbound_rule_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_entity.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_related_restclients.py
Labels: Machine Learning, ML-Workspace

#36889 [ml] simplify non-public cloud setup
  sdk/ml/azure-ai-ml/azure/ai/ml/_azure_environments.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_cloud_environments.py
Labels: Machine Learning

#36219 add codeowners for `typespec-python` emitter version updates
  .github/CODEOWNERS
Labels: no-recent-activity

#37159 Fix typo in azure-ai-inference README.md
  sdk/ai/azure-ai-inference/README.md
Labels: AI Model Inference

#37161 [Batch] Minor sanitization updates
  sdk/batch/azure-batch/tests/batch_preparers.py
  sdk/batch/azure-batch/tests/conftest.py
Labels: Batch

#37164 Sync eng/common directory with azure-sdk-tools for PR 8909
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys
