Repository Azure/azure-sdk-for-python, pull requests merged in 2024-10, with the labels that each got.

#37542 Spark version update to support 3.4 and deprecate 3.2
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/spark_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/_constants.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/feature_store_settings.py
  sdk/ml/azure-ai-ml/samples/ml_samples_compute.py
  sdk/ml/azure-ai-ml/samples/ml_samples_featurestore.py
  sdk/ml/azure-ai-ml/samples/ml_samples_spark_configurations.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_spark_component_entity.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline_samples.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_command_builder.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_entity.py
  sdk/ml/azure-ai-ml/tests/spark_job/e2etests/test_spark_job.py
  sdk/ml/azure-ai-ml/tests/spark_job/unittests/test_spark_job_entity.py
  sdk/ml/azure-ai-ml/tests/spark_job/unittests/test_spark_job_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/invalid_pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/kmeans_sample/pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/kmeans_sample/pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline_inline_job.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline_inline_job_register_output.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline_with_data_binding_expression.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/sample_pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/wordcount_pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/feature_store/feature_store_full.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/no_target_baseline_data.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/out_of_the_box.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/helloworld_pipeline_job_with_spark_component.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/pipeline_job_with_spark_job_with_invalid_component_input_mode.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/pipeline_job_with_spark_job_with_invalid_component_output_mode.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/spark/node_serverless_compute_no_default.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/spark/pipeline_serverless_compute.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/shakespear_sample/pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/schedule/out_of_box_monitoring.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/spark_job/spark_job_inputs_outputs_test.yml
  sdk/ml/azure-ai-ml/tests/test_configs/spark_job/spark_job_invalid_instance_type.yml
  sdk/ml/azure-ai-ml/tests/test_configs/spark_job/spark_job_test_hobo.yml
  sdk/ml/azure-ai-ml/tests/test_configs/spark_job/spark_job_word_count_test.yml
Labels: Machine Learning

#37644 fix access to TranscriptionSegment
  .vscode/cspell.json
  sdk/openai/azure-openai/pyproject.toml
  sdk/openai/azure-openai/tests/test_assistants.py
  sdk/openai/azure-openai/tests/test_assistants_async.py
  sdk/openai/azure-openai/tests/test_audio.py
  sdk/openai/azure-openai/tests/test_audio_async.py
  sdk/openai/azure-openai/tests/test_chat_completions.py
  sdk/openai/azure-openai/tests/test_chat_completions_async.py
  sdk/openai/azure-openai/tests/test_cli.py
  sdk/openai/azure-openai/tests/test_client.py
  sdk/openai/azure-openai/tests/test_client_async.py
  sdk/openai/azure-openai/tests/test_completions.py
  sdk/openai/azure-openai/tests/test_completions_async.py
  sdk/openai/azure-openai/tests/test_dall_e.py
  sdk/openai/azure-openai/tests/test_dall_e_async.py
  sdk/openai/azure-openai/tests/test_embeddings.py
  sdk/openai/azure-openai/tests/test_embeddings_async.py
  sdk/openai/azure-openai/tests/test_models.py
  sdk/openai/azure-openai/tests/test_models_async.py
  sdk/openai/azure-openai/tests/test_module_client.py
Labels: OpenAI

#37586 [EH] Changelog
  sdk/eventhub/azure-eventhub/CHANGELOG.md
Labels: Event Hubs

#37655 [ServiceBus/EventHub] move async ssl opts to transport constructor
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_negative_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_negative.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_transport_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Service Bus, Event Hubs

#37584 Add doc for pop request options
  sdk/identity/azure-identity-broker/azure/identity/broker/_browser.py
  sdk/identity/azure-identity-broker/samples/pop_sample.py
Labels: Azure.Identity

#37523 Eval/feature/unified eval inputs
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_chat/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_chat/_chat.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_coherence/_coherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_prompty_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_rai_svc_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety_base.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_violence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_eci/_eci.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_fluency/_fluency.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_groundedness/_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_material/_protected_material.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_materials/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_relevance/_relevance.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_retrieval/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_retrieval/_retrieval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_retrieval/retrieval.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_xpia/xpia.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_exceptions.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_sim_and_eval.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_built_in_evaluator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_chat_evaluator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_content_safety_chat_evaluator.py
Labels: Evaluation

#37671 Revert "[ServiceBus/EventHub] move async ssl opts to transport constructor"
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_negative_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_negative.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_transport_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Service Bus, Event Hubs

#37668 Remove Configuration from Evaluator Prompty
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_coherence/coherence.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_fluency/fluency.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_groundedness/groundedness.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_relevance/relevance.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_retrieval/retrieval.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_similarity/similarity.prompty
Labels: Evaluation

#37673 Prepare for 1.0.0b3 Release of Evaluation SDK
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
Labels: Evaluation

#37672 Disable test_protected_material_sim_into_eval due to it consistenly failed in CI pipeline.
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_sim_and_eval.py
Labels: Evaluation

#37679 Remove `.env` file from azure-sdk-tools
  tools/azure-sdk-tools/.env
Labels: EngSys, test-proxy

#37665 [communication]-[sms]-Renamed dogfood configuration in tests.yml to int configuration
  sdk/communication/azure-communication-sms/tests.int.yml
Labels: Communication - SMS

#37684 [communication]-[sms]-Updated changelog with new release version release date.
  sdk/communication/azure-communication-sms/CHANGELOG.md
Labels: Communication - SMS

#37677 Increment version for evaluation releases
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
Labels: Evaluation

#37529 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#37578 Fix 'NoneType' object has no attribute when querying during Session not available retry
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_endpoint_discovery_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_session_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_timeout_failover_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_retry_utility_async.py
  sdk/cosmos/azure-cosmos/test/test_query.py
  sdk/cosmos/azure-cosmos/test/test_query_async.py
Labels: Cosmos

#37650 Sync eng/common directory with azure-sdk-tools for PR 9074
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#37691 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs

#37688 Remove numpy Dependency from Evaluation SDK
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/math.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run_client/proxy_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_prompty_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety_chat.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_retrieval/_retrieval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_similarity/_similarity.py
  sdk/evaluation/azure-ai-evaluation/setup.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/custom_evaluators/answer_length_with_aggregation.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_sim_and_eval.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_content_safety_rai_script.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate_telemetry.py
  shared_requirements.txt
Labels: Evaluation

#37579 [Identity] Propagate additional token type values
  sdk/identity/azure-identity/azure/identity/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/_credentials/silent.py
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/client_credential_base.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
Labels: Azure.Identity

#37701 [communication]-[sms]- Update CHANGELOG with the new release date
  sdk/communication/azure-communication-sms/CHANGELOG.md
Labels: Communication - SMS

#37703 Project workspace create failure
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
Labels: Machine Learning

#37712 Release-azure-ai-generative-b10-(No CVE Required)
  sdk/ai/azure-ai-generative/CHANGELOG.md
Labels: AI

#37696 [Storage] Support metadata on `upload_blob_from_url` API
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
Labels: Storage

#37713 Sync eng/common directory with azure-sdk-tools for PR 9092
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#37709 Removing private parameter from __call__ of AdversarialSimulator
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_direct_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_indirect_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_prompty/task_query_response.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_simulator.py
Labels: Evaluation

#37654 deprecate azure_germany
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/tests/test_interactive_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential_async.py
Labels: Azure.Identity

#37707 Make Credentials Required for Content Safety and Protected Materials Evaluators
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_rai_svc_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety_chat.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_violence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_eci/_eci.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_material/_protected_material.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_materials/_protected_materials.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_xpia/xpia.py
  sdk/evaluation/azure-ai-evaluation/setup.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_sim_and_eval.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate_telemetry.py
Labels: Evaluation

#37705 Project workspace create failure (#37703)
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_project.json
Labels: Machine Learning

#37710 Samples, toolset for async
  sdk/ai/azure-ai-assistants/azure/ai/assistants/aio/_patch.py
  sdk/ai/azure-ai-assistants/azure/ai/assistants/models/__init__.py
  sdk/ai/azure-ai-assistants/azure/ai/assistants/models/_patch.py
  sdk/ai/azure-ai-assistants/samples/async_samples/sample_assistant_basics_async.py
  sdk/ai/azure-ai-assistants/samples/async_samples/sample_assistant_functions_async.py
  sdk/ai/azure-ai-assistants/samples/async_samples/sample_assistant_stream_eventhandler_async.py
  sdk/ai/azure-ai-assistants/samples/async_samples/sample_assistant_stream_eventhandler_with_toolset_async.py
  sdk/ai/azure-ai-assistants/samples/async_samples/sample_assistant_stream_iteration_async.py
  sdk/ai/azure-ai-assistants/samples/async_samples/sample_chat_completions_async.py
  sdk/ai/azure-ai-assistants/samples/async_samples/user_async_functions.py
  sdk/ai/azure-ai-assistants/samples/sample_assistant_basics.py
  sdk/ai/azure-ai-assistants/samples/sample_assistant_code_interpreter.py
  sdk/ai/azure-ai-assistants/samples/sample_assistant_file_search.py
  sdk/ai/azure-ai-assistants/samples/sample_assistant_functions.py
  sdk/ai/azure-ai-assistants/samples/sample_assistant_run_with_toolset.py
  sdk/ai/azure-ai-assistants/samples/sample_assistant_stream_evenhandler.py
  sdk/ai/azure-ai-assistants/samples/sample_assistant_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-assistants/samples/sample_assistant_stream_iteration.py
  sdk/ai/azure-ai-assistants/samples/sample_assistant_stream_iteration_with_toolset.py
  sdk/ai/azure-ai-assistants/samples/sample_assistant_with_code_interpreter_attachment.py
  sdk/ai/azure-ai-assistants/samples/sample_assistant_with_file_search_attachment.py
Labels: AI

#37687 addFeedRangesAndUseFeedRangeInQueryChangeFeed
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/__init__.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/__init__.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/aio/__init__.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/aio/change_feed_fetcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/aio/change_feed_iterable.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_fetcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_iterable.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_start_from.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_state.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/composite_continuation_token.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/feed_range_composite_continuation_token.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/feed_range_internal.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/base_execution_context.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/base_execution_context.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_feed_range.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/aio/routing_map_provider.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/routing_map_provider.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/routing_range.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/exceptions.py
  sdk/cosmos/azure-cosmos/azure/cosmos/partition_key.py
  sdk/cosmos/azure-cosmos/samples/examples.py
  sdk/cosmos/azure-cosmos/samples/examples_async.py
  sdk/cosmos/azure-cosmos/test/test_change_feed.py
  sdk/cosmos/azure-cosmos/test/test_change_feed_async.py
  sdk/cosmos/azure-cosmos/test/test_change_feed_split.py
  sdk/cosmos/azure-cosmos/test/test_change_feed_split_async.py
  sdk/cosmos/azure-cosmos/test/test_container_properties_cache.py
  sdk/cosmos/azure-cosmos/test/test_container_properties_cache_async.py
  sdk/cosmos/azure-cosmos/test/test_query.py
  sdk/cosmos/azure-cosmos/test/test_query_async.py
Labels: Cosmos

#37724 Adding evaluation sample and changing client name
  sdk/ai/azure-ai-client/azure/ai/client/__init__.py
  sdk/ai/azure-ai-client/azure/ai/client/_client.py
  sdk/ai/azure-ai-client/azure/ai/client/_configuration.py
  sdk/ai/azure-ai-client/azure/ai/client/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/__init__.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/_client.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/_configuration.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/_operations.py
  sdk/ai/azure-ai-client/azure/ai/client/models/__init__.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_models.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_operations.py
  sdk/ai/azure-ai-client/generated_tests/conftest.py
  sdk/ai/azure-ai-client/generated_tests/test_azure_ai_evaluations_operations.py
  sdk/ai/azure-ai-client/generated_tests/test_azure_ai_evaluations_operations_async.py
  sdk/ai/azure-ai-client/generated_tests/testpreparer.py
  sdk/ai/azure-ai-client/generated_tests/testpreparer_async.py
  sdk/ai/azure-ai-client/samples/endpoints/sample_endpoints.py
  sdk/ai/azure-ai-client/samples/evaluations/sample_evaluations.py
  sdk/ai/azure-ai-client/tsp-location.yaml
Labels: AI

#37669 Improvements to mindependency dev_requirement conflict resolution
  eng/tox/install_depend_packages.py
  scripts/devops_tasks/common_tasks.py
  sdk/identity/azure-identity-broker/pyproject.toml
  tools/azure-sdk-tools/ci_tools/functions.py
  tools/azure-sdk-tools/ci_tools/variables.py
  tools/azure-sdk-tools/pypi_tools/pypi.py
  tools/azure-sdk-tools/setup.py
  tools/azure-sdk-tools/tests/test_conflict_resolution.py
Labels: Azure.Identity

#37726 Sync eng/common directory with azure-sdk-tools for PR 9098
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#37676 Enable samples for formrecognizer
  sdk/formrecognizer/tests.yml
Labels: Cognitive - Form Recognizer

#37492 Fix batch deployment update bug
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/model_batch_deployment.py
  sdk/ml/azure-ai-ml/tests/batch_services/unittests/test_model_batch_deployment_schema.py
Labels: Machine Learning

#37743 Spark version update to support 3.4 and deprecate 3.2 (#37542)
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/spark_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/_constants.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/feature_store_settings.py
  sdk/ml/azure-ai-ml/samples/ml_samples_compute.py
  sdk/ml/azure-ai-ml/samples/ml_samples_featurestore.py
  sdk/ml/azure-ai-ml/samples/ml_samples_spark_configurations.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_spark_component_entity.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline_samples.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_command_builder.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_entity.py
  sdk/ml/azure-ai-ml/tests/spark_job/e2etests/test_spark_job.py
  sdk/ml/azure-ai-ml/tests/spark_job/unittests/test_spark_job_entity.py
  sdk/ml/azure-ai-ml/tests/spark_job/unittests/test_spark_job_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/invalid_pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/kmeans_sample/pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/kmeans_sample/pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline_inline_job.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline_inline_job_register_output.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline_with_data_binding_expression.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/sample_pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/wordcount_pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/feature_store/feature_store_full.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/no_target_baseline_data.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/out_of_the_box.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/helloworld_pipeline_job_with_spark_component.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/pipeline_job_with_spark_job_with_invalid_component_input_mode.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/pipeline_job_with_spark_job_with_invalid_component_output_mode.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/spark/node_serverless_compute_no_default.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/spark/pipeline_serverless_compute.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/shakespear_sample/pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/schedule/out_of_box_monitoring.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/spark_job/spark_job_inputs_outputs_test.yml
  sdk/ml/azure-ai-ml/tests/test_configs/spark_job/spark_job_invalid_instance_type.yml
  sdk/ml/azure-ai-ml/tests/test_configs/spark_job/spark_job_test_hobo.yml
  sdk/ml/azure-ai-ml/tests/test_configs/spark_job/spark_job_word_count_test.yml
Labels: Machine Learning

#37746 Fix batch deployment update bug (#37492)
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/model_batch_deployment.py
  sdk/ml/azure-ai-ml/tests/batch_services/unittests/test_model_batch_deployment_schema.py
Labels: Machine Learning

#37685 [Cosmos] Fix async vector query tests
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/execution_dispatcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/execution_dispatcher.py
  sdk/cosmos/azure-cosmos/test/test_query_vector_similarity.py
  sdk/cosmos/azure-cosmos/test/test_query_vector_similarity_async.py
Labels: Cosmos

#37718 Adding properties to evaluation for UI rendering
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
Labels: Evaluation

#36514 [Cosmos] Resiliency and Documentation Improvements
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_endpoint_discovery_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_global_endpoint_manager.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_location_cache.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_retry_utility.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_synchronized_request.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_asynchronous_request.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_global_endpoint_manager_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_retry_utility_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/http_constants.py
  sdk/cosmos/azure-cosmos/docs/ErrorCodesAndRetries.md
  sdk/cosmos/azure-cosmos/docs/TimeoutAndRetriesConfig.md
  sdk/cosmos/azure-cosmos/test/test_config.py
  sdk/cosmos/azure-cosmos/test/test_globaldb.py
  sdk/cosmos/azure-cosmos/test/test_location_cache.py
  sdk/cosmos/azure-cosmos/test/test_streaming_failover.py
Labels: Cosmos

#37748 Jhakulin/azure ai client agents
  sdk/ai/azure-ai-client/azure/ai/client/_client.py
  sdk/ai/azure-ai-client/azure/ai/client/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/_types.py
  sdk/ai/azure-ai-client/azure/ai/client/_vendor.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/_client.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/__init__.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/_operations.py
  sdk/ai/azure-ai-client/azure/ai/client/models/__init__.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_enums.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_models.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/__init__.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_operations.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_patch.py
  sdk/ai/azure-ai-client/generated_tests/test_agents_operations.py
  sdk/ai/azure-ai-client/generated_tests/test_agents_operations_async.py
  sdk/ai/azure-ai-client/generated_tests/test_azure_ai_agents_operations.py
  sdk/ai/azure-ai-client/generated_tests/test_azure_ai_agents_operations_async.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_basics.py
  sdk/ai/azure-ai-client/samples/endpoints/sample_endpoints.py
  sdk/ai/azure-ai-client/tsp-location.yaml
Labels: AI

#37722 Azure-AI-Generative-Deprecation-Msg
  eng/.docsettings.yml
  sdk/ai/azure-ai-generative/CHANGELOG.md
  sdk/ai/azure-ai-generative/README.md
  sdk/ai/azure-ai-generative/azure/ai/generative/_version.py
Labels: AI

#37751 Update changelog
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_version.py
  sdk/identity/azure-identity-broker/setup.py
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search, Azure.Identity

#37737 [Storage] [STG 96] Arch Board API Views Feedback
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage

#37733 [Monitor Distro] Update dev dependency
  sdk/monitor/azure-monitor-opentelemetry/dev_requirements.txt
Labels: Monitor - Distro

#37755 [Storage] [Typing] Updated changelogs for `azure-storage-file-share` typing release
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Labels: Storage

#37667 Update configs to use new TME tenant
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/agrifood/tests.yml
  sdk/appconfiguration/tests.yml
  sdk/communication/azure-communication-chat/tests.yml
  sdk/communication/azure-communication-email/tests.yml
  sdk/communication/azure-communication-identity/tests.yml
  sdk/communication/azure-communication-phonenumbers/tests.yml
  sdk/communication/azure-communication-rooms/tests.yml
  sdk/communication/azure-communication-sms/tests.yml
  sdk/communication/tests.yml
  sdk/containerregistry/tests.yml
  sdk/documentintelligence/tests.yml
  sdk/eventgrid/tests.yml
  sdk/eventhub/tests.yml
  sdk/formrecognizer/tests.yml
  sdk/healthinsights/tests.yml
  sdk/identity/tests.yml
  sdk/keyvault/azure-keyvault-administration/tests.yml
  sdk/keyvault/azure-keyvault-keys/tests.yml
  sdk/keyvault/tests.yml
  sdk/monitor/tests.yml
  sdk/openai/tests.yml
  sdk/schemaregistry/tests.yml
  sdk/search/tests.yml
  sdk/servicebus/tests.yml
  sdk/storage/tests.yml
  sdk/tables/tests.yml
  sdk/textanalytics/tests.yml
  sdk/translation/tests.yml
Labels: KeyVault, Document Intelligence

#37717 Track functions attach scenario
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
Labels: Monitor - Exporter

#37728 [Storage] [STG96] Test immutability/legal-hold for versioning/snapshot
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
Labels: Storage

#37762 [Storage] [Typing] Updated changelogs
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/setup.py
Labels: Storage

#37615 [evaluation] ci: Enable mypy
  .vscode/cspell.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run_client/batch_run_context.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run_client/code_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_eval_run.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_telemetry/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_coherence/_coherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_prompty_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_rai_svc_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety_chat.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_violence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_eci/_eci.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_f1_score/_f1_score.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_fluency/_fluency.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_groundedness/_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_material/_protected_material.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_materials/_protected_materials.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_qa/_qa.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_relevance/_relevance.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_retrieval/_retrieval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_similarity/_similarity.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_xpia/xpia.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_http_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_model_configurations.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_conversation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_conversation/_conversation.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_direct_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_helpers/_experimental.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_helpers/_simulator_data_classes.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_indirect_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_identity_manager.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_proxy_completion_model.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_template_handler.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/models.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_tracing.py
  sdk/evaluation/azure-ai-evaluation/pyproject.toml
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_adv_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate_telemetry.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_jailbreak_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_simulator.py
Labels: Evaluation

#37781 Increment version for identity releases
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_version.py
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#37752 enable sample runs for eventhub and servicebus
  sdk/eventhub/tests.yml
  sdk/servicebus/tests.yml
Labels: Service Bus, Event Hubs

#37769 polling and samples
  sdk/ai/azure-ai-assistants/azure/ai/assistants/_operations/_patch.py
  sdk/ai/azure-ai-assistants/azure/ai/assistants/aio/_patch.py
  sdk/ai/azure-ai-assistants/samples/async_samples/sample_assistant_basics_async.py
  sdk/ai/azure-ai-assistants/samples/async_samples/sample_assistant_with_file_search_attachment_async.py
  sdk/ai/azure-ai-assistants/samples/sample_assistant_basics.py
  sdk/ai/azure-ai-assistants/samples/sample_assistant_with_code_interpreter_attachment.py
  sdk/ai/azure-ai-assistants/samples/sample_assistant_with_file_search_attachment.py
Labels: AI

#37786 Sync eng/common directory with azure-sdk-tools for PR 9099
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#37787 [Storage] [Typing] Bump changelogs after `azure-storage-file-share` typing release
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Labels: Storage

#37784 Release exporter
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor - Exporter

#37794 Online Evaluation changes
  sdk/ai/azure-ai-client/azure/ai/client/_client.py
  sdk/ai/azure-ai-client/azure/ai/client/_configuration.py
  sdk/ai/azure-ai-client/azure/ai/client/_model_base.py
  sdk/ai/azure-ai-client/azure/ai/client/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/_serialization.py
  sdk/ai/azure-ai-client/azure/ai/client/_types.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/_client.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/_configuration.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/_operations.py
  sdk/ai/azure-ai-client/azure/ai/client/models/__init__.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_enums.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_models.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/__init__.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_operations.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_patch.py
  sdk/ai/azure-ai-client/generated_samples/agents_cancel_run_maximum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_cancel_vector_store_file_batch_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_delete_agent_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_delete_file_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_delete_thread_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_delete_vector_store_file_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_delete_vector_store_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_get_agent_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_get_file_content_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_get_file_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_get_message_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_get_run_maximum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_get_run_step_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_get_thread_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_get_vector_store_file_batch_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_get_vector_store_file_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_get_vector_store_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_list_agents_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_list_files_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_list_messages_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_list_run_steps_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_list_runs_maximum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_list_vector_store_file_batch_files_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_list_vector_store_files_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_list_vector_stores_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/agents_update_run_maximum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/evaluations_create_maximum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/evaluations_create_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/evaluations_get_maximum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/evaluations_get_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/evaluations_list_maximum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/evaluations_list_minimum_set_gen.py
  sdk/ai/azure-ai-client/generated_samples/evaluations_update_maximum_set_gen.py
  sdk/ai/azure-ai-client/generated_tests/test_azure_ai_evaluations_operations.py
  sdk/ai/azure-ai-client/generated_tests/test_azure_ai_evaluations_operations_async.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_functions.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_run_with_toolset.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_eventhandler.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_iteration.py
  sdk/ai/azure-ai-client/samples/agents/user_functions.py
  sdk/ai/azure-ai-client/samples/inference/sample_get_azure_openai_client.py
  sdk/ai/azure-ai-client/samples/inference/sample_get_chat_completions_client.py
  sdk/ai/azure-ai-client/samples/inference/sample_get_embeddings_client.py
  sdk/ai/azure-ai-client/tsp-location.yaml
Labels: AI

#37708 Remove usage of keys from prompty
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/README.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_prompty/task_query_response.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_prompty/task_simulate.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_non_adv_simulator.py
Labels: Evaluation

#37797 Sync eng/common directory with azure-sdk-tools for PR 9113
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#37763 Bugfix/token expired
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_identity_manager.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_proxy_completion_model.py
Labels: Evaluation

#37793 Sync eng/common directory with azure-sdk-tools for PR 9106
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#37765 [Identity] Fix WorkloadIdentityCredential parameter
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
Labels: Azure.Identity

#36977 Dt use patch
  .vscode/cspell.json
  sdk/translation/azure-ai-translation-document/MANIFEST.in
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_client.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_model_base.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_operations/_operations.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_operations/_patch.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_patch.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_serialization.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_client.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_operations/_operations.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_operations/_patch.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_patch.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/models/__init__.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/models/_enums.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/models/_models.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/models/_patch.py
  sdk/translation/azure-ai-translation-document/doc/azure.ai.translation.document.aio.rst
  sdk/translation/azure-ai-translation-document/doc/azure.ai.translation.document.models.rst
  sdk/translation/azure-ai-translation-document/doc/azure.ai.translation.document.rst
  sdk/translation/azure-ai-translation-document/tests/test_translation.py
  sdk/translation/azure-ai-translation-document/tests/test_translation_async.py
  sdk/translation/azure-ai-translation-document/tsp-location.yaml
Labels: Cognitive - Translator

#37799 Update sample_vector_search_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_vector_search_async.py
Labels: Search, customer-reported, Community Contribution

#37811 [Tables] Fix broken link in setup.py
  sdk/tables/azure-data-tables/setup.py
Labels: customer-reported, Tables, Community Contribution

#37783 App Config Remove Telemetry
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_client_manager.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_client_manager_base.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_async_client_manager.py
Labels: App Configuration Provider

#37804 Patch constructor for async AzureAIClient
  sdk/ai/azure-ai-client/azure/ai/client/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_patch.py
  sdk/ai/azure-ai-client/samples/endpoints/async_samples/sample_endpoints_async.py
  sdk/ai/azure-ai-client/samples/endpoints/sample_endpoints.py
  sdk/ai/azure-ai-client/samples/inference/async_samples/sample_get_chat_completions_client_async.py
  sdk/ai/azure-ai-client/samples/inference/sample_get_azure_openai_client.py
  sdk/ai/azure-ai-client/samples/inference/sample_get_chat_completions_client.py
  sdk/ai/azure-ai-client/samples/inference/sample_get_embeddings_client.py
Labels: AI

#37795 [Cosmos] Python 3.13 updates
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/setup.py
Labels: Cosmos

#37759 Update/remove broken links
  sdk/anomalydetector/azure-ai-anomalydetector/samples/README.md
  sdk/metricsadvisor/azure-ai-metricsadvisor/samples/README.md
Labels: Cognitive - Anomaly Detector, Cognitive - Metrics Advisor

#37803 [Storage] [STG 96] Beta Release Notes
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
Labels: Storage

#37778 [SB] - Fix F-String in Async
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
Labels: Service Bus

#37824 Users/singankit/evaluation add data mapping
  sdk/ai/azure-ai-client/samples/evaluations/sample_evaluations.py
Labels: AI

#37816 Skip psycopg2 test for Python 3.13 to fix build
  sdk/monitor/azure-monitor-opentelemetry/tests/instrumentation/test_psycopg2.py
Labels: Monitor - Distro

#37818 Generating SDK from the TypeSpec commit
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_client.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_configuration.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_model_base.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_operations/_operations.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_operations/_patch.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_patch.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_serialization.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_vendor.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_client.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_configuration.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_operations/_operations.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_operations/_patch.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_patch.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_vendor.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/models/_models.py
  sdk/translation/azure-ai-translation-document/tests/perfstress_tests/perf_translation.py
  sdk/translation/azure-ai-translation-document/tests/preparer.py
  sdk/translation/azure-ai-translation-document/tsp-location.yaml
Labels: Cognitive - Translator

#37674 Removing the mandatory api_key from model_config
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_model_configurations.py
Labels: Evaluation

#37796 [EventHub/ServiceBus] temporarily skip Canary, not supported by TME tenant
  sdk/eventhub/tests.yml
  sdk/servicebus/tests.yml
Labels: Service Bus, Event Hubs

#37843 [Storage] Bump changelogs after STG 96 beta release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Labels: Storage

#37822 Update extra to be called "remote"
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/dev_requirements.txt
  sdk/evaluation/azure-ai-evaluation/setup.py
Labels: Evaluation

#37693 enable bandit
  eng/pipelines/templates/steps/run_bandit.yml
  eng/tox/tox.ini
  sdk/evaluation/azure-ai-evaluation/pyproject.toml
  sdk/storage/azure-storage-extensions/pyproject.toml
Labels: Storage, Evaluation

#37844 Improve error message for missing package for remote tracking
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_exceptions.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_eval_run.py
Labels: Evaluation

#37819 [AI Client] adapt Sophia's assistant tests to client repo
  sdk/ai/azure-ai-client/assets.json
  sdk/ai/azure-ai-client/tests/README.md
  sdk/ai/azure-ai-client/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-client/tests/conftest.py
Labels: AI

#37851 Took out streaming from create_run, create_and_process_run, and submit_tool_outputs_to_run and declare separate functions for streaming
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_patch.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_stream_eventhandler_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_stream_eventhandler_with_toolset_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_stream_iteration_async.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_code_interpreter_attachment.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_eventhandler.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_iteration.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_iteration_with_toolset.py
Labels: AI

#37840 Allocation Id
  .github/CODEOWNERS
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_client_manager_base.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_constants.py
Labels: App Configuration Provider

#37848 Sync eng/common directory with azure-sdk-tools for PR 9102
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#37860 Python Provider 2.0.0b2 Changelog update
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
Labels: App Configuration Provider

#37859 Print per evaluator run summary at the end of Evaluate API call
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run_client/code_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run_client/proxy_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
Labels: Evaluation

#37731 [Monitor][CI] Remove BuildTargetingString
  sdk/monitor/ci.yml
Labels: Monitor

#37863 Fix the pylint, black and mypy issues in ai-evaluation SDK
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run_client/code_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run_client/proxy_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_exceptions.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_eval_run.py
Labels: Evaluation

#37862 Update ImageAnalysis SDK to stable version 1.0.0
  sdk/vision/azure-ai-vision-imageanalysis/CHANGELOG.md
  sdk/vision/azure-ai-vision-imageanalysis/README.md
  sdk/vision/azure-ai-vision-imageanalysis/azure/ai/vision/imageanalysis/_version.py
Labels: Image Analysis

#37877 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
Labels: App Configuration Provider

#37879 Repair testing for openai
  sdk/openai/tests.yml
Labels: OpenAI

#37846 inference instrumentor to inference library
  .vscode/cspell.json
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/assets.json
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/tracing.py
  sdk/ai/azure-ai-inference/dev_requirements.txt
  sdk/ai/azure-ai-inference/samples/README.md
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_defaults.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_tracing.py
  sdk/ai/azure-ai-inference/setup.py
  sdk/ai/azure-ai-inference/tests/gen_ai_trace_verifier.py
  sdk/ai/azure-ai-inference/tests/memory_trace_exporter.py
  sdk/ai/azure-ai-inference/tests/test_model_inference_async_client.py
  sdk/ai/azure-ai-inference/tests/test_model_inference_client.py
Labels: AI Model Inference

#37887 Jhakulin/azure ai client pylance
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_patch.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_basics_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_functions_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_stream_eventhandler_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_stream_eventhandler_with_toolset_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_stream_iteration_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_with_file_search_attachment_async.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_code_interpreter_attachment.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_file_search.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_functions.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_iteration_with_toolset.py
Labels: AI

#37886 Add SearchResourceEncryptionKey.identity support
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
Labels: Search

#37857 Fix online deployment registry issue
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
Labels: Machine Learning

#37898 Use List instead of Sequence and fixed samples
  sdk/ai/azure-ai-client/azure/ai/client/models/_patch.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_functions_async.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_code_interpreter_attachment.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_functions.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_with_file_search_attachment.py
Labels: AI

#37904 Improve API docs for DAC and CTC
  sdk/identity/azure-identity/azure/identity/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
Labels: Azure.Identity

#37897 Refactor out target and data mapping logic to trace utils
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_utils.py
Labels: Monitor - Exporter

#37888 Add "api-key" HTTP request header when using AzureKeyCredential
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/assets.json
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_patch.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_streaming_azure_openai_async.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_azure_openai.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_streaming_with_tools.py
  sdk/ai/azure-ai-inference/samples/sample_embeddings_azure_openai.py
  sdk/ai/azure-ai-inference/setup.py
  sdk/ai/azure-ai-inference/tests/model_inference_test_base.py
Labels: AI Model Inference

#37906 Update tests.yml
  sdk/openai/tests.yml
Labels: OpenAI

#37907 Sync .github/workflows directory with azure-sdk-tools for PR 9134
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#37905 Vendor rouge-score into Evaluation SDK and Include NOTICE File
  .vscode/cspell.json
  sdk/evaluation/azure-ai-evaluation/NOTICE.txt
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_rouge/_rouge.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_vendor/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_vendor/rouge_score/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_vendor/rouge_score/rouge_scorer.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_vendor/rouge_score/scoring.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_vendor/rouge_score/tokenize.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_vendor/rouge_score/tokenizers.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_helpers/_experimental.py
  sdk/evaluation/azure-ai-evaluation/setup.py
  shared_requirements.txt
Labels: Evaluation

#37660 [Identity] Add manual test for PoP brokered auth
  sdk/identity/azure-identity-broker/tests/conftest.py
  sdk/identity/azure-identity-broker/tests/test_broker.py
Labels: Azure.Identity

#37913 fixed warning for aio and get call function tools for stream within t…
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_patch.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_basics_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_functions_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_stream_eventhandler_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_stream_eventhandler_with_toolset_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_stream_iteration_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_with_file_search_attachment_async.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_code_interpreter_attachment.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_file_search.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_iteration_with_toolset.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_with_file_search_attachment.py
Labels: AI

#37902 Local run fix
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
Labels: Machine Learning

#37915 Evaluation API Review Feedback
  sdk/ai/azure-ai-client/azure/ai/client/__init__.py
  sdk/ai/azure-ai-client/azure/ai/client/_client.py
  sdk/ai/azure-ai-client/azure/ai/client/_serialization.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/__init__.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/_client.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/__init__.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/_operations.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/models/__init__.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_enums.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_models.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/__init__.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_operations.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_patch.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_basics_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_functions_async.py
  sdk/ai/azure-ai-client/samples/evaluations/sample_evaluations_schedules.py
  sdk/ai/azure-ai-client/tests/conftest.py
  sdk/ai/azure-ai-client/tsp-location.yaml
Labels: AI

#37922 Howie/code interpreter and upload
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_patch.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_code_interpreter_attachment.py
Labels: AI

#35791 [Cosmos] item operation response includes response headers
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/__init__.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_responses.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_query_iterable_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/samples/document_management.py
  sdk/cosmos/azure-cosmos/samples/document_management_async.py
  sdk/cosmos/azure-cosmos/test/test_cosmos_responses.py
  sdk/cosmos/azure-cosmos/test/test_cosmos_responses_async.py
  sdk/cosmos/azure-cosmos/test/test_globaldb.py
  sdk/cosmos/azure-cosmos/test/test_streaming_failover.py
  sdk/cosmos/azure-cosmos/test/test_transactional_batch.py
  sdk/cosmos/azure-cosmos/test/test_transactional_batch_async.py
  sdk/cosmos/azure-cosmos/test/test_user_configs.py
Labels: Cosmos

#37926 azure-ai-evaluation 2024-10-16 release 1.0.0b4
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_helpers/_experimental.py
Labels: Evaluation

#37358 [Key Vault] Support CAE in challenge auth policy
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/http_challenge.py
  sdk/keyvault/azure-keyvault-administration/setup.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/http_challenge.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/http_challenge.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth_async.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/http_challenge.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
Labels: KeyVault, Client

#37934 Update release date in CHANGELOG.md
  sdk/ai/azure-ai-inference/CHANGELOG.md
Labels: AI Model Inference

#37940 Sync eng/common directory with azure-sdk-tools for PR 9147
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/New-RegenerateMatrix.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
Labels: EngSys, Central-EngSys

#37939 Sync eng/common directory with azure-sdk-tools for PR 9202
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#37936 Sync .github/workflows directory with azure-sdk-tools for PR 9199
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#37930 `3.13.0-rc.3` -> `3.13` in matrix files
  eng/pipelines/templates/stages/platform-matrix-excluding-pypy.json
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/cosmos/cosmos-emulator-matrix.json
Labels: Cosmos

#37933 Sync eng/common directory with azure-sdk-tools for PR 9179
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#37894 Adding test cases for the new model and operation
  sdk/translation/azure-ai-translation-document/assets.json
  sdk/translation/azure-ai-translation-document/tests/asynctestcase.py
  sdk/translation/azure-ai-translation-document/tests/conftest.py
  sdk/translation/azure-ai-translation-document/tests/perfstress_tests/README.md
  sdk/translation/azure-ai-translation-document/tests/perfstress_tests/perf_translation.py
  sdk/translation/azure-ai-translation-document/tests/preparer.py
  sdk/translation/azure-ai-translation-document/tests/test_model_updates.py
  sdk/translation/azure-ai-translation-document/tests/test_model_updates_async.py
  sdk/translation/azure-ai-translation-document/tests/testcase.py
  sdk/translation/azure-ai-translation-text/tests/preparer.py
  sdk/translation/azure-ai-translation-text/tests/test_break_sentence.py
  sdk/translation/azure-ai-translation-text/tests/test_break_sentence_async.py
  sdk/translation/azure-ai-translation-text/tests/test_dictionary_examples.py
  sdk/translation/azure-ai-translation-text/tests/test_dictionary_examples_async.py
  sdk/translation/azure-ai-translation-text/tests/test_dictionary_lookup.py
  sdk/translation/azure-ai-translation-text/tests/test_dictionary_lookup_async.py
  sdk/translation/azure-ai-translation-text/tests/test_get_languages.py
  sdk/translation/azure-ai-translation-text/tests/test_get_languages_async.py
  sdk/translation/azure-ai-translation-text/tests/test_translation.py
  sdk/translation/azure-ai-translation-text/tests/test_translation_async.py
  sdk/translation/azure-ai-translation-text/tests/test_transliteration.py
  sdk/translation/azure-ai-translation-text/tests/test_transliteration_async.py
  sdk/translation/test-resources-post.ps1
  sdk/translation/test-resources.json
Labels: Cognitive - Translator

#37935 removeFeedRangeFromPublicClassType
  sdk/cosmos/azure-cosmos/azure/cosmos/__init__.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_state.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_feed_range.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
Labels: Cosmos

#37923 Sync eng/common directory with azure-sdk-tools for PR 9177
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
Labels: EngSys, Central-EngSys

#37908 [DI] Fix errors from Pylint 3.2.5
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/__init__.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_client.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_configuration.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_model_base.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_operations/__init__.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_operations/_operations.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_operations/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_serialization.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_vendor.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/__init__.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_client.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_configuration.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_operations/__init__.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_operations/_operations.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_operations/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_vendor.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/models/__init__.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/models/_enums.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/models/_models.py
Labels: Document Intelligence

#37944 App Config Ignoring false positives from bandit
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_client_manager_base.py
Labels: App Configuration Provider

#37967 [Storage] Fix Storage subscription env var for Live tests
  sdk/storage/tests.yml
Labels: Storage

#37955 Updating the LRO call to return the final result: TranslationStatus model
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_operations/_operations.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_serialization.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_operations/_operations.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/models/_models.py
  sdk/translation/azure-ai-translation-document/tests/asynctestcase.py
  sdk/translation/azure-ai-translation-document/tests/conftest.py
  sdk/translation/azure-ai-translation-document/tests/test_model_updates.py
  sdk/translation/azure-ai-translation-document/tests/test_model_updates_async.py
  sdk/translation/azure-ai-translation-document/tests/testcase.py
  sdk/translation/azure-ai-translation-document/tsp-location.yaml
Labels: Cognitive - Translator

#37941 Task/fix non adv sim query response
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/README.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_simulator.py
Labels: Evaluation

#37952 create_vector_store_file_batch_and_poll + samples and update aio using the latest code from syn
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_patch.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_vector_store_batch_file_search_async.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_vector_store_batch_file_search.py
Labels: AI

#37971 Howie/optional
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_patch.py
Labels: AI

#37969 Sync eng/common directory with azure-sdk-tools for PR 9181
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#37972 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
Labels: KeyVault

#36985 [Storage] [Typing] [File Datalake] Decoupled `_data_lake_service_client.py` and async
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client_helpers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
Labels: Storage

#37168 [Storage] [Typing] [File Datalake] Decoupled `_file_system_client.py` and async
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client_helpers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
Labels: Storage

#37973 Sync eng/common directory with azure-sdk-tools for PR 9212
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#37965 Enhance the validation of `evaluate` API input parameters
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run_client/proxy_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_built_in_evaluator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
Labels: Evaluation

#37984 updates and minor fixes
  sdk/ai/azure-ai-client/azure/ai/client/models/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_patch.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_with_file_search_attachment_async.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_file_search.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_with_file_search_attachment.py
Labels: AI

#37985 Clean up
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_patch.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_vector_store_batch_file_search_async.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_vector_store_batch_file_search.py
Labels: AI

#37983 Rename connection string environment variables
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_basics_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_functions_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_stream_eventhandler_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_stream_eventhandler_with_toolset_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_stream_iteration_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_vector_store_batch_file_search_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_with_file_search_attachment_async.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_basics.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_code_interpreter_attachment.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_file_search.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_functions.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_run_with_toolset.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_eventhandler.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_eventhandler_with_functions.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_iteration.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_iteration_with_toolset.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_vector_store_batch_file_search.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_with_file_search_attachment.py
  sdk/ai/azure-ai-client/samples/connections/async_samples/sample_connections_async.py
  sdk/ai/azure-ai-client/samples/connections/sample_connections.py
  sdk/ai/azure-ai-client/samples/inference/async_samples/sample_get_azure_openai_client_async.py
  sdk/ai/azure-ai-client/samples/inference/async_samples/sample_get_chat_completions_client_async.py
  sdk/ai/azure-ai-client/samples/inference/async_samples/sample_get_embeddings_client_async.py
  sdk/ai/azure-ai-client/samples/inference/sample_get_azure_openai_client.py
  sdk/ai/azure-ai-client/samples/inference/sample_get_chat_completions_client.py
  sdk/ai/azure-ai-client/samples/inference/sample_get_embeddings_client.py
  sdk/ai/azure-ai-client/tests/agents/test_agents_client.py
Labels: AI

#37988 Updating changelog for 1.1.0 for Nov 2024 release.
  sdk/communication/azure-communication-messages/CHANGELOG.md
Labels: Communication - Messages

#37990 updated codeinterpreter attachment sample
  sdk/ai/azure-ai-client/samples/agents/sample_agents_code_interpreter_attachment.py
Labels: AI

#37826 Address API Feedback on Type Hints
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/_experimental.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run_client/proxy_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_telemetry/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_bleu/_bleu.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_coherence/_coherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_prompty_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_rai_svc_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety_chat.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_violence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_eci/_eci.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_fluency/_fluency.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_gleu/_gleu.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_groundedness/_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_meteor/_meteor.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_material/_protected_material.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_materials/_protected_materials.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_qa/_qa.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_relevance/_relevance.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_retrieval/_retrieval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_rouge/_rouge.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_similarity/_similarity.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_xpia/xpia.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_model_configurations.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_direct_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_helpers/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_indirect_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_identity_manager.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_simulator.py
Labels: Evaluation

#37991 Filter parameters, returned by SSE event
  sdk/ai/azure-ai-client/azure/ai/client/models/_patch.py
  sdk/ai/azure-ai-client/tests/endpoints/unit_tests.py
Labels: AI

#38007 Evaluation data set id change revert
  sdk/ai/azure-ai-client/azure/ai/client/models/__init__.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_models.py
  sdk/ai/azure-ai-client/tsp-location.yaml
Labels: AI

#37976 [Storage] [Typing] [File Datalake] Decoupled and resolved `mypy` errors for `_data_lake_lease.py` and aio
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_lease.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_lease_async.py
Labels: Storage

#38020 Sync eng/common directory with azure-sdk-tools for PR 9216
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/sub-config/AzureChinaMsft.json
  eng/common/TestResources/sub-config/AzurePreviewMsft.json
  eng/common/TestResources/sub-config/AzurePublicMsft.json
  eng/common/TestResources/sub-config/AzureUsGovMsft.json
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#37199 [Storage] [Typing] [File Datalake] Typed `_models.py`
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_models.py
Labels: Storage

#37966 cs eval accepts convos
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/_experimental.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
Labels: Evaluation

#38024 Updates to .connection operators
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/_operations.py
  sdk/ai/azure-ai-client/azure/ai/client/aio/operations/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_enums.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_models.py
  sdk/ai/azure-ai-client/azure/ai/client/models/_patch.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_operations.py
  sdk/ai/azure-ai-client/azure/ai/client/operations/_patch.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_vector_store_batch_file_search_async.py
  sdk/ai/azure-ai-client/samples/agents/async_samples/sample_agents_with_file_search_attachment_async.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_eventhandler_with_functions.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_stream_iteration_with_toolset.py
  sdk/ai/azure-ai-client/samples/agents/sample_agents_vector_store_batch_file_search.py
  sdk/ai/azure-ai-client/samples/connections/async_samples/sample_connections_async.py
  sdk/ai/azure-ai-client/samples/connections/sample_connections.py
  sdk/ai/azure-ai-client/tests/endpoints/unit_tests.py
  sdk/ai/azure-ai-client/tsp-location.yaml
Labels: AI

#38026 Sync eng/common directory with azure-sdk-tools for PR 9229
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#38019 Allocation id calculation fixes
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_client_manager_base.py
Labels: App Configuration Provider

#37911 [Storage] Fix for inconsistent casing in `x-ms-meta` prefix extraction in response handler
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/request_handlers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/response_handlers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/request_handlers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/response_handlers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/request_handlers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/response_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/request_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/response_handlers.py
Labels: Storage
