Repository Azure/azure-sdk-for-python, pull requests merged in 2024-12, with the labels that each got.

#38658 fix tempfile vulnerability
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_artifact_utils.py
Labels: Machine Learning

#38571 new tests
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_similarity/_similarity.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_mass_evaluate.py
  sdk/evaluation/ci.yml
  sdk/evaluation/platform-matrix.json
Labels: Evaluation

#38718 Add paralel_tool_calls to azure-ai-inerence API and corresponding tests.
  sdk/ai/azure-ai-projects/azure/ai/projects/_model_base.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_serialization.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_enums.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
  sdk/ai/azure-ai-projects/tests/conftest.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#38720 [sb] fix perf
  sdk/servicebus/azure-servicebus/dev_requirements.txt
  sdk/servicebus/azure-servicebus/pyproject.toml
Labels: Service Bus

#38745 Revert "Add paralel_tool_calls to azure-ai-inerence API and corresponding tests."
  sdk/ai/azure-ai-projects/azure/ai/projects/_model_base.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_serialization.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_enums.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
  sdk/ai/azure-ai-projects/tests/conftest.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#38726 Update README.md
  sdk/communication/azure-communication-sms/README.md
Labels: Communication - SMS

#38750 Sync eng/common directory with azure-sdk-tools for PR 9440
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys

#38588 Add SocketIO support when generate token
  sdk/webpubsub/azure-messaging-webpubsubservice/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_operations/_patch.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/_operations/_patch.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/test_jwt.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/test_jwt_async.py
Labels: WebPubSub

#38740 removing connection preview
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/connection_subtypes.py
Labels: Machine Learning

#38692 More changes for beta 2 of Azure AI Projects SDK
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/pyproject.toml
  sdk/ai/azure-ai-projects/samples/connections/async_samples/sample_connections_async.py
  sdk/ai/azure-ai-projects/samples/connections/async_samples/sample_inference_client_from_connection_async.py
  sdk/ai/azure-ai-projects/samples/connections/sample_connections.py
  sdk/ai/azure-ai-projects/samples/connections/sample_inference_client_from_connection.py
  sdk/ai/azure-ai-projects/tests/conftest.py
  sdk/ai/azure-ai-projects/tests/telemetry/telemetry_test_base.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_telemetry.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_telemetry_async.py
Labels: AI

#38753 [sb] ignore enum subclass
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/constants.py
  sdk/servicebus/azure-servicebus/doc/azure.servicebus.rst
Labels: Service Bus

#38578 Beta 2 - Azure AI Projects SDK
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/pyproject.toml
  sdk/ai/azure-ai-projects/samples/connections/async_samples/sample_connections_async.py
  sdk/ai/azure-ai-projects/samples/connections/async_samples/sample_inference_client_from_connection_async.py
  sdk/ai/azure-ai-projects/samples/connections/sample_connections.py
  sdk/ai/azure-ai-projects/samples/connections/sample_inference_client_from_connection.py
  sdk/ai/azure-ai-projects/tests/conftest.py
  sdk/ai/azure-ai-projects/tests/telemetry/telemetry_test_base.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_telemetry.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_telemetry_async.py
Labels: AI

#38747 Bugfix: Parameters were null after zip_longest
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
Labels: Evaluation

#38719 Remove promptflow-azure dependency
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_azure/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_azure/_clients.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_azure/_models.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_azure/_token_manager.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_eval_run.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_http_utils.py
  sdk/evaluation/azure-ai-evaluation/dev_requirements.txt
  sdk/evaluation/azure-ai-evaluation/setup.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_lite_management_client.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_metrics_upload.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_batch_run_context.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_eval_run.py
Labels: Evaluation

#38451 Add applying filter/validating filter logic to live metrics filtering
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_types.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_utils.py
Labels: Monitor - Exporter

#38712 [Identity] Adjust tests to reduce flakiness
  sdk/identity/azure-identity/tests/test_managed_identity.py
Labels: Azure.Identity

#38749 Add paralel_tool_calls to azure-ai-inerence API and corresponding tests.
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/azure/ai/projects/_model_base.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_serialization.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_enums.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
  sdk/ai/azure-ai-projects/tests/conftest.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#38056 Refactor TimeZone SDK to address the comments from the SDK review meeting
  sdk/maps/azure-maps-timezone/README.md
  sdk/maps/azure-maps-timezone/assets.json
  sdk/maps/azure-maps-timezone/azure/maps/timezone/__init__.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/_client.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/_patch.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/_serialization.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/aio/__init__.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/aio/_client.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/aio/_patch.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/aio/operations/_operations.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/operations/_operations.py
  sdk/maps/azure-maps-timezone/dev_requirements.txt
  sdk/maps/azure-maps-timezone/samples/async_samples/convert_windows_timezone_to_iana_async.py
  sdk/maps/azure-maps-timezone/samples/async_samples/get_iana_timezone_ids_async.py
  sdk/maps/azure-maps-timezone/samples/async_samples/get_iana_version_async.py
  sdk/maps/azure-maps-timezone/samples/async_samples/get_timezone_by_coordinates_async.py
  sdk/maps/azure-maps-timezone/samples/async_samples/get_timezone_by_id_async.py
  sdk/maps/azure-maps-timezone/samples/async_samples/get_windows_timezone_ids_async.py
  sdk/maps/azure-maps-timezone/samples/convert_windows_timezone_to_iana.py
  sdk/maps/azure-maps-timezone/samples/get_iana_timezone_ids.py
  sdk/maps/azure-maps-timezone/samples/get_iana_version.py
  sdk/maps/azure-maps-timezone/samples/get_timezone_by_coordinates.py
  sdk/maps/azure-maps-timezone/samples/get_timezone_by_id.py
  sdk/maps/azure-maps-timezone/samples/get_windows_timezone_ids.py
  sdk/maps/azure-maps-timezone/swagger/README.md
  sdk/maps/azure-maps-timezone/tests/test_maps_timezone_client.py
  sdk/maps/azure-maps-timezone/tests/test_maps_timezone_client_async.py
  sdk/maps/azure-maps-timezone/tests/timezone_preparer.py
Labels: Maps

#38741 Add support for SAS-based authentification for Geolocation, Render, Route, and Search SDKs
  sdk/maps/azure-maps-geolocation/README.md
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_base_client.py
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/aio/_base_client_async.py
  sdk/maps/azure-maps-render/README.md
  sdk/maps/azure-maps-render/azure/maps/render/_patch.py
  sdk/maps/azure-maps-render/azure/maps/render/aio/_patch.py
  sdk/maps/azure-maps-route/README.md
  sdk/maps/azure-maps-route/azure/maps/route/_patch.py
  sdk/maps/azure-maps-route/azure/maps/route/aio/_patch.py
  sdk/maps/azure-maps-search/README.md
  sdk/maps/azure-maps-search/azure/maps/search/_patch.py
  sdk/maps/azure-maps-search/azure/maps/search/aio/_patch.py
Labels: Maps

#38683 Adding enterprise agent feature
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_10_01_preview/aio/operations/_capability_hosts_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_10_01_preview/operations/_capability_hosts_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/ai_workspaces/capability_host.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_common.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_workspace.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_load_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/_ai_workspaces/capability_host.py
  sdk/ml/azure-ai-ml/azure/ai/ml/exceptions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_capability_hosts_operations.py
  sdk/ml/azure-ai-ml/samples/ml_samples_capability_host.py
  sdk/ml/azure-ai-ml/swagger/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-10-01-preview/mfe.json
  sdk/ml/azure-ai-ml/tests/test_configs/workspace/ai_workspaces/test_capability_host_hub.yml
  sdk/ml/azure-ai-ml/tests/test_configs/workspace/ai_workspaces/test_capability_host_project.yml
  sdk/ml/azure-ai-ml/tests/workspace/ai_workspaces/unittests/test_capability_host_entity.py
  sdk/ml/azure-ai-ml/tests/workspace/ai_workspaces/unittests/test_capability_host_operations.py
Labels: Machine Learning, ML-Workspace

#38761 Redesigned streaming and event handler for agents
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_attachment_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_attachment_enterprise_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_run_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_with_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_iteration_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_with_base_override_eventhandler_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_enterprise_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_enterprise_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_with_file_search_attachment_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_iteration.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_with_base_override_eventhandler.py
Labels: AI

#38769 [sb] update perf pin
  sdk/servicebus/azure-servicebus/dev_requirements.txt
  sdk/servicebus/perf-tests.yml
Labels: Service Bus

#38770 update tests to target 11-preview
  sdk/openai/azure-openai/tests/conftest.py
Labels: OpenAI

#38783 Fix CHANGELOG and _version.py for azure-ai-evaluation
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
Labels: Evaluation

#38764 [Storage] [STG 97] Beta Release API Views Feedback
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_nfs.py
  sdk/storage/azure-storage-file-share/tests/test_nfs_async.py
Labels: Storage

#38784 Sync eng/common directory with azure-sdk-tools for PR 9471
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#38775 Fix gates
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
Labels: AI

#38733 Use b"" instead of bytes(). Don't use str on a string.
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/receipt/_receipt_verification.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_exporter.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_transport.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/request_handlers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/request_handlers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/request_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/request_handlers.py
Labels: Service Bus, Storage, Event Hubs, customer-reported, Monitor - Exporter, Confidential Ledger, Community Contribution

#38781 [Release azure-ai-ml 1.23.0] Update sdk version and changelog
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#38785 Sync eng/common directory with azure-sdk-tools for PR 9466
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#38787 Ignore backoff warning if in functions environment
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
Labels: Monitor - Distro

#38791 Update docIndex to kick off the docs SDK CI run for main
  eng/docsSDKCIConfig.json
  eng/pipelines/docindex.yml
Labels: Docs

#38777 Change the code according to RestAPI
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_attachment_enterprise_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_code_interpreter_attachment_enterprise_search.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#38790 [Storage] [STG 97] Re-Record Existing Tests
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
Labels: Storage

#38771 Sync eng/common directory with azure-sdk-tools for PR 9460
  eng/common/testproxy/publish-proxy-logs.yml
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#38796 Sync .github/workflows directory with azure-sdk-tools for PR 9490
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#38797 [sb/eh] mypy
  sdk/eventhub/azure-eventhub/azure/eventhub/_connection_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_pyamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_uamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_connection_manager_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_pyamqp_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_uamqp_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_uamqp_transport.py
Labels: Service Bus, Event Hubs

#38778 Converge multi modal evals (Part 1). [Read PR description for details on Part 2]
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_prompty_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_rai_svc_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_mass_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_sim_and_eval.py
Labels: Evaluation

#38802 Task-3679257-Add-Prop-Eval-Run
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
Labels: Evaluation

#38798 Image simulator scenario rename
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_scenario.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_adv_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_sim_and_eval.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_simulator.py
Labels: Evaluation

#38772 [sb] add AdminClient support
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
Labels: Service Bus

#36456 Update README.md
  sdk/communication/azure-communication-jobrouter/README.md
Labels: Communication - Job Router

#38808 Sync eng/common directory with azure-sdk-tools for PR 9497
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#37663 Azure monitor opentelemetry migration
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/activity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/logging_handler.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_logger_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_capability_hosts_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_code_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_compute_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_datastore_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_environment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_evaluator_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_entity_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_index_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_marketplace_subscription_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_registry_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_serverless_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_virtual_cluster_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_outbound_rule_operations.py
  sdk/ml/azure-ai-ml/setup.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_logger_utils.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_ml_client.py
  shared_requirements.txt
Labels: Machine Learning

#38805 Eval/testing/perf test
  sdk/evaluation/azure-ai-evaluation/tests/unittests/data/big_f1_data.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/unittests/data/ten_queries.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate_performance.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluators/slow_eval.py
Labels: Evaluation

#38419 Alpha4 python changes
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_api_versions.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_serialization.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_enums.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_utils.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_version.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/streaming/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/streaming/models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/streaming/streaming_data_parser.py
  sdk/communication/azure-communication-callautomation/pyproject.toml
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/callautomation_test_case.py
  sdk/communication/azure-communication-callautomation/tests/conftest.py
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_add_participant_then_cancel_request.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_create_VOIP_call_and_answer_then_hangup.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_create_VOIP_call_and_connect_call_then_hangup.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_add_and_hold_unhold_participant_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_add_and_mute_participant_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_combined_file_and_text_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_combined_file_and_text_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_media_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_operationcallbackurl_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_operationcallbackurl_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_text_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_text_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_and_valid_file_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_and_valid_file_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_file_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_file_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_start_stop_media_streaming_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_start_stop_transcription_in_call.event.json
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_callautomation_client.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_media_client.py
  sdk/communication/azure-communication-callautomation/tests/test_streaming_data_parser.py
Labels: Communication - Call Automation

#38817 update azure-core version to be >= 1.32.0
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_version.py
  sdk/communication/azure-communication-rooms/setup.py
Labels: Communication - Rooms

#37692 App Configuration Python Provider - Load Balancing
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_client_manager.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_client_manager_base.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_async_client_manager.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_configuration_async_client_manager.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_configuration_async_client_manager_load_balance.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_configuration_client_manager.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_configuration_client_manager_load_balance.py
Labels: App Configuration Provider

#38825 fixed thread message and message delta chunk object
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_code_interpreter.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_code_interpreter_file_attachment.py
  sdk/ai/azure-ai-projects/tests/README.md
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
Labels: AI

#38819 Updated api version number
  sdk/ai/azure-ai-projects/azure/ai/projects/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_patch.py
Labels: AI

#38828 Update package versions and changelog files for the release of Geolocation, Render, Route, and Search SDKs
  sdk/maps/azure-maps-geolocation/CHANGELOG.md
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_version.py
  sdk/maps/azure-maps-render/CHANGELOG.md
  sdk/maps/azure-maps-route/CHANGELOG.md
  sdk/maps/azure-maps-route/azure/maps/route/_version.py
  sdk/maps/azure-maps-search/CHANGELOG.md
Labels: Maps

#38832 More samples update and CHANGELOG.md updates
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_attachment_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_attachment_enterprise_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_run_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_with_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_iteration_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_with_base_override_eventhandler_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_enterprise_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_enterprise_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_with_file_search_attachment_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_ai_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_bing_grounding.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_code_interpreter.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_code_interpreter_attachment_enterprise_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_enterprise_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_openapi.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_run_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_iteration.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_iteration_with_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_iteration_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_with_base_override_eventhandler.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_batch_enterprise_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_batch_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_code_interpreter_file_attachment.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_file_search_attachment.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_resources_in_thread.py
  sdk/ai/azure-ai-projects/samples/evaluations/async_samples/sample_evaluations_async.py
  sdk/ai/azure-ai-projects/samples/evaluations/sample_evaluations.py
  sdk/ai/azure-ai-projects/tests/check_sample_name.sh
Labels: AI

#38830 function signature clean up for event handler.
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
Labels: AI

#38818 Quick-Fix-API-Fix
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate_performance.py
Labels: Evaluation

#38470 [DI] Use TME subscription training data account
  .vscode/cspell.json
  sdk/documentintelligence/test-resources.json
Labels: Document Intelligence

#38841 Readme update
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_ai_search.py
Labels: AI

#38799 Sync eng/common directory with azure-sdk-tools for PR 9493
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/Helpers/Package-Helpers.ps1
Labels: EngSys, Central-EngSys

#38767 [Storage] Fix for missing `expires_on` kwarg in request handler
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_async.py
Labels: Storage

#38839 change create_job.py => _create_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/finetuning/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/finetuning/_create_job.py
Labels: Machine Learning

#38838 Change create_job.py => _create_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/finetuning/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/finetuning/_create_job.py
Labels: Machine Learning

#38840 Increment version for maps releases
  sdk/maps/azure-maps-geolocation/CHANGELOG.md
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/_version.py
  sdk/maps/azure-maps-render/CHANGELOG.md
  sdk/maps/azure-maps-render/azure/maps/render/_version.py
  sdk/maps/azure-maps-route/CHANGELOG.md
  sdk/maps/azure-maps-route/azure/maps/route/_version.py
  sdk/maps/azure-maps-search/CHANGELOG.md
  sdk/maps/azure-maps-search/azure/maps/search/_version.py
Labels: Maps

#38711 Added extra security hardening
  sdk/healthdataaiservices/azure-health-deidentification/test-resources.bicep
Labels: Health Deidentification

#38616 Add objects to handle the Azure functions.
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/azure/ai/projects/_model_base.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_serialization.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_types.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_enums.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_azure_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_attachment_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_attachment_enterprise_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_run_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_with_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_iteration_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_with_base_override_eventhandler_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_enterprise_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_enterprise_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_with_file_search_attachment_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_functions.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#38322 Adding e2e tests for DirectAttackSimulator
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_conversation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_template_handler.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_adv_simulator.py
Labels: Evaluation

#38859 No class members for base event handler
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
Labels: AI

#38846 Azure-AI-Evaluation - Prepare-Release-1-1-0
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/setup.py
Labels: Evaluation

#38835 [Storage] Fixed next-mypy for `azure-storage-blob`, `azure-storage-file-share`, and `azure-storage-queue`
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-blob/samples/blob_samples_authentication.py
  sdk/storage/azure-storage-blob/samples/blob_samples_authentication_async.py
  sdk/storage/azure-storage-blob/samples/blob_samples_containers.py
  sdk/storage/azure-storage-blob/samples/blob_samples_containers_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_download.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
  sdk/storage/azure-storage-queue/samples/queue_samples_authentication_async.py
  sdk/storage/azure-storage-queue/samples/queue_samples_message.py
  sdk/storage/azure-storage-queue/samples/queue_samples_message_async.py
Labels: Storage

#38789 Adopt 2024 11 01 preview
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/azure/ai/projects/_types.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_enums.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/pyproject.toml
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_json_schema_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_json_schema.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#38845 Instead of allowing users set custom_data in event function, allow them to return custom data.
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler.py
Labels: AI

#38837 Refactor live metrics filtering modules
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_cpu.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_filter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_projection.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_validate.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_cpu.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_filter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_projection.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_validate.py
Labels: Monitor - Exporter

#38861 fix lint
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
Labels: AI

#38862 Update agents tests for beta3
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/azure_ai_projects_tests.env
  sdk/ai/azure-ai-projects/tests/agents/test_agent_operations.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_operations_async.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
  sdk/ai/azure-ai-projects/tests/agents/user_functions.py
  sdk/ai/azure-ai-projects/tests/conftest.py
Labels: AI

#38758 Improve e2e evaluator testing.
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_similarity/_similarity.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_mass_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_built_in_evaluator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate_performance.py
Labels: Evaluation

#38864 Update the readme for the latest API changes.
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_attachment_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_attachment_enterprise_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_enterprise_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_enterprise_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_with_file_search_attachment_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_code_interpreter.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_code_interpreter_attachment_enterprise_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_enterprise_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_openapi.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_batch_enterprise_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_batch_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_code_interpreter_file_attachment.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_file_search_attachment.py
Labels: AI

#38872 Some doc fixes
  sdk/search/azure-search-documents/azure/search/documents/_generated/_serialization.py
  sdk/search/azure-search-documents/azure/search/documents/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/_queries.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_search_indexing_buffered_sender.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_indexing_buffered_sender_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_serialization.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_index.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
Labels: Search

#38581 Cosmos Diagnostics Handler for Python SDK
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_http_logging_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_global_endpoint_manager.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_global_endpoint_manager_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_diagnostics_handler.py
  sdk/cosmos/azure-cosmos/samples/README.md
  sdk/cosmos/azure-cosmos/samples/diagnostics_handler_sample.py
  sdk/cosmos/azure-cosmos/test/test_cosmos_http_logging_policy.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
  sdk/cosmos/azure-cosmos/test/test_crud_response_payload_on_write_disabled.py
  sdk/cosmos/azure-cosmos/test/test_crud_response_payload_on_write_disabled_async.py
Labels: Cosmos

#38823 [Monitor] Pylint cleanup
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_helpers.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_models.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_operations/_patch.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_serialization.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_operations/_patch.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_exceptions.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_logs_query_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_metrics_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_metrics_query_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_models.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_logs_query_client_async.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_metrics_client_async.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_metrics_query_client_async.py
Labels: Monitor

#38876 fixed black and remove documentation for file search in blob store through message attachment
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_openapi.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
  sdk/ai/azure-ai-projects/tests/agents/user_functions.py
Labels: AI

#38879 Fix Readme
  sdk/ai/azure-ai-projects/README.md
Labels: AI

#38884 Fix samples
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_with_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_functions.py
Labels: AI

#38891 Update release branch changelog [1.23.0]
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#38882 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/setup.py
Labels: Cosmos

#38877 fixed message attachment defect
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
Labels: AI

#38863 Increment version for evaluation releases
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
Labels: Evaluation

#38902 Nirovins/add env model
  .github/CODEOWNERS
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/pyproject.toml
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_azure_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_attachment_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_attachment_enterprise_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_json_schema_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_run_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_with_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_iteration_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_with_base_override_eventhandler_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_enterprise_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_batch_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_enterprise_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_with_file_search_attachment_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_ai_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_bing_grounding.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_code_interpreter.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_code_interpreter_attachment_enterprise_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_enterprise_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_json_schema.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_openapi.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_run_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_iteration.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_iteration_with_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_iteration_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_with_base_override_eventhandler.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_batch_enterprise_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_batch_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_code_interpreter_file_attachment.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_file_search_attachment.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_resources_in_thread.py
Labels: AI

#38901 fixed even handler
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_json_schema_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_with_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_iteration_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_with_base_override_eventhandler_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_openapi.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_run_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_iteration.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_iteration_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_with_base_override_eventhandler.py
  sdk/ai/azure-ai-projects/tests/README.md
Labels: AI

#38914 Update UsernamePasswordConfiguration docstrings
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_credentials.py
Labels: Machine Learning

#38905 Add optional `connection_name` to .inference operations. Add more Inference tests.
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/azure_ai_projects_tests.env
  sdk/ai/azure-ai-projects/tests/inference/inference_test_base.py
  sdk/ai/azure-ai-projects/tests/inference/test_inference.py
  sdk/ai/azure-ai-projects/tests/inference/test_inference_async.py
Labels: AI

#38860 [SB] next-pylint
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/mgmt_handlers.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/receiver_mixins.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/tracing.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_connection.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_decode.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_encode.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_message_backcompat.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_cbs_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_connection_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_management_operation_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_sasl_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/management_operation.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_sender.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_base.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_uamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_transport/_base_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_transport/_pyamqp_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_transport/_uamqp_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_shared_key_policy_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_models.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_utils.py
Labels: Service Bus

#38896 [EH] next-pylint
  sdk/eventhub/azure-eventhub/azure/eventhub/_client_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/_eventprocessor_mixin.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_eventprocessor/ownership_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_decode.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_encode.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_message_backcompat.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_cbs_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_management_operation_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_sasl_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/management_operation.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_tracing.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_pyamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_uamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_partition_resolver_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_connection_manager_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/_ownership_manager.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_pyamqp_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_uamqp_transport_async.py
Labels: Event Hubs

#38923 [EG] next-pylint
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_configuration.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/_generated/_serialization.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/_helpers.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/_messaging_shared.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/_models.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/aio/_publisher_client_async.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_model_base.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_operations/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_operations/_operations.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_operations/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_serialization.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_vendor.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_configuration.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_operations/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_operations/_operations.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_operations/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_patch.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/aio/_vendor.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/models/__init__.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/models/_models.py
Labels: Event Grid

#38927 Fix warning in mock test
  sdk/ai/azure-ai-projects/tests/agents/test_agent_operations_async.py
Labels: AI

#38924 Another round of .inference & .connection test updates
  .vscode/cspell.json
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure_ai_projects_tests.env
  sdk/ai/azure-ai-projects/samples/connections/async_samples/sample_inference_client_from_connection_async.py
  sdk/ai/azure-ai-projects/samples/connections/sample_inference_client_from_connection.py
  sdk/ai/azure-ai-projects/tests/connections/connection_test_base.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections_async.py
  sdk/ai/azure-ai-projects/tests/inference/inference_test_base.py
  sdk/ai/azure-ai-projects/tests/inference/test_inference.py
  sdk/ai/azure-ai-projects/tests/inference/test_inference_async.py
Labels: AI

#38929 [documentintelligence] Release prep
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
Labels: Document Intelligence

#38900 [Monitor] Update READMEs
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/monitor/azure-monitor-query/README.md
Labels: Monitor

#38928 updated OPS outgoing call feature
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_serialization.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/test_callautomation_client.py
Labels: Communication - Call Automation

#38807 App Config Provider Base
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationproviderbase.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider.py
Labels: App Configuration Provider

#38935 [Key Vault] Prepare for mypy 1.13.0
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_internal/algorithms/ecdsa.py
Labels: KeyVault, Client, mypy

#38936 [EH] update checkpointstores pylint
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_blobstoragecsaio.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_blobstoragecs.py
Labels: Event Hubs

#38938 Use "async with DefaultAzureCredential() as credential" in async .inference/.connections/.evaluation samples
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/samples/connections/async_samples/sample_connections_async.py
  sdk/ai/azure-ai-projects/samples/connections/async_samples/sample_inference_client_from_connection_async.py
  sdk/ai/azure-ai-projects/samples/evaluations/async_samples/sample_evaluations_async.py
  sdk/ai/azure-ai-projects/samples/inference/async_samples/sample_chat_completions_with_azure_ai_inference_client_async.py
  sdk/ai/azure-ai-projects/samples/inference/async_samples/sample_chat_completions_with_azure_openai_client_async.py
  sdk/ai/azure-ai-projects/samples/inference/async_samples/sample_text_embeddings_with_azure_ai_inference_client_async.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_operations_async.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections.py
  sdk/ai/azure-ai-projects/tests/connections/test_connections_async.py
Labels: AI

#38942 [communication]-SMS-Enabled live tests on the pipeline
  sdk/communication/azure-communication-sms/tests.yml
Labels: Communication - SMS

#38657 add experimental decorator for firewallsku
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_workspace.py
Labels: Machine Learning

#38858 Simulator task free mode
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_simulator.py
Labels: Evaluation

#38937 add function tool doc
  sdk/ai/azure-ai-projects/FunctionTool.md
  sdk/ai/azure-ai-projects/README.md
Labels: AI

#38947 Update AI Foundry branding
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_evaluate.py
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/tests/README.md
  sdk/ai/azure-ai-resources/README.md
  sdk/ai/azure-ai-resources/azure/ai/resources/client/_ai_client.py
Labels: AI, AI Model Inference

#38952 [EventHubs] update perf core baseline
  sdk/eventhub/perf-tests.yml
Labels: Event Hubs

#37992 Increment version for communication releases
  sdk/communication/azure-communication-messages/CHANGELOG.md
  sdk/communication/azure-communication-messages/azure/communication/messages/_version.py
Labels: Communication - Messages

#37925 Increment version for vision releases
  sdk/vision/azure-ai-vision-imageanalysis/CHANGELOG.md
  sdk/vision/azure-ai-vision-imageanalysis/azure/ai/vision/imageanalysis/_version.py
  sdk/vision/azure-ai-vision-imageanalysis/setup.py
Labels: Image Analysis

#38834 Increment version for communication releases
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_version.py
  sdk/communication/azure-communication-rooms/setup.py
Labels: Communication - Rooms

#38930 Increment version for documentintelligence releases
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_version.py
Labels: Document Intelligence

#38907 Added changelog for image evaluation
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
Labels: Evaluation

#38913 add disableLocalAuth while creating aml compute
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/aml_compute.py
  sdk/ml/azure-ai-ml/tests/compute/unittests/test_compute_entity.py
  sdk/ml/azure-ai-ml/tests/test_configs/compute/compute-aml-disable-public-access.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/compute/compute-aml-public-access-no-ssh.yaml
Labels: Machine Learning

#38967 Fix Azure Entra ID only datastore auth access
  .vscode/cspell.json
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_azure/_clients.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_azure/_models.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_eval_run.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_lite_management_client.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_metrics_upload.py
Labels: Evaluation

#38969 Update azure-ai-inference SDK tests to run with models deployed to a new AI Foundry project
  sdk/ai/azure-ai-inference/assets.json
  sdk/ai/azure-ai-inference/tests/README.md
  sdk/ai/azure-ai-inference/tests/conftest.py
  sdk/ai/azure-ai-inference/tests/gen_ai_trace_verifier.py
  sdk/ai/azure-ai-inference/tests/model_inference_test_base.py
  sdk/ai/azure-ai-inference/tests/test_model_inference_async_client.py
  sdk/ai/azure-ai-inference/tests/test_model_inference_async_client_tracing.py
  sdk/ai/azure-ai-inference/tests/test_model_inference_client.py
  sdk/ai/azure-ai-inference/tests/test_model_inference_client_tracing.py
  sdk/ai/azure-ai-inference/tests/tests.env
Labels: AI Model Inference

#38977 Pdhote/fix model download
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_storage_utils.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_storage_utils.py
Labels: Machine Learning

#38979 Remove pylint disable
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/activity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/_additional_includes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/code.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/flow.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/parameterized_sweep.py
Labels: Machine Learning

#38982 Fix ImageEmbeddingsClient and its samples. Add tests. Mention it in package README and samples README.
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/assets.json
  sdk/ai/azure-ai-inference/azure/ai/inference/_operations/_operations.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_operations/_operations.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/__init__.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_models.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_patch.py
  sdk/ai/azure-ai-inference/samples/README.md
  sdk/ai/azure-ai-inference/samples/async_samples/sample_image_embeddings_async.py
  sdk/ai/azure-ai-inference/samples/sample_image_embeddings.py
  sdk/ai/azure-ai-inference/samples/sample_image_embeddings_with_defaults.py
  sdk/ai/azure-ai-inference/tests/conftest.py
  sdk/ai/azure-ai-inference/tests/gen_ai_trace_verifier.py
  sdk/ai/azure-ai-inference/tests/model_inference_test_base.py
  sdk/ai/azure-ai-inference/tests/test_model_inference_async_client.py
  sdk/ai/azure-ai-inference/tests/test_model_inference_client.py
  sdk/ai/azure-ai-inference/tests/test_model_inference_client_tracing.py
Labels: AI Model Inference

#38986 Gen2download failure
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_gen2_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/tests/model/unittests/test_model_operations.py
Labels: Machine Learning

#38990 Now able to load external submodules of azure or azure.ai
  sdk/ai/azure-ai-projects/pyrightconfig.json
Labels: AI

#38993 qa uses base classes and is testable
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_multi_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_qa/_qa.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_mass_evaluate.py
Labels: Evaluation

#38994 Add tests with Entra ID auth, for non-OpenAI chat and embeddings models
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/assets.json
  sdk/ai/azure-ai-inference/tests/README.md
  sdk/ai/azure-ai-inference/tests/model_inference_test_base.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client_async.py
  sdk/ai/azure-ai-inference/tests/test_client_tracing.py
  sdk/ai/azure-ai-inference/tests/test_client_tracing_async.py
  sdk/ai/azure-ai-inference/tests/test_embeddings_client.py
  sdk/ai/azure-ai-inference/tests/test_embeddings_client_async.py
  sdk/ai/azure-ai-inference/tests/test_image_embeddings_client.py
  sdk/ai/azure-ai-inference/tests/test_image_embeddings_client_async.py
  sdk/ai/azure-ai-inference/tests/test_unit_tests.py
  sdk/ai/azure-ai-inference/tests/tests.env
Labels: AI Model Inference

#38943 Test Coverage Improvemt - remove rest client from test coverage
  .coveragerc
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/aml_compute.py
Labels: Machine Learning

#38916 Added interrupt audio and announce api.
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_interrupt_audio_and_announce_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_media_client.py
Labels: Communication - Call Automation
