Repository Azure/azure-sdk-for-python, pull requests merged in 2024-03, with the labels that each got.

#34508 Add as_dict support
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_index.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
  sdk/search/azure-search-documents/tests/test_serialization.py
Labels: Search

#34546 [AppConfig] Cleanup resource setup script
  sdk/appconfiguration/test-resources.json
Labels: App Configuration

#34542 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#34315 adding interrupt call media operation flag
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_add_participant_then_cancel_request.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_create_VOIP_call_and_answer_then_hangup.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_dtmf_actions_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_media_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
Labels: Communication

#34509 MoMo API review changes (#34480)
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/thresholds.py
Labels: Machine Learning

#34543 [ServiceBus] prep release 7.12.0
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/samples/async_samples/session_pool_receive_async.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/session_pool_receive.py
  sdk/servicebus/azure-servicebus/setup.py
Labels: Service Bus

#34559 fix: correctly initializes the completion time of the copy properties
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
Labels: Storage, customer-reported, Community Contribution

#34537 Azure Monitor Distro release 1.3.0
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
  sdk/monitor/azure-monitor-opentelemetry/setup.py
Labels: Monitor - Distro

#34327 Sync eng/common directory with azure-sdk-tools for PR 7686
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#34475 User API 2024-03-01-Preview
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/assets.json
  sdk/search/azure-search-documents/azure/search/documents/_api_versions.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_serialization.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_search_index_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_serialization.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_search_service_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/samples/async_samples/sample_index_client_send_request_async.py
  sdk/search/azure-search-documents/samples/async_samples/sample_search_client_send_request_async.py
  sdk/search/azure-search-documents/samples/sample_index_client_send_request.py
  sdk/search/azure-search-documents/samples/sample_indexer_datasource_skillset.py
  sdk/search/azure-search-documents/samples/sample_search_client_send_request.py
Labels: Search

#34405 [ml] Fix missing parent ids in trace logs
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/activity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/logging_handler.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_logger_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_code_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_compute_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_datastore_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_environment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_entity_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_registry_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_virtual_cluster_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_hub_operation.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_outbound_rule_operations.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_logger_utils.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_ml_client.py
Labels: Machine Learning, ML-Inference

#34443 [Storage] Raising `ValueError` on `list_blobs`, `list_blobs_names` and `walk_blobs` API when passing `prefix`
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
Labels: Storage

#34573 Remove manual test proxy setup instructions
  doc/dev/dev_setup.md
Labels: test-proxy

#34435 Normalize the managed identity type in pipeline command and parallel node
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_command_builder.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline_with_specific_nodes.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_entity.py
Labels: Machine Learning

#34571 [ml] Fix parent ID logging and add activity ID logging for operations
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/activity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/logging_handler.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_logger_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_code_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_compute_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_datastore_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_environment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_entity_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_registry_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_virtual_cluster_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_hub_operation.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_outbound_rule_operations.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_logger_utils.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_ml_client.py
Labels: Machine Learning, ML-Inference

#34579 [Cosmos] Bugfix for race condition on async lock
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_global_endpoint_manager_async.py
Labels: Cosmos

#34580 [Cosmos] Update CHANGELOG.md for release
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#34584 [Cosmos] skip user agent test
  sdk/cosmos/azure-cosmos/test/test_client_user_agent.py
Labels: Cosmos

#34483 [Storage] Add implementation of StructuredMessageEncodeStream
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/streams.py
  sdk/storage/azure-storage-blob/tests/test_streams.py
Labels: Storage

#34555 [PYTHON] Communication Identity | Dropped 3.7 support
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/README.md
  sdk/communication/azure-communication-identity/mypy.ini
  sdk/communication/azure-communication-identity/setup.py
Labels: Communication, Communication - Identity

#34596 Sync .github/workflows directory with azure-sdk-tools for PR 7808
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#34569 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#34469 Azure monitor opentelemetry Exporter drop use of deprecated utcnow
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_storage.py
Labels: customer-reported, Monitor - Exporter, Community Contribution

#34588 [Storage] Fix sparse page blob download
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
Labels: Storage

#34607 [ml] Make logging backward compatible
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/activity.py
Labels: Machine Learning

#34609 Sync eng/common directory with azure-sdk-tools for PR 7758
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys

#34477 Fix mypy errors in ApiView
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/validators/code_validator.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/model.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/environment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/sweep.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/command_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/flow.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/pipeline_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/_setup_scripts.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/adls_gen1.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/azure_storage.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/one_lake.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_endpoint/online_endpoint.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/input.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/output.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/nlp/nlp_search_space.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/tabular/featurization_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/command_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/data_transfer/data_transfer_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_io_mixin.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parallel/parallel_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parameterized_command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/parameterized_sweep.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/search_space.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/sweep_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_registry/registry.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_registry/registry_support_classes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_system_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_local_deployment_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
Labels: Machine Learning

#34598 identity changelog
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#34608 [Storage] Prepare hotfix release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
Labels: Storage

#34504 Update the logging level as this is supposed to be a warning
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_connection.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_connection_async.py
Labels: Service Bus, customer-reported, Community Contribution

#34611 [ml] Add parent logging fixes
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/activity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/logging_handler.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_logger_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_code_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_compute_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_datastore_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_environment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_entity_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_registry_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_virtual_cluster_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_hub_operation.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_outbound_rule_operations.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_logger_utils.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_ml_client.py
Labels: Machine Learning, ML-Inference

#34561 Stop requiring SP credentials when user-based auth is used
  tools/azure-sdk-tools/devtools_testutils/envvariable_loader.py
Labels: EngSys, test-enhancement

#34626 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#34615 App Config Provider Get Issue
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
Labels: App Configuration Provider

#34625 Cherry-pick mypy fixes into 1.14.0 release branch
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/entities/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/validators/code_validator.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/model.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/environment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/parallel_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/sweep.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/command_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/flow.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/pipeline_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/_setup_scripts.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/adls_gen1.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/azure_storage.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/one_lake.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_endpoint/online_endpoint.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/external_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/input.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/output.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/nlp/nlp_search_space.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/tabular/featurization_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/command_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/data_transfer/data_transfer_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_io_mixin.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parallel/parallel_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parameterized_command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/early_termination_policy.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/parameterized_sweep.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/search_space.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/sweep_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_registry/registry.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_registry/registry_support_classes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_system_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/networking.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_local_deployment_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_registry_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_hub_operation.py
Labels: Machine Learning

#34628 [ServiceBus] prep release
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/samples/README.md
Labels: Service Bus

#34517 use optional env for azure openai tests
  .vscode/cspell.json
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/openai/azure-openai/dev_requirements.txt
  sdk/openai/azure-openai/pyproject.toml
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/test_assistants.py
  sdk/openai/azure-openai/tests/test_assistants_async.py
  sdk/openai/azure-openai/tests/test_audio.py
  sdk/openai/azure-openai/tests/test_audio_async.py
  sdk/openai/azure-openai/tests/test_chat_completions.py
  sdk/openai/azure-openai/tests/test_chat_completions_async.py
  sdk/openai/azure-openai/tests/test_cli.py
  sdk/openai/azure-openai/tests/test_client.py
  sdk/openai/azure-openai/tests/test_client_async.py
  sdk/openai/azure-openai/tests/test_completions.py
  sdk/openai/azure-openai/tests/test_completions_async.py
  sdk/openai/azure-openai/tests/test_dall_e.py
  sdk/openai/azure-openai/tests/test_dall_e_async.py
  sdk/openai/azure-openai/tests/test_embeddings.py
  sdk/openai/azure-openai/tests/test_embeddings_async.py
  sdk/openai/azure-openai/tests/test_models.py
  sdk/openai/azure-openai/tests/test_models_async.py
  sdk/openai/azure-openai/tests/test_module_client.py
  sdk/openai/azure-openai/tests/v0_tests/test_audio_v0.py
  sdk/openai/azure-openai/tests/v0_tests/test_audio_v0_async.py
  sdk/openai/azure-openai/tests/v0_tests/test_chat_completions_v0.py
  sdk/openai/azure-openai/tests/v0_tests/test_chat_completions_v0_async.py
  sdk/openai/azure-openai/tests/v0_tests/test_completions_async_v0.py
  sdk/openai/azure-openai/tests/v0_tests/test_completions_v0.py
  sdk/openai/azure-openai/tests/v0_tests/test_dall_e_v0.py
  sdk/openai/azure-openai/tests/v0_tests/test_dall_e_v0_async.py
  sdk/openai/azure-openai/tests/v0_tests/test_embeddings_v0.py
  sdk/openai/azure-openai/tests/v0_tests/test_embeddings_v0_async.py
  sdk/openai/tests.yml
  tools/azure-sdk-tools/ci_tools/environment_exclusions.py
  tools/azure-sdk-tools/ci_tools/scenario/generation.py
Labels: OpenAI

#34369 Yifanzhou/purview datamap 0901
  .vscode/cspell.json
  sdk/purview/azure-purview-datamap/CHANGELOG.md
  sdk/purview/azure-purview-datamap/LICENSE
  sdk/purview/azure-purview-datamap/MANIFEST.in
  sdk/purview/azure-purview-datamap/README.md
  sdk/purview/azure-purview-datamap/assets.json
  sdk/purview/azure-purview-datamap/azure/__init__.py
  sdk/purview/azure-purview-datamap/azure/purview/__init__.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/__init__.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/_client.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/_configuration.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/_model_base.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/_patch.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/_serialization.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/_vendor.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/_version.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/aio/__init__.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/aio/_client.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/aio/_configuration.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/aio/_patch.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/aio/operations/__init__.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/aio/operations/_operations.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/aio/operations/_patch.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/models/__init__.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/models/_enums.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/models/_models.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/models/_patch.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/operations/__init__.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/operations/_operations.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/operations/_patch.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/py.typed
  sdk/purview/azure-purview-datamap/dev_requirements.txt
  sdk/purview/azure-purview-datamap/pyproject.toml
  sdk/purview/azure-purview-datamap/samples/README.md
  sdk/purview/azure-purview-datamap/samples/get_types.py
  sdk/purview/azure-purview-datamap/setup.py
  sdk/purview/azure-purview-datamap/tests/conftest.py
  sdk/purview/azure-purview-datamap/tests/test_smoke.py
  sdk/purview/azure-purview-datamap/tests/testcase.py
  sdk/purview/azure-purview-datamap/tsp-location.yaml
  sdk/purview/ci.yml
Labels: Purview

#34632 [ServiceBus] Update CHANGELOG date
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#34633 Sync eng/common directory with azure-sdk-tools for PR 7810
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
  eng/common/scripts/Verify-AgentOS.ps1
Labels: EngSys, Central-EngSys

#34629 fixed the issue that context is missing for EntityRecognitionSkill
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
Labels: Search

#34644 [Storage] Update Blob CHANGELOG after hotfix
  sdk/storage/azure-storage-blob/CHANGELOG.md
Labels: Storage

#34643 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#34661 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus

#34617 RAI simulator support for context in QA eval
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/simulator/_callback_conversation_bot.py
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/simulator/_utils.py
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/simulator/simulator.py
Labels: AI

#34666 [ML] Fix operation keyword arg
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/azure_storage.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/image_classification_search_space.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
Labels: Machine Learning

#34667 Sync eng/common directory with azure-sdk-tools for PR 7823
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#34670 MoMo api review changes
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/thresholds.py
Labels: Machine Learning

#34669 [ml] Fix datalake gen2 datastore type annotation
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/azure_storage.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/datastore.py
Labels: Machine Learning

#34663 1ES Template Conversion
  eng/CredScanSuppression.json
  eng/pipelines/templates/jobs/build-conda-dependencies.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/jobs/regression.yml
  eng/pipelines/templates/jobs/smoke.tests.yml
  eng/pipelines/templates/stages/archetype-python-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/conda-sdk-client.yml
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/stages/regression-job-matrix.json
  eng/pipelines/templates/steps/analyze.yml
  eng/pipelines/templates/steps/build-conda-artifacts.yml
  eng/pipelines/templates/steps/build-extended-artifacts.yml
  eng/pipelines/templates/steps/build-package-artifacts.yml
  eng/pipelines/templates/steps/build-test.yml
  eng/pipelines/templates/steps/smoke-test-steps.yml
  eng/pipelines/templates/steps/targeting-string-resolve.yml
  eng/pipelines/templates/variables/globals.yml
  eng/pipelines/templates/variables/image.yml
  sdk/core/ci.yml
  sdk/template/tests.yml
  tools/azure-sdk-tools/ci_tools/build.py
  tools/azure-sdk-tools/ci_tools/functions.py
Labels: EngSys, Azure.Core

#34675 MoMo api review changes (#34670)
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/thresholds.py
Labels: Machine Learning

#34564 [DocumentIntelligence] Generate from the latest typespec with service API 2024-02-29-preview
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/assets.json
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_client.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_configuration.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_model_base.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_operations/_operations.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_serialization.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_client.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_configuration.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_operations/_operations.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/models/__init__.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/models/_enums.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/models/_models.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_compose_model_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_copy_model_to_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_manage_models_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_compose_model.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_copy_model_to.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_manage_models.py
  sdk/documentintelligence/azure-ai-documentintelligence/setup.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/testcase.py
  sdk/documentintelligence/azure-ai-documentintelligence/tsp-location.yaml
Labels: Document Intelligence

#34585 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#34682 [ml] Cherry-pick type annotation fixes for ApiView
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/azure_storage.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/datastore.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/image_classification_search_space.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
Labels: Machine Learning

#34689 [EventHubs] fix failing test pipeline
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/eventhub/tests.yml
Labels: Event Hubs

#34634 [DI] Rename base64_source
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/models/_models.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/models/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_invoices_from_bytes_source_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_invoices_from_bytes_source.py
  sdk/documentintelligence/azure-ai-documentintelligence/tsp-location.yaml
Labels: Document Intelligence

#34678 fix simulator calling
  doc/sphinx/individual_build_conf.py
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/_model_tools/models.py
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/simulator/_proxy_completion_model.py
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/simulator/simulator.py
Labels: AI

#34298 update the docstring at `period` parameter of `ProbeSettings class`
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/deployment_settings.py
Labels: customer-reported, Community Contribution

#34668 Update featureset spec for featureset source
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/featureset_spec_metadata_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_feature_set/source_metadata_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/featureset_spec_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_set/source_metadata.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_spec_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/featureset_source_spec/FeatureSetSpec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/invalid_spec3/FeatureSetSpec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/invalid_spec4/FeatureSetSpec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/invalid_spec5/FeatureSetSpec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/invalid_spec6/FeatureSetSpec.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/invalid_spec7/FeatureSetSpec.yaml
Labels: Machine Learning

#34610 [Storage] Additional tests/fixes for StructuredMessageDecodeStream
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/streams.py
  sdk/storage/azure-storage-blob/tests/test_streams.py
Labels: Storage

#34703 [DI] Prepare for release
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_patch.py
Labels: Document Intelligence

#34704 Increment version for documentintelligence releases
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_version.py
Labels: Document Intelligence

#34706 Sync eng/common directory with azure-sdk-tools for PR 7842
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#34674 [Perf] corehttp - updating async stream upload httpx test
  sdk/core/azure-core/perf-tests.yml
  sdk/core/corehttp/perf-tests.yml
  sdk/core/corehttp/tests/perf_tests/upload_binary.py
  tools/azure-sdk-tools/devtools_testutils/perfstress_tests/__init__.py
  tools/azure-sdk-tools/devtools_testutils/perfstress_tests/_async_random_stream.py
Labels: Azure.Core

#34709 Sync .github/workflows directory with azure-sdk-tools for PR 7845
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#34402 remove upper bound in setup.py
  sdk/appconfiguration/azure-appconfiguration-provider/setup.py
  sdk/appconfiguration/azure-appconfiguration/setup.py
  sdk/cognitivelanguage/azure-ai-language-conversations/setup.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/setup.py
  sdk/communication/azure-communication-callautomation/setup.py
  sdk/communication/azure-communication-chat/setup.py
  sdk/communication/azure-communication-email/setup.py
  sdk/communication/azure-communication-identity/setup.py
  sdk/communication/azure-communication-jobrouter/setup.py
  sdk/communication/azure-communication-networktraversal/setup.py
  sdk/communication/azure-communication-phonenumbers/setup.py
  sdk/communication/azure-communication-rooms/setup.py
  sdk/communication/azure-communication-sms/setup.py
  sdk/communication/azure-mgmt-communication/setup.py
  sdk/core/azure-core-experimental/setup.py
  sdk/core/azure-core-tracing-opencensus/setup.py
  sdk/core/azure-core-tracing-opentelemetry/setup.py
  sdk/core/azure-mgmt-core/setup.py
  sdk/cosmos/azure-cosmos/setup.py
  sdk/eventgrid/azure-eventgrid/setup.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/setup.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/setup.py
  sdk/eventhub/azure-eventhub/setup.py
  sdk/formrecognizer/azure-ai-formrecognizer/setup.py
  sdk/identity/azure-identity/setup.py
  sdk/keyvault/azure-keyvault-administration/setup.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
  sdk/keyvault/azure-keyvault/setup.py
  sdk/metricsadvisor/azure-ai-metricsadvisor/setup.py
  sdk/monitor/azure-monitor-ingestion/setup.py
  sdk/monitor/azure-monitor-query/setup.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/setup.py
  sdk/schemaregistry/azure-schemaregistry/setup.py
  sdk/search/azure-search-documents/setup.py
  sdk/servicebus/azure-servicebus/setup.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/setup.py
  sdk/tables/azure-data-tables/setup.py
  sdk/textanalytics/azure-ai-textanalytics/setup.py
  sdk/translation/azure-ai-translation-document/setup.py
  sdk/translation/azure-ai-translation-text/setup.py
  tools/azure-sdk-tools/packaging_tools/templates/packaging_files/setup.py
Labels: Service Bus, Storage, KeyVault, Cosmos, Event Grid, Event Hubs, Monitor, Search, Azure.Core, Azure.Identity, Tables, Cognitive - Text Analytics, Cognitive - Form Recognizer, Cognitive - Translator, App Configuration, Schema Registry, Communication, Cognitive - Metrics Advisor, Monitor - Exporter, Cognitive - Language, Communication - Chat, Communication - Identity, Communication - Phone Numbers, Communication - SMS, Communication - NetworkTraversal, Communication - Rooms, Communication - Job Router, App Configuration Provider, Communication - Email, Monitor - Distro

#34720 Sync .github/workflows directory with azure-sdk-tools for PR 7848
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#34710 Add date for release 1.14.0
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#34721 Updated release date for ML SDK
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#34723 Sync .github/workflows directory with azure-sdk-tools for PR 7853
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#34724 Fix the previous release date which causes issue from the release script
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#34429 [Monitor] Pylint updates
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_metrics_query_client_async.py
Labels: Monitor

#34286 [Cosmos] fixing bug with not passing kwargs/ response_hook in `create_container_if_not_exists`
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
Labels: Cosmos

#34729 Remove empty sections in changelog file
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#34673 Add live metrics collection of requests/dependencies/exceptions
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_processor.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_state.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_processor.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_utils.py
Labels: Monitor - Exporter

#34727 Remaining livetest matrices, `ci.yml` uses `image.yml` variables
  .vscode/cspell.json
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/platform-matrix-ai.json
  eng/pipelines/templates/stages/python-analyze-weekly.yml
  sdk/communication/azure-communication-phonenumbers/phonenumbers-livetest-matrix.json
  sdk/cosmos/cosmos-emulator-matrix.json
  sdk/identity/platform-matrix-integration.json
  sdk/identity/platform-matrix.json
  sdk/keyvault/azure-keyvault-keys/platform-matrix.json
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage, KeyVault, Cosmos, Azure.Identity, Communication - Phone Numbers

#34614 [Monitor Query] Update swagger
  sdk/monitor/azure-monitor-query/assets.json
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/_serialization.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/aio/operations/_operations.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/_configuration.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/_serialization.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/aio/_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/aio/_configuration.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/aio/operations/_operations.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/batch/_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/batch/_configuration.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/batch/_serialization.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/batch/aio/_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/batch/aio/_configuration.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/batch/aio/operations/_operations.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/batch/operations/_operations.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/metrics/operations/_operations.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_generated/operations/_operations.py
  sdk/monitor/azure-monitor-query/swagger/README.md
Labels: Monitor

#34514 [EventGrid] api events
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
  sdk/eventgrid/azure-eventgrid/swagger/_constants.py
Labels: Event Grid

#34473 [Cosmos] archboard review item - update batch error description
  sdk/cosmos/azure-cosmos/azure/cosmos/exceptions.py
  sdk/cosmos/azure-cosmos/samples/document_management.py
  sdk/cosmos/azure-cosmos/samples/document_management_async.py
Labels: Cosmos

#34688 [ml] Enable strict sphinx check
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_attr_dict.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/parameterized_sweep.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/search_space.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/sweep_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/connections/workspace_connection.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/pyproject.toml
  sdk/ml/azure-ai-ml/samples/ml_samples_misc.py
  sdk/ml/azure-ai-ml/samples/ml_samples_pipeline_job_configurations.py
Labels: Machine Learning

#33196 [Monitor] Improve docs regarding sovereign clouds
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_patch.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_patch.py
  sdk/monitor/azure-monitor-ingestion/samples/README.md
  sdk/monitor/azure-monitor-ingestion/samples/async_samples/sample_authentication_async.py
  sdk/monitor/azure-monitor-ingestion/samples/sample_authentication.py
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/azure/monitor/query/_logs_query_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_metrics_query_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_logs_query_client_async.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_metrics_query_client_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_authentication_async.py
  sdk/monitor/azure-monitor-query/samples/sample_authentication.py
Labels: Monitor

#34726 Support for file contents in simulated messages
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_embeddings/__init__.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_utils/logging.py
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/simulator/_callback_conversation_bot.py
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/simulator/simulator.py
  sdk/ai/azure-ai-generative/pyproject.toml
Labels: AI

#34737 Increment version for eventgrid releases
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
Labels: Event Grid

#34735 Add process/cpu live metrics
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/setup.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_live_metrics.py
  shared_requirements.txt
Labels: Monitor - Exporter

#34738 Update FastAPI sample with instrumentation
  .vscode/cspell.json
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_fastapi.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_flask.py
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/samples/tracing/http_fastapi.py
Labels: Monitor - Exporter

#34748 Sync eng/common directory with azure-sdk-tools for PR 7821
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#34450 feat: support set environment variables on flow.dag.yaml
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/component/flow.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/flow.py
  sdk/ml/azure-ai-ml/scripts/run_tests.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_flow_component.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/flow.dag.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/flows/basic/hello.py
  sdk/ml/azure-ai-ml/tests/test_configs/flows/runs/basic_run.yml
Labels: Machine Learning, ML-Pipelines, ML-Assets

#34552 [WebPubSub] Update 1.1.0
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_operations/_patch.py
Labels: WebPubSub

#34746 Send package version for Python api review
  eng/scripts/Create-ApiReview.ps1
Labels: Central-EngSys

#34759 [Cosmos] Last review comments
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/azure/cosmos/partition_key.py
Labels: Cosmos

#34752 Live metric feature detection for statsbeat
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_state.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_statsbeat_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_statsbeat.py
Labels: Monitor - Exporter

#34753 Simulator bugfixes
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/simulator/_callback_conversation_bot.py
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/simulator/_utils.py
Labels: AI

#34772 [SB] Fix sb tests imports
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_topic_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/async/test_mgmt_namespaces_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/async/test_mgmt_queues_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/async/test_mgmt_rules_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/async/test_mgmt_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/async/test_mgmt_topics_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_namespaces.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_queues.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_rules.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_subscriptions.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_topics.py
Labels: Service Bus

#34774 Sync eng/common directory with azure-sdk-tools for PR 7877
  eng/common/testproxy/test-proxy-tool-shutdown.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#34742 Refactor statsbeat constants
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_statsbeat.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_statsbeat.py
Labels: Monitor - Exporter

#34775 [Cosmos] update versions for stable release
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/setup.py
Labels: Cosmos

#34740 Resolve failing `storage` build
  eng/ci_tools.txt
  sdk/storage/azure-storage-extensions/pyproject.toml
Labels: Storage

#34754 add using system account support
  .vscode/cspell.json
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_browser.py
  sdk/identity/azure-identity-broker/tests/test_broker.py
Labels: Azure.Identity

#34346 [AppConfig] Support monitor page changes by page etag
  .vscode/cspell.json
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/assets.json
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/operations/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/operations/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/samples/send_request_sample.py
  sdk/appconfiguration/azure-appconfiguration/samples/send_request_sample_async.py
  sdk/appconfiguration/azure-appconfiguration/setup.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_aad.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_aad_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_consistency.py
Labels: App Configuration

#34760 [Monitor Query] Rename MetricsClient param
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/azure/monitor/query/_helpers.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_metrics_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_metrics_client_async.py
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_metrics_query_multiple_async.py
  sdk/monitor/azure-monitor-query/samples/sample_metrics_query_multiple.py
  sdk/monitor/azure-monitor-query/tests/test_metrics_client.py
  sdk/monitor/azure-monitor-query/tests/test_metrics_client_async.py
Labels: Monitor

#34789 Sync eng/common directory with azure-sdk-tools for PR 7892
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
  eng/common/scripts/check-for-git-changes.ps1
  eng/common/testproxy/publish-proxy-logs.yml
Labels: EngSys, Central-EngSys

#34782 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
Labels: App Configuration

#34780 [Identity Broker] Propagate enable support logging
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_browser.py
  sdk/identity/azure-identity-broker/setup.py
  sdk/identity/azure-identity-broker/tests/test_broker.py
Labels: Azure.Identity

#34794 [Asset sync] Link to Python's testing guidance in `manage_recordings.py`
  scripts/manage_recordings.py
Labels: test-proxy

#34743 [Cache] Fix the wrong cache when local file input in a pipeline
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/pipeline_component.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_entity.py
Labels: Machine Learning

#34813 Title samples readme
  sdk/monitor/azure-monitor-opentelemetry/samples/README.md
Labels: Monitor - Distro

#34812 Users/singankit/model config optional
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_constants.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_metric_handler.py
  sdk/ai/azure-ai-generative/tests/conftest.py
  sdk/ai/azure-ai-generative/tests/evaluate/e2etests/test_evaluate_e2e.py
Labels: AI

#34786 [ServiceBus] update ValueError to AMQPConnectionError for closed connection
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_connection.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_connection_async.py
Labels: Service Bus

#34811 Sync eng/common directory with azure-sdk-tools for PR 7896
  eng/common/testproxy/onboarding/common-asset-functions.ps1
  eng/common/testproxy/onboarding/generate-assets-json.ps1
Labels: EngSys, Central-EngSys

#34646 Add feature store provision role assignment location
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/feature_store_role_assignments.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/feature_store_role_assignments_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#34814 fix: Expose DataAsset class publicly
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/data_asset.py
Labels: Machine Learning

#34826 [WebPubSub] add content_type for send* async methods in 1.1.0
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_operations/_patch.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/_operations/_patch.py
Labels: WebPubSub

#34817 Generate APIView using eng common script
  eng/pipelines/templates/steps/analyze.yml
  eng/pipelines/templates/steps/create-apireview.yml
  eng/scripts/Create-ApiReview.ps1
Labels: Central-EngSys

#34823 Fix Weekly Test Failures
  eng/pipelines/templates/stages/1es-redirect.yml
  eng/pipelines/templates/stages/python-analyze-weekly-standalone.yml
  eng/pipelines/templates/stages/python-analyze-weekly.yml
  sdk/ai/tests.yml
  sdk/anomalydetector/tests.yml
  sdk/attestation/tests.yml
  sdk/batch/tests.yml
  sdk/contentsafety/tests.yml
  sdk/devcenter/tests.yml
  sdk/deviceupdate/tests.yml
  sdk/easm/tests.yml
  sdk/iothub/tests.yml
  sdk/loadtesting/tests.yml
  sdk/purview/tests.yml
  sdk/servicefabric/tests.yml
  sdk/synapse/tests.yml
Labels: Batch, Service Fabric, Synapse, Cognitive - Anomaly Detector, Purview, Device Update, AI, Content Safety

#34796 Sync eng/common directory with azure-sdk-tools for PR 7895
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#34837 [cherry-pick][ml] fix: Expose DataAsset class publicly (#34814)
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/data_asset.py
Labels: Machine Learning

#34511 modify built-in chat eval flow:
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/aggregate.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/concatenate_metrics.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/construct_service_request.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/flow.dag.yaml
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/utils.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/validate_conversation.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/validate_service.py
Labels: customer-reported, Community Contribution, AI

#34630 setting up testing for both preview and GA API versions for AOAI
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/test_assistants.py
  sdk/openai/azure-openai/tests/test_assistants_async.py
  sdk/openai/azure-openai/tests/test_audio.py
  sdk/openai/azure-openai/tests/test_audio_async.py
  sdk/openai/azure-openai/tests/test_chat_completions.py
  sdk/openai/azure-openai/tests/test_chat_completions_async.py
  sdk/openai/azure-openai/tests/test_cli.py
  sdk/openai/azure-openai/tests/test_client.py
  sdk/openai/azure-openai/tests/test_client_async.py
  sdk/openai/azure-openai/tests/test_completions.py
  sdk/openai/azure-openai/tests/test_completions_async.py
  sdk/openai/azure-openai/tests/test_dall_e.py
  sdk/openai/azure-openai/tests/test_dall_e_async.py
  sdk/openai/azure-openai/tests/test_embeddings.py
  sdk/openai/azure-openai/tests/test_embeddings_async.py
  sdk/openai/azure-openai/tests/test_models.py
  sdk/openai/azure-openai/tests/test_models_async.py
  sdk/openai/azure-openai/tests/test_module_client.py
Labels: OpenAI

#34819 [Monitor Query] Remove audience docstring
  sdk/monitor/azure-monitor-query/azure/monitor/query/_metrics_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_metrics_client_async.py
Labels: Monitor

#34833 rename use_operating_system_account to use_default_broker_account
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_browser.py
  sdk/identity/azure-identity-broker/tests/test_broker.py
Labels: Azure.Identity

#34842 Repair `communication` livetests
  sdk/communication/tests.yml
Labels: Communication

#34793 [ServiceBus] remove inaccurate keep alive logging
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_connection.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_connection_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/client.py
Labels: Service Bus

#34779 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#34856 [SB] Update Changelog
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#34861 increase live test timeout + fixes for GA version
  sdk/openai/azure-openai/tests/test_chat_completions.py
  sdk/openai/azure-openai/tests/test_chat_completions_async.py
  sdk/openai/tests.yml
Labels: OpenAI

#34865 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus

#34864 Edit pass on Monitor Query README
  sdk/monitor/azure-monitor-query/README.md
Labels: Monitor

#34635 Adding hold and unhold feature to media
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_add_participant_then_cancel_request.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_create_VOIP_call_and_answer_then_hangup.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_add_and_hold_unhold_participant_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_dtmf_actions_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_media_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/test_call_connection_client.py
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_media_client.py
  sdk/communication/cspell.json
Labels: Communication

#34686 [DocumentIntelligence] Update SDK samples to print table cell values and print paragraphs by reading order
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_custom_documents_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/aio/sample_analyze_read_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_custom_documents.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_read.py
Labels: customer-reported, Community Contribution, Document Intelligence

#34869 Bump typing-extensions dependency to >= 4.6.0 to fix import name issue in azure-servicebus
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/setup.py
Labels: Service Bus, customer-reported, Community Contribution

#34712 [EventHub] Fix race condition when buffered mode is enabled
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_buffered_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_buffered_producer_async.py
Labels: Event Hubs, customer-reported, Community Contribution

#34848 Update network settings docs
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/compute.py
Labels: Machine Learning

#34866 [Test Proxy] Sanitize OAuth requests/responses throughout SDK by default
  tools/azure-sdk-tools/devtools_testutils/proxy_startup.py
Labels: test-proxy

#34886 Conversation turn fix
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/simulator/simulator.py
  sdk/ai/azure-ai-generative/tests/simulator/unittests/test_simulator.py
Labels: AI

#34852 Fix de/serialization bugs in FeatureFlagConfigurationSetting
  .vscode/cspell.json
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/assets.json
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_aad.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_aad_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/tests/test_consistency.py
  sdk/appconfiguration/azure-appconfiguration/tests/testcase.py
Labels: App Configuration

#34825 fix: upgrade dependent image from docker.io to mcr
  sdk/ml/azure-ai-ml/tests/test_configs/components/additional_includes/docker/DockerFile
  sdk/ml/azure-ai-ml/tests/test_configs/deployments/batch/environment_files/DockerfileNonDefault
  sdk/ml/azure-ai-ml/tests/test_configs/environment/environment_files/DockerfileNonDefault
  sdk/ml/azure-ai-ml/tests/test_configs/internal/additional_includes/docker/DockerFile
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/my_exp/docker/DockerFile
Labels: Machine Learning, ML-Pipelines

#34889 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
Labels: App Configuration

#34648 Increment version for purview releases
  sdk/purview/azure-purview-datamap/CHANGELOG.md
  sdk/purview/azure-purview-datamap/azure/purview/datamap/_version.py
Labels: Purview

#34605 Increment version for healthinsights releases
  sdk/healthinsights/azure-healthinsights-radiologyinsights/CHANGELOG.md
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/_version.py
Labels: Cognitive - Health Insights

#34108 Increment version for webpubsub releases
  sdk/webpubsub/azure-messaging-webpubsubclient/CHANGELOG.md
  sdk/webpubsub/azure-messaging-webpubsubclient/azure/messaging/webpubsubclient/_version.py
  sdk/webpubsub/azure-messaging-webpubsubclient/setup.py
Labels: WebPubSub

#34050 Increment version for ml releases
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#34887 33602: Enforce strict checking during the Sphinx documentation build process for azure-maps-render
  sdk/maps/azure-maps-render/pyproject.toml
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_copyright_from_bounding_box_async.py
  sdk/maps/azure-maps-render/samples/async_samples/sample_get_map_tileset_async.py
Labels: customer-reported, Community Contribution, Maps

#34875 33601: Fix Sphinx error for azure-maps-geolocation
  sdk/maps/azure-maps-geolocation/azure/maps/geolocation/aio/_geolocation_client_async.py
  sdk/maps/azure-maps-geolocation/pyproject.toml
Labels: customer-reported, Community Contribution, Maps

#34879 33603: Enforce strict checking during the Sphinx documentation build process for azure-maps-route
  sdk/maps/azure-maps-route/README.md
  sdk/maps/azure-maps-route/azure/maps/route/_route_client.py
  sdk/maps/azure-maps-route/azure/maps/route/aio/_route_client_async.py
  sdk/maps/azure-maps-route/azure/maps/route/models/_models.py
  sdk/maps/azure-maps-route/pyproject.toml
Labels: customer-reported, Community Contribution, Maps

#34884 [ServiceBus] update canary test resource region
  sdk/servicebus/tests.yml
Labels: Service Bus

#34906 Update conftest.py
  sdk/purview/azure-purview-scanning/tests/conftest.py
Labels: Purview

#34912 [EH] Update Buffered Producer Timeout Docstring
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
Labels: Event Hubs

#34911 [EH] Update README Link
  sdk/eventhub/azure-eventhub/README.md
Labels: Event Hubs

#34913 Update Azure AD and docs.microsoft.com links
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/azure/identity/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_internal/get_token_mixin.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/get_token_mixin.py
  sdk/identity/azure-identity/migration_guide.md
  sdk/identity/azure-identity/samples/README.md
  sdk/identity/azure-identity/tests/managed-identity-live/container_instances.md
  sdk/identity/azure-identity/tests/managed-identity-live/service-fabric/service_fabric.md
  sdk/identity/azure-identity/tests/test_certificate_credential.py
Labels: Azure.Identity

#34883 [Text Translation] Add support for AAD authentication
  sdk/translation/azure-ai-translation-text/CHANGELOG.md
  sdk/translation/azure-ai-translation-text/assets.json
  sdk/translation/azure-ai-translation-text/azure/ai/translation/text/__init__.py
  sdk/translation/azure-ai-translation-text/azure/ai/translation/text/_patch.py
  sdk/translation/azure-ai-translation-text/azure/ai/translation/text/aio/__init__.py
  sdk/translation/azure-ai-translation-text/azure/ai/translation/text/aio/_patch.py
  sdk/translation/azure-ai-translation-text/dev_requirements.txt
  sdk/translation/azure-ai-translation-text/tests/preparer.py
  sdk/translation/azure-ai-translation-text/tests/test_break_sentence.py
  sdk/translation/azure-ai-translation-text/tests/test_break_sentence_async.py
  sdk/translation/azure-ai-translation-text/tests/test_translation.py
  sdk/translation/azure-ai-translation-text/tests/test_translation_async.py
  sdk/translation/azure-ai-translation-text/tests/testcase.py
  sdk/translation/test-resources.json
Labels: Cognitive - Translator
