Repository Azure/azure-sdk-for-python, pull requests merged in 2024-09, with the labels that each got.

#37099 [ServiceBus] fix failing uamqp tests
  sdk/servicebus/azure-servicebus/dev_requirements.txt
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
  sdk/servicebus/tests.yml
Labels: Service Bus

#37080 [Storage] Add crc64 support for substream uploads
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/streams.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_upload_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_upload_helpers.py
  sdk/storage/azure-storage-blob/tests/test_content_validation.py
  sdk/storage/azure-storage-blob/tests/test_content_validation_async.py
  sdk/storage/azure-storage-blob/tests/test_streams.py
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/streams.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_upload_helper.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_upload_helper.py
  sdk/storage/azure-storage-file-datalake/tests/test_content_validation.py
  sdk/storage/azure-storage-file-datalake/tests/test_content_validation_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/streams.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/streams.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads_async.py
Labels: Storage

#37194 Sync eng/common directory with azure-sdk-tools for PR 8887
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#37193 Sync eng/common directory with azure-sdk-tools for PR 8912
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#36363 Add `tracer_provider` kwarg to `AzureMonitorTraceExporter`
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/trace/test_trace.py
Labels: customer-reported, Monitor - Exporter, Community Contribution

#37203 Sync eng/common directory with azure-sdk-tools for PR 8928
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#37095 [pyAMQP] Align pyAMQP
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_link_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_receiver_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/link.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_connection.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_connection_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/client.py
Labels: Service Bus

#37207 [Identity] Update credential docstrings
  sdk/identity/azure-identity/TOKEN_CACHING.md
  sdk/identity/azure-identity/azure/identity/_credentials/client_assertion.py
  sdk/identity/azure-identity/azure/identity/_credentials/device_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/client_assertion.py
  sdk/identity/azure-identity/tests/test_client_assertion_credential.py
  sdk/identity/azure-identity/tests/test_client_assertion_credential_async.py
Labels: Azure.Identity

#37206 Update otel to fix fastapi
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/setup.py
Labels: Monitor - Distro

#37180 [To run samples]: using control api for registry models
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_evaluator_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
Labels: Machine Learning

#37215 [Attestation] Fix broken link
  sdk/attestation/azure-security-attestation/README.md
Labels: Client, Attestation

#37102 [Storage] [STG 96] Added `BlobAccessTierNotSupportedForAccountType` to `BlobErrorCode`
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_azure_blob_storage.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_azure_blob_storage.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_azure_blob_storage_enums.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_append_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/models.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/models.py
Labels: Storage

#37192 [ServiceBus] unskip complete message over diff recvr test for uamqp
  sdk/servicebus/azure-servicebus/dev_requirements.txt
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
  sdk/servicebus/azure-servicebus/tests/test_sb_client.py
Labels: Service Bus

#37218 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#37197 [DI] Add tests and samples for new API
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/assets.json
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/__init__.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_operations/__init__.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_operations/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/__init__.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_operations/__init__.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_operations/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/models/__init__.py
  sdk/documentintelligence/azure-ai-documentintelligence/pyproject.toml
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_result_figures_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_analyze_result_pdf_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_result_figures.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_analyze_result_pdf.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_forms/layout/layout-pageobject.pdf
  sdk/documentintelligence/azure-ai-documentintelligence/tests/preparers.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/sample_forms/layout/layout-pageobject.pdf
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_batch_documents.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_batch_documents_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_custom_model.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_custom_model_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dmac_copy_classifier.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dmac_copy_classifier_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/testcase.py
  sdk/documentintelligence/azure-ai-documentintelligence/tsp-location.yaml
  sdk/documentintelligence/test-resources.json
Labels: Document Intelligence

#37000 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_version.py
Labels: App Configuration

#37224 Increment version for documentintelligence releases
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_version.py
Labels: Document Intelligence

#37166 [SchemaRegistry] handle unknown content types
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/assets.json
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_patch.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_patch.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/models/_patch.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/mock_transport_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/test_schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/mock_transport.py
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
Labels: Schema Registry

#37238 [Identity] Adjust CI setup script
  sdk/identity/test-resources-pre.ps1
Labels: Azure.Identity

#37254 Sync .github/workflows directory with azure-sdk-tools for PR 8942
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#37252 Provider Revert Init Change
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
Labels: App Configuration Provider

#37240 Sync eng/common directory with azure-sdk-tools for PR 8929
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#37237 Provider 1.3.0 Release
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/README.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
Labels: App Configuration Provider

#37260 Provider Revert Init
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
Labels: App Configuration Provider

#37259 [SchemaRegistry] prep release
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
Labels: Schema Registry

#37220 [Storage] [STG 96] Added `get_paths()` support for `DataLakeDirectoryClient`
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory.py
  sdk/storage/azure-storage-file-datalake/tests/test_directory_async.py
Labels: Storage

#37265 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
Labels: App Configuration Provider

#37258 Support AAD auth for live metrics
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/_base.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_live_metrics.py
Labels: Monitor - Exporter

#37269 [ACR] Fix content validation issues for github.io
  sdk/containerregistry/azure-containerregistry/README.md
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_anonymous_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/aio/operations/_patch.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/_generated/operations/_patch.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_anonymous_exchange_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_base_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_container_registry_client.py
  sdk/containerregistry/azure-containerregistry/azure/containerregistry/aio/_async_exchange_client.py
Labels: Container Registry, Client

#37274 Edit pass on Azure Identity README
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#37273 Release exporter
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor - Exporter

#37229 Sync eng/common directory with azure-sdk-tools for PR 8902
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#37253 [SB] changelog
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#37001 Radiology insights client patch
  sdk/healthinsights/azure-healthinsights-radiologyinsights/CHANGELOG.md
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/__init__.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/_client.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/_model_base.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/_operations/__init__.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/_operations/_operations.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/_operations/_patch.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/_patch.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/_serialization.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/aio/__init__.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/aio/_client.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/aio/_operations/__init__.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/aio/_operations/_operations.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/aio/_operations/_patch.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/aio/_patch.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/models/__init__.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/models/_models.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_age_mismatch_inference.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_age_mismatch_inference_async.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_complete_order_discrepancy_inference.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_complete_order_discrepancy_inference_async.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_critical_result_inference.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_critical_result_inference_async.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_finding_inference.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_finding_inference_async.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_followup_communication_inference.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_followup_communication_inference_async.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_followup_recommendation_inference.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_followup_recommendation_inference_async.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_laterality_discrepancy_inference.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_laterality_discrepancy_inference_async.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_limited_order_discrepancy_inference.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_limited_order_discrepancy_inference_async.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_radiology_procedure_inference.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_radiology_procedure_inference_async.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_sex_mismatch_inference.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/samples/sample_sex_mismatch_inference_async.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/tests/test_radiology_insights_async.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/tests/test_radiology_insights_sync.py
  sdk/healthinsights/azure-healthinsights-radiologyinsights/tsp-location.yaml
Labels: Cognitive - Health Insights

#37281 [Appconfig] Fix content validation issues for github.io
  sdk/appconfiguration/azure-appconfiguration/README.md
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_utils.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_appconfiguration_client_async.py
Labels: Client, App Configuration

#37282 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#37267 [Core] Adjust auth tests to avoid false CredScan flags
  sdk/core/azure-mgmt-core/tests/test_authentication.py
Labels: Mgmt, Azure.Core

#37297 Security Fix MSRC90952
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/_model_tools/models.py
Labels: AI

#35254 Telemetry support for App Configuration
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_client_manager.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_client_manager_base.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_constants.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_async_client_manager.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/dev_requirements.txt
  sdk/appconfiguration/azure-appconfiguration-provider/samples/async_aad_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/async_key_vault_reference_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/sample_utilities.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_feature_management.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_discovery.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_backoff.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_feature_management.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_refresh.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/testcase.py
Labels: App Configuration Provider

#37278 Add cloud shell validation
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/cloud_shell.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/cloud_shell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity

#37176 Update _version.py
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#37296 [communication]-sms- Fixes the path to test resources in the test pipeline
  sdk/communication/azure-communication-sms/tests.yml
Labels: Communication - SMS

#37313 [communication] - sms - Add service connection to the test pipeline
  sdk/communication/azure-communication-sms/tests.yml
Labels: Communication - SMS

#37341 [comminication] - sms-Adds type check for enable_delivery_report parameter in send function
  sdk/communication/azure-communication-sms/azure/communication/sms/_sms_client.py
  sdk/communication/azure-communication-sms/azure/communication/sms/aio/_sms_client_async.py
Labels: Communication - SMS

#37302 App Config Telemetry Beta Release
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
Labels: App Configuration Provider

#37300 Fix broken links
  sdk/core/azure/CHANGELOG.md
  sdk/purview/azure-purview-sharing/README.md
  sdk/purview/azure-purview-sharing/samples/README.md
Labels: Azure.Core, Purview

#37347 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
  sdk/appconfiguration/azure-appconfiguration-provider/setup.py
Labels: App Configuration Provider

#37345 Add auto-baseline main pipeline config for core
  eng/pipelines/templates/stages/1es-redirect.yml
Labels: Central-EngSys

#37349 ETag fix
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_constants.py
Labels: App Configuration Provider

#37355 Sync eng/common directory with azure-sdk-tools for PR 8958
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: EngSys, Central-EngSys

#37352 Add aad auth samples to distro
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/samples/authentication/sample_managed_credential.py
  sdk/monitor/azure-monitor-opentelemetry/samples/authentication/sample_secret_credential.py
Labels: Monitor - Distro

#37364 E tag fix
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_constants.py
Labels: App Configuration Provider

#37351 [evaluation] Fix xpia simulator logging warning
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/synthetic/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/synthetic/adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/synthetic/indirect_attack_simulator.py
Labels: Evaluation

#37348 Add t1 language support for simulators
  sdk/evaluation/azure-ai-evaluation/README.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/synthetic/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/synthetic/_conversation/_conversation.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/synthetic/_conversation/constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/synthetic/_helpers/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/synthetic/_helpers/_language_suffix_mapping.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/synthetic/adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/synthetic/constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/synthetic/direct_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/synthetic/indirect_attack_simulator.py
Labels: Evaluation

#37366 [Evaluation] Add NLTK data package wordnet which is required for MeteorScoreEvaluator
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/evaluators/_meteor/_meteor.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/evaluators/_rouge/_rouge.py
Labels: Evaluation

#37359 Sync eng/common directory with azure-sdk-tools for PR 8959
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys

#37360 update tests to target aug preview version
  sdk/openai/azure-openai/dev_requirements.txt
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/test_assistants.py
  sdk/openai/azure-openai/tests/test_assistants_async.py
  sdk/openai/azure-openai/tests/test_chat_completions.py
  sdk/openai/azure-openai/tests/test_chat_completions_async.py
Labels: OpenAI

#37394 Sync eng/common directory with azure-sdk-tools for PR 8963
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Labels: EngSys, Central-EngSys

#36932 [Identity] Update instance discovery error message
  sdk/identity/azure-identity/azure/identity/_internal/msal_credentials.py
  sdk/identity/azure-identity/tests/test_instance_discovery.py
Labels: Azure.Identity

#37399 [evaluation] ci: Re-enable python3.12 in test matrix
  sdk/evaluation/azure-ai-evaluation/setup.py
  sdk/evaluation/platform-matrix.json
Labels: Evaluation

#36930 AddFeedRangeSupportInChangeFeed
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/__init__.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/aio/__init__.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/aio/change_feed_fetcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/aio/change_feed_iterable.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_fetcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_iterable.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_start_from.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_state.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/composite_continuation_token.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/feed_range.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/feed_range_composite_continuation_token.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/aio/routing_map_provider.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/routing_map_provider.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/routing_range.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/exceptions.py
  sdk/cosmos/azure-cosmos/azure/cosmos/partition_key.py
  sdk/cosmos/azure-cosmos/test/test_change_feed.py
  sdk/cosmos/azure-cosmos/test/test_change_feed_async.py
  sdk/cosmos/azure-cosmos/test/test_change_feed_split.py
  sdk/cosmos/azure-cosmos/test/test_change_feed_split_async.py
  sdk/cosmos/azure-cosmos/test/test_container_properties_cache.py
  sdk/cosmos/azure-cosmos/test/test_container_properties_cache_async.py
  sdk/cosmos/azure-cosmos/test/test_query.py
  sdk/cosmos/azure-cosmos/test/test_query_async.py
  sdk/cosmos/azure-cosmos/test/test_vector_policy.py
  sdk/cosmos/azure-cosmos/test/test_vector_policy_async.py
Labels: Cosmos

#36879 [SB] fixing link flow issues
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_receiver_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_session_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/receiver.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/session.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/unittest/test_link.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_session_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
Labels: Service Bus

#37409 [Evaluation] Rename parameter name `project_scope` to `azure_ai_project`
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/README.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/evaluators/_content_safety/_content_safety.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/evaluators/_content_safety/_content_safety_base.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/evaluators/_content_safety/_content_safety_chat.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/evaluators/_content_safety/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/evaluators/_content_safety/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/evaluators/_content_safety/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/evaluators/_content_safety/_violence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/evaluators/_eci/_eci.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/evaluators/_protected_material/_protected_material.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/evaluators/_protected_materials/_protected_materials.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/evaluators/_xpia/xpia.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate_telemetry.py
Labels: Evaluation

#37417 Sync eng/common directory with azure-sdk-tools for PR 8974
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#37410 Fixed the issue that `encryptionKey` was lost during serialization
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
  sdk/search/azure-search-documents/tests/test_models.py
Labels: Search

#37418 Remove jsonpath-ng Dependency
  sdk/evaluation/azure-ai-evaluation/setup.py
  shared_requirements.txt
Labels: Evaluation

#37414 [Storage] [STG 95] STG 95 GA Release Changelogs
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#37416 Azure-Ai-Gen-Pkg-version-change-to-b9
  sdk/ai/azure-ai-generative/CHANGELOG.md
  sdk/ai/azure-ai-generative/azure/ai/generative/_version.py
Labels: AI

#37431 Sync eng/common directory with azure-sdk-tools for PR 8994
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#37437 [Storage] Bump Versions after STG 95 Release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#37432 activate-gen-ai-CI
  sdk/ai/ci.yml
Labels: AI

#37443 Sync .github/workflows directory with azure-sdk-tools for PR 8995
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#37445 Remove Unused websocket-client Dependency
  sdk/evaluation/azure-ai-evaluation/setup.py
Labels: Evaluation

#37415 enable bandit
  eng/tox/tox.ini
  sdk/ai/azure-ai-generative/pyproject.toml
  sdk/ai/azure-ai-resources/pyproject.toml
  sdk/evaluation/azure-ai-evaluation/pyproject.toml
Labels: AI, Evaluation

#37446 Sync eng/common directory with azure-sdk-tools for PR 9000
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#37452 Sync eng/common directory with azure-sdk-tools for PR 9004
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
Labels: EngSys, Central-EngSys

#37447 Sync eng/common directory with azure-sdk-tools for PR 8998
  eng/common/pipelines/templates/steps/verify-readmes.yml
Labels: EngSys, Central-EngSys

#37454 [evaluation] fix: Resolve bandit violations
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_meteor/_meteor.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_conversation/constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/models.py
Labels: Evaluation

#37411 [evaluation] ci: Re-enable Windows tests
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_proxy_completion_model.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_rai_client.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_synthetic_conversation_bot.py
  sdk/evaluation/ci.yml
  sdk/evaluation/platform-matrix.json
Labels: Evaluation

#37439 [Identity] Prepare release
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#37288 Cross subscription storage account support for workspace
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_base.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_arm_deployments/arm_templates/workspace_param.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_workspace_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_operations_base.py
Labels: Machine Learning

#37459 [CognitiveServices] spellcheck post deprecation
  sdk/cognitiveservices/azure-cognitiveservices-language-spellcheck/pyproject.toml
  sdk/cognitiveservices/ci.yml
Labels: CognitiveServices

#37427 [SB] Missing Link Credit Subtraction
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_link_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_receiver_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/link.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/receiver.py
  sdk/eventhub/azure-eventhub/dev_requirements.txt
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/unittest/test_link.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_link_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/link.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/dev_requirements.txt
Labels: Service Bus

#37470 Sync eng/common directory with azure-sdk-tools for PR 9008
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#37473 Update release date
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search

#37476 [Batch] Disable whl_no_aio check to unblock track 2 beta release
  sdk/batch/azure-batch/pyproject.toml
Labels: Batch

#37429 Change Model Configurations to TypedDict
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/README.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_chat/_chat.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_chat/retrieval/_retrieval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_coherence/_coherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety_base.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety_chat.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_violence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_eci/_eci.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_fluency/_fluency.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_groundedness/_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_material/_protected_material.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_materials/_protected_materials.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_qa/_qa.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_relevance/_relevance.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_similarity/_similarity.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_xpia/xpia.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_model_configurations.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_direct_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_indirect_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_rai_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_template_handler.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_save_eval.py
Labels: Evaluation

#37480 Disable Telemetry for Evaluation SDK
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_direct_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_indirect_attack_simulator.py
Labels: Evaluation

#37472 Sync eng/common directory with azure-sdk-tools for PR 9016
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#37486 Update CHANGELOG.md with Release Date
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
Labels: Evaluation

#37481 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#37468 Computelocation
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/aml_compute.py
Labels: Machine Learning

#37487 [evaluation] use thread lock for nltk data download to avoid race condition
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
Labels: Evaluation

#37489 [evaluation] Change ECI to eci
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_eci/_eci.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
Labels: Evaluation

#37485 Increment version for servicebus releases
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus

#37490 Update CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
Labels: Evaluation

#37458 Use correct service connection for cosmos sub
  sdk/cosmos/tests.yml
Labels: Cosmos

#37299 [evaluation] Add xpia to evaluate() aggregation
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
Labels: Evaluation

#37069 Update ACS Email python SDK for inline attachments
  sdk/communication/azure-communication-email/CHANGELOG.md
  sdk/communication/azure-communication-email/README.md
  sdk/communication/azure-communication-email/assets.json
  sdk/communication/azure-communication-email/azure/communication/email/_api_versions.py
  sdk/communication/azure-communication-email/azure/communication/email/_email_client.py
  sdk/communication/azure-communication-email/azure/communication/email/_generated/_client.py
  sdk/communication/azure-communication-email/azure/communication/email/_generated/_configuration.py
  sdk/communication/azure-communication-email/azure/communication/email/_generated/aio/_client.py
  sdk/communication/azure-communication-email/azure/communication/email/_generated/aio/_configuration.py
  sdk/communication/azure-communication-email/azure/communication/email/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-email/azure/communication/email/_generated/operations/_operations.py
  sdk/communication/azure-communication-email/azure/communication/email/_version.py
  sdk/communication/azure-communication-email/azure/communication/email/aio/_email_client_async.py
  sdk/communication/azure-communication-email/samples/inline_image.gif
  sdk/communication/azure-communication-email/samples/send_email_with_inline_attachments_sample.py
  sdk/communication/azure-communication-email/samples/send_email_with_inline_attachments_sample_async.py
  sdk/communication/azure-communication-email/swagger/SWAGGER.md
  sdk/communication/azure-communication-email/tests/conftest.py
  sdk/communication/azure-communication-email/tests/test_email_client_e2e.py
  sdk/communication/azure-communication-email/tests/test_email_client_e2e_async.py
Labels: Communication - Email

#37499 Sync eng/common directory with azure-sdk-tools for PR 9022
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#37436 [evaluation] Refactor exceptions to use custom exception class
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run_client/code_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_eval_run.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_chat/_chat.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_coherence/_coherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety_base.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety_chat.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_eci/_eci.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_f1_score/_f1_score.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_fluency/_fluency.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_groundedness/_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_material/_protected_material.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_materials/_protected_materials.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_relevance/_relevance.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_similarity/_similarity.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_xpia/xpia.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_exceptions.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_conversation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_conversation/_conversation.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_direct_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_indirect_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_rai_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/models.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_adv_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_built_in_evaluator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_chat_evaluator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_content_safety_chat_evaluator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_eval_run.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_jailbreak_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_simulator.py
Labels: Evaluation

#37350 Adding the non adversarial simulator
  sdk/evaluation/azure-ai-evaluation/README.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_helpers/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_helpers/_simulator_data_classes.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_prompty/task_query_response.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_prompty/task_simulate.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_tracing.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_non_adv_simulator.py
Labels: Evaluation

#37263 [Core] useless-supression fix for next-pylint
  sdk/core/azure-core-tracing-opentelemetry/azure/core/tracing/ext/opentelemetry_span/__init__.py
  sdk/core/azure-core/azure/core/_enum_meta.py
  sdk/core/azure-core/azure/core/_pipeline_client.py
  sdk/core/azure-core/azure/core/_pipeline_client_async.py
  sdk/core/azure-core/azure/core/credentials.py
  sdk/core/azure-core/azure/core/exceptions.py
  sdk/core/azure-core/azure/core/messaging.py
  sdk/core/azure-core/azure/core/paging.py
  sdk/core/azure-core/azure/core/pipeline/__init__.py
  sdk/core/azure-core/azure/core/pipeline/_base.py
  sdk/core/azure-core/azure/core/pipeline/_base_async.py
  sdk/core/azure-core/azure/core/pipeline/_tools.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_custom_hook.py
  sdk/core/azure-core/azure/core/pipeline/policies/_distributed_tracing.py
  sdk/core/azure-core/azure/core/pipeline/policies/_redirect.py
  sdk/core/azure-core/azure/core/pipeline/policies/_redirect_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_retry.py
  sdk/core/azure-core/azure/core/pipeline/policies/_retry_async.py
  sdk/core/azure-core/azure/core/pipeline/policies/_sensitive_header_cleanup_policy.py
  sdk/core/azure-core/azure/core/pipeline/policies/_universal.py
  sdk/core/azure-core/azure/core/pipeline/transport/__init__.py
  sdk/core/azure-core/azure/core/pipeline/transport/_aiohttp.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base.py
  sdk/core/azure-core/azure/core/pipeline/transport/_base_async.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_asyncio.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_basic.py
  sdk/core/azure-core/azure/core/pipeline/transport/_requests_trio.py
  sdk/core/azure-core/azure/core/polling/_async_poller.py
  sdk/core/azure-core/azure/core/polling/_poller.py
  sdk/core/azure-core/azure/core/polling/async_base_polling.py
  sdk/core/azure-core/azure/core/polling/base_polling.py
  sdk/core/azure-core/azure/core/rest/_helpers.py
  sdk/core/azure-core/azure/core/rest/_http_response_impl.py
  sdk/core/azure-core/azure/core/rest/_requests_basic.py
  sdk/core/azure-core/azure/core/serialization.py
  sdk/core/azure-core/azure/core/settings.py
  sdk/core/azure-core/azure/core/tracing/_abstract_span.py
  sdk/core/azure-core/azure/core/tracing/common.py
  sdk/core/azure-core/azure/core/tracing/decorator_async.py
  sdk/core/azure-core/azure/core/utils/_pipeline_transport_rest_shared.py
  sdk/core/azure-core/azure/core/utils/_pipeline_transport_rest_shared_async.py
  sdk/core/corehttp/corehttp/rest/_aiohttp.py
  sdk/core/corehttp/corehttp/rest/_httpx.py
  sdk/core/corehttp/corehttp/rest/_requests_basic.py
  sdk/core/corehttp/corehttp/runtime/pipeline/__init__.py
  sdk/core/corehttp/corehttp/runtime/pipeline/_base.py
  sdk/core/corehttp/corehttp/runtime/pipeline/_base_async.py
  sdk/core/corehttp/corehttp/runtime/policies/_authentication.py
  sdk/core/corehttp/corehttp/runtime/policies/_authentication_async.py
  sdk/core/corehttp/corehttp/runtime/policies/_retry.py
  sdk/core/corehttp/corehttp/runtime/policies/_retry_async.py
  sdk/core/corehttp/corehttp/runtime/policies/_universal.py
  sdk/core/corehttp/corehttp/serialization.py
  sdk/core/corehttp/corehttp/transport/requests/_requests_basic.py
  sdk/core/corehttp/corehttp/utils/_enum_meta.py
Labels: Azure.Core

#37469 Fix setting custom `TracerProvider` bug with no global `TracerProvider`
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/trace/test_trace.py
Labels: Monitor - Exporter

#37482 Add pop token support
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/azure/identity/broker/__init__.py
  sdk/identity/azure-identity-broker/azure/identity/broker/_browser.py
  sdk/identity/azure-identity-broker/azure/identity/broker/_version.py
  sdk/identity/azure-identity-broker/pyproject.toml
  sdk/identity/azure-identity-broker/samples/pop_sample.py
  sdk/identity/azure-identity-broker/setup.py
Labels: Azure.Identity

#37504 Increment version for evaluation releases
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
Labels: Evaluation

#37483 Increment version for batch releases
  sdk/batch/azure-batch/CHANGELOG.md
  sdk/batch/azure-batch/azure/batch/_version.py
Labels: Batch

#37474 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#37338 Increment version for ml releases
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#37457 Increment version for schemaregistry releases
  sdk/schemaregistry/azure-schemaregistry/CHANGELOG.md
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_version.py
Labels: Schema Registry

#37292 Increment version for healthinsights releases
  sdk/healthinsights/azure-healthinsights-radiologyinsights/CHANGELOG.md
  sdk/healthinsights/azure-healthinsights-radiologyinsights/azure/healthinsights/radiologyinsights/_version.py
Labels: Cognitive - Health Insights

#37509 Increment version for identity releases
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_version.py
Labels: Azure.Identity

#37498 [communication] - [sms] - Splitting int and public cloud tests
  sdk/communication/azure-communication-sms/tests.int.yml
  sdk/communication/azure-communication-sms/tests.yml
Labels: Communication - SMS

#37517 Fix release date for Timezone SDK
  sdk/maps/azure-maps-timezone/CHANGELOG.md
Labels: Maps

#37506 Release monitor exporter
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor - Exporter

#37425 Eval/bugfix/optional eval inputs
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/data/questions_answers_basic.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluators/test_inputs_evaluators.py
Labels: Evaluation

#37522 Fix psycopg2 instrumentation installation
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/README.md
Labels: Monitor - Exporter

#37530 Updating CODEOWNERS for 1espt config
  .github/CODEOWNERS
Labels: Central-EngSys

#37293 [Storage] [STG 96] Share Access Tier Premium
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_azure_file_storage.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_configuration.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_serialization.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_azure_file_storage.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/_configuration.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_azure_file_storage_enums.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage

#37510 [Identity] Update AzurePipelinesCredential request headers
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/azure/identity/_credentials/azure_pipelines.py
  sdk/identity/azure-identity/tests/test_azure_pipelines_credential.py
  sdk/identity/azure-identity/tests/test_azure_pipelines_credential_async.py
Labels: Azure.Identity

#37471 Make evaluators and data required in evaluate
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
Labels: Evaluation

#37505 readme code updates and minor bugfixes
  sdk/evaluation/azure-ai-evaluation/README.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_helpers/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_helpers/_experimental.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_prompty/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/simulator.py
  sdk/evaluation/azure-ai-evaluation/setup.py
Labels: Evaluation

#37532 [evaluation] style: Re-enable black
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run_client/code_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_eval_run.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_chat/_chat.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety_chat.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_qa/_qa.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_helpers/_experimental.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/simulator.py
  sdk/evaluation/azure-ai-evaluation/pyproject.toml
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_metrics_upload.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluators/test_inputs_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_non_adv_simulator.py
Labels: Evaluation

#37219 [Storage] [STG 96] Decompression for Binary Response in Download APIs
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
Labels: Storage

#37531 [evaluation] ci,fix: Enable pylint in CI
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run_client/batch_run_context.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run_client/code_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run_client/proxy_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_eval_run.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_telemetry/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_bleu/_bleu.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_chat/_chat.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_chat/retrieval/_retrieval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_coherence/_coherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety_base.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety_chat.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_violence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_eci/_eci.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_f1_score/_f1_score.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_fluency/_fluency.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_gleu/_gleu.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_groundedness/_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_meteor/_meteor.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_material/_protected_material.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_materials/_protected_materials.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_qa/_qa.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_relevance/_relevance.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_rouge/_rouge.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_similarity/_similarity.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_xpia/xpia.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_http_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_conversation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_conversation/_conversation.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_direct_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_helpers/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_helpers/_simulator_data_classes.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_indirect_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_proxy_completion_model.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_rai_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_template_handler.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/models.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_tracing.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/simulator.py
  sdk/evaluation/azure-ai-evaluation/pyproject.toml
Labels: Evaluation

#37550 Clean up simulator namespace
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_simulator.py
Labels: Evaluation

#37475 Sync eng/common directory with azure-sdk-tools for PR 9013
  eng/common/scripts/check-spelling-in-changed-files.ps1
  eng/common/spelling/Invoke-Cspell.ps1
Labels: EngSys, Central-EngSys

#37534 [Storage] [STG 96] Added Binary ACE to Copy File API
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
Labels: Storage

#37527 Update Evaluation SDK README
  sdk/evaluation/azure-ai-evaluation/README.md
Labels: Evaluation

#37554 Update CHANGELOG.md with Release Date
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
Labels: Evaluation

#37555 Remove Unused Sections from b2 CHANGELOG Entry
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
Labels: Evaluation

#37549 Drive awareness of credential chains doc
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
Labels: Azure.Identity

#37557 Increment version for evaluation releases
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
Labels: Evaluation

#37455 [Storage] Changes to decryption codepath to allow v2.1
  sdk/storage/azure-storage-blob/azure/storage/blob/_encryption.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_encryption.py
Labels: Storage

#37571 Sync eng/common directory with azure-sdk-tools for PR 9035
  eng/common/scripts/Verify-ChangeLogs.ps1
Labels: EngSys, Central-EngSys

#37428 Pipeline V3
  .vscode/cspell.json
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/jobs/regression.yml
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/steps/analyze.yml
  eng/pipelines/templates/steps/analyze_dependency.yml
  eng/pipelines/templates/steps/build-extended-artifacts.yml
  eng/pipelines/templates/steps/build-package-artifacts.yml
  eng/pipelines/templates/steps/build-test.yml
  eng/pipelines/templates/steps/build.yml
  eng/pipelines/templates/steps/resolve-build-platforms.yml
  eng/pipelines/templates/steps/resolve-package-targeting.yml
  eng/pipelines/templates/steps/run_apistub.yml
  eng/pipelines/templates/steps/run_bandit.yml
  eng/pipelines/templates/steps/run_breaking_changes.yml
  eng/pipelines/templates/steps/run_mypy.yml
  eng/pipelines/templates/steps/run_pylint.yml
  eng/pipelines/templates/steps/run_pyright.yml
  eng/pipelines/templates/steps/set-dev-build.yml
  eng/pipelines/templates/steps/targeting-string-resolve.yml
  eng/pipelines/templates/variables/globals.yml
  eng/pipelines/trigger-ml-sample-pipeline.yml
  eng/scripts/Language-Settings.ps1
  eng/scripts/Save-Package-Namespaces-Property.ps1
  eng/scripts/distribute-packages-to-matrix.ps1
  eng/scripts/get_package_properties.py
  eng/scripts/invoke-tox-parallel.ps1
  eng/tox/install_depend_packages.py
  eng/tox/tox.ini
  scripts/devops_tasks/dispatch_tox.py
  scripts/devops_tasks/set_tox_environment.py
  sdk/core/azure-core/perf.yml
  sdk/core/ci.yml
  sdk/ml/azure-ai-ml/pyproject.toml
  sdk/pullrequest.yml
  tools/azure-sdk-tools/ci_tools/build.py
  tools/azure-sdk-tools/ci_tools/functions.py
Labels: Machine Learning, Azure.Core

#37572 [Storage] CSE V2.1 Decryption Patch Release Changelog
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/setup.py
Labels: Storage

#37577 Update template changelog to reflect actual package version
  sdk/template/azure-template/CHANGELOG.md
Labels: EngSys

#37235 [EventHubs] split stress logs
  sdk/eventhub/azure-eventhub/stress/scripts/app_insights_metric.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_consumer_stress_async.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_consumer_stress_sync.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_producer_stress.py
  sdk/eventhub/azure-eventhub/stress/scripts/logger.py
  sdk/eventhub/azure-eventhub/stress/scripts/process_monitor.py
  sdk/eventhub/azure-eventhub/stress/templates/testjob.yaml
  sdk/servicebus/azure-servicebus/stress/scripts/app_insights_metric.py
  sdk/servicebus/azure-servicebus/stress/scripts/logger.py
  sdk/servicebus/azure-servicebus/stress/scripts/process_monitor.py
  sdk/servicebus/azure-servicebus/stress/scripts/stress_test_base.py
  sdk/servicebus/azure-servicebus/stress/scripts/test_stress_queues.py
  sdk/servicebus/azure-servicebus/stress/scripts/test_stress_queues_async.py
  sdk/servicebus/azure-servicebus/stress/templates/testjob.yaml
Labels: Event Hubs

#37566 [communication] - [sms] - Removed type checking for enable_delivery_report parameter
  sdk/communication/azure-communication-sms/azure/communication/sms/_sms_client.py
  sdk/communication/azure-communication-sms/azure/communication/sms/aio/_sms_client_async.py
Labels: Communication - SMS

#37533 Fix more models
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
  sdk/search/azure-search-documents/tests/test_models.py
Labels: Search

#37569 Add 'type' Key to Model Configurations and Some Cleanup
  .gitignore
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_chat/retrieval/_retrieval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_coherence/_coherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_fluency/_fluency.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_groundedness/_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_relevance/_relevance.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_similarity/_similarity.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_model_configurations.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_non_adv_simulator.py
Labels: Evaluation

#37392 Telemetry migration from opencensus to azure monitor opentelemetry
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/activity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/logging_handler.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_logger_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_batch_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_code_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_compute_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_datastore_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_environment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_evaluator_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_set_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_entity_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_feature_store_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_index_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_marketplace_subscription_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_registry_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_serverless_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_virtual_cluster_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_outbound_rule_operations.py
  sdk/ml/azure-ai-ml/setup.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_logger_utils.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_ml_client.py
  shared_requirements.txt
Labels: Machine Learning

#37551 Nest column_mapping in evaluator_config
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_model_configurations.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
Labels: Evaluation

#37589 Sync eng/common directory with azure-sdk-tools for PR 9059
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#36520 Fix for docstrings for Command.command setter and getter
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
Labels: Machine Learning, customer-reported, Community Contribution

#37552 [Storage] [STG 96] Files Provisioned Billing v2
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/models.py
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_azure_file_storage_enums.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/models.py
Labels: Storage

#37575 Bugfix for query/response based simulator
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_prompty/task_query_response.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_non_adv_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_simulator.py
Labels: Evaluation

#37588 Sync eng/common directory with azure-sdk-tools for PR 9057
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#37592 Azure-AI-Evaluator: Pass user simulator kwargs during flow invocation
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_simulator.py
Labels: customer-reported, Community Contribution, Evaluation
