Repository Azure/azure-sdk-for-python, pull requests merged in 2024-02, with the labels that each got.

#34013 Unexclude constants folder
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/model.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/distribution.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_limits.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_service.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_pipeline_expression.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/queue_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/definition.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/input_data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/thresholds.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_registry/registry_support_classes.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_schedule/schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_schedule/trigger.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_deployment_operations.py
  sdk/ml/azure-ai-ml/pyproject.toml
Labels: Machine Learning

#34037 Unexclude _azure_environments.py file
  sdk/ml/azure-ai-ml/azure/ai/ml/_azure_environments.py
  sdk/ml/azure-ai-ml/pyproject.toml
Labels: Machine Learning, customer-reported, Community Contribution

#34012 Unexclude _telemetry folder
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/_customtraceback.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/activity.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_telemetry/logging_handler.py
  sdk/ml/azure-ai-ml/pyproject.toml
Labels: Machine Learning

#33984 Unexclude _artifacts folder
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_artifact_utilities.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_blob_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_fileshare_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_artifacts/_gen2_storage_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_ops_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_operation_orchestrator.py
  sdk/ml/azure-ai-ml/pyproject.toml
Labels: Machine Learning

#33990 Unexclude _local_endpoints folder
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/azureml_image_context.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/docker_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/dockerfile_resolver.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/endpoint_stub.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/mdc_config_resolver.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/validators/code_validator.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/validators/environment_validator.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/validators/model_validator.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/vscode_debug/devcontainer_properties.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/vscode_debug/devcontainer_resolver.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_local_endpoints/vscode_debug/vscode_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_local_deployment_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_local_endpoint_helper.py
  sdk/ml/azure-ai-ml/pyproject.toml
Labels: Machine Learning, ML-Local Endpoints

#34014 Unexclude data_transfer folder
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_data_import/data_import.py
  sdk/ml/azure-ai-ml/pyproject.toml
Labels: Machine Learning

#34101 Remove promptflow vectorDB
  sdk/ai/azure-ai-generative/setup.py
Labels: AI

#34092 Increment version for ai releases
  sdk/ai/azure-ai-generative/CHANGELOG.md
  sdk/ai/azure-ai-generative/azure/ai/generative/_version.py
  sdk/ai/azure-ai-resources/CHANGELOG.md
  sdk/ai/azure-ai-resources/azure/ai/resources/_version.py
Labels: AI

#34009 Unexclude _logging folder
  sdk/ml/azure-ai-ml/azure/ai/ml/_logging/debug_mode.py
  sdk/ml/azure-ai-ml/pyproject.toml
Labels: Machine Learning

#30832 [ServiceBus] set timeout on link properties
  sdk/servicebus/azure-servicebus/azure/servicebus/_base_handler.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_transport/_pyamqp_transport_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/test_sessions.py
Labels: Service Bus

#34121 Sync eng/common directory with azure-sdk-tools for PR 7615
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#34123 Sync eng/common directory with azure-sdk-tools for PR 7623
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#34106 [Identity] Manual test cleanup
  sdk/identity/azure-identity/tests/managed-identity-live/appservice.md
  sdk/identity/azure-identity/tests/managed-identity-live/vm.md
  sdk/identity/test-resources-post.ps1
Labels: Azure.Identity

#33721 [Monitor Ingestion] Improve samples typing
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/__init__.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_operations/__init__.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/__init__.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_operations/__init__.py
  sdk/monitor/azure-monitor-ingestion/pyproject.toml
  sdk/monitor/azure-monitor-ingestion/samples/async_samples/sample_custom_error_callback_async.py
  sdk/monitor/azure-monitor-ingestion/samples/async_samples/sample_send_small_logs_async.py
  sdk/monitor/azure-monitor-ingestion/samples/async_samples/sample_upload_file_contents_async.py
  sdk/monitor/azure-monitor-ingestion/samples/sample_custom_error_callback.py
  sdk/monitor/azure-monitor-ingestion/samples/sample_send_small_logs.py
  sdk/monitor/azure-monitor-ingestion/samples/sample_upload_file_contents.py
  sdk/monitor/azure-monitor-ingestion/swagger/README.md
Labels: Monitor

#33687 [Core] add perf tests
  sdk/core/azure-core/dev_requirements.txt
  sdk/core/azure-core/samples/example_shared_transport.py
  sdk/core/azure-core/samples/example_shared_transport_async.py
  sdk/core/azure-core/tests/perf_tests/README.md
  sdk/core/azure-core/tests/perf_tests/__init__.py
  sdk/core/azure-core/tests/perf_tests/_test_base.py
  sdk/core/azure-core/tests/perf_tests/custom_iterator.py
  sdk/core/azure-core/tests/perf_tests/download_binary.py
  sdk/core/azure-core/tests/perf_tests/list_entities_json.py
  sdk/core/azure-core/tests/perf_tests/query_entities_json.py
  sdk/core/azure-core/tests/perf_tests/update_entity_json.py
  sdk/core/azure-core/tests/perf_tests/upload_binary.py
  sdk/core/perf-resources.bicep
  sdk/core/perf-tests.yml
  sdk/core/perf.yml
  tools/azure-sdk-tools/devtools_testutils/perfstress_tests/_async_random_stream.py
  tools/azure-sdk-tools/devtools_testutils/perfstress_tests/_random_stream.py
Labels: Azure.Core

#34088 Supporting passing Model Configuration object
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_evaluate.py
  sdk/ai/azure-ai-generative/samples/ai_samples_evaluate.py
  sdk/ai/azure-ai-generative/tests/evaluate/e2etests/test_evaluate_e2e.py
  sdk/ai/azure-ai-generative/tests/evaluate/e2etests/test_template.jinja2
Labels: AI

#34126 Using PF for chat
  sdk/ai/azure-ai-generative/MANIFEST.in
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_constants.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_evaluate.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_metric_handler.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_utils.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/aggregate.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/call_rai_service.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/concatenate_metrics.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/constants.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/construct_service_request.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/evaluate_chat_rag.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/evaluate_coherence_fluency.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/flow.dag.yaml
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/flow.meta.yaml
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/format_service_output.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/parse_chat.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/parse_service_response.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/requirements.txt
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/samples.json
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/select_metrics.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/utils.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/validate_coversation.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/validate_service.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/.gitignore
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/ada_cosine_similarity_score.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/aggregate_variants_results.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/coherence_score.jinja2
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/concat_scores.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/f1_score.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/flow.dag.yaml
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/flow.meta.yaml
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/gpt_coherence_prompt.jinja2
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/gpt_fluency_prompt.jinja2
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/gpt_groundedness_prompt.jinja2
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/gpt_relevance_prompt.jinja2
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/gpt_similarity_prompt.jinja2
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/requirements.txt
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/samples.json
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/select_metrics.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/validate_input.py
  sdk/ai/azure-ai-generative/tests/evaluate/e2etests/test_evaluate_e2e.py
Labels: AI

#34136 Support for content harm metrics
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_constants.py
Labels: AI

#34127 Get poller result for the archive api
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_feature_store_utils.py
Labels: Machine Learning

#34131 [Cosmos] changelog for release and readme async client updates
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
Labels: Cosmos

#34138 Update MANIFEST.in
  sdk/ai/azure-ai-generative/MANIFEST.in
Labels: AI

#34139 0b5 version release
  sdk/ai/azure-ai-generative/CHANGELOG.md
  sdk/ai/azure-ai-resources/CHANGELOG.md
Labels: AI

#34142 fix typo in changelog
  sdk/ai/azure-ai-generative/CHANGELOG.md
Labels: AI

#34143 Increment version for ai releases
  sdk/ai/azure-ai-generative/CHANGELOG.md
  sdk/ai/azure-ai-generative/azure/ai/generative/_version.py
  sdk/ai/azure-ai-resources/CHANGELOG.md
  sdk/ai/azure-ai-resources/azure/ai/resources/_version.py
Labels: AI

#34140 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#34020 Prioritize logger body in exception details message
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/logs/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/logs/test_logs.py
Labels: Monitor - Exporter

#34083 [Storage] [STG93] Archboard Feedback STG93
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
Labels: Storage

#34135 Sync eng/common directory with azure-sdk-tools for PR 7629
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/pipelines/templates/jobs/docindex.yml
Labels: EngSys, Central-EngSys

#34105 azure-monitor-opentelemetry-exporter 1.0.0b22
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/setup.py
Labels: Monitor - Exporter

#34177 Sync eng/common directory with azure-sdk-tools for PR 7634
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#34184 Update flow.dag.yaml
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/flow.dag.yaml
Labels: AI

#34182 Sync eng/common directory with azure-sdk-tools for PR 7630
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#34192 Update Changelog for 0b6 release
  sdk/ai/azure-ai-generative/CHANGELOG.md
  sdk/ai/azure-ai-resources/CHANGELOG.md
Labels: AI

#34202 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#34181 add session sample
  sdk/search/azure-search-documents/samples/async_samples/sample_query_session_async.py
  sdk/search/azure-search-documents/samples/sample_query_session.py
Labels: Search

#34204 Skip documenting azure-storage-extensions
  sdk/storage/ci.yml
Labels: Storage

#34019 [Cosmos] make response_hook thread safe for the async client
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_user.py
Labels: Cosmos

#34186 [Identity Broker] Minimum Python bump
  sdk/identity/azure-identity-broker/CHANGELOG.md
  sdk/identity/azure-identity-broker/README.md
  sdk/identity/azure-identity-broker/azure/identity/broker/_browser.py
  sdk/identity/azure-identity-broker/azure/identity/broker/_version.py
  sdk/identity/azure-identity-broker/setup.py
Labels: Azure.Identity

#34206 adjust healthcare test
  sdk/textanalytics/azure-ai-textanalytics/assets.json
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare.py
  sdk/textanalytics/azure-ai-textanalytics/tests/test_analyze_healthcare_async.py
Labels: Cognitive - Text Analytics

#33645 [Storage] [Typing] [Blob] `_blob_client.py`
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
Labels: Storage

#34110 Set `use_rcts` in `build_index` helper used by local index build.
  sdk/ai/azure-ai-generative/CHANGELOG.md
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_build_mlindex.py
Labels: AI

#34210 Remove public access to the container
  sdk/ml/test-resources.json
Labels: Machine Learning

#34178 add workspace rp swagger to 2024 restclient
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/_azure_machine_learning_workspaces.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/_azure_machine_learning_workspaces.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_endpoint_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_managed_network_provisions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_managed_network_settings_rule_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_private_endpoint_connections_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_private_link_resources_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_workspaces_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/models/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/models/_azure_machine_learning_workspaces_enums.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/models/_models.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/models/_models_py3.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_endpoint_deployment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_endpoint_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_managed_network_provisions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_managed_network_settings_rule_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_private_endpoint_connections_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_private_link_resources_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_workspace_connections_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_workspaces_operations.py
  sdk/ml/azure-ai-ml/swagger/machinelearningservices/resource-manager/readme.md
Labels: Machine Learning

#33800 Add offline tests for azure core streaming
  sdk/core/azure-core/tests/async_tests/test_streaming_async.py
  sdk/core/azure-core/tests/test_streaming.py
  sdk/core/azure-core/tests/testserver_tests/coretestserver/coretestserver/test_routes/streams.py
Labels: customer-reported, Community Contribution

#34201 Increment version for ai releases
  sdk/ai/azure-ai-generative/CHANGELOG.md
  sdk/ai/azure-ai-generative/azure/ai/generative/_version.py
  sdk/ai/azure-ai-resources/CHANGELOG.md
  sdk/ai/azure-ai-resources/azure/ai/resources/_version.py
Labels: AI

#34208 typing fixes.
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_utils.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_index.py
  sdk/search/azure-search-documents/samples/sample_query_session.py
Labels: Search

#33650 [Storage] [Typing] [Blob] `_container_client.py`
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
Labels: Storage

#33731 [EG] jan sys events
  .vscode/cspell.json
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
  sdk/eventgrid/azure-eventgrid/swagger/_constants.py
Labels: Event Grid

#34198 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#34207 [Cosmos] elevate kwargs for sync client
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_scripts.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
Labels: Cosmos

#33976 [Monitor Ingestion] Improve input validation/docs
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_operations/_patch.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_operations/_patch.py
  sdk/monitor/azure-monitor-ingestion/tests/test_logs_ingestion.py
  sdk/monitor/azure-monitor-ingestion/tests/test_logs_ingestion_async.py
Labels: Monitor

#33981 Add missing headers to azure-attestation\README.md
  sdk/attestation/azure-mgmt-attestation/README.md
Labels: customer-reported, Community Contribution

#34227 fix typing
  sdk/identity/azure-identity-broker/azure/identity/broker/_utils.py
  sdk/identity/azure-identity/azure/identity/_internal/utils.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
Labels: Azure.Identity

#34239 ai SDK 0b7 release
  sdk/ai/azure-ai-generative/CHANGELOG.md
  sdk/ai/azure-ai-generative/setup.py
  sdk/ai/azure-ai-resources/CHANGELOG.md
Labels: AI

#34217 Allow 'null' to be a value for job tier
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_job/job.py
Labels: Machine Learning

#34213 Minor Image Analysis SDK update for beta.2 release
  sdk/vision/azure-ai-vision-imageanalysis/CHANGELOG.md
  sdk/vision/azure-ai-vision-imageanalysis/README.md
  sdk/vision/azure-ai-vision-imageanalysis/azure/ai/vision/imageanalysis/_model_base.py
  sdk/vision/azure-ai-vision-imageanalysis/azure/ai/vision/imageanalysis/_operations/_operations.py
  sdk/vision/azure-ai-vision-imageanalysis/azure/ai/vision/imageanalysis/_patch.py
  sdk/vision/azure-ai-vision-imageanalysis/azure/ai/vision/imageanalysis/aio/_operations/_operations.py
  sdk/vision/azure-ai-vision-imageanalysis/azure/ai/vision/imageanalysis/aio/_patch.py
  sdk/vision/azure-ai-vision-imageanalysis/samples/async_samples/sample_ocr_image_url_async.py
  sdk/vision/azure-ai-vision-imageanalysis/samples/sample_caption_image_url.py
  sdk/vision/azure-ai-vision-imageanalysis/samples/sample_ocr_image_url.py
  sdk/vision/azure-ai-vision-imageanalysis/setup.py
  sdk/vision/azure-ai-vision-imageanalysis/tests/image_analysis_test_base.py
Labels: Image Analysis

#34229 Include device.* attributes in part A fields
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_utils.py
Labels: Monitor - Exporter

#33958 [Monitor Query] Update metrics batch query client
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/assets.json
  sdk/monitor/azure-monitor-query/azure/monitor/query/__init__.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_metrics_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_metrics_query_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/__init__.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_metrics_client_async.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_metrics_query_client_async.py
  sdk/monitor/azure-monitor-query/samples/README.md
  sdk/monitor/azure-monitor-query/samples/async_samples/sample_metrics_query_multiple_async.py
  sdk/monitor/azure-monitor-query/samples/sample_metrics_query_multiple.py
  sdk/monitor/azure-monitor-query/setup.py
  sdk/monitor/azure-monitor-query/tests/base_testcase.py
  sdk/monitor/azure-monitor-query/tests/test_metrics_batch_client.py
  sdk/monitor/azure-monitor-query/tests/test_metrics_batch_client_async.py
  sdk/monitor/azure-monitor-query/tests/test_metrics_client.py
  sdk/monitor/azure-monitor-query/tests/test_metrics_client_async.py
  sdk/monitor/azure-monitor-query/tests/test_metrics_query_client.py
  sdk/monitor/azure-monitor-query/tests/test_metrics_query_client_async.py
Labels: Monitor

#34254 Sync .github/workflows directory with azure-sdk-tools for PR 7656
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#34205 Batch endpoint fix serialization error
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_endpoint/batch/batch_endpoint_defaults.py
Labels: Machine Learning

#34251 Increment version for ai releases
  sdk/ai/azure-ai-generative/CHANGELOG.md
  sdk/ai/azure-ai-generative/azure/ai/generative/_version.py
  sdk/ai/azure-ai-resources/CHANGELOG.md
  sdk/ai/azure-ai-resources/azure/ai/resources/_version.py
Labels: AI

#33662 [Storage] [Typing] [Blob] `_blob_service_client.py`
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
Labels: Storage

#34267 Sync eng/common directory with azure-sdk-tools for PR 7664
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#34269 [EventHub] l0lawrence's fix import
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_pyamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_pyamqp_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/exceptions.py
  sdk/eventhub/azure-eventhub/setup.py
Labels: Event Hubs

#34247 Remove non-offline tests for azure core streaming
  sdk/core/azure-core/tests/async_tests/test_streaming_async.py
  sdk/core/azure-core/tests/test_streaming.py
Labels: customer-reported, Community Contribution

#34252 Update distro dependencies + remove suppport for Python 3.7
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_constants.py
  sdk/monitor/azure-monitor-opentelemetry/setup.py
Labels: Monitor - Distro

#34228 Add encodings folder to azure-ai-resources
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_embeddings/openai.py
  sdk/ai/azure-ai-resources/MANIFEST.in
  sdk/ai/azure-ai-resources/azure/ai/resources/_index/_embeddings/openai.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_index/_utils/encodings/6c7ea1a7e38e3a7f062df639a5b80947f075ffe6
  sdk/ai/azure-ai-resources/azure/ai/resources/_index/_utils/encodings/6d1cbeee0f20b3d9449abfede4726ed8212e3aee
  sdk/ai/azure-ai-resources/azure/ai/resources/_index/_utils/encodings/9b5ad71b2ce5302211f9c61530b329a4922fc6a4
  sdk/ai/azure-ai-resources/cspell.json
  sdk/ai/azure-ai-resources/setup.py
Labels: AI

#34215 Add TeamsRecordingStateChange and TeamsComplianceRecordingStateChange to Alpha
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_enums.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
Labels: Communication

#34290 [EventHubs] 5.11.6 release prep
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/samples/README.md
  sdk/eventhub/azure-eventhub/setup.py
Labels: Event Hubs

#34183 additional 2/15 preview tests
  sdk/openai/azure-openai/dev_requirements.txt
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/v0_tests/test_chat_completions_v0.py
  sdk/openai/azure-openai/tests/v0_tests/test_chat_completions_v0_async.py
  sdk/openai/azure-openai/tests/v1_tests/test_chat_completions.py
  sdk/openai/azure-openai/tests/v1_tests/test_chat_completions_async.py
  sdk/openai/azure-openai/tests/v1_tests/test_client.py
  sdk/openai/azure-openai/tests/v1_tests/test_client_async.py
Labels: OpenAI

#34259 Users/anksing/bug bash bugs content safety
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_constants.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_evaluate.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_metrics_handler/_prompt_metric_handler.py
  sdk/ai/azure-ai-generative/tests/evaluate/data/invalid_data.jsonl
  sdk/ai/azure-ai-generative/tests/evaluate/data/missing_data.jsonl
  sdk/ai/azure-ai-generative/tests/evaluate/e2etests/test_evaluate_e2e.py
Labels: AI

#34293 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs

#34294 Update aka.ms link of JPEG test image used in Image Analysis SDK tests
  sdk/vision/azure-ai-vision-imageanalysis/assets.json
  sdk/vision/azure-ai-vision-imageanalysis/tests/image_analysis_test_base.py
Labels: Image Analysis

#34263 Language lint/sphinx
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-conversations/doc/azure.ai.language.rst
  sdk/cognitivelanguage/azure-ai-language-conversations/doc/azure.ai.rst
  sdk/cognitivelanguage/azure-ai-language-conversations/doc/azure.rst
  sdk/cognitivelanguage/azure-ai-language-conversations/pyproject.toml
  sdk/cognitivelanguage/azure-ai-language-questionanswering/README.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_operations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_serialization.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/pyproject.toml
Labels: Cognitive - Language

#34297 [Cosmos] PermissionMode import
  sdk/cosmos/azure-cosmos/azure/cosmos/permission.py
Labels: Cosmos

#34268 Adding source caller id to the answer call option
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_serialization.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/test_call_connection_client.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_media_client.py
Labels: Communication

#34271 [Identity] Check exit code for PowershellCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
  sdk/identity/azure-identity/tests/test_powershell_credential.py
  sdk/identity/azure-identity/tests/test_powershell_credential_async.py
Labels: Azure.Identity

#34289 Handle package-specific warning suppressions
  eng/pipelines/templates/steps/build-package-artifacts.yml
  eng/pipelines/templates/steps/build-test.yml
  scripts/devops_tasks/tox_harness.py
  sdk/storage/azure-storage-extensions/pyproject.toml
  tools/azure-sdk-tools/ci_tools/build.py
  tools/azure-sdk-tools/ci_tools/parsing/__init__.py
  tools/azure-sdk-tools/ci_tools/parsing/parse_functions.py
  tools/azure-sdk-tools/tests/test_individual_functions.py
Labels: Storage

#34257 [Identity] Add multi-tenant live testing
  sdk/identity/azure-identity/assets.json
  sdk/identity/azure-identity/tests/conftest.py
  sdk/identity/azure-identity/tests/test_environment_credential.py
  sdk/identity/azure-identity/tests/test_environment_credential_async.py
  sdk/identity/azure-identity/tests/test_multi_tenant_auth.py
  sdk/identity/azure-identity/tests/test_multi_tenant_auth_async.py
Labels: Azure.Identity

#34309 Increment version for vision releases
  sdk/vision/azure-ai-vision-imageanalysis/CHANGELOG.md
  sdk/vision/azure-ai-vision-imageanalysis/azure/ai/vision/imageanalysis/_version.py
Labels: Image Analysis

#34236 [Storage] [Typing] [Blob] `blob_client_async.py`
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
Labels: Storage

#34308 Sync eng/common directory with azure-sdk-tools for PR 7665
  eng/common/spelling/Invoke-Cspell.ps1
Labels: EngSys, Central-EngSys

#34282 [Storage] [Typing] [Blob] `blob_service_client_async.py`
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
Labels: Storage

#34302 [PYTHON] Communication Common | Microsoft Teams App Identifier feature GA release updates
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/azure/communication/identity/_version.py
Labels: Communication - Identity

#34030 assistant tests
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/v1_tests/test_assistants.py
  sdk/openai/azure-openai/tests/v1_tests/test_assistants_async.py
  sdk/openai/azure-openai/tests/v1_tests/test_chat_completions.py
  sdk/openai/azure-openai/tests/v1_tests/test_chat_completions_async.py
  sdk/openai/azure-openai/tests/v1_tests/test_models.py
  sdk/openai/azure-openai/tests/v1_tests/test_models_async.py
Labels: OpenAI

#34320 Sync eng/common directory with azure-sdk-tools for PR 7655
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
  eng/common/scripts/typespec/New-EmitterPackageLock.ps1
Labels: EngSys, Central-EngSys

#34287 Acr in ai resource
  sdk/ai/azure-ai-resources/assets.json
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/ai_resource.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_ai_resource_operations.py
  sdk/ai/azure-ai-resources/cspell.json
  sdk/ai/azure-ai-resources/tests/ai_resources/e2etests/test_resource_operations.py
Labels: AI

#34230 [Key Vault] Support 7.5 API version in Secrets
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/assets.json
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_configuration.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_operations/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_operations/_operations.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_operations/_patch.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_serialization.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_vendor.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/aio/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/aio/_configuration.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/aio/_operations/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/aio/_operations/_operations.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/aio/_operations/_patch.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/aio/_vendor.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/models/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/models/_enums.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/models/_models.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
Labels: KeyVault, Client

#34187 [Key Vault] Support 7.5 API version in Certificates
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/assets.json
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_configuration.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_operations/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_operations/_operations.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_operations/_patch.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_serialization.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_vendor.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/_configuration.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/_operations/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/_operations/_operations.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/_operations/_patch.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/_vendor.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/models/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/models/_enums.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/models/_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/client_base.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
Labels: KeyVault, Client

#34321 Update SearchClient.get_answers docstring to clarify meaning
  sdk/search/azure-search-documents/azure/search/documents/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_paging.py
  sdk/search/azure-search-documents/samples/async_samples/sample_vector_search_async.py
  sdk/search/azure-search-documents/samples/sample_vector_search.py
Labels: Search, customer-reported, Community Contribution

#33693 App Configuration - Feature flag refresh async
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/README.md
  sdk/appconfiguration/azure-appconfiguration-provider/assets.json
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_constants.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/refresh_sample_feature_flags.py
  sdk/appconfiguration/azure-appconfiguration-provider/setup.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/asynctestcase.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_aad.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_feature_management.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_refresh.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_aad.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_feature_management.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_refresh.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/testcase.py
Labels: App Configuration Provider

#34057 [Key Vault] Support 7.5 API version in Administration
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/assets.json
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_configuration.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_serialization.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_vendor.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/_configuration.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/_vendor.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/operations/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/operations/_key_vault_client_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/operations/_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/operations/_role_assignments_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/operations/_role_definitions_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/models/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/models/_enums.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/models/_models.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/operations/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/operations/_key_vault_client_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/operations/_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/operations/_role_assignments_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/operations/_role_definitions_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/client_base.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_models.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/setup.py
  sdk/keyvault/azure-keyvault-administration/tests/conftest.py
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client.py
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client_async.py
Labels: KeyVault, Client

#34233 [Key Vault] Support 7.5 API version in Keys
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/assets.json
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_configuration.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_operations/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_operations/_operations.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_operations/_patch.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_serialization.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_vendor.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/aio/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/aio/_configuration.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/aio/_operations/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/aio/_operations/_operations.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/aio/_operations/_patch.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/aio/_vendor.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/models/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/models/_enums.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/models/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-keys/tests/_test_case.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
Labels: KeyVault, Client

#34332 [ml] Retroactively add snapshot container change to 1.7.0 changelog
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#34333 Add null value for job tier
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_job/job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/queue_settings.py
Labels: Machine Learning

#34335 Increment version for communication releases
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/azure/communication/identity/_version.py
Labels: Communication - Identity

#34340 Evaluation Tests
  sdk/ai/azure-ai-generative/tests/evaluate/e2etests/test_evaluate_e2e.py
Labels: AI

#34324 [ServiceBus] Fix typing in tracing method
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
Labels: Service Bus

#34326 Add configuration for custom span processors
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/README.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_constants.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_util/configurations.py
  sdk/monitor/azure-monitor-opentelemetry/samples/tracing/filter_spans.py
  sdk/monitor/azure-monitor-opentelemetry/samples/tracing/manually_instrumented.py
  sdk/monitor/azure-monitor-opentelemetry/samples/tracing/modify_spans.py
  sdk/monitor/azure-monitor-opentelemetry/tests/configuration/test_configure.py
Labels: Monitor - Distro

#34342 Update CHANGELOG.md
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search

#34339 Fix pylint version 3.0.3 for exporter and distro
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/_base.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
Labels: Monitor - Exporter, Monitor - Distro

#34353 Sync .github/workflows directory with azure-sdk-tools for PR 7703
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#34354 Sync eng/common directory with azure-sdk-tools for PR 7704
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#34352 [ServiceBus/EventHubs] change invalid link error to warning log
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_session_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_session_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/session.py
Labels: Service Bus, Event Hubs

#34357 [Opentelemetry] Fix link to renamed sample
  sdk/monitor/azure-monitor-opentelemetry/samples/README.md
Labels: Client, OpenTelemetry

#33918 Support schedule trigger action
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/_azure_machine_learning_workspaces.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/_azure_machine_learning_workspaces.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_code_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_component_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_data_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_environment_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_jobs_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_model_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_registry_data_references_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_schedules_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/aio/operations/_serverless_endpoints_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/models/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/models/_azure_machine_learning_workspaces_enums.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/models/_models.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/models/_models_py3.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_code_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_component_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_data_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_environment_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_jobs_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_model_versions_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_registry_data_references_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_schedules_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2024_01_01_preview/operations/_serverless_endpoints_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_component/component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/pipeline_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_schedule/schedule.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_schedule_operations.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/schedule/e2etests/test_schedule.py
Labels: Machine Learning, ML-Pipelines

#34312 [Storage] [STG93] Update changelogs to prep for beta release
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#34234 Implement StructredMessageDecodeStream
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/streams.py
  sdk/storage/azure-storage-blob/dev_requirements.txt
  sdk/storage/azure-storage-blob/tests/test_streams.py
Labels: Storage

#34226 Update SDK Version Prefix
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_statsbeat_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/django/sample/sample/asgi.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_utils.py
Labels: Monitor - Exporter

#34386 [Key Vault] Remove `x509_thumbprint_string` property
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
Labels: KeyVault, Client

#34379 Keep node level original source when update pipeline job.
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/base_node.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_controlflow_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/e2etests/test_pipeline_job.py
Labels: ML-Pipelines

#34396 [EH} Fix Sample Error Message
  sdk/eventhub/azure-eventhub/samples/async_samples/iot_hub_connection_string_receive_async.py
Labels: Event Hubs

#34388 Fix incorrect repo source link
  sdk/ai/azure-ai-generative/setup.py
  sdk/ai/azure-ai-resources/setup.py
  sdk/cognitivelanguage/azure-ai-language-conversations/setup.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/setup.py
  sdk/confidentialledger/azure-confidentialledger/setup.py
  sdk/containerregistry/azure-containerregistry/setup.py
  sdk/eventhub/azure-eventhub-checkpointstoretable/setup.py
  sdk/mixedreality/azure-mixedreality-authentication/setup.py
  sdk/ml/azure-ai-ml/setup.py
  sdk/openai/azure-openai/setup.py
  sdk/personalizer/azure-ai-personalizer/setup.py
  sdk/remoterendering/azure-mixedreality-remoterendering/setup.py
  sdk/template/azure-template/setup.py
  sdk/translation/azure-ai-translation-document/setup.py
  tools/azure-sdk-tools/tests/integration/scenarios/optional_environment_two_options/setup.py
  tools/azure-sdk-tools/tests/integration/scenarios/optional_environment_zero_options/setup.py
Labels: Container Registry, Event Hubs, Machine Learning, EngSys, Cognitive - Translator, Cognitive - Personalizer, Confidential Ledger, Cognitive - Language, Mixed Reality, OpenAI, AI

#34358 [AI] Azure OpenAI Deployment CRUD
  .vscode/cspell.json
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/__init__.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/_client.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/_configuration.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/_model_base.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/_patch.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/_serialization.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/_version.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/aio/__init__.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/aio/_client.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/aio/_configuration.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/aio/_patch.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/aio/operations/__init__.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/aio/operations/_operations.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/aio/operations/_patch.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/models/__init__.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/models/_enums.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/models/_models.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/models/_patch.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/operations/__init__.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/operations/_operations.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/operations/_patch.py
  sdk/ai/azure-ai-resources/azure/ai/resources/_restclient/_azure_open_ai/py.typed
  sdk/ai/azure-ai-resources/azure/ai/resources/client/_ai_client.py
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/__init__.py
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/single_deployment.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/__init__.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_azure_open_ai_deployment_operations.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_single_deployment_operations.py
Labels: AI

#34406 Changed the parameter from max_count to limit
  sdk/ai/azure-ai-generative/azure/ai/generative/synthetic/simulator/simulator/simulator.py
Labels: AI

#34330 [Key Vault] Handle `cryptography` RSA keys without local key material
  sdk/keyvault/azure-keyvault-keys/assets.json
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_models.py
  sdk/keyvault/azure-keyvault-keys/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-keys/tests/_test_case.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_models.py
Labels: KeyVault, Client

#33949 [SB] Remove uAMQP Perf Runs
  sdk/servicebus/perf-tests.yml
Labels: Service Bus

#34200 RAG Stop Ignoring/Fix mypy Errors.
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_documents/cracking.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_embeddings/__init__.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_mlindex.py
  sdk/ai/azure-ai-generative/azure/ai/generative/index/_tasks/update_acs.py
Labels: AI

#34401 Add `application.ver` to Part A fields for exporter
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_utils.py
Labels: Monitor - Exporter

#33207 [Corehttp] Add code snippets to docstrings
  sdk/core/corehttp/corehttp/runtime/_pipeline_client.py
  sdk/core/corehttp/corehttp/runtime/_pipeline_client_async.py
  sdk/core/corehttp/samples/sample_async_pipeline_client.py
  sdk/core/corehttp/samples/sample_pipeline_client.py
Labels: Azure.Core

#34394 [corehttp] Misc updates to sync with azure-core
  sdk/core/corehttp/corehttp/credentials.py
  sdk/core/corehttp/corehttp/runtime/_base.py
  sdk/core/corehttp/corehttp/runtime/policies/_authentication_async.py
  sdk/core/corehttp/corehttp/runtime/policies/_universal.py
  sdk/core/corehttp/corehttp/transport/requests/_bigger_block_size_http_adapters.py
  sdk/core/corehttp/corehttp/utils/_utils.py
  sdk/core/corehttp/tests/async_tests/test_authentication_async.py
  sdk/core/corehttp/tests/async_tests/test_streaming_async.py
  sdk/core/corehttp/tests/test_streaming.py
  sdk/core/corehttp/tests/test_utils.py
  sdk/core/corehttp/tests/testserver_tests/coretestserver/coretestserver/test_routes/streams.py
Labels: Azure.Core

#34427 Add aks to statsbeat and prefix
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_statsbeat_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_statsbeat.py
Labels: Monitor - Exporter

#34421 Feature Management Update Schema
  sdk/appconfiguration/azure-appconfiguration-provider/README.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_constants.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/refresh_sample_feature_flags.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/asynctestcase.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_aad.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_feature_management.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_refresh.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_constants.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_aad.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_feature_management.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_refresh.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/testcase.py
Labels: App Configuration Provider

#34437 [ML] Increment version to 1.15.0
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#34296 [corehttp] use typeguard for HTTPPolicy/SansIOHTTPPolicy check not isinstance
  sdk/core/corehttp/corehttp/runtime/pipeline/_base.py
  sdk/core/corehttp/corehttp/runtime/pipeline/_base_async.py
  sdk/core/corehttp/tests/async_tests/test_authentication_async.py
  sdk/core/corehttp/tests/async_tests/test_pipeline_async.py
  sdk/core/corehttp/tests/test_authentication.py
  sdk/core/corehttp/tests/test_pipeline.py
Labels: Azure.Core

#34438 Sync .github/workflows directory with azure-sdk-tools for PR 7742
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#33791 add text-to-speech tests
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/v1_tests/test_audio.py
  sdk/openai/azure-openai/tests/v1_tests/test_audio_async.py
Labels: OpenAI

#34364 modify qa evaluation flow
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_constants.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/_metric_handler.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/chat/parse_chat.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/ada_cosine_similarity_score.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/aggregate_variants_results.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/concat_quality_scores.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/concat_results.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/constants.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/construct_service_request.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/flow.dag.yaml
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/utils.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/validate_input.py
  sdk/ai/azure-ai-generative/azure/ai/generative/evaluate/pf_templates/built_in_metrics/qa/validate_safety_metric_input.py
Labels: customer-reported, Community Contribution, AI

#34389 [Storage] Expose `services` to be configurable for account SAS generation
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/__init__.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared_access_signature.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/__init__.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared_access_signature.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared_access_signature.py
Labels: Storage

#34329 [Storage] [Typing] [Blob] `__init__.py` and `__init__.py` aio
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/__init__.py
Labels: Storage

#34439 [Corehttp] Prepare changelog
  sdk/core/corehttp/CHANGELOG.md
  sdk/core/corehttp/corehttp/_version.py
Labels: Azure.Core

#34408 [Storage] Adjust StructuredMessageDecodeStream to account for crc64 trailer
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/streams.py
  sdk/storage/azure-storage-blob/tests/test_streams.py
Labels: Storage

#34442 [Storage] Fix `get_paths` API typehint
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
Labels: Storage

#34434 fix mindependency error
  sdk/purview/azure-purview-administration/pyproject.toml
  sdk/purview/azure-purview-administration/setup.py
  sdk/purview/azure-purview-catalog/pyproject.toml
  sdk/purview/azure-purview-scanning/pyproject.toml
  sdk/purview/azure-purview-scanning/setup.py
Labels: Purview

#34310 add serialization support
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_index.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
  sdk/search/azure-search-documents/tests/test_serialization.py
Labels: Search

#34387 [ai] Improve reference documentation descriptions for azure-ai-resources
  sdk/ai/azure-ai-resources/azure/ai/resources/client/_ai_client.py
  sdk/ai/azure-ai-resources/azure/ai/resources/constants/_common.py
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/ai_resource.py
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/configs.py
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/data.py
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/deployment_keys.py
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/mlindex.py
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/models.py
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/project.py
  sdk/ai/azure-ai-resources/azure/ai/resources/entities/single_deployment.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_acs_output_config.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_ai_resource_operations.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_connection_operations.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_data_operations.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_index_data_source.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_ingest_data_to_index.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_mlindex_operations.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_model_operations.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_pf_operations.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_project_operations.py
  sdk/ai/azure-ai-resources/azure/ai/resources/operations/_single_deployment_operations.py
Labels: AI

#34288 update scope for redis
  sdk/identity/azure-identity/samples/azure-aad-auth-with-redis-py.md
  sdk/identity/azure-identity/samples/azure-aad-auth-with-redis.py
Labels: Azure.Identity

#34403 [Identity][CI] Integration test setup adjustments
  sdk/identity/azure-identity/tests/integration/azure-kubernetes-service/Dockerfile
  sdk/identity/azure-identity/tests/integration/test_azure_kubernetes_service.py
  sdk/identity/test-resources-pre.ps1
Labels: Azure.Identity

#34432 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
Labels: KeyVault

#34141 Implement quickpulse exporting functionality
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/__init__.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/setup.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/__init__.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_utils.py
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
Labels: Monitor - Exporter

#34314 [Storage] [Typing] [Blob] `container_client_async.py`
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_models.py
Labels: Storage

#34436 FineTuning Job SDK changes.
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_finetuning/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_finetuning/azure_openai_finetuning.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_finetuning/azure_openai_hyperparameters.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_finetuning/custom_model_finetuning.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_finetuning/finetuning_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_finetuning/finetuning_vertical.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_job/finetuning.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_job/job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/finetuning/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/finetuning/azure_openai_finetuning_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/finetuning/azure_openai_hyperparameters.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/finetuning/custom_model_finetuning_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/finetuning/finetuning_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/finetuning/finetuning_vertical.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/exceptions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_local_job_invoker.py
  sdk/ml/azure-ai-ml/tests/finetuning_job/__init__.py
  sdk/ml/azure-ai-ml/tests/finetuning_job/conftest.py
  sdk/ml/azure-ai-ml/tests/finetuning_job/e2e_tests/test_azure_openai_finetuning_job.py
  sdk/ml/azure-ai-ml/tests/finetuning_job/e2e_tests/test_custom_model_finetuning_job.py
  sdk/ml/azure-ai-ml/tests/finetuning_job/unittests/test_azure_openai_finetuning_job_schema.py
  sdk/ml/azure-ai-ml/tests/finetuning_job/unittests/test_custom_model_finetuning_job_schema.py
  sdk/ml/azure-ai-ml/tests/finetuning_job/unittests/test_finetuning_job_convesion.py
  sdk/ml/azure-ai-ml/tests/job_common/unittests/test_job_operations.py
  sdk/ml/azure-ai-ml/tests/test_configs/finetuning_job/e2e_configs/custom_model_finetuning_job/mock_azure_openai_finetuning_job_full.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/finetuning_job/e2e_configs/custom_model_finetuning_job/mock_custom_model_finetuning_job_full.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/finetuning_job/test_datasets/text_completion/train.jsonl
  sdk/ml/azure-ai-ml/tests/test_configs/finetuning_job/test_datasets/text_completion/validation.jsonl
Labels: Machine Learning, customer-reported, Community Contribution

#34471 Sync .github/workflows directory with azure-sdk-tools for PR 7765
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#34472 Sync eng/common directory with azure-sdk-tools for PR 7767
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#34458 [EventHubs/ServiceBus] update network trace params to use empty strings not None
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_cbs_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_management_operation_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/cbs.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/management_operation.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_connection.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_cbs_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_connection_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_management_operation_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/cbs.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/management_operation.py
Labels: Service Bus, Event Hubs

#34428 Updates with Api review Fixes
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_integers.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_murmurhash3.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/partition_key.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
  sdk/cosmos/azure-cosmos/test/test_murmurhash3.py
Labels: Cosmos

#34424 [AI] test: Add support for recording requests from the `openai` package
  sdk/ai/azure-ai-generative/assets.json
  sdk/ai/azure-ai-generative/tests/__openai_patcher.py
  sdk/ai/azure-ai-generative/tests/conftest.py
  sdk/ai/azure-ai-generative/tests/synthetic_qa/unittests/test_qa_data_generator.py
  sdk/ai/azure-ai-resources/dev_requirements.txt
  sdk/ai/azure-ai-resources/tests/__openai_patcher.py
  sdk/ai/azure-ai-resources/tests/conftest.py
Labels: AI

#34462 Update exporter/distro README
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
  sdk/monitor/azure-monitor-opentelemetry/README.md
Labels: Monitor - Exporter, Monitor - Distro

#34461 Sync eng/common directory with azure-sdk-tools for PR 7729
  eng/common/scripts/typespec/New-EmitterPackageLock.ps1
Labels: EngSys, Central-EngSys

#34478 [EventHubs] update credential used for tests for pwsh/cli auth
  sdk/eventhub/azure-eventhub/tests/conftest.py
Labels: Event Hubs
