Repository Azure/azure-sdk-for-python, pull requests merged in 2025-04, with the labels that each got.

#40287 Add Prompty as dependency
  .vscode/cspell.json
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/azure/ai/projects/prompts/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/prompts/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/prompts/_utils.py
  sdk/ai/azure-ai-projects/dev_requirements.txt
  sdk/ai/azure-ai-projects/samples/inference/sample1.prompty
  sdk/ai/azure-ai-projects/samples/inference/sample_chat_completions_with_azure_ai_inference_client_and_prompt_string.py
  sdk/ai/azure-ai-projects/samples/inference/sample_chat_completions_with_azure_ai_inference_client_and_prompty.py
  sdk/ai/azure-ai-projects/setup.py
  shared_requirements.txt
Labels: AI

#40300 [ServiceBus] revert link credit calc to cumulative
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_link_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_receiver_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/link.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/receiver.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/unittest/test_link.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_link_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/link.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/receiver.py
Labels: Service Bus

#40159 [Storage] [Named Keywords] [Queue] Transition to Named Keywords for `azure-storage-queue`
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_serialize.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
Labels: Storage

#40313 Work around release build blocker due to whl_no_aio test environment
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_prompty_async.py
Labels: Evaluation

#40314 Sync eng/common directory with azure-sdk-tools for PR 10181
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#40301 [Cosmos] update changelog for cosmos release
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/tests/test_backwards_compatibility_async.py
Labels: Cosmos

#40322 Sync eng/common directory with azure-sdk-tools for PR 10176
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#40283 Sync eng/common directory with azure-sdk-tools for PR 10038
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#40316 [Identity] Fix live tests post provisioning
  sdk/identity/test-resources-post.ps1
Labels: Azure.Identity

#40328 Re-emit Python SDK for api-version "2025-05-15-preview"
  sdk/ai/azure-ai-projects-dp1/apiview-properties.json
  sdk/ai/azure-ai-projects-dp1/azure/ai/projects/dp1/_validation.py
  sdk/ai/azure-ai-projects-dp1/azure/ai/projects/dp1/aio/operations/_operations.py
  sdk/ai/azure-ai-projects-dp1/azure/ai/projects/dp1/models/__init__.py
  sdk/ai/azure-ai-projects-dp1/azure/ai/projects/dp1/models/_enums.py
  sdk/ai/azure-ai-projects-dp1/azure/ai/projects/dp1/models/_models.py
  sdk/ai/azure-ai-projects-dp1/azure/ai/projects/dp1/operations/_operations.py
  sdk/ai/azure-ai-projects-dp1/tsp-location.yaml
Labels: AI

#40326 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#39941 Update AKS checks and tests to use KUBERNETES_SERVICE_HOST
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_statsbeat_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_statsbeat.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_utils.py
Labels: Monitor - Exporter

#40182 [EH] Use Partition Count for Buffered Producer
  sdk/eventhub/azure-eventhub/azure/eventhub/_buffered_producer/_buffered_producer_dispatcher.py
Labels: Event Hubs

#40241 Enable use of the new leaner ported BatchEngine code path
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/code_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/eval_run_context.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/proxy_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/target_run_context.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_eval_run.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_telemetry/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_multi_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_prompty_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_groundedness/_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_adapters/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_adapters/_configuration.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_adapters/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_adapters/_errors.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_adapters/_flows.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_adapters/_service.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_adapters/client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_adapters/entities.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_adapters/tracing.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_adapters/types.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_adapters/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_result.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_status.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_tracing.py
  sdk/evaluation/azure-ai-evaluation/setup.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_metrics_upload.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_batch_run_context.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate_telemetry.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluators/apology_dag/apology.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluators/apology_dag/flow.dag.yaml
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluators/apology_prompty/apology.prompty
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluators/apology_prompty/sample.json
  shared_requirements.txt
Labels: Evaluation

#40321 Update redteam complexity mapping
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_red_team/_utils/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_attack_objective_generator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_attack_strategy.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_callback_chat_target.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_default_converter.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team_result.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_utils/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_utils/constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_utils/formatting_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_utils/logging_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_utils/strategy_utils.py
  sdk/evaluation/azure-ai-evaluation/samples/red_team_samples.py
  sdk/evaluation/azure-ai-evaluation/setup.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_attack_objective_generator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_attack_strategy.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_callback_chat_target.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_constants.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_formatting_utils.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_red_team.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_red_team_result.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_strategy_utils.py
Labels: Evaluation

#39952 [EventHub] add EventData.from_bytes
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_common.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/tests/unittest/test_event_data.py
Labels: Event Hubs

#40315 Update task_adherence.ipynb
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/instructions.md
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/task_adherence.ipynb
Labels: Evaluation

#40348 Sync eng/common directory with azure-sdk-tools for PR 10191
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#40343 Remove ws beta
  sdk/eventhub/azure-eventhub/azure/eventhub/_configuration.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_exceptions.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_frame.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_headers.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_protocol.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_url.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_sasl_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/sasl.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/websockets.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_pyamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_pyamqp_transport_async.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/unittest/asynctests/test_websocket_exception_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/_configuration.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_connection.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_exceptions.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_frame.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_headers.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_protocol.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_url.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_connection_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_sasl_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/sasl.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/websockets.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_transport/_pyamqp_transport_async.py
Labels: Service Bus, Event Hubs

#40312 [Storage] [STG 98] Beta Changelogs
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_serialization.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_append_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_append_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-blob/swagger/README.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_azure_data_lake_storage_restapi.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_configuration.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_serialization.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/_azure_data_lake_storage_restapi.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/_configuration.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_file_system_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_path_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_file_system_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_path_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-datalake/swagger/README.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_serialization.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/_configuration.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/_serialization.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/_configuration.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/operations/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/operations/_message_id_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/operations/_messages_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/operations/_queue_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/models/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/models/_models_py3.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_message_id_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_messages_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_queue_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_serialize.py
Labels: Storage

#40337 adding warning if pat detects in git url while creation of job
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_ops_helper.py
  sdk/ml/azure-ai-ml/tests/job_common/unittests/test_job_operations.py
  sdk/ml/azure-ai-ml/tests/job_common/unittests/test_job_ops_helper.py
Labels: Machine Learning

#40303 Fix Environment Variable Parsing
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_constants.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/execution_dispatcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/execution_dispatcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/tests/test_query_hybrid_search.py
  sdk/cosmos/azure-cosmos/tests/test_query_hybrid_search_async.py
  sdk/cosmos/azure-cosmos/tests/test_query_vector_similarity.py
  sdk/cosmos/azure-cosmos/tests/test_query_vector_similarity_async.py
Labels: Cosmos

#40330 update readme for openai tests
  sdk/openai/azure-openai/README.md
Labels: OpenAI

#40359 [EventHub] merge geodr
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/test-resources.json
Labels: Service Bus, Event Hubs

#40344 Sync eng/common directory with azure-sdk-tools for PR 10184
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#40353 Sync eng/common directory with azure-sdk-tools for PR 10190
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#40361 Sync eng/common directory with azure-sdk-tools for PR 10206
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#40319 [Monitor] Adjust live test post script
  sdk/monitor/test-resources-post.ps1
Labels: Monitor

#40362 Auth fix and logging improvements
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_utils/constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_utils/formatting_utils.py
  sdk/evaluation/azure-ai-evaluation/setup.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_red_team.py
Labels: Evaluation

#40368 Prepare-Release-Evaluation-1-4-1
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
Labels: Evaluation

#40371 Prepare-Release Evaluation 1.5.0
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
Labels: Evaluation

#40364 [Storage] [STG 98] Regenerated Code for ADLS
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_serialization.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_path_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_path_operations.py
Labels: Storage

#40237 Enable entra id via env var
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/_base.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/setup.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_base_exporter.py
Labels: Monitor - Exporter

#40222 [Batch] Beta Data Plane SDK 15.0.0b2 Update to 07-01-2024 API
  sdk/batch/azure-batch/CHANGELOG.md
  sdk/batch/azure-batch/assets.json
  sdk/batch/azure-batch/azure/batch/__init__.py
  sdk/batch/azure-batch/azure/batch/_client.py
  sdk/batch/azure-batch/azure/batch/_configuration.py
  sdk/batch/azure-batch/azure/batch/_model_base.py
  sdk/batch/azure-batch/azure/batch/_operations/__init__.py
  sdk/batch/azure-batch/azure/batch/_operations/_operations.py
  sdk/batch/azure-batch/azure/batch/_operations/_patch.py
  sdk/batch/azure-batch/azure/batch/_patch.py
  sdk/batch/azure-batch/azure/batch/_serialization.py
  sdk/batch/azure-batch/azure/batch/_vendor.py
  sdk/batch/azure-batch/azure/batch/aio/__init__.py
  sdk/batch/azure-batch/azure/batch/aio/_client.py
  sdk/batch/azure-batch/azure/batch/aio/_configuration.py
  sdk/batch/azure-batch/azure/batch/aio/_operations/__init__.py
  sdk/batch/azure-batch/azure/batch/aio/_operations/_operations.py
  sdk/batch/azure-batch/azure/batch/aio/_operations/_patch.py
  sdk/batch/azure-batch/azure/batch/aio/_patch.py
  sdk/batch/azure-batch/azure/batch/aio/_vendor.py
  sdk/batch/azure-batch/azure/batch/models/__init__.py
  sdk/batch/azure-batch/azure/batch/models/_enums.py
  sdk/batch/azure-batch/azure/batch/models/_models.py
  sdk/batch/azure-batch/azure/batch/models/_patch.py
  sdk/batch/azure-batch/pyproject.toml
  sdk/batch/azure-batch/samples/batch_samples_hello_world.py
  sdk/batch/azure-batch/tests/async_wrapper.py
  sdk/batch/azure-batch/tests/batch_preparers.py
  sdk/batch/azure-batch/tests/conftest.py
  sdk/batch/azure-batch/tests/decorators.py
  sdk/batch/azure-batch/tests/test_async_wrapper.py
  sdk/batch/azure-batch/tests/test_batch.py
  sdk/batch/azure-batch/tsp-location.yaml
Labels: Batch

#40382 Output structure for red team
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/_ai_services.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team_result.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_utils/formatting_utils.py
  sdk/evaluation/azure-ai-evaluation/setup.py
  sdk/evaluation/azure-ai-evaluation/tests/converters/ai_agent_converter/test_run_ids_from_conversation.py
Labels: Evaluation

#40385 Remove use of private _token_provider from pyrit
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team.py
  sdk/evaluation/azure-ai-evaluation/setup.py
Labels: Evaluation

#40345 [AI] [Projects] OpenApi and Custom Bing Search changes
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_bing_custom_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_openapi.py
Labels: AI

#40387 Hotfix/name mismatch
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team.py
Labels: Evaluation

#40375 Fix MLClient Registry base_url value for model operations
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_registry_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_data_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_environment_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_model_operations.py
Labels: Machine Learning

#39623 Gateway mode fault injection in python
  sdk/cosmos/azure-cosmos/pytest.ini
  sdk/cosmos/azure-cosmos/tests/_fault_injection_transport.py
  sdk/cosmos/azure-cosmos/tests/_fault_injection_transport_async.py
  sdk/cosmos/azure-cosmos/tests/test_crud_async.py
  sdk/cosmos/azure-cosmos/tests/test_fault_injection_transport.py
  sdk/cosmos/azure-cosmos/tests/test_fault_injection_transport_async.py
  sdk/cosmos/azure-cosmos/tests/test_feed_range_async.py
Labels: Cosmos

#40346 [EH + SB] drop 3.8 + deprecation warning
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/setup.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/setup.py
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/setup.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/setup.py
Labels: Service Bus, Event Hubs

#40404 [Batch] Remove ci_enabled=false
  sdk/batch/azure-batch/pyproject.toml
Labels: Batch

#40402 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#40304 Generating python SDK for API version 2024-12-09preview and recording…
  sdk/confidentialledger/azure-confidentialledger/assets.json
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_client.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_configuration.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_operations/_operations.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_serialization.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_version.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/aio/_client.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/aio/_configuration.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/aio/_operations/_operations.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_client.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_configuration.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_operations/_operations.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_serialization.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_version.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/aio/_client.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/aio/_configuration.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/aio/_operations/_operations.py
  sdk/confidentialledger/azure-confidentialledger/swagger/README.md
  sdk/confidentialledger/azure-confidentialledger/tests/test_confidential_ledger_client.py
  sdk/confidentialledger/azure-confidentialledger/tests/test_confidential_ledger_client_async.py
Labels: Confidential Ledger

#40412 making AI search property optional while creating capability host agent
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_capability_hosts_operations.py
Labels: Machine Learning

#40413 making AI search property optional while creating capability host agent
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_capability_hosts_operations.py
Labels: Machine Learning

#40415 Updating changelog for making AI search property optional while creat…
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#39773 Increment version for maps releases
  sdk/maps/azure-maps-timezone/CHANGELOG.md
  sdk/maps/azure-maps-timezone/azure/maps/timezone/_version.py
Labels: Maps

#40406 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#40423 Increment version after evaluation release
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/_version.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
Labels: Evaluation

#40427 Sync eng/common directory with azure-sdk-tools for PR 10241
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#40433 Sync eng/common directory with azure-sdk-tools for PR 10246
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#40425 [RedTeam] Upload redteam info for better transparency, debugging
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team.py
Labels: Evaluation

#40441 [PYAQMP] Fix Deprecation Warning for Async WS
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_transport_async.py
Labels: Service Bus, Event Hubs

#40446 [EventHubs] skip 3.8 test
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/setup.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/setup.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/asynctests/test_websocket_async.py
Labels: Event Hubs

#40447 [EventHubs] skip tests if aiohttp not installed
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/asynctests/test_websocket_async.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/unittest/asynctests/test_websocket_exception_async.py
Labels: Event Hubs

#40449 [EventHub] skip if 3.8
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/unittest/asynctests/test_websocket_exception_async.py
Labels: Event Hubs

#40360 Fix app config telemetry
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_client_manager.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_client_manager_base.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_constants.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_async_client_manager.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
Labels: App Configuration Provider

#40450 Update TROUBLESHOOTING.md
  sdk/evaluation/azure-ai-evaluation/TROUBLESHOOTING.md
Labels: Evaluation

#40454 Making Hub and Project officially GA
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/ai_workspaces/hub.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/workspace/ai_workspaces/project.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/_ai_workspaces/hub.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/_ai_workspaces/project.py
Labels: Machine Learning

#40444 Another round of 1DP Python Projects SDK updates
  sdk/ai/azure-ai-projects-onedp/apiview-properties.json
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/_client.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/_patch.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/_client.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/_patch.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/__init__.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/_operations.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/_patch.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/models/__init__.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/models/_enums.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/models/_models.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/__init__.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_operations.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_patch.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_connections_operations.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_connections_operations_async.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_datasets_operations.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_datasets_operations_async.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_evaluations_operations.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_evaluations_operations_async.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_indexes_operations.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_indexes_operations_async.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_red_teams_operations.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_red_teams_operations_async.py
  sdk/ai/azure-ai-projects-onedp/samples/assistants/sample_get_assistant_client.py
  sdk/ai/azure-ai-projects-onedp/samples/assistants/sample_get_assistant_client_async.py
  sdk/ai/azure-ai-projects-onedp/samples/connections/sample_connections.py
  sdk/ai/azure-ai-projects-onedp/samples/connections/sample_connections_async.py
  sdk/ai/azure-ai-projects-onedp/samples/datasets/sample_datasets.py
  sdk/ai/azure-ai-projects-onedp/samples/deployments/sample_deployments.py
  sdk/ai/azure-ai-projects-onedp/samples/deployments/sample_deployments_async.py
  sdk/ai/azure-ai-projects-onedp/samples/indexes/sample_indexes.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/async_samples/sample1.png
  sdk/ai/azure-ai-projects-onedp/samples/inference/async_samples/sample_chat_completions_with_azure_ai_inference_client_async.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/async_samples/sample_chat_completions_with_azure_openai_client_async.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/async_samples/sample_image_embeddings_with_azure_ai_inference_client_async.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/async_samples/sample_text_embeddings_with_azure_ai_inference_client_async.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/sample1.png
  sdk/ai/azure-ai-projects-onedp/samples/inference/sample_chat_completions_with_azure_ai_inference_client.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/sample_chat_completions_with_azure_openai_client.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/sample_image_embeddings_with_azure_ai_inference_client.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/sample_text_embeddings_with_azure_ai_inference_client.py
  sdk/ai/azure-ai-projects-onedp/samples/telemetry/sample_telemetry.py
  sdk/ai/azure-ai-projects-onedp/samples/telemetry/sample_telemetry_async.py
  sdk/ai/azure-ai-projects-onedp/tests/README.md
  sdk/ai/azure-ai-projects-onedp/tests/connections/test_connections.py
  sdk/ai/azure-ai-projects-onedp/tsp-location.yaml
Labels: AI

#40434 [Identity] Update live ACI test
  sdk/identity/azure-identity/tests/integration/azure-kubernetes-service/app.py
  sdk/identity/azure-identity/tests/integration/test_azure_container_instance.py
Labels: Azure.Identity

#40435 [Storage] [STG 98] Refactored File -> Blob Copy Tests to Use `requests` and `aiohttp`
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/dev_requirements.txt
  sdk/storage/azure-storage-blob/tests/test_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
Labels: Storage

#40466 [EventHub] bump aiohttp version
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/setup.py
  sdk/eventhub/azure-eventhub/dev_requirements.txt
Labels: Event Hubs

#40464 bugfix: result json after doing evaluate has wrong characters in Korean language
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/data/questions_answers_korean.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
Labels: Evaluation

#40463 Distro 1.6.7 Hotfix: Adjust to breaking change in opentelemetry-instrumentation
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/setup.py
  sdk/monitor/azure-monitor-opentelemetry/tests/test_configure.py
Labels: Monitor - Distro

#40470 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
  sdk/appconfiguration/azure-appconfiguration-provider/setup.py
Labels: App Configuration Provider

#40472 Split _patch.py files such that we have a separate patch file per sub client. Otherwise they get too long.
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/_patch.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/_patch_assistants_async.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/_patch_datasets_async.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/_patch_inference_async.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/_patch_telemetry_async.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_patch.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_patch_assistants.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_patch_datasets.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_patch_inference.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_patch_telemetry.py
  sdk/ai/azure-ai-projects-onedp/samples/datasets/sample_datasets_async.py
Labels: AI

#40411 Port of Batch Engine code (Part II)
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/_run_submitter_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/eval_run_context.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/proxy_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/target_run_context.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_adapters/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_adapters/_check.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_engine.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_openai_injector.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_result.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_run.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_run_submitter.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_trace.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_common/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_common/_logging.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_common/_thread_pool_executor_with_context.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/prompty/_exceptions.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/prompty/_prompty.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/prompty/_utils.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_batch_run_context.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_save_eval.py
Labels: Evaluation

#40471 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#40486 Some initial work on package README.md
  sdk/ai/azure-ai-projects-onedp/README.md
  sdk/ai/azure-ai-projects-onedp/samples/assistants/sample_get_assistant_client.py
  sdk/ai/azure-ai-projects-onedp/samples/connections/sample_connections.py
  sdk/ai/azure-ai-projects-onedp/samples/datasets/sample_datasets.py
  sdk/ai/azure-ai-projects-onedp/samples/deployments/sample_deployments.py
  sdk/ai/azure-ai-projects-onedp/samples/indexes/sample_indexes.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/sample_chat_completions_with_azure_ai_inference_client.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/sample_chat_completions_with_azure_openai_client.py
  sdk/ai/azure-ai-projects-onedp/setup.py
Labels: AI

#40489 Minor changes to make `project_client.assistants.get_client()` work
  sdk/ai/azure-ai-projects-onedp/README.md
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/_patch_assistants_async.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/_patch_inference_async.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_patch_assistants.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_patch_inference.py
  sdk/ai/azure-ai-projects-onedp/samples/assistants/sample_get_assistants_client.py
  sdk/ai/azure-ai-projects-onedp/samples/assistants/sample_get_assistants_client_async.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/sample_chat_completions_with_azure_ai_inference_client.py
Labels: AI

#40416 add support for reasoning models as judge for agentic evaluators.
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_prompty_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_intent_resolution/_intent_resolution.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_response_completeness/_response_completeness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_adherence/_task_adherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/_tool_call_accuracy.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/prompty/_prompty.py
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/response_completeness.ipynb
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_completeness_evaluator.py
Labels: customer-reported, Community Contribution, Evaluation

#40468 [AI] [Projects] add List Threads operation
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/apiview-properties.json
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_bing_custom_search.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#40485 Sync eng/common directory with azure-sdk-tools for PR 10293
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#40502 [AI] [Projects] correct OpenApi auth sample
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_openapi_connection_auth.py
Labels: AI

#40508 Copy over promp operations
  sdk/ai/azure-ai-projects-onedp/README.md
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/_patch.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/_patch_prompts.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_patch_datasets.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_patch_inference.py
  sdk/ai/azure-ai-projects-onedp/dev_requirements.txt
  sdk/ai/azure-ai-projects-onedp/samples/inference/sample1.prompty
  sdk/ai/azure-ai-projects-onedp/samples/inference/sample_chat_completions_with_azure_ai_inference_client_and_prompt_string.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/sample_chat_completions_with_azure_ai_inference_client_and_prompty_file.py
Labels: AI

#40505 Users/singankit/evaluation 1dp
  .vscode/cspell.json
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/models/_patch.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/models/_patch_evaluations.py
  sdk/ai/azure-ai-projects-onedp/samples/evaluation/sample_evaluations.py
  sdk/ai/azure-ai-projects-onedp/samples/evaluation/samples_folder/sample_data_evaluation.jsonl
Labels: AI

#40479 Adding 1 RP Client to evaluation package.
  .vscode/cspell.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/_configuration.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/_model_base.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/_patch.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/_serialization.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/_types.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/_validation.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/_vendor.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/_version.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/aio/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/aio/_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/aio/_configuration.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/aio/_patch.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/aio/_vendor.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/aio/operations/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/aio/operations/_operations.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/aio/operations/_patch.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/models/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/models/_enums.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/models/_models.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/models/_patch.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/operations/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/operations/_operations.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/operations/_patch.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/py.typed
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/servicepatterns/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/servicepatterns/aio/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/servicepatterns/aio/operations/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/servicepatterns/aio/operations/_operations.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/servicepatterns/aio/operations/_patch.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/servicepatterns/buildingblocks/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/servicepatterns/buildingblocks/aio/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/servicepatterns/buildingblocks/aio/operations/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/servicepatterns/buildingblocks/aio/operations/_operations.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/servicepatterns/buildingblocks/aio/operations/_patch.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/servicepatterns/buildingblocks/operations/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/servicepatterns/buildingblocks/operations/_operations.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/servicepatterns/buildingblocks/operations/_patch.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/servicepatterns/operations/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/servicepatterns/operations/_operations.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/servicepatterns/operations/_patch.py
Labels: Evaluation

#40386 Use combined storage pools
  sdk/storage/tests.yml
Labels: Storage

#40342 Redesign automatic toolcalls
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_run_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_with_toolset_async.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/agent_team.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/sample_agents_agent_team.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/sample_agents_agent_team_custom_team_leader.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/sample_agents_multi_agent_team.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_openapi.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_run_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_iteration_with_toolset.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_operations.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_operations_async.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_ai_agents_instrumentor_async.py
Labels: AI

#40499 Remove Python 3.8 + Standardize on `azsdk-pool` on affected templates
  eng/pipelines/autorest_checks.yml
  eng/pipelines/templates/jobs/smoke.tests.yml
  eng/pipelines/templates/jobs/update_pr.yml
  eng/pipelines/templates/stages/archetype-python-release.yml
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/stages/python-analyze-weekly.yml
  eng/pipelines/templates/steps/run_black.yml
  eng/pipelines/templates/steps/run_mypy.yml
  eng/pipelines/templates/steps/run_pylint.yml
  eng/pipelines/templates/steps/run_pyright.yml
  eng/pipelines/templates/steps/smoke-test-steps.yml
  pyrightconfig.json
  sdk/communication/azure-communication-phonenumbers/phonenumbers-livetest-matrix.json
  sdk/core/azure-core/perf.yml
  sdk/core/corehttp/perf.yml
  sdk/cosmos/cosmos-emulator-matrix.json
  sdk/cosmos/live-platform-matrix.json
  sdk/eventhub/perf.yml
  sdk/identity/platform-matrix.json
  sdk/keyvault/azure-keyvault-secrets/pyrightconfig.json
  sdk/servicebus/perf.yml
  sdk/storage/azure-storage-blob/perf.yml
  sdk/storage/azure-storage-file-datalake/perf.yml
  sdk/storage/azure-storage-file-share/perf.yml
  sdk/storage/platform-matrix-all-versions.json
Labels: Service Bus, Storage, KeyVault, Cosmos, Event Hubs, Azure.Core, Azure.Identity, Communication - Phone Numbers

#40527 Howie/post toolcall redesign
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/samples/agents/multiagent/agent_team.py
Labels: AI

#40530 [EventHub] prep release 5.15.0
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/setup.py
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/dev_requirements.txt
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/asynctests/test_websocket_async.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/unittest/asynctests/test_websocket_exception_async.py
Labels: Event Hubs

#40525 Set min Python to 3.9 instead of 3.8
  sdk/ai/azure-ai-projects-onedp/README.md
  sdk/ai/azure-ai-projects-onedp/setup.py
Labels: AI

#40533 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs

#40522 Sync eng/common directory with azure-sdk-tools for PR 10314
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#40541 [cosmos] fix pylint
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_global_endpoint_manager_async.py
Labels: Cosmos

#40483 [EH/SB/EG] next*
  eng/pylintrc
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/_helpers.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/_policies.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/_publisher_client.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/_signature_credential_policy.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_model_base.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_sender_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_session_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/session.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_async_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_buffered_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_buffered_producer_dispatcher_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_buffered_producer/_partition_resolver_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_client_base_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_connection_manager_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/event_processor.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_eventprocessor/utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_pyamqp_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_uamqp_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_connection_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_session_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/session.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_async_utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_base_handler_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_model_workaround.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_shared_key_policy.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_xml_workaround_policy.py
Labels: Service Bus, Event Grid, Event Hubs

#40529 Distro 1.6.8 hotfix: pin OT 1.31.1/0.52b1
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/setup.py
  sdk/monitor/azure-monitor-opentelemetry/tests/test_configure.py
Labels: Monitor - Distro

#40542 201 for evaluation create
  sdk/ai/azure-ai-projects-onedp/apiview-properties.json
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/_model_base.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/_serialization.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/_operations.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/models/__init__.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/models/_models.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_operations.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_datasets_operations.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_datasets_operations_async.py
  sdk/ai/azure-ai-projects-onedp/samples/datasets/sample_datasets_async.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/sample_chat_completions_with_azure_ai_inference_client_and_prompt_string.py
  sdk/ai/azure-ai-projects-onedp/tsp-location.yaml
Labels: AI

#40548 Fix toolcall error
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
Labels: AI

#39945 [Core] Add native tracing live tests
  sdk/core/azure-core/dev_requirements.txt
  sdk/core/azure-core/tests/async_tests/test_tracing_live_async.py
  sdk/core/azure-core/tests/test_tracing_live.py
  sdk/core/test-resources.bicep
  sdk/core/tests.yml
Labels: Azure.Core

#40519 App Configuration - Telemetry Usage Update
  .vscode/cspell.json
  sdk/appconfiguration/azure-appconfiguration-provider/assets.json
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationproviderbase.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_constants.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider.py
Labels: App Configuration Provider

#40555 Sync eng/common directory with azure-sdk-tools for PR 10345
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#40549 Re-emit Python SDK from TypeSpec to get and list connections with secrets using POST
  sdk/ai/azure-ai-projects-onedp/apiview-properties.json
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/_client.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/_configuration.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/_client.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/_configuration.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/__init__.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/_operations.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/__init__.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_operations.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_connections_operations.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_connections_operations_async.py
  sdk/ai/azure-ai-projects-onedp/tsp-location.yaml
Labels: AI

#40516 Updates to CHANGELOG.md
  sdk/ai/azure-ai-projects-onedp/CHANGELOG.md
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/models/_models.py
Labels: AI

#40574 Restrict marshmallow dependency to >=3.5,<4.0.0 for compatibility
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_autogen_entities/_model_base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_registry/registry_support_classes.py
  sdk/ml/azure-ai-ml/setup.py
Labels: Machine Learning

#40579 Restrict marshmallow dependency to >=3.5,<4.0.0 for compatibility (#4…
  sdk/ml/azure-ai-ml/azure/ai/ml/_internal/__init__.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_autogen_entities/_model_base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_registry/registry_support_classes.py
  sdk/ml/azure-ai-ml/setup.py
Labels: Machine Learning

#40578 Update CHANGELOG.md
  sdk/ai/azure-ai-projects/CHANGELOG.md
Labels: AI

#40553 Distro 1.6.8 Hotfix pin w/ changelog date
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
Labels: Monitor - Distro

#40581 Updating changelog for restricting marshmallow to use its major version
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#40560 [Corehttp] Increment version in changelog
  sdk/core/corehttp/CHANGELOG.md
  sdk/core/corehttp/corehttp/_version.py
Labels: Azure.Core

#40298 Add excluded locations on client and request levels
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_global_endpoint_manager.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_location_cache.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_request_object.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_global_endpoint_manager_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/samples/excluded_locations.py
  sdk/cosmos/azure-cosmos/tests/_fault_injection_transport.py
  sdk/cosmos/azure-cosmos/tests/_fault_injection_transport_async.py
  sdk/cosmos/azure-cosmos/tests/test_excluded_locations.py
  sdk/cosmos/azure-cosmos/tests/test_excluded_locations_async.py
  sdk/cosmos/azure-cosmos/tests/test_excluded_locations_emulator.py
  sdk/cosmos/azure-cosmos/tests/test_excluded_locations_emulator_async.py
  sdk/cosmos/azure-cosmos/tests/test_fault_injection_transport.py
  sdk/cosmos/azure-cosmos/tests/test_fault_injection_transport_async.py
  sdk/cosmos/azure-cosmos/tests/test_health_check.py
  sdk/cosmos/azure-cosmos/tests/test_health_check_async.py
  sdk/cosmos/azure-cosmos/tests/test_location_cache.py
  sdk/cosmos/azure-cosmos/tests/test_query.py
  sdk/cosmos/azure-cosmos/tests/test_retry_policy_async.py
  sdk/cosmos/live-platform-matrix.json
  sdk/cosmos/test-resources.bicep
Labels: Cosmos

#40586 Disable App Config PyLint Async import
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_sync_token_async.py
Labels: App Configuration

#40591 Fix doc issues like https://learn.microsoft.com/en-us/python/api/azur…
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
Labels: Storage

#40550 aggregated binary threshold results for evaluators in metrics
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/pyproject.toml
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_mass_evaluate.py
Labels: Evaluation

#40596 Updating for development - Restrict marshmallow dependency to >=3.5,<4.0.0 for …
  sdk/ml/azure-ai-ml/dev_requirements.txt
Labels: Machine Learning

#40488 Increment version for purview releases
  sdk/purview/azure-purview-datamap/CHANGELOG.md
  sdk/purview/azure-purview-datamap/azure/purview/datamap/_version.py
Labels: Purview

#40577 fix deployment creation when registry model is used
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_operation_orchestrator.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/online_services/e2etests/test_online_deployment.py
Labels: Machine Learning

#40588 Concurrent Health Checks
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_global_endpoint_manager.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_location_cache.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_global_endpoint_manager_async.py
  sdk/cosmos/azure-cosmos/tests/test_backwards_compatibility.py
  sdk/cosmos/azure-cosmos/tests/test_backwards_compatibility_async.py
  sdk/cosmos/azure-cosmos/tests/test_globaldb.py
  sdk/cosmos/azure-cosmos/tests/test_health_check.py
  sdk/cosmos/azure-cosmos/tests/test_health_check_async.py
  sdk/cosmos/azure-cosmos/tests/test_location_cache.py
  sdk/cosmos/azure-cosmos/tests/test_service_retry_policies_async.py
Labels: Cosmos

#40608 Sync eng/common directory with azure-sdk-tools for PR 10287
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#40562 remove duplicate __init__ docstring in AutoLockRenewer
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/auto_lock_renewer.py
Labels: Service Bus, customer-reported, Community Contribution

#39897 Cosmos Diagnostics Logging Filters and optimizations.
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_http_logging_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_diagnostics_handler.py
  sdk/cosmos/azure-cosmos/samples/diagnostics_filter_sample.py
  sdk/cosmos/azure-cosmos/samples/diagnostics_handler_sample.py
  sdk/cosmos/azure-cosmos/tests/test_cosmos_http_logging_policy.py
Labels: Cosmos

#39929 Added DocumentRetrievalEvaluator to Azure AI Evaluation to support evaluation of document search
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_document_retrieval/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_document_retrieval/_document_retrieval.py
  sdk/evaluation/azure-ai-evaluation/cspell.json
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_evaluate.py
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_threshold.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/data/bad_input_document_retrieval_evaluation.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/unittests/data/beir_document_retrieval_evaluation.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_document_retrieval_evaluator.py
Labels: Evaluation

#40520 [RedTeam] Call evaluate_with_rai_service instead of evaluate
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_utils/metric_mapping.py
Labels: Evaluation

#40556 Allow for alphanumeric in column mapping
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/data/evaluate_test_data_alphanumeric.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
Labels: Evaluation

#40623 Add async support for _SafetyEvaluation
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_safety_evaluation/_safety_evaluation.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_safety_evaluation.py
Labels: Evaluation

#40589 update evaluation sdk tsg to include section for redteam, recent github issues
  sdk/evaluation/azure-ai-evaluation/TROUBLESHOOTING.md
Labels: Evaluation

#40629 [AI] [Projects] Add Connected Agent Tool definition and sample
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_connected_agent.py
Labels: AI

#40635 Add CodeVulnerabilityEvaluator and UngroundedAttributesEvaluator to _SafetyEvaluation
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_safety_evaluation/_safety_evaluation.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_safety_evaluation.py
Labels: Evaluation

#40613 [Identity] Deprecate VisualStudioCodeCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/tests/test_vscode_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential_async.py
Labels: Azure.Identity

#40634 [Storage] [STG 98] Fixed User Delegation SAS String to Sign
  .vscode/cspell.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/shared_access_signature.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/shared_access_signature.py
Labels: Storage

#40580 Pin major version of external dependencies
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/setup.py
Labels: Machine Learning

#40638 Sync eng/common directory with azure-sdk-tools for PR 10400
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#40616 Push updates from the latest typespec
  sdk/ai/azure-ai-assistants/README.md
  sdk/ai/azure-ai-assistants/apiview-properties.json
  sdk/ai/azure-ai-assistants/azure/ai/assistants/_operations/_operations.py
  sdk/ai/azure-ai-assistants/azure/ai/assistants/_patch.py
  sdk/ai/azure-ai-assistants/azure/ai/assistants/aio/_operations/_operations.py
  sdk/ai/azure-ai-assistants/azure/ai/assistants/aio/_patch.py
  sdk/ai/azure-ai-assistants/azure/ai/assistants/models/__init__.py
  sdk/ai/azure-ai-assistants/azure/ai/assistants/models/_enums.py
  sdk/ai/azure-ai-assistants/azure/ai/assistants/models/_models.py
  sdk/ai/azure-ai-assistants/azure/ai/assistants/models/_patch.py
  sdk/ai/azure-ai-assistants/samples/async_samples/sample_assistants_basics_async.py
  sdk/ai/azure-ai-assistants/samples/sample_assistants_basics.py
  sdk/ai/azure-ai-assistants/samples/sample_assistants_bing_custom_search.py
  sdk/ai/azure-ai-assistants/samples/sample_assistants_openapi.py
  sdk/ai/azure-ai-assistants/tests/conftest.py
  sdk/ai/azure-ai-assistants/tests/test_assistants_client.py
  sdk/ai/azure-ai-assistants/tests/test_assistants_client_async.py
  sdk/ai/azure-ai-assistants/tsp-location.yaml
Labels: AI

#40612 adding tool call tracing
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_utils.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_ai_agents_instrumentor_async.py
Labels: AI

#40646 Sync eng/common directory with azure-sdk-tools for PR 10377
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#40637 Adding async sample and updating sync samples for evaluation
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/models/_patch.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/models/_patch_evaluations.py
  sdk/ai/azure-ai-projects-onedp/cspell.json
  sdk/ai/azure-ai-projects-onedp/samples/evaluation/sample_evaluations.py
  sdk/ai/azure-ai-projects-onedp/samples/evaluation/sample_evaluations_async.py
Labels: AI

#40340 Adding Throughput Bucket Header
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/http_constants.py
  sdk/cosmos/azure-cosmos/samples/throughput_bucket_management.py
  sdk/cosmos/azure-cosmos/samples/throughput_bucket_management_async.py
  sdk/cosmos/azure-cosmos/tests/test_headers.py
  sdk/cosmos/azure-cosmos/tests/test_headers_async.py
Labels: Cosmos

#40659 Bring over enable telemetry method
  .vscode/cspell.json
  sdk/ai/azure-ai-projects-onedp/README.md
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/_patch.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/_patch_prompts.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/_patch_telemetry.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/_patch.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/_patch.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/_patch_agents_async.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/_patch_datasets_async.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/models/_enums.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_patch.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_patch_agents.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_patch_datasets.py
  sdk/ai/azure-ai-projects-onedp/samples/agents/sample_get_agents_client.py
  sdk/ai/azure-ai-projects-onedp/samples/agents/sample_get_agents_client_async.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/sample_chat_completions_with_azure_ai_inference_client_and_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/sample_chat_completions_with_azure_ai_inference_client_and_console_tracing.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/sample_chat_completions_with_azure_openai_client_and_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects-onedp/samples/inference/sample_chat_completions_with_azure_openai_client_and_console_tracing.py
Labels: AI

#40661 Rename runId to run_id
  sdk/ai/azure-ai-agents/azure/ai/agents/_operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-agents/samples/async_samples/sample_agents_basics_async.py
  sdk/ai/azure-ai-agents/samples/async_samples/sample_agents_code_interpreter_attachment_enterprise_search_async.py
  sdk/ai/azure-ai-agents/samples/async_samples/sample_agents_with_file_search_attachment_async.py
  sdk/ai/azure-ai-agents/samples/multiagent/agent_team.py
  sdk/ai/azure-ai-agents/samples/sample_agents_bing_grounding.py
  sdk/ai/azure-ai-agents/samples/sample_agents_code_interpreter.py
  sdk/ai/azure-ai-agents/samples/sample_agents_functions.py
  sdk/ai/azure-ai-agents/samples/sample_agents_stream_eventhandler.py
  sdk/ai/azure-ai-agents/samples/sample_agents_stream_eventhandler_with_bing_grounding.py
  sdk/ai/azure-ai-agents/samples/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-agents/samples/sample_agents_stream_iteration_with_bing_grounding.py
  sdk/ai/azure-ai-agents/samples/sample_agents_stream_with_base_override_eventhandler.py
  sdk/ai/azure-ai-agents/samples/sample_agents_with_code_interpreter_file_attachment.py
  sdk/ai/azure-ai-agents/tests/conftest.py
  sdk/ai/azure-ai-agents/tests/test_agents_client.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_async.py
  sdk/ai/azure-ai-agents/tests/test_agents_mock.py
  sdk/ai/azure-ai-agents/tests/test_agents_mock_async.py
  sdk/ai/azure-ai-agents/tests/test_agents_mock_overloads.py
  sdk/ai/azure-ai-agents/tests/test_overload_assert.py
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI

#40671 Pin major version of external dependencies - hotfix release 1.26.4
  sdk/ml/azure-ai-ml/setup.py
Labels: Machine Learning

#40673 Updating changelog for Pin major version of external dependencies
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#40660 Rename runId to run_id
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/azure/ai/projects/_client.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_model_base.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_serialization.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_client.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#40658 fix broken link in samples readme
  sdk/cosmos/azure-cosmos/samples/README.md
Labels: Cosmos

#40206 [Storage] [Named Keywords] [Blob] `_blob_client.py` and aio
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
Labels: Storage

#40675 Regenerating Python SDK for 2024-12-09 Preview version to apply fix f…
  sdk/confidentialledger/azure-confidentialledger/assets.json
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_client.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_configuration.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_operations/_operations.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_utils/__init__.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_utils/serialization.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_utils/utils.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/aio/_client.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/aio/_configuration.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/aio/_operations/_operations.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/aio/_operations/_patch.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_client.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_operations/_operations.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_utils/__init__.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_utils/serialization.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/_utils/utils.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/aio/_client.py
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/certificate/aio/_operations/_operations.py
  sdk/confidentialledger/azure-confidentialledger/samples/get_and_verify_receipt.py
  sdk/confidentialledger/azure-confidentialledger/tests/test_confidential_ledger_client.py
Labels: Confidential Ledger

#40655 Howie/max retry 2
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/azure_ai_projects_tests.env
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_connected_agent.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_models.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_models_async.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_operations.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_operations_async.py
  sdk/ai/azure-ai-projects/tests/agents/test_overload_assert.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_ai_agents_instrumentor.py
Labels: AI

#40681 Beta10 release of Python Projects SDK
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/azure/ai/projects/_client.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_model_base.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_serialization.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_version.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_client.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_utils.py
  sdk/ai/azure-ai-projects/azure_ai_projects_tests.env
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_connected_agent.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_models.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_models_async.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_operations.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_operations_async.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
  sdk/ai/azure-ai-projects/tests/agents/test_overload_assert.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_ai_agents_instrumentor_async.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#39802 Bugfix/better error for simulations
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
Labels: Evaluation

#40657 [Storage] Enabled soft delete in ARM template
  sdk/storage/test-resources.json
Labels: Storage

#40688 Updating changelog with release date
  sdk/confidentialledger/azure-confidentialledger/CHANGELOG.md
Labels: Confidential Ledger

#40689 Adding new changes for Metrics on Upload Eval
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/aio/operations/_operations.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/models/_models.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/operations/_operations.py
Labels: Evaluation

#40693 Increment version for confidentialledger releases
  sdk/confidentialledger/azure-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/azure-confidentialledger/azure/confidentialledger/_version.py
Labels: Confidential Ledger

#40691 Sync eng/common directory with azure-sdk-tools for PR 10432
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: EngSys, Central-EngSys

#40685 Add Agents artifact to CI/CD
  sdk/ai/ci.yml
Labels: AI

#40702 Re-emit from latest TypeSpec
  .vscode/cspell.json
  sdk/ai/azure-ai-projects-onedp/README.md
  sdk/ai/azure-ai-projects-onedp/apiview-properties.json
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/_client.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/_configuration.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/_patch.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/_patch_telemetry.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/_client.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/_configuration.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/_patch.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/__init__.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/_operations.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/aio/operations/_patch_datasets_async.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/models/__init__.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/models/_enums.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/models/_models.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/models/_patch_evaluations.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/__init__.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_operations.py
  sdk/ai/azure-ai-projects-onedp/azure/ai/projects/onedp/operations/_patch_datasets.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_connections_operations.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_connections_operations_async.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_datasets_operations.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_datasets_operations_async.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_evaluations_operations.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_evaluations_operations_async.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_indexes_operations.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_indexes_operations_async.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_red_teams_operations.py
  sdk/ai/azure-ai-projects-onedp/generated_tests/test_ai_project_red_teams_operations_async.py
  sdk/ai/azure-ai-projects-onedp/samples/evaluation/sample_evaluations.py
  sdk/ai/azure-ai-projects-onedp/samples/evaluation/sample_evaluations_async.py
  sdk/ai/azure-ai-projects-onedp/samples/indexes/sample_indexes.py
  sdk/ai/azure-ai-projects-onedp/tsp-location.yaml
Labels: AI

#40700 Add Log Handler Filter To workload tests to reduce logging noise
  sdk/cosmos/azure-cosmos/tests/workloads/workload_utils.py
Labels: Cosmos

#40619 Make batch deployment subclasses GA
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_deployment/batch/model_batch_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/_deployment/batch/pipeline_component_batch_deployment_schema.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/batch_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/model_batch_deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/model_batch_deployment_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/pipeline_component_batch_deployment.py
  sdk/ml/azure-ai-ml/tests/batch_online_common/unittests/test_deployment_entity.py
  sdk/ml/azure-ai-ml/tests/batch_online_common/unittests/test_model_batch_deployment.py
  sdk/ml/azure-ai-ml/tests/batch_online_common/unittests/test_pipeline_component_bach_deployment.py
  sdk/ml/azure-ai-ml/tests/test_configs/deployments/batch/pipeline_component_batch_deployment.yml
Labels: Machine Learning
