Repository Azure/azure-sdk-for-python, pull requests merged in 2025-08, with the labels that each got.

#42322 bump typespec-python 0.47.2
  eng/emitter-package-lock.json
  eng/emitter-package.json
Labels: Created by copilot

#42319 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#42307 Fix mcp contract.
  sdk/ai/azure-ai-agents/apiview-properties.json
  sdk/ai/azure-ai-agents/azure/ai/agents/_client.py
  sdk/ai/azure-ai-agents/azure/ai/agents/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/_types.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_client.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_models.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_utils.py
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI Agents

#42339 Sync eng/common directory with azure-sdk-tools for PR 11493
  eng/common/mcp/README.md
Labels: EngSys, Central-EngSys

#42123 Customer Facing Statsbeat: Updated base and storage to include the metrices for customer statsbeat
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/_base.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_customer_statsbeat.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_customer_statsbeat.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_base_exporter.py
Labels: Monitor - Exporter

#42335 Envoy Workload Improvements
  sdk/cosmos/azure-cosmos/tests/workloads/custom_tcp_connector.py
  sdk/cosmos/azure-cosmos/tests/workloads/dev.md
  sdk/cosmos/azure-cosmos/tests/workloads/envoy/envoy_complex_config.yaml
  sdk/cosmos/azure-cosmos/tests/workloads/envoy/envoy_documentation.md
  sdk/cosmos/azure-cosmos/tests/workloads/envoy/generate_envoy_config.sh
  sdk/cosmos/azure-cosmos/tests/workloads/envoy/templates/envoy_complex_config.yaml
  sdk/cosmos/azure-cosmos/tests/workloads/envoy/templates/envoy_simple_config.yaml
  sdk/cosmos/azure-cosmos/tests/workloads/r_proxy_workload.py
  sdk/cosmos/azure-cosmos/tests/workloads/r_w_q_proxy_workload.py
  sdk/cosmos/azure-cosmos/tests/workloads/r_w_q_sync_workload.py
  sdk/cosmos/azure-cosmos/tests/workloads/r_w_q_with_incorrect_client_workload.py
  sdk/cosmos/azure-cosmos/tests/workloads/r_workload.py
  sdk/cosmos/azure-cosmos/tests/workloads/shutdown_workloads.sh
  sdk/cosmos/azure-cosmos/tests/workloads/w_proxy_workload.py
  sdk/cosmos/azure-cosmos/tests/workloads/workload_configs.py
  sdk/cosmos/azure-cosmos/tests/workloads/workload_utils.py
Labels: Cosmos

#42341 Add delta classes for streaming
  sdk/ai/azure-ai-agents/apiview-properties.json
  sdk/ai/azure-ai-agents/azure/ai/agents/models/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_models.py
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI Agents

#42350 Change version number
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/azure/ai/agents/_version.py
Labels: AI Agents

#42356 Update code path docstring
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/code.py
Labels: Machine Learning

#42346 [Identity] Improve WorkloadIdentityCredential/DAC diagnosability
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/workload_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/workload_identity.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
Labels: Azure.Identity

#42268 Update deep research sample
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_deep_research_async.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_stream_eventhandler_with_mcp_async.py
  sdk/ai/azure-ai-agents/samples/agents_response_formats/sample_agents_json_object_response_format.py
  sdk/ai/azure-ai-agents/samples/agents_response_formats/sample_agents_json_schema_response_format.py
  sdk/ai/azure-ai-agents/samples/agents_response_formats/sample_agents_text_response_format.py
  sdk/ai/azure-ai-agents/samples/agents_streaming/sample_agents_stream_iteration_with_mcp.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_with_console_tracing_custom_attributes.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_deep_research.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_enterprise_file_search.py
Labels: AI Agents

#42298 Groundedness for agents
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/_ai_services.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/_models.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_rai_svc_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_groundedness/_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/_tool_call_accuracy.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_exceptions.py
  sdk/evaluation/azure-ai-evaluation/tests/converters/ai_agent_converter/serialization_helper.py
  sdk/evaluation/azure-ai-evaluation/tests/converters/ai_agent_converter/test_ai_agent_converter_internals.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_built_in_evaluator.py
Labels: Evaluation

#42368 Sync eng/common directory with azure-sdk-tools for PR 10749
  eng/common/TestResources/TestResources-Helpers.ps1
Labels: EngSys, Central-EngSys

#42376 combine change log
  sdk/ai/azure-ai-agents/CHANGELOG.md
Labels: AI Agents

#42383 Update method name to get Application Insights connection string
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_stream_eventhandler_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_toolset_with_azure_monitor_tracing.py
Labels: AI Agents

#42374 Sync eng/common directory with azure-sdk-tools for PR 11531
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#42396 Sync eng/common directory with azure-sdk-tools for PR 11547
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#42100 [Storage] [Named Keywords] File Share Package
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_download.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_lease.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_lease.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_download_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_lease_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_lease_async.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.pyi
Labels: Storage

#42395 Add connected agent tool to python code.
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/apiview-properties.json
  sdk/ai/azure-ai-agents/assets.json
  sdk/ai/azure-ai-agents/azure/ai/agents/models/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_models.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_multiple_connected_agents.py
  sdk/ai/azure-ai-agents/tests/test_agents_client.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_async.py
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI Agents

#42408 [Storage] Regenerated code for STG 99 GA Release, adding `apiview-properties.json` file
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/apiview-properties.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/apiview-properties.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/apiview-properties.json
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/apiview-properties.json
Labels: Storage

#42320 Adding Support for Json Comments
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_json.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_json.py
Labels: App Configuration Provider

#42432 App Configuration Provider 2.2.0 Release
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
Labels: App Configuration Provider

#42173 [Storage] [STG 100] List Blobs Flat + Hierarchal `start_from`
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_azure_blob_storage.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_azure_blob_storage.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_append_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
Labels: Storage

#42437 [Storage] Merge Blob + File Share Named Keywords to STG 99 Release Branch
  sdk/storage/azure-storage-blob/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.pyi
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.pyi
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.pyi
  sdk/storage/azure-storage-blob/azure/storage/blob/_lease.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_lease.pyi
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.pyi
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.pyi
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.pyi
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_lease_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_lease_async.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_directory_client.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_download.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_lease.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_lease.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_directory_client_async.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_download_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_lease_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_lease_async.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.pyi
Labels: Storage

#42440 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
Labels: App Configuration Provider

#42439 Add tests for Agent Browser Automation tool
  sdk/ai/azure-ai-agents/assets.json
  sdk/ai/azure-ai-agents/azure_ai_agents_tests.env
  sdk/ai/azure-ai-agents/cspell.json
  sdk/ai/azure-ai-agents/tests/conftest.py
  sdk/ai/azure-ai-agents/tests/test_agents_client.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_async.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_base.py
Labels: AI Agents

#42443 Remove duplicate redacted/unredacted console logs
  sdk/ai/azure-ai-projects/azure/ai/projects/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_patch.py
Labels: AI Projects

#42412 [evaluation] add deprecation warning for AdversarialSimulator
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
Labels: Evaluation

#42359 Add support for Built-in Tools for the Tool Call Accuracy Evaluator
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/_models.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/_tool_call_accuracy.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/tool_call_accuracy.prompty
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_tool_call_accuracy_evaluator.py
Labels: customer-reported, Community Contribution, Evaluation

#42360 Implement Onesettings control plane - part 1
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_configuration/__init__.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_configuration/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_configuration/_worker.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/_base.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/configuration/__init__.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/configuration/test_manager.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/configuration/test_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_base_exporter.py
Labels: Monitor - Exporter

#42481 Set release dates and other minor update to the change log in prep for Agents SDK release 1.2.0b2
  sdk/ai/azure-ai-agents/CHANGELOG.md
Labels: AI Agents

#42463 [Identity] Update MI live test resources
  sdk/identity/test-resources-pre.ps1
  sdk/identity/test-resources.bicep
Labels: Azure.Identity

#42485 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#42364 enable mypy+type_check_samples for communication libraries
  sdk/communication/azure-communication-callautomation/pyproject.toml
  sdk/communication/azure-communication-chat/pyproject.toml
  sdk/communication/azure-communication-email/pyproject.toml
  sdk/communication/azure-communication-jobrouter/pyproject.toml
  sdk/communication/azure-communication-messages/pyproject.toml
  sdk/communication/azure-communication-rooms/pyproject.toml
Labels: Communication - Chat, Communication - Rooms, Communication - Job Router, Communication - Email, Communication - Messages, Communication - Call Automation

#42487 [evaluation] update changelog and link to aka for adversarialsimulator deprecation
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
Labels: Evaluation

#42492 Generate code for the activity step and add it to samples.
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/apiview-properties.json
  sdk/ai/azure-ai-agents/azure/ai/agents/_utils/model_base.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_enums.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_models.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_operations.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_vector_store_enterprise_file_search_async.py
  sdk/ai/azure-ai-agents/samples/agents_streaming/sample_agents_stream_iteration_with_mcp.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_enterprise_file_search.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_mcp.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_multiple_connected_agents.py
  sdk/ai/azure-ai-agents/tests/conftest.py
  sdk/ai/azure-ai-agents/tests/test_agents_client.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_async.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_base.py
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI Agents

#42508 Refactor one settings config manager
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_configuration/__init__.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_configuration/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_configuration/_worker.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/configuration/test_manager.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/configuration/test_utils.py
Labels: Monitor - Exporter

#42510 Add run step delta for cusom bing search
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/apiview-properties.json
  sdk/ai/azure-ai-agents/assets.json
  sdk/ai/azure-ai-agents/azure/ai/agents/models/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_models.py
  sdk/ai/azure-ai-agents/azure_ai_agents_tests.env
  sdk/ai/azure-ai-agents/samples/agents_streaming/sample_agents_stream_eventhandler_with_bing_grounding.py
  sdk/ai/azure-ai-agents/samples/agents_streaming/sample_agents_stream_iteration_with_bing_grounding.py
  sdk/ai/azure-ai-agents/samples/agents_streaming/sample_agents_stream_iteration_with_mcp.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_bing_custom_search.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_bing_grounding.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_mcp.py
  sdk/ai/azure-ai-agents/tests/conftest.py
  sdk/ai/azure-ai-agents/tests/test_agents_client.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_async.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_base.py
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI Agents

#42533 [Test proxy] Remove migration guide
  doc/dev/test_proxy_migration_guide.md
  doc/dev/test_proxy_troubleshooting.md
  doc/dev/tests.md
Labels: test-proxy

#42535 [Identity] Disable prompts on AZD Credential token commands
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/tests/test_azd_cli_credential.py
  sdk/identity/azure-identity/tests/test_azd_cli_credential_async.py
Labels: Azure.Identity

#42393 Session Token False Progress
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_constants.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_vector_session_token.py
  sdk/cosmos/azure-cosmos/tests/test_session_token_unit.py
Labels: Cosmos

#42548 Fix run hanging when MCP approval is required.
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_patch.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_mcp_async.py
Labels: AI Agents

#42544 Modify max_completion_tokens parameter for tool call accuracy evaluator
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/tool_call_accuracy.prompty
Labels: customer-reported, Community Contribution, Evaluation

#42282 [Storage] [STG 100] Blob Set/Get Tags Conditional Headers
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/apiview-properties.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client_helpers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models_py3.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/tests/test_blob_tags.py
  sdk/storage/azure-storage-blob/tests/test_blob_tags_async.py
Labels: Storage

#42167 ReadManyItems API
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/base_execution_context.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_query_builder.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_read_items_helper.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/routing_range.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_read_items_helper_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/exceptions.py
  sdk/cosmos/azure-cosmos/samples/read_items_sample.py
  sdk/cosmos/azure-cosmos/samples/read_items_sample_async.py
  sdk/cosmos/azure-cosmos/tests/test_read_items.py
  sdk/cosmos/azure-cosmos/tests/test_read_items_async.py
  sdk/cosmos/azure-cosmos/tests/test_read_items_partition_split.py
  sdk/cosmos/azure-cosmos/tests/test_read_items_partition_split_async.py
Labels: Cosmos

#42589 Sync eng/common directory with azure-sdk-tools for PR 11726
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Labels: EngSys, Central-EngSys

#42566 Fix broken links
  doc/dev/mgmt/generating-integration-test.md
  doc/dev/mgmt/multiapi.md
  doc/dev/mgmt/tests.md
  scripts/quickstart_tooling_dpg/template_tests/conftest.py
  sdk/batch/azure-batch/tests/decorators.py
  sdk/webpubsub/azure-messaging-webpubsubservice/tests/STATE_OF_TESTS.md
  tools/azure-sdk-tools/devtools_testutils/aio/proxy_testcase_async.py
  tools/azure-sdk-tools/devtools_testutils/azure_recorded_testcase.py
  tools/azure-sdk-tools/devtools_testutils/mgmt_recorded_testcase.py
  tools/azure-sdk-tools/devtools_testutils/proxy_fixtures.py
  tools/azure-sdk-tools/devtools_testutils/proxy_testcase.py
Labels: Batch, WebPubSub

#42603 [Storage] [STG 100] Regenerated Some Code
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_container_operations.py
  sdk/storage/azure-storage-file-datalake/azure/apiview-properties.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_azure_data_lake_storage_restapi.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/_configuration.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/_azure_data_lake_storage_restapi.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/_configuration.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_file_system_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_file_system_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_path_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/apiview-properties.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/__init__.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_azure_file_storage_enums.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_file_operations.py
Labels: Storage

#42609 Update typespec
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI Agents

#42612 Sync eng/common directory with azure-sdk-tools for PR 11741
  eng/common/pipelines/templates/steps/mark-release-completion.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#42614 Distro release 1.7.0
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#42266 Staging signoff fixes
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_constants.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/hybrid_search_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/non_streaming_order_by_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/hybrid_search_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/non_streaming_order_by_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_global_partition_endpoint_manager_circuit_breaker.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/aio/routing_map_provider.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/routing_map_provider.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_session.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_global_partition_endpoint_manager_circuit_breaker_async.py
  sdk/cosmos/azure-cosmos/tests/conftest.py
  sdk/cosmos/azure-cosmos/tests/test_change_feed_async.py
  sdk/cosmos/azure-cosmos/tests/test_computed_properties_async.py
  sdk/cosmos/azure-cosmos/tests/test_config.py
  sdk/cosmos/azure-cosmos/tests/test_container_properties_cache_async.py
  sdk/cosmos/azure-cosmos/tests/test_crud_async.py
  sdk/cosmos/azure-cosmos/tests/test_crud_response_payload_on_write_disabled_async.py
  sdk/cosmos/azure-cosmos/tests/test_crud_subpartition_async.py
  sdk/cosmos/azure-cosmos/tests/test_effective_preferred_locations.py
  sdk/cosmos/azure-cosmos/tests/test_excluded_locations.py
  sdk/cosmos/azure-cosmos/tests/test_excluded_locations_async.py
  sdk/cosmos/azure-cosmos/tests/test_latest_session_token.py
  sdk/cosmos/azure-cosmos/tests/test_latest_session_token_async.py
  sdk/cosmos/azure-cosmos/tests/test_per_partition_circuit_breaker_mm.py
  sdk/cosmos/azure-cosmos/tests/test_query.py
  sdk/cosmos/azure-cosmos/tests/test_query_feed_range_async.py
  sdk/cosmos/azure-cosmos/tests/test_routing_map.py
  sdk/cosmos/azure-cosmos/tests/test_session.py
  sdk/cosmos/azure-cosmos/tests/test_session_async.py
  sdk/cosmos/azure-cosmos/tests/test_utils.py
  sdk/cosmos/cosmos-staging.yml
Labels: Cosmos

#42588 [Storage] [STG 100] Queue User Delegation Key + Security Principal Bound Identity SAS
  sdk/storage/azure-storage-queue/assets.json
  sdk/storage/azure-storage-queue/azure/apiview-properties.json
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/_azure_queue_storage.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/_configuration.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/_azure_queue_storage.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/_configuration.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/models/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/models/_models_py3.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_message_id_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_messages_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_queue_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
Labels: Storage

#42585 [Storage] [STG 100] Files Principal Bound SAS + User Delegation SAS
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared_access_signature.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
Labels: Storage

#42628 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#42608 Fix bug with container name with spaces
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/tests/test_session.py
  sdk/cosmos/azure-cosmos/tests/test_session_async.py
Labels: Cosmos

#42623 Add SharePoint delta tool call.
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/apiview-properties.json
  sdk/ai/azure-ai-agents/assets.json
  sdk/ai/azure-ai-agents/azure/ai/agents/models/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_models.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_patch.py
  sdk/ai/azure-ai-agents/azure_ai_agents_tests.env
  sdk/ai/azure-ai-agents/cspell.json
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_browser_automation.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_fabric.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_sharepoint.py
  sdk/ai/azure-ai-agents/tests/conftest.py
  sdk/ai/azure-ai-agents/tests/test_agents_client.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_async.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_base.py
  sdk/ai/azure-ai-agents/tests/test_models.py
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI Agents

#42649 Sync eng/common directory with azure-sdk-tools for PR 11801
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#42592 Make component type insensitive
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_util.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_utils.py
Labels: Machine Learning

#42647 [Storage] [STG 100] Datalake Security Principal Bound Identity SAS
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
Labels: Storage

#42670 Teams Phone Call Details issue resolved.
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
Labels: Communication - Call Automation

#42678 Prep for next version
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/azure/ai/agents/_version.py
Labels: AI Agents

#42407 Release/azure communication phonenumbers 1.4.0
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-phonenumbers/assets.json
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_api_versions.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/_configuration.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/aio/_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/aio/_configuration.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/models/_enums.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/models/_models.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/operations/_operations.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_version.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/aio/_phone_numbers_client_async.py
  sdk/communication/azure-communication-phonenumbers/swagger/PHONE_NUMBER_SWAGGER.md
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client_async.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_operations.py
Labels: Communication - Phone Numbers

#42677 Populating `whl` and `imports` entrypoint
  .gitignore
  eng/tools/azure-sdk-tools/README.md
  eng/tools/azure-sdk-tools/azpysdk/Check.py
  eng/tools/azure-sdk-tools/azpysdk/import_all.py
  eng/tools/azure-sdk-tools/azpysdk/main.py
  eng/tools/azure-sdk-tools/azpysdk/whl.py
  eng/tools/azure-sdk-tools/ci_tools/functions.py
  eng/tools/azure-sdk-tools/ci_tools/scenario/__init__.py
  eng/tools/azure-sdk-tools/ci_tools/scenario/generation.py
  eng/tools/azure-sdk-tools/ci_tools/variables.py
  eng/tox/import_all.py
  scripts/devops_tasks/common_tasks.py
  scripts/devops_tasks/tox_harness.py
  tools/azure-sdk-tools/tests/test_versioning.py
Labels: KeyVault

#42704 Sync eng/common directory with azure-sdk-tools for PR 11840
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Labels: EngSys, Central-EngSys

#42702 Prep for release of Python Projects SDK version 1.1.0b3
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/setup.py
Labels: AI Projects

#42680 Fix failing storage tests
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/storage/azure-storage-blob/tests/test_append_blob.py
  sdk/storage/azure-storage-blob/tests/test_append_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_helpers.py
  sdk/storage/azure-storage-blob/tests/test_helpers_async.py
Labels: Storage

#42698 Fix telemetry issues.
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/assets.json
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-agents/tests/test_ai_agents_instrumentor.py
  sdk/ai/azure-ai-agents/tests/test_ai_agents_instrumentor_async.py
Labels: AI Agents

#42080 Add Voice Live SDK (preview)
  .github/CODEOWNERS
  .vscode/cspell.json
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/steps/run_mypy.yml
  sdk/ai/azure-ai-voicelive/.env.template
  sdk/ai/azure-ai-voicelive/CHANGELOG.md
  sdk/ai/azure-ai-voicelive/LICENSE
  sdk/ai/azure-ai-voicelive/MANIFEST.in
  sdk/ai/azure-ai-voicelive/README.md
  sdk/ai/azure-ai-voicelive/_metadata.json
  sdk/ai/azure-ai-voicelive/apiview-properties.json
  sdk/ai/azure-ai-voicelive/azure/__init__.py
  sdk/ai/azure-ai-voicelive/azure/ai/__init__.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/__init__.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/_operations/__init__.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/_operations/_operations.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/_patch.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/_types.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/_utils/__init__.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/_utils/model_base.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/_utils/serialization.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/_utils/utils.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/_version.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/aio/__init__.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/aio/_operations/__init__.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/aio/_operations/_operations.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/aio/_patch.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/models/__init__.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/models/_enums.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/models/_models.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/py.typed
  sdk/ai/azure-ai-voicelive/dev_requirements.txt
  sdk/ai/azure-ai-voicelive/samples/BASIC_VOICE_ASSISTANT.md
  sdk/ai/azure-ai-voicelive/samples/README.md
  sdk/ai/azure-ai-voicelive/samples/basic_voice_assistant.py
  sdk/ai/azure-ai-voicelive/samples/basic_voice_assistant_async.py
  sdk/ai/azure-ai-voicelive/samples/utils.py
  sdk/ai/azure-ai-voicelive/setup.py
  sdk/ai/azure-ai-voicelive/tests/__init__.py
  sdk/ai/azure-ai-voicelive/tests/test_smoke.py
  sdk/ai/azure-ai-voicelive/tsp-location.yaml
  sdk/ai/ci.yml
  sdk/ai/platform-matrix.json
Labels: AI

#42732 remove kwargs from docstrings (#42729)
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/asset.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/synapsespark_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/automl_image.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/automl_image_classification_base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/automl/image/image_instance_segmentation_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/command_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/data_transfer/data_transfer_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_service.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parameterized_command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/parameterized_spark.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/queue_settings.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/sweep/sweep_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_schedule/schedule.py
Labels: Machine Learning

#42739 Fix MCP serialization for telemetry. Add unit tests.
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/assets.json
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-agents/tests/gen_ai_trace_verifier.py
  sdk/ai/azure-ai-agents/tests/test_agents_client.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_async.py
  sdk/ai/azure-ai-agents/tests/test_ai_agents_instrumentor.py
  sdk/ai/azure-ai-agents/tests/test_ai_agents_instrumentor_async.py
  sdk/ai/azure-ai-agents/tests/test_ai_instrumentor_base.py
Labels: AI Agents

#42754 Remove pod identity content from TSG
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#42466 Bugfix/aoai row mismatch
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate_aoai.py
  sdk/evaluation/azure-ai-evaluation/cspell.json
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_aoai_alignment_missing_rows.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_aoai_evaluation_pagination.py
Labels: Evaluation

#42768 [Agents] add static merge_resources method to McpTool class
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_patch.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_multiple_mcp.py
Labels: AI Agents

#42711 Added Red Team tests and pushed new recordings
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/tests/test_base.py
  sdk/ai/azure-ai-projects/tests/test_redteams.py
  sdk/ai/azure-ai-projects/tests/test_redteams_async.py
Labels: AI Projects

#42785 Sync eng/common directory with azure-sdk-tools for PR 11905
  eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Labels: EngSys, Central-EngSys

#42769 [Storage] Added back `download_blob` overloads to fix API Views
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
Labels: Storage
