Repository Azure/azure-sdk-for-python, pull requests merged in 2025-09, with the labels that each got.

#42801 update release date
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#42810 [Cosmos] fix: add ability to replace indexing policies with vector indexes
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/tests/test_vector_policy.py
  sdk/cosmos/azure-cosmos/tests/test_vector_policy_async.py
Labels: Cosmos

#42787 Fix hybrid text query with parameters
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/execution_dispatcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/hybrid_search_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/execution_dispatcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/hybrid_search_aggregator.py
  sdk/cosmos/azure-cosmos/tests/test_query_hybrid_search.py
  sdk/cosmos/azure-cosmos/tests/test_query_hybrid_search_async.py
Labels: Cosmos

#42826 Fix dependency issue with RunStepFunctionToolCall
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/_models.py
Labels: Evaluation

#42856 Add missing code to `samples\agents_tools\sample_agents_auto_function_call.py` to set `sys.path`
  sdk/ai/azure-ai-agents/samples/agents_async/utils/user_async_functions.py
  sdk/ai/azure-ai-agents/samples/agents_streaming/sample_agents_stream_eventhandler_with_functions.py
  sdk/ai/azure-ai-agents/samples/agents_streaming/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-agents/samples/agents_streaming/sample_agents_stream_iteration_with_functions.py
  sdk/ai/azure-ai-agents/samples/agents_streaming/sample_agents_stream_iteration_with_toolset.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_auto_function_call.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_functions.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_logic_apps.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_run_with_toolset.py
Labels: AI Agents

#42721 [Identity] Update tenant resolution logic
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_internal/utils.py
  sdk/identity/azure-identity/tests/test_device_code_credential.py
Labels: Azure.Identity

#42853 Increment version for evaluation release
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
Labels: Evaluation

#42747 [Bug Fix] None and Null Partititon Key Improvements
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_read_items_helper_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/partition_key.py
  sdk/cosmos/azure-cosmos/docs/PartitionKeys.md
  sdk/cosmos/azure-cosmos/tests/test_partition_key.py
  sdk/cosmos/azure-cosmos/tests/test_partition_key_async.py
  sdk/cosmos/azure-cosmos/tests/test_query.py
  sdk/cosmos/azure-cosmos/tests/test_query_async.py
  sdk/cosmos/test-resources.bicep
Labels: Cosmos

#42868 Fix typos in azure-ai-inference samples
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_structured_output.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_structured_output_pydantic.py
Labels: AI Model Inference

#42874 [Conv authoring] fix for api view20250515preview
  sdk/cognitivelanguage/azure-ai-language-conversations-authoring/azure/ai/language/conversations/authoring/aio/operations/_project_op_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations-authoring/azure/ai/language/conversations/authoring/models/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations-authoring/azure/ai/language/conversations/authoring/operations/_project_op_patch.py
Labels: Cognitive - Language

#42879 Sample for MCP in streaming
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_mcp_stream_eventhandler.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_mcp_stream_iteration.py
Labels: AI Agents

#42872 Updates & fixes to Agents samples that set `response_format`
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_json_schema_response_format_using_pydantic_async.py
  sdk/ai/azure-ai-agents/samples/agents_response_formats/sample_agents_json_object_response_format.py
  sdk/ai/azure-ai-agents/samples/agents_response_formats/sample_agents_json_schema_response_format.py
  sdk/ai/azure-ai-agents/samples/agents_response_formats/sample_agents_json_schema_response_format_using_pydantic.py
  sdk/ai/azure-ai-agents/samples/agents_response_formats/sample_agents_text_response_format.py
Labels: AI Agents

#42731 TokenCredentialCache: Adds a fallback mechanism to AAD scope override.
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_auth_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_constants.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_auth_policy_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/tests/test_aad.py
  sdk/cosmos/azure-cosmos/tests/test_aad_async.py
Labels: Cosmos

#42728 Support multiple open api and mcp for toolset.
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_patch.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_computer_use.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_multiple_mcp.py
  sdk/ai/azure-ai-agents/tests/test_agents_client.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_base.py
  sdk/ai/azure-ai-agents/tests/test_toolset_functions.py
Labels: AI Agents

#42969 Refactor customer sdk stats
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_generated/models/_models_py3.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_storage.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/_base.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_customer_sdkstats.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_state.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_statsbeat.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/customer/__init__.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/customer/_customer_sdkstats.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/customer/_manager.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/customer/_state.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/customer/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/customer_sdk_stats/test_customer_sdkstats.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/customer_sdk_stats/test_manager.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/customer_sdk_stats/test_utlities.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_customer_sdkstats.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_manager.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_statsbeat.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_base_customer_sdkstats.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_base_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_storage.py
Labels: Monitor - Exporter

#42997 [VoiceLive] Add LLMVoice and AzurePlatformVoice support, update endpoint to voice-live
  sdk/ai/azure-ai-voicelive/CHANGELOG.md
  sdk/ai/azure-ai-voicelive/apiview-properties.json
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/_patch.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/_types.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/_utils/model_base.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/_utils/serialization.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/aio/_patch.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/models/__init__.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/models/_models.py
  sdk/ai/azure-ai-voicelive/samples/async_function_calling_sample.py
  sdk/ai/azure-ai-voicelive/samples/basic_voice_assistant.py
  sdk/ai/azure-ai-voicelive/samples/basic_voice_assistant_async.py
  sdk/ai/azure-ai-voicelive/tests/test_smoke.py
Labels: Voice Live

#43007 Sync eng/common directory with azure-sdk-tools for PR 11931
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Labels: EngSys, Central-EngSys

#43012 Modified pinned version for opentelemetry-sdk
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/setup.py
Labels: Monitor - Distro

#43013 Distro release 1.8.1
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
Labels: Monitor - Distro

#43023 Modified order of opentelemetry dependencies to avoid build failures
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/setup.py
Labels: Monitor - Distro

#43009 Added scope override sample for fabric testing.
  sdk/cosmos/azure-cosmos/samples/access_fabric_with_overridenscope_aad.py
Labels: Cosmos

#43030 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#43028 [evaluation] pin duckdb version for redteam
  .vscode/cspell.json
  sdk/evaluation/azure-ai-evaluation/cspell.json
  sdk/evaluation/azure-ai-evaluation/setup.py
  sdk/evaluation/platform-matrix.json
Labels: Evaluation

#43047 Sync eng/common directory with azure-sdk-tools for PR 12124
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Labels: EngSys, Central-EngSys

#43049 [Key Vault] Clean up testing utilities
  sdk/keyvault/azure-keyvault-administration/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-administration/tests/_test_case.py
  sdk/keyvault/azure-keyvault-administration/tests/test_access_control_async.py
  sdk/keyvault/azure-keyvault-administration/tests/test_backup_client_async.py
  sdk/keyvault/azure-keyvault-administration/tests/test_examples_administration_async.py
  sdk/keyvault/azure-keyvault-administration/tests/test_settings_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_merge_certificate_async.py
  sdk/keyvault/azure-keyvault-keys/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-keys/tests/_test_case.py
  sdk/keyvault/azure-keyvault-keys/tests/test_challenge_auth_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_examples_crypto_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_samples_keys_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_samples_secrets_async.py
Labels: KeyVault, Client

#42571 Implement Path Efficiency Evaluator
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_path_efficiency/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_path_efficiency/_path_efficiency.py
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/path_efficiency.ipynb
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_evaluate.py
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_evaluate_fdp.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_path_efficiency_evaluators.py
Labels: customer-reported, Community Contribution, Evaluation

#42456 Add Task Success Evaluator V0
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_eval_mapping.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_success/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_success/_task_success.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_success/task_success.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_exceptions.py
  sdk/evaluation/azure-ai-evaluation/cspell.json
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/agent_evaluation.ipynb
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_evaluate.py
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_evaluate_fdp.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_aoai_score_model_grader.py
Labels: Evaluation

#43058 Sync eng/common directory with azure-sdk-tools for PR 11868
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Labels: EngSys, Central-EngSys

#43059 Sync eng/common directory with azure-sdk-tools for PR 12060
  eng/common/tsp-client/README.md
  eng/common/tsp-client/package-lock.json
  eng/common/tsp-client/package.json
Labels: EngSys, Central-EngSys

#43075 [VoiceLive] Relase 1.0.0b4
  sdk/ai/azure-ai-voicelive/CHANGELOG.md
  sdk/ai/azure-ai-voicelive/samples/basic_voice_assistant_async.py
Labels: Voice Live

#43074 [text authoring] updated changelog and readme
  sdk/cognitivelanguage/azure-ai-textanalytics-authoring/CHANGELOG.md
  sdk/cognitivelanguage/azure-ai-textanalytics-authoring/README.md
Labels: Cognitive - Language

#43026 [evaluation] feat: Configurable credentials for aoai graders
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/aoai_grader.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/label_grader.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/python_grader.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/score_model_grader.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/string_check_grader.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/text_similarity_grader.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_aoai_graders.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_aoai_integration_features.py
Labels: Evaluation

#42788 [Storage] Fixed STG 100 Beta API View Feedbacks (1/2)
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client.pyi
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.pyi
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.pyi
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.pyi
  sdk/storage/azure-storage-blob/tests/test_common_blob.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/__init__.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/_utils/serialization.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_models.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_client.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_share_service_client.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared_access_signature.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_client_async.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_share_service_client_async.pyi
  sdk/storage/azure-storage-file-share/tests/test_file_service_properties.py
  sdk/storage/azure-storage-file-share/tests/test_file_service_properties_async.py
  sdk/storage/azure-storage-file-share/tests/test_share.py
  sdk/storage/azure-storage-file-share/tests/test_share_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared_access_signature.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
  sdk/storage/azure-storage-queue/tests/test_queue.py
  sdk/storage/azure-storage-queue/tests/test_queue_async.py
Labels: Storage

#42951 Fixes issues #42897 - TypeError in _transmit_from_storage: LocalFileBlob.get() returns None but code expects iterable
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/_base.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_base_exporter.py
Labels: Monitor - Exporter

#42983 Sync eng/common directory with azure-sdk-tools for PR 12061
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#43032 Support Live metrics via OneSettings control plane
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_configuration/__init__.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_configuration/_state.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_configuration/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_configuration/_worker.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_manager.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_processor.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_state.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/_base.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_manager.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_statsbeat.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/customer/_manager.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/configuration/test_manager.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/configuration/test_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/configuration/test_worker.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/customer_sdk_stats/test_manager.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_manager.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_processor.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_manager.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_statsbeat.py
Labels: Monitor - Exporter

#43107 [evaluation] fix race condition when saving red team results
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
Labels: Evaluation

#43066 Adding customer sdkstats to feature statsbeat
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_state.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_statsbeat_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/customer/_customer_sdkstats.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_statsbeat.py
Labels: Monitor - Exporter

#41742 Added Response Headers to Control Plane Operations
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/offer.py
  sdk/cosmos/azure-cosmos/samples/container_management_async.py
  sdk/cosmos/azure-cosmos/samples/cosmos_responses_management.py
  sdk/cosmos/azure-cosmos/samples/cosmos_responses_management_async.py
  sdk/cosmos/azure-cosmos/samples/examples.py
  sdk/cosmos/azure-cosmos/samples/examples_async.py
  sdk/cosmos/azure-cosmos/samples/throughput_bucket_management_async.py
  sdk/cosmos/azure-cosmos/tests/test_cosmos_responses.py
  sdk/cosmos/azure-cosmos/tests/test_cosmos_responses_async.py
Labels: Cosmos

#43123 Sync eng/common directory with azure-sdk-tools for PR 12238
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Labels: EngSys, Central-EngSys

#42855 Add RunHandler to support MCP toolcall approval and manual function tool call for runs.create_and_process
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_patch.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_functions_in_create_and_process_async.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_mcp_in_create_and_process_async.py
  sdk/ai/azure-ai-agents/samples/agents_async/utils/user_async_functions.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_functions_in_create_and_process.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_mcp_in_create_and_process.py
  sdk/ai/azure-ai-agents/samples/utils/user_functions.py
  sdk/ai/azure-ai-agents/tests/test_agents_mock.py
  sdk/ai/azure-ai-agents/tests/test_agents_mock_async.py
Labels: AI Agents

#43136 Sync eng/common directory with azure-sdk-tools for PR 12235
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#43141 Fix spelling for OTEL_PYTHON_EXCLUDED_URLS in samples
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/sample_fastapi.py
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/samples/tracing/http_fastapi.py
  sdk/monitor/azure-monitor-opentelemetry/samples/tracing/http_requests.py
Labels: Monitor - Exporter, Monitor - Distro

#42905 App Config Provider - Load Order Change
  sdk/appconfiguration/azure-appconfiguration-provider/assets.json
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationproviderbase.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_client_manager.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_client_manager_base.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_async_client_manager.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/samples/async_connection_string_sample.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_azureappconfigurationproviderbase.py
Labels: App Configuration Provider

#43155 [VoiceLive] Release 1.0.0b5
  sdk/ai/azure-ai-voicelive/CHANGELOG.md
Labels: Voice Live

#42797 [VoiceLive] Add tests
  sdk/ai/azure-ai-voicelive/assets.json
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/aio/_patch.py
  sdk/ai/azure-ai-voicelive/dev_requirements.txt
  sdk/ai/azure-ai-voicelive/pyproject.toml
  sdk/ai/azure-ai-voicelive/tests.yml
  sdk/ai/azure-ai-voicelive/tests/conftest.py
  sdk/ai/azure-ai-voicelive/tests/test_live_realtime_service.py
  sdk/ai/azure-ai-voicelive/tests/test_smoke.py
  sdk/ai/azure-ai-voicelive/tests/voicelive_preparer.py
Labels: Voice Live

#43180 [VoiceLive] Skip tests requiring aiphttp in whl_no_aio
  sdk/ai/azure-ai-voicelive/tests/test_unit_smoke_validation.py
Labels: Voice Live

#43182 Temporarily Disable `whl_no_aio` for `azure-ai-voicelive`
  sdk/ai/azure-ai-voicelive/pyproject.toml
Labels: Voice Live

#43177 Sync eng/common directory with azure-sdk-tools for PR 12246
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys

#42888 Fix evaluation aggregation logic for not applicable results
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
Labels: Evaluation

#43139 redteam results in aoai format
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_mlflow_integration.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team_result.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_result_processor.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_utils/formatting_utils.py
Labels: Evaluation
