Repository Azure/azure-sdk-for-python, pull requests merged in 2025-07, with the labels that each got.

#41838 Sync eng/common directory with azure-sdk-tools for PR 11056
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Labels: EngSys, Central-EngSys

#41805 Grader ID changes and re-add pyrit back to test matrix.
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/aoai_grader.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/label_grader.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/score_model_grader.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/string_check_grader.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/text_similarity_grader.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_aoai_score_model_grader.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_red_team.py
  sdk/evaluation/platform-matrix.json
Labels: Evaluation

#41840 Update an example of connected agent tool with Azure function
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_multiple_connected_agents.py
Labels: AI Agents

#41847 Fix Health Insights links
  sdk/healthinsights/azure-healthinsights-cancerprofiling/README.md
  sdk/healthinsights/azure-healthinsights-clinicalmatching/README.md
Labels: Cognitive - Health Insights

#41839 Bugfix/paginate aoai results
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate_aoai.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_aoai_graders.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_aoai_evaluation_pagination.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_aoai_score_model_grader.py
Labels: Evaluation

#41855 Change evaluator ID
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/score_model_grader.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_aoai_score_model_grader.py
Labels: Evaluation

#41854 Sync eng/common directory with azure-sdk-tools for PR 11067
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
Labels: EngSys, Central-EngSys

#41877 Add note about standard agent setup
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_azure_functions_async.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_azure_functions.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_multiple_connected_agents.py
Labels: AI Agents

#41761 [Storage] [Named Keywords] [File Share] `_lease.pyi` and aio
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_lease.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_lease.pyi
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_lease_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_lease_async.pyi
Labels: Storage

#41879 [Key Vault] Correctly return CertificateOperation when creating certificate with unknown issuer
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/assets.json
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_polling.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_polling_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
Labels: KeyVault, Client

#41886 [AI Agents] add MCPTool class and sample
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/apiview-properties.json
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_enums.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_models.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_patch.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_mcp.py
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI Agents

#41616 TaskAdherence V2 prompt updates
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_adherence/_task_adherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_adherence/task_adherence.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_utils.py
Labels: Evaluation

#41890 Set defaults for 'idle_time_before_scale_down', 'min_instances', 'max_instances' for AmlCompute
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/aml_compute.py
  sdk/ml/azure-ai-ml/tests/compute/unittests/test_compute_entity.py
  sdk/ml/azure-ai-ml/tests/test_configs/compute/compute-aml-disable-public-access.yaml
Labels: Machine Learning

#41865 Update list_connections API for WebPubSub service
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_models.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/_operations/_patch.py
  sdk/webpubsub/azure-messaging-webpubsubservice/azure/messaging/webpubsubservice/aio/_operations/_patch.py
Labels: WebPubSub

#41916 Update CHANGELOG of Web PubSub service SDK
  sdk/webpubsub/azure-messaging-webpubsubservice/CHANGELOG.md
Labels: WebPubSub

#41922 update samples for preview tools
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_deep_research_async.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_bing_custom_search.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_deep_research.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_fabric.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_sharepoint.py
Labels: AI Agents

#41669 Implement Customer Facing Statsbeat
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_customer_statsbeat.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_customer_statsbeat.py
Labels: Monitor - Exporter

#41950 Customer Facing Statsbeat: Added logic for dropped item count
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_customer_statsbeat.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_customer_statsbeat.py
Labels: Monitor - Exporter

#41965 [Key Vault] Handle missing inner certificate operation error
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
Labels: KeyVault, Client

#41919 Fill target errors with nans for evaluate
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/_run_submitter_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate_mismatch.py
Labels: Evaluation

#41970 Fix file writing for red team multi turn attack strategy
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team.py
Labels: Evaluation

#41972 Sync eng/common directory with azure-sdk-tools for PR 11152
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#41971 Customer Facing Statsbeat: Added logic for retry item count
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/statsbeat/_customer_statsbeat.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/statsbeat/test_customer_statsbeat.py
Labels: Monitor - Exporter

#41372 Query optional for RAI service evaluators
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_code_vulnerability/_code_vulnerability.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_rai_svc_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_violence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_eci/_eci.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_protected_material/_protected_material.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_service_groundedness/_service_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_ungrounded_attributes/_ungrounded_attributes.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_xpia/xpia.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_mass_evaluate.py
Labels: Evaluation

#41944 adding response format samples
  sdk/ai/azure-ai-agents/samples/agents_response_formats/sample_agents_json_object_response_format.py
  sdk/ai/azure-ai-agents/samples/agents_response_formats/sample_agents_json_schema_response_format.py
  sdk/ai/azure-ai-agents/samples/agents_response_formats/sample_agents_text_response_format.py
Labels: AI Agents

#41979 Update docstring using AI
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_patch.py
Labels: AI Agents

#41981 update docstr by cherry-pick
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_patch.py
Labels: AI Agents

#41732 [Azure AI Agents] Sample changes to use dataset with file search
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_enterprise_file_search.py
Labels: AI Agents

#41762 Update Relevance prompt to fix prompt, enhance evaluation steps and define output structure
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_relevance/_relevance.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_relevance/relevance.prompty
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_metrics_upload.py
Labels: Evaluation

#42006 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#41822 [Identity] Update VisualStudioCodeCredential to be broker-based
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/_internal/linux_vscode_adapter.py
  sdk/identity/azure-identity/azure/identity/_internal/macos_vscode_adapter.py
  sdk/identity/azure-identity/azure/identity/_internal/utils.py
  sdk/identity/azure-identity/azure/identity/_internal/win_vscode_adapter.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
  sdk/identity/azure-identity/dev_requirements.txt
  sdk/identity/azure-identity/tests/test_context_manager.py
  sdk/identity/azure-identity/tests/test_vscode_credential.py
  sdk/identity/azure-identity/tests/test_vscode_credential_async.py
Labels: Azure.Identity

#42008 Use paramtype for keyword params
  sdk/ai/azure-ai-agents/azure/ai/agents/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_patch.py
Labels: AI Agents

#42009 Howie/cherry picking
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/azure/ai/agents/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/types/__init__.py
Labels: AI Agents

#42040 fix runs.create_and_process
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_patch.py
Labels: AI Agents

#42035 Add configuration of logging format and logger name via env var in distro
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/README.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_constants.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_utils/configurations.py
  sdk/monitor/azure-monitor-opentelemetry/tests/utils/test_configurations.py
Labels: Monitor - Distro

#42057 Use SHA from main
  sdk/digitaltwins/azure-digitaltwins-core/swagger/README.md
Labels: Digital Twins

#41983 Update_Model_Api_Key
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/samples/evaluation/sample_evaluations.py
  sdk/ai/azure-ai-projects/samples/evaluation/sample_evaluations_aoai_graders.py
  sdk/ai/azure-ai-projects/samples/evaluation/sample_evaluations_async.py
  sdk/ai/azure-ai-projects/samples/red_team/sample_red_team.py
  sdk/ai/azure-ai-projects/samples/red_team/sample_red_team_async.py
Labels: AI Projects

#42060 Add tool_resources for async run operation
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_patch.py
Labels: AI Agents

#42059 [Storage] Bumped Versions after STG 98 GA Release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#41740 Tool Call Accuracy V2
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/TROUBLESHOOTING.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/_tool_call_accuracy.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/tool_call_accuracy.prompty
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/tool_call_accuracy.ipynb
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_agent_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_tool_call_accuracy_evaluator.py
Labels: customer-reported, Community Contribution, Evaluation

#42016 Distinguish Azure AI SDKs in statsbeats
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_processor.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/dev_requirements.txt
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_processor.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/trace/test_trace.py
Labels: Monitor - Exporter

#42015 Azure AI Agents: add `az.namespace` attribute and schema url
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_utils.py
  sdk/ai/azure-ai-agents/tests/gen_ai_trace_verifier.py
Labels: AI Agents

#42079 Fix `azure-digitaltwins-core` dependencies
  sdk/digitaltwins/azure-digitaltwins-core/CHANGELOG.md
  sdk/digitaltwins/azure-digitaltwins-core/setup.py
Labels: Digital Twins

#40335 [Identity] Enable brokered auth in DAC
  sdk/identity/azure-identity-broker/azure/identity/broker/_browser.py
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/azure/identity/_credentials/broker.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_internal/utils.py
  sdk/identity/azure-identity/tests/test_default.py
Labels: Azure.Identity

#42082 Release azure-monitor-opentelemetry 1.6.11
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/setup.py
Labels: Monitor - Distro

#41923 [Monitor Ingestion] Add typespec generation files
  sdk/monitor/azure-monitor-ingestion/MANIFEST.in
  sdk/monitor/azure-monitor-ingestion/README.md
  sdk/monitor/azure-monitor-ingestion/_metadata.json
  sdk/monitor/azure-monitor-ingestion/apiview-properties.json
  sdk/monitor/azure-monitor-ingestion/assets.json
  sdk/monitor/azure-monitor-ingestion/azure/__init__.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/__init__.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/__init__.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_client.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_configuration.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_operations/__init__.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_operations/_operations.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_operations/_patch.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_utils/__init__.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_utils/model_base.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_utils/serialization.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_utils/utils.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/__init__.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_client.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_configuration.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_operations/__init__.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_operations/_operations.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_operations/_patch.py
  sdk/monitor/azure-monitor-ingestion/samples/README.md
  sdk/monitor/azure-monitor-ingestion/samples/async_samples/sample_upload_file_contents_async.py
  sdk/monitor/azure-monitor-ingestion/samples/async_samples/sample_upload_pandas_dataframe_async.py
  sdk/monitor/azure-monitor-ingestion/setup.py
  sdk/monitor/azure-monitor-ingestion/tests/conftest.py
  sdk/monitor/azure-monitor-ingestion/tests/test_logs_ingestion.py
  sdk/monitor/azure-monitor-ingestion/tests/test_logs_ingestion_async.py
  sdk/monitor/azure-monitor-ingestion/tsp-location.yaml
Labels: Monitor

#42101 [Key Vault] Metapackage cleanup
  sdk/keyvault/azure-keyvault/README.md
  sdk/keyvault/azure-keyvault/setup.py
Labels: KeyVault, Client

#42105 [Monitor] Increment version and update Changelog
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_version.py
Labels: Monitor

#42108 Increment version for monitor releases
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_version.py
Labels: Monitor

#42096 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#42129 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#42138 fix model names
  sdk/ai/azure-ai-agents/azure/ai/agents/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_patch.py
Labels: AI Agents

#42140 fix model names
  sdk/ai/azure-ai-agents/azure/ai/agents/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_patch.py
Labels: AI Agents

#42110 [Storage] [STG 100] Feature Branch Prep
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_serialize.py
Labels: Storage

#42143 Prevent Unnecessary Read Container Calls
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/tests/test_config.py
  sdk/cosmos/azure-cosmos/tests/test_cosmos_http_logging_policy.py
  sdk/cosmos/azure-cosmos/tests/test_cosmos_http_logging_policy_async.py
  sdk/cosmos/azure-cosmos/tests/test_crud.py
  sdk/cosmos/azure-cosmos/tests/test_crud_async.py
Labels: Cosmos

#42165 Sync eng/common directory with azure-sdk-tools for PR 11291
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#42184 Retire Azure Cache for Redis code samples
  sdk/identity/azure-identity/samples/azure-aad-auth-with-redis-py.md
  sdk/identity/azure-identity/samples/azure-aad-auth-with-redis.py
Labels: Azure.Identity

#42145 [Identity] Fix issue with CAE cache not being used
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/on_behalf_of.py
  sdk/identity/azure-identity/tests/test_auth_code.py
  sdk/identity/azure-identity/tests/test_obo_async.py
Labels: Azure.Identity

#42185 [evaluation] chore: Update changelog for 1.10.0
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
Labels: Evaluation

#42178 AIO SDK added
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_auto_function_call_async.py
Labels: customer-reported, Community Contribution, AI Agents

#42007 [evaluation] Support threshold in RedTeam for configuring definition of “Attack success”
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team_result.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_red_team.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_red_team_result.py
Labels: Evaluation

#42202 Remove non-existing instrumentor
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
Labels: Monitor - Distro

#41954 Added changes for rate limited sampler (azure-exporter changes)
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/__init__.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_rate_limited_sampling.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/trace/test_rate_limited_sampling.py
Labels: Monitor - Exporter

#42211 Sync eng/common directory with azure-sdk-tools for PR 11336
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#42210 Refactored DJB2 code for Application Insights Sampler
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_sampling.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/trace/test_sampling.py
Labels: Monitor - Exporter

#42208 Add properties to FDP, fix changelog formatting
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
Labels: Evaluation

#42229 Update CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor - Exporter

#42227 Install azsdk mcp server in copilot setup steps
  .github/workflows/copilot-setup-steps.yml
Labels: Central-EngSys

#42257 Distro release 1.6.13
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
Labels: Monitor - Distro

#42261 Fix update_agents
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/azure/ai/agents/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_patch.py
  sdk/ai/azure-ai-agents/tests/test_agents_mock_overloads.py
Labels: AI Agents

#42250 Update Session Token Sample and Retry Documentation
  sdk/cosmos/azure-cosmos/docs/ErrorCodesAndRetries.md
  sdk/cosmos/azure-cosmos/samples/session_token_management.py
  sdk/cosmos/azure-cosmos/samples/session_token_management_async.py
Labels: Cosmos

#42264 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#42263 [Monitor Query] Add v2 migration guide
  sdk/monitor/azure-monitor-query/README.md
  sdk/monitor/azure-monitor-query/v2_migration_guide.md
Labels: Monitor

#42293 Increment version for monitor releases
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/azure/monitor/query/_version.py
Labels: Monitor

#42294 Re-emit Project SDK from TypeSpec with preview api-version (bring back Evaluation and RedTeam operations)
  sdk/ai/azure-ai-projects/_metadata.json
  sdk/ai/azure-ai-projects/apiview-properties.json
  sdk/ai/azure-ai-projects/azure/ai/projects/_client.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_configuration.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_validation.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_client.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_configuration.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_enums.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
Labels: AI Projects

#42192 Fix mypy errors
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/aio/_phone_numbers_client_async.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/siprouting/_generated/_patch.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/siprouting/_generated/aio/_patch.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/siprouting/_sip_routing_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/siprouting/aio/_sip_routing_client_async.py
  sdk/communication/azure-communication-phonenumbers/pyproject.toml
  sdk/communication/azure-communication-phonenumbers/samples/browse_and_reserve_numbers_bulk_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/browse_and_reserve_numbers_bulk_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/browse_and_reserve_phone_numbers_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/browse_and_reserve_phone_numbers_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/get_purchased_phone_number_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/get_purchased_phone_number_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/list_purchased_phone_numbers_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/list_purchased_phone_numbers_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/managed_identity_authentication_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/purchase_phone_number_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/purchase_phone_number_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/release_phone_number_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/release_phone_number_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/search_available_phone_numbers_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/search_available_phone_numbers_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/siprouting/delete_sip_trunk_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/siprouting/delete_sip_trunk_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/siprouting/get_sip_routes_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/siprouting/get_sip_routes_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/siprouting/get_sip_trunk_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/siprouting/get_sip_trunk_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/siprouting/get_sip_trunks_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/siprouting/get_sip_trunks_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/siprouting/set_sip_routes_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/siprouting/set_sip_routes_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/siprouting/set_sip_trunk_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/siprouting/set_sip_trunk_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/siprouting/set_sip_trunks_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/siprouting/set_sip_trunks_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/update_phone_number_capabilities_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/update_phone_number_capabilities_sample_async.py
Labels: Communication - Phone Numbers

#42296 Howie/deep research test
  sdk/ai/azure-ai-agents/assets.json
  sdk/ai/azure-ai-agents/azure_ai_agents_tests.env
  sdk/ai/azure-ai-agents/tests/conftest.py
  sdk/ai/azure-ai-agents/tests/test_agents_client.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_async.py
Labels: AI Agents

#42312 [Monitor Query] Rename migration guide
  sdk/monitor/azure-monitor-query/migration_guide_v2_split.md
Labels: Monitor

#42309 azure-monitor-opentelemetry-exporter release 1.0.0b41
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor - Exporter
