Repository Azure/azure-sdk-for-python, pull requests merged in 2025-03, with the labels that each got.

#39852 Regenerate code
  sdk/search/azure-search-documents/azure/search/documents/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_serialization.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_search_index_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_serialization.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_vendor.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_search_service_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_indexer_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_indexer_client.py
Labels: Search

#39912 Sync eng/common directory with azure-sdk-tools for PR 9950
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#39913 fix tables typo in readme
  sdk/tables/azure-data-tables/README.md
Labels: Tables

#39906 Minor fix to azure-ai-inference pacakge README: Fix link to match the text
  sdk/ai/azure-ai-inference/README.md
Labels: AI Model Inference

#39610 Un-skip test: test_regular_and_jailbreak_outputs_match
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_adv_simulator.py
Labels: Evaluation

#39910 Update API parser version to 0.3.15
  eng/apiview_reqs.txt
Labels: Central-EngSys

#39899 Release Azure WebPubSub SDK
  sdk/webpubsub/azure-messaging-webpubsubservice/CHANGELOG.md
Labels: WebPubSub

#39838 #39830, #39793
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2023_10_01/models/_azure_machine_learning_services_enums.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_vendor/azure_resources/operations/_resources_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/identity/_internal/managed_identity_client.py
Labels: Machine Learning

#39918 update sdk versions for upcoming sdk release v1.26
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#39895 Fixed partition_key filter for change_feed
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_state.py
  sdk/cosmos/azure-cosmos/samples/change_feed_management.py
  sdk/cosmos/azure-cosmos/samples/change_feed_management_async.py
  sdk/cosmos/azure-cosmos/test/test_change_feed.py
  sdk/cosmos/azure-cosmos/test/test_change_feed_all_versions.py
  sdk/cosmos/azure-cosmos/test/test_change_feed_all_versions_async.py
  sdk/cosmos/azure-cosmos/test/test_change_feed_async.py
Labels: Cosmos

#39896 add additional tests for deployment fix
  sdk/openai/azure-openai/tests/test_client.py
  sdk/openai/azure-openai/tests/test_client_async.py
  sdk/openai/azure-openai/tests/test_realtime.py
  sdk/openai/azure-openai/tests/test_realtime_async.py
Labels: OpenAI

#39924 Sync eng/common directory with azure-sdk-tools for PR 9955
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#39925 Sync eng/common directory with azure-sdk-tools for PR 9945
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#39866 [Monitor] Fix version in user agent strings
  sdk/monitor/azure-monitor-ingestion/CHANGELOG.md
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_patch.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/_version.py
  sdk/monitor/azure-monitor-ingestion/azure/monitor/ingestion/aio/_patch.py
  sdk/monitor/azure-monitor-ingestion/tests/test_logs_ingestion.py
  sdk/monitor/azure-monitor-ingestion/tests/test_logs_ingestion_async.py
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/azure/monitor/query/_logs_query_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_metrics_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_metrics_query_client.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/_version.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_logs_query_client_async.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_metrics_client_async.py
  sdk/monitor/azure-monitor-query/azure/monitor/query/aio/_metrics_query_client_async.py
  sdk/monitor/azure-monitor-query/tests/test_logs_client.py
  sdk/monitor/azure-monitor-query/tests/test_logs_client_async.py
  sdk/monitor/azure-monitor-query/tests/test_metrics_client.py
  sdk/monitor/azure-monitor-query/tests/test_metrics_client_async.py
  sdk/monitor/azure-monitor-query/tests/test_metrics_query_client.py
  sdk/monitor/azure-monitor-query/tests/test_metrics_query_client_async.py
Labels: Monitor

#39916 Add platform id to feedback template
  .github/ISSUE_TEMPLATE/z-learn-feedback.yml
Labels: customer-reported, Community Contribution

#39922 Implement `from_log_record` for `Trace` type data in live metrics
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_types.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_types.py
Labels: Monitor - Exporter

#39936 Sync eng/common directory with azure-sdk-tools for PR 9963
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#39696 Enable absolute % coverage enforcement
  doc/eng_sys_checks.md
  eng/tox/run_coverage.py
  eng/tox/tox.ini
  scripts/devops_tasks/create_coverage.py
  scripts/devops_tasks/tox_harness.py
  sdk/ml/azure-ai-ml/pyproject.toml
  tools/azure-sdk-tools/ci_tools/functions.py
Labels: Machine Learning

#39942 Release azure-monitor-opentelemetry-exporter 1.0.0b35
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor - Exporter

#38765 Added custom calling context in answer api.
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/tests/callautomation_test_case.py
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_create_VOIP_call_and_answer_custom_context.event.json
  sdk/communication/azure-communication-callautomation/tests/test_callautomation_client.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_callautomation_client.py
Labels: Communication - Call Automation

#39927 Update API versions
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/assets.json
  sdk/search/azure-search-documents/azure/search/documents/_api_versions.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/_search_service_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/aio/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_search_service_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_aliases_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_data_sources_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexers_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_indexes_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_search_service_client_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_skillsets_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/operations/_synonym_maps_operations.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/__init__.py
Labels: Search

#39951 Sync eng/common directory with azure-sdk-tools for PR 9982
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#39940 ADV Conversation dropping paramters
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
Labels: Evaluation

#39788 Updating Rooms to include Collaborator Role.
  sdk/communication/azure-communication-rooms/CHANGELOG.md
  sdk/communication/azure-communication-rooms/assets.json
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_api_versions.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/__init__.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/_client.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/_configuration.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/_patch.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/_serialization.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/__init__.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/_client.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/_configuration.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/_patch.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/operations/__init__.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/aio/operations/_patch.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/operations/__init__.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/operations/_operations.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_generated/operations/_patch.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_models/_models.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_version.py
  sdk/communication/azure-communication-rooms/samples/rooms_client_sample.py
  sdk/communication/azure-communication-rooms/swagger/README.md
  sdk/communication/azure-communication-rooms/tests/conftest.py
  sdk/communication/azure-communication-rooms/tests/test_rooms_client.py
  sdk/communication/azure-communication-rooms/tests/test_rooms_client_async.py
Labels: Communication - Rooms

#39761 [Identity] Update async cert credential algorithm
  sdk/identity/azure-identity/azure/identity/_internal/aad_client_base.py
  sdk/identity/azure-identity/azure/identity/_internal/aadclient_certificate.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/certificate.py
  sdk/identity/azure-identity/tests/test_certificate_credential.py
  sdk/identity/azure-identity/tests/test_certificate_credential_async.py
Labels: Azure.Identity

#39939 Sync eng/common directory with azure-sdk-tools for PR 9918
  eng/common/scripts/job-matrix/pullrequest-faq.md
Labels: EngSys, Central-EngSys

#39568 spark version 3.4 in notebooks and remove validation
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/spark_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_feature_store/_constants.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/spark_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_workspace/feature_store_settings.py
  sdk/ml/azure-ai-ml/samples/ml_samples_compute.py
  sdk/ml/azure-ai-ml/samples/ml_samples_featurestore.py
  sdk/ml/azure-ai-ml/samples/ml_samples_genAI_monitors_configuration.py
  sdk/ml/azure-ai-ml/samples/ml_samples_spark_configurations.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_spark_component_entity.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_command_builder.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/pipeline_job/unittests/test_pipeline_job_entity.py
  sdk/ml/azure-ai-ml/tests/spark_job/e2etests/test_spark_job.py
  sdk/ml/azure-ai-ml/tests/spark_job/unittests/test_spark_job_entity.py
  sdk/ml/azure-ai-ml/tests/spark_job/unittests/test_spark_job_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/invalid_pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/kmeans_sample/pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/kmeans_sample/pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline.py
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline_inline_job.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline_inline_job_register_output.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/pipeline_with_data_binding_expression.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/sample_pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/dsl_pipeline/spark_job_in_pipeline/wordcount_pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/feature_store/feature_store_full.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/custom_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/data_drift_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/data_quality_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/feature_attribution_drift_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/generation_safety_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/generation_token_statistics_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/model_performance_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/out_of_box_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/rest_json_configs/prediction_drift_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/custom.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/data_drift.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/data_quality.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/feature_attribution_drift.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/generation_safety.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/generation_token_statistics.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/model_performance.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/no_target_baseline_data.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/out_of_the_box.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/monitoring/yaml_configs/prediction_drift.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/helloworld_pipeline_job_with_spark_component.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/pipeline_job_with_spark_job_with_invalid_component_input_mode.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/invalid/pipeline_job_with_spark_job_with_invalid_component_output_mode.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/spark/node_serverless_compute_no_default.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/serverless_compute/all_types/spark/pipeline_serverless_compute.yml
  sdk/ml/azure-ai-ml/tests/test_configs/pipeline_jobs/shakespear_sample/pipeline.yml
  sdk/ml/azure-ai-ml/tests/test_configs/schedule/out_of_box_monitoring.yaml
  sdk/ml/azure-ai-ml/tests/test_configs/spark_job/spark_job_inputs_outputs_test.yml
  sdk/ml/azure-ai-ml/tests/test_configs/spark_job/spark_job_invalid_instance_type.yml
  sdk/ml/azure-ai-ml/tests/test_configs/spark_job/spark_job_test_hobo.yml
  sdk/ml/azure-ai-ml/tests/test_configs/spark_job/spark_job_word_count_test.yml
Labels: Machine Learning

#39760 Fix bug with uploading evaluations with private link enabled
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_azure/_models.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_lite_management_client.py
Labels: Evaluation

#39908 Sync eng/common directory with azure-sdk-tools for PR 9943
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#39965 Bugfix/n/a/converted to float
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
Labels: Evaluation

#39949 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#39891 [Storage] [STG 97] GA API Views Feedback
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_nfs.py
  sdk/storage/azure-storage-file-share/tests/test_nfs_async.py
Labels: Storage

#39984 Update comment on Role assignment in package README.md
  sdk/ai/azure-ai-projects/README.md
Labels: AI

#39983 Fix AccessTokenInfo links on credential API ref pages
  sdk/identity/azure-identity/azure/identity/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_pipelines.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/_credentials/vscode.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_pipelines.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/chained.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/shared_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/vscode.py
Labels: Azure.Identity

#39969 Remove UsernamePasswordCredential from list of credentials
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#39985 App Config Provider - Fix Feature Flag Loading
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/assets.json
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
Labels: App Configuration Provider

#39986 tracing update to samples
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_azure_monitor_tracing.py
Labels: AI

#39621 [Identity] Log user-assigned managed identity IDs
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity

#39989 [DI] Fix changelog entry
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
Labels: Document Intelligence

#39988 App Config Provider - Missing tests
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_async_provider_aad.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider.py
  sdk/appconfiguration/azure-appconfiguration-provider/tests/test_provider_aad.py
Labels: App Configuration Provider

#38454 Fix escape related SyntaxWarning in scripts
  scripts/auto_release/main.py
  scripts/collect_api_version_for_multi_api_sdk/main.py
  scripts/devops_tasks/create_coverage.py
  scripts/release_helper/utils.py
  scripts/release_sdk_status/main.py
Labels: customer-reported, Community Contribution

#39997 Temporary set whl_no_aio= false for azure-ai-projects SDK to unblock current release
  sdk/ai/azure-ai-projects/pyproject.toml
Labels: AI

#39982 [Storage] STG 97 GA Release Notes
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
Labels: Storage

#40017 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#40021 Sync eng/common directory with azure-sdk-tools for PR 9993
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#40002 [Storage] [Typing] [Change Feed] `azure-storage-blob-changefeed`
  sdk/storage/azure-storage-blob-changefeed/azure/__init__.py
  sdk/storage/azure-storage-blob-changefeed/azure/storage/__init__.py
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_change_feed_client.py
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_models.py
  sdk/storage/azure-storage-blob-changefeed/pyproject.toml
  sdk/storage/azure-storage-blob-changefeed/samples/change_feed_samples.py
Labels: Storage

#40026 [Storage] Increment versions after STG 97 GA
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Labels: Storage

#40004 Support synthetic source in exporter
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/metrics/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/metrics/test_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/trace/test_trace.py
Labels: Monitor - Exporter

#40023 fixing a bug with agent tracing causing event hander return values to…
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
Labels: AI

#40029 Tox black code reformatting
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_azure/_models.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_safety_evaluation/_safety_evaluation.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/setup.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_mass_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_safety_evaluation.py
Labels: Evaluation

#40032 Sync eng/common directory with azure-sdk-tools for PR 10030
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Labels: EngSys, Central-EngSys

#40010 Agents: suppress generic spans for manually instrumented operations
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
Labels: AI

#40044 [ServiceBus] prep release 7.14.1
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus

#39718 Ws impl
  sdk/eventhub/azure-eventhub/azure/eventhub/_configuration.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer_client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_connection.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_exceptions.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_frame.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_headers.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_protocol.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_url.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_utils.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_sasl_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/sasl.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/websockets.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_pyamqp_transport.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_client_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_transport/_pyamqp_transport_async.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/unittest/asynctests/test_websocket_exception_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/_configuration.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_connection.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_constants.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_exceptions.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_frame.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_headers.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_protocol.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_url.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_utils.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_connection_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_sasl_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/sasl.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/websockets.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_client.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_transport/_pyamqp_transport_async.py
Labels: Service Bus

#39882 Code Vulnerability & ISA Evaluators
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_code_vulnerability/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_code_vulnerability/_code_vulnerability.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_rai_svc_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_isa/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_isa/_isa.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_scenario.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/evaluate_test_data_with_chat.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/evaluate_test_data_with_code.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_adv_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_mass_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_sim_and_eval.py
Labels: Evaluation

#40050 Sync eng/common directory with azure-sdk-tools for PR 10028
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#40046 update tests - vector_stores out of beta
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/test_assistants.py
  sdk/openai/azure-openai/tests/test_assistants_async.py
  sdk/openai/azure-openai/tests/test_vector_stores.py
  sdk/openai/azure-openai/tests/test_vector_stores_async.py
Labels: OpenAI

#40043 adding agents instrumentation to configure_azure_monitor
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
Labels: Monitor - Distro

#40052 [SB/EH] pylint
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_protocol.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_protocol.py
Labels: Service Bus, Event Hubs

#40035 Use Root .coveragerc when publishing coverage reports
  eng/tox/run_coverage.py
  scripts/devops_tasks/create_coverage.py
  sdk/ml/azure-ai-ml/pyproject.toml
Labels: Machine Learning

#40054 Update Classifier to Beta
  sdk/eventhub/azure-eventhub/setup.py
  sdk/servicebus/azure-servicebus/setup.py
Labels: Service Bus, Event Hubs

#40028 Sync eng/common directory with azure-sdk-tools for PR 10027
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#40051 Adding change log and New test for Isa Eval - updates
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_code_vulnerability/_code_vulnerability.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_isa/_isa.py
  sdk/evaluation/azure-ai-evaluation/cspell.json
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_sim_and_eval.py
Labels: Evaluation

#40066 Update changelog date
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
Labels: Document Intelligence

#40060 Sync eng/common directory with azure-sdk-tools for PR 10039
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#40067 Sync eng/common directory with azure-sdk-tools for PR 10041
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#40075 Fix AI Search sample
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_ai_search.py
Labels: AI

#39915 Adding ECI to SafetyEvaluation
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_safety_evaluation/_safety_evaluation.py
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_safety_evaluation.py
Labels: Evaluation

#40079 Sync eng/common directory with azure-sdk-tools for PR 10046
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#40071 Sync eng/common directory with azure-sdk-tools for PR 10045
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#40068 Tool Call Accuracy Evaluator
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/_tool_call_accuracy.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/tool_call_accuracy.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_exceptions.py
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_evaluate.py
Labels: Evaluation

#40083 Sync .github/workflows directory with azure-sdk-tools for PR 10054
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#39691 [Storage] [Typing] [File Datalake] `azure-storage-file-datalake`
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/azure/__init__.py
  sdk/storage/azure-storage-file-datalake/azure/storage/__init__.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client_helpers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_lease.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client_helpers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_deserialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_download.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client_helpers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_list_paths_helper.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client_helpers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_quick_query_helper.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared_access_signature.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_upload_helper.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_lease_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_download_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_list_paths_helper.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_upload_helper.py
  sdk/storage/azure-storage-file-datalake/mypy.ini
  sdk/storage/azure-storage-file-datalake/pyproject.toml
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
Labels: Storage

#40003 Don't ascii escape unicode chars in prompts and completions
  sdk/ai/azure-ai-inference/assets.json
  sdk/ai/azure-ai-inference/azure/ai/inference/tracing.py
  sdk/ai/azure-ai-inference/tests/test_client_tracing.py
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/tests/telemetry/telemetry_test_base.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_ai_agents_instrumentor_async.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_telemetry.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_telemetry_async.py
Labels: AI, AI Model Inference

#39647 Health Check Improvements
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_constants.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_global_endpoint_manager.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_location_cache.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_service_request_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_service_response_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_timeout_failover_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_global_endpoint_manager_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_retry_utility_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/tests/test_aad_async.py
  sdk/cosmos/azure-cosmos/tests/test_change_feed_all_versions.py
  sdk/cosmos/azure-cosmos/tests/test_crud_async.py
  sdk/cosmos/azure-cosmos/tests/test_crud_response_payload_on_write_disabled_async.py
  sdk/cosmos/azure-cosmos/tests/test_feed_range_async.py
  sdk/cosmos/azure-cosmos/tests/test_globaldb.py
  sdk/cosmos/azure-cosmos/tests/test_globaldb_mock.py
  sdk/cosmos/azure-cosmos/tests/test_health_check.py
  sdk/cosmos/azure-cosmos/tests/test_health_check_async.py
  sdk/cosmos/azure-cosmos/tests/test_location_cache.py
  sdk/cosmos/azure-cosmos/tests/test_multimaster.py
  sdk/cosmos/azure-cosmos/tests/test_regional_routing_context.py
  sdk/cosmos/azure-cosmos/tests/test_regional_routing_context_async.py
  sdk/cosmos/azure-cosmos/tests/test_service_retry_policies.py
  sdk/cosmos/azure-cosmos/tests/test_service_retry_policies_async.py
  sdk/cosmos/azure-cosmos/tests/test_streaming_failover.py
  sdk/cosmos/azure-cosmos/tests/test_timeout_and_failover_retry_policy.py
  sdk/cosmos/azure-cosmos/tests/test_timeout_and_failover_retry_policy_async.py
Labels: Cosmos

#40078 Rename to ungrounded attributes
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_rai_svc_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_isa/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_ungrounded_attributes/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_ungrounded_attributes/_ungrounded_attributes.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_scenario.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/evaluate_test_data_with_code.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_adv_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_mass_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_sim_and_eval.py
Labels: Evaluation

#40100 Release 4.10.0b2
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#38988 added call connection id for recording and live and unit tests code.
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_serialization.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/_configuration.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_utils.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_add_participant_then_cancel_request.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_create_VOIP_call_and_answer_custom_context.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_create_VOIP_call_and_answer_then_hangup.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_start_recording_with_call_connection_id.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_start_recording_with_server_call_id.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_add_and_hold_unhold_participant_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_add_and_mute_participant_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_interrupt_audio_and_announce_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_combined_file_and_text_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_combined_file_and_text_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_file_source_with_interrupt_hold_audio_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_media_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_operationcallbackurl_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_operationcallbackurl_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_text_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_text_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_and_valid_file_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_and_valid_file_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_file_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_file_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_start_stop_media_streaming_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_start_stop_transcription_in_call.event.json
  sdk/communication/azure-communication-callautomation/tests/test_call_recording_client.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_callautomation_client.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_media_client.py
Labels: Communication - Call Automation

#40065 Adding intent_resolution_evaluator to prp/agent_evaluators branch
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_intent_resolution/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_intent_resolution/_intent_resolution.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_intent_resolution/intent_resolution.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_exceptions.py
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_evaluate.py
Labels: Evaluation

#40059 [Monitor Exporter] Update Azure SDK messaging span util
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/trace/test_trace.py
Labels: Monitor - Exporter

#40097 Regenerate python code to use extensible connection types
  sdk/ai/azure-ai-projects/azure/ai/projects/_serialization.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_enums.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#40012 Port Prompty code
  .vscode/cspell.json
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/legacy/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/legacy/prompty/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/legacy/prompty/_connection.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/legacy/prompty/_exceptions.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/legacy/prompty/_prompty.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/legacy/prompty/_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/legacy/prompty/_yaml_utils.py
  sdk/evaluation/azure-ai-evaluation/dev_requirements.txt
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/basic.prompty
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/image.prompty
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/json.prompty
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_prompty.py
Labels: Evaluation

#40107 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#39839 [Storage] `next-pylint` April 25
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/avro_io.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/avro/avro_io_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/request_handlers.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/request_handlers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/uploads_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/policies_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/request_handlers.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/uploads_async.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_download_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_serialize.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/request_handlers.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/uploads_async.py
Labels: Storage

#40098 Add Task Adherence and Completeness
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_completeness/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_completeness/_completeness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_completeness/completeness.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_adherence/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_adherence/_task_adherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_adherence/task_adherence.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_exceptions.py
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_evaluate.py
Labels: Evaluation

#40119 fixing tool call tracing
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
Labels: AI

#40125 Adding bug bash sample and instructions
  sdk/evaluation/azure-ai-evaluation/samples/bug_bash/agent_evaluation.ipynb
  sdk/evaluation/azure-ai-evaluation/samples/bug_bash/evaluate_agent.py
  sdk/evaluation/azure-ai-evaluation/samples/bug_bash/evaluation_data.jsonl
  sdk/evaluation/azure-ai-evaluation/samples/bug_bash/instructions.md
  sdk/evaluation/azure-ai-evaluation/samples/bug_bash/requirements.txt
  sdk/evaluation/azure-ai-evaluation/samples/bug_bash/user_functions.py
Labels: Evaluation

#40121 Fixed toolset
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
Labels: AI

#40139 add bug bash sample notebook for response completeness evaluator.
  sdk/evaluation/azure-ai-evaluation/samples/bug_bash/response_completeness.ipynb
Labels: Evaluation

#40135 Sample specific for tool call accuracy evaluator
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/_tool_call_accuracy.py
  sdk/evaluation/azure-ai-evaluation/samples/bug_bash/instructions.md
  sdk/evaluation/azure-ai-evaluation/samples/bug_bash/tool_call_accuracy.ipynb
Labels: Evaluation

#40131 update apispec commit to point to main branch
  sdk/communication/azure-communication-rooms/swagger/README.md
Labels: Communication - Rooms

#40144 Add IntentResolution evaluator bug bash notebook
  sdk/evaluation/azure-ai-evaluation/samples/bug_bash/intent_resolution.ipynb
  sdk/evaluation/azure-ai-evaluation/samples/bug_bash/sample_synthetic_conversations.jsonl
Labels: Evaluation

#40140 fixing agent tracing tests
  sdk/ai/azure-ai-projects/tests/telemetry/gen_ai_trace_verifier.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_ai_agents_instrumentor_async.py
Labels: AI

#40132 Sync eng/common directory with azure-sdk-tools for PR 10081
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#40142 [ServiceBus] move conftest inside tests folder
  sdk/servicebus/azure-servicebus/stress/scripts/README.md
  sdk/servicebus/azure-servicebus/stress/scripts/conftest.py
  sdk/servicebus/azure-servicebus/stress/scripts/stress_test_base.py
  sdk/servicebus/azure-servicebus/stress/scripts/stress_test_queues.py
  sdk/servicebus/azure-servicebus/stress/scripts/stress_test_queues_async.py
  sdk/servicebus/azure-servicebus/stress/templates/testjob.yaml
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sb_client_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_sessions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_topic_async.py
  sdk/servicebus/azure-servicebus/tests/conftest.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/async/test_mgmt_namespaces_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/async/test_mgmt_queues_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/async/test_mgmt_rules_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/async/test_mgmt_subscriptions_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/async/test_mgmt_topics_async.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_namespaces.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_queues.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_rules.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_subscriptions.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_topics.py
Labels: Service Bus

#40151 Remove pypy39 from evaluation per developer request
  sdk/evaluation/platform-matrix.json
Labels: Evaluation

#39954 Task/binarization of eval results
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_bleu/_bleu.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_coherence/_coherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_multi_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_prompty_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_rai_svc_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_content_safety.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_violence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_f1_score/_f1_score.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_fluency/_fluency.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_gleu/_gleu.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_groundedness/_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_meteor/_meteor.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_qa/_qa.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_relevance/_relevance.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_retrieval/_retrieval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_rouge/_rouge.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_service_groundedness/_service_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_similarity/_similarity.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_xpia/xpia.py
  sdk/evaluation/azure-ai-evaluation/cspell.json
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_threshold.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_mass_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_built_in_evaluator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_eval_run.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluators/test_conversation_thresholds.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluators/test_service_evaluator_thresholds.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluators/test_threshold_behavior.py
Labels: Evaluation

#40162 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_version.py
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_version.py
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_version.py
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_version.py
Labels: KeyVault

#40123 [Storage] [STG 98] API Views Feedback
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client_helpers.py
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_nfs.py
  sdk/storage/azure-storage-file-share/tests/test_nfs_async.py
Labels: Storage

#40127 Add datasets methods to upload file or folder, and create new datasets to reference them
  sdk/ai/azure-ai-projects-dp1/azure/ai/projects/dp1/aio/operations/_patch.py
  sdk/ai/azure-ai-projects-dp1/azure/ai/projects/dp1/operations/_patch.py
  sdk/ai/azure-ai-projects-dp1/samples/datasets/sample_datasets.py
  sdk/ai/azure-ai-projects-dp1/samples/datasets/sample_datasets_async.py
  sdk/ai/azure-ai-projects-dp1/samples/datasets/sample_folder/sample_file1.txt
  sdk/ai/azure-ai-projects-dp1/samples/datasets/sample_folder/sample_file2.txt
  sdk/ai/azure-ai-projects-dp1/samples/datasets/sample_folder/sample_subfolder1/sample_file3.txt
  sdk/ai/azure-ai-projects-dp1/samples/datasets/sample_folder/sample_subfolder1/sample_file4.txt
  sdk/ai/azure-ai-projects-dp1/samples/datasets/sample_folder/sample_subfolder2/sample_file5.txt
  sdk/ai/azure-ai-projects-dp1/samples/datasets/sample_folder/sample_subfolder2/sample_file6.txt
  sdk/ai/azure-ai-projects-dp1/samples/datasets/sample_folder/sample_subfolder2/sample_file7.txt
  sdk/ai/azure-ai-projects-dp1/samples/datasets/sample_folder/sample_subfolder2/sample_folder3/sample_file8.txt
  sdk/ai/azure-ai-projects-dp1/setup.py
Labels: AI

#39867 Added samples for timeout and retries
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/docs/TimeoutAndRetriesConfig.md
  sdk/cosmos/azure-cosmos/tests/test_crud.py
  sdk/cosmos/azure-cosmos/tests/test_retry_policy.py
  sdk/cosmos/azure-cosmos/tests/test_retry_policy_async.py
  sdk/cosmos/azure-cosmos/tests/test_service_retry_policies_async.py
Labels: Cosmos

#40170 [Storage] [STG 98] Progress Hook for ADLS Download/Upload APIs
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_upload_helper.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_upload_helper.py
  sdk/storage/azure-storage-file-datalake/tests/test_file.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_async.py
  sdk/storage/azure-storage-file-datalake/tests/test_helpers.py
  sdk/storage/azure-storage-file-datalake/tests/test_helpers_async.py
Labels: Storage

#40183 Sync eng/common directory with azure-sdk-tools for PR 10096
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#40185 [EventHub] update checkpointstoreblob versions
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_version.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_version.py
Labels: Event Hubs

#40184 Sync eng/common directory with azure-sdk-tools for PR 10100
  eng/common/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Labels: EngSys, Central-EngSys

#40146 Improve task adherence prompt and add sample notebook for bugbash
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_adherence/task_adherence.prompty
  sdk/evaluation/azure-ai-evaluation/samples/bug_bash/.env
  sdk/evaluation/azure-ai-evaluation/samples/bug_bash/response_completeness.ipynb
  sdk/evaluation/azure-ai-evaluation/samples/bug_bash/task_adherence.ipynb
Labels: customer-reported, Community Contribution, Evaluation

#40178 [AIAgentConverter] Added support for converting entire threads.
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/_ai_services.py
  sdk/evaluation/azure-ai-evaluation/tests/converters/ai_agent_converter/test_ai_agent_converter_internals.py
  sdk/evaluation/azure-ai-evaluation/tests/converters/ai_agent_converter/test_run_ids_from_conversation.py
Labels: customer-reported, Community Contribution, Evaluation

#40190 Users/singankit/tool call accuracy evaluator tests
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/_tool_call_accuracy.py
  sdk/evaluation/azure-ai-evaluation/samples/bug_bash/agent_evaluation.ipynb
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_agent_evaluators.py
Labels: Evaluation

#40186 Add one simple sync & async samples for the Deployment methods
  sdk/ai/azure-ai-projects-dp1/samples/datasets/sample_datasets.py
  sdk/ai/azure-ai-projects-dp1/samples/datasets/sample_datasets_async.py
  sdk/ai/azure-ai-projects-dp1/samples/deployments/sample_deployments.py
  sdk/ai/azure-ai-projects-dp1/samples/deployments/sample_deployments_async.py
Labels: AI

#40172 target mar preview test
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/test_vector_stores.py
  sdk/openai/azure-openai/tests/test_vector_stores_async.py
Labels: OpenAI

#39848 [Identity] Update behavior of MI Service Fabric
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/service_fabric.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/service_fabric.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
Labels: Azure.Identity

#40204 Spon/update evals converter
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/_ai_services.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/_models.py
Labels: Machine Learning, customer-reported, Community Contribution, Evaluation

#40187 Search fix debug info
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_generated/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_configuration.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/aio/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_models_py3.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/models/_search_index_client_enums.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/__init__.py
  sdk/search/azure-search-documents/azure/search/documents/_generated/operations/_documents_operations.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/tests/test_search_client.py
Labels: Search

#40214 Update response completeness evaluator based on schema
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_response_completeness/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_response_completeness/_response_completeness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_response_completeness/response_completeness.prompty
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/response_completeness.ipynb
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_completeness_evaluator.py
Labels: customer-reported, Community Contribution, Evaluation

#40133 Port of Batch Engine code
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/_run_submitter_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/batch_clients.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_config.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_engine.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_exceptions.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_logging.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_openai_injector.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_result.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_run.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_run_storage.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_run_submitter.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_status.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_trace.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_batch_engine/_utils_deprecated.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/prompty/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/prompty/_connection.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/prompty/_exceptions.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/prompty/_prompty.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/prompty/_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/prompty/_yaml_utils.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_prompty.py
Labels: Evaluation

#40216 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#40205 [Identity] Update for next-pylint
  sdk/identity/azure-identity/azure/identity/_credentials/service_fabric.py
  sdk/identity/azure-identity/azure/identity/_internal/auth_code_redirect_handler.py
  sdk/identity/azure-identity/azure/identity/_persistent_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/chained.py
Labels: Azure.Identity

#40215 Spon/update evals converter
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/_ai_services.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/_models.py
  sdk/evaluation/azure-ai-evaluation/tests/converters/ai_agent_converter/serialization_helper.py
  sdk/evaluation/azure-ai-evaluation/tests/converters/ai_agent_converter/test_ai_agent_converter_internals.py
Labels: customer-reported, Community Contribution, Evaluation

#40219 Sync eng/common directory with azure-sdk-tools for PR 10129
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#40202 Agent Evaluators
  .vscode/cspell.json
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/_ai_services.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/_models.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_rai_svc_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_intent_resolution/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_intent_resolution/_intent_resolution.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_intent_resolution/intent_resolution.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_response_completeness/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_response_completeness/_response_completeness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_response_completeness/response_completeness.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_adherence/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_adherence/_task_adherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_adherence/task_adherence.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/_tool_call_accuracy.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/tool_call_accuracy.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_exceptions.py
  sdk/evaluation/azure-ai-evaluation/dev_requirements.txt
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/agent_evaluation.ipynb
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/instructions.md
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/intent_resolution.ipynb
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/response_completeness.ipynb
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/sample_synthetic_conversations.jsonl
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/task_adherence.ipynb
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/tool_call_accuracy.ipynb
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/user_functions.py
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/converters/ai_agent_converter/serialization_helper.py
  sdk/evaluation/azure-ai-evaluation/tests/converters/ai_agent_converter/test_ai_agent_converter_internals.py
  sdk/evaluation/azure-ai-evaluation/tests/converters/ai_agent_converter/test_run_ids_from_conversation.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_agent_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_completeness_evaluator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_save_eval.py
Labels: Evaluation

#40149 Splitting up test_crud and test_crud_async
  sdk/cosmos/azure-cosmos/tests/test_crud.py
  sdk/cosmos/azure-cosmos/tests/test_crud_async.py
  sdk/cosmos/azure-cosmos/tests/test_crud_container.py
  sdk/cosmos/azure-cosmos/tests/test_crud_container_async.py
  sdk/cosmos/azure-cosmos/tests/test_crud_database.py
  sdk/cosmos/azure-cosmos/tests/test_crud_database_async.py
Labels: Cosmos

#40169 Sync eng/common directory with azure-sdk-tools for PR 10099
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#40057 Add `logging_format` configuration option in api
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/README.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_constants.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_utils/configurations.py
  sdk/monitor/azure-monitor-opentelemetry/samples/README.md
  sdk/monitor/azure-monitor-opentelemetry/samples/logging/basic.py
  sdk/monitor/azure-monitor-opentelemetry/tests/test_configure.py
Labels: Monitor - Distro

#40207 event handler agent tracing fixes
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_enums.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
Labels: AI

#40226 updating the batch run for completeness in sample notebook.
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/response_completeness.ipynb
Labels: customer-reported, Community Contribution, Evaluation

#40096 [Storage] Data Lake Typing and API View Feedback
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_lease.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_lease_async.py
  sdk/storage/azure-storage-file-datalake/setup.py
Labels: Storage

#40084 Corehttp auth flows
  sdk/core/corehttp/CHANGELOG.md
  sdk/core/corehttp/corehttp/runtime/policies/_authentication.py
  sdk/core/corehttp/corehttp/runtime/policies/_authentication_async.py
  sdk/core/corehttp/tests/async_tests/test_authentication_async.py
  sdk/core/corehttp/tests/test_authentication.py
Labels: Azure.Core

#40230 Update change log
  sdk/ai/azure-ai-projects/CHANGELOG.md
Labels: AI

#40200 [AI] [Projects] Add agent tool test for azure AI Search
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/azure_ai_projects_tests.env
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
Labels: AI

#40234 [Storage] [Typing] [Datalake] Modified class variable types for `StaticWebsite`
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
Labels: Storage

#40218 responses API tests
  sdk/openai/azure-openai/tests/assets/browser_github_screenshot.png
  sdk/openai/azure-openai/tests/assets/hello_world.pdf
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/test_chat_completions.py
  sdk/openai/azure-openai/tests/test_chat_completions_async.py
  sdk/openai/azure-openai/tests/test_responses.py
  sdk/openai/azure-openai/tests/test_responses_async.py
  sdk/openai/azure-openai/tests/test_vector_stores.py
  sdk/openai/azure-openai/tests/test_vector_stores_async.py
Labels: OpenAI

#39386 Fixed a typo in the CHANGELOG.md
  sdk/ai/azure-ai-inference/CHANGELOG.md
Labels: customer-reported, Community Contribution, AI Model Inference

#39038 Update README.md - added note for MOE LLM deployments compatibility with ai inference sdk
  sdk/ai/azure-ai-inference/samples/README.md
Labels: customer-reported, Community Contribution, AI Model Inference

#40095 fix path to whl for APIView
  eng/tox/run_apistubgen.py
Labels: Schema Registry

#40236 Sync eng/common directory with azure-sdk-tools for PR 10135
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#40105 [document intelligence] Fix copy operation polling
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_operations/_patch.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_version.py
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/aio/_operations/_patch.py
Labels: Document Intelligence

#40244 Catch exception for missing duration value
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
  sdk/ml/azure-ai-ml/tests/utils/__init__.py
  sdk/ml/azure-ai-ml/tests/utils/unittests/__init__.py
  sdk/ml/azure-ai-ml/tests/utils/unittests/test_utils.py
Labels: Machine Learning

#40243 Increment version for documentintelligence releases
  sdk/documentintelligence/azure-ai-documentintelligence/CHANGELOG.md
  sdk/documentintelligence/azure-ai-documentintelligence/azure/ai/documentintelligence/_version.py
Labels: Document Intelligence

#40203 [Cosmos] set startup to false on any refresh
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_global_endpoint_manager_async.py
Labels: Cosmos

#40008 [Cosmos] Clean up public surface area
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
Labels: Cosmos

#40116 [AI] [Projects] Add Fabric sample
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_fabric.py
Labels: AI

#40005 Sample code for Morningstar agent
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_openapi_morningstar.py
Labels: customer-reported, Community Contribution, AI

#40256 [Cosmos] Update CHANGELOG.md for release
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#40249 API review comments fix for release 1.4.0
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_bleu/_bleu.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_coherence/_coherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_violence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_f1_score/_f1_score.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_fluency/_fluency.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_gleu/_gleu.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_groundedness/_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_intent_resolution/_intent_resolution.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_meteor/_meteor.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_qa/_qa.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_response_completeness/_response_completeness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_retrieval/_retrieval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_rouge/_rouge.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_service_groundedness/_service_groundedness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_similarity/_similarity.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_adherence/_task_adherence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/_tool_call_accuracy.py
Labels: Evaluation

#40259 Sync eng/common directory with azure-sdk-tools for PR 10004
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#40262 update changelog
  sdk/core/corehttp/CHANGELOG.md
Labels: Azure.Core

#40255 Sync eng/common directory with azure-sdk-tools for PR 10145
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#40257 Address API View feedback for RedTeam
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/_configuration.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/_model_base.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/_patch.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/_serialization.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/_version.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/aio/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/aio/_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/aio/_configuration.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/aio/_patch.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/aio/operations/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/aio/operations/_operations.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/aio/operations/_patch.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/models/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/models/_enums.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/models/_models.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/models/_patch.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/operations/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/operations/_operations.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/operations/_patch.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/raiclient/py.typed
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_red_team/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_red_team/_attack_objective_generator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_red_team/_attack_strategy.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_red_team/_callback_chat_target.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_red_team/_default_converter.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_red_team/_red_team.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_red_team/_red_team_result.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_red_team/_utils/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_red_team/_utils/constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_red_team/_utils/formatting_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_red_team/_utils/logging_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_red_team/_utils/strategy_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/autogen/README.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/autogen/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_generated_rai_client.py
  sdk/evaluation/azure-ai-evaluation/samples/red_team_samples.py
  sdk/evaluation/azure-ai-evaluation/setup.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_attack_objective_generator.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_attack_strategy.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_callback_chat_target.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_constants.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_formatting_utils.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_red_team.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_red_team_result.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_redteam/test_strategy_utils.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_save_eval.py
Labels: Evaluation

#40248 Prepare-Release-Evaluation-1-4-0
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
Labels: Evaluation

#40264 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos
