Repository Azure/azure-sdk-for-python, pull requests merged in 2025-02, with the labels that each got.

#39501 [Identity] Clarify subscription error in AZ CLI cred
  sdk/identity/azure-identity/azure/identity/_internal/utils.py
Labels: Azure.Identity

#39514 Fixes to vectorstore/file patches
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
Labels: AI

#39508 [Storage] [Typing] [File Datalake] Serialize and Deserialize
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_deserialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
Labels: Storage

#39446 [Storage] [STG 98] OAuth Tests for Access Control Policies APIs
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/tests/test_container.py
  sdk/storage/azure-storage-blob/tests/test_container_async.py
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/tests/test_file_system.py
  sdk/storage/azure-storage-file-datalake/tests/test_file_system_async.py
  sdk/storage/azure-storage-queue/assets.json
  sdk/storage/azure-storage-queue/tests/test_queue_client.py
  sdk/storage/azure-storage-queue/tests/test_queue_client_async.py
Labels: Storage

#39438 [Storage] [STG 98] NFS over REST 98
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_file_client.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/aio/_file_client_async.py
  sdk/storage/azure-storage-file-share/tests/test_nfs.py
  sdk/storage/azure-storage-file-share/tests/test_nfs_async.py
Labels: Storage

#39416 [Storage] [Typing] [File Datalake] `_shared_access_signature.py`
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared_access_signature.py
Labels: Storage

#39483 GitHub issues fix : Reapeated cells in the Keyword-Only Parameters #37738
  sdk/ml/azure-ai-ml/.pre-commit-config.yaml
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/deployment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_deployment/online_deployment.py
Labels: Machine Learning

#39530 Update CHANGELOG.md for ml release 1.25.0
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#39528 Adding 1.26.0 entry to change log and version
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#39413 Adv Simulations now pass an id to the service
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_conversation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_proxy_completion_model.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_adv_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_mass_evaluate.py
Labels: Evaluation

#39542 Sync eng/common directory with azure-sdk-tools for PR 9752
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys

#39545 Sync eng/common directory with azure-sdk-tools for PR 9698
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/pipelines/templates/steps/validate-all-packages.yml
Labels: EngSys, Central-EngSys

#39550 Sync eng/common directory with azure-sdk-tools for PR 9733
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#39482 Adding support for py3.13 in ml
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/README.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/utils.py
  sdk/ml/azure-ai-ml/dev_requirements.txt
  sdk/ml/azure-ai-ml/setup.py
  sdk/ml/azure-ai-ml/tests/automl_job/unittests/test_text_classification_multilabel_job.py
  sdk/ml/azure-ai-ml/tests/dataset/unittests/test_data_operations.py
  sdk/ml/azure-ai-ml/tests/dataset/unittests/test_data_utils.py
  sdk/ml/azure-ai-ml/tests/datastore/unittests/test_datastore_operations.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_group.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_dev_requirements.py
  sdk/ml/ci.yml
  tools/azure-sdk-tools/ci_tools/functions.py
Labels: Machine Learning

#39553 Adding support for py3.13 in ml (#39482)
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/README.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_inputs_outputs/utils.py
  sdk/ml/azure-ai-ml/dev_requirements.txt
  sdk/ml/azure-ai-ml/setup.py
  sdk/ml/azure-ai-ml/tests/automl_job/unittests/test_text_classification_multilabel_job.py
  sdk/ml/azure-ai-ml/tests/dataset/unittests/test_data_operations.py
  sdk/ml/azure-ai-ml/tests/dataset/unittests/test_data_utils.py
  sdk/ml/azure-ai-ml/tests/datastore/unittests/test_datastore_operations.py
  sdk/ml/azure-ai-ml/tests/dsl/unittests/test_dsl_group.py
  sdk/ml/azure-ai-ml/tests/internal_utils/unittests/test_dev_requirements.py
  sdk/ml/ci.yml
  tools/azure-sdk-tools/ci_tools/functions.py
Labels: Machine Learning

#39327 Protected material metrics fix using defect rate instead label.
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_mass_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_sim_and_eval.py
Labels: Evaluation

#39539 Sync eng/common directory with azure-sdk-tools for PR 9747
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#39541 Update pyproject.toml to enable type checking samples
  sdk/monitor/azure-monitor-opentelemetry-exporter/pyproject.toml
Labels: Monitor - Exporter

#39556 Sync eng/common directory with azure-sdk-tools for PR 9745
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#39558 Removing Multimodal evals and fixes few tests
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_multimodal/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_multimodal/_content_safety_multimodal.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_multimodal/_content_safety_multimodal_base.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_multimodal/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_multimodal/_protected_material.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_multimodal/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_multimodal/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_multimodal/_violence.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_exceptions.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_conversation/_conversation.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_adv_simulator.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_builtin_evaluators.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_mass_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_sim_and_eval.py
Labels: Evaluation

#39548 Jhakulin/b6 updates
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/countries.json
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_openapi.py
Labels: AI

#39534 GitHub issue #37464
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_environment_operations.py
  sdk/ml/azure-ai-ml/tests/environment/unittests/test_environment_operations.py
  sdk/ml/azure-ai-ml/tests/environment/unittests/test_environment_operations_registry.py
Labels: Machine Learning

#39564 addressing api review comment
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_compute_operations.py
Labels: Machine Learning

#39566 addressing api review comment (#39564)
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_compute_operations.py
Labels: Machine Learning

#39570 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#39573 prepare_for_sign return type as None
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
Labels: Machine Learning

#39581 Add support for chat completions message with "developer" role
  sdk/ai/azure-ai-inference/azure/ai/inference/_model_base.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_operations/_operations.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_serialization.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_operations/_operations.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_enums.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_models.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_patch.py
  sdk/ai/azure-ai-inference/tests/test_unit_tests.py
  sdk/ai/azure-ai-inference/tsp-location.yaml
Labels: AI Model Inference

#39561 Re-enabling few tests
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_adv_simulator.py
Labels: Evaluation

#38606 [Identity] Use full path for CLI executables
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/azure_cli.py
  sdk/identity/azure-identity/tests/test_azd_cli_credential.py
  sdk/identity/azure-identity/tests/test_azd_cli_credential_async.py
  sdk/identity/azure-identity/tests/test_cli_credential.py
  sdk/identity/azure-identity/tests/test_cli_credential_async.py
Labels: Azure.Identity

#39591 Sync eng/common directory with azure-sdk-tools for PR 9781
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#39584 Merging latest hotfix released back to main branch
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/test/test_auto_scale.py
  sdk/cosmos/azure-cosmos/test/test_auto_scale_async.py
  sdk/cosmos/azure-cosmos/test/test_change_feed_split.py
  sdk/cosmos/azure-cosmos/test/test_change_feed_split_async.py
  sdk/cosmos/azure-cosmos/test/test_config.py
  sdk/cosmos/azure-cosmos/test/test_container_properties_cache.py
  sdk/cosmos/azure-cosmos/test/test_container_properties_cache_async.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
  sdk/cosmos/azure-cosmos/test/test_crud_response_payload_on_write_disabled_async.py
  sdk/cosmos/azure-cosmos/test/test_full_text_policy.py
  sdk/cosmos/azure-cosmos/test/test_full_text_policy_async.py
  sdk/cosmos/azure-cosmos/test/test_latest_session_token.py
  sdk/cosmos/azure-cosmos/test/test_latest_session_token_async.py
  sdk/cosmos/azure-cosmos/test/test_partition_split_query.py
  sdk/cosmos/azure-cosmos/test/test_query_hybrid_search.py
  sdk/cosmos/azure-cosmos/test/test_query_hybrid_search_async.py
  sdk/cosmos/azure-cosmos/test/test_query_vector_similarity.py
  sdk/cosmos/azure-cosmos/test/test_query_vector_similarity_async.py
  sdk/cosmos/azure-cosmos/test/test_user_configs.py
  sdk/cosmos/azure-cosmos/test/test_vector_policy.py
  sdk/cosmos/azure-cosmos/test/test_vector_policy_async.py
  sdk/cosmos/live-platform-matrix.json
Labels: Cosmos

#39577 Add unit tests for notification entity
  sdk/ml/azure-ai-ml/tests/batch_online_common/unittests/test_batch_job.py
  sdk/ml/azure-ai-ml/tests/batch_online_common/unittests/test_model_batch_deployment.py
  sdk/ml/azure-ai-ml/tests/batch_online_common/unittests/test_pipeline_component_bach_deployment.py
  sdk/ml/azure-ai-ml/tests/feature_set/unittests/test_feature_set_entity.py
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/feature_set_container_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/feature_set/feature_set_full_rest.json
Labels: Machine Learning

#39598 Sync eng/common directory with azure-sdk-tools for PR 9764
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#39596 Change default read timeout for database account
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_retry_utility.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_synchronized_request.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_timeout_failover_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_asynchronous_request.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_retry_utility_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/azure/cosmos/http_constants.py
  sdk/cosmos/azure-cosmos/test/test_crud.py
  sdk/cosmos/azure-cosmos/test/test_crud_async.py
  sdk/cosmos/azure-cosmos/test/test_globaldb_mock.py
  sdk/cosmos/azure-cosmos/test/test_retry_policy.py
  sdk/cosmos/azure-cosmos/test/test_timeout_and_failover_retry_policy.py
  sdk/cosmos/azure-cosmos/test/test_timeout_and_failover_retry_policy_async.py
Labels: Cosmos

#39607 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#39606 Update package README.md and one sample
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_dict.py
Labels: AI Model Inference

#39608 Sync eng/common directory with azure-sdk-tools for PR 9783
  eng/common/TestResources/TestResources-Helpers.ps1
Labels: EngSys, Central-EngSys

#39613 Sync eng/common directory with azure-sdk-tools for PR 9788
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#39511 [pyAMQP] Add Support For Decimal
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_decode.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_encode.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/types.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/unittest/test_decode.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/unittest/test_encode.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_decode.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_encode.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/types.py
  sdk/servicebus/azure-servicebus/tests/test_message.py
Labels: Service Bus

#39487 [AI] [Agents] Add sharepoint tool sample
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_sharepoint.py
Labels: AI

#39604 Add unit tests for endpoint entities
  sdk/ml/azure-ai-ml/tests/batch_online_common/unittests/test_endpoint_entity.py
  sdk/ml/azure-ai-ml/tests/test_configs/endpoints/batch/batch_endpoint_rest.json
  sdk/ml/azure-ai-ml/tests/test_configs/endpoints/online/online_endpoint_create_k8s.yml
  sdk/ml/azure-ai-ml/tests/test_configs/endpoints/online/online_endpoint_rest.json
Labels: Machine Learning

#39618 Sync eng/common directory with azure-sdk-tools for PR 9793
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#39498 [EH] update checkpointstore tests/samples
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/dev_requirements.txt
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/receive_events_using_checkpoint_store_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/receive_events_using_checkpoint_store_storage_api_version_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/tests/test_storage_blob_partition_manager_aio.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/dev_requirements.txt
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/receive_events_using_checkpoint_store.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/receive_events_using_checkpoint_store_storage_api_version.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/tests/test_storage_blob_partition_manager.py
  sdk/eventhub/test-resources.json
Labels: Event Hubs

#39589 Add the readme section on how to deploy function and record tests.
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
Labels: AI

#39627 Descriptive exception error message when `load_client` function or `get_model_info` method fails to run
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/assets.json
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_patch.py
  sdk/ai/azure-ai-inference/tests/model_inference_test_base.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client.py
Labels: AI Model Inference

#39631 Sync eng/common directory with azure-sdk-tools for PR 9799
  eng/common/scripts/Helpers/Package-Helpers.ps1
Labels: EngSys, Central-EngSys

#39628 [EH/SB] Update changelog
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus, Event Hubs

#39638 Add deprecation note for Microsoft.Logz
  sdk/logz/azure-mgmt-logz/CHANGELOG.md
  sdk/logz/azure-mgmt-logz/README.md
  sdk/logz/azure-mgmt-logz/azure/mgmt/logz/_version.py
  sdk/logz/azure-mgmt-logz/sdk_packaging.toml
  sdk/logz/azure-mgmt-logz/setup.py
Labels: customer-reported, Community Contribution

#39632 Fix next-pylint issue
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_patch.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client_async.py
Labels: AI Model Inference

#39368 M hietala/adding function tracing conveniency
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/_trace_function.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/user_async_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_console_tracing.py
  sdk/ai/azure-ai-projects/tests/telemetry/gen_ai_trace_verifier.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_function_trace_decorator.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_function_trace_decorator_async.py
Labels: AI

#39651 [eh] checkpointstore changelog
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
Labels: Event Hubs

#39625 [Storage] [STG 97] Updated dates for STG 97 Beta release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
Labels: Storage

#39495 [Storage] [Typing] [File Datalake] `_download.py` and `_download_async.py`
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_download.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_download_async.py
Labels: Storage

#39650 Remove sdk/pullrequest.yml
  eng/pipelines/pullrequest.yml
  sdk/pullrequest.yml
Labels: Central-EngSys

#39656 Add Maps Timezone into build pipeline
  sdk/maps/ci.yml
Labels: Maps

#38693 Adding new Reaction, Sticker and Interactive types of messages.
  sdk/communication/azure-communication-messages/CHANGELOG.md
  sdk/communication/azure-communication-messages/README.md
  sdk/communication/azure-communication-messages/assets.json
  sdk/communication/azure-communication-messages/azure/communication/messages/__init__.py
  sdk/communication/azure-communication-messages/azure/communication/messages/_api_versions.py
  sdk/communication/azure-communication-messages/azure/communication/messages/_client.py
  sdk/communication/azure-communication-messages/azure/communication/messages/_configuration.py
  sdk/communication/azure-communication-messages/azure/communication/messages/_model_base.py
  sdk/communication/azure-communication-messages/azure/communication/messages/_operations/__init__.py
  sdk/communication/azure-communication-messages/azure/communication/messages/_operations/_operations.py
  sdk/communication/azure-communication-messages/azure/communication/messages/_serialization.py
  sdk/communication/azure-communication-messages/azure/communication/messages/_vendor.py
  sdk/communication/azure-communication-messages/azure/communication/messages/_version.py
  sdk/communication/azure-communication-messages/azure/communication/messages/aio/__init__.py
  sdk/communication/azure-communication-messages/azure/communication/messages/aio/_client.py
  sdk/communication/azure-communication-messages/azure/communication/messages/aio/_configuration.py
  sdk/communication/azure-communication-messages/azure/communication/messages/aio/_operations/__init__.py
  sdk/communication/azure-communication-messages/azure/communication/messages/aio/_operations/_operations.py
  sdk/communication/azure-communication-messages/azure/communication/messages/aio/_vendor.py
  sdk/communication/azure-communication-messages/azure/communication/messages/models/__init__.py
  sdk/communication/azure-communication-messages/azure/communication/messages/models/_enums.py
  sdk/communication/azure-communication-messages/azure/communication/messages/models/_models.py
  sdk/communication/azure-communication-messages/samples/download_media.py
  sdk/communication/azure-communication-messages/samples/send_reaction_notification_messages.py
  sdk/communication/azure-communication-messages/samples/send_sticker_notification_messages.py
  sdk/communication/azure-communication-messages/samples/send_template_notification_messages.py
  sdk/communication/azure-communication-messages/samples/send_whatsapp_list_notification_messages.py
  sdk/communication/azure-communication-messages/samples/send_whatsapp_urlbased_notification_messages.py
  sdk/communication/azure-communication-messages/samples/send_whatsappreplybutton_notification_messages.py
  sdk/communication/azure-communication-messages/tests/_decorators.py
  sdk/communication/azure-communication-messages/tests/_decorators_async.py
  sdk/communication/azure-communication-messages/tests/conftest.py
  sdk/communication/azure-communication-messages/tests/test_messages_client.py
  sdk/communication/azure-communication-messages/tests/test_messages_client_async.py
  sdk/communication/azure-communication-messages/tests/test_messages_template_client.py
  sdk/communication/azure-communication-messages/tests/test_messages_template_client_async.py
  sdk/communication/azure-communication-messages/tsp-location.yaml
Labels: Communication - Messages

#39663 Changelog update for Interactive types in AdvancedMessages
  sdk/communication/azure-communication-messages/CHANGELOG.md
Labels: Communication - Messages

#39662 Sync eng/common directory with azure-sdk-tools for PR 9803
  eng/common/scripts/Helpers/Package-Helpers.ps1
Labels: EngSys, Central-EngSys

#39424 Draft DSB End-To-End Simulation/Evaluation Interface
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_dsb_evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_dsb_evaluation/_dsb_evaluation.py
Labels: Evaluation

#39516 [ServiceBus/EventHub] unique message/correlation ID for mgmt ops
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_platform.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_cbs_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_connection_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_management_link_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/cbs.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/client.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/management_link.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_cbs_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_management_link_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/cbs.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/management_link.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus, Event Hubs

#39666 Sync eng/common directory with azure-sdk-tools for PR 9810
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: EngSys, Central-EngSys

#39668 Sync eng/common directory with azure-sdk-tools for PR 9778
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#39672 Filter out ExcludePaths from PR files before processing
  eng/scripts/Language-Settings.ps1
Labels: EngSys

#39594 [Key Vault] Update test resource deployment template for policy changes
  sdk/keyvault/azure-keyvault-administration/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-administration/tests/_test_case.py
  sdk/keyvault/azure-keyvault-keys/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-keys/tests/_test_case.py
  sdk/keyvault/test-resources-cleanup.py
  sdk/keyvault/test-resources-post.ps1
  sdk/keyvault/test-resources.bicep
  sdk/keyvault/test-resources.json
Labels: KeyVault, Client

#39669 [Storage] Bump versions after STG 97 beta release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
Labels: Storage

#39679 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#39624 [Storage] [Typing] [File Datalake] `_list_paths_helper.py` and aio
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_list_paths_helper.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_list_paths_helper.py
Labels: Storage

#39654 added diskANN testing back to test_query_vector_similarity
  sdk/cosmos/azure-cosmos/test/test_query_vector_similarity.py
  sdk/cosmos/azure-cosmos/test/test_query_vector_similarity_async.py
Labels: Cosmos

#39699 [Eventhub] geodr preview
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_constants.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_consumer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_producer.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_consumer_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/aio/_producer_async.py
  sdk/eventhub/azure-eventhub/samples/README.md
  sdk/eventhub/azure-eventhub/setup.py
  sdk/eventhub/test-resources.json
Labels: Event Hubs

#39684 [Storage] Updated blob dependency in DL
  sdk/storage/azure-storage-file-datalake/setup.py
Labels: Storage

#39703 Sync eng/common directory with azure-sdk-tools for PR 9807
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#39698 Sync eng/common directory with azure-sdk-tools for PR 9821
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#39697 Save package properties before setting daily dev version
  eng/pipelines/templates/steps/build-package-artifacts.yml
Labels: Central-EngSys

#39633 [EventHub/ServiceBus] lock pending mgmt op
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/management_link.py
  sdk/eventhub/azure-eventhub/stress/stress-test-resources.bicep
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/auto_lock_renewer.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/management_link.py
  sdk/servicebus/azure-servicebus/samples/sync_samples/auto_lock_renew.py
  sdk/servicebus/azure-servicebus/stress/stress-test-resources.bicep
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus, Event Hubs

#39543 Removed **provisional** from computed_properties
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/test/test_computed_properties.py
  sdk/cosmos/azure-cosmos/test/test_computed_properties_async.py
  sdk/cosmos/azure-cosmos/test/test_query.py
  sdk/cosmos/azure-cosmos/test/test_query_async.py
  sdk/cosmos/azure-cosmos/test/test_query_computed_properties.py
  sdk/cosmos/azure-cosmos/test/test_query_computed_properties_async.py
Labels: Cosmos

#39705 Add regression tests (unit tests) for parsing streaming response
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_patch.py
  sdk/ai/azure-ai-inference/tests/model_inference_test_base.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client.py
  sdk/ai/azure-ai-inference/tests/test_unit_tests.py
Labels: AI Model Inference

#39512 Adding Vector Index Shard Key for DiskANN and quantizedFlat
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/samples/index_management.py
  sdk/cosmos/azure-cosmos/samples/index_management_async.py
  sdk/cosmos/azure-cosmos/test/test_vector_policy.py
  sdk/cosmos/azure-cosmos/test/test_vector_policy_async.py
Labels: Cosmos

#39715 [EventHub/ServiceBus] fix changelogs + release date
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Service Bus, Event Hubs

#39709 Sync eng/common directory with azure-sdk-tools for PR 9823
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#39706 [ServiceBus] update resource creation for policy changes
  sdk/servicebus/azure-servicebus/tests/servicebus_preparer.py
  sdk/servicebus/test-resources.json
Labels: Service Bus

#39724 [Cosmos] rght version for release
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#39660 [Storage] [STG 98] Replaced URL Safe Encoding for Datalake Paths
  sdk/storage/azure-storage-file-datalake/assets.json
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
Labels: Storage

#39726 Fix ExcludePath filter in AdditionalValidationPackagesFromPackageSetFn
  eng/scripts/Language-Settings.ps1
Labels: EngSys

#39728 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs

#39704 [SB] add partitioned entities
  sdk/servicebus/test-resources.json
Labels: Service Bus

#39701 More diagnostic logging options
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_diagnostics/diagnostic_logging.py
Labels: Monitor - Distro

#39733 Distro release 1.6.5
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
Labels: Monitor - Distro

#39732 Sync eng/common directory with azure-sdk-tools for PR 9832
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#39458 Fixed pylint issues for azure-communication-identity
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_shared/auth_policy_utils.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_shared/policy.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_shared/user_credential_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_shared/utils.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_shared/utils_async.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/auth_policy_utils.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/policy.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/user_credential.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/user_credential_async.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/utils.py
  sdk/communication/azure-communication-chat/azure/communication/chat/_shared/utils_async.py
  sdk/communication/azure-communication-email/azure/communication/email/_shared/auth_policy_utils.py
  sdk/communication/azure-communication-email/azure/communication/email/_shared/policy.py
  sdk/communication/azure-communication-email/azure/communication/email/_shared/user_credential_async.py
  sdk/communication/azure-communication-email/azure/communication/email/_shared/utils.py
  sdk/communication/azure-communication-email/azure/communication/email/_shared/utils_async.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_communication_identity_client.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/auth_policy_utils.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/policy.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/user_credential_async.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/utils.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_shared/utils_async.py
  sdk/communication/azure-communication-identity/azure/communication/identity/_utils.py
  sdk/communication/azure-communication-identity/azure/communication/identity/aio/_communication_identity_client_async.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/auth_policy_utils.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/models.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/policy.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/user_credential_async.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/utils.py
  sdk/communication/azure-communication-jobrouter/azure/communication/jobrouter/_shared/utils_async.py
  sdk/communication/azure-communication-messages/azure/communication/messages/_shared/auth_policy_utils.py
  sdk/communication/azure-communication-messages/azure/communication/messages/_shared/policy.py
  sdk/communication/azure-communication-messages/azure/communication/messages/_shared/user_credential_async.py
  sdk/communication/azure-communication-messages/azure/communication/messages/_shared/utils.py
  sdk/communication/azure-communication-messages/azure/communication/messages/_shared/utils_async.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/auth_policy_utils.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/policy.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/user_credential_async.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/utils.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_shared/utils_async.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_shared/auth_policy_utils.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_shared/policy.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_shared/user_credential_async.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_shared/utils.py
  sdk/communication/azure-communication-rooms/azure/communication/rooms/_shared/utils_async.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/auth_policy_utils.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/policy.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/user_credential_async.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/utils.py
  sdk/communication/azure-communication-sms/azure/communication/sms/_shared/utils_async.py
Labels: Communication - Common, Communication - Identity

#39513 [SB] Fix Peek Last Sequence ID Capture
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/mgmt_handlers.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_servicebus_receiver.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/_servicebus_receiver_async.py
  sdk/servicebus/azure-servicebus/tests/async_tests/test_queues_async.py
  sdk/servicebus/azure-servicebus/tests/test_queues.py
Labels: Service Bus

#38966 [AMQP] Update Sync Transport to Use Socket Connection API
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/_transport.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/_transport.py
Labels: Service Bus, Event Hubs

#39734 Sync eng/common directory with azure-sdk-tools for PR 9834
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Labels: EngSys, Central-EngSys

#39741 Fix for Exception raised while parsing Chat Completions streaming response, in some rare cases
  .vscode/cspell.json
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_patch.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_streaming_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_streaming_azure_openai_async.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_streaming.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_streaming_with_entra_id_auth.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_streaming_with_tools.py
  sdk/ai/azure-ai-inference/tests/model_inference_test_base.py
  sdk/ai/azure-ai-inference/tests/test_unit_tests.py
Labels: AI Model Inference

#39745 updating tracing section in readme
  sdk/ai/azure-ai-projects/README.md
Labels: AI

#39579 Updates for beta 9 release of azure-ai-inference SDK
  .vscode/cspell.json
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/assets.json
  sdk/ai/azure-ai-inference/azure/ai/inference/_model_base.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_operations/_operations.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_serialization.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_version.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_operations/_operations.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_enums.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_models.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_patch.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_streaming_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_streaming_azure_openai_async.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_dict.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_streaming.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_streaming_with_entra_id_auth.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_streaming_with_tools.py
  sdk/ai/azure-ai-inference/tests/model_inference_test_base.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client_async.py
  sdk/ai/azure-ai-inference/tests/test_unit_tests.py
  sdk/ai/azure-ai-inference/tsp-location.yaml
Labels: AI Model Inference

#39736 Sync eng/common directory with azure-sdk-tools for PR 9836
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#39750 Update code snippets in README.md files
  sdk/ai/azure-ai-inference/README.md
Labels: AI Model Inference

#39752 Fix minor tracing issues in agents
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/agents/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_ai_agents_instrumentor.py
Labels: AI

#39692 azure ai search sample update
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_ai_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_logic_apps.py
Labels: AI

#39362 Beta6 release of azure-ai-projects SDK
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/azure/ai/projects/_model_base.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_serialization.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_version.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_enums.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/telemetry/_trace_function.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/user_async_functions.py
  sdk/ai/azure-ai-projects/samples/agents/countries.json
  sdk/ai/azure-ai-projects/samples/agents/multiagent/agent_team.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/agent_team_config.yaml
  sdk/ai/azure-ai-projects/samples/agents/multiagent/agent_trace_configurator.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/sample_agents_agent_team.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/sample_agents_agent_team_custom_team_leader.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/sample_agents_multi_agent_team.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/user_functions_with_traces.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_ai_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_console_tracing_custom_attributes.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_logic_apps.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_openapi.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_sharepoint.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/user_logic_apps.py
  sdk/ai/azure-ai-projects/setup.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
  sdk/ai/azure-ai-projects/tests/inference/inference_test_base.py
  sdk/ai/azure-ai-projects/tests/inference/test_inference.py
  sdk/ai/azure-ai-projects/tests/inference/test_inference_async.py
  sdk/ai/azure-ai-projects/tests/telemetry/gen_ai_trace_verifier.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_function_trace_decorator.py
  sdk/ai/azure-ai-projects/tests/telemetry/test_function_trace_decorator_async.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#39765 Post Deprecation Process Microsoft.Logz
  sdk/logz/azure-mgmt-logz/sdk_packaging.toml
  sdk/logz/ci.yml
Labels: customer-reported, Community Contribution

#39768 #39744
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/_schedule.py
Labels: Machine Learning

#39555 Add tests for live metrics types + support stable http semconv
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_types.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_types.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/trace/test_trace.py
Labels: Monitor - Exporter

#39749 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_version.py
Labels: Monitor - Distro

#39771 Handle PR changes in the root of the repository
  eng/scripts/Language-Settings.ps1
Labels: EngSys

#39670 Deprecating azure-ai-resources
  eng/.docsettings.yml
  sdk/ai/azure-ai-resources/CHANGELOG.md
  sdk/ai/azure-ai-resources/README.md
  sdk/ai/azure-ai-resources/azure/ai/resources/_version.py
  sdk/ai/azure-ai-resources/sdk_packaging.toml
  sdk/ai/ci.yml
Labels: AI

#39710 Adding migration_guide from PF-eval to Eval-sdk
  sdk/evaluation/azure-ai-evaluation/migration_guide.md
Labels: Evaluation

#39406 Added backup cognitive service
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/_serialization.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/__init__.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_enums.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/operations/_operations.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_add_participant_then_cancel_request.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_create_VOIP_call_and_answer_then_hangup.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_add_and_hold_unhold_participant_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_add_and_mute_participant_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_interrupt_audio_and_announce_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_combined_file_and_text_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_combined_file_and_text_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_media_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_operationcallbackurl_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_operationcallbackurl_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_text_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_text_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_and_valid_file_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_and_valid_file_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_file_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_file_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_start_stop_media_streaming_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_start_stop_transcription_in_call.event.json
Labels: Communication - Call Automation

#39655 [Storage] Fix CRC64 extension with large data
  sdk/storage/azure-storage-extensions/azure/storage/extensions/crc64/crc64module.c
  sdk/storage/azure-storage-extensions/tests/test_crc64.py
Labels: Storage

#39228 Update assets.json
  eng/tox/install_depend_packages.py
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/assets.json
  sdk/appconfiguration/azure-appconfiguration-provider/setup.py
  sdk/appconfiguration/test-resources.json
Labels: App Configuration Provider

#39798 Fix deserialization of RunStepDeltaFileSearchToolCall.
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/azure/ai/projects/_client.py
  sdk/ai/azure-ai-projects/azure/ai/projects/_serialization.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_client.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
  sdk/ai/azure-ai-projects/tests/conftest.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#39671 _DSBEvaluations --> _SafetyEvaluation
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_safety_evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_safety_evaluation/_safety_evaluation.py
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_safety_evaluation.py
  sdk/evaluation/azure-ai-evaluation/setup.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_safety_evaluation.py
Labels: Evaluation

#39763 Add system_meatadata property to azure ml model class
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/assets/model.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/model.py
  sdk/ml/azure-ai-ml/tests/model/unittests/test_model_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/model/model_with_system_metadata.yml
Labels: Machine Learning

#39799 Support synthetic source for standard metrics server type
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/metrics/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/metrics/test_metrics.py
Labels: Monitor - Exporter

#39803 Generation with new body parameter
  sdk/ai/azure-ai-inference/azure/ai/inference/_model_base.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_operations/_operations.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_serialization.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_operations/_operations.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_models.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_invoker.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_mustache.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_parsers.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_prompty_utils.py
  sdk/ai/azure-ai-inference/azure/ai/inference/tracing.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_from_input_dict_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_streaming_azure_openai_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_embeddings_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_load_client_async.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_azure_openai.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_dict.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_dict_with_image_url.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_prompt_string.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_streaming_with_tools.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_history.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_image_url.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_structured_output.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_structured_output_pydantic.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_tools.py
  sdk/ai/azure-ai-inference/samples/sample_embeddings_azure_openai.py
  sdk/ai/azure-ai-inference/tests/gen_ai_trace_verifier.py
  sdk/ai/azure-ai-inference/tests/model_inference_test_base.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client_async.py
  sdk/ai/azure-ai-inference/tests/test_client_tracing.py
  sdk/ai/azure-ai-inference/tests/test_embeddings_client_async.py
  sdk/ai/azure-ai-inference/tests/test_image_embeddings_client_async.py
  sdk/ai/azure-ai-inference/tests/test_prompts.py
  sdk/ai/azure-ai-inference/tests/test_unit_tests.py
  sdk/ai/azure-ai-inference/tsp-location.yaml
Labels: AI Model Inference

#39796 fix broken links
  sdk/ai/azure-ai-projects/README.md
  sdk/communication/azure-communication-chat/README.md
  sdk/containerregistry/azure-containerregistry/README.md
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/CHANGELOG.md
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/samples/README.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/samples/README.md
Labels: Storage, Container Registry, Communication - Chat, AI

#39785 [Identity] Deprecate UsernamePasswordCredential
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TOKEN_CACHING.md
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_credentials/user_password.py
  sdk/identity/azure-identity/samples/azure-aad-auth-with-redis-py.md
  sdk/identity/azure-identity/tests/test_username_password_credential.py
Labels: Azure.Identity

#39195 pyamqp - description and info are optional fields, even if they're often returned.
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_link_async.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/link.py
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/unittest/asynctests/test_link_async.py
  sdk/eventhub/azure-eventhub/tests/pyamqp_tests/unittest/test_link.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_link_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/link.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus

#39801 Sync eng/common directory with azure-sdk-tools for PR 9862
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#39818 fix environment archive and restore
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/tests/environment/e2etests/test_environment.py
Labels: Machine Learning

#39825 Add trailing slash exclude paths
  eng/pipelines/pullrequest.yml
  eng/scripts/Language-Settings.ps1
Labels: EngSys

#39826 run black and fix split chinese characters in streaming
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_models.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_models_async.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
  sdk/ai/azure-ai-projects/tests/conftest.py
Labels: AI

#39829 Sync eng/common directory with azure-sdk-tools for PR 9896
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#39827 Sync eng/common directory with azure-sdk-tools for PR 9889
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#39758 Remove post processing step from tox generate environment
  sdk/ai/azure-ai-inference/pyproject.toml
  sdk/documentintelligence/azure-ai-documentintelligence/pyproject.toml
  sdk/face/azure-ai-vision-face/pyproject.toml
  sdk/monitor/azure-monitor-ingestion/pyproject.toml
  sdk/translation/azure-ai-translation-document/pyproject.toml
  sdk/translation/azure-ai-translation-text/pyproject.toml
  sdk/vision/azure-ai-vision-imageanalysis/pyproject.toml
  tools/azure-sdk-tools/packaging_tools/generate_client.py
Labels: Monitor, Cognitive - Translator, Document Intelligence, Image Analysis, AI Model Inference, Face

#39552 Added interrupt hold audio flag for play media.
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_connection_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_connection_client_async.py
  sdk/communication/azure-communication-callautomation/swagger/SWAGGER.md
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_combined_file_and_text_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_combined_file_and_text_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_file_source_with_interrupt_hold_audio_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_media_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_operationcallbackurl_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_operationcallbackurl_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_text_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_text_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_and_valid_file_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_and_valid_file_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_file_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_file_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_media_client.py
Labels: Communication - Call Automation

#39831 Sync eng/common directory with azure-sdk-tools for PR 9895
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#39824 [Storage] Fix Create Hard Link Error Test
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/tests/test_nfs.py
  sdk/storage/azure-storage-file-share/tests/test_nfs_async.py
Labels: Storage

#39832 Sync eng/common directory with azure-sdk-tools for PR 9901
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#39851 [DI] Add aiohttp info to readme
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
Labels: Document Intelligence

#39821 Azure AI Evaluation Release 1.3.0
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
Labels: Evaluation

#39860 Update py2docfx from a dev version to a whole number version
  eng/scripts/docs/py2docfx_requirements.txt
Labels: EngSys

#39855 Add convenience method to access URL citations on the ThreadMessage class
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_bing_grounding.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_bing_grounding.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_iteration_with_bing_grounding.py
Labels: AI

#36915 [Key Vault] Generate Administration with TypeSpec
  sdk/keyvault/azure-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-keyvault-administration/assets.json
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_configuration.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_model_base.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_serialization.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_validation.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_vendor.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/_version.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/_configuration.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/_vendor.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/operations/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/aio/operations/_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/models/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/models/_enums.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/models/_models.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/operations/__init__.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/operations/_operations.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_generated/tsp-location.yaml
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/async_client_base.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_internal/client_base.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/_settings_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_access_control_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_backup_client.py
  sdk/keyvault/azure-keyvault-administration/azure/keyvault/administration/aio/_settings_client.py
  sdk/keyvault/azure-keyvault-administration/setup.py
Labels: KeyVault, Client

#36901 [Key Vault] Generate Secrets with TypeSpec
  sdk/keyvault/azure-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_configuration.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_model_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_operations/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_operations/_operations.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_serialization.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_vendor.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/_version.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/aio/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/aio/_configuration.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/aio/_operations/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/aio/_operations/_operations.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/aio/_vendor.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/models/__init__.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/models/_enums.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/models/_models.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_generated/tsp-location.yaml
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_models.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/_shared/client_base.py
  sdk/keyvault/azure-keyvault-secrets/azure/keyvault/secrets/aio/_client.py
  sdk/keyvault/azure-keyvault-secrets/setup.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_samples_secrets_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_async.py
  sdk/keyvault/azure-keyvault-secrets/tests/test_secrets_client.py
Labels: KeyVault, Client

#36903 [Key Vault] Generate Certificates with TypeSpec
  sdk/keyvault/azure-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-keyvault-certificates/MANIFEST.in
  sdk/keyvault/azure-keyvault-certificates/assets.json
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_configuration.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_model_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_operations/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_operations/_operations.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_serialization.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_vendor.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/_version.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/_configuration.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/_operations/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/_operations/_operations.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/aio/_vendor.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/models/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/models/_enums.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/models/_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_generated/tsp-location.yaml
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_models.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_polling.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/__init__.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_polling.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/_polling_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/client_base.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/_shared/http_challenge.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_client.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/aio/_polling_async.py
  sdk/keyvault/azure-keyvault-certificates/azure/keyvault/certificates/py.typed
  sdk/keyvault/azure-keyvault-certificates/samples/backup_restore_operations_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world.py
  sdk/keyvault/azure-keyvault-certificates/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/import_certificate_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/issuers_async.py
  sdk/keyvault/azure-keyvault-certificates/samples/parse_certificate.py
  sdk/keyvault/azure-keyvault-certificates/samples/parse_certificate_async.py
  sdk/keyvault/azure-keyvault-certificates/setup.py
  sdk/keyvault/azure-keyvault-certificates/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-certificates/tests/_shared/test_case.py
  sdk/keyvault/azure-keyvault-certificates/tests/_shared/test_case_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/_test_case.py
  sdk/keyvault/azure-keyvault-certificates/tests/conftest.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_certificates_client_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_examples_certificates_async.py
  sdk/keyvault/azure-keyvault-certificates/tests/test_merge_certificate_async.py
Labels: KeyVault, Client

#36902 [Key Vault] Generate Keys with TypeSpec
  sdk/keyvault/azure-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_configuration.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_model_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_operations/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_operations/_operations.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_serialization.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_validation.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_vendor.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/_version.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/aio/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/aio/_configuration.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/aio/_operations/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/aio/_operations/_operations.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/aio/_vendor.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/models/__init__.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/models/_enums.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/models/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_generated/tsp-location.yaml
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_models.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/async_client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/_shared/client_base.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/_client.py
  sdk/keyvault/azure-keyvault-keys/azure/keyvault/keys/crypto/aio/_client.py
  sdk/keyvault/azure-keyvault-keys/setup.py
  sdk/keyvault/azure-keyvault-keys/tests/_shared/helpers.py
  sdk/keyvault/azure-keyvault-keys/tests/conftest.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_crypto_client_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_examples_crypto.py
  sdk/keyvault/azure-keyvault-keys/tests/test_examples_crypto_async.py
  sdk/keyvault/azure-keyvault-keys/tests/test_key_client.py
  sdk/keyvault/azure-keyvault-keys/tests/test_keys_async.py
Labels: KeyVault, Client

#39432 Parent job name & multiple docker argument support for command job
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_restclient/v2025_01_01_preview/models/_models.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job/command_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command_func.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/command_job.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/job_resource_configuration.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/to_rest_functions.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
  sdk/ml/azure-ai-ml/tests/command_job/e2etests/test_command_job.py
  sdk/ml/azure-ai-ml/tests/command_job/unittests/test_command_job_entity.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/job_common/unittests/test_job_operations.py
  sdk/ml/azure-ai-ml/tests/test_configs/command_job/command_job_singularity_test.yml
Labels: Machine Learning

#39873 Sync eng/common directory with azure-sdk-tools for PR 9921
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#39874 Release azure-monitor-opentelemetry-exporter 1.0.0b34
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor - Exporter

#39876 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#39854 Sync eng/common directory with azure-sdk-tools for PR 9888
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#39872 Increment version for evaluation releases
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
Labels: Evaluation

#39875 Remove usages of protected variables/class from external libraries [azure-ai-ml]
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/dsl/_group_decorator.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_autogen_entities/_model_base.py
Labels: Machine Learning

#39731 [Storage] [Typing] [Blob Changefeed] `azure-storage-blob-changefeed`
  sdk/storage/azure-storage-blob-changefeed/azure/__init__.py
  sdk/storage/azure-storage-blob-changefeed/azure/storage/__init__.py
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/__init__.py
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_change_feed_client.py
  sdk/storage/azure-storage-blob-changefeed/azure/storage/blob/changefeed/_models.py
  sdk/storage/azure-storage-blob-changefeed/pyproject.toml
  sdk/storage/azure-storage-blob-changefeed/samples/change_feed_samples.py
Labels: Storage

#39397 Fix pylint errors
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_utils.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_retry_utility_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_user.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/user.py
Labels: Cosmos

#39893 Remove impressions pixels from Markdown files
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
  sdk/identity/azure-identity/migration_guide.md
Labels: Event Hubs, Azure.Identity

#39890 Sync eng/common directory with azure-sdk-tools for PR 9917
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Labels: EngSys, Central-EngSys

#39888 App config provider - Fix logging
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_azureappconfigurationprovider.py
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/aio/_azureappconfigurationproviderasync.py
Labels: App Configuration Provider

#39237 Howie/overload test
  sdk/ai/azure-ai-projects/tests/agents/overload_assert_utils.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_operation_overloads.py
  sdk/ai/azure-ai-projects/tests/agents/test_overload_assert.py
Labels: AI
