Repository Azure/azure-sdk-for-python, pull requests merged in 2025-05, with the labels that each got.

#40833 Nirovins/add ci
  sdk/ai/ci.yml
Labels: AI

#40830 Evaluation Review Feedback
  sdk/ai/azure-ai-projects/apiview-properties.json
  sdk/ai/azure-ai-projects/azure/ai/projects/_patch_prompts.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/samples/connections/sample_connections_async.py
  sdk/ai/azure-ai-projects/samples/evaluation/sample_evaluations.py
  sdk/ai/azure-ai-projects/samples/evaluation/sample_evaluations_async.py
  sdk/ai/azure-ai-projects/samples/indexes/sample_indexes.py
  sdk/ai/azure-ai-projects/samples/indexes/sample_indexes_async.py
  sdk/ai/azure-ai-projects/samples/inference/sample_image_embeddings_with_azure_ai_inference_client.py
  sdk/ai/azure-ai-projects/samples/inference/sample_text_embeddings_with_azure_ai_inference_client.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#40836 Fixing evaluation upload with 1RP Project
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/utils.py
Labels: Evaluation

#40823 Increment version for cosmos releases
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
Labels: Cosmos

#40841 [AI] [Agents] tool schema updates
  sdk/ai/azure-ai-agents/apiview-properties.json
  sdk/ai/azure-ai-agents/azure/ai/agents/models/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_models.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_patch.py
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI

#40778 [EventHub] add amqp proxy recordings for tests
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/eventhub/azure-eventhub/tests/.gitignore
  sdk/eventhub/azure-eventhub/tests/conftest.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_auth_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_buffered_producer_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_consumer_client_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_negative_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_properties_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_receive_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_reconnect_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_send_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_auth.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_buffered_producer.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_consumer_client.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_negative.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_properties.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_receive.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_reconnect.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_send.py
Labels: Event Hubs

#40813 1dp sdk followup
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_rai_svc_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_safety_evaluation/_safety_evaluation.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_conversation/__init__.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_sim_and_eval.py
Labels: Evaluation

#40487 [Tables] Add audience keyword argument support
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/azure/data/tables/_authentication.py
  sdk/tables/azure-data-tables/azure/data/tables/_base_client.py
  sdk/tables/azure-data-tables/azure/data/tables/_table_client.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_authentication_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_base_client_async.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_table_client_async.py
  sdk/tables/azure-data-tables/tests/test_table_client.py
  sdk/tables/azure-data-tables/tests/test_table_client_async.py
Labels: Tables

#40852 Record tests and disable Azure functions
  sdk/ai/azure-ai-agents/assets.json
  sdk/ai/azure-ai-agents/tests/test_agents_client.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_async.py
Labels: AI

#40854 Nirovins/record tests
  sdk/ai/azure-ai-agents/assets.json
Labels: AI

#40838 Add back support for Entra ID auth with Prompty files
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_azure/_clients.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_azure/_envs.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_azure/_token_manager.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_prompty_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_adapters/_flows.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/_common/_async_token_provider.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/prompty/_connection.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_legacy/prompty/_prompty.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_agent/_agent_tools.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_adversarial_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_direct_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_indirect_attack_simulator.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_generated_rai_client.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_identity_manager.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_lite_management_client.py
Labels: Evaluation

#40845 Jhakulin/agents naming changes
  sdk/ai/azure-ai-agents/apiview-properties.json
  sdk/ai/azure-ai-agents/assets.json
  sdk/ai/azure-ai-agents/azure/ai/agents/_client.py
  sdk/ai/azure-ai-agents/azure/ai/agents/_configuration.py
  sdk/ai/azure-ai-agents/azure/ai/agents/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/_types.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_client.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_configuration.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_enums.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_models.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_code_interpreter_async.py
  sdk/ai/azure-ai-agents/samples/agents_files_images_inputs/sample_agents_with_code_interpreter_file_attachment.py
  sdk/ai/azure-ai-agents/samples/agents_multiagent/sample_agents_multi_agent_team.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_code_interpreter.py
  sdk/ai/azure-ai-agents/tests/gen_ai_trace_verifier.py
  sdk/ai/azure-ai-agents/tests/test_agents_client.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_async.py
  sdk/ai/azure-ai-agents/tests/test_agents_mock_async.py
  sdk/ai/azure-ai-agents/tests/test_ai_agents_instrumentor.py
  sdk/ai/azure-ai-agents/tests/test_ai_agents_instrumentor_async.py
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI

#40849 Prompty sample code
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/__init__.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_core.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_invoker.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_mustache.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_parsers.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_prompty_utils.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_renderers.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_tracer.py
  sdk/ai/azure-ai-inference/azure/ai/inference/prompts/_utils.py
  sdk/ai/azure-ai-inference/samples/README.md
  sdk/ai/azure-ai-inference/samples/sample1.prompty
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_prompt_string.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_prompty_file.py
  sdk/ai/azure-ai-inference/tests/sample1.prompty
  sdk/ai/azure-ai-inference/tests/sample1_with_secrets.prompty
  sdk/ai/azure-ai-inference/tests/test_prompts.py
  sdk/ai/azure-ai-inference/tests/test_prompts_utils.py
Labels: AI Model Inference

#40858 Bring tests README back
  eng/.docsettings.yml
  sdk/ai/azure-ai-agents/tests/README.md
Labels: AI

#40855 Uncomment function tests
  sdk/ai/azure-ai-agents/tests/test_agents_client.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_async.py
Labels: AI

#40864 Sync eng/common directory with azure-sdk-tools for PR 10523
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#40863 [evaluation] chore: Prepare changelog for 1.6.0 release
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
Labels: Evaluation

#40867 Fixing evaluation upload
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_azure/_token_manager.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/_configuration.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/simulator/_model_tools/_identity_manager.py
Labels: Evaluation

#40868 [EventHub] remove flagged recordings
  sdk/eventhub/azure-eventhub/tests/amqpproxy_recordings/livetest/asynctests/test_send_async.test_send_with_partition_key_async[pyamqp]-1.json
  sdk/eventhub/azure-eventhub/tests/amqpproxy_recordings/livetest/asynctests/test_send_async.test_send_with_partition_key_async[pyamqp]-2.json
  sdk/eventhub/azure-eventhub/tests/amqpproxy_recordings/livetest/asynctests/test_send_async.test_send_with_partition_key_async[pyamqp]-3.json
  sdk/eventhub/azure-eventhub/tests/amqpproxy_recordings/livetest/synctests/test_send.test_send_with_partition_key[pyamqp]-1.json
  sdk/eventhub/azure-eventhub/tests/amqpproxy_recordings/livetest/synctests/test_send.test_send_with_partition_key[pyamqp]-2.json
  sdk/eventhub/azure-eventhub/tests/amqpproxy_recordings/livetest/synctests/test_send.test_send_with_partition_key[pyamqp]-3.json
Labels: Event Hubs

#37929 [Key Vault] Create Security Domain library
  sdk/keyvault/.gitignore
  sdk/keyvault/azure-keyvault-securitydomain/CHANGELOG.md
  sdk/keyvault/azure-keyvault-securitydomain/LICENSE
  sdk/keyvault/azure-keyvault-securitydomain/MANIFEST.in
  sdk/keyvault/azure-keyvault-securitydomain/README.md
  sdk/keyvault/azure-keyvault-securitydomain/apiview-properties.json
  sdk/keyvault/azure-keyvault-securitydomain/azure/__init__.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/__init__.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/__init__.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_client.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_configuration.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_internal/__init__.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_internal/async_challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_internal/async_polling.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_internal/challenge_auth_policy.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_internal/http_challenge.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_internal/http_challenge_cache.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_internal/polling.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_operations/__init__.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_operations/_operations.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_operations/_patch.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_patch.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_utils/__init__.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_utils/model_base.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_utils/serialization.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_utils/utils.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_version.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/aio/__init__.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/aio/_client.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/aio/_configuration.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/aio/_operations/__init__.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/aio/_operations/_operations.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/aio/_operations/_patch.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/aio/_patch.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/models/__init__.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/models/_enums.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/models/_models.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/models/_patch.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/py.typed
  sdk/keyvault/azure-keyvault-securitydomain/dev_requirements.txt
  sdk/keyvault/azure-keyvault-securitydomain/samples/README.md
  sdk/keyvault/azure-keyvault-securitydomain/samples/hello_world.py
  sdk/keyvault/azure-keyvault-securitydomain/samples/hello_world_async.py
  sdk/keyvault/azure-keyvault-securitydomain/setup.py
  sdk/keyvault/azure-keyvault-securitydomain/tests/_async_test_case.py
  sdk/keyvault/azure-keyvault-securitydomain/tests/_shared/async_test_case.py
  sdk/keyvault/azure-keyvault-securitydomain/tests/_shared/test_case.py
  sdk/keyvault/azure-keyvault-securitydomain/tests/_test_case.py
  sdk/keyvault/azure-keyvault-securitydomain/tests/test_security_domain.py
  sdk/keyvault/azure-keyvault-securitydomain/tests/test_security_domain_async.py
  sdk/keyvault/azure-keyvault-securitydomain/tests/utils.py
  sdk/keyvault/azure-keyvault-securitydomain/tsp-location.yaml
  sdk/keyvault/ci.yml
Labels: KeyVault, Client

#40875 Add tests that run all samples
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch_inference_async.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch_telemetry_async.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch_inference.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch_telemetry.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_async.py
  sdk/ai/azure-ai-projects/samples/connections/sample_connections.py
  sdk/ai/azure-ai-projects/samples/connections/sample_connections_async.py
  sdk/ai/azure-ai-projects/samples/datasets/sample_datasets.py
  sdk/ai/azure-ai-projects/samples/datasets/sample_datasets_async.py
  sdk/ai/azure-ai-projects/samples/deployments/sample_deployments.py
  sdk/ai/azure-ai-projects/samples/deployments/sample_deployments_async.py
  sdk/ai/azure-ai-projects/samples/evaluation/sample_evaluations_async.py
  sdk/ai/azure-ai-projects/samples/indexes/sample_indexes.py
  sdk/ai/azure-ai-projects/samples/indexes/sample_indexes_async.py
  sdk/ai/azure-ai-projects/samples/inference/async_samples/sample_chat_completions_with_azure_ai_inference_client_async.py
  sdk/ai/azure-ai-projects/samples/inference/async_samples/sample_chat_completions_with_azure_openai_client_async.py
  sdk/ai/azure-ai-projects/samples/inference/async_samples/sample_image_embeddings_with_azure_ai_inference_client_async.py
  sdk/ai/azure-ai-projects/samples/inference/async_samples/sample_text_embeddings_with_azure_ai_inference_client_async.py
  sdk/ai/azure-ai-projects/samples/telemetry/sample_telemetry_async.py
  sdk/ai/azure-ai-projects/tests/samples/test_samples.py
Labels: AI

#40876 Re-emit from TypeSpec
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch_inference_async.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch_telemetry_async.py
  sdk/ai/azure-ai-projects/generated_tests/test_ai_project_evaluations_operations.py
  sdk/ai/azure-ai-projects/generated_tests/test_ai_project_evaluations_operations_async.py
  sdk/ai/azure-ai-projects/generated_tests/test_ai_project_red_teams_operations.py
  sdk/ai/azure-ai-projects/generated_tests/test_ai_project_red_teams_operations_async.py
  sdk/ai/azure-ai-projects/tests/samples/test_samples.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#40877 Fix the instrumentation tests
  sdk/ai/azure-ai-agents/assets.json
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_instrument_paged_wrappers.py
  sdk/ai/azure-ai-agents/azure_ai_agents_tests.env
  sdk/ai/azure-ai-agents/samples/agents_files_images_inputs/sample_agents_image_input_file.py
  sdk/ai/azure-ai-agents/tests/test_ai_agents_instrumentor.py
  sdk/ai/azure-ai-agents/tests/test_ai_agents_instrumentor_async.py
Labels: AI

#40881 More changes to be able to run samples via pytest code
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/samples/datasets/data_folder/data_file1.txt
  sdk/ai/azure-ai-projects/samples/datasets/data_folder/data_file2.txt
  sdk/ai/azure-ai-projects/samples/datasets/data_folder/data_subfolder/data_file3.txt
  sdk/ai/azure-ai-projects/samples/datasets/data_folder/data_subfolder/data_file4.txt
  sdk/ai/azure-ai-projects/samples/datasets/sample_datasets.py
  sdk/ai/azure-ai-projects/samples/datasets/sample_datasets_async.py
  sdk/ai/azure-ai-projects/samples/datasets/sample_folder/sample_subfolder2/sample_file5.txt
  sdk/ai/azure-ai-projects/samples/datasets/sample_folder/sample_subfolder2/sample_file6.txt
  sdk/ai/azure-ai-projects/samples/datasets/sample_folder/sample_subfolder2/sample_file7.txt
  sdk/ai/azure-ai-projects/samples/datasets/sample_folder/sample_subfolder2/sample_folder3/sample_file8.txt
  sdk/ai/azure-ai-projects/samples/inference/sample_chat_completions_with_azure_ai_inference_client_and_prompty_file.py
  sdk/ai/azure-ai-projects/samples/inference/sample_image_embeddings_with_azure_ai_inference_client.py
  sdk/ai/azure-ai-projects/tests/samples/test_samples.py
Labels: AI

#40820 Use union type param for enable_auto_function_calls
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/azure/ai/agents/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_azure_functions_async.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_code_interpreter_async.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_code_interpreter_attachment_async.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_functions_async.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_run_with_toolset_async.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_stream_eventhandler_with_toolset_async.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_stream_iteration_async.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_vector_store_enterprise_file_search_async.py
  sdk/ai/azure-ai-agents/samples/agents_files_images_inputs/sample_agents_with_code_interpreter_file_attachment.py
  sdk/ai/azure-ai-agents/samples/agents_multiagent/sample_agents_agent_team.py
  sdk/ai/azure-ai-agents/samples/agents_multiagent/sample_agents_agent_team_custom_team_leader.py
  sdk/ai/azure-ai-agents/samples/agents_multiagent/sample_agents_multi_agent_team.py
  sdk/ai/azure-ai-agents/samples/agents_multiagent/utils/agent_team.py
  sdk/ai/azure-ai-agents/samples/agents_streaming/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-agents/samples/agents_streaming/sample_agents_stream_iteration_with_toolset.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_functions_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_functions_with_console_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_file_search.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_functions.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_run_with_toolset.py
  sdk/ai/azure-ai-agents/samples/sample_agents_basics.py
  sdk/ai/azure-ai-agents/setup.py
  sdk/ai/azure-ai-agents/tests/test_agents_client.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_async.py
  sdk/ai/azure-ai-agents/tests/test_agents_mock.py
  sdk/ai/azure-ai-agents/tests/test_agents_mock_async.py
  sdk/ai/azure-ai-agents/tests/test_ai_agents_instrumentor.py
  sdk/ai/azure-ai-agents/tests/test_ai_agents_instrumentor_async.py
Labels: AI

#40884 get CI green
  sdk/ai/azure-ai-agents/cspell.json
Labels: AI

#40883 Fix logic app sample
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_logic_apps.py
Labels: AI

#40827 [Identity] Release prep and cleanup
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/TROUBLESHOOTING.md
  sdk/identity/azure-identity/azure/identity/_credentials/environment.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/setup.py
Labels: Azure.Identity

#40872 Image Upload Fix
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/onedp/aio/_configuration.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_common/rai_service.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
Labels: Evaluation

#40865 agent azure monitor tracing sample updates
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_utils.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_functions_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_stream_eventhandler_with_azure_monitor_tracing.py
Labels: AI

#40888 agent tracing runid to feature branch
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-agents/tests/test_ai_agents_instrumentor.py
  sdk/ai/azure-ai-agents/tests/test_ai_agents_instrumentor_async.py
Labels: AI

#40844 Adding sample for agent evaluation
  sdk/ai/azure-ai-projects/samples/evaluation/sample_agent_evaluations.py
Labels: AI

#40898 Do not use sudo for npm install in typespec automation init
  scripts/automation_init.sh
Labels: Central-EngSys

#40900 WRRF Feature Branch
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/hybrid_search_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/hybrid_search_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/tests/test_query_hybrid_search.py
  sdk/cosmos/azure-cosmos/tests/test_query_hybrid_search_async.py
Labels: Cosmos

#40901 [Identity] Remove AzureApplicationCredential
  sdk/identity/azure-identity/azure/identity/_credentials/application.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/application.py
  sdk/identity/azure-identity/tests/test_application_credential.py
  sdk/identity/azure-identity/tests/test_application_credential_async.py
  sdk/identity/azure-identity/tests/test_azure_application.py
  sdk/identity/azure-identity/tests/test_azure_application_async.py
  sdk/identity/azure-identity/tests/test_context_manager.py
Labels: Azure.Identity

#40885 Create automatic report of all Samples run, and their Exception message (if any)
  sdk/ai/azure-ai-projects/tests/samples/test_samples.py
Labels: AI

#40902 Sync eng/common directory with azure-sdk-tools for PR 10542
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#40897 AOAI results nits: fix order and _result column
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/text_similarity_grader.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate_aoai.py
Labels: Evaluation

#40903 Sync eng/common directory with azure-sdk-tools for PR 10534
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#40916 Add sync and async methods `.connections.get_default()`
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch_connections_async.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch_connections.py
  sdk/ai/azure-ai-projects/samples/connections/sample_connections.py
  sdk/ai/azure-ai-projects/samples/connections/sample_connections_async.py
  sdk/ai/azure-ai-projects/samples/datasets/sample_datasets.py
  sdk/ai/azure-ai-projects/samples/evaluation/sample_agent_evaluations.py
Labels: AI

#40914 Howie/get green 2
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_stream_eventhandler_with_azure_monitor_tracing.py
Labels: AI

#40917 force default aoai version
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/aoai_grader.py
Labels: Evaluation

#40921 [Storage] Updated Release dates for STG 98 Beta
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-queue/CHANGELOG.md
Labels: Storage

#40922 resolved comments
  sdk/ai/azure-ai-agents/azure/ai/agents/_client.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_client.py
  sdk/ai/ci.yml
Labels: AI

#40924 [Key Vault] Fix async sleep reference in tests
  sdk/keyvault/azure-keyvault-secrets/tests/test_polling_method_async.py
Labels: KeyVault, Client, test-reliability

#40843 Change Workloads For Circuit Breaker
  sdk/cosmos/azure-cosmos/tests/workloads/dev.md
  sdk/cosmos/azure-cosmos/tests/workloads/r_w_q_workload.py
  sdk/cosmos/azure-cosmos/tests/workloads/shutdown_workloads.sh
  sdk/cosmos/azure-cosmos/tests/workloads/workload_configs.py
  sdk/cosmos/azure-cosmos/tests/workloads/workload_utils.py
Labels: Cosmos

#40925 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#40927 Updating Agent Evalaution Sample
  sdk/ai/azure-ai-projects/samples/evaluation/sample_agent_evaluations.py
Labels: AI

#40937 [Storage] Increment versions after STG 98 Beta Release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-blob/setup.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
  sdk/storage/azure-storage-file-share/setup.py
  sdk/storage/azure-storage-queue/CHANGELOG.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_version.py
  sdk/storage/azure-storage-queue/setup.py
Labels: Storage

#40936 [Tables] Post-release updates
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/azure/data/tables/_authentication.py
  sdk/tables/azure-data-tables/azure/data/tables/_version.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_authentication_async.py
  sdk/tables/azure-data-tables/samples/async_samples/sample_authentication_async.py
  sdk/tables/azure-data-tables/samples/sample_authentication.py
  sdk/tables/azure-data-tables/setup.py
Labels: Tables

#40851 Sync eng/common directory with azure-sdk-tools for PR 10518
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#40935 Re-emit from latest TypeSpec
  sdk/ai/azure-ai-projects/apiview-properties.json
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch_inference_async.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/generated_tests/test_ai_project_datasets_operations.py
  sdk/ai/azure-ai-projects/generated_tests/test_ai_project_datasets_operations_async.py
  sdk/ai/azure-ai-projects/generated_tests/test_ai_project_indexes_operations.py
  sdk/ai/azure-ai-projects/generated_tests/test_ai_project_indexes_operations_async.py
  sdk/ai/azure-ai-projects/generated_tests/test_ai_project_red_teams_operations.py
  sdk/ai/azure-ai-projects/generated_tests/test_ai_project_red_teams_operations_async.py
  sdk/ai/azure-ai-projects/tests/samples/test_samples.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#40943 Resolved Johan comments
  .github/CODEOWNERS
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/azure/ai/agents/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_patch.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_with_file_search_attachment_async.py
  sdk/ai/azure-ai-agents/tests/test_agents_client.py
  sdk/ai/azure-ai-agents/tests/test_agents_mock.py
  sdk/ai/azure-ai-agents/tests/test_agents_mock_async.py
  sdk/ai/azure-ai-agents/tests/test_agents_mock_overloads.py
  tools/azure-sdk-tools/tests/test_labels.py
Labels: AI

#40945 Hide the hack to use connection string.
  sdk/ai/azure-ai-agents/azure/ai/agents/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_patch.py
  sdk/ai/azure-ai-agents/azure_ai_agents_tests.env
  sdk/ai/azure-ai-agents/tests/test_agents_client.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_async.py
Labels: AI

#40951 FIx for function name changes
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/azure/ai/agents/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_patch.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_stream_with_base_override_eventhandler_async.py
  sdk/ai/azure-ai-agents/samples/agents_streaming/sample_agents_stream_eventhandler_with_bing_grounding.py
  sdk/ai/azure-ai-agents/samples/agents_streaming/sample_agents_stream_with_base_override_eventhandler.py
Labels: AI

#40944 [Key Vault] Reintroduce activation skipping in security domain upload
  sdk/keyvault/azure-keyvault-securitydomain/CHANGELOG.md
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_internal/__init__.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_internal/async_polling.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_internal/polling.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_patch.py
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/aio/_patch.py
Labels: KeyVault, Client

#40954 Remove Key Authentication
  sdk/ai/azure-ai-agents/azure/ai/agents/_client.py
  sdk/ai/azure-ai-agents/azure/ai/agents/_configuration.py
  sdk/ai/azure-ai-agents/azure/ai/agents/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_client.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_configuration.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_patch.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_bing_grounding.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_enterprise_file_search.py
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI

#40957 Fixed logger
  sdk/ai/azure-ai-agents/azure/ai/agents/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_ai_agents_instrumentor.py
Labels: AI

#40959 clean up py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_patch.py
  sdk/ai/azure-ai-agents/pyproject.toml
Labels: AI

#40961 [Key Vault] Extend timeout for link verification throttling
  sdk/keyvault/ci.yml
Labels: KeyVault

#40952 expose indexer_permission_options
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/agent/aio/_agent_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
Labels: Search

#40834 [Storage] [Named Keywords] Blob Service Client
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_service_client.pyi
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_blob_service_client_async.pyi
Labels: Storage

#40893 Sync eng/common directory with azure-sdk-tools for PR 10521
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#40984 account for OAI breaking changes
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/label_grader.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/string_check_grader.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/text_similarity_grader.py
  sdk/evaluation/azure-ai-evaluation/dev_requirements.txt
  sdk/evaluation/azure-ai-evaluation/setup.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_aoai_graders.py
Labels: Evaluation

#40866 adding ai agents instrumentation
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
Labels: Monitor - Distro

#40985 Check for empty OAI results
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate_aoai.py
Labels: Evaluation

#40829 update tool accuracy for new behavior around built-in tools
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/_ai_services.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/_models.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_tool_call_accuracy/_tool_call_accuracy.py
  sdk/evaluation/azure-ai-evaluation/tests/converters/ai_agent_converter/serialization_helper.py
  sdk/evaluation/azure-ai-evaluation/tests/converters/ai_agent_converter/test_ai_agent_converter_internals.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_tool_call_accuracy_evaluator.py
Labels: customer-reported, Community Contribution, Evaluation

#40987 [Key Vault] Fix updated references in README
  sdk/keyvault/azure-keyvault-securitydomain/README.md
Labels: KeyVault, Client

#41007 updating changelog
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
Labels: Monitor - Distro

#40999 Honor MWR config in client
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_global_endpoint_manager.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_service_request_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_global_endpoint_manager_async.py
  sdk/cosmos/azure-cosmos/tests/test_fault_injection_transport.py
  sdk/cosmos/azure-cosmos/tests/test_fault_injection_transport_async.py
Labels: Cosmos

#41006 remove package check
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
Labels: Evaluation

#40963 Increment version for keyvault releases
  sdk/keyvault/azure-keyvault-securitydomain/CHANGELOG.md
  sdk/keyvault/azure-keyvault-securitydomain/azure/keyvault/securitydomain/_version.py
Labels: KeyVault

#40993 Sync eng/common directory with azure-sdk-tools for PR 10579
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#41020 Updates to Dataset upload methods
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch_datasets_async.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch_datasets.py
  sdk/ai/azure-ai-projects/generated_tests/test_ai_project_datasets_operations.py
  sdk/ai/azure-ai-projects/generated_tests/test_ai_project_datasets_operations_async.py
  sdk/ai/azure-ai-projects/samples/datasets/sample_datasets.py
  sdk/ai/azure-ai-projects/samples/datasets/sample_datasets_async.py
  sdk/ai/azure-ai-projects/tests/samples/test_samples.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI Projects

#40975 Handle git_props pop keyerror in job operations create_or_update
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
Labels: Machine Learning

#40752 Update changelog and version.py after release cut
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#40931 [Storage] Updated `walk_blobs` rtype to reflect both `BlobProperties` and `BlobPrefix`
  sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_container_client_async.py
Labels: Storage

#40998 Add get_thread_run span, add missing ids to end run, update tracing samples to use toolset
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_utils.py
  sdk/ai/azure-ai-agents/samples/agents_multiagent/utils/agent_trace_configurator.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_async_with_console_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_with_console_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_with_console_tracing_custom_attributes.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_stream_eventhandler_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_toolset_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_toolset_with_console_tracing.py
  sdk/ai/azure-ai-agents/samples/sample_agents_basics_stream_iteration.py
  sdk/ai/azure-ai-agents/tests/test_ai_agents_instrumentor.py
  sdk/ai/azure-ai-agents/tests/test_ai_agents_instrumentor_async.py
Labels: AI Projects

#41010 Sync eng/common directory with azure-sdk-tools for PR 10593
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#41033 _SafetyEvaluation randomization seed, concurrent tasks async
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_safety_evaluation/_safety_evaluation.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_safety_evaluation.py
Labels: Evaluation

#41035 Release azure monitor distro v1.6.9
  sdk/monitor/azure-monitor-opentelemetry/CHANGELOG.md
Labels: Monitor - Distro

#41009 M hietala/merge remove enable telemetry function
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_utils.py
  sdk/ai/azure-ai-agents/samples/agents_multiagent/utils/agent_trace_configurator.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_async_with_console_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_stream_eventhandler_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_stream_eventhandler_with_console_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_toolset_with_azure_monitor_tracing.py
Labels: AI Agents

#41017 first pass at separate converters for legacy vs fdp
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/_ai_services.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_converters/_models.py
  sdk/evaluation/azure-ai-evaluation/samples/agent_evaluators/agent_evaluation.ipynb
  sdk/evaluation/azure-ai-evaluation/tests/converters/ai_agent_converter/serialization_helper.py
  sdk/evaluation/azure-ai-evaluation/tests/converters/ai_agent_converter/test_ai_agent_converter_internals.py
Labels: customer-reported, Community Contribution, Evaluation

#41037 Evaluation SDK Release 1.7.0
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
Labels: Evaluation

#41040 Take setup dependency on azure-ai-agents. Update inference route to /models
  sdk/ai/azure-ai-projects/azure/ai/projects/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch_inference_async.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch_inference.py
  sdk/ai/azure-ai-projects/dev_requirements.txt
  sdk/ai/azure-ai-projects/samples/agents/sample_agents.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_async.py
  sdk/ai/azure-ai-projects/setup.py
Labels: AI Projects

#41038 Sync eng/common directory with azure-sdk-tools for PR 10611
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#41025 Jhakulin/delete ops update
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/apiview-properties.json
  sdk/ai/azure-ai-agents/assets.json
  sdk/ai/azure-ai-agents/azure/ai/agents/_client.py
  sdk/ai/azure-ai-agents/azure/ai/agents/_configuration.py
  sdk/ai/azure-ai-agents/azure/ai/agents/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_client.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_configuration.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_models.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_ai_agents_instrumentor.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_azure_functions_async.py
  sdk/ai/azure-ai-agents/samples/agents_async/sample_agents_code_interpreter_async.py
  sdk/ai/azure-ai-agents/samples/agents_files_images_inputs/sample_agents_with_code_interpreter_file_attachment.py
  sdk/ai/azure-ai-agents/samples/agents_multiagent/utils/agent_team.py
  sdk/ai/azure-ai-agents/samples/agents_multiagent/utils/agent_trace_configurator.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_stream_eventhandler_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_toolset_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_azure_functions.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_code_interpreter.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_code_interpreter_attachment_enterprise_search.py
  sdk/ai/azure-ai-agents/samples/sample_agents_basics.py
  sdk/ai/azure-ai-agents/samples/sample_agents_basics_thread_and_process_run.py
  sdk/ai/azure-ai-agents/samples/sample_agents_basics_thread_and_run.py
  sdk/ai/azure-ai-agents/tests/test_agents_client.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_async.py
  sdk/ai/azure-ai-agents/tests/test_ai_agents_instrumentor_async.py
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI Agents

#41044 Update package README.md
  sdk/ai/azure-ai-projects/README.md
Labels: AI Projects

#41047 Update changelog/version [1.27.1 hotfix release]
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#41052 Update changelog/version
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#41053 [Cherry-pick] Handle keyerror on missing props in pat url case
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_operations.py
Labels: Machine Learning

#41051 Agents v1 version
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/apiview-properties.json
  sdk/ai/azure-ai-agents/assets.json
  sdk/ai/azure-ai-agents/azure/ai/agents/_client.py
  sdk/ai/azure-ai-agents/azure/ai/agents/_configuration.py
  sdk/ai/azure-ai-agents/azure/ai/agents/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_client.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_configuration.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_enums.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_models.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/aio/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/aio/operations/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/aio/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/models/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/models/_models.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/models/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/operations/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/operations/_patch.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_fabric.py
  sdk/ai/azure-ai-agents/samples/agents_tools/sample_agents_sharepoint.py
  sdk/ai/azure-ai-agents/tests/test_agents_client_async.py
  sdk/ai/azure-ai-agents/tests/test_ai_agents_instrumentor_async.py
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI Agents

#41059 Fix lint
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/_base.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/logs/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/metrics/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_configure.py
Labels: Monitor - Exporter, Monitor - Distro

#41061 Update changelog
  sdk/search/azure-search-documents/CHANGELOG.md
Labels: Search

#40848 Alpha SDK Version Upgrade
  sdk/communication/azure-communication-callautomation/CHANGELOG.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_credential/call_automation_policy.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_version.py
Labels: Communication - Call Automation

#41065 Update version number
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/azure/ai/agents/_version.py
Labels: AI Agents

#41060 Identity token cred env
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_constants.py
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_version.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/tests/test_token_credentials_env.py
  sdk/identity/azure-identity/tests/test_token_credentials_env_async.py
Labels: Azure.Identity

#41066 Search fix 40157
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_search_indexing_buffered_sender.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_indexing_buffered_sender_async.py
Labels: Search

#41062 Quality gates and other small fixes in prep for release
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch_inference_async.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch_inference.py
  sdk/ai/azure-ai-projects/dev_requirements.txt
  sdk/ai/azure-ai-projects/pyproject.toml
  sdk/ai/azure-ai-projects/pyrightconfig.json
  sdk/ai/azure-ai-projects/samples/evaluation/sample_evaluations.py
  sdk/ai/azure-ai-projects/samples/evaluation/sample_evaluations_aoai_graders.py
  sdk/ai/azure-ai-projects/samples/evaluation/sample_evaluations_async.py
  sdk/ai/azure-ai-projects/tests/samples/test_samples.py
  shared_requirements.txt
Labels: AI Projects

#41071 Update changelog
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#41075 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#41076 Update implementation of .inference.get_azure_openai_client()
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch_inference_async.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch_inference.py
  sdk/ai/azure-ai-projects/samples/inference/async_samples/sample_chat_completions_with_azure_openai_client_async.py
  sdk/ai/azure-ai-projects/samples/inference/sample_chat_completions_with_azure_openai_client.py
Labels: AI Projects

#41069 [AI] [Agents] typespec update
  sdk/ai/azure-ai-agents/apiview-properties.json
  sdk/ai/azure-ai-agents/azure/ai/agents/_client.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/_client.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_enums.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_models.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/aio/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/aio/operations/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/aio/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/models/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/models/_models.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/models/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/operations/__init__.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/servicepatterns/operations/_patch.py
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI Agents

#41068 removing instrumentor call for azure monitor samples
  sdk/ai/azure-ai-agents/README.md
  sdk/ai/azure-ai-agents/samples/agents_multiagent/utils/agent_trace_configurator.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_async_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_stream_eventhandler_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-agents/samples/agents_telemetry/sample_agents_toolset_with_azure_monitor_tracing.py
Labels: AI Agents

#41091 Sync eng/common directory with azure-sdk-tools for PR 10616
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#40860 Sync eng/common directory with azure-sdk-tools for PR 10522
  eng/common/pipelines/templates/steps/check-spelling.yml
Labels: EngSys, Central-EngSys

#41093 [EG] may system events
  sdk/eventgrid/azure-eventgrid/CHANGELOG.md
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_legacy/_event_mappings.py
  sdk/eventgrid/azure-eventgrid/azure/eventgrid/_version.py
  sdk/eventgrid/azure-eventgrid/swagger/_constants.py
Labels: Event Grid

#41095 Sync eng/common directory with azure-sdk-tools for PR 10532
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#41101 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#41104 [AI] [Agents] sync to file purpose cleanup TypeSpec
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/aio/operations/_patch.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_enums.py
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_models.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_operations.py
  sdk/ai/azure-ai-agents/azure/ai/agents/operations/_patch.py
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI Agents

#41074 Update setup.py
  eng/tox/install_depend_packages.py
  sdk/evaluation/azure-ai-evaluation/pyproject.toml
  sdk/evaluation/azure-ai-evaluation/setup.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_mass_evaluate.py
Labels: Evaluation

#41100 Sync eng/common directory with azure-sdk-tools for PR 10550
  eng/common/TestResources/TestResources-Helpers.ps1
Labels: EngSys, Central-EngSys

#41105 Update change log and readme
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/cspell.json
  sdk/ai/azure-ai-projects/samples/inference/async_samples/sample_chat_completions_with_azure_openai_client_async.py
  sdk/ai/azure-ai-projects/tests/samples/test_samples.py
Labels: AI Projects

#41112 Manually remove unused services pattern classes from emitted code
  sdk/ai/azure-ai-projects/azure/ai/projects/_client.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_client.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/servicepatterns/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/servicepatterns/aio/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/servicepatterns/aio/operations/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/servicepatterns/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/servicepatterns/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/servicepatterns/buildingblocks/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/servicepatterns/buildingblocks/aio/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/servicepatterns/buildingblocks/aio/operations/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/servicepatterns/buildingblocks/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/servicepatterns/buildingblocks/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/servicepatterns/buildingblocks/operations/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/servicepatterns/buildingblocks/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/servicepatterns/buildingblocks/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/servicepatterns/operations/__init__.py
  sdk/ai/azure-ai-projects/azure/ai/projects/servicepatterns/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/servicepatterns/operations/_patch.py
Labels: AI Projects

#41114 Update changelog [azure-ai-ml v1.27.1]
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#41123 Users/singankit/readme update
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/samples/evaluation/data_folder/sample_data_evaluation.jsonl
  sdk/ai/azure-ai-projects/samples/evaluation/sample_evaluations.py
  sdk/ai/azure-ai-projects/samples/evaluation/sample_evaluations_async.py
Labels: AI Projects

#41127 update readme
  sdk/ai/azure-ai-agents/README.md
Labels: AI Agents

#41129 Sync eng/common directory with azure-sdk-tools for PR 10664
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#41131 Sync eng/common directory with azure-sdk-tools for PR 10665
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys

#41134 Update tsp-location.yaml
  sdk/ai/azure-ai-agents/tsp-location.yaml
Labels: AI Agents

#41132 Increment version after evaluation release
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_version.py
Labels: Evaluation

#40923 [Storage] [STG 99] Make QueueProperties.ApproximateMessagesCount a long
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/_azure_queue_storage.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/_utils/__init__.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/_utils/serialization.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/_azure_queue_storage.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/operations/_message_id_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/operations/_messages_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/operations/_queue_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/models/_models_py3.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_message_id_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_messages_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_queue_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_service_operations.py
Labels: Storage

#40859 [Identity] Re-enable client secret live tests
  sdk/identity/azure-identity/tests/conftest.py
  sdk/identity/azure-identity/tests/test_client_secret_credential.py
  sdk/identity/azure-identity/tests/test_live.py
  sdk/identity/azure-identity/tests/test_live_async.py
Labels: Azure.Identity

#41124 [Storage] Incremental copy through page blob does not accept None values for `seal_blob` and `blob_tags_string`
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_blob_client_helpers.py
  sdk/storage/azure-storage-blob/tests/test_page_blob.py
  sdk/storage/azure-storage-blob/tests/test_page_blob_async.py
Labels: Storage

#41143 Sync eng/common directory with azure-sdk-tools for PR 10657
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#40765 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
Labels: App Configuration Provider

#40899 Add Weighted RRF to Azure Cosmos DB Python SDK
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/aio/hybrid_search_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/hybrid_search_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/tests/test_query_hybrid_search.py
  sdk/cosmos/azure-cosmos/tests/test_query_hybrid_search_async.py
Labels: Cosmos

#41191 fix tables links
  sdk/tables/azure-data-tables/README.md
Labels: Tables

#41194 update version
  sdk/cosmos/azure-cosmos/CHANGELOG.md
Labels: Cosmos

#41018 [Tables] Update dev test files
  sdk/tables/azure-data-tables/dev_requirements.txt
  sdk/tables/azure-data-tables/samples/async_samples/sample_copy_table_async.py
  sdk/tables/azure-data-tables/samples/sample_copy_table.py
  sdk/tables/azure-data-tables/tests/_shared/cosmos_testcase.py
  sdk/tables/test-resources.bicep
  sdk/tables/test-resources.json
  sdk/tables/tests.yml
Labels: Tables

#41195 Updating Deid changelog and README links
  sdk/healthdataaiservices/azure-health-deidentification/CHANGELOG.md
  sdk/healthdataaiservices/azure-health-deidentification/samples/README.md
Labels: Health Deidentification

#40081 Increment version for eventhub releases
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/azure/eventhub/_version.py
Labels: Event Hubs, no-recent-activity

#41147 Re-emit from TypeSpec, after removing `.ServicePatterns` from namespace `Azure.AI.Projects.ServicePatterns`
  sdk/ai/azure-ai-projects/apiview-properties.json
  sdk/ai/azure-ai-projects/azure/ai/projects/_client.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_client.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/samples/inference/async_samples/sample_chat_completions_with_azure_openai_client_async.py
  sdk/ai/azure-ai-projects/samples/inference/sample_chat_completions_with_azure_openai_client.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI Projects

#41192 Howie/fix links
  .github/CODEOWNERS
  sdk/ai/azure-ai-agents/README.md
Labels: AI Agents

#41150 [AI] [Agents] correct convenience doc string for Bing Grounding
  sdk/ai/azure-ai-agents/azure/ai/agents/models/_patch.py
Labels: AI Agents

#41223 project enable telemetry fix for agents
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/azure/ai/projects/_patch_telemetry.py
Labels: AI Projects

#40797 [Storage] [STG 99] Error Code for Copy Blob
  sdk/storage/azure-storage-blob/assets.json
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_azure_blob_storage.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_utils/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_utils/serialization.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_azure_blob_storage.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_append_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_models_py3.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_append_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_list_blobs_helper.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/policies.py
  sdk/storage/azure-storage-blob/tests/test_block_blob.py
  sdk/storage/azure-storage-blob/tests/test_block_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_common_blob_async.py
  sdk/storage/azure-storage-blob/tests/test_retry.py
  sdk/storage/azure-storage-blob/tests/test_retry_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/policies.py
  sdk/storage/azure-storage-file-share/assets.json
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/models/_models_py3.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/policies.py
  sdk/storage/azure-storage-file-share/tests/test_file.py
  sdk/storage/azure-storage-file-share/tests/test_file_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/policies.py
Labels: Storage

#41224 adding instrumentation for create_thread_and_run
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_ai_agents_instrumentor.py
Labels: AI Agents

#41225 adding instrumentation to create_thread_and_run
  sdk/ai/azure-ai-agents/CHANGELOG.md
  sdk/ai/azure-ai-agents/azure/ai/agents/telemetry/_ai_agents_instrumentor.py
Labels: AI Agents

#40718 Phonenumbers/reservations implementation
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-phonenumbers/assets.json
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/__init__.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_api_versions.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/_configuration.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/_patch.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/_utils/__init__.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/_utils/serialization.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/aio/_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/aio/_configuration.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/aio/_patch.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/aio/operations/_operations.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/aio/operations/_patch.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/models/__init__.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/models/_enums.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/models/_models.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/models/_patch.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/operations/_operations.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_generated/operations/_patch.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_phone_numbers_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/_version.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/aio/_phone_numbers_client_async.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/siprouting/_sip_routing_client.py
  sdk/communication/azure-communication-phonenumbers/azure/communication/phonenumbers/siprouting/aio/_sip_routing_client_async.py
  sdk/communication/azure-communication-phonenumbers/samples/browse_and_reserve_numbers_bulk_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/browse_and_reserve_numbers_bulk_sample_async.py
  sdk/communication/azure-communication-phonenumbers/samples/browse_and_reserve_phone_numbers_sample.py
  sdk/communication/azure-communication-phonenumbers/samples/browse_and_reserve_phone_numbers_sample_async.py
  sdk/communication/azure-communication-phonenumbers/swagger/PHONE_NUMBER_SWAGGER.md
  sdk/communication/azure-communication-phonenumbers/test/conftest.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_administration_client_async.py
  sdk/communication/azure-communication-phonenumbers/test/test_phone_number_operations.py
Labels: Communication - Phone Numbers

#41230 Updating development status and test resources
  sdk/healthdataaiservices/azure-health-deidentification/setup.py
  sdk/healthdataaiservices/azure-health-deidentification/test-resources.bicep
Labels: Health Deidentification

#41248 Updating test resource script path
  sdk/healthdataaiservices/azure-health-deidentification/test-resources-post.ps1
Labels: Health Deidentification

#41146 Update Redteaming agent to go through FDP
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_agent/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_agent/_agent_tools.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_agent/_semantic_kernel_plugin.py
  sdk/evaluation/azure-ai-evaluation/samples/semantic_kernel_red_team_agent_sample.py
Labels: Evaluation

#41253 GA5 Recorded Live Tests
  sdk/communication/azure-communication-callautomation/assets.json
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_call_automation_client.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/aio/_call_automation_client_async.py
  sdk/communication/azure-communication-callautomation/tests/callautomation_test_case.py
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_add_participant_then_cancel_request.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_create_VOIP_call_and_answer_then_hangup.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_callautomation_client.pyTestCallAutomationClientAutomatedLiveTesttest_start_recording_with_server_call_id.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_add_and_hold_unhold_participant_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_add_and_mute_participant_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_interrupt_audio_and_announce_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_combined_file_and_text_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_combined_file_and_text_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_media_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_operationcallbackurl_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_operationcallbackurl_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_file_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_text_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_multiple_text_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_and_valid_file_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_and_valid_file_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_file_sources_with_play_media.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_play_with_invalid_file_sources_with_play_media_all.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_start_stop_media_streaming_in_a_call.event.json
  sdk/communication/azure-communication-callautomation/tests/events/test_e2e_media_client.pyTestMediaAutomatedLiveTesttest_start_stop_transcription_in_call.event.json
  sdk/communication/azure-communication-callautomation/tests/test_call_media_client.py
  sdk/communication/azure-communication-callautomation/tests/test_call_recording_client.py
  sdk/communication/azure-communication-callautomation/tests/test_callautomation_client.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_callautomation_client.py
  sdk/communication/azure-communication-callautomation/tests/test_e2e_media_client.py
Labels: Communication - Call Automation

#41055 fix command job environment to support multiple data type
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/job/parameterized_command.py
  sdk/ml/azure-ai-ml/tests/command_job/unittests/test_command_job_schema.py
  sdk/ml/azure-ai-ml/tests/test_configs/command_job/command_job_inputs_dataset_test.yml
Labels: Machine Learning

#40811 Skip deployment validation for local deployment when endpoint is invoked
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_online_endpoint_operations.py
Labels: Machine Learning

#41265 Sync eng/common directory with azure-sdk-tools for PR 10718
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#39536 Codeql fixes [azure-ai-ml]
  sdk/ml/azure-ai-ml/assets.json
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/constants/_component.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/model.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/environment.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_util.py
  sdk/ml/azure-ai-ml/tests/command_job/unittests/test_command_job_schema.py
  sdk/ml/azure-ai-ml/tests/component/unittests/test_flow_component.py
  sdk/ml/azure-ai-ml/tests/conftest.py
  sdk/ml/azure-ai-ml/tests/dsl/e2etests/test_dsl_pipeline.py
  sdk/ml/azure-ai-ml/tests/environment/unittests/test_env_entity.py
Labels: Machine Learning, Do Not Review

#41281 Sync eng/common directory with azure-sdk-tools for PR 10733
  eng/common/mcp/README.md
Labels: EngSys, Central-EngSys

#41278 [Cosmos] fix flaky tests
  sdk/cosmos/azure-cosmos/tests/test_backwards_compatibility.py
  sdk/cosmos/azure-cosmos/tests/test_backwards_compatibility_async.py
  sdk/cosmos/azure-cosmos/tests/test_changefeed_partition_key_variation_async.py
  sdk/cosmos/azure-cosmos/tests/test_headers.py
  sdk/cosmos/azure-cosmos/tests/test_headers_async.py
Labels: Cosmos
