Repository Azure/azure-sdk-for-python, pull requests merged in 2025-01, with the labels that each got.

#39012 adding release date to 1.24.0
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#39013 Release/1.25.0
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_version.py
Labels: Machine Learning

#38855 YAML signing
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/samples/hello.py
  sdk/ml/azure-ai-ml/samples/job.yaml
  sdk/ml/azure-ai-ml/samples/ml_samples_test_prepForSign.py
Labels: Machine Learning

#39018 fix tests weekly
  sdk/openai/azure-openai/tests/test_chat_completions.py
  sdk/openai/azure-openai/tests/test_chat_completions_async.py
  sdk/openai/azure-openai/tests/test_completions.py
  sdk/openai/azure-openai/tests/test_completions_async.py
Labels: OpenAI

#39020 Sync eng/common directory with azure-sdk-tools for PR 9580
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#39016 YAML signing (#38855)
  sdk/ml/azure-ai-ml/azure/ai/ml/_utils/_asset_utils.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_component_operations.py
  sdk/ml/azure-ai-ml/samples/hello.py
  sdk/ml/azure-ai-ml/samples/job.yaml
  sdk/ml/azure-ai-ml/samples/ml_samples_test_prepForSign.py
Labels: Machine Learning

#38939 add initial realtime tests for aoai
  sdk/openai/azure-openai/dev_requirements.txt
  sdk/openai/azure-openai/tests/conftest.py
  sdk/openai/azure-openai/tests/test_realtime.py
  sdk/openai/azure-openai/tests/test_realtime_async.py
  sdk/openai/tests.yml
Labels: OpenAI

#39022 Fix registry model mdc bug
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
Labels: Machine Learning

#39032 Fix registry model mdc wrong resource group bug (#39022)
  sdk/ml/azure-ai-ml/azure/ai/ml/_ml_client.py
Labels: Machine Learning

#38945 2.0.0 Release
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
Labels: App Configuration Provider

#39024 [EventHub] drop 3.7 from checkpointstoreblob docs
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/README.md
Labels: Event Hubs

#38827 fix reading blob chars in text mode using StorageStreamDownloader.read()
  sdk/storage/azure-storage-blob/azure/storage/blob/_download.py
  sdk/storage/azure-storage-blob/azure/storage/blob/aio/_download_async.py
Labels: Storage, customer-reported, Community Contribution

#39019 Expose document_debug_info and fix samples
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/_search_client.py
  sdk/search/azure-search-documents/azure/search/documents/_search_indexing_buffered_sender.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_paging.py
  sdk/search/azure-search-documents/azure/search/documents/aio/_search_client_async.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/aio/_search_index_client.py
  sdk/search/azure-search-documents/azure/search/documents/indexes/models/_models.py
  sdk/search/azure-search-documents/samples/async_samples/sample_semantic_search_async.py
  sdk/search/azure-search-documents/samples/sample_index_crud_operations.py
  sdk/search/azure-search-documents/tests/async_tests/test_search_client_search_live_async.py
  sdk/search/azure-search-documents/tests/test_search_client_search_live.py
Labels: Search

#37438 [Appconfig] Migrate to generate from tsp
  sdk/appconfiguration/azure-appconfiguration/MANIFEST.in
  sdk/appconfiguration/azure-appconfiguration/assets.json
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_model_base.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_operations/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_operations/_operations.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_operations/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_serialization.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/_vendor.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_client.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_configuration.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_operations/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_operations/_operations.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_operations/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/aio/_vendor.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/__init__.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/_enums.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/_models.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/_models_py3.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_generated/models/_patch.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_models.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_utils.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/aio/_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/py.typed
  sdk/appconfiguration/azure-appconfiguration/setup.py
  sdk/appconfiguration/azure-appconfiguration/swagger/README.md
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_async.py
  sdk/appconfiguration/azure-appconfiguration/tsp-location.yaml
Labels: App Configuration

#39041 Sync eng/common directory with azure-sdk-tools for PR 9584
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#39042 remove marshamllow _T reference
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/fields.py
  sdk/ml/azure-ai-ml/dev_requirements.txt
Labels: Machine Learning

#39053 remove marshmallow _T reference (#39042)
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/fields.py
  sdk/ml/azure-ai-ml/dev_requirements.txt
Labels: Machine Learning

#39054 Updating changelog for removal of mashmallow _T reference hotfix version: 1.23.1
  sdk/ml/azure-ai-ml/CHANGELOG.md
Labels: Machine Learning

#39057 Removed marshmallow _T reference - cherry-pick changes from 1.23.1
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/_schema/core/fields.py
  sdk/ml/azure-ai-ml/dev_requirements.txt
Labels: Machine Learning

#38811 Disable Promptflow local tracing
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
Labels: Evaluation

#39068 [azure-ai-translation-document] next-pylint
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_operations/_patch.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/_patch.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_operations/_patch.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/aio/_patch.py
  sdk/translation/azure-ai-translation-document/azure/ai/translation/document/models/_patch.py
Labels: Cognitive - Translator

#39064 [next-pylint] identity useless-disable
  sdk/identity/azure-identity/azure/__init__.py
  sdk/identity/azure-identity/azure/identity/_credentials/authorization_code.py
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_arc.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_powershell.py
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/_internal/auth_code_redirect_handler.py
  sdk/identity/azure-identity/azure/identity/_internal/decorators.py
  sdk/identity/azure-identity/azure/identity/_internal/interactive.py
  sdk/identity/azure-identity/azure/identity/_internal/managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_client.py
  sdk/identity/azure-identity/azure/identity/_internal/msal_managed_identity_client.py
  sdk/identity/azure-identity/azure/identity/_internal/shared_token_cache.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/decorators.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/managed_identity_client.py
Labels: Azure.Identity

#38871 [ServiceBus] stress optional rotate logs
  sdk/servicebus/azure-servicebus/stress/scripts/logger.py
  sdk/servicebus/azure-servicebus/stress/scripts/stress_test_base.py
  sdk/servicebus/azure-servicebus/stress/scripts/test_stress_queues.py
  sdk/servicebus/azure-servicebus/stress/scripts/test_stress_queues_async.py
  sdk/servicebus/azure-servicebus/stress/templates/testjob.yaml
Labels: Service Bus

#39029 Fixed and chain stream
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_eventhandler_with_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_stream_with_base_override_eventhandler_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_with_base_override_eventhandler.py
  sdk/ai/azure-ai-projects/tests/agents/assets/fetch_current_datetime_and_weather_stream_response.txt
  sdk/ai/azure-ai-projects/tests/agents/assets/main_stream_response.txt
  sdk/ai/azure-ai-projects/tests/agents/assets/send_email_stream_response.txt
  sdk/ai/azure-ai-projects/tests/agents/test_agent_models.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_models_async.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_operations.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_operations_async.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
Labels: AI

#39084 fix typing in samples
  sdk/openai/azure-openai/samples/chat_completions_aoai_quickstart.py
  sdk/openai/azure-openai/samples/chat_completions_oyd.py
  sdk/openai/azure-openai/samples/completions_aoai_quickstart.py
  sdk/openai/azure-openai/samples/images_aoai_quickstart.py
Labels: OpenAI

#39078 [EH] CheckpointStore bump + next-mypy enabling/fix
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_blobstoragecsaio.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_download.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/__init__.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/aio/__init__.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/aio/operations/_directory_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/models/_models.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/operations/_directory_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_shared/encryption.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/aio/_download_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/pyproject.toml
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_blobstoragecs.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_download.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_generated/__init__.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_generated/aio/__init__.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/aio/_download_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/pyproject.toml
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/receive_events_using_checkpoint_store.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/receive_events_using_checkpoint_store_storage_api_version.py
  sdk/eventhub/azure-eventhub-checkpointstoretable/pyproject.toml
Labels: Event Hubs

#38941 [communication]-SMS-Replaced DefaultAzureCredential with get_credential()
  sdk/communication/azure-communication-sms/samples/sms_token_credential_auth_sample.py
  sdk/communication/azure-communication-sms/samples/sms_token_credential_auth_sample_async.py
  sdk/communication/azure-communication-sms/tests/test_sms_client_e2e.py
  sdk/communication/azure-communication-sms/tests/test_sms_client_e2e_async.py
Labels: Communication - SMS

#37805 [communication]-[sms]-Fixes mypy type errors.
  sdk/communication/azure-communication-sms/azure/communication/sms/_sms_client.py
  sdk/communication/azure-communication-sms/azure/communication/sms/aio/_sms_client_async.py
  sdk/communication/azure-communication-sms/samples/send_sms_to_multiple_recipients_sample.py
  sdk/communication/azure-communication-sms/samples/send_sms_to_multiple_recipients_sample_async.py
  sdk/communication/azure-communication-sms/samples/send_sms_to_single_recipient_sample.py
  sdk/communication/azure-communication-sms/samples/send_sms_to_single_recipient_sample_async.py
  sdk/communication/azure-communication-sms/samples/sms_token_credential_auth_sample.py
  sdk/communication/azure-communication-sms/samples/sms_token_credential_auth_sample_async.py
Labels: Communication - Common, Communication - SMS

#38999 Support structured output for chat completions
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/assets.json
  sdk/ai/azure-ai-inference/azure/ai/inference/__init__.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_client.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_configuration.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_model_base.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_operations/__init__.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_operations/_operations.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_serialization.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_vendor.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/__init__.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_client.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_configuration.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_operations/__init__.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_operations/_operations.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_vendor.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/__init__.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_enums.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_models.py
  sdk/ai/azure-ai-inference/samples/README.md
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_structured_output.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_structured_output_pydantic.py
  sdk/ai/azure-ai-inference/setup.py
  sdk/ai/azure-ai-inference/tests/model_inference_test_base.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client_async.py
  sdk/ai/azure-ai-inference/tests/test_client_tracing.py
  sdk/ai/azure-ai-inference/tsp-location.yaml
Labels: AI Model Inference

#39094 Fixed samples
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/samples/async_samples/sample_index_crud_operations_async.py
Labels: Search

#39102 Re-emit SDK from TypeSpec, with 'usage' property now optional for chat completions streaming update
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_models.py
  sdk/ai/azure-ai-inference/tsp-location.yaml
Labels: AI Model Inference

#39095 multiagent utility
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_azure_functions_async.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_code_interpreter_async.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/agent_team.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/agent_team_config.yaml
  sdk/ai/azure-ai-projects/samples/agents/multiagent/sample_agents_agent_team.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/sample_agents_multi_agent_team.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_code_interpreter.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_code_interpreter_file_attachment.py
  sdk/ai/azure-ai-projects/samples/agents/user_functions.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
Labels: AI

#39085 [DI] Add a sample to README.md
  sdk/documentintelligence/azure-ai-documentintelligence/README.md
  sdk/documentintelligence/azure-ai-documentintelligence/assets.json
  sdk/documentintelligence/azure-ai-documentintelligence/samples/async_samples/sample_convert_to_and_from_dict_async.py
  sdk/documentintelligence/azure-ai-documentintelligence/samples/sample_convert_to_and_from_dict.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout.py
  sdk/documentintelligence/azure-ai-documentintelligence/tests/test_dac_analyze_layout_async.py
Labels: Document Intelligence

#39110 Fix urls
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/README.md
  sdk/search/azure-search-documents/TROUBLESHOOTING.md
  sdk/search/azure-search-documents/samples/README.md
  sdk/search/azure-search-documents/samples/async_samples/sample_authentication_async.py
  sdk/search/azure-search-documents/samples/sample_authentication.py
  sdk/search/azure-search-documents/tests/perfstress_tests/README.md
Labels: Search

#39115 Fixed urls
  sdk/appconfiguration/azure-appconfiguration-provider/samples/README.md
  sdk/appconfiguration/azure-appconfiguration/README.md
  sdk/appconfiguration/azure-appconfiguration/TROUBLESHOOTING.md
  sdk/appconfiguration/azure-appconfiguration/samples/README.md
  sdk/appconfiguration/azure-appconfiguration/tests/test_azure_appconfiguration_client_aad_async.py
Labels: App Configuration, App Configuration Provider

#39124 Fix urls
  sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md
  sdk/textanalytics/azure-ai-textanalytics/README.md
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/_operations_mixin.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/aio/_operations_mixin.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/aio/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_05_01/_metadata.json
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_05_01/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2022_05_01/aio/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2023_04_01/_metadata.json
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2023_04_01/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v2023_04_01/aio/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_0/_metadata.json
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_0/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_0/aio/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1/_metadata.json
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1/aio/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1/aio/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_generated/v3_1/operations/_text_analytics_client_operations.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py
  sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/aio/_text_analytics_client_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/README.md
  sdk/textanalytics/azure-ai-textanalytics/samples/async_samples/sample_authentication_async.py
  sdk/textanalytics/azure-ai-textanalytics/samples/sample_authentication.py
Labels: Cognitive - Text Analytics

#38955 Azure AI inference events timestamp in AzMon workaround
  sdk/ai/azure-ai-inference/azure/ai/inference/tracing.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_tracing.py
  sdk/ai/azure-ai-inference/tests/gen_ai_trace_verifier.py
Labels: AI Model Inference

#39123 Fix urls
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/azure/data/tables/_authentication.py
  sdk/tables/azure-data-tables/azure/data/tables/_models.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_authentication_async.py
  sdk/tables/azure-data-tables/samples/README.md
  sdk/tables/azure-data-tables/tests/test_challenge_auth.py
  sdk/tables/azure-data-tables/tests/test_challenge_auth_async.py
Labels: Tables

#39117 Fix urls
  sdk/storage/azure-storage-blob-changefeed/README.md
  sdk/storage/azure-storage-blob-changefeed/samples/README.md
  sdk/storage/azure-storage-blob/README.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_append_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_append_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/authentication.py
  sdk/storage/azure-storage-blob/samples/README.md
  sdk/storage/azure-storage-blob/samples/forecasting_in_vs_code_with_blob.ipynb
  sdk/storage/azure-storage-file-datalake/GEN1_GEN2_MAPPING.md
  sdk/storage/azure-storage-file-datalake/README.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_file_system_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_path_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_file_system_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_path_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/authentication.py
  sdk/storage/azure-storage-file-datalake/samples/README.md
  sdk/storage/azure-storage-file-share/README.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/aio/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_directory_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_file_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_generated/operations/_share_operations.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/authentication.py
  sdk/storage/azure-storage-file-share/samples/README.md
  sdk/storage/azure-storage-queue/README.md
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/operations/_message_id_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/operations/_messages_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/operations/_queue_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/aio/operations/_service_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_message_id_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_messages_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_queue_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_queue_service_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/authentication.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_client_async.py
  sdk/storage/azure-storage-queue/azure/storage/queue/aio/_queue_service_client_async.py
  sdk/storage/azure-storage-queue/samples/README.md
Labels: Storage

#39127 Update sample_evaluations.py
  sdk/ai/azure-ai-projects/samples/evaluations/async_samples/sample_evaluations_async.py
  sdk/ai/azure-ai-projects/samples/evaluations/sample_evaluations.py
Labels: AI

#38925 Implement live metrics filtering for docs
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_filter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_state.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_types.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_validate.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_filter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_utils.py
Labels: Monitor - Exporter

#39119 Fix urls
  sdk/schemaregistry/azure-schemaregistry-avroencoder/README.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/README.md
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/encode_and_decode_event_data_message_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/encode_and_decode_with_message_content_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/eventhub_receive_integration_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/async_samples/eventhub_send_integration_async.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/encode_and_decode_event_data_message.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/encode_and_decode_with_message_content.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/eventhub_receive_integration.py
  sdk/schemaregistry/azure-schemaregistry-avroencoder/samples/sync_samples/eventhub_send_integration.py
  sdk/schemaregistry/azure-schemaregistry/README.md
  sdk/schemaregistry/azure-schemaregistry/samples/README.md
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/jsonencoder/encode_and_decode_event_data_message_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/jsonencoder/encode_and_decode_with_message_content_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/jsonencoder/eventhub_receive_integration_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/jsonencoder/eventhub_send_integration_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/sample_code_schemaregistry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/async_samples/schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/jsonencoder/encode_and_decode_event_data_message.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/jsonencoder/encode_and_decode_with_message_content.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/jsonencoder/eventhub_receive_integration.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/jsonencoder/eventhub_send_integration.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/sample_code_schemaregistry.py
  sdk/schemaregistry/azure-schemaregistry/samples/sync_samples/schema_registry.py
Labels: Schema Registry

#39122 Fix urls
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/aio/operations/_append_blob_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/aio/operations/_blob_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/aio/operations/_block_blob_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/aio/operations/_container_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/aio/operations/_page_blob_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/aio/operations/_service_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/operations/_append_blob_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/operations/_blob_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/operations/_block_blob_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/operations/_container_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/operations/_page_blob_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_generated/operations/_service_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_models.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/azure/eventhub/extensions/checkpointstoreblobaio/_vendor/storage/blob/_shared/authentication.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/samples/receive_events_using_checkpoint_store_storage_api_version_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_generated/aio/operations/_append_blob_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_generated/aio/operations/_blob_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_generated/aio/operations/_block_blob_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_generated/aio/operations/_container_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_generated/aio/operations/_page_blob_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_generated/aio/operations/_service_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_generated/operations/_append_blob_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_generated/operations/_blob_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_generated/operations/_block_blob_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_generated/operations/_container_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_generated/operations/_page_blob_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_generated/operations/_service_operations.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_models.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/_shared/authentication.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/README.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/samples/receive_events_using_checkpoint_store_storage_api_version.py
  sdk/eventhub/azure-eventhub-checkpointstoretable/README.md
  sdk/eventhub/azure-eventhub-checkpointstoretable/azure/eventhub/extensions/checkpointstoretable/_vendor/data/tables/_authentication.py
  sdk/eventhub/azure-eventhub-checkpointstoretable/azure/eventhub/extensions/checkpointstoretable/_vendor/data/tables/_models.py
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/eventhub/azure-eventhub/README.md
  sdk/eventhub/azure-eventhub/TROUBLESHOOTING.md
  sdk/eventhub/azure-eventhub/samples/README.md
  sdk/eventhub/azure-eventhub/samples/async_samples/iot_hub_connection_string_receive_async.py
Labels: Event Hubs

#39131 handle incompleted events
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_models.py
  sdk/ai/azure-ai-projects/tests/agents/test_agent_models_async.py
Labels: AI

#39043 Fix CI
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/README.md
  sdk/evaluation/azure-ai-evaluation/samples/README.md
  sdk/evaluation/azure-ai-evaluation/setup.py
  sdk/evaluation/azure-ai-evaluation/tests/__pf_service_isolation.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/ci.yml
  sdk/evaluation/platform-matrix.json
  tools/azure-sdk-tools/ci_tools/functions.py
Labels: Machine Learning

#39130 No need to write "content=" when creating UserMessage, SystemMessage, AssistantMessage and ToolMessage
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/azure/ai/inference/_operations/_operations.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_serialization.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_operations/_operations.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/__init__.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_models.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/tracing.py
  sdk/ai/azure-ai-inference/samples/README.md
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_from_input_dict_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_streaming_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_streaming_azure_openai_async.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_azure_openai.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_dict.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_dict_with_image_url.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_streaming.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_streaming_with_entra_id_auth.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_streaming_with_tools.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_defaults.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_history.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_image_data.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_image_url.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_model_extras.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_structured_output.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_structured_output_pydantic.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_tools.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_tracing.py
  sdk/ai/azure-ai-inference/samples/sample_load_client.py
  sdk/ai/azure-ai-inference/tests/gen_ai_trace_verifier.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client_async.py
  sdk/ai/azure-ai-inference/tests/test_unit_tests.py
  sdk/ai/azure-ai-inference/tsp-location.yaml
Labels: AI Model Inference

#39168 Support capture of exceptions from span event for live metrics
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_live_metrics.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_quickpulse/_types.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/quickpulse/test_live_metrics.py
Labels: Monitor - Exporter

#38991 fix: handle URL-safe base64 decoding for JWT
  sdk/identity/azure-identity/azure/identity/_internal/decorators.py
  sdk/identity/azure-identity/azure/identity/aio/_internal/decorators.py
Labels: customer-reported, Azure.Identity, Community Contribution

#38701 [Azure Load Testing] Add NOT_VALIDATED to list of terminal states
  sdk/loadtesting/azure-developer-loadtesting/CHANGELOG.md
  sdk/loadtesting/azure-developer-loadtesting/assets.json
  sdk/loadtesting/azure-developer-loadtesting/azure/developer/loadtesting/_generated/aio/operations/_patch.py
  sdk/loadtesting/azure-developer-loadtesting/azure/developer/loadtesting/_generated/operations/_patch.py
  sdk/loadtesting/azure-developer-loadtesting/cspell.json
  sdk/loadtesting/azure-developer-loadtesting/pyproject.toml
  sdk/loadtesting/azure-developer-loadtesting/setup.py
  sdk/loadtesting/azure-developer-loadtesting/tests/sample.jmx
  sdk/loadtesting/azure-developer-loadtesting/tests/second-sample.jmx
  sdk/loadtesting/azure-developer-loadtesting/tests/testcase.py
Labels: Load Test Service

#39086 next-pylint for core packages
  sdk/core/azure-core-experimental/azure/core/experimental/transport/_httpx.py
  sdk/core/azure-core-experimental/azure/core/experimental/transport/_httpx_async.py
  sdk/core/azure-core-experimental/azure/core/experimental/transport/_pyodide.py
  sdk/core/azure-core-tracing-opencensus/azure/core/tracing/ext/opencensus_span/__init__.py
  sdk/core/azure-core-tracing-opentelemetry/azure/core/tracing/ext/opentelemetry_span/__init__.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication.py
  sdk/core/azure-core/azure/core/pipeline/policies/_authentication_async.py
  sdk/core/azure-mgmt-core/azure/mgmt/core/policies/_base_async.py
Labels: Azure.Core

#39003 Test cleanup: Remove or unit-ify redundant/outdated e2e tests
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_mass_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate_performance.py
Labels: Evaluation

#39177 {Communication]-SMS-Updated configuration of live test pipeline.
  sdk/communication/azure-communication-sms/tests.yml
Labels: Communication - SMS

#39174 [SchemaRegistry] next-pylint updates
  sdk/schemaregistry/azure-schemaregistry-avroencoder/conftest.py
  sdk/schemaregistry/azure-schemaregistry/assets.json
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_configuration.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_model_base.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_operations/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_operations/_operations.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_operations/_patch.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_patch.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_serialization.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/_vendor.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_client.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_configuration.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_operations/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_operations/_operations.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_operations/_patch.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_patch.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/aio/_vendor.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/encoder/jsonencoder/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/encoder/jsonencoder/_schema_registry_json_encoder.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/encoder/jsonencoder/_utils.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/encoder/jsonencoder/aio/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/encoder/jsonencoder/aio/_schema_registry_json_encoder_async.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/models/__init__.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/models/_enums.py
  sdk/schemaregistry/azure-schemaregistry/azure/schemaregistry/models/_patch.py
  sdk/schemaregistry/azure-schemaregistry/setup.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/mock_transport_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/async_tests/test_schema_registry_async.py
  sdk/schemaregistry/azure-schemaregistry/tests/mock_transport.py
  sdk/schemaregistry/azure-schemaregistry/tests/test_schema_registry.py
  sdk/schemaregistry/azure-schemaregistry/tsp-location.yaml
Labels: Schema Registry

#39179 Increment version for search releases
  sdk/search/azure-search-documents/CHANGELOG.md
  sdk/search/azure-search-documents/azure/search/documents/_version.py
Labels: Search

#39178 Release azure-monitor-opentelemetry-exporter v1.0.0b33
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor - Exporter

#39183 Users/singankit/connection model config
  sdk/ai/azure-ai-projects/CHANGELOG.md
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/tests/evaluation/test_evaluation.py
Labels: AI

#39088 [Monitor][Query] Release prep
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/setup.py
Labels: Monitor

#39103 Mypy Error Fixes
  sdk/cosmos/azure-cosmos/azure/cosmos/_container_recreate_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_retry_utility.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_retry_utility_async.py
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_aad.py
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_resource_token.py
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_resource_token_async.py
  sdk/cosmos/azure-cosmos/samples/concurrency_sample.py
  sdk/cosmos/azure-cosmos/samples/diagnostics_handler_sample.py
  sdk/cosmos/azure-cosmos/samples/examples.py
  sdk/cosmos/azure-cosmos/samples/examples_async.py
  sdk/cosmos/azure-cosmos/samples/session_token_management.py
  sdk/cosmos/azure-cosmos/samples/session_token_management_async.py
Labels: Cosmos

#39191 Increment version for monitor releases
  sdk/monitor/azure-monitor-query/CHANGELOG.md
  sdk/monitor/azure-monitor-query/azure/monitor/query/_version.py
Labels: Monitor

#39184 Sync eng/common directory with azure-sdk-tools for PR 9614
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#39182 [EH/SB] missing await
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_sender_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_sender_async.py
Labels: Service Bus, Event Hubs

#39199 Azure Load testing prepare for 2025-01-20 release
  sdk/loadtesting/azure-developer-loadtesting/CHANGELOG.md
Labels: Load Test Service

#39197 update alert_enable property explanation in model monitor signals
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_monitoring/signals.py
Labels: Machine Learning

#39180 [EventHub] update Timed to RotatingFileHandler
  sdk/eventhub/azure-eventhub/stress/Dockerfile
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_consumer_stress_async.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_consumer_stress_sync.py
  sdk/eventhub/azure-eventhub/stress/scripts/azure_eventhub_producer_stress.py
  sdk/eventhub/azure-eventhub/stress/scripts/dev_requirement.txt
  sdk/eventhub/azure-eventhub/stress/scripts/logger.py
  sdk/servicebus/azure-servicebus/stress/Chart.lock
  sdk/servicebus/azure-servicebus/stress/Dockerfile
  sdk/servicebus/azure-servicebus/stress/scenarios-matrix.yaml
  sdk/servicebus/azure-servicebus/stress/scripts/dev_requirements.txt
Labels: Service Bus, Event Hubs

#39188 Increment version for monitor releases
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_version.py
Labels: Monitor - Exporter

#32061 [Azure AMQP] Handle Websocket Disconnect in Async
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/aio/_transport_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/aio/_transport_async.py
Labels: Service Bus, Event Hubs

#39205 Sync eng/common directory with azure-sdk-tools for PR 9635
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#39206 Fix console spew warnings from _models.py. Fix missing mentioning of setting MODEL_DEPLOYMENT_NAME in samples headers
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/agent_team.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_ai_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_basics_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_bing_grounding.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_code_interpreter.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_code_interpreter_attachment_enterprise_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_enterprise_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_functions_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_json_schema.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_openapi.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_run_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_console_tracing.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_functions.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_eventhandler_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_iteration.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_iteration_with_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_iteration_with_toolset.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_stream_with_base_override_eventhandler.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_batch_enterprise_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_batch_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_file_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_code_interpreter_file_attachment.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_file_search_attachment.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_with_resources_in_thread.py
  sdk/ai/azure-ai-projects/tests/evaluation/test_evaluation.py
Labels: AI

#39093 #37999 - Typing fix for mypy version 1.13
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/artifact.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_assets/_artifacts/data.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/_image_metadata.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_compute/virtual_machine_compute.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_datastore/_on_prem_credentials.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/finetuning/finetuning_vertical.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_job/pipeline/_io/base.py
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_validate_funcs.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_job_ops_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_local_deployment_helper.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations.py
  sdk/ml/azure-ai-ml/azure/ai/ml/operations/_workspace_operations_base.py
Labels: Machine Learning, ML-Local Endpoints

#39120 Fix urls
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/README.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py
  sdk/servicebus/azure-servicebus/azure/servicebus/aio/management/_management_client_async.py
  sdk/servicebus/azure-servicebus/azure/servicebus/management/_management_client.py
  sdk/servicebus/azure-servicebus/samples/README.md
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_queues.py
  sdk/servicebus/azure-servicebus/tests/mgmt_tests/test_mgmt_topics.py
Labels: Service Bus

#39225 [EH] disallow shared key for sfi
  sdk/eventhub/test-resources.json
Labels: Event Hubs

#39209 unhide sample mypy output for ml
  sdk/ml/azure-ai-ml/pyproject.toml
Labels: Machine Learning

#38875 Sync eng/common directory with azure-sdk-tools for PR 9529
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#39226 Sync eng/common directory with azure-sdk-tools for PR 9649
  eng/common/pipelines/templates/steps/save-package-properties.yml
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#39067 Increment version for appconfiguration releases
  sdk/appconfiguration/azure-appconfiguration-provider/CHANGELOG.md
  sdk/appconfiguration/azure-appconfiguration-provider/azure/appconfiguration/provider/_version.py
  sdk/appconfiguration/azure-appconfiguration-provider/setup.py
Labels: App Configuration Provider

#39204 update doc for streaming
  sdk/ai/azure-ai-projects/README.md
Labels: AI

#39176 Azure Identity: AzureCliCredentials and AzureDeveloperCliCredential handle stderr may be None when executing subprocess
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/azd_cli.py
  sdk/identity/azure-identity/azure/identity/_credentials/azure_cli.py
  sdk/identity/azure-identity/tests/test_azd_cli_credential.py
  sdk/identity/azure-identity/tests/test_cli_credential.py
Labels: customer-reported, Azure.Identity, Community Contribution

#39227 enable sample type checking for monitor query
  sdk/monitor/azure-monitor-query/mypy.ini
  sdk/monitor/azure-monitor-query/pyproject.toml
  sdk/monitor/azure-monitor-query/samples/sample_batch_query.py
Labels: Monitor

#39224 [EH] fix storagetable ci
  sdk/eventhub/azure-eventhub-checkpointstoretable/pyproject.toml
Labels: Event Hubs

#39231 Enable ExcludePaths in the pullrequest pipeline
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/steps/build-package-artifacts.yml
  sdk/pullrequest.yml
Labels: EngSys

#39207 Minor updates to agent samples
  sdk/ai/azure-ai-projects/samples/agents/assistant-p8a1RfPaN1HMCT69X8YoEjlp_image_file.png
  sdk/ai/azure-ai-projects/samples/agents/assistant-yH17pFqN8YkDalDYSHearWdv_image_file.png
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_ai_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_file_search.py
Labels: AI

#38608 online-eval - make service name an optional field
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
Labels: AI

#39241 Submitting a Command job created using the __call__ method on another Command is missing outputs #39187
  sdk/ml/azure-ai-ml/CHANGELOG.md
  sdk/ml/azure-ai-ml/azure/ai/ml/entities/_builders/command.py
Labels: Machine Learning

#39230 Remove sovereign cloud testing references
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/appconfiguration/tests.yml
  sdk/containerregistry/tests.yml
  sdk/eventhub/tests.yml
  sdk/keyvault/azure-keyvault-administration/tests.yml
  sdk/keyvault/azure-keyvault-keys/tests.yml
  sdk/keyvault/tests.yml
  sdk/search/tests.yml
  sdk/servicebus/tests.yml
  sdk/tables/tests.yml
  sdk/textanalytics/tests.yml
Labels: Central-EngSys

#39240 Fix Pylint errors
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
Labels: AI

#39239 Sync eng/common directory with azure-sdk-tools for PR 9577
  eng/common/pipelines/templates/jobs/archetype-spec-gen-sdk.yml
Labels: EngSys, Central-EngSys

#39218 Fixed Typing Updates for Pyright Version 1.1.389
  sdk/purview/azure-purview-workflow/azure/purview/workflow/__init__.py
  sdk/purview/azure-purview-workflow/azure/purview/workflow/_client.py
  sdk/purview/azure-purview-workflow/azure/purview/workflow/_configuration.py
  sdk/purview/azure-purview-workflow/azure/purview/workflow/_patch.py
  sdk/purview/azure-purview-workflow/azure/purview/workflow/_serialization.py
  sdk/purview/azure-purview-workflow/azure/purview/workflow/_vendor.py
  sdk/purview/azure-purview-workflow/azure/purview/workflow/_version.py
  sdk/purview/azure-purview-workflow/azure/purview/workflow/aio/__init__.py
  sdk/purview/azure-purview-workflow/azure/purview/workflow/aio/_client.py
  sdk/purview/azure-purview-workflow/azure/purview/workflow/aio/_configuration.py
  sdk/purview/azure-purview-workflow/azure/purview/workflow/aio/_patch.py
  sdk/purview/azure-purview-workflow/azure/purview/workflow/aio/operations/__init__.py
  sdk/purview/azure-purview-workflow/azure/purview/workflow/aio/operations/_operations.py
  sdk/purview/azure-purview-workflow/azure/purview/workflow/aio/operations/_patch.py
  sdk/purview/azure-purview-workflow/azure/purview/workflow/operations/__init__.py
  sdk/purview/azure-purview-workflow/azure/purview/workflow/operations/_operations.py
  sdk/purview/azure-purview-workflow/azure/purview/workflow/operations/_patch.py
  sdk/purview/azure-purview-workflow/swagger/README.md
Labels: customer-reported, Purview, Community Contribution

#39244 Sync eng/common directory with azure-sdk-tools for PR 9650
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#38980 [evaluation] Add support for CSV files with evaluate()
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/assets.json
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_utils.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/data/evaluate_test_data.csv
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/data/no_header_evaluate_test_data.csv
  sdk/evaluation/azure-ai-evaluation/tests/unittests/data/unsupported_file_type.txt
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
Labels: Evaluation

#39258 Fix urls
  sdk/healthdataaiservices/azure-health-deidentification/README.md
  sdk/healthdataaiservices/azure-health-deidentification/samples/README.md
Labels: Health Deidentification

#39210 Sync eng/common directory with azure-sdk-tools for PR 9601
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/pipelines/templates/steps/verify-readmes.yml
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#39252 Fix urls
  sdk/deviceupdate/azure-iot-deviceupdate/README.md
  sdk/deviceupdate/azure-iot-deviceupdate/samples/DeleteUpdate/Readme.md
  sdk/deviceupdate/azure-iot-deviceupdate/samples/DeployUpdate/Readme.md
  sdk/deviceupdate/azure-iot-deviceupdate/samples/GetDevice/Readme.md
  sdk/deviceupdate/azure-iot-deviceupdate/samples/GetUpdate/Readme.md
  sdk/deviceupdate/azure-iot-deviceupdate/samples/ImportUpdate/Readme.md
  sdk/deviceupdate/azure-iot-deviceupdate/samples/ListUpdates/Readme.md
  sdk/deviceupdate/azure-iot-deviceupdate/samples/Readme.md
Labels: Device Update

#39249 Fix urls
  sdk/cognitivelanguage/azure-ai-language-conversations/README.md
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-conversations/azure/ai/language/conversations/authoring/aio/_patch.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/async/sample_authentication_async.py
  sdk/cognitivelanguage/azure-ai-language-conversations/samples/sample_authentication.py
  sdk/cognitivelanguage/azure-ai-language-conversations/swagger/README.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/README.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_client.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/azure/ai/language/questionanswering/authoring/aio/_operations/_operations.py
  sdk/cognitivelanguage/azure-ai-language-questionanswering/migration_guide.md
  sdk/cognitivelanguage/azure-ai-language-questionanswering/swagger/README.md
Labels: Cognitive - Language

#39260 Fix urls
  sdk/monitor/azure-monitor-ingestion/samples/README.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/README.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/logs/README.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/metrics/README.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/samples/traces/README.md
  sdk/monitor/azure-monitor-query/migration_guide_app_insights.md
Labels: Monitor, Monitor - Exporter

#39193 Sync eng/common directory with azure-sdk-tools for PR 9620
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#39126 Fix broken links
  doc/dev/docstring.md
  doc/dev/tests.md
  sdk/media/azure-media-analytics-edge/docs/DevTips.md
  sdk/purview/azure-purview-sharing/samples/README.md
  sdk/videoanalyzer/azure-media-videoanalyzer-edge/docs/DevTips.md
Labels: VideoAnalyzer, Purview, Media

#38983 Fixed dead links in pypi and makie it more searchable
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/setup.py
Labels: AI

#39263 Fix urls
  sdk/webpubsub/azure-messaging-webpubsubclient/azure/messaging/webpubsubclient/_client.py
  sdk/webpubsub/azure-messaging-webpubsubclient/azure/messaging/webpubsubclient/aio/_client.py
  sdk/webpubsub/azure-messaging-webpubsubclient/samples/hello_world_exceptions.py
  sdk/webpubsub/azure-messaging-webpubsubservice/README.md
Labels: WebPubSub

#39317 Sync eng/common directory with azure-sdk-tools for PR 9652
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/templates/matthews/styles/main.js
  eng/common/pipelines/templates/jobs/docindex.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys, Central-EngSys

#39326 Update README.md
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_patch.py
Labels: AI Model Inference

#39330 [Storage] Jan 22 Patch Fix Release Changelogs
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
Labels: Storage

#39247 enable sphinx after regen for purview-workflow
  sdk/purview/azure-purview-workflow/pyproject.toml
  sdk/purview/azure-purview-workflow/setup.py
Labels: Purview

#39266 Sync eng/common directory with azure-sdk-tools for PR 9658
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#39338 fix tests weekly
  sdk/openai/azure-openai/tests/test_assistants.py
  sdk/openai/azure-openai/tests/test_assistants_async.py
Labels: OpenAI

#39336 [Storage] update perf tests core baseline
  sdk/storage/azure-storage-blob/perf-tests.yml
  sdk/storage/azure-storage-file-datalake/perf-tests.yml
  sdk/storage/azure-storage-file-share/perf-tests.yml
Labels: Storage

#39259 Fix urls
  sdk/maps/azure-maps-geolocation/README.md
  sdk/maps/azure-maps-geolocation/samples/README.md
  sdk/maps/azure-maps-geolocation/samples/async_samples/sample_authentication_async.py
  sdk/maps/azure-maps-geolocation/samples/sample_authentication.py
  sdk/maps/azure-maps-render/README.md
  sdk/maps/azure-maps-render/azure/maps/render/aio/operations/_operations.py
  sdk/maps/azure-maps-render/azure/maps/render/operations/_operations.py
  sdk/maps/azure-maps-render/samples/README.md
  sdk/maps/azure-maps-render/samples/async_samples/sample_authentication_async.py
  sdk/maps/azure-maps-render/samples/sample_authentication.py
  sdk/maps/azure-maps-route/README.md
  sdk/maps/azure-maps-route/azure/maps/route/aio/operations/_operations.py
  sdk/maps/azure-maps-route/azure/maps/route/models/_enums.py
  sdk/maps/azure-maps-route/azure/maps/route/models/_models.py
  sdk/maps/azure-maps-route/azure/maps/route/operations/_operations.py
  sdk/maps/azure-maps-route/samples/README.md
  sdk/maps/azure-maps-route/samples/async_samples/sample_authentication_async.py
  sdk/maps/azure-maps-route/samples/sample_authentication.py
  sdk/maps/azure-maps-search/README.md
  sdk/maps/azure-maps-search/azure/maps/search/aio/operations/_operations.py
  sdk/maps/azure-maps-search/azure/maps/search/operations/_operations.py
  sdk/maps/azure-maps-search/samples/README.md
  sdk/maps/azure-maps-timezone/README.md
  sdk/maps/azure-maps-timezone/azure/maps/timezone/_patch.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/aio/_patch.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/aio/operations/_operations.py
  sdk/maps/azure-maps-timezone/azure/maps/timezone/operations/_operations.py
  sdk/maps/azure-maps-timezone/samples/README.md
  sdk/maps/azure-maps-weather/README.md
  sdk/maps/azure-maps-weather/azure/maps/weather/aio/operations/_operations.py
  sdk/maps/azure-maps-weather/azure/maps/weather/operations/_operations.py
  sdk/maps/azure-maps-weather/samples/README.md
Labels: Maps

#39251 Fix urls
  sdk/containerregistry/azure-containerregistry/README.md
  sdk/containerregistry/azure-containerregistry/TROUBLESHOOTING.md
  sdk/containerregistry/azure-containerregistry/samples/README.md
Labels: Container Registry

#39255 fix url
  sdk/face/azure-ai-vision-face/README.md
Labels: Face

#39248 Fix urls
  sdk/communication/CONTRIBUTING.md
  sdk/communication/azure-communication-callautomation/README.md
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_generated/models/_models.py
  sdk/communication/azure-communication-callautomation/azure/communication/callautomation/_models.py
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-email/README.md
  sdk/communication/azure-communication-identity/CHANGELOG.md
  sdk/communication/azure-communication-identity/README.md
  sdk/communication/azure-communication-jobrouter/README.md
  sdk/communication/azure-communication-messages/README.md
  sdk/communication/azure-communication-messages/samples/send_text_notification_messages_with_token_credentials.py
  sdk/communication/azure-communication-phonenumbers/CHANGELOG.md
  sdk/communication/azure-communication-phonenumbers/README.md
  sdk/communication/azure-communication-rooms/README.md
  sdk/communication/azure-communication-sms/README.md
Labels: Communication, Communication - Chat, Communication - Identity, Communication - Phone Numbers, Communication - SMS, Communication - Rooms, Communication - Job Router, Communication - Email, Communication - Messages, Communication - Call Automation

#39246 Fix urls
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/README.md
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/partition_key.py
  sdk/cosmos/azure-cosmos/doc/setup.md
  sdk/cosmos/azure-cosmos/samples/README.md
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_aad.py
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_aad_async.py
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_resource_token.py
  sdk/cosmos/azure-cosmos/samples/access_cosmos_with_resource_token_async.py
  sdk/cosmos/azure-cosmos/samples/change_feed_management.py
  sdk/cosmos/azure-cosmos/samples/change_feed_management_async.py
  sdk/cosmos/azure-cosmos/samples/client_user_configs.py
  sdk/cosmos/azure-cosmos/samples/client_user_configs_async.py
  sdk/cosmos/azure-cosmos/samples/container_management.py
  sdk/cosmos/azure-cosmos/samples/container_management_async.py
  sdk/cosmos/azure-cosmos/samples/database_management.py
  sdk/cosmos/azure-cosmos/samples/database_management_async.py
  sdk/cosmos/azure-cosmos/samples/document_management.py
  sdk/cosmos/azure-cosmos/samples/document_management_async.py
  sdk/cosmos/azure-cosmos/samples/session_token_management.py
  sdk/cosmos/azure-cosmos/samples/session_token_management_async.py
Labels: Cosmos

#39083 Content safety evals aggregate max from conversations
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_constants.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_base_rai_svc_eval.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_common/_conversation_aggregators.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_hate_unfairness.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_self_harm.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_sexual.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_content_safety/_violence.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/data/evaluate_test_data_conversation.jsonl
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate_performance.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluators/test_inputs_evaluators.py
Labels: Evaluation

#39262 Fix urls
  sdk/purview/azure-purview-administration/README.md
  sdk/purview/azure-purview-catalog/README.md
  sdk/purview/azure-purview-datamap/README.md
  sdk/purview/azure-purview-datamap/azure/purview/datamap/aio/operations/_operations.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/operations/_operations.py
  sdk/purview/azure-purview-datamap/samples/README.md
  sdk/purview/azure-purview-scanning/README.md
  sdk/purview/azure-purview-sharing/README.md
  sdk/purview/azure-purview-workflow/README.md
Labels: Purview

#39347 Sync eng/common directory with azure-sdk-tools for PR 9668
  eng/common/scripts/SemVer.ps1
Labels: EngSys, Central-EngSys

#38067 [ServiceBus/EventHub] lock pending deliveries on send
  sdk/eventhub/azure-eventhub/azure/eventhub/_pyamqp/sender.py
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_pyamqp/sender.py
  sdk/servicebus/azure-servicebus/tests/test_topic.py
Labels: Service Bus

#39349 multiagent updates
  sdk/ai/azure-ai-projects/samples/agents/multiagent/agent_team.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/agent_team_config.yaml
  sdk/ai/azure-ai-projects/samples/agents/multiagent/agent_trace_configurator.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/sample_agents_agent_team.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/sample_agents_agent_team_custom_team_leader.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/sample_agents_multi_agent_team.py
  sdk/ai/azure-ai-projects/samples/agents/multiagent/user_functions_with_traces.py
Labels: AI

#39355 [Storage] Increment versions after Jan 22 patch release
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
Labels: Storage

#39356 Sync eng/common directory with azure-sdk-tools for PR 9656
  eng/common/pipelines/templates/jobs/archetype-spec-gen-sdk.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Remove-IssueLabel.ps1
Labels: EngSys, Central-EngSys

#39328 Comply with the new API version
  sdk/ai/azure-ai-projects/azure/ai/projects/_serialization.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_operations.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/models/_models.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_operations.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_file_search.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client.py
  sdk/ai/azure-ai-projects/tests/agents/test_agents_client_async.py
  sdk/ai/azure-ai-projects/tsp-location.yaml
Labels: AI

#39354 [monitor] fix: Loosen psutil version requirement
  sdk/monitor/azure-monitor-opentelemetry-exporter/setup.py
Labels: Monitor - Exporter

#39348 Set default Application-ID in "user-agent" HTTP request header, for azure-ai-inference clients you get from azure-ai-project client
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/assets.json
  sdk/ai/azure-ai-projects/azure/ai/projects/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/aio/operations/_patch.py
  sdk/ai/azure-ai-projects/azure/ai/projects/operations/_patch.py
  sdk/ai/azure-ai-projects/samples/agents/async_samples/sample_agents_vector_store_file_search_async.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_vector_store_file_search.py
  sdk/ai/azure-ai-projects/setup.py
  sdk/ai/azure-ai-projects/tests/inference/inference_test_base.py
  sdk/ai/azure-ai-projects/tests/inference/test_inference.py
  sdk/ai/azure-ai-projects/tests/inference/test_inference_async.py
Labels: AI

#39366 update sample with correct year format
  sdk/ai/azure-ai-projects/samples/agents/multiagent/sample_agents_multi_agent_team.py
Labels: AI

#39363 Remove mentioning of length of API key. I can now be longer than 32-chars.
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/azure/ai/inference/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_patch.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_patch.py
  sdk/ai/azure-ai-inference/samples/README.md
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_from_input_bytes_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_from_input_dict_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_streaming_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_chat_completions_streaming_azure_openai_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_embeddings_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_image_embeddings_async.py
  sdk/ai/azure-ai-inference/samples/async_samples/sample_load_client_async.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_azure_openai.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_bytes.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_dict.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_dict_with_image_url.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_prompt_string.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_from_input_prompty.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_streaming.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_streaming_with_tools.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_azure_monitor_tracing.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_defaults.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_entra_id_auth.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_history.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_image_data.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_image_url.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_model_extras.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_structured_output.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_structured_output_pydantic.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_tools.py
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_tracing.py
  sdk/ai/azure-ai-inference/samples/sample_embeddings.py
  sdk/ai/azure-ai-inference/samples/sample_embeddings_azure_openai.py
  sdk/ai/azure-ai-inference/samples/sample_embeddings_with_base64_encoding.py
  sdk/ai/azure-ai-inference/samples/sample_embeddings_with_defaults.py
  sdk/ai/azure-ai-inference/samples/sample_get_model_info.py
  sdk/ai/azure-ai-inference/samples/sample_image_embeddings.py
  sdk/ai/azure-ai-inference/samples/sample_image_embeddings_with_defaults.py
  sdk/ai/azure-ai-inference/samples/sample_load_client.py
  sdk/ai/azure-ai-inference/tests/model_inference_test_base.py
Labels: AI Model Inference

#39372 Sync eng/common directory with azure-sdk-tools for PR 9670
  eng/common/pipelines/templates/jobs/archetype-spec-gen-sdk.yml
Labels: EngSys, Central-EngSys

#39345 Fix next Pylint, add logger_name comments to logging samples
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/_base.py
  sdk/monitor/azure-monitor-opentelemetry/README.md
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_autoinstrumentation/configurator.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_autoinstrumentation/distro.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_utils/__init__.py
  sdk/monitor/azure-monitor-opentelemetry/azure/monitor/opentelemetry/_utils/configurations.py
  sdk/monitor/azure-monitor-opentelemetry/samples/logging/basic.py
  sdk/monitor/azure-monitor-opentelemetry/samples/logging/correlated_logs.py
  sdk/monitor/azure-monitor-opentelemetry/samples/logging/custom_properties.py
  sdk/monitor/azure-monitor-opentelemetry/samples/logging/exception_logs.py
  sdk/monitor/azure-monitor-opentelemetry/samples/logging/logs_with_traces.py
Labels: Monitor - Exporter, Monitor - Distro

#39208 Support stable http semconv - request telemetry
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_exporter.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/trace/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/trace/test_trace.py
Labels: Monitor - Exporter

#39380 Sync eng/common directory with azure-sdk-tools for PR 9681
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#39170 [Tables] Fix mypy errors
  sdk/tables/azure-data-tables/azure/data/tables/_authentication.py
  sdk/tables/azure-data-tables/azure/data/tables/aio/_authentication_async.py
  sdk/tables/azure-data-tables/tests/test_challenge_auth.py
  sdk/tables/azure-data-tables/tests/test_challenge_auth_async.py
Labels: Tables, mypy

#39037 [EH/SB] pyAMQP retries
  sdk/eventhub/azure-eventhub/azure/eventhub/_transport/_pyamqp_transport.py
  sdk/eventhub/azure-eventhub/tests/livetest/asynctests/test_reconnect_async.py
  sdk/eventhub/azure-eventhub/tests/livetest/synctests/test_reconnect.py
  sdk/servicebus/azure-servicebus/azure/servicebus/_transport/_pyamqp_transport.py
Labels: Service Bus

#39367 Sync eng/common directory with azure-sdk-tools for PR 9687
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#39379 Support AAD in soverign clouds
  sdk/monitor/azure-monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_connection_string_parser.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_constants.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/_utils.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/azure/monitor/opentelemetry/exporter/export/_base.py
  sdk/monitor/azure-monitor-opentelemetry-exporter/tests/test_base_exporter.py
Labels: Monitor - Exporter

#39357 Changes to Support Audio Input in ChatCompletions
  .vscode/cspell.json
  sdk/ai/azure-ai-inference/README.md
  sdk/ai/azure-ai-inference/assets.json
  sdk/ai/azure-ai-inference/azure/ai/inference/_client.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_configuration.py
  sdk/ai/azure-ai-inference/azure/ai/inference/_serialization.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_client.py
  sdk/ai/azure-ai-inference/azure/ai/inference/aio/_configuration.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/__init__.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_enums.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_models.py
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_patch.py
  sdk/ai/azure-ai-inference/samples/README.md
  sdk/ai/azure-ai-inference/samples/hello_how_are_you.mp3
  sdk/ai/azure-ai-inference/samples/sample_chat_completions_with_audio_data.py
  sdk/ai/azure-ai-inference/tests/hello_how_are_you.mp3
  sdk/ai/azure-ai-inference/tests/model_inference_test_base.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client.py
  sdk/ai/azure-ai-inference/tests/test_chat_completions_client_async.py
  sdk/ai/azure-ai-inference/tests/tests.env
  sdk/ai/azure-ai-inference/tsp-location.yaml
Labels: AI Model Inference

#39350 Exception on target failure
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_batch_run/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluate/_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/conftest.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/e2etests/test_mass_evaluate.py
  sdk/evaluation/azure-ai-evaluation/tests/unittests/test_evaluate.py
Labels: Evaluation

#39331 small fix to simulate sample
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_simulate.py
Labels: Evaluation

#39396 [Cosmos] Service Request and Response retries
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_global_endpoint_manager.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_location_cache.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_retry_utility.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_service_request_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_service_response_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_version.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_global_endpoint_manager_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_retry_utility_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/azure/cosmos/http_constants.py
  sdk/cosmos/azure-cosmos/setup.py
  sdk/cosmos/azure-cosmos/test/test_cosmos_http_logging_policy.py
  sdk/cosmos/azure-cosmos/test/test_proxy.py
  sdk/cosmos/azure-cosmos/test/test_service_retry_policies.py
  sdk/cosmos/azure-cosmos/test/test_service_retry_policies_async.py
Labels: Cosmos

#39404 add unit tests for workspace get
  sdk/ml/azure-ai-ml/tests/test_configs/workspace/workspace_full_rest_response.json
  sdk/ml/azure-ai-ml/tests/workspace/unittests/test_workspace_entity.py
Labels: Machine Learning

#39395 [EventHub] remove aio from sync checkpointstoreblob vendor
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/aio/__init__.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/aio/_blob_client_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/aio/_blob_service_client_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/aio/_container_client_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/aio/_download_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/aio/_encryption_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/aio/_lease_async.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/aio/_list_blobs_helper.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/aio/_models.py
  sdk/eventhub/azure-eventhub-checkpointstoreblob/azure/eventhub/extensions/checkpointstoreblob/_vendor/storage/blob/aio/_upload_helpers.py
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/servicebus/azure-servicebus/CHANGELOG.md
Labels: Event Hubs

#39335 Azure AI Evaluation Release 1.2.0
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
Labels: Evaluation

#39408 Typing Update for DataMap sdk pyright upgrade
  sdk/purview/azure-purview-datamap/azure/purview/datamap/__init__.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/_client.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/_configuration.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/_model_base.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/_serialization.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/_vendor.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/aio/__init__.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/aio/_client.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/aio/_configuration.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/aio/operations/__init__.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/aio/operations/_operations.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/models/__init__.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/models/_models.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/operations/__init__.py
  sdk/purview/azure-purview-datamap/azure/purview/datamap/operations/_operations.py
  sdk/purview/azure-purview-datamap/samples/get_types.py
  sdk/purview/azure-purview-datamap/tests/conftest.py
  sdk/purview/azure-purview-datamap/tests/test_smoke.py
  sdk/purview/azure-purview-datamap/tests/testcase.py
  sdk/purview/azure-purview-datamap/tsp-location.yaml
Labels: Purview

#39418 Skip some pylint testing
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_utils.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_http_logging_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_global_endpoint_manager_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_query_iterable_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_retry_utility_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_user.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/user.py
Labels: Cosmos

#39254 [EH CheckpointStores] release
  sdk/eventhub/azure-eventhub-checkpointstoreblob-aio/CHANGELOG.md
  sdk/eventhub/azure-eventhub-checkpointstoreblob/CHANGELOG.md
Labels: Event Hubs

#39253 [EH/SB] changelogs for release
  sdk/eventhub/azure-eventhub/CHANGELOG.md
  sdk/servicebus/azure-servicebus/CHANGELOG.md
  sdk/servicebus/azure-servicebus/azure/servicebus/_version.py
Labels: Service Bus, Event Hubs

#39417 Port cross region retries functionality shipped as hotfix to main branch
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_global_endpoint_manager.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_location_cache.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_retry_utility.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_service_request_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_service_response_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_global_endpoint_manager_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_retry_utility_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
  sdk/cosmos/azure-cosmos/azure/cosmos/http_constants.py
  sdk/cosmos/azure-cosmos/setup.py
  sdk/cosmos/azure-cosmos/test/test_cosmos_http_logging_policy.py
  sdk/cosmos/azure-cosmos/test/test_proxy.py
  sdk/cosmos/azure-cosmos/test/test_service_retry_policies.py
  sdk/cosmos/azure-cosmos/test/test_service_retry_policies_async.py
Labels: Cosmos

#39371 Create sample for agents with logic apps
  sdk/ai/azure-ai-projects/README.md
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_azure_ai_search.py
  sdk/ai/azure-ai-projects/samples/agents/sample_agents_logic_apps.py
Labels: AI

#39381 Do not filter out the usage updates.
  sdk/ai/azure-ai-inference/CHANGELOG.md
  sdk/ai/azure-ai-inference/azure/ai/inference/models/_patch.py
Labels: AI Model Inference

#39392 [Storage] [STG 98] Branch Prep
  sdk/storage/azure-storage-blob/CHANGELOG.md
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_azure_blob_storage.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_azure_blob_storage.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/_configuration.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_append_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/aio/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/__init__.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/models/_azure_blob_storage_enums.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_append_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_block_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_container_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_page_blob_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_generated/operations/_service_operations.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_serialize.py
  sdk/storage/azure-storage-blob/azure/storage/blob/_version.py
  sdk/storage/azure-storage-file-datalake/CHANGELOG.md
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_serialize.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_version.py
  sdk/storage/azure-storage-file-datalake/setup.py
  sdk/storage/azure-storage-file-share/CHANGELOG.md
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_serialize.py
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_version.py
Labels: Storage

#38112 [Storage] [Typing] [File Datalake] Resolved `mypy` errors for Datalake Clients
  sdk/storage/azure-storage-blob/azure/storage/blob/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/azure/__init__.py
  sdk/storage/azure-storage-file-datalake/azure/storage/__init__.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_directory_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_file_client_helpers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_lease.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_data_lake_service_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_file_system_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_models.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_path_client_helpers.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/_shared/base_client.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_directory_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_file_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_lease_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_data_lake_service_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_file_system_client_async.py
  sdk/storage/azure-storage-file-datalake/azure/storage/filedatalake/aio/_path_client_async.py
  sdk/storage/azure-storage-file-datalake/mypy.ini
  sdk/storage/azure-storage-file-share/azure/storage/fileshare/_shared/base_client.py
  sdk/storage/azure-storage-queue/azure/storage/queue/_shared/base_client.py
Labels: Storage

#39422 Sync eng/common directory with azure-sdk-tools for PR 9699
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#39405 Remove references to deprecated service 'Azure Spatial Anchors'
  sdk/mixedreality/azure-mixedreality-authentication/README.md
Labels: customer-reported, Community Contribution, Mixed Reality

#39439 Sync eng/common directory with azure-sdk-tools for PR 9700
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#39437 [EH] remove artifact for table
  sdk/eventhub/ci.yml
Labels: Event Hubs
