Repository Azure/azure-sdk-for-python, pull requests merged in 2025-10, with the labels that each got.

#43203 Sync eng/common directory with azure-sdk-tools for PR 12293
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#43212 Bring back the 1.11.1 changes
  sdk/evaluation/azure-ai-evaluation/CHANGELOG.md
  sdk/evaluation/azure-ai-evaluation/cspell.json
Labels: Evaluation

#43218 [evaluation] refactor: Make AzureOpenAIGrader.get_token_provider private
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_aoai/aoai_grader.py
Labels: Evaluation

#43202 [VoiceLive] Update models for GA version
  sdk/ai/azure-ai-voicelive/CHANGELOG.md
  sdk/ai/azure-ai-voicelive/apiview-properties.json
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/_types.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/_version.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/aio/_patch.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/models/__init__.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/models/_enums.py
  sdk/ai/azure-ai-voicelive/azure/ai/voicelive/models/_models.py
  sdk/ai/azure-ai-voicelive/pyproject.toml
  sdk/ai/azure-ai-voicelive/tests/conftest.py
  sdk/ai/azure-ai-voicelive/tests/test_live_realtime_service.py
  sdk/ai/azure-ai-voicelive/tests/test_unit_client_events.py
  sdk/ai/azure-ai-voicelive/tests/test_unit_connection.py
  sdk/ai/azure-ai-voicelive/tests/test_unit_enums.py
  sdk/ai/azure-ai-voicelive/tests/test_unit_integration.py
  sdk/ai/azure-ai-voicelive/tests/test_unit_models.py
  sdk/ai/azure-ai-voicelive/tests/test_unit_serialization.py
  sdk/ai/azure-ai-voicelive/tests/test_unit_smoke_validation.py
  sdk/ai/azure-ai-voicelive/tests/test_unit_voice_config.py
  sdk/ai/azure-ai-voicelive/tsp-location.yaml
Labels: Voice Live

#42991 [Cosmos]: Adding Semantic Reranker API
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/_constants.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_inference_auth_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_inference_service.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_inference_auth_policy_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_inference_service_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/tests/test_semantic_reranker.py
  sdk/cosmos/azure-cosmos/tests/test_semantic_reranker_async.py
Labels: Cosmos

#43215 Sync eng/common directory with azure-sdk-tools for PR 10858
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Labels: EngSys, Central-EngSys

#43223 updates for redteam aoai compatible results
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_mlflow_integration.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team_result.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_result_processor.py
Labels: Evaluation

#43080 [Identity] Skip IMDS probe when MI selected in DAC via env
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/default.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/imds.py
  sdk/identity/azure-identity/azure/identity/aio/_credentials/managed_identity.py
  sdk/identity/azure-identity/tests/test_default.py
  sdk/identity/azure-identity/tests/test_default_async.py
  sdk/identity/azure-identity/tests/test_imds_credential.py
  sdk/identity/azure-identity/tests/test_imds_credential_async.py
  sdk/identity/azure-identity/tests/test_managed_identity.py
  sdk/identity/azure-identity/tests/test_managed_identity_async.py
  sdk/identity/azure-identity/tests/test_token_credentials_env.py
  sdk/identity/azure-identity/tests/test_token_credentials_env_async.py
Labels: Azure.Identity

#43190 Rename Task Success Evaluator to Task Completion Evaluator
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_eval_mapping.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_completion/__init__.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_completion/_task_completion.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_evaluators/_task_completion/task_completion.prompty
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/_exceptions.py
  sdk/evaluation/azure-ai-evaluation/cspell.json
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_evaluate.py
  sdk/evaluation/azure-ai-evaluation/samples/evaluation_samples_evaluate_fdp.py
Labels: customer-reported, Community Contribution, Evaluation

#43249 [Identity] Update changelog
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#43257 [VoiceLive] Update sample code of basic agent
  sdk/ai/azure-ai-voicelive/samples/basic_voice_assistant_async.py
Labels: Voice Live

#43258 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/azure/identity/_version.py
Labels: Azure.Identity

#43150 Fix mismatching type of `ConsistencyPolicy` with docstring
  sdk/cosmos/azure-cosmos/CHANGELOG.md
  sdk/cosmos/azure-cosmos/azure/cosmos/documents.py
Labels: Cosmos

#43254 [Cosmos] Fix return type to CosmosDict for public APIs
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
Labels: Cosmos

#43256 redteam aoai instance results updates v3
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_mlflow_integration.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_red_team_result.py
  sdk/evaluation/azure-ai-evaluation/azure/ai/evaluation/red_team/_result_processor.py
Labels: Evaluation

#43280 Sync eng/common directory with azure-sdk-tools for PR 11692
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#43244 [Cosmos] refactor dict and list
  sdk/cosmos/azure-cosmos/azure/cosmos/_base.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/aio/change_feed_fetcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/aio/change_feed_iterable.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_fetcher.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_iterable.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_start_from.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_state.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/change_feed_utils.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/composite_continuation_token.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/feed_range_composite_continuation_token.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_change_feed/feed_range_internal.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_constants.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_container_recreate_retry_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_client_connection.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_http_logging_policy.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_cosmos_responses.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_execution_context/hybrid_search_aggregator.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_location_cache.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_partition_health_tracker.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_query_builder.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_read_items_helper.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_request_object.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/aio/routing_map_provider.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_routing/routing_map_provider.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_session.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_session_token_helpers.py
  sdk/cosmos/azure-cosmos/azure/cosmos/_utils.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_cosmos_client_connection_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_global_endpoint_manager_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_read_items_helper_async.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_scripts.py
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_user.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/cosmos_client.py
  sdk/cosmos/azure-cosmos/azure/cosmos/database.py
  sdk/cosmos/azure-cosmos/azure/cosmos/partition_key.py
  sdk/cosmos/azure-cosmos/azure/cosmos/scripts.py
  sdk/cosmos/azure-cosmos/azure/cosmos/user.py
  sdk/cosmos/azure-cosmos/setup.py
  sdk/cosmos/azure-cosmos/tests/_fault_injection_transport.py
  sdk/cosmos/azure-cosmos/tests/test_per_partition_circuit_breaker_mm_async.py
Labels: Cosmos

#43288 Passing Response Hook to Client Connection
  sdk/cosmos/azure-cosmos/azure/cosmos/aio/_container.py
  sdk/cosmos/azure-cosmos/azure/cosmos/container.py
Labels: Cosmos
